{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-05-10",
    "asyncClient" : "AmazonCodeGuruSecurityAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCodeGuruSecurityAsyncClientBuilder",
    "asyncInterface" : "AmazonCodeGuruSecurityAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonCodeGuruSecurityModuleInjector",
    "defaultEndpoint" : "codeguru-security.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "codeguru-security.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<note> <p>Amazon CodeGuru Security is in preview release and is subject to change.</p> </note> <p>This section provides documentation for the Amazon CodeGuru Security API operations. CodeGuru Security is a service that uses program analysis and machine learning to detect security policy violations and vulnerabilities, and recommends ways to address these security risks.</p> <p>By proactively detecting and providing recommendations for addressing security risks, CodeGuru Security improves the overall security of your application code. For more information about CodeGuru Security, see the <a href=\"https://docs.aws.amazon.com/codeguru/latest/security-ug/what-is-codeguru-security.html\">Amazon CodeGuru Security User Guide</a>. </p>",
    "endpointPrefix" : "codeguru-security",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.codegurusecurity",
    "packagePath" : "com/amazonaws/services/codegurusecurity",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon CodeGuru Security",
    "serviceId" : "CodeGuru Security",
    "serviceName" : "Amazon CodeGuru Security",
    "signingName" : "codeguru-security",
    "smokeTestsPackageName" : "com.amazonaws.services.codegurusecurity.smoketests",
    "syncClient" : "AmazonCodeGuruSecurityClient",
    "syncClientBuilderClassName" : "AmazonCodeGuruSecurityClientBuilder",
    "syncInterface" : "AmazonCodeGuruSecurity",
    "uid" : "codeguru-security-2018-05-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchGetFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetFindingsRequest, BatchGetFindingsResult>",
      "asyncReturnType" : "BatchGetFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all requested findings.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetFindingsRequest",
        "variableName" : "batchGetFindingsRequest",
        "variableType" : "BatchGetFindingsRequest",
        "documentation" : "",
        "simpleType" : "BatchGetFindingsRequest",
        "variableSetterType" : "BatchGetFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetFindings",
      "operationName" : "BatchGetFindings",
      "returnType" : {
        "returnType" : "BatchGetFindingsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetFindingsResult"
    },
    "CreateScan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateScanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateScanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateScanRequest, CreateScanResult>",
      "asyncReturnType" : "CreateScanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use to create a scan using code uploaded to an S3 bucket.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateScanRequest",
        "variableName" : "createScanRequest",
        "variableType" : "CreateScanRequest",
        "documentation" : "",
        "simpleType" : "CreateScanRequest",
        "variableSetterType" : "CreateScanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createScan",
      "operationName" : "CreateScan",
      "returnType" : {
        "returnType" : "CreateScanResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateScanResult"
    },
    "CreateUploadUrl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUploadUrlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUploadUrlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUploadUrlRequest, CreateUploadUrlResult>",
      "asyncReturnType" : "CreateUploadUrlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates a pre-signed URL and request headers used to upload a code resource.</p> <p>You can upload your code resource to the URL and add the request headers using any HTTP client.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateUploadUrlRequest",
        "variableName" : "createUploadUrlRequest",
        "variableType" : "CreateUploadUrlRequest",
        "documentation" : "",
        "simpleType" : "CreateUploadUrlRequest",
        "variableSetterType" : "CreateUploadUrlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUploadUrl",
      "operationName" : "CreateUploadUrl",
      "returnType" : {
        "returnType" : "CreateUploadUrlResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateUploadUrlResult"
    },
    "GetAccountConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccountConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccountConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccountConfigurationRequest, GetAccountConfigurationResult>",
      "asyncReturnType" : "GetAccountConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use to get account level configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAccountConfigurationRequest",
        "variableName" : "getAccountConfigurationRequest",
        "variableType" : "GetAccountConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetAccountConfigurationRequest",
        "variableSetterType" : "GetAccountConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAccountConfiguration",
      "operationName" : "GetAccountConfiguration",
      "returnType" : {
        "returnType" : "GetAccountConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAccountConfigurationResult"
    },
    "GetFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFindingsRequest, GetFindingsResult>",
      "asyncReturnType" : "GetFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all findings generated by a particular scan.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFindingsRequest",
        "variableName" : "getFindingsRequest",
        "variableType" : "GetFindingsRequest",
        "documentation" : "",
        "simpleType" : "GetFindingsRequest",
        "variableSetterType" : "GetFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFindings",
      "operationName" : "GetFindings",
      "returnType" : {
        "returnType" : "GetFindingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFindingsResult"
    },
    "GetMetricsSummary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMetricsSummaryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMetricsSummaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMetricsSummaryRequest, GetMetricsSummaryResult>",
      "asyncReturnType" : "GetMetricsSummaryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns top level metrics about an account from a specified date, including number of open findings, the categories with most findings, the scans with most open findings, and scans with most open critical findings. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMetricsSummaryRequest",
        "variableName" : "getMetricsSummaryRequest",
        "variableType" : "GetMetricsSummaryRequest",
        "documentation" : "",
        "simpleType" : "GetMetricsSummaryRequest",
        "variableSetterType" : "GetMetricsSummaryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMetricsSummary",
      "operationName" : "GetMetricsSummary",
      "returnType" : {
        "returnType" : "GetMetricsSummaryResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMetricsSummaryResult"
    },
    "GetScan" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetScanResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetScanResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetScanRequest, GetScanResult>",
      "asyncReturnType" : "GetScanResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns details about a scan, including whether or not a scan has completed.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetScanRequest",
        "variableName" : "getScanRequest",
        "variableType" : "GetScanRequest",
        "documentation" : "",
        "simpleType" : "GetScanRequest",
        "variableSetterType" : "GetScanRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getScan",
      "operationName" : "GetScan",
      "returnType" : {
        "returnType" : "GetScanResult",
        "documentation" : null
      },
      "syncReturnType" : "GetScanResult"
    },
    "ListFindingsMetrics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFindingsMetricsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFindingsMetricsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFindingsMetricsRequest, ListFindingsMetricsResult>",
      "asyncReturnType" : "ListFindingsMetricsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metrics about all findings in an account within a specified time range.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFindingsMetricsRequest",
        "variableName" : "listFindingsMetricsRequest",
        "variableType" : "ListFindingsMetricsRequest",
        "documentation" : "",
        "simpleType" : "ListFindingsMetricsRequest",
        "variableSetterType" : "ListFindingsMetricsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFindingsMetrics",
      "operationName" : "ListFindingsMetrics",
      "returnType" : {
        "returnType" : "ListFindingsMetricsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFindingsMetricsResult"
    },
    "ListScans" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListScansResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListScansResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListScansRequest, ListScansResult>",
      "asyncReturnType" : "ListScansResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all the standard scans in an account. Does not return express scans.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListScansRequest",
        "variableName" : "listScansRequest",
        "variableType" : "ListScansRequest",
        "documentation" : "",
        "simpleType" : "ListScansRequest",
        "variableSetterType" : "ListScansRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listScans",
      "operationName" : "ListScans",
      "returnType" : {
        "returnType" : "ListScansResult",
        "documentation" : null
      },
      "syncReturnType" : "ListScansResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all tags associated with a scan.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use to add one or more tags to an existing scan.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use to remove one or more tags from an existing scan.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateAccountConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAccountConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAccountConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAccountConfigurationRequest, UpdateAccountConfigurationResult>",
      "asyncReturnType" : "UpdateAccountConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use to update account-level configuration with an encryption key.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAccountConfigurationRequest",
        "variableName" : "updateAccountConfigurationRequest",
        "variableType" : "UpdateAccountConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateAccountConfigurationRequest",
        "variableSetterType" : "UpdateAccountConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAccountConfiguration",
      "operationName" : "UpdateAccountConfiguration",
      "returnType" : {
        "returnType" : "UpdateAccountConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAccountConfigurationResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.codegurusecurity.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "errorCode",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The identifier for the error.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier for the error.</p>\n@param errorCode The identifier for the error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withErrorCode",
        "getterDocumentation" : "/**<p>The identifier for the error.</p>\n@return The identifier for the error.*/",
        "getterMethodName" : "getErrorCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "errorCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "errorCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ErrorCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier for the error.</p>\n@param errorCode The identifier for the error.*/",
        "setterMethodName" : "setErrorCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier for the error.</p>\n@param errorCode The identifier for the error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "<p>The identifier for the error.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "resourceId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The identifier for the resource you don't have access to.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier for the resource you don't have access to.</p>\n@param resourceId The identifier for the resource you don't have access to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceId",
        "getterDocumentation" : "/**<p>The identifier for the resource you don't have access to.</p>\n@return The identifier for the resource you don't have access to.*/",
        "getterMethodName" : "getResourceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "resourceId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "resourceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier for the resource you don't have access to.</p>\n@param resourceId The identifier for the resource you don't have access to.*/",
        "setterMethodName" : "setResourceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier for the resource you don't have access to.</p>\n@param resourceId The identifier for the resource you don't have access to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "<p>The identifier for the resource you don't have access to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "resourceType",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The type of resource you don't have access to.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The type of resource you don't have access to.</p>\n@param resourceType The type of resource you don't have access to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceType",
        "getterDocumentation" : "/**<p>The type of resource you don't have access to.</p>\n@return The type of resource you don't have access to.*/",
        "getterMethodName" : "getResourceType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "resourceType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "resourceType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The type of resource you don't have access to.</p>\n@param resourceType The type of resource you don't have access to.*/",
        "setterMethodName" : "setResourceType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of resource you don't have access to.</p>\n@param resourceType The type of resource you don't have access to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceType",
          "variableType" : "String",
          "documentation" : "<p>The type of resource you don't have access to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ErrorCode" : {
          "c2jName" : "errorCode",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The identifier for the error.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The identifier for the error.</p>\n@param errorCode The identifier for the error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withErrorCode",
          "getterDocumentation" : "/**<p>The identifier for the error.</p>\n@return The identifier for the error.*/",
          "getterMethodName" : "getErrorCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "errorCode",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "errorCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ErrorCode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The identifier for the error.</p>\n@param errorCode The identifier for the error.*/",
          "setterMethodName" : "setErrorCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "errorCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The identifier for the error.</p>\n@param errorCode The identifier for the error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "errorCode",
            "variableType" : "String",
            "documentation" : "<p>The identifier for the error.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ResourceId" : {
          "c2jName" : "resourceId",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The identifier for the resource you don't have access to.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The identifier for the resource you don't have access to.</p>\n@param resourceId The identifier for the resource you don't have access to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceId",
          "getterDocumentation" : "/**<p>The identifier for the resource you don't have access to.</p>\n@return The identifier for the resource you don't have access to.*/",
          "getterMethodName" : "getResourceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "resourceId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "resourceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The identifier for the resource you don't have access to.</p>\n@param resourceId The identifier for the resource you don't have access to.*/",
          "setterMethodName" : "setResourceId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The identifier for the resource you don't have access to.</p>\n@param resourceId The identifier for the resource you don't have access to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceId",
            "variableType" : "String",
            "documentation" : "<p>The identifier for the resource you don't have access to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ResourceType" : {
          "c2jName" : "resourceType",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The type of resource you don't have access to.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The type of resource you don't have access to.</p>\n@param resourceType The type of resource you don't have access to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceType",
          "getterDocumentation" : "/**<p>The type of resource you don't have access to.</p>\n@return The type of resource you don't have access to.*/",
          "getterMethodName" : "getResourceType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "resourceType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "resourceType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The type of resource you don't have access to.</p>\n@param resourceType The type of resource you don't have access to.*/",
          "setterMethodName" : "setResourceType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The type of resource you don't have access to.</p>\n@param resourceType The type of resource you don't have access to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceType",
            "variableType" : "String",
            "documentation" : "<p>The type of resource you don't have access to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.codegurusecurity.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "errorCode", "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AccountFindingsMetric" : {
      "c2jName" : "AccountFindingsMetric",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A summary of findings metrics in an account.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.codegurusecurity.model.AccountFindingsMetric",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "closedFindings",
        "c2jShape" : "FindingMetricsValuePerSeverity",
        "deprecated" : false,
        "documentation" : "<p>The number of closed findings of each severity in an account on the specified date.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of closed findings of each severity in an account on the specified date.</p>\n@param closedFindings The number of closed findings of each severity in an account on the specified date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClosedFindings",
        "getterDocumentation" : "/**<p>The number of closed findings of each severity in an account on the specified date.</p>\n@return The number of closed findings of each severity in an account on the specified date.*/",
        "getterMethodName" : "getClosedFindings",
        "getterModel" : {
          "returnType" : "FindingMetricsValuePerSeverity",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "closedFindings",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "closedFindings",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ClosedFindings",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The number of closed findings of each severity in an account on the specified date.</p>\n@param closedFindings The number of closed findings of each severity in an account on the specified date.*/",
        "setterMethodName" : "setClosedFindings",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "FindingMetricsValuePerSeverity",
          "variableName" : "closedFindings",
          "variableType" : "FindingMetricsValuePerSeverity",
          "documentation" : "",
          "simpleType" : "FindingMetricsValuePerSeverity",
          "variableSetterType" : "FindingMetricsValuePerSeverity"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The number of closed findings of each severity in an account on the specified date.</p>\n@param closedFindings The number of closed findings of each severity in an account on the specified date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "FindingMetricsValuePerSeverity",
          "variableName" : "closedFindings",
          "variableType" : "FindingMetricsValuePerSeverity",
          "documentation" : "<p>The number of closed findings of each severity in an account on the specified date.</p>",
          "simpleType" : "FindingMetricsValuePerSeverity",
          "variableSetterType" : "FindingMetricsValuePerSeverity"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "date",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The date from which the finding metrics were retrieved.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date from which the finding metrics were retrieved.</p>\n@param date The date from which the finding metrics were retrieved.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDate",
        "getterDocumentation" : "/**<p>The date from which the finding metrics were retrieved.</p>\n@return The date from which the finding metrics were retrieved.*/",
        "getterMethodName" : "getDate",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "date",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "date",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "Date",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date from which the finding metrics were retrieved.</p>\n@param date The date from which the finding metrics were retrieved.*/",
        "setterMethodName" : "setDate",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "date",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date from which the finding metrics were retrieved.</p>\n@param date The date from which the finding metrics were retrieved.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "date",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date from which the finding metrics were retrieved.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "meanTimeToClose",
        "c2jShape" : "FindingMetricsValuePerSeverity",
        "deprecated" : false,
        "documentation" : "<p>The average time it takes to close findings of each severity in days.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The average time it takes to close findings of each severity in days.</p>\n@param meanTimeToClose The average time it takes to close findings of each severity in days.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMeanTimeToClose",
        "getterDocumentation" : "/**<p>The average time it takes to close findings of each severity in days.</p>\n@return The average time it takes to close findings of each severity in days.*/",
        "getterMethodName" : "getMeanTimeToClose",
        "getterModel" : {
          "returnType" : "FindingMetricsValuePerSeverity",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "meanTimeToClose",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "meanTimeToClose",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "MeanTimeToClose",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The average time it takes to close findings of each severity in days.</p>\n@param meanTimeToClose The average time it takes to close findings of each severity in days.*/",
        "setterMethodName" : "setMeanTimeToClose",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "FindingMetricsValuePerSeverity",
          "variableName" : "meanTimeToClose",
          "variableType" : "FindingMetricsValuePerSeverity",
          "documentation" : "",
          "simpleType" : "FindingMetricsValuePerSeverity",
          "variableSetterType" : "FindingMetricsValuePerSeverity"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The average time it takes to close findings of each severity in days.</p>\n@param meanTimeToClose The average time it takes to close findings of each severity in days.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "FindingMetricsValuePerSeverity",
          "variableName" : "meanTimeToClose",
          "variableType" : "FindingMetricsValuePerSeverity",
          "documentation" : "<p>The average time it takes to close findings of each severity in days.</p>",
          "simpleType" : "FindingMetricsValuePerSeverity",
          "variableSetterType" : "FindingMetricsValuePerSeverity"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "newFindings",
        "c2jShape" : "FindingMetricsValuePerSeverity",
        "deprecated" : false,
        "documentation" : "<p>The number of new findings of each severity in account on the specified date.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of new findings of each severity in account on the specified date.</p>\n@param newFindings The number of new findings of each severity in account on the specified date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNewFindings",
        "getterDocumentation" : "/**<p>The number of new findings of each severity in account on the specified date.</p>\n@return The number of new findings of each severity in account on the specified date.*/",
        "getterMethodName" : "getNewFindings",
        "getterModel" : {
          "returnType" : "FindingMetricsValuePerSeverity",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "newFindings",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "newFindings",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "NewFindings",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The number of new findings of each severity in account on the specified date.</p>\n@param newFindings The number of new findings of each severity in account on the specified date.*/",
        "setterMethodName" : "setNewFindings",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "FindingMetricsValuePerSeverity",
          "variableName" : "newFindings",
          "variableType" : "FindingMetricsValuePerSeverity",
          "documentation" : "",
          "simpleType" : "FindingMetricsValuePerSeverity",
          "variableSetterType" : "FindingMetricsValuePerSeverity"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The number of new findings of each severity in account on the specified date.</p>\n@param newFindings The number of new findings of each severity in account on the specified date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "FindingMetricsValuePerSeverity",
          "variableName" : "newFindings",
          "variableType" : "FindingMetricsValuePerSeverity",
          "documentation" : "<p>The number of new findings of each severity in account on the specified date.</p>",
          "simpleType" : "FindingMetricsValuePerSeverity",
          "variableSetterType" : "FindingMetricsValuePerSeverity"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "openFindings",
        "c2jShape" : "FindingMetricsValuePerSeverity",
        "deprecated" : false,
        "documentation" : "<p>The number of open findings of each severity in an account as of the specified date.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of open findings of each severity in an account as of the specified date.</p>\n@param openFindings The number of open findings of each severity in an account as of the specified date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOpenFindings",
        "getterDocumentation" : "/**<p>The number of open findings of each severity in an account as of the specified date.</p>\n@return The number of open findings of each severity in an account as of the specified date.*/",
        "getterMethodName" : "getOpenFindings",
        "getterModel" : {
          "returnType" : "FindingMetricsValuePerSeverity",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "openFindings",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "openFindings",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "OpenFindings",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The number of open findings of each severity in an account as of the specified date.</p>\n@param openFindings The number of open findings of each severity in an account as of the specified date.*/",
        "setterMethodName" : "setOpenFindings",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "FindingMetricsValuePerSeverity",
          "variableName" : "openFindings",
          "variableType" : "FindingMetricsValuePerSeverity",
          "documentation" : "",
          "simpleType" : "FindingMetricsValuePerSeverity",
          "variableSetterType" : "FindingMetricsValuePerSeverity"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The number of open findings of each severity in an account as of the specified date.</p>\n@param openFindings The number of open findings of each severity in an account as of the specified date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "FindingMetricsValuePerSeverity",
          "variableName" : "openFindings",
          "variableType" : "FindingMetricsValuePerSeverity",
          "documentation" : "<p>The number of open findings of each severity in an account as of the specified date.</p>",
          "simpleType" : "FindingMetricsValuePerSeverity",
          "variableSetterType" : "FindingMetricsValuePerSeverity"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClosedFindings" : {
          "c2jName" : "closedFindings",
          "c2jShape" : "FindingMetricsValuePerSeverity",
          "deprecated" : false,
          "documentation" : "<p>The number of closed findings of each severity in an account on the specified date.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The number of closed findings of each severity in an account on the specified date.</p>\n@param closedFindings The number of closed findings of each severity in an account on the specified date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClosedFindings",
          "getterDocumentation" : "/**<p>The number of closed findings of each severity in an account on the specified date.</p>\n@return The number of closed findings of each severity in an account on the specified date.*/",
          "getterMethodName" : "getClosedFindings",
          "getterModel" : {
            "returnType" : "FindingMetricsValuePerSeverity",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "closedFindings",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "closedFindings",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ClosedFindings",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The number of closed findings of each severity in an account on the specified date.</p>\n@param closedFindings The number of closed findings of each severity in an account on the specified date.*/",
          "setterMethodName" : "setClosedFindings",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "FindingMetricsValuePerSeverity",
            "variableName" : "closedFindings",
            "variableType" : "FindingMetricsValuePerSeverity",
            "documentation" : "",
            "simpleType" : "FindingMetricsValuePerSeverity",
            "variableSetterType" : "FindingMetricsValuePerSeverity"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The number of closed findings of each severity in an account on the specified date.</p>\n@param closedFindings The number of closed findings of each severity in an account on the specified date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "FindingMetricsValuePerSeverity",
            "variableName" : "closedFindings",
            "variableType" : "FindingMetricsValuePerSeverity",
            "documentation" : "<p>The number of closed findings of each severity in an account on the specified date.</p>",
            "simpleType" : "FindingMetricsValuePerSeverity",
            "variableSetterType" : "FindingMetricsValuePerSeverity"
          },
          "xmlNameSpaceUri" : null
        },
        "Date" : {
          "c2jName" : "date",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The date from which the finding metrics were retrieved.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The date from which the finding metrics were retrieved.</p>\n@param date The date from which the finding metrics were retrieved.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDate",
          "getterDocumentation" : "/**<p>The date from which the finding metrics were retrieved.</p>\n@return The date from which the finding metrics were retrieved.*/",
          "getterMethodName" : "getDate",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "date",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "date",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "Date",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The date from which the finding metrics were retrieved.</p>\n@param date The date from which the finding metrics were retrieved.*/",
          "setterMethodName" : "setDate",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "date",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The date from which the finding metrics were retrieved.</p>\n@param date The date from which the finding metrics were retrieved.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "date",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The date from which the finding metrics were retrieved.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "MeanTimeToClose" : {
          "c2jName" : "meanTimeToClose",
          "c2jShape" : "FindingMetricsValuePerSeverity",
          "deprecated" : false,
          "documentation" : "<p>The average time it takes to close findings of each severity in days.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The average time it takes to close findings of each severity in days.</p>\n@param meanTimeToClose The average time it takes to close findings of each severity in days.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMeanTimeToClose",
          "getterDocumentation" : "/**<p>The average time it takes to close findings of each severity in days.</p>\n@return The average time it takes to close findings of each severity in days.*/",
          "getterMethodName" : "getMeanTimeToClose",
          "getterModel" : {
            "returnType" : "FindingMetricsValuePerSeverity",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "meanTimeToClose",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "meanTimeToClose",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "MeanTimeToClose",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The average time it takes to close findings of each severity in days.</p>\n@param meanTimeToClose The average time it takes to close findings of each severity in days.*/",
          "setterMethodName" : "setMeanTimeToClose",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "FindingMetricsValuePerSeverity",
            "variableName" : "meanTimeToClose",
            "variableType" : "FindingMetricsValuePerSeverity",
            "documentation" : "",
            "simpleType" : "FindingMetricsValuePerSeverity",
            "variableSetterType" : "FindingMetricsValuePerSeverity"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The average time it takes to close findings of each severity in days.</p>\n@param meanTimeToClose The average time it takes to close findings of each severity in days.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "FindingMetricsValuePerSeverity",
            "variableName" : "meanTimeToClose",
            "variableType" : "FindingMetricsValuePerSeverity",
            "documentation" : "<p>The average time it takes to close findings of each severity in days.</p>",
            "simpleType" : "FindingMetricsValuePerSeverity",
            "variableSetterType" : "FindingMetricsValuePerSeverity"
          },
          "xmlNameSpaceUri" : null
        },
        "NewFindings" : {
          "c2jName" : "newFindings",
          "c2jShape" : "FindingMetricsValuePerSeverity",
          "deprecated" : false,
          "documentation" : "<p>The number of new findings of each severity in account on the specified date.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The number of new findings of each severity in account on the specified date.</p>\n@param newFindings The number of new findings of each severity in account on the specified date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNewFindings",
          "getterDocumentation" : "/**<p>The number of new findings of each severity in account on the specified date.</p>\n@return The number of new findings of each severity in account on the specified date.*/",
          "getterMethodName" : "getNewFindings",
          "getterModel" : {
            "returnType" : "FindingMetricsValuePerSeverity",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "newFindings",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "newFindings",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "NewFindings",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The number of new findings of each severity in account on the specified date.</p>\n@param newFindings The number of new findings of each severity in account on the specified date.*/",
          "setterMethodName" : "setNewFindings",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "FindingMetricsValuePerSeverity",
            "variableName" : "newFindings",
            "variableType" : "FindingMetricsValuePerSeverity",
            "documentation" : "",
            "simpleType" : "FindingMetricsValuePerSeverity",
            "variableSetterType" : "FindingMetricsValuePerSeverity"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The number of new findings of each severity in account on the specified date.</p>\n@param newFindings The number of new findings of each severity in account on the specified date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "FindingMetricsValuePerSeverity",
            "variableName" : "newFindings",
            "variableType" : "FindingMetricsValuePerSeverity",
            "documentation" : "<p>The number of new findings of each severity in account on the specified date.</p>",
            "simpleType" : "FindingMetricsValuePerSeverity",
            "variableSetterType" : "FindingMetricsValuePerSeverity"
          },
          "xmlNameSpaceUri" : null
        },
        "OpenFindings" : {
          "c2jName" : "openFindings",
          "c2jShape" : "FindingMetricsValuePerSeverity",
          "deprecated" : false,
          "documentation" : "<p>The number of open findings of each severity in an account as of the specified date.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The number of open findings of each severity in an account as of the specified date.</p>\n@param openFindings The number of open findings of each severity in an account as of the specified date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOpenFindings",
          "getterDocumentation" : "/**<p>The number of open findings of each severity in an account as of the specified date.</p>\n@return The number of open findings of each severity in an account as of the specified date.*/",
          "getterMethodName" : "getOpenFindings",
          "getterModel" : {
            "returnType" : "FindingMetricsValuePerSeverity",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "openFindings",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "openFindings",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "OpenFindings",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The number of open findings of each severity in an account as of the specified date.</p>\n@param openFindings The number of open findings of each severity in an account as of the specified date.*/",
          "setterMethodName" : "setOpenFindings",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "FindingMetricsValuePerSeverity",
            "variableName" : "openFindings",
            "variableType" : "FindingMetricsValuePerSeverity",
            "documentation" : "",
            "simpleType" : "FindingMetricsValuePerSeverity",
            "variableSetterType" : "FindingMetricsValuePerSeverity"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The number of open findings of each severity in an account as of the specified date.</p>\n@param openFindings The number of open findings of each severity in an account as of the specified date.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "FindingMetricsValuePerSeverity",
            "variableName" : "openFindings",
            "variableType" : "FindingMetricsValuePerSeverity",
            "documentation" : "<p>The number of open findings of each severity in an account as of the specified date.</p>",
            "simpleType" : "FindingMetricsValuePerSeverity",
            "variableSetterType" : "FindingMetricsValuePerSeverity"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.codegurusecurity.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccountFindingsMetric",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccountFindingsMetric",
        "variableName" : "accountFindingsMetric",
        "variableType" : "AccountFindingsMetric",
        "documentation" : null,
        "simpleType" : "AccountFindingsMetric",
        "variableSetterType" : "AccountFindingsMetric"
      },
      "wrapper" : false
    },
    "AnalysisType" : {
      "c2jName" : "AnalysisType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "Security",
        "value" : "Security"
      }, {
        "name" : "All",
        "value" : "All"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.codegurusecurity.enum.AnalysisType",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.codegurusecurity.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AnalysisType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AnalysisType",
        "variableName" : "analysisType",
        "variableType" : "AnalysisType",
        "documentation" : null,
        "simpleType" : "AnalysisType",
        "variableSetterType" : "AnalysisType"
      },
      "wrapper" : false
    },
    "BatchGetFindingsError" : {
      "c2jName" : "BatchGetFindingsError",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains information about the error that caused a finding to fail to be retrieved.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.codegurusecurity.model.BatchGetFindingsError",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "errorCode",
        "c2jShape" : "ErrorCode",
        "deprecated" : false,
        "documentation" : "<p>A code associated with the type of error.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ErrorCode",
        "fluentSetterDocumentation" : "/**<p>A code associated with the type of error.</p>\n@param errorCode A code associated with the type of error.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ErrorCode*/",
        "fluentSetterMethodName" : "withErrorCode",
        "getterDocumentation" : "/**<p>A code associated with the type of error.</p>\n@return A code associated with the type of error.\n@see ErrorCode*/",
        "getterMethodName" : "getErrorCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "errorCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "errorCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ErrorCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A code associated with the type of error.</p>\n@param errorCode A code associated with the type of error.\n@see ErrorCode*/",
        "setterMethodName" : "setErrorCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A code associated with the type of error.</p>\n@param errorCode A code associated with the type of error.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ErrorCode*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "<p>A code associated with the type of error.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "findingId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The finding ID of the finding that was not fetched.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
[...]
