{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-07-18",
    "asyncClient" : "AmazonCodeGuruProfilerAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCodeGuruProfilerAsyncClientBuilder",
    "asyncInterface" : "AmazonCodeGuruProfilerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonCodeGuruProfilerModuleInjector",
    "defaultEndpoint" : "codeguru-profiler.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "codeguru-profiler.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>This section provides documentation for the Amazon CodeGuru Profiler API operations.</p>",
    "endpointPrefix" : "codeguru-profiler",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.codeguruprofiler",
    "packagePath" : "com/amazonaws/services/codeguruprofiler",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon CodeGuru Profiler",
    "serviceId" : "CodeGuruProfiler",
    "serviceName" : "Amazon CodeGuru Profiler",
    "signingName" : "codeguru-profiler",
    "smokeTestsPackageName" : "com.amazonaws.services.codeguruprofiler.smoketests",
    "syncClient" : "AmazonCodeGuruProfilerClient",
    "syncClientBuilderClassName" : "AmazonCodeGuruProfilerClientBuilder",
    "syncInterface" : "AmazonCodeGuruProfiler",
    "uid" : "codeguruprofiler-2019-07-18",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "ConfigureAgent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConfigureAgentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConfigureAgentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfigureAgentRequest, ConfigureAgentResult>",
      "asyncReturnType" : "ConfigureAgentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p/>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConfigureAgentRequest",
        "variableName" : "configureAgentRequest",
        "variableType" : "ConfigureAgentRequest",
        "documentation" : "<p>The structure representing the configureAgentRequest.</p>",
        "simpleType" : "ConfigureAgentRequest",
        "variableSetterType" : "ConfigureAgentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "configureAgent",
      "operationName" : "ConfigureAgent",
      "returnType" : {
        "returnType" : "ConfigureAgentResult",
        "documentation" : "<p>The structure representing the configureAgentResponse.</p>"
      },
      "syncReturnType" : "ConfigureAgentResult"
    },
    "CreateProfilingGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProfilingGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProfilingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProfilingGroupRequest, CreateProfilingGroupResult>",
      "asyncReturnType" : "CreateProfilingGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a profiling group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded your service quota. To perform the requested action, remove some of the relevant resources, or use <a href=\"https://docs.aws.amazon.com/servicequotas/latest/userguide/intro.html\">Service Quotas</a> to request a service quota increase. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProfilingGroupRequest",
        "variableName" : "createProfilingGroupRequest",
        "variableType" : "CreateProfilingGroupRequest",
        "documentation" : "<p>The structure representing the createProfiliingGroupRequest.</p>",
        "simpleType" : "CreateProfilingGroupRequest",
        "variableSetterType" : "CreateProfilingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProfilingGroup",
      "operationName" : "CreateProfilingGroup",
      "returnType" : {
        "returnType" : "CreateProfilingGroupResult",
        "documentation" : "<p>The structure representing the createProfilingGroupResponse.</p>"
      },
      "syncReturnType" : "CreateProfilingGroupResult"
    },
    "DeleteProfilingGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProfilingGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProfilingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProfilingGroupRequest, DeleteProfilingGroupResult>",
      "asyncReturnType" : "DeleteProfilingGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a profiling group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProfilingGroupRequest",
        "variableName" : "deleteProfilingGroupRequest",
        "variableType" : "DeleteProfilingGroupRequest",
        "documentation" : "<p>The structure representing the deleteProfilingGroupRequest.</p>",
        "simpleType" : "DeleteProfilingGroupRequest",
        "variableSetterType" : "DeleteProfilingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProfilingGroup",
      "operationName" : "DeleteProfilingGroup",
      "returnType" : {
        "returnType" : "DeleteProfilingGroupResult",
        "documentation" : "<p>The structure representing the deleteProfilingGroupResponse.</p>"
      },
      "syncReturnType" : "DeleteProfilingGroupResult"
    },
    "DescribeProfilingGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProfilingGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProfilingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProfilingGroupRequest, DescribeProfilingGroupResult>",
      "asyncReturnType" : "DescribeProfilingGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a profiling group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeProfilingGroupRequest",
        "variableName" : "describeProfilingGroupRequest",
        "variableType" : "DescribeProfilingGroupRequest",
        "documentation" : "<p>The structure representing the describeProfilingGroupRequest.</p>",
        "simpleType" : "DescribeProfilingGroupRequest",
        "variableSetterType" : "DescribeProfilingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProfilingGroup",
      "operationName" : "DescribeProfilingGroup",
      "returnType" : {
        "returnType" : "DescribeProfilingGroupResult",
        "documentation" : "<p>The structure representing the describeProfilingGroupResponse.</p>"
      },
      "syncReturnType" : "DescribeProfilingGroupResult"
    },
    "GetProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProfileRequest, GetProfileResult>",
      "asyncReturnType" : "GetProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the aggregated profile of a profiling group for the specified time range. If the requested time range does not align with the available aggregated profiles, it is expanded to attain alignment. If aggregated profiles are available only for part of the period requested, the profile is returned from the earliest available to the latest within the requested time range. </p> <p>For example, if the requested time range is from 00:00 to 00:20 and the available profiles are from 00:15 to 00:25, the returned profile will be from 00:15 to 00:20. </p> <p>You must specify exactly two of the following parameters: <code>startTime</code>, <code>period</code>, and <code>endTime</code>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetProfileRequest",
        "variableName" : "getProfileRequest",
        "variableType" : "GetProfileRequest",
        "documentation" : "<p>The structure representing the getProfileRequest.</p>",
        "simpleType" : "GetProfileRequest",
        "variableSetterType" : "GetProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getProfile",
      "operationName" : "GetProfile",
      "returnType" : {
        "returnType" : "GetProfileResult",
        "documentation" : "<p>The structure representing the getProfileResponse.</p>"
      },
      "syncReturnType" : "GetProfileResult"
    },
    "ListProfileTimes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProfileTimesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProfileTimesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProfileTimesRequest, ListProfileTimesResult>",
      "asyncReturnType" : "ListProfileTimesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the start times of the available aggregated profiles of a profiling group for an aggregation period within the specified time range.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProfileTimesRequest",
        "variableName" : "listProfileTimesRequest",
        "variableType" : "ListProfileTimesRequest",
        "documentation" : "<p>The structure representing the listProfileTimesRequest.</p>",
        "simpleType" : "ListProfileTimesRequest",
        "variableSetterType" : "ListProfileTimesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProfileTimes",
      "operationName" : "ListProfileTimes",
      "returnType" : {
        "returnType" : "ListProfileTimesResult",
        "documentation" : "<p>The structure representing the listProfileTimesResponse.</p>"
      },
      "syncReturnType" : "ListProfileTimesResult"
    },
    "ListProfilingGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProfilingGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProfilingGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProfilingGroupsRequest, ListProfilingGroupsResult>",
      "asyncReturnType" : "ListProfilingGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists profiling groups.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProfilingGroupsRequest",
        "variableName" : "listProfilingGroupsRequest",
        "variableType" : "ListProfilingGroupsRequest",
        "documentation" : "<p>The structure representing the listProfilingGroupsRequest.</p>",
        "simpleType" : "ListProfilingGroupsRequest",
        "variableSetterType" : "ListProfilingGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProfilingGroups",
      "operationName" : "ListProfilingGroups",
      "returnType" : {
        "returnType" : "ListProfilingGroupsResult",
        "documentation" : "<p>The structure representing the listProfilingGroupsResponse.</p>"
      },
      "syncReturnType" : "ListProfilingGroupsResult"
    },
    "PostAgentProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PostAgentProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PostAgentProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PostAgentProfileRequest, PostAgentProfileResult>",
      "asyncReturnType" : "PostAgentProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p/>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PostAgentProfileRequest",
        "variableName" : "postAgentProfileRequest",
        "variableType" : "PostAgentProfileRequest",
        "documentation" : "<p>The structure representing the postAgentProfileRequest.</p>",
        "simpleType" : "PostAgentProfileRequest",
        "variableSetterType" : "PostAgentProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "postAgentProfile",
      "operationName" : "PostAgentProfile",
      "returnType" : {
        "returnType" : "PostAgentProfileResult",
        "documentation" : "<p>The structure representing the postAgentProfileResponse.</p>"
      },
      "syncReturnType" : "PostAgentProfileResult"
    },
    "UpdateProfilingGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProfilingGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProfilingGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProfilingGroupRequest, UpdateProfilingGroupResult>",
      "asyncReturnType" : "UpdateProfilingGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a profiling group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The parameter is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateProfilingGroupRequest",
        "variableName" : "updateProfilingGroupRequest",
        "variableType" : "UpdateProfilingGroupRequest",
        "documentation" : "<p>The structure representing the updateProfilingGroupRequest.</p>",
        "simpleType" : "UpdateProfilingGroupRequest",
        "variableSetterType" : "UpdateProfilingGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProfilingGroup",
      "operationName" : "UpdateProfilingGroup",
      "returnType" : {
        "returnType" : "UpdateProfilingGroupResult",
        "documentation" : "<p>The structure representing the updateProfilingGroupResponse.</p>"
      },
      "syncReturnType" : "UpdateProfilingGroupResult"
    }
  },
  "shapes" : {
    "AgentConfiguration" : {
      "c2jName" : "AgentConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "periodInSeconds",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p/>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param periodInSeconds \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPeriodInSeconds",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getPeriodInSeconds",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "periodInSeconds",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "periodInSeconds",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "PeriodInSeconds",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param periodInSeconds */",
        "setterMethodName" : "setPeriodInSeconds",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "periodInSeconds",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param periodInSeconds \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "periodInSeconds",
          "variableType" : "Integer",
          "documentation" : "<p/>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "shouldProfile",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "<p/>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param shouldProfile \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withShouldProfile",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getShouldProfile",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "shouldProfile",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "shouldProfile",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "ShouldProfile",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param shouldProfile */",
        "setterMethodName" : "setShouldProfile",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "shouldProfile",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param shouldProfile \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "shouldProfile",
          "variableType" : "Boolean",
          "documentation" : "<p/>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "PeriodInSeconds" : {
          "c2jName" : "periodInSeconds",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p/>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param periodInSeconds \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPeriodInSeconds",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getPeriodInSeconds",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "periodInSeconds",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "periodInSeconds",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "PeriodInSeconds",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param periodInSeconds */",
          "setterMethodName" : "setPeriodInSeconds",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "periodInSeconds",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param periodInSeconds \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "periodInSeconds",
            "variableType" : "Integer",
            "documentation" : "<p/>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "ShouldProfile" : {
          "c2jName" : "shouldProfile",
          "c2jShape" : "Boolean",
          "deprecated" : false,
          "documentation" : "<p/>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param shouldProfile \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withShouldProfile",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getShouldProfile",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "shouldProfile",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "shouldProfile",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "ShouldProfile",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param shouldProfile */",
          "setterMethodName" : "setShouldProfile",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "shouldProfile",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param shouldProfile \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "shouldProfile",
            "variableType" : "Boolean",
            "documentation" : "<p/>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "periodInSeconds", "shouldProfile" ],
      "shapeName" : "AgentConfiguration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AgentConfiguration",
        "variableName" : "agentConfiguration",
        "variableType" : "AgentConfiguration",
        "documentation" : null,
        "simpleType" : "AgentConfiguration",
        "variableSetterType" : "AgentConfiguration"
      },
      "wrapper" : false
    },
    "AgentOrchestrationConfig" : {
      "c2jName" : "AgentOrchestrationConfig",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "profilingEnabled",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "<p/>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param profilingEnabled \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProfilingEnabled",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getProfilingEnabled",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "profilingEnabled",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "profilingEnabled",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "ProfilingEnabled",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param profilingEnabled */",
        "setterMethodName" : "setProfilingEnabled",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "profilingEnabled",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param profilingEnabled \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "profilingEnabled",
          "variableType" : "Boolean",
          "documentation" : "<p/>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ProfilingEnabled" : {
          "c2jName" : "profilingEnabled",
          "c2jShape" : "Boolean",
          "deprecated" : false,
          "documentation" : "<p/>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param profilingEnabled \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProfilingEnabled",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getProfilingEnabled",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "profilingEnabled",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "profilingEnabled",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "ProfilingEnabled",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param profilingEnabled */",
          "setterMethodName" : "setProfilingEnabled",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "profilingEnabled",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param profilingEnabled \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "profilingEnabled",
            "variableType" : "Boolean",
            "documentation" : "<p/>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "profilingEnabled" ],
      "shapeName" : "AgentOrchestrationConfig",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AgentOrchestrationConfig",
        "variableName" : "agentOrchestrationConfig",
        "variableType" : "AgentOrchestrationConfig",
        "documentation" : null,
        "simpleType" : "AgentOrchestrationConfig",
        "variableSetterType" : "AgentOrchestrationConfig"
      },
      "wrapper" : false
    },
    "AggregatedProfileTime" : {
      "c2jName" : "AggregatedProfileTime",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Information about the time range of the latest available aggregated profile.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "period",
        "c2jShape" : "AggregationPeriod",
        "deprecated" : false,
        "documentation" : "<p>The time period.</p>",
        "enumType" : "AggregationPeriod",
        "fluentSetterDocumentation" : "/**<p>The time period.</p>\n@param period The time period.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AggregationPeriod*/",
        "fluentSetterMethodName" : "withPeriod",
        "getterDocumentation" : "/**<p>The time period.</p>\n@return The time period.\n@see AggregationPeriod*/",
        "getterMethodName" : "getPeriod",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "period",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "period",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Period",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time period.</p>\n@param period The time period.\n@see AggregationPeriod*/",
        "setterMethodName" : "setPeriod",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "period",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time period.</p>\n@param period The time period.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AggregationPeriod*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "period",
          "variableType" : "String",
          "documentation" : "<p>The time period.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "start",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The start time.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The start time.</p>\n@param start The start time.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStart",
        "getterDocumentation" : "/**<p>The start time.</p>\n@return The start time.*/",
        "getterMethodName" : "getStart",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "start",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "start",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "Start",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The start time.</p>\n@param start The start time.*/",
        "setterMethodName" : "setStart",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "start",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The start time.</p>\n@param start The start time.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "iso8601",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "start",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The start time.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Period" : {
          "c2jName" : "period",
          "c2jShape" : "AggregationPeriod",
          "deprecated" : false,
          "documentation" : "<p>The time period.</p>",
          "enumType" : "AggregationPeriod",
          "fluentSetterDocumentation" : "/**<p>The time period.</p>\n@param period The time period.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AggregationPeriod*/",
          "fluentSetterMethodName" : "withPeriod",
          "getterDocumentation" : "/**<p>The time period.</p>\n@return The time period.\n@see AggregationPeriod*/",
          "getterMethodName" : "getPeriod",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "period",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "period",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Period",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The time period.</p>\n@param period The time period.\n@see AggregationPeriod*/",
          "setterMethodName" : "setPeriod",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "period",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The time period.</p>\n@param period The time period.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AggregationPeriod*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "period",
            "variableType" : "String",
            "documentation" : "<p>The time period.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Start" : {
          "c2jName" : "start",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The start time.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The start time.</p>\n@param start The start time.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStart",
          "getterDocumentation" : "/**<p>The start time.</p>\n@return The start time.*/",
          "getterMethodName" : "getStart",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "start",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "start",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "Start",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The start time.</p>\n@param start The start time.*/",
          "setterMethodName" : "setStart",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "start",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The start time.</p>\n@param start The start time.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "iso8601",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "start",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The start time.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AggregatedProfileTime",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AggregatedProfileTime",
        "variableName" : "aggregatedProfileTime",
        "variableType" : "AggregatedProfileTime",
        "documentation" : null,
        "simpleType" : "AggregatedProfileTime",
        "variableSetterType" : "AggregatedProfileTime"
      },
      "wrapper" : false
    },
    "AggregationPeriod" : {
      "c2jName" : "AggregationPeriod",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "P1D",
        "value" : "P1D"
      }, {
        "name" : "PT1H",
        "value" : "PT1H"
      }, {
        "name" : "PT5M",
        "value" : "PT5M"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AggregationPeriod",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AggregationPeriod",
        "variableName" : "aggregationPeriod",
        "variableType" : "AggregationPeriod",
        "documentation" : null,
        "simpleType" : "AggregationPeriod",
        "variableSetterType" : "AggregationPeriod"
      },
      "wrapper" : false
    },
    "ConfigureAgentRequest" : {
      "c2jName" : "ConfigureAgentRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The structure representing the configureAgentRequest.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "ConfigureAgent",
        "locationName" : null,
        "requestUri" : "/profilingGroups/{profilingGroupName}/configureAgent",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "fleetInstanceId",
        "c2jShape" : "FleetInstanceId",
        "deprecated" : false,
        "documentation" : "<p/>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param fleetInstanceId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFleetInstanceId",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getFleetInstanceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "fleetInstanceId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "fleetInstanceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "FleetInstanceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param fleetInstanceId */",
        "setterMethodName" : "setFleetInstanceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "fleetInstanceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param fleetInstanceId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "fleetInstanceId",
          "variableType" : "String",
          "documentation" : "<p/>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "profilingGroupName",
        "c2jShape" : "ProfilingGroupName",
        "deprecated" : false,
        "documentation" : "<p/>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param profilingGroupName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProfilingGroupName",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getProfilingGroupName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "profilingGroupName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "profilingGroupName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProfilingGroupName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param profilingGroupName */",
        "setterMethodName" : "setProfilingGroupName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "profilingGroupName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param profilingGroupName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "profilingGroupName",
          "variableType" : "String",
          "documentation" : "<p/>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "FleetInstanceId" : {
          "c2jName" : "fleetInstanceId",
          "c2jShape" : "FleetInstanceId",
          "deprecated" : false,
          "documentation" : "<p/>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param fleetInstanceId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFleetInstanceId",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getFleetInstanceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "fleetInstanceId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "fleetInstanceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "FleetInstanceId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param fleetInstanceId */",
          "setterMethodName" : "setFleetInstanceId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "fleetInstanceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param fleetInstanceId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "fleetInstanceId",
            "variableType" : "String",
            "documentation" : "<p/>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ProfilingGroupName" : {
          "c2jName" : "profilingGroupName",
          "c2jShape" : "ProfilingGroupName",
          "deprecated" : false,
          "documentation" : "<p/>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param profilingGroupName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProfilingGroupName",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getProfilingGroupName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "profilingGroupName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "profilingGroupName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ProfilingGroupName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param profilingGroupName */",
          "setterMethodName" : "setProfilingGroupName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "profilingGroupName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param profilingGroupName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "profilingGroupName",
            "variableType" : "String",
            "documentation" : "<p/>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "profilingGroupName" ],
      "shapeName" : "ConfigureAgentRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConfigureAgentRequest",
        "variableName" : "configureAgentRequest",
        "variableType" : "ConfigureAgentRequest",
        "documentation" : null,
        "simpleType" : "ConfigureAgentRequest",
        "variableSetterType" : "ConfigureAgentRequest"
      },
      "wrapper" : false
    },
    "ConfigureAgentResult" : {
      "c2jName" : "ConfigureAgentResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The structure representing the configureAgentResponse.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : true,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "configuration",
        "c2jShape" : "AgentConfiguration",
        "deprecated" : false,
        "documentation" : "<p/>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p/>\n@param configuration \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConfiguration",
        "getterDocumentation" : "/**<p/>\n@return */",
        "getterMethodName" : "getConfiguration",
        "getterModel" : {
          "returnType" : "AgentConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : true,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "configuration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "configuration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Configuration",
        "sensitive" : false,
        "setterDocumentation" : "/**<p/>\n@param configuration */",
        "setterMethodName" : "setConfiguration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AgentConfiguration",
          "variableName" : "configuration",
          "variableType" : "AgentConfiguration",
          "documentation" : "",
          "simpleType" : "AgentConfiguration",
          "variableSetterType" : "AgentConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p/>\n@param configuration \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AgentConfiguration",
          "variableName" : "configuration",
          "variableType" : "AgentConfiguration",
          "documentation" : "<p/>",
          "simpleType" : "AgentConfiguration",
          "variableSetterType" : "AgentConfiguration"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Configuration" : {
          "c2jName" : "configuration",
          "c2jShape" : "AgentConfiguration",
          "deprecated" : false,
          "documentation" : "<p/>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p/>\n@param configuration \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConfiguration",
          "getterDocumentation" : "/**<p/>\n@return */",
          "getterMethodName" : "getConfiguration",
          "getterModel" : {
            "returnType" : "AgentConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : true,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "configuration",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "configuration",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Configuration",
          "sensitive" : false,
          "setterDocumentation" : "/**<p/>\n@param configuration */",
          "setterMethodName" : "setConfiguration",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AgentConfiguration",
            "variableName" : "configuration",
            "variableType" : "AgentConfiguration",
            "documentation" : "",
            "simpleType" : "AgentConfiguration",
            "variableSetterType" : "AgentConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p/>\n@param configuration \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AgentConfiguration",
            "variableName" : "configuration",
            "variableType" : "AgentConfiguration",
            "documentation" : "<p/>",
            "simpleType" : "AgentConfiguration",
            "variableSetterType" : "AgentConfiguration"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "configuration" ],
      "shapeName" : "ConfigureAgentResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConfigureAgentResult",
        "variableName" : "configureAgentResult",
        "variableType" : "ConfigureAgentResult",
        "documentation" : null,
        "simpleType" : "ConfigureAgentResult",
        "variableSetterType" : "ConfigureAgentResult"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. </p>",
      "enums" : null,
      "errorCode" : "ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "CreateProfilingGroupRequest" : {
      "c2jName" : "CreateProfilingGroupRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The structure representing the createProfiliingGroupRequest.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateProfilingGroup",
        "locationName" : null,
        "requestUri" : "/profilingGroups",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "agentOrchestrationConfig",
        "c2jShape" : "AgentOrchestrationConfig",
        "deprecated" : false,
        "documentation" : "<p>The agent orchestration configuration.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The agent orchestration configuration.</p>\n@param agentOrchestrationConfig The agent orchestration configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAgentOrchestrationConfig",
        "getterDocumentation" : "/**<p>The agent orchestration configuration.</p>\n@return The agent orchestration configuration.*/",
        "getterMethodName" : "getAgentOrchestrationConfig",
        "getterModel" : {
          "returnType" : "AgentOrchestrationConfig",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "agentOrchestrationConfig",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "agentOrchestrationConfig",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "AgentOrchestrationConfig",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The agent orchestration configuration.</p>\n@param agentOrchestrationConfig The agent orchestration configuration.*/",
        "setterMethodName" : "setAgentOrchestrationConfig",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AgentOrchestrationConfig",
          "variableName" : "agentOrchestrationConfig",
          "variableType" : "AgentOrchestrationConfig",
          "documentation" : "",
          "simpleType" : "AgentOrchestrationConfig",
          "variableSetterType" : "AgentOrchestrationConfig"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The agent orchestration configuration.</p>\n@param agentOrchestrationConfig The agent orchestration configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AgentOrchestrationConfig",
          "variableName" : "agentOrchestrationConfig",
          "variableType" : "AgentOrchestrationConfig",
          "documentation" : "<p>The agent orchestration configuration.</p>",
          "simpleType" : "AgentOrchestrationConfig",
          "variableSetterType" : "AgentOrchestrationConfig"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "clientToken",
        "c2jShape" : "ClientToken",
        "deprecated" : false,
        "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p> <p>This parameter specifies a unique identifier for the new profiling group that helps ensure idempotency.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p> <p>This parameter specifies a unique identifier for the new profiling group that helps ensure idempotency.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p> <p>This parameter specifies a unique identifier for the new profiling group that helps ensure idempotency.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p> <p>This parameter specifies a unique identifier for the new profiling group that helps ensure idempotency.</p>\n@return Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p> <p>This parameter specifies a unique identifier for the new profiling group that helps ensure idempotency.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "querystring",
          "marshallLocation" : "QUERY_PARAM",
          "marshallLocationName" : "clientToken",
          "queryString" : true,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p> <p>This parameter specifies a unique identifier for the new profiling group that helps ensure idempotency.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p> <p>This parameter specifies a unique identifier for the new profiling group that helps ensure idempotency.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p> <p>This parameter specifies a unique identifier for the new profiling group that helps ensure idempotency.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p> <p>This parameter specifies a unique identifier for the new profiling group that helps ensure idempotency.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p> <p>This parameter specifies a unique identifier for the new profiling group that helps ensure idempotency.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "profilingGroupName",
        "c2jShape" : "ProfilingGroupName",
        "deprecated" : false,
        "documentation" : "<p>The name of the profiling group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the profiling group.</p>\n@param profilingGroupName The name of the profiling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProfilingGroupName",
        "getterDocumentation" : "/**<p>The name of the profiling group.</p>\n@return The name of the profiling group.*/",
        "getterMethodName" : "getProfilingGroupName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "profilingGroupName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "profilingGroupName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProfilingGroupName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the profiling group.</p>\n@param profilingGroupName The name of the profiling group.*/",
        "setterMethodName" : "setProfilingGroupName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "profilingGroupName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the profiling group.</p>\n@param profilingGroupName The name of the profiling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "profilingGroupName",
          "variableType" : "String",
          "documentation" : "<p>The name of the profiling group.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AgentOrchestrationConfig" : {
          "c2jName" : "agentOrchestrationConfig",
          "c2jShape" : "AgentOrchestrationConfig",
          "deprecated" : false,
          "documentation" : "<p>The agent orchestration configuration.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The agent orchestration configuration.</p>\n@param agentOrchestrationConfig The agent orchestration configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAgentOrchestrationConfig",
          "getterDocumentation" : "/**<p>The agent orchestration configuration.</p>\n@return The agent orchestration configuration.*/",
          "getterMethodName" : "getAgentOrchestrationConfig",
          "getterModel" : {
            "returnType" : "AgentOrchestrationConfig",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "agentOrchestrationConfig",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "agentOrchestrationConfig",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "AgentOrchestrationConfig",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The agent orchestration configuration.</p>\n@param agentOrchestrationConfig The agent orchestration configuration.*/",
          "setterMethodName" : "setAgentOrchestrationConfig",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AgentOrchestrationConfig",
            "variableName" : "agentOrchestrationConfig",
            "variableType" : "AgentOrchestrationConfig",
            "documentation" : "",
            "simpleType" : "AgentOrchestrationConfig",
            "variableSetterType" : "AgentOrchestrationConfig"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The agent orchestration configuration.</p>\n@param agentOrchestrationConfig The agent orchestration configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AgentOrchestrationConfig",
            "variableName" : "agentOrchestrationConfig",
            "variableType" : "AgentOrchestrationConfig",
            "documentation" : "<p>The agent orchestration configuration.</p>",
            "simpleType" : "AgentOrchestrationConfig",
            "variableSetterType" : "AgentOrchestrationConfig"
          },
          "xmlNameSpaceUri" : null
        },
        "ClientToken" : {
          "c2jName" : "clientToken",
          "c2jShape" : "ClientToken",
          "deprecated" : false,
          "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p> <p>This parameter specifies a unique identifier for the new profiling group that helps ensure idempotency.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p> <p>This parameter specifies a unique identifier for the new profiling group that helps ensure idempotency.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p> <p>This parameter specifies a unique identifier for the new profiling group that helps ensure idempotency.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientToken",
          "getterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p> <p>This parameter specifies a unique identifier for the new profiling group that helps ensure idempotency.</p>\n@return Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p> <p>This parameter specifies a unique identifier for the new profiling group that helps ensure idempotency.*/",
          "getterMethodName" : "getClientToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "querystring",
            "marshallLocation" : "QUERY_PARAM",
            "marshallLocationName" : "clientToken",
            "queryString" : true,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientToken",
            "uri" : false
          },
          "idempotencyToken" : true,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p> <p>This parameter specifies a unique identifier for the new profiling group that helps ensure idempotency.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p> <p>This parameter specifies a unique identifier for the new profiling group that helps ensure idempotency.*/",
          "setterMethodName" : "setClientToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p> <p>This parameter specifies a unique identifier for the new profiling group that helps ensure idempotency.</p>\n@param clientToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p> <p>This parameter specifies a unique identifier for the new profiling group that helps ensure idempotency.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p> <p>This parameter specifies a unique identifier for the new profiling group that helps ensure idempotency.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ProfilingGroupName" : {
          "c2jName" : "profilingGroupName",
          "c2jShape" : "ProfilingGroupName",
          "deprecated" : false,
          "documentation" : "<p>The name of the profiling group.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the profiling group.</p>\n@param profilingGroupName The name of the profiling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProfilingGroupName",
          "getterDocumentation" : "/**<p>The name of the profiling group.</p>\n@return The name of the profiling group.*/",
          "getterMethodName" : "getProfilingGroupName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "profilingGroupName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "profilingGroupName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
[...]
