{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "CognitoStreams" : [ "StreamingStatus" ],
      "GetBulkPublishDetailsResponse" : [ "BulkPublishStatus" ],
      "RecordPatch" : [ "Op" ],
      "RegisterDeviceRequest" : [ "Platform" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2014-06-30",
    "asyncClient" : "AmazonCognitoSyncAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCognitoSyncAsyncClientBuilder",
    "asyncInterface" : "AmazonCognitoSyncAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonCognitoSyncModuleInjector",
    "defaultEndpoint" : "https://cognito-sync.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "cognito-sync.us-east-1.amazonaws.com/",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon Cognito Sync</fullname> <p>Amazon Cognito Sync provides an AWS service and client library that enable cross-device syncing of application-related user data. High-level client libraries are available for both iOS and Android. You can use these libraries to persist data locally so that it's available even if the device is offline. Developer credentials don't need to be stored on the mobile device to access the service. You can use Amazon Cognito to obtain a normalized user ID and credentials. User data is persisted in a dataset that can store up to 1 MB of key-value pairs, and you can have up to 20 datasets per user identity.</p> <p>With Amazon Cognito Sync, the data stored for each identity is accessible only to credentials assigned to that identity. In order to use the Cognito Sync service, you need to make API calls using credentials retrieved with <a href=\"http://docs.aws.amazon.com/cognitoidentity/latest/APIReference/Welcome.html\">Amazon Cognito Identity service</a>.</p> <p>If you want to use Cognito Sync in an Android or iOS application, you will probably want to make API calls via the AWS Mobile SDK. To learn more, see the <a href=\"http://docs.aws.amazon.com/mobile/sdkforandroid/developerguide/cognito-sync.html\">Developer Guide for Android</a> and the <a href=\"http://docs.aws.amazon.com/mobile/sdkforios/developerguide/cognito-sync.html\">Developer Guide for iOS</a>.</p>",
    "endpointPrefix" : "cognito-sync",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.cognitosync",
    "packagePath" : "com/amazonaws/services/cognitosync",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Cognito Sync",
    "serviceId" : "Cognito Sync",
    "serviceName" : "Amazon Cognito Sync",
    "signingName" : "cognito-sync",
    "smokeTestsPackageName" : "com.amazonaws.services.cognitosync.smoketests",
    "syncClient" : "AmazonCognitoSyncClient",
    "syncClientBuilderClassName" : "AmazonCognitoSyncClientBuilder",
    "syncInterface" : "AmazonCognitoSync",
    "uid" : "cognito-sync-2014-06-30",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BulkPublish" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BulkPublishResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BulkPublishResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BulkPublishRequest, BulkPublishResult>",
      "asyncReturnType" : "BulkPublishResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initiates a bulk publish of all existing datasets for an Identity Pool to the configured stream. Customers are limited to one successful bulk publish per 24 hours. Bulk publish is an asynchronous request, customers can see the status of the request via the GetBulkPublishDetails operation.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown if the resource doesn't exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Indicates an internal service error.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DuplicateRequestException",
        "documentation" : "An exception thrown when there is an IN_PROGRESS bulk publish operation for the given identity pool.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AlreadyStreamedException",
        "documentation" : "An exception thrown when a bulk publish operation is requested less than 24 hours after a previous bulk publish operation completed successfully.",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BulkPublishRequest",
        "variableName" : "bulkPublishRequest",
        "variableType" : "BulkPublishRequest",
        "documentation" : "The input for the BulkPublish operation.",
        "simpleType" : "BulkPublishRequest",
        "variableSetterType" : "BulkPublishRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "bulkPublish",
      "operationName" : "BulkPublish",
      "returnType" : {
        "returnType" : "BulkPublishResult",
        "documentation" : "The output for the BulkPublish operation."
      },
      "syncReturnType" : "BulkPublishResult"
    },
    "DeleteDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDatasetRequest, DeleteDatasetResult>",
      "asyncReturnType" : "DeleteDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specific dataset. The dataset will be deleted permanently, and the action can't be undone. Datasets that this dataset was merged with will no longer report the merge. Any subsequent operation on this dataset will result in a ResourceNotFoundException.</p> <p>This API can be called with temporary user credentials provided by Cognito Identity or with developer credentials.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown if the resource doesn't exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Indicates an internal service error.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown if the request is throttled.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown if an update can't be applied because the resource was changed by another call and this would result in a conflict.",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDatasetRequest",
        "variableName" : "deleteDatasetRequest",
        "variableType" : "DeleteDatasetRequest",
        "documentation" : "A request to delete the specific dataset.",
        "simpleType" : "DeleteDatasetRequest",
        "variableSetterType" : "DeleteDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDataset",
      "operationName" : "DeleteDataset",
      "returnType" : {
        "returnType" : "DeleteDatasetResult",
        "documentation" : "Response to a successful DeleteDataset request."
      },
      "syncReturnType" : "DeleteDatasetResult"
    },
    "DescribeDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDatasetRequest, DescribeDatasetResult>",
      "asyncReturnType" : "DescribeDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets meta data about a dataset by identity and dataset name. With Amazon Cognito Sync, each identity has access only to its own data. Thus, the credentials used to make this API call need to have access to the identity data.</p> <p>This API can be called with temporary user credentials provided by Cognito Identity or with developer credentials. You should use Cognito Identity credentials to make this API call.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown if the resource doesn't exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Indicates an internal service error.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown if the request is throttled.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDatasetRequest",
        "variableName" : "describeDatasetRequest",
        "variableType" : "DescribeDatasetRequest",
        "documentation" : "A request for meta data about a dataset (creation date, number of records, size) by owner and dataset name.",
        "simpleType" : "DescribeDatasetRequest",
        "variableSetterType" : "DescribeDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDataset",
      "operationName" : "DescribeDataset",
      "returnType" : {
        "returnType" : "DescribeDatasetResult",
        "documentation" : "Response to a successful DescribeDataset request."
      },
      "syncReturnType" : "DescribeDatasetResult"
    },
    "DescribeIdentityPoolUsage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeIdentityPoolUsageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeIdentityPoolUsageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeIdentityPoolUsageRequest, DescribeIdentityPoolUsageResult>",
      "asyncReturnType" : "DescribeIdentityPoolUsageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets usage details (for example, data storage) about a particular identity pool.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown if the resource doesn't exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Indicates an internal service error.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown if the request is throttled.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeIdentityPoolUsageRequest",
        "variableName" : "describeIdentityPoolUsageRequest",
        "variableType" : "DescribeIdentityPoolUsageRequest",
        "documentation" : "A request for usage information about the identity pool.",
        "simpleType" : "DescribeIdentityPoolUsageRequest",
        "variableSetterType" : "DescribeIdentityPoolUsageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeIdentityPoolUsage",
      "operationName" : "DescribeIdentityPoolUsage",
      "returnType" : {
        "returnType" : "DescribeIdentityPoolUsageResult",
        "documentation" : "Response to a successful DescribeIdentityPoolUsage request."
      },
      "syncReturnType" : "DescribeIdentityPoolUsageResult"
    },
    "DescribeIdentityUsage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeIdentityUsageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeIdentityUsageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeIdentityUsageRequest, DescribeIdentityUsageResult>",
      "asyncReturnType" : "DescribeIdentityUsageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets usage information for an identity, including number of datasets and data usage.</p> <p>This API can be called with temporary user credentials provided by Cognito Identity or with developer credentials.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown if the resource doesn't exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Indicates an internal service error.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown if the request is throttled.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeIdentityUsageRequest",
        "variableName" : "describeIdentityUsageRequest",
        "variableType" : "DescribeIdentityUsageRequest",
        "documentation" : "A request for information about the usage of an identity pool.",
        "simpleType" : "DescribeIdentityUsageRequest",
        "variableSetterType" : "DescribeIdentityUsageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeIdentityUsage",
      "operationName" : "DescribeIdentityUsage",
      "returnType" : {
        "returnType" : "DescribeIdentityUsageResult",
        "documentation" : "The response to a successful DescribeIdentityUsage request."
      },
      "syncReturnType" : "DescribeIdentityUsageResult"
    },
    "GetBulkPublishDetails" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBulkPublishDetailsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBulkPublishDetailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBulkPublishDetailsRequest, GetBulkPublishDetailsResult>",
      "asyncReturnType" : "GetBulkPublishDetailsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the status of the last BulkPublish operation for an identity pool.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown if the resource doesn't exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Indicates an internal service error.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBulkPublishDetailsRequest",
        "variableName" : "getBulkPublishDetailsRequest",
        "variableType" : "GetBulkPublishDetailsRequest",
        "documentation" : "The input for the GetBulkPublishDetails operation.",
        "simpleType" : "GetBulkPublishDetailsRequest",
        "variableSetterType" : "GetBulkPublishDetailsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBulkPublishDetails",
      "operationName" : "GetBulkPublishDetails",
      "returnType" : {
        "returnType" : "GetBulkPublishDetailsResult",
        "documentation" : "The output for the GetBulkPublishDetails operation."
      },
      "syncReturnType" : "GetBulkPublishDetailsResult"
    },
    "GetCognitoEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCognitoEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCognitoEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCognitoEventsRequest, GetCognitoEventsResult>",
      "asyncReturnType" : "GetCognitoEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the events and the corresponding Lambda functions associated with an identity pool.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown if the resource doesn't exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Indicates an internal service error.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown if the request is throttled.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCognitoEventsRequest",
        "variableName" : "getCognitoEventsRequest",
        "variableType" : "GetCognitoEventsRequest",
        "documentation" : "<p>A request for a list of the configured Cognito Events</p>",
        "simpleType" : "GetCognitoEventsRequest",
        "variableSetterType" : "GetCognitoEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCognitoEvents",
      "operationName" : "GetCognitoEvents",
      "returnType" : {
        "returnType" : "GetCognitoEventsResult",
        "documentation" : "<p>The response from the GetCognitoEvents request</p>"
      },
      "syncReturnType" : "GetCognitoEventsResult"
    },
    "GetIdentityPoolConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIdentityPoolConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIdentityPoolConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIdentityPoolConfigurationRequest, GetIdentityPoolConfigurationResult>",
      "asyncReturnType" : "GetIdentityPoolConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the configuration settings of an identity pool.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown if the resource doesn't exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Indicates an internal service error.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown if the request is throttled.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIdentityPoolConfigurationRequest",
        "variableName" : "getIdentityPoolConfigurationRequest",
        "variableType" : "GetIdentityPoolConfigurationRequest",
        "documentation" : "<p>The input for the GetIdentityPoolConfiguration operation.</p>",
        "simpleType" : "GetIdentityPoolConfigurationRequest",
        "variableSetterType" : "GetIdentityPoolConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIdentityPoolConfiguration",
      "operationName" : "GetIdentityPoolConfiguration",
      "returnType" : {
        "returnType" : "GetIdentityPoolConfigurationResult",
        "documentation" : "<p>The output for the GetIdentityPoolConfiguration operation.</p>"
      },
      "syncReturnType" : "GetIdentityPoolConfigurationResult"
    },
    "ListDatasets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDatasetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDatasetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDatasetsRequest, ListDatasetsResult>",
      "asyncReturnType" : "ListDatasetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists datasets for an identity. With Amazon Cognito Sync, each identity has access only to its own data. Thus, the credentials used to make this API call need to have access to the identity data.</p> <p>ListDatasets can be called with temporary user credentials provided by Cognito Identity or with developer credentials. You should use the Cognito Identity credentials to make this API call.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Indicates an internal service error.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown if the request is throttled.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDatasetsRequest",
        "variableName" : "listDatasetsRequest",
        "variableType" : "ListDatasetsRequest",
        "documentation" : "Request for a list of datasets for an identity.",
        "simpleType" : "ListDatasetsRequest",
        "variableSetterType" : "ListDatasetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDatasets",
      "operationName" : "ListDatasets",
      "returnType" : {
        "returnType" : "ListDatasetsResult",
        "documentation" : "Returned for a successful ListDatasets request."
      },
      "syncReturnType" : "ListDatasetsResult"
    },
    "ListIdentityPoolUsage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIdentityPoolUsageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIdentityPoolUsageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIdentityPoolUsageRequest, ListIdentityPoolUsageResult>",
      "asyncReturnType" : "ListIdentityPoolUsageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of identity pools registered with Cognito.</p> <p>ListIdentityPoolUsage can only be called with developer credentials. You cannot make this API call with the temporary user credentials provided by Cognito Identity.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Indicates an internal service error.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown if the request is throttled.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIdentityPoolUsageRequest",
        "variableName" : "listIdentityPoolUsageRequest",
        "variableType" : "ListIdentityPoolUsageRequest",
        "documentation" : "A request for usage information on an identity pool.",
        "simpleType" : "ListIdentityPoolUsageRequest",
        "variableSetterType" : "ListIdentityPoolUsageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIdentityPoolUsage",
      "operationName" : "ListIdentityPoolUsage",
      "returnType" : {
        "returnType" : "ListIdentityPoolUsageResult",
        "documentation" : "Returned for a successful ListIdentityPoolUsage request."
      },
      "syncReturnType" : "ListIdentityPoolUsageResult"
    },
    "ListRecords" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRecordsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRecordsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRecordsRequest, ListRecordsResult>",
      "asyncReturnType" : "ListRecordsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets paginated records, optionally changed after a particular sync count for a dataset and identity. With Amazon Cognito Sync, each identity has access only to its own data. Thus, the credentials used to make this API call need to have access to the identity data.</p> <p>ListRecords can be called with temporary user credentials provided by Cognito Identity or with developer credentials. You should use Cognito Identity credentials to make this API call.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown if the request is throttled.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Indicates an internal service error.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRecordsRequest",
        "variableName" : "listRecordsRequest",
        "variableType" : "ListRecordsRequest",
        "documentation" : "A request for a list of records.",
        "simpleType" : "ListRecordsRequest",
        "variableSetterType" : "ListRecordsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRecords",
      "operationName" : "ListRecords",
      "returnType" : {
        "returnType" : "ListRecordsResult",
        "documentation" : "Returned for a successful ListRecordsRequest."
      },
      "syncReturnType" : "ListRecordsResult"
    },
    "RegisterDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterDeviceRequest, RegisterDeviceResult>",
      "asyncReturnType" : "RegisterDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers a device to receive push sync notifications.</p> <p>This API can only be called with temporary credentials provided by Cognito Identity. You cannot call this API with developer credentials.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown if the resource doesn't exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Indicates an internal service error.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidConfigurationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown if the request is throttled.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterDeviceRequest",
        "variableName" : "registerDeviceRequest",
        "variableType" : "RegisterDeviceRequest",
        "documentation" : "<p>A request to RegisterDevice.</p>",
        "simpleType" : "RegisterDeviceRequest",
        "variableSetterType" : "RegisterDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerDevice",
      "operationName" : "RegisterDevice",
      "returnType" : {
        "returnType" : "RegisterDeviceResult",
        "documentation" : "<p>Response to a RegisterDevice request.</p>"
      },
      "syncReturnType" : "RegisterDeviceResult"
    },
    "SetCognitoEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetCognitoEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetCognitoEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetCognitoEventsRequest, SetCognitoEventsResult>",
      "asyncReturnType" : "SetCognitoEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the AWS Lambda function for a given event type for an identity pool. This request only updates the key/value pair specified. Other key/values pairs are not updated. To remove a key value pair, pass a empty value for the particular key.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown if the resource doesn't exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Indicates an internal service error.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown if the request is throttled.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SetCognitoEventsRequest",
        "variableName" : "setCognitoEventsRequest",
        "variableType" : "SetCognitoEventsRequest",
        "documentation" : "<p>A request to configure Cognito Events\"</p>\"",
        "simpleType" : "SetCognitoEventsRequest",
        "variableSetterType" : "SetCognitoEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setCognitoEvents",
      "operationName" : "SetCognitoEvents",
      "returnType" : {
        "returnType" : "SetCognitoEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "SetCognitoEventsResult"
    },
    "SetIdentityPoolConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetIdentityPoolConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetIdentityPoolConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetIdentityPoolConfigurationRequest, SetIdentityPoolConfigurationResult>",
      "asyncReturnType" : "SetIdentityPoolConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the necessary configuration for push sync.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown if the resource doesn't exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Indicates an internal service error.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown if the request is throttled.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Thrown if there are parallel requests to modify a resource.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SetIdentityPoolConfigurationRequest",
        "variableName" : "setIdentityPoolConfigurationRequest",
        "variableType" : "SetIdentityPoolConfigurationRequest",
        "documentation" : "<p>The input for the SetIdentityPoolConfiguration operation.</p>",
        "simpleType" : "SetIdentityPoolConfigurationRequest",
        "variableSetterType" : "SetIdentityPoolConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setIdentityPoolConfiguration",
      "operationName" : "SetIdentityPoolConfiguration",
      "returnType" : {
        "returnType" : "SetIdentityPoolConfigurationResult",
        "documentation" : "<p>The output for the SetIdentityPoolConfiguration operation</p>"
      },
      "syncReturnType" : "SetIdentityPoolConfigurationResult"
    },
    "SubscribeToDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SubscribeToDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SubscribeToDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SubscribeToDatasetRequest, SubscribeToDatasetResult>",
      "asyncReturnType" : "SubscribeToDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Subscribes to receive notifications when a dataset is modified by another device.</p> <p>This API can only be called with temporary credentials provided by Cognito Identity. You cannot call this API with developer credentials.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown if the resource doesn't exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Indicates an internal service error.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidConfigurationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown if the request is throttled.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SubscribeToDatasetRequest",
        "variableName" : "subscribeToDatasetRequest",
        "variableType" : "SubscribeToDatasetRequest",
        "documentation" : "<p>A request to SubscribeToDatasetRequest.</p>",
        "simpleType" : "SubscribeToDatasetRequest",
        "variableSetterType" : "SubscribeToDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "subscribeToDataset",
      "operationName" : "SubscribeToDataset",
      "returnType" : {
        "returnType" : "SubscribeToDatasetResult",
        "documentation" : "<p>Response to a SubscribeToDataset request.</p>"
      },
      "syncReturnType" : "SubscribeToDatasetResult"
    },
    "UnsubscribeFromDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UnsubscribeFromDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UnsubscribeFromDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UnsubscribeFromDatasetRequest, UnsubscribeFromDatasetResult>",
      "asyncReturnType" : "UnsubscribeFromDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Unsubscribes from receiving notifications when a dataset is modified by another device.</p> <p>This API can only be called with temporary credentials provided by Cognito Identity. You cannot call this API with developer credentials.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown if the resource doesn't exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Indicates an internal service error.",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidConfigurationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown if the request is throttled.",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UnsubscribeFromDatasetRequest",
        "variableName" : "unsubscribeFromDatasetRequest",
        "variableType" : "UnsubscribeFromDatasetRequest",
        "documentation" : "<p>A request to UnsubscribeFromDataset.</p>",
        "simpleType" : "UnsubscribeFromDatasetRequest",
        "variableSetterType" : "UnsubscribeFromDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "unsubscribeFromDataset",
      "operationName" : "UnsubscribeFromDataset",
      "returnType" : {
        "returnType" : "UnsubscribeFromDatasetResult",
        "documentation" : "<p>Response to an UnsubscribeFromDataset request.</p>"
      },
      "syncReturnType" : "UnsubscribeFromDatasetResult"
    },
    "UpdateRecords" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRecordsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRecordsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRecordsRequest, UpdateRecordsResult>",
      "asyncReturnType" : "UpdateRecordsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Posts updates to records and adds and deletes records for a dataset and user.</p> <p>The sync count in the record patch is your last known sync count for that record. The server will reject an UpdateRecords request with a ResourceConflictException if you try to patch a record with a new value but a stale sync count.</p> <p>For example, if the sync count on the server is 5 for a key called highScore and you try and submit a new highScore with sync count of 4, the request will be rejected. To obtain the current sync count for a record, call ListRecords. On a successful update of the record, the response returns the new sync count for that record. You should present that sync count the next time you try to update that same record. When the record does not exist, specify the sync count as 0.</p> <p>This API can be called with temporary user credentials provided by Cognito Identity or with developer credentials.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "Thrown when the limit on the number of objects or operations has been exceeded.",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "Thrown if the resource doesn't exist.",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "Thrown if an update can't be applied because the resource was changed by another call and this would result in a conflict.",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidLambdaFunctionOutputException",
        "documentation" : "<p>The AWS Lambda function returned invalid output or an exception.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LambdaThrottledException",
        "documentation" : "<p>AWS Lambda throttled your account, please contact AWS Support</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "Thrown if the request is throttled.",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "Indicates an internal service error.",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRecordsRequest",
        "variableName" : "updateRecordsRequest",
        "variableType" : "UpdateRecordsRequest",
        "documentation" : "A request to post updates to records or add and delete records for a dataset and user.",
        "simpleType" : "UpdateRecordsRequest",
        "variableSetterType" : "UpdateRecordsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRecords",
      "operationName" : "UpdateRecords",
      "returnType" : {
        "returnType" : "UpdateRecordsResult",
        "documentation" : "Returned for a successful UpdateRecordsRequest."
      },
      "syncReturnType" : "UpdateRecordsResult"
    }
  },
  "shapes" : {
    "AlreadyStreamedException" : {
      "c2jName" : "AlreadyStreamedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "An exception thrown when a bulk publish operation is requested less than 24 hours after a previous bulk publish operation completed successfully.",
      "enums" : null,
      "errorCode" : "AlreadyStreamed",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AlreadyStreamedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AlreadyStreamedException",
        "variableName" : "alreadyStreamedException",
        "variableType" : "AlreadyStreamedException",
        "documentation" : null,
        "simpleType" : "AlreadyStreamedException",
        "variableSetterType" : "AlreadyStreamedException"
      },
      "wrapper" : false
    },
    "BulkPublishRequest" : {
      "c2jName" : "BulkPublishRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "The input for the BulkPublish operation.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BulkPublish",
        "locationName" : null,
        "requestUri" : "/identitypools/{IdentityPoolId}/bulkpublish",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "IdentityPoolId",
        "c2jShape" : "IdentityPoolId",
        "deprecated" : false,
        "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@param identityPoolId A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIdentityPoolId",
        "getterDocumentation" : "/**A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@return A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.*/",
        "getterMethodName" : "getIdentityPoolId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "IdentityPoolId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IdentityPoolId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "IdentityPoolId",
        "sensitive" : false,
        "setterDocumentation" : "/**A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@param identityPoolId A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.*/",
        "setterMethodName" : "setIdentityPoolId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "identityPoolId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@param identityPoolId A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "identityPoolId",
          "variableType" : "String",
          "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "IdentityPoolId" : {
          "c2jName" : "IdentityPoolId",
          "c2jShape" : "IdentityPoolId",
          "deprecated" : false,
          "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@param identityPoolId A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIdentityPoolId",
          "getterDocumentation" : "/**A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@return A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.*/",
          "getterMethodName" : "getIdentityPoolId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "IdentityPoolId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "IdentityPoolId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "IdentityPoolId",
          "sensitive" : false,
          "setterDocumentation" : "/**A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@param identityPoolId A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.*/",
          "setterMethodName" : "setIdentityPoolId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "identityPoolId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@param identityPoolId A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "identityPoolId",
            "variableType" : "String",
            "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "IdentityPoolId" ],
      "shapeName" : "BulkPublishRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BulkPublishRequest",
        "variableName" : "bulkPublishRequest",
        "variableType" : "BulkPublishRequest",
        "documentation" : null,
        "simpleType" : "BulkPublishRequest",
        "variableSetterType" : "BulkPublishRequest"
      },
      "wrapper" : false
    },
    "BulkPublishResult" : {
      "c2jName" : "BulkPublishResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "The output for the BulkPublish operation.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "IdentityPoolId",
        "c2jShape" : "IdentityPoolId",
        "deprecated" : false,
        "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@param identityPoolId A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIdentityPoolId",
        "getterDocumentation" : "/**A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@return A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.*/",
        "getterMethodName" : "getIdentityPoolId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "IdentityPoolId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IdentityPoolId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "IdentityPoolId",
        "sensitive" : false,
        "setterDocumentation" : "/**A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@param identityPoolId A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.*/",
        "setterMethodName" : "setIdentityPoolId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "identityPoolId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@param identityPoolId A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "identityPoolId",
          "variableType" : "String",
          "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "IdentityPoolId" : {
          "c2jName" : "IdentityPoolId",
          "c2jShape" : "IdentityPoolId",
          "deprecated" : false,
          "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@param identityPoolId A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIdentityPoolId",
          "getterDocumentation" : "/**A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@return A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.*/",
          "getterMethodName" : "getIdentityPoolId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "IdentityPoolId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "IdentityPoolId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "IdentityPoolId",
          "sensitive" : false,
          "setterDocumentation" : "/**A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@param identityPoolId A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.*/",
          "setterMethodName" : "setIdentityPoolId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "identityPoolId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@param identityPoolId A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "identityPoolId",
            "variableType" : "String",
            "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BulkPublishResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BulkPublishResult",
        "variableName" : "bulkPublishResult",
        "variableType" : "BulkPublishResult",
        "documentation" : null,
        "simpleType" : "BulkPublishResult",
        "variableSetterType" : "BulkPublishResult"
      },
      "wrapper" : false
    },
    "BulkPublishStatus" : {
      "c2jName" : "BulkPublishStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "NOT_STARTED",
        "value" : "NOT_STARTED"
      }, {
        "name" : "IN_PROGRESS",
        "value" : "IN_PROGRESS"
      }, {
        "name" : "FAILED",
        "value" : "FAILED"
      }, {
        "name" : "SUCCEEDED",
        "value" : "SUCCEEDED"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BulkPublishStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BulkPublishStatus",
        "variableName" : "bulkPublishStatus",
        "variableType" : "BulkPublishStatus",
        "documentation" : null,
        "simpleType" : "BulkPublishStatus",
        "variableSetterType" : "BulkPublishStatus"
      },
      "wrapper" : false
    },
    "CognitoStreams" : {
      "c2jName" : "CognitoStreams",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "Configuration options for configure Cognito streams.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "StreamName",
        "c2jShape" : "StreamName",
        "deprecated" : false,
        "documentation" : "The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.\n@param streamName The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStreamName",
        "getterDocumentation" : "/**The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.\n@return The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.*/",
        "getterMethodName" : "getStreamName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "StreamName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StreamName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "StreamName",
        "sensitive" : false,
        "setterDocumentation" : "/**The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.\n@param streamName The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.*/",
        "setterMethodName" : "setStreamName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "streamName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.\n@param streamName The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "streamName",
          "variableType" : "String",
          "documentation" : "The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RoleArn",
        "c2jShape" : "AssumeRoleArn",
        "deprecated" : false,
        "documentation" : "The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.\n@param roleArn The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRoleArn",
        "getterDocumentation" : "/**The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.\n@return The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.*/",
        "getterMethodName" : "getRoleArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RoleArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RoleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RoleArn",
        "sensitive" : false,
        "setterDocumentation" : "/**The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.\n@param roleArn The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.*/",
        "setterMethodName" : "setRoleArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.\n@param roleArn The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StreamingStatus",
        "c2jShape" : "StreamingStatus",
        "deprecated" : false,
        "documentation" : "Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>",
        "enumType" : "StreamingStatus",
        "fluentSetterDocumentation" : "/**Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>\n@param streamingStatus Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>\n@return Returns a reference to this object so that method calls can be chained together.\n@see StreamingStatus*/",
        "fluentSetterMethodName" : "withStreamingStatus",
        "getterDocumentation" : "/**Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>\n@return Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>\n@see StreamingStatus*/",
        "getterMethodName" : "getStreamingStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "StreamingStatus",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StreamingStatus",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "StreamingStatus",
        "sensitive" : false,
        "setterDocumentation" : "/**Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>\n@param streamingStatus Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>\n@see StreamingStatus*/",
        "setterMethodName" : "setStreamingStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "streamingStatus",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>\n@param streamingStatus Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>\n@return Returns a reference to this object so that method calls can be chained together.\n@see StreamingStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "streamingStatus",
          "variableType" : "String",
          "documentation" : "Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "RoleArn" : {
          "c2jName" : "RoleArn",
          "c2jShape" : "AssumeRoleArn",
          "deprecated" : false,
          "documentation" : "The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.\n@param roleArn The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRoleArn",
          "getterDocumentation" : "/**The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.\n@return The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.*/",
          "getterMethodName" : "getRoleArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RoleArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RoleArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RoleArn",
          "sensitive" : false,
          "setterDocumentation" : "/**The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.\n@param roleArn The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.*/",
          "setterMethodName" : "setRoleArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "roleArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.\n@param roleArn The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "roleArn",
            "variableType" : "String",
            "documentation" : "The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "StreamName" : {
          "c2jName" : "StreamName",
          "c2jShape" : "StreamName",
          "deprecated" : false,
          "documentation" : "The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.\n@param streamName The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStreamName",
          "getterDocumentation" : "/**The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.\n@return The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.*/",
          "getterMethodName" : "getStreamName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "StreamName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "StreamName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "StreamName",
          "sensitive" : false,
          "setterDocumentation" : "/**The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.\n@param streamName The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.*/",
          "setterMethodName" : "setStreamName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "streamName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.\n@param streamName The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "streamName",
            "variableType" : "String",
            "documentation" : "The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "StreamingStatus" : {
          "c2jName" : "StreamingStatus",
          "c2jShape" : "StreamingStatus",
          "deprecated" : false,
          "documentation" : "Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>",
          "enumType" : "StreamingStatus",
          "fluentSetterDocumentation" : "/**Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>\n@param streamingStatus Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>\n@return Returns a reference to this object so that method calls can be chained together.\n@see StreamingStatus*/",
          "fluentSetterMethodName" : "withStreamingStatus",
          "getterDocumentation" : "/**Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>\n@return Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>\n@see StreamingStatus*/",
          "getterMethodName" : "getStreamingStatus",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "StreamingStatus",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "StreamingStatus",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "StreamingStatus",
          "sensitive" : false,
          "setterDocumentation" : "/**Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>\n@param streamingStatus Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>\n@see StreamingStatus*/",
          "setterMethodName" : "setStreamingStatus",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "streamingStatus",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
[...]
