{
  "authorizers" : { },
  "metadata" : {
    "apiVersion" : "2014-06-30",
    "endpointPrefix" : "cognito-sync",
    "jsonVersion" : "1.1",
    "protocol" : "rest-json",
    "resultWrapped" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Cognito Sync",
    "signatureVersion" : "v4",
    "signingName" : "cognito-sync",
    "targetPrefix" : null,
    "uid" : "cognito-sync-2014-06-30",
    "xmlNamespace" : null
  },
  "operations" : {
    "BulkPublish" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Initiates a bulk publish of all existing datasets for an Identity Pool to the configured stream. Customers are limited to one successful bulk publish per 24 hours. Bulk publish is an asynchronous request, customers can see the status of the request via the GetBulkPublishDetails operation.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "errors" : [ {
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "error" : {
          "code" : "NotAuthorizedError",
          "httpStatusCode" : 403
        },
        "exception" : true,
        "fault" : false,
        "shape" : "NotAuthorizedException"
      }, {
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "error" : {
          "code" : "InvalidParameter",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidParameterException"
      }, {
        "documentation" : "Thrown if the resource doesn't exist.",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "Indicates an internal service error.",
        "error" : {
          "code" : "InternalError",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalErrorException"
      }, {
        "documentation" : "An exception thrown when there is an IN_PROGRESS bulk publish operation for the given identity pool.",
        "error" : {
          "code" : "DuplicateRequest",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "DuplicateRequestException"
      }, {
        "documentation" : "An exception thrown when a bulk publish operation is requested less than 24 hours after a previous bulk publish operation completed successfully.",
        "error" : {
          "code" : "AlreadyStreamed",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "AlreadyStreamedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/identitypools/{IdentityPoolId}/bulkpublish",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : "The input for the BulkPublish operation.",
        "locationName" : null,
        "shape" : "BulkPublishRequest",
        "xmlNamespace" : null
      },
      "name" : "BulkPublish",
      "output" : {
        "documentation" : "The output for the BulkPublish operation.",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "BulkPublishResponse"
      }
    },
    "DeleteDataset" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes the specific dataset. The dataset will be deleted permanently, and the action can't be undone. Datasets that this dataset was merged with will no longer report the merge. Any subsequent operation on this dataset will result in a ResourceNotFoundException.</p> <p>This API can be called with temporary user credentials provided by Cognito Identity or with developer credentials.</p>",
      "errors" : [ {
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "error" : {
          "code" : "NotAuthorizedError",
          "httpStatusCode" : 403
        },
        "exception" : true,
        "fault" : false,
        "shape" : "NotAuthorizedException"
      }, {
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "error" : {
          "code" : "InvalidParameter",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidParameterException"
      }, {
        "documentation" : "Thrown if the resource doesn't exist.",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "Indicates an internal service error.",
        "error" : {
          "code" : "InternalError",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalErrorException"
      }, {
        "documentation" : "Thrown if the request is throttled.",
        "error" : {
          "code" : "TooManyRequests",
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      }, {
        "documentation" : "Thrown if an update can't be applied because the resource was changed by another call and this would result in a conflict.",
        "error" : {
          "code" : "ResourceConflict",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceConflictException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : "A request to delete the specific dataset.",
        "locationName" : null,
        "shape" : "DeleteDatasetRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteDataset",
      "output" : {
        "documentation" : "Response to a successful DeleteDataset request.",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteDatasetResponse"
      }
    },
    "DescribeDataset" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets meta data about a dataset by identity and dataset name. With Amazon Cognito Sync, each identity has access only to its own data. Thus, the credentials used to make this API call need to have access to the identity data.</p> <p>This API can be called with temporary user credentials provided by Cognito Identity or with developer credentials. You should use Cognito Identity credentials to make this API call.</p>",
      "errors" : [ {
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "error" : {
          "code" : "NotAuthorizedError",
          "httpStatusCode" : 403
        },
        "exception" : true,
        "fault" : false,
        "shape" : "NotAuthorizedException"
      }, {
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "error" : {
          "code" : "InvalidParameter",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidParameterException"
      }, {
        "documentation" : "Thrown if the resource doesn't exist.",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "Indicates an internal service error.",
        "error" : {
          "code" : "InternalError",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalErrorException"
      }, {
        "documentation" : "Thrown if the request is throttled.",
        "error" : {
          "code" : "TooManyRequests",
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : "A request for meta data about a dataset (creation date, number of records, size) by owner and dataset name.",
        "locationName" : null,
        "shape" : "DescribeDatasetRequest",
        "xmlNamespace" : null
      },
      "name" : "DescribeDataset",
      "output" : {
        "documentation" : "Response to a successful DescribeDataset request.",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeDatasetResponse"
      }
    },
    "DescribeIdentityPoolUsage" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets usage details (for example, data storage) about a particular identity pool.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "errors" : [ {
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "error" : {
          "code" : "NotAuthorizedError",
          "httpStatusCode" : 403
        },
        "exception" : true,
        "fault" : false,
        "shape" : "NotAuthorizedException"
      }, {
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "error" : {
          "code" : "InvalidParameter",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidParameterException"
      }, {
        "documentation" : "Thrown if the resource doesn't exist.",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "Indicates an internal service error.",
        "error" : {
          "code" : "InternalError",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalErrorException"
      }, {
        "documentation" : "Thrown if the request is throttled.",
        "error" : {
          "code" : "TooManyRequests",
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/identitypools/{IdentityPoolId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : "A request for usage information about the identity pool.",
        "locationName" : null,
        "shape" : "DescribeIdentityPoolUsageRequest",
        "xmlNamespace" : null
      },
      "name" : "DescribeIdentityPoolUsage",
      "output" : {
        "documentation" : "Response to a successful DescribeIdentityPoolUsage request.",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeIdentityPoolUsageResponse"
      }
    },
    "DescribeIdentityUsage" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets usage information for an identity, including number of datasets and data usage.</p> <p>This API can be called with temporary user credentials provided by Cognito Identity or with developer credentials.</p>",
      "errors" : [ {
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "error" : {
          "code" : "NotAuthorizedError",
          "httpStatusCode" : 403
        },
        "exception" : true,
        "fault" : false,
        "shape" : "NotAuthorizedException"
      }, {
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "error" : {
          "code" : "InvalidParameter",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidParameterException"
      }, {
        "documentation" : "Thrown if the resource doesn't exist.",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "Indicates an internal service error.",
        "error" : {
          "code" : "InternalError",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalErrorException"
      }, {
        "documentation" : "Thrown if the request is throttled.",
        "error" : {
          "code" : "TooManyRequests",
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/identitypools/{IdentityPoolId}/identities/{IdentityId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : "A request for information about the usage of an identity pool.",
        "locationName" : null,
        "shape" : "DescribeIdentityUsageRequest",
        "xmlNamespace" : null
      },
      "name" : "DescribeIdentityUsage",
      "output" : {
        "documentation" : "The response to a successful DescribeIdentityUsage request.",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeIdentityUsageResponse"
      }
    },
    "GetBulkPublishDetails" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Get the status of the last BulkPublish operation for an identity pool.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "errors" : [ {
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "error" : {
          "code" : "NotAuthorizedError",
          "httpStatusCode" : 403
        },
        "exception" : true,
        "fault" : false,
        "shape" : "NotAuthorizedException"
      }, {
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "error" : {
          "code" : "InvalidParameter",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidParameterException"
      }, {
        "documentation" : "Thrown if the resource doesn't exist.",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "Indicates an internal service error.",
        "error" : {
          "code" : "InternalError",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalErrorException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/identitypools/{IdentityPoolId}/getBulkPublishDetails",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : "The input for the GetBulkPublishDetails operation.",
        "locationName" : null,
        "shape" : "GetBulkPublishDetailsRequest",
        "xmlNamespace" : null
      },
      "name" : "GetBulkPublishDetails",
      "output" : {
        "documentation" : "The output for the GetBulkPublishDetails operation.",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetBulkPublishDetailsResponse"
      }
    },
    "GetCognitoEvents" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets the events and the corresponding Lambda functions associated with an identity pool.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "errors" : [ {
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "error" : {
          "code" : "InvalidParameter",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidParameterException"
      }, {
        "documentation" : "Thrown if the resource doesn't exist.",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "error" : {
          "code" : "NotAuthorizedError",
          "httpStatusCode" : 403
        },
        "exception" : true,
        "fault" : false,
        "shape" : "NotAuthorizedException"
      }, {
        "documentation" : "Indicates an internal service error.",
        "error" : {
          "code" : "InternalError",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalErrorException"
      }, {
        "documentation" : "Thrown if the request is throttled.",
        "error" : {
          "code" : "TooManyRequests",
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/identitypools/{IdentityPoolId}/events",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : "<p>A request for a list of the configured Cognito Events</p>",
        "locationName" : null,
        "shape" : "GetCognitoEventsRequest",
        "xmlNamespace" : null
      },
      "name" : "GetCognitoEvents",
      "output" : {
        "documentation" : "<p>The response from the GetCognitoEvents request</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetCognitoEventsResponse"
      }
    },
    "GetIdentityPoolConfiguration" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets the configuration settings of an identity pool.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "errors" : [ {
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "error" : {
          "code" : "NotAuthorizedError",
          "httpStatusCode" : 403
        },
        "exception" : true,
        "fault" : false,
        "shape" : "NotAuthorizedException"
      }, {
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "error" : {
          "code" : "InvalidParameter",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidParameterException"
      }, {
        "documentation" : "Thrown if the resource doesn't exist.",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "Indicates an internal service error.",
        "error" : {
          "code" : "InternalError",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalErrorException"
      }, {
        "documentation" : "Thrown if the request is throttled.",
        "error" : {
          "code" : "TooManyRequests",
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/identitypools/{IdentityPoolId}/configuration",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : "<p>The input for the GetIdentityPoolConfiguration operation.</p>",
        "locationName" : null,
        "shape" : "GetIdentityPoolConfigurationRequest",
        "xmlNamespace" : null
      },
      "name" : "GetIdentityPoolConfiguration",
      "output" : {
        "documentation" : "<p>The output for the GetIdentityPoolConfiguration operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetIdentityPoolConfigurationResponse"
      }
    },
    "ListDatasets" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Lists datasets for an identity. With Amazon Cognito Sync, each identity has access only to its own data. Thus, the credentials used to make this API call need to have access to the identity data.</p> <p>ListDatasets can be called with temporary user credentials provided by Cognito Identity or with developer credentials. You should use the Cognito Identity credentials to make this API call.</p>",
      "errors" : [ {
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "error" : {
          "code" : "NotAuthorizedError",
          "httpStatusCode" : 403
        },
        "exception" : true,
        "fault" : false,
        "shape" : "NotAuthorizedException"
      }, {
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "error" : {
          "code" : "InvalidParameter",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidParameterException"
      }, {
        "documentation" : "Indicates an internal service error.",
        "error" : {
          "code" : "InternalError",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalErrorException"
      }, {
        "documentation" : "Thrown if the request is throttled.",
        "error" : {
          "code" : "TooManyRequests",
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : "Request for a list of datasets for an identity.",
        "locationName" : null,
        "shape" : "ListDatasetsRequest",
        "xmlNamespace" : null
      },
      "name" : "ListDatasets",
      "output" : {
        "documentation" : "Returned for a successful ListDatasets request.",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListDatasetsResponse"
      }
    },
    "ListIdentityPoolUsage" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets a list of identity pools registered with Cognito.</p> <p>ListIdentityPoolUsage can only be called with developer credentials. You cannot make this API call with the temporary user credentials provided by Cognito Identity.</p>",
      "errors" : [ {
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "error" : {
          "code" : "NotAuthorizedError",
          "httpStatusCode" : 403
        },
        "exception" : true,
        "fault" : false,
        "shape" : "NotAuthorizedException"
      }, {
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "error" : {
          "code" : "InvalidParameter",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidParameterException"
      }, {
        "documentation" : "Indicates an internal service error.",
        "error" : {
          "code" : "InternalError",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalErrorException"
      }, {
        "documentation" : "Thrown if the request is throttled.",
        "error" : {
          "code" : "TooManyRequests",
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/identitypools",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : "A request for usage information on an identity pool.",
        "locationName" : null,
        "shape" : "ListIdentityPoolUsageRequest",
        "xmlNamespace" : null
      },
      "name" : "ListIdentityPoolUsage",
      "output" : {
        "documentation" : "Returned for a successful ListIdentityPoolUsage request.",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListIdentityPoolUsageResponse"
      }
    },
    "ListRecords" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets paginated records, optionally changed after a particular sync count for a dataset and identity. With Amazon Cognito Sync, each identity has access only to its own data. Thus, the credentials used to make this API call need to have access to the identity data.</p> <p>ListRecords can be called with temporary user credentials provided by Cognito Identity or with developer credentials. You should use Cognito Identity credentials to make this API call.</p>",
      "errors" : [ {
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "error" : {
          "code" : "InvalidParameter",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidParameterException"
      }, {
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "error" : {
          "code" : "NotAuthorizedError",
          "httpStatusCode" : 403
        },
        "exception" : true,
        "fault" : false,
        "shape" : "NotAuthorizedException"
      }, {
        "documentation" : "Thrown if the request is throttled.",
        "error" : {
          "code" : "TooManyRequests",
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      }, {
        "documentation" : "Indicates an internal service error.",
        "error" : {
          "code" : "InternalError",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalErrorException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/records",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : "A request for a list of records.",
        "locationName" : null,
        "shape" : "ListRecordsRequest",
        "xmlNamespace" : null
      },
      "name" : "ListRecords",
      "output" : {
        "documentation" : "Returned for a successful ListRecordsRequest.",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListRecordsResponse"
      }
    },
    "RegisterDevice" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Registers a device to receive push sync notifications.</p> <p>This API can only be called with temporary credentials provided by Cognito Identity. You cannot call this API with developer credentials.</p>",
      "errors" : [ {
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "error" : {
          "code" : "NotAuthorizedError",
          "httpStatusCode" : 403
        },
        "exception" : true,
        "fault" : false,
        "shape" : "NotAuthorizedException"
      }, {
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "error" : {
          "code" : "InvalidParameter",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidParameterException"
      }, {
        "documentation" : "Thrown if the resource doesn't exist.",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "Indicates an internal service error.",
        "error" : {
          "code" : "InternalError",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalErrorException"
      }, {
        "documentation" : null,
        "error" : {
          "code" : "InvalidConfiguration",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidConfigurationException"
      }, {
        "documentation" : "Thrown if the request is throttled.",
        "error" : {
          "code" : "TooManyRequests",
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/identitypools/{IdentityPoolId}/identity/{IdentityId}/device",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : "<p>A request to RegisterDevice.</p>",
        "locationName" : null,
        "shape" : "RegisterDeviceRequest",
        "xmlNamespace" : null
      },
      "name" : "RegisterDevice",
      "output" : {
        "documentation" : "<p>Response to a RegisterDevice request.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "RegisterDeviceResponse"
      }
    },
    "SetCognitoEvents" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Sets the AWS Lambda function for a given event type for an identity pool. This request only updates the key/value pair specified. Other key/values pairs are not updated. To remove a key value pair, pass a empty value for the particular key.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "errors" : [ {
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "error" : {
          "code" : "InvalidParameter",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidParameterException"
      }, {
        "documentation" : "Thrown if the resource doesn't exist.",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "error" : {
          "code" : "NotAuthorizedError",
          "httpStatusCode" : 403
        },
        "exception" : true,
        "fault" : false,
        "shape" : "NotAuthorizedException"
      }, {
        "documentation" : "Indicates an internal service error.",
        "error" : {
          "code" : "InternalError",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalErrorException"
      }, {
        "documentation" : "Thrown if the request is throttled.",
        "error" : {
          "code" : "TooManyRequests",
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/identitypools/{IdentityPoolId}/events",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : "<p>A request to configure Cognito Events\"</p>\"",
        "locationName" : null,
        "shape" : "SetCognitoEventsRequest",
        "xmlNamespace" : null
      },
      "name" : "SetCognitoEvents",
      "output" : null
    },
    "SetIdentityPoolConfiguration" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Sets the necessary configuration for push sync.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "errors" : [ {
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "error" : {
          "code" : "NotAuthorizedError",
          "httpStatusCode" : 403
        },
        "exception" : true,
        "fault" : false,
        "shape" : "NotAuthorizedException"
      }, {
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "error" : {
          "code" : "InvalidParameter",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidParameterException"
      }, {
        "documentation" : "Thrown if the resource doesn't exist.",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "Indicates an internal service error.",
        "error" : {
          "code" : "InternalError",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalErrorException"
      }, {
        "documentation" : "Thrown if the request is throttled.",
        "error" : {
          "code" : "TooManyRequests",
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      }, {
        "documentation" : "<p>Thrown if there are parallel requests to modify a resource.</p>",
        "error" : {
          "code" : "ConcurrentModification",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ConcurrentModificationException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/identitypools/{IdentityPoolId}/configuration",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : "<p>The input for the SetIdentityPoolConfiguration operation.</p>",
        "locationName" : null,
        "shape" : "SetIdentityPoolConfigurationRequest",
        "xmlNamespace" : null
      },
      "name" : "SetIdentityPoolConfiguration",
      "output" : {
        "documentation" : "<p>The output for the SetIdentityPoolConfiguration operation</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "SetIdentityPoolConfigurationResponse"
      }
    },
    "SubscribeToDataset" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Subscribes to receive notifications when a dataset is modified by another device.</p> <p>This API can only be called with temporary credentials provided by Cognito Identity. You cannot call this API with developer credentials.</p>",
      "errors" : [ {
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "error" : {
          "code" : "NotAuthorizedError",
          "httpStatusCode" : 403
        },
        "exception" : true,
        "fault" : false,
        "shape" : "NotAuthorizedException"
      }, {
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "error" : {
          "code" : "InvalidParameter",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidParameterException"
      }, {
        "documentation" : "Thrown if the resource doesn't exist.",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "Indicates an internal service error.",
        "error" : {
          "code" : "InternalError",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalErrorException"
      }, {
        "documentation" : null,
        "error" : {
          "code" : "InvalidConfiguration",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidConfigurationException"
      }, {
        "documentation" : "Thrown if the request is throttled.",
        "error" : {
          "code" : "TooManyRequests",
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/subscriptions/{DeviceId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : "<p>A request to SubscribeToDatasetRequest.</p>",
        "locationName" : null,
        "shape" : "SubscribeToDatasetRequest",
        "xmlNamespace" : null
      },
      "name" : "SubscribeToDataset",
      "output" : {
        "documentation" : "<p>Response to a SubscribeToDataset request.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "SubscribeToDatasetResponse"
      }
    },
    "UnsubscribeFromDataset" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Unsubscribes from receiving notifications when a dataset is modified by another device.</p> <p>This API can only be called with temporary credentials provided by Cognito Identity. You cannot call this API with developer credentials.</p>",
      "errors" : [ {
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "error" : {
          "code" : "NotAuthorizedError",
          "httpStatusCode" : 403
        },
        "exception" : true,
        "fault" : false,
        "shape" : "NotAuthorizedException"
      }, {
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "error" : {
          "code" : "InvalidParameter",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidParameterException"
      }, {
        "documentation" : "Thrown if the resource doesn't exist.",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "Indicates an internal service error.",
        "error" : {
          "code" : "InternalError",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalErrorException"
      }, {
        "documentation" : null,
        "error" : {
          "code" : "InvalidConfiguration",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidConfigurationException"
      }, {
        "documentation" : "Thrown if the request is throttled.",
        "error" : {
          "code" : "TooManyRequests",
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/subscriptions/{DeviceId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : "<p>A request to UnsubscribeFromDataset.</p>",
        "locationName" : null,
        "shape" : "UnsubscribeFromDatasetRequest",
        "xmlNamespace" : null
      },
      "name" : "UnsubscribeFromDataset",
      "output" : {
        "documentation" : "<p>Response to an UnsubscribeFromDataset request.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UnsubscribeFromDatasetResponse"
      }
    },
    "UpdateRecords" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Posts updates to records and adds and deletes records for a dataset and user.</p> <p>The sync count in the record patch is your last known sync count for that record. The server will reject an UpdateRecords request with a ResourceConflictException if you try to patch a record with a new value but a stale sync count.</p> <p>For example, if the sync count on the server is 5 for a key called highScore and you try and submit a new highScore with sync count of 4, the request will be rejected. To obtain the current sync count for a record, call ListRecords. On a successful update of the record, the response returns the new sync count for that record. You should present that sync count the next time you try to update that same record. When the record does not exist, specify the sync count as 0.</p> <p>This API can be called with temporary user credentials provided by Cognito Identity or with developer credentials.</p>",
      "errors" : [ {
        "documentation" : "Thrown when a request parameter does not comply with the associated constraints.",
        "error" : {
          "code" : "InvalidParameter",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidParameterException"
      }, {
        "documentation" : "Thrown when the limit on the number of objects or operations has been exceeded.",
        "error" : {
          "code" : "LimitExceeded",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : "Thrown when a user is not authorized to access the requested resource.",
        "error" : {
          "code" : "NotAuthorizedError",
          "httpStatusCode" : 403
        },
        "exception" : true,
        "fault" : false,
        "shape" : "NotAuthorizedException"
      }, {
        "documentation" : "Thrown if the resource doesn't exist.",
        "error" : {
          "code" : "ResourceNotFound",
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "Thrown if an update can't be applied because the resource was changed by another call and this would result in a conflict.",
        "error" : {
          "code" : "ResourceConflict",
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceConflictException"
      }, {
        "documentation" : "<p>The AWS Lambda function returned invalid output or an exception.</p>",
        "error" : {
          "code" : "InvalidLambdaFunctionOutput",
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidLambdaFunctionOutputException"
      }, {
        "documentation" : "<p>AWS Lambda throttled your account, please contact AWS Support</p>",
        "error" : {
          "code" : "LambdaThrottled",
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "LambdaThrottledException"
      }, {
        "documentation" : "Thrown if the request is throttled.",
        "error" : {
          "code" : "TooManyRequests",
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "TooManyRequestsException"
      }, {
        "documentation" : "Indicates an internal service error.",
        "error" : {
          "code" : "InternalError",
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalErrorException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : "A request to post updates to records or add and delete records for a dataset and user.",
        "locationName" : null,
        "shape" : "UpdateRecordsRequest",
        "xmlNamespace" : null
      },
      "name" : "UpdateRecords",
      "output" : {
        "documentation" : "Returned for a successful UpdateRecordsRequest.",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateRecordsResponse"
      }
    }
  },
  "shapes" : {
    "AlreadyStreamedException" : {
      "deprecated" : false,
      "documentation" : "An exception thrown when a bulk publish operation is requested less than 24 hours after a previous bulk publish operation completed successfully.",
      "enum" : null,
      "error" : {
        "code" : "AlreadyStreamed",
        "httpStatusCode" : 400
      },
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "The message associated with the AlreadyStreamedException exception.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ExceptionMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "message" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ApplicationArn" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : "arn:aws:sns:[-0-9a-z]+:\\d+:app/[A-Z_]+/[a-zA-Z0-9_.-]+",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ApplicationArnList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "ApplicationArn",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "AssumeRoleArn" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 2048,
      "member" : null,
      "members" : { },
      "min" : 20,
      "pattern" : "arn:aws:iam::\\d+:role/.*",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "Boolean" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "boolean",
      "value" : null,
      "wrapper" : false
    },
    "BulkPublishRequest" : {
      "deprecated" : false,
      "documentation" : "The input for the BulkPublish operation.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "IdentityPoolId" : {
          "deprecated" : false,
          "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "IdentityPoolId",
          "payload" : false,
          "queryName" : null,
          "shape" : "IdentityPoolId",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "IdentityPoolId" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "BulkPublishResponse" : {
      "deprecated" : false,
      "documentation" : "The output for the BulkPublish operation.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "IdentityPoolId" : {
          "deprecated" : false,
          "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "IdentityPoolId",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "BulkPublishStatus" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : [ "NOT_STARTED", "IN_PROGRESS", "FAILED", "SUCCEEDED" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ClientContext" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "CognitoEventType" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "CognitoStreams" : {
      "deprecated" : false,
      "documentation" : "Configuration options for configure Cognito streams.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "RoleArn" : {
          "deprecated" : false,
          "documentation" : "The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "AssumeRoleArn",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "StreamName" : {
          "deprecated" : false,
          "documentation" : "The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "StreamName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "StreamingStatus" : {
          "deprecated" : false,
          "documentation" : "Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "StreamingStatus",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ConcurrentModificationException" : {
      "deprecated" : false,
      "documentation" : "<p>Thrown if there are parallel requests to modify a resource.</p>",
      "enum" : null,
      "error" : {
        "code" : "ConcurrentModification",
        "httpStatusCode" : 400
      },
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "<p>The message returned by a ConcurrentModicationException.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "String",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "message" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "Dataset" : {
      "deprecated" : false,
      "documentation" : "A collection of data for an identity pool. An identity pool can have multiple datasets. A dataset is per identity and can be general or associated with a particular entity in an application (like a saved game). Datasets are automatically created if they don't exist. Data is synced by dataset, and a dataset can hold up to 1MB of key-value pairs.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "CreationDate" : {
          "deprecated" : false,
          "documentation" : "Date on which the dataset was created.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Date",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DataStorage" : {
          "deprecated" : false,
          "documentation" : "Total size in bytes of the records in this dataset.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Long",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DatasetName" : {
          "deprecated" : false,
          "documentation" : "A string of up to 128 characters. Allowed characters are a-z, A-Z, 0-9, '_' (underscore), '-' (dash), and '.' (dot).",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DatasetName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "IdentityId" : {
          "deprecated" : false,
          "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "IdentityId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LastModifiedBy" : {
          "deprecated" : false,
          "documentation" : "The device that made the last change to this dataset.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "String",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LastModifiedDate" : {
          "deprecated" : false,
          "documentation" : "Date when the dataset was last modified.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Date",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "NumRecords" : {
          "deprecated" : false,
          "documentation" : "Number of records in this dataset.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Long",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DatasetList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "Dataset",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "DatasetName" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 128,
      "member" : null,
      "members" : { },
      "min" : 1,
      "pattern" : "[a-zA-Z0-9_.:-]+",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "Date" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "timestamp",
      "value" : null,
      "wrapper" : false
    },
    "DeleteDatasetRequest" : {
      "deprecated" : false,
      "documentation" : "A request to delete the specific dataset.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DatasetName" : {
          "deprecated" : false,
          "documentation" : "A string of up to 128 characters. Allowed characters are a-z, A-Z, 0-9, '_' (underscore), '-' (dash), and '.' (dot).",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "DatasetName",
          "payload" : false,
          "queryName" : null,
          "shape" : "DatasetName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "IdentityId" : {
          "deprecated" : false,
          "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "IdentityId",
          "payload" : false,
          "queryName" : null,
          "shape" : "IdentityId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "IdentityPoolId" : {
          "deprecated" : false,
          "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "IdentityPoolId",
          "payload" : false,
          "queryName" : null,
          "shape" : "IdentityPoolId",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "IdentityPoolId", "IdentityId", "DatasetName" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DeleteDatasetResponse" : {
      "deprecated" : false,
      "documentation" : "Response to a successful DeleteDataset request.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Dataset" : {
          "deprecated" : false,
          "documentation" : "A collection of data for an identity pool. An identity pool can have multiple datasets. A dataset is per identity and can be general or associated with a particular entity in an application (like a saved game). Datasets are automatically created if they don't exist. Data is synced by dataset, and a dataset can hold up to 1MB of key-value pairs.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Dataset",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DescribeDatasetRequest" : {
      "deprecated" : false,
      "documentation" : "A request for meta data about a dataset (creation date, number of records, size) by owner and dataset name.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DatasetName" : {
          "deprecated" : false,
          "documentation" : "A string of up to 128 characters. Allowed characters are a-z, A-Z, 0-9, '_' (underscore), '-' (dash), and '.' (dot).",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "DatasetName",
          "payload" : false,
          "queryName" : null,
          "shape" : "DatasetName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "IdentityId" : {
          "deprecated" : false,
          "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "IdentityId",
          "payload" : false,
          "queryName" : null,
          "shape" : "IdentityId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "IdentityPoolId" : {
          "deprecated" : false,
          "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "IdentityPoolId",
          "payload" : false,
          "queryName" : null,
          "shape" : "IdentityPoolId",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "IdentityPoolId", "IdentityId", "DatasetName" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DescribeDatasetResponse" : {
      "deprecated" : false,
      "documentation" : "Response to a successful DescribeDataset request.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Dataset" : {
          "deprecated" : false,
          "documentation" : "Meta data for a collection of data for an identity. An identity can have multiple datasets. A dataset can be general or associated with a particular entity in an application (like a saved game). Datasets are automatically created if they don't exist. Data is synced by dataset, and a dataset can hold up to 1MB of key-value pairs.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Dataset",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DescribeIdentityPoolUsageRequest" : {
      "deprecated" : false,
      "documentation" : "A request for usage information about the identity pool.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "IdentityPoolId" : {
          "deprecated" : false,
          "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "IdentityPoolId",
          "payload" : false,
          "queryName" : null,
          "shape" : "IdentityPoolId",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "IdentityPoolId" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DescribeIdentityPoolUsageResponse" : {
      "deprecated" : false,
      "documentation" : "Response to a successful DescribeIdentityPoolUsage request.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "IdentityPoolUsage" : {
          "deprecated" : false,
          "documentation" : "Information about the usage of the identity pool.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "IdentityPoolUsage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DescribeIdentityUsageRequest" : {
      "deprecated" : false,
      "documentation" : "A request for information about the usage of an identity pool.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "IdentityId" : {
          "deprecated" : false,
          "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "IdentityId",
          "payload" : false,
          "queryName" : null,
          "shape" : "IdentityId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "IdentityPoolId" : {
          "deprecated" : false,
          "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "IdentityPoolId",
          "payload" : false,
          "queryName" : null,
          "shape" : "IdentityPoolId",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "IdentityPoolId", "IdentityId" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DescribeIdentityUsageResponse" : {
      "deprecated" : false,
      "documentation" : "The response to a successful DescribeIdentityUsage request.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "IdentityUsage" : {
          "deprecated" : false,
          "documentation" : "Usage information for the identity.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "IdentityUsage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DeviceId" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 256,
      "member" : null,
      "members" : { },
      "min" : 1,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "DuplicateRequestException" : {
      "deprecated" : false,
      "documentation" : "An exception thrown when there is an IN_PROGRESS bulk publish operation for the given identity pool.",
      "enum" : null,
      "error" : {
        "code" : "DuplicateRequest",
        "httpStatusCode" : 400
      },
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "The message associated with the DuplicateRequestException exception.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ExceptionMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "message" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "Events" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "CognitoEventType",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "max" : 1,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "map",
      "value" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "LambdaFunctionArn",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "wrapper" : false
    },
    "ExceptionMessage" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "GetBulkPublishDetailsRequest" : {
      "deprecated" : false,
      "documentation" : "The input for the GetBulkPublishDetails operation.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "IdentityPoolId" : {
          "deprecated" : false,
          "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "IdentityPoolId",
          "payload" : false,
          "queryName" : null,
          "shape" : "IdentityPoolId",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "IdentityPoolId" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "GetBulkPublishDetailsResponse" : {
      "deprecated" : false,
      "documentation" : "The output for the GetBulkPublishDetails operation.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "BulkPublishCompleteTime" : {
          "deprecated" : false,
          "documentation" : "If BulkPublishStatus is SUCCEEDED, the time the last bulk publish operation completed.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Date",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "BulkPublishStartTime" : {
          "deprecated" : false,
          "documentation" : "The date/time at which the last bulk publish was initiated.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Date",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "BulkPublishStatus" : {
          "deprecated" : false,
          "documentation" : "Status of the last bulk publish operation, valid values are: <p>NOT_STARTED - No bulk publish has been requested for this identity pool</p> <p>IN_PROGRESS - Data is being published to the configured stream</p> <p>SUCCEEDED - All data for the identity pool has been published to the configured stream</p> <p>FAILED - Some portion of the data has failed to publish, check FailureMessage for the cause.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "BulkPublishStatus",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "FailureMessage" : {
          "deprecated" : false,
          "documentation" : "If BulkPublishStatus is FAILED this field will contain the error message that caused the bulk publish to fail.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "String",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "IdentityPoolId" : {
          "deprecated" : false,
          "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "IdentityPoolId",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "GetCognitoEventsRequest" : {
      "deprecated" : false,
      "documentation" : "<p>A request for a list of the configured Cognito Events</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "IdentityPoolId" : {
          "deprecated" : false,
          "documentation" : "<p>The Cognito Identity Pool ID for the request</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "IdentityPoolId",
          "payload" : false,
          "queryName" : null,
          "shape" : "IdentityPoolId",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "IdentityPoolId" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "GetCognitoEventsResponse" : {
      "deprecated" : false,
      "documentation" : "<p>The response from the GetCognitoEvents request</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Events" : {
          "deprecated" : false,
          "documentation" : "<p>The Cognito Events returned from the GetCognitoEvents request</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Events",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "GetIdentityPoolConfigurationRequest" : {
      "deprecated" : false,
      "documentation" : "<p>The input for the GetIdentityPoolConfiguration operation.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "IdentityPoolId" : {
          "deprecated" : false,
          "documentation" : "<p>A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. This is the ID of the pool for which to return a configuration.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "IdentityPoolId",
          "payload" : false,
          "queryName" : null,
          "shape" : "IdentityPoolId",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "IdentityPoolId" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "GetIdentityPoolConfigurationResponse" : {
      "deprecated" : false,
      "documentation" : "<p>The output for the GetIdentityPoolConfiguration operation.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "CognitoStreams" : {
          "deprecated" : false,
          "documentation" : "Options to apply to this identity pool for Amazon Cognito streams.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "CognitoStreams",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "IdentityPoolId" : {
          "deprecated" : false,
          "documentation" : "<p>A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "IdentityPoolId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "PushSync" : {
          "deprecated" : false,
          "documentation" : "<p>Options to apply to this identity pool for push synchronization.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "PushSync",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "IdentityId" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 55,
      "member" : null,
      "members" : { },
      "min" : 1,
      "pattern" : "[\\w-]+:[0-9a-f-]+",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "IdentityPoolId" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 55,
      "member" : null,
      "members" : { },
      "min" : 1,
      "pattern" : "[\\w-]+:[0-9a-f-]+",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "IdentityPoolUsage" : {
      "deprecated" : false,
      "documentation" : "Usage information for the identity pool.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DataStorage" : {
          "deprecated" : false,
          "documentation" : "Data storage information for the identity pool.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Long",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "IdentityPoolId" : {
          "deprecated" : false,
          "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "IdentityPoolId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LastModifiedDate" : {
          "deprecated" : false,
          "documentation" : "Date on which the identity pool was last modified.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Date",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "SyncSessionsCount" : {
          "deprecated" : false,
          "documentation" : "Number of sync sessions for the identity pool.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Long",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "IdentityPoolUsageList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "IdentityPoolUsage",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "IdentityUsage" : {
      "deprecated" : false,
      "documentation" : "Usage information for the identity.",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DataStorage" : {
          "deprecated" : false,
          "documentation" : "Total data storage for this identity.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Long",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DatasetCount" : {
          "deprecated" : false,
          "documentation" : "Number of datasets for the identity.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Integer",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "IdentityId" : {
          "deprecated" : false,
          "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "IdentityId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "IdentityPoolId" : {
          "deprecated" : false,
          "documentation" : "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "IdentityPoolId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LastModifiedDate" : {
          "deprecated" : false,
          "documentation" : "Date on which the identity was last modified.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Date",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "Integer" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "integer",
      "value" : null,
      "wrapper" : false
    },
    "IntegerString" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "integer",
      "value" : null,
      "wrapper" : false
    },
    "InternalErrorException" : {
      "deprecated" : false,
      "documentation" : "Indicates an internal service error.",
      "enum" : null,
      "error" : {
        "code" : "InternalError",
        "httpStatusCode" : 500
      },
      "exception" : true,
      "fault" : true,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "Message returned by InternalErrorException.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ExceptionMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "message" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "InvalidConfigurationException" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : {
        "code" : "InvalidConfiguration",
        "httpStatusCode" : 400
      },
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "Message returned by InvalidConfigurationException.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ExceptionMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "message" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "InvalidLambdaFunctionOutputException" : {
      "deprecated" : false,
      "documentation" : "<p>The AWS Lambda function returned invalid output or an exception.</p>",
      "enum" : null,
      "error" : {
        "code" : "InvalidLambdaFunctionOutput",
        "httpStatusCode" : 400
      },
[...]
