{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "MappingRule" : [ "MatchType" ],
      "RoleMapping" : [ "Type", "AmbiguousRoleResolution" ],
      "UnprocessedIdentityId" : [ "ErrorCode" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2014-06-30",
    "asyncClient" : "AmazonCognitoIdentityAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCognitoIdentityAsyncClientBuilder",
    "asyncInterface" : "AmazonCognitoIdentityAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonCognitoIdentityModuleInjector",
    "defaultEndpoint" : "https://cognito-identity.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "cognito-identity.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon Cognito Federated Identities</fullname> <p>Amazon Cognito Federated Identities is a web service that delivers scoped temporary credentials to mobile devices and other untrusted environments. It uniquely identifies a device and supplies the user with a consistent identity over the lifetime of an application.</p> <p>Using Amazon Cognito Federated Identities, you can enable authentication with one or more third-party identity providers (Facebook, Google, or Login with Amazon) or an Amazon Cognito user pool, and you can also choose to support unauthenticated access from your app. Cognito delivers a unique identifier for each user and acts as an OpenID token provider trusted by AWS Security Token Service (STS) to access temporary, limited-privilege AWS credentials.</p> <p>For a description of the authentication flow from the Amazon Cognito Developer Guide see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/authentication-flow.html\">Authentication Flow</a>.</p> <p>For more information see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-identity.html\">Amazon Cognito Federated Identities</a>.</p>",
    "endpointPrefix" : "cognito-identity",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.cognitoidentity",
    "packagePath" : "com/amazonaws/services/cognitoidentity",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Cognito Identity",
    "serviceId" : "Cognito Identity",
    "serviceName" : "Amazon Cognito Identity",
    "signingName" : "cognito-identity",
    "smokeTestsPackageName" : "com.amazonaws.services.cognitoidentity.smoketests",
    "syncClient" : "AmazonCognitoIdentityClient",
    "syncClientBuilderClassName" : "AmazonCognitoIdentityClientBuilder",
    "syncInterface" : "AmazonCognitoIdentity",
    "uid" : "cognito-identity-2014-06-30",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateIdentityPool" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateIdentityPoolResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateIdentityPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateIdentityPoolRequest, CreateIdentityPoolResult>",
      "asyncReturnType" : "CreateIdentityPoolResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new identity pool. The identity pool is a store of user identity information that is specific to your AWS account. The limit on identity pools is 60 per account. The keys for <code>SupportedLoginProviders</code> are as follows:</p> <ul> <li> <p>Facebook: <code>graph.facebook.com</code> </p> </li> <li> <p>Google: <code>accounts.google.com</code> </p> </li> <li> <p>Amazon: <code>www.amazon.com</code> </p> </li> <li> <p>Twitter: <code>api.twitter.com</code> </p> </li> <li> <p>Digits: <code>www.digits.com</code> </p> </li> </ul> <p>You must use AWS Developer credentials to call this API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>Thrown when a user is not authorized to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>Thrown when a user tries to use a login which is already linked to another account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Thrown when the total number of user pools has exceeded a preset limit.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateIdentityPoolRequest",
        "variableName" : "createIdentityPoolRequest",
        "variableType" : "CreateIdentityPoolRequest",
        "documentation" : "<p>Input to the CreateIdentityPool action.</p>",
        "simpleType" : "CreateIdentityPoolRequest",
        "variableSetterType" : "CreateIdentityPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createIdentityPool",
      "operationName" : "CreateIdentityPool",
      "returnType" : {
        "returnType" : "CreateIdentityPoolResult",
        "documentation" : "<p>An object representing an Amazon Cognito identity pool.</p>"
      },
      "syncReturnType" : "CreateIdentityPoolResult"
    },
    "DeleteIdentities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIdentitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIdentitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIdentitiesRequest, DeleteIdentitiesResult>",
      "asyncReturnType" : "DeleteIdentitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes identities from an identity pool. You can specify a list of 1-60 identities that you want to delete.</p> <p>You must use AWS Developer credentials to call this API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteIdentitiesRequest",
        "variableName" : "deleteIdentitiesRequest",
        "variableType" : "DeleteIdentitiesRequest",
        "documentation" : "<p>Input to the <code>DeleteIdentities</code> action.</p>",
        "simpleType" : "DeleteIdentitiesRequest",
        "variableSetterType" : "DeleteIdentitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIdentities",
      "operationName" : "DeleteIdentities",
      "returnType" : {
        "returnType" : "DeleteIdentitiesResult",
        "documentation" : "<p>Returned in response to a successful <code>DeleteIdentities</code> operation.</p>"
      },
      "syncReturnType" : "DeleteIdentitiesResult"
    },
    "DeleteIdentityPool" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIdentityPoolResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIdentityPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIdentityPoolRequest, DeleteIdentityPoolResult>",
      "asyncReturnType" : "DeleteIdentityPoolResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an identity pool. Once a pool is deleted, users will not be able to authenticate with the pool.</p> <p>You must use AWS Developer credentials to call this API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when the requested resource (for example, a dataset or record) does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>Thrown when a user is not authorized to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteIdentityPoolRequest",
        "variableName" : "deleteIdentityPoolRequest",
        "variableType" : "DeleteIdentityPoolRequest",
        "documentation" : "<p>Input to the DeleteIdentityPool action.</p>",
        "simpleType" : "DeleteIdentityPoolRequest",
        "variableSetterType" : "DeleteIdentityPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIdentityPool",
      "operationName" : "DeleteIdentityPool",
      "returnType" : {
        "returnType" : "DeleteIdentityPoolResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteIdentityPoolResult"
    },
    "DescribeIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeIdentityRequest, DescribeIdentityResult>",
      "asyncReturnType" : "DescribeIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata related to the given identity, including when the identity was created and any associated linked logins.</p> <p>You must use AWS Developer credentials to call this API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when the requested resource (for example, a dataset or record) does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>Thrown when a user is not authorized to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeIdentityRequest",
        "variableName" : "describeIdentityRequest",
        "variableType" : "DescribeIdentityRequest",
        "documentation" : "<p>Input to the <code>DescribeIdentity</code> action.</p>",
        "simpleType" : "DescribeIdentityRequest",
        "variableSetterType" : "DescribeIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeIdentity",
      "operationName" : "DescribeIdentity",
      "returnType" : {
        "returnType" : "DescribeIdentityResult",
        "documentation" : "<p>A description of the identity.</p>"
      },
      "syncReturnType" : "DescribeIdentityResult"
    },
    "DescribeIdentityPool" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeIdentityPoolResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeIdentityPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeIdentityPoolRequest, DescribeIdentityPoolResult>",
      "asyncReturnType" : "DescribeIdentityPoolResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets details about a particular identity pool, including the pool name, ID description, creation date, and current number of users.</p> <p>You must use AWS Developer credentials to call this API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when the requested resource (for example, a dataset or record) does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>Thrown when a user is not authorized to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeIdentityPoolRequest",
        "variableName" : "describeIdentityPoolRequest",
        "variableType" : "DescribeIdentityPoolRequest",
        "documentation" : "<p>Input to the DescribeIdentityPool action.</p>",
        "simpleType" : "DescribeIdentityPoolRequest",
        "variableSetterType" : "DescribeIdentityPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeIdentityPool",
      "operationName" : "DescribeIdentityPool",
      "returnType" : {
        "returnType" : "DescribeIdentityPoolResult",
        "documentation" : "<p>An object representing an Amazon Cognito identity pool.</p>"
      },
      "syncReturnType" : "DescribeIdentityPoolResult"
    },
    "GetCredentialsForIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCredentialsForIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCredentialsForIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCredentialsForIdentityRequest, GetCredentialsForIdentityResult>",
      "asyncReturnType" : "GetCredentialsForIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns credentials for the provided identity ID. Any provided logins will be validated against supported login providers. If the token is for cognito-identity.amazonaws.com, it will be passed through to AWS Security Token Service with the appropriate role for the token.</p> <p>This is a public API. You do not need any credentials to call this API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when the requested resource (for example, a dataset or record) does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>Thrown when a user is not authorized to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>Thrown when a user tries to use a login which is already linked to another account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidIdentityPoolConfigurationException",
        "documentation" : "<p>Thrown if the identity pool has no role associated for the given auth type (auth/unauth) or if the AssumeRole fails.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExternalServiceException",
        "documentation" : "<p>An exception thrown when a dependent service such as Facebook or Twitter is not responding</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCredentialsForIdentityRequest",
        "variableName" : "getCredentialsForIdentityRequest",
        "variableType" : "GetCredentialsForIdentityRequest",
        "documentation" : "<p>Input to the <code>GetCredentialsForIdentity</code> action.</p>",
        "simpleType" : "GetCredentialsForIdentityRequest",
        "variableSetterType" : "GetCredentialsForIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCredentialsForIdentity",
      "operationName" : "GetCredentialsForIdentity",
      "returnType" : {
        "returnType" : "GetCredentialsForIdentityResult",
        "documentation" : "<p>Returned in response to a successful <code>GetCredentialsForIdentity</code> operation.</p>"
      },
      "syncReturnType" : "GetCredentialsForIdentityResult"
    },
    "GetId" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIdResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIdResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIdRequest, GetIdResult>",
      "asyncReturnType" : "GetIdResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates (or retrieves) a Cognito ID. Supplying multiple logins will create an implicit linked account.</p> <p>This is a public API. You do not need any credentials to call this API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when the requested resource (for example, a dataset or record) does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>Thrown when a user is not authorized to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>Thrown when a user tries to use a login which is already linked to another account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Thrown when the total number of user pools has exceeded a preset limit.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExternalServiceException",
        "documentation" : "<p>An exception thrown when a dependent service such as Facebook or Twitter is not responding</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIdRequest",
        "variableName" : "getIdRequest",
        "variableType" : "GetIdRequest",
        "documentation" : "<p>Input to the GetId action.</p>",
        "simpleType" : "GetIdRequest",
        "variableSetterType" : "GetIdRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getId",
      "operationName" : "GetId",
      "returnType" : {
        "returnType" : "GetIdResult",
        "documentation" : "<p>Returned in response to a GetId request.</p>"
      },
      "syncReturnType" : "GetIdResult"
    },
    "GetIdentityPoolRoles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIdentityPoolRolesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIdentityPoolRolesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIdentityPoolRolesRequest, GetIdentityPoolRolesResult>",
      "asyncReturnType" : "GetIdentityPoolRolesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the roles for an identity pool.</p> <p>You must use AWS Developer credentials to call this API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when the requested resource (for example, a dataset or record) does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>Thrown when a user is not authorized to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>Thrown when a user tries to use a login which is already linked to another account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIdentityPoolRolesRequest",
        "variableName" : "getIdentityPoolRolesRequest",
        "variableType" : "GetIdentityPoolRolesRequest",
        "documentation" : "<p>Input to the <code>GetIdentityPoolRoles</code> action.</p>",
        "simpleType" : "GetIdentityPoolRolesRequest",
        "variableSetterType" : "GetIdentityPoolRolesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIdentityPoolRoles",
      "operationName" : "GetIdentityPoolRoles",
      "returnType" : {
        "returnType" : "GetIdentityPoolRolesResult",
        "documentation" : "<p>Returned in response to a successful <code>GetIdentityPoolRoles</code> operation.</p>"
      },
      "syncReturnType" : "GetIdentityPoolRolesResult"
    },
    "GetOpenIdToken" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOpenIdTokenResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOpenIdTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOpenIdTokenRequest, GetOpenIdTokenResult>",
      "asyncReturnType" : "GetOpenIdTokenResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets an OpenID token, using a known Cognito ID. This known Cognito ID is returned by <a>GetId</a>. You can optionally add additional logins for the identity. Supplying multiple logins creates an implicit link.</p> <p>The OpenId token is valid for 10 minutes.</p> <p>This is a public API. You do not need any credentials to call this API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when the requested resource (for example, a dataset or record) does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>Thrown when a user is not authorized to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>Thrown when a user tries to use a login which is already linked to another account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExternalServiceException",
        "documentation" : "<p>An exception thrown when a dependent service such as Facebook or Twitter is not responding</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetOpenIdTokenRequest",
        "variableName" : "getOpenIdTokenRequest",
        "variableType" : "GetOpenIdTokenRequest",
        "documentation" : "<p>Input to the GetOpenIdToken action.</p>",
        "simpleType" : "GetOpenIdTokenRequest",
        "variableSetterType" : "GetOpenIdTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOpenIdToken",
      "operationName" : "GetOpenIdToken",
      "returnType" : {
        "returnType" : "GetOpenIdTokenResult",
        "documentation" : "<p>Returned in response to a successful GetOpenIdToken request.</p>"
      },
      "syncReturnType" : "GetOpenIdTokenResult"
    },
    "GetOpenIdTokenForDeveloperIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOpenIdTokenForDeveloperIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOpenIdTokenForDeveloperIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOpenIdTokenForDeveloperIdentityRequest, GetOpenIdTokenForDeveloperIdentityResult>",
      "asyncReturnType" : "GetOpenIdTokenForDeveloperIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers (or retrieves) a Cognito <code>IdentityId</code> and an OpenID Connect token for a user authenticated by your backend authentication process. Supplying multiple logins will create an implicit linked account. You can only specify one developer provider as part of the <code>Logins</code> map, which is linked to the identity pool. The developer provider is the \"domain\" by which Cognito will refer to your users.</p> <p>You can use <code>GetOpenIdTokenForDeveloperIdentity</code> to create a new identity and to link new logins (that is, user credentials issued by a public provider or developer provider) to an existing identity. When you want to create a new identity, the <code>IdentityId</code> should be null. When you want to associate a new login with an existing authenticated/unauthenticated identity, you can do so by providing the existing <code>IdentityId</code>. This API will create the identity in the specified <code>IdentityPoolId</code>.</p> <p>You must use AWS Developer credentials to call this API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when the requested resource (for example, a dataset or record) does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>Thrown when a user is not authorized to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>Thrown when a user tries to use a login which is already linked to another account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DeveloperUserAlreadyRegisteredException",
        "documentation" : "<p>The provided developer user identifier is already registered with Cognito under a different identity ID.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetOpenIdTokenForDeveloperIdentityRequest",
        "variableName" : "getOpenIdTokenForDeveloperIdentityRequest",
        "variableType" : "GetOpenIdTokenForDeveloperIdentityRequest",
        "documentation" : "<p>Input to the <code>GetOpenIdTokenForDeveloperIdentity</code> action.</p>",
        "simpleType" : "GetOpenIdTokenForDeveloperIdentityRequest",
        "variableSetterType" : "GetOpenIdTokenForDeveloperIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOpenIdTokenForDeveloperIdentity",
      "operationName" : "GetOpenIdTokenForDeveloperIdentity",
      "returnType" : {
        "returnType" : "GetOpenIdTokenForDeveloperIdentityResult",
        "documentation" : "<p>Returned in response to a successful <code>GetOpenIdTokenForDeveloperIdentity</code> request.</p>"
      },
      "syncReturnType" : "GetOpenIdTokenForDeveloperIdentityResult"
    },
    "ListIdentities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIdentitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIdentitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIdentitiesRequest, ListIdentitiesResult>",
      "asyncReturnType" : "ListIdentitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the identities in an identity pool.</p> <p>You must use AWS Developer credentials to call this API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when the requested resource (for example, a dataset or record) does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>Thrown when a user is not authorized to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIdentitiesRequest",
        "variableName" : "listIdentitiesRequest",
        "variableType" : "ListIdentitiesRequest",
        "documentation" : "<p>Input to the ListIdentities action.</p>",
        "simpleType" : "ListIdentitiesRequest",
        "variableSetterType" : "ListIdentitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIdentities",
      "operationName" : "ListIdentities",
      "returnType" : {
        "returnType" : "ListIdentitiesResult",
        "documentation" : "<p>The response to a ListIdentities request.</p>"
      },
      "syncReturnType" : "ListIdentitiesResult"
    },
    "ListIdentityPools" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIdentityPoolsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIdentityPoolsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIdentityPoolsRequest, ListIdentityPoolsResult>",
      "asyncReturnType" : "ListIdentityPoolsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the Cognito identity pools registered for your account.</p> <p>You must use AWS Developer credentials to call this API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>Thrown when a user is not authorized to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when the requested resource (for example, a dataset or record) does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIdentityPoolsRequest",
        "variableName" : "listIdentityPoolsRequest",
        "variableType" : "ListIdentityPoolsRequest",
        "documentation" : "<p>Input to the ListIdentityPools action.</p>",
        "simpleType" : "ListIdentityPoolsRequest",
        "variableSetterType" : "ListIdentityPoolsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIdentityPools",
      "operationName" : "ListIdentityPools",
      "returnType" : {
        "returnType" : "ListIdentityPoolsResult",
        "documentation" : "<p>The result of a successful ListIdentityPools action.</p>"
      },
      "syncReturnType" : "ListIdentityPoolsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags that are assigned to an Amazon Cognito identity pool.</p> <p>A tag is a label that you can apply to identity pools to categorize and manage them in different ways, such as by purpose, owner, environment, or other criteria.</p> <p>You can use this action up to 10 times per second, per account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when the requested resource (for example, a dataset or record) does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>Thrown when a user is not authorized to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "LookupDeveloperIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<LookupDeveloperIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<LookupDeveloperIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<LookupDeveloperIdentityRequest, LookupDeveloperIdentityResult>",
      "asyncReturnType" : "LookupDeveloperIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the <code>IdentityID</code> associated with a <code>DeveloperUserIdentifier</code> or the list of <code>DeveloperUserIdentifier</code> values associated with an <code>IdentityId</code> for an existing identity. Either <code>IdentityID</code> or <code>DeveloperUserIdentifier</code> must not be null. If you supply only one of these values, the other value will be searched in the database and returned as a part of the response. If you supply both, <code>DeveloperUserIdentifier</code> will be matched against <code>IdentityID</code>. If the values are verified against the database, the response returns both values and is the same as the request. Otherwise a <code>ResourceConflictException</code> is thrown.</p> <p> <code>LookupDeveloperIdentity</code> is intended for low-throughput control plane operations: for example, to enable customer service to locate an identity ID by username. If you are using it for higher-volume operations such as user authentication, your requests are likely to be throttled. <a>GetOpenIdTokenForDeveloperIdentity</a> is a better option for higher-volume operations for user authentication.</p> <p>You must use AWS Developer credentials to call this API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when the requested resource (for example, a dataset or record) does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>Thrown when a user is not authorized to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>Thrown when a user tries to use a login which is already linked to another account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "LookupDeveloperIdentityRequest",
        "variableName" : "lookupDeveloperIdentityRequest",
        "variableType" : "LookupDeveloperIdentityRequest",
        "documentation" : "<p>Input to the <code>LookupDeveloperIdentityInput</code> action.</p>",
        "simpleType" : "LookupDeveloperIdentityRequest",
        "variableSetterType" : "LookupDeveloperIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "lookupDeveloperIdentity",
      "operationName" : "LookupDeveloperIdentity",
      "returnType" : {
        "returnType" : "LookupDeveloperIdentityResult",
        "documentation" : "<p>Returned in response to a successful <code>LookupDeveloperIdentity</code> action.</p>"
      },
      "syncReturnType" : "LookupDeveloperIdentityResult"
    },
    "MergeDeveloperIdentities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<MergeDeveloperIdentitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<MergeDeveloperIdentitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<MergeDeveloperIdentitiesRequest, MergeDeveloperIdentitiesResult>",
      "asyncReturnType" : "MergeDeveloperIdentitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Merges two users having different <code>IdentityId</code>s, existing in the same identity pool, and identified by the same developer provider. You can use this action to request that discrete users be merged and identified as a single user in the Cognito environment. Cognito associates the given source user (<code>SourceUserIdentifier</code>) with the <code>IdentityId</code> of the <code>DestinationUserIdentifier</code>. Only developer-authenticated users can be merged. If the users to be merged are associated with the same public provider, but as two different users, an exception will be thrown.</p> <p>The number of linked logins is limited to 20. So, the number of linked logins for the source user, <code>SourceUserIdentifier</code>, and the destination user, <code>DestinationUserIdentifier</code>, together should not be larger than 20. Otherwise, an exception will be thrown.</p> <p>You must use AWS Developer credentials to call this API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when the requested resource (for example, a dataset or record) does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>Thrown when a user is not authorized to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>Thrown when a user tries to use a login which is already linked to another account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "MergeDeveloperIdentitiesRequest",
        "variableName" : "mergeDeveloperIdentitiesRequest",
        "variableType" : "MergeDeveloperIdentitiesRequest",
        "documentation" : "<p>Input to the <code>MergeDeveloperIdentities</code> action.</p>",
        "simpleType" : "MergeDeveloperIdentitiesRequest",
        "variableSetterType" : "MergeDeveloperIdentitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "mergeDeveloperIdentities",
      "operationName" : "MergeDeveloperIdentities",
      "returnType" : {
        "returnType" : "MergeDeveloperIdentitiesResult",
        "documentation" : "<p>Returned in response to a successful <code>MergeDeveloperIdentities</code> action.</p>"
      },
      "syncReturnType" : "MergeDeveloperIdentitiesResult"
    },
    "SetIdentityPoolRoles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetIdentityPoolRolesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetIdentityPoolRolesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetIdentityPoolRolesRequest, SetIdentityPoolRolesResult>",
      "asyncReturnType" : "SetIdentityPoolRolesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the roles for an identity pool. These roles are used when making calls to <a>GetCredentialsForIdentity</a> action.</p> <p>You must use AWS Developer credentials to call this API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when the requested resource (for example, a dataset or record) does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>Thrown when a user is not authorized to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>Thrown when a user tries to use a login which is already linked to another account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Thrown if there are parallel requests to modify a resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SetIdentityPoolRolesRequest",
        "variableName" : "setIdentityPoolRolesRequest",
        "variableType" : "SetIdentityPoolRolesRequest",
        "documentation" : "<p>Input to the <code>SetIdentityPoolRoles</code> action.</p>",
        "simpleType" : "SetIdentityPoolRolesRequest",
        "variableSetterType" : "SetIdentityPoolRolesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setIdentityPoolRoles",
      "operationName" : "SetIdentityPoolRoles",
      "returnType" : {
        "returnType" : "SetIdentityPoolRolesResult",
        "documentation" : null
      },
      "syncReturnType" : "SetIdentityPoolRolesResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns a set of tags to an Amazon Cognito identity pool. A tag is a label that you can use to categorize and manage identity pools in different ways, such as by purpose, owner, environment, or other criteria.</p> <p>Each tag consists of a key and value, both of which you define. A key is a general category for more specific values. For example, if you have two versions of an identity pool, one for testing and another for production, you might assign an <code>Environment</code> tag key to both identity pools. The value of this key might be <code>Test</code> for one identity pool and <code>Production</code> for the other.</p> <p>Tags are useful for cost tracking and access control. You can activate your tags so that they appear on the Billing and Cost Management console, where you can track the costs associated with your identity pools. In an IAM policy, you can constrain permissions for identity pools based on specific tags or tag values.</p> <p>You can use this action up to 5 times per second, per account. An identity pool can have as many as 50 tags.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when the requested resource (for example, a dataset or record) does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>Thrown when a user is not authorized to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UnlinkDeveloperIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UnlinkDeveloperIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UnlinkDeveloperIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UnlinkDeveloperIdentityRequest, UnlinkDeveloperIdentityResult>",
      "asyncReturnType" : "UnlinkDeveloperIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Unlinks a <code>DeveloperUserIdentifier</code> from an existing identity. Unlinked developer users will be considered new identities next time they are seen. If, for a given Cognito identity, you remove all federated identities as well as the developer user identifier, the Cognito identity becomes inaccessible.</p> <p>You must use AWS Developer credentials to call this API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when the requested resource (for example, a dataset or record) does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>Thrown when a user is not authorized to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>Thrown when a user tries to use a login which is already linked to another account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UnlinkDeveloperIdentityRequest",
        "variableName" : "unlinkDeveloperIdentityRequest",
        "variableType" : "UnlinkDeveloperIdentityRequest",
        "documentation" : "<p>Input to the <code>UnlinkDeveloperIdentity</code> action.</p>",
        "simpleType" : "UnlinkDeveloperIdentityRequest",
        "variableSetterType" : "UnlinkDeveloperIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "unlinkDeveloperIdentity",
      "operationName" : "UnlinkDeveloperIdentity",
      "returnType" : {
        "returnType" : "UnlinkDeveloperIdentityResult",
        "documentation" : null
      },
      "syncReturnType" : "UnlinkDeveloperIdentityResult"
    },
    "UnlinkIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UnlinkIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UnlinkIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UnlinkIdentityRequest, UnlinkIdentityResult>",
      "asyncReturnType" : "UnlinkIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Unlinks a federated identity from an existing account. Unlinked logins will be considered new identities next time they are seen. Removing the last linked login will make this identity inaccessible.</p> <p>This is a public API. You do not need any credentials to call this API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when the requested resource (for example, a dataset or record) does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>Thrown when a user is not authorized to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>Thrown when a user tries to use a login which is already linked to another account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExternalServiceException",
        "documentation" : "<p>An exception thrown when a dependent service such as Facebook or Twitter is not responding</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UnlinkIdentityRequest",
        "variableName" : "unlinkIdentityRequest",
        "variableType" : "UnlinkIdentityRequest",
        "documentation" : "<p>Input to the UnlinkIdentity action.</p>",
        "simpleType" : "UnlinkIdentityRequest",
        "variableSetterType" : "UnlinkIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "unlinkIdentity",
      "operationName" : "UnlinkIdentity",
      "returnType" : {
        "returnType" : "UnlinkIdentityResult",
        "documentation" : null
      },
      "syncReturnType" : "UnlinkIdentityResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags from an Amazon Cognito identity pool. You can use this action up to 5 times per second, per account</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when the requested resource (for example, a dataset or record) does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>Thrown when a user is not authorized to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateIdentityPool" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateIdentityPoolResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateIdentityPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateIdentityPoolRequest, UpdateIdentityPoolResult>",
      "asyncReturnType" : "UpdateIdentityPoolResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an identity pool.</p> <p>You must use AWS Developer credentials to call this API.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>Thrown for missing or bad input parameter(s).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Thrown when the requested resource (for example, a dataset or record) does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>Thrown when a user is not authorized to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>Thrown when a user tries to use a login which is already linked to another account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Thrown when a request is throttled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>Thrown when the service encounters an error during processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Thrown if there are parallel requests to modify a resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Thrown when the total number of user pools has exceeded a preset limit.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateIdentityPoolRequest",
        "variableName" : "updateIdentityPoolRequest",
        "variableType" : "UpdateIdentityPoolRequest",
        "documentation" : "<p>An object representing an Amazon Cognito identity pool.</p>",
        "simpleType" : "UpdateIdentityPoolRequest",
        "variableSetterType" : "UpdateIdentityPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateIdentityPool",
      "operationName" : "UpdateIdentityPool",
      "returnType" : {
        "returnType" : "UpdateIdentityPoolResult",
        "documentation" : "<p>An object representing an Amazon Cognito identity pool.</p>"
      },
      "syncReturnType" : "UpdateIdentityPoolResult"
    }
  },
  "shapes" : {
    "AmbiguousRoleResolutionType" : {
      "c2jName" : "AmbiguousRoleResolutionType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "AuthenticatedRole",
        "value" : "AuthenticatedRole"
      }, {
        "name" : "Deny",
        "value" : "Deny"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AmbiguousRoleResolutionType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AmbiguousRoleResolutionType",
        "variableName" : "ambiguousRoleResolutionType",
        "variableType" : "AmbiguousRoleResolutionType",
        "documentation" : null,
        "simpleType" : "AmbiguousRoleResolutionType",
        "variableSetterType" : "AmbiguousRoleResolutionType"
      },
      "wrapper" : false
    },
    "CognitoIdentityProvider" : {
      "c2jName" : "CognitoIdentityProvider",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A provider representing an Amazon Cognito user pool and its client ID.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ProviderName",
        "c2jShape" : "CognitoIdentityProviderName",
        "deprecated" : false,
        "documentation" : "<p>The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>\n@param providerName The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProviderName",
        "getterDocumentation" : "/**<p>The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>\n@return The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.*/",
        "getterMethodName" : "getProviderName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ProviderName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ProviderName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProviderName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>\n@param providerName The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.*/",
        "setterMethodName" : "setProviderName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "providerName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>\n@param providerName The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "providerName",
          "variableType" : "String",
          "documentation" : "<p>The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ClientId",
        "c2jShape" : "CognitoIdentityProviderClientId",
        "deprecated" : false,
        "documentation" : "<p>The client ID for the Amazon Cognito user pool.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The client ID for the Amazon Cognito user pool.</p>\n@param clientId The client ID for the Amazon Cognito user pool.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientId",
        "getterDocumentation" : "/**<p>The client ID for the Amazon Cognito user pool.</p>\n@return The client ID for the Amazon Cognito user pool.*/",
        "getterMethodName" : "getClientId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ClientId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ClientId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The client ID for the Amazon Cognito user pool.</p>\n@param clientId The client ID for the Amazon Cognito user pool.*/",
        "setterMethodName" : "setClientId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The client ID for the Amazon Cognito user pool.</p>\n@param clientId The client ID for the Amazon Cognito user pool.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientId",
          "variableType" : "String",
          "documentation" : "<p>The client ID for the Amazon Cognito user pool.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ServerSideTokenCheck",
        "c2jShape" : "CognitoIdentityProviderTokenCheck",
        "deprecated" : false,
        "documentation" : "<p>TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.</p>\n@param serverSideTokenCheck TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withServerSideTokenCheck",
        "getterDocumentation" : "/**<p>TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.</p>\n@return TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.*/",
        "getterMethodName" : "getServerSideTokenCheck",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ServerSideTokenCheck",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ServerSideTokenCheck",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "ServerSideTokenCheck",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.</p>\n@param serverSideTokenCheck TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.*/",
        "setterMethodName" : "setServerSideTokenCheck",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "serverSideTokenCheck",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.</p>\n@param serverSideTokenCheck TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "serverSideTokenCheck",
          "variableType" : "Boolean",
          "documentation" : "<p>TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClientId" : {
          "c2jName" : "ClientId",
          "c2jShape" : "CognitoIdentityProviderClientId",
          "deprecated" : false,
          "documentation" : "<p>The client ID for the Amazon Cognito user pool.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The client ID for the Amazon Cognito user pool.</p>\n@param clientId The client ID for the Amazon Cognito user pool.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientId",
          "getterDocumentation" : "/**<p>The client ID for the Amazon Cognito user pool.</p>\n@return The client ID for the Amazon Cognito user pool.*/",
          "getterMethodName" : "getClientId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ClientId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ClientId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The client ID for the Amazon Cognito user pool.</p>\n@param clientId The client ID for the Amazon Cognito user pool.*/",
          "setterMethodName" : "setClientId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The client ID for the Amazon Cognito user pool.</p>\n@param clientId The client ID for the Amazon Cognito user pool.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientId",
            "variableType" : "String",
            "documentation" : "<p>The client ID for the Amazon Cognito user pool.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ProviderName" : {
          "c2jName" : "ProviderName",
          "c2jShape" : "CognitoIdentityProviderName",
          "deprecated" : false,
          "documentation" : "<p>The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>\n@param providerName The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProviderName",
          "getterDocumentation" : "/**<p>The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>\n@return The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.*/",
          "getterMethodName" : "getProviderName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ProviderName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ProviderName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ProviderName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>\n@param providerName The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.*/",
          "setterMethodName" : "setProviderName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "providerName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>\n@param providerName The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "providerName",
            "variableType" : "String",
            "documentation" : "<p>The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ServerSideTokenCheck" : {
          "c2jName" : "ServerSideTokenCheck",
          "c2jShape" : "CognitoIdentityProviderTokenCheck",
          "deprecated" : false,
          "documentation" : "<p>TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.</p>\n@param serverSideTokenCheck TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withServerSideTokenCheck",
          "getterDocumentation" : "/**<p>TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.</p>\n@return TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.*/",
          "getterMethodName" : "getServerSideTokenCheck",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ServerSideTokenCheck",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ServerSideTokenCheck",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "ServerSideTokenCheck",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.</p>\n@param serverSideTokenCheck TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.*/",
          "setterMethodName" : "setServerSideTokenCheck",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "serverSideTokenCheck",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.</p>\n@param serverSideTokenCheck TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "serverSideTokenCheck",
            "variableType" : "Boolean",
            "documentation" : "<p>TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CognitoIdentityProvider",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CognitoIdentityProvider",
        "variableName" : "cognitoIdentityProvider",
        "variableType" : "CognitoIdentityProvider",
        "documentation" : null,
        "simpleType" : "CognitoIdentityProvider",
[...]
