{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-04-18",
    "asyncClient" : "AWSCognitoIdentityProviderAsyncClient",
    "asyncClientBuilderClassName" : "AWSCognitoIdentityProviderAsyncClientBuilder",
    "asyncInterface" : "AWSCognitoIdentityProviderAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSCognitoIdentityProviderModuleInjector",
    "defaultEndpoint" : "https://cognito-idp.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "cognito-idp.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Using the Amazon Cognito Your User Pools API, you can create a user pool to manage directories and users. You can authenticate a user to obtain tokens related to user identity and access policies.</p> <p>This API reference provides information about user pools in Amazon Cognito Your User Pools.</p> <p>For more information, see the Amazon Cognito Documentation.</p>",
    "endpointPrefix" : "cognito-idp",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.cognitoidp",
    "packagePath" : "com/amazonaws/services/cognitoidp",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Cognito Identity Provider",
    "serviceName" : "Amazon Cognito Identity Provider",
    "signingName" : "cognito-idp",
    "smokeTestsPackageName" : "com.amazonaws.services.cognitoidp.smoketests",
    "syncClient" : "AWSCognitoIdentityProviderClient",
    "syncClientBuilderClassName" : "AWSCognitoIdentityProviderClientBuilder",
    "syncInterface" : "AWSCognitoIdentityProvider",
    "uid" : "cognito-idp-2016-04-18",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddCustomAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddCustomAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddCustomAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddCustomAttributesRequest, AddCustomAttributesResult>",
      "asyncReturnType" : "AddCustomAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds additional user attributes to the user pool schema.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserImportInProgressException",
        "documentation" : "<p>This exception is thrown when you are trying to modify a user pool while a user import job is in progress for that pool.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddCustomAttributesRequest",
        "variableName" : "addCustomAttributesRequest",
        "variableType" : "AddCustomAttributesRequest",
        "documentation" : "<p>Represents the request to add custom attributes.</p>",
        "simpleType" : "AddCustomAttributesRequest",
        "variableSetterType" : "AddCustomAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addCustomAttributes",
      "operationName" : "AddCustomAttributes",
      "returnType" : {
        "returnType" : "AddCustomAttributesResult",
        "documentation" : "<p>Represents the response from the server for the request to add custom attributes.</p>"
      },
      "syncReturnType" : "AddCustomAttributesResult"
    },
    "AdminAddUserToGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AdminAddUserToGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AdminAddUserToGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminAddUserToGroupRequest, AdminAddUserToGroupResult>",
      "asyncReturnType" : "AdminAddUserToGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified user to the specified group.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AdminAddUserToGroupRequest",
        "variableName" : "adminAddUserToGroupRequest",
        "variableType" : "AdminAddUserToGroupRequest",
        "documentation" : "",
        "simpleType" : "AdminAddUserToGroupRequest",
        "variableSetterType" : "AdminAddUserToGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "adminAddUserToGroup",
      "operationName" : "AdminAddUserToGroup",
      "returnType" : {
        "returnType" : "AdminAddUserToGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "AdminAddUserToGroupResult"
    },
    "AdminConfirmSignUp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AdminConfirmSignUpResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AdminConfirmSignUpResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminConfirmSignUpRequest, AdminConfirmSignUpResult>",
      "asyncReturnType" : "AdminConfirmSignUpResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Confirms user registration as an admin without using a confirmation code. Works on any user.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyFailedAttemptsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many failed attempts for a given action (e.g., sign in).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AdminConfirmSignUpRequest",
        "variableName" : "adminConfirmSignUpRequest",
        "variableType" : "AdminConfirmSignUpRequest",
        "documentation" : "<p>Represents the request to confirm user registration.</p>",
        "simpleType" : "AdminConfirmSignUpRequest",
        "variableSetterType" : "AdminConfirmSignUpRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "adminConfirmSignUp",
      "operationName" : "AdminConfirmSignUp",
      "returnType" : {
        "returnType" : "AdminConfirmSignUpResult",
        "documentation" : "<p>Represents the response from the server for the request to confirm registration.</p>"
      },
      "syncReturnType" : "AdminConfirmSignUpResult"
    },
    "AdminCreateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AdminCreateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AdminCreateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminCreateUserRequest, AdminCreateUserResult>",
      "asyncReturnType" : "AdminCreateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new user in the specified user pool and sends a welcome message via email or phone (SMS). This message is based on a template that you configured in your call to CreateUserPool or UpdateUserPool. This template includes your custom sign-up instructions and placeholders for user name and temporary password.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UsernameExistsException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters a user name that already exists in the user pool.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPasswordException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid password.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CodeDeliveryFailureException",
        "documentation" : "<p>This exception is thrown when a verification code fails to deliver successfully.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PreconditionNotMetException",
        "documentation" : "<p>This exception is thrown when a precondition is not met.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSmsRoleAccessPolicyException",
        "documentation" : "<p>This exception is returned when the role provided for SMS configuration does not have permission to publish using Amazon SNS.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSmsRoleTrustRelationshipException",
        "documentation" : "<p>This exception is thrown when the trust relationship is invalid for the role provided for SMS configuration. This can happen if you do not trust <b>cognito-idp.amazonaws.com</b> or the external ID provided in the role does not match what is provided in the SMS configuration for the user pool.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedUserStateException",
        "documentation" : "<p>The request failed because the user is in an unsupported state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AdminCreateUserRequest",
        "variableName" : "adminCreateUserRequest",
        "variableType" : "AdminCreateUserRequest",
        "documentation" : "<p>Represents the request to create a user in the specified user pool.</p>",
        "simpleType" : "AdminCreateUserRequest",
        "variableSetterType" : "AdminCreateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "adminCreateUser",
      "operationName" : "AdminCreateUser",
      "returnType" : {
        "returnType" : "AdminCreateUserResult",
        "documentation" : "<p>Represents the response from the server to the request to create the user.</p>"
      },
      "syncReturnType" : "AdminCreateUserResult"
    },
    "AdminDeleteUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AdminDeleteUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AdminDeleteUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminDeleteUserRequest, AdminDeleteUserResult>",
      "asyncReturnType" : "AdminDeleteUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a user as an administrator. Works on any user.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AdminDeleteUserRequest",
        "variableName" : "adminDeleteUserRequest",
        "variableType" : "AdminDeleteUserRequest",
        "documentation" : "<p>Represents the request to delete a user as an administrator.</p>",
        "simpleType" : "AdminDeleteUserRequest",
        "variableSetterType" : "AdminDeleteUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "adminDeleteUser",
      "operationName" : "AdminDeleteUser",
      "returnType" : {
        "returnType" : "AdminDeleteUserResult",
        "documentation" : null
      },
      "syncReturnType" : "AdminDeleteUserResult"
    },
    "AdminDeleteUserAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AdminDeleteUserAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AdminDeleteUserAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminDeleteUserAttributesRequest, AdminDeleteUserAttributesResult>",
      "asyncReturnType" : "AdminDeleteUserAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the user attributes in a user pool as an administrator. Works on any user.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AdminDeleteUserAttributesRequest",
        "variableName" : "adminDeleteUserAttributesRequest",
        "variableType" : "AdminDeleteUserAttributesRequest",
        "documentation" : "<p>Represents the request to delete user attributes as an administrator.</p>",
        "simpleType" : "AdminDeleteUserAttributesRequest",
        "variableSetterType" : "AdminDeleteUserAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "adminDeleteUserAttributes",
      "operationName" : "AdminDeleteUserAttributes",
      "returnType" : {
        "returnType" : "AdminDeleteUserAttributesResult",
        "documentation" : "<p>Represents the response received from the server for a request to delete user attributes.</p>"
      },
      "syncReturnType" : "AdminDeleteUserAttributesResult"
    },
    "AdminDisableUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AdminDisableUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AdminDisableUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminDisableUserRequest, AdminDisableUserResult>",
      "asyncReturnType" : "AdminDisableUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables the specified user as an administrator. Works on any user.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AdminDisableUserRequest",
        "variableName" : "adminDisableUserRequest",
        "variableType" : "AdminDisableUserRequest",
        "documentation" : "<p>Represents the request to disable any user as an administrator.</p>",
        "simpleType" : "AdminDisableUserRequest",
        "variableSetterType" : "AdminDisableUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "adminDisableUser",
      "operationName" : "AdminDisableUser",
      "returnType" : {
        "returnType" : "AdminDisableUserResult",
        "documentation" : "<p>Represents the response received from the server to disable the user as an administrator.</p>"
      },
      "syncReturnType" : "AdminDisableUserResult"
    },
    "AdminEnableUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AdminEnableUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AdminEnableUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminEnableUserRequest, AdminEnableUserResult>",
      "asyncReturnType" : "AdminEnableUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables the specified user as an administrator. Works on any user.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AdminEnableUserRequest",
        "variableName" : "adminEnableUserRequest",
        "variableType" : "AdminEnableUserRequest",
        "documentation" : "<p>Represents the request that enables the user as an administrator.</p>",
        "simpleType" : "AdminEnableUserRequest",
        "variableSetterType" : "AdminEnableUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "adminEnableUser",
      "operationName" : "AdminEnableUser",
      "returnType" : {
        "returnType" : "AdminEnableUserResult",
        "documentation" : "<p>Represents the response from the server for the request to enable a user as an administrator.</p>"
      },
      "syncReturnType" : "AdminEnableUserResult"
    },
    "AdminForgetDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AdminForgetDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AdminForgetDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminForgetDeviceRequest, AdminForgetDeviceResult>",
      "asyncReturnType" : "AdminForgetDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Forgets the device, as an administrator.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidUserPoolConfigurationException",
        "documentation" : "<p>This exception is thrown when the user pool configuration is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AdminForgetDeviceRequest",
        "variableName" : "adminForgetDeviceRequest",
        "variableType" : "AdminForgetDeviceRequest",
        "documentation" : "<p>Sends the forgot device request, as an administrator.</p>",
        "simpleType" : "AdminForgetDeviceRequest",
        "variableSetterType" : "AdminForgetDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "adminForgetDevice",
      "operationName" : "AdminForgetDevice",
      "returnType" : {
        "returnType" : "AdminForgetDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "AdminForgetDeviceResult"
    },
    "AdminGetDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AdminGetDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AdminGetDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminGetDeviceRequest, AdminGetDeviceResult>",
      "asyncReturnType" : "AdminGetDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the device, as an administrator.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidUserPoolConfigurationException",
        "documentation" : "<p>This exception is thrown when the user pool configuration is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AdminGetDeviceRequest",
        "variableName" : "adminGetDeviceRequest",
        "variableType" : "AdminGetDeviceRequest",
        "documentation" : "<p>Represents the request to get the device, as an administrator.</p>",
        "simpleType" : "AdminGetDeviceRequest",
        "variableSetterType" : "AdminGetDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "adminGetDevice",
      "operationName" : "AdminGetDevice",
      "returnType" : {
        "returnType" : "AdminGetDeviceResult",
        "documentation" : "<p>Gets the device response, as an administrator.</p>"
      },
      "syncReturnType" : "AdminGetDeviceResult"
    },
    "AdminGetUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AdminGetUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AdminGetUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminGetUserRequest, AdminGetUserResult>",
      "asyncReturnType" : "AdminGetUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the specified user by user name in a user pool as an administrator. Works on any user.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AdminGetUserRequest",
        "variableName" : "adminGetUserRequest",
        "variableType" : "AdminGetUserRequest",
        "documentation" : "<p>Represents the request to get the specified user as an administrator.</p>",
        "simpleType" : "AdminGetUserRequest",
        "variableSetterType" : "AdminGetUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "adminGetUser",
      "operationName" : "AdminGetUser",
      "returnType" : {
        "returnType" : "AdminGetUserResult",
        "documentation" : "<p>Represents the response from the server from the request to get the specified user as an administrator.</p>"
      },
      "syncReturnType" : "AdminGetUserResult"
    },
    "AdminInitiateAuth" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AdminInitiateAuthResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AdminInitiateAuthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminInitiateAuthRequest, AdminInitiateAuthResult>",
      "asyncReturnType" : "AdminInitiateAuthResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initiates the authentication flow, as an administrator.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidUserPoolConfigurationException",
        "documentation" : "<p>This exception is thrown when the user pool configuration is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MFAMethodNotFoundException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito cannot find a multi-factor authentication (MFA) method.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSmsRoleAccessPolicyException",
        "documentation" : "<p>This exception is returned when the role provided for SMS configuration does not have permission to publish using Amazon SNS.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSmsRoleTrustRelationshipException",
        "documentation" : "<p>This exception is thrown when the trust relationship is invalid for the role provided for SMS configuration. This can happen if you do not trust <b>cognito-idp.amazonaws.com</b> or the external ID provided in the role does not match what is provided in the SMS configuration for the user pool.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PasswordResetRequiredException",
        "documentation" : "<p>This exception is thrown when a password reset is required.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotConfirmedException",
        "documentation" : "<p>This exception is thrown when a user is not confirmed successfully.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AdminInitiateAuthRequest",
        "variableName" : "adminInitiateAuthRequest",
        "variableType" : "AdminInitiateAuthRequest",
        "documentation" : "<p>Initiates the authorization request, as an administrator.</p>",
        "simpleType" : "AdminInitiateAuthRequest",
        "variableSetterType" : "AdminInitiateAuthRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "adminInitiateAuth",
      "operationName" : "AdminInitiateAuth",
      "returnType" : {
        "returnType" : "AdminInitiateAuthResult",
        "documentation" : "<p>Initiates the authentication response, as an administrator.</p>"
      },
      "syncReturnType" : "AdminInitiateAuthResult"
    },
    "AdminListDevices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AdminListDevicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AdminListDevicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminListDevicesRequest, AdminListDevicesResult>",
      "asyncReturnType" : "AdminListDevicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists devices, as an administrator.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidUserPoolConfigurationException",
        "documentation" : "<p>This exception is thrown when the user pool configuration is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AdminListDevicesRequest",
        "variableName" : "adminListDevicesRequest",
        "variableType" : "AdminListDevicesRequest",
        "documentation" : "<p>Represents the request to list devices, as an administrator.</p>",
        "simpleType" : "AdminListDevicesRequest",
        "variableSetterType" : "AdminListDevicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "adminListDevices",
      "operationName" : "AdminListDevices",
      "returnType" : {
        "returnType" : "AdminListDevicesResult",
        "documentation" : "<p>Lists the device's response, as an administrator.</p>"
      },
      "syncReturnType" : "AdminListDevicesResult"
    },
    "AdminListGroupsForUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AdminListGroupsForUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AdminListGroupsForUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminListGroupsForUserRequest, AdminListGroupsForUserResult>",
      "asyncReturnType" : "AdminListGroupsForUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the groups that the user belongs to.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AdminListGroupsForUserRequest",
        "variableName" : "adminListGroupsForUserRequest",
        "variableType" : "AdminListGroupsForUserRequest",
        "documentation" : "",
        "simpleType" : "AdminListGroupsForUserRequest",
        "variableSetterType" : "AdminListGroupsForUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "adminListGroupsForUser",
      "operationName" : "AdminListGroupsForUser",
      "returnType" : {
        "returnType" : "AdminListGroupsForUserResult",
        "documentation" : null
      },
      "syncReturnType" : "AdminListGroupsForUserResult"
    },
    "AdminRemoveUserFromGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AdminRemoveUserFromGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AdminRemoveUserFromGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminRemoveUserFromGroupRequest, AdminRemoveUserFromGroupResult>",
      "asyncReturnType" : "AdminRemoveUserFromGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified user from the specified group.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AdminRemoveUserFromGroupRequest",
        "variableName" : "adminRemoveUserFromGroupRequest",
        "variableType" : "AdminRemoveUserFromGroupRequest",
        "documentation" : "",
        "simpleType" : "AdminRemoveUserFromGroupRequest",
        "variableSetterType" : "AdminRemoveUserFromGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "adminRemoveUserFromGroup",
      "operationName" : "AdminRemoveUserFromGroup",
      "returnType" : {
        "returnType" : "AdminRemoveUserFromGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "AdminRemoveUserFromGroupResult"
    },
    "AdminResetUserPassword" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AdminResetUserPasswordResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AdminResetUserPasswordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminResetUserPasswordRequest, AdminResetUserPasswordResult>",
      "asyncReturnType" : "AdminResetUserPasswordResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Resets the specified user's password in a user pool as an administrator. Works on any user.</p> <p>When a developer calls this API, the current password is invalidated, so it must be changed. If a user tries to sign in after the API is called, the app will get a PasswordResetRequiredException exception back and should direct the user down the flow to reset the password, which is the same as the forgot password flow. In addition, if the user pool has phone verification selected and a verified phone number exists for the user, or if email verification is selected and a verified email exists for the user, calling this API will also result in sending a message to the end user with the code to change their password.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AdminResetUserPasswordRequest",
        "variableName" : "adminResetUserPasswordRequest",
        "variableType" : "AdminResetUserPasswordRequest",
        "documentation" : "<p>Represents the request to reset a user's password as an administrator.</p>",
        "simpleType" : "AdminResetUserPasswordRequest",
        "variableSetterType" : "AdminResetUserPasswordRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "adminResetUserPassword",
      "operationName" : "AdminResetUserPassword",
      "returnType" : {
        "returnType" : "AdminResetUserPasswordResult",
        "documentation" : "<p>Represents the response from the server to reset a user password as an administrator.</p>"
      },
      "syncReturnType" : "AdminResetUserPasswordResult"
    },
    "AdminRespondToAuthChallenge" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AdminRespondToAuthChallengeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AdminRespondToAuthChallengeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminRespondToAuthChallengeRequest, AdminRespondToAuthChallengeResult>",
      "asyncReturnType" : "AdminRespondToAuthChallengeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Responds to an authentication challenge, as an administrator.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CodeMismatchException",
        "documentation" : "<p>This exception is thrown if the provided code does not match what the server was expecting.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExpiredCodeException",
        "documentation" : "<p>This exception is thrown if a code has expired.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPasswordException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid password.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidUserPoolConfigurationException",
        "documentation" : "<p>This exception is thrown when the user pool configuration is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MFAMethodNotFoundException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito cannot find a multi-factor authentication (MFA) method.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSmsRoleAccessPolicyException",
        "documentation" : "<p>This exception is returned when the role provided for SMS configuration does not have permission to publish using Amazon SNS.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSmsRoleTrustRelationshipException",
        "documentation" : "<p>This exception is thrown when the trust relationship is invalid for the role provided for SMS configuration. This can happen if you do not trust <b>cognito-idp.amazonaws.com</b> or the external ID provided in the role does not match what is provided in the SMS configuration for the user pool.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AliasExistsException",
        "documentation" : "<p>This exception is thrown when a user tries to confirm the account with an email or phone number that has already been supplied as an alias from a different account. This exception tells user that an account with this email or phone already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PasswordResetRequiredException",
        "documentation" : "<p>This exception is thrown when a password reset is required.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotConfirmedException",
        "documentation" : "<p>This exception is thrown when a user is not confirmed successfully.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AdminRespondToAuthChallengeRequest",
        "variableName" : "adminRespondToAuthChallengeRequest",
        "variableType" : "AdminRespondToAuthChallengeRequest",
        "documentation" : "<p>The request to respond to the authentication challenge, as an administrator.</p>",
        "simpleType" : "AdminRespondToAuthChallengeRequest",
        "variableSetterType" : "AdminRespondToAuthChallengeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "adminRespondToAuthChallenge",
      "operationName" : "AdminRespondToAuthChallenge",
      "returnType" : {
        "returnType" : "AdminRespondToAuthChallengeResult",
        "documentation" : "<p>Responds to the authentication challenge, as an administrator.</p>"
      },
      "syncReturnType" : "AdminRespondToAuthChallengeResult"
    },
    "AdminSetUserSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AdminSetUserSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AdminSetUserSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminSetUserSettingsRequest, AdminSetUserSettingsResult>",
      "asyncReturnType" : "AdminSetUserSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets all the user settings for a specified user name. Works on any user.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AdminSetUserSettingsRequest",
        "variableName" : "adminSetUserSettingsRequest",
        "variableType" : "AdminSetUserSettingsRequest",
        "documentation" : "<p>Represents the request to set user settings as an administrator.</p>",
        "simpleType" : "AdminSetUserSettingsRequest",
        "variableSetterType" : "AdminSetUserSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "adminSetUserSettings",
      "operationName" : "AdminSetUserSettings",
      "returnType" : {
        "returnType" : "AdminSetUserSettingsResult",
        "documentation" : "<p>Represents the response from the server to set user settings as an administrator.</p>"
      },
      "syncReturnType" : "AdminSetUserSettingsResult"
    },
    "AdminUpdateDeviceStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AdminUpdateDeviceStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AdminUpdateDeviceStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminUpdateDeviceStatusRequest, AdminUpdateDeviceStatusResult>",
      "asyncReturnType" : "AdminUpdateDeviceStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the device status as an administrator.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidUserPoolConfigurationException",
        "documentation" : "<p>This exception is thrown when the user pool configuration is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AdminUpdateDeviceStatusRequest",
        "variableName" : "adminUpdateDeviceStatusRequest",
        "variableType" : "AdminUpdateDeviceStatusRequest",
        "documentation" : "<p>The request to update the device status, as an administrator.</p>",
        "simpleType" : "AdminUpdateDeviceStatusRequest",
        "variableSetterType" : "AdminUpdateDeviceStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "adminUpdateDeviceStatus",
      "operationName" : "AdminUpdateDeviceStatus",
      "returnType" : {
        "returnType" : "AdminUpdateDeviceStatusResult",
        "documentation" : "<p>The status response from the request to update the device, as an administrator.</p>"
      },
      "syncReturnType" : "AdminUpdateDeviceStatusResult"
    },
    "AdminUpdateUserAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AdminUpdateUserAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AdminUpdateUserAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminUpdateUserAttributesRequest, AdminUpdateUserAttributesResult>",
      "asyncReturnType" : "AdminUpdateUserAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified user's attributes, including developer attributes, as an administrator. Works on any user.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AliasExistsException",
        "documentation" : "<p>This exception is thrown when a user tries to confirm the account with an email or phone number that has already been supplied as an alias from a different account. This exception tells user that an account with this email or phone already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AdminUpdateUserAttributesRequest",
        "variableName" : "adminUpdateUserAttributesRequest",
        "variableType" : "AdminUpdateUserAttributesRequest",
        "documentation" : "<p>Represents the request to update the user's attributes as an administrator.</p>",
        "simpleType" : "AdminUpdateUserAttributesRequest",
        "variableSetterType" : "AdminUpdateUserAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "adminUpdateUserAttributes",
      "operationName" : "AdminUpdateUserAttributes",
      "returnType" : {
        "returnType" : "AdminUpdateUserAttributesResult",
        "documentation" : "<p>Represents the response from the server for the request to update user attributes as an administrator.</p>"
      },
      "syncReturnType" : "AdminUpdateUserAttributesResult"
    },
    "AdminUserGlobalSignOut" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AdminUserGlobalSignOutResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AdminUserGlobalSignOutResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AdminUserGlobalSignOutRequest, AdminUserGlobalSignOutResult>",
      "asyncReturnType" : "AdminUserGlobalSignOutResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Signs out users from all devices, as an administrator.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AdminUserGlobalSignOutRequest",
        "variableName" : "adminUserGlobalSignOutRequest",
        "variableType" : "AdminUserGlobalSignOutRequest",
        "documentation" : "<p>The request to sign out of all devices, as an administrator.</p>",
        "simpleType" : "AdminUserGlobalSignOutRequest",
        "variableSetterType" : "AdminUserGlobalSignOutRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "adminUserGlobalSignOut",
      "operationName" : "AdminUserGlobalSignOut",
      "returnType" : {
        "returnType" : "AdminUserGlobalSignOutResult",
        "documentation" : "<p>The global sign-out response, as an administrator.</p>"
      },
      "syncReturnType" : "AdminUserGlobalSignOutResult"
    },
    "ChangePassword" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ChangePasswordResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ChangePasswordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ChangePasswordRequest, ChangePasswordResult>",
      "asyncReturnType" : "ChangePasswordResult",
      "authenticated" : false,
      "deprecated" : false,
      "documentation" : "<p>Changes the password for a specified user in a user pool.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPasswordException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid password.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PasswordResetRequiredException",
        "documentation" : "<p>This exception is thrown when a password reset is required.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotConfirmedException",
        "documentation" : "<p>This exception is thrown when a user is not confirmed successfully.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ChangePasswordRequest",
        "variableName" : "changePasswordRequest",
        "variableType" : "ChangePasswordRequest",
        "documentation" : "<p>Represents the request to change a user password.</p>",
        "simpleType" : "ChangePasswordRequest",
        "variableSetterType" : "ChangePasswordRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "changePassword",
      "operationName" : "ChangePassword",
      "returnType" : {
        "returnType" : "ChangePasswordResult",
        "documentation" : "<p>The response from the server to the change password request.</p>"
      },
      "syncReturnType" : "ChangePasswordResult"
    },
    "ConfirmDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConfirmDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConfirmDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfirmDeviceRequest, ConfirmDeviceResult>",
      "asyncReturnType" : "ConfirmDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Confirms tracking of the device. This API call is the call that beings device tracking.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPasswordException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid password.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UsernameExistsException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters a user name that already exists in the user pool.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidUserPoolConfigurationException",
        "documentation" : "<p>This exception is thrown when the user pool configuration is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PasswordResetRequiredException",
        "documentation" : "<p>This exception is thrown when a password reset is required.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotConfirmedException",
        "documentation" : "<p>This exception is thrown when a user is not confirmed successfully.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ConfirmDeviceRequest",
        "variableName" : "confirmDeviceRequest",
        "variableType" : "ConfirmDeviceRequest",
        "documentation" : "<p>Confirms the device request.</p>",
        "simpleType" : "ConfirmDeviceRequest",
        "variableSetterType" : "ConfirmDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "confirmDevice",
      "operationName" : "ConfirmDevice",
      "returnType" : {
        "returnType" : "ConfirmDeviceResult",
        "documentation" : "<p>Confirms the device response.</p>"
      },
      "syncReturnType" : "ConfirmDeviceResult"
    },
    "ConfirmForgotPassword" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConfirmForgotPasswordResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConfirmForgotPasswordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfirmForgotPasswordRequest, ConfirmForgotPasswordResult>",
      "asyncReturnType" : "ConfirmForgotPasswordResult",
      "authenticated" : false,
      "deprecated" : false,
      "documentation" : "<p>Allows a user to enter a code provided when they reset their password to update their password.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPasswordException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid password.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CodeMismatchException",
        "documentation" : "<p>This exception is thrown if the provided code does not match what the server was expecting.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExpiredCodeException",
        "documentation" : "<p>This exception is thrown if a code has expired.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyFailedAttemptsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many failed attempts for a given action (e.g., sign in).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotConfirmedException",
        "documentation" : "<p>This exception is thrown when a user is not confirmed successfully.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ConfirmForgotPasswordRequest",
        "variableName" : "confirmForgotPasswordRequest",
        "variableType" : "ConfirmForgotPasswordRequest",
        "documentation" : "<p>The request representing the confirmation for a password reset.</p>",
        "simpleType" : "ConfirmForgotPasswordRequest",
        "variableSetterType" : "ConfirmForgotPasswordRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "confirmForgotPassword",
      "operationName" : "ConfirmForgotPassword",
      "returnType" : {
        "returnType" : "ConfirmForgotPasswordResult",
        "documentation" : "<p>The response from the server that results from a user's request to retrieve a forgotten password.</p>"
      },
      "syncReturnType" : "ConfirmForgotPasswordResult"
    },
    "ConfirmSignUp" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConfirmSignUpResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConfirmSignUpResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfirmSignUpRequest, ConfirmSignUpResult>",
      "asyncReturnType" : "ConfirmSignUpResult",
      "authenticated" : false,
      "deprecated" : false,
      "documentation" : "<p>Confirms registration of a user and handles the existing alias from a previous user.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnexpectedLambdaException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters an unexpected exception with the AWS Lambda service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserLambdaValidationException",
        "documentation" : "<p>This exception gets thrown when the Amazon Cognito service encounters a user validation exception with the AWS Lambda service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyFailedAttemptsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many failed attempts for a given action (e.g., sign in).</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "CodeMismatchException",
        "documentation" : "<p>This exception is thrown if the provided code does not match what the server was expecting.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ExpiredCodeException",
        "documentation" : "<p>This exception is thrown if a code has expired.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLambdaResponseException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid AWS Lambda response.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AliasExistsException",
        "documentation" : "<p>This exception is thrown when a user tries to confirm the account with an email or phone number that has already been supplied as an alias from a different account. This exception tells user that an account with this email or phone already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>This exception is thrown when a user is not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ConfirmSignUpRequest",
        "variableName" : "confirmSignUpRequest",
        "variableType" : "ConfirmSignUpRequest",
        "documentation" : "<p>Represents the request to confirm registration of a user.</p>",
        "simpleType" : "ConfirmSignUpRequest",
        "variableSetterType" : "ConfirmSignUpRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "confirmSignUp",
      "operationName" : "ConfirmSignUp",
      "returnType" : {
        "returnType" : "ConfirmSignUpResult",
        "documentation" : "<p>Represents the response from the server for the registration confirmation.</p>"
      },
      "syncReturnType" : "ConfirmSignUpResult"
    },
    "CreateGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGroupRequest, CreateGroupResult>",
      "asyncReturnType" : "CreateGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new group in the specified user pool.</p> <p>Requires developer credentials.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "GroupExistsException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters a group that already exists in the user pool.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateGroupRequest",
        "variableName" : "createGroupRequest",
        "variableType" : "CreateGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateGroupRequest",
        "variableSetterType" : "CreateGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGroup",
      "operationName" : "CreateGroup",
      "returnType" : {
        "returnType" : "CreateGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGroupResult"
    },
    "CreateUserImportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserImportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserImportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserImportJobRequest, CreateUserImportJobResult>",
      "asyncReturnType" : "CreateUserImportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates the user import job.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PreconditionNotMetException",
        "documentation" : "<p>This exception is thrown when a precondition is not met.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateUserImportJobRequest",
        "variableName" : "createUserImportJobRequest",
        "variableType" : "CreateUserImportJobRequest",
        "documentation" : "<p>Represents the request to create the user import job.</p>",
        "simpleType" : "CreateUserImportJobRequest",
        "variableSetterType" : "CreateUserImportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUserImportJob",
      "operationName" : "CreateUserImportJob",
      "returnType" : {
        "returnType" : "CreateUserImportJobResult",
        "documentation" : "<p>Represents the response from the server to the request to create the user import job.</p>"
      },
      "syncReturnType" : "CreateUserImportJobResult"
    },
    "CreateUserPool" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserPoolResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserPoolResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserPoolRequest, CreateUserPoolResult>",
      "asyncReturnType" : "CreateUserPoolResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new Amazon Cognito user pool and sets the password policy for the pool.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSmsRoleAccessPolicyException",
        "documentation" : "<p>This exception is returned when the role provided for SMS configuration does not have permission to publish using Amazon SNS.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSmsRoleTrustRelationshipException",
        "documentation" : "<p>This exception is thrown when the trust relationship is invalid for the role provided for SMS configuration. This can happen if you do not trust <b>cognito-idp.amazonaws.com</b> or the external ID provided in the role does not match what is provided in the SMS configuration for the user pool.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEmailRoleAccessPolicyException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito is not allowed to use your email identity. HTTP status code: 400.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UserPoolTaggingException",
        "documentation" : "<p>This exception gets thrown when a user pool tag cannot be set or updated.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateUserPoolRequest",
        "variableName" : "createUserPoolRequest",
        "variableType" : "CreateUserPoolRequest",
        "documentation" : "<p>Represents the request to create a user pool.</p>",
        "simpleType" : "CreateUserPoolRequest",
        "variableSetterType" : "CreateUserPoolRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUserPool",
      "operationName" : "CreateUserPool",
      "returnType" : {
        "returnType" : "CreateUserPoolResult",
        "documentation" : "<p>Represents the response from the server for the request to create a user pool.</p>"
      },
      "syncReturnType" : "CreateUserPoolResult"
    },
    "CreateUserPoolClient" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserPoolClientResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserPoolClientResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserPoolClientRequest, CreateUserPoolClientResult>",
      "asyncReturnType" : "CreateUserPoolClientResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates the user pool client.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service encounters an invalid parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when the Amazon Cognito service cannot find the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>This exception gets thrown when the user has made too many requests for a given operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown when a user exceeds the limit for a requested AWS resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotAuthorizedException",
        "documentation" : "<p>This exception gets thrown when a user is not authorized.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>This exception is thrown when Amazon Cognito encounters an internal error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateUserPoolClientRequest",
        "variableName" : "createUserPoolClientRequest",
        "variableType" : "CreateUserPoolClientRequest",
[...]
