{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-10-30",
    "asyncClient" : "AWSComprehendMedicalAsyncClient",
    "asyncClientBuilderClassName" : "AWSComprehendMedicalAsyncClientBuilder",
    "asyncInterface" : "AWSComprehendMedicalAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSComprehendMedicalModuleInjector",
    "defaultEndpoint" : "comprehendmedical.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "comprehendmedical.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p> Amazon Comprehend Medical extracts structured information from unstructured clinical text. Use these actions to gain insight in your documents. </p>",
    "endpointPrefix" : "comprehendmedical",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.comprehendmedical",
    "packagePath" : "com/amazonaws/services/comprehendmedical",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "ComprehendMedical",
    "serviceFullName" : "AWS Comprehend Medical",
    "serviceId" : "ComprehendMedical",
    "serviceName" : "ComprehendMedical",
    "signingName" : "comprehendmedical",
    "smokeTestsPackageName" : "com.amazonaws.services.comprehendmedical.smoketests",
    "syncClient" : "AWSComprehendMedicalClient",
    "syncClientBuilderClassName" : "AWSComprehendMedicalClientBuilder",
    "syncInterface" : "AWSComprehendMedical",
    "uid" : "comprehendmedical-2018-10-30",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DescribeEntitiesDetectionV2Job" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEntitiesDetectionV2JobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEntitiesDetectionV2JobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEntitiesDetectionV2JobRequest, DescribeEntitiesDetectionV2JobResult>",
      "asyncReturnType" : "DescribeEntitiesDetectionV2JobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the properties associated with a medical entities detection job. Use this operation to get the status of a detection job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again. Contact customer support for more information about a service limit increase. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource identified by the specified Amazon Resource Name (ARN) was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal server error occurred. Retry your request. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEntitiesDetectionV2JobRequest",
        "variableName" : "describeEntitiesDetectionV2JobRequest",
        "variableType" : "DescribeEntitiesDetectionV2JobRequest",
        "documentation" : "",
        "simpleType" : "DescribeEntitiesDetectionV2JobRequest",
        "variableSetterType" : "DescribeEntitiesDetectionV2JobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEntitiesDetectionV2Job",
      "operationName" : "DescribeEntitiesDetectionV2Job",
      "returnType" : {
        "returnType" : "DescribeEntitiesDetectionV2JobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEntitiesDetectionV2JobResult"
    },
    "DescribePHIDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePHIDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePHIDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePHIDetectionJobRequest, DescribePHIDetectionJobResult>",
      "asyncReturnType" : "DescribePHIDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the properties associated with a protected health information (PHI) detection job. Use this operation to get the status of a detection job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again. Contact customer support for more information about a service limit increase. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource identified by the specified Amazon Resource Name (ARN) was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal server error occurred. Retry your request. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribePHIDetectionJobRequest",
        "variableName" : "describePHIDetectionJobRequest",
        "variableType" : "DescribePHIDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "DescribePHIDetectionJobRequest",
        "variableSetterType" : "DescribePHIDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePHIDetectionJob",
      "operationName" : "DescribePHIDetectionJob",
      "returnType" : {
        "returnType" : "DescribePHIDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribePHIDetectionJobResult"
    },
    "DetectEntities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectEntitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectEntitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectEntitiesRequest, DetectEntitiesResult>",
      "asyncReturnType" : "DetectEntitiesResult",
      "authenticated" : true,
      "deprecated" : true,
      "documentation" : "<p>The <code>DetectEntities</code> operation is deprecated. You should use the <a>DetectEntitiesV2</a> operation instead.</p> <p> Inspects the clinical text for a variety of medical entities and returns specific information about them such as entity category, location, and confidence score on that information .</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal server error occurred. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p> The Amazon Comprehend Medical service is temporarily unavailable. Please wait and then retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again. Contact customer support for more information about a service limit increase. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEncodingException",
        "documentation" : "<p> The input text was not in valid UTF-8 character encoding. Check your text then retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p> The size of the text you submitted exceeds the size limit. Reduce the size of the text or use a smaller document and then retry your request. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DetectEntitiesRequest",
        "variableName" : "detectEntitiesRequest",
        "variableType" : "DetectEntitiesRequest",
        "documentation" : "",
        "simpleType" : "DetectEntitiesRequest",
        "variableSetterType" : "DetectEntitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectEntities",
      "operationName" : "DetectEntities",
      "returnType" : {
        "returnType" : "DetectEntitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectEntitiesResult"
    },
    "DetectEntitiesV2" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectEntitiesV2Result>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectEntitiesV2Result>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectEntitiesV2Request, DetectEntitiesV2Result>",
      "asyncReturnType" : "DetectEntitiesV2Result",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Inspects the clinical text for a variety of medical entities and returns specific information about them such as entity category, location, and confidence score on that information. Amazon Comprehend Medical only detects medical entities in English language texts.</p> <p>The <code>DetectEntitiesV2</code> operation replaces the <a>DetectEntities</a> operation. This new action uses a different model for determining the entities in your medical text and changes the way that some entities are returned in the output. You should use the <code>DetectEntitiesV2</code> operation in all new applications.</p> <p>The <code>DetectEntitiesV2</code> operation returns the <code>Acuity</code> and <code>Direction</code> entities as attributes instead of types. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal server error occurred. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p> The Amazon Comprehend Medical service is temporarily unavailable. Please wait and then retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again. Contact customer support for more information about a service limit increase. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEncodingException",
        "documentation" : "<p> The input text was not in valid UTF-8 character encoding. Check your text then retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p> The size of the text you submitted exceeds the size limit. Reduce the size of the text or use a smaller document and then retry your request. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DetectEntitiesV2Request",
        "variableName" : "detectEntitiesV2Request",
        "variableType" : "DetectEntitiesV2Request",
        "documentation" : "",
        "simpleType" : "DetectEntitiesV2Request",
        "variableSetterType" : "DetectEntitiesV2Request"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectEntitiesV2",
      "operationName" : "DetectEntitiesV2",
      "returnType" : {
        "returnType" : "DetectEntitiesV2Result",
        "documentation" : null
      },
      "syncReturnType" : "DetectEntitiesV2Result"
    },
    "DetectPHI" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectPHIResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectPHIResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectPHIRequest, DetectPHIResult>",
      "asyncReturnType" : "DetectPHIResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Inspects the clinical text for protected health information (PHI) entities and returns the entity category, location, and confidence score for each entity. Amazon Comprehend Medical only detects entities in English language texts.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal server error occurred. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p> The Amazon Comprehend Medical service is temporarily unavailable. Please wait and then retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again. Contact customer support for more information about a service limit increase. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEncodingException",
        "documentation" : "<p> The input text was not in valid UTF-8 character encoding. Check your text then retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p> The size of the text you submitted exceeds the size limit. Reduce the size of the text or use a smaller document and then retry your request. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DetectPHIRequest",
        "variableName" : "detectPHIRequest",
        "variableType" : "DetectPHIRequest",
        "documentation" : "",
        "simpleType" : "DetectPHIRequest",
        "variableSetterType" : "DetectPHIRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectPHI",
      "operationName" : "DetectPHI",
      "returnType" : {
        "returnType" : "DetectPHIResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectPHIResult"
    },
    "InferICD10CM" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InferICD10CMResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InferICD10CMResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InferICD10CMRequest, InferICD10CMResult>",
      "asyncReturnType" : "InferICD10CMResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>InferICD10CM detects medical conditions as entities listed in a patient record and links those entities to normalized concept identifiers in the ICD-10-CM knowledge base from the Centers for Disease Control. Amazon Comprehend Medical only detects medical entities in English language texts.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal server error occurred. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p> The Amazon Comprehend Medical service is temporarily unavailable. Please wait and then retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again. Contact customer support for more information about a service limit increase. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEncodingException",
        "documentation" : "<p> The input text was not in valid UTF-8 character encoding. Check your text then retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p> The size of the text you submitted exceeds the size limit. Reduce the size of the text or use a smaller document and then retry your request. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InferICD10CMRequest",
        "variableName" : "inferICD10CMRequest",
        "variableType" : "InferICD10CMRequest",
        "documentation" : "",
        "simpleType" : "InferICD10CMRequest",
        "variableSetterType" : "InferICD10CMRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "inferICD10CM",
      "operationName" : "InferICD10CM",
      "returnType" : {
        "returnType" : "InferICD10CMResult",
        "documentation" : null
      },
      "syncReturnType" : "InferICD10CMResult"
    },
    "InferRxNorm" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InferRxNormResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InferRxNormResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InferRxNormRequest, InferRxNormResult>",
      "asyncReturnType" : "InferRxNormResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>InferRxNorm detects medications as entities listed in a patient record and links to the normalized concept identifiers in the RxNorm database from the National Library of Medicine. Amazon Comprehend Medical only detects medical entities in English language texts.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal server error occurred. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p> The Amazon Comprehend Medical service is temporarily unavailable. Please wait and then retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again. Contact customer support for more information about a service limit increase. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEncodingException",
        "documentation" : "<p> The input text was not in valid UTF-8 character encoding. Check your text then retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p> The size of the text you submitted exceeds the size limit. Reduce the size of the text or use a smaller document and then retry your request. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InferRxNormRequest",
        "variableName" : "inferRxNormRequest",
        "variableType" : "InferRxNormRequest",
        "documentation" : "",
        "simpleType" : "InferRxNormRequest",
        "variableSetterType" : "InferRxNormRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "inferRxNorm",
      "operationName" : "InferRxNorm",
      "returnType" : {
        "returnType" : "InferRxNormResult",
        "documentation" : null
      },
      "syncReturnType" : "InferRxNormResult"
    },
    "ListEntitiesDetectionV2Jobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEntitiesDetectionV2JobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEntitiesDetectionV2JobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEntitiesDetectionV2JobsRequest, ListEntitiesDetectionV2JobsResult>",
      "asyncReturnType" : "ListEntitiesDetectionV2JobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of medical entity detection jobs that you have submitted.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The filter that you specified for the operation is invalid. Check the filter values that you entered and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again. Contact customer support for more information about a service limit increase. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal server error occurred. Retry your request. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEntitiesDetectionV2JobsRequest",
        "variableName" : "listEntitiesDetectionV2JobsRequest",
        "variableType" : "ListEntitiesDetectionV2JobsRequest",
        "documentation" : "",
        "simpleType" : "ListEntitiesDetectionV2JobsRequest",
        "variableSetterType" : "ListEntitiesDetectionV2JobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEntitiesDetectionV2Jobs",
      "operationName" : "ListEntitiesDetectionV2Jobs",
      "returnType" : {
        "returnType" : "ListEntitiesDetectionV2JobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEntitiesDetectionV2JobsResult"
    },
    "ListPHIDetectionJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPHIDetectionJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPHIDetectionJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPHIDetectionJobsRequest, ListPHIDetectionJobsResult>",
      "asyncReturnType" : "ListPHIDetectionJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of protected health information (PHI) detection jobs that you have submitted.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The filter that you specified for the operation is invalid. Check the filter values that you entered and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again. Contact customer support for more information about a service limit increase. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal server error occurred. Retry your request. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPHIDetectionJobsRequest",
        "variableName" : "listPHIDetectionJobsRequest",
        "variableType" : "ListPHIDetectionJobsRequest",
        "documentation" : "",
        "simpleType" : "ListPHIDetectionJobsRequest",
        "variableSetterType" : "ListPHIDetectionJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPHIDetectionJobs",
      "operationName" : "ListPHIDetectionJobs",
      "returnType" : {
        "returnType" : "ListPHIDetectionJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPHIDetectionJobsResult"
    },
    "StartEntitiesDetectionV2Job" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartEntitiesDetectionV2JobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartEntitiesDetectionV2JobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartEntitiesDetectionV2JobRequest, StartEntitiesDetectionV2JobResult>",
      "asyncReturnType" : "StartEntitiesDetectionV2JobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an asynchronous medical entity detection job for a collection of documents. Use the <code>DescribeEntitiesDetectionV2Job</code> operation to track the status of a job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again. Contact customer support for more information about a service limit increase. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource identified by the specified Amazon Resource Name (ARN) was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal server error occurred. Retry your request. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartEntitiesDetectionV2JobRequest",
        "variableName" : "startEntitiesDetectionV2JobRequest",
        "variableType" : "StartEntitiesDetectionV2JobRequest",
        "documentation" : "",
        "simpleType" : "StartEntitiesDetectionV2JobRequest",
        "variableSetterType" : "StartEntitiesDetectionV2JobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startEntitiesDetectionV2Job",
      "operationName" : "StartEntitiesDetectionV2Job",
      "returnType" : {
        "returnType" : "StartEntitiesDetectionV2JobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartEntitiesDetectionV2JobResult"
    },
    "StartPHIDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartPHIDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartPHIDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartPHIDetectionJobRequest, StartPHIDetectionJobResult>",
      "asyncReturnType" : "StartPHIDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an asynchronous job to detect protected health information (PHI). Use the <code>DescribePHIDetectionJob</code> operation to track the status of a job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again. Contact customer support for more information about a service limit increase. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource identified by the specified Amazon Resource Name (ARN) was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal server error occurred. Retry your request. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartPHIDetectionJobRequest",
        "variableName" : "startPHIDetectionJobRequest",
        "variableType" : "StartPHIDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "StartPHIDetectionJobRequest",
        "variableSetterType" : "StartPHIDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startPHIDetectionJob",
      "operationName" : "StartPHIDetectionJob",
      "returnType" : {
        "returnType" : "StartPHIDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartPHIDetectionJobResult"
    },
    "StopEntitiesDetectionV2Job" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopEntitiesDetectionV2JobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopEntitiesDetectionV2JobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopEntitiesDetectionV2JobRequest, StopEntitiesDetectionV2JobResult>",
      "asyncReturnType" : "StopEntitiesDetectionV2JobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops a medical entities detection job in progress.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource identified by the specified Amazon Resource Name (ARN) was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal server error occurred. Retry your request. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopEntitiesDetectionV2JobRequest",
        "variableName" : "stopEntitiesDetectionV2JobRequest",
        "variableType" : "StopEntitiesDetectionV2JobRequest",
        "documentation" : "",
        "simpleType" : "StopEntitiesDetectionV2JobRequest",
        "variableSetterType" : "StopEntitiesDetectionV2JobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopEntitiesDetectionV2Job",
      "operationName" : "StopEntitiesDetectionV2Job",
      "returnType" : {
        "returnType" : "StopEntitiesDetectionV2JobResult",
        "documentation" : null
      },
      "syncReturnType" : "StopEntitiesDetectionV2JobResult"
    },
    "StopPHIDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopPHIDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopPHIDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopPHIDetectionJobRequest, StopPHIDetectionJobResult>",
      "asyncReturnType" : "StopPHIDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops a protected health information (PHI) detection job in progress.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource identified by the specified Amazon Resource Name (ARN) was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal server error occurred. Retry your request. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopPHIDetectionJobRequest",
        "variableName" : "stopPHIDetectionJobRequest",
        "variableType" : "StopPHIDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "StopPHIDetectionJobRequest",
        "variableSetterType" : "StopPHIDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopPHIDetectionJob",
      "operationName" : "StopPHIDetectionJob",
      "returnType" : {
        "returnType" : "StopPHIDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StopPHIDetectionJobResult"
    }
  },
  "shapes" : {
    "Attribute" : {
      "c2jName" : "Attribute",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> An extracted segment of the text that is an attribute of an entity, or otherwise related to an entity, such as the dosage of a medication taken. It contains information about the attribute such as id, begin and end offset within the input text, and the segment of the input text. </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Type",
        "c2jShape" : "EntitySubType",
        "deprecated" : false,
        "documentation" : "<p> The type of attribute. </p>",
        "enumType" : "EntitySubType",
        "fluentSetterDocumentation" : "/**<p> The type of attribute. </p>\n@param type The type of attribute.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EntitySubType*/",
        "fluentSetterMethodName" : "withType",
        "getterDocumentation" : "/**<p> The type of attribute. </p>\n@return The type of attribute.\n@see EntitySubType*/",
        "getterMethodName" : "getType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Type",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Type",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The type of attribute. </p>\n@param type The type of attribute.\n@see EntitySubType*/",
        "setterMethodName" : "setType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The type of attribute. </p>\n@param type The type of attribute.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EntitySubType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "<p> The type of attribute. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Score",
        "c2jShape" : "Float",
        "deprecated" : false,
        "documentation" : "<p> The level of confidence that Amazon Comprehend Medical has that the segment of text is correctly recognized as an attribute. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The level of confidence that Amazon Comprehend Medical has that the segment of text is correctly recognized as an attribute. </p>\n@param score The level of confidence that Amazon Comprehend Medical has that the segment of text is correctly recognized as an attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withScore",
        "getterDocumentation" : "/**<p> The level of confidence that Amazon Comprehend Medical has that the segment of text is correctly recognized as an attribute. </p>\n@return The level of confidence that Amazon Comprehend Medical has that the segment of text is correctly recognized as an attribute.*/",
        "getterMethodName" : "getScore",
        "getterModel" : {
          "returnType" : "Float",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Score",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Score",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Float",
        "marshallingType" : "FLOAT",
        "name" : "Score",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The level of confidence that Amazon Comprehend Medical has that the segment of text is correctly recognized as an attribute. </p>\n@param score The level of confidence that Amazon Comprehend Medical has that the segment of text is correctly recognized as an attribute.*/",
        "setterMethodName" : "setScore",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Float",
          "variableName" : "score",
          "variableType" : "Float",
          "documentation" : "",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The level of confidence that Amazon Comprehend Medical has that the segment of text is correctly recognized as an attribute. </p>\n@param score The level of confidence that Amazon Comprehend Medical has that the segment of text is correctly recognized as an attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Float",
          "variableName" : "score",
          "variableType" : "Float",
          "documentation" : "<p> The level of confidence that Amazon Comprehend Medical has that the segment of text is correctly recognized as an attribute. </p>",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RelationshipScore",
        "c2jShape" : "Float",
        "deprecated" : false,
        "documentation" : "<p> The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity. </p>\n@param relationshipScore The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRelationshipScore",
        "getterDocumentation" : "/**<p> The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity. </p>\n@return The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity.*/",
        "getterMethodName" : "getRelationshipScore",
        "getterModel" : {
          "returnType" : "Float",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RelationshipScore",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RelationshipScore",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Float",
        "marshallingType" : "FLOAT",
        "name" : "RelationshipScore",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity. </p>\n@param relationshipScore The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity.*/",
        "setterMethodName" : "setRelationshipScore",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Float",
          "variableName" : "relationshipScore",
          "variableType" : "Float",
          "documentation" : "",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity. </p>\n@param relationshipScore The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Float",
          "variableName" : "relationshipScore",
          "variableType" : "Float",
          "documentation" : "<p> The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity. </p>",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RelationshipType",
        "c2jShape" : "RelationshipType",
        "deprecated" : false,
        "documentation" : "<p>The type of relationship between the entity and attribute. Type for the relationship is <code>OVERLAP</code>, indicating that the entity occurred at the same time as the <code>Date_Expression</code>. </p>",
        "enumType" : "RelationshipType",
        "fluentSetterDocumentation" : "/**<p>The type of relationship between the entity and attribute. Type for the relationship is <code>OVERLAP</code>, indicating that the entity occurred at the same time as the <code>Date_Expression</code>. </p>\n@param relationshipType The type of relationship between the entity and attribute. Type for the relationship is <code>OVERLAP</code>, indicating that the entity occurred at the same time as the <code>Date_Expression</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see RelationshipType*/",
        "fluentSetterMethodName" : "withRelationshipType",
        "getterDocumentation" : "/**<p>The type of relationship between the entity and attribute. Type for the relationship is <code>OVERLAP</code>, indicating that the entity occurred at the same time as the <code>Date_Expression</code>. </p>\n@return The type of relationship between the entity and attribute. Type for the relationship is <code>OVERLAP</code>, indicating that the entity occurred at the same time as the <code>Date_Expression</code>.\n@see RelationshipType*/",
        "getterMethodName" : "getRelationshipType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RelationshipType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RelationshipType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RelationshipType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The type of relationship between the entity and attribute. Type for the relationship is <code>OVERLAP</code>, indicating that the entity occurred at the same time as the <code>Date_Expression</code>. </p>\n@param relationshipType The type of relationship between the entity and attribute. Type for the relationship is <code>OVERLAP</code>, indicating that the entity occurred at the same time as the <code>Date_Expression</code>.\n@see RelationshipType*/",
        "setterMethodName" : "setRelationshipType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "relationshipType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of relationship between the entity and attribute. Type for the relationship is <code>OVERLAP</code>, indicating that the entity occurred at the same time as the <code>Date_Expression</code>. </p>\n@param relationshipType The type of relationship between the entity and attribute. Type for the relationship is <code>OVERLAP</code>, indicating that the entity occurred at the same time as the <code>Date_Expression</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see RelationshipType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "relationshipType",
          "variableType" : "String",
          "documentation" : "<p>The type of relationship between the entity and attribute. Type for the relationship is <code>OVERLAP</code>, indicating that the entity occurred at the same time as the <code>Date_Expression</code>. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Id",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>\n@param id The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>\n@return The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>\n@param id The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "id",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>\n@param id The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "id",
          "variableType" : "Integer",
          "documentation" : "<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BeginOffset",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>\n@param beginOffset The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBeginOffset",
        "getterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>\n@return The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string.*/",
        "getterMethodName" : "getBeginOffset",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BeginOffset",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BeginOffset",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "BeginOffset",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>\n@param beginOffset The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string.*/",
        "setterMethodName" : "setBeginOffset",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "beginOffset",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>\n@param beginOffset The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "beginOffset",
          "variableType" : "Integer",
          "documentation" : "<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EndOffset",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.</p>\n@param endOffset The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEndOffset",
        "getterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.</p>\n@return The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.*/",
        "getterMethodName" : "getEndOffset",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EndOffset",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EndOffset",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "EndOffset",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.</p>\n@param endOffset The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.*/",
        "setterMethodName" : "setEndOffset",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "endOffset",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.</p>\n@param endOffset The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "endOffset",
          "variableType" : "Integer",
          "documentation" : "<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Text",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p> The segment of input text extracted as this attribute.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The segment of input text extracted as this attribute.</p>\n@param text The segment of input text extracted as this attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withText",
        "getterDocumentation" : "/**<p> The segment of input text extracted as this attribute.</p>\n@return The segment of input text extracted as this attribute.*/",
        "getterMethodName" : "getText",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Text",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Text",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Text",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The segment of input text extracted as this attribute.</p>\n@param text The segment of input text extracted as this attribute.*/",
        "setterMethodName" : "setText",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "text",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The segment of input text extracted as this attribute.</p>\n@param text The segment of input text extracted as this attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "text",
          "variableType" : "String",
          "documentation" : "<p> The segment of input text extracted as this attribute.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Category",
        "c2jShape" : "EntityType",
        "deprecated" : false,
        "documentation" : "<p> The category of attribute. </p>",
        "enumType" : "EntityType",
        "fluentSetterDocumentation" : "/**<p> The category of attribute. </p>\n@param category The category of attribute.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EntityType*/",
        "fluentSetterMethodName" : "withCategory",
        "getterDocumentation" : "/**<p> The category of attribute. </p>\n@return The category of attribute.\n@see EntityType*/",
        "getterMethodName" : "getCategory",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Category",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Category",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Category",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The category of attribute. </p>\n@param category The category of attribute.\n@see EntityType*/",
        "setterMethodName" : "setCategory",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "category",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The category of attribute. </p>\n@param category The category of attribute.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EntityType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "category",
          "variableType" : "String",
          "documentation" : "<p> The category of attribute. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Traits",
        "c2jShape" : "TraitList",
        "deprecated" : false,
        "documentation" : "<p> Contextual information for this attribute. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Contextual information for this attribute. </p>\n@param traits Contextual information for this attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTraits",
        "getterDocumentation" : "/**<p> Contextual information for this attribute. </p>\n@return Contextual information for this attribute.*/",
        "getterMethodName" : "getTraits",
        "getterModel" : {
          "returnType" : "java.util.List<Trait>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Traits",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Traits",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Trait",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Trait",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Trait",
              "variableName" : "member",
              "variableType" : "Trait",
              "documentation" : "",
              "simpleType" : "Trait",
              "variableSetterType" : "Trait"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Trait",
              "variableName" : "member",
              "variableType" : "Trait",
              "documentation" : "",
              "simpleType" : "Trait",
              "variableSetterType" : "Trait"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Trait",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Trait",
          "templateImplType" : "java.util.ArrayList<Trait>",
          "templateType" : "java.util.List<Trait>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Traits",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Contextual information for this attribute. </p>\n@param traits Contextual information for this attribute.*/",
        "setterMethodName" : "setTraits",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Trait>",
          "variableName" : "traits",
          "variableType" : "java.util.List<Trait>",
          "documentation" : "",
          "simpleType" : "List<Trait>",
          "variableSetterType" : "java.util.Collection<Trait>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Contextual information for this attribute. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTraits(java.util.Collection)} or {@link #withTraits(java.util.Collection)} if you want to override the existing values.</p>\n@param traits Contextual information for this attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Trait>",
          "variableName" : "traits",
          "variableType" : "java.util.List<Trait>",
          "documentation" : "<p> Contextual information for this attribute. </p>",
          "simpleType" : "List<Trait>",
          "variableSetterType" : "java.util.Collection<Trait>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BeginOffset" : {
          "c2jName" : "BeginOffset",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>\n@param beginOffset The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBeginOffset",
          "getterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>\n@return The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string.*/",
          "getterMethodName" : "getBeginOffset",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BeginOffset",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BeginOffset",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "BeginOffset",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>\n@param beginOffset The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string.*/",
          "setterMethodName" : "setBeginOffset",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "beginOffset",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>\n@param beginOffset The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "beginOffset",
            "variableType" : "Integer",
            "documentation" : "<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "Category" : {
          "c2jName" : "Category",
          "c2jShape" : "EntityType",
          "deprecated" : false,
          "documentation" : "<p> The category of attribute. </p>",
          "enumType" : "EntityType",
          "fluentSetterDocumentation" : "/**<p> The category of attribute. </p>\n@param category The category of attribute.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EntityType*/",
          "fluentSetterMethodName" : "withCategory",
          "getterDocumentation" : "/**<p> The category of attribute. </p>\n@return The category of attribute.\n@see EntityType*/",
          "getterMethodName" : "getCategory",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Category",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Category",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Category",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The category of attribute. </p>\n@param category The category of attribute.\n@see EntityType*/",
          "setterMethodName" : "setCategory",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "category",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The category of attribute. </p>\n@param category The category of attribute.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EntityType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "category",
            "variableType" : "String",
            "documentation" : "<p> The category of attribute. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "EndOffset" : {
          "c2jName" : "EndOffset",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.</p>\n@param endOffset The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEndOffset",
          "getterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.</p>\n@return The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.*/",
          "getterMethodName" : "getEndOffset",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "EndOffset",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EndOffset",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "EndOffset",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.</p>\n@param endOffset The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.*/",
          "setterMethodName" : "setEndOffset",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "endOffset",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.</p>\n@param endOffset The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "endOffset",
            "variableType" : "Integer",
            "documentation" : "<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "Id" : {
          "c2jName" : "Id",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>\n@param id The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withId",
          "getterDocumentation" : "/**<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>\n@return The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier.*/",
          "getterMethodName" : "getId",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Id",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Id",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "Id",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>\n@param id The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier.*/",
          "setterMethodName" : "setId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "id",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>\n@param id The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "id",
            "variableType" : "Integer",
            "documentation" : "<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "RelationshipScore" : {
          "c2jName" : "RelationshipScore",
          "c2jShape" : "Float",
          "deprecated" : false,
          "documentation" : "<p> The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity. </p>\n@param relationshipScore The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRelationshipScore",
          "getterDocumentation" : "/**<p> The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity. </p>\n@return The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity.*/",
          "getterMethodName" : "getRelationshipScore",
          "getterModel" : {
            "returnType" : "Float",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RelationshipScore",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RelationshipScore",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Float",
          "marshallingType" : "FLOAT",
          "name" : "RelationshipScore",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity. </p>\n@param relationshipScore The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity.*/",
          "setterMethodName" : "setRelationshipScore",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Float",
            "variableName" : "relationshipScore",
            "variableType" : "Float",
            "documentation" : "",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity. </p>\n@param relationshipScore The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Float",
            "variableName" : "relationshipScore",
            "variableType" : "Float",
            "documentation" : "<p> The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity. </p>",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "xmlNameSpaceUri" : null
        },
        "RelationshipType" : {
          "c2jName" : "RelationshipType",
          "c2jShape" : "RelationshipType",
          "deprecated" : false,
          "documentation" : "<p>The type of relationship between the entity and attribute. Type for the relationship is <code>OVERLAP</code>, indicating that the entity occurred at the same time as the <code>Date_Expression</code>. </p>",
          "enumType" : "RelationshipType",
          "fluentSetterDocumentation" : "/**<p>The type of relationship between the entity and attribute. Type for the relationship is <code>OVERLAP</code>, indicating that the entity occurred at the same time as the <code>Date_Expression</code>. </p>\n@param relationshipType The type of relationship between the entity and attribute. Type for the relationship is <code>OVERLAP</code>, indicating that the entity occurred at the same time as the <code>Date_Expression</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see RelationshipType*/",
[...]
