{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2017-11-27",
    "asyncClient" : "AmazonComprehendAsyncClient",
    "asyncClientBuilderClassName" : "AmazonComprehendAsyncClientBuilder",
    "asyncInterface" : "AmazonComprehendAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonComprehendModuleInjector",
    "defaultEndpoint" : "comprehend.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "comprehend.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Comprehend is an AWS service for gaining insight into the content of documents. Use these actions to determine the topics contained in your documents, the topics they discuss, the predominant sentiment expressed in them, the predominant language used, and more.</p>",
    "endpointPrefix" : "comprehend",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.comprehend",
    "packagePath" : "com/amazonaws/services/comprehend",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Comprehend",
    "serviceName" : "Amazon Comprehend",
    "signingName" : "comprehend",
    "smokeTestsPackageName" : "com.amazonaws.services.comprehend.smoketests",
    "syncClient" : "AmazonComprehendClient",
    "syncClientBuilderClassName" : "AmazonComprehendClientBuilder",
    "syncInterface" : "AmazonComprehend",
    "uid" : "comprehend-2017-11-27",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchDetectDominantLanguage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDetectDominantLanguageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDetectDominantLanguageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDetectDominantLanguageRequest, BatchDetectDominantLanguageResult>",
      "asyncReturnType" : "BatchDetectDominantLanguageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Determines the dominant language of the input text for a batch of documents. For a list of languages that Amazon Comprehend can detect, see <a href=\"http://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BatchSizeLimitExceededException",
        "documentation" : "<p>The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchDetectDominantLanguageRequest",
        "variableName" : "batchDetectDominantLanguageRequest",
        "variableType" : "BatchDetectDominantLanguageRequest",
        "documentation" : "",
        "simpleType" : "BatchDetectDominantLanguageRequest",
        "variableSetterType" : "BatchDetectDominantLanguageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDetectDominantLanguage",
      "operationName" : "BatchDetectDominantLanguage",
      "returnType" : {
        "returnType" : "BatchDetectDominantLanguageResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDetectDominantLanguageResult"
    },
    "BatchDetectEntities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDetectEntitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDetectEntitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDetectEntitiesRequest, BatchDetectEntitiesResult>",
      "asyncReturnType" : "BatchDetectEntitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Inspects the text of a batch of documents and returns information about them. For more information about entities, see <a>how-entities</a> </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all APIs except <code>DetectDominantLanguage</code>, Amazon Comprehend accepts only English or Spanish text. For the <code>DetectDominantLanguage</code> API, Amazon Comprehend detects 100 languages. For a list of languages, see <a>how-languages</a> </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BatchSizeLimitExceededException",
        "documentation" : "<p>The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchDetectEntitiesRequest",
        "variableName" : "batchDetectEntitiesRequest",
        "variableType" : "BatchDetectEntitiesRequest",
        "documentation" : "",
        "simpleType" : "BatchDetectEntitiesRequest",
        "variableSetterType" : "BatchDetectEntitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDetectEntities",
      "operationName" : "BatchDetectEntities",
      "returnType" : {
        "returnType" : "BatchDetectEntitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDetectEntitiesResult"
    },
    "BatchDetectKeyPhrases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDetectKeyPhrasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDetectKeyPhrasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDetectKeyPhrasesRequest, BatchDetectKeyPhrasesResult>",
      "asyncReturnType" : "BatchDetectKeyPhrasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Detects the key noun phrases found in a batch of documents.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all APIs except <code>DetectDominantLanguage</code>, Amazon Comprehend accepts only English or Spanish text. For the <code>DetectDominantLanguage</code> API, Amazon Comprehend detects 100 languages. For a list of languages, see <a>how-languages</a> </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BatchSizeLimitExceededException",
        "documentation" : "<p>The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchDetectKeyPhrasesRequest",
        "variableName" : "batchDetectKeyPhrasesRequest",
        "variableType" : "BatchDetectKeyPhrasesRequest",
        "documentation" : "",
        "simpleType" : "BatchDetectKeyPhrasesRequest",
        "variableSetterType" : "BatchDetectKeyPhrasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDetectKeyPhrases",
      "operationName" : "BatchDetectKeyPhrases",
      "returnType" : {
        "returnType" : "BatchDetectKeyPhrasesResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDetectKeyPhrasesResult"
    },
    "BatchDetectSentiment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDetectSentimentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDetectSentimentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDetectSentimentRequest, BatchDetectSentimentResult>",
      "asyncReturnType" : "BatchDetectSentimentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Inspects a batch of documents and returns an inference of the prevailing sentiment, <code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>, in each one.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all APIs except <code>DetectDominantLanguage</code>, Amazon Comprehend accepts only English or Spanish text. For the <code>DetectDominantLanguage</code> API, Amazon Comprehend detects 100 languages. For a list of languages, see <a>how-languages</a> </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BatchSizeLimitExceededException",
        "documentation" : "<p>The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchDetectSentimentRequest",
        "variableName" : "batchDetectSentimentRequest",
        "variableType" : "BatchDetectSentimentRequest",
        "documentation" : "",
        "simpleType" : "BatchDetectSentimentRequest",
        "variableSetterType" : "BatchDetectSentimentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDetectSentiment",
      "operationName" : "BatchDetectSentiment",
      "returnType" : {
        "returnType" : "BatchDetectSentimentResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDetectSentimentResult"
    },
    "DescribeTopicsDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTopicsDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTopicsDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTopicsDetectionJobRequest, DescribeTopicsDetectionJobResult>",
      "asyncReturnType" : "DescribeTopicsDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the properties associated with a topic detection job. Use this operation to get the status of a detection job.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was not found. Check the job ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTopicsDetectionJobRequest",
        "variableName" : "describeTopicsDetectionJobRequest",
        "variableType" : "DescribeTopicsDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeTopicsDetectionJobRequest",
        "variableSetterType" : "DescribeTopicsDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTopicsDetectionJob",
      "operationName" : "DescribeTopicsDetectionJob",
      "returnType" : {
        "returnType" : "DescribeTopicsDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeTopicsDetectionJobResult"
    },
    "DetectDominantLanguage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectDominantLanguageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectDominantLanguageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectDominantLanguageRequest, DetectDominantLanguageResult>",
      "asyncReturnType" : "DetectDominantLanguageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Determines the dominant language of the input text. For a list of languages that Amazon Comprehend can detect, see <a href=\"http://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DetectDominantLanguageRequest",
        "variableName" : "detectDominantLanguageRequest",
        "variableType" : "DetectDominantLanguageRequest",
        "documentation" : "",
        "simpleType" : "DetectDominantLanguageRequest",
        "variableSetterType" : "DetectDominantLanguageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectDominantLanguage",
      "operationName" : "DetectDominantLanguage",
      "returnType" : {
        "returnType" : "DetectDominantLanguageResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectDominantLanguageResult"
    },
    "DetectEntities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectEntitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectEntitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectEntitiesRequest, DetectEntitiesResult>",
      "asyncReturnType" : "DetectEntitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Inspects text for entities, and returns information about them. For more information, about entities, see <a>how-entities</a>. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all APIs except <code>DetectDominantLanguage</code>, Amazon Comprehend accepts only English or Spanish text. For the <code>DetectDominantLanguage</code> API, Amazon Comprehend detects 100 languages. For a list of languages, see <a>how-languages</a> </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DetectEntitiesRequest",
        "variableName" : "detectEntitiesRequest",
        "variableType" : "DetectEntitiesRequest",
        "documentation" : "",
        "simpleType" : "DetectEntitiesRequest",
        "variableSetterType" : "DetectEntitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectEntities",
      "operationName" : "DetectEntities",
      "returnType" : {
        "returnType" : "DetectEntitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectEntitiesResult"
    },
    "DetectKeyPhrases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectKeyPhrasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectKeyPhrasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectKeyPhrasesRequest, DetectKeyPhrasesResult>",
      "asyncReturnType" : "DetectKeyPhrasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Detects the key noun phrases found in the text. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all APIs except <code>DetectDominantLanguage</code>, Amazon Comprehend accepts only English or Spanish text. For the <code>DetectDominantLanguage</code> API, Amazon Comprehend detects 100 languages. For a list of languages, see <a>how-languages</a> </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DetectKeyPhrasesRequest",
        "variableName" : "detectKeyPhrasesRequest",
        "variableType" : "DetectKeyPhrasesRequest",
        "documentation" : "",
        "simpleType" : "DetectKeyPhrasesRequest",
        "variableSetterType" : "DetectKeyPhrasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectKeyPhrases",
      "operationName" : "DetectKeyPhrases",
      "returnType" : {
        "returnType" : "DetectKeyPhrasesResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectKeyPhrasesResult"
    },
    "DetectSentiment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectSentimentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectSentimentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectSentimentRequest, DetectSentimentResult>",
      "asyncReturnType" : "DetectSentimentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Inspects text and returns an inference of the prevailing sentiment (<code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>). </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all APIs except <code>DetectDominantLanguage</code>, Amazon Comprehend accepts only English or Spanish text. For the <code>DetectDominantLanguage</code> API, Amazon Comprehend detects 100 languages. For a list of languages, see <a>how-languages</a> </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DetectSentimentRequest",
        "variableName" : "detectSentimentRequest",
        "variableType" : "DetectSentimentRequest",
        "documentation" : "",
        "simpleType" : "DetectSentimentRequest",
        "variableSetterType" : "DetectSentimentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectSentiment",
      "operationName" : "DetectSentiment",
      "returnType" : {
        "returnType" : "DetectSentimentResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectSentimentResult"
    },
    "ListTopicsDetectionJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTopicsDetectionJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTopicsDetectionJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTopicsDetectionJobsRequest, ListTopicsDetectionJobsResult>",
      "asyncReturnType" : "ListTopicsDetectionJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of the topic detection jobs that you have submitted.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidFilterException",
        "documentation" : "<p>The filter specified for the <code>ListTopicDetectionJobs</code> operation is invalid. Specify a different filter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTopicsDetectionJobsRequest",
        "variableName" : "listTopicsDetectionJobsRequest",
        "variableType" : "ListTopicsDetectionJobsRequest",
        "documentation" : "",
        "simpleType" : "ListTopicsDetectionJobsRequest",
        "variableSetterType" : "ListTopicsDetectionJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTopicsDetectionJobs",
      "operationName" : "ListTopicsDetectionJobs",
      "returnType" : {
        "returnType" : "ListTopicsDetectionJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTopicsDetectionJobsResult"
    },
    "StartTopicsDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartTopicsDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartTopicsDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartTopicsDetectionJobRequest, StartTopicsDetectionJobResult>",
      "asyncReturnType" : "StartTopicsDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an asynchronous topic detection job. Use the <code>DescribeTopicDetectionJob</code> operation to track the status of a job.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartTopicsDetectionJobRequest",
        "variableName" : "startTopicsDetectionJobRequest",
        "variableType" : "StartTopicsDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "StartTopicsDetectionJobRequest",
        "variableSetterType" : "StartTopicsDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startTopicsDetectionJob",
      "operationName" : "StartTopicsDetectionJob",
      "returnType" : {
        "returnType" : "StartTopicsDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartTopicsDetectionJobResult"
    }
  },
  "shapes" : {
    "BatchDetectDominantLanguageItemResult" : {
      "c2jName" : "BatchDetectDominantLanguageItemResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Index",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p>The zero-based index of the document in the input list.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The zero-based index of the document in the input list.</p>\n@param index The zero-based index of the document in the input list.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIndex",
        "getterDocumentation" : "/**<p>The zero-based index of the document in the input list.</p>\n@return The zero-based index of the document in the input list.*/",
        "getterMethodName" : "getIndex",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Index",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Index",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Index",
        "setterDocumentation" : "/**<p>The zero-based index of the document in the input list.</p>\n@param index The zero-based index of the document in the input list.*/",
        "setterMethodName" : "setIndex",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "index",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The zero-based index of the document in the input list.</p>\n@param index The zero-based index of the document in the input list.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "index",
          "variableType" : "Integer",
          "documentation" : "<p>The zero-based index of the document in the input list.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Languages",
        "c2jShape" : "ListOfDominantLanguages",
        "deprecated" : false,
        "documentation" : "<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>\n@param languages One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLanguages",
        "getterDocumentation" : "/**<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>\n@return One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.*/",
        "getterMethodName" : "getLanguages",
        "getterModel" : {
          "returnType" : "java.util.List<DominantLanguage>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Languages",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Languages",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "DominantLanguage",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "DominantLanguage",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "DominantLanguage",
              "variableName" : "member",
              "variableType" : "DominantLanguage",
              "documentation" : "",
              "simpleType" : "DominantLanguage",
              "variableSetterType" : "DominantLanguage"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "DominantLanguage",
              "variableName" : "member",
              "variableType" : "DominantLanguage",
              "documentation" : "",
              "simpleType" : "DominantLanguage",
              "variableSetterType" : "DominantLanguage"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "DominantLanguage",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "DominantLanguage",
          "templateImplType" : "java.util.ArrayList<DominantLanguage>",
          "templateType" : "java.util.List<DominantLanguage>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Languages",
        "setterDocumentation" : "/**<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>\n@param languages One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.*/",
        "setterMethodName" : "setLanguages",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<DominantLanguage>",
          "variableName" : "languages",
          "variableType" : "java.util.List<DominantLanguage>",
          "documentation" : "",
          "simpleType" : "List<DominantLanguage>",
          "variableSetterType" : "java.util.Collection<DominantLanguage>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setLanguages(java.util.Collection)} or {@link #withLanguages(java.util.Collection)} if you want to override the existing values.</p>\n@param languages One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<DominantLanguage>",
          "variableName" : "languages",
          "variableType" : "java.util.List<DominantLanguage>",
          "documentation" : "<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>",
          "simpleType" : "List<DominantLanguage>",
          "variableSetterType" : "java.util.Collection<DominantLanguage>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Index" : {
          "c2jName" : "Index",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p>The zero-based index of the document in the input list.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The zero-based index of the document in the input list.</p>\n@param index The zero-based index of the document in the input list.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIndex",
          "getterDocumentation" : "/**<p>The zero-based index of the document in the input list.</p>\n@return The zero-based index of the document in the input list.*/",
          "getterMethodName" : "getIndex",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Index",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Index",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "Index",
          "setterDocumentation" : "/**<p>The zero-based index of the document in the input list.</p>\n@param index The zero-based index of the document in the input list.*/",
          "setterMethodName" : "setIndex",
          "setterModel" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "index",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The zero-based index of the document in the input list.</p>\n@param index The zero-based index of the document in the input list.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "index",
            "variableType" : "Integer",
            "documentation" : "<p>The zero-based index of the document in the input list.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "Languages" : {
          "c2jName" : "Languages",
          "c2jShape" : "ListOfDominantLanguages",
          "deprecated" : false,
          "documentation" : "<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>\n@param languages One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLanguages",
          "getterDocumentation" : "/**<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>\n@return One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.*/",
          "getterMethodName" : "getLanguages",
          "getterModel" : {
            "returnType" : "java.util.List<DominantLanguage>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Languages",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Languages",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "DominantLanguage",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "DominantLanguage",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "DominantLanguage",
                "variableName" : "member",
                "variableType" : "DominantLanguage",
                "documentation" : "",
                "simpleType" : "DominantLanguage",
                "variableSetterType" : "DominantLanguage"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "DominantLanguage",
                "variableName" : "member",
                "variableType" : "DominantLanguage",
                "documentation" : "",
                "simpleType" : "DominantLanguage",
                "variableSetterType" : "DominantLanguage"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "DominantLanguage",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "DominantLanguage",
            "templateImplType" : "java.util.ArrayList<DominantLanguage>",
            "templateType" : "java.util.List<DominantLanguage>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Languages",
          "setterDocumentation" : "/**<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>\n@param languages One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.*/",
          "setterMethodName" : "setLanguages",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<DominantLanguage>",
            "variableName" : "languages",
            "variableType" : "java.util.List<DominantLanguage>",
            "documentation" : "",
            "simpleType" : "List<DominantLanguage>",
            "variableSetterType" : "java.util.Collection<DominantLanguage>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setLanguages(java.util.Collection)} or {@link #withLanguages(java.util.Collection)} if you want to override the existing values.</p>\n@param languages One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<DominantLanguage>",
            "variableName" : "languages",
            "variableType" : "java.util.List<DominantLanguage>",
            "documentation" : "<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>",
            "simpleType" : "List<DominantLanguage>",
            "variableSetterType" : "java.util.Collection<DominantLanguage>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BatchDetectDominantLanguageItemResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "BatchDetectDominantLanguageItemResult",
        "variableName" : "batchDetectDominantLanguageItemResult",
        "variableType" : "BatchDetectDominantLanguageItemResult",
        "documentation" : null,
        "simpleType" : "BatchDetectDominantLanguageItemResult",
        "variableSetterType" : "BatchDetectDominantLanguageItemResult"
      },
      "wrapper" : false
    },
    "BatchDetectDominantLanguageRequest" : {
      "c2jName" : "BatchDetectDominantLanguageRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchDetectDominantLanguage",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "Comprehend_20171127.BatchDetectDominantLanguage",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "TextList",
        "c2jShape" : "StringList",
        "deprecated" : false,
        "documentation" : "<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>\n@param textList A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTextList",
        "getterDocumentation" : "/**<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>\n@return A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.*/",
        "getterMethodName" : "getTextList",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TextList",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TextList",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "String",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "TextList",
        "setterDocumentation" : "/**<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>\n@param textList A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.*/",
        "setterMethodName" : "setTextList",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "textList",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTextList(java.util.Collection)} or {@link #withTextList(java.util.Collection)} if you want to override the existing values.</p>\n@param textList A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "textList",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "TextList" : {
          "c2jName" : "TextList",
          "c2jShape" : "StringList",
          "deprecated" : false,
          "documentation" : "<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>\n@param textList A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTextList",
          "getterDocumentation" : "/**<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>\n@return A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.*/",
          "getterMethodName" : "getTextList",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "TextList",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TextList",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "String",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "TextList",
          "setterDocumentation" : "/**<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>\n@param textList A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.*/",
          "setterMethodName" : "setTextList",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "textList",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTextList(java.util.Collection)} or {@link #withTextList(java.util.Collection)} if you want to override the existing values.</p>\n@param textList A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "textList",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "TextList" ],
      "shapeName" : "BatchDetectDominantLanguageRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "BatchDetectDominantLanguageRequest",
        "variableName" : "batchDetectDominantLanguageRequest",
        "variableType" : "BatchDetectDominantLanguageRequest",
        "documentation" : null,
        "simpleType" : "BatchDetectDominantLanguageRequest",
        "variableSetterType" : "BatchDetectDominantLanguageRequest"
      },
      "wrapper" : false
    },
    "BatchDetectDominantLanguageResult" : {
      "c2jName" : "BatchDetectDominantLanguageResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ResultList",
        "c2jShape" : "ListOfDetectDominantLanguageResult",
        "deprecated" : false,
        "documentation" : "<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>\n@param resultList A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResultList",
        "getterDocumentation" : "/**<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>\n@return A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.*/",
        "getterMethodName" : "getResultList",
        "getterModel" : {
          "returnType" : "java.util.List<BatchDetectDominantLanguageItemResult>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ResultList",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResultList",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "BatchDetectDominantLanguageItemResult",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "BatchDetectDominantLanguageItemResult",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "BatchDetectDominantLanguageItemResult",
              "variableName" : "member",
              "variableType" : "BatchDetectDominantLanguageItemResult",
              "documentation" : "",
              "simpleType" : "BatchDetectDominantLanguageItemResult",
              "variableSetterType" : "BatchDetectDominantLanguageItemResult"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "BatchDetectDominantLanguageItemResult",
              "variableName" : "member",
              "variableType" : "BatchDetectDominantLanguageItemResult",
              "documentation" : "",
              "simpleType" : "BatchDetectDominantLanguageItemResult",
              "variableSetterType" : "BatchDetectDominantLanguageItemResult"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "BatchDetectDominantLanguageItemResult",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "BatchDetectDominantLanguageItemResult",
          "templateImplType" : "java.util.ArrayList<BatchDetectDominantLanguageItemResult>",
          "templateType" : "java.util.List<BatchDetectDominantLanguageItemResult>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ResultList",
        "setterDocumentation" : "/**<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>\n@param resultList A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.*/",
        "setterMethodName" : "setResultList",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<BatchDetectDominantLanguageItemResult>",
          "variableName" : "resultList",
          "variableType" : "java.util.List<BatchDetectDominantLanguageItemResult>",
          "documentation" : "",
          "simpleType" : "List<BatchDetectDominantLanguageItemResult>",
          "variableSetterType" : "java.util.Collection<BatchDetectDominantLanguageItemResult>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setResultList(java.util.Collection)} or {@link #withResultList(java.util.Collection)} if you want to override the existing values.</p>\n@param resultList A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<BatchDetectDominantLanguageItemResult>",
          "variableName" : "resultList",
          "variableType" : "java.util.List<BatchDetectDominantLanguageItemResult>",
          "documentation" : "<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>",
          "simpleType" : "List<BatchDetectDominantLanguageItemResult>",
          "variableSetterType" : "java.util.Collection<BatchDetectDominantLanguageItemResult>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ErrorList",
        "c2jShape" : "BatchItemErrorList",
        "deprecated" : false,
        "documentation" : "<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>\n@param errorList A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withErrorList",
        "getterDocumentation" : "/**<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>\n@return A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.*/",
        "getterMethodName" : "getErrorList",
        "getterModel" : {
          "returnType" : "java.util.List<BatchItemError>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ErrorList",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ErrorList",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "BatchItemError",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "BatchItemError",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "BatchItemError",
              "variableName" : "member",
              "variableType" : "BatchItemError",
              "documentation" : "",
              "simpleType" : "BatchItemError",
              "variableSetterType" : "BatchItemError"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "BatchItemError",
              "variableName" : "member",
              "variableType" : "BatchItemError",
              "documentation" : "",
              "simpleType" : "BatchItemError",
              "variableSetterType" : "BatchItemError"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "BatchItemError",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "BatchItemError",
          "templateImplType" : "java.util.ArrayList<BatchItemError>",
          "templateType" : "java.util.List<BatchItemError>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ErrorList",
        "setterDocumentation" : "/**<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>\n@param errorList A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.*/",
        "setterMethodName" : "setErrorList",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<BatchItemError>",
          "variableName" : "errorList",
          "variableType" : "java.util.List<BatchItemError>",
          "documentation" : "",
          "simpleType" : "List<BatchItemError>",
          "variableSetterType" : "java.util.Collection<BatchItemError>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setErrorList(java.util.Collection)} or {@link #withErrorList(java.util.Collection)} if you want to override the existing values.</p>\n@param errorList A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<BatchItemError>",
          "variableName" : "errorList",
          "variableType" : "java.util.List<BatchItemError>",
          "documentation" : "<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>",
          "simpleType" : "List<BatchItemError>",
          "variableSetterType" : "java.util.Collection<BatchItemError>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ErrorList" : {
          "c2jName" : "ErrorList",
          "c2jShape" : "BatchItemErrorList",
          "deprecated" : false,
          "documentation" : "<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>\n@param errorList A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withErrorList",
          "getterDocumentation" : "/**<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>\n@return A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.*/",
          "getterMethodName" : "getErrorList",
          "getterModel" : {
            "returnType" : "java.util.List<BatchItemError>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ErrorList",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ErrorList",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "BatchItemError",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "BatchItemError",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "BatchItemError",
                "variableName" : "member",
                "variableType" : "BatchItemError",
                "documentation" : "",
                "simpleType" : "BatchItemError",
                "variableSetterType" : "BatchItemError"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "BatchItemError",
                "variableName" : "member",
                "variableType" : "BatchItemError",
                "documentation" : "",
                "simpleType" : "BatchItemError",
                "variableSetterType" : "BatchItemError"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "BatchItemError",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "BatchItemError",
            "templateImplType" : "java.util.ArrayList<BatchItemError>",
            "templateType" : "java.util.List<BatchItemError>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "ErrorList",
          "setterDocumentation" : "/**<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>\n@param errorList A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.*/",
          "setterMethodName" : "setErrorList",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<BatchItemError>",
            "variableName" : "errorList",
            "variableType" : "java.util.List<BatchItemError>",
            "documentation" : "",
            "simpleType" : "List<BatchItemError>",
            "variableSetterType" : "java.util.Collection<BatchItemError>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setErrorList(java.util.Collection)} or {@link #withErrorList(java.util.Collection)} if you want to override the existing values.</p>\n@param errorList A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<BatchItemError>",
            "variableName" : "errorList",
            "variableType" : "java.util.List<BatchItemError>",
            "documentation" : "<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>",
            "simpleType" : "List<BatchItemError>",
            "variableSetterType" : "java.util.Collection<BatchItemError>"
          },
          "xmlNameSpaceUri" : null
        },
        "ResultList" : {
          "c2jName" : "ResultList",
          "c2jShape" : "ListOfDetectDominantLanguageResult",
          "deprecated" : false,
          "documentation" : "<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>\n@param resultList A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResultList",
          "getterDocumentation" : "/**<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>\n@return A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.*/",
          "getterMethodName" : "getResultList",
          "getterModel" : {
            "returnType" : "java.util.List<BatchDetectDominantLanguageItemResult>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ResultList",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResultList",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "BatchDetectDominantLanguageItemResult",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
[...]
