{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-11-27",
    "asyncClient" : "AmazonComprehendAsyncClient",
    "asyncClientBuilderClassName" : "AmazonComprehendAsyncClientBuilder",
    "asyncInterface" : "AmazonComprehendAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonComprehendModuleInjector",
    "defaultEndpoint" : "comprehend.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "comprehend.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Comprehend is an AWS service for gaining insight into the content of documents. Use these actions to determine the topics contained in your documents, the topics they discuss, the predominant sentiment expressed in them, the predominant language used, and more.</p>",
    "endpointPrefix" : "comprehend",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.comprehend",
    "packagePath" : "com/amazonaws/services/comprehend",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Comprehend",
    "serviceName" : "Amazon Comprehend",
    "signingName" : "comprehend",
    "smokeTestsPackageName" : "com.amazonaws.services.comprehend.smoketests",
    "syncClient" : "AmazonComprehendClient",
    "syncClientBuilderClassName" : "AmazonComprehendClientBuilder",
    "syncInterface" : "AmazonComprehend",
    "uid" : "comprehend-2017-11-27",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchDetectDominantLanguage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDetectDominantLanguageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDetectDominantLanguageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDetectDominantLanguageRequest, BatchDetectDominantLanguageResult>",
      "asyncReturnType" : "BatchDetectDominantLanguageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Determines the dominant language of the input text for a batch of documents. For a list of languages that Amazon Comprehend can detect, see <a href=\"http://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BatchSizeLimitExceededException",
        "documentation" : "<p>The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchDetectDominantLanguageRequest",
        "variableName" : "batchDetectDominantLanguageRequest",
        "variableType" : "BatchDetectDominantLanguageRequest",
        "documentation" : "",
        "simpleType" : "BatchDetectDominantLanguageRequest",
        "variableSetterType" : "BatchDetectDominantLanguageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDetectDominantLanguage",
      "operationName" : "BatchDetectDominantLanguage",
      "returnType" : {
        "returnType" : "BatchDetectDominantLanguageResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDetectDominantLanguageResult"
    },
    "BatchDetectEntities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDetectEntitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDetectEntitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDetectEntitiesRequest, BatchDetectEntitiesResult>",
      "asyncReturnType" : "BatchDetectEntitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Inspects the text of a batch of documents for named entities and returns information about them. For more information about named entities, see <a>how-entities</a> </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all APIs except <code>DetectDominantLanguage</code>, Amazon Comprehend accepts only English or Spanish text. For the <code>DetectDominantLanguage</code> API, Amazon Comprehend detects 100 languages. For a list of languages, see <a>how-languages</a> </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BatchSizeLimitExceededException",
        "documentation" : "<p>The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchDetectEntitiesRequest",
        "variableName" : "batchDetectEntitiesRequest",
        "variableType" : "BatchDetectEntitiesRequest",
        "documentation" : "",
        "simpleType" : "BatchDetectEntitiesRequest",
        "variableSetterType" : "BatchDetectEntitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDetectEntities",
      "operationName" : "BatchDetectEntities",
      "returnType" : {
        "returnType" : "BatchDetectEntitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDetectEntitiesResult"
    },
    "BatchDetectKeyPhrases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDetectKeyPhrasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDetectKeyPhrasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDetectKeyPhrasesRequest, BatchDetectKeyPhrasesResult>",
      "asyncReturnType" : "BatchDetectKeyPhrasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Detects the key noun phrases found in a batch of documents.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all APIs except <code>DetectDominantLanguage</code>, Amazon Comprehend accepts only English or Spanish text. For the <code>DetectDominantLanguage</code> API, Amazon Comprehend detects 100 languages. For a list of languages, see <a>how-languages</a> </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BatchSizeLimitExceededException",
        "documentation" : "<p>The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchDetectKeyPhrasesRequest",
        "variableName" : "batchDetectKeyPhrasesRequest",
        "variableType" : "BatchDetectKeyPhrasesRequest",
        "documentation" : "",
        "simpleType" : "BatchDetectKeyPhrasesRequest",
        "variableSetterType" : "BatchDetectKeyPhrasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDetectKeyPhrases",
      "operationName" : "BatchDetectKeyPhrases",
      "returnType" : {
        "returnType" : "BatchDetectKeyPhrasesResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDetectKeyPhrasesResult"
    },
    "BatchDetectSentiment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDetectSentimentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDetectSentimentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDetectSentimentRequest, BatchDetectSentimentResult>",
      "asyncReturnType" : "BatchDetectSentimentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Inspects a batch of documents and returns an inference of the prevailing sentiment, <code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>, in each one.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all APIs except <code>DetectDominantLanguage</code>, Amazon Comprehend accepts only English or Spanish text. For the <code>DetectDominantLanguage</code> API, Amazon Comprehend detects 100 languages. For a list of languages, see <a>how-languages</a> </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BatchSizeLimitExceededException",
        "documentation" : "<p>The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchDetectSentimentRequest",
        "variableName" : "batchDetectSentimentRequest",
        "variableType" : "BatchDetectSentimentRequest",
        "documentation" : "",
        "simpleType" : "BatchDetectSentimentRequest",
        "variableSetterType" : "BatchDetectSentimentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDetectSentiment",
      "operationName" : "BatchDetectSentiment",
      "returnType" : {
        "returnType" : "BatchDetectSentimentResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDetectSentimentResult"
    },
    "BatchDetectSyntax" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDetectSyntaxResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDetectSyntaxResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDetectSyntaxRequest, BatchDetectSyntaxResult>",
      "asyncReturnType" : "BatchDetectSyntaxResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Inspects the text of a batch of documents for the syntax and part of speech of the words in the document and returns information about them. For more information, see <a>how-syntax</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all APIs except <code>DetectDominantLanguage</code>, Amazon Comprehend accepts only English or Spanish text. For the <code>DetectDominantLanguage</code> API, Amazon Comprehend detects 100 languages. For a list of languages, see <a>how-languages</a> </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BatchSizeLimitExceededException",
        "documentation" : "<p>The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "BatchDetectSyntaxRequest",
        "variableName" : "batchDetectSyntaxRequest",
        "variableType" : "BatchDetectSyntaxRequest",
        "documentation" : "",
        "simpleType" : "BatchDetectSyntaxRequest",
        "variableSetterType" : "BatchDetectSyntaxRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDetectSyntax",
      "operationName" : "BatchDetectSyntax",
      "returnType" : {
        "returnType" : "BatchDetectSyntaxResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDetectSyntaxResult"
    },
    "DescribeDominantLanguageDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDominantLanguageDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDominantLanguageDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDominantLanguageDetectionJobRequest, DescribeDominantLanguageDetectionJobResult>",
      "asyncReturnType" : "DescribeDominantLanguageDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the properties associated with a dominant language detection job. Use this operation to get the status of a detection job.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was not found. Check the job ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeDominantLanguageDetectionJobRequest",
        "variableName" : "describeDominantLanguageDetectionJobRequest",
        "variableType" : "DescribeDominantLanguageDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeDominantLanguageDetectionJobRequest",
        "variableSetterType" : "DescribeDominantLanguageDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDominantLanguageDetectionJob",
      "operationName" : "DescribeDominantLanguageDetectionJob",
      "returnType" : {
        "returnType" : "DescribeDominantLanguageDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDominantLanguageDetectionJobResult"
    },
    "DescribeEntitiesDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEntitiesDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEntitiesDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEntitiesDetectionJobRequest, DescribeEntitiesDetectionJobResult>",
      "asyncReturnType" : "DescribeEntitiesDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the properties associated with an entities detection job. Use this operation to get the status of a detection job.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was not found. Check the job ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeEntitiesDetectionJobRequest",
        "variableName" : "describeEntitiesDetectionJobRequest",
        "variableType" : "DescribeEntitiesDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeEntitiesDetectionJobRequest",
        "variableSetterType" : "DescribeEntitiesDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEntitiesDetectionJob",
      "operationName" : "DescribeEntitiesDetectionJob",
      "returnType" : {
        "returnType" : "DescribeEntitiesDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEntitiesDetectionJobResult"
    },
    "DescribeKeyPhrasesDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeKeyPhrasesDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeKeyPhrasesDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeKeyPhrasesDetectionJobRequest, DescribeKeyPhrasesDetectionJobResult>",
      "asyncReturnType" : "DescribeKeyPhrasesDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the properties associated with a key phrases detection job. Use this operation to get the status of a detection job.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was not found. Check the job ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeKeyPhrasesDetectionJobRequest",
        "variableName" : "describeKeyPhrasesDetectionJobRequest",
        "variableType" : "DescribeKeyPhrasesDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeKeyPhrasesDetectionJobRequest",
        "variableSetterType" : "DescribeKeyPhrasesDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeKeyPhrasesDetectionJob",
      "operationName" : "DescribeKeyPhrasesDetectionJob",
      "returnType" : {
        "returnType" : "DescribeKeyPhrasesDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeKeyPhrasesDetectionJobResult"
    },
    "DescribeSentimentDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSentimentDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSentimentDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSentimentDetectionJobRequest, DescribeSentimentDetectionJobResult>",
      "asyncReturnType" : "DescribeSentimentDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the properties associated with a sentiment detection job. Use this operation to get the status of a detection job.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was not found. Check the job ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeSentimentDetectionJobRequest",
        "variableName" : "describeSentimentDetectionJobRequest",
        "variableType" : "DescribeSentimentDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeSentimentDetectionJobRequest",
        "variableSetterType" : "DescribeSentimentDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSentimentDetectionJob",
      "operationName" : "DescribeSentimentDetectionJob",
      "returnType" : {
        "returnType" : "DescribeSentimentDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSentimentDetectionJobResult"
    },
    "DescribeTopicsDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTopicsDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTopicsDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTopicsDetectionJobRequest, DescribeTopicsDetectionJobResult>",
      "asyncReturnType" : "DescribeTopicsDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the properties associated with a topic detection job. Use this operation to get the status of a detection job.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was not found. Check the job ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTopicsDetectionJobRequest",
        "variableName" : "describeTopicsDetectionJobRequest",
        "variableType" : "DescribeTopicsDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeTopicsDetectionJobRequest",
        "variableSetterType" : "DescribeTopicsDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTopicsDetectionJob",
      "operationName" : "DescribeTopicsDetectionJob",
      "returnType" : {
        "returnType" : "DescribeTopicsDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeTopicsDetectionJobResult"
    },
    "DetectDominantLanguage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectDominantLanguageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectDominantLanguageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectDominantLanguageRequest, DetectDominantLanguageResult>",
      "asyncReturnType" : "DetectDominantLanguageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Determines the dominant language of the input text. For a list of languages that Amazon Comprehend can detect, see <a href=\"http://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DetectDominantLanguageRequest",
        "variableName" : "detectDominantLanguageRequest",
        "variableType" : "DetectDominantLanguageRequest",
        "documentation" : "",
        "simpleType" : "DetectDominantLanguageRequest",
        "variableSetterType" : "DetectDominantLanguageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectDominantLanguage",
      "operationName" : "DetectDominantLanguage",
      "returnType" : {
        "returnType" : "DetectDominantLanguageResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectDominantLanguageResult"
    },
    "DetectEntities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectEntitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectEntitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectEntitiesRequest, DetectEntitiesResult>",
      "asyncReturnType" : "DetectEntitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Inspects text for named entities, and returns information about them. For more information, about named entities, see <a>how-entities</a>. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all APIs except <code>DetectDominantLanguage</code>, Amazon Comprehend accepts only English or Spanish text. For the <code>DetectDominantLanguage</code> API, Amazon Comprehend detects 100 languages. For a list of languages, see <a>how-languages</a> </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DetectEntitiesRequest",
        "variableName" : "detectEntitiesRequest",
        "variableType" : "DetectEntitiesRequest",
        "documentation" : "",
        "simpleType" : "DetectEntitiesRequest",
        "variableSetterType" : "DetectEntitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectEntities",
      "operationName" : "DetectEntities",
      "returnType" : {
        "returnType" : "DetectEntitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectEntitiesResult"
    },
    "DetectKeyPhrases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectKeyPhrasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectKeyPhrasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectKeyPhrasesRequest, DetectKeyPhrasesResult>",
      "asyncReturnType" : "DetectKeyPhrasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Detects the key noun phrases found in the text. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all APIs except <code>DetectDominantLanguage</code>, Amazon Comprehend accepts only English or Spanish text. For the <code>DetectDominantLanguage</code> API, Amazon Comprehend detects 100 languages. For a list of languages, see <a>how-languages</a> </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DetectKeyPhrasesRequest",
        "variableName" : "detectKeyPhrasesRequest",
        "variableType" : "DetectKeyPhrasesRequest",
        "documentation" : "",
        "simpleType" : "DetectKeyPhrasesRequest",
        "variableSetterType" : "DetectKeyPhrasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectKeyPhrases",
      "operationName" : "DetectKeyPhrases",
      "returnType" : {
        "returnType" : "DetectKeyPhrasesResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectKeyPhrasesResult"
    },
    "DetectSentiment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectSentimentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectSentimentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectSentimentRequest, DetectSentimentResult>",
      "asyncReturnType" : "DetectSentimentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Inspects text and returns an inference of the prevailing sentiment (<code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>). </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all APIs except <code>DetectDominantLanguage</code>, Amazon Comprehend accepts only English or Spanish text. For the <code>DetectDominantLanguage</code> API, Amazon Comprehend detects 100 languages. For a list of languages, see <a>how-languages</a> </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DetectSentimentRequest",
        "variableName" : "detectSentimentRequest",
        "variableType" : "DetectSentimentRequest",
        "documentation" : "",
        "simpleType" : "DetectSentimentRequest",
        "variableSetterType" : "DetectSentimentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectSentiment",
      "operationName" : "DetectSentiment",
      "returnType" : {
        "returnType" : "DetectSentimentResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectSentimentResult"
    },
    "DetectSyntax" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectSyntaxResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectSyntaxResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectSyntaxRequest, DetectSyntaxResult>",
      "asyncReturnType" : "DetectSyntaxResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Inspects text for syntax and the part of speech of words in the document. For more information, <a>how-syntax</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all APIs except <code>DetectDominantLanguage</code>, Amazon Comprehend accepts only English or Spanish text. For the <code>DetectDominantLanguage</code> API, Amazon Comprehend detects 100 languages. For a list of languages, see <a>how-languages</a> </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DetectSyntaxRequest",
        "variableName" : "detectSyntaxRequest",
        "variableType" : "DetectSyntaxRequest",
        "documentation" : "",
        "simpleType" : "DetectSyntaxRequest",
        "variableSetterType" : "DetectSyntaxRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectSyntax",
      "operationName" : "DetectSyntax",
      "returnType" : {
        "returnType" : "DetectSyntaxResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectSyntaxResult"
    },
    "ListDominantLanguageDetectionJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDominantLanguageDetectionJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDominantLanguageDetectionJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDominantLanguageDetectionJobsRequest, ListDominantLanguageDetectionJobsResult>",
      "asyncReturnType" : "ListDominantLanguageDetectionJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of the dominant language detection jobs that you have submitted.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidFilterException",
        "documentation" : "<p>The filter specified for the <code>ListTopicDetectionJobs</code> operation is invalid. Specify a different filter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDominantLanguageDetectionJobsRequest",
        "variableName" : "listDominantLanguageDetectionJobsRequest",
        "variableType" : "ListDominantLanguageDetectionJobsRequest",
        "documentation" : "",
        "simpleType" : "ListDominantLanguageDetectionJobsRequest",
        "variableSetterType" : "ListDominantLanguageDetectionJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDominantLanguageDetectionJobs",
      "operationName" : "ListDominantLanguageDetectionJobs",
      "returnType" : {
        "returnType" : "ListDominantLanguageDetectionJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDominantLanguageDetectionJobsResult"
    },
    "ListEntitiesDetectionJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEntitiesDetectionJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEntitiesDetectionJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEntitiesDetectionJobsRequest, ListEntitiesDetectionJobsResult>",
      "asyncReturnType" : "ListEntitiesDetectionJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of the entity detection jobs that you have submitted.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidFilterException",
        "documentation" : "<p>The filter specified for the <code>ListTopicDetectionJobs</code> operation is invalid. Specify a different filter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListEntitiesDetectionJobsRequest",
        "variableName" : "listEntitiesDetectionJobsRequest",
        "variableType" : "ListEntitiesDetectionJobsRequest",
        "documentation" : "",
        "simpleType" : "ListEntitiesDetectionJobsRequest",
        "variableSetterType" : "ListEntitiesDetectionJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEntitiesDetectionJobs",
      "operationName" : "ListEntitiesDetectionJobs",
      "returnType" : {
        "returnType" : "ListEntitiesDetectionJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEntitiesDetectionJobsResult"
    },
    "ListKeyPhrasesDetectionJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListKeyPhrasesDetectionJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListKeyPhrasesDetectionJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListKeyPhrasesDetectionJobsRequest, ListKeyPhrasesDetectionJobsResult>",
      "asyncReturnType" : "ListKeyPhrasesDetectionJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get a list of key phrase detection jobs that you have submitted.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidFilterException",
        "documentation" : "<p>The filter specified for the <code>ListTopicDetectionJobs</code> operation is invalid. Specify a different filter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListKeyPhrasesDetectionJobsRequest",
        "variableName" : "listKeyPhrasesDetectionJobsRequest",
        "variableType" : "ListKeyPhrasesDetectionJobsRequest",
        "documentation" : "",
        "simpleType" : "ListKeyPhrasesDetectionJobsRequest",
        "variableSetterType" : "ListKeyPhrasesDetectionJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listKeyPhrasesDetectionJobs",
      "operationName" : "ListKeyPhrasesDetectionJobs",
      "returnType" : {
        "returnType" : "ListKeyPhrasesDetectionJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListKeyPhrasesDetectionJobsResult"
    },
    "ListSentimentDetectionJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSentimentDetectionJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSentimentDetectionJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSentimentDetectionJobsRequest, ListSentimentDetectionJobsResult>",
      "asyncReturnType" : "ListSentimentDetectionJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of sentiment detection jobs that you have submitted.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidFilterException",
        "documentation" : "<p>The filter specified for the <code>ListTopicDetectionJobs</code> operation is invalid. Specify a different filter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListSentimentDetectionJobsRequest",
        "variableName" : "listSentimentDetectionJobsRequest",
        "variableType" : "ListSentimentDetectionJobsRequest",
        "documentation" : "",
        "simpleType" : "ListSentimentDetectionJobsRequest",
        "variableSetterType" : "ListSentimentDetectionJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSentimentDetectionJobs",
      "operationName" : "ListSentimentDetectionJobs",
      "returnType" : {
        "returnType" : "ListSentimentDetectionJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSentimentDetectionJobsResult"
    },
    "ListTopicsDetectionJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTopicsDetectionJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTopicsDetectionJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTopicsDetectionJobsRequest, ListTopicsDetectionJobsResult>",
      "asyncReturnType" : "ListTopicsDetectionJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of the topic detection jobs that you have submitted.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidFilterException",
        "documentation" : "<p>The filter specified for the <code>ListTopicDetectionJobs</code> operation is invalid. Specify a different filter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTopicsDetectionJobsRequest",
        "variableName" : "listTopicsDetectionJobsRequest",
        "variableType" : "ListTopicsDetectionJobsRequest",
        "documentation" : "",
        "simpleType" : "ListTopicsDetectionJobsRequest",
        "variableSetterType" : "ListTopicsDetectionJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTopicsDetectionJobs",
      "operationName" : "ListTopicsDetectionJobs",
      "returnType" : {
        "returnType" : "ListTopicsDetectionJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTopicsDetectionJobsResult"
    },
    "StartDominantLanguageDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartDominantLanguageDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartDominantLanguageDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartDominantLanguageDetectionJobRequest, StartDominantLanguageDetectionJobResult>",
      "asyncReturnType" : "StartDominantLanguageDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an asynchronous dominant language detection job for a collection of documents. Use the operation to track the status of a job.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartDominantLanguageDetectionJobRequest",
        "variableName" : "startDominantLanguageDetectionJobRequest",
        "variableType" : "StartDominantLanguageDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "StartDominantLanguageDetectionJobRequest",
        "variableSetterType" : "StartDominantLanguageDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startDominantLanguageDetectionJob",
      "operationName" : "StartDominantLanguageDetectionJob",
      "returnType" : {
        "returnType" : "StartDominantLanguageDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartDominantLanguageDetectionJobResult"
    },
    "StartEntitiesDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartEntitiesDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartEntitiesDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartEntitiesDetectionJobRequest, StartEntitiesDetectionJobResult>",
      "asyncReturnType" : "StartEntitiesDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an asynchronous entity detection job for a collection of documents. Use the operation to track the status of a job.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartEntitiesDetectionJobRequest",
        "variableName" : "startEntitiesDetectionJobRequest",
        "variableType" : "StartEntitiesDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "StartEntitiesDetectionJobRequest",
        "variableSetterType" : "StartEntitiesDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startEntitiesDetectionJob",
      "operationName" : "StartEntitiesDetectionJob",
      "returnType" : {
        "returnType" : "StartEntitiesDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartEntitiesDetectionJobResult"
    },
    "StartKeyPhrasesDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartKeyPhrasesDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartKeyPhrasesDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartKeyPhrasesDetectionJobRequest, StartKeyPhrasesDetectionJobResult>",
      "asyncReturnType" : "StartKeyPhrasesDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an asynchronous key phrase detection job for a collection of documents. Use the operation to track the status of a job.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartKeyPhrasesDetectionJobRequest",
        "variableName" : "startKeyPhrasesDetectionJobRequest",
        "variableType" : "StartKeyPhrasesDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "StartKeyPhrasesDetectionJobRequest",
        "variableSetterType" : "StartKeyPhrasesDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startKeyPhrasesDetectionJob",
      "operationName" : "StartKeyPhrasesDetectionJob",
      "returnType" : {
        "returnType" : "StartKeyPhrasesDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartKeyPhrasesDetectionJobResult"
    },
    "StartSentimentDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartSentimentDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartSentimentDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartSentimentDetectionJobRequest, StartSentimentDetectionJobResult>",
      "asyncReturnType" : "StartSentimentDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an asynchronous sentiment detection job for a collection of documents. use the operation to track the status of a job.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartSentimentDetectionJobRequest",
        "variableName" : "startSentimentDetectionJobRequest",
        "variableType" : "StartSentimentDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "StartSentimentDetectionJobRequest",
        "variableSetterType" : "StartSentimentDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startSentimentDetectionJob",
      "operationName" : "StartSentimentDetectionJob",
      "returnType" : {
        "returnType" : "StartSentimentDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartSentimentDetectionJobResult"
    },
    "StartTopicsDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartTopicsDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartTopicsDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartTopicsDetectionJobRequest, StartTopicsDetectionJobResult>",
      "asyncReturnType" : "StartTopicsDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an asynchronous topic detection job. Use the <code>DescribeTopicDetectionJob</code> operation to track the status of a job.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartTopicsDetectionJobRequest",
        "variableName" : "startTopicsDetectionJobRequest",
        "variableType" : "StartTopicsDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "StartTopicsDetectionJobRequest",
        "variableSetterType" : "StartTopicsDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startTopicsDetectionJob",
      "operationName" : "StartTopicsDetectionJob",
      "returnType" : {
        "returnType" : "StartTopicsDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartTopicsDetectionJobResult"
    },
    "StopDominantLanguageDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopDominantLanguageDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopDominantLanguageDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopDominantLanguageDetectionJobRequest, StopDominantLanguageDetectionJobResult>",
      "asyncReturnType" : "StopDominantLanguageDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops a dominant language detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was not found. Check the job ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopDominantLanguageDetectionJobRequest",
        "variableName" : "stopDominantLanguageDetectionJobRequest",
        "variableType" : "StopDominantLanguageDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "StopDominantLanguageDetectionJobRequest",
        "variableSetterType" : "StopDominantLanguageDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopDominantLanguageDetectionJob",
      "operationName" : "StopDominantLanguageDetectionJob",
      "returnType" : {
        "returnType" : "StopDominantLanguageDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StopDominantLanguageDetectionJobResult"
    },
    "StopEntitiesDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopEntitiesDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopEntitiesDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopEntitiesDetectionJobRequest, StopEntitiesDetectionJobResult>",
      "asyncReturnType" : "StopEntitiesDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops an entities detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was not found. Check the job ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopEntitiesDetectionJobRequest",
        "variableName" : "stopEntitiesDetectionJobRequest",
        "variableType" : "StopEntitiesDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "StopEntitiesDetectionJobRequest",
        "variableSetterType" : "StopEntitiesDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopEntitiesDetectionJob",
      "operationName" : "StopEntitiesDetectionJob",
      "returnType" : {
        "returnType" : "StopEntitiesDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StopEntitiesDetectionJobResult"
    },
    "StopKeyPhrasesDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopKeyPhrasesDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopKeyPhrasesDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopKeyPhrasesDetectionJobRequest, StopKeyPhrasesDetectionJobResult>",
      "asyncReturnType" : "StopKeyPhrasesDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops a key phrases detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was not found. Check the job ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopKeyPhrasesDetectionJobRequest",
        "variableName" : "stopKeyPhrasesDetectionJobRequest",
        "variableType" : "StopKeyPhrasesDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "StopKeyPhrasesDetectionJobRequest",
        "variableSetterType" : "StopKeyPhrasesDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopKeyPhrasesDetectionJob",
      "operationName" : "StopKeyPhrasesDetectionJob",
      "returnType" : {
        "returnType" : "StopKeyPhrasesDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StopKeyPhrasesDetectionJobResult"
    },
    "StopSentimentDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopSentimentDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopSentimentDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopSentimentDetectionJobRequest, StopSentimentDetectionJobResult>",
      "asyncReturnType" : "StopSentimentDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops a sentiment detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is be stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was not found. Check the job ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopSentimentDetectionJobRequest",
        "variableName" : "stopSentimentDetectionJobRequest",
        "variableType" : "StopSentimentDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "StopSentimentDetectionJobRequest",
        "variableSetterType" : "StopSentimentDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopSentimentDetectionJob",
      "operationName" : "StopSentimentDetectionJob",
      "returnType" : {
        "returnType" : "StopSentimentDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StopSentimentDetectionJobResult"
    }
  },
  "shapes" : {
    "BatchDetectDominantLanguageItemResult" : {
      "c2jName" : "BatchDetectDominantLanguageItemResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Index",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p>The zero-based index of the document in the input list.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The zero-based index of the document in the input list.</p>\n@param index The zero-based index of the document in the input list.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIndex",
        "getterDocumentation" : "/**<p>The zero-based index of the document in the input list.</p>\n@return The zero-based index of the document in the input list.*/",
        "getterMethodName" : "getIndex",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Index",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Index",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Index",
        "setterDocumentation" : "/**<p>The zero-based index of the document in the input list.</p>\n@param index The zero-based index of the document in the input list.*/",
        "setterMethodName" : "setIndex",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "index",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The zero-based index of the document in the input list.</p>\n@param index The zero-based index of the document in the input list.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "index",
          "variableType" : "Integer",
          "documentation" : "<p>The zero-based index of the document in the input list.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Languages",
        "c2jShape" : "ListOfDominantLanguages",
        "deprecated" : false,
        "documentation" : "<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>\n@param languages One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLanguages",
        "getterDocumentation" : "/**<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>\n@return One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.*/",
        "getterMethodName" : "getLanguages",
        "getterModel" : {
          "returnType" : "java.util.List<DominantLanguage>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Languages",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Languages",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "DominantLanguage",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "DominantLanguage",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "DominantLanguage",
              "variableName" : "member",
              "variableType" : "DominantLanguage",
              "documentation" : "",
              "simpleType" : "DominantLanguage",
              "variableSetterType" : "DominantLanguage"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "DominantLanguage",
              "variableName" : "member",
              "variableType" : "DominantLanguage",
              "documentation" : "",
              "simpleType" : "DominantLanguage",
              "variableSetterType" : "DominantLanguage"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "DominantLanguage",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "DominantLanguage",
          "templateImplType" : "java.util.ArrayList<DominantLanguage>",
          "templateType" : "java.util.List<DominantLanguage>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Languages",
        "setterDocumentation" : "/**<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>\n@param languages One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.*/",
        "setterMethodName" : "setLanguages",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<DominantLanguage>",
          "variableName" : "languages",
          "variableType" : "java.util.List<DominantLanguage>",
          "documentation" : "",
          "simpleType" : "List<DominantLanguage>",
          "variableSetterType" : "java.util.Collection<DominantLanguage>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setLanguages(java.util.Collection)} or {@link #withLanguages(java.util.Collection)} if you want to override the existing values.</p>\n@param languages One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<DominantLanguage>",
          "variableName" : "languages",
          "variableType" : "java.util.List<DominantLanguage>",
          "documentation" : "<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>",
          "simpleType" : "List<DominantLanguage>",
          "variableSetterType" : "java.util.Collection<DominantLanguage>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Index" : {
          "c2jName" : "Index",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p>The zero-based index of the document in the input list.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The zero-based index of the document in the input list.</p>\n@param index The zero-based index of the document in the input list.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIndex",
          "getterDocumentation" : "/**<p>The zero-based index of the document in the input list.</p>\n@return The zero-based index of the document in the input list.*/",
          "getterMethodName" : "getIndex",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Index",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Index",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "Index",
          "setterDocumentation" : "/**<p>The zero-based index of the document in the input list.</p>\n@param index The zero-based index of the document in the input list.*/",
          "setterMethodName" : "setIndex",
          "setterModel" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "index",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The zero-based index of the document in the input list.</p>\n@param index The zero-based index of the document in the input list.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "index",
            "variableType" : "Integer",
            "documentation" : "<p>The zero-based index of the document in the input list.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "Languages" : {
          "c2jName" : "Languages",
          "c2jShape" : "ListOfDominantLanguages",
          "deprecated" : false,
          "documentation" : "<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>\n@param languages One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLanguages",
          "getterDocumentation" : "/**<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>\n@return One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.*/",
          "getterMethodName" : "getLanguages",
          "getterModel" : {
            "returnType" : "java.util.List<DominantLanguage>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Languages",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Languages",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "DominantLanguage",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "DominantLanguage",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "DominantLanguage",
                "variableName" : "member",
                "variableType" : "DominantLanguage",
                "documentation" : "",
                "simpleType" : "DominantLanguage",
                "variableSetterType" : "DominantLanguage"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "DominantLanguage",
                "variableName" : "member",
                "variableType" : "DominantLanguage",
                "documentation" : "",
                "simpleType" : "DominantLanguage",
                "variableSetterType" : "DominantLanguage"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "DominantLanguage",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "DominantLanguage",
            "templateImplType" : "java.util.ArrayList<DominantLanguage>",
            "templateType" : "java.util.List<DominantLanguage>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Languages",
          "setterDocumentation" : "/**<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>\n@param languages One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.*/",
          "setterMethodName" : "setLanguages",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<DominantLanguage>",
            "variableName" : "languages",
            "variableType" : "java.util.List<DominantLanguage>",
            "documentation" : "",
            "simpleType" : "List<DominantLanguage>",
            "variableSetterType" : "java.util.Collection<DominantLanguage>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setLanguages(java.util.Collection)} or {@link #withLanguages(java.util.Collection)} if you want to override the existing values.</p>\n@param languages One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<DominantLanguage>",
            "variableName" : "languages",
            "variableType" : "java.util.List<DominantLanguage>",
            "documentation" : "<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>",
            "simpleType" : "List<DominantLanguage>",
            "variableSetterType" : "java.util.Collection<DominantLanguage>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BatchDetectDominantLanguageItemResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "BatchDetectDominantLanguageItemResult",
        "variableName" : "batchDetectDominantLanguageItemResult",
        "variableType" : "BatchDetectDominantLanguageItemResult",
        "documentation" : null,
        "simpleType" : "BatchDetectDominantLanguageItemResult",
        "variableSetterType" : "BatchDetectDominantLanguageItemResult"
      },
      "wrapper" : false
    },
    "BatchDetectDominantLanguageRequest" : {
      "c2jName" : "BatchDetectDominantLanguageRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchDetectDominantLanguage",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "Comprehend_20171127.BatchDetectDominantLanguage",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "TextList",
        "c2jShape" : "StringList",
        "deprecated" : false,
        "documentation" : "<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>\n@param textList A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTextList",
        "getterDocumentation" : "/**<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>\n@return A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.*/",
        "getterMethodName" : "getTextList",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TextList",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TextList",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "String",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "TextList",
        "setterDocumentation" : "/**<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>\n@param textList A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.*/",
        "setterMethodName" : "setTextList",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "textList",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTextList(java.util.Collection)} or {@link #withTextList(java.util.Collection)} if you want to override the existing values.</p>\n@param textList A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "textList",
          "variableType" : "java.util.List<String>",
[...]
