{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-11-01",
    "asyncClient" : "AWSComputeOptimizerAsyncClient",
    "asyncClientBuilderClassName" : "AWSComputeOptimizerAsyncClientBuilder",
    "asyncInterface" : "AWSComputeOptimizerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSComputeOptimizerModuleInjector",
    "defaultEndpoint" : "compute-optimizer.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "compute-optimizer.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS Compute Optimizer is a service that analyzes the configuration and utilization metrics of your AWS resources, such as EC2 instances and Auto Scaling groups. It reports whether your resources are optimal, and generates optimization recommendations to reduce the cost and improve the performance of your workloads. Compute Optimizer also provides recent utilization metric data, as well as projected utilization metric data for the recommendations, which you can use to evaluate which recommendation provides the best price-performance trade-off. The analysis of your usage patterns can help you decide when to move or resize your running resources, and still meet your performance and capacity requirements. For more information about Compute Optimizer, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/\">AWS Compute Optimizer User Guide</a>.</p>",
    "endpointPrefix" : "compute-optimizer",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.computeoptimizer",
    "packagePath" : "com/amazonaws/services/computeoptimizer",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Compute Optimizer",
    "serviceId" : "Compute Optimizer",
    "serviceName" : "AWS Compute Optimizer",
    "signingName" : "compute-optimizer",
    "smokeTestsPackageName" : "com.amazonaws.services.computeoptimizer.smoketests",
    "syncClient" : "AWSComputeOptimizerClient",
    "syncClientBuilderClassName" : "AWSComputeOptimizerClientBuilder",
    "syncInterface" : "AWSComputeOptimizer",
    "uid" : "compute-optimizer-2019-11-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "GetAutoScalingGroupRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAutoScalingGroupRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAutoScalingGroupRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAutoScalingGroupRecommendationsRequest, GetAutoScalingGroupRecommendationsResult>",
      "asyncReturnType" : "GetAutoScalingGroupRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns Auto Scaling group recommendations.</p> <p>AWS Compute Optimizer currently generates recommendations for Auto Scaling groups that are configured to run instances of the M, C, R, T, and X instance families. The service does not generate recommendations for Auto Scaling groups that have a scaling policy attached to them, or that do not have the same values for desired, minimum, and maximum capacity. In order for Compute Optimizer to analyze your Auto Scaling groups, they must be of a fixed size. For more information, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/what-is.html\">AWS Compute Optimizer User Guide</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OptInRequiredException",
        "documentation" : "<p>You must opt in to the service to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingAuthenticationTokenException",
        "documentation" : "<p>The request must contain either a valid (registered) AWS access key ID or X.509 certificate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAutoScalingGroupRecommendationsRequest",
        "variableName" : "getAutoScalingGroupRecommendationsRequest",
        "variableType" : "GetAutoScalingGroupRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "GetAutoScalingGroupRecommendationsRequest",
        "variableSetterType" : "GetAutoScalingGroupRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAutoScalingGroupRecommendations",
      "operationName" : "GetAutoScalingGroupRecommendations",
      "returnType" : {
        "returnType" : "GetAutoScalingGroupRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAutoScalingGroupRecommendationsResult"
    },
    "GetEC2InstanceRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEC2InstanceRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEC2InstanceRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEC2InstanceRecommendationsRequest, GetEC2InstanceRecommendationsResult>",
      "asyncReturnType" : "GetEC2InstanceRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns Amazon EC2 instance recommendations.</p> <p>AWS Compute Optimizer currently generates recommendations for Amazon Elastic Compute Cloud (Amazon EC2) and Amazon EC2 Auto Scaling. It generates recommendations for M, C, R, T, and X instance families. For more information, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/what-is.html\">AWS Compute Optimizer User Guide</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OptInRequiredException",
        "documentation" : "<p>You must opt in to the service to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingAuthenticationTokenException",
        "documentation" : "<p>The request must contain either a valid (registered) AWS access key ID or X.509 certificate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEC2InstanceRecommendationsRequest",
        "variableName" : "getEC2InstanceRecommendationsRequest",
        "variableType" : "GetEC2InstanceRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "GetEC2InstanceRecommendationsRequest",
        "variableSetterType" : "GetEC2InstanceRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEC2InstanceRecommendations",
      "operationName" : "GetEC2InstanceRecommendations",
      "returnType" : {
        "returnType" : "GetEC2InstanceRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEC2InstanceRecommendationsResult"
    },
    "GetEC2RecommendationProjectedMetrics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEC2RecommendationProjectedMetricsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEC2RecommendationProjectedMetricsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEC2RecommendationProjectedMetricsRequest, GetEC2RecommendationProjectedMetricsResult>",
      "asyncReturnType" : "GetEC2RecommendationProjectedMetricsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the projected utilization metrics of Amazon EC2 instance recommendations.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OptInRequiredException",
        "documentation" : "<p>You must opt in to the service to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingAuthenticationTokenException",
        "documentation" : "<p>The request must contain either a valid (registered) AWS access key ID or X.509 certificate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEC2RecommendationProjectedMetricsRequest",
        "variableName" : "getEC2RecommendationProjectedMetricsRequest",
        "variableType" : "GetEC2RecommendationProjectedMetricsRequest",
        "documentation" : "",
        "simpleType" : "GetEC2RecommendationProjectedMetricsRequest",
        "variableSetterType" : "GetEC2RecommendationProjectedMetricsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEC2RecommendationProjectedMetrics",
      "operationName" : "GetEC2RecommendationProjectedMetrics",
      "returnType" : {
        "returnType" : "GetEC2RecommendationProjectedMetricsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEC2RecommendationProjectedMetricsResult"
    },
    "GetEnrollmentStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEnrollmentStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEnrollmentStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEnrollmentStatusRequest, GetEnrollmentStatusResult>",
      "asyncReturnType" : "GetEnrollmentStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the enrollment (opt in) status of an account to the AWS Compute Optimizer service.</p> <p>If the account is a master account of an organization, this operation also confirms the enrollment status of member accounts within the organization.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingAuthenticationTokenException",
        "documentation" : "<p>The request must contain either a valid (registered) AWS access key ID or X.509 certificate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEnrollmentStatusRequest",
        "variableName" : "getEnrollmentStatusRequest",
        "variableType" : "GetEnrollmentStatusRequest",
        "documentation" : "",
        "simpleType" : "GetEnrollmentStatusRequest",
        "variableSetterType" : "GetEnrollmentStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEnrollmentStatus",
      "operationName" : "GetEnrollmentStatus",
      "returnType" : {
        "returnType" : "GetEnrollmentStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEnrollmentStatusResult"
    },
    "GetRecommendationSummaries" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRecommendationSummariesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRecommendationSummariesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRecommendationSummariesRequest, GetRecommendationSummariesResult>",
      "asyncReturnType" : "GetRecommendationSummariesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the optimization findings for an account.</p> <p>For example, it returns the number of Amazon EC2 instances in an account that are under-provisioned, over-provisioned, or optimized. It also returns the number of Auto Scaling groups in an account that are not optimized, or optimized.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OptInRequiredException",
        "documentation" : "<p>You must opt in to the service to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingAuthenticationTokenException",
        "documentation" : "<p>The request must contain either a valid (registered) AWS access key ID or X.509 certificate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRecommendationSummariesRequest",
        "variableName" : "getRecommendationSummariesRequest",
        "variableType" : "GetRecommendationSummariesRequest",
        "documentation" : "",
        "simpleType" : "GetRecommendationSummariesRequest",
        "variableSetterType" : "GetRecommendationSummariesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRecommendationSummaries",
      "operationName" : "GetRecommendationSummaries",
      "returnType" : {
        "returnType" : "GetRecommendationSummariesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRecommendationSummariesResult"
    },
    "UpdateEnrollmentStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEnrollmentStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEnrollmentStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEnrollmentStatusRequest, UpdateEnrollmentStatusResult>",
      "asyncReturnType" : "UpdateEnrollmentStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the enrollment (opt in) status of an account to the AWS Compute Optimizer service.</p> <p>If the account is a master account of an organization, this operation can also enroll member accounts within the organization.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingAuthenticationTokenException",
        "documentation" : "<p>The request must contain either a valid (registered) AWS access key ID or X.509 certificate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateEnrollmentStatusRequest",
        "variableName" : "updateEnrollmentStatusRequest",
        "variableType" : "UpdateEnrollmentStatusRequest",
        "documentation" : "",
        "simpleType" : "UpdateEnrollmentStatusRequest",
        "variableSetterType" : "UpdateEnrollmentStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEnrollmentStatus",
      "operationName" : "UpdateEnrollmentStatus",
      "returnType" : {
        "returnType" : "UpdateEnrollmentStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateEnrollmentStatusResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AutoScalingGroupConfiguration" : {
      "c2jName" : "AutoScalingGroupConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes the configuration of an Auto Scaling group.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "desiredCapacity",
        "c2jShape" : "DesiredCapacity",
        "deprecated" : false,
        "documentation" : "<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>\n@param desiredCapacity The desired capacity, or number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDesiredCapacity",
        "getterDocumentation" : "/**<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>\n@return The desired capacity, or number of instances, for the Auto Scaling group.*/",
        "getterMethodName" : "getDesiredCapacity",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "desiredCapacity",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "desiredCapacity",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "DesiredCapacity",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>\n@param desiredCapacity The desired capacity, or number of instances, for the Auto Scaling group.*/",
        "setterMethodName" : "setDesiredCapacity",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "desiredCapacity",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>\n@param desiredCapacity The desired capacity, or number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "desiredCapacity",
          "variableType" : "Integer",
          "documentation" : "<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "minSize",
        "c2jShape" : "MinSize",
        "deprecated" : false,
        "documentation" : "<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>\n@param minSize The minimum size, or minimum number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMinSize",
        "getterDocumentation" : "/**<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>\n@return The minimum size, or minimum number of instances, for the Auto Scaling group.*/",
        "getterMethodName" : "getMinSize",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "minSize",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "minSize",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "MinSize",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>\n@param minSize The minimum size, or minimum number of instances, for the Auto Scaling group.*/",
        "setterMethodName" : "setMinSize",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "minSize",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>\n@param minSize The minimum size, or minimum number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "minSize",
          "variableType" : "Integer",
          "documentation" : "<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "maxSize",
        "c2jShape" : "MaxSize",
        "deprecated" : false,
        "documentation" : "<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>\n@param maxSize The maximum size, or maximum number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMaxSize",
        "getterDocumentation" : "/**<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>\n@return The maximum size, or maximum number of instances, for the Auto Scaling group.*/",
        "getterMethodName" : "getMaxSize",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "maxSize",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "maxSize",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "MaxSize",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>\n@param maxSize The maximum size, or maximum number of instances, for the Auto Scaling group.*/",
        "setterMethodName" : "setMaxSize",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "maxSize",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>\n@param maxSize The maximum size, or maximum number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "maxSize",
          "variableType" : "Integer",
          "documentation" : "<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "instanceType",
        "c2jShape" : "InstanceType",
        "deprecated" : false,
        "documentation" : "<p>The instance type for the Auto Scaling group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The instance type for the Auto Scaling group.</p>\n@param instanceType The instance type for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInstanceType",
        "getterDocumentation" : "/**<p>The instance type for the Auto Scaling group.</p>\n@return The instance type for the Auto Scaling group.*/",
        "getterMethodName" : "getInstanceType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "instanceType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "instanceType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "InstanceType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The instance type for the Auto Scaling group.</p>\n@param instanceType The instance type for the Auto Scaling group.*/",
        "setterMethodName" : "setInstanceType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The instance type for the Auto Scaling group.</p>\n@param instanceType The instance type for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceType",
          "variableType" : "String",
          "documentation" : "<p>The instance type for the Auto Scaling group.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DesiredCapacity" : {
          "c2jName" : "desiredCapacity",
          "c2jShape" : "DesiredCapacity",
          "deprecated" : false,
          "documentation" : "<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>\n@param desiredCapacity The desired capacity, or number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDesiredCapacity",
          "getterDocumentation" : "/**<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>\n@return The desired capacity, or number of instances, for the Auto Scaling group.*/",
          "getterMethodName" : "getDesiredCapacity",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "desiredCapacity",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "desiredCapacity",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "DesiredCapacity",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>\n@param desiredCapacity The desired capacity, or number of instances, for the Auto Scaling group.*/",
          "setterMethodName" : "setDesiredCapacity",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "desiredCapacity",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>\n@param desiredCapacity The desired capacity, or number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "desiredCapacity",
            "variableType" : "Integer",
            "documentation" : "<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "InstanceType" : {
          "c2jName" : "instanceType",
          "c2jShape" : "InstanceType",
          "deprecated" : false,
          "documentation" : "<p>The instance type for the Auto Scaling group.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The instance type for the Auto Scaling group.</p>\n@param instanceType The instance type for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withInstanceType",
          "getterDocumentation" : "/**<p>The instance type for the Auto Scaling group.</p>\n@return The instance type for the Auto Scaling group.*/",
          "getterMethodName" : "getInstanceType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "instanceType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "instanceType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "InstanceType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The instance type for the Auto Scaling group.</p>\n@param instanceType The instance type for the Auto Scaling group.*/",
          "setterMethodName" : "setInstanceType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "instanceType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The instance type for the Auto Scaling group.</p>\n@param instanceType The instance type for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "instanceType",
            "variableType" : "String",
            "documentation" : "<p>The instance type for the Auto Scaling group.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "MaxSize" : {
          "c2jName" : "maxSize",
          "c2jShape" : "MaxSize",
          "deprecated" : false,
          "documentation" : "<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>\n@param maxSize The maximum size, or maximum number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMaxSize",
          "getterDocumentation" : "/**<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>\n@return The maximum size, or maximum number of instances, for the Auto Scaling group.*/",
          "getterMethodName" : "getMaxSize",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "maxSize",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "maxSize",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "MaxSize",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>\n@param maxSize The maximum size, or maximum number of instances, for the Auto Scaling group.*/",
          "setterMethodName" : "setMaxSize",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "maxSize",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>\n@param maxSize The maximum size, or maximum number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "maxSize",
            "variableType" : "Integer",
            "documentation" : "<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "MinSize" : {
          "c2jName" : "minSize",
          "c2jShape" : "MinSize",
          "deprecated" : false,
          "documentation" : "<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>\n@param minSize The minimum size, or minimum number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMinSize",
          "getterDocumentation" : "/**<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>\n@return The minimum size, or minimum number of instances, for the Auto Scaling group.*/",
          "getterMethodName" : "getMinSize",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "minSize",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "minSize",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "MinSize",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>\n@param minSize The minimum size, or minimum number of instances, for the Auto Scaling group.*/",
          "setterMethodName" : "setMinSize",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "minSize",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>\n@param minSize The minimum size, or minimum number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "minSize",
            "variableType" : "Integer",
            "documentation" : "<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AutoScalingGroupConfiguration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AutoScalingGroupConfiguration",
        "variableName" : "autoScalingGroupConfiguration",
        "variableType" : "AutoScalingGroupConfiguration",
        "documentation" : null,
        "simpleType" : "AutoScalingGroupConfiguration",
        "variableSetterType" : "AutoScalingGroupConfiguration"
      },
      "wrapper" : false
    },
    "AutoScalingGroupRecommendation" : {
      "c2jName" : "AutoScalingGroupRecommendation",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes an Auto Scaling group recommendation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "accountId",
        "c2jShape" : "AccountId",
        "deprecated" : false,
        "documentation" : "<p>The AWS account ID of the Auto Scaling group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS account ID of the Auto Scaling group.</p>\n@param accountId The AWS account ID of the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccountId",
        "getterDocumentation" : "/**<p>The AWS account ID of the Auto Scaling group.</p>\n@return The AWS account ID of the Auto Scaling group.*/",
        "getterMethodName" : "getAccountId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "accountId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "accountId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccountId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The AWS account ID of the Auto Scaling group.</p>\n@param accountId The AWS account ID of the Auto Scaling group.*/",
        "setterMethodName" : "setAccountId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The AWS account ID of the Auto Scaling group.</p>\n@param accountId The AWS account ID of the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountId",
          "variableType" : "String",
          "documentation" : "<p>The AWS account ID of the Auto Scaling group.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "autoScalingGroupArn",
        "c2jShape" : "AutoScalingGroupArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>\n@param autoScalingGroupArn The Amazon Resource Name (ARN) of the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAutoScalingGroupArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>\n@return The Amazon Resource Name (ARN) of the Auto Scaling group.*/",
        "getterMethodName" : "getAutoScalingGroupArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "autoScalingGroupArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "autoScalingGroupArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AutoScalingGroupArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>\n@param autoScalingGroupArn The Amazon Resource Name (ARN) of the Auto Scaling group.*/",
        "setterMethodName" : "setAutoScalingGroupArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "autoScalingGroupArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>\n@param autoScalingGroupArn The Amazon Resource Name (ARN) of the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "autoScalingGroupArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "autoScalingGroupName",
        "c2jShape" : "AutoScalingGroupName",
        "deprecated" : false,
        "documentation" : "<p>The name of the Auto Scaling group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the Auto Scaling group.</p>\n@param autoScalingGroupName The name of the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAutoScalingGroupName",
        "getterDocumentation" : "/**<p>The name of the Auto Scaling group.</p>\n@return The name of the Auto Scaling group.*/",
        "getterMethodName" : "getAutoScalingGroupName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "autoScalingGroupName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "autoScalingGroupName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AutoScalingGroupName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the Auto Scaling group.</p>\n@param autoScalingGroupName The name of the Auto Scaling group.*/",
        "setterMethodName" : "setAutoScalingGroupName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "autoScalingGroupName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the Auto Scaling group.</p>\n@param autoScalingGroupName The name of the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "autoScalingGroupName",
          "variableType" : "String",
          "documentation" : "<p>The name of the Auto Scaling group.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "finding",
        "c2jShape" : "Finding",
        "deprecated" : false,
        "documentation" : "<p>The finding classification for the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>—An Auto Scaling group is considered not optimized when AWS Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>—An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li> </ul> <note> <p>The values that are returned might be <code>NOT_OPTIMIZED</code> or <code>OPTIMIZED</code>.</p> </note>",
        "enumType" : "Finding",
        "fluentSetterDocumentation" : "/**<p>The finding classification for the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>—An Auto Scaling group is considered not optimized when AWS Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>—An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li> </ul> <note> <p>The values that are returned might be <code>NOT_OPTIMIZED</code> or <code>OPTIMIZED</code>.</p> </note>\n@param finding The finding classification for the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>—An Auto Scaling group is considered not optimized when AWS Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>—An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li> </ul> <note> <p>The values that are returned might be <code>NOT_OPTIMIZED</code> or <code>OPTIMIZED</code>.</p>\n@return Returns a reference to this object so that method calls can be chained together.\n@see Finding*/",
        "fluentSetterMethodName" : "withFinding",
        "getterDocumentation" : "/**<p>The finding classification for the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>—An Auto Scaling group is considered not optimized when AWS Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>—An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li> </ul> <note> <p>The values that are returned might be <code>NOT_OPTIMIZED</code> or <code>OPTIMIZED</code>.</p> </note>\n@return The finding classification for the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>—An Auto Scaling group is considered not optimized when AWS Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>—An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li> </ul> <note> <p>The values that are returned might be <code>NOT_OPTIMIZED</code> or <code>OPTIMIZED</code>.</p>\n@see Finding*/",
        "getterMethodName" : "getFinding",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "finding",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "finding",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Finding",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The finding classification for the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>—An Auto Scaling group is considered not optimized when AWS Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>—An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li> </ul> <note> <p>The values that are returned might be <code>NOT_OPTIMIZED</code> or <code>OPTIMIZED</code>.</p> </note>\n@param finding The finding classification for the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>—An Auto Scaling group is considered not optimized when AWS Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>—An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li> </ul> <note> <p>The values that are returned might be <code>NOT_OPTIMIZED</code> or <code>OPTIMIZED</code>.</p>\n@see Finding*/",
        "setterMethodName" : "setFinding",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "finding",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The finding classification for the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>—An Auto Scaling group is considered not optimized when AWS Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>—An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li> </ul> <note> <p>The values that are returned might be <code>NOT_OPTIMIZED</code> or <code>OPTIMIZED</code>.</p> </note>\n@param finding The finding classification for the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>—An Auto Scaling group is considered not optimized when AWS Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>—An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li> </ul> <note> <p>The values that are returned might be <code>NOT_OPTIMIZED</code> or <code>OPTIMIZED</code>.</p>\n@return Returns a reference to this object so that method calls can be chained together.\n@see Finding*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "finding",
          "variableType" : "String",
          "documentation" : "<p>The finding classification for the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>—An Auto Scaling group is considered not optimized when AWS Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>—An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li> </ul> <note> <p>The values that are returned might be <code>NOT_OPTIMIZED</code> or <code>OPTIMIZED</code>.</p> </note>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "utilizationMetrics",
        "c2jShape" : "UtilizationMetrics",
        "deprecated" : false,
        "documentation" : "<p>An array of objects that describe the utilization metrics of the Auto Scaling group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of objects that describe the utilization metrics of the Auto Scaling group.</p>\n@param utilizationMetrics An array of objects that describe the utilization metrics of the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUtilizationMetrics",
        "getterDocumentation" : "/**<p>An array of objects that describe the utilization metrics of the Auto Scaling group.</p>\n@return An array of objects that describe the utilization metrics of the Auto Scaling group.*/",
        "getterMethodName" : "getUtilizationMetrics",
        "getterModel" : {
          "returnType" : "java.util.List<UtilizationMetric>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "utilizationMetrics",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "utilizationMetrics",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "UtilizationMetric",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "UtilizationMetric",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "UtilizationMetric",
              "variableName" : "member",
              "variableType" : "UtilizationMetric",
              "documentation" : "",
              "simpleType" : "UtilizationMetric",
              "variableSetterType" : "UtilizationMetric"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "UtilizationMetric",
              "variableName" : "member",
              "variableType" : "UtilizationMetric",
              "documentation" : "",
              "simpleType" : "UtilizationMetric",
              "variableSetterType" : "UtilizationMetric"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "UtilizationMetric",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "UtilizationMetric",
          "templateImplType" : "java.util.ArrayList<UtilizationMetric>",
          "templateType" : "java.util.List<UtilizationMetric>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "UtilizationMetrics",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An array of objects that describe the utilization metrics of the Auto Scaling group.</p>\n@param utilizationMetrics An array of objects that describe the utilization metrics of the Auto Scaling group.*/",
        "setterMethodName" : "setUtilizationMetrics",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<UtilizationMetric>",
          "variableName" : "utilizationMetrics",
          "variableType" : "java.util.List<UtilizationMetric>",
          "documentation" : "",
          "simpleType" : "List<UtilizationMetric>",
          "variableSetterType" : "java.util.Collection<UtilizationMetric>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An array of objects that describe the utilization metrics of the Auto Scaling group.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setUtilizationMetrics(java.util.Collection)} or {@link #withUtilizationMetrics(java.util.Collection)} if you want to override the existing values.</p>\n@param utilizationMetrics An array of objects that describe the utilization metrics of the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<UtilizationMetric>",
          "variableName" : "utilizationMetrics",
          "variableType" : "java.util.List<UtilizationMetric>",
          "documentation" : "<p>An array of objects that describe the utilization metrics of the Auto Scaling group.</p>",
          "simpleType" : "List<UtilizationMetric>",
          "variableSetterType" : "java.util.Collection<UtilizationMetric>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "lookBackPeriodInDays",
        "c2jShape" : "LookBackPeriodInDays",
        "deprecated" : false,
        "documentation" : "<p>The number of days for which utilization metrics were analyzed for the Auto Scaling group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of days for which utilization metrics were analyzed for the Auto Scaling group.</p>\n@param lookBackPeriodInDays The number of days for which utilization metrics were analyzed for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLookBackPeriodInDays",
        "getterDocumentation" : "/**<p>The number of days for which utilization metrics were analyzed for the Auto Scaling group.</p>\n@return The number of days for which utilization metrics were analyzed for the Auto Scaling group.*/",
        "getterMethodName" : "getLookBackPeriodInDays",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "lookBackPeriodInDays",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "lookBackPeriodInDays",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Double",
        "marshallingType" : "DOUBLE",
        "name" : "LookBackPeriodInDays",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The number of days for which utilization metrics were analyzed for the Auto Scaling group.</p>\n@param lookBackPeriodInDays The number of days for which utilization metrics were analyzed for the Auto Scaling group.*/",
        "setterMethodName" : "setLookBackPeriodInDays",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "lookBackPeriodInDays",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The number of days for which utilization metrics were analyzed for the Auto Scaling group.</p>\n@param lookBackPeriodInDays The number of days for which utilization metrics were analyzed for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "lookBackPeriodInDays",
          "variableType" : "Double",
          "documentation" : "<p>The number of days for which utilization metrics were analyzed for the Auto Scaling group.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "currentConfiguration",
        "c2jShape" : "AutoScalingGroupConfiguration",
        "deprecated" : false,
        "documentation" : "<p>An array of objects that describe the current configuration of the Auto Scaling group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of objects that describe the current configuration of the Auto Scaling group.</p>\n@param currentConfiguration An array of objects that describe the current configuration of the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCurrentConfiguration",
        "getterDocumentation" : "/**<p>An array of objects that describe the current configuration of the Auto Scaling group.</p>\n@return An array of objects that describe the current configuration of the Auto Scaling group.*/",
        "getterMethodName" : "getCurrentConfiguration",
        "getterModel" : {
          "returnType" : "AutoScalingGroupConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "currentConfiguration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "currentConfiguration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CurrentConfiguration",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An array of objects that describe the current configuration of the Auto Scaling group.</p>\n@param currentConfiguration An array of objects that describe the current configuration of the Auto Scaling group.*/",
        "setterMethodName" : "setCurrentConfiguration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AutoScalingGroupConfiguration",
          "variableName" : "currentConfiguration",
          "variableType" : "AutoScalingGroupConfiguration",
          "documentation" : "",
          "simpleType" : "AutoScalingGroupConfiguration",
          "variableSetterType" : "AutoScalingGroupConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An array of objects that describe the current configuration of the Auto Scaling group.</p>\n@param currentConfiguration An array of objects that describe the current configuration of the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AutoScalingGroupConfiguration",
          "variableName" : "currentConfiguration",
          "variableType" : "AutoScalingGroupConfiguration",
          "documentation" : "<p>An array of objects that describe the current configuration of the Auto Scaling group.</p>",
          "simpleType" : "AutoScalingGroupConfiguration",
          "variableSetterType" : "AutoScalingGroupConfiguration"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "recommendationOptions",
        "c2jShape" : "AutoScalingGroupRecommendationOptions",
        "deprecated" : false,
        "documentation" : "<p>An array of objects that describe the recommendation options for the Auto Scaling group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of objects that describe the recommendation options for the Auto Scaling group.</p>\n@param recommendationOptions An array of objects that describe the recommendation options for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRecommendationOptions",
        "getterDocumentation" : "/**<p>An array of objects that describe the recommendation options for the Auto Scaling group.</p>\n@return An array of objects that describe the recommendation options for the Auto Scaling group.*/",
        "getterMethodName" : "getRecommendationOptions",
        "getterModel" : {
          "returnType" : "java.util.List<AutoScalingGroupRecommendationOption>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "recommendationOptions",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "recommendationOptions",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "AutoScalingGroupRecommendationOption",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "AutoScalingGroupRecommendationOption",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "AutoScalingGroupRecommendationOption",
              "variableName" : "member",
              "variableType" : "AutoScalingGroupRecommendationOption",
              "documentation" : "",
              "simpleType" : "AutoScalingGroupRecommendationOption",
              "variableSetterType" : "AutoScalingGroupRecommendationOption"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "AutoScalingGroupRecommendationOption",
              "variableName" : "member",
              "variableType" : "AutoScalingGroupRecommendationOption",
              "documentation" : "",
              "simpleType" : "AutoScalingGroupRecommendationOption",
              "variableSetterType" : "AutoScalingGroupRecommendationOption"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "AutoScalingGroupRecommendationOption",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "AutoScalingGroupRecommendationOption",
          "templateImplType" : "java.util.ArrayList<AutoScalingGroupRecommendationOption>",
          "templateType" : "java.util.List<AutoScalingGroupRecommendationOption>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "RecommendationOptions",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An array of objects that describe the recommendation options for the Auto Scaling group.</p>\n@param recommendationOptions An array of objects that describe the recommendation options for the Auto Scaling group.*/",
        "setterMethodName" : "setRecommendationOptions",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<AutoScalingGroupRecommendationOption>",
          "variableName" : "recommendationOptions",
          "variableType" : "java.util.List<AutoScalingGroupRecommendationOption>",
          "documentation" : "",
          "simpleType" : "List<AutoScalingGroupRecommendationOption>",
          "variableSetterType" : "java.util.Collection<AutoScalingGroupRecommendationOption>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An array of objects that describe the recommendation options for the Auto Scaling group.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setRecommendationOptions(java.util.Collection)} or {@link #withRecommendationOptions(java.util.Collection)} if you want to override the existing values.</p>\n@param recommendationOptions An array of objects that describe the recommendation options for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<AutoScalingGroupRecommendationOption>",
          "variableName" : "recommendationOptions",
          "variableType" : "java.util.List<AutoScalingGroupRecommendationOption>",
          "documentation" : "<p>An array of objects that describe the recommendation options for the Auto Scaling group.</p>",
          "simpleType" : "List<AutoScalingGroupRecommendationOption>",
          "variableSetterType" : "java.util.Collection<AutoScalingGroupRecommendationOption>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "lastRefreshTimestamp",
        "c2jShape" : "LastRefreshTimestamp",
        "deprecated" : false,
        "documentation" : "<p>The time stamp of when the Auto Scaling group recommendation was last refreshed.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time stamp of when the Auto Scaling group recommendation was last refreshed.</p>\n@param lastRefreshTimestamp The time stamp of when the Auto Scaling group recommendation was last refreshed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastRefreshTimestamp",
        "getterDocumentation" : "/**<p>The time stamp of when the Auto Scaling group recommendation was last refreshed.</p>\n@return The time stamp of when the Auto Scaling group recommendation was last refreshed.*/",
        "getterMethodName" : "getLastRefreshTimestamp",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "lastRefreshTimestamp",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "lastRefreshTimestamp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "LastRefreshTimestamp",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time stamp of when the Auto Scaling group recommendation was last refreshed.</p>\n@param lastRefreshTimestamp The time stamp of when the Auto Scaling group recommendation was last refreshed.*/",
        "setterMethodName" : "setLastRefreshTimestamp",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastRefreshTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time stamp of when the Auto Scaling group recommendation was last refreshed.</p>\n@param lastRefreshTimestamp The time stamp of when the Auto Scaling group recommendation was last refreshed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastRefreshTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time stamp of when the Auto Scaling group recommendation was last refreshed.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AccountId" : {
          "c2jName" : "accountId",
          "c2jShape" : "AccountId",
          "deprecated" : false,
          "documentation" : "<p>The AWS account ID of the Auto Scaling group.</p>",
          "enumType" : null,
[...]
