{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-11-01",
    "asyncClient" : "AWSComputeOptimizerAsyncClient",
    "asyncClientBuilderClassName" : "AWSComputeOptimizerAsyncClientBuilder",
    "asyncInterface" : "AWSComputeOptimizerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSComputeOptimizerModuleInjector",
    "defaultEndpoint" : "compute-optimizer.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "compute-optimizer.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS Compute Optimizer is a service that analyzes the configuration and utilization metrics of your AWS compute resources, such as EC2 instances, Auto Scaling groups, AWS Lambda functions, and Amazon EBS volumes. It reports whether your resources are optimal, and generates optimization recommendations to reduce the cost and improve the performance of your workloads. Compute Optimizer also provides recent utilization metric data, as well as projected utilization metric data for the recommendations, which you can use to evaluate which recommendation provides the best price-performance trade-off. The analysis of your usage patterns can help you decide when to move or resize your running resources, and still meet your performance and capacity requirements. For more information about Compute Optimizer, including the required permissions to use the service, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/\">AWS Compute Optimizer User Guide</a>.</p>",
    "endpointPrefix" : "compute-optimizer",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.computeoptimizer",
    "packagePath" : "com/amazonaws/services/computeoptimizer",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Compute Optimizer",
    "serviceId" : "Compute Optimizer",
    "serviceName" : "AWS Compute Optimizer",
    "signingName" : "compute-optimizer",
    "smokeTestsPackageName" : "com.amazonaws.services.computeoptimizer.smoketests",
    "syncClient" : "AWSComputeOptimizerClient",
    "syncClientBuilderClassName" : "AWSComputeOptimizerClientBuilder",
    "syncInterface" : "AWSComputeOptimizer",
    "uid" : "compute-optimizer-2019-11-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DescribeRecommendationExportJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRecommendationExportJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRecommendationExportJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRecommendationExportJobsRequest, DescribeRecommendationExportJobsResult>",
      "asyncReturnType" : "DescribeRecommendationExportJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes recommendation export jobs created in the last seven days.</p> <p>Use the <code>ExportAutoScalingGroupRecommendations</code> or <code>ExportEC2InstanceRecommendations</code> actions to request an export of your recommendations. Then use the <code>DescribeRecommendationExportJobs</code> action to view your export jobs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OptInRequiredException",
        "documentation" : "<p>The account is not opted in to AWS Compute Optimizer.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingAuthenticationTokenException",
        "documentation" : "<p>The request must contain either a valid (registered) AWS access key ID or X.509 certificate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRecommendationExportJobsRequest",
        "variableName" : "describeRecommendationExportJobsRequest",
        "variableType" : "DescribeRecommendationExportJobsRequest",
        "documentation" : "",
        "simpleType" : "DescribeRecommendationExportJobsRequest",
        "variableSetterType" : "DescribeRecommendationExportJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRecommendationExportJobs",
      "operationName" : "DescribeRecommendationExportJobs",
      "returnType" : {
        "returnType" : "DescribeRecommendationExportJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRecommendationExportJobsResult"
    },
    "ExportAutoScalingGroupRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExportAutoScalingGroupRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExportAutoScalingGroupRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExportAutoScalingGroupRecommendationsRequest, ExportAutoScalingGroupRecommendationsResult>",
      "asyncReturnType" : "ExportAutoScalingGroupRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Exports optimization recommendations for Auto Scaling groups.</p> <p>Recommendations are exported in a comma-separated values (.csv) file, and its metadata in a JavaScript Object Notation (.json) file, to an existing Amazon Simple Storage Service (Amazon S3) bucket that you specify. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html\">Exporting Recommendations</a> in the <i>Compute Optimizer User Guide</i>.</p> <p>You can have only one Auto Scaling group export job in progress per AWS Region.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OptInRequiredException",
        "documentation" : "<p>The account is not opted in to AWS Compute Optimizer.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingAuthenticationTokenException",
        "documentation" : "<p>The request must contain either a valid (registered) AWS access key ID or X.509 certificate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeds a limit of the service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExportAutoScalingGroupRecommendationsRequest",
        "variableName" : "exportAutoScalingGroupRecommendationsRequest",
        "variableType" : "ExportAutoScalingGroupRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "ExportAutoScalingGroupRecommendationsRequest",
        "variableSetterType" : "ExportAutoScalingGroupRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "exportAutoScalingGroupRecommendations",
      "operationName" : "ExportAutoScalingGroupRecommendations",
      "returnType" : {
        "returnType" : "ExportAutoScalingGroupRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ExportAutoScalingGroupRecommendationsResult"
    },
    "ExportEBSVolumeRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExportEBSVolumeRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExportEBSVolumeRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExportEBSVolumeRecommendationsRequest, ExportEBSVolumeRecommendationsResult>",
      "asyncReturnType" : "ExportEBSVolumeRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Exports optimization recommendations for Amazon EBS volumes.</p> <p>Recommendations are exported in a comma-separated values (.csv) file, and its metadata in a JavaScript Object Notation (.json) file, to an existing Amazon Simple Storage Service (Amazon S3) bucket that you specify. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html\">Exporting Recommendations</a> in the <i>Compute Optimizer User Guide</i>.</p> <p>You can have only one Amazon EBS volume export job in progress per AWS Region.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OptInRequiredException",
        "documentation" : "<p>The account is not opted in to AWS Compute Optimizer.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingAuthenticationTokenException",
        "documentation" : "<p>The request must contain either a valid (registered) AWS access key ID or X.509 certificate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeds a limit of the service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExportEBSVolumeRecommendationsRequest",
        "variableName" : "exportEBSVolumeRecommendationsRequest",
        "variableType" : "ExportEBSVolumeRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "ExportEBSVolumeRecommendationsRequest",
        "variableSetterType" : "ExportEBSVolumeRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "exportEBSVolumeRecommendations",
      "operationName" : "ExportEBSVolumeRecommendations",
      "returnType" : {
        "returnType" : "ExportEBSVolumeRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ExportEBSVolumeRecommendationsResult"
    },
    "ExportEC2InstanceRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExportEC2InstanceRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExportEC2InstanceRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExportEC2InstanceRecommendationsRequest, ExportEC2InstanceRecommendationsResult>",
      "asyncReturnType" : "ExportEC2InstanceRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Exports optimization recommendations for Amazon EC2 instances.</p> <p>Recommendations are exported in a comma-separated values (.csv) file, and its metadata in a JavaScript Object Notation (.json) file, to an existing Amazon Simple Storage Service (Amazon S3) bucket that you specify. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html\">Exporting Recommendations</a> in the <i>Compute Optimizer User Guide</i>.</p> <p>You can have only one Amazon EC2 instance export job in progress per AWS Region.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OptInRequiredException",
        "documentation" : "<p>The account is not opted in to AWS Compute Optimizer.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingAuthenticationTokenException",
        "documentation" : "<p>The request must contain either a valid (registered) AWS access key ID or X.509 certificate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeds a limit of the service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExportEC2InstanceRecommendationsRequest",
        "variableName" : "exportEC2InstanceRecommendationsRequest",
        "variableType" : "ExportEC2InstanceRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "ExportEC2InstanceRecommendationsRequest",
        "variableSetterType" : "ExportEC2InstanceRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "exportEC2InstanceRecommendations",
      "operationName" : "ExportEC2InstanceRecommendations",
      "returnType" : {
        "returnType" : "ExportEC2InstanceRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ExportEC2InstanceRecommendationsResult"
    },
    "ExportLambdaFunctionRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExportLambdaFunctionRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExportLambdaFunctionRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExportLambdaFunctionRecommendationsRequest, ExportLambdaFunctionRecommendationsResult>",
      "asyncReturnType" : "ExportLambdaFunctionRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Exports optimization recommendations for AWS Lambda functions.</p> <p>Recommendations are exported in a comma-separated values (.csv) file, and its metadata in a JavaScript Object Notation (.json) file, to an existing Amazon Simple Storage Service (Amazon S3) bucket that you specify. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html\">Exporting Recommendations</a> in the <i>Compute Optimizer User Guide</i>.</p> <p>You can have only one Lambda function export job in progress per AWS Region.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OptInRequiredException",
        "documentation" : "<p>The account is not opted in to AWS Compute Optimizer.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingAuthenticationTokenException",
        "documentation" : "<p>The request must contain either a valid (registered) AWS access key ID or X.509 certificate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeds a limit of the service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExportLambdaFunctionRecommendationsRequest",
        "variableName" : "exportLambdaFunctionRecommendationsRequest",
        "variableType" : "ExportLambdaFunctionRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "ExportLambdaFunctionRecommendationsRequest",
        "variableSetterType" : "ExportLambdaFunctionRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "exportLambdaFunctionRecommendations",
      "operationName" : "ExportLambdaFunctionRecommendations",
      "returnType" : {
        "returnType" : "ExportLambdaFunctionRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ExportLambdaFunctionRecommendationsResult"
    },
    "GetAutoScalingGroupRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAutoScalingGroupRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAutoScalingGroupRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAutoScalingGroupRecommendationsRequest, GetAutoScalingGroupRecommendationsResult>",
      "asyncReturnType" : "GetAutoScalingGroupRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns Auto Scaling group recommendations.</p> <p>AWS Compute Optimizer generates recommendations for Amazon EC2 Auto Scaling groups that meet a specific set of requirements. For more information, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/requirements.html\">Supported resources and requirements</a> in the <i>AWS Compute Optimizer User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OptInRequiredException",
        "documentation" : "<p>The account is not opted in to AWS Compute Optimizer.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingAuthenticationTokenException",
        "documentation" : "<p>The request must contain either a valid (registered) AWS access key ID or X.509 certificate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAutoScalingGroupRecommendationsRequest",
        "variableName" : "getAutoScalingGroupRecommendationsRequest",
        "variableType" : "GetAutoScalingGroupRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "GetAutoScalingGroupRecommendationsRequest",
        "variableSetterType" : "GetAutoScalingGroupRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAutoScalingGroupRecommendations",
      "operationName" : "GetAutoScalingGroupRecommendations",
      "returnType" : {
        "returnType" : "GetAutoScalingGroupRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAutoScalingGroupRecommendationsResult"
    },
    "GetEBSVolumeRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEBSVolumeRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEBSVolumeRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEBSVolumeRecommendationsRequest, GetEBSVolumeRecommendationsResult>",
      "asyncReturnType" : "GetEBSVolumeRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns Amazon Elastic Block Store (Amazon EBS) volume recommendations.</p> <p>AWS Compute Optimizer generates recommendations for Amazon EBS volumes that meet a specific set of requirements. For more information, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/requirements.html\">Supported resources and requirements</a> in the <i>AWS Compute Optimizer User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OptInRequiredException",
        "documentation" : "<p>The account is not opted in to AWS Compute Optimizer.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingAuthenticationTokenException",
        "documentation" : "<p>The request must contain either a valid (registered) AWS access key ID or X.509 certificate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEBSVolumeRecommendationsRequest",
        "variableName" : "getEBSVolumeRecommendationsRequest",
        "variableType" : "GetEBSVolumeRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "GetEBSVolumeRecommendationsRequest",
        "variableSetterType" : "GetEBSVolumeRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEBSVolumeRecommendations",
      "operationName" : "GetEBSVolumeRecommendations",
      "returnType" : {
        "returnType" : "GetEBSVolumeRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEBSVolumeRecommendationsResult"
    },
    "GetEC2InstanceRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEC2InstanceRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEC2InstanceRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEC2InstanceRecommendationsRequest, GetEC2InstanceRecommendationsResult>",
      "asyncReturnType" : "GetEC2InstanceRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns Amazon EC2 instance recommendations.</p> <p>AWS Compute Optimizer generates recommendations for Amazon Elastic Compute Cloud (Amazon EC2) instances that meet a specific set of requirements. For more information, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/requirements.html\">Supported resources and requirements</a> in the <i>AWS Compute Optimizer User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OptInRequiredException",
        "documentation" : "<p>The account is not opted in to AWS Compute Optimizer.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingAuthenticationTokenException",
        "documentation" : "<p>The request must contain either a valid (registered) AWS access key ID or X.509 certificate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEC2InstanceRecommendationsRequest",
        "variableName" : "getEC2InstanceRecommendationsRequest",
        "variableType" : "GetEC2InstanceRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "GetEC2InstanceRecommendationsRequest",
        "variableSetterType" : "GetEC2InstanceRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEC2InstanceRecommendations",
      "operationName" : "GetEC2InstanceRecommendations",
      "returnType" : {
        "returnType" : "GetEC2InstanceRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEC2InstanceRecommendationsResult"
    },
    "GetEC2RecommendationProjectedMetrics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEC2RecommendationProjectedMetricsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEC2RecommendationProjectedMetricsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEC2RecommendationProjectedMetricsRequest, GetEC2RecommendationProjectedMetricsResult>",
      "asyncReturnType" : "GetEC2RecommendationProjectedMetricsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the projected utilization metrics of Amazon EC2 instance recommendations.</p> <note> <p>The <code>Cpu</code> and <code>Memory</code> metrics are the only projected utilization metrics returned when you run this action. Additionally, the <code>Memory</code> metric is returned only for resources that have the unified CloudWatch agent installed on them. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/metrics.html#cw-agent\">Enabling Memory Utilization with the CloudWatch Agent</a>.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OptInRequiredException",
        "documentation" : "<p>The account is not opted in to AWS Compute Optimizer.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A resource that is required for the action doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingAuthenticationTokenException",
        "documentation" : "<p>The request must contain either a valid (registered) AWS access key ID or X.509 certificate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEC2RecommendationProjectedMetricsRequest",
        "variableName" : "getEC2RecommendationProjectedMetricsRequest",
        "variableType" : "GetEC2RecommendationProjectedMetricsRequest",
        "documentation" : "",
        "simpleType" : "GetEC2RecommendationProjectedMetricsRequest",
        "variableSetterType" : "GetEC2RecommendationProjectedMetricsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEC2RecommendationProjectedMetrics",
      "operationName" : "GetEC2RecommendationProjectedMetrics",
      "returnType" : {
        "returnType" : "GetEC2RecommendationProjectedMetricsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEC2RecommendationProjectedMetricsResult"
    },
    "GetEnrollmentStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEnrollmentStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEnrollmentStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEnrollmentStatusRequest, GetEnrollmentStatusResult>",
      "asyncReturnType" : "GetEnrollmentStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the enrollment (opt in) status of an account to the AWS Compute Optimizer service.</p> <p>If the account is the management account of an organization, this action also confirms the enrollment status of member accounts within the organization.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingAuthenticationTokenException",
        "documentation" : "<p>The request must contain either a valid (registered) AWS access key ID or X.509 certificate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEnrollmentStatusRequest",
        "variableName" : "getEnrollmentStatusRequest",
        "variableType" : "GetEnrollmentStatusRequest",
        "documentation" : "",
        "simpleType" : "GetEnrollmentStatusRequest",
        "variableSetterType" : "GetEnrollmentStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEnrollmentStatus",
      "operationName" : "GetEnrollmentStatus",
      "returnType" : {
        "returnType" : "GetEnrollmentStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEnrollmentStatusResult"
    },
    "GetLambdaFunctionRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLambdaFunctionRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLambdaFunctionRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLambdaFunctionRecommendationsRequest, GetLambdaFunctionRecommendationsResult>",
      "asyncReturnType" : "GetLambdaFunctionRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns AWS Lambda function recommendations.</p> <p>AWS Compute Optimizer generates recommendations for functions that meet a specific set of requirements. For more information, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/requirements.html\">Supported resources and requirements</a> in the <i>AWS Compute Optimizer User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OptInRequiredException",
        "documentation" : "<p>The account is not opted in to AWS Compute Optimizer.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingAuthenticationTokenException",
        "documentation" : "<p>The request must contain either a valid (registered) AWS access key ID or X.509 certificate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeds a limit of the service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLambdaFunctionRecommendationsRequest",
        "variableName" : "getLambdaFunctionRecommendationsRequest",
        "variableType" : "GetLambdaFunctionRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "GetLambdaFunctionRecommendationsRequest",
        "variableSetterType" : "GetLambdaFunctionRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLambdaFunctionRecommendations",
      "operationName" : "GetLambdaFunctionRecommendations",
      "returnType" : {
        "returnType" : "GetLambdaFunctionRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLambdaFunctionRecommendationsResult"
    },
    "GetRecommendationSummaries" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRecommendationSummariesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRecommendationSummariesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRecommendationSummariesRequest, GetRecommendationSummariesResult>",
      "asyncReturnType" : "GetRecommendationSummariesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the optimization findings for an account.</p> <p>It returns the number of:</p> <ul> <li> <p>Amazon EC2 instances in an account that are <code>Underprovisioned</code>, <code>Overprovisioned</code>, or <code>Optimized</code>.</p> </li> <li> <p>Auto Scaling groups in an account that are <code>NotOptimized</code>, or <code>Optimized</code>.</p> </li> <li> <p>Amazon EBS volumes in an account that are <code>NotOptimized</code>, or <code>Optimized</code>.</p> </li> <li> <p>Lambda functions in an account that are <code>NotOptimized</code>, or <code>Optimized</code>.</p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "OptInRequiredException",
        "documentation" : "<p>The account is not opted in to AWS Compute Optimizer.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingAuthenticationTokenException",
        "documentation" : "<p>The request must contain either a valid (registered) AWS access key ID or X.509 certificate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRecommendationSummariesRequest",
        "variableName" : "getRecommendationSummariesRequest",
        "variableType" : "GetRecommendationSummariesRequest",
        "documentation" : "",
        "simpleType" : "GetRecommendationSummariesRequest",
        "variableSetterType" : "GetRecommendationSummariesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRecommendationSummaries",
      "operationName" : "GetRecommendationSummaries",
      "returnType" : {
        "returnType" : "GetRecommendationSummariesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRecommendationSummariesResult"
    },
    "UpdateEnrollmentStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEnrollmentStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEnrollmentStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEnrollmentStatusRequest, UpdateEnrollmentStatusResult>",
      "asyncReturnType" : "UpdateEnrollmentStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the enrollment (opt in and opt out) status of an account to the AWS Compute Optimizer service.</p> <p>If the account is a management account of an organization, this action can also be used to enroll member accounts within the organization.</p> <p>You must have the appropriate permissions to opt in to Compute Optimizer, to view its recommendations, and to opt out. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/security-iam.html\">Controlling access with AWS Identity and Access Management</a> in the <i>AWS Compute Optimizer User Guide</i>.</p> <p>When you opt in, Compute Optimizer automatically creates a Service-Linked Role in your account to access its data. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/using-service-linked-roles.html\">Using Service-Linked Roles for AWS Compute Optimizer</a> in the <i>AWS Compute Optimizer User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred. Try your call again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The request has failed due to a temporary failure of the server.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingAuthenticationTokenException",
        "documentation" : "<p>The request must contain either a valid (registered) AWS access key ID or X.509 certificate.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateEnrollmentStatusRequest",
        "variableName" : "updateEnrollmentStatusRequest",
        "variableType" : "UpdateEnrollmentStatusRequest",
        "documentation" : "",
        "simpleType" : "UpdateEnrollmentStatusRequest",
        "variableSetterType" : "UpdateEnrollmentStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEnrollmentStatus",
      "operationName" : "UpdateEnrollmentStatus",
      "returnType" : {
        "returnType" : "UpdateEnrollmentStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateEnrollmentStatusResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.computeoptimizer.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.computeoptimizer.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AutoScalingGroupConfiguration" : {
      "c2jName" : "AutoScalingGroupConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes the configuration of an Auto Scaling group.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.computeoptimizer.model.AutoScalingGroupConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "desiredCapacity",
        "c2jShape" : "DesiredCapacity",
        "deprecated" : false,
        "documentation" : "<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>\n@param desiredCapacity The desired capacity, or number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDesiredCapacity",
        "getterDocumentation" : "/**<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>\n@return The desired capacity, or number of instances, for the Auto Scaling group.*/",
        "getterMethodName" : "getDesiredCapacity",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "desiredCapacity",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "desiredCapacity",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "DesiredCapacity",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>\n@param desiredCapacity The desired capacity, or number of instances, for the Auto Scaling group.*/",
        "setterMethodName" : "setDesiredCapacity",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "desiredCapacity",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>\n@param desiredCapacity The desired capacity, or number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "desiredCapacity",
          "variableType" : "Integer",
          "documentation" : "<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "minSize",
        "c2jShape" : "MinSize",
        "deprecated" : false,
        "documentation" : "<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>\n@param minSize The minimum size, or minimum number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMinSize",
        "getterDocumentation" : "/**<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>\n@return The minimum size, or minimum number of instances, for the Auto Scaling group.*/",
        "getterMethodName" : "getMinSize",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "minSize",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "minSize",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "MinSize",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>\n@param minSize The minimum size, or minimum number of instances, for the Auto Scaling group.*/",
        "setterMethodName" : "setMinSize",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "minSize",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>\n@param minSize The minimum size, or minimum number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "minSize",
          "variableType" : "Integer",
          "documentation" : "<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "maxSize",
        "c2jShape" : "MaxSize",
        "deprecated" : false,
        "documentation" : "<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>\n@param maxSize The maximum size, or maximum number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMaxSize",
        "getterDocumentation" : "/**<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>\n@return The maximum size, or maximum number of instances, for the Auto Scaling group.*/",
        "getterMethodName" : "getMaxSize",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "maxSize",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "maxSize",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "MaxSize",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>\n@param maxSize The maximum size, or maximum number of instances, for the Auto Scaling group.*/",
        "setterMethodName" : "setMaxSize",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "maxSize",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>\n@param maxSize The maximum size, or maximum number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "maxSize",
          "variableType" : "Integer",
          "documentation" : "<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "instanceType",
        "c2jShape" : "InstanceType",
        "deprecated" : false,
        "documentation" : "<p>The instance type for the Auto Scaling group.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The instance type for the Auto Scaling group.</p>\n@param instanceType The instance type for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInstanceType",
        "getterDocumentation" : "/**<p>The instance type for the Auto Scaling group.</p>\n@return The instance type for the Auto Scaling group.*/",
        "getterMethodName" : "getInstanceType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "instanceType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "instanceType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "InstanceType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The instance type for the Auto Scaling group.</p>\n@param instanceType The instance type for the Auto Scaling group.*/",
        "setterMethodName" : "setInstanceType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The instance type for the Auto Scaling group.</p>\n@param instanceType The instance type for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceType",
          "variableType" : "String",
          "documentation" : "<p>The instance type for the Auto Scaling group.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DesiredCapacity" : {
          "c2jName" : "desiredCapacity",
          "c2jShape" : "DesiredCapacity",
          "deprecated" : false,
          "documentation" : "<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>\n@param desiredCapacity The desired capacity, or number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDesiredCapacity",
          "getterDocumentation" : "/**<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>\n@return The desired capacity, or number of instances, for the Auto Scaling group.*/",
          "getterMethodName" : "getDesiredCapacity",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "desiredCapacity",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "desiredCapacity",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "DesiredCapacity",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>\n@param desiredCapacity The desired capacity, or number of instances, for the Auto Scaling group.*/",
          "setterMethodName" : "setDesiredCapacity",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "desiredCapacity",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>\n@param desiredCapacity The desired capacity, or number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "desiredCapacity",
            "variableType" : "Integer",
            "documentation" : "<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "InstanceType" : {
          "c2jName" : "instanceType",
          "c2jShape" : "InstanceType",
          "deprecated" : false,
          "documentation" : "<p>The instance type for the Auto Scaling group.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The instance type for the Auto Scaling group.</p>\n@param instanceType The instance type for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withInstanceType",
          "getterDocumentation" : "/**<p>The instance type for the Auto Scaling group.</p>\n@return The instance type for the Auto Scaling group.*/",
          "getterMethodName" : "getInstanceType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "instanceType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "instanceType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "InstanceType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The instance type for the Auto Scaling group.</p>\n@param instanceType The instance type for the Auto Scaling group.*/",
          "setterMethodName" : "setInstanceType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "instanceType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The instance type for the Auto Scaling group.</p>\n@param instanceType The instance type for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "instanceType",
            "variableType" : "String",
            "documentation" : "<p>The instance type for the Auto Scaling group.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "MaxSize" : {
          "c2jName" : "maxSize",
          "c2jShape" : "MaxSize",
          "deprecated" : false,
          "documentation" : "<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>\n@param maxSize The maximum size, or maximum number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMaxSize",
          "getterDocumentation" : "/**<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>\n@return The maximum size, or maximum number of instances, for the Auto Scaling group.*/",
          "getterMethodName" : "getMaxSize",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "maxSize",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "maxSize",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "MaxSize",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>\n@param maxSize The maximum size, or maximum number of instances, for the Auto Scaling group.*/",
          "setterMethodName" : "setMaxSize",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "maxSize",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>\n@param maxSize The maximum size, or maximum number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "maxSize",
            "variableType" : "Integer",
            "documentation" : "<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "MinSize" : {
          "c2jName" : "minSize",
          "c2jShape" : "MinSize",
          "deprecated" : false,
          "documentation" : "<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>\n@param minSize The minimum size, or minimum number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMinSize",
          "getterDocumentation" : "/**<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>\n@return The minimum size, or minimum number of instances, for the Auto Scaling group.*/",
          "getterMethodName" : "getMinSize",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "minSize",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "minSize",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "MinSize",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>\n@param minSize The minimum size, or minimum number of instances, for the Auto Scaling group.*/",
          "setterMethodName" : "setMinSize",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "minSize",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>\n@param minSize The minimum size, or minimum number of instances, for the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "minSize",
            "variableType" : "Integer",
            "documentation" : "<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.computeoptimizer.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AutoScalingGroupConfiguration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AutoScalingGroupConfiguration",
        "variableName" : "autoScalingGroupConfiguration",
        "variableType" : "AutoScalingGroupConfiguration",
        "documentation" : null,
        "simpleType" : "AutoScalingGroupConfiguration",
        "variableSetterType" : "AutoScalingGroupConfiguration"
      },
      "wrapper" : false
    },
    "AutoScalingGroupRecommendation" : {
      "c2jName" : "AutoScalingGroupRecommendation",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes an Auto Scaling group recommendation.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.computeoptimizer.model.AutoScalingGroupRecommendation",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "accountId",
        "c2jShape" : "AccountId",
        "deprecated" : false,
        "documentation" : "<p>The AWS account ID of the Auto Scaling group.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS account ID of the Auto Scaling group.</p>\n@param accountId The AWS account ID of the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccountId",
        "getterDocumentation" : "/**<p>The AWS account ID of the Auto Scaling group.</p>\n@return The AWS account ID of the Auto Scaling group.*/",
        "getterMethodName" : "getAccountId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "accountId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "accountId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccountId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The AWS account ID of the Auto Scaling group.</p>\n@param accountId The AWS account ID of the Auto Scaling group.*/",
        "setterMethodName" : "setAccountId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The AWS account ID of the Auto Scaling group.</p>\n@param accountId The AWS account ID of the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountId",
          "variableType" : "String",
          "documentation" : "<p>The AWS account ID of the Auto Scaling group.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "autoScalingGroupArn",
        "c2jShape" : "AutoScalingGroupArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>\n@param autoScalingGroupArn The Amazon Resource Name (ARN) of the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAutoScalingGroupArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>\n@return The Amazon Resource Name (ARN) of the Auto Scaling group.*/",
        "getterMethodName" : "getAutoScalingGroupArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "autoScalingGroupArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "autoScalingGroupArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AutoScalingGroupArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>\n@param autoScalingGroupArn The Amazon Resource Name (ARN) of the Auto Scaling group.*/",
        "setterMethodName" : "setAutoScalingGroupArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "autoScalingGroupArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>\n@param autoScalingGroupArn The Amazon Resource Name (ARN) of the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "autoScalingGroupArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "autoScalingGroupName",
        "c2jShape" : "AutoScalingGroupName",
        "deprecated" : false,
        "documentation" : "<p>The name of the Auto Scaling group.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the Auto Scaling group.</p>\n@param autoScalingGroupName The name of the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAutoScalingGroupName",
        "getterDocumentation" : "/**<p>The name of the Auto Scaling group.</p>\n@return The name of the Auto Scaling group.*/",
        "getterMethodName" : "getAutoScalingGroupName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "autoScalingGroupName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "autoScalingGroupName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AutoScalingGroupName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the Auto Scaling group.</p>\n@param autoScalingGroupName The name of the Auto Scaling group.*/",
        "setterMethodName" : "setAutoScalingGroupName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "autoScalingGroupName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the Auto Scaling group.</p>\n@param autoScalingGroupName The name of the Auto Scaling group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "autoScalingGroupName",
          "variableType" : "String",
          "documentation" : "<p>The name of the Auto Scaling group.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "finding",
        "c2jShape" : "Finding",
        "deprecated" : false,
        "documentation" : "<p>The finding classification of the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>—An Auto Scaling group is considered not optimized when AWS Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>—An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li> </ul>",
        "endpointDiscoveryId" : false,
        "enumType" : "Finding",
        "fluentSetterDocumentation" : "/**<p>The finding classification of the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>—An Auto Scaling group is considered not optimized when AWS Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>—An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li> </ul>\n@param finding The finding classification of the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>—An Auto Scaling group is considered not optimized when AWS Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>—An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.\n@see Finding*/",
        "fluentSetterMethodName" : "withFinding",
        "getterDocumentation" : "/**<p>The finding classification of the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>—An Auto Scaling group is considered not optimized when AWS Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>—An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li> </ul>\n@return The finding classification of the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>—An Auto Scaling group is considered not optimized when AWS Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>—An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li>\n@see Finding*/",
        "getterMethodName" : "getFinding",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "finding",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "finding",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Finding",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The finding classification of the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>—An Auto Scaling group is considered not optimized when AWS Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>—An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li> </ul>\n@param finding The finding classification of the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>—An Auto Scaling group is considered not optimized when AWS Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>—An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li>\n@see Finding*/",
        "setterMethodName" : "setFinding",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "finding",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The finding classification of the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>—An Auto Scaling group is considered not optimized when AWS Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>—An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li> </ul>\n@param finding The finding classification of the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>—An Auto Scaling group is considered not optimized when AWS Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>—An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.\n@see Finding*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "finding",
          "variableType" : "String",
[...]
