{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-10-30",
    "asyncClient" : "AWSComprehendMedicalAsyncClient",
    "asyncClientBuilderClassName" : "AWSComprehendMedicalAsyncClientBuilder",
    "asyncInterface" : "AWSComprehendMedicalAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSComprehendMedicalModuleInjector",
    "defaultEndpoint" : "comprehendmedical.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "comprehendmedical.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p> Comprehend Medical extracts structured information from unstructured clinical text. Use these actions to gain insight in your documents. </p>",
    "endpointPrefix" : "comprehendmedical",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.comprehendmedical",
    "packagePath" : "com/amazonaws/services/comprehendmedical",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "ComprehendMedical",
    "serviceFullName" : "AWS Comprehend Medical",
    "serviceId" : "ComprehendMedical",
    "serviceName" : "ComprehendMedical",
    "signingName" : "comprehendmedical",
    "smokeTestsPackageName" : "com.amazonaws.services.comprehendmedical.smoketests",
    "syncClient" : "AWSComprehendMedicalClient",
    "syncClientBuilderClassName" : "AWSComprehendMedicalClientBuilder",
    "syncInterface" : "AWSComprehendMedical",
    "uid" : "comprehendmedical-2018-10-30",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DetectEntities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectEntitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectEntitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectEntitiesRequest, DetectEntitiesResult>",
      "asyncReturnType" : "DetectEntitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Inspects the clinical text for a variety of medical entities and returns specific information about them such as entity category, location, and confidence score on that information .</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal server error occurred. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p> The Comprehend Medical service is temporarily unavailable. Please wait and then retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again. Contact customer support for more information about a service limit increase. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEncodingException",
        "documentation" : "<p> The input text was not in valid UTF-8 character encoding. Check your text then retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p> The size of the text you submitted exceeds the size limit. Reduce the size of the text or use a smaller document and then retry your request. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DetectEntitiesRequest",
        "variableName" : "detectEntitiesRequest",
        "variableType" : "DetectEntitiesRequest",
        "documentation" : "",
        "simpleType" : "DetectEntitiesRequest",
        "variableSetterType" : "DetectEntitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectEntities",
      "operationName" : "DetectEntities",
      "returnType" : {
        "returnType" : "DetectEntitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectEntitiesResult"
    },
    "DetectPHI" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectPHIResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectPHIResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectPHIRequest, DetectPHIResult>",
      "asyncReturnType" : "DetectPHIResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Inspects the clinical text for personal health information (PHI) entities and entity category, location, and confidence score on that information.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> An internal server error occurred. Retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p> The Comprehend Medical service is temporarily unavailable. Please wait and then retry your request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again. Contact customer support for more information about a service limit increase. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidEncodingException",
        "documentation" : "<p> The input text was not in valid UTF-8 character encoding. Check your text then retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p> The size of the text you submitted exceeds the size limit. Reduce the size of the text or use a smaller document and then retry your request. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DetectPHIRequest",
        "variableName" : "detectPHIRequest",
        "variableType" : "DetectPHIRequest",
        "documentation" : "",
        "simpleType" : "DetectPHIRequest",
        "variableSetterType" : "DetectPHIRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectPHI",
      "operationName" : "DetectPHI",
      "returnType" : {
        "returnType" : "DetectPHIResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectPHIResult"
    }
  },
  "shapes" : {
    "Attribute" : {
      "c2jName" : "Attribute",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> An extracted segment of the text that is an attribute of an entity, or otherwise related to an entity, such as the dosage of a medication taken. It contains information about the attribute such as id, begin and end offset within the input text, and the segment of the input text. </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Type",
        "c2jShape" : "EntitySubType",
        "deprecated" : false,
        "documentation" : "<p> The type of attribute. </p>",
        "enumType" : "EntitySubType",
        "fluentSetterDocumentation" : "/**<p> The type of attribute. </p>\n@param type The type of attribute.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EntitySubType*/",
        "fluentSetterMethodName" : "withType",
        "getterDocumentation" : "/**<p> The type of attribute. </p>\n@return The type of attribute.\n@see EntitySubType*/",
        "getterMethodName" : "getType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Type",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Type",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The type of attribute. </p>\n@param type The type of attribute.\n@see EntitySubType*/",
        "setterMethodName" : "setType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The type of attribute. </p>\n@param type The type of attribute.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EntitySubType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "<p> The type of attribute. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Score",
        "c2jShape" : "Float",
        "deprecated" : false,
        "documentation" : "<p> The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute. </p>\n@param score The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withScore",
        "getterDocumentation" : "/**<p> The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute. </p>\n@return The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute.*/",
        "getterMethodName" : "getScore",
        "getterModel" : {
          "returnType" : "Float",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Score",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Score",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Float",
        "marshallingType" : "FLOAT",
        "name" : "Score",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute. </p>\n@param score The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute.*/",
        "setterMethodName" : "setScore",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Float",
          "variableName" : "score",
          "variableType" : "Float",
          "documentation" : "",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute. </p>\n@param score The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Float",
          "variableName" : "score",
          "variableType" : "Float",
          "documentation" : "<p> The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute. </p>",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RelationshipScore",
        "c2jShape" : "Float",
        "deprecated" : false,
        "documentation" : "<p> The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity. </p>\n@param relationshipScore The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRelationshipScore",
        "getterDocumentation" : "/**<p> The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity. </p>\n@return The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity.*/",
        "getterMethodName" : "getRelationshipScore",
        "getterModel" : {
          "returnType" : "Float",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RelationshipScore",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RelationshipScore",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Float",
        "marshallingType" : "FLOAT",
        "name" : "RelationshipScore",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity. </p>\n@param relationshipScore The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity.*/",
        "setterMethodName" : "setRelationshipScore",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Float",
          "variableName" : "relationshipScore",
          "variableType" : "Float",
          "documentation" : "",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity. </p>\n@param relationshipScore The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Float",
          "variableName" : "relationshipScore",
          "variableType" : "Float",
          "documentation" : "<p> The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity. </p>",
          "simpleType" : "Float",
          "variableSetterType" : "Float"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Id",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>\n@param id The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>\n@return The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Id",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>\n@param id The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "id",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>\n@param id The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "id",
          "variableType" : "Integer",
          "documentation" : "<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BeginOffset",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>\n@param beginOffset The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBeginOffset",
        "getterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>\n@return The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string.*/",
        "getterMethodName" : "getBeginOffset",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BeginOffset",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BeginOffset",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "BeginOffset",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>\n@param beginOffset The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string.*/",
        "setterMethodName" : "setBeginOffset",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "beginOffset",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>\n@param beginOffset The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "beginOffset",
          "variableType" : "Integer",
          "documentation" : "<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EndOffset",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string. </p>\n@param endOffset The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEndOffset",
        "getterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string. </p>\n@return The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.*/",
        "getterMethodName" : "getEndOffset",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EndOffset",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EndOffset",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "EndOffset",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string. </p>\n@param endOffset The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.*/",
        "setterMethodName" : "setEndOffset",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "endOffset",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string. </p>\n@param endOffset The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "endOffset",
          "variableType" : "Integer",
          "documentation" : "<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string. </p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Text",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p> The segment of input text extracted as this attribute.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The segment of input text extracted as this attribute.</p>\n@param text The segment of input text extracted as this attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withText",
        "getterDocumentation" : "/**<p> The segment of input text extracted as this attribute.</p>\n@return The segment of input text extracted as this attribute.*/",
        "getterMethodName" : "getText",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Text",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Text",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Text",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The segment of input text extracted as this attribute.</p>\n@param text The segment of input text extracted as this attribute.*/",
        "setterMethodName" : "setText",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "text",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The segment of input text extracted as this attribute.</p>\n@param text The segment of input text extracted as this attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "text",
          "variableType" : "String",
          "documentation" : "<p> The segment of input text extracted as this attribute.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Traits",
        "c2jShape" : "TraitList",
        "deprecated" : false,
        "documentation" : "<p> Contextual information for this attribute. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Contextual information for this attribute. </p>\n@param traits Contextual information for this attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTraits",
        "getterDocumentation" : "/**<p> Contextual information for this attribute. </p>\n@return Contextual information for this attribute.*/",
        "getterMethodName" : "getTraits",
        "getterModel" : {
          "returnType" : "java.util.List<Trait>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Traits",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Traits",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Trait",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Trait",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Trait",
              "variableName" : "member",
              "variableType" : "Trait",
              "documentation" : "",
              "simpleType" : "Trait",
              "variableSetterType" : "Trait"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Trait",
              "variableName" : "member",
              "variableType" : "Trait",
              "documentation" : "",
              "simpleType" : "Trait",
              "variableSetterType" : "Trait"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Trait",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Trait",
          "templateImplType" : "java.util.ArrayList<Trait>",
          "templateType" : "java.util.List<Trait>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Traits",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Contextual information for this attribute. </p>\n@param traits Contextual information for this attribute.*/",
        "setterMethodName" : "setTraits",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Trait>",
          "variableName" : "traits",
          "variableType" : "java.util.List<Trait>",
          "documentation" : "",
          "simpleType" : "List<Trait>",
          "variableSetterType" : "java.util.Collection<Trait>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Contextual information for this attribute. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTraits(java.util.Collection)} or {@link #withTraits(java.util.Collection)} if you want to override the existing values.</p>\n@param traits Contextual information for this attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Trait>",
          "variableName" : "traits",
          "variableType" : "java.util.List<Trait>",
          "documentation" : "<p> Contextual information for this attribute. </p>",
          "simpleType" : "List<Trait>",
          "variableSetterType" : "java.util.Collection<Trait>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BeginOffset" : {
          "c2jName" : "BeginOffset",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>\n@param beginOffset The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBeginOffset",
          "getterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>\n@return The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string.*/",
          "getterMethodName" : "getBeginOffset",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BeginOffset",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BeginOffset",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "BeginOffset",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>\n@param beginOffset The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string.*/",
          "setterMethodName" : "setBeginOffset",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "beginOffset",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>\n@param beginOffset The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "beginOffset",
            "variableType" : "Integer",
            "documentation" : "<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "EndOffset" : {
          "c2jName" : "EndOffset",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string. </p>\n@param endOffset The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEndOffset",
          "getterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string. </p>\n@return The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.*/",
          "getterMethodName" : "getEndOffset",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "EndOffset",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EndOffset",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "EndOffset",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string. </p>\n@param endOffset The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.*/",
          "setterMethodName" : "setEndOffset",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "endOffset",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string. </p>\n@param endOffset The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "endOffset",
            "variableType" : "Integer",
            "documentation" : "<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string. </p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "Id" : {
          "c2jName" : "Id",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>\n@param id The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withId",
          "getterDocumentation" : "/**<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>\n@return The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier.*/",
          "getterMethodName" : "getId",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Id",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Id",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "Id",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>\n@param id The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier.*/",
          "setterMethodName" : "setId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "id",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>\n@param id The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "id",
            "variableType" : "Integer",
            "documentation" : "<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "RelationshipScore" : {
          "c2jName" : "RelationshipScore",
          "c2jShape" : "Float",
          "deprecated" : false,
          "documentation" : "<p> The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity. </p>\n@param relationshipScore The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRelationshipScore",
          "getterDocumentation" : "/**<p> The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity. </p>\n@return The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity.*/",
          "getterMethodName" : "getRelationshipScore",
          "getterModel" : {
            "returnType" : "Float",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RelationshipScore",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RelationshipScore",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Float",
          "marshallingType" : "FLOAT",
          "name" : "RelationshipScore",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity. </p>\n@param relationshipScore The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity.*/",
          "setterMethodName" : "setRelationshipScore",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Float",
            "variableName" : "relationshipScore",
            "variableType" : "Float",
            "documentation" : "",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity. </p>\n@param relationshipScore The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Float",
            "variableName" : "relationshipScore",
            "variableType" : "Float",
            "documentation" : "<p> The level of confidence that Comprehend Medical has that this attribute is correctly related to this entity. </p>",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "xmlNameSpaceUri" : null
        },
        "Score" : {
          "c2jName" : "Score",
          "c2jShape" : "Float",
          "deprecated" : false,
          "documentation" : "<p> The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute. </p>\n@param score The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withScore",
          "getterDocumentation" : "/**<p> The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute. </p>\n@return The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute.*/",
          "getterMethodName" : "getScore",
          "getterModel" : {
            "returnType" : "Float",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Score",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Score",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Float",
          "marshallingType" : "FLOAT",
          "name" : "Score",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute. </p>\n@param score The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute.*/",
          "setterMethodName" : "setScore",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Float",
            "variableName" : "score",
            "variableType" : "Float",
            "documentation" : "",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute. </p>\n@param score The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Float",
            "variableName" : "score",
            "variableType" : "Float",
            "documentation" : "<p> The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute. </p>",
            "simpleType" : "Float",
            "variableSetterType" : "Float"
          },
          "xmlNameSpaceUri" : null
        },
        "Text" : {
          "c2jName" : "Text",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p> The segment of input text extracted as this attribute.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The segment of input text extracted as this attribute.</p>\n@param text The segment of input text extracted as this attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withText",
          "getterDocumentation" : "/**<p> The segment of input text extracted as this attribute.</p>\n@return The segment of input text extracted as this attribute.*/",
          "getterMethodName" : "getText",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Text",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Text",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Text",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The segment of input text extracted as this attribute.</p>\n@param text The segment of input text extracted as this attribute.*/",
          "setterMethodName" : "setText",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "text",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The segment of input text extracted as this attribute.</p>\n@param text The segment of input text extracted as this attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "text",
            "variableType" : "String",
            "documentation" : "<p> The segment of input text extracted as this attribute.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Traits" : {
          "c2jName" : "Traits",
          "c2jShape" : "TraitList",
          "deprecated" : false,
          "documentation" : "<p> Contextual information for this attribute. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> Contextual information for this attribute. </p>\n@param traits Contextual information for this attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTraits",
          "getterDocumentation" : "/**<p> Contextual information for this attribute. </p>\n@return Contextual information for this attribute.*/",
          "getterMethodName" : "getTraits",
          "getterModel" : {
            "returnType" : "java.util.List<Trait>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Traits",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Traits",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Trait",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Trait",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Trait",
                "variableName" : "member",
                "variableType" : "Trait",
                "documentation" : "",
                "simpleType" : "Trait",
                "variableSetterType" : "Trait"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Trait",
                "variableName" : "member",
                "variableType" : "Trait",
                "documentation" : "",
                "simpleType" : "Trait",
                "variableSetterType" : "Trait"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Trait",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Trait",
            "templateImplType" : "java.util.ArrayList<Trait>",
            "templateType" : "java.util.List<Trait>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Traits",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> Contextual information for this attribute. </p>\n@param traits Contextual information for this attribute.*/",
          "setterMethodName" : "setTraits",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Trait>",
            "variableName" : "traits",
            "variableType" : "java.util.List<Trait>",
            "documentation" : "",
            "simpleType" : "List<Trait>",
            "variableSetterType" : "java.util.Collection<Trait>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> Contextual information for this attribute. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTraits(java.util.Collection)} or {@link #withTraits(java.util.Collection)} if you want to override the existing values.</p>\n@param traits Contextual information for this attribute.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Trait>",
            "variableName" : "traits",
            "variableType" : "java.util.List<Trait>",
            "documentation" : "<p> Contextual information for this attribute. </p>",
            "simpleType" : "List<Trait>",
            "variableSetterType" : "java.util.Collection<Trait>"
          },
          "xmlNameSpaceUri" : null
        },
        "Type" : {
          "c2jName" : "Type",
          "c2jShape" : "EntitySubType",
          "deprecated" : false,
          "documentation" : "<p> The type of attribute. </p>",
          "enumType" : "EntitySubType",
          "fluentSetterDocumentation" : "/**<p> The type of attribute. </p>\n@param type The type of attribute.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EntitySubType*/",
          "fluentSetterMethodName" : "withType",
          "getterDocumentation" : "/**<p> The type of attribute. </p>\n@return The type of attribute.\n@see EntitySubType*/",
          "getterMethodName" : "getType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Type",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Type",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Type",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The type of attribute. </p>\n@param type The type of attribute.\n@see EntitySubType*/",
          "setterMethodName" : "setType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The type of attribute. </p>\n@param type The type of attribute.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EntitySubType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "<p> The type of attribute. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Attribute",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Attribute",
        "variableName" : "attribute",
        "variableType" : "Attribute",
        "documentation" : null,
        "simpleType" : "Attribute",
        "variableSetterType" : "Attribute"
      },
      "wrapper" : false
    },
    "AttributeName" : {
      "c2jName" : "AttributeName",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "SIGN",
        "value" : "SIGN"
      }, {
        "name" : "SYMPTOM",
        "value" : "SYMPTOM"
      }, {
        "name" : "DIAGNOSIS",
        "value" : "DIAGNOSIS"
      }, {
        "name" : "NEGATION",
        "value" : "NEGATION"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AttributeName",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AttributeName",
        "variableName" : "attributeName",
        "variableType" : "AttributeName",
        "documentation" : null,
        "simpleType" : "AttributeName",
        "variableSetterType" : "AttributeName"
      },
      "wrapper" : false
    },
    "DetectEntitiesRequest" : {
      "c2jName" : "DetectEntitiesRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DetectEntities",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "ComprehendMedical_20181030.DetectEntities",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Text",
        "c2jShape" : "BoundedLengthString",
        "deprecated" : false,
        "documentation" : "<p> A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.</p>\n@param text A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withText",
        "getterDocumentation" : "/**<p> A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.</p>\n@return A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.*/",
        "getterMethodName" : "getText",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Text",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Text",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Text",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.</p>\n@param text A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.*/",
        "setterMethodName" : "setText",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "text",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.</p>\n@param text A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "text",
          "variableType" : "String",
          "documentation" : "<p> A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Text" : {
          "c2jName" : "Text",
          "c2jShape" : "BoundedLengthString",
          "deprecated" : false,
          "documentation" : "<p> A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.</p>\n@param text A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withText",
          "getterDocumentation" : "/**<p> A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.</p>\n@return A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.*/",
          "getterMethodName" : "getText",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Text",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Text",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Text",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.</p>\n@param text A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.*/",
          "setterMethodName" : "setText",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "text",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.</p>\n@param text A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "text",
            "variableType" : "String",
            "documentation" : "<p> A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Text" ],
      "shapeName" : "DetectEntitiesRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DetectEntitiesRequest",
        "variableName" : "detectEntitiesRequest",
        "variableType" : "DetectEntitiesRequest",
        "documentation" : null,
        "simpleType" : "DetectEntitiesRequest",
        "variableSetterType" : "DetectEntitiesRequest"
      },
      "wrapper" : false
    },
    "DetectEntitiesResult" : {
      "c2jName" : "DetectEntitiesResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Entities",
        "c2jShape" : "EntityList",
        "deprecated" : false,
        "documentation" : "<p> The collection of medical entities extracted from the input text and their associated information. For each entity, the response provides the entity text, the entity category, where the entity text begins and ends, and the level of confidence that Comprehend Medical has in the detection and analysis. Attributes and traits of the entity are also returned.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The collection of medical entities extracted from the input text and their associated information. For each entity, the response provides the entity text, the entity category, where the entity text begins and ends, and the level of confidence that Comprehend Medical has in the detection and analysis. Attributes and traits of the entity are also returned.</p>\n@param entities The collection of medical entities extracted from the input text and their associated information. For each entity, the response provides the entity text, the entity category, where the entity text begins and ends, and the level of confidence that Comprehend Medical has in the detection and analysis. Attributes and traits of the entity are also returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEntities",
        "getterDocumentation" : "/**<p> The collection of medical entities extracted from the input text and their associated information. For each entity, the response provides the entity text, the entity category, where the entity text begins and ends, and the level of confidence that Comprehend Medical has in the detection and analysis. Attributes and traits of the entity are also returned.</p>\n@return The collection of medical entities extracted from the input text and their associated information. For each entity, the response provides the entity text, the entity category, where the entity text begins and ends, and the level of confidence that Comprehend Medical has in the detection and analysis. Attributes and traits of the entity are also returned.*/",
        "getterMethodName" : "getEntities",
        "getterModel" : {
          "returnType" : "java.util.List<Entity>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Entities",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Entities",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Entity",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Entity",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Entity",
              "variableName" : "member",
              "variableType" : "Entity",
              "documentation" : "",
              "simpleType" : "Entity",
              "variableSetterType" : "Entity"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Entity",
              "variableName" : "member",
              "variableType" : "Entity",
              "documentation" : "",
              "simpleType" : "Entity",
              "variableSetterType" : "Entity"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Entity",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Entity",
          "templateImplType" : "java.util.ArrayList<Entity>",
          "templateType" : "java.util.List<Entity>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Entities",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The collection of medical entities extracted from the input text and their associated information. For each entity, the response provides the entity text, the entity category, where the entity text begins and ends, and the level of confidence that Comprehend Medical has in the detection and analysis. Attributes and traits of the entity are also returned.</p>\n@param entities The collection of medical entities extracted from the input text and their associated information. For each entity, the response provides the entity text, the entity category, where the entity text begins and ends, and the level of confidence that Comprehend Medical has in the detection and analysis. Attributes and traits of the entity are also returned.*/",
        "setterMethodName" : "setEntities",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Entity>",
          "variableName" : "entities",
          "variableType" : "java.util.List<Entity>",
          "documentation" : "",
          "simpleType" : "List<Entity>",
          "variableSetterType" : "java.util.Collection<Entity>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The collection of medical entities extracted from the input text and their associated information. For each entity, the response provides the entity text, the entity category, where the entity text begins and ends, and the level of confidence that Comprehend Medical has in the detection and analysis. Attributes and traits of the entity are also returned.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setEntities(java.util.Collection)} or {@link #withEntities(java.util.Collection)} if you want to override the existing values.</p>\n@param entities The collection of medical entities extracted from the input text and their associated information. For each entity, the response provides the entity text, the entity category, where the entity text begins and ends, and the level of confidence that Comprehend Medical has in the detection and analysis. Attributes and traits of the entity are also returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Entity>",
          "variableName" : "entities",
          "variableType" : "java.util.List<Entity>",
          "documentation" : "<p> The collection of medical entities extracted from the input text and their associated information. For each entity, the response provides the entity text, the entity category, where the entity text begins and ends, and the level of confidence that Comprehend Medical has in the detection and analysis. Attributes and traits of the entity are also returned.</p>",
          "simpleType" : "List<Entity>",
          "variableSetterType" : "java.util.Collection<Entity>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "UnmappedAttributes",
        "c2jShape" : "UnmappedAttributeList",
        "deprecated" : false,
        "documentation" : "<p> Attributes extracted from the input text that we were unable to relate to an entity.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Attributes extracted from the input text that we were unable to relate to an entity.</p>\n@param unmappedAttributes Attributes extracted from the input text that we were unable to relate to an entity.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUnmappedAttributes",
        "getterDocumentation" : "/**<p> Attributes extracted from the input text that we were unable to relate to an entity.</p>\n@return Attributes extracted from the input text that we were unable to relate to an entity.*/",
        "getterMethodName" : "getUnmappedAttributes",
        "getterModel" : {
          "returnType" : "java.util.List<UnmappedAttribute>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "UnmappedAttributes",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "UnmappedAttributes",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "UnmappedAttribute",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "UnmappedAttribute",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "UnmappedAttribute",
[...]
