{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-11-27",
    "asyncClient" : "AmazonComprehendAsyncClient",
    "asyncClientBuilderClassName" : "AmazonComprehendAsyncClientBuilder",
    "asyncInterface" : "AmazonComprehendAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonComprehendModuleInjector",
    "defaultEndpoint" : "comprehend.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "comprehend.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Comprehend is an AWS service for gaining insight into the content of documents. Use these actions to determine the topics contained in your documents, the topics they discuss, the predominant sentiment expressed in them, the predominant language used, and more.</p>",
    "endpointPrefix" : "comprehend",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.comprehend",
    "packagePath" : "com/amazonaws/services/comprehend",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Comprehend",
    "serviceId" : "Comprehend",
    "serviceName" : "Amazon Comprehend",
    "signingName" : "comprehend",
    "smokeTestsPackageName" : "com.amazonaws.services.comprehend.smoketests",
    "syncClient" : "AmazonComprehendClient",
    "syncClientBuilderClassName" : "AmazonComprehendClientBuilder",
    "syncInterface" : "AmazonComprehend",
    "uid" : "comprehend-2017-11-27",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchDetectDominantLanguage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDetectDominantLanguageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDetectDominantLanguageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDetectDominantLanguageRequest, BatchDetectDominantLanguageResult>",
      "asyncReturnType" : "BatchDetectDominantLanguageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Determines the dominant language of the input text for a batch of documents. For a list of languages that Amazon Comprehend can detect, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BatchSizeLimitExceededException",
        "documentation" : "<p>The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDetectDominantLanguageRequest",
        "variableName" : "batchDetectDominantLanguageRequest",
        "variableType" : "BatchDetectDominantLanguageRequest",
        "documentation" : "",
        "simpleType" : "BatchDetectDominantLanguageRequest",
        "variableSetterType" : "BatchDetectDominantLanguageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDetectDominantLanguage",
      "operationName" : "BatchDetectDominantLanguage",
      "returnType" : {
        "returnType" : "BatchDetectDominantLanguageResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDetectDominantLanguageResult"
    },
    "BatchDetectEntities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDetectEntitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDetectEntitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDetectEntitiesRequest, BatchDetectEntitiesResult>",
      "asyncReturnType" : "BatchDetectEntitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Inspects the text of a batch of documents for named entities and returns information about them. For more information about named entities, see <a>how-entities</a> </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all custom entity recognition APIs (such as <code>CreateEntityRecognizer</code>), only English is accepted. For most other APIs, Amazon Comprehend accepts only English or Spanish text. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BatchSizeLimitExceededException",
        "documentation" : "<p>The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDetectEntitiesRequest",
        "variableName" : "batchDetectEntitiesRequest",
        "variableType" : "BatchDetectEntitiesRequest",
        "documentation" : "",
        "simpleType" : "BatchDetectEntitiesRequest",
        "variableSetterType" : "BatchDetectEntitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDetectEntities",
      "operationName" : "BatchDetectEntities",
      "returnType" : {
        "returnType" : "BatchDetectEntitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDetectEntitiesResult"
    },
    "BatchDetectKeyPhrases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDetectKeyPhrasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDetectKeyPhrasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDetectKeyPhrasesRequest, BatchDetectKeyPhrasesResult>",
      "asyncReturnType" : "BatchDetectKeyPhrasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Detects the key noun phrases found in a batch of documents.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all custom entity recognition APIs (such as <code>CreateEntityRecognizer</code>), only English is accepted. For most other APIs, Amazon Comprehend accepts only English or Spanish text. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BatchSizeLimitExceededException",
        "documentation" : "<p>The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDetectKeyPhrasesRequest",
        "variableName" : "batchDetectKeyPhrasesRequest",
        "variableType" : "BatchDetectKeyPhrasesRequest",
        "documentation" : "",
        "simpleType" : "BatchDetectKeyPhrasesRequest",
        "variableSetterType" : "BatchDetectKeyPhrasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDetectKeyPhrases",
      "operationName" : "BatchDetectKeyPhrases",
      "returnType" : {
        "returnType" : "BatchDetectKeyPhrasesResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDetectKeyPhrasesResult"
    },
    "BatchDetectSentiment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDetectSentimentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDetectSentimentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDetectSentimentRequest, BatchDetectSentimentResult>",
      "asyncReturnType" : "BatchDetectSentimentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Inspects a batch of documents and returns an inference of the prevailing sentiment, <code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>, in each one.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all custom entity recognition APIs (such as <code>CreateEntityRecognizer</code>), only English is accepted. For most other APIs, Amazon Comprehend accepts only English or Spanish text. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BatchSizeLimitExceededException",
        "documentation" : "<p>The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDetectSentimentRequest",
        "variableName" : "batchDetectSentimentRequest",
        "variableType" : "BatchDetectSentimentRequest",
        "documentation" : "",
        "simpleType" : "BatchDetectSentimentRequest",
        "variableSetterType" : "BatchDetectSentimentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDetectSentiment",
      "operationName" : "BatchDetectSentiment",
      "returnType" : {
        "returnType" : "BatchDetectSentimentResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDetectSentimentResult"
    },
    "BatchDetectSyntax" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDetectSyntaxResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDetectSyntaxResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDetectSyntaxRequest, BatchDetectSyntaxResult>",
      "asyncReturnType" : "BatchDetectSyntaxResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Inspects the text of a batch of documents for the syntax and part of speech of the words in the document and returns information about them. For more information, see <a>how-syntax</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all custom entity recognition APIs (such as <code>CreateEntityRecognizer</code>), only English is accepted. For most other APIs, Amazon Comprehend accepts only English or Spanish text. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BatchSizeLimitExceededException",
        "documentation" : "<p>The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDetectSyntaxRequest",
        "variableName" : "batchDetectSyntaxRequest",
        "variableType" : "BatchDetectSyntaxRequest",
        "documentation" : "",
        "simpleType" : "BatchDetectSyntaxRequest",
        "variableSetterType" : "BatchDetectSyntaxRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDetectSyntax",
      "operationName" : "BatchDetectSyntax",
      "returnType" : {
        "returnType" : "BatchDetectSyntaxResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDetectSyntaxResult"
    },
    "CreateDocumentClassifier" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDocumentClassifierResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDocumentClassifierResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDocumentClassifierRequest, CreateDocumentClassifierResult>",
      "asyncReturnType" : "CreateDocumentClassifierResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new document classifier that you can use to categorize documents. To create a classifier you provide a set of training documents that labeled with the categories that you want to use. After the classifier is trained you can use it to categorize a set of labeled documents into the categories. For more information, see <a>how-document-classification</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified name is already in use. Use a different name and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The request contains more tags than can be associated with a resource (50 tags per resource). The maximum number of tags includes both existing tags and those included in your current request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The maximum number of recognizers per account has been exceeded. Review the recognizers, perform cleanup, and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all custom entity recognition APIs (such as <code>CreateEntityRecognizer</code>), only English is accepted. For most other APIs, Amazon Comprehend accepts only English or Spanish text. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KmsKeyValidationException",
        "documentation" : "<p>The KMS customer managed key (CMK) entered cannot be validated. Verify the key and re-enter it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDocumentClassifierRequest",
        "variableName" : "createDocumentClassifierRequest",
        "variableType" : "CreateDocumentClassifierRequest",
        "documentation" : "",
        "simpleType" : "CreateDocumentClassifierRequest",
        "variableSetterType" : "CreateDocumentClassifierRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDocumentClassifier",
      "operationName" : "CreateDocumentClassifier",
      "returnType" : {
        "returnType" : "CreateDocumentClassifierResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDocumentClassifierResult"
    },
    "CreateEntityRecognizer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEntityRecognizerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEntityRecognizerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEntityRecognizerRequest, CreateEntityRecognizerResult>",
      "asyncReturnType" : "CreateEntityRecognizerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an entity recognizer using submitted files. After your <code>CreateEntityRecognizer</code> request is submitted, you can check job status using the API. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified name is already in use. Use a different name and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The request contains more tags than can be associated with a resource (50 tags per resource). The maximum number of tags includes both existing tags and those included in your current request. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The maximum number of recognizers per account has been exceeded. Review the recognizers, perform cleanup, and then try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all custom entity recognition APIs (such as <code>CreateEntityRecognizer</code>), only English is accepted. For most other APIs, Amazon Comprehend accepts only English or Spanish text. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KmsKeyValidationException",
        "documentation" : "<p>The KMS customer managed key (CMK) entered cannot be validated. Verify the key and re-enter it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEntityRecognizerRequest",
        "variableName" : "createEntityRecognizerRequest",
        "variableType" : "CreateEntityRecognizerRequest",
        "documentation" : "",
        "simpleType" : "CreateEntityRecognizerRequest",
        "variableSetterType" : "CreateEntityRecognizerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEntityRecognizer",
      "operationName" : "CreateEntityRecognizer",
      "returnType" : {
        "returnType" : "CreateEntityRecognizerResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateEntityRecognizerResult"
    },
    "DeleteDocumentClassifier" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDocumentClassifierResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDocumentClassifierResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDocumentClassifierRequest, DeleteDocumentClassifierResult>",
      "asyncReturnType" : "DeleteDocumentClassifierResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a previously created document classifier</p> <p>Only those classifiers that are in terminated states (IN_ERROR, TRAINED) will be deleted. If an active inference job is using the model, a <code>ResourceInUseException</code> will be returned.</p> <p>This is an asynchronous action that puts the classifier into a DELETING state, and it is then removed by a background job. Once removed, the classifier disappears from your account and is no longer available for use. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>The specified resource is not available. Check to see if the resource is in the <code>TRAINED</code> state and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified name is already in use. Use a different name and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDocumentClassifierRequest",
        "variableName" : "deleteDocumentClassifierRequest",
        "variableType" : "DeleteDocumentClassifierRequest",
        "documentation" : "",
        "simpleType" : "DeleteDocumentClassifierRequest",
        "variableSetterType" : "DeleteDocumentClassifierRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDocumentClassifier",
      "operationName" : "DeleteDocumentClassifier",
      "returnType" : {
        "returnType" : "DeleteDocumentClassifierResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDocumentClassifierResult"
    },
    "DeleteEntityRecognizer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEntityRecognizerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEntityRecognizerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEntityRecognizerRequest, DeleteEntityRecognizerResult>",
      "asyncReturnType" : "DeleteEntityRecognizerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an entity recognizer.</p> <p>Only those recognizers that are in terminated states (IN_ERROR, TRAINED) will be deleted. If an active inference job is using the model, a <code>ResourceInUseException</code> will be returned.</p> <p>This is an asynchronous action that puts the recognizer into a DELETING state, and it is then removed by a background job. Once removed, the recognizer disappears from your account and is no longer available for use. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>The specified resource is not available. Check to see if the resource is in the <code>TRAINED</code> state and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified name is already in use. Use a different name and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEntityRecognizerRequest",
        "variableName" : "deleteEntityRecognizerRequest",
        "variableType" : "DeleteEntityRecognizerRequest",
        "documentation" : "",
        "simpleType" : "DeleteEntityRecognizerRequest",
        "variableSetterType" : "DeleteEntityRecognizerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEntityRecognizer",
      "operationName" : "DeleteEntityRecognizer",
      "returnType" : {
        "returnType" : "DeleteEntityRecognizerResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEntityRecognizerResult"
    },
    "DescribeDocumentClassificationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDocumentClassificationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDocumentClassificationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDocumentClassificationJobRequest, DescribeDocumentClassificationJobResult>",
      "asyncReturnType" : "DescribeDocumentClassificationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the properties associated with a document classification job. Use this operation to get the status of a classification job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was not found. Check the job ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDocumentClassificationJobRequest",
        "variableName" : "describeDocumentClassificationJobRequest",
        "variableType" : "DescribeDocumentClassificationJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeDocumentClassificationJobRequest",
        "variableSetterType" : "DescribeDocumentClassificationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDocumentClassificationJob",
      "operationName" : "DescribeDocumentClassificationJob",
      "returnType" : {
        "returnType" : "DescribeDocumentClassificationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDocumentClassificationJobResult"
    },
    "DescribeDocumentClassifier" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDocumentClassifierResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDocumentClassifierResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDocumentClassifierRequest, DescribeDocumentClassifierResult>",
      "asyncReturnType" : "DescribeDocumentClassifierResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the properties associated with a document classifier.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDocumentClassifierRequest",
        "variableName" : "describeDocumentClassifierRequest",
        "variableType" : "DescribeDocumentClassifierRequest",
        "documentation" : "",
        "simpleType" : "DescribeDocumentClassifierRequest",
        "variableSetterType" : "DescribeDocumentClassifierRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDocumentClassifier",
      "operationName" : "DescribeDocumentClassifier",
      "returnType" : {
        "returnType" : "DescribeDocumentClassifierResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDocumentClassifierResult"
    },
    "DescribeDominantLanguageDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDominantLanguageDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDominantLanguageDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDominantLanguageDetectionJobRequest, DescribeDominantLanguageDetectionJobResult>",
      "asyncReturnType" : "DescribeDominantLanguageDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the properties associated with a dominant language detection job. Use this operation to get the status of a detection job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was not found. Check the job ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDominantLanguageDetectionJobRequest",
        "variableName" : "describeDominantLanguageDetectionJobRequest",
        "variableType" : "DescribeDominantLanguageDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeDominantLanguageDetectionJobRequest",
        "variableSetterType" : "DescribeDominantLanguageDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDominantLanguageDetectionJob",
      "operationName" : "DescribeDominantLanguageDetectionJob",
      "returnType" : {
        "returnType" : "DescribeDominantLanguageDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDominantLanguageDetectionJobResult"
    },
    "DescribeEntitiesDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEntitiesDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEntitiesDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEntitiesDetectionJobRequest, DescribeEntitiesDetectionJobResult>",
      "asyncReturnType" : "DescribeEntitiesDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the properties associated with an entities detection job. Use this operation to get the status of a detection job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was not found. Check the job ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEntitiesDetectionJobRequest",
        "variableName" : "describeEntitiesDetectionJobRequest",
        "variableType" : "DescribeEntitiesDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeEntitiesDetectionJobRequest",
        "variableSetterType" : "DescribeEntitiesDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEntitiesDetectionJob",
      "operationName" : "DescribeEntitiesDetectionJob",
      "returnType" : {
        "returnType" : "DescribeEntitiesDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEntitiesDetectionJobResult"
    },
    "DescribeEntityRecognizer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEntityRecognizerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEntityRecognizerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEntityRecognizerRequest, DescribeEntityRecognizerResult>",
      "asyncReturnType" : "DescribeEntityRecognizerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides details about an entity recognizer including status, S3 buckets containing training data, recognizer metadata, metrics, and so on.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEntityRecognizerRequest",
        "variableName" : "describeEntityRecognizerRequest",
        "variableType" : "DescribeEntityRecognizerRequest",
        "documentation" : "",
        "simpleType" : "DescribeEntityRecognizerRequest",
        "variableSetterType" : "DescribeEntityRecognizerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEntityRecognizer",
      "operationName" : "DescribeEntityRecognizer",
      "returnType" : {
        "returnType" : "DescribeEntityRecognizerResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEntityRecognizerResult"
    },
    "DescribeKeyPhrasesDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeKeyPhrasesDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeKeyPhrasesDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeKeyPhrasesDetectionJobRequest, DescribeKeyPhrasesDetectionJobResult>",
      "asyncReturnType" : "DescribeKeyPhrasesDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the properties associated with a key phrases detection job. Use this operation to get the status of a detection job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was not found. Check the job ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeKeyPhrasesDetectionJobRequest",
        "variableName" : "describeKeyPhrasesDetectionJobRequest",
        "variableType" : "DescribeKeyPhrasesDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeKeyPhrasesDetectionJobRequest",
        "variableSetterType" : "DescribeKeyPhrasesDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeKeyPhrasesDetectionJob",
      "operationName" : "DescribeKeyPhrasesDetectionJob",
      "returnType" : {
        "returnType" : "DescribeKeyPhrasesDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeKeyPhrasesDetectionJobResult"
    },
    "DescribeSentimentDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSentimentDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSentimentDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSentimentDetectionJobRequest, DescribeSentimentDetectionJobResult>",
      "asyncReturnType" : "DescribeSentimentDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the properties associated with a sentiment detection job. Use this operation to get the status of a detection job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was not found. Check the job ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSentimentDetectionJobRequest",
        "variableName" : "describeSentimentDetectionJobRequest",
        "variableType" : "DescribeSentimentDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeSentimentDetectionJobRequest",
        "variableSetterType" : "DescribeSentimentDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSentimentDetectionJob",
      "operationName" : "DescribeSentimentDetectionJob",
      "returnType" : {
        "returnType" : "DescribeSentimentDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSentimentDetectionJobResult"
    },
    "DescribeTopicsDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTopicsDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTopicsDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTopicsDetectionJobRequest, DescribeTopicsDetectionJobResult>",
      "asyncReturnType" : "DescribeTopicsDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the properties associated with a topic detection job. Use this operation to get the status of a detection job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was not found. Check the job ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTopicsDetectionJobRequest",
        "variableName" : "describeTopicsDetectionJobRequest",
        "variableType" : "DescribeTopicsDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeTopicsDetectionJobRequest",
        "variableSetterType" : "DescribeTopicsDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTopicsDetectionJob",
      "operationName" : "DescribeTopicsDetectionJob",
      "returnType" : {
        "returnType" : "DescribeTopicsDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeTopicsDetectionJobResult"
    },
    "DetectDominantLanguage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectDominantLanguageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectDominantLanguageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectDominantLanguageRequest, DetectDominantLanguageResult>",
      "asyncReturnType" : "DetectDominantLanguageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Determines the dominant language of the input text. For a list of languages that Amazon Comprehend can detect, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DetectDominantLanguageRequest",
        "variableName" : "detectDominantLanguageRequest",
        "variableType" : "DetectDominantLanguageRequest",
        "documentation" : "",
        "simpleType" : "DetectDominantLanguageRequest",
        "variableSetterType" : "DetectDominantLanguageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectDominantLanguage",
      "operationName" : "DetectDominantLanguage",
      "returnType" : {
        "returnType" : "DetectDominantLanguageResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectDominantLanguageResult"
    },
    "DetectEntities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectEntitiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectEntitiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectEntitiesRequest, DetectEntitiesResult>",
      "asyncReturnType" : "DetectEntitiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Inspects text for named entities, and returns information about them. For more information, about named entities, see <a>how-entities</a>. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all custom entity recognition APIs (such as <code>CreateEntityRecognizer</code>), only English is accepted. For most other APIs, Amazon Comprehend accepts only English or Spanish text. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DetectEntitiesRequest",
        "variableName" : "detectEntitiesRequest",
        "variableType" : "DetectEntitiesRequest",
        "documentation" : "",
        "simpleType" : "DetectEntitiesRequest",
        "variableSetterType" : "DetectEntitiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectEntities",
      "operationName" : "DetectEntities",
      "returnType" : {
        "returnType" : "DetectEntitiesResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectEntitiesResult"
    },
    "DetectKeyPhrases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectKeyPhrasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectKeyPhrasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectKeyPhrasesRequest, DetectKeyPhrasesResult>",
      "asyncReturnType" : "DetectKeyPhrasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Detects the key noun phrases found in the text. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all custom entity recognition APIs (such as <code>CreateEntityRecognizer</code>), only English is accepted. For most other APIs, Amazon Comprehend accepts only English or Spanish text. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DetectKeyPhrasesRequest",
        "variableName" : "detectKeyPhrasesRequest",
        "variableType" : "DetectKeyPhrasesRequest",
        "documentation" : "",
        "simpleType" : "DetectKeyPhrasesRequest",
        "variableSetterType" : "DetectKeyPhrasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectKeyPhrases",
      "operationName" : "DetectKeyPhrases",
      "returnType" : {
        "returnType" : "DetectKeyPhrasesResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectKeyPhrasesResult"
    },
    "DetectSentiment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectSentimentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectSentimentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectSentimentRequest, DetectSentimentResult>",
      "asyncReturnType" : "DetectSentimentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Inspects text and returns an inference of the prevailing sentiment (<code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>). </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all custom entity recognition APIs (such as <code>CreateEntityRecognizer</code>), only English is accepted. For most other APIs, Amazon Comprehend accepts only English or Spanish text. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DetectSentimentRequest",
        "variableName" : "detectSentimentRequest",
        "variableType" : "DetectSentimentRequest",
        "documentation" : "",
        "simpleType" : "DetectSentimentRequest",
        "variableSetterType" : "DetectSentimentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectSentiment",
      "operationName" : "DetectSentiment",
      "returnType" : {
        "returnType" : "DetectSentimentResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectSentimentResult"
    },
    "DetectSyntax" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetectSyntaxResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetectSyntaxResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetectSyntaxRequest, DetectSyntaxResult>",
      "asyncReturnType" : "DetectSyntaxResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Inspects text for syntax and the part of speech of words in the document. For more information, <a>how-syntax</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TextSizeLimitExceededException",
        "documentation" : "<p>The size of the input text exceeds the limit. Use a smaller document.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedLanguageException",
        "documentation" : "<p>Amazon Comprehend can't process the language of the input text. For all custom entity recognition APIs (such as <code>CreateEntityRecognizer</code>), only English is accepted. For most other APIs, Amazon Comprehend accepts only English or Spanish text. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DetectSyntaxRequest",
        "variableName" : "detectSyntaxRequest",
        "variableType" : "DetectSyntaxRequest",
        "documentation" : "",
        "simpleType" : "DetectSyntaxRequest",
        "variableSetterType" : "DetectSyntaxRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detectSyntax",
      "operationName" : "DetectSyntax",
      "returnType" : {
        "returnType" : "DetectSyntaxResult",
        "documentation" : null
      },
      "syncReturnType" : "DetectSyntaxResult"
    },
    "ListDocumentClassificationJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDocumentClassificationJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDocumentClassificationJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDocumentClassificationJobsRequest, ListDocumentClassificationJobsResult>",
      "asyncReturnType" : "ListDocumentClassificationJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of the documentation classification jobs that you have submitted.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidFilterException",
        "documentation" : "<p>The filter specified for the <code>ListDocumentClassificationJobs</code> operation is invalid. Specify a different filter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDocumentClassificationJobsRequest",
        "variableName" : "listDocumentClassificationJobsRequest",
        "variableType" : "ListDocumentClassificationJobsRequest",
        "documentation" : "",
        "simpleType" : "ListDocumentClassificationJobsRequest",
        "variableSetterType" : "ListDocumentClassificationJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDocumentClassificationJobs",
      "operationName" : "ListDocumentClassificationJobs",
      "returnType" : {
        "returnType" : "ListDocumentClassificationJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDocumentClassificationJobsResult"
    },
    "ListDocumentClassifiers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDocumentClassifiersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDocumentClassifiersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDocumentClassifiersRequest, ListDocumentClassifiersResult>",
      "asyncReturnType" : "ListDocumentClassifiersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of the document classifiers that you have created.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidFilterException",
        "documentation" : "<p>The filter specified for the <code>ListDocumentClassificationJobs</code> operation is invalid. Specify a different filter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDocumentClassifiersRequest",
        "variableName" : "listDocumentClassifiersRequest",
        "variableType" : "ListDocumentClassifiersRequest",
        "documentation" : "",
        "simpleType" : "ListDocumentClassifiersRequest",
        "variableSetterType" : "ListDocumentClassifiersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDocumentClassifiers",
      "operationName" : "ListDocumentClassifiers",
      "returnType" : {
        "returnType" : "ListDocumentClassifiersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDocumentClassifiersResult"
    },
    "ListDominantLanguageDetectionJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDominantLanguageDetectionJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDominantLanguageDetectionJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDominantLanguageDetectionJobsRequest, ListDominantLanguageDetectionJobsResult>",
      "asyncReturnType" : "ListDominantLanguageDetectionJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of the dominant language detection jobs that you have submitted.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidFilterException",
        "documentation" : "<p>The filter specified for the <code>ListDocumentClassificationJobs</code> operation is invalid. Specify a different filter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDominantLanguageDetectionJobsRequest",
        "variableName" : "listDominantLanguageDetectionJobsRequest",
        "variableType" : "ListDominantLanguageDetectionJobsRequest",
        "documentation" : "",
        "simpleType" : "ListDominantLanguageDetectionJobsRequest",
        "variableSetterType" : "ListDominantLanguageDetectionJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDominantLanguageDetectionJobs",
      "operationName" : "ListDominantLanguageDetectionJobs",
      "returnType" : {
        "returnType" : "ListDominantLanguageDetectionJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDominantLanguageDetectionJobsResult"
    },
    "ListEntitiesDetectionJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEntitiesDetectionJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEntitiesDetectionJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEntitiesDetectionJobsRequest, ListEntitiesDetectionJobsResult>",
      "asyncReturnType" : "ListEntitiesDetectionJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of the entity detection jobs that you have submitted.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidFilterException",
        "documentation" : "<p>The filter specified for the <code>ListDocumentClassificationJobs</code> operation is invalid. Specify a different filter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEntitiesDetectionJobsRequest",
        "variableName" : "listEntitiesDetectionJobsRequest",
        "variableType" : "ListEntitiesDetectionJobsRequest",
        "documentation" : "",
        "simpleType" : "ListEntitiesDetectionJobsRequest",
        "variableSetterType" : "ListEntitiesDetectionJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEntitiesDetectionJobs",
      "operationName" : "ListEntitiesDetectionJobs",
      "returnType" : {
        "returnType" : "ListEntitiesDetectionJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEntitiesDetectionJobsResult"
    },
    "ListEntityRecognizers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEntityRecognizersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEntityRecognizersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEntityRecognizersRequest, ListEntityRecognizersResult>",
      "asyncReturnType" : "ListEntityRecognizersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of the properties of all entity recognizers that you created, including recognizers currently in training. Allows you to filter the list of recognizers based on criteria such as status and submission time. This call returns up to 500 entity recognizers in the list, with a default number of 100 recognizers in the list.</p> <p>The results of this list are not in any particular order. Please get the list and sort locally if needed.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidFilterException",
        "documentation" : "<p>The filter specified for the <code>ListDocumentClassificationJobs</code> operation is invalid. Specify a different filter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEntityRecognizersRequest",
        "variableName" : "listEntityRecognizersRequest",
        "variableType" : "ListEntityRecognizersRequest",
        "documentation" : "",
        "simpleType" : "ListEntityRecognizersRequest",
        "variableSetterType" : "ListEntityRecognizersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEntityRecognizers",
      "operationName" : "ListEntityRecognizers",
      "returnType" : {
        "returnType" : "ListEntityRecognizersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEntityRecognizersResult"
    },
    "ListKeyPhrasesDetectionJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListKeyPhrasesDetectionJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListKeyPhrasesDetectionJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListKeyPhrasesDetectionJobsRequest, ListKeyPhrasesDetectionJobsResult>",
      "asyncReturnType" : "ListKeyPhrasesDetectionJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get a list of key phrase detection jobs that you have submitted.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidFilterException",
        "documentation" : "<p>The filter specified for the <code>ListDocumentClassificationJobs</code> operation is invalid. Specify a different filter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListKeyPhrasesDetectionJobsRequest",
        "variableName" : "listKeyPhrasesDetectionJobsRequest",
        "variableType" : "ListKeyPhrasesDetectionJobsRequest",
        "documentation" : "",
        "simpleType" : "ListKeyPhrasesDetectionJobsRequest",
        "variableSetterType" : "ListKeyPhrasesDetectionJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listKeyPhrasesDetectionJobs",
      "operationName" : "ListKeyPhrasesDetectionJobs",
      "returnType" : {
        "returnType" : "ListKeyPhrasesDetectionJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListKeyPhrasesDetectionJobsResult"
    },
    "ListSentimentDetectionJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSentimentDetectionJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSentimentDetectionJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSentimentDetectionJobsRequest, ListSentimentDetectionJobsResult>",
      "asyncReturnType" : "ListSentimentDetectionJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of sentiment detection jobs that you have submitted.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidFilterException",
        "documentation" : "<p>The filter specified for the <code>ListDocumentClassificationJobs</code> operation is invalid. Specify a different filter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSentimentDetectionJobsRequest",
        "variableName" : "listSentimentDetectionJobsRequest",
        "variableType" : "ListSentimentDetectionJobsRequest",
        "documentation" : "",
        "simpleType" : "ListSentimentDetectionJobsRequest",
        "variableSetterType" : "ListSentimentDetectionJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSentimentDetectionJobs",
      "operationName" : "ListSentimentDetectionJobs",
      "returnType" : {
        "returnType" : "ListSentimentDetectionJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSentimentDetectionJobsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all tags associated with a given Amazon Comprehend resource. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListTopicsDetectionJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTopicsDetectionJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTopicsDetectionJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTopicsDetectionJobsRequest, ListTopicsDetectionJobsResult>",
      "asyncReturnType" : "ListTopicsDetectionJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a list of the topic detection jobs that you have submitted.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidFilterException",
        "documentation" : "<p>The filter specified for the <code>ListDocumentClassificationJobs</code> operation is invalid. Specify a different filter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTopicsDetectionJobsRequest",
        "variableName" : "listTopicsDetectionJobsRequest",
        "variableType" : "ListTopicsDetectionJobsRequest",
        "documentation" : "",
        "simpleType" : "ListTopicsDetectionJobsRequest",
        "variableSetterType" : "ListTopicsDetectionJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTopicsDetectionJobs",
      "operationName" : "ListTopicsDetectionJobs",
      "returnType" : {
        "returnType" : "ListTopicsDetectionJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTopicsDetectionJobsResult"
    },
    "StartDocumentClassificationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartDocumentClassificationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartDocumentClassificationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartDocumentClassificationJobRequest, StartDocumentClassificationJobResult>",
      "asyncReturnType" : "StartDocumentClassificationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an asynchronous document classification job. Use the operation to track the progress of the job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>The specified resource is not available. Check to see if the resource is in the <code>TRAINED</code> state and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KmsKeyValidationException",
        "documentation" : "<p>The KMS customer managed key (CMK) entered cannot be validated. Verify the key and re-enter it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartDocumentClassificationJobRequest",
        "variableName" : "startDocumentClassificationJobRequest",
        "variableType" : "StartDocumentClassificationJobRequest",
        "documentation" : "",
        "simpleType" : "StartDocumentClassificationJobRequest",
        "variableSetterType" : "StartDocumentClassificationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startDocumentClassificationJob",
      "operationName" : "StartDocumentClassificationJob",
      "returnType" : {
        "returnType" : "StartDocumentClassificationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartDocumentClassificationJobResult"
    },
    "StartDominantLanguageDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartDominantLanguageDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartDominantLanguageDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartDominantLanguageDetectionJobRequest, StartDominantLanguageDetectionJobResult>",
      "asyncReturnType" : "StartDominantLanguageDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an asynchronous dominant language detection job for a collection of documents. Use the operation to track the status of a job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KmsKeyValidationException",
        "documentation" : "<p>The KMS customer managed key (CMK) entered cannot be validated. Verify the key and re-enter it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartDominantLanguageDetectionJobRequest",
        "variableName" : "startDominantLanguageDetectionJobRequest",
        "variableType" : "StartDominantLanguageDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "StartDominantLanguageDetectionJobRequest",
        "variableSetterType" : "StartDominantLanguageDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startDominantLanguageDetectionJob",
      "operationName" : "StartDominantLanguageDetectionJob",
      "returnType" : {
        "returnType" : "StartDominantLanguageDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartDominantLanguageDetectionJobResult"
    },
    "StartEntitiesDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartEntitiesDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartEntitiesDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartEntitiesDetectionJobRequest, StartEntitiesDetectionJobResult>",
      "asyncReturnType" : "StartEntitiesDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an asynchronous entity detection job for a collection of documents. Use the operation to track the status of a job.</p> <p>This API can be used for either standard entity detection or custom entity recognition. In order to be used for custom entity recognition, the optional <code>EntityRecognizerArn</code> must be used in order to provide access to the recognizer being used to detect the custom entity.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceUnavailableException",
        "documentation" : "<p>The specified resource is not available. Check to see if the resource is in the <code>TRAINED</code> state and try your request again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KmsKeyValidationException",
        "documentation" : "<p>The KMS customer managed key (CMK) entered cannot be validated. Verify the key and re-enter it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartEntitiesDetectionJobRequest",
        "variableName" : "startEntitiesDetectionJobRequest",
        "variableType" : "StartEntitiesDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "StartEntitiesDetectionJobRequest",
        "variableSetterType" : "StartEntitiesDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startEntitiesDetectionJob",
      "operationName" : "StartEntitiesDetectionJob",
      "returnType" : {
        "returnType" : "StartEntitiesDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartEntitiesDetectionJobResult"
    },
    "StartKeyPhrasesDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartKeyPhrasesDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartKeyPhrasesDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartKeyPhrasesDetectionJobRequest, StartKeyPhrasesDetectionJobResult>",
      "asyncReturnType" : "StartKeyPhrasesDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an asynchronous key phrase detection job for a collection of documents. Use the operation to track the status of a job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KmsKeyValidationException",
        "documentation" : "<p>The KMS customer managed key (CMK) entered cannot be validated. Verify the key and re-enter it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartKeyPhrasesDetectionJobRequest",
        "variableName" : "startKeyPhrasesDetectionJobRequest",
        "variableType" : "StartKeyPhrasesDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "StartKeyPhrasesDetectionJobRequest",
        "variableSetterType" : "StartKeyPhrasesDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startKeyPhrasesDetectionJob",
      "operationName" : "StartKeyPhrasesDetectionJob",
      "returnType" : {
        "returnType" : "StartKeyPhrasesDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartKeyPhrasesDetectionJobResult"
    },
    "StartSentimentDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartSentimentDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartSentimentDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartSentimentDetectionJobRequest, StartSentimentDetectionJobResult>",
      "asyncReturnType" : "StartSentimentDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an asynchronous sentiment detection job for a collection of documents. use the operation to track the status of a job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KmsKeyValidationException",
        "documentation" : "<p>The KMS customer managed key (CMK) entered cannot be validated. Verify the key and re-enter it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartSentimentDetectionJobRequest",
        "variableName" : "startSentimentDetectionJobRequest",
        "variableType" : "StartSentimentDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "StartSentimentDetectionJobRequest",
        "variableSetterType" : "StartSentimentDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startSentimentDetectionJob",
      "operationName" : "StartSentimentDetectionJob",
      "returnType" : {
        "returnType" : "StartSentimentDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartSentimentDetectionJobResult"
    },
    "StartTopicsDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartTopicsDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartTopicsDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartTopicsDetectionJobRequest, StartTopicsDetectionJobResult>",
      "asyncReturnType" : "StartTopicsDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an asynchronous topic detection job. Use the <code>DescribeTopicDetectionJob</code> operation to track the status of a job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KmsKeyValidationException",
        "documentation" : "<p>The KMS customer managed key (CMK) entered cannot be validated. Verify the key and re-enter it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartTopicsDetectionJobRequest",
        "variableName" : "startTopicsDetectionJobRequest",
        "variableType" : "StartTopicsDetectionJobRequest",
        "documentation" : "",
        "simpleType" : "StartTopicsDetectionJobRequest",
        "variableSetterType" : "StartTopicsDetectionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startTopicsDetectionJob",
      "operationName" : "StartTopicsDetectionJob",
      "returnType" : {
        "returnType" : "StartTopicsDetectionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartTopicsDetectionJobResult"
    },
    "StopDominantLanguageDetectionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopDominantLanguageDetectionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopDominantLanguageDetectionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopDominantLanguageDetectionJobRequest, StopDominantLanguageDetectionJobResult>",
      "asyncReturnType" : "StopDominantLanguageDetectionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops a dominant language detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "JobNotFoundException",
        "documentation" : "<p>The specified job was not found. Check the job ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopDominantLanguageDetectionJobRequest",
        "variableName" : "stopDominantLanguageDetectionJobRequest",
        "variableType" : "StopDominantLanguageDetectionJobRequest",
        "documentation" : "",
[...]
