{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "Compliance" : [ "ComplianceType" ],
      "ConfigExportDeliveryInfo" : [ "lastStatus" ],
      "ConfigRule" : [ "MaximumExecutionFrequency", "ConfigRuleState" ],
      "ConfigSnapshotDeliveryProperties" : [ "deliveryFrequency" ],
      "ConfigStreamDeliveryInfo" : [ "lastStatus" ],
      "ConfigurationItem" : [ "configurationItemStatus", "resourceType" ],
      "ConfigurationRecorderStatus" : [ "lastStatus" ],
      "Evaluation" : [ "ComplianceType" ],
      "EvaluationResult" : [ "ComplianceType" ],
      "GetResourceConfigHistoryRequest" : [ "resourceType", "chronologicalOrder" ],
      "ListDiscoveredResourcesRequest" : [ "resourceType" ],
      "Relationship" : [ "resourceType" ],
      "ResourceIdentifier" : [ "resourceType" ],
      "Source" : [ "Owner" ],
      "SourceDetail" : [ "EventSource", "MessageType", "MaximumExecutionFrequency" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeComplianceByConfigRule" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeComplianceByResource" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeConfigRuleEvaluationStatus" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeConfigRules" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeConfigurationRecorderStatus" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeConfigurationRecorders" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeDeliveryChannelStatus" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeDeliveryChannels" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "GetComplianceSummaryByConfigRule" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "GetComplianceSummaryByResourceType" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2014-11-12",
    "asyncClient" : "AmazonConfigAsyncClient",
    "asyncClientBuilderClassName" : "AmazonConfigAsyncClientBuilder",
    "asyncInterface" : "AmazonConfigAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonConfigModuleInjector",
    "defaultEndpoint" : "config.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "config.us-east-1.amazonaws.com/",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Config</fullname> <p>AWS Config provides a way to keep track of the configurations of all the AWS resources associated with your AWS account. You can use AWS Config to get the current and historical configurations of each AWS resource and also to get information about the relationship between the resources. An AWS resource can be an Amazon Compute Cloud (Amazon EC2) instance, an Elastic Block Store (EBS) volume, an Elastic network Interface (ENI), or a security group. For a complete list of resources currently supported by AWS Config, see <a href=\"http://docs.aws.amazon.com/config/latest/developerguide/resource-config-reference.html#supported-resources\">Supported AWS Resources</a>.</p> <p>You can access and manage AWS Config through the AWS Management Console, the AWS Command Line Interface (AWS CLI), the AWS Config API, or the AWS SDKs for AWS Config</p> <p>This reference guide contains documentation for the AWS Config API and the AWS CLI commands that you can use to manage AWS Config.</p> <p>The AWS Config API uses the Signature Version 4 protocol for signing requests. For more information about how to sign a request with this protocol, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a>.</p> <p>For detailed information about AWS Config features and their associated actions or commands, as well as how to work with AWS Management Console, see <a href=\"http://docs.aws.amazon.com/config/latest/developerguide/WhatIsConfig.html\">What Is AWS Config?</a> in the <i>AWS Config Developer Guide</i>.</p>",
    "endpointPrefix" : "config",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.config",
    "packagePath" : "com/amazonaws/services/config",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Config Service",
    "serviceFullName" : "AWS Config",
    "serviceName" : "Config Service",
    "signingName" : "config",
    "smokeTestsPackageName" : "com.amazonaws.services.config.smoketests",
    "syncClient" : "AmazonConfigClient",
    "syncClientBuilderClassName" : "AmazonConfigClientBuilder",
    "syncInterface" : "AmazonConfig",
    "uid" : "config-2014-11-12",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DeleteConfigRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfigRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfigRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfigRuleRequest, DeleteConfigRuleResult>",
      "asyncReturnType" : "DeleteConfigRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified AWS Config rule and all of its evaluation results.</p> <p>AWS Config sets the state of a rule to <code>DELETING</code> until the deletion is complete. You cannot update a rule while it is in this state. If you make a <code>PutConfigRule</code> or <code>DeleteConfigRule</code> request for the rule, you will receive a <code>ResourceInUseException</code>.</p> <p>You can check the state of a rule by using the <code>DescribeConfigRules</code> request.</p>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The rule is currently being deleted or the rule is deleting your evaluation results. Try your request again later.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteConfigRuleRequest",
        "variableName" : "deleteConfigRuleRequest",
        "variableType" : "DeleteConfigRuleRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteConfigRuleRequest",
        "variableSetterType" : "DeleteConfigRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConfigRule",
      "operationName" : "DeleteConfigRule",
      "returnType" : {
        "returnType" : "DeleteConfigRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConfigRuleResult"
    },
    "DeleteConfigurationRecorder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfigurationRecorderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfigurationRecorderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfigurationRecorderRequest, DeleteConfigurationRecorderResult>",
      "asyncReturnType" : "DeleteConfigurationRecorderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the configuration recorder.</p> <p>After the configuration recorder is deleted, AWS Config will not record resource configuration changes until you create a new configuration recorder.</p> <p>This action does not delete the configuration information that was previously recorded. You will be able to access the previously recorded information by using the <code>GetResourceConfigHistory</code> action, but you will not be able to access this information in the AWS Config console until you create a new configuration recorder.</p>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigurationRecorderException",
        "documentation" : "<p>You have specified a configuration recorder that does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteConfigurationRecorderRequest",
        "variableName" : "deleteConfigurationRecorderRequest",
        "variableType" : "DeleteConfigurationRecorderRequest",
        "documentation" : "<p>The request object for the <code>DeleteConfigurationRecorder</code> action.</p>",
        "simpleType" : "DeleteConfigurationRecorderRequest",
        "variableSetterType" : "DeleteConfigurationRecorderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConfigurationRecorder",
      "operationName" : "DeleteConfigurationRecorder",
      "returnType" : {
        "returnType" : "DeleteConfigurationRecorderResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConfigurationRecorderResult"
    },
    "DeleteDeliveryChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDeliveryChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDeliveryChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDeliveryChannelRequest, DeleteDeliveryChannelResult>",
      "asyncReturnType" : "DeleteDeliveryChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the delivery channel.</p> <p>Before you can delete the delivery channel, you must stop the configuration recorder by using the <a>StopConfigurationRecorder</a> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchDeliveryChannelException",
        "documentation" : "<p>You have specified a delivery channel that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LastDeliveryChannelDeleteFailedException",
        "documentation" : "<p>You cannot delete the delivery channel you specified because the configuration recorder is running.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDeliveryChannelRequest",
        "variableName" : "deleteDeliveryChannelRequest",
        "variableType" : "DeleteDeliveryChannelRequest",
        "documentation" : "<p>The input for the <a>DeleteDeliveryChannel</a> action. The action accepts the following data in JSON format. </p>",
        "simpleType" : "DeleteDeliveryChannelRequest",
        "variableSetterType" : "DeleteDeliveryChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDeliveryChannel",
      "operationName" : "DeleteDeliveryChannel",
      "returnType" : {
        "returnType" : "DeleteDeliveryChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDeliveryChannelResult"
    },
    "DeleteEvaluationResults" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEvaluationResultsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEvaluationResultsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEvaluationResultsRequest, DeleteEvaluationResultsResult>",
      "asyncReturnType" : "DeleteEvaluationResultsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the evaluation results for the specified Config rule. You can specify one Config rule per request. After you delete the evaluation results, you can call the <a>StartConfigRulesEvaluation</a> API to start evaluating your AWS resources against the rule.</p>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The rule is currently being deleted or the rule is deleting your evaluation results. Try your request again later.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteEvaluationResultsRequest",
        "variableName" : "deleteEvaluationResultsRequest",
        "variableType" : "DeleteEvaluationResultsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteEvaluationResultsRequest",
        "variableSetterType" : "DeleteEvaluationResultsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEvaluationResults",
      "operationName" : "DeleteEvaluationResults",
      "returnType" : {
        "returnType" : "DeleteEvaluationResultsResult",
        "documentation" : "<p>The output when you delete the evaluation results for the specified Config rule.</p>"
      },
      "syncReturnType" : "DeleteEvaluationResultsResult"
    },
    "DeliverConfigSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeliverConfigSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeliverConfigSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeliverConfigSnapshotRequest, DeliverConfigSnapshotResult>",
      "asyncReturnType" : "DeliverConfigSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Schedules delivery of a configuration snapshot to the Amazon S3 bucket in the specified delivery channel. After the delivery has started, AWS Config sends following notifications using an Amazon SNS topic that you have specified.</p> <ul> <li> <p>Notification of starting the delivery.</p> </li> <li> <p>Notification of delivery completed, if the delivery was successfully completed.</p> </li> <li> <p>Notification of delivery failure, if the delivery failed to complete.</p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchDeliveryChannelException",
        "documentation" : "<p>You have specified a delivery channel that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableConfigurationRecorderException",
        "documentation" : "<p>There are no configuration recorders available to provide the role needed to describe your resources. Create a configuration recorder.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoRunningConfigurationRecorderException",
        "documentation" : "<p>There is no configuration recorder running.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeliverConfigSnapshotRequest",
        "variableName" : "deliverConfigSnapshotRequest",
        "variableType" : "DeliverConfigSnapshotRequest",
        "documentation" : "<p>The input for the <a>DeliverConfigSnapshot</a> action.</p>",
        "simpleType" : "DeliverConfigSnapshotRequest",
        "variableSetterType" : "DeliverConfigSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deliverConfigSnapshot",
      "operationName" : "DeliverConfigSnapshot",
      "returnType" : {
        "returnType" : "DeliverConfigSnapshotResult",
        "documentation" : "<p>The output for the <a>DeliverConfigSnapshot</a> action in JSON format.</p>"
      },
      "syncReturnType" : "DeliverConfigSnapshotResult"
    },
    "DescribeComplianceByConfigRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeComplianceByConfigRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeComplianceByConfigRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeComplianceByConfigRuleRequest, DescribeComplianceByConfigRuleResult>",
      "asyncReturnType" : "DescribeComplianceByConfigRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Indicates whether the specified AWS Config rules are compliant. If a rule is noncompliant, this action returns the number of AWS resources that do not comply with the rule.</p> <p>A rule is compliant if all of the evaluated resources comply with it, and it is noncompliant if any of these resources do not comply.</p> <p>If AWS Config has no current evaluation results for the rule, it returns <code>INSUFFICIENT_DATA</code>. This result might indicate one of the following conditions:</p> <ul> <li> <p>AWS Config has never invoked an evaluation for the rule. To check whether it has, use the <code>DescribeConfigRuleEvaluationStatus</code> action to get the <code>LastSuccessfulInvocationTime</code> and <code>LastFailedInvocationTime</code>.</p> </li> <li> <p>The rule's AWS Lambda function is failing to send evaluation results to AWS Config. Verify that the role that you assigned to your configuration recorder includes the <code>config:PutEvaluations</code> permission. If the rule is a custom rule, verify that the AWS Lambda execution role includes the <code>config:PutEvaluations</code> permission.</p> </li> <li> <p>The rule's AWS Lambda function has returned <code>NOT_APPLICABLE</code> for all evaluation results. This can occur if the resources were deleted or removed from the rule's scope.</p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>NextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeComplianceByConfigRuleRequest",
        "variableName" : "describeComplianceByConfigRuleRequest",
        "variableType" : "DescribeComplianceByConfigRuleRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeComplianceByConfigRuleRequest",
        "variableSetterType" : "DescribeComplianceByConfigRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeComplianceByConfigRule",
      "operationName" : "DescribeComplianceByConfigRule",
      "returnType" : {
        "returnType" : "DescribeComplianceByConfigRuleResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeComplianceByConfigRuleResult"
    },
    "DescribeComplianceByResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeComplianceByResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeComplianceByResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeComplianceByResourceRequest, DescribeComplianceByResourceResult>",
      "asyncReturnType" : "DescribeComplianceByResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Indicates whether the specified AWS resources are compliant. If a resource is noncompliant, this action returns the number of AWS Config rules that the resource does not comply with.</p> <p>A resource is compliant if it complies with all the AWS Config rules that evaluate it. It is noncompliant if it does not comply with one or more of these rules.</p> <p>If AWS Config has no current evaluation results for the resource, it returns <code>INSUFFICIENT_DATA</code>. This result might indicate one of the following conditions about the rules that evaluate the resource:</p> <ul> <li> <p>AWS Config has never invoked an evaluation for the rule. To check whether it has, use the <code>DescribeConfigRuleEvaluationStatus</code> action to get the <code>LastSuccessfulInvocationTime</code> and <code>LastFailedInvocationTime</code>.</p> </li> <li> <p>The rule's AWS Lambda function is failing to send evaluation results to AWS Config. Verify that the role that you assigned to your configuration recorder includes the <code>config:PutEvaluations</code> permission. If the rule is a custom rule, verify that the AWS Lambda execution role includes the <code>config:PutEvaluations</code> permission.</p> </li> <li> <p>The rule's AWS Lambda function has returned <code>NOT_APPLICABLE</code> for all evaluation results. This can occur if the resources were deleted or removed from the rule's scope.</p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>NextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeComplianceByResourceRequest",
        "variableName" : "describeComplianceByResourceRequest",
        "variableType" : "DescribeComplianceByResourceRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeComplianceByResourceRequest",
        "variableSetterType" : "DescribeComplianceByResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeComplianceByResource",
      "operationName" : "DescribeComplianceByResource",
      "returnType" : {
        "returnType" : "DescribeComplianceByResourceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeComplianceByResourceResult"
    },
    "DescribeConfigRuleEvaluationStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigRuleEvaluationStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigRuleEvaluationStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigRuleEvaluationStatusRequest, DescribeConfigRuleEvaluationStatusResult>",
      "asyncReturnType" : "DescribeConfigRuleEvaluationStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns status information for each of your AWS managed Config rules. The status includes information such as the last time AWS Config invoked the rule, the last time AWS Config failed to invoke the rule, and the related error for the last failure.</p>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>NextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConfigRuleEvaluationStatusRequest",
        "variableName" : "describeConfigRuleEvaluationStatusRequest",
        "variableType" : "DescribeConfigRuleEvaluationStatusRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeConfigRuleEvaluationStatusRequest",
        "variableSetterType" : "DescribeConfigRuleEvaluationStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfigRuleEvaluationStatus",
      "operationName" : "DescribeConfigRuleEvaluationStatus",
      "returnType" : {
        "returnType" : "DescribeConfigRuleEvaluationStatusResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeConfigRuleEvaluationStatusResult"
    },
    "DescribeConfigRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigRulesRequest, DescribeConfigRulesResult>",
      "asyncReturnType" : "DescribeConfigRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns details about your AWS Config rules.</p>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>NextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConfigRulesRequest",
        "variableName" : "describeConfigRulesRequest",
        "variableType" : "DescribeConfigRulesRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeConfigRulesRequest",
        "variableSetterType" : "DescribeConfigRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfigRules",
      "operationName" : "DescribeConfigRules",
      "returnType" : {
        "returnType" : "DescribeConfigRulesResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeConfigRulesResult"
    },
    "DescribeConfigurationRecorderStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationRecorderStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationRecorderStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationRecorderStatusRequest, DescribeConfigurationRecorderStatusResult>",
      "asyncReturnType" : "DescribeConfigurationRecorderStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the current status of the specified configuration recorder. If a configuration recorder is not specified, this action returns the status of all configuration recorder associated with the account.</p> <note> <p>Currently, you can specify only one configuration recorder per region in your account.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigurationRecorderException",
        "documentation" : "<p>You have specified a configuration recorder that does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConfigurationRecorderStatusRequest",
        "variableName" : "describeConfigurationRecorderStatusRequest",
        "variableType" : "DescribeConfigurationRecorderStatusRequest",
        "documentation" : "<p>The input for the <a>DescribeConfigurationRecorderStatus</a> action.</p>",
        "simpleType" : "DescribeConfigurationRecorderStatusRequest",
        "variableSetterType" : "DescribeConfigurationRecorderStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfigurationRecorderStatus",
      "operationName" : "DescribeConfigurationRecorderStatus",
      "returnType" : {
        "returnType" : "DescribeConfigurationRecorderStatusResult",
        "documentation" : "<p>The output for the <a>DescribeConfigurationRecorderStatus</a> action in JSON format.</p>"
      },
      "syncReturnType" : "DescribeConfigurationRecorderStatusResult"
    },
    "DescribeConfigurationRecorders" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationRecordersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationRecordersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationRecordersRequest, DescribeConfigurationRecordersResult>",
      "asyncReturnType" : "DescribeConfigurationRecordersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details for the specified configuration recorders. If the configuration recorder is not specified, this action returns the details for all configuration recorders associated with the account.</p> <note> <p>Currently, you can specify only one configuration recorder per region in your account.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigurationRecorderException",
        "documentation" : "<p>You have specified a configuration recorder that does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConfigurationRecordersRequest",
        "variableName" : "describeConfigurationRecordersRequest",
        "variableType" : "DescribeConfigurationRecordersRequest",
        "documentation" : "<p>The input for the <a>DescribeConfigurationRecorders</a> action.</p>",
        "simpleType" : "DescribeConfigurationRecordersRequest",
        "variableSetterType" : "DescribeConfigurationRecordersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfigurationRecorders",
      "operationName" : "DescribeConfigurationRecorders",
      "returnType" : {
        "returnType" : "DescribeConfigurationRecordersResult",
        "documentation" : "<p>The output for the <a>DescribeConfigurationRecorders</a> action.</p>"
      },
      "syncReturnType" : "DescribeConfigurationRecordersResult"
    },
    "DescribeDeliveryChannelStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDeliveryChannelStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDeliveryChannelStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDeliveryChannelStatusRequest, DescribeDeliveryChannelStatusResult>",
      "asyncReturnType" : "DescribeDeliveryChannelStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the current status of the specified delivery channel. If a delivery channel is not specified, this action returns the current status of all delivery channels associated with the account.</p> <note> <p>Currently, you can specify only one delivery channel per region in your account.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchDeliveryChannelException",
        "documentation" : "<p>You have specified a delivery channel that does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeDeliveryChannelStatusRequest",
        "variableName" : "describeDeliveryChannelStatusRequest",
        "variableType" : "DescribeDeliveryChannelStatusRequest",
        "documentation" : "<p>The input for the <a>DeliveryChannelStatus</a> action.</p>",
        "simpleType" : "DescribeDeliveryChannelStatusRequest",
        "variableSetterType" : "DescribeDeliveryChannelStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDeliveryChannelStatus",
      "operationName" : "DescribeDeliveryChannelStatus",
      "returnType" : {
        "returnType" : "DescribeDeliveryChannelStatusResult",
        "documentation" : "<p>The output for the <a>DescribeDeliveryChannelStatus</a> action.</p>"
      },
      "syncReturnType" : "DescribeDeliveryChannelStatusResult"
    },
    "DescribeDeliveryChannels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDeliveryChannelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDeliveryChannelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDeliveryChannelsRequest, DescribeDeliveryChannelsResult>",
      "asyncReturnType" : "DescribeDeliveryChannelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns details about the specified delivery channel. If a delivery channel is not specified, this action returns the details of all delivery channels associated with the account.</p> <note> <p>Currently, you can specify only one delivery channel per region in your account.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchDeliveryChannelException",
        "documentation" : "<p>You have specified a delivery channel that does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeDeliveryChannelsRequest",
        "variableName" : "describeDeliveryChannelsRequest",
        "variableType" : "DescribeDeliveryChannelsRequest",
        "documentation" : "<p>The input for the <a>DescribeDeliveryChannels</a> action.</p>",
        "simpleType" : "DescribeDeliveryChannelsRequest",
        "variableSetterType" : "DescribeDeliveryChannelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDeliveryChannels",
      "operationName" : "DescribeDeliveryChannels",
      "returnType" : {
        "returnType" : "DescribeDeliveryChannelsResult",
        "documentation" : "<p>The output for the <a>DescribeDeliveryChannels</a> action.</p>"
      },
      "syncReturnType" : "DescribeDeliveryChannelsResult"
    },
    "GetComplianceDetailsByConfigRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetComplianceDetailsByConfigRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetComplianceDetailsByConfigRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComplianceDetailsByConfigRuleRequest, GetComplianceDetailsByConfigRuleResult>",
      "asyncReturnType" : "GetComplianceDetailsByConfigRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the evaluation results for the specified AWS Config rule. The results indicate which AWS resources were evaluated by the rule, when each resource was last evaluated, and whether each resource complies with the rule.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>NextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetComplianceDetailsByConfigRuleRequest",
        "variableName" : "getComplianceDetailsByConfigRuleRequest",
        "variableType" : "GetComplianceDetailsByConfigRuleRequest",
        "documentation" : "<p/>",
        "simpleType" : "GetComplianceDetailsByConfigRuleRequest",
        "variableSetterType" : "GetComplianceDetailsByConfigRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getComplianceDetailsByConfigRule",
      "operationName" : "GetComplianceDetailsByConfigRule",
      "returnType" : {
        "returnType" : "GetComplianceDetailsByConfigRuleResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "GetComplianceDetailsByConfigRuleResult"
    },
    "GetComplianceDetailsByResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetComplianceDetailsByResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetComplianceDetailsByResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComplianceDetailsByResourceRequest, GetComplianceDetailsByResourceResult>",
      "asyncReturnType" : "GetComplianceDetailsByResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the evaluation results for the specified AWS resource. The results indicate which AWS Config rules were used to evaluate the resource, when each rule was last used, and whether the resource complies with each rule.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetComplianceDetailsByResourceRequest",
        "variableName" : "getComplianceDetailsByResourceRequest",
        "variableType" : "GetComplianceDetailsByResourceRequest",
        "documentation" : "<p/>",
        "simpleType" : "GetComplianceDetailsByResourceRequest",
        "variableSetterType" : "GetComplianceDetailsByResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getComplianceDetailsByResource",
      "operationName" : "GetComplianceDetailsByResource",
      "returnType" : {
        "returnType" : "GetComplianceDetailsByResourceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "GetComplianceDetailsByResourceResult"
    },
    "GetComplianceSummaryByConfigRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetComplianceSummaryByConfigRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetComplianceSummaryByConfigRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComplianceSummaryByConfigRuleRequest, GetComplianceSummaryByConfigRuleResult>",
      "asyncReturnType" : "GetComplianceSummaryByConfigRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the number of AWS Config rules that are compliant and noncompliant, up to a maximum of 25 for each.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetComplianceSummaryByConfigRuleRequest",
        "variableName" : "getComplianceSummaryByConfigRuleRequest",
        "variableType" : "GetComplianceSummaryByConfigRuleRequest",
        "documentation" : null,
        "simpleType" : "GetComplianceSummaryByConfigRuleRequest",
        "variableSetterType" : "GetComplianceSummaryByConfigRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getComplianceSummaryByConfigRule",
      "operationName" : "GetComplianceSummaryByConfigRule",
      "returnType" : {
        "returnType" : "GetComplianceSummaryByConfigRuleResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "GetComplianceSummaryByConfigRuleResult"
    },
    "GetComplianceSummaryByResourceType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetComplianceSummaryByResourceTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetComplianceSummaryByResourceTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComplianceSummaryByResourceTypeRequest, GetComplianceSummaryByResourceTypeResult>",
      "asyncReturnType" : "GetComplianceSummaryByResourceTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the number of resources that are compliant and the number that are noncompliant. You can specify one or more resource types to get these numbers for each resource type. The maximum number returned is 100.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetComplianceSummaryByResourceTypeRequest",
        "variableName" : "getComplianceSummaryByResourceTypeRequest",
        "variableType" : "GetComplianceSummaryByResourceTypeRequest",
        "documentation" : "<p/>",
        "simpleType" : "GetComplianceSummaryByResourceTypeRequest",
        "variableSetterType" : "GetComplianceSummaryByResourceTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getComplianceSummaryByResourceType",
      "operationName" : "GetComplianceSummaryByResourceType",
      "returnType" : {
        "returnType" : "GetComplianceSummaryByResourceTypeResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "GetComplianceSummaryByResourceTypeResult"
    },
    "GetDiscoveredResourceCounts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDiscoveredResourceCountsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDiscoveredResourceCountsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDiscoveredResourceCountsRequest, GetDiscoveredResourceCountsResult>",
      "asyncReturnType" : "GetDiscoveredResourceCountsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the resource types, the number of each resource type, and the total number of resources that AWS Config is recording in this region for your AWS account. </p> <p class=\"title\"> <b>Example</b> </p> <ol> <li> <p>AWS Config is recording three resource types in the US East (Ohio) Region for your account: 25 EC2 instances, 20 IAM users, and 15 S3 buckets.</p> </li> <li> <p>You make a call to the <code>GetDiscoveredResourceCounts</code> action and specify that you want all resource types. </p> </li> <li> <p>AWS Config returns the following:</p> <ul> <li> <p>The resource types (EC2 instances, IAM users, and S3 buckets)</p> </li> <li> <p>The number of each resource type (25, 20, and 15)</p> </li> <li> <p>The total number of all resources (60)</p> </li> </ul> </li> </ol> <p>The response is paginated. By default, AWS Config lists 100 <a>ResourceCount</a> objects on each page. You can customize this number with the <code>limit</code> parameter. The response includes a <code>nextToken</code> string. To get the next page of results, run the request again and specify the string for the <code>nextToken</code> parameter.</p> <note> <p>If you make a call to the <a>GetDiscoveredResourceCounts</a> action, you may not immediately receive resource counts in the following situations:</p> <ul> <li> <p>You are a new AWS Config customer</p> </li> <li> <p>You just enabled resource recording</p> </li> </ul> <p>It may take a few minutes for AWS Config to record and count your resources. Wait a few minutes and then retry the <a>GetDiscoveredResourceCounts</a> action. </p> </note>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The requested action is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLimitException",
        "documentation" : "<p>The specified limit is outside the allowable range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>NextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDiscoveredResourceCountsRequest",
        "variableName" : "getDiscoveredResourceCountsRequest",
        "variableType" : "GetDiscoveredResourceCountsRequest",
        "documentation" : "",
        "simpleType" : "GetDiscoveredResourceCountsRequest",
        "variableSetterType" : "GetDiscoveredResourceCountsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDiscoveredResourceCounts",
      "operationName" : "GetDiscoveredResourceCounts",
      "returnType" : {
        "returnType" : "GetDiscoveredResourceCountsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDiscoveredResourceCountsResult"
    },
    "GetResourceConfigHistory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceConfigHistoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceConfigHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceConfigHistoryRequest, GetResourceConfigHistoryResult>",
      "asyncReturnType" : "GetResourceConfigHistoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of configuration items for the specified resource. The list contains details about each state of the resource during the specified time interval.</p> <p>The response is paginated. By default, AWS Config returns a limit of 10 configuration items per page. You can customize this number with the <code>limit</code> parameter. The response includes a <code>nextToken</code> string. To get the next page of results, run the request again and specify the string for the <code>nextToken</code> parameter.</p> <note> <p>Each call to the API is limited to span a duration of seven days. It is likely that the number of records returned is smaller than the specified <code>limit</code>. In such cases, you can make another call, using the <code>nextToken</code>.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The requested action is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTimeRangeException",
        "documentation" : "<p>The specified time range is not valid. The earlier time is not chronologically before the later time.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLimitException",
        "documentation" : "<p>The specified limit is outside the allowable range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>NextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableConfigurationRecorderException",
        "documentation" : "<p>There are no configuration recorders available to provide the role needed to describe your resources. Create a configuration recorder.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotDiscoveredException",
        "documentation" : "<p>You have specified a resource that is either unknown or has not been discovered.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetResourceConfigHistoryRequest",
        "variableName" : "getResourceConfigHistoryRequest",
        "variableType" : "GetResourceConfigHistoryRequest",
        "documentation" : "<p>The input for the <a>GetResourceConfigHistory</a> action.</p>",
        "simpleType" : "GetResourceConfigHistoryRequest",
        "variableSetterType" : "GetResourceConfigHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceConfigHistory",
      "operationName" : "GetResourceConfigHistory",
      "returnType" : {
        "returnType" : "GetResourceConfigHistoryResult",
        "documentation" : "<p>The output for the <a>GetResourceConfigHistory</a> action.</p>"
      },
      "syncReturnType" : "GetResourceConfigHistoryResult"
    },
    "ListDiscoveredResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDiscoveredResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDiscoveredResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDiscoveredResourcesRequest, ListDiscoveredResourcesResult>",
      "asyncReturnType" : "ListDiscoveredResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Accepts a resource type and returns a list of resource identifiers for the resources of that type. A resource identifier includes the resource type, ID, and (if available) the custom resource name. The results consist of resources that AWS Config has discovered, including those that AWS Config is not currently recording. You can narrow the results to include only resources that have specific resource IDs or a resource name.</p> <note> <p>You can specify either resource IDs or a resource name but not both in the same request.</p> </note> <p>The response is paginated. By default, AWS Config lists 100 resource identifiers on each page. You can customize this number with the <code>limit</code> parameter. The response includes a <code>nextToken</code> string. To get the next page of results, run the request again and specify the string for the <code>nextToken</code> parameter.</p>",
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The requested action is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLimitException",
        "documentation" : "<p>The specified limit is outside the allowable range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>NextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableConfigurationRecorderException",
        "documentation" : "<p>There are no configuration recorders available to provide the role needed to describe your resources. Create a configuration recorder.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDiscoveredResourcesRequest",
        "variableName" : "listDiscoveredResourcesRequest",
        "variableType" : "ListDiscoveredResourcesRequest",
        "documentation" : "<p/>",
        "simpleType" : "ListDiscoveredResourcesRequest",
        "variableSetterType" : "ListDiscoveredResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDiscoveredResources",
      "operationName" : "ListDiscoveredResources",
      "returnType" : {
        "returnType" : "ListDiscoveredResourcesResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ListDiscoveredResourcesResult"
    },
    "PutConfigRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutConfigRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutConfigRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutConfigRuleRequest, PutConfigRuleResult>",
      "asyncReturnType" : "PutConfigRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or updates an AWS Config rule for evaluating whether your AWS resources comply with your desired configurations.</p> <p>You can use this action for custom Config rules and AWS managed Config rules. A custom Config rule is a rule that you develop and maintain. An AWS managed Config rule is a customizable, predefined rule that AWS Config provides.</p> <p>If you are adding a new custom Config rule, you must first create the AWS Lambda function that the rule invokes to evaluate your resources. When you use the <code>PutConfigRule</code> action to add the rule to AWS Config, you must specify the Amazon Resource Name (ARN) that AWS Lambda assigns to the function. Specify the ARN for the <code>SourceIdentifier</code> key. This key is part of the <code>Source</code> object, which is part of the <code>ConfigRule</code> object. </p> <p>If you are adding an AWS managed Config rule, specify the rule's identifier for the <code>SourceIdentifier</code> key. To reference AWS managed Config rule identifiers, see <a href=\"http://docs.aws.amazon.com/config/latest/developerguide/evaluate-config_use-managed-rules.html\">About AWS Managed Config Rules</a>.</p> <p>For any new rule that you add, specify the <code>ConfigRuleName</code> in the <code>ConfigRule</code> object. Do not specify the <code>ConfigRuleArn</code> or the <code>ConfigRuleId</code>. These values are generated by AWS Config for new rules.</p> <p>If you are updating a rule that you added previously, you can specify the rule by <code>ConfigRuleName</code>, <code>ConfigRuleId</code>, or <code>ConfigRuleArn</code> in the <code>ConfigRule</code> data type that you use in this request.</p> <p>The maximum number of rules that AWS Config supports is 50.</p> <p>For more information about requesting a rule limit increase, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_config\">AWS Config Limits</a> in the <i>AWS General Reference Guide</i>.</p> <p>For more information about developing and using AWS Config rules, see <a href=\"http://docs.aws.amazon.com/config/latest/developerguide/evaluate-config.html\">Evaluating AWS Resource Configurations with AWS Config</a> in the <i>AWS Config Developer Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MaxNumberOfConfigRulesExceededException",
        "documentation" : "<p>Failed to add the AWS Config rule because the account already contains the maximum number of 50 rules. Consider deleting any deactivated rules before adding new rules.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The rule is currently being deleted or the rule is deleting your evaluation results. Try your request again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InsufficientPermissionsException",
        "documentation" : "<p>Indicates one of the following errors:</p> <ul> <li> <p>The rule cannot be created because the IAM role assigned to AWS Config lacks permissions to perform the config:Put* action.</p> </li> <li> <p>The AWS Lambda function cannot be invoked. Check the function ARN, and check the function's permissions.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableConfigurationRecorderException",
        "documentation" : "<p>There are no configuration recorders available to provide the role needed to describe your resources. Create a configuration recorder.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutConfigRuleRequest",
        "variableName" : "putConfigRuleRequest",
        "variableType" : "PutConfigRuleRequest",
        "documentation" : "",
        "simpleType" : "PutConfigRuleRequest",
        "variableSetterType" : "PutConfigRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putConfigRule",
      "operationName" : "PutConfigRule",
      "returnType" : {
        "returnType" : "PutConfigRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "PutConfigRuleResult"
    },
    "PutConfigurationRecorder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutConfigurationRecorderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutConfigurationRecorderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutConfigurationRecorderRequest, PutConfigurationRecorderResult>",
      "asyncReturnType" : "PutConfigurationRecorderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new configuration recorder to record the selected resource configurations.</p> <p>You can use this action to change the role <code>roleARN</code> and/or the <code>recordingGroup</code> of an existing recorder. To change the role, call the action on the existing configuration recorder and specify a role.</p> <note> <p>Currently, you can specify only one configuration recorder per region in your account.</p> <p>If <code>ConfigurationRecorder</code> does not have the <b>recordingGroup</b> parameter specified, the default is to record all supported resource types.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "MaxNumberOfConfigurationRecordersExceededException",
        "documentation" : "<p>You have reached the limit on the number of recorders you can create.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidConfigurationRecorderNameException",
        "documentation" : "<p>You have provided a configuration recorder name that is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRoleException",
        "documentation" : "<p>You have provided a null or empty role ARN.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRecordingGroupException",
        "documentation" : "<p>AWS Config throws an exception if the recording group does not contain a valid list of resource types. Invalid values could also be incorrectly formatted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutConfigurationRecorderRequest",
        "variableName" : "putConfigurationRecorderRequest",
        "variableType" : "PutConfigurationRecorderRequest",
        "documentation" : "<p>The input for the <a>PutConfigurationRecorder</a> action.</p>",
        "simpleType" : "PutConfigurationRecorderRequest",
        "variableSetterType" : "PutConfigurationRecorderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putConfigurationRecorder",
      "operationName" : "PutConfigurationRecorder",
      "returnType" : {
        "returnType" : "PutConfigurationRecorderResult",
        "documentation" : null
      },
      "syncReturnType" : "PutConfigurationRecorderResult"
    },
    "PutDeliveryChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutDeliveryChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutDeliveryChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutDeliveryChannelRequest, PutDeliveryChannelResult>",
      "asyncReturnType" : "PutDeliveryChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a delivery channel object to deliver configuration information to an Amazon S3 bucket and Amazon SNS topic.</p> <p>Before you can create a delivery channel, you must create a configuration recorder.</p> <p>You can use this action to change the Amazon S3 bucket or an Amazon SNS topic of the existing delivery channel. To change the Amazon S3 bucket or an Amazon SNS topic, call this action and specify the changed values for the S3 bucket and the SNS topic. If you specify a different value for either the S3 bucket or the SNS topic, this action will keep the existing value for the parameter that is not changed.</p> <note> <p>You can have only one delivery channel per region in your account.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "MaxNumberOfDeliveryChannelsExceededException",
        "documentation" : "<p>You have reached the limit on the number of delivery channels you can create.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableConfigurationRecorderException",
        "documentation" : "<p>There are no configuration recorders available to provide the role needed to describe your resources. Create a configuration recorder.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidDeliveryChannelNameException",
        "documentation" : "<p>The specified delivery channel name is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchBucketException",
        "documentation" : "<p>The specified Amazon S3 bucket does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidS3KeyPrefixException",
        "documentation" : "<p>The specified Amazon S3 key prefix is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSNSTopicARNException",
        "documentation" : "<p>The specified Amazon SNS topic does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InsufficientDeliveryPolicyException",
        "documentation" : "<p>Your Amazon S3 bucket policy does not permit AWS Config to write to it.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutDeliveryChannelRequest",
        "variableName" : "putDeliveryChannelRequest",
        "variableType" : "PutDeliveryChannelRequest",
        "documentation" : "<p>The input for the <a>PutDeliveryChannel</a> action.</p>",
        "simpleType" : "PutDeliveryChannelRequest",
        "variableSetterType" : "PutDeliveryChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putDeliveryChannel",
      "operationName" : "PutDeliveryChannel",
      "returnType" : {
        "returnType" : "PutDeliveryChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "PutDeliveryChannelResult"
    },
    "PutEvaluations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutEvaluationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutEvaluationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutEvaluationsRequest, PutEvaluationsResult>",
      "asyncReturnType" : "PutEvaluationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Used by an AWS Lambda function to deliver evaluation results to AWS Config. This action is required in every AWS Lambda function that is invoked by an AWS Config rule.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResultTokenException",
        "documentation" : "<p>The specified <code>ResultToken</code> is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutEvaluationsRequest",
        "variableName" : "putEvaluationsRequest",
        "variableType" : "PutEvaluationsRequest",
        "documentation" : "<p/>",
        "simpleType" : "PutEvaluationsRequest",
        "variableSetterType" : "PutEvaluationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putEvaluations",
      "operationName" : "PutEvaluations",
      "returnType" : {
        "returnType" : "PutEvaluationsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "PutEvaluationsResult"
    },
    "StartConfigRulesEvaluation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartConfigRulesEvaluationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartConfigRulesEvaluationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartConfigRulesEvaluationRequest, StartConfigRulesEvaluationResult>",
      "asyncReturnType" : "StartConfigRulesEvaluationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Runs an on-demand evaluation for the specified Config rules against the last known configuration state of the resources. Use <code>StartConfigRulesEvaluation</code> when you want to test a rule that you updated is working as expected. <code>StartConfigRulesEvaluation</code> does not re-record the latest configuration state for your resources; it re-runs an evaluation against the last known state of your resources. </p> <p>You can specify up to 25 Config rules per request. </p> <p>An existing <code>StartConfigRulesEvaluation</code> call must complete for the specified rules before you can call the API again. If you chose to have AWS Config stream to an Amazon SNS topic, you will receive a <code>ConfigRuleEvaluationStarted</code> notification when the evaluation starts.</p> <note> <p>You don't need to call the <code>StartConfigRulesEvaluation</code> API to run an evaluation for a new rule. When you create a new rule, AWS Config automatically evaluates your resources against the rule. </p> </note> <p>The <code>StartConfigRulesEvaluation</code> API is useful if you want to run on-demand evaluations, such as the following example:</p> <ol> <li> <p>You have a custom rule that evaluates your IAM resources every 24 hours.</p> </li> <li> <p>You update your Lambda function to add additional conditions to your rule.</p> </li> <li> <p>Instead of waiting for the next periodic evaluation, you call the <code>StartConfigRulesEvaluation</code> API.</p> </li> <li> <p>AWS Config invokes your Lambda function and evaluates your IAM resources.</p> </li> <li> <p>Your custom rule will still run periodic evaluations every 24 hours.</p> </li> </ol>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>This exception is thrown if an evaluation is in progress or if you call the <a>StartConfigRulesEvaluation</a> API more than once per minute.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The rule is currently being deleted or the rule is deleting your evaluation results. Try your request again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartConfigRulesEvaluationRequest",
        "variableName" : "startConfigRulesEvaluationRequest",
        "variableType" : "StartConfigRulesEvaluationRequest",
        "documentation" : "<p/>",
        "simpleType" : "StartConfigRulesEvaluationRequest",
        "variableSetterType" : "StartConfigRulesEvaluationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startConfigRulesEvaluation",
      "operationName" : "StartConfigRulesEvaluation",
      "returnType" : {
        "returnType" : "StartConfigRulesEvaluationResult",
        "documentation" : "<p>The output when you start the evaluation for the specified Config rule.</p>"
      },
      "syncReturnType" : "StartConfigRulesEvaluationResult"
    },
    "StartConfigurationRecorder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartConfigurationRecorderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartConfigurationRecorderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartConfigurationRecorderRequest, StartConfigurationRecorderResult>",
      "asyncReturnType" : "StartConfigurationRecorderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts recording configurations of the AWS resources you have selected to record in your AWS account.</p> <p>You must have created at least one delivery channel to successfully start the configuration recorder.</p>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigurationRecorderException",
        "documentation" : "<p>You have specified a configuration recorder that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableDeliveryChannelException",
        "documentation" : "<p>There is no delivery channel available to record configurations.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartConfigurationRecorderRequest",
        "variableName" : "startConfigurationRecorderRequest",
        "variableType" : "StartConfigurationRecorderRequest",
        "documentation" : "<p>The input for the <a>StartConfigurationRecorder</a> action.</p>",
        "simpleType" : "StartConfigurationRecorderRequest",
        "variableSetterType" : "StartConfigurationRecorderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startConfigurationRecorder",
      "operationName" : "StartConfigurationRecorder",
      "returnType" : {
        "returnType" : "StartConfigurationRecorderResult",
        "documentation" : null
      },
      "syncReturnType" : "StartConfigurationRecorderResult"
    },
    "StopConfigurationRecorder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopConfigurationRecorderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopConfigurationRecorderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopConfigurationRecorderRequest, StopConfigurationRecorderResult>",
      "asyncReturnType" : "StopConfigurationRecorderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops recording configurations of the AWS resources you have selected to record in your AWS account.</p>",
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigurationRecorderException",
        "documentation" : "<p>You have specified a configuration recorder that does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopConfigurationRecorderRequest",
        "variableName" : "stopConfigurationRecorderRequest",
        "variableType" : "StopConfigurationRecorderRequest",
        "documentation" : "<p>The input for the <a>StopConfigurationRecorder</a> action.</p>",
        "simpleType" : "StopConfigurationRecorderRequest",
        "variableSetterType" : "StopConfigurationRecorderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopConfigurationRecorder",
      "operationName" : "StopConfigurationRecorder",
      "returnType" : {
        "returnType" : "StopConfigurationRecorderResult",
        "documentation" : null
      },
      "syncReturnType" : "StopConfigurationRecorderResult"
    }
  },
  "shapes" : {
    "ChronologicalOrder" : {
      "c2jName" : "ChronologicalOrder",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "Reverse",
        "value" : "Reverse"
      }, {
        "name" : "Forward",
        "value" : "Forward"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ChronologicalOrder",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ChronologicalOrder",
        "variableName" : "chronologicalOrder",
        "variableType" : "ChronologicalOrder",
        "documentation" : null,
        "simpleType" : "ChronologicalOrder",
        "variableSetterType" : "ChronologicalOrder"
      },
      "wrapper" : false
    },
    "Compliance" : {
      "c2jName" : "Compliance",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Indicates whether an AWS resource or AWS Config rule is compliant and provides the number of contributors that affect the compliance.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ComplianceType",
        "c2jShape" : "ComplianceType",
        "deprecated" : false,
        "documentation" : "<p>Indicates whether an AWS resource or AWS Config rule is compliant.</p> <p>A resource is compliant if it complies with all of the AWS Config rules that evaluate it, and it is noncompliant if it does not comply with one or more of these rules.</p> <p>A rule is compliant if all of the resources that the rule evaluates comply with it, and it is noncompliant if any of these resources do not comply.</p> <p>AWS Config returns the <code>INSUFFICIENT_DATA</code> value when no evaluation results are available for the AWS resource or Config rule.</p> <p>For the <code>Compliance</code> data type, AWS Config supports only <code>COMPLIANT</code>, <code>NON_COMPLIANT</code>, and <code>INSUFFICIENT_DATA</code> values. AWS Config does not support the <code>NOT_APPLICABLE</code> value for the <code>Compliance</code> data type.</p>",
        "enumType" : "ComplianceType",
        "fluentSetterDocumentation" : "/**<p>Indicates whether an AWS resource or AWS Config rule is compliant.</p> <p>A resource is compliant if it complies with all of the AWS Config rules that evaluate it, and it is noncompliant if it does not comply with one or more of these rules.</p> <p>A rule is compliant if all of the resources that the rule evaluates comply with it, and it is noncompliant if any of these resources do not comply.</p> <p>AWS Config returns the <code>INSUFFICIENT_DATA</code> value when no evaluation results are available for the AWS resource or Config rule.</p> <p>For the <code>Compliance</code> data type, AWS Config supports only <code>COMPLIANT</code>, <code>NON_COMPLIANT</code>, and <code>INSUFFICIENT_DATA</code> values. AWS Config does not support the <code>NOT_APPLICABLE</code> value for the <code>Compliance</code> data type.</p>\n@param complianceType Indicates whether an AWS resource or AWS Config rule is compliant.</p> <p>A resource is compliant if it complies with all of the AWS Config rules that evaluate it, and it is noncompliant if it does not comply with one or more of these rules.</p> <p>A rule is compliant if all of the resources that the rule evaluates comply with it, and it is noncompliant if any of these resources do not comply.</p> <p>AWS Config returns the <code>INSUFFICIENT_DATA</code> value when no evaluation results are available for the AWS resource or Config rule.</p> <p>For the <code>Compliance</code> data type, AWS Config supports only <code>COMPLIANT</code>, <code>NON_COMPLIANT</code>, and <code>INSUFFICIENT_DATA</code> values. AWS Config does not support the <code>NOT_APPLICABLE</code> value for the <code>Compliance</code> data type.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ComplianceType*/",
        "fluentSetterMethodName" : "withComplianceType",
        "getterDocumentation" : "/**<p>Indicates whether an AWS resource or AWS Config rule is compliant.</p> <p>A resource is compliant if it complies with all of the AWS Config rules that evaluate it, and it is noncompliant if it does not comply with one or more of these rules.</p> <p>A rule is compliant if all of the resources that the rule evaluates comply with it, and it is noncompliant if any of these resources do not comply.</p> <p>AWS Config returns the <code>INSUFFICIENT_DATA</code> value when no evaluation results are available for the AWS resource or Config rule.</p> <p>For the <code>Compliance</code> data type, AWS Config supports only <code>COMPLIANT</code>, <code>NON_COMPLIANT</code>, and <code>INSUFFICIENT_DATA</code> values. AWS Config does not support the <code>NOT_APPLICABLE</code> value for the <code>Compliance</code> data type.</p>\n@return Indicates whether an AWS resource or AWS Config rule is compliant.</p> <p>A resource is compliant if it complies with all of the AWS Config rules that evaluate it, and it is noncompliant if it does not comply with one or more of these rules.</p> <p>A rule is compliant if all of the resources that the rule evaluates comply with it, and it is noncompliant if any of these resources do not comply.</p> <p>AWS Config returns the <code>INSUFFICIENT_DATA</code> value when no evaluation results are available for the AWS resource or Config rule.</p> <p>For the <code>Compliance</code> data type, AWS Config supports only <code>COMPLIANT</code>, <code>NON_COMPLIANT</code>, and <code>INSUFFICIENT_DATA</code> values. AWS Config does not support the <code>NOT_APPLICABLE</code> value for the <code>Compliance</code> data type.\n@see ComplianceType*/",
        "getterMethodName" : "getComplianceType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ComplianceType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ComplianceType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ComplianceType",
        "setterDocumentation" : "/**<p>Indicates whether an AWS resource or AWS Config rule is compliant.</p> <p>A resource is compliant if it complies with all of the AWS Config rules that evaluate it, and it is noncompliant if it does not comply with one or more of these rules.</p> <p>A rule is compliant if all of the resources that the rule evaluates comply with it, and it is noncompliant if any of these resources do not comply.</p> <p>AWS Config returns the <code>INSUFFICIENT_DATA</code> value when no evaluation results are available for the AWS resource or Config rule.</p> <p>For the <code>Compliance</code> data type, AWS Config supports only <code>COMPLIANT</code>, <code>NON_COMPLIANT</code>, and <code>INSUFFICIENT_DATA</code> values. AWS Config does not support the <code>NOT_APPLICABLE</code> value for the <code>Compliance</code> data type.</p>\n@param complianceType Indicates whether an AWS resource or AWS Config rule is compliant.</p> <p>A resource is compliant if it complies with all of the AWS Config rules that evaluate it, and it is noncompliant if it does not comply with one or more of these rules.</p> <p>A rule is compliant if all of the resources that the rule evaluates comply with it, and it is noncompliant if any of these resources do not comply.</p> <p>AWS Config returns the <code>INSUFFICIENT_DATA</code> value when no evaluation results are available for the AWS resource or Config rule.</p> <p>For the <code>Compliance</code> data type, AWS Config supports only <code>COMPLIANT</code>, <code>NON_COMPLIANT</code>, and <code>INSUFFICIENT_DATA</code> values. AWS Config does not support the <code>NOT_APPLICABLE</code> value for the <code>Compliance</code> data type.\n@see ComplianceType*/",
        "setterMethodName" : "setComplianceType",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "complianceType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Indicates whether an AWS resource or AWS Config rule is compliant.</p> <p>A resource is compliant if it complies with all of the AWS Config rules that evaluate it, and it is noncompliant if it does not comply with one or more of these rules.</p> <p>A rule is compliant if all of the resources that the rule evaluates comply with it, and it is noncompliant if any of these resources do not comply.</p> <p>AWS Config returns the <code>INSUFFICIENT_DATA</code> value when no evaluation results are available for the AWS resource or Config rule.</p> <p>For the <code>Compliance</code> data type, AWS Config supports only <code>COMPLIANT</code>, <code>NON_COMPLIANT</code>, and <code>INSUFFICIENT_DATA</code> values. AWS Config does not support the <code>NOT_APPLICABLE</code> value for the <code>Compliance</code> data type.</p>\n@param complianceType Indicates whether an AWS resource or AWS Config rule is compliant.</p> <p>A resource is compliant if it complies with all of the AWS Config rules that evaluate it, and it is noncompliant if it does not comply with one or more of these rules.</p> <p>A rule is compliant if all of the resources that the rule evaluates comply with it, and it is noncompliant if any of these resources do not comply.</p> <p>AWS Config returns the <code>INSUFFICIENT_DATA</code> value when no evaluation results are available for the AWS resource or Config rule.</p> <p>For the <code>Compliance</code> data type, AWS Config supports only <code>COMPLIANT</code>, <code>NON_COMPLIANT</code>, and <code>INSUFFICIENT_DATA</code> values. AWS Config does not support the <code>NOT_APPLICABLE</code> value for the <code>Compliance</code> data type.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ComplianceType*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "complianceType",
          "variableType" : "String",
          "documentation" : "<p>Indicates whether an AWS resource or AWS Config rule is compliant.</p> <p>A resource is compliant if it complies with all of the AWS Config rules that evaluate it, and it is noncompliant if it does not comply with one or more of these rules.</p> <p>A rule is compliant if all of the resources that the rule evaluates comply with it, and it is noncompliant if any of these resources do not comply.</p> <p>AWS Config returns the <code>INSUFFICIENT_DATA</code> value when no evaluation results are available for the AWS resource or Config rule.</p> <p>For the <code>Compliance</code> data type, AWS Config supports only <code>COMPLIANT</code>, <code>NON_COMPLIANT</code>, and <code>INSUFFICIENT_DATA</code> values. AWS Config does not support the <code>NOT_APPLICABLE</code> value for the <code>Compliance</code> data type.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ComplianceContributorCount",
        "c2jShape" : "ComplianceContributorCount",
        "deprecated" : false,
        "documentation" : "<p>The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.</p>\n@param complianceContributorCount The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withComplianceContributorCount",
        "getterDocumentation" : "/**<p>The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.</p>\n@return The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.*/",
        "getterMethodName" : "getComplianceContributorCount",
        "getterModel" : {
          "returnType" : "ComplianceContributorCount",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ComplianceContributorCount",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ComplianceContributorCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ComplianceContributorCount",
        "setterDocumentation" : "/**<p>The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.</p>\n@param complianceContributorCount The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.*/",
        "setterMethodName" : "setComplianceContributorCount",
        "setterModel" : {
          "variableDeclarationType" : "ComplianceContributorCount",
          "variableName" : "complianceContributorCount",
          "variableType" : "ComplianceContributorCount",
          "documentation" : "",
          "simpleType" : "ComplianceContributorCount",
          "variableSetterType" : "ComplianceContributorCount"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.</p>\n@param complianceContributorCount The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "ComplianceContributorCount",
          "variableName" : "complianceContributorCount",
          "variableType" : "ComplianceContributorCount",
          "documentation" : "<p>The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.</p>",
          "simpleType" : "ComplianceContributorCount",
          "variableSetterType" : "ComplianceContributorCount"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ComplianceContributorCount" : {
          "c2jName" : "ComplianceContributorCount",
          "c2jShape" : "ComplianceContributorCount",
          "deprecated" : false,
          "documentation" : "<p>The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.</p>\n@param complianceContributorCount The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withComplianceContributorCount",
          "getterDocumentation" : "/**<p>The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.</p>\n@return The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.*/",
          "getterMethodName" : "getComplianceContributorCount",
          "getterModel" : {
            "returnType" : "ComplianceContributorCount",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ComplianceContributorCount",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ComplianceContributorCount",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ComplianceContributorCount",
          "setterDocumentation" : "/**<p>The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.</p>\n@param complianceContributorCount The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.*/",
          "setterMethodName" : "setComplianceContributorCount",
          "setterModel" : {
            "variableDeclarationType" : "ComplianceContributorCount",
            "variableName" : "complianceContributorCount",
            "variableType" : "ComplianceContributorCount",
            "documentation" : "",
            "simpleType" : "ComplianceContributorCount",
            "variableSetterType" : "ComplianceContributorCount"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.</p>\n@param complianceContributorCount The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "ComplianceContributorCount",
            "variableName" : "complianceContributorCount",
            "variableType" : "ComplianceContributorCount",
            "documentation" : "<p>The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.</p>",
            "simpleType" : "ComplianceContributorCount",
            "variableSetterType" : "ComplianceContributorCount"
          },
          "xmlNameSpaceUri" : null
        },
        "ComplianceType" : {
          "c2jName" : "ComplianceType",
          "c2jShape" : "ComplianceType",
          "deprecated" : false,
          "documentation" : "<p>Indicates whether an AWS resource or AWS Config rule is compliant.</p> <p>A resource is compliant if it complies with all of the AWS Config rules that evaluate it, and it is noncompliant if it does not comply with one or more of these rules.</p> <p>A rule is compliant if all of the resources that the rule evaluates comply with it, and it is noncompliant if any of these resources do not comply.</p> <p>AWS Config returns the <code>INSUFFICIENT_DATA</code> value when no evaluation results are available for the AWS resource or Config rule.</p> <p>For the <code>Compliance</code> data type, AWS Config supports only <code>COMPLIANT</code>, <code>NON_COMPLIANT</code>, and <code>INSUFFICIENT_DATA</code> values. AWS Config does not support the <code>NOT_APPLICABLE</code> value for the <code>Compliance</code> data type.</p>",
          "enumType" : "ComplianceType",
          "fluentSetterDocumentation" : "/**<p>Indicates whether an AWS resource or AWS Config rule is compliant.</p> <p>A resource is compliant if it complies with all of the AWS Config rules that evaluate it, and it is noncompliant if it does not comply with one or more of these rules.</p> <p>A rule is compliant if all of the resources that the rule evaluates comply with it, and it is noncompliant if any of these resources do not comply.</p> <p>AWS Config returns the <code>INSUFFICIENT_DATA</code> value when no evaluation results are available for the AWS resource or Config rule.</p> <p>For the <code>Compliance</code> data type, AWS Config supports only <code>COMPLIANT</code>, <code>NON_COMPLIANT</code>, and <code>INSUFFICIENT_DATA</code> values. AWS Config does not support the <code>NOT_APPLICABLE</code> value for the <code>Compliance</code> data type.</p>\n@param complianceType Indicates whether an AWS resource or AWS Config rule is compliant.</p> <p>A resource is compliant if it complies with all of the AWS Config rules that evaluate it, and it is noncompliant if it does not comply with one or more of these rules.</p> <p>A rule is compliant if all of the resources that the rule evaluates comply with it, and it is noncompliant if any of these resources do not comply.</p> <p>AWS Config returns the <code>INSUFFICIENT_DATA</code> value when no evaluation results are available for the AWS resource or Config rule.</p> <p>For the <code>Compliance</code> data type, AWS Config supports only <code>COMPLIANT</code>, <code>NON_COMPLIANT</code>, and <code>INSUFFICIENT_DATA</code> values. AWS Config does not support the <code>NOT_APPLICABLE</code> value for the <code>Compliance</code> data type.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ComplianceType*/",
          "fluentSetterMethodName" : "withComplianceType",
[...]
