{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "Compliance" : [ "ComplianceType" ],
      "ConfigExportDeliveryInfo" : [ "lastStatus" ],
      "ConfigRule" : [ "MaximumExecutionFrequency", "ConfigRuleState" ],
      "ConfigSnapshotDeliveryProperties" : [ "deliveryFrequency" ],
      "ConfigStreamDeliveryInfo" : [ "lastStatus" ],
      "ConfigurationItem" : [ "configurationItemStatus", "resourceType" ],
      "ConfigurationRecorderStatus" : [ "lastStatus" ],
      "Evaluation" : [ "ComplianceType" ],
      "EvaluationResult" : [ "ComplianceType" ],
      "GetResourceConfigHistoryRequest" : [ "resourceType", "chronologicalOrder" ],
      "ListDiscoveredResourcesRequest" : [ "resourceType" ],
      "Relationship" : [ "resourceType" ],
      "ResourceIdentifier" : [ "resourceType" ],
      "Source" : [ "Owner" ],
      "SourceDetail" : [ "EventSource", "MessageType", "MaximumExecutionFrequency" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : {
      "ConfigurationItemStatus" : {
        "exclude" : null,
        "excludeShape" : false,
        "inject" : null,
        "injectEnumValues" : [ "Ok", "Failed", "Discovered", "Deleted" ],
        "modify" : null
      }
    },
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeComplianceByConfigRule" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeComplianceByResource" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeConfigRuleEvaluationStatus" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeConfigRules" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeConfigurationRecorderStatus" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeConfigurationRecorders" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeDeliveryChannelStatus" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeDeliveryChannels" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "GetComplianceSummaryByConfigRule" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "GetComplianceSummaryByResourceType" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2014-11-12",
    "asyncClient" : "AmazonConfigAsyncClient",
    "asyncClientBuilderClassName" : "AmazonConfigAsyncClientBuilder",
    "asyncInterface" : "AmazonConfigAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonConfigModuleInjector",
    "defaultEndpoint" : "config.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "config.us-east-1.amazonaws.com/",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Config</fullname> <p>AWS Config provides a way to keep track of the configurations of all the AWS resources associated with your AWS account. You can use AWS Config to get the current and historical configurations of each AWS resource and also to get information about the relationship between the resources. An AWS resource can be an Amazon Compute Cloud (Amazon EC2) instance, an Elastic Block Store (EBS) volume, an elastic network Interface (ENI), or a security group. For a complete list of resources currently supported by AWS Config, see <a href=\"http://docs.aws.amazon.com/config/latest/developerguide/resource-config-reference.html#supported-resources\">Supported AWS Resources</a>.</p> <p>You can access and manage AWS Config through the AWS Management Console, the AWS Command Line Interface (AWS CLI), the AWS Config API, or the AWS SDKs for AWS Config. This reference guide contains documentation for the AWS Config API and the AWS CLI commands that you can use to manage AWS Config. The AWS Config API uses the Signature Version 4 protocol for signing requests. For more information about how to sign a request with this protocol, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a>. For detailed information about AWS Config features and their associated actions or commands, as well as how to work with AWS Management Console, see <a href=\"http://docs.aws.amazon.com/config/latest/developerguide/WhatIsConfig.html\">What Is AWS Config</a> in the <i>AWS Config Developer Guide</i>.</p>",
    "endpointPrefix" : "config",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.config",
    "packagePath" : "com/amazonaws/services/config",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Config Service",
    "serviceFullName" : "AWS Config",
    "serviceId" : "Config Service",
    "serviceName" : "Config Service",
    "signingName" : "config",
    "smokeTestsPackageName" : "com.amazonaws.services.config.smoketests",
    "syncClient" : "AmazonConfigClient",
    "syncClientBuilderClassName" : "AmazonConfigClientBuilder",
    "syncInterface" : "AmazonConfig",
    "uid" : "config-2014-11-12",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchGetAggregateResourceConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetAggregateResourceConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetAggregateResourceConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetAggregateResourceConfigRequest, BatchGetAggregateResourceConfigResult>",
      "asyncReturnType" : "BatchGetAggregateResourceConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the current configuration items for resources that are present in your AWS Config aggregator. The operation also returns a list of resources that are not processed in the current request. If there are no unprocessed resources, the operation returns an empty <code>unprocessedResourceIdentifiers</code> list. </p> <note> <ul> <li> <p>The API does not return results for deleted resources.</p> </li> <li> <p> The API does not return tags and relationships.</p> </li> </ul> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The requested action is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchConfigurationAggregatorException",
        "documentation" : "<p>You have specified a configuration aggregator that does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetAggregateResourceConfigRequest",
        "variableName" : "batchGetAggregateResourceConfigRequest",
        "variableType" : "BatchGetAggregateResourceConfigRequest",
        "documentation" : "",
        "simpleType" : "BatchGetAggregateResourceConfigRequest",
        "variableSetterType" : "BatchGetAggregateResourceConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetAggregateResourceConfig",
      "operationName" : "BatchGetAggregateResourceConfig",
      "returnType" : {
        "returnType" : "BatchGetAggregateResourceConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetAggregateResourceConfigResult"
    },
    "BatchGetResourceConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetResourceConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetResourceConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetResourceConfigRequest, BatchGetResourceConfigResult>",
      "asyncReturnType" : "BatchGetResourceConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the current configuration for one or more requested resources. The operation also returns a list of resources that are not processed in the current request. If there are no unprocessed resources, the operation returns an empty unprocessedResourceKeys list. </p> <note> <ul> <li> <p>The API does not return results for deleted resources.</p> </li> <li> <p> The API does not return any tags for the requested resources. This information is filtered out of the supplementaryConfiguration section of the API response.</p> </li> </ul> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The requested action is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableConfigurationRecorderException",
        "documentation" : "<p>There are no configuration recorders available to provide the role needed to describe your resources. Create a configuration recorder.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetResourceConfigRequest",
        "variableName" : "batchGetResourceConfigRequest",
        "variableType" : "BatchGetResourceConfigRequest",
        "documentation" : "",
        "simpleType" : "BatchGetResourceConfigRequest",
        "variableSetterType" : "BatchGetResourceConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetResourceConfig",
      "operationName" : "BatchGetResourceConfig",
      "returnType" : {
        "returnType" : "BatchGetResourceConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetResourceConfigResult"
    },
    "DeleteAggregationAuthorization" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAggregationAuthorizationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAggregationAuthorizationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAggregationAuthorizationRequest, DeleteAggregationAuthorizationResult>",
      "asyncReturnType" : "DeleteAggregationAuthorizationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the authorization granted to the specified configuration aggregator account in a specified region.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAggregationAuthorizationRequest",
        "variableName" : "deleteAggregationAuthorizationRequest",
        "variableType" : "DeleteAggregationAuthorizationRequest",
        "documentation" : "",
        "simpleType" : "DeleteAggregationAuthorizationRequest",
        "variableSetterType" : "DeleteAggregationAuthorizationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAggregationAuthorization",
      "operationName" : "DeleteAggregationAuthorization",
      "returnType" : {
        "returnType" : "DeleteAggregationAuthorizationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAggregationAuthorizationResult"
    },
    "DeleteConfigRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfigRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfigRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfigRuleRequest, DeleteConfigRuleResult>",
      "asyncReturnType" : "DeleteConfigRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified AWS Config rule and all of its evaluation results.</p> <p>AWS Config sets the state of a rule to <code>DELETING</code> until the deletion is complete. You cannot update a rule while it is in this state. If you make a <code>PutConfigRule</code> or <code>DeleteConfigRule</code> request for the rule, you will receive a <code>ResourceInUseException</code>.</p> <p>You can check the state of a rule by using the <code>DescribeConfigRules</code> request.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The rule is currently being deleted or the rule is deleting your evaluation results. Try your request again later.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConfigRuleRequest",
        "variableName" : "deleteConfigRuleRequest",
        "variableType" : "DeleteConfigRuleRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteConfigRuleRequest",
        "variableSetterType" : "DeleteConfigRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConfigRule",
      "operationName" : "DeleteConfigRule",
      "returnType" : {
        "returnType" : "DeleteConfigRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConfigRuleResult"
    },
    "DeleteConfigurationAggregator" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfigurationAggregatorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfigurationAggregatorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfigurationAggregatorRequest, DeleteConfigurationAggregatorResult>",
      "asyncReturnType" : "DeleteConfigurationAggregatorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified configuration aggregator and the aggregated data associated with the aggregator.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigurationAggregatorException",
        "documentation" : "<p>You have specified a configuration aggregator that does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConfigurationAggregatorRequest",
        "variableName" : "deleteConfigurationAggregatorRequest",
        "variableType" : "DeleteConfigurationAggregatorRequest",
        "documentation" : "",
        "simpleType" : "DeleteConfigurationAggregatorRequest",
        "variableSetterType" : "DeleteConfigurationAggregatorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConfigurationAggregator",
      "operationName" : "DeleteConfigurationAggregator",
      "returnType" : {
        "returnType" : "DeleteConfigurationAggregatorResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConfigurationAggregatorResult"
    },
    "DeleteConfigurationRecorder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfigurationRecorderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfigurationRecorderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfigurationRecorderRequest, DeleteConfigurationRecorderResult>",
      "asyncReturnType" : "DeleteConfigurationRecorderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the configuration recorder.</p> <p>After the configuration recorder is deleted, AWS Config will not record resource configuration changes until you create a new configuration recorder.</p> <p>This action does not delete the configuration information that was previously recorded. You will be able to access the previously recorded information by using the <code>GetResourceConfigHistory</code> action, but you will not be able to access this information in the AWS Config console until you create a new configuration recorder.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigurationRecorderException",
        "documentation" : "<p>You have specified a configuration recorder that does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConfigurationRecorderRequest",
        "variableName" : "deleteConfigurationRecorderRequest",
        "variableType" : "DeleteConfigurationRecorderRequest",
        "documentation" : "<p>The request object for the <code>DeleteConfigurationRecorder</code> action.</p>",
        "simpleType" : "DeleteConfigurationRecorderRequest",
        "variableSetterType" : "DeleteConfigurationRecorderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConfigurationRecorder",
      "operationName" : "DeleteConfigurationRecorder",
      "returnType" : {
        "returnType" : "DeleteConfigurationRecorderResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConfigurationRecorderResult"
    },
    "DeleteDeliveryChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDeliveryChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDeliveryChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDeliveryChannelRequest, DeleteDeliveryChannelResult>",
      "asyncReturnType" : "DeleteDeliveryChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the delivery channel.</p> <p>Before you can delete the delivery channel, you must stop the configuration recorder by using the <a>StopConfigurationRecorder</a> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NoSuchDeliveryChannelException",
        "documentation" : "<p>You have specified a delivery channel that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LastDeliveryChannelDeleteFailedException",
        "documentation" : "<p>You cannot delete the delivery channel you specified because the configuration recorder is running.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDeliveryChannelRequest",
        "variableName" : "deleteDeliveryChannelRequest",
        "variableType" : "DeleteDeliveryChannelRequest",
        "documentation" : "<p>The input for the <a>DeleteDeliveryChannel</a> action. The action accepts the following data, in JSON format. </p>",
        "simpleType" : "DeleteDeliveryChannelRequest",
        "variableSetterType" : "DeleteDeliveryChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDeliveryChannel",
      "operationName" : "DeleteDeliveryChannel",
      "returnType" : {
        "returnType" : "DeleteDeliveryChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDeliveryChannelResult"
    },
    "DeleteEvaluationResults" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEvaluationResultsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEvaluationResultsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEvaluationResultsRequest, DeleteEvaluationResultsResult>",
      "asyncReturnType" : "DeleteEvaluationResultsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the evaluation results for the specified AWS Config rule. You can specify one AWS Config rule per request. After you delete the evaluation results, you can call the <a>StartConfigRulesEvaluation</a> API to start evaluating your AWS resources against the rule.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The rule is currently being deleted or the rule is deleting your evaluation results. Try your request again later.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEvaluationResultsRequest",
        "variableName" : "deleteEvaluationResultsRequest",
        "variableType" : "DeleteEvaluationResultsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteEvaluationResultsRequest",
        "variableSetterType" : "DeleteEvaluationResultsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEvaluationResults",
      "operationName" : "DeleteEvaluationResults",
      "returnType" : {
        "returnType" : "DeleteEvaluationResultsResult",
        "documentation" : "<p>The output when you delete the evaluation results for the specified AWS Config rule.</p>"
      },
      "syncReturnType" : "DeleteEvaluationResultsResult"
    },
    "DeletePendingAggregationRequest" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePendingAggregationRequestResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePendingAggregationRequestResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePendingAggregationRequestRequest, DeletePendingAggregationRequestResult>",
      "asyncReturnType" : "DeletePendingAggregationRequestResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes pending authorization requests for a specified aggregator account in a specified region.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePendingAggregationRequestRequest",
        "variableName" : "deletePendingAggregationRequestRequest",
        "variableType" : "DeletePendingAggregationRequestRequest",
        "documentation" : "",
        "simpleType" : "DeletePendingAggregationRequestRequest",
        "variableSetterType" : "DeletePendingAggregationRequestRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePendingAggregationRequest",
      "operationName" : "DeletePendingAggregationRequest",
      "returnType" : {
        "returnType" : "DeletePendingAggregationRequestResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePendingAggregationRequestResult"
    },
    "DeleteRetentionConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRetentionConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRetentionConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRetentionConfigurationRequest, DeleteRetentionConfigurationResult>",
      "asyncReturnType" : "DeleteRetentionConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the retention configuration.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchRetentionConfigurationException",
        "documentation" : "<p>You have specified a retention configuration that does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRetentionConfigurationRequest",
        "variableName" : "deleteRetentionConfigurationRequest",
        "variableType" : "DeleteRetentionConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteRetentionConfigurationRequest",
        "variableSetterType" : "DeleteRetentionConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRetentionConfiguration",
      "operationName" : "DeleteRetentionConfiguration",
      "returnType" : {
        "returnType" : "DeleteRetentionConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRetentionConfigurationResult"
    },
    "DeliverConfigSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeliverConfigSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeliverConfigSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeliverConfigSnapshotRequest, DeliverConfigSnapshotResult>",
      "asyncReturnType" : "DeliverConfigSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Schedules delivery of a configuration snapshot to the Amazon S3 bucket in the specified delivery channel. After the delivery has started, AWS Config sends the following notifications using an Amazon SNS topic that you have specified.</p> <ul> <li> <p>Notification of the start of the delivery.</p> </li> <li> <p>Notification of the completion of the delivery, if the delivery was successfully completed.</p> </li> <li> <p>Notification of delivery failure, if the delivery failed.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NoSuchDeliveryChannelException",
        "documentation" : "<p>You have specified a delivery channel that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableConfigurationRecorderException",
        "documentation" : "<p>There are no configuration recorders available to provide the role needed to describe your resources. Create a configuration recorder.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoRunningConfigurationRecorderException",
        "documentation" : "<p>There is no configuration recorder running.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeliverConfigSnapshotRequest",
        "variableName" : "deliverConfigSnapshotRequest",
        "variableType" : "DeliverConfigSnapshotRequest",
        "documentation" : "<p>The input for the <a>DeliverConfigSnapshot</a> action.</p>",
        "simpleType" : "DeliverConfigSnapshotRequest",
        "variableSetterType" : "DeliverConfigSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deliverConfigSnapshot",
      "operationName" : "DeliverConfigSnapshot",
      "returnType" : {
        "returnType" : "DeliverConfigSnapshotResult",
        "documentation" : "<p>The output for the <a>DeliverConfigSnapshot</a> action, in JSON format.</p>"
      },
      "syncReturnType" : "DeliverConfigSnapshotResult"
    },
    "DescribeAggregateComplianceByConfigRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAggregateComplianceByConfigRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAggregateComplianceByConfigRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAggregateComplianceByConfigRulesRequest, DescribeAggregateComplianceByConfigRulesResult>",
      "asyncReturnType" : "DescribeAggregateComplianceByConfigRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of compliant and noncompliant rules with the number of resources for compliant and noncompliant rules. </p> <note> <p>The results can return an empty result page, but if you have a nextToken, the results are displayed on the next page.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The requested action is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLimitException",
        "documentation" : "<p>The specified limit is outside the allowable range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchConfigurationAggregatorException",
        "documentation" : "<p>You have specified a configuration aggregator that does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAggregateComplianceByConfigRulesRequest",
        "variableName" : "describeAggregateComplianceByConfigRulesRequest",
        "variableType" : "DescribeAggregateComplianceByConfigRulesRequest",
        "documentation" : "",
        "simpleType" : "DescribeAggregateComplianceByConfigRulesRequest",
        "variableSetterType" : "DescribeAggregateComplianceByConfigRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAggregateComplianceByConfigRules",
      "operationName" : "DescribeAggregateComplianceByConfigRules",
      "returnType" : {
        "returnType" : "DescribeAggregateComplianceByConfigRulesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAggregateComplianceByConfigRulesResult"
    },
    "DescribeAggregationAuthorizations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAggregationAuthorizationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAggregationAuthorizationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAggregationAuthorizationsRequest, DescribeAggregationAuthorizationsResult>",
      "asyncReturnType" : "DescribeAggregationAuthorizationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of authorizations granted to various aggregator accounts and regions.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLimitException",
        "documentation" : "<p>The specified limit is outside the allowable range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAggregationAuthorizationsRequest",
        "variableName" : "describeAggregationAuthorizationsRequest",
        "variableType" : "DescribeAggregationAuthorizationsRequest",
        "documentation" : "",
        "simpleType" : "DescribeAggregationAuthorizationsRequest",
        "variableSetterType" : "DescribeAggregationAuthorizationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAggregationAuthorizations",
      "operationName" : "DescribeAggregationAuthorizations",
      "returnType" : {
        "returnType" : "DescribeAggregationAuthorizationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAggregationAuthorizationsResult"
    },
    "DescribeComplianceByConfigRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeComplianceByConfigRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeComplianceByConfigRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeComplianceByConfigRuleRequest, DescribeComplianceByConfigRuleResult>",
      "asyncReturnType" : "DescribeComplianceByConfigRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Indicates whether the specified AWS Config rules are compliant. If a rule is noncompliant, this action returns the number of AWS resources that do not comply with the rule.</p> <p>A rule is compliant if all of the evaluated resources comply with it. It is noncompliant if any of these resources do not comply.</p> <p>If AWS Config has no current evaluation results for the rule, it returns <code>INSUFFICIENT_DATA</code>. This result might indicate one of the following conditions:</p> <ul> <li> <p>AWS Config has never invoked an evaluation for the rule. To check whether it has, use the <code>DescribeConfigRuleEvaluationStatus</code> action to get the <code>LastSuccessfulInvocationTime</code> and <code>LastFailedInvocationTime</code>.</p> </li> <li> <p>The rule's AWS Lambda function is failing to send evaluation results to AWS Config. Verify that the role you assigned to your configuration recorder includes the <code>config:PutEvaluations</code> permission. If the rule is a custom rule, verify that the AWS Lambda execution role includes the <code>config:PutEvaluations</code> permission.</p> </li> <li> <p>The rule's AWS Lambda function has returned <code>NOT_APPLICABLE</code> for all evaluation results. This can occur if the resources were deleted or removed from the rule's scope.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeComplianceByConfigRuleRequest",
        "variableName" : "describeComplianceByConfigRuleRequest",
        "variableType" : "DescribeComplianceByConfigRuleRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeComplianceByConfigRuleRequest",
        "variableSetterType" : "DescribeComplianceByConfigRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeComplianceByConfigRule",
      "operationName" : "DescribeComplianceByConfigRule",
      "returnType" : {
        "returnType" : "DescribeComplianceByConfigRuleResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeComplianceByConfigRuleResult"
    },
    "DescribeComplianceByResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeComplianceByResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeComplianceByResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeComplianceByResourceRequest, DescribeComplianceByResourceResult>",
      "asyncReturnType" : "DescribeComplianceByResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Indicates whether the specified AWS resources are compliant. If a resource is noncompliant, this action returns the number of AWS Config rules that the resource does not comply with.</p> <p>A resource is compliant if it complies with all the AWS Config rules that evaluate it. It is noncompliant if it does not comply with one or more of these rules.</p> <p>If AWS Config has no current evaluation results for the resource, it returns <code>INSUFFICIENT_DATA</code>. This result might indicate one of the following conditions about the rules that evaluate the resource:</p> <ul> <li> <p>AWS Config has never invoked an evaluation for the rule. To check whether it has, use the <code>DescribeConfigRuleEvaluationStatus</code> action to get the <code>LastSuccessfulInvocationTime</code> and <code>LastFailedInvocationTime</code>.</p> </li> <li> <p>The rule's AWS Lambda function is failing to send evaluation results to AWS Config. Verify that the role that you assigned to your configuration recorder includes the <code>config:PutEvaluations</code> permission. If the rule is a custom rule, verify that the AWS Lambda execution role includes the <code>config:PutEvaluations</code> permission.</p> </li> <li> <p>The rule's AWS Lambda function has returned <code>NOT_APPLICABLE</code> for all evaluation results. This can occur if the resources were deleted or removed from the rule's scope.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeComplianceByResourceRequest",
        "variableName" : "describeComplianceByResourceRequest",
        "variableType" : "DescribeComplianceByResourceRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeComplianceByResourceRequest",
        "variableSetterType" : "DescribeComplianceByResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeComplianceByResource",
      "operationName" : "DescribeComplianceByResource",
      "returnType" : {
        "returnType" : "DescribeComplianceByResourceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeComplianceByResourceResult"
    },
    "DescribeConfigRuleEvaluationStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigRuleEvaluationStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigRuleEvaluationStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigRuleEvaluationStatusRequest, DescribeConfigRuleEvaluationStatusResult>",
      "asyncReturnType" : "DescribeConfigRuleEvaluationStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns status information for each of your AWS managed Config rules. The status includes information such as the last time AWS Config invoked the rule, the last time AWS Config failed to invoke the rule, and the related error for the last failure.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeConfigRuleEvaluationStatusRequest",
        "variableName" : "describeConfigRuleEvaluationStatusRequest",
        "variableType" : "DescribeConfigRuleEvaluationStatusRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeConfigRuleEvaluationStatusRequest",
        "variableSetterType" : "DescribeConfigRuleEvaluationStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfigRuleEvaluationStatus",
      "operationName" : "DescribeConfigRuleEvaluationStatus",
      "returnType" : {
        "returnType" : "DescribeConfigRuleEvaluationStatusResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeConfigRuleEvaluationStatusResult"
    },
    "DescribeConfigRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigRulesRequest, DescribeConfigRulesResult>",
      "asyncReturnType" : "DescribeConfigRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns details about your AWS Config rules.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeConfigRulesRequest",
        "variableName" : "describeConfigRulesRequest",
        "variableType" : "DescribeConfigRulesRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeConfigRulesRequest",
        "variableSetterType" : "DescribeConfigRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfigRules",
      "operationName" : "DescribeConfigRules",
      "returnType" : {
        "returnType" : "DescribeConfigRulesResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeConfigRulesResult"
    },
    "DescribeConfigurationAggregatorSourcesStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationAggregatorSourcesStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationAggregatorSourcesStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationAggregatorSourcesStatusRequest, DescribeConfigurationAggregatorSourcesStatusResult>",
      "asyncReturnType" : "DescribeConfigurationAggregatorSourcesStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns status information for sources within an aggregator. The status includes information about the last time AWS Config aggregated data from source accounts or AWS Config failed to aggregate data from source accounts with the related error code or message. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchConfigurationAggregatorException",
        "documentation" : "<p>You have specified a configuration aggregator that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLimitException",
        "documentation" : "<p>The specified limit is outside the allowable range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeConfigurationAggregatorSourcesStatusRequest",
        "variableName" : "describeConfigurationAggregatorSourcesStatusRequest",
        "variableType" : "DescribeConfigurationAggregatorSourcesStatusRequest",
        "documentation" : "",
        "simpleType" : "DescribeConfigurationAggregatorSourcesStatusRequest",
        "variableSetterType" : "DescribeConfigurationAggregatorSourcesStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfigurationAggregatorSourcesStatus",
      "operationName" : "DescribeConfigurationAggregatorSourcesStatus",
      "returnType" : {
        "returnType" : "DescribeConfigurationAggregatorSourcesStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeConfigurationAggregatorSourcesStatusResult"
    },
    "DescribeConfigurationAggregators" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationAggregatorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationAggregatorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationAggregatorsRequest, DescribeConfigurationAggregatorsResult>",
      "asyncReturnType" : "DescribeConfigurationAggregatorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details of one or more configuration aggregators. If the configuration aggregator is not specified, this action returns the details for all the configuration aggregators associated with the account. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchConfigurationAggregatorException",
        "documentation" : "<p>You have specified a configuration aggregator that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLimitException",
        "documentation" : "<p>The specified limit is outside the allowable range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeConfigurationAggregatorsRequest",
        "variableName" : "describeConfigurationAggregatorsRequest",
        "variableType" : "DescribeConfigurationAggregatorsRequest",
        "documentation" : "",
        "simpleType" : "DescribeConfigurationAggregatorsRequest",
        "variableSetterType" : "DescribeConfigurationAggregatorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfigurationAggregators",
      "operationName" : "DescribeConfigurationAggregators",
      "returnType" : {
        "returnType" : "DescribeConfigurationAggregatorsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeConfigurationAggregatorsResult"
    },
    "DescribeConfigurationRecorderStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationRecorderStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationRecorderStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationRecorderStatusRequest, DescribeConfigurationRecorderStatusResult>",
      "asyncReturnType" : "DescribeConfigurationRecorderStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the current status of the specified configuration recorder. If a configuration recorder is not specified, this action returns the status of all configuration recorders associated with the account.</p> <note> <p>Currently, you can specify only one configuration recorder per region in your account.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigurationRecorderException",
        "documentation" : "<p>You have specified a configuration recorder that does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeConfigurationRecorderStatusRequest",
        "variableName" : "describeConfigurationRecorderStatusRequest",
        "variableType" : "DescribeConfigurationRecorderStatusRequest",
        "documentation" : "<p>The input for the <a>DescribeConfigurationRecorderStatus</a> action.</p>",
        "simpleType" : "DescribeConfigurationRecorderStatusRequest",
        "variableSetterType" : "DescribeConfigurationRecorderStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfigurationRecorderStatus",
      "operationName" : "DescribeConfigurationRecorderStatus",
      "returnType" : {
        "returnType" : "DescribeConfigurationRecorderStatusResult",
        "documentation" : "<p>The output for the <a>DescribeConfigurationRecorderStatus</a> action, in JSON format.</p>"
      },
      "syncReturnType" : "DescribeConfigurationRecorderStatusResult"
    },
    "DescribeConfigurationRecorders" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationRecordersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationRecordersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationRecordersRequest, DescribeConfigurationRecordersResult>",
      "asyncReturnType" : "DescribeConfigurationRecordersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details for the specified configuration recorders. If the configuration recorder is not specified, this action returns the details for all configuration recorders associated with the account.</p> <note> <p>Currently, you can specify only one configuration recorder per region in your account.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NoSuchConfigurationRecorderException",
        "documentation" : "<p>You have specified a configuration recorder that does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeConfigurationRecordersRequest",
        "variableName" : "describeConfigurationRecordersRequest",
        "variableType" : "DescribeConfigurationRecordersRequest",
        "documentation" : "<p>The input for the <a>DescribeConfigurationRecorders</a> action.</p>",
        "simpleType" : "DescribeConfigurationRecordersRequest",
        "variableSetterType" : "DescribeConfigurationRecordersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfigurationRecorders",
      "operationName" : "DescribeConfigurationRecorders",
      "returnType" : {
        "returnType" : "DescribeConfigurationRecordersResult",
        "documentation" : "<p>The output for the <a>DescribeConfigurationRecorders</a> action.</p>"
      },
      "syncReturnType" : "DescribeConfigurationRecordersResult"
    },
    "DescribeDeliveryChannelStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDeliveryChannelStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDeliveryChannelStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDeliveryChannelStatusRequest, DescribeDeliveryChannelStatusResult>",
      "asyncReturnType" : "DescribeDeliveryChannelStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the current status of the specified delivery channel. If a delivery channel is not specified, this action returns the current status of all delivery channels associated with the account.</p> <note> <p>Currently, you can specify only one delivery channel per region in your account.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NoSuchDeliveryChannelException",
        "documentation" : "<p>You have specified a delivery channel that does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDeliveryChannelStatusRequest",
        "variableName" : "describeDeliveryChannelStatusRequest",
        "variableType" : "DescribeDeliveryChannelStatusRequest",
        "documentation" : "<p>The input for the <a>DeliveryChannelStatus</a> action.</p>",
        "simpleType" : "DescribeDeliveryChannelStatusRequest",
        "variableSetterType" : "DescribeDeliveryChannelStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDeliveryChannelStatus",
      "operationName" : "DescribeDeliveryChannelStatus",
      "returnType" : {
        "returnType" : "DescribeDeliveryChannelStatusResult",
        "documentation" : "<p>The output for the <a>DescribeDeliveryChannelStatus</a> action.</p>"
      },
      "syncReturnType" : "DescribeDeliveryChannelStatusResult"
    },
    "DescribeDeliveryChannels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDeliveryChannelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDeliveryChannelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDeliveryChannelsRequest, DescribeDeliveryChannelsResult>",
      "asyncReturnType" : "DescribeDeliveryChannelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns details about the specified delivery channel. If a delivery channel is not specified, this action returns the details of all delivery channels associated with the account.</p> <note> <p>Currently, you can specify only one delivery channel per region in your account.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NoSuchDeliveryChannelException",
        "documentation" : "<p>You have specified a delivery channel that does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDeliveryChannelsRequest",
        "variableName" : "describeDeliveryChannelsRequest",
        "variableType" : "DescribeDeliveryChannelsRequest",
        "documentation" : "<p>The input for the <a>DescribeDeliveryChannels</a> action.</p>",
        "simpleType" : "DescribeDeliveryChannelsRequest",
        "variableSetterType" : "DescribeDeliveryChannelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDeliveryChannels",
      "operationName" : "DescribeDeliveryChannels",
      "returnType" : {
        "returnType" : "DescribeDeliveryChannelsResult",
        "documentation" : "<p>The output for the <a>DescribeDeliveryChannels</a> action.</p>"
      },
      "syncReturnType" : "DescribeDeliveryChannelsResult"
    },
    "DescribePendingAggregationRequests" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePendingAggregationRequestsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePendingAggregationRequestsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePendingAggregationRequestsRequest, DescribePendingAggregationRequestsResult>",
      "asyncReturnType" : "DescribePendingAggregationRequestsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all pending aggregation requests.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLimitException",
        "documentation" : "<p>The specified limit is outside the allowable range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribePendingAggregationRequestsRequest",
        "variableName" : "describePendingAggregationRequestsRequest",
        "variableType" : "DescribePendingAggregationRequestsRequest",
        "documentation" : "",
        "simpleType" : "DescribePendingAggregationRequestsRequest",
        "variableSetterType" : "DescribePendingAggregationRequestsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePendingAggregationRequests",
      "operationName" : "DescribePendingAggregationRequests",
      "returnType" : {
        "returnType" : "DescribePendingAggregationRequestsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribePendingAggregationRequestsResult"
    },
    "DescribeRetentionConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRetentionConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRetentionConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRetentionConfigurationsRequest, DescribeRetentionConfigurationsResult>",
      "asyncReturnType" : "DescribeRetentionConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details of one or more retention configurations. If the retention configuration name is not specified, this action returns the details for all the retention configurations for that account.</p> <note> <p>Currently, AWS Config supports only one retention configuration per region in your account.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchRetentionConfigurationException",
        "documentation" : "<p>You have specified a retention configuration that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRetentionConfigurationsRequest",
        "variableName" : "describeRetentionConfigurationsRequest",
        "variableType" : "DescribeRetentionConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "DescribeRetentionConfigurationsRequest",
        "variableSetterType" : "DescribeRetentionConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRetentionConfigurations",
      "operationName" : "DescribeRetentionConfigurations",
      "returnType" : {
        "returnType" : "DescribeRetentionConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRetentionConfigurationsResult"
    },
    "GetAggregateComplianceDetailsByConfigRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAggregateComplianceDetailsByConfigRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAggregateComplianceDetailsByConfigRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAggregateComplianceDetailsByConfigRuleRequest, GetAggregateComplianceDetailsByConfigRuleResult>",
      "asyncReturnType" : "GetAggregateComplianceDetailsByConfigRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the evaluation results for the specified AWS Config rule for a specific resource in a rule. The results indicate which AWS resources were evaluated by the rule, when each resource was last evaluated, and whether each resource complies with the rule. </p> <note> <p>The results can return an empty result page. But if you have a nextToken, the results are displayed on the next page.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The requested action is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLimitException",
        "documentation" : "<p>The specified limit is outside the allowable range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchConfigurationAggregatorException",
        "documentation" : "<p>You have specified a configuration aggregator that does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAggregateComplianceDetailsByConfigRuleRequest",
        "variableName" : "getAggregateComplianceDetailsByConfigRuleRequest",
        "variableType" : "GetAggregateComplianceDetailsByConfigRuleRequest",
        "documentation" : "",
        "simpleType" : "GetAggregateComplianceDetailsByConfigRuleRequest",
        "variableSetterType" : "GetAggregateComplianceDetailsByConfigRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAggregateComplianceDetailsByConfigRule",
      "operationName" : "GetAggregateComplianceDetailsByConfigRule",
      "returnType" : {
        "returnType" : "GetAggregateComplianceDetailsByConfigRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAggregateComplianceDetailsByConfigRuleResult"
    },
    "GetAggregateConfigRuleComplianceSummary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAggregateConfigRuleComplianceSummaryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAggregateConfigRuleComplianceSummaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAggregateConfigRuleComplianceSummaryRequest, GetAggregateConfigRuleComplianceSummaryResult>",
      "asyncReturnType" : "GetAggregateConfigRuleComplianceSummaryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the number of compliant and noncompliant rules for one or more accounts and regions in an aggregator.</p> <note> <p>The results can return an empty result page, but if you have a nextToken, the results are displayed on the next page.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The requested action is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLimitException",
        "documentation" : "<p>The specified limit is outside the allowable range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchConfigurationAggregatorException",
        "documentation" : "<p>You have specified a configuration aggregator that does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAggregateConfigRuleComplianceSummaryRequest",
        "variableName" : "getAggregateConfigRuleComplianceSummaryRequest",
        "variableType" : "GetAggregateConfigRuleComplianceSummaryRequest",
        "documentation" : "",
        "simpleType" : "GetAggregateConfigRuleComplianceSummaryRequest",
        "variableSetterType" : "GetAggregateConfigRuleComplianceSummaryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAggregateConfigRuleComplianceSummary",
      "operationName" : "GetAggregateConfigRuleComplianceSummary",
      "returnType" : {
        "returnType" : "GetAggregateConfigRuleComplianceSummaryResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAggregateConfigRuleComplianceSummaryResult"
    },
    "GetAggregateDiscoveredResourceCounts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAggregateDiscoveredResourceCountsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAggregateDiscoveredResourceCountsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAggregateDiscoveredResourceCountsRequest, GetAggregateDiscoveredResourceCountsResult>",
      "asyncReturnType" : "GetAggregateDiscoveredResourceCountsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the resource counts across accounts and regions that are present in your AWS Config aggregator. You can request the resource counts by providing filters and GroupByKey.</p> <p>For example, if the input contains accountID 12345678910 and region us-east-1 in filters, the API returns the count of resources in account ID 12345678910 and region us-east-1. If the input contains ACCOUNT_ID as a GroupByKey, the API returns resource counts for all source accounts that are present in your aggregator.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The requested action is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLimitException",
        "documentation" : "<p>The specified limit is outside the allowable range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchConfigurationAggregatorException",
        "documentation" : "<p>You have specified a configuration aggregator that does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAggregateDiscoveredResourceCountsRequest",
        "variableName" : "getAggregateDiscoveredResourceCountsRequest",
        "variableType" : "GetAggregateDiscoveredResourceCountsRequest",
        "documentation" : "",
        "simpleType" : "GetAggregateDiscoveredResourceCountsRequest",
        "variableSetterType" : "GetAggregateDiscoveredResourceCountsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAggregateDiscoveredResourceCounts",
      "operationName" : "GetAggregateDiscoveredResourceCounts",
      "returnType" : {
        "returnType" : "GetAggregateDiscoveredResourceCountsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAggregateDiscoveredResourceCountsResult"
    },
    "GetAggregateResourceConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAggregateResourceConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAggregateResourceConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAggregateResourceConfigRequest, GetAggregateResourceConfigResult>",
      "asyncReturnType" : "GetAggregateResourceConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns configuration item that is aggregated for your specific resource in a specific source account and region.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The requested action is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchConfigurationAggregatorException",
        "documentation" : "<p>You have specified a configuration aggregator that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OversizedConfigurationItemException",
        "documentation" : "<p>The configuration item size is outside the allowable range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotDiscoveredException",
        "documentation" : "<p>You have specified a resource that is either unknown or has not been discovered.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAggregateResourceConfigRequest",
        "variableName" : "getAggregateResourceConfigRequest",
        "variableType" : "GetAggregateResourceConfigRequest",
        "documentation" : "",
        "simpleType" : "GetAggregateResourceConfigRequest",
        "variableSetterType" : "GetAggregateResourceConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAggregateResourceConfig",
      "operationName" : "GetAggregateResourceConfig",
      "returnType" : {
        "returnType" : "GetAggregateResourceConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAggregateResourceConfigResult"
    },
    "GetComplianceDetailsByConfigRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetComplianceDetailsByConfigRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetComplianceDetailsByConfigRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComplianceDetailsByConfigRuleRequest, GetComplianceDetailsByConfigRuleResult>",
      "asyncReturnType" : "GetComplianceDetailsByConfigRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the evaluation results for the specified AWS Config rule. The results indicate which AWS resources were evaluated by the rule, when each resource was last evaluated, and whether each resource complies with the rule.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchConfigRuleException",
        "documentation" : "<p>One or more AWS Config rules in the request are invalid. Verify that the rule names are correct and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetComplianceDetailsByConfigRuleRequest",
        "variableName" : "getComplianceDetailsByConfigRuleRequest",
        "variableType" : "GetComplianceDetailsByConfigRuleRequest",
        "documentation" : "<p/>",
        "simpleType" : "GetComplianceDetailsByConfigRuleRequest",
        "variableSetterType" : "GetComplianceDetailsByConfigRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getComplianceDetailsByConfigRule",
      "operationName" : "GetComplianceDetailsByConfigRule",
      "returnType" : {
        "returnType" : "GetComplianceDetailsByConfigRuleResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "GetComplianceDetailsByConfigRuleResult"
    },
    "GetComplianceDetailsByResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetComplianceDetailsByResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetComplianceDetailsByResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComplianceDetailsByResourceRequest, GetComplianceDetailsByResourceResult>",
      "asyncReturnType" : "GetComplianceDetailsByResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the evaluation results for the specified AWS resource. The results indicate which AWS Config rules were used to evaluate the resource, when each rule was last used, and whether the resource complies with each rule.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetComplianceDetailsByResourceRequest",
        "variableName" : "getComplianceDetailsByResourceRequest",
        "variableType" : "GetComplianceDetailsByResourceRequest",
        "documentation" : "<p/>",
        "simpleType" : "GetComplianceDetailsByResourceRequest",
        "variableSetterType" : "GetComplianceDetailsByResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getComplianceDetailsByResource",
      "operationName" : "GetComplianceDetailsByResource",
      "returnType" : {
        "returnType" : "GetComplianceDetailsByResourceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "GetComplianceDetailsByResourceResult"
    },
    "GetComplianceSummaryByConfigRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetComplianceSummaryByConfigRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetComplianceSummaryByConfigRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComplianceSummaryByConfigRuleRequest, GetComplianceSummaryByConfigRuleResult>",
      "asyncReturnType" : "GetComplianceSummaryByConfigRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the number of AWS Config rules that are compliant and noncompliant, up to a maximum of 25 for each.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetComplianceSummaryByConfigRuleRequest",
        "variableName" : "getComplianceSummaryByConfigRuleRequest",
        "variableType" : "GetComplianceSummaryByConfigRuleRequest",
        "documentation" : null,
        "simpleType" : "GetComplianceSummaryByConfigRuleRequest",
        "variableSetterType" : "GetComplianceSummaryByConfigRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getComplianceSummaryByConfigRule",
      "operationName" : "GetComplianceSummaryByConfigRule",
      "returnType" : {
        "returnType" : "GetComplianceSummaryByConfigRuleResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "GetComplianceSummaryByConfigRuleResult"
    },
    "GetComplianceSummaryByResourceType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetComplianceSummaryByResourceTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetComplianceSummaryByResourceTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComplianceSummaryByResourceTypeRequest, GetComplianceSummaryByResourceTypeResult>",
      "asyncReturnType" : "GetComplianceSummaryByResourceTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the number of resources that are compliant and the number that are noncompliant. You can specify one or more resource types to get these numbers for each resource type. The maximum number returned is 100.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>One or more of the specified parameters are invalid. Verify that your parameters are valid and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetComplianceSummaryByResourceTypeRequest",
        "variableName" : "getComplianceSummaryByResourceTypeRequest",
        "variableType" : "GetComplianceSummaryByResourceTypeRequest",
        "documentation" : "<p/>",
        "simpleType" : "GetComplianceSummaryByResourceTypeRequest",
        "variableSetterType" : "GetComplianceSummaryByResourceTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getComplianceSummaryByResourceType",
      "operationName" : "GetComplianceSummaryByResourceType",
      "returnType" : {
        "returnType" : "GetComplianceSummaryByResourceTypeResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "GetComplianceSummaryByResourceTypeResult"
    },
    "GetDiscoveredResourceCounts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDiscoveredResourceCountsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDiscoveredResourceCountsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDiscoveredResourceCountsRequest, GetDiscoveredResourceCountsResult>",
      "asyncReturnType" : "GetDiscoveredResourceCountsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the resource types, the number of each resource type, and the total number of resources that AWS Config is recording in this region for your AWS account. </p> <p class=\"title\"> <b>Example</b> </p> <ol> <li> <p>AWS Config is recording three resource types in the US East (Ohio) Region for your account: 25 EC2 instances, 20 IAM users, and 15 S3 buckets.</p> </li> <li> <p>You make a call to the <code>GetDiscoveredResourceCounts</code> action and specify that you want all resource types. </p> </li> <li> <p>AWS Config returns the following:</p> <ul> <li> <p>The resource types (EC2 instances, IAM users, and S3 buckets).</p> </li> <li> <p>The number of each resource type (25, 20, and 15).</p> </li> <li> <p>The total number of all resources (60).</p> </li> </ul> </li> </ol> <p>The response is paginated. By default, AWS Config lists 100 <a>ResourceCount</a> objects on each page. You can customize this number with the <code>limit</code> parameter. The response includes a <code>nextToken</code> string. To get the next page of results, run the request again and specify the string for the <code>nextToken</code> parameter.</p> <note> <p>If you make a call to the <a>GetDiscoveredResourceCounts</a> action, you might not immediately receive resource counts in the following situations:</p> <ul> <li> <p>You are a new AWS Config customer.</p> </li> <li> <p>You just enabled resource recording.</p> </li> </ul> <p>It might take a few minutes for AWS Config to record and count your resources. Wait a few minutes and then retry the <a>GetDiscoveredResourceCounts</a> action. </p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The requested action is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLimitException",
        "documentation" : "<p>The specified limit is outside the allowable range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDiscoveredResourceCountsRequest",
        "variableName" : "getDiscoveredResourceCountsRequest",
        "variableType" : "GetDiscoveredResourceCountsRequest",
        "documentation" : "",
        "simpleType" : "GetDiscoveredResourceCountsRequest",
        "variableSetterType" : "GetDiscoveredResourceCountsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDiscoveredResourceCounts",
      "operationName" : "GetDiscoveredResourceCounts",
      "returnType" : {
        "returnType" : "GetDiscoveredResourceCountsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDiscoveredResourceCountsResult"
    },
    "GetResourceConfigHistory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceConfigHistoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceConfigHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceConfigHistoryRequest, GetResourceConfigHistoryResult>",
      "asyncReturnType" : "GetResourceConfigHistoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of configuration items for the specified resource. The list contains details about each state of the resource during the specified time interval. If you specified a retention period to retain your <code>ConfigurationItems</code> between a minimum of 30 days and a maximum of 7 years (2557 days), AWS Config returns the <code>ConfigurationItems</code> for the specified retention period. </p> <p>The response is paginated. By default, AWS Config returns a limit of 10 configuration items per page. You can customize this number with the <code>limit</code> parameter. The response includes a <code>nextToken</code> string. To get the next page of results, run the request again and specify the string for the <code>nextToken</code> parameter.</p> <note> <p>Each call to the API is limited to span a duration of seven days. It is likely that the number of records returned is smaller than the specified <code>limit</code>. In such cases, you can make another call, using the <code>nextToken</code>.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The requested action is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTimeRangeException",
        "documentation" : "<p>The specified time range is not valid. The earlier time is not chronologically before the later time.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLimitException",
        "documentation" : "<p>The specified limit is outside the allowable range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableConfigurationRecorderException",
        "documentation" : "<p>There are no configuration recorders available to provide the role needed to describe your resources. Create a configuration recorder.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotDiscoveredException",
        "documentation" : "<p>You have specified a resource that is either unknown or has not been discovered.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourceConfigHistoryRequest",
        "variableName" : "getResourceConfigHistoryRequest",
        "variableType" : "GetResourceConfigHistoryRequest",
        "documentation" : "<p>The input for the <a>GetResourceConfigHistory</a> action.</p>",
        "simpleType" : "GetResourceConfigHistoryRequest",
        "variableSetterType" : "GetResourceConfigHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceConfigHistory",
      "operationName" : "GetResourceConfigHistory",
      "returnType" : {
        "returnType" : "GetResourceConfigHistoryResult",
        "documentation" : "<p>The output for the <a>GetResourceConfigHistory</a> action.</p>"
      },
      "syncReturnType" : "GetResourceConfigHistoryResult"
    },
    "ListAggregateDiscoveredResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAggregateDiscoveredResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAggregateDiscoveredResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAggregateDiscoveredResourcesRequest, ListAggregateDiscoveredResourcesResult>",
      "asyncReturnType" : "ListAggregateDiscoveredResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Accepts a resource type and returns a list of resource identifiers that are aggregated for a specific resource type across accounts and regions. A resource identifier includes the resource type, ID, (if available) the custom resource name, source account, and source region. You can narrow the results to include only resources that have specific resource IDs, or a resource name, or source account ID, or source region.</p> <p>For example, if the input consists of accountID 12345678910 and the region is us-east-1 for resource type <code>AWS::EC2::Instance</code> then the API returns all the EC2 instance identifiers of accountID 12345678910 and region us-east-1.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The requested action is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLimitException",
        "documentation" : "<p>The specified limit is outside the allowable range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchConfigurationAggregatorException",
        "documentation" : "<p>You have specified a configuration aggregator that does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAggregateDiscoveredResourcesRequest",
        "variableName" : "listAggregateDiscoveredResourcesRequest",
        "variableType" : "ListAggregateDiscoveredResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListAggregateDiscoveredResourcesRequest",
        "variableSetterType" : "ListAggregateDiscoveredResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAggregateDiscoveredResources",
      "operationName" : "ListAggregateDiscoveredResources",
      "returnType" : {
        "returnType" : "ListAggregateDiscoveredResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAggregateDiscoveredResourcesResult"
    },
    "ListDiscoveredResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDiscoveredResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDiscoveredResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDiscoveredResourcesRequest, ListDiscoveredResourcesResult>",
      "asyncReturnType" : "ListDiscoveredResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Accepts a resource type and returns a list of resource identifiers for the resources of that type. A resource identifier includes the resource type, ID, and (if available) the custom resource name. The results consist of resources that AWS Config has discovered, including those that AWS Config is not currently recording. You can narrow the results to include only resources that have specific resource IDs or a resource name.</p> <note> <p>You can specify either resource IDs or a resource name, but not both, in the same request.</p> </note> <p>The response is paginated. By default, AWS Config lists 100 resource identifiers on each page. You can customize this number with the <code>limit</code> parameter. The response includes a <code>nextToken</code> string. To get the next page of results, run the request again and specify the string for the <code>nextToken</code> parameter.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The requested action is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLimitException",
        "documentation" : "<p>The specified limit is outside the allowable range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoAvailableConfigurationRecorderException",
        "documentation" : "<p>There are no configuration recorders available to provide the role needed to describe your resources. Create a configuration recorder.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDiscoveredResourcesRequest",
        "variableName" : "listDiscoveredResourcesRequest",
        "variableType" : "ListDiscoveredResourcesRequest",
        "documentation" : "<p/>",
        "simpleType" : "ListDiscoveredResourcesRequest",
        "variableSetterType" : "ListDiscoveredResourcesRequest"
      },
[...]
