{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2022-10-03",
    "asyncClient" : "AmazonConnectCasesAsyncClient",
    "asyncClientBuilderClassName" : "AmazonConnectCasesAsyncClientBuilder",
    "asyncInterface" : "AmazonConnectCasesAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonConnectCasesModuleInjector",
    "defaultEndpoint" : "cases.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "cases.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>With Amazon Connect Cases, your agents can track and manage customer issues that require multiple interactions, follow-up tasks, and teams in your contact center. A case represents a customer issue. It records the issue, the steps and interactions taken to resolve the issue, and the outcome. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/cases.html\">Amazon Connect Cases</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
    "endpointPrefix" : "cases",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.connectcases",
    "packagePath" : "com/amazonaws/services/connectcases",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "ConnectCases",
    "serviceFullName" : "Amazon Connect Cases",
    "serviceId" : "ConnectCases",
    "serviceName" : "ConnectCases",
    "signingName" : "cases",
    "smokeTestsPackageName" : "com.amazonaws.services.connectcases.smoketests",
    "syncClient" : "AmazonConnectCasesClient",
    "syncClientBuilderClassName" : "AmazonConnectCasesClientBuilder",
    "syncInterface" : "AmazonConnectCases",
    "uid" : "connectcases-2022-10-03",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchGetField" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetFieldResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetFieldResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetFieldRequest, BatchGetFieldResult>",
      "asyncReturnType" : "BatchGetFieldResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the description for the list of fields in the request parameters. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetFieldRequest",
        "variableName" : "batchGetFieldRequest",
        "variableType" : "BatchGetFieldRequest",
        "documentation" : "",
        "simpleType" : "BatchGetFieldRequest",
        "variableSetterType" : "BatchGetFieldRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetField",
      "operationName" : "BatchGetField",
      "returnType" : {
        "returnType" : "BatchGetFieldResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetFieldResult"
    },
    "BatchPutFieldOptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchPutFieldOptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchPutFieldOptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchPutFieldOptionsRequest, BatchPutFieldOptionsResult>",
      "asyncReturnType" : "BatchPutFieldOptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates and updates a set of field options for a single select field in a Cases domain.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded. For a list of service quotas, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html\">Amazon Connect Service Quotas</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchPutFieldOptionsRequest",
        "variableName" : "batchPutFieldOptionsRequest",
        "variableType" : "BatchPutFieldOptionsRequest",
        "documentation" : "",
        "simpleType" : "BatchPutFieldOptionsRequest",
        "variableSetterType" : "BatchPutFieldOptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchPutFieldOptions",
      "operationName" : "BatchPutFieldOptions",
      "returnType" : {
        "returnType" : "BatchPutFieldOptionsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchPutFieldOptionsResult"
    },
    "CreateCase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCaseRequest, CreateCaseResult>",
      "asyncReturnType" : "CreateCaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>If you provide a value for <code>PerformedBy.UserArn</code> you must also have <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_DescribeUser.html\">connect:DescribeUser</a> permission on the User ARN resource that you provide</p> </note> <pre><code> &lt;p&gt;Creates a case in the specified Cases domain. Case system and custom fields are taken as an array id/value pairs with a declared data types.&lt;/p&gt; &lt;p&gt;The following fields are required when creating a case:&lt;/p&gt; &lt;ul&gt; &lt;li&gt; &lt;p&gt; &lt;code&gt;customer_id&lt;/code&gt; - You must provide the full customer profile ARN in this format: &lt;code&gt;arn:aws:profile:your_AWS_Region:your_AWS_account ID:domains/your_profiles_domain_name/profiles/profile_ID&lt;/code&gt; &lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;code&gt;title&lt;/code&gt; &lt;/p&gt; &lt;/li&gt; &lt;/ul&gt; </code></pre>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. See the accompanying error message for details.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCaseRequest",
        "variableName" : "createCaseRequest",
        "variableType" : "CreateCaseRequest",
        "documentation" : "",
        "simpleType" : "CreateCaseRequest",
        "variableSetterType" : "CreateCaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCase",
      "operationName" : "CreateCase",
      "returnType" : {
        "returnType" : "CreateCaseResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateCaseResult"
    },
    "CreateDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDomainRequest, CreateDomainResult>",
      "asyncReturnType" : "CreateDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a domain, which is a container for all case data, such as cases, fields, templates and layouts. Each Amazon Connect instance can be associated with only one Cases domain.</p> <important> <p>This will not associate your connect instance to Cases domain. Instead, use the Amazon Connect <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_CreateIntegrationAssociation.html\">CreateIntegrationAssociation</a> API. You need specific IAM permissions to successfully associate the Cases domain. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/required-permissions-iam-cases.html#onboard-cases-iam\">Onboard to Cases</a>.</p> <pre><code> &lt;/important&gt; </code></pre>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. See the accompanying error message for details.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded. For a list of service quotas, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html\">Amazon Connect Service Quotas</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDomainRequest",
        "variableName" : "createDomainRequest",
        "variableType" : "CreateDomainRequest",
        "documentation" : "",
        "simpleType" : "CreateDomainRequest",
        "variableSetterType" : "CreateDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDomain",
      "operationName" : "CreateDomain",
      "returnType" : {
        "returnType" : "CreateDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDomainResult"
    },
    "CreateField" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFieldResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFieldResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFieldRequest, CreateFieldResult>",
      "asyncReturnType" : "CreateFieldResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a field in the Cases domain. This field is used to define the case object model (that is, defines what data can be captured on cases) in a Cases domain. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. See the accompanying error message for details.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded. For a list of service quotas, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html\">Amazon Connect Service Quotas</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFieldRequest",
        "variableName" : "createFieldRequest",
        "variableType" : "CreateFieldRequest",
        "documentation" : "",
        "simpleType" : "CreateFieldRequest",
        "variableSetterType" : "CreateFieldRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createField",
      "operationName" : "CreateField",
      "returnType" : {
        "returnType" : "CreateFieldResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFieldResult"
    },
    "CreateLayout" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLayoutResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLayoutResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLayoutRequest, CreateLayoutResult>",
      "asyncReturnType" : "CreateLayoutResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a layout in the Cases domain. Layouts define the following configuration in the top section and More Info tab of the Cases user interface:</p> <ul> <li> <p>Fields to display to the users</p> </li> <li> <p>Field ordering</p> </li> </ul> <note> <p>Title and Status fields cannot be part of layouts since they are not configurable.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. See the accompanying error message for details.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded. For a list of service quotas, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html\">Amazon Connect Service Quotas</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLayoutRequest",
        "variableName" : "createLayoutRequest",
        "variableType" : "CreateLayoutRequest",
        "documentation" : "",
        "simpleType" : "CreateLayoutRequest",
        "variableSetterType" : "CreateLayoutRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLayout",
      "operationName" : "CreateLayout",
      "returnType" : {
        "returnType" : "CreateLayoutResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLayoutResult"
    },
    "CreateRelatedItem" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRelatedItemResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRelatedItemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRelatedItemRequest, CreateRelatedItemResult>",
      "asyncReturnType" : "CreateRelatedItemResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a related item (comments, tasks, and contacts) and associates it with a case.</p> <note> <ul> <li> <p>A Related Item is a resource that is associated with a case. It may or may not have an external identifier linking it to an external resource (for example, a <code>contactArn</code>). All Related Items have their own internal identifier, the <code>relatedItemArn</code>. Examples of related items include <code>comments</code> and <code>contacts</code>.</p> </li> <li> <p>If you provide a value for <code>performedBy.userArn</code> you must also have <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_DescribeUser.html\">DescribeUser</a> permission on the ARN of the user that you provide.</p> </li> </ul> <pre><code> &lt;/note&gt; </code></pre>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded. For a list of service quotas, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html\">Amazon Connect Service Quotas</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRelatedItemRequest",
        "variableName" : "createRelatedItemRequest",
        "variableType" : "CreateRelatedItemRequest",
        "documentation" : "",
        "simpleType" : "CreateRelatedItemRequest",
        "variableSetterType" : "CreateRelatedItemRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRelatedItem",
      "operationName" : "CreateRelatedItem",
      "returnType" : {
        "returnType" : "CreateRelatedItemResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRelatedItemResult"
    },
    "CreateTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTemplateRequest, CreateTemplateResult>",
      "asyncReturnType" : "CreateTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a template in the Cases domain. This template is used to define the case object model (that is, to define what data can be captured on cases) in a Cases domain. A template must have a unique name within a domain, and it must reference existing field IDs and layout IDs. Additionally, multiple fields with same IDs are not allowed within the same Template. A template can be either Active or Inactive, as indicated by its status. Inactive templates cannot be used to create cases.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. See the accompanying error message for details.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded. For a list of service quotas, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html\">Amazon Connect Service Quotas</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTemplateRequest",
        "variableName" : "createTemplateRequest",
        "variableType" : "CreateTemplateRequest",
        "documentation" : "",
        "simpleType" : "CreateTemplateRequest",
        "variableSetterType" : "CreateTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTemplate",
      "operationName" : "CreateTemplate",
      "returnType" : {
        "returnType" : "CreateTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTemplateResult"
    },
    "DeleteDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDomainRequest, DeleteDomainResult>",
      "asyncReturnType" : "DeleteDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a Cases domain.</p> <pre><code> &lt;note&gt; &lt;p&gt;After deleting your domain you must disassociate the deleted domain from your Amazon Connect instance with another API call before being able to use Cases again with this Amazon Connect instance. See &lt;a href=&quot;https://docs.aws.amazon.com/connect/latest/APIReference/API_DeleteIntegrationAssociation.html&quot;&gt;DeleteIntegrationAssociation&lt;/a&gt;.&lt;/p&gt; &lt;/note&gt; </code></pre>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. See the accompanying error message for details.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDomainRequest",
        "variableName" : "deleteDomainRequest",
        "variableType" : "DeleteDomainRequest",
        "documentation" : "",
        "simpleType" : "DeleteDomainRequest",
        "variableSetterType" : "DeleteDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDomain",
      "operationName" : "DeleteDomain",
      "returnType" : {
        "returnType" : "DeleteDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDomainResult"
    },
    "DeleteField" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFieldResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFieldResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFieldRequest, DeleteFieldResult>",
      "asyncReturnType" : "DeleteFieldResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a field from a cases template. You can delete up to 100 fields per domain.</p> <p>After a field is deleted:</p> <ul> <li> <p>You can still retrieve the field by calling <code>BatchGetField</code>.</p> </li> <li> <p>You cannot update a deleted field by calling <code>UpdateField</code>; it throws a <code>ValidationException</code>.</p> </li> <li> <p>Deleted fields are not included in the <code>ListFields</code> response.</p> </li> <li> <p>Calling <code>CreateCase</code> with a deleted field throws a <code>ValidationException</code> denoting which field IDs in the request have been deleted.</p> </li> <li> <p>Calling <code>GetCase</code> with a deleted field ID returns the deleted field's value if one exists.</p> </li> <li> <p>Calling <code>UpdateCase</code> with a deleted field ID throws a <code>ValidationException</code> if the case does not already contain a value for the deleted field. Otherwise it succeeds, allowing you to update or remove (using <code>emptyValue: {}</code>) the field's value from the case.</p> </li> <li> <p> <code>GetTemplate</code> does not return field IDs for deleted fields.</p> </li> <li> <p> <code>GetLayout</code> does not return field IDs for deleted fields.</p> </li> <li> <p>Calling <code>SearchCases</code> with the deleted field ID as a filter returns any cases that have a value for the deleted field that matches the filter criteria.</p> </li> <li> <p>Calling <code>SearchCases</code> with a <code>searchTerm</code> value that matches a deleted field's value on a case returns the case in the response.</p> </li> <li> <p>Calling <code>BatchPutFieldOptions</code> with a deleted field ID throw a <code>ValidationException</code>.</p> </li> <li> <p>Calling <code>GetCaseEventConfiguration</code> does not return field IDs for deleted fields.</p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. See the accompanying error message for details.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded. For a list of service quotas, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html\">Amazon Connect Service Quotas</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFieldRequest",
        "variableName" : "deleteFieldRequest",
        "variableType" : "DeleteFieldRequest",
        "documentation" : "",
        "simpleType" : "DeleteFieldRequest",
        "variableSetterType" : "DeleteFieldRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteField",
      "operationName" : "DeleteField",
      "returnType" : {
        "returnType" : "DeleteFieldResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFieldResult"
    },
    "DeleteLayout" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLayoutResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLayoutResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLayoutRequest, DeleteLayoutResult>",
      "asyncReturnType" : "DeleteLayoutResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a layout from a cases template. You can delete up to 100 layouts per domain.</p> <pre><code> &lt;p&gt;After a layout is deleted:&lt;/p&gt; &lt;ul&gt; &lt;li&gt; &lt;p&gt;You can still retrieve the layout by calling &lt;code&gt;GetLayout&lt;/code&gt;.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt;You cannot update a deleted layout by calling &lt;code&gt;UpdateLayout&lt;/code&gt;; it throws a &lt;code&gt;ValidationException&lt;/code&gt;.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt;Deleted layouts are not included in the &lt;code&gt;ListLayouts&lt;/code&gt; response.&lt;/p&gt; &lt;/li&gt; &lt;/ul&gt; </code></pre>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. See the accompanying error message for details.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLayoutRequest",
        "variableName" : "deleteLayoutRequest",
        "variableType" : "DeleteLayoutRequest",
        "documentation" : "",
        "simpleType" : "DeleteLayoutRequest",
        "variableSetterType" : "DeleteLayoutRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLayout",
      "operationName" : "DeleteLayout",
      "returnType" : {
        "returnType" : "DeleteLayoutResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLayoutResult"
    },
    "DeleteTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTemplateRequest, DeleteTemplateResult>",
      "asyncReturnType" : "DeleteTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a cases template. You can delete up to 100 templates per domain.</p> <pre><code> &lt;p&gt;After a cases template is deleted:&lt;/p&gt; &lt;ul&gt; &lt;li&gt; &lt;p&gt;You can still retrieve the template by calling &lt;code&gt;GetTemplate&lt;/code&gt;.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt;You cannot update the template. &lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt;You cannot create a case by using the deleted template.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt;Deleted templates are not included in the &lt;code&gt;ListTemplates&lt;/code&gt; response.&lt;/p&gt; &lt;/li&gt; &lt;/ul&gt; </code></pre>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. See the accompanying error message for details.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTemplateRequest",
        "variableName" : "deleteTemplateRequest",
        "variableType" : "DeleteTemplateRequest",
        "documentation" : "",
        "simpleType" : "DeleteTemplateRequest",
        "variableSetterType" : "DeleteTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTemplate",
      "operationName" : "DeleteTemplate",
      "returnType" : {
        "returnType" : "DeleteTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTemplateResult"
    },
    "GetCase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCaseRequest, GetCaseResult>",
      "asyncReturnType" : "GetCaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific case if it exists. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCaseRequest",
        "variableName" : "getCaseRequest",
        "variableType" : "GetCaseRequest",
        "documentation" : "",
        "simpleType" : "GetCaseRequest",
        "variableSetterType" : "GetCaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCase",
      "operationName" : "GetCase",
      "returnType" : {
        "returnType" : "GetCaseResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCaseResult"
    },
    "GetCaseAuditEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCaseAuditEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCaseAuditEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCaseAuditEventsRequest, GetCaseAuditEventsResult>",
      "asyncReturnType" : "GetCaseAuditEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the audit history about a specific case if it exists.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCaseAuditEventsRequest",
        "variableName" : "getCaseAuditEventsRequest",
        "variableType" : "GetCaseAuditEventsRequest",
        "documentation" : "",
        "simpleType" : "GetCaseAuditEventsRequest",
        "variableSetterType" : "GetCaseAuditEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCaseAuditEvents",
      "operationName" : "GetCaseAuditEvents",
      "returnType" : {
        "returnType" : "GetCaseAuditEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCaseAuditEventsResult"
    },
    "GetCaseEventConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCaseEventConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCaseEventConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCaseEventConfigurationRequest, GetCaseEventConfigurationResult>",
      "asyncReturnType" : "GetCaseEventConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the case event publishing configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCaseEventConfigurationRequest",
        "variableName" : "getCaseEventConfigurationRequest",
        "variableType" : "GetCaseEventConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetCaseEventConfigurationRequest",
        "variableSetterType" : "GetCaseEventConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCaseEventConfiguration",
      "operationName" : "GetCaseEventConfiguration",
      "returnType" : {
        "returnType" : "GetCaseEventConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCaseEventConfigurationResult"
    },
    "GetDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDomainRequest, GetDomainResult>",
      "asyncReturnType" : "GetDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific domain if it exists. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDomainRequest",
        "variableName" : "getDomainRequest",
        "variableType" : "GetDomainRequest",
        "documentation" : "",
        "simpleType" : "GetDomainRequest",
        "variableSetterType" : "GetDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDomain",
      "operationName" : "GetDomain",
      "returnType" : {
        "returnType" : "GetDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDomainResult"
    },
    "GetLayout" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLayoutResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLayoutResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLayoutRequest, GetLayoutResult>",
      "asyncReturnType" : "GetLayoutResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details for the requested layout.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLayoutRequest",
        "variableName" : "getLayoutRequest",
        "variableType" : "GetLayoutRequest",
        "documentation" : "",
        "simpleType" : "GetLayoutRequest",
        "variableSetterType" : "GetLayoutRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLayout",
      "operationName" : "GetLayout",
      "returnType" : {
        "returnType" : "GetLayoutResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLayoutResult"
    },
    "GetTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTemplateRequest, GetTemplateResult>",
      "asyncReturnType" : "GetTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details for the requested template. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetTemplateRequest",
        "variableName" : "getTemplateRequest",
        "variableType" : "GetTemplateRequest",
        "documentation" : "",
        "simpleType" : "GetTemplateRequest",
        "variableSetterType" : "GetTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTemplate",
      "operationName" : "GetTemplate",
      "returnType" : {
        "returnType" : "GetTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTemplateResult"
    },
    "ListCasesForContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCasesForContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCasesForContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCasesForContactRequest, ListCasesForContactResult>",
      "asyncReturnType" : "ListCasesForContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists cases for a given contact.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCasesForContactRequest",
        "variableName" : "listCasesForContactRequest",
        "variableType" : "ListCasesForContactRequest",
        "documentation" : "",
        "simpleType" : "ListCasesForContactRequest",
        "variableSetterType" : "ListCasesForContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCasesForContact",
      "operationName" : "ListCasesForContact",
      "returnType" : {
        "returnType" : "ListCasesForContactResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCasesForContactResult"
    },
    "ListDomains" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDomainsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDomainsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDomainsRequest, ListDomainsResult>",
      "asyncReturnType" : "ListDomainsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all cases domains in the Amazon Web Services account. Each list item is a condensed summary object of the domain.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDomainsRequest",
        "variableName" : "listDomainsRequest",
        "variableType" : "ListDomainsRequest",
        "documentation" : "",
        "simpleType" : "ListDomainsRequest",
        "variableSetterType" : "ListDomainsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDomains",
      "operationName" : "ListDomains",
      "returnType" : {
        "returnType" : "ListDomainsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDomainsResult"
    },
    "ListFieldOptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFieldOptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFieldOptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFieldOptionsRequest, ListFieldOptionsResult>",
      "asyncReturnType" : "ListFieldOptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the field options for a field identifier in the domain. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFieldOptionsRequest",
        "variableName" : "listFieldOptionsRequest",
        "variableType" : "ListFieldOptionsRequest",
        "documentation" : "",
        "simpleType" : "ListFieldOptionsRequest",
        "variableSetterType" : "ListFieldOptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFieldOptions",
      "operationName" : "ListFieldOptions",
      "returnType" : {
        "returnType" : "ListFieldOptionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFieldOptionsResult"
    },
    "ListFields" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFieldsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFieldsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFieldsRequest, ListFieldsResult>",
      "asyncReturnType" : "ListFieldsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all fields in a Cases domain.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFieldsRequest",
        "variableName" : "listFieldsRequest",
        "variableType" : "ListFieldsRequest",
        "documentation" : "",
        "simpleType" : "ListFieldsRequest",
        "variableSetterType" : "ListFieldsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFields",
      "operationName" : "ListFields",
      "returnType" : {
        "returnType" : "ListFieldsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFieldsResult"
    },
    "ListLayouts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLayoutsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLayoutsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLayoutsRequest, ListLayoutsResult>",
      "asyncReturnType" : "ListLayoutsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all layouts in the given cases domain. Each list item is a condensed summary object of the layout.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLayoutsRequest",
        "variableName" : "listLayoutsRequest",
        "variableType" : "ListLayoutsRequest",
        "documentation" : "",
        "simpleType" : "ListLayoutsRequest",
        "variableSetterType" : "ListLayoutsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLayouts",
      "operationName" : "ListLayouts",
      "returnType" : {
        "returnType" : "ListLayoutsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLayoutsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists tags for a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListTemplates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTemplatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTemplatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTemplatesRequest, ListTemplatesResult>",
      "asyncReturnType" : "ListTemplatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the templates in a Cases domain. Each list item is a condensed summary object of the template. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTemplatesRequest",
        "variableName" : "listTemplatesRequest",
        "variableType" : "ListTemplatesRequest",
        "documentation" : "",
        "simpleType" : "ListTemplatesRequest",
        "variableSetterType" : "ListTemplatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTemplates",
      "operationName" : "ListTemplates",
      "returnType" : {
        "returnType" : "ListTemplatesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTemplatesResult"
    },
    "PutCaseEventConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutCaseEventConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutCaseEventConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutCaseEventConfigurationRequest, PutCaseEventConfigurationResult>",
      "asyncReturnType" : "PutCaseEventConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds case event publishing configuration. For a complete list of fields you can add to the event message, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-fields.html\">Create case fields</a> in the <i>Amazon Connect Administrator Guide</i> </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutCaseEventConfigurationRequest",
        "variableName" : "putCaseEventConfigurationRequest",
        "variableType" : "PutCaseEventConfigurationRequest",
        "documentation" : "",
        "simpleType" : "PutCaseEventConfigurationRequest",
        "variableSetterType" : "PutCaseEventConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putCaseEventConfiguration",
      "operationName" : "PutCaseEventConfiguration",
      "returnType" : {
        "returnType" : "PutCaseEventConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutCaseEventConfigurationResult"
    },
    "SearchCases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchCasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchCasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchCasesRequest, SearchCasesResult>",
      "asyncReturnType" : "SearchCasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches for cases within their associated Cases domain. Search results are returned as a paginated list of abridged case documents.</p> <note> <p>For <code>customer_id</code> you must provide the full customer profile ARN in this format: <code> arn:aws:profile:your AWS Region:your AWS account ID:domains/profiles domain name/profiles/profile ID</code>. </p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchCasesRequest",
        "variableName" : "searchCasesRequest",
        "variableType" : "SearchCasesRequest",
        "documentation" : "",
        "simpleType" : "SearchCasesRequest",
        "variableSetterType" : "SearchCasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchCases",
      "operationName" : "SearchCases",
      "returnType" : {
        "returnType" : "SearchCasesResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchCasesResult"
    },
    "SearchRelatedItems" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchRelatedItemsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchRelatedItemsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchRelatedItemsRequest, SearchRelatedItemsResult>",
      "asyncReturnType" : "SearchRelatedItemsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches for related items that are associated with a case.</p> <note> <p>If no filters are provided, this returns all related items associated with a case.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchRelatedItemsRequest",
        "variableName" : "searchRelatedItemsRequest",
        "variableType" : "SearchRelatedItemsRequest",
        "documentation" : "",
        "simpleType" : "SearchRelatedItemsRequest",
        "variableSetterType" : "SearchRelatedItemsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchRelatedItems",
      "operationName" : "SearchRelatedItems",
      "returnType" : {
        "returnType" : "SearchRelatedItemsResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchRelatedItemsResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds tags to a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Untags a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateCase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateCaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateCaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateCaseRequest, UpdateCaseResult>",
      "asyncReturnType" : "UpdateCaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<note> <p>If you provide a value for <code>PerformedBy.UserArn</code> you must also have <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_DescribeUser.html\">connect:DescribeUser</a> permission on the User ARN resource that you provide</p> </note> <pre><code> &lt;p&gt;Updates the values of fields on a case. Fields to be updated are received as an array of id/value pairs identical to the &lt;code&gt;CreateCase&lt;/code&gt; input .&lt;/p&gt; &lt;p&gt;If the action is successful, the service sends back an HTTP 200 response with an empty HTTP body.&lt;/p&gt; </code></pre>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateCaseRequest",
        "variableName" : "updateCaseRequest",
        "variableType" : "UpdateCaseRequest",
        "documentation" : "",
        "simpleType" : "UpdateCaseRequest",
        "variableSetterType" : "UpdateCaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCase",
      "operationName" : "UpdateCase",
      "returnType" : {
        "returnType" : "UpdateCaseResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateCaseResult"
    },
    "UpdateField" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFieldResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFieldResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFieldRequest, UpdateFieldResult>",
      "asyncReturnType" : "UpdateFieldResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the properties of an existing field. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. See the accompanying error message for details.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFieldRequest",
        "variableName" : "updateFieldRequest",
        "variableType" : "UpdateFieldRequest",
        "documentation" : "",
        "simpleType" : "UpdateFieldRequest",
        "variableSetterType" : "UpdateFieldRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateField",
      "operationName" : "UpdateField",
      "returnType" : {
        "returnType" : "UpdateFieldResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFieldResult"
    },
    "UpdateLayout" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLayoutResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLayoutResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLayoutRequest, UpdateLayoutResult>",
      "asyncReturnType" : "UpdateLayoutResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the attributes of an existing layout.</p> <p>If the action is successful, the service sends back an HTTP 200 response with an empty HTTP body.</p> <p>A <code>ValidationException</code> is returned when you add non-existent <code>fieldIds</code> to a layout.</p> <note> <p>Title and Status fields cannot be part of layouts because they are not configurable.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>We couldn't process your request because of an issue with the server. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created in the same Amazon Web Services Region as your request, and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. Check the syntax and try again.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate has been exceeded for this API. Please try again after a few minutes.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. See the accompanying error message for details.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The service quota has been exceeded. For a list of service quotas, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html\">Amazon Connect Service Quotas</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLayoutRequest",
        "variableName" : "updateLayoutRequest",
        "variableType" : "UpdateLayoutRequest",
        "documentation" : "",
        "simpleType" : "UpdateLayoutRequest",
        "variableSetterType" : "UpdateLayoutRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLayout",
      "operationName" : "UpdateLayout",
      "returnType" : {
        "returnType" : "UpdateLayoutResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateLayoutResult"
    },
    "UpdateTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTemplateResult>",
[...]
