{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-08-08",
    "asyncClient" : "AmazonConnectAsyncClient",
    "asyncClientBuilderClassName" : "AmazonConnectAsyncClientBuilder",
    "asyncInterface" : "AmazonConnectAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonConnectModuleInjector",
    "defaultEndpoint" : "connect.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "connect.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Connect is a cloud-based contact center solution that makes it easy to set up and manage a customer contact center and provide reliable customer engagement at any scale.</p> <p>Amazon Connect provides rich metrics and real-time reporting that allow you to optimize contact routing. You can also resolve customer issues more efficiently by putting customers in touch with the right agents.</p> <p>There are limits to the number of Amazon Connect resources that you can create and limits to the number of requests that you can make per second. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html\">Amazon Connect Service Quotas</a> in the <i>Amazon Connect Administrator Guide</i>.</p> <p>To connect programmatically to an AWS service, you use an endpoint. For a list of Amazon Connect endpoints, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/connect_region.html\">Amazon Connect Endpoints</a>.</p> <note> <p>Working with contact flows? Check out the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/flow-language.html\">Amazon Connect Flow language</a>.</p> </note>",
    "endpointPrefix" : "connect",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.connect",
    "packagePath" : "com/amazonaws/services/connect",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amazon Connect",
    "serviceFullName" : "Amazon Connect Service",
    "serviceId" : "Connect",
    "serviceName" : "Amazon Connect",
    "signingName" : "connect",
    "smokeTestsPackageName" : "com.amazonaws.services.connect.smoketests",
    "syncClient" : "AmazonConnectClient",
    "syncClientBuilderClassName" : "AmazonConnectClientBuilder",
    "syncInterface" : "AmazonConnect",
    "uid" : "connect-2017-08-08",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateRoutingProfileQueues" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateRoutingProfileQueuesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateRoutingProfileQueuesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateRoutingProfileQueuesRequest, AssociateRoutingProfileQueuesResult>",
      "asyncReturnType" : "AssociateRoutingProfileQueuesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a set of queues with a routing profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateRoutingProfileQueuesRequest",
        "variableName" : "associateRoutingProfileQueuesRequest",
        "variableType" : "AssociateRoutingProfileQueuesRequest",
        "documentation" : "",
        "simpleType" : "AssociateRoutingProfileQueuesRequest",
        "variableSetterType" : "AssociateRoutingProfileQueuesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateRoutingProfileQueues",
      "operationName" : "AssociateRoutingProfileQueues",
      "returnType" : {
        "returnType" : "AssociateRoutingProfileQueuesResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateRoutingProfileQueuesResult"
    },
    "CreateContactFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateContactFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateContactFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateContactFlowRequest, CreateContactFlowResult>",
      "asyncReturnType" : "CreateContactFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a contact flow for the specified Amazon Connect instance.</p> <p>You can also create and update contact flows using the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/flow-language.html\">Amazon Connect Flow language</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidContactFlowException",
        "documentation" : "<p>The contact flow is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>A resource with the specified name already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The allowed limit for the resource has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateContactFlowRequest",
        "variableName" : "createContactFlowRequest",
        "variableType" : "CreateContactFlowRequest",
        "documentation" : "",
        "simpleType" : "CreateContactFlowRequest",
        "variableSetterType" : "CreateContactFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createContactFlow",
      "operationName" : "CreateContactFlow",
      "returnType" : {
        "returnType" : "CreateContactFlowResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateContactFlowResult"
    },
    "CreateRoutingProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRoutingProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRoutingProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRoutingProfileRequest, CreateRoutingProfileResult>",
      "asyncReturnType" : "CreateRoutingProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new routing profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>A resource with the specified name already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The allowed limit for the resource has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRoutingProfileRequest",
        "variableName" : "createRoutingProfileRequest",
        "variableType" : "CreateRoutingProfileRequest",
        "documentation" : "",
        "simpleType" : "CreateRoutingProfileRequest",
        "variableSetterType" : "CreateRoutingProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRoutingProfile",
      "operationName" : "CreateRoutingProfile",
      "returnType" : {
        "returnType" : "CreateRoutingProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRoutingProfileResult"
    },
    "CreateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserRequest, CreateUserResult>",
      "asyncReturnType" : "CreateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a user account for the specified Amazon Connect instance.</p> <p>For information about how to create user accounts using the Amazon Connect console, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/user-management.html\">Add Users</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The allowed limit for the resource has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>A resource with the specified name already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateUserRequest",
        "variableName" : "createUserRequest",
        "variableType" : "CreateUserRequest",
        "documentation" : "",
        "simpleType" : "CreateUserRequest",
        "variableSetterType" : "CreateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUser",
      "operationName" : "CreateUser",
      "returnType" : {
        "returnType" : "CreateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateUserResult"
    },
    "CreateUserHierarchyGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserHierarchyGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserHierarchyGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserHierarchyGroupRequest, CreateUserHierarchyGroupResult>",
      "asyncReturnType" : "CreateUserHierarchyGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new user hierarchy group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>A resource with the specified name already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The allowed limit for the resource has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateUserHierarchyGroupRequest",
        "variableName" : "createUserHierarchyGroupRequest",
        "variableType" : "CreateUserHierarchyGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateUserHierarchyGroupRequest",
        "variableSetterType" : "CreateUserHierarchyGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUserHierarchyGroup",
      "operationName" : "CreateUserHierarchyGroup",
      "returnType" : {
        "returnType" : "CreateUserHierarchyGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateUserHierarchyGroupResult"
    },
    "DeleteUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserRequest, DeleteUserResult>",
      "asyncReturnType" : "DeleteUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a user account from the specified Amazon Connect instance.</p> <p>For information about what happens to a user's data when their account is deleted, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/delete-users.html\">Delete Users from Your Amazon Connect Instance</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteUserRequest",
        "variableName" : "deleteUserRequest",
        "variableType" : "DeleteUserRequest",
        "documentation" : "",
        "simpleType" : "DeleteUserRequest",
        "variableSetterType" : "DeleteUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUser",
      "operationName" : "DeleteUser",
      "returnType" : {
        "returnType" : "DeleteUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteUserResult"
    },
    "DeleteUserHierarchyGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserHierarchyGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserHierarchyGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserHierarchyGroupRequest, DeleteUserHierarchyGroupResult>",
      "asyncReturnType" : "DeleteUserHierarchyGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing user hierarchy group. It must not be associated with any agents or have any active child groups.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>That resource is already in use. Please try another.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteUserHierarchyGroupRequest",
        "variableName" : "deleteUserHierarchyGroupRequest",
        "variableType" : "DeleteUserHierarchyGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteUserHierarchyGroupRequest",
        "variableSetterType" : "DeleteUserHierarchyGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUserHierarchyGroup",
      "operationName" : "DeleteUserHierarchyGroup",
      "returnType" : {
        "returnType" : "DeleteUserHierarchyGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteUserHierarchyGroupResult"
    },
    "DescribeContactFlow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeContactFlowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeContactFlowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeContactFlowRequest, DescribeContactFlowResult>",
      "asyncReturnType" : "DescribeContactFlowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified contact flow.</p> <p>You can also create and update contact flows using the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/flow-language.html\">Amazon Connect Flow language</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ContactFlowNotPublishedException",
        "documentation" : "<p>The contact flow has not been published.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeContactFlowRequest",
        "variableName" : "describeContactFlowRequest",
        "variableType" : "DescribeContactFlowRequest",
        "documentation" : "",
        "simpleType" : "DescribeContactFlowRequest",
        "variableSetterType" : "DescribeContactFlowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeContactFlow",
      "operationName" : "DescribeContactFlow",
      "returnType" : {
        "returnType" : "DescribeContactFlowResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeContactFlowResult"
    },
    "DescribeRoutingProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRoutingProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRoutingProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRoutingProfileRequest, DescribeRoutingProfileResult>",
      "asyncReturnType" : "DescribeRoutingProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified routing profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRoutingProfileRequest",
        "variableName" : "describeRoutingProfileRequest",
        "variableType" : "DescribeRoutingProfileRequest",
        "documentation" : "",
        "simpleType" : "DescribeRoutingProfileRequest",
        "variableSetterType" : "DescribeRoutingProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRoutingProfile",
      "operationName" : "DescribeRoutingProfile",
      "returnType" : {
        "returnType" : "DescribeRoutingProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRoutingProfileResult"
    },
    "DescribeUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUserRequest, DescribeUserResult>",
      "asyncReturnType" : "DescribeUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified user account. You can find the instance ID in the console (it’s the final part of the ARN). The console does not display the user IDs. Instead, list the users and note the IDs provided in the output.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeUserRequest",
        "variableName" : "describeUserRequest",
        "variableType" : "DescribeUserRequest",
        "documentation" : "",
        "simpleType" : "DescribeUserRequest",
        "variableSetterType" : "DescribeUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUser",
      "operationName" : "DescribeUser",
      "returnType" : {
        "returnType" : "DescribeUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeUserResult"
    },
    "DescribeUserHierarchyGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUserHierarchyGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUserHierarchyGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUserHierarchyGroupRequest, DescribeUserHierarchyGroupResult>",
      "asyncReturnType" : "DescribeUserHierarchyGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified hierarchy group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeUserHierarchyGroupRequest",
        "variableName" : "describeUserHierarchyGroupRequest",
        "variableType" : "DescribeUserHierarchyGroupRequest",
        "documentation" : "",
        "simpleType" : "DescribeUserHierarchyGroupRequest",
        "variableSetterType" : "DescribeUserHierarchyGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUserHierarchyGroup",
      "operationName" : "DescribeUserHierarchyGroup",
      "returnType" : {
        "returnType" : "DescribeUserHierarchyGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeUserHierarchyGroupResult"
    },
    "DescribeUserHierarchyStructure" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUserHierarchyStructureResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUserHierarchyStructureResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUserHierarchyStructureRequest, DescribeUserHierarchyStructureResult>",
      "asyncReturnType" : "DescribeUserHierarchyStructureResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the hierarchy structure of the specified Amazon Connect instance.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeUserHierarchyStructureRequest",
        "variableName" : "describeUserHierarchyStructureRequest",
        "variableType" : "DescribeUserHierarchyStructureRequest",
        "documentation" : "",
        "simpleType" : "DescribeUserHierarchyStructureRequest",
        "variableSetterType" : "DescribeUserHierarchyStructureRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUserHierarchyStructure",
      "operationName" : "DescribeUserHierarchyStructure",
      "returnType" : {
        "returnType" : "DescribeUserHierarchyStructureResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeUserHierarchyStructureResult"
    },
    "DisassociateRoutingProfileQueues" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateRoutingProfileQueuesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateRoutingProfileQueuesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateRoutingProfileQueuesRequest, DisassociateRoutingProfileQueuesResult>",
      "asyncReturnType" : "DisassociateRoutingProfileQueuesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a set of queues from a routing profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateRoutingProfileQueuesRequest",
        "variableName" : "disassociateRoutingProfileQueuesRequest",
        "variableType" : "DisassociateRoutingProfileQueuesRequest",
        "documentation" : "",
        "simpleType" : "DisassociateRoutingProfileQueuesRequest",
        "variableSetterType" : "DisassociateRoutingProfileQueuesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateRoutingProfileQueues",
      "operationName" : "DisassociateRoutingProfileQueues",
      "returnType" : {
        "returnType" : "DisassociateRoutingProfileQueuesResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateRoutingProfileQueuesResult"
    },
    "GetContactAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetContactAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetContactAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetContactAttributesRequest, GetContactAttributesResult>",
      "asyncReturnType" : "GetContactAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the contact attributes for the specified contact.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetContactAttributesRequest",
        "variableName" : "getContactAttributesRequest",
        "variableType" : "GetContactAttributesRequest",
        "documentation" : "",
        "simpleType" : "GetContactAttributesRequest",
        "variableSetterType" : "GetContactAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getContactAttributes",
      "operationName" : "GetContactAttributes",
      "returnType" : {
        "returnType" : "GetContactAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetContactAttributesResult"
    },
    "GetCurrentMetricData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCurrentMetricDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCurrentMetricDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCurrentMetricDataRequest, GetCurrentMetricDataResult>",
      "asyncReturnType" : "GetCurrentMetricDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the real-time metric data from the specified Amazon Connect instance.</p> <p>For a description of each metric, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/real-time-metrics-definitions.html\">Real-time Metrics Definitions</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCurrentMetricDataRequest",
        "variableName" : "getCurrentMetricDataRequest",
        "variableType" : "GetCurrentMetricDataRequest",
        "documentation" : "",
        "simpleType" : "GetCurrentMetricDataRequest",
        "variableSetterType" : "GetCurrentMetricDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCurrentMetricData",
      "operationName" : "GetCurrentMetricData",
      "returnType" : {
        "returnType" : "GetCurrentMetricDataResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCurrentMetricDataResult"
    },
    "GetFederationToken" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFederationTokenResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFederationTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFederationTokenRequest, GetFederationTokenResult>",
      "asyncReturnType" : "GetFederationTokenResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a token for federation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>No user with the specified credentials was found in the Amazon Connect instance.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>A resource with the specified name already exists.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFederationTokenRequest",
        "variableName" : "getFederationTokenRequest",
        "variableType" : "GetFederationTokenRequest",
        "documentation" : "",
        "simpleType" : "GetFederationTokenRequest",
        "variableSetterType" : "GetFederationTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFederationToken",
      "operationName" : "GetFederationToken",
      "returnType" : {
        "returnType" : "GetFederationTokenResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFederationTokenResult"
    },
    "GetMetricData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMetricDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMetricDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMetricDataRequest, GetMetricDataResult>",
      "asyncReturnType" : "GetMetricDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets historical metric data from the specified Amazon Connect instance.</p> <p>For a description of each historical metric, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/historical-metrics-definitions.html\">Historical Metrics Definitions</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMetricDataRequest",
        "variableName" : "getMetricDataRequest",
        "variableType" : "GetMetricDataRequest",
        "documentation" : "",
        "simpleType" : "GetMetricDataRequest",
        "variableSetterType" : "GetMetricDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMetricData",
      "operationName" : "GetMetricData",
      "returnType" : {
        "returnType" : "GetMetricDataResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMetricDataResult"
    },
    "ListContactFlows" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListContactFlowsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListContactFlowsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListContactFlowsRequest, ListContactFlowsResult>",
      "asyncReturnType" : "ListContactFlowsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about the contact flows for the specified Amazon Connect instance.</p> <p>You can also create and update contact flows using the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/flow-language.html\">Amazon Connect Flow language</a>.</p> <p>For more information about contact flows, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/concepts-contact-flows.html\">Contact Flows</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListContactFlowsRequest",
        "variableName" : "listContactFlowsRequest",
        "variableType" : "ListContactFlowsRequest",
        "documentation" : "",
        "simpleType" : "ListContactFlowsRequest",
        "variableSetterType" : "ListContactFlowsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listContactFlows",
      "operationName" : "ListContactFlows",
      "returnType" : {
        "returnType" : "ListContactFlowsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListContactFlowsResult"
    },
    "ListHoursOfOperations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListHoursOfOperationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListHoursOfOperationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListHoursOfOperationsRequest, ListHoursOfOperationsResult>",
      "asyncReturnType" : "ListHoursOfOperationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about the hours of operation for the specified Amazon Connect instance.</p> <p>For more information about hours of operation, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/set-hours-operation.html\">Set the Hours of Operation for a Queue</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListHoursOfOperationsRequest",
        "variableName" : "listHoursOfOperationsRequest",
        "variableType" : "ListHoursOfOperationsRequest",
        "documentation" : "",
        "simpleType" : "ListHoursOfOperationsRequest",
        "variableSetterType" : "ListHoursOfOperationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listHoursOfOperations",
      "operationName" : "ListHoursOfOperations",
      "returnType" : {
        "returnType" : "ListHoursOfOperationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListHoursOfOperationsResult"
    },
    "ListPhoneNumbers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPhoneNumbersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPhoneNumbersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPhoneNumbersRequest, ListPhoneNumbersResult>",
      "asyncReturnType" : "ListPhoneNumbersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about the phone numbers for the specified Amazon Connect instance. </p> <p>For more information about phone numbers, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/contact-center-phone-number.html\">Set Up Phone Numbers for Your Contact Center</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPhoneNumbersRequest",
        "variableName" : "listPhoneNumbersRequest",
        "variableType" : "ListPhoneNumbersRequest",
        "documentation" : "",
        "simpleType" : "ListPhoneNumbersRequest",
        "variableSetterType" : "ListPhoneNumbersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPhoneNumbers",
      "operationName" : "ListPhoneNumbers",
      "returnType" : {
        "returnType" : "ListPhoneNumbersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPhoneNumbersResult"
    },
    "ListPrompts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPromptsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPromptsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPromptsRequest, ListPromptsResult>",
      "asyncReturnType" : "ListPromptsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about the prompts for the specified Amazon Connect instance.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPromptsRequest",
        "variableName" : "listPromptsRequest",
        "variableType" : "ListPromptsRequest",
        "documentation" : "",
        "simpleType" : "ListPromptsRequest",
        "variableSetterType" : "ListPromptsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPrompts",
      "operationName" : "ListPrompts",
      "returnType" : {
        "returnType" : "ListPromptsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPromptsResult"
    },
    "ListQueues" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListQueuesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListQueuesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListQueuesRequest, ListQueuesResult>",
      "asyncReturnType" : "ListQueuesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about the queues for the specified Amazon Connect instance.</p> <p>For more information about queues, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/concepts-queues-standard-and-agent.html\">Queues: Standard and Agent</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListQueuesRequest",
        "variableName" : "listQueuesRequest",
        "variableType" : "ListQueuesRequest",
        "documentation" : "",
        "simpleType" : "ListQueuesRequest",
        "variableSetterType" : "ListQueuesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listQueues",
      "operationName" : "ListQueues",
      "returnType" : {
        "returnType" : "ListQueuesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListQueuesResult"
    },
    "ListRoutingProfileQueues" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRoutingProfileQueuesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRoutingProfileQueuesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRoutingProfileQueuesRequest, ListRoutingProfileQueuesResult>",
      "asyncReturnType" : "ListRoutingProfileQueuesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the queues associated with a routing profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRoutingProfileQueuesRequest",
        "variableName" : "listRoutingProfileQueuesRequest",
        "variableType" : "ListRoutingProfileQueuesRequest",
        "documentation" : "",
        "simpleType" : "ListRoutingProfileQueuesRequest",
        "variableSetterType" : "ListRoutingProfileQueuesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRoutingProfileQueues",
      "operationName" : "ListRoutingProfileQueues",
      "returnType" : {
        "returnType" : "ListRoutingProfileQueuesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRoutingProfileQueuesResult"
    },
    "ListRoutingProfiles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRoutingProfilesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRoutingProfilesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRoutingProfilesRequest, ListRoutingProfilesResult>",
      "asyncReturnType" : "ListRoutingProfilesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides summary information about the routing profiles for the specified Amazon Connect instance.</p> <p>For more information about routing profiles, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/concepts-routing.html\">Routing Profiles</a> and <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/routing-profiles.html\">Create a Routing Profile</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRoutingProfilesRequest",
        "variableName" : "listRoutingProfilesRequest",
        "variableType" : "ListRoutingProfilesRequest",
        "documentation" : "",
        "simpleType" : "ListRoutingProfilesRequest",
        "variableSetterType" : "ListRoutingProfilesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRoutingProfiles",
      "operationName" : "ListRoutingProfiles",
      "returnType" : {
        "returnType" : "ListRoutingProfilesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRoutingProfilesResult"
    },
    "ListSecurityProfiles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSecurityProfilesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSecurityProfilesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSecurityProfilesRequest, ListSecurityProfilesResult>",
      "asyncReturnType" : "ListSecurityProfilesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides summary information about the security profiles for the specified Amazon Connect instance.</p> <p>For more information about security profiles, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/connect-security-profiles.html\">Security Profiles</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSecurityProfilesRequest",
        "variableName" : "listSecurityProfilesRequest",
        "variableType" : "ListSecurityProfilesRequest",
        "documentation" : "",
        "simpleType" : "ListSecurityProfilesRequest",
        "variableSetterType" : "ListSecurityProfilesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSecurityProfiles",
      "operationName" : "ListSecurityProfiles",
      "returnType" : {
        "returnType" : "ListSecurityProfilesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSecurityProfilesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for the specified resource.</p> <p>For sample policies that use tags, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/security_iam_id-based-policy-examples.html\">Amazon Connect Identity-Based Policy Examples</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListUserHierarchyGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUserHierarchyGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUserHierarchyGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUserHierarchyGroupsRequest, ListUserHierarchyGroupsResult>",
      "asyncReturnType" : "ListUserHierarchyGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides summary information about the hierarchy groups for the specified Amazon Connect instance.</p> <p>For more information about agent hierarchies, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/agent-hierarchy.html\">Set Up Agent Hierarchies</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListUserHierarchyGroupsRequest",
        "variableName" : "listUserHierarchyGroupsRequest",
        "variableType" : "ListUserHierarchyGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListUserHierarchyGroupsRequest",
        "variableSetterType" : "ListUserHierarchyGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUserHierarchyGroups",
      "operationName" : "ListUserHierarchyGroups",
      "returnType" : {
        "returnType" : "ListUserHierarchyGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListUserHierarchyGroupsResult"
    },
    "ListUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUsersRequest, ListUsersResult>",
      "asyncReturnType" : "ListUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides summary information about the users for the specified Amazon Connect instance.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListUsersRequest",
        "variableName" : "listUsersRequest",
        "variableType" : "ListUsersRequest",
        "documentation" : "",
        "simpleType" : "ListUsersRequest",
        "variableSetterType" : "ListUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUsers",
      "operationName" : "ListUsers",
      "returnType" : {
        "returnType" : "ListUsersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListUsersResult"
    },
    "ResumeContactRecording" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResumeContactRecordingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResumeContactRecordingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResumeContactRecordingRequest, ResumeContactRecordingResult>",
      "asyncReturnType" : "ResumeContactRecordingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>When a contact is being recorded, and the recording has been suspended using SuspendContactRecording, this API resumes recording the call.</p> <p>Only voice recordings are supported at this time.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ResumeContactRecordingRequest",
        "variableName" : "resumeContactRecordingRequest",
        "variableType" : "ResumeContactRecordingRequest",
        "documentation" : "",
        "simpleType" : "ResumeContactRecordingRequest",
        "variableSetterType" : "ResumeContactRecordingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "resumeContactRecording",
      "operationName" : "ResumeContactRecording",
      "returnType" : {
        "returnType" : "ResumeContactRecordingResult",
        "documentation" : null
      },
      "syncReturnType" : "ResumeContactRecordingResult"
    },
    "StartChatContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartChatContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartChatContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartChatContactRequest, StartChatContactResult>",
      "asyncReturnType" : "StartChatContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initiates a contact flow to start a new chat for the customer. Response of this API provides a token required to obtain credentials from the <a href=\"https://docs.aws.amazon.com/connect-participant/latest/APIReference/API_CreateParticipantConnection.html\">CreateParticipantConnection</a> API in the Amazon Connect Participant Service.</p> <p>When a new chat contact is successfully created, clients need to subscribe to the participant’s connection for the created chat within 5 minutes. This is achieved by invoking <a href=\"https://docs.aws.amazon.com/connect-participant/latest/APIReference/API_CreateParticipantConnection.html\">CreateParticipantConnection</a> with WEBSOCKET and CONNECTION_CREDENTIALS. </p> <p>A 429 error occurs in two situations:</p> <ul> <li> <p>API rate limit is exceeded. API TPS throttling returns a <code>TooManyRequests</code> exception from the API Gateway.</p> </li> <li> <p>The <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html\">quota for concurrent active chats</a> is exceeded. Active chat throttling returns a <code>LimitExceededException</code>.</p> </li> </ul> <p>For more information about how chat works, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/chat.html\">Chat</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The allowed limit for the resource has been exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartChatContactRequest",
        "variableName" : "startChatContactRequest",
        "variableType" : "StartChatContactRequest",
        "documentation" : "",
        "simpleType" : "StartChatContactRequest",
        "variableSetterType" : "StartChatContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startChatContact",
      "operationName" : "StartChatContact",
      "returnType" : {
        "returnType" : "StartChatContactResult",
        "documentation" : null
      },
      "syncReturnType" : "StartChatContactResult"
    },
    "StartContactRecording" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartContactRecordingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartContactRecordingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartContactRecordingRequest, StartContactRecordingResult>",
      "asyncReturnType" : "StartContactRecordingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This API starts recording the contact when the agent joins the call. StartContactRecording is a one-time action. For example, if you use StopContactRecording to stop recording an ongoing call, you can't use StartContactRecording to restart it. For scenarios where the recording has started and you want to suspend and resume it, such as when collecting sensitive information (for example, a credit card number), use SuspendContactRecording and ResumeContactRecording.</p> <p>You can use this API to override the recording behavior configured in the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/set-recording-behavior.html\">Set recording behavior</a> block.</p> <p>Only voice recordings are supported at this time.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartContactRecordingRequest",
        "variableName" : "startContactRecordingRequest",
        "variableType" : "StartContactRecordingRequest",
        "documentation" : "",
        "simpleType" : "StartContactRecordingRequest",
        "variableSetterType" : "StartContactRecordingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startContactRecording",
      "operationName" : "StartContactRecording",
      "returnType" : {
        "returnType" : "StartContactRecordingResult",
        "documentation" : null
      },
      "syncReturnType" : "StartContactRecordingResult"
    },
    "StartOutboundVoiceContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartOutboundVoiceContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartOutboundVoiceContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartOutboundVoiceContactRequest, StartOutboundVoiceContactResult>",
      "asyncReturnType" : "StartOutboundVoiceContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This API places an outbound call to a contact, and then initiates the contact flow. It performs the actions in the contact flow that's specified (in <code>ContactFlowId</code>).</p> <p>Agents are not involved in initiating the outbound API (that is, dialing the contact). If the contact flow places an outbound call to a contact, and then puts the contact in queue, that's when the call is routed to the agent, like any other inbound case.</p> <p>There is a 60 second dialing timeout for this operation. If the call is not connected after 60 seconds, it fails.</p> <note> <p>UK numbers with a 447 prefix are not allowed by default. Before you can dial these UK mobile numbers, you must submit a service quota increase request. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html\">Amazon Connect Service Quotas</a> in the <i>Amazon Connect Administrator Guide</i>. </p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The allowed limit for the resource has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "DestinationNotAllowedException",
        "documentation" : "<p>Outbound calls to the destination number are not allowed.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "OutboundContactNotPermittedException",
        "documentation" : "<p>The contact is not permitted.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartOutboundVoiceContactRequest",
        "variableName" : "startOutboundVoiceContactRequest",
        "variableType" : "StartOutboundVoiceContactRequest",
        "documentation" : "",
        "simpleType" : "StartOutboundVoiceContactRequest",
        "variableSetterType" : "StartOutboundVoiceContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startOutboundVoiceContact",
      "operationName" : "StartOutboundVoiceContact",
      "returnType" : {
        "returnType" : "StartOutboundVoiceContactResult",
        "documentation" : null
      },
      "syncReturnType" : "StartOutboundVoiceContactResult"
    },
    "StopContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopContactRequest, StopContactResult>",
      "asyncReturnType" : "StopContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Ends the specified contact.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ContactNotFoundException",
        "documentation" : "<p>The contact with the specified ID is not active or does not exist.</p>",
        "httpStatusCode" : 410
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopContactRequest",
        "variableName" : "stopContactRequest",
        "variableType" : "StopContactRequest",
        "documentation" : "",
        "simpleType" : "StopContactRequest",
        "variableSetterType" : "StopContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopContact",
      "operationName" : "StopContact",
      "returnType" : {
        "returnType" : "StopContactResult",
        "documentation" : null
      },
      "syncReturnType" : "StopContactResult"
    },
    "StopContactRecording" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopContactRecordingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopContactRecordingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopContactRecordingRequest, StopContactRecordingResult>",
      "asyncReturnType" : "StopContactRecordingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>When a contact is being recorded, this API stops recording the call. StopContactRecording is a one-time action. If you use StopContactRecording to stop recording an ongoing call, you can't use StartContactRecording to restart it. For scenarios where the recording has started and you want to suspend it for sensitive information (for example, to collect a credit card number), and then restart it, use SuspendContactRecording and ResumeContactRecording.</p> <p>Only voice recordings are supported at this time.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopContactRecordingRequest",
        "variableName" : "stopContactRecordingRequest",
        "variableType" : "StopContactRecordingRequest",
        "documentation" : "",
        "simpleType" : "StopContactRecordingRequest",
        "variableSetterType" : "StopContactRecordingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopContactRecording",
      "operationName" : "StopContactRecording",
      "returnType" : {
        "returnType" : "StopContactRecordingResult",
        "documentation" : null
      },
      "syncReturnType" : "StopContactRecordingResult"
    },
    "SuspendContactRecording" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SuspendContactRecordingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SuspendContactRecordingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SuspendContactRecordingRequest, SuspendContactRecordingResult>",
      "asyncReturnType" : "SuspendContactRecordingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>When a contact is being recorded, this API suspends recording the call. For example, you might suspend the call recording while collecting sensitive information, such as a credit card number. Then use ResumeContactRecording to restart recording. </p> <p>The period of time that the recording is suspended is filled with silence in the final recording. </p> <p>Only voice recordings are supported at this time.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SuspendContactRecordingRequest",
        "variableName" : "suspendContactRecordingRequest",
        "variableType" : "SuspendContactRecordingRequest",
        "documentation" : "",
        "simpleType" : "SuspendContactRecordingRequest",
        "variableSetterType" : "SuspendContactRecordingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "suspendContactRecording",
      "operationName" : "SuspendContactRecording",
      "returnType" : {
        "returnType" : "SuspendContactRecordingResult",
        "documentation" : null
      },
      "syncReturnType" : "SuspendContactRecordingResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified tags to the specified resource.</p> <p>The supported resource types are users, routing profiles, and contact flows.</p> <p>For sample policies that use tags, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/security_iam_id-based-policy-examples.html\">Amazon Connect Identity-Based Policy Examples</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags from the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
[...]
