{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-08-21",
    "asyncClient" : "AmazonConnectContactLensAsyncClient",
    "asyncClientBuilderClassName" : "AmazonConnectContactLensAsyncClientBuilder",
    "asyncInterface" : "AmazonConnectContactLensAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonConnectContactLensModuleInjector",
    "defaultEndpoint" : "contact-lens.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "contact-lens.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Contact Lens for Amazon Connect enables you to analyze conversations between customer and agents, by using speech transcription, natural language processing, and intelligent search capabilities. It performs sentiment analysis, detects issues, and enables you to automatically categorize contacts.</p> <p>Contact Lens for Amazon Connect provides both real-time and post-call analytics of customer-agent conversations. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/analyze-conversations.html\">Analyze conversations using Contact Lens</a> in the <i>Amazon Connect Administrator Guide</i>. </p>",
    "endpointPrefix" : "contact-lens",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.connectcontactlens",
    "packagePath" : "com/amazonaws/services/connectcontactlens",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amazon Connect Contact Lens",
    "serviceFullName" : "Amazon Connect Contact Lens",
    "serviceId" : "Connect Contact Lens",
    "serviceName" : "Amazon Connect Contact Lens",
    "signingName" : "connect",
    "smokeTestsPackageName" : "com.amazonaws.services.connectcontactlens.smoketests",
    "syncClient" : "AmazonConnectContactLensClient",
    "syncClientBuilderClassName" : "AmazonConnectContactLensClientBuilder",
    "syncInterface" : "AmazonConnectContactLens",
    "uid" : "connect-contact-lens-2020-08-21",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "ListRealtimeContactAnalysisSegments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRealtimeContactAnalysisSegmentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRealtimeContactAnalysisSegmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRealtimeContactAnalysisSegmentsRequest, ListRealtimeContactAnalysisSegmentsResult>",
      "asyncReturnType" : "ListRealtimeContactAnalysisSegmentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides a list of analysis segments for a real-time analysis session.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRealtimeContactAnalysisSegmentsRequest",
        "variableName" : "listRealtimeContactAnalysisSegmentsRequest",
        "variableType" : "ListRealtimeContactAnalysisSegmentsRequest",
        "documentation" : "",
        "simpleType" : "ListRealtimeContactAnalysisSegmentsRequest",
        "variableSetterType" : "ListRealtimeContactAnalysisSegmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRealtimeContactAnalysisSegments",
      "operationName" : "ListRealtimeContactAnalysisSegments",
      "returnType" : {
        "returnType" : "ListRealtimeContactAnalysisSegmentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRealtimeContactAnalysisSegmentsResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.connectcontactlens.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.connectcontactlens.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "Categories" : {
      "c2jName" : "Categories",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Provides the category rules that are used to automatically categorize contacts based on uttered keywords and phrases.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.connectcontactlens.model.Categories",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "MatchedCategories",
        "c2jShape" : "MatchedCategories",
        "deprecated" : false,
        "documentation" : "<p>The category rules that have been matched in the analyzed segment.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The category rules that have been matched in the analyzed segment.</p>\n@param matchedCategories The category rules that have been matched in the analyzed segment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMatchedCategories",
        "getterDocumentation" : "/**<p>The category rules that have been matched in the analyzed segment.</p>\n@return The category rules that have been matched in the analyzed segment.*/",
        "getterMethodName" : "getMatchedCategories",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MatchedCategories",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MatchedCategories",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "CategoryName",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "MatchedCategories",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The category rules that have been matched in the analyzed segment.</p>\n@param matchedCategories The category rules that have been matched in the analyzed segment.*/",
        "setterMethodName" : "setMatchedCategories",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "matchedCategories",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The category rules that have been matched in the analyzed segment.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setMatchedCategories(java.util.Collection)} or {@link #withMatchedCategories(java.util.Collection)} if you want to override the existing values.</p>\n@param matchedCategories The category rules that have been matched in the analyzed segment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "matchedCategories",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The category rules that have been matched in the analyzed segment.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "MatchedDetails",
        "c2jShape" : "MatchedDetails",
        "deprecated" : false,
        "documentation" : "<p>The category rule that was matched and when it occurred in the transcript.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The category rule that was matched and when it occurred in the transcript.</p>\n@param matchedDetails The category rule that was matched and when it occurred in the transcript.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMatchedDetails",
        "getterDocumentation" : "/**<p>The category rule that was matched and when it occurred in the transcript.</p>\n@return The category rule that was matched and when it occurred in the transcript.*/",
        "getterMethodName" : "getMatchedDetails",
        "getterModel" : {
          "returnType" : "java.util.Map<String,CategoryDetails>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MatchedDetails",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MatchedDetails",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "CategoryDetails",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "CategoryDetails",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "CategoryDetails",
              "variableName" : "value",
              "variableType" : "CategoryDetails",
              "documentation" : "",
              "simpleType" : "CategoryDetails",
              "variableSetterType" : "CategoryDetails"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "CategoryDetails",
              "variableName" : "value",
              "variableType" : "CategoryDetails",
              "documentation" : "",
              "simpleType" : "CategoryDetails",
              "variableSetterType" : "CategoryDetails"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "CategoryDetails",
          "entryType" : "Map.Entry<String, CategoryDetails>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,CategoryDetails>",
          "templateType" : "java.util.Map<String,CategoryDetails>",
          "valueList" : false,
          "valueSimple" : false
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "MatchedDetails",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The category rule that was matched and when it occurred in the transcript.</p>\n@param matchedDetails The category rule that was matched and when it occurred in the transcript.*/",
        "setterMethodName" : "setMatchedDetails",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,CategoryDetails>",
          "variableName" : "matchedDetails",
          "variableType" : "java.util.Map<String,CategoryDetails>",
          "documentation" : "",
          "simpleType" : "Map<String,CategoryDetails>",
          "variableSetterType" : "java.util.Map<String,CategoryDetails>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The category rule that was matched and when it occurred in the transcript.</p>\n@param matchedDetails The category rule that was matched and when it occurred in the transcript.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,CategoryDetails>",
          "variableName" : "matchedDetails",
          "variableType" : "java.util.Map<String,CategoryDetails>",
          "documentation" : "<p>The category rule that was matched and when it occurred in the transcript.</p>",
          "simpleType" : "Map<String,CategoryDetails>",
          "variableSetterType" : "java.util.Map<String,CategoryDetails>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "MatchedCategories" : {
          "c2jName" : "MatchedCategories",
          "c2jShape" : "MatchedCategories",
          "deprecated" : false,
          "documentation" : "<p>The category rules that have been matched in the analyzed segment.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The category rules that have been matched in the analyzed segment.</p>\n@param matchedCategories The category rules that have been matched in the analyzed segment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMatchedCategories",
          "getterDocumentation" : "/**<p>The category rules that have been matched in the analyzed segment.</p>\n@return The category rules that have been matched in the analyzed segment.*/",
          "getterMethodName" : "getMatchedCategories",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "MatchedCategories",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "MatchedCategories",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "CategoryName",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "MatchedCategories",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The category rules that have been matched in the analyzed segment.</p>\n@param matchedCategories The category rules that have been matched in the analyzed segment.*/",
          "setterMethodName" : "setMatchedCategories",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "matchedCategories",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The category rules that have been matched in the analyzed segment.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setMatchedCategories(java.util.Collection)} or {@link #withMatchedCategories(java.util.Collection)} if you want to override the existing values.</p>\n@param matchedCategories The category rules that have been matched in the analyzed segment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "matchedCategories",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>The category rules that have been matched in the analyzed segment.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        },
        "MatchedDetails" : {
          "c2jName" : "MatchedDetails",
          "c2jShape" : "MatchedDetails",
          "deprecated" : false,
          "documentation" : "<p>The category rule that was matched and when it occurred in the transcript.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The category rule that was matched and when it occurred in the transcript.</p>\n@param matchedDetails The category rule that was matched and when it occurred in the transcript.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMatchedDetails",
          "getterDocumentation" : "/**<p>The category rule that was matched and when it occurred in the transcript.</p>\n@return The category rule that was matched and when it occurred in the transcript.*/",
          "getterMethodName" : "getMatchedDetails",
          "getterModel" : {
            "returnType" : "java.util.Map<String,CategoryDetails>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "MatchedDetails",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "MatchedDetails",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "CategoryDetails",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "CategoryDetails",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Value",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "CategoryDetails",
                "variableName" : "value",
                "variableType" : "CategoryDetails",
                "documentation" : "",
                "simpleType" : "CategoryDetails",
                "variableSetterType" : "CategoryDetails"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "CategoryDetails",
                "variableName" : "value",
                "variableType" : "CategoryDetails",
                "documentation" : "",
                "simpleType" : "CategoryDetails",
                "variableSetterType" : "CategoryDetails"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "CategoryDetails",
            "entryType" : "Map.Entry<String, CategoryDetails>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,CategoryDetails>",
            "templateType" : "java.util.Map<String,CategoryDetails>",
            "valueList" : false,
            "valueSimple" : false
          },
          "marshallingTargetClass" : "Map",
          "marshallingType" : "MAP",
          "name" : "MatchedDetails",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The category rule that was matched and when it occurred in the transcript.</p>\n@param matchedDetails The category rule that was matched and when it occurred in the transcript.*/",
          "setterMethodName" : "setMatchedDetails",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,CategoryDetails>",
            "variableName" : "matchedDetails",
            "variableType" : "java.util.Map<String,CategoryDetails>",
            "documentation" : "",
            "simpleType" : "Map<String,CategoryDetails>",
            "variableSetterType" : "java.util.Map<String,CategoryDetails>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The category rule that was matched and when it occurred in the transcript.</p>\n@param matchedDetails The category rule that was matched and when it occurred in the transcript.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,CategoryDetails>",
            "variableName" : "matchedDetails",
            "variableType" : "java.util.Map<String,CategoryDetails>",
            "documentation" : "<p>The category rule that was matched and when it occurred in the transcript.</p>",
            "simpleType" : "Map<String,CategoryDetails>",
            "variableSetterType" : "java.util.Map<String,CategoryDetails>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.connectcontactlens.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "MatchedCategories", "MatchedDetails" ],
      "shapeName" : "Categories",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Categories",
        "variableName" : "categories",
        "variableType" : "Categories",
        "documentation" : null,
        "simpleType" : "Categories",
        "variableSetterType" : "Categories"
      },
      "wrapper" : false
    },
    "CategoryDetails" : {
      "c2jName" : "CategoryDetails",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Provides information about the category rule that was matched.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.connectcontactlens.model.CategoryDetails",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "PointsOfInterest",
        "c2jShape" : "PointsOfInterest",
        "deprecated" : false,
        "documentation" : "<p>The section of audio where the category rule was detected.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The section of audio where the category rule was detected.</p>\n@param pointsOfInterest The section of audio where the category rule was detected.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPointsOfInterest",
        "getterDocumentation" : "/**<p>The section of audio where the category rule was detected.</p>\n@return The section of audio where the category rule was detected.*/",
        "getterMethodName" : "getPointsOfInterest",
        "getterModel" : {
          "returnType" : "java.util.List<PointOfInterest>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PointsOfInterest",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PointsOfInterest",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "PointOfInterest",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "PointOfInterest",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "PointOfInterest",
              "variableName" : "member",
              "variableType" : "PointOfInterest",
              "documentation" : "",
              "simpleType" : "PointOfInterest",
              "variableSetterType" : "PointOfInterest"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "PointOfInterest",
              "variableName" : "member",
              "variableType" : "PointOfInterest",
              "documentation" : "",
              "simpleType" : "PointOfInterest",
              "variableSetterType" : "PointOfInterest"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "PointOfInterest",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "PointOfInterest",
          "templateImplType" : "java.util.ArrayList<PointOfInterest>",
          "templateType" : "java.util.List<PointOfInterest>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "PointsOfInterest",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The section of audio where the category rule was detected.</p>\n@param pointsOfInterest The section of audio where the category rule was detected.*/",
        "setterMethodName" : "setPointsOfInterest",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<PointOfInterest>",
          "variableName" : "pointsOfInterest",
          "variableType" : "java.util.List<PointOfInterest>",
          "documentation" : "",
          "simpleType" : "List<PointOfInterest>",
          "variableSetterType" : "java.util.Collection<PointOfInterest>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The section of audio where the category rule was detected.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setPointsOfInterest(java.util.Collection)} or {@link #withPointsOfInterest(java.util.Collection)} if you want to override the existing values.</p>\n@param pointsOfInterest The section of audio where the category rule was detected.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<PointOfInterest>",
          "variableName" : "pointsOfInterest",
          "variableType" : "java.util.List<PointOfInterest>",
          "documentation" : "<p>The section of audio where the category rule was detected.</p>",
          "simpleType" : "List<PointOfInterest>",
          "variableSetterType" : "java.util.Collection<PointOfInterest>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "PointsOfInterest" : {
          "c2jName" : "PointsOfInterest",
          "c2jShape" : "PointsOfInterest",
          "deprecated" : false,
          "documentation" : "<p>The section of audio where the category rule was detected.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The section of audio where the category rule was detected.</p>\n@param pointsOfInterest The section of audio where the category rule was detected.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPointsOfInterest",
          "getterDocumentation" : "/**<p>The section of audio where the category rule was detected.</p>\n@return The section of audio where the category rule was detected.*/",
          "getterMethodName" : "getPointsOfInterest",
          "getterModel" : {
            "returnType" : "java.util.List<PointOfInterest>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "PointsOfInterest",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "PointsOfInterest",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "PointOfInterest",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "PointOfInterest",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "PointOfInterest",
                "variableName" : "member",
                "variableType" : "PointOfInterest",
                "documentation" : "",
                "simpleType" : "PointOfInterest",
                "variableSetterType" : "PointOfInterest"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "PointOfInterest",
                "variableName" : "member",
                "variableType" : "PointOfInterest",
                "documentation" : "",
                "simpleType" : "PointOfInterest",
                "variableSetterType" : "PointOfInterest"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "PointOfInterest",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "PointOfInterest",
            "templateImplType" : "java.util.ArrayList<PointOfInterest>",
            "templateType" : "java.util.List<PointOfInterest>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "PointsOfInterest",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The section of audio where the category rule was detected.</p>\n@param pointsOfInterest The section of audio where the category rule was detected.*/",
          "setterMethodName" : "setPointsOfInterest",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<PointOfInterest>",
            "variableName" : "pointsOfInterest",
            "variableType" : "java.util.List<PointOfInterest>",
            "documentation" : "",
            "simpleType" : "List<PointOfInterest>",
            "variableSetterType" : "java.util.Collection<PointOfInterest>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The section of audio where the category rule was detected.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setPointsOfInterest(java.util.Collection)} or {@link #withPointsOfInterest(java.util.Collection)} if you want to override the existing values.</p>\n@param pointsOfInterest The section of audio where the category rule was detected.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<PointOfInterest>",
            "variableName" : "pointsOfInterest",
            "variableType" : "java.util.List<PointOfInterest>",
            "documentation" : "<p>The section of audio where the category rule was detected.</p>",
            "simpleType" : "List<PointOfInterest>",
            "variableSetterType" : "java.util.Collection<PointOfInterest>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.connectcontactlens.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "PointsOfInterest" ],
      "shapeName" : "CategoryDetails",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CategoryDetails",
        "variableName" : "categoryDetails",
        "variableType" : "CategoryDetails",
        "documentation" : null,
        "simpleType" : "CategoryDetails",
        "variableSetterType" : "CategoryDetails"
      },
      "wrapper" : false
    },
    "CharacterOffsets" : {
      "c2jName" : "CharacterOffsets",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>For characters that were detected as issues, where they occur in the transcript.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.connectcontactlens.model.CharacterOffsets",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "BeginOffsetChar",
        "c2jShape" : "CharacterOffset",
        "deprecated" : false,
        "documentation" : "<p>The beginning of the issue.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The beginning of the issue.</p>\n@param beginOffsetChar The beginning of the issue.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBeginOffsetChar",
        "getterDocumentation" : "/**<p>The beginning of the issue.</p>\n@return The beginning of the issue.*/",
        "getterMethodName" : "getBeginOffsetChar",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BeginOffsetChar",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BeginOffsetChar",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "BeginOffsetChar",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The beginning of the issue.</p>\n@param beginOffsetChar The beginning of the issue.*/",
        "setterMethodName" : "setBeginOffsetChar",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "beginOffsetChar",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The beginning of the issue.</p>\n@param beginOffsetChar The beginning of the issue.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "beginOffsetChar",
          "variableType" : "Integer",
          "documentation" : "<p>The beginning of the issue.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EndOffsetChar",
        "c2jShape" : "CharacterOffset",
        "deprecated" : false,
        "documentation" : "<p>The end of the issue.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The end of the issue.</p>\n@param endOffsetChar The end of the issue.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEndOffsetChar",
        "getterDocumentation" : "/**<p>The end of the issue.</p>\n@return The end of the issue.*/",
        "getterMethodName" : "getEndOffsetChar",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EndOffsetChar",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EndOffsetChar",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "EndOffsetChar",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The end of the issue.</p>\n@param endOffsetChar The end of the issue.*/",
        "setterMethodName" : "setEndOffsetChar",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "endOffsetChar",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The end of the issue.</p>\n@param endOffsetChar The end of the issue.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "endOffsetChar",
          "variableType" : "Integer",
          "documentation" : "<p>The end of the issue.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BeginOffsetChar" : {
          "c2jName" : "BeginOffsetChar",
          "c2jShape" : "CharacterOffset",
          "deprecated" : false,
          "documentation" : "<p>The beginning of the issue.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The beginning of the issue.</p>\n@param beginOffsetChar The beginning of the issue.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBeginOffsetChar",
          "getterDocumentation" : "/**<p>The beginning of the issue.</p>\n@return The beginning of the issue.*/",
          "getterMethodName" : "getBeginOffsetChar",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BeginOffsetChar",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BeginOffsetChar",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "BeginOffsetChar",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The beginning of the issue.</p>\n@param beginOffsetChar The beginning of the issue.*/",
          "setterMethodName" : "setBeginOffsetChar",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "beginOffsetChar",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The beginning of the issue.</p>\n@param beginOffsetChar The beginning of the issue.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "beginOffsetChar",
            "variableType" : "Integer",
            "documentation" : "<p>The beginning of the issue.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "EndOffsetChar" : {
          "c2jName" : "EndOffsetChar",
          "c2jShape" : "CharacterOffset",
          "deprecated" : false,
          "documentation" : "<p>The end of the issue.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The end of the issue.</p>\n@param endOffsetChar The end of the issue.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEndOffsetChar",
          "getterDocumentation" : "/**<p>The end of the issue.</p>\n@return The end of the issue.*/",
          "getterMethodName" : "getEndOffsetChar",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "EndOffsetChar",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EndOffsetChar",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "EndOffsetChar",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The end of the issue.</p>\n@param endOffsetChar The end of the issue.*/",
          "setterMethodName" : "setEndOffsetChar",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "endOffsetChar",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The end of the issue.</p>\n@param endOffsetChar The end of the issue.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "endOffsetChar",
            "variableType" : "Integer",
            "documentation" : "<p>The end of the issue.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.connectcontactlens.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "BeginOffsetChar", "EndOffsetChar" ],
      "shapeName" : "CharacterOffsets",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CharacterOffsets",
        "variableName" : "characterOffsets",
        "variableType" : "CharacterOffsets",
        "documentation" : null,
        "simpleType" : "CharacterOffsets",
        "variableSetterType" : "CharacterOffsets"
      },
      "wrapper" : false
    },
    "InternalServiceException" : {
      "c2jName" : "InternalServiceException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "InternalServiceException",
      "fullyQualifiedName" : "com.amazonaws.services.connectcontactlens.exception.InternalServiceException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.connectcontactlens.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "InternalServiceException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InternalServiceException",
        "variableName" : "internalServiceException",
        "variableType" : "InternalServiceException",
        "documentation" : null,
        "simpleType" : "InternalServiceException",
        "variableSetterType" : "InternalServiceException"
      },
      "wrapper" : false
    },
    "InvalidRequestException" : {
      "c2jName" : "InvalidRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request is not valid.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "InvalidRequestException",
      "fullyQualifiedName" : "com.amazonaws.services.connectcontactlens.exception.InvalidRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.connectcontactlens.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "InvalidRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InvalidRequestException",
        "variableName" : "invalidRequestException",
        "variableType" : "InvalidRequestException",
        "documentation" : null,
        "simpleType" : "InvalidRequestException",
        "variableSetterType" : "InvalidRequestException"
      },
      "wrapper" : false
    },
    "IssueDetected" : {
      "c2jName" : "IssueDetected",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Potential issues that are detected based on an artificial intelligence analysis of each turn in the conversation.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.connectcontactlens.model.IssueDetected",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "CharacterOffsets",
        "c2jShape" : "CharacterOffsets",
        "deprecated" : false,
        "documentation" : "<p>The offset for when the issue was detected in the segment.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The offset for when the issue was detected in the segment.</p>\n@param characterOffsets The offset for when the issue was detected in the segment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCharacterOffsets",
        "getterDocumentation" : "/**<p>The offset for when the issue was detected in the segment.</p>\n@return The offset for when the issue was detected in the segment.*/",
        "getterMethodName" : "getCharacterOffsets",
        "getterModel" : {
          "returnType" : "CharacterOffsets",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CharacterOffsets",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CharacterOffsets",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CharacterOffsets",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The offset for when the issue was detected in the segment.</p>\n@param characterOffsets The offset for when the issue was detected in the segment.*/",
        "setterMethodName" : "setCharacterOffsets",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CharacterOffsets",
          "variableName" : "characterOffsets",
          "variableType" : "CharacterOffsets",
          "documentation" : "",
          "simpleType" : "CharacterOffsets",
          "variableSetterType" : "CharacterOffsets"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The offset for when the issue was detected in the segment.</p>\n@param characterOffsets The offset for when the issue was detected in the segment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "CharacterOffsets",
          "variableName" : "characterOffsets",
          "variableType" : "CharacterOffsets",
          "documentation" : "<p>The offset for when the issue was detected in the segment.</p>",
          "simpleType" : "CharacterOffsets",
          "variableSetterType" : "CharacterOffsets"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CharacterOffsets" : {
          "c2jName" : "CharacterOffsets",
          "c2jShape" : "CharacterOffsets",
          "deprecated" : false,
          "documentation" : "<p>The offset for when the issue was detected in the segment.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The offset for when the issue was detected in the segment.</p>\n@param characterOffsets The offset for when the issue was detected in the segment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCharacterOffsets",
          "getterDocumentation" : "/**<p>The offset for when the issue was detected in the segment.</p>\n@return The offset for when the issue was detected in the segment.*/",
          "getterMethodName" : "getCharacterOffsets",
          "getterModel" : {
            "returnType" : "CharacterOffsets",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CharacterOffsets",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CharacterOffsets",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "CharacterOffsets",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The offset for when the issue was detected in the segment.</p>\n@param characterOffsets The offset for when the issue was detected in the segment.*/",
          "setterMethodName" : "setCharacterOffsets",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "CharacterOffsets",
            "variableName" : "characterOffsets",
            "variableType" : "CharacterOffsets",
            "documentation" : "",
            "simpleType" : "CharacterOffsets",
            "variableSetterType" : "CharacterOffsets"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The offset for when the issue was detected in the segment.</p>\n@param characterOffsets The offset for when the issue was detected in the segment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "CharacterOffsets",
            "variableName" : "characterOffsets",
            "variableType" : "CharacterOffsets",
            "documentation" : "<p>The offset for when the issue was detected in the segment.</p>",
            "simpleType" : "CharacterOffsets",
            "variableSetterType" : "CharacterOffsets"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.connectcontactlens.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "CharacterOffsets" ],
      "shapeName" : "IssueDetected",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "IssueDetected",
        "variableName" : "issueDetected",
        "variableType" : "IssueDetected",
        "documentation" : null,
        "simpleType" : "IssueDetected",
        "variableSetterType" : "IssueDetected"
      },
      "wrapper" : false
    },
    "ListRealtimeContactAnalysisSegmentsRequest" : {
      "c2jName" : "ListRealtimeContactAnalysisSegmentsRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.connectcontactlens.request.ListRealtimeContactAnalysisSegmentsRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "ListRealtimeContactAnalysisSegments",
        "locationName" : null,
        "requestUri" : "/realtime-contact-analysis/analysis-segments",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "InstanceId",
        "c2jShape" : "InstanceId",
        "deprecated" : false,
        "documentation" : "<p>The identifier of the Amazon Connect instance.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier of the Amazon Connect instance.</p>\n@param instanceId The identifier of the Amazon Connect instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInstanceId",
        "getterDocumentation" : "/**<p>The identifier of the Amazon Connect instance.</p>\n@return The identifier of the Amazon Connect instance.*/",
        "getterMethodName" : "getInstanceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "InstanceId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "InstanceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "InstanceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier of the Amazon Connect instance.</p>\n@param instanceId The identifier of the Amazon Connect instance.*/",
        "setterMethodName" : "setInstanceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier of the Amazon Connect instance.</p>\n@param instanceId The identifier of the Amazon Connect instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceId",
          "variableType" : "String",
          "documentation" : "<p>The identifier of the Amazon Connect instance.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ContactId",
        "c2jShape" : "ContactId",
        "deprecated" : false,
        "documentation" : "<p>The identifier of the contact.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier of the contact.</p>\n@param contactId The identifier of the contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withContactId",
        "getterDocumentation" : "/**<p>The identifier of the contact.</p>\n@return The identifier of the contact.*/",
        "getterMethodName" : "getContactId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ContactId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ContactId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ContactId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier of the contact.</p>\n@param contactId The identifier of the contact.*/",
        "setterMethodName" : "setContactId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "contactId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier of the contact.</p>\n@param contactId The identifier of the contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "contactId",
          "variableType" : "String",
          "documentation" : "<p>The identifier of the contact.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "MaxResults",
        "c2jShape" : "MaxResults",
        "deprecated" : false,
        "documentation" : "<p>The maximimum number of results to return per page.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The maximimum number of results to return per page.</p>\n@param maxResults The maximimum number of results to return per page.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMaxResults",
        "getterDocumentation" : "/**<p>The maximimum number of results to return per page.</p>\n@return The maximimum number of results to return per page.*/",
        "getterMethodName" : "getMaxResults",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MaxResults",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MaxResults",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "MaxResults",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The maximimum number of results to return per page.</p>\n@param maxResults The maximimum number of results to return per page.*/",
        "setterMethodName" : "setMaxResults",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "maxResults",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The maximimum number of results to return per page.</p>\n@param maxResults The maximimum number of results to return per page.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "maxResults",
          "variableType" : "Integer",
          "documentation" : "<p>The maximimum number of results to return per page.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "NextToken",
        "c2jShape" : "NextToken",
        "deprecated" : false,
        "documentation" : "<p>The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.</p>\n@param nextToken The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNextToken",
        "getterDocumentation" : "/**<p>The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.</p>\n@return The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.*/",
        "getterMethodName" : "getNextToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "NextToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NextToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "NextToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.</p>\n@param nextToken The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.*/",
        "setterMethodName" : "setNextToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nextToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.</p>\n@param nextToken The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nextToken",
          "variableType" : "String",
          "documentation" : "<p>The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ContactId" : {
          "c2jName" : "ContactId",
          "c2jShape" : "ContactId",
          "deprecated" : false,
          "documentation" : "<p>The identifier of the contact.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The identifier of the contact.</p>\n@param contactId The identifier of the contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withContactId",
          "getterDocumentation" : "/**<p>The identifier of the contact.</p>\n@return The identifier of the contact.*/",
          "getterMethodName" : "getContactId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ContactId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ContactId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ContactId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The identifier of the contact.</p>\n@param contactId The identifier of the contact.*/",
          "setterMethodName" : "setContactId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "contactId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The identifier of the contact.</p>\n@param contactId The identifier of the contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "contactId",
            "variableType" : "String",
            "documentation" : "<p>The identifier of the contact.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "InstanceId" : {
          "c2jName" : "InstanceId",
          "c2jShape" : "InstanceId",
          "deprecated" : false,
          "documentation" : "<p>The identifier of the Amazon Connect instance.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The identifier of the Amazon Connect instance.</p>\n@param instanceId The identifier of the Amazon Connect instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withInstanceId",
          "getterDocumentation" : "/**<p>The identifier of the Amazon Connect instance.</p>\n@return The identifier of the Amazon Connect instance.*/",
          "getterMethodName" : "getInstanceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "InstanceId",
            "queryString" : false,
[...]
