{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-01-30",
    "asyncClient" : "AmazonConnectCampaignAsyncClient",
    "asyncClientBuilderClassName" : "AmazonConnectCampaignAsyncClientBuilder",
    "asyncInterface" : "AmazonConnectCampaignAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonConnectCampaignModuleInjector",
    "defaultEndpoint" : "connect-campaigns.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "connect-campaigns.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Provide APIs to create and manage Amazon Connect Campaigns.</p>",
    "endpointPrefix" : "connect-campaigns",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.connectcampaign",
    "packagePath" : "com/amazonaws/services/connectcampaign",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AmazonConnectCampaignService",
    "serviceId" : "ConnectCampaigns",
    "serviceName" : "AmazonConnectCampaignService",
    "signingName" : "connect-campaigns",
    "smokeTestsPackageName" : "com.amazonaws.services.connectcampaign.smoketests",
    "syncClient" : "AmazonConnectCampaignClient",
    "syncClientBuilderClassName" : "AmazonConnectCampaignClientBuilder",
    "syncInterface" : "AmazonConnectCampaign",
    "uid" : "connectcampaigns-2021-01-30",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateCampaign" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCampaignResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCampaignResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCampaignRequest, CreateCampaignResult>",
      "asyncReturnType" : "CreateCampaignResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a campaign for the specified Amazon Connect account. This API is idempotent.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCampaignRequest",
        "variableName" : "createCampaignRequest",
        "variableType" : "CreateCampaignRequest",
        "documentation" : "<p>The request for Create Campaign API.</p>",
        "simpleType" : "CreateCampaignRequest",
        "variableSetterType" : "CreateCampaignRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCampaign",
      "operationName" : "CreateCampaign",
      "returnType" : {
        "returnType" : "CreateCampaignResult",
        "documentation" : "<p>The response for Create Campaign API</p>"
      },
      "syncReturnType" : "CreateCampaignResult"
    },
    "DeleteCampaign" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCampaignResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCampaignResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCampaignRequest, DeleteCampaignResult>",
      "asyncReturnType" : "DeleteCampaignResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a campaign from the specified Amazon Connect account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCampaignRequest",
        "variableName" : "deleteCampaignRequest",
        "variableType" : "DeleteCampaignRequest",
        "documentation" : "<p>DeleteCampaignRequest</p>",
        "simpleType" : "DeleteCampaignRequest",
        "variableSetterType" : "DeleteCampaignRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCampaign",
      "operationName" : "DeleteCampaign",
      "returnType" : {
        "returnType" : "DeleteCampaignResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCampaignResult"
    },
    "DeleteConnectInstanceConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConnectInstanceConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConnectInstanceConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConnectInstanceConfigRequest, DeleteConnectInstanceConfigResult>",
      "asyncReturnType" : "DeleteConnectInstanceConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a connect instance config from the specified AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConnectInstanceConfigRequest",
        "variableName" : "deleteConnectInstanceConfigRequest",
        "variableType" : "DeleteConnectInstanceConfigRequest",
        "documentation" : "<p>DeleteCampaignRequest</p>",
        "simpleType" : "DeleteConnectInstanceConfigRequest",
        "variableSetterType" : "DeleteConnectInstanceConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConnectInstanceConfig",
      "operationName" : "DeleteConnectInstanceConfig",
      "returnType" : {
        "returnType" : "DeleteConnectInstanceConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConnectInstanceConfigResult"
    },
    "DeleteInstanceOnboardingJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteInstanceOnboardingJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteInstanceOnboardingJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteInstanceOnboardingJobRequest, DeleteInstanceOnboardingJobResult>",
      "asyncReturnType" : "DeleteInstanceOnboardingJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete the Connect Campaigns onboarding job for the specified Amazon Connect instance.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteInstanceOnboardingJobRequest",
        "variableName" : "deleteInstanceOnboardingJobRequest",
        "variableType" : "DeleteInstanceOnboardingJobRequest",
        "documentation" : "<p>The request for DeleteInstanceOnboardingJob API.</p>",
        "simpleType" : "DeleteInstanceOnboardingJobRequest",
        "variableSetterType" : "DeleteInstanceOnboardingJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteInstanceOnboardingJob",
      "operationName" : "DeleteInstanceOnboardingJob",
      "returnType" : {
        "returnType" : "DeleteInstanceOnboardingJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteInstanceOnboardingJobResult"
    },
    "DescribeCampaign" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCampaignResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCampaignResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCampaignRequest, DescribeCampaignResult>",
      "asyncReturnType" : "DescribeCampaignResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specific campaign.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeCampaignRequest",
        "variableName" : "describeCampaignRequest",
        "variableType" : "DescribeCampaignRequest",
        "documentation" : "<p>DescribeCampaignRequests</p>",
        "simpleType" : "DescribeCampaignRequest",
        "variableSetterType" : "DescribeCampaignRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCampaign",
      "operationName" : "DescribeCampaign",
      "returnType" : {
        "returnType" : "DescribeCampaignResult",
        "documentation" : "<p>DescribeCampaignResponse</p>"
      },
      "syncReturnType" : "DescribeCampaignResult"
    },
    "GetCampaignState" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCampaignStateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCampaignStateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCampaignStateRequest, GetCampaignStateResult>",
      "asyncReturnType" : "GetCampaignStateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get state of a campaign for the specified Amazon Connect account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCampaignStateRequest",
        "variableName" : "getCampaignStateRequest",
        "variableType" : "GetCampaignStateRequest",
        "documentation" : "<p>GetCampaignStateRequest</p>",
        "simpleType" : "GetCampaignStateRequest",
        "variableSetterType" : "GetCampaignStateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCampaignState",
      "operationName" : "GetCampaignState",
      "returnType" : {
        "returnType" : "GetCampaignStateResult",
        "documentation" : "<p>GetCampaignStateResponse</p>"
      },
      "syncReturnType" : "GetCampaignStateResult"
    },
    "GetCampaignStateBatch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCampaignStateBatchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCampaignStateBatchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCampaignStateBatchRequest, GetCampaignStateBatchResult>",
      "asyncReturnType" : "GetCampaignStateBatchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get state of campaigns for the specified Amazon Connect account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCampaignStateBatchRequest",
        "variableName" : "getCampaignStateBatchRequest",
        "variableType" : "GetCampaignStateBatchRequest",
        "documentation" : "<p>GetCampaignStateBatchRequest</p>",
        "simpleType" : "GetCampaignStateBatchRequest",
        "variableSetterType" : "GetCampaignStateBatchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCampaignStateBatch",
      "operationName" : "GetCampaignStateBatch",
      "returnType" : {
        "returnType" : "GetCampaignStateBatchResult",
        "documentation" : "<p>GetCampaignStateBatchResponse</p>"
      },
      "syncReturnType" : "GetCampaignStateBatchResult"
    },
    "GetConnectInstanceConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConnectInstanceConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConnectInstanceConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConnectInstanceConfigRequest, GetConnectInstanceConfigResult>",
      "asyncReturnType" : "GetConnectInstanceConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the specific Connect instance config.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConnectInstanceConfigRequest",
        "variableName" : "getConnectInstanceConfigRequest",
        "variableType" : "GetConnectInstanceConfigRequest",
        "documentation" : "<p>GetConnectInstanceConfigRequest</p>",
        "simpleType" : "GetConnectInstanceConfigRequest",
        "variableSetterType" : "GetConnectInstanceConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConnectInstanceConfig",
      "operationName" : "GetConnectInstanceConfig",
      "returnType" : {
        "returnType" : "GetConnectInstanceConfigResult",
        "documentation" : "<p>GetConnectInstanceConfigResponse</p>"
      },
      "syncReturnType" : "GetConnectInstanceConfigResult"
    },
    "GetInstanceOnboardingJobStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInstanceOnboardingJobStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInstanceOnboardingJobStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInstanceOnboardingJobStatusRequest, GetInstanceOnboardingJobStatusResult>",
      "asyncReturnType" : "GetInstanceOnboardingJobStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the specific instance onboarding job status.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetInstanceOnboardingJobStatusRequest",
        "variableName" : "getInstanceOnboardingJobStatusRequest",
        "variableType" : "GetInstanceOnboardingJobStatusRequest",
        "documentation" : "<p>GetInstanceOnboardingJobStatusRequest</p>",
        "simpleType" : "GetInstanceOnboardingJobStatusRequest",
        "variableSetterType" : "GetInstanceOnboardingJobStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInstanceOnboardingJobStatus",
      "operationName" : "GetInstanceOnboardingJobStatus",
      "returnType" : {
        "returnType" : "GetInstanceOnboardingJobStatusResult",
        "documentation" : "<p>GetInstanceOnboardingJobStatusResponse</p>"
      },
      "syncReturnType" : "GetInstanceOnboardingJobStatusResult"
    },
    "ListCampaigns" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCampaignsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCampaignsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCampaignsRequest, ListCampaignsResult>",
      "asyncReturnType" : "ListCampaignsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides summary information about the campaigns under the specified Amazon Connect account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCampaignsRequest",
        "variableName" : "listCampaignsRequest",
        "variableType" : "ListCampaignsRequest",
        "documentation" : "<p>ListCampaignsRequest</p>",
        "simpleType" : "ListCampaignsRequest",
        "variableSetterType" : "ListCampaignsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCampaigns",
      "operationName" : "ListCampaigns",
      "returnType" : {
        "returnType" : "ListCampaignsResult",
        "documentation" : "<p>ListCampaignsResponse</p>"
      },
      "syncReturnType" : "ListCampaignsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List tags for a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "<p>ListTagsForResource</p>",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "<p>ListTagsForResponse</p>"
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PauseCampaign" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PauseCampaignResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PauseCampaignResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PauseCampaignRequest, PauseCampaignResult>",
      "asyncReturnType" : "PauseCampaignResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Pauses a campaign for the specified Amazon Connect account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidCampaignStateException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the campaign.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PauseCampaignRequest",
        "variableName" : "pauseCampaignRequest",
        "variableType" : "PauseCampaignRequest",
        "documentation" : "<p>PauseCampaignRequest</p>",
        "simpleType" : "PauseCampaignRequest",
        "variableSetterType" : "PauseCampaignRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "pauseCampaign",
      "operationName" : "PauseCampaign",
      "returnType" : {
        "returnType" : "PauseCampaignResult",
        "documentation" : null
      },
      "syncReturnType" : "PauseCampaignResult"
    },
    "PutDialRequestBatch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutDialRequestBatchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutDialRequestBatchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutDialRequestBatchRequest, PutDialRequestBatchResult>",
      "asyncReturnType" : "PutDialRequestBatchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates dials requests for the specified campaign Amazon Connect account. This API is idempotent.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidCampaignStateException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the campaign.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutDialRequestBatchRequest",
        "variableName" : "putDialRequestBatchRequest",
        "variableType" : "PutDialRequestBatchRequest",
        "documentation" : "<p>PutDialRequestBatchRequest</p>",
        "simpleType" : "PutDialRequestBatchRequest",
        "variableSetterType" : "PutDialRequestBatchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putDialRequestBatch",
      "operationName" : "PutDialRequestBatch",
      "returnType" : {
        "returnType" : "PutDialRequestBatchResult",
        "documentation" : "<p>PutDialRequestBatchResponse</p>"
      },
      "syncReturnType" : "PutDialRequestBatchResult"
    },
    "ResumeCampaign" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResumeCampaignResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResumeCampaignResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResumeCampaignRequest, ResumeCampaignResult>",
      "asyncReturnType" : "ResumeCampaignResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops a campaign for the specified Amazon Connect account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidCampaignStateException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the campaign.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ResumeCampaignRequest",
        "variableName" : "resumeCampaignRequest",
        "variableType" : "ResumeCampaignRequest",
        "documentation" : "<p>ResumeCampaignRequest</p>",
        "simpleType" : "ResumeCampaignRequest",
        "variableSetterType" : "ResumeCampaignRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "resumeCampaign",
      "operationName" : "ResumeCampaign",
      "returnType" : {
        "returnType" : "ResumeCampaignResult",
        "documentation" : null
      },
      "syncReturnType" : "ResumeCampaignResult"
    },
    "StartCampaign" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartCampaignResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartCampaignResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartCampaignRequest, StartCampaignResult>",
      "asyncReturnType" : "StartCampaignResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a campaign for the specified Amazon Connect account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidCampaignStateException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the campaign.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartCampaignRequest",
        "variableName" : "startCampaignRequest",
        "variableType" : "StartCampaignRequest",
        "documentation" : "<p>StartCampaignRequest</p>",
        "simpleType" : "StartCampaignRequest",
        "variableSetterType" : "StartCampaignRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startCampaign",
      "operationName" : "StartCampaign",
      "returnType" : {
        "returnType" : "StartCampaignResult",
        "documentation" : null
      },
      "syncReturnType" : "StartCampaignResult"
    },
    "StartInstanceOnboardingJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartInstanceOnboardingJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartInstanceOnboardingJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartInstanceOnboardingJobRequest, StartInstanceOnboardingJobResult>",
      "asyncReturnType" : "StartInstanceOnboardingJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Onboard the specific Amazon Connect instance to Connect Campaigns.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartInstanceOnboardingJobRequest",
        "variableName" : "startInstanceOnboardingJobRequest",
        "variableType" : "StartInstanceOnboardingJobRequest",
        "documentation" : "<p>The request for StartInstanceOnboardingJob API.</p>",
        "simpleType" : "StartInstanceOnboardingJobRequest",
        "variableSetterType" : "StartInstanceOnboardingJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startInstanceOnboardingJob",
      "operationName" : "StartInstanceOnboardingJob",
      "returnType" : {
        "returnType" : "StartInstanceOnboardingJobResult",
        "documentation" : "<p>The response for StartInstanceOnboardingJob API.</p>"
      },
      "syncReturnType" : "StartInstanceOnboardingJobResult"
    },
    "StopCampaign" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopCampaignResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopCampaignResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopCampaignRequest, StopCampaignResult>",
      "asyncReturnType" : "StopCampaignResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops a campaign for the specified Amazon Connect account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidCampaignStateException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the campaign.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopCampaignRequest",
        "variableName" : "stopCampaignRequest",
        "variableType" : "StopCampaignRequest",
        "documentation" : "<p>StopCampaignRequest</p>",
        "simpleType" : "StopCampaignRequest",
        "variableSetterType" : "StopCampaignRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopCampaign",
      "operationName" : "StopCampaign",
      "returnType" : {
        "returnType" : "StopCampaignResult",
        "documentation" : null
      },
      "syncReturnType" : "StopCampaignResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tag a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "<p>TagResourceRequest</p>",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Untag a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "<p>UntagResourceRequest</p>",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateCampaignDialerConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateCampaignDialerConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateCampaignDialerConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateCampaignDialerConfigRequest, UpdateCampaignDialerConfigResult>",
      "asyncReturnType" : "UpdateCampaignDialerConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the dialer config of a campaign. This API is idempotent.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateCampaignDialerConfigRequest",
        "variableName" : "updateCampaignDialerConfigRequest",
        "variableType" : "UpdateCampaignDialerConfigRequest",
        "documentation" : "<p>UpdateCampaignDialerConfigRequest</p>",
        "simpleType" : "UpdateCampaignDialerConfigRequest",
        "variableSetterType" : "UpdateCampaignDialerConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCampaignDialerConfig",
      "operationName" : "UpdateCampaignDialerConfig",
      "returnType" : {
        "returnType" : "UpdateCampaignDialerConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateCampaignDialerConfigResult"
    },
    "UpdateCampaignName" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateCampaignNameResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateCampaignNameResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateCampaignNameRequest, UpdateCampaignNameResult>",
      "asyncReturnType" : "UpdateCampaignNameResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the name of a campaign. This API is idempotent.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateCampaignNameRequest",
        "variableName" : "updateCampaignNameRequest",
        "variableType" : "UpdateCampaignNameRequest",
        "documentation" : "<p>UpdateCampaignNameRequest</p>",
        "simpleType" : "UpdateCampaignNameRequest",
        "variableSetterType" : "UpdateCampaignNameRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCampaignName",
      "operationName" : "UpdateCampaignName",
      "returnType" : {
        "returnType" : "UpdateCampaignNameResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateCampaignNameResult"
    },
    "UpdateCampaignOutboundCallConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateCampaignOutboundCallConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateCampaignOutboundCallConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateCampaignOutboundCallConfigRequest, UpdateCampaignOutboundCallConfigResult>",
      "asyncReturnType" : "UpdateCampaignOutboundCallConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the outbound call config of a campaign. This API is idempotent.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Request processing failed because of an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateCampaignOutboundCallConfigRequest",
        "variableName" : "updateCampaignOutboundCallConfigRequest",
        "variableType" : "UpdateCampaignOutboundCallConfigRequest",
        "documentation" : "<p>UpdateCampaignOutboundCallConfigRequest</p>",
        "simpleType" : "UpdateCampaignOutboundCallConfigRequest",
        "variableSetterType" : "UpdateCampaignOutboundCallConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCampaignOutboundCallConfig",
      "operationName" : "UpdateCampaignOutboundCallConfig",
      "returnType" : {
        "returnType" : "UpdateCampaignOutboundCallConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateCampaignOutboundCallConfigResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.connectcampaign.exception.AccessDeniedException",
      "hasHeaderMember" : true,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "xAmzErrorType",
        "c2jShape" : "XAmazonErrorType",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param xAmzErrorType \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withXAmzErrorType",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getXAmzErrorType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : true,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "header",
          "marshallLocation" : "HEADER",
          "marshallLocationName" : "x-amzn-ErrorType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "x-amzn-ErrorType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "XAmzErrorType",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param xAmzErrorType */",
        "setterMethodName" : "setXAmzErrorType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "xAmzErrorType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param xAmzErrorType \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "xAmzErrorType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "XAmzErrorType" : {
          "c2jName" : "xAmzErrorType",
          "c2jShape" : "XAmazonErrorType",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param xAmzErrorType \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withXAmzErrorType",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getXAmzErrorType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : true,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "header",
            "marshallLocation" : "HEADER",
            "marshallLocationName" : "x-amzn-ErrorType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "x-amzn-ErrorType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "XAmzErrorType",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param xAmzErrorType */",
          "setterMethodName" : "setXAmzErrorType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "xAmzErrorType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param xAmzErrorType \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "xAmzErrorType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.connectcampaign.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AnswerMachineDetectionConfig" : {
      "c2jName" : "AnswerMachineDetectionConfig",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Answering Machine Detection config</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.connectcampaign.model.AnswerMachineDetectionConfig",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "enableAnswerMachineDetection",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "<p>Enable or disable answering machine detection</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Enable or disable answering machine detection</p>\n@param enableAnswerMachineDetection Enable or disable answering machine detection\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEnableAnswerMachineDetection",
        "getterDocumentation" : "/**<p>Enable or disable answering machine detection</p>\n@return Enable or disable answering machine detection*/",
        "getterMethodName" : "getEnableAnswerMachineDetection",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "enableAnswerMachineDetection",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "enableAnswerMachineDetection",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "EnableAnswerMachineDetection",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Enable or disable answering machine detection</p>\n@param enableAnswerMachineDetection Enable or disable answering machine detection*/",
        "setterMethodName" : "setEnableAnswerMachineDetection",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "enableAnswerMachineDetection",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Enable or disable answering machine detection</p>\n@param enableAnswerMachineDetection Enable or disable answering machine detection\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "enableAnswerMachineDetection",
          "variableType" : "Boolean",
          "documentation" : "<p>Enable or disable answering machine detection</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "EnableAnswerMachineDetection" : {
          "c2jName" : "enableAnswerMachineDetection",
          "c2jShape" : "Boolean",
          "deprecated" : false,
          "documentation" : "<p>Enable or disable answering machine detection</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Enable or disable answering machine detection</p>\n@param enableAnswerMachineDetection Enable or disable answering machine detection\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEnableAnswerMachineDetection",
          "getterDocumentation" : "/**<p>Enable or disable answering machine detection</p>\n@return Enable or disable answering machine detection*/",
          "getterMethodName" : "getEnableAnswerMachineDetection",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "enableAnswerMachineDetection",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "enableAnswerMachineDetection",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "EnableAnswerMachineDetection",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Enable or disable answering machine detection</p>\n@param enableAnswerMachineDetection Enable or disable answering machine detection*/",
          "setterMethodName" : "setEnableAnswerMachineDetection",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "enableAnswerMachineDetection",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Enable or disable answering machine detection</p>\n@param enableAnswerMachineDetection Enable or disable answering machine detection\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "enableAnswerMachineDetection",
            "variableType" : "Boolean",
            "documentation" : "<p>Enable or disable answering machine detection</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.connectcampaign.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "enableAnswerMachineDetection" ],
      "shapeName" : "AnswerMachineDetectionConfig",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AnswerMachineDetectionConfig",
        "variableName" : "answerMachineDetectionConfig",
        "variableType" : "AnswerMachineDetectionConfig",
        "documentation" : null,
        "simpleType" : "AnswerMachineDetectionConfig",
        "variableSetterType" : "AnswerMachineDetectionConfig"
      },
      "wrapper" : false
    },
    "Campaign" : {
      "c2jName" : "Campaign",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An Amazon Connect campaign.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.connectcampaign.model.Campaign",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "arn",
        "c2jShape" : "CampaignArn",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param arn \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArn",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "arn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Arn",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param arn */",
        "setterMethodName" : "setArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param arn \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "connectInstanceId",
        "c2jShape" : "InstanceId",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param connectInstanceId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConnectInstanceId",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getConnectInstanceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "connectInstanceId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "connectInstanceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ConnectInstanceId",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param connectInstanceId */",
        "setterMethodName" : "setConnectInstanceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectInstanceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param connectInstanceId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "connectInstanceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "dialerConfig",
        "c2jShape" : "DialerConfig",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param dialerConfig \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDialerConfig",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getDialerConfig",
        "getterModel" : {
          "returnType" : "DialerConfig",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "dialerConfig",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "dialerConfig",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "DialerConfig",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param dialerConfig */",
        "setterMethodName" : "setDialerConfig",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DialerConfig",
          "variableName" : "dialerConfig",
          "variableType" : "DialerConfig",
          "documentation" : "",
          "simpleType" : "DialerConfig",
          "variableSetterType" : "DialerConfig"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param dialerConfig \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DialerConfig",
          "variableName" : "dialerConfig",
          "variableType" : "DialerConfig",
          "documentation" : "",
          "simpleType" : "DialerConfig",
          "variableSetterType" : "DialerConfig"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "id",
        "c2jShape" : "CampaignId",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param id \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param id */",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param id \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "name",
        "c2jShape" : "CampaignName",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param name \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param name */",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param name \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "outboundCallConfig",
        "c2jShape" : "OutboundCallConfig",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param outboundCallConfig \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOutboundCallConfig",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getOutboundCallConfig",
        "getterModel" : {
          "returnType" : "OutboundCallConfig",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "outboundCallConfig",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "outboundCallConfig",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "OutboundCallConfig",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param outboundCallConfig */",
        "setterMethodName" : "setOutboundCallConfig",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "OutboundCallConfig",
          "variableName" : "outboundCallConfig",
          "variableType" : "OutboundCallConfig",
          "documentation" : "",
          "simpleType" : "OutboundCallConfig",
          "variableSetterType" : "OutboundCallConfig"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param outboundCallConfig \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "OutboundCallConfig",
          "variableName" : "outboundCallConfig",
          "variableType" : "OutboundCallConfig",
          "documentation" : "",
          "simpleType" : "OutboundCallConfig",
          "variableSetterType" : "OutboundCallConfig"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "tags",
        "c2jShape" : "TagMap",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param tags \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "tags",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "TagValue",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param tags */",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param tags \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Arn" : {
          "c2jName" : "arn",
          "c2jShape" : "CampaignArn",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param arn \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withArn",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "arn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "arn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Arn",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param arn */",
          "setterMethodName" : "setArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param arn \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "arn",
[...]
