{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-08-08",
    "asyncClient" : "AmazonConnectAsyncClient",
    "asyncClientBuilderClassName" : "AmazonConnectAsyncClientBuilder",
    "asyncInterface" : "AmazonConnectAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonConnectModuleInjector",
    "defaultEndpoint" : "connect.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "connect.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Connect is a cloud-based contact center solution that makes it easy to set up and manage a customer contact center and provide reliable customer engagement at any scale.</p> <p>Amazon Connect provides rich metrics and real-time reporting that allow you to optimize contact routing. You can also resolve customer issues more efficiently by putting customers in touch with the right agents.</p> <p>There are limits to the number of Amazon Connect resources that you can create and limits to the number of requests that you can make per second. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html\">Amazon Connect Service Limits</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
    "endpointPrefix" : "connect",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.connect",
    "packagePath" : "com/amazonaws/services/connect",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amazon Connect",
    "serviceFullName" : "Amazon Connect Service",
    "serviceId" : "Connect",
    "serviceName" : "Amazon Connect",
    "signingName" : "connect",
    "smokeTestsPackageName" : "com.amazonaws.services.connect.smoketests",
    "syncClient" : "AmazonConnectClient",
    "syncClientBuilderClassName" : "AmazonConnectClientBuilder",
    "syncInterface" : "AmazonConnect",
    "uid" : "connect-2017-08-08",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserRequest, CreateUserResult>",
      "asyncReturnType" : "CreateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a user account for the specified Amazon Connect instance.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The allowed limit for the resource has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>A resource with the specified name already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateUserRequest",
        "variableName" : "createUserRequest",
        "variableType" : "CreateUserRequest",
        "documentation" : "",
        "simpleType" : "CreateUserRequest",
        "variableSetterType" : "CreateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUser",
      "operationName" : "CreateUser",
      "returnType" : {
        "returnType" : "CreateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateUserResult"
    },
    "DeleteUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserRequest, DeleteUserResult>",
      "asyncReturnType" : "DeleteUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a user account from the specified Amazon Connect instance.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteUserRequest",
        "variableName" : "deleteUserRequest",
        "variableType" : "DeleteUserRequest",
        "documentation" : "",
        "simpleType" : "DeleteUserRequest",
        "variableSetterType" : "DeleteUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUser",
      "operationName" : "DeleteUser",
      "returnType" : {
        "returnType" : "DeleteUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteUserResult"
    },
    "DescribeUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUserRequest, DescribeUserResult>",
      "asyncReturnType" : "DescribeUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified user account. You can find the instance ID in the console (it’s the final part of the ARN). The console does not display the user IDs. Instead, list the users and note the IDs provided in the output.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeUserRequest",
        "variableName" : "describeUserRequest",
        "variableType" : "DescribeUserRequest",
        "documentation" : "",
        "simpleType" : "DescribeUserRequest",
        "variableSetterType" : "DescribeUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUser",
      "operationName" : "DescribeUser",
      "returnType" : {
        "returnType" : "DescribeUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeUserResult"
    },
    "DescribeUserHierarchyGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUserHierarchyGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUserHierarchyGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUserHierarchyGroupRequest, DescribeUserHierarchyGroupResult>",
      "asyncReturnType" : "DescribeUserHierarchyGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified hierarchy group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeUserHierarchyGroupRequest",
        "variableName" : "describeUserHierarchyGroupRequest",
        "variableType" : "DescribeUserHierarchyGroupRequest",
        "documentation" : "",
        "simpleType" : "DescribeUserHierarchyGroupRequest",
        "variableSetterType" : "DescribeUserHierarchyGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUserHierarchyGroup",
      "operationName" : "DescribeUserHierarchyGroup",
      "returnType" : {
        "returnType" : "DescribeUserHierarchyGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeUserHierarchyGroupResult"
    },
    "DescribeUserHierarchyStructure" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUserHierarchyStructureResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUserHierarchyStructureResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUserHierarchyStructureRequest, DescribeUserHierarchyStructureResult>",
      "asyncReturnType" : "DescribeUserHierarchyStructureResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the hierarchy structure of the specified Amazon Connect instance.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeUserHierarchyStructureRequest",
        "variableName" : "describeUserHierarchyStructureRequest",
        "variableType" : "DescribeUserHierarchyStructureRequest",
        "documentation" : "",
        "simpleType" : "DescribeUserHierarchyStructureRequest",
        "variableSetterType" : "DescribeUserHierarchyStructureRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUserHierarchyStructure",
      "operationName" : "DescribeUserHierarchyStructure",
      "returnType" : {
        "returnType" : "DescribeUserHierarchyStructureResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeUserHierarchyStructureResult"
    },
    "GetContactAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetContactAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetContactAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetContactAttributesRequest, GetContactAttributesResult>",
      "asyncReturnType" : "GetContactAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the contact attributes for the specified contact.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetContactAttributesRequest",
        "variableName" : "getContactAttributesRequest",
        "variableType" : "GetContactAttributesRequest",
        "documentation" : "",
        "simpleType" : "GetContactAttributesRequest",
        "variableSetterType" : "GetContactAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getContactAttributes",
      "operationName" : "GetContactAttributes",
      "returnType" : {
        "returnType" : "GetContactAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetContactAttributesResult"
    },
    "GetCurrentMetricData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCurrentMetricDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCurrentMetricDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCurrentMetricDataRequest, GetCurrentMetricDataResult>",
      "asyncReturnType" : "GetCurrentMetricDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the real-time metric data from the specified Amazon Connect instance.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/real-time-metrics-reports.html\">Real-time Metrics Reports</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCurrentMetricDataRequest",
        "variableName" : "getCurrentMetricDataRequest",
        "variableType" : "GetCurrentMetricDataRequest",
        "documentation" : "",
        "simpleType" : "GetCurrentMetricDataRequest",
        "variableSetterType" : "GetCurrentMetricDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCurrentMetricData",
      "operationName" : "GetCurrentMetricData",
      "returnType" : {
        "returnType" : "GetCurrentMetricDataResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCurrentMetricDataResult"
    },
    "GetFederationToken" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFederationTokenResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFederationTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFederationTokenRequest, GetFederationTokenResult>",
      "asyncReturnType" : "GetFederationTokenResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a token for federation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>No user with the specified credentials was found in the Amazon Connect instance.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>A resource with the specified name already exists.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFederationTokenRequest",
        "variableName" : "getFederationTokenRequest",
        "variableType" : "GetFederationTokenRequest",
        "documentation" : "",
        "simpleType" : "GetFederationTokenRequest",
        "variableSetterType" : "GetFederationTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFederationToken",
      "operationName" : "GetFederationToken",
      "returnType" : {
        "returnType" : "GetFederationTokenResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFederationTokenResult"
    },
    "GetMetricData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMetricDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMetricDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMetricDataRequest, GetMetricDataResult>",
      "asyncReturnType" : "GetMetricDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets historical metric data from the specified Amazon Connect instance.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/historical-metrics.html\">Historical Metrics Reports</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMetricDataRequest",
        "variableName" : "getMetricDataRequest",
        "variableType" : "GetMetricDataRequest",
        "documentation" : "",
        "simpleType" : "GetMetricDataRequest",
        "variableSetterType" : "GetMetricDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMetricData",
      "operationName" : "GetMetricData",
      "returnType" : {
        "returnType" : "GetMetricDataResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMetricDataResult"
    },
    "ListContactFlows" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListContactFlowsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListContactFlowsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListContactFlowsRequest, ListContactFlowsResult>",
      "asyncReturnType" : "ListContactFlowsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about the contact flows for the specified Amazon Connect instance.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListContactFlowsRequest",
        "variableName" : "listContactFlowsRequest",
        "variableType" : "ListContactFlowsRequest",
        "documentation" : "",
        "simpleType" : "ListContactFlowsRequest",
        "variableSetterType" : "ListContactFlowsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listContactFlows",
      "operationName" : "ListContactFlows",
      "returnType" : {
        "returnType" : "ListContactFlowsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListContactFlowsResult"
    },
    "ListHoursOfOperations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListHoursOfOperationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListHoursOfOperationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListHoursOfOperationsRequest, ListHoursOfOperationsResult>",
      "asyncReturnType" : "ListHoursOfOperationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about the hours of operation for the specified Amazon Connect instance.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListHoursOfOperationsRequest",
        "variableName" : "listHoursOfOperationsRequest",
        "variableType" : "ListHoursOfOperationsRequest",
        "documentation" : "",
        "simpleType" : "ListHoursOfOperationsRequest",
        "variableSetterType" : "ListHoursOfOperationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listHoursOfOperations",
      "operationName" : "ListHoursOfOperations",
      "returnType" : {
        "returnType" : "ListHoursOfOperationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListHoursOfOperationsResult"
    },
    "ListPhoneNumbers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPhoneNumbersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPhoneNumbersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPhoneNumbersRequest, ListPhoneNumbersResult>",
      "asyncReturnType" : "ListPhoneNumbersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about the phone numbers for the specified Amazon Connect instance.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPhoneNumbersRequest",
        "variableName" : "listPhoneNumbersRequest",
        "variableType" : "ListPhoneNumbersRequest",
        "documentation" : "",
        "simpleType" : "ListPhoneNumbersRequest",
        "variableSetterType" : "ListPhoneNumbersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPhoneNumbers",
      "operationName" : "ListPhoneNumbers",
      "returnType" : {
        "returnType" : "ListPhoneNumbersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPhoneNumbersResult"
    },
    "ListQueues" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListQueuesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListQueuesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListQueuesRequest, ListQueuesResult>",
      "asyncReturnType" : "ListQueuesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about the queues for the specified Amazon Connect instance.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListQueuesRequest",
        "variableName" : "listQueuesRequest",
        "variableType" : "ListQueuesRequest",
        "documentation" : "",
        "simpleType" : "ListQueuesRequest",
        "variableSetterType" : "ListQueuesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listQueues",
      "operationName" : "ListQueues",
      "returnType" : {
        "returnType" : "ListQueuesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListQueuesResult"
    },
    "ListRoutingProfiles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRoutingProfilesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRoutingProfilesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRoutingProfilesRequest, ListRoutingProfilesResult>",
      "asyncReturnType" : "ListRoutingProfilesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides summary information about the routing profiles for the specified Amazon Connect instance.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRoutingProfilesRequest",
        "variableName" : "listRoutingProfilesRequest",
        "variableType" : "ListRoutingProfilesRequest",
        "documentation" : "",
        "simpleType" : "ListRoutingProfilesRequest",
        "variableSetterType" : "ListRoutingProfilesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRoutingProfiles",
      "operationName" : "ListRoutingProfiles",
      "returnType" : {
        "returnType" : "ListRoutingProfilesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRoutingProfilesResult"
    },
    "ListSecurityProfiles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSecurityProfilesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSecurityProfilesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSecurityProfilesRequest, ListSecurityProfilesResult>",
      "asyncReturnType" : "ListSecurityProfilesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides summary information about the security profiles for the specified Amazon Connect instance.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSecurityProfilesRequest",
        "variableName" : "listSecurityProfilesRequest",
        "variableType" : "ListSecurityProfilesRequest",
        "documentation" : "",
        "simpleType" : "ListSecurityProfilesRequest",
        "variableSetterType" : "ListSecurityProfilesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSecurityProfiles",
      "operationName" : "ListSecurityProfiles",
      "returnType" : {
        "returnType" : "ListSecurityProfilesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSecurityProfilesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for the specified resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListUserHierarchyGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUserHierarchyGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUserHierarchyGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUserHierarchyGroupsRequest, ListUserHierarchyGroupsResult>",
      "asyncReturnType" : "ListUserHierarchyGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides summary information about the hierarchy groups for the specified Amazon Connect instance.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListUserHierarchyGroupsRequest",
        "variableName" : "listUserHierarchyGroupsRequest",
        "variableType" : "ListUserHierarchyGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListUserHierarchyGroupsRequest",
        "variableSetterType" : "ListUserHierarchyGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUserHierarchyGroups",
      "operationName" : "ListUserHierarchyGroups",
      "returnType" : {
        "returnType" : "ListUserHierarchyGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListUserHierarchyGroupsResult"
    },
    "ListUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUsersRequest, ListUsersResult>",
      "asyncReturnType" : "ListUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides summary information about the users for the specified Amazon Connect instance.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListUsersRequest",
        "variableName" : "listUsersRequest",
        "variableType" : "ListUsersRequest",
        "documentation" : "",
        "simpleType" : "ListUsersRequest",
        "variableSetterType" : "ListUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUsers",
      "operationName" : "ListUsers",
      "returnType" : {
        "returnType" : "ListUsersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListUsersResult"
    },
    "StartChatContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartChatContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartChatContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartChatContactRequest, StartChatContactResult>",
      "asyncReturnType" : "StartChatContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initiates a contact flow to start a new chat for the customer. Response of this API provides a token required to obtain credentials from the <a href=\"https://docs.aws.amazon.com/connect-participant/latest/APIReference/API_CreateParticipantConnection.html\">CreateParticipantConnection</a> API in the Amazon Connect Participant Service.</p> <p>When a new chat contact is successfully created, clients need to subscribe to the participant’s connection for the created chat within 5 minutes. This is achieved by invoking <a href=\"https://docs.aws.amazon.com/connect-participant/latest/APIReference/API_CreateParticipantConnection.html\">CreateParticipantConnection</a> with WEBSOCKET and CONNECTION_CREDENTIALS. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The allowed limit for the resource has been exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartChatContactRequest",
        "variableName" : "startChatContactRequest",
        "variableType" : "StartChatContactRequest",
        "documentation" : "",
        "simpleType" : "StartChatContactRequest",
        "variableSetterType" : "StartChatContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startChatContact",
      "operationName" : "StartChatContact",
      "returnType" : {
        "returnType" : "StartChatContactResult",
        "documentation" : null
      },
      "syncReturnType" : "StartChatContactResult"
    },
    "StartOutboundVoiceContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartOutboundVoiceContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartOutboundVoiceContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartOutboundVoiceContactRequest, StartOutboundVoiceContactResult>",
      "asyncReturnType" : "StartOutboundVoiceContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initiates a contact flow to place an outbound call to a customer.</p> <p>There is a 60 second dialing timeout for this operation. If the call is not connected after 60 seconds, it fails.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The allowed limit for the resource has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "DestinationNotAllowedException",
        "documentation" : "<p>Outbound calls to the destination number are not allowed.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "OutboundContactNotPermittedException",
        "documentation" : "<p>The contact is not permitted.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartOutboundVoiceContactRequest",
        "variableName" : "startOutboundVoiceContactRequest",
        "variableType" : "StartOutboundVoiceContactRequest",
        "documentation" : "",
        "simpleType" : "StartOutboundVoiceContactRequest",
        "variableSetterType" : "StartOutboundVoiceContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startOutboundVoiceContact",
      "operationName" : "StartOutboundVoiceContact",
      "returnType" : {
        "returnType" : "StartOutboundVoiceContactResult",
        "documentation" : null
      },
      "syncReturnType" : "StartOutboundVoiceContactResult"
    },
    "StopContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopContactRequest, StopContactResult>",
      "asyncReturnType" : "StopContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Ends the specified contact.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ContactNotFoundException",
        "documentation" : "<p>The contact with the specified ID is not active or does not exist.</p>",
        "httpStatusCode" : 410
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopContactRequest",
        "variableName" : "stopContactRequest",
        "variableType" : "StopContactRequest",
        "documentation" : "",
        "simpleType" : "StopContactRequest",
        "variableSetterType" : "StopContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopContact",
      "operationName" : "StopContact",
      "returnType" : {
        "returnType" : "StopContactResult",
        "documentation" : null
      },
      "syncReturnType" : "StopContactResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified tags to the specified resource.</p> <p>The supported resource type is users.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags from the specified resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateContactAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateContactAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateContactAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateContactAttributesRequest, UpdateContactAttributesResult>",
      "asyncReturnType" : "UpdateContactAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates the contact attributes associated with the specified contact.</p> <p>You can add or update attributes for both ongoing and completed contacts. For example, you can update the customer's name or the reason the customer called while the call is active, or add notes about steps that the agent took during the call that are displayed to the next agent that takes the call. You can also update attributes for a contact using data from your CRM application and save the data with the contact in Amazon Connect. You could also flag calls for additional analysis, such as legal review or identifying abusive callers.</p> <p>Contact attributes are available in Amazon Connect for 24 months, and are then deleted.</p> <p> <b>Important:</b> You cannot use the operation to update attributes for contacts that occurred prior to the release of the API, September 12, 2018. You can update attributes only for contacts that started after the release of the API. If you attempt to update attributes for a contact that occurred prior to the release of the API, a 400 error is returned. This applies also to queued callbacks that were initiated prior to the release of the API but are still active in your instance.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateContactAttributesRequest",
        "variableName" : "updateContactAttributesRequest",
        "variableType" : "UpdateContactAttributesRequest",
        "documentation" : "",
        "simpleType" : "UpdateContactAttributesRequest",
        "variableSetterType" : "UpdateContactAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateContactAttributes",
      "operationName" : "UpdateContactAttributes",
      "returnType" : {
        "returnType" : "UpdateContactAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateContactAttributesResult"
    },
    "UpdateUserHierarchy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserHierarchyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserHierarchyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserHierarchyRequest, UpdateUserHierarchyResult>",
      "asyncReturnType" : "UpdateUserHierarchyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns the specified hierarchy group to the specified user.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateUserHierarchyRequest",
        "variableName" : "updateUserHierarchyRequest",
        "variableType" : "UpdateUserHierarchyRequest",
        "documentation" : "",
        "simpleType" : "UpdateUserHierarchyRequest",
        "variableSetterType" : "UpdateUserHierarchyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateUserHierarchy",
      "operationName" : "UpdateUserHierarchy",
      "returnType" : {
        "returnType" : "UpdateUserHierarchyResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateUserHierarchyResult"
    },
    "UpdateUserIdentityInfo" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserIdentityInfoResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserIdentityInfoResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserIdentityInfoRequest, UpdateUserIdentityInfoResult>",
      "asyncReturnType" : "UpdateUserIdentityInfoResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the identity information for the specified user.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateUserIdentityInfoRequest",
        "variableName" : "updateUserIdentityInfoRequest",
        "variableType" : "UpdateUserIdentityInfoRequest",
        "documentation" : "",
        "simpleType" : "UpdateUserIdentityInfoRequest",
        "variableSetterType" : "UpdateUserIdentityInfoRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateUserIdentityInfo",
      "operationName" : "UpdateUserIdentityInfo",
      "returnType" : {
        "returnType" : "UpdateUserIdentityInfoResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateUserIdentityInfoResult"
    },
    "UpdateUserPhoneConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserPhoneConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserPhoneConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserPhoneConfigRequest, UpdateUserPhoneConfigResult>",
      "asyncReturnType" : "UpdateUserPhoneConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the phone configuration settings for the specified user.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateUserPhoneConfigRequest",
        "variableName" : "updateUserPhoneConfigRequest",
        "variableType" : "UpdateUserPhoneConfigRequest",
        "documentation" : "",
        "simpleType" : "UpdateUserPhoneConfigRequest",
        "variableSetterType" : "UpdateUserPhoneConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateUserPhoneConfig",
      "operationName" : "UpdateUserPhoneConfig",
      "returnType" : {
        "returnType" : "UpdateUserPhoneConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateUserPhoneConfigResult"
    },
    "UpdateUserRoutingProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserRoutingProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserRoutingProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserRoutingProfileRequest, UpdateUserRoutingProfileResult>",
      "asyncReturnType" : "UpdateUserRoutingProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns the specified routing profile to the specified user.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateUserRoutingProfileRequest",
        "variableName" : "updateUserRoutingProfileRequest",
        "variableType" : "UpdateUserRoutingProfileRequest",
        "documentation" : "",
        "simpleType" : "UpdateUserRoutingProfileRequest",
        "variableSetterType" : "UpdateUserRoutingProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateUserRoutingProfile",
      "operationName" : "UpdateUserRoutingProfile",
      "returnType" : {
        "returnType" : "UpdateUserRoutingProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateUserRoutingProfileResult"
    },
    "UpdateUserSecurityProfiles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserSecurityProfilesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserSecurityProfilesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserSecurityProfilesRequest, UpdateUserSecurityProfilesResult>",
      "asyncReturnType" : "UpdateUserSecurityProfilesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns the specified security profiles to the specified user.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the specified parameters are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateUserSecurityProfilesRequest",
        "variableName" : "updateUserSecurityProfilesRequest",
        "variableType" : "UpdateUserSecurityProfilesRequest",
        "documentation" : "",
        "simpleType" : "UpdateUserSecurityProfilesRequest",
        "variableSetterType" : "UpdateUserSecurityProfilesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateUserSecurityProfiles",
      "operationName" : "UpdateUserSecurityProfiles",
      "returnType" : {
        "returnType" : "UpdateUserSecurityProfilesResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateUserSecurityProfilesResult"
    }
  },
  "shapes" : {
    "Channel" : {
      "c2jName" : "Channel",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "VOICE",
        "value" : "VOICE"
      }, {
        "name" : "CHAT",
        "value" : "CHAT"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Channel",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Channel",
        "variableName" : "channel",
        "variableType" : "Channel",
        "documentation" : null,
        "simpleType" : "Channel",
        "variableSetterType" : "Channel"
      },
      "wrapper" : false
    },
    "ChatMessage" : {
      "c2jName" : "ChatMessage",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A chat message.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ContentType",
        "c2jShape" : "ChatContentType",
        "deprecated" : false,
        "documentation" : "<p>The type of the content. Supported types are text/plain.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The type of the content. Supported types are text/plain.</p>\n@param contentType The type of the content. Supported types are text/plain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withContentType",
        "getterDocumentation" : "/**<p>The type of the content. Supported types are text/plain.</p>\n@return The type of the content. Supported types are text/plain.*/",
        "getterMethodName" : "getContentType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ContentType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ContentType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ContentType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The type of the content. Supported types are text/plain.</p>\n@param contentType The type of the content. Supported types are text/plain.*/",
        "setterMethodName" : "setContentType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "contentType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of the content. Supported types are text/plain.</p>\n@param contentType The type of the content. Supported types are text/plain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "contentType",
          "variableType" : "String",
          "documentation" : "<p>The type of the content. Supported types are text/plain.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Content",
        "c2jShape" : "ChatContent",
        "deprecated" : false,
        "documentation" : "<p>The content of the chat message.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The content of the chat message.</p>\n@param content The content of the chat message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withContent",
        "getterDocumentation" : "/**<p>The content of the chat message.</p>\n@return The content of the chat message.*/",
        "getterMethodName" : "getContent",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Content",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Content",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Content",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The content of the chat message.</p>\n@param content The content of the chat message.*/",
        "setterMethodName" : "setContent",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "content",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The content of the chat message.</p>\n@param content The content of the chat message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "content",
          "variableType" : "String",
          "documentation" : "<p>The content of the chat message.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Content" : {
          "c2jName" : "Content",
          "c2jShape" : "ChatContent",
          "deprecated" : false,
          "documentation" : "<p>The content of the chat message.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The content of the chat message.</p>\n@param content The content of the chat message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withContent",
          "getterDocumentation" : "/**<p>The content of the chat message.</p>\n@return The content of the chat message.*/",
          "getterMethodName" : "getContent",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Content",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Content",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Content",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The content of the chat message.</p>\n@param content The content of the chat message.*/",
          "setterMethodName" : "setContent",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "content",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The content of the chat message.</p>\n@param content The content of the chat message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "content",
            "variableType" : "String",
            "documentation" : "<p>The content of the chat message.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ContentType" : {
          "c2jName" : "ContentType",
          "c2jShape" : "ChatContentType",
          "deprecated" : false,
          "documentation" : "<p>The type of the content. Supported types are text/plain.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The type of the content. Supported types are text/plain.</p>\n@param contentType The type of the content. Supported types are text/plain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withContentType",
          "getterDocumentation" : "/**<p>The type of the content. Supported types are text/plain.</p>\n@return The type of the content. Supported types are text/plain.*/",
          "getterMethodName" : "getContentType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ContentType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ContentType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ContentType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The type of the content. Supported types are text/plain.</p>\n@param contentType The type of the content. Supported types are text/plain.*/",
          "setterMethodName" : "setContentType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "contentType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The type of the content. Supported types are text/plain.</p>\n@param contentType The type of the content. Supported types are text/plain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "contentType",
            "variableType" : "String",
            "documentation" : "<p>The type of the content. Supported types are text/plain.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ContentType", "Content" ],
      "shapeName" : "ChatMessage",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ChatMessage",
        "variableName" : "chatMessage",
        "variableType" : "ChatMessage",
        "documentation" : null,
        "simpleType" : "ChatMessage",
        "variableSetterType" : "ChatMessage"
      },
      "wrapper" : false
    },
    "Comparison" : {
      "c2jName" : "Comparison",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "LT",
        "value" : "LT"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Comparison",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Comparison",
        "variableName" : "comparison",
        "variableType" : "Comparison",
        "documentation" : null,
        "simpleType" : "Comparison",
        "variableSetterType" : "Comparison"
      },
      "wrapper" : false
    },
    "ContactFlowSummary" : {
      "c2jName" : "ContactFlowSummary",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains summary information about a contact flow.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Id",
        "c2jShape" : "ContactFlowId",
        "deprecated" : false,
        "documentation" : "<p>The identifier of the contact flow.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier of the contact flow.</p>\n@param id The identifier of the contact flow.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p>The identifier of the contact flow.</p>\n@return The identifier of the contact flow.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier of the contact flow.</p>\n@param id The identifier of the contact flow.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier of the contact flow.</p>\n@param id The identifier of the contact flow.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p>The identifier of the contact flow.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Arn",
        "c2jShape" : "ARN",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the contact flow.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the contact flow.</p>\n@param arn The Amazon Resource Name (ARN) of the contact flow.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the contact flow.</p>\n@return The Amazon Resource Name (ARN) of the contact flow.*/",
        "getterMethodName" : "getArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Arn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Arn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the contact flow.</p>\n@param arn The Amazon Resource Name (ARN) of the contact flow.*/",
        "setterMethodName" : "setArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the contact flow.</p>\n@param arn The Amazon Resource Name (ARN) of the contact flow.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the contact flow.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Name",
        "c2jShape" : "ContactFlowName",
        "deprecated" : false,
        "documentation" : "<p>The name of the contact flow.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the contact flow.</p>\n@param name The name of the contact flow.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the contact flow.</p>\n@return The name of the contact flow.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the contact flow.</p>\n@param name The name of the contact flow.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the contact flow.</p>\n@param name The name of the contact flow.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the contact flow.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ContactFlowType",
        "c2jShape" : "ContactFlowType",
        "deprecated" : false,
        "documentation" : "<p>The type of contact flow.</p>",
        "enumType" : "ContactFlowType",
        "fluentSetterDocumentation" : "/**<p>The type of contact flow.</p>\n@param contactFlowType The type of contact flow.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ContactFlowType*/",
        "fluentSetterMethodName" : "withContactFlowType",
        "getterDocumentation" : "/**<p>The type of contact flow.</p>\n@return The type of contact flow.\n@see ContactFlowType*/",
        "getterMethodName" : "getContactFlowType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
[...]
