{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-08-08",
    "asyncClient" : "AmazonConnectAsyncClient",
    "asyncClientBuilderClassName" : "AmazonConnectAsyncClientBuilder",
    "asyncInterface" : "AmazonConnectAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonConnectModuleInjector",
    "defaultEndpoint" : "connect.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "connect.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Amazon Connect API Reference provides descriptions, syntax, and usage examples for each of the Amazon Connect actions, data types, parameters, and errors. Amazon Connect is a cloud-based contact center solution that makes it easy to set up and manage a customer contact center and provide reliable customer engagement at any scale.</p>",
    "endpointPrefix" : "connect",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.connect",
    "packagePath" : "com/amazonaws/services/connect",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amazon Connect",
    "serviceFullName" : "Amazon Connect Service",
    "serviceId" : "Connect",
    "serviceName" : "Amazon Connect",
    "signingName" : "connect",
    "smokeTestsPackageName" : "com.amazonaws.services.connect.smoketests",
    "syncClient" : "AmazonConnectClient",
    "syncClientBuilderClassName" : "AmazonConnectClientBuilder",
    "syncInterface" : "AmazonConnect",
    "uid" : "connect-2017-08-08",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserRequest, CreateUserResult>",
      "asyncReturnType" : "CreateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new user account in your Amazon Connect instance.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit exceeded the maximum allowed active calls in a queue.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>A resource with that name already exisits.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateUserRequest",
        "variableName" : "createUserRequest",
        "variableType" : "CreateUserRequest",
        "documentation" : "",
        "simpleType" : "CreateUserRequest",
        "variableSetterType" : "CreateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUser",
      "operationName" : "CreateUser",
      "returnType" : {
        "returnType" : "CreateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateUserResult"
    },
    "DeleteUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteUserRequest, DeleteUserResult>",
      "asyncReturnType" : "DeleteUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a user account from Amazon Connect.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteUserRequest",
        "variableName" : "deleteUserRequest",
        "variableType" : "DeleteUserRequest",
        "documentation" : "",
        "simpleType" : "DeleteUserRequest",
        "variableSetterType" : "DeleteUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteUser",
      "operationName" : "DeleteUser",
      "returnType" : {
        "returnType" : "DeleteUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteUserResult"
    },
    "DescribeUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUserRequest, DescribeUserResult>",
      "asyncReturnType" : "DescribeUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a <code>User</code> object that contains information about the user account specified by the <code>UserId</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeUserRequest",
        "variableName" : "describeUserRequest",
        "variableType" : "DescribeUserRequest",
        "documentation" : "",
        "simpleType" : "DescribeUserRequest",
        "variableSetterType" : "DescribeUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUser",
      "operationName" : "DescribeUser",
      "returnType" : {
        "returnType" : "DescribeUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeUserResult"
    },
    "DescribeUserHierarchyGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUserHierarchyGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUserHierarchyGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUserHierarchyGroupRequest, DescribeUserHierarchyGroupResult>",
      "asyncReturnType" : "DescribeUserHierarchyGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a <code>HierarchyGroup</code> object that includes information about a hierarchy group in your instance.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeUserHierarchyGroupRequest",
        "variableName" : "describeUserHierarchyGroupRequest",
        "variableType" : "DescribeUserHierarchyGroupRequest",
        "documentation" : "",
        "simpleType" : "DescribeUserHierarchyGroupRequest",
        "variableSetterType" : "DescribeUserHierarchyGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUserHierarchyGroup",
      "operationName" : "DescribeUserHierarchyGroup",
      "returnType" : {
        "returnType" : "DescribeUserHierarchyGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeUserHierarchyGroupResult"
    },
    "DescribeUserHierarchyStructure" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUserHierarchyStructureResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUserHierarchyStructureResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUserHierarchyStructureRequest, DescribeUserHierarchyStructureResult>",
      "asyncReturnType" : "DescribeUserHierarchyStructureResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a <code>HiearchyGroupStructure</code> object, which contains data about the levels in the agent hierarchy.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeUserHierarchyStructureRequest",
        "variableName" : "describeUserHierarchyStructureRequest",
        "variableType" : "DescribeUserHierarchyStructureRequest",
        "documentation" : "",
        "simpleType" : "DescribeUserHierarchyStructureRequest",
        "variableSetterType" : "DescribeUserHierarchyStructureRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUserHierarchyStructure",
      "operationName" : "DescribeUserHierarchyStructure",
      "returnType" : {
        "returnType" : "DescribeUserHierarchyStructureResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeUserHierarchyStructureResult"
    },
    "GetFederationToken" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFederationTokenResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFederationTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFederationTokenRequest, GetFederationTokenResult>",
      "asyncReturnType" : "GetFederationTokenResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a token for federation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UserNotFoundException",
        "documentation" : "<p>No user with the specified credentials was found in the Amazon Connect instance.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DuplicateResourceException",
        "documentation" : "<p>A resource with that name already exisits.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFederationTokenRequest",
        "variableName" : "getFederationTokenRequest",
        "variableType" : "GetFederationTokenRequest",
        "documentation" : "",
        "simpleType" : "GetFederationTokenRequest",
        "variableSetterType" : "GetFederationTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFederationToken",
      "operationName" : "GetFederationToken",
      "returnType" : {
        "returnType" : "GetFederationTokenResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFederationTokenResult"
    },
    "ListRoutingProfiles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRoutingProfilesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRoutingProfilesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRoutingProfilesRequest, ListRoutingProfilesResult>",
      "asyncReturnType" : "ListRoutingProfilesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of <code>RoutingProfileSummary</code> objects that includes information about the routing profiles in your instance.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRoutingProfilesRequest",
        "variableName" : "listRoutingProfilesRequest",
        "variableType" : "ListRoutingProfilesRequest",
        "documentation" : "",
        "simpleType" : "ListRoutingProfilesRequest",
        "variableSetterType" : "ListRoutingProfilesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRoutingProfiles",
      "operationName" : "ListRoutingProfiles",
      "returnType" : {
        "returnType" : "ListRoutingProfilesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRoutingProfilesResult"
    },
    "ListSecurityProfiles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSecurityProfilesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSecurityProfilesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSecurityProfilesRequest, ListSecurityProfilesResult>",
      "asyncReturnType" : "ListSecurityProfilesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of SecurityProfileSummary objects that contain information about the security profiles in your instance, including the ARN, Id, and Name of the security profile.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSecurityProfilesRequest",
        "variableName" : "listSecurityProfilesRequest",
        "variableType" : "ListSecurityProfilesRequest",
        "documentation" : "",
        "simpleType" : "ListSecurityProfilesRequest",
        "variableSetterType" : "ListSecurityProfilesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSecurityProfiles",
      "operationName" : "ListSecurityProfiles",
      "returnType" : {
        "returnType" : "ListSecurityProfilesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSecurityProfilesResult"
    },
    "ListUserHierarchyGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUserHierarchyGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUserHierarchyGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUserHierarchyGroupsRequest, ListUserHierarchyGroupsResult>",
      "asyncReturnType" : "ListUserHierarchyGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a <code>UserHierarchyGroupSummaryList</code>, which is an array of <code>HierarchyGroupSummary</code> objects that contain information about the hierarchy groups in your instance.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListUserHierarchyGroupsRequest",
        "variableName" : "listUserHierarchyGroupsRequest",
        "variableType" : "ListUserHierarchyGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListUserHierarchyGroupsRequest",
        "variableSetterType" : "ListUserHierarchyGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUserHierarchyGroups",
      "operationName" : "ListUserHierarchyGroups",
      "returnType" : {
        "returnType" : "ListUserHierarchyGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListUserHierarchyGroupsResult"
    },
    "ListUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUsersRequest, ListUsersResult>",
      "asyncReturnType" : "ListUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a <code>UserSummaryList</code>, which is an array of <code>UserSummary</code> objects.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListUsersRequest",
        "variableName" : "listUsersRequest",
        "variableType" : "ListUsersRequest",
        "documentation" : "",
        "simpleType" : "ListUsersRequest",
        "variableSetterType" : "ListUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUsers",
      "operationName" : "ListUsers",
      "returnType" : {
        "returnType" : "ListUsersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListUsersResult"
    },
    "StartOutboundVoiceContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartOutboundVoiceContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartOutboundVoiceContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartOutboundVoiceContactRequest, StartOutboundVoiceContactResult>",
      "asyncReturnType" : "StartOutboundVoiceContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The <code>StartOutboundVoiceContact</code> operation initiates a contact flow to place an outbound call to a customer.</p> <p>There is a throttling limit placed on usage of the API that includes a RateLimit of 2 per second, and a BurstLimit of 5 per second.</p> <p>If you are using an IAM account, it must have permission to the <code>connect:StartOutboundVoiceContact</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit exceeded the maximum allowed active calls in a queue.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "DestinationNotAllowedException",
        "documentation" : "<p>Outbound calls to the destination number are not allowed.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "OutboundContactNotPermittedException",
        "documentation" : "<p>The contact is not permitted.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartOutboundVoiceContactRequest",
        "variableName" : "startOutboundVoiceContactRequest",
        "variableType" : "StartOutboundVoiceContactRequest",
        "documentation" : "",
        "simpleType" : "StartOutboundVoiceContactRequest",
        "variableSetterType" : "StartOutboundVoiceContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startOutboundVoiceContact",
      "operationName" : "StartOutboundVoiceContact",
      "returnType" : {
        "returnType" : "StartOutboundVoiceContactResult",
        "documentation" : null
      },
      "syncReturnType" : "StartOutboundVoiceContactResult"
    },
    "StopContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopContactRequest, StopContactResult>",
      "asyncReturnType" : "StopContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Ends the contact initiated by the <code>StartOutboundVoiceContact</code> operation.</p> <p>If you are using an IAM account, it must have permission to the <code>connect:StopContact</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ContactNotFoundException",
        "documentation" : "<p>The contact with the specified ID is not active or does not exist.</p>",
        "httpStatusCode" : 410
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopContactRequest",
        "variableName" : "stopContactRequest",
        "variableType" : "StopContactRequest",
        "documentation" : "",
        "simpleType" : "StopContactRequest",
        "variableSetterType" : "StopContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopContact",
      "operationName" : "StopContact",
      "returnType" : {
        "returnType" : "StopContactResult",
        "documentation" : null
      },
      "syncReturnType" : "StopContactResult"
    },
    "UpdateUserHierarchy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserHierarchyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserHierarchyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserHierarchyRequest, UpdateUserHierarchyResult>",
      "asyncReturnType" : "UpdateUserHierarchyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns the specified hierarchy group to the user.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateUserHierarchyRequest",
        "variableName" : "updateUserHierarchyRequest",
        "variableType" : "UpdateUserHierarchyRequest",
        "documentation" : "",
        "simpleType" : "UpdateUserHierarchyRequest",
        "variableSetterType" : "UpdateUserHierarchyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateUserHierarchy",
      "operationName" : "UpdateUserHierarchy",
      "returnType" : {
        "returnType" : "UpdateUserHierarchyResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateUserHierarchyResult"
    },
    "UpdateUserIdentityInfo" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserIdentityInfoResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserIdentityInfoResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserIdentityInfoRequest, UpdateUserIdentityInfoResult>",
      "asyncReturnType" : "UpdateUserIdentityInfoResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the identity information for the specified user in a <code>UserIdentityInfo</code> object, including email, first name, and last name.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateUserIdentityInfoRequest",
        "variableName" : "updateUserIdentityInfoRequest",
        "variableType" : "UpdateUserIdentityInfoRequest",
        "documentation" : "",
        "simpleType" : "UpdateUserIdentityInfoRequest",
        "variableSetterType" : "UpdateUserIdentityInfoRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateUserIdentityInfo",
      "operationName" : "UpdateUserIdentityInfo",
      "returnType" : {
        "returnType" : "UpdateUserIdentityInfoResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateUserIdentityInfoResult"
    },
    "UpdateUserPhoneConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserPhoneConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserPhoneConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserPhoneConfigRequest, UpdateUserPhoneConfigResult>",
      "asyncReturnType" : "UpdateUserPhoneConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the phone configuration settings in the <code>UserPhoneConfig</code> object for the specified user.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateUserPhoneConfigRequest",
        "variableName" : "updateUserPhoneConfigRequest",
        "variableType" : "UpdateUserPhoneConfigRequest",
        "documentation" : "",
        "simpleType" : "UpdateUserPhoneConfigRequest",
        "variableSetterType" : "UpdateUserPhoneConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateUserPhoneConfig",
      "operationName" : "UpdateUserPhoneConfig",
      "returnType" : {
        "returnType" : "UpdateUserPhoneConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateUserPhoneConfigResult"
    },
    "UpdateUserRoutingProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserRoutingProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserRoutingProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserRoutingProfileRequest, UpdateUserRoutingProfileResult>",
      "asyncReturnType" : "UpdateUserRoutingProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns the specified routing profile to a user.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateUserRoutingProfileRequest",
        "variableName" : "updateUserRoutingProfileRequest",
        "variableType" : "UpdateUserRoutingProfileRequest",
        "documentation" : "",
        "simpleType" : "UpdateUserRoutingProfileRequest",
        "variableSetterType" : "UpdateUserRoutingProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateUserRoutingProfile",
      "operationName" : "UpdateUserRoutingProfile",
      "returnType" : {
        "returnType" : "UpdateUserRoutingProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateUserRoutingProfileResult"
    },
    "UpdateUserSecurityProfiles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserSecurityProfilesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserSecurityProfilesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserSecurityProfilesRequest, UpdateUserSecurityProfilesResult>",
      "asyncReturnType" : "UpdateUserSecurityProfilesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update the security profiles assigned to the user.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more of the parameters provided to the operation are not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The throttling limit has been exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : "<p>Request processing failed due to an error or failure with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateUserSecurityProfilesRequest",
        "variableName" : "updateUserSecurityProfilesRequest",
        "variableType" : "UpdateUserSecurityProfilesRequest",
        "documentation" : "",
        "simpleType" : "UpdateUserSecurityProfilesRequest",
        "variableSetterType" : "UpdateUserSecurityProfilesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateUserSecurityProfiles",
      "operationName" : "UpdateUserSecurityProfiles",
      "returnType" : {
        "returnType" : "UpdateUserSecurityProfilesResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateUserSecurityProfilesResult"
    }
  },
  "shapes" : {
    "ContactNotFoundException" : {
      "c2jName" : "ContactNotFoundException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The contact with the specified ID is not active or does not exist.</p>",
      "enums" : null,
      "errorCode" : "ContactNotFoundException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ContactNotFoundException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ContactNotFoundException",
        "variableName" : "contactNotFoundException",
        "variableType" : "ContactNotFoundException",
        "documentation" : null,
        "simpleType" : "ContactNotFoundException",
        "variableSetterType" : "ContactNotFoundException"
      },
      "wrapper" : false
    },
    "CreateUserRequest" : {
      "c2jName" : "CreateUserRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateUser",
        "locationName" : null,
        "requestUri" : "/users/{InstanceId}",
        "target" : null,
        "verb" : "PUT",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Username",
        "c2jShape" : "AgentUsername",
        "deprecated" : false,
        "documentation" : "<p>The user name in Amazon Connect for the user to create.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The user name in Amazon Connect for the user to create.</p>\n@param username The user name in Amazon Connect for the user to create.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUsername",
        "getterDocumentation" : "/**<p>The user name in Amazon Connect for the user to create.</p>\n@return The user name in Amazon Connect for the user to create.*/",
        "getterMethodName" : "getUsername",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Username",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Username",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Username",
        "setterDocumentation" : "/**<p>The user name in Amazon Connect for the user to create.</p>\n@param username The user name in Amazon Connect for the user to create.*/",
        "setterMethodName" : "setUsername",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "username",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The user name in Amazon Connect for the user to create.</p>\n@param username The user name in Amazon Connect for the user to create.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "username",
          "variableType" : "String",
          "documentation" : "<p>The user name in Amazon Connect for the user to create.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Password",
        "c2jShape" : "Password",
        "deprecated" : false,
        "documentation" : "<p>The password for the user account to create. This is required if you are using Amazon Connect for identity management. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The password for the user account to create. This is required if you are using Amazon Connect for identity management. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.</p>\n@param password The password for the user account to create. This is required if you are using Amazon Connect for identity management. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPassword",
        "getterDocumentation" : "/**<p>The password for the user account to create. This is required if you are using Amazon Connect for identity management. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.</p>\n@return The password for the user account to create. This is required if you are using Amazon Connect for identity management. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.*/",
        "getterMethodName" : "getPassword",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Password",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Password",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Password",
        "setterDocumentation" : "/**<p>The password for the user account to create. This is required if you are using Amazon Connect for identity management. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.</p>\n@param password The password for the user account to create. This is required if you are using Amazon Connect for identity management. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.*/",
        "setterMethodName" : "setPassword",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "password",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The password for the user account to create. This is required if you are using Amazon Connect for identity management. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.</p>\n@param password The password for the user account to create. This is required if you are using Amazon Connect for identity management. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "password",
          "variableType" : "String",
          "documentation" : "<p>The password for the user account to create. This is required if you are using Amazon Connect for identity management. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IdentityInfo",
        "c2jShape" : "UserIdentityInfo",
        "deprecated" : false,
        "documentation" : "<p>Information about the user, including email address, first name, and last name.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the user, including email address, first name, and last name.</p>\n@param identityInfo Information about the user, including email address, first name, and last name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIdentityInfo",
        "getterDocumentation" : "/**<p>Information about the user, including email address, first name, and last name.</p>\n@return Information about the user, including email address, first name, and last name.*/",
        "getterMethodName" : "getIdentityInfo",
        "getterModel" : {
          "returnType" : "UserIdentityInfo",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "IdentityInfo",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IdentityInfo",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "IdentityInfo",
        "setterDocumentation" : "/**<p>Information about the user, including email address, first name, and last name.</p>\n@param identityInfo Information about the user, including email address, first name, and last name.*/",
        "setterMethodName" : "setIdentityInfo",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "UserIdentityInfo",
          "variableName" : "identityInfo",
          "variableType" : "UserIdentityInfo",
          "documentation" : "",
          "simpleType" : "UserIdentityInfo",
          "variableSetterType" : "UserIdentityInfo"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about the user, including email address, first name, and last name.</p>\n@param identityInfo Information about the user, including email address, first name, and last name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "UserIdentityInfo",
          "variableName" : "identityInfo",
          "variableType" : "UserIdentityInfo",
          "documentation" : "<p>Information about the user, including email address, first name, and last name.</p>",
          "simpleType" : "UserIdentityInfo",
          "variableSetterType" : "UserIdentityInfo"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PhoneConfig",
        "c2jShape" : "UserPhoneConfig",
        "deprecated" : false,
        "documentation" : "<p>Specifies the phone settings for the user, including AfterContactWorkTimeLimit, AutoAccept, DeskPhoneNumber, and PhoneType.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the phone settings for the user, including AfterContactWorkTimeLimit, AutoAccept, DeskPhoneNumber, and PhoneType.</p>\n@param phoneConfig Specifies the phone settings for the user, including AfterContactWorkTimeLimit, AutoAccept, DeskPhoneNumber, and PhoneType.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPhoneConfig",
        "getterDocumentation" : "/**<p>Specifies the phone settings for the user, including AfterContactWorkTimeLimit, AutoAccept, DeskPhoneNumber, and PhoneType.</p>\n@return Specifies the phone settings for the user, including AfterContactWorkTimeLimit, AutoAccept, DeskPhoneNumber, and PhoneType.*/",
        "getterMethodName" : "getPhoneConfig",
        "getterModel" : {
          "returnType" : "UserPhoneConfig",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PhoneConfig",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PhoneConfig",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "PhoneConfig",
        "setterDocumentation" : "/**<p>Specifies the phone settings for the user, including AfterContactWorkTimeLimit, AutoAccept, DeskPhoneNumber, and PhoneType.</p>\n@param phoneConfig Specifies the phone settings for the user, including AfterContactWorkTimeLimit, AutoAccept, DeskPhoneNumber, and PhoneType.*/",
        "setterMethodName" : "setPhoneConfig",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "UserPhoneConfig",
          "variableName" : "phoneConfig",
          "variableType" : "UserPhoneConfig",
          "documentation" : "",
          "simpleType" : "UserPhoneConfig",
          "variableSetterType" : "UserPhoneConfig"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies the phone settings for the user, including AfterContactWorkTimeLimit, AutoAccept, DeskPhoneNumber, and PhoneType.</p>\n@param phoneConfig Specifies the phone settings for the user, including AfterContactWorkTimeLimit, AutoAccept, DeskPhoneNumber, and PhoneType.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "UserPhoneConfig",
          "variableName" : "phoneConfig",
          "variableType" : "UserPhoneConfig",
          "documentation" : "<p>Specifies the phone settings for the user, including AfterContactWorkTimeLimit, AutoAccept, DeskPhoneNumber, and PhoneType.</p>",
          "simpleType" : "UserPhoneConfig",
          "variableSetterType" : "UserPhoneConfig"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DirectoryUserId",
        "c2jShape" : "DirectoryUserId",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the UserIdentityInfo is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the UserIdentityInfo is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.</p>\n@param directoryUserId The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the UserIdentityInfo is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDirectoryUserId",
        "getterDocumentation" : "/**<p>The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the UserIdentityInfo is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.</p>\n@return The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the UserIdentityInfo is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.*/",
        "getterMethodName" : "getDirectoryUserId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DirectoryUserId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DirectoryUserId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DirectoryUserId",
        "setterDocumentation" : "/**<p>The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the UserIdentityInfo is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.</p>\n@param directoryUserId The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the UserIdentityInfo is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.*/",
        "setterMethodName" : "setDirectoryUserId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "directoryUserId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the UserIdentityInfo is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.</p>\n@param directoryUserId The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the UserIdentityInfo is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "directoryUserId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the UserIdentityInfo is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SecurityProfileIds",
        "c2jShape" : "SecurityProfileIds",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier of the security profile to assign to the user created.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier of the security profile to assign to the user created.</p>\n@param securityProfileIds The unique identifier of the security profile to assign to the user created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSecurityProfileIds",
        "getterDocumentation" : "/**<p>The unique identifier of the security profile to assign to the user created.</p>\n@return The unique identifier of the security profile to assign to the user created.*/",
        "getterMethodName" : "getSecurityProfileIds",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SecurityProfileIds",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SecurityProfileIds",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "SecurityProfileId",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "SecurityProfileIds",
        "setterDocumentation" : "/**<p>The unique identifier of the security profile to assign to the user created.</p>\n@param securityProfileIds The unique identifier of the security profile to assign to the user created.*/",
        "setterMethodName" : "setSecurityProfileIds",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "securityProfileIds",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier of the security profile to assign to the user created.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSecurityProfileIds(java.util.Collection)} or {@link #withSecurityProfileIds(java.util.Collection)} if you want to override the existing values.</p>\n@param securityProfileIds The unique identifier of the security profile to assign to the user created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "securityProfileIds",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The unique identifier of the security profile to assign to the user created.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RoutingProfileId",
        "c2jShape" : "RoutingProfileId",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier for the routing profile to assign to the user created.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier for the routing profile to assign to the user created.</p>\n@param routingProfileId The unique identifier for the routing profile to assign to the user created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRoutingProfileId",
        "getterDocumentation" : "/**<p>The unique identifier for the routing profile to assign to the user created.</p>\n@return The unique identifier for the routing profile to assign to the user created.*/",
        "getterMethodName" : "getRoutingProfileId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RoutingProfileId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RoutingProfileId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RoutingProfileId",
        "setterDocumentation" : "/**<p>The unique identifier for the routing profile to assign to the user created.</p>\n@param routingProfileId The unique identifier for the routing profile to assign to the user created.*/",
        "setterMethodName" : "setRoutingProfileId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "routingProfileId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier for the routing profile to assign to the user created.</p>\n@param routingProfileId The unique identifier for the routing profile to assign to the user created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "routingProfileId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier for the routing profile to assign to the user created.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "HierarchyGroupId",
        "c2jShape" : "HierarchyGroupId",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier for the hierarchy group to assign to the user created.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier for the hierarchy group to assign to the user created.</p>\n@param hierarchyGroupId The unique identifier for the hierarchy group to assign to the user created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHierarchyGroupId",
        "getterDocumentation" : "/**<p>The unique identifier for the hierarchy group to assign to the user created.</p>\n@return The unique identifier for the hierarchy group to assign to the user created.*/",
        "getterMethodName" : "getHierarchyGroupId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "HierarchyGroupId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "HierarchyGroupId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "HierarchyGroupId",
        "setterDocumentation" : "/**<p>The unique identifier for the hierarchy group to assign to the user created.</p>\n@param hierarchyGroupId The unique identifier for the hierarchy group to assign to the user created.*/",
        "setterMethodName" : "setHierarchyGroupId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "hierarchyGroupId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier for the hierarchy group to assign to the user created.</p>\n@param hierarchyGroupId The unique identifier for the hierarchy group to assign to the user created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "hierarchyGroupId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier for the hierarchy group to assign to the user created.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "InstanceId",
        "c2jShape" : "InstanceId",
        "deprecated" : false,
        "documentation" : "<p>The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.</p>\n@param instanceId The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInstanceId",
        "getterDocumentation" : "/**<p>The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.</p>\n@return The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.*/",
        "getterMethodName" : "getInstanceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "InstanceId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "InstanceId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "InstanceId",
        "setterDocumentation" : "/**<p>The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.</p>\n@param instanceId The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.*/",
        "setterMethodName" : "setInstanceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.</p>\n@param instanceId The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceId",
          "variableType" : "String",
          "documentation" : "<p>The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DirectoryUserId" : {
          "c2jName" : "DirectoryUserId",
          "c2jShape" : "DirectoryUserId",
          "deprecated" : false,
          "documentation" : "<p>The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the UserIdentityInfo is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the UserIdentityInfo is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.</p>\n@param directoryUserId The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the UserIdentityInfo is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDirectoryUserId",
          "getterDocumentation" : "/**<p>The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the UserIdentityInfo is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.</p>\n@return The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the UserIdentityInfo is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.*/",
          "getterMethodName" : "getDirectoryUserId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DirectoryUserId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DirectoryUserId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DirectoryUserId",
          "setterDocumentation" : "/**<p>The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the UserIdentityInfo is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.</p>\n@param directoryUserId The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the UserIdentityInfo is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.*/",
          "setterMethodName" : "setDirectoryUserId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "directoryUserId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
[...]
