{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-05-10",
    "asyncClient" : "AWSControlTowerAsyncClient",
    "asyncClientBuilderClassName" : "AWSControlTowerAsyncClientBuilder",
    "asyncInterface" : "AWSControlTowerAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSControlTowerModuleInjector",
    "defaultEndpoint" : "controltower.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "controltower.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>These interfaces allow you to apply the AWS library of pre-defined <i>controls</i> to your organizational units, programmatically. In this context, controls are the same as AWS Control Tower guardrails.</p> <p>To call these APIs, you'll need to know:</p> <ul> <li> <p>the <code>ControlARN</code> for the control--that is, the guardrail--you are targeting,</p> </li> <li> <p>and the ARN associated with the target organizational unit (OU).</p> </li> </ul> <p> <b>To get the <code>ControlARN</code> for your AWS Control Tower guardrail:</b> </p> <p>The <code>ControlARN</code> contains the control name which is specified in each guardrail. For a list of control names for <i>Strongly recommended</i> and <i>Elective</i> guardrails, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-identifiers.html.html\">Resource identifiers for APIs and guardrails</a> in the <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/automating-tasks.html\">Automating tasks section</a> of the AWS Control Tower User Guide. Remember that <i>Mandatory</i> guardrails cannot be added or removed.</p> <note> <p> <b>ARN format:</b> <code>arn:aws:controltower:{REGION}::control/{CONTROL_NAME}</code> </p> <p> <b>Example:</b> </p> <p> <code>arn:aws:controltower:us-west-2::control/AWS-GR_AUTOSCALING_LAUNCH_CONFIG_PUBLIC_IP_DISABLED</code> </p> </note> <p> <b>To get the ARN for an OU:</b> </p> <p>In the AWS Organizations console, you can find the ARN for the OU on the <b>Organizational unit details</b> page associated with that OU.</p> <note> <p> <b>OU ARN format:</b> </p> <p> <code>arn:${Partition}:organizations::${MasterAccountId}:ou/o-${OrganizationId}/ou-${OrganizationalUnitId}</code> </p> </note> <p class=\"title\"> <b>Details and examples</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-identifiers.html\">List of resource identifiers for APIs and guardrails</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/guardrail-api-examples-short.html\">Guardrail API examples (CLI)</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/enable-controls.html\">Enable controls with AWS CloudFormation</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/creating-resources-with-cloudformation.html\">Creating AWS Control Tower resources with AWS CloudFormation</a> </p> </li> </ul> <p>To view the open source resource repository on GitHub, see <a href=\"https://github.com/aws-cloudformation/aws-cloudformation-resource-providers-controltower\">aws-cloudformation/aws-cloudformation-resource-providers-controltower</a> </p> <p> <b>Recording API Requests</b> </p> <p>AWS Control Tower supports AWS CloudTrail, a service that records AWS API calls for your AWS account and delivers log files to an Amazon S3 bucket. By using information collected by CloudTrail, you can determine which requests the AWS Control Tower service received, who made the request and when, and so on. For more about AWS Control Tower and its support for CloudTrail, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/logging-using-cloudtrail.html\">Logging AWS Control Tower Actions with AWS CloudTrail</a> in the AWS Control Tower User Guide. To learn more about CloudTrail, including how to turn it on and find your log files, see the AWS CloudTrail User Guide.</p>",
    "endpointPrefix" : "controltower",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.controltower",
    "packagePath" : "com/amazonaws/services/controltower",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Control Tower",
    "serviceId" : "ControlTower",
    "serviceName" : "AWS Control Tower",
    "signingName" : "controltower",
    "smokeTestsPackageName" : "com.amazonaws.services.controltower.smoketests",
    "syncClient" : "AWSControlTowerClient",
    "syncClientBuilderClassName" : "AWSControlTowerClientBuilder",
    "syncInterface" : "AWSControlTower",
    "uid" : "controltower-2018-05-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DisableControl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableControlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableControlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableControlRequest, DisableControlResult>",
      "asyncReturnType" : "DisableControlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This API call turns off a control. It starts an asynchronous operation that deletes AWS resources on the specified organizational unit and the accounts it contains. The resources will vary according to the control that you specify.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded. The limit is 10 concurrent operations. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableControlRequest",
        "variableName" : "disableControlRequest",
        "variableType" : "DisableControlRequest",
        "documentation" : "",
        "simpleType" : "DisableControlRequest",
        "variableSetterType" : "DisableControlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableControl",
      "operationName" : "DisableControl",
      "returnType" : {
        "returnType" : "DisableControlResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableControlResult"
    },
    "EnableControl" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableControlResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableControlResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableControlRequest, EnableControlResult>",
      "asyncReturnType" : "EnableControlResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This API call activates a control. It starts an asynchronous operation that creates AWS resources on the specified organizational unit and the accounts it contains. The resources created will vary according to the control that you specify.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded. The limit is 10 concurrent operations. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableControlRequest",
        "variableName" : "enableControlRequest",
        "variableType" : "EnableControlRequest",
        "documentation" : "",
        "simpleType" : "EnableControlRequest",
        "variableSetterType" : "EnableControlRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableControl",
      "operationName" : "EnableControl",
      "returnType" : {
        "returnType" : "EnableControlResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableControlResult"
    },
    "GetControlOperation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetControlOperationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetControlOperationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetControlOperationRequest, GetControlOperationResult>",
      "asyncReturnType" : "GetControlOperationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the status of a particular <code>EnableControl</code> or <code>DisableControl</code> operation. Displays a message in case of error. Details for an operation are available for 90 days.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetControlOperationRequest",
        "variableName" : "getControlOperationRequest",
        "variableType" : "GetControlOperationRequest",
        "documentation" : "",
        "simpleType" : "GetControlOperationRequest",
        "variableSetterType" : "GetControlOperationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getControlOperation",
      "operationName" : "GetControlOperation",
      "returnType" : {
        "returnType" : "GetControlOperationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetControlOperationResult"
    },
    "ListEnabledControls" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEnabledControlsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEnabledControlsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEnabledControlsRequest, ListEnabledControlsResult>",
      "asyncReturnType" : "ListEnabledControlsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the controls enabled by AWS Control Tower on the specified organizational unit and the accounts it contains.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p> Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEnabledControlsRequest",
        "variableName" : "listEnabledControlsRequest",
        "variableType" : "ListEnabledControlsRequest",
        "documentation" : "",
        "simpleType" : "ListEnabledControlsRequest",
        "variableSetterType" : "ListEnabledControlsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEnabledControls",
      "operationName" : "ListEnabledControls",
      "returnType" : {
        "returnType" : "ListEnabledControlsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEnabledControlsResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>User does not have sufficient access to perform this action. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.controltower.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.controltower.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.controltower.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.controltower.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "ControlOperation" : {
      "c2jName" : "ControlOperation",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An operation performed by the control.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.controltower.model.ControlOperation",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "endTime",
        "c2jShape" : "SyntheticTimestamp_date_time",
        "deprecated" : false,
        "documentation" : "<p>The time that the operation finished.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time that the operation finished.</p>\n@param endTime The time that the operation finished.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEndTime",
        "getterDocumentation" : "/**<p>The time that the operation finished.</p>\n@return The time that the operation finished.*/",
        "getterMethodName" : "getEndTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "endTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "endTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "EndTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time that the operation finished.</p>\n@param endTime The time that the operation finished.*/",
        "setterMethodName" : "setEndTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "endTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time that the operation finished.</p>\n@param endTime The time that the operation finished.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "iso8601",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "endTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time that the operation finished.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "operationType",
        "c2jShape" : "ControlOperationType",
        "deprecated" : false,
        "documentation" : "<p>One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ControlOperationType",
        "fluentSetterDocumentation" : "/**<p>One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.</p>\n@param operationType One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ControlOperationType*/",
        "fluentSetterMethodName" : "withOperationType",
        "getterDocumentation" : "/**<p>One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.</p>\n@return One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.\n@see ControlOperationType*/",
        "getterMethodName" : "getOperationType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "operationType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "operationType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OperationType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.</p>\n@param operationType One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.\n@see ControlOperationType*/",
        "setterMethodName" : "setOperationType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "operationType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.</p>\n@param operationType One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ControlOperationType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "operationType",
          "variableType" : "String",
          "documentation" : "<p>One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "startTime",
        "c2jShape" : "SyntheticTimestamp_date_time",
        "deprecated" : false,
        "documentation" : "<p>The time that the operation began.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time that the operation began.</p>\n@param startTime The time that the operation began.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStartTime",
        "getterDocumentation" : "/**<p>The time that the operation began.</p>\n@return The time that the operation began.*/",
        "getterMethodName" : "getStartTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "startTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "startTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "StartTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time that the operation began.</p>\n@param startTime The time that the operation began.*/",
        "setterMethodName" : "setStartTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "startTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time that the operation began.</p>\n@param startTime The time that the operation began.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "iso8601",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "startTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time that the operation began.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "status",
        "c2jShape" : "ControlOperationStatus",
        "deprecated" : false,
        "documentation" : "<p>One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ControlOperationStatus",
        "fluentSetterDocumentation" : "/**<p>One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.</p>\n@param status One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ControlOperationStatus*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.</p>\n@return One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.\n@see ControlOperationStatus*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "status",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.</p>\n@param status One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.\n@see ControlOperationStatus*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.</p>\n@param status One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ControlOperationStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "statusMessage",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.</p>\n@param statusMessage If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStatusMessage",
        "getterDocumentation" : "/**<p>If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.</p>\n@return If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.*/",
        "getterMethodName" : "getStatusMessage",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "statusMessage",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "statusMessage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "StatusMessage",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.</p>\n@param statusMessage If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.*/",
        "setterMethodName" : "setStatusMessage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "statusMessage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.</p>\n@param statusMessage If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "statusMessage",
          "variableType" : "String",
          "documentation" : "<p>If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "EndTime" : {
          "c2jName" : "endTime",
          "c2jShape" : "SyntheticTimestamp_date_time",
          "deprecated" : false,
          "documentation" : "<p>The time that the operation finished.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The time that the operation finished.</p>\n@param endTime The time that the operation finished.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEndTime",
          "getterDocumentation" : "/**<p>The time that the operation finished.</p>\n@return The time that the operation finished.*/",
          "getterMethodName" : "getEndTime",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "endTime",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "endTime",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "EndTime",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The time that the operation finished.</p>\n@param endTime The time that the operation finished.*/",
          "setterMethodName" : "setEndTime",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "endTime",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The time that the operation finished.</p>\n@param endTime The time that the operation finished.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "iso8601",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "endTime",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The time that the operation finished.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "OperationType" : {
          "c2jName" : "operationType",
          "c2jShape" : "ControlOperationType",
          "deprecated" : false,
          "documentation" : "<p>One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "ControlOperationType",
          "fluentSetterDocumentation" : "/**<p>One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.</p>\n@param operationType One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ControlOperationType*/",
          "fluentSetterMethodName" : "withOperationType",
          "getterDocumentation" : "/**<p>One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.</p>\n@return One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.\n@see ControlOperationType*/",
          "getterMethodName" : "getOperationType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "operationType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "operationType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "OperationType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.</p>\n@param operationType One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.\n@see ControlOperationType*/",
          "setterMethodName" : "setOperationType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "operationType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.</p>\n@param operationType One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ControlOperationType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "operationType",
            "variableType" : "String",
            "documentation" : "<p>One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "StartTime" : {
          "c2jName" : "startTime",
          "c2jShape" : "SyntheticTimestamp_date_time",
          "deprecated" : false,
          "documentation" : "<p>The time that the operation began.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The time that the operation began.</p>\n@param startTime The time that the operation began.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStartTime",
          "getterDocumentation" : "/**<p>The time that the operation began.</p>\n@return The time that the operation began.*/",
          "getterMethodName" : "getStartTime",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "startTime",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "startTime",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "StartTime",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The time that the operation began.</p>\n@param startTime The time that the operation began.*/",
          "setterMethodName" : "setStartTime",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "startTime",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The time that the operation began.</p>\n@param startTime The time that the operation began.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "iso8601",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "startTime",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The time that the operation began.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "Status" : {
          "c2jName" : "status",
          "c2jShape" : "ControlOperationStatus",
          "deprecated" : false,
          "documentation" : "<p>One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "ControlOperationStatus",
          "fluentSetterDocumentation" : "/**<p>One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.</p>\n@param status One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ControlOperationStatus*/",
          "fluentSetterMethodName" : "withStatus",
          "getterDocumentation" : "/**<p>One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.</p>\n@return One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.\n@see ControlOperationStatus*/",
          "getterMethodName" : "getStatus",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "status",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "status",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Status",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.</p>\n@param status One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.\n@see ControlOperationStatus*/",
          "setterMethodName" : "setStatus",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.</p>\n@param status One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ControlOperationStatus*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "<p>One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "StatusMessage" : {
          "c2jName" : "statusMessage",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.</p>\n@param statusMessage If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStatusMessage",
          "getterDocumentation" : "/**<p>If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.</p>\n@return If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.*/",
          "getterMethodName" : "getStatusMessage",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "statusMessage",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "statusMessage",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "StatusMessage",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.</p>\n@param statusMessage If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.*/",
          "setterMethodName" : "setStatusMessage",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "statusMessage",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.</p>\n@param statusMessage If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "statusMessage",
            "variableType" : "String",
            "documentation" : "<p>If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.controltower.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ControlOperation",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ControlOperation",
        "variableName" : "controlOperation",
        "variableType" : "ControlOperation",
        "documentation" : null,
        "simpleType" : "ControlOperation",
        "variableSetterType" : "ControlOperation"
      },
      "wrapper" : false
    },
    "ControlOperationStatus" : {
      "c2jName" : "ControlOperationStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "SUCCEEDED",
        "value" : "SUCCEEDED"
      }, {
        "name" : "FAILED",
        "value" : "FAILED"
      }, {
        "name" : "IN_PROGRESS",
        "value" : "IN_PROGRESS"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.controltower.enum.ControlOperationStatus",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.controltower.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ControlOperationStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ControlOperationStatus",
        "variableName" : "controlOperationStatus",
        "variableType" : "ControlOperationStatus",
        "documentation" : null,
        "simpleType" : "ControlOperationStatus",
        "variableSetterType" : "ControlOperationStatus"
      },
      "wrapper" : false
    },
    "ControlOperationType" : {
      "c2jName" : "ControlOperationType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "ENABLE_CONTROL",
        "value" : "ENABLE_CONTROL"
      }, {
        "name" : "DISABLE_CONTROL",
        "value" : "DISABLE_CONTROL"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.controltower.enum.ControlOperationType",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.controltower.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ControlOperationType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ControlOperationType",
        "variableName" : "controlOperationType",
        "variableType" : "ControlOperationType",
        "documentation" : null,
        "simpleType" : "ControlOperationType",
        "variableSetterType" : "ControlOperationType"
      },
      "wrapper" : false
    },
    "DisableControlRequest" : {
      "c2jName" : "DisableControlInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.controltower.request.DisableControlRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DisableControl",
        "locationName" : null,
        "requestUri" : "/disable-control",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "controlIdentifier",
        "c2jShape" : "ControlIdentifier",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>\n@param controlIdentifier The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withControlIdentifier",
        "getterDocumentation" : "/**<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>\n@return The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.*/",
        "getterMethodName" : "getControlIdentifier",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "controlIdentifier",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "controlIdentifier",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ControlIdentifier",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>\n@param controlIdentifier The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.*/",
        "setterMethodName" : "setControlIdentifier",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "controlIdentifier",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>\n@param controlIdentifier The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "controlIdentifier",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "targetIdentifier",
        "c2jShape" : "TargetIdentifier",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the organizational unit.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the organizational unit.</p>\n@param targetIdentifier The ARN of the organizational unit.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTargetIdentifier",
        "getterDocumentation" : "/**<p>The ARN of the organizational unit.</p>\n@return The ARN of the organizational unit.*/",
        "getterMethodName" : "getTargetIdentifier",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "targetIdentifier",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "targetIdentifier",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TargetIdentifier",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the organizational unit.</p>\n@param targetIdentifier The ARN of the organizational unit.*/",
        "setterMethodName" : "setTargetIdentifier",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "targetIdentifier",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the organizational unit.</p>\n@param targetIdentifier The ARN of the organizational unit.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "targetIdentifier",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the organizational unit.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ControlIdentifier" : {
          "c2jName" : "controlIdentifier",
          "c2jShape" : "ControlIdentifier",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>\n@param controlIdentifier The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withControlIdentifier",
          "getterDocumentation" : "/**<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>\n@return The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.*/",
          "getterMethodName" : "getControlIdentifier",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "controlIdentifier",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "controlIdentifier",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ControlIdentifier",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>\n@param controlIdentifier The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.*/",
          "setterMethodName" : "setControlIdentifier",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "controlIdentifier",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>\n@param controlIdentifier The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "controlIdentifier",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "TargetIdentifier" : {
          "c2jName" : "targetIdentifier",
          "c2jShape" : "TargetIdentifier",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the organizational unit.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the organizational unit.</p>\n@param targetIdentifier The ARN of the organizational unit.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTargetIdentifier",
          "getterDocumentation" : "/**<p>The ARN of the organizational unit.</p>\n@return The ARN of the organizational unit.*/",
          "getterMethodName" : "getTargetIdentifier",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "targetIdentifier",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "targetIdentifier",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "TargetIdentifier",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN of the organizational unit.</p>\n@param targetIdentifier The ARN of the organizational unit.*/",
          "setterMethodName" : "setTargetIdentifier",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "targetIdentifier",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the organizational unit.</p>\n@param targetIdentifier The ARN of the organizational unit.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "targetIdentifier",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the organizational unit.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.controltower.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "controlIdentifier", "targetIdentifier" ],
      "shapeName" : "DisableControlRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableControlRequest",
        "variableName" : "disableControlRequest",
        "variableType" : "DisableControlRequest",
        "documentation" : null,
        "simpleType" : "DisableControlRequest",
        "variableSetterType" : "DisableControlRequest"
      },
      "wrapper" : false
    },
    "DisableControlResult" : {
      "c2jName" : "DisableControlOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.controltower.response.DisableControlResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "operationIdentifier",
        "c2jShape" : "OperationIdentifier",
        "deprecated" : false,
        "documentation" : "<p>The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.</p>\n@param operationIdentifier The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOperationIdentifier",
        "getterDocumentation" : "/**<p>The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.</p>\n@return The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.*/",
        "getterMethodName" : "getOperationIdentifier",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "operationIdentifier",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "operationIdentifier",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "OperationIdentifier",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.</p>\n@param operationIdentifier The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.*/",
        "setterMethodName" : "setOperationIdentifier",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "operationIdentifier",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.</p>\n@param operationIdentifier The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "operationIdentifier",
          "variableType" : "String",
          "documentation" : "<p>The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "OperationIdentifier" : {
          "c2jName" : "operationIdentifier",
          "c2jShape" : "OperationIdentifier",
          "deprecated" : false,
          "documentation" : "<p>The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.</p>\n@param operationIdentifier The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOperationIdentifier",
          "getterDocumentation" : "/**<p>The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.</p>\n@return The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.*/",
          "getterMethodName" : "getOperationIdentifier",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "operationIdentifier",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "operationIdentifier",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "OperationIdentifier",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.</p>\n@param operationIdentifier The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.*/",
          "setterMethodName" : "setOperationIdentifier",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "operationIdentifier",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.</p>\n@param operationIdentifier The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "operationIdentifier",
            "variableType" : "String",
            "documentation" : "<p>The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.controltower.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "operationIdentifier" ],
      "shapeName" : "DisableControlResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableControlResult",
        "variableName" : "disableControlResult",
        "variableType" : "DisableControlResult",
        "documentation" : null,
        "simpleType" : "DisableControlResult",
        "variableSetterType" : "DisableControlResult"
      },
      "wrapper" : false
    },
    "EnableControlRequest" : {
      "c2jName" : "EnableControlInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.controltower.request.EnableControlRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "EnableControl",
        "locationName" : null,
        "requestUri" : "/enable-control",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "controlIdentifier",
        "c2jShape" : "ControlIdentifier",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>\n@param controlIdentifier The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withControlIdentifier",
        "getterDocumentation" : "/**<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>\n@return The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.*/",
        "getterMethodName" : "getControlIdentifier",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "controlIdentifier",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "controlIdentifier",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ControlIdentifier",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>\n@param controlIdentifier The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.*/",
        "setterMethodName" : "setControlIdentifier",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "controlIdentifier",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>\n@param controlIdentifier The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "controlIdentifier",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "targetIdentifier",
        "c2jShape" : "TargetIdentifier",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the organizational unit.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the organizational unit.</p>\n@param targetIdentifier The ARN of the organizational unit.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTargetIdentifier",
        "getterDocumentation" : "/**<p>The ARN of the organizational unit.</p>\n@return The ARN of the organizational unit.*/",
        "getterMethodName" : "getTargetIdentifier",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "targetIdentifier",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "targetIdentifier",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TargetIdentifier",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the organizational unit.</p>\n@param targetIdentifier The ARN of the organizational unit.*/",
        "setterMethodName" : "setTargetIdentifier",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "targetIdentifier",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the organizational unit.</p>\n@param targetIdentifier The ARN of the organizational unit.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "targetIdentifier",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the organizational unit.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ControlIdentifier" : {
          "c2jName" : "controlIdentifier",
          "c2jShape" : "ControlIdentifier",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>\n@param controlIdentifier The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withControlIdentifier",
          "getterDocumentation" : "/**<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>\n@return The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.*/",
          "getterMethodName" : "getControlIdentifier",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "controlIdentifier",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "controlIdentifier",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ControlIdentifier",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>\n@param controlIdentifier The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.*/",
          "setterMethodName" : "setControlIdentifier",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "controlIdentifier",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>\n@param controlIdentifier The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "controlIdentifier",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> guardrail.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "TargetIdentifier" : {
          "c2jName" : "targetIdentifier",
          "c2jShape" : "TargetIdentifier",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the organizational unit.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the organizational unit.</p>\n@param targetIdentifier The ARN of the organizational unit.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTargetIdentifier",
          "getterDocumentation" : "/**<p>The ARN of the organizational unit.</p>\n@return The ARN of the organizational unit.*/",
          "getterMethodName" : "getTargetIdentifier",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
[...]
