{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2022-07-26",
    "asyncClient" : "AWSCostOptimizationHubAsyncClient",
    "asyncClientBuilderClassName" : "AWSCostOptimizationHubAsyncClientBuilder",
    "asyncInterface" : "AWSCostOptimizationHubAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSCostOptimizationHubModuleInjector",
    "defaultEndpoint" : "cost-optimization-hub.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "cost-optimization-hub.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>You can use the Cost Optimization Hub API to programmatically identify, filter, aggregate, and quantify savings for your cost optimization recommendations across multiple Amazon Web Services Regions and Amazon Web Services accounts in your organization.</p> <p>The Cost Optimization Hub API provides the following endpoint:</p> <ul> <li> <p> https://cost-optimization-hub.us-east-1.amazonaws.com </p> </li> </ul>",
    "endpointPrefix" : "cost-optimization-hub",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.costoptimizationhub",
    "packagePath" : "com/amazonaws/services/costoptimizationhub",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Cost Optimization Hub",
    "serviceId" : "Cost Optimization Hub",
    "serviceName" : "Cost Optimization Hub",
    "signingName" : "cost-optimization-hub",
    "smokeTestsPackageName" : "com.amazonaws.services.costoptimizationhub.smoketests",
    "syncClient" : "AWSCostOptimizationHubClient",
    "syncClientBuilderClassName" : "AWSCostOptimizationHubClientBuilder",
    "syncInterface" : "AWSCostOptimizationHub",
    "uid" : "cost-optimization-hub-2022-07-26",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "GetPreferences" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPreferencesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPreferencesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPreferencesRequest, GetPreferencesResult>",
      "asyncReturnType" : "GetPreferencesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a set of preferences for an account in order to add account-specific preferences into the service. These preferences impact how the savings associated with recommendations are presented—estimated savings after discounts or estimated savings before discounts, for example.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPreferencesRequest",
        "variableName" : "getPreferencesRequest",
        "variableType" : "GetPreferencesRequest",
        "documentation" : "",
        "simpleType" : "GetPreferencesRequest",
        "variableSetterType" : "GetPreferencesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPreferences",
      "operationName" : "GetPreferences",
      "returnType" : {
        "returnType" : "GetPreferencesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPreferencesResult"
    },
    "GetRecommendation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRecommendationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRecommendationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRecommendationRequest, GetRecommendationResult>",
      "asyncReturnType" : "GetRecommendationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns both the current and recommended resource configuration and the estimated cost impact for a recommendation.</p> <p>The <code>recommendationId</code> is only valid for up to a maximum of 24 hours as recommendations are refreshed daily. To retrieve the <code>recommendationId</code>, use the <code>ListRecommendations</code> API.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified Amazon Resource Name (ARN) in the request doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRecommendationRequest",
        "variableName" : "getRecommendationRequest",
        "variableType" : "GetRecommendationRequest",
        "documentation" : "",
        "simpleType" : "GetRecommendationRequest",
        "variableSetterType" : "GetRecommendationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRecommendation",
      "operationName" : "GetRecommendation",
      "returnType" : {
        "returnType" : "GetRecommendationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRecommendationResult"
    },
    "ListEnrollmentStatuses" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEnrollmentStatusesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEnrollmentStatusesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEnrollmentStatusesRequest, ListEnrollmentStatusesResult>",
      "asyncReturnType" : "ListEnrollmentStatusesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the enrollment status for an account. It can also return the list of accounts that are enrolled under the organization.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEnrollmentStatusesRequest",
        "variableName" : "listEnrollmentStatusesRequest",
        "variableType" : "ListEnrollmentStatusesRequest",
        "documentation" : "",
        "simpleType" : "ListEnrollmentStatusesRequest",
        "variableSetterType" : "ListEnrollmentStatusesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEnrollmentStatuses",
      "operationName" : "ListEnrollmentStatuses",
      "returnType" : {
        "returnType" : "ListEnrollmentStatusesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEnrollmentStatusesResult"
    },
    "ListRecommendationSummaries" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRecommendationSummariesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRecommendationSummariesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRecommendationSummariesRequest, ListRecommendationSummariesResult>",
      "asyncReturnType" : "ListRecommendationSummariesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a concise representation of savings estimates for resources. Also returns de-duped savings across different types of recommendations.</p> <note> <p>The following filters are not supported for this API: <code>recommendationIds</code>, <code>resourceArns</code>, and <code>resourceIds</code>.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRecommendationSummariesRequest",
        "variableName" : "listRecommendationSummariesRequest",
        "variableType" : "ListRecommendationSummariesRequest",
        "documentation" : "",
        "simpleType" : "ListRecommendationSummariesRequest",
        "variableSetterType" : "ListRecommendationSummariesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRecommendationSummaries",
      "operationName" : "ListRecommendationSummaries",
      "returnType" : {
        "returnType" : "ListRecommendationSummariesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRecommendationSummariesResult"
    },
    "ListRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRecommendationsRequest, ListRecommendationsResult>",
      "asyncReturnType" : "ListRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of recommendations.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRecommendationsRequest",
        "variableName" : "listRecommendationsRequest",
        "variableType" : "ListRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "ListRecommendationsRequest",
        "variableSetterType" : "ListRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRecommendations",
      "operationName" : "ListRecommendations",
      "returnType" : {
        "returnType" : "ListRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRecommendationsResult"
    },
    "UpdateEnrollmentStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEnrollmentStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEnrollmentStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEnrollmentStatusRequest, UpdateEnrollmentStatusResult>",
      "asyncReturnType" : "UpdateEnrollmentStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the enrollment (opt in and opt out) status of an account to the Cost Optimization Hub service.</p> <p>If the account is a management account of an organization, this action can also be used to enroll member accounts of the organization.</p> <p>You must have the appropriate permissions to opt in to Cost Optimization Hub and to view its recommendations. When you opt in, Cost Optimization Hub automatically creates a service-linked role in your account to access its data.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateEnrollmentStatusRequest",
        "variableName" : "updateEnrollmentStatusRequest",
        "variableType" : "UpdateEnrollmentStatusRequest",
        "documentation" : "",
        "simpleType" : "UpdateEnrollmentStatusRequest",
        "variableSetterType" : "UpdateEnrollmentStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEnrollmentStatus",
      "operationName" : "UpdateEnrollmentStatus",
      "returnType" : {
        "returnType" : "UpdateEnrollmentStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateEnrollmentStatusResult"
    },
    "UpdatePreferences" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePreferencesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePreferencesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePreferencesRequest, UpdatePreferencesResult>",
      "asyncReturnType" : "UpdatePreferencesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a set of preferences for an account in order to add account-specific preferences into the service. These preferences impact how the savings associated with recommendations are presented.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdatePreferencesRequest",
        "variableName" : "updatePreferencesRequest",
        "variableType" : "UpdatePreferencesRequest",
        "documentation" : "",
        "simpleType" : "UpdatePreferencesRequest",
        "variableSetterType" : "UpdatePreferencesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updatePreferences",
      "operationName" : "UpdatePreferences",
      "returnType" : {
        "returnType" : "UpdatePreferencesResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdatePreferencesResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.costoptimizationhub.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.costoptimizationhub.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AccountEnrollmentStatus" : {
      "c2jName" : "AccountEnrollmentStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes the enrollment status of an organization's member accounts in Cost Optimization Hub.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.costoptimizationhub.model.AccountEnrollmentStatus",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "accountId",
        "c2jShape" : "AccountId",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Web Services account ID.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Web Services account ID.</p>\n@param accountId The Amazon Web Services account ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccountId",
        "getterDocumentation" : "/**<p>The Amazon Web Services account ID.</p>\n@return The Amazon Web Services account ID.*/",
        "getterMethodName" : "getAccountId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "accountId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "accountId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccountId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Web Services account ID.</p>\n@param accountId The Amazon Web Services account ID.*/",
        "setterMethodName" : "setAccountId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Web Services account ID.</p>\n@param accountId The Amazon Web Services account ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountId",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Web Services account ID.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "createdTimestamp",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The time when the account enrollment status was created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time when the account enrollment status was created.</p>\n@param createdTimestamp The time when the account enrollment status was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedTimestamp",
        "getterDocumentation" : "/**<p>The time when the account enrollment status was created.</p>\n@return The time when the account enrollment status was created.*/",
        "getterMethodName" : "getCreatedTimestamp",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "createdTimestamp",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "createdTimestamp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreatedTimestamp",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time when the account enrollment status was created.</p>\n@param createdTimestamp The time when the account enrollment status was created.*/",
        "setterMethodName" : "setCreatedTimestamp",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time when the account enrollment status was created.</p>\n@param createdTimestamp The time when the account enrollment status was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time when the account enrollment status was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "lastUpdatedTimestamp",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The time when the account enrollment status was last updated.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time when the account enrollment status was last updated.</p>\n@param lastUpdatedTimestamp The time when the account enrollment status was last updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastUpdatedTimestamp",
        "getterDocumentation" : "/**<p>The time when the account enrollment status was last updated.</p>\n@return The time when the account enrollment status was last updated.*/",
        "getterMethodName" : "getLastUpdatedTimestamp",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "lastUpdatedTimestamp",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "lastUpdatedTimestamp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "LastUpdatedTimestamp",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time when the account enrollment status was last updated.</p>\n@param lastUpdatedTimestamp The time when the account enrollment status was last updated.*/",
        "setterMethodName" : "setLastUpdatedTimestamp",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastUpdatedTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time when the account enrollment status was last updated.</p>\n@param lastUpdatedTimestamp The time when the account enrollment status was last updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastUpdatedTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time when the account enrollment status was last updated.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "status",
        "c2jShape" : "EnrollmentStatus",
        "deprecated" : false,
        "documentation" : "<p>The account enrollment status.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "EnrollmentStatus",
        "fluentSetterDocumentation" : "/**<p>The account enrollment status.</p>\n@param status The account enrollment status.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EnrollmentStatus*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>The account enrollment status.</p>\n@return The account enrollment status.\n@see EnrollmentStatus*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "status",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The account enrollment status.</p>\n@param status The account enrollment status.\n@see EnrollmentStatus*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The account enrollment status.</p>\n@param status The account enrollment status.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EnrollmentStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>The account enrollment status.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AccountId" : {
          "c2jName" : "accountId",
          "c2jShape" : "AccountId",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Web Services account ID.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Web Services account ID.</p>\n@param accountId The Amazon Web Services account ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAccountId",
          "getterDocumentation" : "/**<p>The Amazon Web Services account ID.</p>\n@return The Amazon Web Services account ID.*/",
          "getterMethodName" : "getAccountId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "accountId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "accountId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AccountId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Web Services account ID.</p>\n@param accountId The Amazon Web Services account ID.*/",
          "setterMethodName" : "setAccountId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accountId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Web Services account ID.</p>\n@param accountId The Amazon Web Services account ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accountId",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Web Services account ID.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "CreatedTimestamp" : {
          "c2jName" : "createdTimestamp",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The time when the account enrollment status was created.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The time when the account enrollment status was created.</p>\n@param createdTimestamp The time when the account enrollment status was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCreatedTimestamp",
          "getterDocumentation" : "/**<p>The time when the account enrollment status was created.</p>\n@return The time when the account enrollment status was created.*/",
          "getterMethodName" : "getCreatedTimestamp",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "createdTimestamp",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "createdTimestamp",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "CreatedTimestamp",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The time when the account enrollment status was created.</p>\n@param createdTimestamp The time when the account enrollment status was created.*/",
          "setterMethodName" : "setCreatedTimestamp",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createdTimestamp",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The time when the account enrollment status was created.</p>\n@param createdTimestamp The time when the account enrollment status was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createdTimestamp",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The time when the account enrollment status was created.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "LastUpdatedTimestamp" : {
          "c2jName" : "lastUpdatedTimestamp",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The time when the account enrollment status was last updated.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The time when the account enrollment status was last updated.</p>\n@param lastUpdatedTimestamp The time when the account enrollment status was last updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLastUpdatedTimestamp",
          "getterDocumentation" : "/**<p>The time when the account enrollment status was last updated.</p>\n@return The time when the account enrollment status was last updated.*/",
          "getterMethodName" : "getLastUpdatedTimestamp",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "lastUpdatedTimestamp",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "lastUpdatedTimestamp",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "LastUpdatedTimestamp",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The time when the account enrollment status was last updated.</p>\n@param lastUpdatedTimestamp The time when the account enrollment status was last updated.*/",
          "setterMethodName" : "setLastUpdatedTimestamp",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "lastUpdatedTimestamp",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The time when the account enrollment status was last updated.</p>\n@param lastUpdatedTimestamp The time when the account enrollment status was last updated.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "lastUpdatedTimestamp",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The time when the account enrollment status was last updated.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "Status" : {
          "c2jName" : "status",
          "c2jShape" : "EnrollmentStatus",
          "deprecated" : false,
          "documentation" : "<p>The account enrollment status.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "EnrollmentStatus",
          "fluentSetterDocumentation" : "/**<p>The account enrollment status.</p>\n@param status The account enrollment status.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EnrollmentStatus*/",
          "fluentSetterMethodName" : "withStatus",
          "getterDocumentation" : "/**<p>The account enrollment status.</p>\n@return The account enrollment status.\n@see EnrollmentStatus*/",
          "getterMethodName" : "getStatus",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "status",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "status",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Status",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The account enrollment status.</p>\n@param status The account enrollment status.\n@see EnrollmentStatus*/",
          "setterMethodName" : "setStatus",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The account enrollment status.</p>\n@param status The account enrollment status.\n@return Returns a reference to this object so that method calls can be chained together.\n@see EnrollmentStatus*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "<p>The account enrollment status.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.costoptimizationhub.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccountEnrollmentStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccountEnrollmentStatus",
        "variableName" : "accountEnrollmentStatus",
        "variableType" : "AccountEnrollmentStatus",
        "documentation" : null,
        "simpleType" : "AccountEnrollmentStatus",
        "variableSetterType" : "AccountEnrollmentStatus"
      },
      "wrapper" : false
    },
    "ActionType" : {
      "c2jName" : "ActionType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "Rightsize",
        "value" : "Rightsize"
      }, {
        "name" : "Stop",
        "value" : "Stop"
      }, {
        "name" : "Upgrade",
        "value" : "Upgrade"
      }, {
        "name" : "PurchaseSavingsPlans",
        "value" : "PurchaseSavingsPlans"
      }, {
        "name" : "PurchaseReservedInstances",
        "value" : "PurchaseReservedInstances"
      }, {
        "name" : "MigrateToGraviton",
        "value" : "MigrateToGraviton"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.costoptimizationhub.enum.ActionType",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.costoptimizationhub.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ActionType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ActionType",
        "variableName" : "actionType",
        "variableType" : "ActionType",
        "documentation" : null,
        "simpleType" : "ActionType",
        "variableSetterType" : "ActionType"
      },
      "wrapper" : false
    },
    "BlockStoragePerformanceConfiguration" : {
      "c2jName" : "BlockStoragePerformanceConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes the Amazon Elastic Block Store performance configuration of the current and recommended resource configuration for a recommendation.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.costoptimizationhub.model.BlockStoragePerformanceConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "iops",
        "c2jShape" : "Double",
        "deprecated" : false,
        "documentation" : "<p>The number of I/O operations per second.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of I/O operations per second.</p>\n@param iops The number of I/O operations per second.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIops",
        "getterDocumentation" : "/**<p>The number of I/O operations per second.</p>\n@return The number of I/O operations per second.*/",
        "getterMethodName" : "getIops",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "iops",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "iops",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Double",
        "marshallingType" : "DOUBLE",
        "name" : "Iops",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The number of I/O operations per second.</p>\n@param iops The number of I/O operations per second.*/",
        "setterMethodName" : "setIops",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "iops",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The number of I/O operations per second.</p>\n@param iops The number of I/O operations per second.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "iops",
          "variableType" : "Double",
          "documentation" : "<p>The number of I/O operations per second.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "throughput",
        "c2jShape" : "Double",
        "deprecated" : false,
        "documentation" : "<p>The throughput that the volume supports.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The throughput that the volume supports.</p>\n@param throughput The throughput that the volume supports.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withThroughput",
        "getterDocumentation" : "/**<p>The throughput that the volume supports.</p>\n@return The throughput that the volume supports.*/",
        "getterMethodName" : "getThroughput",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "throughput",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "throughput",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Double",
        "marshallingType" : "DOUBLE",
        "name" : "Throughput",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The throughput that the volume supports.</p>\n@param throughput The throughput that the volume supports.*/",
        "setterMethodName" : "setThroughput",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "throughput",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The throughput that the volume supports.</p>\n@param throughput The throughput that the volume supports.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "throughput",
          "variableType" : "Double",
          "documentation" : "<p>The throughput that the volume supports.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Iops" : {
          "c2jName" : "iops",
          "c2jShape" : "Double",
          "deprecated" : false,
          "documentation" : "<p>The number of I/O operations per second.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The number of I/O operations per second.</p>\n@param iops The number of I/O operations per second.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIops",
          "getterDocumentation" : "/**<p>The number of I/O operations per second.</p>\n@return The number of I/O operations per second.*/",
          "getterMethodName" : "getIops",
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "iops",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "iops",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Double",
          "marshallingType" : "DOUBLE",
          "name" : "Iops",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The number of I/O operations per second.</p>\n@param iops The number of I/O operations per second.*/",
          "setterMethodName" : "setIops",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "iops",
            "variableType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The number of I/O operations per second.</p>\n@param iops The number of I/O operations per second.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "iops",
            "variableType" : "Double",
            "documentation" : "<p>The number of I/O operations per second.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "xmlNameSpaceUri" : null
        },
        "Throughput" : {
          "c2jName" : "throughput",
          "c2jShape" : "Double",
          "deprecated" : false,
          "documentation" : "<p>The throughput that the volume supports.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The throughput that the volume supports.</p>\n@param throughput The throughput that the volume supports.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withThroughput",
          "getterDocumentation" : "/**<p>The throughput that the volume supports.</p>\n@return The throughput that the volume supports.*/",
          "getterMethodName" : "getThroughput",
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "throughput",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "throughput",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Double",
          "marshallingType" : "DOUBLE",
          "name" : "Throughput",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The throughput that the volume supports.</p>\n@param throughput The throughput that the volume supports.*/",
          "setterMethodName" : "setThroughput",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "throughput",
            "variableType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The throughput that the volume supports.</p>\n@param throughput The throughput that the volume supports.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "throughput",
            "variableType" : "Double",
            "documentation" : "<p>The throughput that the volume supports.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.costoptimizationhub.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "BlockStoragePerformanceConfiguration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BlockStoragePerformanceConfiguration",
        "variableName" : "blockStoragePerformanceConfiguration",
        "variableType" : "BlockStoragePerformanceConfiguration",
        "documentation" : null,
        "simpleType" : "BlockStoragePerformanceConfiguration",
        "variableSetterType" : "BlockStoragePerformanceConfiguration"
      },
      "wrapper" : false
    },
    "ComputeConfiguration" : {
      "c2jName" : "ComputeConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes the performance configuration for compute services such as Amazon EC2, Lambda, and ECS.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.costoptimizationhub.model.ComputeConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "architecture",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The architecture of the resource.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The architecture of the resource.</p>\n@param architecture The architecture of the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArchitecture",
        "getterDocumentation" : "/**<p>The architecture of the resource.</p>\n@return The architecture of the resource.*/",
        "getterMethodName" : "getArchitecture",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "architecture",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "architecture",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Architecture",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The architecture of the resource.</p>\n@param architecture The architecture of the resource.*/",
        "setterMethodName" : "setArchitecture",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "architecture",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The architecture of the resource.</p>\n@param architecture The architecture of the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "architecture",
          "variableType" : "String",
          "documentation" : "<p>The architecture of the resource.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "memorySizeInMB",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p>The memory size of the resource.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The memory size of the resource.</p>\n@param memorySizeInMB The memory size of the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMemorySizeInMB",
        "getterDocumentation" : "/**<p>The memory size of the resource.</p>\n@return The memory size of the resource.*/",
        "getterMethodName" : "getMemorySizeInMB",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "memorySizeInMB",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "memorySizeInMB",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "MemorySizeInMB",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The memory size of the resource.</p>\n@param memorySizeInMB The memory size of the resource.*/",
        "setterMethodName" : "setMemorySizeInMB",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "memorySizeInMB",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The memory size of the resource.</p>\n@param memorySizeInMB The memory size of the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "memorySizeInMB",
          "variableType" : "Integer",
          "documentation" : "<p>The memory size of the resource.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "platform",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.</p>\n@param platform The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPlatform",
        "getterDocumentation" : "/**<p>The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.</p>\n@return The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.*/",
        "getterMethodName" : "getPlatform",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "platform",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "platform",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Platform",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.</p>\n@param platform The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.*/",
        "setterMethodName" : "setPlatform",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "platform",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.</p>\n@param platform The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "platform",
          "variableType" : "String",
          "documentation" : "<p>The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "vCpu",
        "c2jShape" : "Double",
        "deprecated" : false,
        "documentation" : "<p>The number of vCPU cores in the resource.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of vCPU cores in the resource.</p>\n@param vCpu The number of vCPU cores in the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVCpu",
        "getterDocumentation" : "/**<p>The number of vCPU cores in the resource.</p>\n@return The number of vCPU cores in the resource.*/",
        "getterMethodName" : "getVCpu",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "vCpu",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "vCpu",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Double",
        "marshallingType" : "DOUBLE",
        "name" : "VCpu",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The number of vCPU cores in the resource.</p>\n@param vCpu The number of vCPU cores in the resource.*/",
        "setterMethodName" : "setVCpu",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "vCpu",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The number of vCPU cores in the resource.</p>\n@param vCpu The number of vCPU cores in the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "vCpu",
          "variableType" : "Double",
          "documentation" : "<p>The number of vCPU cores in the resource.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Architecture" : {
          "c2jName" : "architecture",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The architecture of the resource.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The architecture of the resource.</p>\n@param architecture The architecture of the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withArchitecture",
          "getterDocumentation" : "/**<p>The architecture of the resource.</p>\n@return The architecture of the resource.*/",
          "getterMethodName" : "getArchitecture",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "architecture",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "architecture",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Architecture",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The architecture of the resource.</p>\n@param architecture The architecture of the resource.*/",
          "setterMethodName" : "setArchitecture",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "architecture",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The architecture of the resource.</p>\n@param architecture The architecture of the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "architecture",
            "variableType" : "String",
            "documentation" : "<p>The architecture of the resource.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "MemorySizeInMB" : {
          "c2jName" : "memorySizeInMB",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p>The memory size of the resource.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The memory size of the resource.</p>\n@param memorySizeInMB The memory size of the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMemorySizeInMB",
          "getterDocumentation" : "/**<p>The memory size of the resource.</p>\n@return The memory size of the resource.*/",
          "getterMethodName" : "getMemorySizeInMB",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "memorySizeInMB",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "memorySizeInMB",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "MemorySizeInMB",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The memory size of the resource.</p>\n@param memorySizeInMB The memory size of the resource.*/",
          "setterMethodName" : "setMemorySizeInMB",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "memorySizeInMB",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The memory size of the resource.</p>\n@param memorySizeInMB The memory size of the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "memorySizeInMB",
            "variableType" : "Integer",
            "documentation" : "<p>The memory size of the resource.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "Platform" : {
          "c2jName" : "platform",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.</p>\n@param platform The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPlatform",
          "getterDocumentation" : "/**<p>The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.</p>\n@return The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.*/",
          "getterMethodName" : "getPlatform",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "platform",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "platform",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Platform",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.</p>\n@param platform The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.*/",
          "setterMethodName" : "setPlatform",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "platform",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.</p>\n@param platform The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "platform",
            "variableType" : "String",
            "documentation" : "<p>The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "VCpu" : {
          "c2jName" : "vCpu",
          "c2jShape" : "Double",
          "deprecated" : false,
          "documentation" : "<p>The number of vCPU cores in the resource.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The number of vCPU cores in the resource.</p>\n@param vCpu The number of vCPU cores in the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withVCpu",
          "getterDocumentation" : "/**<p>The number of vCPU cores in the resource.</p>\n@return The number of vCPU cores in the resource.*/",
          "getterMethodName" : "getVCpu",
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "vCpu",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "vCpu",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Double",
          "marshallingType" : "DOUBLE",
          "name" : "VCpu",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The number of vCPU cores in the resource.</p>\n@param vCpu The number of vCPU cores in the resource.*/",
          "setterMethodName" : "setVCpu",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "vCpu",
            "variableType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The number of vCPU cores in the resource.</p>\n@param vCpu The number of vCPU cores in the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "vCpu",
            "variableType" : "Double",
            "documentation" : "<p>The number of vCPU cores in the resource.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.costoptimizationhub.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ComputeConfiguration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ComputeConfiguration",
        "variableName" : "computeConfiguration",
        "variableType" : "ComputeConfiguration",
        "documentation" : null,
        "simpleType" : "ComputeConfiguration",
        "variableSetterType" : "ComputeConfiguration"
      },
      "wrapper" : false
    },
    "ComputeSavingsPlans" : {
      "c2jName" : "ComputeSavingsPlans",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The Compute Savings Plans recommendation details.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.costoptimizationhub.model.ComputeSavingsPlans",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "configuration",
        "c2jShape" : "ComputeSavingsPlansConfiguration",
        "deprecated" : false,
        "documentation" : "<p>Configuration details of the Compute Savings Plans to purchase.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Configuration details of the Compute Savings Plans to purchase.</p>\n@param configuration Configuration details of the Compute Savings Plans to purchase.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConfiguration",
        "getterDocumentation" : "/**<p>Configuration details of the Compute Savings Plans to purchase.</p>\n@return Configuration details of the Compute Savings Plans to purchase.*/",
        "getterMethodName" : "getConfiguration",
        "getterModel" : {
          "returnType" : "ComputeSavingsPlansConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "configuration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "configuration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Configuration",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Configuration details of the Compute Savings Plans to purchase.</p>\n@param configuration Configuration details of the Compute Savings Plans to purchase.*/",
        "setterMethodName" : "setConfiguration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ComputeSavingsPlansConfiguration",
          "variableName" : "configuration",
          "variableType" : "ComputeSavingsPlansConfiguration",
          "documentation" : "",
          "simpleType" : "ComputeSavingsPlansConfiguration",
          "variableSetterType" : "ComputeSavingsPlansConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Configuration details of the Compute Savings Plans to purchase.</p>\n@param configuration Configuration details of the Compute Savings Plans to purchase.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ComputeSavingsPlansConfiguration",
          "variableName" : "configuration",
          "variableType" : "ComputeSavingsPlansConfiguration",
          "documentation" : "<p>Configuration details of the Compute Savings Plans to purchase.</p>",
          "simpleType" : "ComputeSavingsPlansConfiguration",
          "variableSetterType" : "ComputeSavingsPlansConfiguration"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "costCalculation",
        "c2jShape" : "SavingsPlansCostCalculation",
        "deprecated" : false,
        "documentation" : "<p>Cost impact of the Savings Plans purchase recommendation.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Cost impact of the Savings Plans purchase recommendation.</p>\n@param costCalculation Cost impact of the Savings Plans purchase recommendation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCostCalculation",
[...]
