{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "ReportDefinition" : [ "TimeUnit", "Format", "Compression", "S3Region" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-01-06",
    "asyncClient" : "AWSCostAndUsageReportAsyncClient",
    "asyncClientBuilderClassName" : "AWSCostAndUsageReportAsyncClientBuilder",
    "asyncInterface" : "AWSCostAndUsageReportAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSCostAndUsageReportModuleInjector",
    "defaultEndpoint" : "cur.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "cur.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The AWS Cost and Usage Report API enables you to programmatically create, query, and delete AWS Cost and Usage report definitions.</p> <p>AWS Cost and Usage reports track the monthly AWS costs and usage associated with your AWS account. The report contains line items for each unique combination of AWS product, usage type, and operation that your AWS account uses. You can configure the AWS Cost and Usage report to show only the data that you want, using the AWS Cost and Usage API.</p> <p>Service Endpoint</p> <p>The AWS Cost and Usage Report API provides the following endpoint:</p> <ul> <li> <p>cur.us-east-1.amazonaws.com</p> </li> </ul>",
    "endpointPrefix" : "cur",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.costandusagereport",
    "packagePath" : "com/amazonaws/services/costandusagereport",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Cost and Usage Report Service",
    "serviceId" : "Cost and Usage Report Service",
    "serviceName" : "AWS Cost and Usage Report Service",
    "signingName" : "cur",
    "smokeTestsPackageName" : "com.amazonaws.services.costandusagereport.smoketests",
    "syncClient" : "AWSCostAndUsageReportClient",
    "syncClientBuilderClassName" : "AWSCostAndUsageReportClientBuilder",
    "syncInterface" : "AWSCostAndUsageReport",
    "uid" : "cur-2017-01-06",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DeleteReportDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReportDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReportDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReportDefinitionRequest, DeleteReportDefinitionResult>",
      "asyncReturnType" : "DeleteReportDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified report.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteReportDefinitionRequest",
        "variableName" : "deleteReportDefinitionRequest",
        "variableType" : "DeleteReportDefinitionRequest",
        "documentation" : "<p>Deletes the specified report.</p>",
        "simpleType" : "DeleteReportDefinitionRequest",
        "variableSetterType" : "DeleteReportDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteReportDefinition",
      "operationName" : "DeleteReportDefinition",
      "returnType" : {
        "returnType" : "DeleteReportDefinitionResult",
        "documentation" : "<p>If the action is successful, the service sends back an HTTP 200 response.</p>"
      },
      "syncReturnType" : "DeleteReportDefinitionResult"
    },
    "DescribeReportDefinitions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReportDefinitionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReportDefinitionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReportDefinitionsRequest, DescribeReportDefinitionsResult>",
      "asyncReturnType" : "DescribeReportDefinitionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the AWS Cost and Usage reports available to this account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeReportDefinitionsRequest",
        "variableName" : "describeReportDefinitionsRequest",
        "variableType" : "DescribeReportDefinitionsRequest",
        "documentation" : "<p>Requests a list of AWS Cost and Usage reports owned by the account.</p>",
        "simpleType" : "DescribeReportDefinitionsRequest",
        "variableSetterType" : "DescribeReportDefinitionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeReportDefinitions",
      "operationName" : "DescribeReportDefinitions",
      "returnType" : {
        "returnType" : "DescribeReportDefinitionsResult",
        "documentation" : "<p>If the action is successful, the service sends back an HTTP 200 response.</p>"
      },
      "syncReturnType" : "DescribeReportDefinitionsResult"
    },
    "PutReportDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutReportDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutReportDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutReportDefinitionRequest, PutReportDefinitionResult>",
      "asyncReturnType" : "PutReportDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new report using the description that you provide.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DuplicateReportNameException",
        "documentation" : "<p>A report with the specified name already exists in the account. Specify a different report name.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReportLimitReachedException",
        "documentation" : "<p>This account already has five reports defined. To define a new report, you must delete an existing report.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutReportDefinitionRequest",
        "variableName" : "putReportDefinitionRequest",
        "variableType" : "PutReportDefinitionRequest",
        "documentation" : "<p>Creates a Cost and Usage Report.</p>",
        "simpleType" : "PutReportDefinitionRequest",
        "variableSetterType" : "PutReportDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putReportDefinition",
      "operationName" : "PutReportDefinition",
      "returnType" : {
        "returnType" : "PutReportDefinitionResult",
        "documentation" : "<p>If the action is successful, the service sends back an HTTP 200 response with an empty HTTP body.</p>"
      },
      "syncReturnType" : "PutReportDefinitionResult"
    }
  },
  "shapes" : {
    "AWSRegion" : {
      "c2jName" : "AWSRegion",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The region of the S3 bucket that AWS delivers the report into.</p>",
      "enums" : [ {
        "name" : "UsEast1",
        "value" : "us-east-1"
      }, {
        "name" : "UsWest1",
        "value" : "us-west-1"
      }, {
        "name" : "UsWest2",
        "value" : "us-west-2"
      }, {
        "name" : "EuCentral1",
        "value" : "eu-central-1"
      }, {
        "name" : "EuWest1",
        "value" : "eu-west-1"
      }, {
        "name" : "ApSoutheast1",
        "value" : "ap-southeast-1"
      }, {
        "name" : "ApSoutheast2",
        "value" : "ap-southeast-2"
      }, {
        "name" : "ApNortheast1",
        "value" : "ap-northeast-1"
      }, {
        "name" : "EuNorth1",
        "value" : "eu-north-1"
      }, {
        "name" : "ApNortheast3",
        "value" : "ap-northeast-3"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AWSRegion",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AWSRegion",
        "variableName" : "aWSRegion",
        "variableType" : "AWSRegion",
        "documentation" : null,
        "simpleType" : "AWSRegion",
        "variableSetterType" : "AWSRegion"
      },
      "wrapper" : false
    },
    "AdditionalArtifact" : {
      "c2jName" : "AdditionalArtifact",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The types of manifest that you want AWS to create for this report.</p>",
      "enums" : [ {
        "name" : "REDSHIFT",
        "value" : "REDSHIFT"
      }, {
        "name" : "QUICKSIGHT",
        "value" : "QUICKSIGHT"
      }, {
        "name" : "ATHENA",
        "value" : "ATHENA"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AdditionalArtifact",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AdditionalArtifact",
        "variableName" : "additionalArtifact",
        "variableType" : "AdditionalArtifact",
        "documentation" : null,
        "simpleType" : "AdditionalArtifact",
        "variableSetterType" : "AdditionalArtifact"
      },
      "wrapper" : false
    },
    "CompressionFormat" : {
      "c2jName" : "CompressionFormat",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The compression format that AWS uses for the report.</p>",
      "enums" : [ {
        "name" : "ZIP",
        "value" : "ZIP"
      }, {
        "name" : "GZIP",
        "value" : "GZIP"
      }, {
        "name" : "Parquet",
        "value" : "Parquet"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CompressionFormat",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CompressionFormat",
        "variableName" : "compressionFormat",
        "variableType" : "CompressionFormat",
        "documentation" : null,
        "simpleType" : "CompressionFormat",
        "variableSetterType" : "CompressionFormat"
      },
      "wrapper" : false
    },
    "DeleteReportDefinitionRequest" : {
      "c2jName" : "DeleteReportDefinitionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified report.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeleteReportDefinition",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSOrigamiServiceGatewayService.DeleteReportDefinition",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ReportName",
        "c2jShape" : "ReportName",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param reportName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withReportName",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getReportName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ReportName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ReportName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ReportName",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param reportName */",
        "setterMethodName" : "setReportName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reportName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param reportName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reportName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ReportName" : {
          "c2jName" : "ReportName",
          "c2jShape" : "ReportName",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param reportName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withReportName",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getReportName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ReportName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ReportName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ReportName",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param reportName */",
          "setterMethodName" : "setReportName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "reportName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param reportName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "reportName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DeleteReportDefinitionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteReportDefinitionRequest",
        "variableName" : "deleteReportDefinitionRequest",
        "variableType" : "DeleteReportDefinitionRequest",
        "documentation" : null,
        "simpleType" : "DeleteReportDefinitionRequest",
        "variableSetterType" : "DeleteReportDefinitionRequest"
      },
      "wrapper" : false
    },
    "DeleteReportDefinitionResult" : {
      "c2jName" : "DeleteReportDefinitionResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>If the action is successful, the service sends back an HTTP 200 response.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ResponseMessage",
        "c2jShape" : "DeleteResponseMessage",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param responseMessage \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResponseMessage",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getResponseMessage",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ResponseMessage",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResponseMessage",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResponseMessage",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param responseMessage */",
        "setterMethodName" : "setResponseMessage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "responseMessage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param responseMessage \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "responseMessage",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ResponseMessage" : {
          "c2jName" : "ResponseMessage",
          "c2jShape" : "DeleteResponseMessage",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param responseMessage \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResponseMessage",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getResponseMessage",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ResponseMessage",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResponseMessage",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResponseMessage",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param responseMessage */",
          "setterMethodName" : "setResponseMessage",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "responseMessage",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param responseMessage \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "responseMessage",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DeleteReportDefinitionResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteReportDefinitionResult",
        "variableName" : "deleteReportDefinitionResult",
        "variableType" : "DeleteReportDefinitionResult",
        "documentation" : null,
        "simpleType" : "DeleteReportDefinitionResult",
        "variableSetterType" : "DeleteReportDefinitionResult"
      },
      "wrapper" : false
    },
    "DescribeReportDefinitionsRequest" : {
      "c2jName" : "DescribeReportDefinitionsRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Requests a list of AWS Cost and Usage reports owned by the account.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DescribeReportDefinitions",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSOrigamiServiceGatewayService.DescribeReportDefinitions",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "MaxResults",
        "c2jShape" : "MaxResults",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param maxResults \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMaxResults",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getMaxResults",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MaxResults",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MaxResults",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "MaxResults",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param maxResults */",
        "setterMethodName" : "setMaxResults",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "maxResults",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param maxResults \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "maxResults",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "NextToken",
        "c2jShape" : "GenericString",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param nextToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNextToken",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getNextToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "NextToken",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NextToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "NextToken",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param nextToken */",
        "setterMethodName" : "setNextToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nextToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param nextToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nextToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "MaxResults" : {
          "c2jName" : "MaxResults",
          "c2jShape" : "MaxResults",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param maxResults \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMaxResults",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getMaxResults",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "MaxResults",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "MaxResults",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "MaxResults",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param maxResults */",
          "setterMethodName" : "setMaxResults",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "maxResults",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param maxResults \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "maxResults",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "NextToken" : {
          "c2jName" : "NextToken",
          "c2jShape" : "GenericString",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param nextToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNextToken",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getNextToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "NextToken",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "NextToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "NextToken",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param nextToken */",
          "setterMethodName" : "setNextToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "nextToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param nextToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "nextToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DescribeReportDefinitionsRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeReportDefinitionsRequest",
        "variableName" : "describeReportDefinitionsRequest",
        "variableType" : "DescribeReportDefinitionsRequest",
        "documentation" : null,
        "simpleType" : "DescribeReportDefinitionsRequest",
        "variableSetterType" : "DescribeReportDefinitionsRequest"
      },
      "wrapper" : false
    },
    "DescribeReportDefinitionsResult" : {
      "c2jName" : "DescribeReportDefinitionsResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>If the action is successful, the service sends back an HTTP 200 response.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ReportDefinitions",
        "c2jShape" : "ReportDefinitionList",
        "deprecated" : false,
        "documentation" : "<p>A list of AWS Cost and Usage reports owned by the account.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of AWS Cost and Usage reports owned by the account.</p>\n@param reportDefinitions A list of AWS Cost and Usage reports owned by the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withReportDefinitions",
        "getterDocumentation" : "/**<p>A list of AWS Cost and Usage reports owned by the account.</p>\n@return A list of AWS Cost and Usage reports owned by the account.*/",
        "getterMethodName" : "getReportDefinitions",
        "getterModel" : {
          "returnType" : "java.util.List<ReportDefinition>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ReportDefinitions",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ReportDefinitions",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ReportDefinition",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "ReportDefinition",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ReportDefinition",
              "variableName" : "member",
              "variableType" : "ReportDefinition",
              "documentation" : "",
              "simpleType" : "ReportDefinition",
              "variableSetterType" : "ReportDefinition"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ReportDefinition",
              "variableName" : "member",
              "variableType" : "ReportDefinition",
              "documentation" : "",
              "simpleType" : "ReportDefinition",
              "variableSetterType" : "ReportDefinition"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "ReportDefinition",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "ReportDefinition",
          "templateImplType" : "java.util.ArrayList<ReportDefinition>",
          "templateType" : "java.util.List<ReportDefinition>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ReportDefinitions",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of AWS Cost and Usage reports owned by the account.</p>\n@param reportDefinitions A list of AWS Cost and Usage reports owned by the account.*/",
        "setterMethodName" : "setReportDefinitions",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<ReportDefinition>",
          "variableName" : "reportDefinitions",
          "variableType" : "java.util.List<ReportDefinition>",
          "documentation" : "",
          "simpleType" : "List<ReportDefinition>",
          "variableSetterType" : "java.util.Collection<ReportDefinition>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of AWS Cost and Usage reports owned by the account.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setReportDefinitions(java.util.Collection)} or {@link #withReportDefinitions(java.util.Collection)} if you want to override the existing values.</p>\n@param reportDefinitions A list of AWS Cost and Usage reports owned by the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<ReportDefinition>",
          "variableName" : "reportDefinitions",
          "variableType" : "java.util.List<ReportDefinition>",
          "documentation" : "<p>A list of AWS Cost and Usage reports owned by the account.</p>",
          "simpleType" : "List<ReportDefinition>",
          "variableSetterType" : "java.util.Collection<ReportDefinition>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "NextToken",
        "c2jShape" : "GenericString",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param nextToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNextToken",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getNextToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "NextToken",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NextToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "NextToken",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param nextToken */",
        "setterMethodName" : "setNextToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nextToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param nextToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nextToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "NextToken" : {
          "c2jName" : "NextToken",
          "c2jShape" : "GenericString",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param nextToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNextToken",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getNextToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "NextToken",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "NextToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "NextToken",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param nextToken */",
          "setterMethodName" : "setNextToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "nextToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param nextToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "nextToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ReportDefinitions" : {
          "c2jName" : "ReportDefinitions",
          "c2jShape" : "ReportDefinitionList",
          "deprecated" : false,
          "documentation" : "<p>A list of AWS Cost and Usage reports owned by the account.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of AWS Cost and Usage reports owned by the account.</p>\n@param reportDefinitions A list of AWS Cost and Usage reports owned by the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withReportDefinitions",
          "getterDocumentation" : "/**<p>A list of AWS Cost and Usage reports owned by the account.</p>\n@return A list of AWS Cost and Usage reports owned by the account.*/",
          "getterMethodName" : "getReportDefinitions",
          "getterModel" : {
            "returnType" : "java.util.List<ReportDefinition>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ReportDefinitions",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ReportDefinitions",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "ReportDefinition",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "ReportDefinition",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "ReportDefinition",
                "variableName" : "member",
                "variableType" : "ReportDefinition",
                "documentation" : "",
                "simpleType" : "ReportDefinition",
                "variableSetterType" : "ReportDefinition"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "ReportDefinition",
                "variableName" : "member",
                "variableType" : "ReportDefinition",
                "documentation" : "",
                "simpleType" : "ReportDefinition",
                "variableSetterType" : "ReportDefinition"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "ReportDefinition",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "ReportDefinition",
            "templateImplType" : "java.util.ArrayList<ReportDefinition>",
            "templateType" : "java.util.List<ReportDefinition>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "ReportDefinitions",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A list of AWS Cost and Usage reports owned by the account.</p>\n@param reportDefinitions A list of AWS Cost and Usage reports owned by the account.*/",
          "setterMethodName" : "setReportDefinitions",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<ReportDefinition>",
            "variableName" : "reportDefinitions",
            "variableType" : "java.util.List<ReportDefinition>",
            "documentation" : "",
            "simpleType" : "List<ReportDefinition>",
            "variableSetterType" : "java.util.Collection<ReportDefinition>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A list of AWS Cost and Usage reports owned by the account.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setReportDefinitions(java.util.Collection)} or {@link #withReportDefinitions(java.util.Collection)} if you want to override the existing values.</p>\n@param reportDefinitions A list of AWS Cost and Usage reports owned by the account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<ReportDefinition>",
            "variableName" : "reportDefinitions",
            "variableType" : "java.util.List<ReportDefinition>",
            "documentation" : "<p>A list of AWS Cost and Usage reports owned by the account.</p>",
            "simpleType" : "List<ReportDefinition>",
            "variableSetterType" : "java.util.Collection<ReportDefinition>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DescribeReportDefinitionsResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeReportDefinitionsResult",
        "variableName" : "describeReportDefinitionsResult",
        "variableType" : "DescribeReportDefinitionsResult",
        "documentation" : null,
        "simpleType" : "DescribeReportDefinitionsResult",
        "variableSetterType" : "DescribeReportDefinitionsResult"
      },
      "wrapper" : false
    },
    "DuplicateReportNameException" : {
      "c2jName" : "DuplicateReportNameException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A report with the specified name already exists in the account. Specify a different report name.</p>",
      "enums" : null,
      "errorCode" : "DuplicateReportNameException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DuplicateReportNameException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DuplicateReportNameException",
        "variableName" : "duplicateReportNameException",
        "variableType" : "DuplicateReportNameException",
        "documentation" : null,
        "simpleType" : "DuplicateReportNameException",
        "variableSetterType" : "DuplicateReportNameException"
      },
      "wrapper" : false
    },
    "InternalErrorException" : {
      "c2jName" : "InternalErrorException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
      "enums" : null,
      "errorCode" : "InternalErrorException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "InternalErrorException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InternalErrorException",
        "variableName" : "internalErrorException",
        "variableType" : "InternalErrorException",
        "documentation" : null,
        "simpleType" : "InternalErrorException",
        "variableSetterType" : "InternalErrorException"
      },
      "wrapper" : false
    },
    "PutReportDefinitionRequest" : {
      "c2jName" : "PutReportDefinitionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Creates a Cost and Usage Report.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "PutReportDefinition",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSOrigamiServiceGatewayService.PutReportDefinition",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ReportDefinition",
        "c2jShape" : "ReportDefinition",
        "deprecated" : false,
        "documentation" : "<p>Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information. </p>\n@param reportDefinition Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withReportDefinition",
        "getterDocumentation" : "/**<p>Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information. </p>\n@return Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information.*/",
        "getterMethodName" : "getReportDefinition",
        "getterModel" : {
          "returnType" : "ReportDefinition",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ReportDefinition",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ReportDefinition",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ReportDefinition",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information. </p>\n@param reportDefinition Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information.*/",
        "setterMethodName" : "setReportDefinition",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ReportDefinition",
          "variableName" : "reportDefinition",
          "variableType" : "ReportDefinition",
          "documentation" : "",
          "simpleType" : "ReportDefinition",
          "variableSetterType" : "ReportDefinition"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information. </p>\n@param reportDefinition Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ReportDefinition",
          "variableName" : "reportDefinition",
          "variableType" : "ReportDefinition",
          "documentation" : "<p>Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information. </p>",
          "simpleType" : "ReportDefinition",
          "variableSetterType" : "ReportDefinition"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ReportDefinition" : {
          "c2jName" : "ReportDefinition",
          "c2jShape" : "ReportDefinition",
          "deprecated" : false,
          "documentation" : "<p>Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information. </p>\n@param reportDefinition Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withReportDefinition",
          "getterDocumentation" : "/**<p>Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information. </p>\n@return Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information.*/",
          "getterMethodName" : "getReportDefinition",
          "getterModel" : {
            "returnType" : "ReportDefinition",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ReportDefinition",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ReportDefinition",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ReportDefinition",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information. </p>\n@param reportDefinition Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information.*/",
          "setterMethodName" : "setReportDefinition",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ReportDefinition",
            "variableName" : "reportDefinition",
            "variableType" : "ReportDefinition",
            "documentation" : "",
            "simpleType" : "ReportDefinition",
            "variableSetterType" : "ReportDefinition"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information. </p>\n@param reportDefinition Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ReportDefinition",
            "variableName" : "reportDefinition",
            "variableType" : "ReportDefinition",
            "documentation" : "<p>Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information. </p>",
            "simpleType" : "ReportDefinition",
            "variableSetterType" : "ReportDefinition"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ReportDefinition" ],
      "shapeName" : "PutReportDefinitionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutReportDefinitionRequest",
        "variableName" : "putReportDefinitionRequest",
        "variableType" : "PutReportDefinitionRequest",
        "documentation" : null,
        "simpleType" : "PutReportDefinitionRequest",
        "variableSetterType" : "PutReportDefinitionRequest"
      },
      "wrapper" : false
    },
    "PutReportDefinitionResult" : {
      "c2jName" : "PutReportDefinitionResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>If the action is successful, the service sends back an HTTP 200 response with an empty HTTP body.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "PutReportDefinitionResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutReportDefinitionResult",
        "variableName" : "putReportDefinitionResult",
        "variableType" : "PutReportDefinitionResult",
        "documentation" : null,
        "simpleType" : "PutReportDefinitionResult",
        "variableSetterType" : "PutReportDefinitionResult"
      },
      "wrapper" : false
    },
    "ReportDefinition" : {
      "c2jName" : "ReportDefinition",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The definition of AWS Cost and Usage Report. You can specify the report name, time unit, report format, compression format, S3 bucket, additional artifacts, and schema elements in the definition. </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ReportName",
        "c2jShape" : "ReportName",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param reportName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withReportName",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getReportName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ReportName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ReportName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ReportName",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param reportName */",
        "setterMethodName" : "setReportName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reportName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param reportName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reportName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TimeUnit",
        "c2jShape" : "TimeUnit",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : "TimeUnit",
        "fluentSetterDocumentation" : "/**\n@param timeUnit \n@return Returns a reference to this object so that method calls can be chained together.\n@see TimeUnit*/",
        "fluentSetterMethodName" : "withTimeUnit",
        "getterDocumentation" : "/**\n@return \n@see TimeUnit*/",
        "getterMethodName" : "getTimeUnit",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TimeUnit",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TimeUnit",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TimeUnit",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param timeUnit \n@see TimeUnit*/",
        "setterMethodName" : "setTimeUnit",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "timeUnit",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param timeUnit \n@return Returns a reference to this object so that method calls can be chained together.\n@see TimeUnit*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "timeUnit",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Format",
        "c2jShape" : "ReportFormat",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : "ReportFormat",
        "fluentSetterDocumentation" : "/**\n@param format \n@return Returns a reference to this object so that method calls can be chained together.\n@see ReportFormat*/",
        "fluentSetterMethodName" : "withFormat",
        "getterDocumentation" : "/**\n@return \n@see ReportFormat*/",
        "getterMethodName" : "getFormat",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Format",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Format",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Format",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param format \n@see ReportFormat*/",
        "setterMethodName" : "setFormat",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "format",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param format \n@return Returns a reference to this object so that method calls can be chained together.\n@see ReportFormat*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "format",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Compression",
        "c2jShape" : "CompressionFormat",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : "CompressionFormat",
        "fluentSetterDocumentation" : "/**\n@param compression \n@return Returns a reference to this object so that method calls can be chained together.\n@see CompressionFormat*/",
        "fluentSetterMethodName" : "withCompression",
        "getterDocumentation" : "/**\n@return \n@see CompressionFormat*/",
        "getterMethodName" : "getCompression",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Compression",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Compression",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Compression",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param compression \n@see CompressionFormat*/",
        "setterMethodName" : "setCompression",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "compression",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param compression \n@return Returns a reference to this object so that method calls can be chained together.\n@see CompressionFormat*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "compression",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AdditionalSchemaElements",
        "c2jShape" : "SchemaElementList",
        "deprecated" : false,
        "documentation" : "<p>A list of strings that indicate additional content that Amazon Web Services includes in the report, such as individual resource IDs. </p>",
        "enumType" : "SchemaElement",
        "fluentSetterDocumentation" : "/**<p>A list of strings that indicate additional content that Amazon Web Services includes in the report, such as individual resource IDs. </p>\n@param additionalSchemaElements A list of strings that indicate additional content that Amazon Web Services includes in the report, such as individual resource IDs.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SchemaElement*/",
        "fluentSetterMethodName" : "withAdditionalSchemaElements",
        "getterDocumentation" : "/**<p>A list of strings that indicate additional content that Amazon Web Services includes in the report, such as individual resource IDs. </p>\n@return A list of strings that indicate additional content that Amazon Web Services includes in the report, such as individual resource IDs.\n@see SchemaElement*/",
        "getterMethodName" : "getAdditionalSchemaElements",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AdditionalSchemaElements",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AdditionalSchemaElements",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "SchemaElement",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : "SchemaElement",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see SchemaElement*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return \n@see SchemaElement*/",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member \n@see SchemaElement*/",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see SchemaElement*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "AdditionalSchemaElements",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of strings that indicate additional content that Amazon Web Services includes in the report, such as individual resource IDs. </p>\n@param additionalSchemaElements A list of strings that indicate additional content that Amazon Web Services includes in the report, such as individual resource IDs.\n@see SchemaElement*/",
        "setterMethodName" : "setAdditionalSchemaElements",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "additionalSchemaElements",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of strings that indicate additional content that Amazon Web Services includes in the report, such as individual resource IDs. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAdditionalSchemaElements(java.util.Collection)} or {@link #withAdditionalSchemaElements(java.util.Collection)} if you want to override the existing values.</p>\n@param additionalSchemaElements A list of strings that indicate additional content that Amazon Web Services includes in the report, such as individual resource IDs.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SchemaElement*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "additionalSchemaElements",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>A list of strings that indicate additional content that Amazon Web Services includes in the report, such as individual resource IDs. </p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "S3Bucket",
        "c2jShape" : "S3Bucket",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param s3Bucket \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withS3Bucket",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getS3Bucket",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "S3Bucket",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "S3Bucket",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "S3Bucket",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param s3Bucket */",
        "setterMethodName" : "setS3Bucket",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "s3Bucket",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param s3Bucket \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "s3Bucket",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "S3Prefix",
        "c2jShape" : "S3Prefix",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param s3Prefix \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withS3Prefix",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getS3Prefix",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "S3Prefix",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "S3Prefix",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "S3Prefix",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param s3Prefix */",
        "setterMethodName" : "setS3Prefix",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "s3Prefix",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param s3Prefix \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "s3Prefix",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "S3Region",
        "c2jShape" : "AWSRegion",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : "AWSRegion",
        "fluentSetterDocumentation" : "/**\n@param s3Region \n@return Returns a reference to this object so that method calls can be chained together.\n@see AWSRegion*/",
        "fluentSetterMethodName" : "withS3Region",
        "getterDocumentation" : "/**\n@return \n@see AWSRegion*/",
        "getterMethodName" : "getS3Region",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
[...]
