{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-08-15",
    "asyncClient" : "AmazonCustomerProfilesAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCustomerProfilesAsyncClientBuilder",
    "asyncInterface" : "AmazonCustomerProfilesAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonCustomerProfilesModuleInjector",
    "defaultEndpoint" : "profile.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "profile.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon Connect Customer Profiles</fullname> <p>Welcome to the Amazon Connect Customer Profiles API Reference. This guide provides information about the Amazon Connect Customer Profiles API, including supported operations, data types, parameters, and schemas.</p> <p>Amazon Connect Customer Profiles is a unified customer profile for your contact center that has pre-built connectors powered by AppFlow that make it easy to combine customer information from third party applications, such as Salesforce (CRM), ServiceNow (ITSM), and your enterprise resource planning (ERP), with contact history from your Amazon Connect contact center.</p> <p>If you're new to Amazon Connect, you might find it helpful to also review the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/what-is-amazon-connect.html\">Amazon Connect Administrator Guide</a>.</p>",
    "endpointPrefix" : "profile",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.customerprofiles",
    "packagePath" : "com/amazonaws/services/customerprofiles",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Customer Profiles",
    "serviceFullName" : "Amazon Connect Customer Profiles",
    "serviceId" : "Customer Profiles",
    "serviceName" : "Customer Profiles",
    "signingName" : "profile",
    "smokeTestsPackageName" : "com.amazonaws.services.customerprofiles.smoketests",
    "syncClient" : "AmazonCustomerProfilesClient",
    "syncClientBuilderClassName" : "AmazonCustomerProfilesClientBuilder",
    "syncInterface" : "AmazonCustomerProfiles",
    "uid" : "customer-profiles-2020-08-15",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddProfileKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddProfileKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddProfileKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddProfileKeyRequest, AddProfileKeyResult>",
      "asyncReturnType" : "AddProfileKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a new key value with a specific profile, such as a Contact Trace Record (CTR) ContactId.</p> <p>A profile object can have a single unique key and any number of additional keys that can be used to identify the profile that it belongs to.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddProfileKeyRequest",
        "variableName" : "addProfileKeyRequest",
        "variableType" : "AddProfileKeyRequest",
        "documentation" : "",
        "simpleType" : "AddProfileKeyRequest",
        "variableSetterType" : "AddProfileKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addProfileKey",
      "operationName" : "AddProfileKey",
      "returnType" : {
        "returnType" : "AddProfileKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "AddProfileKeyResult"
    },
    "CreateDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDomainRequest, CreateDomainResult>",
      "asyncReturnType" : "CreateDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a domain, which is a container for all customer data, such as customer profile attributes, object types, profile keys, and encryption keys. You can create multiple domains, and each domain can have multiple third-party integrations.</p> <p>Each Amazon Connect instance can be associated with only one domain. Multiple Amazon Connect instances can be associated with one domain.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDomainRequest",
        "variableName" : "createDomainRequest",
        "variableType" : "CreateDomainRequest",
        "documentation" : "",
        "simpleType" : "CreateDomainRequest",
        "variableSetterType" : "CreateDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDomain",
      "operationName" : "CreateDomain",
      "returnType" : {
        "returnType" : "CreateDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDomainResult"
    },
    "CreateProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProfileRequest, CreateProfileResult>",
      "asyncReturnType" : "CreateProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a standard profile.</p> <p>A standard profile represents the following attributes for a customer profile in a domain.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProfileRequest",
        "variableName" : "createProfileRequest",
        "variableType" : "CreateProfileRequest",
        "documentation" : "",
        "simpleType" : "CreateProfileRequest",
        "variableSetterType" : "CreateProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProfile",
      "operationName" : "CreateProfile",
      "returnType" : {
        "returnType" : "CreateProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProfileResult"
    },
    "DeleteDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDomainRequest, DeleteDomainResult>",
      "asyncReturnType" : "DeleteDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a specific domain and all of its customer data, such as customer profile attributes and their related objects.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDomainRequest",
        "variableName" : "deleteDomainRequest",
        "variableType" : "DeleteDomainRequest",
        "documentation" : "",
        "simpleType" : "DeleteDomainRequest",
        "variableSetterType" : "DeleteDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDomain",
      "operationName" : "DeleteDomain",
      "returnType" : {
        "returnType" : "DeleteDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDomainResult"
    },
    "DeleteIntegration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIntegrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIntegrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIntegrationRequest, DeleteIntegrationResult>",
      "asyncReturnType" : "DeleteIntegrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes an integration from a specific domain.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteIntegrationRequest",
        "variableName" : "deleteIntegrationRequest",
        "variableType" : "DeleteIntegrationRequest",
        "documentation" : "",
        "simpleType" : "DeleteIntegrationRequest",
        "variableSetterType" : "DeleteIntegrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIntegration",
      "operationName" : "DeleteIntegration",
      "returnType" : {
        "returnType" : "DeleteIntegrationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteIntegrationResult"
    },
    "DeleteProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProfileRequest, DeleteProfileResult>",
      "asyncReturnType" : "DeleteProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the standard customer profile and all data pertaining to the profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProfileRequest",
        "variableName" : "deleteProfileRequest",
        "variableType" : "DeleteProfileRequest",
        "documentation" : "",
        "simpleType" : "DeleteProfileRequest",
        "variableSetterType" : "DeleteProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProfile",
      "operationName" : "DeleteProfile",
      "returnType" : {
        "returnType" : "DeleteProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProfileResult"
    },
    "DeleteProfileKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProfileKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProfileKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProfileKeyRequest, DeleteProfileKeyResult>",
      "asyncReturnType" : "DeleteProfileKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a searchable key from a customer profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProfileKeyRequest",
        "variableName" : "deleteProfileKeyRequest",
        "variableType" : "DeleteProfileKeyRequest",
        "documentation" : "",
        "simpleType" : "DeleteProfileKeyRequest",
        "variableSetterType" : "DeleteProfileKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProfileKey",
      "operationName" : "DeleteProfileKey",
      "returnType" : {
        "returnType" : "DeleteProfileKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProfileKeyResult"
    },
    "DeleteProfileObject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProfileObjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProfileObjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProfileObjectRequest, DeleteProfileObjectResult>",
      "asyncReturnType" : "DeleteProfileObjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes an object associated with a profile of a given ProfileObjectType.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProfileObjectRequest",
        "variableName" : "deleteProfileObjectRequest",
        "variableType" : "DeleteProfileObjectRequest",
        "documentation" : "",
        "simpleType" : "DeleteProfileObjectRequest",
        "variableSetterType" : "DeleteProfileObjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProfileObject",
      "operationName" : "DeleteProfileObject",
      "returnType" : {
        "returnType" : "DeleteProfileObjectResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProfileObjectResult"
    },
    "DeleteProfileObjectType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProfileObjectTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProfileObjectTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProfileObjectTypeRequest, DeleteProfileObjectTypeResult>",
      "asyncReturnType" : "DeleteProfileObjectTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a ProfileObjectType from a specific domain as well as removes all the ProfileObjects of that type. It also disables integrations from this specific ProfileObjectType. In addition, it scrubs all of the fields of the standard profile that were populated from this ProfileObjectType.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProfileObjectTypeRequest",
        "variableName" : "deleteProfileObjectTypeRequest",
        "variableType" : "DeleteProfileObjectTypeRequest",
        "documentation" : "",
        "simpleType" : "DeleteProfileObjectTypeRequest",
        "variableSetterType" : "DeleteProfileObjectTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProfileObjectType",
      "operationName" : "DeleteProfileObjectType",
      "returnType" : {
        "returnType" : "DeleteProfileObjectTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProfileObjectTypeResult"
    },
    "GetDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDomainRequest, GetDomainResult>",
      "asyncReturnType" : "GetDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a specific domain.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDomainRequest",
        "variableName" : "getDomainRequest",
        "variableType" : "GetDomainRequest",
        "documentation" : "",
        "simpleType" : "GetDomainRequest",
        "variableSetterType" : "GetDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDomain",
      "operationName" : "GetDomain",
      "returnType" : {
        "returnType" : "GetDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDomainResult"
    },
    "GetIntegration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIntegrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIntegrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIntegrationRequest, GetIntegrationResult>",
      "asyncReturnType" : "GetIntegrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an integration for a domain.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIntegrationRequest",
        "variableName" : "getIntegrationRequest",
        "variableType" : "GetIntegrationRequest",
        "documentation" : "",
        "simpleType" : "GetIntegrationRequest",
        "variableSetterType" : "GetIntegrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIntegration",
      "operationName" : "GetIntegration",
      "returnType" : {
        "returnType" : "GetIntegrationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetIntegrationResult"
    },
    "GetProfileObjectType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetProfileObjectTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetProfileObjectTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProfileObjectTypeRequest, GetProfileObjectTypeResult>",
      "asyncReturnType" : "GetProfileObjectTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the object types for a specific domain.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetProfileObjectTypeRequest",
        "variableName" : "getProfileObjectTypeRequest",
        "variableType" : "GetProfileObjectTypeRequest",
        "documentation" : "",
        "simpleType" : "GetProfileObjectTypeRequest",
        "variableSetterType" : "GetProfileObjectTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getProfileObjectType",
      "operationName" : "GetProfileObjectType",
      "returnType" : {
        "returnType" : "GetProfileObjectTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "GetProfileObjectTypeResult"
    },
    "GetProfileObjectTypeTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetProfileObjectTypeTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetProfileObjectTypeTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProfileObjectTypeTemplateRequest, GetProfileObjectTypeTemplateResult>",
      "asyncReturnType" : "GetProfileObjectTypeTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the template information for a specific object type.</p> <p>A template is a predefined ProfileObjectType, such as “Salesforce-Account” or “Salesforce-Contact.” When a user sends a ProfileObject, using the PutProfileObject API, with an ObjectTypeName that matches one of the TemplateIds, it uses the mappings from the template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetProfileObjectTypeTemplateRequest",
        "variableName" : "getProfileObjectTypeTemplateRequest",
        "variableType" : "GetProfileObjectTypeTemplateRequest",
        "documentation" : "",
        "simpleType" : "GetProfileObjectTypeTemplateRequest",
        "variableSetterType" : "GetProfileObjectTypeTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getProfileObjectTypeTemplate",
      "operationName" : "GetProfileObjectTypeTemplate",
      "returnType" : {
        "returnType" : "GetProfileObjectTypeTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetProfileObjectTypeTemplateResult"
    },
    "ListAccountIntegrations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAccountIntegrationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAccountIntegrationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAccountIntegrationsRequest, ListAccountIntegrationsResult>",
      "asyncReturnType" : "ListAccountIntegrationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the integrations associated to a specific URI in the AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAccountIntegrationsRequest",
        "variableName" : "listAccountIntegrationsRequest",
        "variableType" : "ListAccountIntegrationsRequest",
        "documentation" : "",
        "simpleType" : "ListAccountIntegrationsRequest",
        "variableSetterType" : "ListAccountIntegrationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAccountIntegrations",
      "operationName" : "ListAccountIntegrations",
      "returnType" : {
        "returnType" : "ListAccountIntegrationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAccountIntegrationsResult"
    },
    "ListDomains" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDomainsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDomainsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDomainsRequest, ListDomainsResult>",
      "asyncReturnType" : "ListDomainsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all the domains for an AWS account that have been created.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDomainsRequest",
        "variableName" : "listDomainsRequest",
        "variableType" : "ListDomainsRequest",
        "documentation" : "",
        "simpleType" : "ListDomainsRequest",
        "variableSetterType" : "ListDomainsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDomains",
      "operationName" : "ListDomains",
      "returnType" : {
        "returnType" : "ListDomainsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDomainsResult"
    },
    "ListIntegrations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIntegrationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIntegrationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIntegrationsRequest, ListIntegrationsResult>",
      "asyncReturnType" : "ListIntegrationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the integrations in your domain.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIntegrationsRequest",
        "variableName" : "listIntegrationsRequest",
        "variableType" : "ListIntegrationsRequest",
        "documentation" : "",
        "simpleType" : "ListIntegrationsRequest",
        "variableSetterType" : "ListIntegrationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIntegrations",
      "operationName" : "ListIntegrations",
      "returnType" : {
        "returnType" : "ListIntegrationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListIntegrationsResult"
    },
    "ListProfileObjectTypeTemplates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProfileObjectTypeTemplatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProfileObjectTypeTemplatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProfileObjectTypeTemplatesRequest, ListProfileObjectTypeTemplatesResult>",
      "asyncReturnType" : "ListProfileObjectTypeTemplatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the template information for object types.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProfileObjectTypeTemplatesRequest",
        "variableName" : "listProfileObjectTypeTemplatesRequest",
        "variableType" : "ListProfileObjectTypeTemplatesRequest",
        "documentation" : "",
        "simpleType" : "ListProfileObjectTypeTemplatesRequest",
        "variableSetterType" : "ListProfileObjectTypeTemplatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProfileObjectTypeTemplates",
      "operationName" : "ListProfileObjectTypeTemplates",
      "returnType" : {
        "returnType" : "ListProfileObjectTypeTemplatesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProfileObjectTypeTemplatesResult"
    },
    "ListProfileObjectTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProfileObjectTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProfileObjectTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProfileObjectTypesRequest, ListProfileObjectTypesResult>",
      "asyncReturnType" : "ListProfileObjectTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the templates available within the service.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProfileObjectTypesRequest",
        "variableName" : "listProfileObjectTypesRequest",
        "variableType" : "ListProfileObjectTypesRequest",
        "documentation" : "",
        "simpleType" : "ListProfileObjectTypesRequest",
        "variableSetterType" : "ListProfileObjectTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProfileObjectTypes",
      "operationName" : "ListProfileObjectTypes",
      "returnType" : {
        "returnType" : "ListProfileObjectTypesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProfileObjectTypesResult"
    },
    "ListProfileObjects" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProfileObjectsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProfileObjectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProfileObjectsRequest, ListProfileObjectsResult>",
      "asyncReturnType" : "ListProfileObjectsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of objects associated with a profile of a given ProfileObjectType.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProfileObjectsRequest",
        "variableName" : "listProfileObjectsRequest",
        "variableType" : "ListProfileObjectsRequest",
        "documentation" : "",
        "simpleType" : "ListProfileObjectsRequest",
        "variableSetterType" : "ListProfileObjectsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProfileObjects",
      "operationName" : "ListProfileObjects",
      "returnType" : {
        "returnType" : "ListProfileObjectsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProfileObjectsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays the tags associated with an Amazon Connect Customer Profiles resource. In Connect Customer Profiles, domains, profile object types, and integrations can be tagged.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutIntegration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutIntegrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutIntegrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutIntegrationRequest, PutIntegrationResult>",
      "asyncReturnType" : "PutIntegrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds an integration between the service and a third-party service, which includes Amazon AppFlow and Amazon Connect.</p> <p>An integration can belong to only one domain.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutIntegrationRequest",
        "variableName" : "putIntegrationRequest",
        "variableType" : "PutIntegrationRequest",
        "documentation" : "",
        "simpleType" : "PutIntegrationRequest",
        "variableSetterType" : "PutIntegrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putIntegration",
      "operationName" : "PutIntegration",
      "returnType" : {
        "returnType" : "PutIntegrationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutIntegrationResult"
    },
    "PutProfileObject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutProfileObjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutProfileObjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutProfileObjectRequest, PutProfileObjectResult>",
      "asyncReturnType" : "PutProfileObjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds additional objects to customer profiles of a given ObjectType.</p> <p>When adding a specific profile object, like a Contact Trace Record (CTR), an inferred profile can get created if it is not mapped to an existing profile. The resulting profile will only have a phone number populated in the standard ProfileObject. Any additional CTRs with the same phone number will be mapped to the same inferred profile.</p> <p>When a ProfileObject is created and if a ProfileObjectType already exists for the ProfileObject, it will provide data to a standard profile depending on the ProfileObjectType definition.</p> <p>PutProfileObject needs an ObjectType, which can be created using PutProfileObjectType.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutProfileObjectRequest",
        "variableName" : "putProfileObjectRequest",
        "variableType" : "PutProfileObjectRequest",
        "documentation" : "",
        "simpleType" : "PutProfileObjectRequest",
        "variableSetterType" : "PutProfileObjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putProfileObject",
      "operationName" : "PutProfileObject",
      "returnType" : {
        "returnType" : "PutProfileObjectResult",
        "documentation" : null
      },
      "syncReturnType" : "PutProfileObjectResult"
    },
    "PutProfileObjectType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutProfileObjectTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutProfileObjectTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutProfileObjectTypeRequest, PutProfileObjectTypeResult>",
      "asyncReturnType" : "PutProfileObjectTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Defines a ProfileObjectType.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutProfileObjectTypeRequest",
        "variableName" : "putProfileObjectTypeRequest",
        "variableType" : "PutProfileObjectTypeRequest",
        "documentation" : "",
        "simpleType" : "PutProfileObjectTypeRequest",
        "variableSetterType" : "PutProfileObjectTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putProfileObjectType",
      "operationName" : "PutProfileObjectType",
      "returnType" : {
        "returnType" : "PutProfileObjectTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "PutProfileObjectTypeResult"
    },
    "SearchProfiles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchProfilesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchProfilesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchProfilesRequest, SearchProfilesResult>",
      "asyncReturnType" : "SearchProfilesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Searches for profiles within a specific domain name using name, phone number, email address, account number, or a custom defined index.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchProfilesRequest",
        "variableName" : "searchProfilesRequest",
        "variableType" : "SearchProfilesRequest",
        "documentation" : "",
        "simpleType" : "SearchProfilesRequest",
        "variableSetterType" : "SearchProfilesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchProfiles",
      "operationName" : "SearchProfiles",
      "returnType" : {
        "returnType" : "SearchProfilesResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchProfilesResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns one or more tags (key-value pairs) to the specified Amazon Connect Customer Profiles resource. Tags can help you organize and categorize your resources. You can also use them to scope user permissions by granting a user permission to access or change only resources with certain tag values. In Connect Customer Profiles, domains, profile object types, and integrations can be tagged.</p> <p>Tags don't have any semantic meaning to AWS and are interpreted strictly as strings of characters.</p> <p>You can use the TagResource action with a resource that already has tags. If you specify a new tag key, this tag is appended to the list of tags associated with the resource. If you specify a tag key that is already associated with the resource, the new tag value that you specify replaces the previous value for that tag.</p> <p>You can associate as many as 50 tags with a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from the specified Amazon Connect Customer Profiles resource. In Connect Customer Profiles, domains, profile object types, and integrations can be tagged.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDomainRequest, UpdateDomainResult>",
      "asyncReturnType" : "UpdateDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the properties of a domain, including creating or selecting a dead letter queue or an encryption key.</p> <p>Once a domain is created, the name can’t be changed.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDomainRequest",
        "variableName" : "updateDomainRequest",
        "variableType" : "UpdateDomainRequest",
        "documentation" : "",
        "simpleType" : "UpdateDomainRequest",
        "variableSetterType" : "UpdateDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDomain",
      "operationName" : "UpdateDomain",
      "returnType" : {
        "returnType" : "UpdateDomainResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDomainResult"
    },
    "UpdateProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProfileRequest, UpdateProfileResult>",
      "asyncReturnType" : "UpdateProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the properties of a profile. The ProfileId is required for updating a customer profile.</p> <p>When calling the UpdateProfile API, specifying an empty string value means that any existing value will be removed. Not specifying a string value means that any value already there will be kept.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input you provided is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource does not exist, or access was denied.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>You exceeded the maximum number of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateProfileRequest",
        "variableName" : "updateProfileRequest",
        "variableType" : "UpdateProfileRequest",
        "documentation" : "",
        "simpleType" : "UpdateProfileRequest",
        "variableSetterType" : "UpdateProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProfile",
      "operationName" : "UpdateProfile",
      "returnType" : {
        "returnType" : "UpdateProfileResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateProfileResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.customerprofiles.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.customerprofiles.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AddProfileKeyRequest" : {
      "c2jName" : "AddProfileKeyRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.customerprofiles.request.AddProfileKeyRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddProfileKey",
        "locationName" : null,
        "requestUri" : "/domains/{DomainName}/profiles/keys",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ProfileId",
        "c2jShape" : "uuid",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier of a customer profile.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier of a customer profile.</p>\n@param profileId The unique identifier of a customer profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProfileId",
        "getterDocumentation" : "/**<p>The unique identifier of a customer profile.</p>\n@return The unique identifier of a customer profile.*/",
        "getterMethodName" : "getProfileId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ProfileId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ProfileId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProfileId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique identifier of a customer profile.</p>\n@param profileId The unique identifier of a customer profile.*/",
        "setterMethodName" : "setProfileId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "profileId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier of a customer profile.</p>\n@param profileId The unique identifier of a customer profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "profileId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier of a customer profile.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "KeyName",
        "c2jShape" : "name",
        "deprecated" : false,
        "documentation" : "<p>A searchable identifier of a customer profile.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A searchable identifier of a customer profile.</p>\n@param keyName A searchable identifier of a customer profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withKeyName",
        "getterDocumentation" : "/**<p>A searchable identifier of a customer profile.</p>\n@return A searchable identifier of a customer profile.*/",
        "getterMethodName" : "getKeyName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "KeyName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "KeyName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "KeyName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A searchable identifier of a customer profile.</p>\n@param keyName A searchable identifier of a customer profile.*/",
        "setterMethodName" : "setKeyName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "keyName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A searchable identifier of a customer profile.</p>\n@param keyName A searchable identifier of a customer profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "keyName",
          "variableType" : "String",
          "documentation" : "<p>A searchable identifier of a customer profile.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Values",
        "c2jShape" : "requestValueList",
        "deprecated" : false,
        "documentation" : "<p>A list of key values.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of key values.</p>\n@param values A list of key values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withValues",
        "getterDocumentation" : "/**<p>A list of key values.</p>\n@return A list of key values.*/",
        "getterMethodName" : "getValues",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Values",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Values",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "string1To255",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Values",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of key values.</p>\n@param values A list of key values.*/",
        "setterMethodName" : "setValues",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "values",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of key values.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setValues(java.util.Collection)} or {@link #withValues(java.util.Collection)} if you want to override the existing values.</p>\n@param values A list of key values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "values",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>A list of key values.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DomainName",
        "c2jShape" : "name",
        "deprecated" : false,
        "documentation" : "<p>The unique name of the domain.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique name of the domain.</p>\n@param domainName The unique name of the domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDomainName",
        "getterDocumentation" : "/**<p>The unique name of the domain.</p>\n@return The unique name of the domain.*/",
        "getterMethodName" : "getDomainName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "DomainName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DomainName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DomainName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique name of the domain.</p>\n@param domainName The unique name of the domain.*/",
        "setterMethodName" : "setDomainName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique name of the domain.</p>\n@param domainName The unique name of the domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "<p>The unique name of the domain.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DomainName" : {
          "c2jName" : "DomainName",
          "c2jShape" : "name",
          "deprecated" : false,
          "documentation" : "<p>The unique name of the domain.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique name of the domain.</p>\n@param domainName The unique name of the domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDomainName",
          "getterDocumentation" : "/**<p>The unique name of the domain.</p>\n@return The unique name of the domain.*/",
          "getterMethodName" : "getDomainName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "DomainName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DomainName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DomainName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The unique name of the domain.</p>\n@param domainName The unique name of the domain.*/",
          "setterMethodName" : "setDomainName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "domainName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The unique name of the domain.</p>\n@param domainName The unique name of the domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "domainName",
            "variableType" : "String",
            "documentation" : "<p>The unique name of the domain.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "KeyName" : {
          "c2jName" : "KeyName",
          "c2jShape" : "name",
          "deprecated" : false,
          "documentation" : "<p>A searchable identifier of a customer profile.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A searchable identifier of a customer profile.</p>\n@param keyName A searchable identifier of a customer profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withKeyName",
          "getterDocumentation" : "/**<p>A searchable identifier of a customer profile.</p>\n@return A searchable identifier of a customer profile.*/",
          "getterMethodName" : "getKeyName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "KeyName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "KeyName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "KeyName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A searchable identifier of a customer profile.</p>\n@param keyName A searchable identifier of a customer profile.*/",
          "setterMethodName" : "setKeyName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "keyName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A searchable identifier of a customer profile.</p>\n@param keyName A searchable identifier of a customer profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "keyName",
            "variableType" : "String",
            "documentation" : "<p>A searchable identifier of a customer profile.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ProfileId" : {
          "c2jName" : "ProfileId",
          "c2jShape" : "uuid",
          "deprecated" : false,
          "documentation" : "<p>The unique identifier of a customer profile.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique identifier of a customer profile.</p>\n@param profileId The unique identifier of a customer profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withProfileId",
          "getterDocumentation" : "/**<p>The unique identifier of a customer profile.</p>\n@return The unique identifier of a customer profile.*/",
          "getterMethodName" : "getProfileId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ProfileId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ProfileId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ProfileId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The unique identifier of a customer profile.</p>\n@param profileId The unique identifier of a customer profile.*/",
          "setterMethodName" : "setProfileId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "profileId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The unique identifier of a customer profile.</p>\n@param profileId The unique identifier of a customer profile.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "profileId",
            "variableType" : "String",
            "documentation" : "<p>The unique identifier of a customer profile.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Values" : {
          "c2jName" : "Values",
          "c2jShape" : "requestValueList",
          "deprecated" : false,
          "documentation" : "<p>A list of key values.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of key values.</p>\n@param values A list of key values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withValues",
          "getterDocumentation" : "/**<p>A list of key values.</p>\n@return A list of key values.*/",
          "getterMethodName" : "getValues",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Values",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
[...]
