{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : {
      "SendApiAsset" : {
        "exclude" : true,
        "useWrappingResult" : false,
        "wrappedResultMember" : null,
        "wrappedResultShape" : null
      }
    },
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2017-07-25",
    "asyncClient" : "AWSDataExchangeAsyncClient",
    "asyncClientBuilderClassName" : "AWSDataExchangeAsyncClientBuilder",
    "asyncInterface" : "AWSDataExchangeAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSDataExchangeModuleInjector",
    "defaultEndpoint" : "dataexchange.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "dataexchange.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS Data Exchange is a service that makes it easy for AWS customers to exchange data in the cloud. You can use the AWS Data Exchange APIs to create, update, manage, and access file-based data set in the AWS Cloud.</p> <p>As a subscriber, you can view and access the data sets that you have an entitlement to through a subscription. You can use the APIs to download or copy your entitled data sets to Amazon Simple Storage Service (Amazon S3) for use across a variety of AWS analytics and machine learning services.</p> <p>As a provider, you can create and manage your data sets that you would like to publish to a product. Being able to package and provide your data sets into products requires a few steps to determine eligibility. For more information, visit the <i>AWS Data Exchange User Guide</i>.</p> <p>A data set is a collection of data that can be changed or updated over time. Data sets can be updated using revisions, which represent a new version or incremental change to a data set. A revision contains one or more assets. An asset in AWS Data Exchange is a piece of data that can be stored as an Amazon S3 object, Redshift datashare, API Gateway API, AWS Lake Formation data permission, or Amazon S3 data access. The asset can be a structured data file, an image file, or some other data file. Jobs are asynchronous import or export operations used to create or copy assets.</p>",
    "endpointPrefix" : "dataexchange",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.dataexchange",
    "packagePath" : "com/amazonaws/services/dataexchange",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Data Exchange",
    "serviceId" : "DataExchange",
    "serviceName" : "AWS Data Exchange",
    "signingName" : "dataexchange",
    "smokeTestsPackageName" : "com.amazonaws.services.dataexchange.smoketests",
    "syncClient" : "AWSDataExchangeClient",
    "syncClientBuilderClassName" : "AWSDataExchangeClientBuilder",
    "syncInterface" : "AWSDataExchange",
    "uid" : "dataexchange-2017-07-25",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelJobRequest, CancelJobResult>",
      "asyncReturnType" : "CancelJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation cancels a job. Jobs can be cancelled only when they are in the WAITING state.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelJobRequest",
        "variableName" : "cancelJobRequest",
        "variableType" : "CancelJobRequest",
        "documentation" : "",
        "simpleType" : "CancelJobRequest",
        "variableSetterType" : "CancelJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelJob",
      "operationName" : "CancelJob",
      "returnType" : {
        "returnType" : "CancelJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelJobResult"
    },
    "CreateDataSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDataSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDataSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDataSetRequest, CreateDataSetResult>",
      "asyncReturnType" : "CreateDataSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation creates a data set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>The request has exceeded the quotas imposed by the service.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to the resource is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDataSetRequest",
        "variableName" : "createDataSetRequest",
        "variableType" : "CreateDataSetRequest",
        "documentation" : "",
        "simpleType" : "CreateDataSetRequest",
        "variableSetterType" : "CreateDataSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataSet",
      "operationName" : "CreateDataSet",
      "returnType" : {
        "returnType" : "CreateDataSetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDataSetResult"
    },
    "CreateEventAction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEventActionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEventActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEventActionRequest, CreateEventActionResult>",
      "asyncReturnType" : "CreateEventActionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation creates an event action.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>The request has exceeded the quotas imposed by the service.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to the resource is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEventActionRequest",
        "variableName" : "createEventActionRequest",
        "variableType" : "CreateEventActionRequest",
        "documentation" : "",
        "simpleType" : "CreateEventActionRequest",
        "variableSetterType" : "CreateEventActionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEventAction",
      "operationName" : "CreateEventAction",
      "returnType" : {
        "returnType" : "CreateEventActionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateEventActionResult"
    },
    "CreateJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateJobRequest, CreateJobResult>",
      "asyncReturnType" : "CreateJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation creates a job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to the resource is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateJobRequest",
        "variableName" : "createJobRequest",
        "variableType" : "CreateJobRequest",
        "documentation" : "",
        "simpleType" : "CreateJobRequest",
        "variableSetterType" : "CreateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createJob",
      "operationName" : "CreateJob",
      "returnType" : {
        "returnType" : "CreateJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateJobResult"
    },
    "CreateRevision" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRevisionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRevisionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRevisionRequest, CreateRevisionResult>",
      "asyncReturnType" : "CreateRevisionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation creates a revision for a data set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to the resource is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRevisionRequest",
        "variableName" : "createRevisionRequest",
        "variableType" : "CreateRevisionRequest",
        "documentation" : "",
        "simpleType" : "CreateRevisionRequest",
        "variableSetterType" : "CreateRevisionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRevision",
      "operationName" : "CreateRevision",
      "returnType" : {
        "returnType" : "CreateRevisionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRevisionResult"
    },
    "DeleteAsset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAssetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAssetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAssetRequest, DeleteAssetResult>",
      "asyncReturnType" : "DeleteAssetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation deletes an asset.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to the resource is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAssetRequest",
        "variableName" : "deleteAssetRequest",
        "variableType" : "DeleteAssetRequest",
        "documentation" : "",
        "simpleType" : "DeleteAssetRequest",
        "variableSetterType" : "DeleteAssetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAsset",
      "operationName" : "DeleteAsset",
      "returnType" : {
        "returnType" : "DeleteAssetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAssetResult"
    },
    "DeleteDataSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDataSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDataSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDataSetRequest, DeleteDataSetResult>",
      "asyncReturnType" : "DeleteDataSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation deletes a data set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to the resource is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDataSetRequest",
        "variableName" : "deleteDataSetRequest",
        "variableType" : "DeleteDataSetRequest",
        "documentation" : "",
        "simpleType" : "DeleteDataSetRequest",
        "variableSetterType" : "DeleteDataSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDataSet",
      "operationName" : "DeleteDataSet",
      "returnType" : {
        "returnType" : "DeleteDataSetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDataSetResult"
    },
    "DeleteEventAction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEventActionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEventActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEventActionRequest, DeleteEventActionResult>",
      "asyncReturnType" : "DeleteEventActionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation deletes the event action.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEventActionRequest",
        "variableName" : "deleteEventActionRequest",
        "variableType" : "DeleteEventActionRequest",
        "documentation" : "",
        "simpleType" : "DeleteEventActionRequest",
        "variableSetterType" : "DeleteEventActionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEventAction",
      "operationName" : "DeleteEventAction",
      "returnType" : {
        "returnType" : "DeleteEventActionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEventActionResult"
    },
    "DeleteRevision" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRevisionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRevisionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRevisionRequest, DeleteRevisionResult>",
      "asyncReturnType" : "DeleteRevisionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation deletes a revision.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to the resource is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRevisionRequest",
        "variableName" : "deleteRevisionRequest",
        "variableType" : "DeleteRevisionRequest",
        "documentation" : "",
        "simpleType" : "DeleteRevisionRequest",
        "variableSetterType" : "DeleteRevisionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRevision",
      "operationName" : "DeleteRevision",
      "returnType" : {
        "returnType" : "DeleteRevisionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRevisionResult"
    },
    "GetAsset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAssetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAssetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAssetRequest, GetAssetResult>",
      "asyncReturnType" : "GetAssetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns information about an asset.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAssetRequest",
        "variableName" : "getAssetRequest",
        "variableType" : "GetAssetRequest",
        "documentation" : "",
        "simpleType" : "GetAssetRequest",
        "variableSetterType" : "GetAssetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAsset",
      "operationName" : "GetAsset",
      "returnType" : {
        "returnType" : "GetAssetResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAssetResult"
    },
    "GetDataSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDataSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDataSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDataSetRequest, GetDataSetResult>",
      "asyncReturnType" : "GetDataSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns information about a data set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDataSetRequest",
        "variableName" : "getDataSetRequest",
        "variableType" : "GetDataSetRequest",
        "documentation" : "",
        "simpleType" : "GetDataSetRequest",
        "variableSetterType" : "GetDataSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDataSet",
      "operationName" : "GetDataSet",
      "returnType" : {
        "returnType" : "GetDataSetResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDataSetResult"
    },
    "GetEventAction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEventActionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEventActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEventActionRequest, GetEventActionResult>",
      "asyncReturnType" : "GetEventActionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation retrieves information about an event action.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEventActionRequest",
        "variableName" : "getEventActionRequest",
        "variableType" : "GetEventActionRequest",
        "documentation" : "",
        "simpleType" : "GetEventActionRequest",
        "variableSetterType" : "GetEventActionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEventAction",
      "operationName" : "GetEventAction",
      "returnType" : {
        "returnType" : "GetEventActionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEventActionResult"
    },
    "GetJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetJobRequest, GetJobResult>",
      "asyncReturnType" : "GetJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns information about a job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetJobRequest",
        "variableName" : "getJobRequest",
        "variableType" : "GetJobRequest",
        "documentation" : "",
        "simpleType" : "GetJobRequest",
        "variableSetterType" : "GetJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getJob",
      "operationName" : "GetJob",
      "returnType" : {
        "returnType" : "GetJobResult",
        "documentation" : null
      },
      "syncReturnType" : "GetJobResult"
    },
    "GetRevision" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRevisionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRevisionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRevisionRequest, GetRevisionResult>",
      "asyncReturnType" : "GetRevisionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns information about a revision.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRevisionRequest",
        "variableName" : "getRevisionRequest",
        "variableType" : "GetRevisionRequest",
        "documentation" : "",
        "simpleType" : "GetRevisionRequest",
        "variableSetterType" : "GetRevisionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRevision",
      "operationName" : "GetRevision",
      "returnType" : {
        "returnType" : "GetRevisionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRevisionResult"
    },
    "ListDataSetRevisions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDataSetRevisionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDataSetRevisionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDataSetRevisionsRequest, ListDataSetRevisionsResult>",
      "asyncReturnType" : "ListDataSetRevisionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation lists a data set's revisions sorted by CreatedAt in descending order.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDataSetRevisionsRequest",
        "variableName" : "listDataSetRevisionsRequest",
        "variableType" : "ListDataSetRevisionsRequest",
        "documentation" : "",
        "simpleType" : "ListDataSetRevisionsRequest",
        "variableSetterType" : "ListDataSetRevisionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDataSetRevisions",
      "operationName" : "ListDataSetRevisions",
      "returnType" : {
        "returnType" : "ListDataSetRevisionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDataSetRevisionsResult"
    },
    "ListDataSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDataSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDataSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDataSetsRequest, ListDataSetsResult>",
      "asyncReturnType" : "ListDataSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation lists your data sets. When listing by origin OWNED, results are sorted by CreatedAt in descending order. When listing by origin ENTITLED, there is no order and the maxResults parameter is ignored.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDataSetsRequest",
        "variableName" : "listDataSetsRequest",
        "variableType" : "ListDataSetsRequest",
        "documentation" : "",
        "simpleType" : "ListDataSetsRequest",
        "variableSetterType" : "ListDataSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDataSets",
      "operationName" : "ListDataSets",
      "returnType" : {
        "returnType" : "ListDataSetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDataSetsResult"
    },
    "ListEventActions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEventActionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEventActionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEventActionsRequest, ListEventActionsResult>",
      "asyncReturnType" : "ListEventActionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation lists your event actions.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEventActionsRequest",
        "variableName" : "listEventActionsRequest",
        "variableType" : "ListEventActionsRequest",
        "documentation" : "",
        "simpleType" : "ListEventActionsRequest",
        "variableSetterType" : "ListEventActionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEventActions",
      "operationName" : "ListEventActions",
      "returnType" : {
        "returnType" : "ListEventActionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEventActionsResult"
    },
    "ListJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobsRequest, ListJobsResult>",
      "asyncReturnType" : "ListJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation lists your jobs sorted by CreatedAt in descending order.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListJobsRequest",
        "variableName" : "listJobsRequest",
        "variableType" : "ListJobsRequest",
        "documentation" : "",
        "simpleType" : "ListJobsRequest",
        "variableSetterType" : "ListJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listJobs",
      "operationName" : "ListJobs",
      "returnType" : {
        "returnType" : "ListJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListJobsResult"
    },
    "ListRevisionAssets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRevisionAssetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRevisionAssetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRevisionAssetsRequest, ListRevisionAssetsResult>",
      "asyncReturnType" : "ListRevisionAssetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation lists a revision's assets sorted alphabetically in descending order.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRevisionAssetsRequest",
        "variableName" : "listRevisionAssetsRequest",
        "variableType" : "ListRevisionAssetsRequest",
        "documentation" : "",
        "simpleType" : "ListRevisionAssetsRequest",
        "variableSetterType" : "ListRevisionAssetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRevisionAssets",
      "operationName" : "ListRevisionAssets",
      "returnType" : {
        "returnType" : "ListRevisionAssetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRevisionAssetsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation lists the tags on the resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "RevokeRevision" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RevokeRevisionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RevokeRevisionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RevokeRevisionRequest, RevokeRevisionResult>",
      "asyncReturnType" : "RevokeRevisionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation revokes subscribers' access to a revision.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to the resource is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RevokeRevisionRequest",
        "variableName" : "revokeRevisionRequest",
        "variableType" : "RevokeRevisionRequest",
        "documentation" : "",
        "simpleType" : "RevokeRevisionRequest",
        "variableSetterType" : "RevokeRevisionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "revokeRevision",
      "operationName" : "RevokeRevision",
      "returnType" : {
        "returnType" : "RevokeRevisionResult",
        "documentation" : null
      },
      "syncReturnType" : "RevokeRevisionResult"
    },
    "StartJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartJobRequest, StartJobResult>",
      "asyncReturnType" : "StartJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation starts a job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to the resource is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartJobRequest",
        "variableName" : "startJobRequest",
        "variableType" : "StartJobRequest",
        "documentation" : "",
        "simpleType" : "StartJobRequest",
        "variableSetterType" : "StartJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startJob",
      "operationName" : "StartJob",
      "returnType" : {
        "returnType" : "StartJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartJobResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation tags a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation removes one or more tags from a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateAsset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAssetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAssetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAssetRequest, UpdateAssetResult>",
      "asyncReturnType" : "UpdateAssetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation updates an asset.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to the resource is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAssetRequest",
        "variableName" : "updateAssetRequest",
        "variableType" : "UpdateAssetRequest",
        "documentation" : "",
        "simpleType" : "UpdateAssetRequest",
        "variableSetterType" : "UpdateAssetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAsset",
      "operationName" : "UpdateAsset",
      "returnType" : {
        "returnType" : "UpdateAssetResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAssetResult"
    },
    "UpdateDataSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDataSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDataSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDataSetRequest, UpdateDataSetResult>",
      "asyncReturnType" : "UpdateDataSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation updates a data set.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to the resource is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDataSetRequest",
        "variableName" : "updateDataSetRequest",
        "variableType" : "UpdateDataSetRequest",
        "documentation" : "",
        "simpleType" : "UpdateDataSetRequest",
        "variableSetterType" : "UpdateDataSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDataSet",
      "operationName" : "UpdateDataSet",
      "returnType" : {
        "returnType" : "UpdateDataSetResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDataSetResult"
    },
    "UpdateEventAction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEventActionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEventActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEventActionRequest, UpdateEventActionResult>",
      "asyncReturnType" : "UpdateEventActionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation updates the event action.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to the resource is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateEventActionRequest",
        "variableName" : "updateEventActionRequest",
        "variableType" : "UpdateEventActionRequest",
        "documentation" : "",
        "simpleType" : "UpdateEventActionRequest",
        "variableSetterType" : "UpdateEventActionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEventAction",
      "operationName" : "UpdateEventAction",
      "returnType" : {
        "returnType" : "UpdateEventActionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateEventActionResult"
    },
    "UpdateRevision" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRevisionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRevisionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRevisionRequest, UpdateRevisionResult>",
      "asyncReturnType" : "UpdateRevisionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation updates a revision.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource couldn't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The limit on the number of requests per second was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to the resource is denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request was invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception occurred with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRevisionRequest",
        "variableName" : "updateRevisionRequest",
        "variableType" : "UpdateRevisionRequest",
        "documentation" : "",
        "simpleType" : "UpdateRevisionRequest",
        "variableSetterType" : "UpdateRevisionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRevision",
      "operationName" : "UpdateRevision",
      "returnType" : {
        "returnType" : "UpdateRevisionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateRevisionResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Access to the resource is denied.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.dataexchange.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.dataexchange.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "Action" : {
      "c2jName" : "Action",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>What occurs after a certain event.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.dataexchange.model.Action",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ExportRevisionToS3",
        "c2jShape" : "AutoExportRevisionToS3RequestDetails",
        "deprecated" : false,
        "documentation" : "<p>Details for the export revision to Amazon S3 action.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Details for the export revision to Amazon S3 action.</p>\n@param exportRevisionToS3 Details for the export revision to Amazon S3 action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withExportRevisionToS3",
        "getterDocumentation" : "/**<p>Details for the export revision to Amazon S3 action.</p>\n@return Details for the export revision to Amazon S3 action.*/",
        "getterMethodName" : "getExportRevisionToS3",
        "getterModel" : {
          "returnType" : "AutoExportRevisionToS3RequestDetails",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ExportRevisionToS3",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ExportRevisionToS3",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ExportRevisionToS3",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Details for the export revision to Amazon S3 action.</p>\n@param exportRevisionToS3 Details for the export revision to Amazon S3 action.*/",
        "setterMethodName" : "setExportRevisionToS3",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AutoExportRevisionToS3RequestDetails",
          "variableName" : "exportRevisionToS3",
          "variableType" : "AutoExportRevisionToS3RequestDetails",
          "documentation" : "",
          "simpleType" : "AutoExportRevisionToS3RequestDetails",
          "variableSetterType" : "AutoExportRevisionToS3RequestDetails"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Details for the export revision to Amazon S3 action.</p>\n@param exportRevisionToS3 Details for the export revision to Amazon S3 action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AutoExportRevisionToS3RequestDetails",
          "variableName" : "exportRevisionToS3",
          "variableType" : "AutoExportRevisionToS3RequestDetails",
          "documentation" : "<p>Details for the export revision to Amazon S3 action.</p>",
          "simpleType" : "AutoExportRevisionToS3RequestDetails",
          "variableSetterType" : "AutoExportRevisionToS3RequestDetails"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ExportRevisionToS3" : {
          "c2jName" : "ExportRevisionToS3",
          "c2jShape" : "AutoExportRevisionToS3RequestDetails",
          "deprecated" : false,
          "documentation" : "<p>Details for the export revision to Amazon S3 action.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Details for the export revision to Amazon S3 action.</p>\n@param exportRevisionToS3 Details for the export revision to Amazon S3 action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withExportRevisionToS3",
          "getterDocumentation" : "/**<p>Details for the export revision to Amazon S3 action.</p>\n@return Details for the export revision to Amazon S3 action.*/",
          "getterMethodName" : "getExportRevisionToS3",
          "getterModel" : {
            "returnType" : "AutoExportRevisionToS3RequestDetails",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ExportRevisionToS3",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ExportRevisionToS3",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ExportRevisionToS3",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Details for the export revision to Amazon S3 action.</p>\n@param exportRevisionToS3 Details for the export revision to Amazon S3 action.*/",
          "setterMethodName" : "setExportRevisionToS3",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AutoExportRevisionToS3RequestDetails",
            "variableName" : "exportRevisionToS3",
            "variableType" : "AutoExportRevisionToS3RequestDetails",
            "documentation" : "",
            "simpleType" : "AutoExportRevisionToS3RequestDetails",
            "variableSetterType" : "AutoExportRevisionToS3RequestDetails"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Details for the export revision to Amazon S3 action.</p>\n@param exportRevisionToS3 Details for the export revision to Amazon S3 action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AutoExportRevisionToS3RequestDetails",
            "variableName" : "exportRevisionToS3",
            "variableType" : "AutoExportRevisionToS3RequestDetails",
            "documentation" : "<p>Details for the export revision to Amazon S3 action.</p>",
            "simpleType" : "AutoExportRevisionToS3RequestDetails",
            "variableSetterType" : "AutoExportRevisionToS3RequestDetails"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.dataexchange.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "Action",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Action",
        "variableName" : "action",
        "variableType" : "Action",
        "documentation" : null,
        "simpleType" : "Action",
        "variableSetterType" : "Action"
      },
      "wrapper" : false
    },
    "ApiGatewayApiAsset" : {
      "c2jName" : "ApiGatewayApiAsset",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The API Gateway API that is the asset.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.dataexchange.model.ApiGatewayApiAsset",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ApiDescription",
        "c2jShape" : "ApiDescription",
        "deprecated" : false,
        "documentation" : "<p>The API description of the API asset.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The API description of the API asset.</p>\n@param apiDescription The API description of the API asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApiDescription",
        "getterDocumentation" : "/**<p>The API description of the API asset.</p>\n@return The API description of the API asset.*/",
        "getterMethodName" : "getApiDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ApiDescription",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApiDescription",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApiDescription",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The API description of the API asset.</p>\n@param apiDescription The API description of the API asset.*/",
        "setterMethodName" : "setApiDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "apiDescription",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The API description of the API asset.</p>\n@param apiDescription The API description of the API asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "apiDescription",
          "variableType" : "String",
          "documentation" : "<p>The API description of the API asset.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ApiEndpoint",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The API endpoint of the API asset.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The API endpoint of the API asset.</p>\n@param apiEndpoint The API endpoint of the API asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApiEndpoint",
        "getterDocumentation" : "/**<p>The API endpoint of the API asset.</p>\n@return The API endpoint of the API asset.*/",
        "getterMethodName" : "getApiEndpoint",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ApiEndpoint",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApiEndpoint",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApiEndpoint",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The API endpoint of the API asset.</p>\n@param apiEndpoint The API endpoint of the API asset.*/",
        "setterMethodName" : "setApiEndpoint",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "apiEndpoint",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The API endpoint of the API asset.</p>\n@param apiEndpoint The API endpoint of the API asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "apiEndpoint",
          "variableType" : "String",
          "documentation" : "<p>The API endpoint of the API asset.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ApiId",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier of the API asset.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier of the API asset.</p>\n@param apiId The unique identifier of the API asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApiId",
        "getterDocumentation" : "/**<p>The unique identifier of the API asset.</p>\n@return The unique identifier of the API asset.*/",
        "getterMethodName" : "getApiId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ApiId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApiId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApiId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique identifier of the API asset.</p>\n@param apiId The unique identifier of the API asset.*/",
        "setterMethodName" : "setApiId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "apiId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier of the API asset.</p>\n@param apiId The unique identifier of the API asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "apiId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier of the API asset.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ApiKey",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The API key of the API asset.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The API key of the API asset.</p>\n@param apiKey The API key of the API asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApiKey",
        "getterDocumentation" : "/**<p>The API key of the API asset.</p>\n@return The API key of the API asset.*/",
        "getterMethodName" : "getApiKey",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ApiKey",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApiKey",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApiKey",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The API key of the API asset.</p>\n@param apiKey The API key of the API asset.*/",
        "setterMethodName" : "setApiKey",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "apiKey",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The API key of the API asset.</p>\n@param apiKey The API key of the API asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "apiKey",
          "variableType" : "String",
          "documentation" : "<p>The API key of the API asset.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ApiName",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The API name of the API asset.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The API name of the API asset.</p>\n@param apiName The API name of the API asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApiName",
        "getterDocumentation" : "/**<p>The API name of the API asset.</p>\n@return The API name of the API asset.*/",
        "getterMethodName" : "getApiName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ApiName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApiName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApiName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The API name of the API asset.</p>\n@param apiName The API name of the API asset.*/",
        "setterMethodName" : "setApiName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "apiName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The API name of the API asset.</p>\n@param apiName The API name of the API asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "apiName",
          "variableType" : "String",
          "documentation" : "<p>The API name of the API asset.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ApiSpecificationDownloadUrl",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The download URL of the API specification of the API asset.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The download URL of the API specification of the API asset.</p>\n@param apiSpecificationDownloadUrl The download URL of the API specification of the API asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApiSpecificationDownloadUrl",
        "getterDocumentation" : "/**<p>The download URL of the API specification of the API asset.</p>\n@return The download URL of the API specification of the API asset.*/",
        "getterMethodName" : "getApiSpecificationDownloadUrl",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ApiSpecificationDownloadUrl",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApiSpecificationDownloadUrl",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ApiSpecificationDownloadUrl",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The download URL of the API specification of the API asset.</p>\n@param apiSpecificationDownloadUrl The download URL of the API specification of the API asset.*/",
        "setterMethodName" : "setApiSpecificationDownloadUrl",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "apiSpecificationDownloadUrl",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The download URL of the API specification of the API asset.</p>\n@param apiSpecificationDownloadUrl The download URL of the API specification of the API asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "apiSpecificationDownloadUrl",
          "variableType" : "String",
          "documentation" : "<p>The download URL of the API specification of the API asset.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ApiSpecificationDownloadUrlExpiresAt",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The date and time that the upload URL expires, in ISO 8601 format.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date and time that the upload URL expires, in ISO 8601 format.</p>\n@param apiSpecificationDownloadUrlExpiresAt The date and time that the upload URL expires, in ISO 8601 format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withApiSpecificationDownloadUrlExpiresAt",
        "getterDocumentation" : "/**<p>The date and time that the upload URL expires, in ISO 8601 format.</p>\n@return The date and time that the upload URL expires, in ISO 8601 format.*/",
        "getterMethodName" : "getApiSpecificationDownloadUrlExpiresAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ApiSpecificationDownloadUrlExpiresAt",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApiSpecificationDownloadUrlExpiresAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "ApiSpecificationDownloadUrlExpiresAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date and time that the upload URL expires, in ISO 8601 format.</p>\n@param apiSpecificationDownloadUrlExpiresAt The date and time that the upload URL expires, in ISO 8601 format.*/",
        "setterMethodName" : "setApiSpecificationDownloadUrlExpiresAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "apiSpecificationDownloadUrlExpiresAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date and time that the upload URL expires, in ISO 8601 format.</p>\n@param apiSpecificationDownloadUrlExpiresAt The date and time that the upload URL expires, in ISO 8601 format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "iso8601",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "apiSpecificationDownloadUrlExpiresAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date and time that the upload URL expires, in ISO 8601 format.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ProtocolType",
        "c2jShape" : "ProtocolType",
        "deprecated" : false,
        "documentation" : "<p>The protocol type of the API asset.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ProtocolType",
        "fluentSetterDocumentation" : "/**<p>The protocol type of the API asset.</p>\n@param protocolType The protocol type of the API asset.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ProtocolType*/",
        "fluentSetterMethodName" : "withProtocolType",
        "getterDocumentation" : "/**<p>The protocol type of the API asset.</p>\n@return The protocol type of the API asset.\n@see ProtocolType*/",
        "getterMethodName" : "getProtocolType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ProtocolType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ProtocolType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ProtocolType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The protocol type of the API asset.</p>\n@param protocolType The protocol type of the API asset.\n@see ProtocolType*/",
        "setterMethodName" : "setProtocolType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "protocolType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The protocol type of the API asset.</p>\n@param protocolType The protocol type of the API asset.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ProtocolType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "protocolType",
          "variableType" : "String",
          "documentation" : "<p>The protocol type of the API asset.</p>",
          "simpleType" : "String",
[...]
