{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2017-07-25",
    "asyncClient" : "AWSGlueDataBrewAsyncClient",
    "asyncClientBuilderClassName" : "AWSGlueDataBrewAsyncClientBuilder",
    "asyncInterface" : "AWSGlueDataBrewAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSGlueDataBrewModuleInjector",
    "defaultEndpoint" : "databrew.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "databrew.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS Glue DataBrew is a visual, cloud-scale data-preparation service. DataBrew simplifies data preparation tasks, targeting data issues that are hard to spot and time-consuming to fix. DataBrew empowers users of all technical levels to visualize the data and perform one-click data transformations, with no coding required.</p>",
    "endpointPrefix" : "databrew",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.gluedatabrew",
    "packagePath" : "com/amazonaws/services/gluedatabrew",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Glue DataBrew",
    "serviceId" : "DataBrew",
    "serviceName" : "AWS Glue DataBrew",
    "signingName" : "databrew",
    "smokeTestsPackageName" : "com.amazonaws.services.gluedatabrew.smoketests",
    "syncClient" : "AWSGlueDataBrewClient",
    "syncClientBuilderClassName" : "AWSGlueDataBrewClientBuilder",
    "syncInterface" : "AWSGlueDataBrew",
    "uid" : "databrew-2017-07-25",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchDeleteRecipeVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDeleteRecipeVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDeleteRecipeVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDeleteRecipeVersionRequest, BatchDeleteRecipeVersionResult>",
      "asyncReturnType" : "BatchDeleteRecipeVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes one or more versions of a recipe at a time.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDeleteRecipeVersionRequest",
        "variableName" : "batchDeleteRecipeVersionRequest",
        "variableType" : "BatchDeleteRecipeVersionRequest",
        "documentation" : "",
        "simpleType" : "BatchDeleteRecipeVersionRequest",
        "variableSetterType" : "BatchDeleteRecipeVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDeleteRecipeVersion",
      "operationName" : "BatchDeleteRecipeVersion",
      "returnType" : {
        "returnType" : "BatchDeleteRecipeVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDeleteRecipeVersionResult"
    },
    "CreateDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDatasetRequest, CreateDatasetResult>",
      "asyncReturnType" : "CreateDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new AWS Glue DataBrew dataset for this AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access to the specified resource was denied.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>A service quota is exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDatasetRequest",
        "variableName" : "createDatasetRequest",
        "variableType" : "CreateDatasetRequest",
        "documentation" : "",
        "simpleType" : "CreateDatasetRequest",
        "variableSetterType" : "CreateDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataset",
      "operationName" : "CreateDataset",
      "returnType" : {
        "returnType" : "CreateDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDatasetResult"
    },
    "CreateProfileJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProfileJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProfileJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProfileJobRequest, CreateProfileJobResult>",
      "asyncReturnType" : "CreateProfileJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new job to profile an AWS Glue DataBrew dataset that exists in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProfileJobRequest",
        "variableName" : "createProfileJobRequest",
        "variableType" : "CreateProfileJobRequest",
        "documentation" : "",
        "simpleType" : "CreateProfileJobRequest",
        "variableSetterType" : "CreateProfileJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProfileJob",
      "operationName" : "CreateProfileJob",
      "returnType" : {
        "returnType" : "CreateProfileJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProfileJobResult"
    },
    "CreateProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProjectRequest, CreateProjectResult>",
      "asyncReturnType" : "CreateProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new AWS Glue DataBrew project in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>A service quota is exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProjectRequest",
        "variableName" : "createProjectRequest",
        "variableType" : "CreateProjectRequest",
        "documentation" : "",
        "simpleType" : "CreateProjectRequest",
        "variableSetterType" : "CreateProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProject",
      "operationName" : "CreateProject",
      "returnType" : {
        "returnType" : "CreateProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProjectResult"
    },
    "CreateRecipe" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRecipeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRecipeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRecipeRequest, CreateRecipeResult>",
      "asyncReturnType" : "CreateRecipeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new AWS Glue DataBrew recipe for the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>A service quota is exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRecipeRequest",
        "variableName" : "createRecipeRequest",
        "variableType" : "CreateRecipeRequest",
        "documentation" : "",
        "simpleType" : "CreateRecipeRequest",
        "variableSetterType" : "CreateRecipeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRecipe",
      "operationName" : "CreateRecipe",
      "returnType" : {
        "returnType" : "CreateRecipeResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRecipeResult"
    },
    "CreateRecipeJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRecipeJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRecipeJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRecipeJobRequest, CreateRecipeJobResult>",
      "asyncReturnType" : "CreateRecipeJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new job for an existing AWS Glue DataBrew recipe in the current AWS account. You can create a standalone job using either a project, or a combination of a recipe and a dataset.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRecipeJobRequest",
        "variableName" : "createRecipeJobRequest",
        "variableType" : "CreateRecipeJobRequest",
        "documentation" : "",
        "simpleType" : "CreateRecipeJobRequest",
        "variableSetterType" : "CreateRecipeJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRecipeJob",
      "operationName" : "CreateRecipeJob",
      "returnType" : {
        "returnType" : "CreateRecipeJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRecipeJobResult"
    },
    "CreateSchedule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateScheduleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateScheduleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateScheduleRequest, CreateScheduleResult>",
      "asyncReturnType" : "CreateScheduleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new schedule for one or more AWS Glue DataBrew jobs. Jobs can be run at a specific date and time, or at regular intervals.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateScheduleRequest",
        "variableName" : "createScheduleRequest",
        "variableType" : "CreateScheduleRequest",
        "documentation" : "",
        "simpleType" : "CreateScheduleRequest",
        "variableSetterType" : "CreateScheduleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSchedule",
      "operationName" : "CreateSchedule",
      "returnType" : {
        "returnType" : "CreateScheduleResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateScheduleResult"
    },
    "DeleteDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDatasetRequest, DeleteDatasetResult>",
      "asyncReturnType" : "DeleteDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a dataset from AWS Glue DataBrew.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDatasetRequest",
        "variableName" : "deleteDatasetRequest",
        "variableType" : "DeleteDatasetRequest",
        "documentation" : "",
        "simpleType" : "DeleteDatasetRequest",
        "variableSetterType" : "DeleteDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDataset",
      "operationName" : "DeleteDataset",
      "returnType" : {
        "returnType" : "DeleteDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDatasetResult"
    },
    "DeleteJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteJobRequest, DeleteJobResult>",
      "asyncReturnType" : "DeleteJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified AWS Glue DataBrew job from the current AWS account. The job can be for a recipe or for a profile.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteJobRequest",
        "variableName" : "deleteJobRequest",
        "variableType" : "DeleteJobRequest",
        "documentation" : "",
        "simpleType" : "DeleteJobRequest",
        "variableSetterType" : "DeleteJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteJob",
      "operationName" : "DeleteJob",
      "returnType" : {
        "returnType" : "DeleteJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteJobResult"
    },
    "DeleteProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProjectRequest, DeleteProjectResult>",
      "asyncReturnType" : "DeleteProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing AWS Glue DataBrew project from the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProjectRequest",
        "variableName" : "deleteProjectRequest",
        "variableType" : "DeleteProjectRequest",
        "documentation" : "",
        "simpleType" : "DeleteProjectRequest",
        "variableSetterType" : "DeleteProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProject",
      "operationName" : "DeleteProject",
      "returnType" : {
        "returnType" : "DeleteProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProjectResult"
    },
    "DeleteRecipeVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRecipeVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRecipeVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRecipeVersionRequest, DeleteRecipeVersionResult>",
      "asyncReturnType" : "DeleteRecipeVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a single version of an AWS Glue DataBrew recipe.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRecipeVersionRequest",
        "variableName" : "deleteRecipeVersionRequest",
        "variableType" : "DeleteRecipeVersionRequest",
        "documentation" : "",
        "simpleType" : "DeleteRecipeVersionRequest",
        "variableSetterType" : "DeleteRecipeVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRecipeVersion",
      "operationName" : "DeleteRecipeVersion",
      "returnType" : {
        "returnType" : "DeleteRecipeVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRecipeVersionResult"
    },
    "DeleteSchedule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteScheduleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteScheduleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteScheduleRequest, DeleteScheduleResult>",
      "asyncReturnType" : "DeleteScheduleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified AWS Glue DataBrew schedule from the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteScheduleRequest",
        "variableName" : "deleteScheduleRequest",
        "variableType" : "DeleteScheduleRequest",
        "documentation" : "",
        "simpleType" : "DeleteScheduleRequest",
        "variableSetterType" : "DeleteScheduleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSchedule",
      "operationName" : "DeleteSchedule",
      "returnType" : {
        "returnType" : "DeleteScheduleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteScheduleResult"
    },
    "DescribeDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDatasetRequest, DescribeDatasetResult>",
      "asyncReturnType" : "DescribeDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the definition of a specific AWS Glue DataBrew dataset that is in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDatasetRequest",
        "variableName" : "describeDatasetRequest",
        "variableType" : "DescribeDatasetRequest",
        "documentation" : "",
        "simpleType" : "DescribeDatasetRequest",
        "variableSetterType" : "DescribeDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDataset",
      "operationName" : "DescribeDataset",
      "returnType" : {
        "returnType" : "DescribeDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDatasetResult"
    },
    "DescribeJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJobRequest, DescribeJobResult>",
      "asyncReturnType" : "DescribeJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the definition of a specific AWS Glue DataBrew job that is in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeJobRequest",
        "variableName" : "describeJobRequest",
        "variableType" : "DescribeJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeJobRequest",
        "variableSetterType" : "DescribeJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeJob",
      "operationName" : "DescribeJob",
      "returnType" : {
        "returnType" : "DescribeJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeJobResult"
    },
    "DescribeProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeProjectRequest, DescribeProjectResult>",
      "asyncReturnType" : "DescribeProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the definition of a specific AWS Glue DataBrew project that is in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeProjectRequest",
        "variableName" : "describeProjectRequest",
        "variableType" : "DescribeProjectRequest",
        "documentation" : "",
        "simpleType" : "DescribeProjectRequest",
        "variableSetterType" : "DescribeProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeProject",
      "operationName" : "DescribeProject",
      "returnType" : {
        "returnType" : "DescribeProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeProjectResult"
    },
    "DescribeRecipe" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRecipeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRecipeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRecipeRequest, DescribeRecipeResult>",
      "asyncReturnType" : "DescribeRecipeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the definition of a specific AWS Glue DataBrew recipe that is in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRecipeRequest",
        "variableName" : "describeRecipeRequest",
        "variableType" : "DescribeRecipeRequest",
        "documentation" : "",
        "simpleType" : "DescribeRecipeRequest",
        "variableSetterType" : "DescribeRecipeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRecipe",
      "operationName" : "DescribeRecipe",
      "returnType" : {
        "returnType" : "DescribeRecipeResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRecipeResult"
    },
    "DescribeSchedule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScheduleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScheduleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScheduleRequest, DescribeScheduleResult>",
      "asyncReturnType" : "DescribeScheduleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the definition of a specific AWS Glue DataBrew schedule that is in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeScheduleRequest",
        "variableName" : "describeScheduleRequest",
        "variableType" : "DescribeScheduleRequest",
        "documentation" : "",
        "simpleType" : "DescribeScheduleRequest",
        "variableSetterType" : "DescribeScheduleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSchedule",
      "operationName" : "DescribeSchedule",
      "returnType" : {
        "returnType" : "DescribeScheduleResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeScheduleResult"
    },
    "ListDatasets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDatasetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDatasetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDatasetsRequest, ListDatasetsResult>",
      "asyncReturnType" : "ListDatasetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the AWS Glue DataBrew datasets for the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDatasetsRequest",
        "variableName" : "listDatasetsRequest",
        "variableType" : "ListDatasetsRequest",
        "documentation" : "",
        "simpleType" : "ListDatasetsRequest",
        "variableSetterType" : "ListDatasetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDatasets",
      "operationName" : "ListDatasets",
      "returnType" : {
        "returnType" : "ListDatasetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDatasetsResult"
    },
    "ListJobRuns" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobRunsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobRunsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobRunsRequest, ListJobRunsResult>",
      "asyncReturnType" : "ListJobRunsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the previous runs of a particular AWS Glue DataBrew job in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListJobRunsRequest",
        "variableName" : "listJobRunsRequest",
        "variableType" : "ListJobRunsRequest",
        "documentation" : "",
        "simpleType" : "ListJobRunsRequest",
        "variableSetterType" : "ListJobRunsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listJobRuns",
      "operationName" : "ListJobRuns",
      "returnType" : {
        "returnType" : "ListJobRunsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListJobRunsResult"
    },
    "ListJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobsRequest, ListJobsResult>",
      "asyncReturnType" : "ListJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the AWS Glue DataBrew jobs in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListJobsRequest",
        "variableName" : "listJobsRequest",
        "variableType" : "ListJobsRequest",
        "documentation" : "",
        "simpleType" : "ListJobsRequest",
        "variableSetterType" : "ListJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listJobs",
      "operationName" : "ListJobs",
      "returnType" : {
        "returnType" : "ListJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListJobsResult"
    },
    "ListProjects" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProjectsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProjectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProjectsRequest, ListProjectsResult>",
      "asyncReturnType" : "ListProjectsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the DataBrew projects in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProjectsRequest",
        "variableName" : "listProjectsRequest",
        "variableType" : "ListProjectsRequest",
        "documentation" : "",
        "simpleType" : "ListProjectsRequest",
        "variableSetterType" : "ListProjectsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProjects",
      "operationName" : "ListProjects",
      "returnType" : {
        "returnType" : "ListProjectsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProjectsResult"
    },
    "ListRecipeVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRecipeVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRecipeVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRecipeVersionsRequest, ListRecipeVersionsResult>",
      "asyncReturnType" : "ListRecipeVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the versions of a particular AWS Glue DataBrew recipe in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRecipeVersionsRequest",
        "variableName" : "listRecipeVersionsRequest",
        "variableType" : "ListRecipeVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListRecipeVersionsRequest",
        "variableSetterType" : "ListRecipeVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRecipeVersions",
      "operationName" : "ListRecipeVersions",
      "returnType" : {
        "returnType" : "ListRecipeVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRecipeVersionsResult"
    },
    "ListRecipes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRecipesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRecipesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRecipesRequest, ListRecipesResult>",
      "asyncReturnType" : "ListRecipesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the AWS Glue DataBrew recipes in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRecipesRequest",
        "variableName" : "listRecipesRequest",
        "variableType" : "ListRecipesRequest",
        "documentation" : "",
        "simpleType" : "ListRecipesRequest",
        "variableSetterType" : "ListRecipesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRecipes",
      "operationName" : "ListRecipes",
      "returnType" : {
        "returnType" : "ListRecipesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRecipesResult"
    },
    "ListSchedules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSchedulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSchedulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSchedulesRequest, ListSchedulesResult>",
      "asyncReturnType" : "ListSchedulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the AWS Glue DataBrew schedules in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSchedulesRequest",
        "variableName" : "listSchedulesRequest",
        "variableType" : "ListSchedulesRequest",
        "documentation" : "",
        "simpleType" : "ListSchedulesRequest",
        "variableSetterType" : "ListSchedulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSchedules",
      "operationName" : "ListSchedules",
      "returnType" : {
        "returnType" : "ListSchedulesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSchedulesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the tags for an AWS Glue DataBrew resource. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PublishRecipe" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PublishRecipeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PublishRecipeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PublishRecipeRequest, PublishRecipeResult>",
      "asyncReturnType" : "PublishRecipeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Publishes a new major version of an AWS Glue DataBrew recipe that exists in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PublishRecipeRequest",
        "variableName" : "publishRecipeRequest",
        "variableType" : "PublishRecipeRequest",
        "documentation" : "",
        "simpleType" : "PublishRecipeRequest",
        "variableSetterType" : "PublishRecipeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "publishRecipe",
      "operationName" : "PublishRecipe",
      "returnType" : {
        "returnType" : "PublishRecipeResult",
        "documentation" : null
      },
      "syncReturnType" : "PublishRecipeResult"
    },
    "SendProjectSessionAction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SendProjectSessionActionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SendProjectSessionActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendProjectSessionActionRequest, SendProjectSessionActionResult>",
      "asyncReturnType" : "SendProjectSessionActionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Performs a recipe step within an interactive AWS Glue DataBrew session that's currently open.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SendProjectSessionActionRequest",
        "variableName" : "sendProjectSessionActionRequest",
        "variableType" : "SendProjectSessionActionRequest",
        "documentation" : "",
        "simpleType" : "SendProjectSessionActionRequest",
        "variableSetterType" : "SendProjectSessionActionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "sendProjectSessionAction",
      "operationName" : "SendProjectSessionAction",
      "returnType" : {
        "returnType" : "SendProjectSessionActionResult",
        "documentation" : null
      },
      "syncReturnType" : "SendProjectSessionActionResult"
    },
    "StartJobRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartJobRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartJobRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartJobRunRequest, StartJobRunResult>",
      "asyncReturnType" : "StartJobRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Runs an AWS Glue DataBrew job that exists in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartJobRunRequest",
        "variableName" : "startJobRunRequest",
        "variableType" : "StartJobRunRequest",
        "documentation" : "",
        "simpleType" : "StartJobRunRequest",
        "variableSetterType" : "StartJobRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startJobRun",
      "operationName" : "StartJobRun",
      "returnType" : {
        "returnType" : "StartJobRunResult",
        "documentation" : null
      },
      "syncReturnType" : "StartJobRunResult"
    },
    "StartProjectSession" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartProjectSessionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartProjectSessionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartProjectSessionRequest, StartProjectSessionResult>",
      "asyncReturnType" : "StartProjectSessionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an interactive session, enabling you to manipulate an AWS Glue DataBrew project.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartProjectSessionRequest",
        "variableName" : "startProjectSessionRequest",
        "variableType" : "StartProjectSessionRequest",
        "documentation" : "",
        "simpleType" : "StartProjectSessionRequest",
        "variableSetterType" : "StartProjectSessionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startProjectSession",
      "operationName" : "StartProjectSession",
      "returnType" : {
        "returnType" : "StartProjectSessionResult",
        "documentation" : null
      },
      "syncReturnType" : "StartProjectSessionResult"
    },
    "StopJobRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopJobRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopJobRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopJobRunRequest, StopJobRunResult>",
      "asyncReturnType" : "StopJobRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops the specified job from running in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopJobRunRequest",
        "variableName" : "stopJobRunRequest",
        "variableType" : "StopJobRunRequest",
        "documentation" : "",
        "simpleType" : "StopJobRunRequest",
        "variableSetterType" : "StopJobRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopJobRun",
      "operationName" : "StopJobRun",
      "returnType" : {
        "returnType" : "StopJobRunResult",
        "documentation" : null
      },
      "syncReturnType" : "StopJobRunResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds metadata tags to an AWS Glue DataBrew resource, such as a dataset, job, project, or recipe.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes metadata tags from an AWS Glue DataBrew resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal service failure occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDatasetRequest, UpdateDatasetResult>",
      "asyncReturnType" : "UpdateDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the definition of an existing AWS Glue DataBrew dataset in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDatasetRequest",
        "variableName" : "updateDatasetRequest",
        "variableType" : "UpdateDatasetRequest",
        "documentation" : "",
        "simpleType" : "UpdateDatasetRequest",
        "variableSetterType" : "UpdateDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDataset",
      "operationName" : "UpdateDataset",
      "returnType" : {
        "returnType" : "UpdateDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDatasetResult"
    },
    "UpdateProfileJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProfileJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProfileJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProfileJobRequest, UpdateProfileJobResult>",
      "asyncReturnType" : "UpdateProfileJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the definition of an existing AWS Glue DataBrew job in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateProfileJobRequest",
        "variableName" : "updateProfileJobRequest",
        "variableType" : "UpdateProfileJobRequest",
        "documentation" : "",
        "simpleType" : "UpdateProfileJobRequest",
        "variableSetterType" : "UpdateProfileJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProfileJob",
      "operationName" : "UpdateProfileJob",
      "returnType" : {
        "returnType" : "UpdateProfileJobResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateProfileJobResult"
    },
    "UpdateProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProjectRequest, UpdateProjectResult>",
      "asyncReturnType" : "UpdateProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the definition of an existing AWS Glue DataBrew project in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateProjectRequest",
        "variableName" : "updateProjectRequest",
        "variableType" : "UpdateProjectRequest",
        "documentation" : "",
        "simpleType" : "UpdateProjectRequest",
        "variableSetterType" : "UpdateProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProject",
      "operationName" : "UpdateProject",
      "returnType" : {
        "returnType" : "UpdateProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateProjectResult"
    },
    "UpdateRecipe" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRecipeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRecipeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRecipeRequest, UpdateRecipeResult>",
      "asyncReturnType" : "UpdateRecipeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the definition of the latest working version of an AWS Glue DataBrew recipe in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRecipeRequest",
        "variableName" : "updateRecipeRequest",
        "variableType" : "UpdateRecipeRequest",
        "documentation" : "",
        "simpleType" : "UpdateRecipeRequest",
        "variableSetterType" : "UpdateRecipeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRecipe",
      "operationName" : "UpdateRecipe",
      "returnType" : {
        "returnType" : "UpdateRecipeResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateRecipeResult"
    },
    "UpdateRecipeJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRecipeJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRecipeJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRecipeJobRequest, UpdateRecipeJobResult>",
      "asyncReturnType" : "UpdateRecipeJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the definition of an existing AWS Glue DataBrew recipe job in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRecipeJobRequest",
        "variableName" : "updateRecipeJobRequest",
        "variableType" : "UpdateRecipeJobRequest",
        "documentation" : "",
        "simpleType" : "UpdateRecipeJobRequest",
        "variableSetterType" : "UpdateRecipeJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRecipeJob",
      "operationName" : "UpdateRecipeJob",
      "returnType" : {
        "returnType" : "UpdateRecipeJobResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateRecipeJobResult"
    },
    "UpdateSchedule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateScheduleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateScheduleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateScheduleRequest, UpdateScheduleResult>",
      "asyncReturnType" : "UpdateScheduleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the definition of an existing AWS Glue DataBrew schedule in the current AWS account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input parameters for this request failed validation.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateScheduleRequest",
        "variableName" : "updateScheduleRequest",
        "variableType" : "UpdateScheduleRequest",
        "documentation" : "",
        "simpleType" : "UpdateScheduleRequest",
        "variableSetterType" : "UpdateScheduleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSchedule",
      "operationName" : "UpdateSchedule",
      "returnType" : {
        "returnType" : "UpdateScheduleResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateScheduleResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Access to the specified resource was denied.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.gluedatabrew.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.gluedatabrew.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "BatchDeleteRecipeVersionRequest" : {
      "c2jName" : "BatchDeleteRecipeVersionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.gluedatabrew.request.BatchDeleteRecipeVersionRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchDeleteRecipeVersion",
        "locationName" : null,
        "requestUri" : "/recipes/{name}/batchDeleteRecipeVersion",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "RecipeName",
        "deprecated" : false,
        "documentation" : "<p>The name of the recipe to be modified.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the recipe to be modified.</p>\n@param name The name of the recipe to be modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the recipe to be modified.</p>\n@return The name of the recipe to be modified.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the recipe to be modified.</p>\n@param name The name of the recipe to be modified.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the recipe to be modified.</p>\n@param name The name of the recipe to be modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the recipe to be modified.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RecipeVersions",
        "c2jShape" : "RecipeVersionList",
        "deprecated" : false,
        "documentation" : "<p>An array of version identifiers to be deleted.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of version identifiers to be deleted.</p>\n@param recipeVersions An array of version identifiers to be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRecipeVersions",
        "getterDocumentation" : "/**<p>An array of version identifiers to be deleted.</p>\n@return An array of version identifiers to be deleted.*/",
        "getterMethodName" : "getRecipeVersions",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RecipeVersions",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RecipeVersions",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "RecipeVersion",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "RecipeVersions",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An array of version identifiers to be deleted.</p>\n@param recipeVersions An array of version identifiers to be deleted.*/",
        "setterMethodName" : "setRecipeVersions",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "recipeVersions",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An array of version identifiers to be deleted.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setRecipeVersions(java.util.Collection)} or {@link #withRecipeVersions(java.util.Collection)} if you want to override the existing values.</p>\n@param recipeVersions An array of version identifiers to be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "recipeVersions",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>An array of version identifiers to be deleted.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "RecipeName",
          "deprecated" : false,
          "documentation" : "<p>The name of the recipe to be modified.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the recipe to be modified.</p>\n@param name The name of the recipe to be modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of the recipe to be modified.</p>\n@return The name of the recipe to be modified.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "name",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "name",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the recipe to be modified.</p>\n@param name The name of the recipe to be modified.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the recipe to be modified.</p>\n@param name The name of the recipe to be modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the recipe to be modified.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "RecipeVersions" : {
          "c2jName" : "RecipeVersions",
          "c2jShape" : "RecipeVersionList",
          "deprecated" : false,
          "documentation" : "<p>An array of version identifiers to be deleted.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An array of version identifiers to be deleted.</p>\n@param recipeVersions An array of version identifiers to be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRecipeVersions",
          "getterDocumentation" : "/**<p>An array of version identifiers to be deleted.</p>\n@return An array of version identifiers to be deleted.*/",
          "getterMethodName" : "getRecipeVersions",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RecipeVersions",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RecipeVersions",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "RecipeVersion",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "RecipeVersions",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An array of version identifiers to be deleted.</p>\n@param recipeVersions An array of version identifiers to be deleted.*/",
          "setterMethodName" : "setRecipeVersions",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "recipeVersions",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An array of version identifiers to be deleted.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setRecipeVersions(java.util.Collection)} or {@link #withRecipeVersions(java.util.Collection)} if you want to override the existing values.</p>\n@param recipeVersions An array of version identifiers to be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "recipeVersions",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>An array of version identifiers to be deleted.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.gluedatabrew.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Name", "RecipeVersions" ],
      "shapeName" : "BatchDeleteRecipeVersionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDeleteRecipeVersionRequest",
        "variableName" : "batchDeleteRecipeVersionRequest",
        "variableType" : "BatchDeleteRecipeVersionRequest",
        "documentation" : null,
        "simpleType" : "BatchDeleteRecipeVersionRequest",
        "variableSetterType" : "BatchDeleteRecipeVersionRequest"
      },
      "wrapper" : false
    },
    "BatchDeleteRecipeVersionResult" : {
      "c2jName" : "BatchDeleteRecipeVersionResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.gluedatabrew.response.BatchDeleteRecipeVersionResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "RecipeName",
        "deprecated" : false,
        "documentation" : "<p>The name of the recipe that was modified.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the recipe that was modified.</p>\n@param name The name of the recipe that was modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the recipe that was modified.</p>\n@return The name of the recipe that was modified.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the recipe that was modified.</p>\n@param name The name of the recipe that was modified.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the recipe that was modified.</p>\n@param name The name of the recipe that was modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the recipe that was modified.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Errors",
        "c2jShape" : "RecipeErrorList",
        "deprecated" : false,
        "documentation" : "<p>Errors, if any, that were encountered when deleting the recipe versions.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Errors, if any, that were encountered when deleting the recipe versions.</p>\n@param errors Errors, if any, that were encountered when deleting the recipe versions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withErrors",
        "getterDocumentation" : "/**<p>Errors, if any, that were encountered when deleting the recipe versions.</p>\n@return Errors, if any, that were encountered when deleting the recipe versions.*/",
        "getterMethodName" : "getErrors",
        "getterModel" : {
          "returnType" : "java.util.List<RecipeVersionErrorDetail>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Errors",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Errors",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "RecipeVersionErrorDetail",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
[...]
