{
  "authorizers" : { },
  "metadata" : {
    "apiVersion" : "2012-10-29",
    "endpointPrefix" : "datapipeline",
    "jsonVersion" : "1.1",
    "protocol" : "json",
    "resultWrapped" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Data Pipeline",
    "signatureVersion" : "v4",
    "signingName" : "datapipeline",
    "targetPrefix" : "DataPipeline",
    "uid" : "datapipeline-2012-10-29",
    "xmlNamespace" : null
  },
  "operations" : {
    "ActivatePipeline" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Validates the specified pipeline and starts processing pipeline tasks. If the pipeline does not pass validation, activation fails.</p> <p>If you need to pause the pipeline to investigate an issue with a component, such as a data source or script, call <a>DeactivatePipeline</a>.</p> <p>To activate a finished pipeline, modify the end date for the pipeline and then activate it.</p>",
      "errors" : [ {
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineNotFoundException"
      }, {
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineDeletedException"
      }, {
        "documentation" : "<p>An internal service error occurred.</p>",
        "error" : null,
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServiceError"
      }, {
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Contains the parameters for ActivatePipeline.</p>",
        "locationName" : null,
        "shape" : "ActivatePipelineInput",
        "xmlNamespace" : null
      },
      "name" : "ActivatePipeline",
      "output" : {
        "documentation" : "<p>Contains the output of ActivatePipeline.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ActivatePipelineOutput"
      }
    },
    "AddTags" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Adds or modifies tags for the specified pipeline.</p>",
      "errors" : [ {
        "documentation" : "<p>An internal service error occurred.</p>",
        "error" : null,
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServiceError"
      }, {
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineNotFoundException"
      }, {
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineDeletedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Contains the parameters for AddTags.</p>",
        "locationName" : null,
        "shape" : "AddTagsInput",
        "xmlNamespace" : null
      },
      "name" : "AddTags",
      "output" : {
        "documentation" : "<p>Contains the output of AddTags.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "AddTagsOutput"
      }
    },
    "CreatePipeline" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a new, empty pipeline. Use <a>PutPipelineDefinition</a> to populate the pipeline.</p>",
      "errors" : [ {
        "documentation" : "<p>An internal service error occurred.</p>",
        "error" : null,
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServiceError"
      }, {
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Contains the parameters for CreatePipeline.</p>",
        "locationName" : null,
        "shape" : "CreatePipelineInput",
        "xmlNamespace" : null
      },
      "name" : "CreatePipeline",
      "output" : {
        "documentation" : "<p>Contains the output of CreatePipeline.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreatePipelineOutput"
      }
    },
    "DeactivatePipeline" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deactivates the specified running pipeline. The pipeline is set to the <code>DEACTIVATING</code> state until the deactivation process completes.</p> <p>To resume a deactivated pipeline, use <a>ActivatePipeline</a>. By default, the pipeline resumes from the last completed execution. Optionally, you can specify the date and time to resume the pipeline.</p>",
      "errors" : [ {
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineNotFoundException"
      }, {
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineDeletedException"
      }, {
        "documentation" : "<p>An internal service error occurred.</p>",
        "error" : null,
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServiceError"
      }, {
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Contains the parameters for DeactivatePipeline.</p>",
        "locationName" : null,
        "shape" : "DeactivatePipelineInput",
        "xmlNamespace" : null
      },
      "name" : "DeactivatePipeline",
      "output" : {
        "documentation" : "<p>Contains the output of DeactivatePipeline.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeactivatePipelineOutput"
      }
    },
    "DeletePipeline" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes a pipeline, its pipeline definition, and its run history. AWS Data Pipeline attempts to cancel instances associated with the pipeline that are currently being processed by task runners.</p> <p>Deleting a pipeline cannot be undone. You cannot query or restore a deleted pipeline. To temporarily pause a pipeline instead of deleting it, call <a>SetStatus</a> with the status set to <code>PAUSE</code> on individual components. Components that are paused by <a>SetStatus</a> can be resumed.</p>",
      "errors" : [ {
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineNotFoundException"
      }, {
        "documentation" : "<p>An internal service error occurred.</p>",
        "error" : null,
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServiceError"
      }, {
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Contains the parameters for DeletePipeline.</p>",
        "locationName" : null,
        "shape" : "DeletePipelineInput",
        "xmlNamespace" : null
      },
      "name" : "DeletePipeline",
      "output" : null
    },
    "DescribeObjects" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets the object definitions for a set of objects associated with the pipeline. Object definitions are composed of a set of fields that define the properties of the object.</p>",
      "errors" : [ {
        "documentation" : "<p>An internal service error occurred.</p>",
        "error" : null,
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServiceError"
      }, {
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineNotFoundException"
      }, {
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineDeletedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Contains the parameters for DescribeObjects.</p>",
        "locationName" : null,
        "shape" : "DescribeObjectsInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeObjects",
      "output" : {
        "documentation" : "<p>Contains the output of DescribeObjects.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeObjectsOutput"
      }
    },
    "DescribePipelines" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Retrieves metadata about one or more pipelines. The information retrieved includes the name of the pipeline, the pipeline identifier, its current state, and the user account that owns the pipeline. Using account credentials, you can retrieve metadata about pipelines that you or your IAM users have created. If you are using an IAM user account, you can retrieve metadata about only those pipelines for which you have read permissions.</p> <p>To retrieve the full pipeline definition instead of metadata about the pipeline, call <a>GetPipelineDefinition</a>.</p>",
      "errors" : [ {
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineNotFoundException"
      }, {
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineDeletedException"
      }, {
        "documentation" : "<p>An internal service error occurred.</p>",
        "error" : null,
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServiceError"
      }, {
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Contains the parameters for DescribePipelines.</p>",
        "locationName" : null,
        "shape" : "DescribePipelinesInput",
        "xmlNamespace" : null
      },
      "name" : "DescribePipelines",
      "output" : {
        "documentation" : "<p>Contains the output of DescribePipelines.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribePipelinesOutput"
      }
    },
    "EvaluateExpression" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Task runners call <code>EvaluateExpression</code> to evaluate a string in the context of the specified object. For example, a task runner can evaluate SQL queries stored in Amazon S3.</p>",
      "errors" : [ {
        "documentation" : "<p>An internal service error occurred.</p>",
        "error" : null,
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServiceError"
      }, {
        "documentation" : "<p>The specified task was not found. </p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "TaskNotFoundException"
      }, {
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineNotFoundException"
      }, {
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineDeletedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Contains the parameters for EvaluateExpression.</p>",
        "locationName" : null,
        "shape" : "EvaluateExpressionInput",
        "xmlNamespace" : null
      },
      "name" : "EvaluateExpression",
      "output" : {
        "documentation" : "<p>Contains the output of EvaluateExpression.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "EvaluateExpressionOutput"
      }
    },
    "GetPipelineDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets the definition of the specified pipeline. You can call <code>GetPipelineDefinition</code> to retrieve the pipeline definition that you provided using <a>PutPipelineDefinition</a>.</p>",
      "errors" : [ {
        "documentation" : "<p>An internal service error occurred.</p>",
        "error" : null,
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServiceError"
      }, {
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineNotFoundException"
      }, {
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineDeletedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Contains the parameters for GetPipelineDefinition.</p>",
        "locationName" : null,
        "shape" : "GetPipelineDefinitionInput",
        "xmlNamespace" : null
      },
      "name" : "GetPipelineDefinition",
      "output" : {
        "documentation" : "<p>Contains the output of GetPipelineDefinition.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetPipelineDefinitionOutput"
      }
    },
    "ListPipelines" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Lists the pipeline identifiers for all active pipelines that you have permission to access.</p>",
      "errors" : [ {
        "documentation" : "<p>An internal service error occurred.</p>",
        "error" : null,
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServiceError"
      }, {
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Contains the parameters for ListPipelines.</p>",
        "locationName" : null,
        "shape" : "ListPipelinesInput",
        "xmlNamespace" : null
      },
      "name" : "ListPipelines",
      "output" : {
        "documentation" : "<p>Contains the output of ListPipelines.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListPipelinesOutput"
      }
    },
    "PollForTask" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Task runners call <code>PollForTask</code> to receive a task to perform from AWS Data Pipeline. The task runner specifies which tasks it can perform by setting a value for the <code>workerGroup</code> parameter. The task returned can come from any of the pipelines that match the <code>workerGroup</code> value passed in by the task runner and that was launched using the IAM user credentials specified by the task runner.</p> <p>If tasks are ready in the work queue, <code>PollForTask</code> returns a response immediately. If no tasks are available in the queue, <code>PollForTask</code> uses long-polling and holds on to a poll connection for up to a 90 seconds, during which time the first newly scheduled task is handed to the task runner. To accomodate this, set the socket timeout in your task runner to 90 seconds. The task runner should not call <code>PollForTask</code> again on the same <code>workerGroup</code> until it receives a response, and this can take up to 90 seconds. </p>",
      "errors" : [ {
        "documentation" : "<p>An internal service error occurred.</p>",
        "error" : null,
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServiceError"
      }, {
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The specified task was not found. </p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "TaskNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Contains the parameters for PollForTask.</p>",
        "locationName" : null,
        "shape" : "PollForTaskInput",
        "xmlNamespace" : null
      },
      "name" : "PollForTask",
      "output" : {
        "documentation" : "<p>Contains the output of PollForTask.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "PollForTaskOutput"
      }
    },
    "PutPipelineDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Adds tasks, schedules, and preconditions to the specified pipeline. You can use <code>PutPipelineDefinition</code> to populate a new pipeline.</p> <p> <code>PutPipelineDefinition</code> also validates the configuration as it adds it to the pipeline. Changes to the pipeline are saved unless one of the following three validation errors exists in the pipeline. </p> <ol> <li>An object is missing a name or identifier field.</li> <li>A string or reference field is empty.</li> <li>The number of objects in the pipeline exceeds the maximum allowed objects.</li> <li>The pipeline is in a FINISHED state.</li> </ol> <p> Pipeline object definitions are passed to the <code>PutPipelineDefinition</code> action and returned by the <a>GetPipelineDefinition</a> action. </p>",
      "errors" : [ {
        "documentation" : "<p>An internal service error occurred.</p>",
        "error" : null,
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServiceError"
      }, {
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineNotFoundException"
      }, {
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineDeletedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Contains the parameters for PutPipelineDefinition.</p>",
        "locationName" : null,
        "shape" : "PutPipelineDefinitionInput",
        "xmlNamespace" : null
      },
      "name" : "PutPipelineDefinition",
      "output" : {
        "documentation" : "<p>Contains the output of PutPipelineDefinition.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "PutPipelineDefinitionOutput"
      }
    },
    "QueryObjects" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Queries the specified pipeline for the names of objects that match the specified set of conditions.</p>",
      "errors" : [ {
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineNotFoundException"
      }, {
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineDeletedException"
      }, {
        "documentation" : "<p>An internal service error occurred.</p>",
        "error" : null,
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServiceError"
      }, {
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Contains the parameters for QueryObjects.</p>",
        "locationName" : null,
        "shape" : "QueryObjectsInput",
        "xmlNamespace" : null
      },
      "name" : "QueryObjects",
      "output" : {
        "documentation" : "<p>Contains the output of QueryObjects.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "QueryObjectsOutput"
      }
    },
    "RemoveTags" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Removes existing tags from the specified pipeline.</p>",
      "errors" : [ {
        "documentation" : "<p>An internal service error occurred.</p>",
        "error" : null,
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServiceError"
      }, {
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineNotFoundException"
      }, {
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineDeletedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Contains the parameters for RemoveTags.</p>",
        "locationName" : null,
        "shape" : "RemoveTagsInput",
        "xmlNamespace" : null
      },
      "name" : "RemoveTags",
      "output" : {
        "documentation" : "<p>Contains the output of RemoveTags.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "RemoveTagsOutput"
      }
    },
    "ReportTaskProgress" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Task runners call <code>ReportTaskProgress</code> when assigned a task to acknowledge that it has the task. If the web service does not receive this acknowledgement within 2 minutes, it assigns the task in a subsequent <a>PollForTask</a> call. After this initial acknowledgement, the task runner only needs to report progress every 15 minutes to maintain its ownership of the task. You can change this reporting time from 15 minutes by specifying a <code>reportProgressTimeout</code> field in your pipeline.</p> <p>If a task runner does not report its status after 5 minutes, AWS Data Pipeline assumes that the task runner is unable to process the task and reassigns the task in a subsequent response to <a>PollForTask</a>. Task runners should call <code>ReportTaskProgress</code> every 60 seconds.</p>",
      "errors" : [ {
        "documentation" : "<p>An internal service error occurred.</p>",
        "error" : null,
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServiceError"
      }, {
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The specified task was not found. </p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "TaskNotFoundException"
      }, {
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineNotFoundException"
      }, {
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineDeletedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Contains the parameters for ReportTaskProgress.</p>",
        "locationName" : null,
        "shape" : "ReportTaskProgressInput",
        "xmlNamespace" : null
      },
      "name" : "ReportTaskProgress",
      "output" : {
        "documentation" : "<p>Contains the output of ReportTaskProgress.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ReportTaskProgressOutput"
      }
    },
    "ReportTaskRunnerHeartbeat" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Task runners call <code>ReportTaskRunnerHeartbeat</code> every 15 minutes to indicate that they are operational. If the AWS Data Pipeline Task Runner is launched on a resource managed by AWS Data Pipeline, the web service can use this call to detect when the task runner application has failed and restart a new instance.</p>",
      "errors" : [ {
        "documentation" : "<p>An internal service error occurred.</p>",
        "error" : null,
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServiceError"
      }, {
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Contains the parameters for ReportTaskRunnerHeartbeat.</p>",
        "locationName" : null,
        "shape" : "ReportTaskRunnerHeartbeatInput",
        "xmlNamespace" : null
      },
      "name" : "ReportTaskRunnerHeartbeat",
      "output" : {
        "documentation" : "<p>Contains the output of ReportTaskRunnerHeartbeat.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ReportTaskRunnerHeartbeatOutput"
      }
    },
    "SetStatus" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Requests that the status of the specified physical or logical pipeline objects be updated in the specified pipeline. This update might not occur immediately, but is eventually consistent. The status that can be set depends on the type of object (for example, DataNode or Activity). You cannot perform this operation on <code>FINISHED</code> pipelines and attempting to do so returns <code>InvalidRequestException</code>.</p>",
      "errors" : [ {
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineNotFoundException"
      }, {
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineDeletedException"
      }, {
        "documentation" : "<p>An internal service error occurred.</p>",
        "error" : null,
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServiceError"
      }, {
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Contains the parameters for SetStatus.</p>",
        "locationName" : null,
        "shape" : "SetStatusInput",
        "xmlNamespace" : null
      },
      "name" : "SetStatus",
      "output" : null
    },
    "SetTaskStatus" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Task runners call <code>SetTaskStatus</code> to notify AWS Data Pipeline that a task is completed and provide information about the final status. A task runner makes this call regardless of whether the task was sucessful. A task runner does not need to call <code>SetTaskStatus</code> for tasks that are canceled by the web service during a call to <a>ReportTaskProgress</a>.</p>",
      "errors" : [ {
        "documentation" : "<p>An internal service error occurred.</p>",
        "error" : null,
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServiceError"
      }, {
        "documentation" : "<p>The specified task was not found. </p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "TaskNotFoundException"
      }, {
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineNotFoundException"
      }, {
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineDeletedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Contains the parameters for SetTaskStatus.</p>",
        "locationName" : null,
        "shape" : "SetTaskStatusInput",
        "xmlNamespace" : null
      },
      "name" : "SetTaskStatus",
      "output" : {
        "documentation" : "<p>Contains the output of SetTaskStatus.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "SetTaskStatusOutput"
      }
    },
    "ValidatePipelineDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Validates the specified pipeline definition to ensure that it is well formed and can be run without error.</p>",
      "errors" : [ {
        "documentation" : "<p>An internal service error occurred.</p>",
        "error" : null,
        "exception" : true,
        "fault" : true,
        "shape" : "InternalServiceError"
      }, {
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineNotFoundException"
      }, {
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "error" : null,
        "exception" : true,
        "fault" : false,
        "shape" : "PipelineDeletedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Contains the parameters for ValidatePipelineDefinition.</p>",
        "locationName" : null,
        "shape" : "ValidatePipelineDefinitionInput",
        "xmlNamespace" : null
      },
      "name" : "ValidatePipelineDefinition",
      "output" : {
        "documentation" : "<p>Contains the output of ValidatePipelineDefinition.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ValidatePipelineDefinitionOutput"
      }
    }
  },
  "shapes" : {
    "ActivatePipelineInput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the parameters for ActivatePipeline.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "parameterValues" : {
          "deprecated" : false,
          "documentation" : "<p>A list of parameter values to pass to the pipeline at activation.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ParameterValueList",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "pipelineId" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the pipeline.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "id",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "startTimestamp" : {
          "deprecated" : false,
          "documentation" : "<p>The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "timestamp",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "pipelineId" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ActivatePipelineOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the output of ActivatePipeline.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AddTagsInput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the parameters for AddTags.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "pipelineId" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the pipeline.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "id",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "tags" : {
          "deprecated" : false,
          "documentation" : "<p>The tags to add, as key/value pairs.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "tagList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "pipelineId", "tags" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AddTagsOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the output of AddTags.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreatePipelineInput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the parameters for CreatePipeline.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "description" : {
          "deprecated" : false,
          "documentation" : "<p>The description for the pipeline.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "name" : {
          "deprecated" : false,
          "documentation" : "<p>The name for the pipeline. You can use the same name for multiple pipelines associated with your AWS account, because AWS Data Pipeline assigns each pipeline a unique pipeline identifier.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "id",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "tags" : {
          "deprecated" : false,
          "documentation" : "<p>A list of tags to associate with the pipeline at creation. Tags let you control access to pipelines. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "tagList",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "uniqueId" : {
          "deprecated" : false,
          "documentation" : "<p>A unique identifier. This identifier is not the same as the pipeline identifier assigned by AWS Data Pipeline. You are responsible for defining the format and ensuring the uniqueness of this identifier. You use this parameter to ensure idempotency during repeated calls to <code>CreatePipeline</code>. For example, if the first call to <code>CreatePipeline</code> does not succeed, you can pass in the same unique identifier and pipeline name combination on a subsequent call to <code>CreatePipeline</code>. <code>CreatePipeline</code> ensures that if a pipeline already exists with the same name and unique identifier, a new pipeline is not created. Instead, you'll receive the pipeline identifier from the previous attempt. The uniqueness of the name and unique identifier combination is scoped to the AWS account or IAM user credentials.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "id",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "name", "uniqueId" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreatePipelineOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the output of CreatePipeline.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "pipelineId" : {
          "deprecated" : false,
          "documentation" : "<p>The ID that AWS Data Pipeline assigns the newly created pipeline. For example, <code>df-06372391ZG65EXAMPLE</code>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "id",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "pipelineId" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DeactivatePipelineInput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the parameters for DeactivatePipeline.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "cancelActive" : {
          "deprecated" : false,
          "documentation" : "<p>Indicates whether to cancel any running objects. The default is true, which sets the state of any running objects to <code>CANCELED</code>. If this value is false, the pipeline is deactivated after all running objects finish.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "cancelActive",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "pipelineId" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the pipeline.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "id",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "pipelineId" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DeactivatePipelineOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the output of DeactivatePipeline.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DeletePipelineInput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the parameters for DeletePipeline.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "pipelineId" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the pipeline.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "id",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "pipelineId" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DescribeObjectsInput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the parameters for DescribeObjects.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "evaluateExpressions" : {
          "deprecated" : false,
          "documentation" : "<p>Indicates whether any expressions in the object should be evaluated when the object descriptions are returned.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "boolean",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "marker" : {
          "deprecated" : false,
          "documentation" : "<p>The starting point for the results to be returned. For the first call, this value should be empty. As long as there are more results, continue to call <code>DescribeObjects</code> with the marker value from the previous call to retrieve the next set of results.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "objectIds" : {
          "deprecated" : false,
          "documentation" : "<p>The IDs of the pipeline objects that contain the definitions to be described. You can pass as many as 25 identifiers in a single call to <code>DescribeObjects</code>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "idList",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "pipelineId" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the pipeline that contains the object definitions.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "id",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "pipelineId", "objectIds" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DescribeObjectsOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the output of DescribeObjects.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "hasMoreResults" : {
          "deprecated" : false,
          "documentation" : "<p>Indicates whether there are more results to return.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "boolean",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "marker" : {
          "deprecated" : false,
          "documentation" : "<p>The starting point for the next page of results. To view the next page of results, call <code>DescribeObjects</code> again with this marker value. If the value is null, there are no more results.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "pipelineObjects" : {
          "deprecated" : false,
          "documentation" : "<p>An array of object definitions.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "PipelineObjectList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "pipelineObjects" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DescribePipelinesInput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the parameters for DescribePipelines.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "pipelineIds" : {
          "deprecated" : false,
          "documentation" : "<p>The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "idList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "pipelineIds" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DescribePipelinesOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the output of DescribePipelines.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "pipelineDescriptionList" : {
          "deprecated" : false,
          "documentation" : "<p>An array of descriptions for the specified pipelines.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "PipelineDescriptionList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "pipelineDescriptionList" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "EvaluateExpressionInput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the parameters for EvaluateExpression.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "expression" : {
          "deprecated" : false,
          "documentation" : "<p>The expression to evaluate.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "longString",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "objectId" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the object.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "id",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "pipelineId" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the pipeline.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "id",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "pipelineId", "objectId", "expression" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "EvaluateExpressionOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the output of EvaluateExpression.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "evaluatedExpression" : {
          "deprecated" : false,
          "documentation" : "<p>The evaluated expression.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "longString",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "evaluatedExpression" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "Field" : {
      "deprecated" : false,
      "documentation" : "<p>A key-value pair that describes a property of a pipeline object. The value is specified as either a string value (<code>StringValue</code>) or a reference to another object (<code>RefValue</code>) but not as both.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "key" : {
          "deprecated" : false,
          "documentation" : "<p>The field identifier.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "fieldNameString",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "refValue" : {
          "deprecated" : false,
          "documentation" : "<p>The field value, expressed as the identifier of another object.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "fieldNameString",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "stringValue" : {
          "deprecated" : false,
          "documentation" : "<p>The field value, expressed as a String.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "fieldStringValue",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "key" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "GetPipelineDefinitionInput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the parameters for GetPipelineDefinition.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "pipelineId" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the pipeline.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "id",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "version" : {
          "deprecated" : false,
          "documentation" : "<p>The version of the pipeline definition to retrieve. Set this parameter to <code>latest</code> (default) to use the last definition saved to the pipeline or <code>active</code> to use the last definition that was activated.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "pipelineId" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "GetPipelineDefinitionOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the output of GetPipelineDefinition.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "parameterObjects" : {
          "deprecated" : false,
          "documentation" : "<p>The parameter objects used in the pipeline definition.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ParameterObjectList",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "parameterValues" : {
          "deprecated" : false,
          "documentation" : "<p>The parameter values used in the pipeline definition.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ParameterValueList",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "pipelineObjects" : {
          "deprecated" : false,
          "documentation" : "<p>The objects defined in the pipeline.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "PipelineObjectList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "InstanceIdentity" : {
      "deprecated" : false,
      "documentation" : "<p><p>Identity information for the EC2 instance that is hosting the task runner. You can get this value by calling a metadata URI from the EC2 instance. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AESDG-chapter-instancedata.html\">Instance Metadata</a> in the <i>Amazon Elastic Compute Cloud User Guide.</i> Passing in this value proves that your task runner is running on an EC2 instance, and ensures the proper AWS Data Pipeline service charges are applied to your pipeline.</p></p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "document" : {
          "deprecated" : false,
          "documentation" : "<p>A description of an EC2 instance that is generated when the instance is launched and exposed to the instance via the instance metadata service in the form of a JSON representation of an object.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "signature" : {
          "deprecated" : false,
          "documentation" : "<p>A signature which can be used to verify the accuracy and authenticity of the information provided in the instance identity document.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "InternalServiceError" : {
      "deprecated" : false,
      "documentation" : "<p>An internal service error occurred.</p>",
      "enum" : null,
      "error" : null,
      "exception" : true,
      "fault" : true,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "<p>Description of the error message.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "errorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "InvalidRequestException" : {
      "deprecated" : false,
      "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
      "enum" : null,
      "error" : null,
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "<p>Description of the error message.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "errorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ListPipelinesInput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the parameters for ListPipelines.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "marker" : {
          "deprecated" : false,
          "documentation" : "<p>The starting point for the results to be returned. For the first call, this value should be empty. As long as there are more results, continue to call <code>ListPipelines</code> with the marker value from the previous call to retrieve the next set of results.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ListPipelinesOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the output of ListPipelines.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "hasMoreResults" : {
          "deprecated" : false,
          "documentation" : "<p>Indicates whether there are more results that can be obtained by a subsequent call.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "boolean",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "marker" : {
          "deprecated" : false,
          "documentation" : "<p>The starting point for the next page of results. To view the next page of results, call <code>ListPipelinesOutput</code> again with this marker value. If the value is null, there are no more results.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "pipelineIdList" : {
          "deprecated" : false,
          "documentation" : "<p>The pipeline identifiers. If you require additional information about the pipelines, you can use these identifiers to call <a>DescribePipelines</a> and <a>GetPipelineDefinition</a>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "pipelineList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "pipelineIdList" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "Operator" : {
      "deprecated" : false,
      "documentation" : "<p>Contains a logical operation for comparing the value of a field with a specified value.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "type" : {
          "deprecated" : false,
          "documentation" : "<p> The logical operation to be performed: equal (<code>EQ</code>), equal reference (<code>REF_EQ</code>), less than or equal (<code>LE</code>), greater than or equal (<code>GE</code>), or between (<code>BETWEEN</code>). Equal reference (<code>REF_EQ</code>) can be used only with reference fields. The other comparison types can be used only with String fields. The comparison types you can use apply only to certain object fields, as detailed below. </p> <p> The comparison operators EQ and REF_EQ act on the following fields: </p> <ul> <li>name</li> <li>@sphere</li> <li>parent</li> <li>@componentParent</li> <li>@instanceParent</li> <li>@status</li> <li>@scheduledStartTime</li> <li>@scheduledEndTime</li> <li>@actualStartTime</li> <li>@actualEndTime</li> </ul> <p> The comparison operators <code>GE</code>, <code>LE</code>, and <code>BETWEEN</code> act on the following fields: </p> <ul> <li>@scheduledStartTime</li> <li>@scheduledEndTime</li> <li>@actualStartTime</li> <li>@actualEndTime</li> </ul> <p>Note that fields beginning with the at sign (@) are read-only and set by the web service. When you name fields, you should choose names containing only alpha-numeric values, as symbols may be reserved by AWS Data Pipeline. User-defined fields that you add to a pipeline should prefix their name with the string \"my\".</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "OperatorType",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "values" : {
          "deprecated" : false,
          "documentation" : "<p>The value that the actual field value will be compared with.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "stringList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "OperatorType" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : [ "EQ", "REF_EQ", "LE", "GE", "BETWEEN" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ParameterAttribute" : {
      "deprecated" : false,
      "documentation" : "<p>The attributes allowed or specified with a parameter object.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "key" : {
          "deprecated" : false,
          "documentation" : "<p>The field identifier.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "attributeNameString",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "stringValue" : {
          "deprecated" : false,
          "documentation" : "<p>The field value, expressed as a String.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "attributeValueString",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "key", "stringValue" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ParameterAttributeList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "ParameterAttribute",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "ParameterObject" : {
      "deprecated" : false,
      "documentation" : "<p>Contains information about a parameter object.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "attributes" : {
          "deprecated" : false,
          "documentation" : "<p>The attributes of the parameter object.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ParameterAttributeList",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "id" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the parameter object. </p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "fieldNameString",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "id", "attributes" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ParameterObjectList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "ParameterObject",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "ParameterValue" : {
      "deprecated" : false,
      "documentation" : "<p>A value or list of parameter values. </p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "id" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the parameter value.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "fieldNameString",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "stringValue" : {
          "deprecated" : false,
          "documentation" : "<p>The field value, expressed as a String.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "fieldStringValue",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "id", "stringValue" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ParameterValueList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "ParameterValue",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "PipelineDeletedException" : {
      "deprecated" : false,
      "documentation" : "<p>The specified pipeline has been deleted.</p>",
      "enum" : null,
      "error" : null,
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "<p>Description of the error message.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "errorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "PipelineDescription" : {
      "deprecated" : false,
      "documentation" : "<p>Contains pipeline metadata.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "description" : {
          "deprecated" : false,
          "documentation" : "<p>Description of the pipeline.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "fields" : {
          "deprecated" : false,
          "documentation" : "<p>A list of read-only fields that contain metadata about the pipeline: @userId, @accountId, and @pipelineState.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "fieldList",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "name" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the pipeline.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "id",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "pipelineId" : {
          "deprecated" : false,
          "documentation" : "<p>The pipeline identifier that was assigned by AWS Data Pipeline. This is a string of the form <code>df-297EG78HU43EEXAMPLE</code>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "id",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "tags" : {
          "deprecated" : false,
          "documentation" : "<p>A list of tags to associated with a pipeline. Tags let you control access to pipelines. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "tagList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "pipelineId", "name", "fields" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "PipelineDescriptionList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "PipelineDescription",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "PipelineIdName" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the name and identifier of a pipeline.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "id" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the pipeline that was assigned by AWS Data Pipeline. This is a string of the form <code>df-297EG78HU43EEXAMPLE</code>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "id",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "name" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the pipeline.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "id",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "PipelineNotFoundException" : {
      "deprecated" : false,
      "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
      "enum" : null,
      "error" : null,
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "<p>Description of the error message.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "errorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "PipelineObject" : {
      "deprecated" : false,
      "documentation" : "<p>Contains information about a pipeline object. This can be a logical, physical, or physical attempt pipeline object. The complete set of components of a pipeline defines the pipeline.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "fields" : {
          "deprecated" : false,
          "documentation" : "<p>Key-value pairs that define the properties of the object.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "fieldList",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "id" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the object.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "id",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "name" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the object.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "id",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "id", "name", "fields" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "PipelineObjectList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "PipelineObject",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "PipelineObjectMap" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "id",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "map",
      "value" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "PipelineObject",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "wrapper" : false
    },
    "PollForTaskInput" : {
      "deprecated" : false,
      "documentation" : "<p>Contains the parameters for PollForTask.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "hostname" : {
          "deprecated" : false,
          "documentation" : "<p>The public DNS name of the calling task runner.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "id",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "instanceIdentity" : {
          "deprecated" : false,
          "documentation" : "<p>Identity information for the EC2 instance that is hosting the task runner. You can get this value from the instance using <code>http://169.254.169.254/latest/meta-data/instance-id</code>. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AESDG-chapter-instancedata.html\">Instance Metadata</a> in the <i>Amazon Elastic Compute Cloud User Guide.</i> Passing in this value proves that your task runner is running on an EC2 instance, and ensures the proper AWS Data Pipeline service charges are applied to your pipeline.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "InstanceIdentity",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "workerGroup" : {
          "deprecated" : false,
          "documentation" : "<p>The type of task the task runner is configured to accept and process. The worker group is set as a field on objects in the pipeline when they are created. You can only specify a single value for <code>workerGroup</code> in the call to <code>PollForTask</code>. There are no wildcard values permitted in <code>workerGroup</code>; the string must be an exact, case-sensitive, match.</p>",
          "flattened" : false,
[...]
