{
  "authorizers" : { },
  "metadata" : {
    "apiVersion" : "2015-05-28",
    "endpointPrefix" : "data.iot",
    "jsonVersion" : null,
    "protocol" : "rest-json",
    "resultWrapped" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS IoT Data Plane",
    "signatureVersion" : "v4",
    "signingName" : "iotdata",
    "targetPrefix" : null,
    "uid" : "iot-data-2015-05-28",
    "xmlNamespace" : null
  },
  "operations" : {
    "DeleteThingShadow" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes the thing shadow for the specified thing.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/iot/latest/developerguide/API_DeleteThingShadow.html\">DeleteThingShadow</a> in the <i>AWS IoT Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnsupportedDocumentEncodingException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/things/{thingName}/shadow",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteThingShadowRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteThingShadow",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteThingShadowResponse"
      }
    },
    "GetThingShadow" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets the thing shadow for the specified thing.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/iot/latest/developerguide/API_GetThingShadow.html\">GetThingShadow</a> in the <i>AWS IoT Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnsupportedDocumentEncodingException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/things/{thingName}/shadow",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetThingShadowRequest",
        "xmlNamespace" : null
      },
      "name" : "GetThingShadow",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetThingShadowResponse"
      }
    },
    "Publish" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Publishes state information.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/iot/latest/developerguide/protocols.html#http\">HTTP Protocol</a> in the <i>AWS IoT Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/topics/{topic}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "PublishRequest",
        "xmlNamespace" : null
      },
      "name" : "Publish",
      "output" : null
    },
    "UpdateThingShadow" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Updates the thing shadow for the specified thing.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/iot/latest/developerguide/API_UpdateThingShadow.html\">UpdateThingShadow</a> in the <i>AWS IoT Developer Guide</i>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "RequestEntityTooLargeException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "MethodNotAllowedException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnsupportedDocumentEncodingException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/things/{thingName}/shadow",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateThingShadowRequest",
        "xmlNamespace" : null
      },
      "name" : "UpdateThingShadow",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateThingShadowResponse"
      }
    }
  },
  "shapes" : {
    "ConflictException" : {
      "deprecated" : false,
      "documentation" : "<p>The specified version does not match the version of the document.</p>",
      "enum" : null,
      "error" : {
        "code" : null,
        "httpStatusCode" : 409
      },
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "<p>The message for the exception.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ErrorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DeleteThingShadowRequest" : {
      "deprecated" : false,
      "documentation" : "<p>The input for the DeleteThingShadow operation.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "thingName" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the thing.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "thingName",
          "payload" : false,
          "queryName" : null,
          "shape" : "ThingName",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "thingName" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DeleteThingShadowResponse" : {
      "deprecated" : false,
      "documentation" : "<p>The output from the DeleteThingShadow operation.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "payload" : {
          "deprecated" : false,
          "documentation" : "<p>The state information, in JSON format.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "JsonDocument",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : "payload",
      "required" : [ "payload" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ErrorMessage" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "GetThingShadowRequest" : {
      "deprecated" : false,
      "documentation" : "<p>The input for the GetThingShadow operation.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "thingName" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the thing.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "thingName",
          "payload" : false,
          "queryName" : null,
          "shape" : "ThingName",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "thingName" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "GetThingShadowResponse" : {
      "deprecated" : false,
      "documentation" : "<p>The output from the GetThingShadow operation.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "payload" : {
          "deprecated" : false,
          "documentation" : "<p>The state information, in JSON format.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "JsonDocument",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : "payload",
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "InternalFailureException" : {
      "deprecated" : false,
      "documentation" : "<p>An unexpected error has occurred.</p>",
      "enum" : null,
      "error" : {
        "code" : null,
        "httpStatusCode" : 500
      },
      "exception" : true,
      "fault" : true,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "<p>The message for the exception.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "errorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "InvalidRequestException" : {
      "deprecated" : false,
      "documentation" : "<p>The request is not valid.</p>",
      "enum" : null,
      "error" : {
        "code" : null,
        "httpStatusCode" : 400
      },
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "<p>The message for the exception.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "errorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "JsonDocument" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "blob",
      "value" : null,
      "wrapper" : false
    },
    "MethodNotAllowedException" : {
      "deprecated" : false,
      "documentation" : "<p>The specified combination of HTTP verb and URI is not supported.</p>",
      "enum" : null,
      "error" : {
        "code" : null,
        "httpStatusCode" : 405
      },
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "<p>The message for the exception.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ErrorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "Payload" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "blob",
      "value" : null,
      "wrapper" : false
    },
    "PublishRequest" : {
      "deprecated" : false,
      "documentation" : "<p>The input for the Publish operation.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "payload" : {
          "deprecated" : false,
          "documentation" : "<p>The state information, in JSON format.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Payload",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "qos" : {
          "deprecated" : false,
          "documentation" : "<p>The Quality of Service (QoS) level.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "querystring",
          "locationName" : "qos",
          "payload" : false,
          "queryName" : null,
          "shape" : "Qos",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "topic" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the MQTT topic.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "topic",
          "payload" : false,
          "queryName" : null,
          "shape" : "Topic",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : "payload",
      "required" : [ "topic" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "Qos" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 1,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "integer",
      "value" : null,
      "wrapper" : false
    },
    "RequestEntityTooLargeException" : {
      "deprecated" : false,
      "documentation" : "<p>The payload exceeds the maximum size allowed.</p>",
      "enum" : null,
      "error" : {
        "code" : null,
        "httpStatusCode" : 413
      },
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "<p>The message for the exception.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ErrorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ResourceNotFoundException" : {
      "deprecated" : false,
      "documentation" : "<p>The specified resource does not exist.</p>",
      "enum" : null,
      "error" : {
        "code" : null,
        "httpStatusCode" : 404
      },
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "<p>The message for the exception.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "errorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ServiceUnavailableException" : {
      "deprecated" : false,
      "documentation" : "<p>The service is temporarily unavailable.</p>",
      "enum" : null,
      "error" : {
        "code" : null,
        "httpStatusCode" : 503
      },
      "exception" : true,
      "fault" : true,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "<p>The message for the exception.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "errorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ThingName" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 128,
      "member" : null,
      "members" : { },
      "min" : 1,
      "pattern" : "[a-zA-Z0-9_-]+",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ThrottlingException" : {
      "deprecated" : false,
      "documentation" : "<p>The rate exceeds the limit.</p>",
      "enum" : null,
      "error" : {
        "code" : null,
        "httpStatusCode" : 429
      },
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "<p>The message for the exception.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "errorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "Topic" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "UnauthorizedException" : {
      "deprecated" : false,
      "documentation" : "<p>You are not authorized to perform this operation.</p>",
      "enum" : null,
      "error" : {
        "code" : null,
        "httpStatusCode" : 401
      },
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "<p>The message for the exception.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "errorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "UnsupportedDocumentEncodingException" : {
      "deprecated" : false,
      "documentation" : "<p>The document encoding is not supported.</p>",
      "enum" : null,
      "error" : {
        "code" : null,
        "httpStatusCode" : 415
      },
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "message" : {
          "deprecated" : false,
          "documentation" : "<p>The message for the exception.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "errorMessage",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "UpdateThingShadowRequest" : {
      "deprecated" : false,
      "documentation" : "<p>The input for the UpdateThingShadow operation.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "payload" : {
          "deprecated" : false,
          "documentation" : "<p>The state information, in JSON format.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "JsonDocument",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "thingName" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the thing.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "thingName",
          "payload" : false,
          "queryName" : null,
          "shape" : "ThingName",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : "payload",
      "required" : [ "thingName", "payload" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "UpdateThingShadowResponse" : {
      "deprecated" : false,
      "documentation" : "<p>The output from the UpdateThingShadow operation.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "payload" : {
          "deprecated" : false,
          "documentation" : "<p>The state information, in JSON format.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "JsonDocument",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : "payload",
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "errorMessage" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    }
  },
  "documentation" : "<fullname>AWS IoT</fullname> <p>AWS IoT-Data enables secure, bi-directional communication between Internet-connected things (such as sensors, actuators, embedded devices, or smart appliances) and the AWS cloud. It implements a broker for applications and things to publish messages over HTTP (Publish) and retrieve, update, and delete thing shadows. A thing shadow is a persistent representation of your things and their state in the AWS cloud.</p>"
}