{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-11-09",
    "asyncClient" : "AWSDataSyncAsyncClient",
    "asyncClientBuilderClassName" : "AWSDataSyncAsyncClientBuilder",
    "asyncInterface" : "AWSDataSyncAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSDataSyncModuleInjector",
    "defaultEndpoint" : "datasync.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "datasync.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS DataSync</fullname> <p>AWS DataSync is a managed data transfer service that makes it simpler for you to automate moving data between on-premises storage and Amazon Simple Storage Service (Amazon S3) or Amazon Elastic File System (Amazon EFS). </p> <p>This API interface reference for AWS DataSync contains documentation for a programming interface that you can use to manage AWS DataSync.</p>",
    "endpointPrefix" : "datasync",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.datasync",
    "packagePath" : "com/amazonaws/services/datasync",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "DataSync",
    "serviceFullName" : "AWS DataSync",
    "serviceId" : "DataSync",
    "serviceName" : "DataSync",
    "signingName" : "datasync",
    "smokeTestsPackageName" : "com.amazonaws.services.datasync.smoketests",
    "syncClient" : "AWSDataSyncClient",
    "syncClientBuilderClassName" : "AWSDataSyncClientBuilder",
    "syncInterface" : "AWSDataSync",
    "uid" : "datasync-2018-11-09",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelTaskExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelTaskExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelTaskExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelTaskExecutionRequest, CancelTaskExecutionResult>",
      "asyncReturnType" : "CancelTaskExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels execution of a task. </p> <p>When you cancel a task execution, the transfer of some files are abruptly interrupted. The contents of files that are transferred to the destination might be incomplete or inconsistent with the source files. However, if you start a new task execution on the same task and you allow the task execution to complete, file content on the destination is complete and consistent. This applies to other unexpected failures that interrupt a task execution. In all of these cases, AWS DataSync successfully complete the transfer when you start the next task execution. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelTaskExecutionRequest",
        "variableName" : "cancelTaskExecutionRequest",
        "variableType" : "CancelTaskExecutionRequest",
        "documentation" : "<p>CancelTaskExecutionRequest</p>",
        "simpleType" : "CancelTaskExecutionRequest",
        "variableSetterType" : "CancelTaskExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelTaskExecution",
      "operationName" : "CancelTaskExecution",
      "returnType" : {
        "returnType" : "CancelTaskExecutionResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelTaskExecutionResult"
    },
    "CreateAgent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAgentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAgentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAgentRequest, CreateAgentResult>",
      "asyncReturnType" : "CreateAgentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Activates an AWS DataSync agent that you have deployed on your host. The activation process associates your agent with your account. In the activation process, you specify information such as the AWS Region that you want to activate the agent in. You activate the agent in the AWS Region where your target locations (in Amazon S3 or Amazon EFS) reside. Your tasks are created in this AWS Region. </p> <p>You can use an agent for more than one location. If a task uses multiple agents, all of them need to have status AVAILABLE for the task to run. If you use multiple agents for a source location, the status of all the agents must be AVAILABLE for the task to run. For more information, see <a href=\"https://docs.aws.amazon.com/sync-service/latest/userguide/working-with-sync-agents.html#activating-sync-agent\">Activating a Sync Agent</a> in the <i>AWS DataSync User Guide.</i> </p> <p>Agents are automatically updated by AWS on a regular basis, using a mechanism that ensures minimal interruption to your tasks.</p> <p/>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAgentRequest",
        "variableName" : "createAgentRequest",
        "variableType" : "CreateAgentRequest",
        "documentation" : "<p>CreateAgentRequest</p>",
        "simpleType" : "CreateAgentRequest",
        "variableSetterType" : "CreateAgentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAgent",
      "operationName" : "CreateAgent",
      "returnType" : {
        "returnType" : "CreateAgentResult",
        "documentation" : "<p>CreateAgentResponse</p>"
      },
      "syncReturnType" : "CreateAgentResult"
    },
    "CreateLocationEfs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLocationEfsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLocationEfsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLocationEfsRequest, CreateLocationEfsResult>",
      "asyncReturnType" : "CreateLocationEfsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an endpoint for an Amazon EFS file system.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLocationEfsRequest",
        "variableName" : "createLocationEfsRequest",
        "variableType" : "CreateLocationEfsRequest",
        "documentation" : "<p>CreateLocationEfsRequest</p>",
        "simpleType" : "CreateLocationEfsRequest",
        "variableSetterType" : "CreateLocationEfsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLocationEfs",
      "operationName" : "CreateLocationEfs",
      "returnType" : {
        "returnType" : "CreateLocationEfsResult",
        "documentation" : "<p>CreateLocationEfs</p>"
      },
      "syncReturnType" : "CreateLocationEfsResult"
    },
    "CreateLocationNfs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLocationNfsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLocationNfsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLocationNfsRequest, CreateLocationNfsResult>",
      "asyncReturnType" : "CreateLocationNfsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an endpoint for a Network File System (NFS) file system.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLocationNfsRequest",
        "variableName" : "createLocationNfsRequest",
        "variableType" : "CreateLocationNfsRequest",
        "documentation" : "<p>CreateLocationNfsRequest</p>",
        "simpleType" : "CreateLocationNfsRequest",
        "variableSetterType" : "CreateLocationNfsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLocationNfs",
      "operationName" : "CreateLocationNfs",
      "returnType" : {
        "returnType" : "CreateLocationNfsResult",
        "documentation" : "<p>CreateLocationNfsResponse</p>"
      },
      "syncReturnType" : "CreateLocationNfsResult"
    },
    "CreateLocationS3" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLocationS3Result>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLocationS3Result>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLocationS3Request, CreateLocationS3Result>",
      "asyncReturnType" : "CreateLocationS3Result",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an endpoint for an Amazon S3 bucket.</p> <p>For AWS DataSync to access a destination S3 bucket, it needs an AWS Identity and Access Management (IAM) role that has the required permissions. You can set up the required permissions by creating an IAM policy that grants the required permissions and attaching the policy to the role. An example of such a policy is shown in the examples section. For more information, see <a href=\"https://docs.aws.amazon.com/sync-service/latest/userguide/configuring-s3-locations.html\">Configuring Amazon S3 Location Settings</a> in the <i>AWS DataSync User Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLocationS3Request",
        "variableName" : "createLocationS3Request",
        "variableType" : "CreateLocationS3Request",
        "documentation" : "<p>CreateLocationS3Request</p>",
        "simpleType" : "CreateLocationS3Request",
        "variableSetterType" : "CreateLocationS3Request"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLocationS3",
      "operationName" : "CreateLocationS3",
      "returnType" : {
        "returnType" : "CreateLocationS3Result",
        "documentation" : "<p>CreateLocationS3Response</p>"
      },
      "syncReturnType" : "CreateLocationS3Result"
    },
    "CreateTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTaskRequest, CreateTaskResult>",
      "asyncReturnType" : "CreateTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a task. A task is a set of two locations (source and destination) and a set of default <code>OverrideOptions</code> that you use to control the behavior of a task. If you don't specify default values for <code>Options</code> when you create a task, AWS DataSync populates them with safe service defaults.</p> <p>When you initially create a task, it enters the INITIALIZING status and then the CREATING status. In CREATING status, AWS DataSync attempts to mount the source Network File System (NFS) location. The task transitions to the AVAILABLE status without waiting for the destination location to mount. Instead, AWS DataSync mounts a destination before every task execution and then unmounts it after every task execution. </p> <p>If an agent that is associated with a source (NFS) location goes offline, the task transitions to the UNAVAILABLE status. If the status of the task remains in the CREATING status for more than a few minutes, it means that your agent might be having trouble mounting the source NFS file system. Check the task's <code>ErrorCode</code> and <code>ErrorDetail</code>. Mount issues are often caused by either a misconfigured firewall or a mistyped NFS server host name.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTaskRequest",
        "variableName" : "createTaskRequest",
        "variableType" : "CreateTaskRequest",
        "documentation" : "<p>CreateTaskRequest</p>",
        "simpleType" : "CreateTaskRequest",
        "variableSetterType" : "CreateTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTask",
      "operationName" : "CreateTask",
      "returnType" : {
        "returnType" : "CreateTaskResult",
        "documentation" : "<p>CreateTaskResponse</p>"
      },
      "syncReturnType" : "CreateTaskResult"
    },
    "DeleteAgent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAgentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAgentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAgentRequest, DeleteAgentResult>",
      "asyncReturnType" : "DeleteAgentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an agent. To specify which agent to delete, use the Amazon Resource Name (ARN) of the agent in your request. The operation disassociates the agent from your AWS account. However, it doesn't delete the agent virtual machine (VM) from your on-premises environment.</p> <note> <p>After you delete an agent, you can't reactivate it and you longer pay software charges for it.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAgentRequest",
        "variableName" : "deleteAgentRequest",
        "variableType" : "DeleteAgentRequest",
        "documentation" : "<p>DeleteAgentRequest</p>",
        "simpleType" : "DeleteAgentRequest",
        "variableSetterType" : "DeleteAgentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAgent",
      "operationName" : "DeleteAgent",
      "returnType" : {
        "returnType" : "DeleteAgentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAgentResult"
    },
    "DeleteLocation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLocationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLocationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLocationRequest, DeleteLocationResult>",
      "asyncReturnType" : "DeleteLocationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the configuration of a location used by AWS DataSync. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLocationRequest",
        "variableName" : "deleteLocationRequest",
        "variableType" : "DeleteLocationRequest",
        "documentation" : "<p>DeleteLocation</p>",
        "simpleType" : "DeleteLocationRequest",
        "variableSetterType" : "DeleteLocationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLocation",
      "operationName" : "DeleteLocation",
      "returnType" : {
        "returnType" : "DeleteLocationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLocationResult"
    },
    "DeleteTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTaskRequest, DeleteTaskResult>",
      "asyncReturnType" : "DeleteTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a task.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTaskRequest",
        "variableName" : "deleteTaskRequest",
        "variableType" : "DeleteTaskRequest",
        "documentation" : "<p>DeleteTask</p>",
        "simpleType" : "DeleteTaskRequest",
        "variableSetterType" : "DeleteTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTask",
      "operationName" : "DeleteTask",
      "returnType" : {
        "returnType" : "DeleteTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTaskResult"
    },
    "DescribeAgent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAgentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAgentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAgentRequest, DescribeAgentResult>",
      "asyncReturnType" : "DescribeAgentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata such as the name, the network interfaces, and the status (that is, whether the agent is running or not) for an agent. To specify which agent to describe, use the Amazon Resource Name (ARN) of the agent in your request. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAgentRequest",
        "variableName" : "describeAgentRequest",
        "variableType" : "DescribeAgentRequest",
        "documentation" : "<p>DescribeAgent</p>",
        "simpleType" : "DescribeAgentRequest",
        "variableSetterType" : "DescribeAgentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAgent",
      "operationName" : "DescribeAgent",
      "returnType" : {
        "returnType" : "DescribeAgentResult",
        "documentation" : "<p>DescribeAgentResponse</p>"
      },
      "syncReturnType" : "DescribeAgentResult"
    },
    "DescribeLocationEfs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLocationEfsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLocationEfsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLocationEfsRequest, DescribeLocationEfsResult>",
      "asyncReturnType" : "DescribeLocationEfsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata, such as the path information about an Amazon EFS location.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeLocationEfsRequest",
        "variableName" : "describeLocationEfsRequest",
        "variableType" : "DescribeLocationEfsRequest",
        "documentation" : "<p>DescribeLocationEfsRequest</p>",
        "simpleType" : "DescribeLocationEfsRequest",
        "variableSetterType" : "DescribeLocationEfsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLocationEfs",
      "operationName" : "DescribeLocationEfs",
      "returnType" : {
        "returnType" : "DescribeLocationEfsResult",
        "documentation" : "<p>DescribeLocationEfsResponse</p>"
      },
      "syncReturnType" : "DescribeLocationEfsResult"
    },
    "DescribeLocationNfs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLocationNfsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLocationNfsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLocationNfsRequest, DescribeLocationNfsResult>",
      "asyncReturnType" : "DescribeLocationNfsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata, such as the path information, about a NFS location.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeLocationNfsRequest",
        "variableName" : "describeLocationNfsRequest",
        "variableType" : "DescribeLocationNfsRequest",
        "documentation" : "<p>DescribeLocationNfsRequest</p>",
        "simpleType" : "DescribeLocationNfsRequest",
        "variableSetterType" : "DescribeLocationNfsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLocationNfs",
      "operationName" : "DescribeLocationNfs",
      "returnType" : {
        "returnType" : "DescribeLocationNfsResult",
        "documentation" : "<p>DescribeLocationNfsResponse</p>"
      },
      "syncReturnType" : "DescribeLocationNfsResult"
    },
    "DescribeLocationS3" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLocationS3Result>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLocationS3Result>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLocationS3Request, DescribeLocationS3Result>",
      "asyncReturnType" : "DescribeLocationS3Result",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata, such as bucket name, about an Amazon S3 bucket location.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeLocationS3Request",
        "variableName" : "describeLocationS3Request",
        "variableType" : "DescribeLocationS3Request",
        "documentation" : "<p>DescribeLocationS3Request</p>",
        "simpleType" : "DescribeLocationS3Request",
        "variableSetterType" : "DescribeLocationS3Request"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLocationS3",
      "operationName" : "DescribeLocationS3",
      "returnType" : {
        "returnType" : "DescribeLocationS3Result",
        "documentation" : "<p>DescribeLocationS3Response</p>"
      },
      "syncReturnType" : "DescribeLocationS3Result"
    },
    "DescribeTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTaskRequest, DescribeTaskResult>",
      "asyncReturnType" : "DescribeTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata about a task.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTaskRequest",
        "variableName" : "describeTaskRequest",
        "variableType" : "DescribeTaskRequest",
        "documentation" : "<p>DescribeTaskRequest</p>",
        "simpleType" : "DescribeTaskRequest",
        "variableSetterType" : "DescribeTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTask",
      "operationName" : "DescribeTask",
      "returnType" : {
        "returnType" : "DescribeTaskResult",
        "documentation" : "<p>DescribeTaskResponse</p>"
      },
      "syncReturnType" : "DescribeTaskResult"
    },
    "DescribeTaskExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTaskExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTaskExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTaskExecutionRequest, DescribeTaskExecutionResult>",
      "asyncReturnType" : "DescribeTaskExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns detailed metadata about a task that is being executed.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTaskExecutionRequest",
        "variableName" : "describeTaskExecutionRequest",
        "variableType" : "DescribeTaskExecutionRequest",
        "documentation" : "<p>DescribeTaskExecutionRequest</p>",
        "simpleType" : "DescribeTaskExecutionRequest",
        "variableSetterType" : "DescribeTaskExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTaskExecution",
      "operationName" : "DescribeTaskExecution",
      "returnType" : {
        "returnType" : "DescribeTaskExecutionResult",
        "documentation" : "<p>DescribeTaskExecutionResponse</p>"
      },
      "syncReturnType" : "DescribeTaskExecutionResult"
    },
    "ListAgents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAgentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAgentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAgentsRequest, ListAgentsResult>",
      "asyncReturnType" : "ListAgentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of agents owned by an AWS account in the AWS Region specified in the request. The returned list is ordered by agent Amazon Resource Name (ARN).</p> <p>By default, this operation returns a maximum of 100 agents. This operation supports pagination that enables you to optionally reduce the number of agents returned in a response.</p> <p>If you have more agents than are returned in a response (that is, the response returns only a truncated list of your agents), the response contains a marker that you can specify in your next request to fetch the next page of agents.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAgentsRequest",
        "variableName" : "listAgentsRequest",
        "variableType" : "ListAgentsRequest",
        "documentation" : "<p>ListAgentsRequest</p>",
        "simpleType" : "ListAgentsRequest",
        "variableSetterType" : "ListAgentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAgents",
      "operationName" : "ListAgents",
      "returnType" : {
        "returnType" : "ListAgentsResult",
        "documentation" : "<p>ListAgentsResponse</p>"
      },
      "syncReturnType" : "ListAgentsResult"
    },
    "ListLocations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLocationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLocationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLocationsRequest, ListLocationsResult>",
      "asyncReturnType" : "ListLocationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a lists of source and destination locations.</p> <p>If you have more locations than are returned in a response (that is, the response returns only a truncated list of your agents), the response contains a token that you can specify in your next request to fetch the next page of locations.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLocationsRequest",
        "variableName" : "listLocationsRequest",
        "variableType" : "ListLocationsRequest",
        "documentation" : "<p>ListLocationsRequest</p>",
        "simpleType" : "ListLocationsRequest",
        "variableSetterType" : "ListLocationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLocations",
      "operationName" : "ListLocations",
      "returnType" : {
        "returnType" : "ListLocationsResult",
        "documentation" : "<p>ListLocationsResponse</p>"
      },
      "syncReturnType" : "ListLocationsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns all the tags associated with a specified resources. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "<p>ListTagsForResourceRequest</p>",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "<p>ListTagsForResourceResponse</p>"
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListTaskExecutions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTaskExecutionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTaskExecutionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTaskExecutionsRequest, ListTaskExecutionsResult>",
      "asyncReturnType" : "ListTaskExecutionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of executed tasks.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTaskExecutionsRequest",
        "variableName" : "listTaskExecutionsRequest",
        "variableType" : "ListTaskExecutionsRequest",
        "documentation" : "<p>ListTaskExecutions</p>",
        "simpleType" : "ListTaskExecutionsRequest",
        "variableSetterType" : "ListTaskExecutionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTaskExecutions",
      "operationName" : "ListTaskExecutions",
      "returnType" : {
        "returnType" : "ListTaskExecutionsResult",
        "documentation" : "<p>ListTaskExecutionsResponse</p>"
      },
      "syncReturnType" : "ListTaskExecutionsResult"
    },
    "ListTasks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTasksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTasksRequest, ListTasksResult>",
      "asyncReturnType" : "ListTasksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all the tasks.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTasksRequest",
        "variableName" : "listTasksRequest",
        "variableType" : "ListTasksRequest",
        "documentation" : "<p>ListTasksRequest</p>",
        "simpleType" : "ListTasksRequest",
        "variableSetterType" : "ListTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTasks",
      "operationName" : "ListTasks",
      "returnType" : {
        "returnType" : "ListTasksResult",
        "documentation" : "<p>ListTasksResponse</p>"
      },
      "syncReturnType" : "ListTasksResult"
    },
    "StartTaskExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartTaskExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartTaskExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartTaskExecutionRequest, StartTaskExecutionResult>",
      "asyncReturnType" : "StartTaskExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a specific invocation of a task. A <code>TaskExecution</code> value represents an individual run of a task. Each task can have at most one <code>TaskExecution</code> at a time.</p> <p> <code>TaskExecution</code> has the following transition phases: INITIALIZING | PREPARING | TRANSFERRING | VERIFYING | SUCCESS/FAILURE. </p> <p>For detailed information, see <i>Task Execution</i> in <a href=\"https://docs.aws.amazon.com/sync-service/latest/userguide/how-awssync-works.html#terminology\">Components and Terminology</a> in the <i>AWS DataSync User Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartTaskExecutionRequest",
        "variableName" : "startTaskExecutionRequest",
        "variableType" : "StartTaskExecutionRequest",
        "documentation" : "<p>StartTaskExecutionRequest</p>",
        "simpleType" : "StartTaskExecutionRequest",
        "variableSetterType" : "StartTaskExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startTaskExecution",
      "operationName" : "StartTaskExecution",
      "returnType" : {
        "returnType" : "StartTaskExecutionResult",
        "documentation" : "<p>StartTaskExecutionResponse</p>"
      },
      "syncReturnType" : "StartTaskExecutionResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Applies a key-value pair to an AWS resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "<p>TagResourceRequest</p>",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a tag from an AWS resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "<p>UntagResourceRequest</p>",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateAgent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAgentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAgentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAgentRequest, UpdateAgentResult>",
      "asyncReturnType" : "UpdateAgentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the name of an agent.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAgentRequest",
        "variableName" : "updateAgentRequest",
        "variableType" : "UpdateAgentRequest",
        "documentation" : "<p>UpdateAgentRequest</p>",
        "simpleType" : "UpdateAgentRequest",
        "variableSetterType" : "UpdateAgentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAgent",
      "operationName" : "UpdateAgent",
      "returnType" : {
        "returnType" : "UpdateAgentResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAgentResult"
    },
    "UpdateTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateTaskRequest, UpdateTaskResult>",
      "asyncReturnType" : "UpdateTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the metadata associated with a task.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown when the client submits a malformed request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateTaskRequest",
        "variableName" : "updateTaskRequest",
        "variableType" : "UpdateTaskRequest",
        "documentation" : "<p>UpdateTaskResponse</p>",
        "simpleType" : "UpdateTaskRequest",
        "variableSetterType" : "UpdateTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateTask",
      "operationName" : "UpdateTask",
      "returnType" : {
        "returnType" : "UpdateTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateTaskResult"
    }
  },
  "shapes" : {
    "AgentListEntry" : {
      "c2jName" : "AgentListEntry",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Represents a single entry in a list of agents. <code>AgentListEntry</code> returns an array that contains a list of agents when the <a>ListAgents</a> operation is called.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AgentArn",
        "c2jShape" : "AgentArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the agent.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the agent.</p>\n@param agentArn The Amazon Resource Name (ARN) of the agent.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAgentArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the agent.</p>\n@return The Amazon Resource Name (ARN) of the agent.*/",
        "getterMethodName" : "getAgentArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AgentArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AgentArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AgentArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the agent.</p>\n@param agentArn The Amazon Resource Name (ARN) of the agent.*/",
        "setterMethodName" : "setAgentArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "agentArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the agent.</p>\n@param agentArn The Amazon Resource Name (ARN) of the agent.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "agentArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the agent.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Name",
        "c2jShape" : "TagValue",
        "deprecated" : false,
        "documentation" : "<p>The name of the agent.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the agent.</p>\n@param name The name of the agent.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the agent.</p>\n@return The name of the agent.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the agent.</p>\n@param name The name of the agent.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the agent.</p>\n@param name The name of the agent.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the agent.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Status",
        "c2jShape" : "AgentStatus",
        "deprecated" : false,
        "documentation" : "<p>The status of the agent.</p>",
        "enumType" : "AgentStatus",
        "fluentSetterDocumentation" : "/**<p>The status of the agent.</p>\n@param status The status of the agent.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AgentStatus*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>The status of the agent.</p>\n@return The status of the agent.\n@see AgentStatus*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Status",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The status of the agent.</p>\n@param status The status of the agent.\n@see AgentStatus*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The status of the agent.</p>\n@param status The status of the agent.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AgentStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>The status of the agent.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AgentArn" : {
          "c2jName" : "AgentArn",
          "c2jShape" : "AgentArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the agent.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the agent.</p>\n@param agentArn The Amazon Resource Name (ARN) of the agent.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAgentArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the agent.</p>\n@return The Amazon Resource Name (ARN) of the agent.*/",
          "getterMethodName" : "getAgentArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AgentArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AgentArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AgentArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the agent.</p>\n@param agentArn The Amazon Resource Name (ARN) of the agent.*/",
          "setterMethodName" : "setAgentArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "agentArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the agent.</p>\n@param agentArn The Amazon Resource Name (ARN) of the agent.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "agentArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the agent.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "TagValue",
          "deprecated" : false,
          "documentation" : "<p>The name of the agent.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the agent.</p>\n@param name The name of the agent.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of the agent.</p>\n@return The name of the agent.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the agent.</p>\n@param name The name of the agent.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the agent.</p>\n@param name The name of the agent.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the agent.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Status" : {
          "c2jName" : "Status",
          "c2jShape" : "AgentStatus",
          "deprecated" : false,
          "documentation" : "<p>The status of the agent.</p>",
          "enumType" : "AgentStatus",
          "fluentSetterDocumentation" : "/**<p>The status of the agent.</p>\n@param status The status of the agent.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AgentStatus*/",
          "fluentSetterMethodName" : "withStatus",
          "getterDocumentation" : "/**<p>The status of the agent.</p>\n@return The status of the agent.\n@see AgentStatus*/",
          "getterMethodName" : "getStatus",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Status",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Status",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Status",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The status of the agent.</p>\n@param status The status of the agent.\n@see AgentStatus*/",
          "setterMethodName" : "setStatus",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The status of the agent.</p>\n@param status The status of the agent.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AgentStatus*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "status",
            "variableType" : "String",
            "documentation" : "<p>The status of the agent.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AgentListEntry",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AgentListEntry",
        "variableName" : "agentListEntry",
        "variableType" : "AgentListEntry",
        "documentation" : null,
        "simpleType" : "AgentListEntry",
        "variableSetterType" : "AgentListEntry"
      },
      "wrapper" : false
    },
    "AgentStatus" : {
      "c2jName" : "AgentStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "ONLINE",
        "value" : "ONLINE"
      }, {
        "name" : "OFFLINE",
        "value" : "OFFLINE"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AgentStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AgentStatus",
        "variableName" : "agentStatus",
        "variableType" : "AgentStatus",
        "documentation" : null,
        "simpleType" : "AgentStatus",
        "variableSetterType" : "AgentStatus"
      },
      "wrapper" : false
    },
    "Atime" : {
      "c2jName" : "Atime",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "NONE",
        "value" : "NONE"
      }, {
        "name" : "BEST_EFFORT",
        "value" : "BEST_EFFORT"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Atime",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Atime",
        "variableName" : "atime",
        "variableType" : "Atime",
        "documentation" : null,
        "simpleType" : "Atime",
        "variableSetterType" : "Atime"
      },
      "wrapper" : false
    },
    "CancelTaskExecutionRequest" : {
      "c2jName" : "CancelTaskExecutionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>CancelTaskExecutionRequest</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CancelTaskExecution",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "FmrsService.CancelTaskExecution",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "TaskExecutionArn",
        "c2jShape" : "TaskExecutionArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the task execution to cancel.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the task execution to cancel.</p>\n@param taskExecutionArn The Amazon Resource Name (ARN) of the task execution to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTaskExecutionArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the task execution to cancel.</p>\n@return The Amazon Resource Name (ARN) of the task execution to cancel.*/",
        "getterMethodName" : "getTaskExecutionArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TaskExecutionArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TaskExecutionArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TaskExecutionArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the task execution to cancel.</p>\n@param taskExecutionArn The Amazon Resource Name (ARN) of the task execution to cancel.*/",
        "setterMethodName" : "setTaskExecutionArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "taskExecutionArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the task execution to cancel.</p>\n@param taskExecutionArn The Amazon Resource Name (ARN) of the task execution to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "taskExecutionArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the task execution to cancel.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "TaskExecutionArn" : {
          "c2jName" : "TaskExecutionArn",
          "c2jShape" : "TaskExecutionArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the task execution to cancel.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the task execution to cancel.</p>\n@param taskExecutionArn The Amazon Resource Name (ARN) of the task execution to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTaskExecutionArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the task execution to cancel.</p>\n@return The Amazon Resource Name (ARN) of the task execution to cancel.*/",
          "getterMethodName" : "getTaskExecutionArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "TaskExecutionArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TaskExecutionArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "TaskExecutionArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the task execution to cancel.</p>\n@param taskExecutionArn The Amazon Resource Name (ARN) of the task execution to cancel.*/",
          "setterMethodName" : "setTaskExecutionArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "taskExecutionArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the task execution to cancel.</p>\n@param taskExecutionArn The Amazon Resource Name (ARN) of the task execution to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "taskExecutionArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the task execution to cancel.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "TaskExecutionArn" ],
      "shapeName" : "CancelTaskExecutionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelTaskExecutionRequest",
        "variableName" : "cancelTaskExecutionRequest",
        "variableType" : "CancelTaskExecutionRequest",
        "documentation" : null,
        "simpleType" : "CancelTaskExecutionRequest",
        "variableSetterType" : "CancelTaskExecutionRequest"
      },
      "wrapper" : false
    },
    "CancelTaskExecutionResult" : {
      "c2jName" : "CancelTaskExecutionResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CancelTaskExecutionResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelTaskExecutionResult",
        "variableName" : "cancelTaskExecutionResult",
        "variableType" : "CancelTaskExecutionResult",
        "documentation" : null,
        "simpleType" : "CancelTaskExecutionResult",
        "variableSetterType" : "CancelTaskExecutionResult"
      },
      "wrapper" : false
    },
    "CreateAgentRequest" : {
      "c2jName" : "CreateAgentRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>CreateAgentRequest</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateAgent",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "FmrsService.CreateAgent",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ActivationKey",
        "c2jShape" : "ActivationKey",
        "deprecated" : false,
        "documentation" : "<p>Your agent activation key. You can get the activation key either by sending an HTTP GET request with redirects that enable you to get the agent IP address (port 80). Alternatively, you can get it from the AWS DataSync console. </p> <p>The redirect URL returned in the response provides you the activation key for your agent in the query string parameter <code>activationKey</code>. It might also include other activation-related parameters; however, these are merely defaults. The arguments you pass to this API call determine the actual configuration of your agent. For more information, see <a href=\"https://docs.aws.amazon.com/sync-service/latest/userguide/working-with-sync-agents.html#activating-sync-agent\">Activating a Sync Agent</a> in the <i>AWS DataSync User Guide.</i> </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Your agent activation key. You can get the activation key either by sending an HTTP GET request with redirects that enable you to get the agent IP address (port 80). Alternatively, you can get it from the AWS DataSync console. </p> <p>The redirect URL returned in the response provides you the activation key for your agent in the query string parameter <code>activationKey</code>. It might also include other activation-related parameters; however, these are merely defaults. The arguments you pass to this API call determine the actual configuration of your agent. For more information, see <a href=\"https://docs.aws.amazon.com/sync-service/latest/userguide/working-with-sync-agents.html#activating-sync-agent\">Activating a Sync Agent</a> in the <i>AWS DataSync User Guide.</i> </p>\n@param activationKey Your agent activation key. You can get the activation key either by sending an HTTP GET request with redirects that enable you to get the agent IP address (port 80). Alternatively, you can get it from the AWS DataSync console. </p> <p>The redirect URL returned in the response provides you the activation key for your agent in the query string parameter <code>activationKey</code>. It might also include other activation-related parameters; however, these are merely defaults. The arguments you pass to this API call determine the actual configuration of your agent. For more information, see <a href=\"https://docs.aws.amazon.com/sync-service/latest/userguide/working-with-sync-agents.html#activating-sync-agent\">Activating a Sync Agent</a> in the <i>AWS DataSync User Guide.</i>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withActivationKey",
        "getterDocumentation" : "/**<p>Your agent activation key. You can get the activation key either by sending an HTTP GET request with redirects that enable you to get the agent IP address (port 80). Alternatively, you can get it from the AWS DataSync console. </p> <p>The redirect URL returned in the response provides you the activation key for your agent in the query string parameter <code>activationKey</code>. It might also include other activation-related parameters; however, these are merely defaults. The arguments you pass to this API call determine the actual configuration of your agent. For more information, see <a href=\"https://docs.aws.amazon.com/sync-service/latest/userguide/working-with-sync-agents.html#activating-sync-agent\">Activating a Sync Agent</a> in the <i>AWS DataSync User Guide.</i> </p>\n@return Your agent activation key. You can get the activation key either by sending an HTTP GET request with redirects that enable you to get the agent IP address (port 80). Alternatively, you can get it from the AWS DataSync console. </p> <p>The redirect URL returned in the response provides you the activation key for your agent in the query string parameter <code>activationKey</code>. It might also include other activation-related parameters; however, these are merely defaults. The arguments you pass to this API call determine the actual configuration of your agent. For more information, see <a href=\"https://docs.aws.amazon.com/sync-service/latest/userguide/working-with-sync-agents.html#activating-sync-agent\">Activating a Sync Agent</a> in the <i>AWS DataSync User Guide.</i>*/",
        "getterMethodName" : "getActivationKey",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ActivationKey",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ActivationKey",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ActivationKey",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Your agent activation key. You can get the activation key either by sending an HTTP GET request with redirects that enable you to get the agent IP address (port 80). Alternatively, you can get it from the AWS DataSync console. </p> <p>The redirect URL returned in the response provides you the activation key for your agent in the query string parameter <code>activationKey</code>. It might also include other activation-related parameters; however, these are merely defaults. The arguments you pass to this API call determine the actual configuration of your agent. For more information, see <a href=\"https://docs.aws.amazon.com/sync-service/latest/userguide/working-with-sync-agents.html#activating-sync-agent\">Activating a Sync Agent</a> in the <i>AWS DataSync User Guide.</i> </p>\n@param activationKey Your agent activation key. You can get the activation key either by sending an HTTP GET request with redirects that enable you to get the agent IP address (port 80). Alternatively, you can get it from the AWS DataSync console. </p> <p>The redirect URL returned in the response provides you the activation key for your agent in the query string parameter <code>activationKey</code>. It might also include other activation-related parameters; however, these are merely defaults. The arguments you pass to this API call determine the actual configuration of your agent. For more information, see <a href=\"https://docs.aws.amazon.com/sync-service/latest/userguide/working-with-sync-agents.html#activating-sync-agent\">Activating a Sync Agent</a> in the <i>AWS DataSync User Guide.</i>*/",
        "setterMethodName" : "setActivationKey",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "activationKey",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Your agent activation key. You can get the activation key either by sending an HTTP GET request with redirects that enable you to get the agent IP address (port 80). Alternatively, you can get it from the AWS DataSync console. </p> <p>The redirect URL returned in the response provides you the activation key for your agent in the query string parameter <code>activationKey</code>. It might also include other activation-related parameters; however, these are merely defaults. The arguments you pass to this API call determine the actual configuration of your agent. For more information, see <a href=\"https://docs.aws.amazon.com/sync-service/latest/userguide/working-with-sync-agents.html#activating-sync-agent\">Activating a Sync Agent</a> in the <i>AWS DataSync User Guide.</i> </p>\n@param activationKey Your agent activation key. You can get the activation key either by sending an HTTP GET request with redirects that enable you to get the agent IP address (port 80). Alternatively, you can get it from the AWS DataSync console. </p> <p>The redirect URL returned in the response provides you the activation key for your agent in the query string parameter <code>activationKey</code>. It might also include other activation-related parameters; however, these are merely defaults. The arguments you pass to this API call determine the actual configuration of your agent. For more information, see <a href=\"https://docs.aws.amazon.com/sync-service/latest/userguide/working-with-sync-agents.html#activating-sync-agent\">Activating a Sync Agent</a> in the <i>AWS DataSync User Guide.</i>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "activationKey",
          "variableType" : "String",
          "documentation" : "<p>Your agent activation key. You can get the activation key either by sending an HTTP GET request with redirects that enable you to get the agent IP address (port 80). Alternatively, you can get it from the AWS DataSync console. </p> <p>The redirect URL returned in the response provides you the activation key for your agent in the query string parameter <code>activationKey</code>. It might also include other activation-related parameters; however, these are merely defaults. The arguments you pass to this API call determine the actual configuration of your agent. For more information, see <a href=\"https://docs.aws.amazon.com/sync-service/latest/userguide/working-with-sync-agents.html#activating-sync-agent\">Activating a Sync Agent</a> in the <i>AWS DataSync User Guide.</i> </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AgentName",
        "c2jShape" : "TagValue",
        "deprecated" : false,
        "documentation" : "<p>The name you configured for your agent. This value is a text reference that is used to identify the agent in the console.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name you configured for your agent. This value is a text reference that is used to identify the agent in the console.</p>\n@param agentName The name you configured for your agent. This value is a text reference that is used to identify the agent in the console.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAgentName",
        "getterDocumentation" : "/**<p>The name you configured for your agent. This value is a text reference that is used to identify the agent in the console.</p>\n@return The name you configured for your agent. This value is a text reference that is used to identify the agent in the console.*/",
        "getterMethodName" : "getAgentName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AgentName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AgentName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AgentName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name you configured for your agent. This value is a text reference that is used to identify the agent in the console.</p>\n@param agentName The name you configured for your agent. This value is a text reference that is used to identify the agent in the console.*/",
        "setterMethodName" : "setAgentName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "agentName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name you configured for your agent. This value is a text reference that is used to identify the agent in the console.</p>\n@param agentName The name you configured for your agent. This value is a text reference that is used to identify the agent in the console.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "agentName",
          "variableType" : "String",
          "documentation" : "<p>The name you configured for your agent. This value is a text reference that is used to identify the agent in the console.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Tags",
        "c2jShape" : "TagList",
        "deprecated" : false,
        "documentation" : "<p>The key-value pair that represents the tag you want to associate with the agent. The value can be an empty string. This value helps you manage, filter, and search for your agents.</p> <note> <p>Valid characters for key and value are letters, spaces, and numbers representable in UTF-8 format, and the following special characters: + - = . _ : / @. </p> </note>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The key-value pair that represents the tag you want to associate with the agent. The value can be an empty string. This value helps you manage, filter, and search for your agents.</p> <note> <p>Valid characters for key and value are letters, spaces, and numbers representable in UTF-8 format, and the following special characters: + - = . _ : / @. </p> </note>\n@param tags The key-value pair that represents the tag you want to associate with the agent. The value can be an empty string. This value helps you manage, filter, and search for your agents.</p> <note> <p>Valid characters for key and value are letters, spaces, and numbers representable in UTF-8 format, and the following special characters: + - = . _ : / @. </p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>The key-value pair that represents the tag you want to associate with the agent. The value can be an empty string. This value helps you manage, filter, and search for your agents.</p> <note> <p>Valid characters for key and value are letters, spaces, and numbers representable in UTF-8 format, and the following special characters: + - = . _ : / @. </p> </note>\n@return The key-value pair that represents the tag you want to associate with the agent. The value can be an empty string. This value helps you manage, filter, and search for your agents.</p> <note> <p>Valid characters for key and value are letters, spaces, and numbers representable in UTF-8 format, and the following special characters: + - = . _ : / @. </p>*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.List<TagListEntry>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Tags",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "TagListEntry",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "TagListEntry",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "TagListEntry",
              "variableName" : "member",
              "variableType" : "TagListEntry",
              "documentation" : "",
              "simpleType" : "TagListEntry",
              "variableSetterType" : "TagListEntry"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "TagListEntry",
              "variableName" : "member",
              "variableType" : "TagListEntry",
              "documentation" : "",
              "simpleType" : "TagListEntry",
              "variableSetterType" : "TagListEntry"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "TagListEntry",
[...]
