{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2017-07-25",
    "asyncClient" : "AWSDataExchangeAsyncClient",
    "asyncClientBuilderClassName" : "AWSDataExchangeAsyncClientBuilder",
    "asyncInterface" : "AWSDataExchangeAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSDataExchangeModuleInjector",
    "defaultEndpoint" : "dataexchange.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "dataexchange.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS Data Exchange is a service that makes it easy for AWS customers to exchange data in the cloud. You can use the AWS Data Exchange APIs to create, update, manage, and access file-based data set in the AWS Cloud.</p><p>As a subscriber, you can view and access the data sets that you have an entitlement to through a subscription. You can use the APIS to download or copy your entitled data sets to Amazon S3 for use across a variety of AWS analytics and machine learning services.</p><p>As a provider, you can create and manage your data sets that you would like to publish to a product. Being able to package and provide your data sets into products requires a few steps to determine eligibility. For more information, visit the AWS Data Exchange User Guide.</p><p>A data set is a collection of data that can be changed or updated over time. Data sets can be updated using revisions, which represent a new version or incremental change to a data set.  A revision contains one or more assets. An asset in AWS Data Exchange is a piece of data that can be stored as an Amazon S3 object. The asset can be a structured data file, an image file, or some other data file. Jobs are asynchronous import or export operations used to create or copy assets.</p>",
    "endpointPrefix" : "dataexchange",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.dataexchange",
    "packagePath" : "com/amazonaws/services/dataexchange",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Data Exchange",
    "serviceId" : "DataExchange",
    "serviceName" : "AWS Data Exchange",
    "signingName" : "dataexchange",
    "smokeTestsPackageName" : "com.amazonaws.services.dataexchange.smoketests",
    "syncClient" : "AWSDataExchangeClient",
    "syncClientBuilderClassName" : "AWSDataExchangeClientBuilder",
    "syncInterface" : "AWSDataExchange",
    "uid" : "dataexchange-2017-07-25",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelJobRequest, CancelJobResult>",
      "asyncReturnType" : "CancelJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation cancels a job. Jobs can be cancelled only when they are in the WAITING state.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelJobRequest",
        "variableName" : "cancelJobRequest",
        "variableType" : "CancelJobRequest",
        "documentation" : "",
        "simpleType" : "CancelJobRequest",
        "variableSetterType" : "CancelJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelJob",
      "operationName" : "CancelJob",
      "returnType" : {
        "returnType" : "CancelJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelJobResult"
    },
    "CreateDataSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDataSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDataSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDataSetRequest, CreateDataSetResult>",
      "asyncReturnType" : "CreateDataSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation creates a data set.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>402 response</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDataSetRequest",
        "variableName" : "createDataSetRequest",
        "variableType" : "CreateDataSetRequest",
        "documentation" : "<p>The request body for CreateDataSet.</p>",
        "simpleType" : "CreateDataSetRequest",
        "variableSetterType" : "CreateDataSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataSet",
      "operationName" : "CreateDataSet",
      "returnType" : {
        "returnType" : "CreateDataSetResult",
        "documentation" : "<p>201 response</p>"
      },
      "syncReturnType" : "CreateDataSetResult"
    },
    "CreateJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateJobRequest, CreateJobResult>",
      "asyncReturnType" : "CreateJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation creates a job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateJobRequest",
        "variableName" : "createJobRequest",
        "variableType" : "CreateJobRequest",
        "documentation" : "<p>The request body for CreateJob.</p>",
        "simpleType" : "CreateJobRequest",
        "variableSetterType" : "CreateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createJob",
      "operationName" : "CreateJob",
      "returnType" : {
        "returnType" : "CreateJobResult",
        "documentation" : "<p>201 response</p>"
      },
      "syncReturnType" : "CreateJobResult"
    },
    "CreateRevision" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRevisionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRevisionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRevisionRequest, CreateRevisionResult>",
      "asyncReturnType" : "CreateRevisionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation creates a revision for a data set.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRevisionRequest",
        "variableName" : "createRevisionRequest",
        "variableType" : "CreateRevisionRequest",
        "documentation" : "<p>The request body for CreateRevision.</p>",
        "simpleType" : "CreateRevisionRequest",
        "variableSetterType" : "CreateRevisionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRevision",
      "operationName" : "CreateRevision",
      "returnType" : {
        "returnType" : "CreateRevisionResult",
        "documentation" : "<p>201 response</p>"
      },
      "syncReturnType" : "CreateRevisionResult"
    },
    "DeleteAsset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAssetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAssetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAssetRequest, DeleteAssetResult>",
      "asyncReturnType" : "DeleteAssetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation deletes an asset.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAssetRequest",
        "variableName" : "deleteAssetRequest",
        "variableType" : "DeleteAssetRequest",
        "documentation" : "",
        "simpleType" : "DeleteAssetRequest",
        "variableSetterType" : "DeleteAssetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAsset",
      "operationName" : "DeleteAsset",
      "returnType" : {
        "returnType" : "DeleteAssetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAssetResult"
    },
    "DeleteDataSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDataSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDataSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDataSetRequest, DeleteDataSetResult>",
      "asyncReturnType" : "DeleteDataSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation deletes a data set.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDataSetRequest",
        "variableName" : "deleteDataSetRequest",
        "variableType" : "DeleteDataSetRequest",
        "documentation" : "",
        "simpleType" : "DeleteDataSetRequest",
        "variableSetterType" : "DeleteDataSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDataSet",
      "operationName" : "DeleteDataSet",
      "returnType" : {
        "returnType" : "DeleteDataSetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDataSetResult"
    },
    "DeleteRevision" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRevisionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRevisionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRevisionRequest, DeleteRevisionResult>",
      "asyncReturnType" : "DeleteRevisionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation deletes a revision.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRevisionRequest",
        "variableName" : "deleteRevisionRequest",
        "variableType" : "DeleteRevisionRequest",
        "documentation" : "",
        "simpleType" : "DeleteRevisionRequest",
        "variableSetterType" : "DeleteRevisionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRevision",
      "operationName" : "DeleteRevision",
      "returnType" : {
        "returnType" : "DeleteRevisionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRevisionResult"
    },
    "GetAsset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAssetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAssetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAssetRequest, GetAssetResult>",
      "asyncReturnType" : "GetAssetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns information about an asset.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAssetRequest",
        "variableName" : "getAssetRequest",
        "variableType" : "GetAssetRequest",
        "documentation" : "",
        "simpleType" : "GetAssetRequest",
        "variableSetterType" : "GetAssetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAsset",
      "operationName" : "GetAsset",
      "returnType" : {
        "returnType" : "GetAssetResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "GetAssetResult"
    },
    "GetDataSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDataSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDataSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDataSetRequest, GetDataSetResult>",
      "asyncReturnType" : "GetDataSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns information about a data set.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDataSetRequest",
        "variableName" : "getDataSetRequest",
        "variableType" : "GetDataSetRequest",
        "documentation" : "",
        "simpleType" : "GetDataSetRequest",
        "variableSetterType" : "GetDataSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDataSet",
      "operationName" : "GetDataSet",
      "returnType" : {
        "returnType" : "GetDataSetResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "GetDataSetResult"
    },
    "GetJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetJobRequest, GetJobResult>",
      "asyncReturnType" : "GetJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns information about a job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetJobRequest",
        "variableName" : "getJobRequest",
        "variableType" : "GetJobRequest",
        "documentation" : "",
        "simpleType" : "GetJobRequest",
        "variableSetterType" : "GetJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getJob",
      "operationName" : "GetJob",
      "returnType" : {
        "returnType" : "GetJobResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "GetJobResult"
    },
    "GetRevision" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRevisionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRevisionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRevisionRequest, GetRevisionResult>",
      "asyncReturnType" : "GetRevisionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation returns information about a revision.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRevisionRequest",
        "variableName" : "getRevisionRequest",
        "variableType" : "GetRevisionRequest",
        "documentation" : "",
        "simpleType" : "GetRevisionRequest",
        "variableSetterType" : "GetRevisionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRevision",
      "operationName" : "GetRevision",
      "returnType" : {
        "returnType" : "GetRevisionResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "GetRevisionResult"
    },
    "ListDataSetRevisions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDataSetRevisionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDataSetRevisionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDataSetRevisionsRequest, ListDataSetRevisionsResult>",
      "asyncReturnType" : "ListDataSetRevisionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation lists a data set's revisions sorted by CreatedAt in descending order.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDataSetRevisionsRequest",
        "variableName" : "listDataSetRevisionsRequest",
        "variableType" : "ListDataSetRevisionsRequest",
        "documentation" : "",
        "simpleType" : "ListDataSetRevisionsRequest",
        "variableSetterType" : "ListDataSetRevisionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDataSetRevisions",
      "operationName" : "ListDataSetRevisions",
      "returnType" : {
        "returnType" : "ListDataSetRevisionsResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "ListDataSetRevisionsResult"
    },
    "ListDataSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDataSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDataSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDataSetsRequest, ListDataSetsResult>",
      "asyncReturnType" : "ListDataSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation lists your data sets. When listing by origin OWNED, results are sorted by CreatedAt in descending order. When listing by origin ENTITLED, there is no order and the maxResults parameter is ignored.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDataSetsRequest",
        "variableName" : "listDataSetsRequest",
        "variableType" : "ListDataSetsRequest",
        "documentation" : "",
        "simpleType" : "ListDataSetsRequest",
        "variableSetterType" : "ListDataSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDataSets",
      "operationName" : "ListDataSets",
      "returnType" : {
        "returnType" : "ListDataSetsResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "ListDataSetsResult"
    },
    "ListJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobsRequest, ListJobsResult>",
      "asyncReturnType" : "ListJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation lists your jobs sorted by CreatedAt in descending order.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListJobsRequest",
        "variableName" : "listJobsRequest",
        "variableType" : "ListJobsRequest",
        "documentation" : "",
        "simpleType" : "ListJobsRequest",
        "variableSetterType" : "ListJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listJobs",
      "operationName" : "ListJobs",
      "returnType" : {
        "returnType" : "ListJobsResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "ListJobsResult"
    },
    "ListRevisionAssets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRevisionAssetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRevisionAssetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRevisionAssetsRequest, ListRevisionAssetsResult>",
      "asyncReturnType" : "ListRevisionAssetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation lists a revision's assets sorted alphabetically in descending order.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRevisionAssetsRequest",
        "variableName" : "listRevisionAssetsRequest",
        "variableType" : "ListRevisionAssetsRequest",
        "documentation" : "",
        "simpleType" : "ListRevisionAssetsRequest",
        "variableSetterType" : "ListRevisionAssetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRevisionAssets",
      "operationName" : "ListRevisionAssets",
      "returnType" : {
        "returnType" : "ListRevisionAssetsResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "ListRevisionAssetsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation lists the tags on the resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "StartJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartJobRequest, StartJobResult>",
      "asyncReturnType" : "StartJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation starts a job.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartJobRequest",
        "variableName" : "startJobRequest",
        "variableType" : "StartJobRequest",
        "documentation" : "",
        "simpleType" : "StartJobRequest",
        "variableSetterType" : "StartJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startJob",
      "operationName" : "StartJob",
      "returnType" : {
        "returnType" : "StartJobResult",
        "documentation" : "<p>202 response</p>"
      },
      "syncReturnType" : "StartJobResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation tags a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "<p>The request body for TagResource.</p>",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation removes one or more tags from a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateAsset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAssetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAssetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAssetRequest, UpdateAssetResult>",
      "asyncReturnType" : "UpdateAssetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation updates an asset.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAssetRequest",
        "variableName" : "updateAssetRequest",
        "variableType" : "UpdateAssetRequest",
        "documentation" : "<p>The request body for UpdateAsset.</p>",
        "simpleType" : "UpdateAssetRequest",
        "variableSetterType" : "UpdateAssetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAsset",
      "operationName" : "UpdateAsset",
      "returnType" : {
        "returnType" : "UpdateAssetResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "UpdateAssetResult"
    },
    "UpdateDataSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDataSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDataSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDataSetRequest, UpdateDataSetResult>",
      "asyncReturnType" : "UpdateDataSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation updates a data set.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDataSetRequest",
        "variableName" : "updateDataSetRequest",
        "variableType" : "UpdateDataSetRequest",
        "documentation" : "<p>The request body for UpdateDataSet.</p>",
        "simpleType" : "UpdateDataSetRequest",
        "variableSetterType" : "UpdateDataSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDataSet",
      "operationName" : "UpdateDataSet",
      "returnType" : {
        "returnType" : "UpdateDataSetResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "UpdateDataSetResult"
    },
    "UpdateRevision" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRevisionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRevisionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRevisionRequest, UpdateRevisionResult>",
      "asyncReturnType" : "UpdateRevisionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation updates a revision.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>403 response</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>429 response</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>409 response</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRevisionRequest",
        "variableName" : "updateRevisionRequest",
        "variableType" : "UpdateRevisionRequest",
        "documentation" : "<p>The request body for UpdateRevision.</p>",
        "simpleType" : "UpdateRevisionRequest",
        "variableSetterType" : "UpdateRevisionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRevision",
      "operationName" : "UpdateRevision",
      "returnType" : {
        "returnType" : "UpdateRevisionResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "UpdateRevisionResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Access to the resource is denied.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AssetDestinationEntry" : {
      "c2jName" : "AssetDestinationEntry",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The destination for the asset.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AssetId",
        "c2jShape" : "Id",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier for the asset.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier for the asset.</p>\n@param assetId The unique identifier for the asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAssetId",
        "getterDocumentation" : "/**<p>The unique identifier for the asset.</p>\n@return The unique identifier for the asset.*/",
        "getterMethodName" : "getAssetId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AssetId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AssetId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AssetId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique identifier for the asset.</p>\n@param assetId The unique identifier for the asset.*/",
        "setterMethodName" : "setAssetId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "assetId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier for the asset.</p>\n@param assetId The unique identifier for the asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "assetId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier for the asset.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Bucket",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The S3 bucket that is the destination for the asset.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The S3 bucket that is the destination for the asset.</p>\n@param bucket The S3 bucket that is the destination for the asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBucket",
        "getterDocumentation" : "/**<p>The S3 bucket that is the destination for the asset.</p>\n@return The S3 bucket that is the destination for the asset.*/",
        "getterMethodName" : "getBucket",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Bucket",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Bucket",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Bucket",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The S3 bucket that is the destination for the asset.</p>\n@param bucket The S3 bucket that is the destination for the asset.*/",
        "setterMethodName" : "setBucket",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "bucket",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The S3 bucket that is the destination for the asset.</p>\n@param bucket The S3 bucket that is the destination for the asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "bucket",
          "variableType" : "String",
          "documentation" : "<p>The S3 bucket that is the destination for the asset.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Key",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The name of the object in Amazon S3 for the asset.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the object in Amazon S3 for the asset.</p>\n@param key The name of the object in Amazon S3 for the asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withKey",
        "getterDocumentation" : "/**<p>The name of the object in Amazon S3 for the asset.</p>\n@return The name of the object in Amazon S3 for the asset.*/",
        "getterMethodName" : "getKey",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Key",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Key",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Key",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the object in Amazon S3 for the asset.</p>\n@param key The name of the object in Amazon S3 for the asset.*/",
        "setterMethodName" : "setKey",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "key",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the object in Amazon S3 for the asset.</p>\n@param key The name of the object in Amazon S3 for the asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "key",
          "variableType" : "String",
          "documentation" : "<p>The name of the object in Amazon S3 for the asset.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AssetId" : {
          "c2jName" : "AssetId",
          "c2jShape" : "Id",
          "deprecated" : false,
          "documentation" : "<p>The unique identifier for the asset.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique identifier for the asset.</p>\n@param assetId The unique identifier for the asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAssetId",
          "getterDocumentation" : "/**<p>The unique identifier for the asset.</p>\n@return The unique identifier for the asset.*/",
          "getterMethodName" : "getAssetId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AssetId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AssetId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AssetId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The unique identifier for the asset.</p>\n@param assetId The unique identifier for the asset.*/",
          "setterMethodName" : "setAssetId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "assetId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The unique identifier for the asset.</p>\n@param assetId The unique identifier for the asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "assetId",
            "variableType" : "String",
            "documentation" : "<p>The unique identifier for the asset.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Bucket" : {
          "c2jName" : "Bucket",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>The S3 bucket that is the destination for the asset.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The S3 bucket that is the destination for the asset.</p>\n@param bucket The S3 bucket that is the destination for the asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBucket",
          "getterDocumentation" : "/**<p>The S3 bucket that is the destination for the asset.</p>\n@return The S3 bucket that is the destination for the asset.*/",
          "getterMethodName" : "getBucket",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Bucket",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Bucket",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Bucket",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The S3 bucket that is the destination for the asset.</p>\n@param bucket The S3 bucket that is the destination for the asset.*/",
          "setterMethodName" : "setBucket",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "bucket",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The S3 bucket that is the destination for the asset.</p>\n@param bucket The S3 bucket that is the destination for the asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "bucket",
            "variableType" : "String",
            "documentation" : "<p>The S3 bucket that is the destination for the asset.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Key" : {
          "c2jName" : "Key",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>The name of the object in Amazon S3 for the asset.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the object in Amazon S3 for the asset.</p>\n@param key The name of the object in Amazon S3 for the asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withKey",
          "getterDocumentation" : "/**<p>The name of the object in Amazon S3 for the asset.</p>\n@return The name of the object in Amazon S3 for the asset.*/",
          "getterMethodName" : "getKey",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Key",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Key",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Key",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the object in Amazon S3 for the asset.</p>\n@param key The name of the object in Amazon S3 for the asset.*/",
          "setterMethodName" : "setKey",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "key",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the object in Amazon S3 for the asset.</p>\n@param key The name of the object in Amazon S3 for the asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "key",
            "variableType" : "String",
            "documentation" : "<p>The name of the object in Amazon S3 for the asset.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Bucket", "AssetId" ],
      "shapeName" : "AssetDestinationEntry",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssetDestinationEntry",
        "variableName" : "assetDestinationEntry",
        "variableType" : "AssetDestinationEntry",
        "documentation" : null,
        "simpleType" : "AssetDestinationEntry",
        "variableSetterType" : "AssetDestinationEntry"
      },
      "wrapper" : false
    },
    "AssetDetails" : {
      "c2jName" : "AssetDetails",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "S3SnapshotAsset",
        "c2jShape" : "S3SnapshotAsset",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param s3SnapshotAsset \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withS3SnapshotAsset",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getS3SnapshotAsset",
        "getterModel" : {
          "returnType" : "S3SnapshotAsset",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "S3SnapshotAsset",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "S3SnapshotAsset",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "S3SnapshotAsset",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param s3SnapshotAsset */",
        "setterMethodName" : "setS3SnapshotAsset",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "S3SnapshotAsset",
          "variableName" : "s3SnapshotAsset",
          "variableType" : "S3SnapshotAsset",
          "documentation" : "",
          "simpleType" : "S3SnapshotAsset",
          "variableSetterType" : "S3SnapshotAsset"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param s3SnapshotAsset \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "S3SnapshotAsset",
          "variableName" : "s3SnapshotAsset",
          "variableType" : "S3SnapshotAsset",
          "documentation" : "",
          "simpleType" : "S3SnapshotAsset",
          "variableSetterType" : "S3SnapshotAsset"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "S3SnapshotAsset" : {
          "c2jName" : "S3SnapshotAsset",
          "c2jShape" : "S3SnapshotAsset",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param s3SnapshotAsset \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withS3SnapshotAsset",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getS3SnapshotAsset",
          "getterModel" : {
            "returnType" : "S3SnapshotAsset",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "S3SnapshotAsset",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "S3SnapshotAsset",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "S3SnapshotAsset",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param s3SnapshotAsset */",
          "setterMethodName" : "setS3SnapshotAsset",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "S3SnapshotAsset",
            "variableName" : "s3SnapshotAsset",
            "variableType" : "S3SnapshotAsset",
            "documentation" : "",
            "simpleType" : "S3SnapshotAsset",
            "variableSetterType" : "S3SnapshotAsset"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param s3SnapshotAsset \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "S3SnapshotAsset",
            "variableName" : "s3SnapshotAsset",
            "variableType" : "S3SnapshotAsset",
            "documentation" : "",
            "simpleType" : "S3SnapshotAsset",
            "variableSetterType" : "S3SnapshotAsset"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssetDetails",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssetDetails",
        "variableName" : "assetDetails",
        "variableType" : "AssetDetails",
        "documentation" : null,
        "simpleType" : "AssetDetails",
        "variableSetterType" : "AssetDetails"
      },
      "wrapper" : false
    },
    "AssetEntry" : {
      "c2jName" : "AssetEntry",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An asset in AWS Data Exchange is a piece of data that can be stored as an S3 object. The asset can be a structured data file, an image file, or some other data file. When you create an import job for your files, you create an asset in AWS Data Exchange for each of those files.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Arn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The ARN for the asset.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN for the asset.</p>\n@param arn The ARN for the asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArn",
        "getterDocumentation" : "/**<p>The ARN for the asset.</p>\n@return The ARN for the asset.*/",
        "getterMethodName" : "getArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Arn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Arn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN for the asset.</p>\n@param arn The ARN for the asset.*/",
        "setterMethodName" : "setArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN for the asset.</p>\n@param arn The ARN for the asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "<p>The ARN for the asset.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AssetDetails",
        "c2jShape" : "AssetDetails",
        "deprecated" : false,
        "documentation" : "<p>Information about the asset, including its size.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the asset, including its size.</p>\n@param assetDetails Information about the asset, including its size.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAssetDetails",
        "getterDocumentation" : "/**<p>Information about the asset, including its size.</p>\n@return Information about the asset, including its size.*/",
        "getterMethodName" : "getAssetDetails",
        "getterModel" : {
          "returnType" : "AssetDetails",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AssetDetails",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AssetDetails",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "AssetDetails",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information about the asset, including its size.</p>\n@param assetDetails Information about the asset, including its size.*/",
        "setterMethodName" : "setAssetDetails",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AssetDetails",
          "variableName" : "assetDetails",
          "variableType" : "AssetDetails",
          "documentation" : "",
          "simpleType" : "AssetDetails",
          "variableSetterType" : "AssetDetails"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about the asset, including its size.</p>\n@param assetDetails Information about the asset, including its size.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AssetDetails",
          "variableName" : "assetDetails",
          "variableType" : "AssetDetails",
          "documentation" : "<p>Information about the asset, including its size.</p>",
          "simpleType" : "AssetDetails",
          "variableSetterType" : "AssetDetails"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AssetType",
        "c2jShape" : "AssetType",
        "deprecated" : false,
        "documentation" : "<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>",
        "enumType" : "AssetType",
        "fluentSetterDocumentation" : "/**<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>\n@param assetType The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AssetType*/",
        "fluentSetterMethodName" : "withAssetType",
        "getterDocumentation" : "/**<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>\n@return The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.\n@see AssetType*/",
        "getterMethodName" : "getAssetType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AssetType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AssetType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AssetType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>\n@param assetType The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.\n@see AssetType*/",
        "setterMethodName" : "setAssetType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "assetType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>\n@param assetType The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AssetType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "assetType",
          "variableType" : "String",
          "documentation" : "<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreatedAt",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The date and time that the asset was created, in ISO 8601 format.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date and time that the asset was created, in ISO 8601 format.</p>\n@param createdAt The date and time that the asset was created, in ISO 8601 format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedAt",
        "getterDocumentation" : "/**<p>The date and time that the asset was created, in ISO 8601 format.</p>\n@return The date and time that the asset was created, in ISO 8601 format.*/",
        "getterMethodName" : "getCreatedAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CreatedAt",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreatedAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreatedAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date and time that the asset was created, in ISO 8601 format.</p>\n@param createdAt The date and time that the asset was created, in ISO 8601 format.*/",
        "setterMethodName" : "setCreatedAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date and time that the asset was created, in ISO 8601 format.</p>\n@param createdAt The date and time that the asset was created, in ISO 8601 format.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "iso8601",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date and time that the asset was created, in ISO 8601 format.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DataSetId",
        "c2jShape" : "Id",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier for the data set associated with this asset.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier for the data set associated with this asset.</p>\n@param dataSetId The unique identifier for the data set associated with this asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDataSetId",
        "getterDocumentation" : "/**<p>The unique identifier for the data set associated with this asset.</p>\n@return The unique identifier for the data set associated with this asset.*/",
        "getterMethodName" : "getDataSetId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DataSetId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DataSetId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DataSetId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique identifier for the data set associated with this asset.</p>\n@param dataSetId The unique identifier for the data set associated with this asset.*/",
        "setterMethodName" : "setDataSetId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "dataSetId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier for the data set associated with this asset.</p>\n@param dataSetId The unique identifier for the data set associated with this asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "dataSetId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier for the data set associated with this asset.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Id",
        "c2jShape" : "Id",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier for the asset.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier for the asset.</p>\n@param id The unique identifier for the asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p>The unique identifier for the asset.</p>\n@return The unique identifier for the asset.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique identifier for the asset.</p>\n@param id The unique identifier for the asset.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier for the asset.</p>\n@param id The unique identifier for the asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier for the asset.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Name",
        "c2jShape" : "AssetName",
        "deprecated" : false,
        "documentation" : "<p>The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.</p>\n@param name The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.</p>\n@return The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.</p>\n@param name The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.</p>\n@param name The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RevisionId",
        "c2jShape" : "Id",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier for the revision associated with this asset.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier for the revision associated with this asset.</p>\n@param revisionId The unique identifier for the revision associated with this asset.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRevisionId",
        "getterDocumentation" : "/**<p>The unique identifier for the revision associated with this asset.</p>\n@return The unique identifier for the revision associated with this asset.*/",
        "getterMethodName" : "getRevisionId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RevisionId",
          "queryString" : false,
          "requiresLength" : false,
[...]
