{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-09-29",
    "asyncClient" : "AWSIoTJobsDataPlaneAsyncClient",
    "asyncClientBuilderClassName" : "AWSIoTJobsDataPlaneAsyncClientBuilder",
    "asyncInterface" : "AWSIoTJobsDataPlaneAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSIoTJobsDataPlaneModuleInjector",
    "defaultEndpoint" : "data.jobs.iot.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "data.jobs.iot.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS IoT Jobs is a service that allows you to define a set of jobs — remote operations that are sent to and executed on one or more devices connected to AWS IoT. For example, you can define a job that instructs a set of devices to download and install application or firmware updates, reboot, rotate certificates, or perform remote troubleshooting operations.</p> <p> To create a job, you make a job document which is a description of the remote operations to be performed, and you specify a list of targets that should perform the operations. The targets can be individual things, thing groups or both.</p> <p> AWS IoT Jobs sends a message to inform the targets that a job is available. The target starts the execution of the job by downloading the job document, performing the operations it specifies, and reporting its progress to AWS IoT. The Jobs service provides commands to track the progress of a job on a specific target and for all the targets of the job</p>",
    "endpointPrefix" : "data.jobs.iot",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.iotjobsdataplane",
    "packagePath" : "com/amazonaws/services/iotjobsdataplane",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS IoT Jobs Data Plane",
    "serviceId" : "IoT Jobs Data Plane",
    "serviceName" : "AWS IoT Jobs Data Plane",
    "signingName" : "iot-jobs-data",
    "smokeTestsPackageName" : "com.amazonaws.services.iotjobsdataplane.smoketests",
    "syncClient" : "AWSIoTJobsDataPlaneClient",
    "syncClientBuilderClassName" : "AWSIoTJobsDataPlaneClientBuilder",
    "syncInterface" : "AWSIoTJobsDataPlane",
    "uid" : "iot-jobs-data-2017-09-29",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DescribeJobExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJobExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJobExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJobExecutionRequest, DescribeJobExecutionResult>",
      "asyncReturnType" : "DescribeJobExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets details of a job execution.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The contents of the request were invalid. For example, this code is returned when an UpdateJobExecution request contains invalid status details. The message contains details about the error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "CertificateValidationException",
        "documentation" : "<p>The certificate is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TerminalStateException",
        "documentation" : "<p>The job is in a terminal state.</p>",
        "httpStatusCode" : 410
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeJobExecutionRequest",
        "variableName" : "describeJobExecutionRequest",
        "variableType" : "DescribeJobExecutionRequest",
        "documentation" : "",
        "simpleType" : "DescribeJobExecutionRequest",
        "variableSetterType" : "DescribeJobExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeJobExecution",
      "operationName" : "DescribeJobExecution",
      "returnType" : {
        "returnType" : "DescribeJobExecutionResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeJobExecutionResult"
    },
    "GetPendingJobExecutions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPendingJobExecutionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPendingJobExecutionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPendingJobExecutionsRequest, GetPendingJobExecutionsResult>",
      "asyncReturnType" : "GetPendingJobExecutionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the list of all jobs for a thing that are not in a terminal status.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The contents of the request were invalid. For example, this code is returned when an UpdateJobExecution request contains invalid status details. The message contains details about the error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "CertificateValidationException",
        "documentation" : "<p>The certificate is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPendingJobExecutionsRequest",
        "variableName" : "getPendingJobExecutionsRequest",
        "variableType" : "GetPendingJobExecutionsRequest",
        "documentation" : "",
        "simpleType" : "GetPendingJobExecutionsRequest",
        "variableSetterType" : "GetPendingJobExecutionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPendingJobExecutions",
      "operationName" : "GetPendingJobExecutions",
      "returnType" : {
        "returnType" : "GetPendingJobExecutionsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPendingJobExecutionsResult"
    },
    "StartNextPendingJobExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartNextPendingJobExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartNextPendingJobExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartNextPendingJobExecutionRequest, StartNextPendingJobExecutionResult>",
      "asyncReturnType" : "StartNextPendingJobExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets and starts the next pending (status IN_PROGRESS or QUEUED) job execution for a thing.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The contents of the request were invalid. For example, this code is returned when an UpdateJobExecution request contains invalid status details. The message contains details about the error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "CertificateValidationException",
        "documentation" : "<p>The certificate is invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartNextPendingJobExecutionRequest",
        "variableName" : "startNextPendingJobExecutionRequest",
        "variableType" : "StartNextPendingJobExecutionRequest",
        "documentation" : "",
        "simpleType" : "StartNextPendingJobExecutionRequest",
        "variableSetterType" : "StartNextPendingJobExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startNextPendingJobExecution",
      "operationName" : "StartNextPendingJobExecution",
      "returnType" : {
        "returnType" : "StartNextPendingJobExecutionResult",
        "documentation" : null
      },
      "syncReturnType" : "StartNextPendingJobExecutionResult"
    },
    "UpdateJobExecution" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateJobExecutionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateJobExecutionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateJobExecutionRequest, UpdateJobExecutionResult>",
      "asyncReturnType" : "UpdateJobExecutionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the status of a job execution.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The contents of the request were invalid. For example, this code is returned when an UpdateJobExecution request contains invalid status details. The message contains details about the error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "CertificateValidationException",
        "documentation" : "<p>The certificate is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidStateTransitionException",
        "documentation" : "<p>An update attempted to change the job execution to a state that is invalid because of the job execution's current state (for example, an attempt to change a request in state SUCCESS to state IN_PROGRESS). In this case, the body of the error message also contains the executionState field.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateJobExecutionRequest",
        "variableName" : "updateJobExecutionRequest",
        "variableType" : "UpdateJobExecutionRequest",
        "documentation" : "",
        "simpleType" : "UpdateJobExecutionRequest",
        "variableSetterType" : "UpdateJobExecutionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateJobExecution",
      "operationName" : "UpdateJobExecution",
      "returnType" : {
        "returnType" : "UpdateJobExecutionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateJobExecutionResult"
    }
  },
  "shapes" : {
    "CertificateValidationException" : {
      "c2jName" : "CertificateValidationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The certificate is invalid.</p>",
      "enums" : null,
      "errorCode" : "CertificateValidationException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CertificateValidationException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CertificateValidationException",
        "variableName" : "certificateValidationException",
        "variableType" : "CertificateValidationException",
        "documentation" : null,
        "simpleType" : "CertificateValidationException",
        "variableSetterType" : "CertificateValidationException"
      },
      "wrapper" : false
    },
    "DescribeJobExecutionRequest" : {
      "c2jName" : "DescribeJobExecutionRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DescribeJobExecution",
        "locationName" : null,
        "requestUri" : "/things/{thingName}/jobs/{jobId}",
        "target" : null,
        "verb" : "GET",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "jobId",
        "c2jShape" : "DescribeJobExecutionJobId",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier assigned to this job when it was created.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier assigned to this job when it was created.</p>\n@param jobId The unique identifier assigned to this job when it was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withJobId",
        "getterDocumentation" : "/**<p>The unique identifier assigned to this job when it was created.</p>\n@return The unique identifier assigned to this job when it was created.*/",
        "getterMethodName" : "getJobId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "jobId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "jobId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "JobId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique identifier assigned to this job when it was created.</p>\n@param jobId The unique identifier assigned to this job when it was created.*/",
        "setterMethodName" : "setJobId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier assigned to this job when it was created.</p>\n@param jobId The unique identifier assigned to this job when it was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier assigned to this job when it was created.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "thingName",
        "c2jShape" : "ThingName",
        "deprecated" : false,
        "documentation" : "<p>The thing name associated with the device the job execution is running on.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The thing name associated with the device the job execution is running on.</p>\n@param thingName The thing name associated with the device the job execution is running on.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withThingName",
        "getterDocumentation" : "/**<p>The thing name associated with the device the job execution is running on.</p>\n@return The thing name associated with the device the job execution is running on.*/",
        "getterMethodName" : "getThingName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "thingName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "thingName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ThingName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The thing name associated with the device the job execution is running on.</p>\n@param thingName The thing name associated with the device the job execution is running on.*/",
        "setterMethodName" : "setThingName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "thingName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The thing name associated with the device the job execution is running on.</p>\n@param thingName The thing name associated with the device the job execution is running on.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "thingName",
          "variableType" : "String",
          "documentation" : "<p>The thing name associated with the device the job execution is running on.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "includeJobDocument",
        "c2jShape" : "IncludeJobDocument",
        "deprecated" : false,
        "documentation" : "<p>Optional. When set to true, the response contains the job document. The default is false.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Optional. When set to true, the response contains the job document. The default is false.</p>\n@param includeJobDocument Optional. When set to true, the response contains the job document. The default is false.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIncludeJobDocument",
        "getterDocumentation" : "/**<p>Optional. When set to true, the response contains the job document. The default is false.</p>\n@return Optional. When set to true, the response contains the job document. The default is false.*/",
        "getterMethodName" : "getIncludeJobDocument",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "querystring",
          "marshallLocation" : "QUERY_PARAM",
          "marshallLocationName" : "includeJobDocument",
          "queryString" : true,
          "statusCode" : false,
          "unmarshallLocationName" : "includeJobDocument",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "IncludeJobDocument",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Optional. When set to true, the response contains the job document. The default is false.</p>\n@param includeJobDocument Optional. When set to true, the response contains the job document. The default is false.*/",
        "setterMethodName" : "setIncludeJobDocument",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "includeJobDocument",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Optional. When set to true, the response contains the job document. The default is false.</p>\n@param includeJobDocument Optional. When set to true, the response contains the job document. The default is false.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "includeJobDocument",
          "variableType" : "Boolean",
          "documentation" : "<p>Optional. When set to true, the response contains the job document. The default is false.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "executionNumber",
        "c2jShape" : "ExecutionNumber",
        "deprecated" : false,
        "documentation" : "<p>Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.</p>\n@param executionNumber Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withExecutionNumber",
        "getterDocumentation" : "/**<p>Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.</p>\n@return Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.*/",
        "getterMethodName" : "getExecutionNumber",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "querystring",
          "marshallLocation" : "QUERY_PARAM",
          "marshallLocationName" : "executionNumber",
          "queryString" : true,
          "statusCode" : false,
          "unmarshallLocationName" : "executionNumber",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "ExecutionNumber",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.</p>\n@param executionNumber Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.*/",
        "setterMethodName" : "setExecutionNumber",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "executionNumber",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.</p>\n@param executionNumber Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "executionNumber",
          "variableType" : "Long",
          "documentation" : "<p>Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ExecutionNumber" : {
          "c2jName" : "executionNumber",
          "c2jShape" : "ExecutionNumber",
          "deprecated" : false,
          "documentation" : "<p>Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.</p>\n@param executionNumber Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withExecutionNumber",
          "getterDocumentation" : "/**<p>Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.</p>\n@return Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.*/",
          "getterMethodName" : "getExecutionNumber",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "querystring",
            "marshallLocation" : "QUERY_PARAM",
            "marshallLocationName" : "executionNumber",
            "queryString" : true,
            "statusCode" : false,
            "unmarshallLocationName" : "executionNumber",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "ExecutionNumber",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.</p>\n@param executionNumber Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.*/",
          "setterMethodName" : "setExecutionNumber",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "executionNumber",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.</p>\n@param executionNumber Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "executionNumber",
            "variableType" : "Long",
            "documentation" : "<p>Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "IncludeJobDocument" : {
          "c2jName" : "includeJobDocument",
          "c2jShape" : "IncludeJobDocument",
          "deprecated" : false,
          "documentation" : "<p>Optional. When set to true, the response contains the job document. The default is false.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Optional. When set to true, the response contains the job document. The default is false.</p>\n@param includeJobDocument Optional. When set to true, the response contains the job document. The default is false.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIncludeJobDocument",
          "getterDocumentation" : "/**<p>Optional. When set to true, the response contains the job document. The default is false.</p>\n@return Optional. When set to true, the response contains the job document. The default is false.*/",
          "getterMethodName" : "getIncludeJobDocument",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "querystring",
            "marshallLocation" : "QUERY_PARAM",
            "marshallLocationName" : "includeJobDocument",
            "queryString" : true,
            "statusCode" : false,
            "unmarshallLocationName" : "includeJobDocument",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "IncludeJobDocument",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Optional. When set to true, the response contains the job document. The default is false.</p>\n@param includeJobDocument Optional. When set to true, the response contains the job document. The default is false.*/",
          "setterMethodName" : "setIncludeJobDocument",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "includeJobDocument",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Optional. When set to true, the response contains the job document. The default is false.</p>\n@param includeJobDocument Optional. When set to true, the response contains the job document. The default is false.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "includeJobDocument",
            "variableType" : "Boolean",
            "documentation" : "<p>Optional. When set to true, the response contains the job document. The default is false.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "JobId" : {
          "c2jName" : "jobId",
          "c2jShape" : "DescribeJobExecutionJobId",
          "deprecated" : false,
          "documentation" : "<p>The unique identifier assigned to this job when it was created.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique identifier assigned to this job when it was created.</p>\n@param jobId The unique identifier assigned to this job when it was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withJobId",
          "getterDocumentation" : "/**<p>The unique identifier assigned to this job when it was created.</p>\n@return The unique identifier assigned to this job when it was created.*/",
          "getterMethodName" : "getJobId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "jobId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "jobId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "JobId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The unique identifier assigned to this job when it was created.</p>\n@param jobId The unique identifier assigned to this job when it was created.*/",
          "setterMethodName" : "setJobId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "jobId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The unique identifier assigned to this job when it was created.</p>\n@param jobId The unique identifier assigned to this job when it was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "jobId",
            "variableType" : "String",
            "documentation" : "<p>The unique identifier assigned to this job when it was created.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ThingName" : {
          "c2jName" : "thingName",
          "c2jShape" : "ThingName",
          "deprecated" : false,
          "documentation" : "<p>The thing name associated with the device the job execution is running on.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The thing name associated with the device the job execution is running on.</p>\n@param thingName The thing name associated with the device the job execution is running on.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withThingName",
          "getterDocumentation" : "/**<p>The thing name associated with the device the job execution is running on.</p>\n@return The thing name associated with the device the job execution is running on.*/",
          "getterMethodName" : "getThingName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "thingName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "thingName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ThingName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The thing name associated with the device the job execution is running on.</p>\n@param thingName The thing name associated with the device the job execution is running on.*/",
          "setterMethodName" : "setThingName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "thingName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The thing name associated with the device the job execution is running on.</p>\n@param thingName The thing name associated with the device the job execution is running on.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "thingName",
            "variableType" : "String",
            "documentation" : "<p>The thing name associated with the device the job execution is running on.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "jobId", "thingName" ],
      "shapeName" : "DescribeJobExecutionRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeJobExecutionRequest",
        "variableName" : "describeJobExecutionRequest",
        "variableType" : "DescribeJobExecutionRequest",
        "documentation" : null,
        "simpleType" : "DescribeJobExecutionRequest",
        "variableSetterType" : "DescribeJobExecutionRequest"
      },
      "wrapper" : false
    },
    "DescribeJobExecutionResult" : {
      "c2jName" : "DescribeJobExecutionResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "execution",
        "c2jShape" : "JobExecution",
        "deprecated" : false,
        "documentation" : "<p>Contains data about a job execution.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Contains data about a job execution.</p>\n@param execution Contains data about a job execution.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withExecution",
        "getterDocumentation" : "/**<p>Contains data about a job execution.</p>\n@return Contains data about a job execution.*/",
        "getterMethodName" : "getExecution",
        "getterModel" : {
          "returnType" : "JobExecution",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "execution",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "execution",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Execution",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Contains data about a job execution.</p>\n@param execution Contains data about a job execution.*/",
        "setterMethodName" : "setExecution",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "JobExecution",
          "variableName" : "execution",
          "variableType" : "JobExecution",
          "documentation" : "",
          "simpleType" : "JobExecution",
          "variableSetterType" : "JobExecution"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Contains data about a job execution.</p>\n@param execution Contains data about a job execution.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "JobExecution",
          "variableName" : "execution",
          "variableType" : "JobExecution",
          "documentation" : "<p>Contains data about a job execution.</p>",
          "simpleType" : "JobExecution",
          "variableSetterType" : "JobExecution"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Execution" : {
          "c2jName" : "execution",
          "c2jShape" : "JobExecution",
          "deprecated" : false,
          "documentation" : "<p>Contains data about a job execution.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Contains data about a job execution.</p>\n@param execution Contains data about a job execution.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withExecution",
          "getterDocumentation" : "/**<p>Contains data about a job execution.</p>\n@return Contains data about a job execution.*/",
          "getterMethodName" : "getExecution",
          "getterModel" : {
            "returnType" : "JobExecution",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "execution",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "execution",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Execution",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Contains data about a job execution.</p>\n@param execution Contains data about a job execution.*/",
          "setterMethodName" : "setExecution",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "JobExecution",
            "variableName" : "execution",
            "variableType" : "JobExecution",
            "documentation" : "",
            "simpleType" : "JobExecution",
            "variableSetterType" : "JobExecution"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Contains data about a job execution.</p>\n@param execution Contains data about a job execution.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "JobExecution",
            "variableName" : "execution",
            "variableType" : "JobExecution",
            "documentation" : "<p>Contains data about a job execution.</p>",
            "simpleType" : "JobExecution",
            "variableSetterType" : "JobExecution"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DescribeJobExecutionResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeJobExecutionResult",
        "variableName" : "describeJobExecutionResult",
        "variableType" : "DescribeJobExecutionResult",
        "documentation" : null,
        "simpleType" : "DescribeJobExecutionResult",
        "variableSetterType" : "DescribeJobExecutionResult"
      },
      "wrapper" : false
    },
    "GetPendingJobExecutionsRequest" : {
      "c2jName" : "GetPendingJobExecutionsRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "GetPendingJobExecutions",
        "locationName" : null,
        "requestUri" : "/things/{thingName}/jobs",
        "target" : null,
        "verb" : "GET",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "thingName",
        "c2jShape" : "ThingName",
        "deprecated" : false,
        "documentation" : "<p>The name of the thing that is executing the job.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the thing that is executing the job.</p>\n@param thingName The name of the thing that is executing the job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withThingName",
        "getterDocumentation" : "/**<p>The name of the thing that is executing the job.</p>\n@return The name of the thing that is executing the job.*/",
        "getterMethodName" : "getThingName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "thingName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "thingName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ThingName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the thing that is executing the job.</p>\n@param thingName The name of the thing that is executing the job.*/",
        "setterMethodName" : "setThingName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "thingName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the thing that is executing the job.</p>\n@param thingName The name of the thing that is executing the job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "thingName",
          "variableType" : "String",
          "documentation" : "<p>The name of the thing that is executing the job.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ThingName" : {
          "c2jName" : "thingName",
          "c2jShape" : "ThingName",
          "deprecated" : false,
          "documentation" : "<p>The name of the thing that is executing the job.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the thing that is executing the job.</p>\n@param thingName The name of the thing that is executing the job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withThingName",
          "getterDocumentation" : "/**<p>The name of the thing that is executing the job.</p>\n@return The name of the thing that is executing the job.*/",
          "getterMethodName" : "getThingName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "thingName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "thingName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ThingName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the thing that is executing the job.</p>\n@param thingName The name of the thing that is executing the job.*/",
          "setterMethodName" : "setThingName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "thingName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the thing that is executing the job.</p>\n@param thingName The name of the thing that is executing the job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "thingName",
            "variableType" : "String",
            "documentation" : "<p>The name of the thing that is executing the job.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "thingName" ],
      "shapeName" : "GetPendingJobExecutionsRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPendingJobExecutionsRequest",
        "variableName" : "getPendingJobExecutionsRequest",
        "variableType" : "GetPendingJobExecutionsRequest",
        "documentation" : null,
        "simpleType" : "GetPendingJobExecutionsRequest",
        "variableSetterType" : "GetPendingJobExecutionsRequest"
      },
      "wrapper" : false
    },
    "GetPendingJobExecutionsResult" : {
      "c2jName" : "GetPendingJobExecutionsResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "inProgressJobs",
        "c2jShape" : "JobExecutionSummaryList",
        "deprecated" : false,
        "documentation" : "<p>A list of JobExecutionSummary objects with status IN_PROGRESS.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of JobExecutionSummary objects with status IN_PROGRESS.</p>\n@param inProgressJobs A list of JobExecutionSummary objects with status IN_PROGRESS.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInProgressJobs",
        "getterDocumentation" : "/**<p>A list of JobExecutionSummary objects with status IN_PROGRESS.</p>\n@return A list of JobExecutionSummary objects with status IN_PROGRESS.*/",
        "getterMethodName" : "getInProgressJobs",
        "getterModel" : {
          "returnType" : "java.util.List<JobExecutionSummary>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "inProgressJobs",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "inProgressJobs",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "JobExecutionSummary",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "JobExecutionSummary",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "JobExecutionSummary",
              "variableName" : "member",
              "variableType" : "JobExecutionSummary",
              "documentation" : "",
              "simpleType" : "JobExecutionSummary",
              "variableSetterType" : "JobExecutionSummary"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "JobExecutionSummary",
              "variableName" : "member",
              "variableType" : "JobExecutionSummary",
              "documentation" : "",
              "simpleType" : "JobExecutionSummary",
              "variableSetterType" : "JobExecutionSummary"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "JobExecutionSummary",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "JobExecutionSummary",
          "templateImplType" : "java.util.ArrayList<JobExecutionSummary>",
          "templateType" : "java.util.List<JobExecutionSummary>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "InProgressJobs",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of JobExecutionSummary objects with status IN_PROGRESS.</p>\n@param inProgressJobs A list of JobExecutionSummary objects with status IN_PROGRESS.*/",
        "setterMethodName" : "setInProgressJobs",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<JobExecutionSummary>",
          "variableName" : "inProgressJobs",
          "variableType" : "java.util.List<JobExecutionSummary>",
          "documentation" : "",
          "simpleType" : "List<JobExecutionSummary>",
          "variableSetterType" : "java.util.Collection<JobExecutionSummary>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of JobExecutionSummary objects with status IN_PROGRESS.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setInProgressJobs(java.util.Collection)} or {@link #withInProgressJobs(java.util.Collection)} if you want to override the existing values.</p>\n@param inProgressJobs A list of JobExecutionSummary objects with status IN_PROGRESS.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<JobExecutionSummary>",
          "variableName" : "inProgressJobs",
          "variableType" : "java.util.List<JobExecutionSummary>",
          "documentation" : "<p>A list of JobExecutionSummary objects with status IN_PROGRESS.</p>",
          "simpleType" : "List<JobExecutionSummary>",
          "variableSetterType" : "java.util.Collection<JobExecutionSummary>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "queuedJobs",
        "c2jShape" : "JobExecutionSummaryList",
        "deprecated" : false,
        "documentation" : "<p>A list of JobExecutionSummary objects with status QUEUED.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of JobExecutionSummary objects with status QUEUED.</p>\n@param queuedJobs A list of JobExecutionSummary objects with status QUEUED.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withQueuedJobs",
        "getterDocumentation" : "/**<p>A list of JobExecutionSummary objects with status QUEUED.</p>\n@return A list of JobExecutionSummary objects with status QUEUED.*/",
        "getterMethodName" : "getQueuedJobs",
        "getterModel" : {
          "returnType" : "java.util.List<JobExecutionSummary>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "queuedJobs",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "queuedJobs",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "JobExecutionSummary",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "JobExecutionSummary",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "JobExecutionSummary",
              "variableName" : "member",
              "variableType" : "JobExecutionSummary",
              "documentation" : "",
              "simpleType" : "JobExecutionSummary",
              "variableSetterType" : "JobExecutionSummary"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "JobExecutionSummary",
              "variableName" : "member",
              "variableType" : "JobExecutionSummary",
              "documentation" : "",
              "simpleType" : "JobExecutionSummary",
              "variableSetterType" : "JobExecutionSummary"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "JobExecutionSummary",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "JobExecutionSummary",
          "templateImplType" : "java.util.ArrayList<JobExecutionSummary>",
          "templateType" : "java.util.List<JobExecutionSummary>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "QueuedJobs",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of JobExecutionSummary objects with status QUEUED.</p>\n@param queuedJobs A list of JobExecutionSummary objects with status QUEUED.*/",
        "setterMethodName" : "setQueuedJobs",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<JobExecutionSummary>",
          "variableName" : "queuedJobs",
          "variableType" : "java.util.List<JobExecutionSummary>",
          "documentation" : "",
          "simpleType" : "List<JobExecutionSummary>",
          "variableSetterType" : "java.util.Collection<JobExecutionSummary>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of JobExecutionSummary objects with status QUEUED.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setQueuedJobs(java.util.Collection)} or {@link #withQueuedJobs(java.util.Collection)} if you want to override the existing values.</p>\n@param queuedJobs A list of JobExecutionSummary objects with status QUEUED.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<JobExecutionSummary>",
          "variableName" : "queuedJobs",
          "variableType" : "java.util.List<JobExecutionSummary>",
          "documentation" : "<p>A list of JobExecutionSummary objects with status QUEUED.</p>",
          "simpleType" : "List<JobExecutionSummary>",
          "variableSetterType" : "java.util.Collection<JobExecutionSummary>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "InProgressJobs" : {
          "c2jName" : "inProgressJobs",
          "c2jShape" : "JobExecutionSummaryList",
          "deprecated" : false,
          "documentation" : "<p>A list of JobExecutionSummary objects with status IN_PROGRESS.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of JobExecutionSummary objects with status IN_PROGRESS.</p>\n@param inProgressJobs A list of JobExecutionSummary objects with status IN_PROGRESS.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withInProgressJobs",
          "getterDocumentation" : "/**<p>A list of JobExecutionSummary objects with status IN_PROGRESS.</p>\n@return A list of JobExecutionSummary objects with status IN_PROGRESS.*/",
          "getterMethodName" : "getInProgressJobs",
          "getterModel" : {
            "returnType" : "java.util.List<JobExecutionSummary>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "inProgressJobs",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "inProgressJobs",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "JobExecutionSummary",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "JobExecutionSummary",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "JobExecutionSummary",
                "variableName" : "member",
                "variableType" : "JobExecutionSummary",
                "documentation" : "",
                "simpleType" : "JobExecutionSummary",
                "variableSetterType" : "JobExecutionSummary"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "JobExecutionSummary",
                "variableName" : "member",
                "variableType" : "JobExecutionSummary",
                "documentation" : "",
                "simpleType" : "JobExecutionSummary",
                "variableSetterType" : "JobExecutionSummary"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "JobExecutionSummary",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "JobExecutionSummary",
            "templateImplType" : "java.util.ArrayList<JobExecutionSummary>",
            "templateType" : "java.util.List<JobExecutionSummary>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "InProgressJobs",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A list of JobExecutionSummary objects with status IN_PROGRESS.</p>\n@param inProgressJobs A list of JobExecutionSummary objects with status IN_PROGRESS.*/",
          "setterMethodName" : "setInProgressJobs",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<JobExecutionSummary>",
            "variableName" : "inProgressJobs",
            "variableType" : "java.util.List<JobExecutionSummary>",
            "documentation" : "",
            "simpleType" : "List<JobExecutionSummary>",
            "variableSetterType" : "java.util.Collection<JobExecutionSummary>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A list of JobExecutionSummary objects with status IN_PROGRESS.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setInProgressJobs(java.util.Collection)} or {@link #withInProgressJobs(java.util.Collection)} if you want to override the existing values.</p>\n@param inProgressJobs A list of JobExecutionSummary objects with status IN_PROGRESS.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<JobExecutionSummary>",
            "variableName" : "inProgressJobs",
            "variableType" : "java.util.List<JobExecutionSummary>",
            "documentation" : "<p>A list of JobExecutionSummary objects with status IN_PROGRESS.</p>",
            "simpleType" : "List<JobExecutionSummary>",
            "variableSetterType" : "java.util.Collection<JobExecutionSummary>"
          },
          "xmlNameSpaceUri" : null
        },
        "QueuedJobs" : {
          "c2jName" : "queuedJobs",
          "c2jShape" : "JobExecutionSummaryList",
          "deprecated" : false,
          "documentation" : "<p>A list of JobExecutionSummary objects with status QUEUED.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of JobExecutionSummary objects with status QUEUED.</p>\n@param queuedJobs A list of JobExecutionSummary objects with status QUEUED.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withQueuedJobs",
          "getterDocumentation" : "/**<p>A list of JobExecutionSummary objects with status QUEUED.</p>\n@return A list of JobExecutionSummary objects with status QUEUED.*/",
          "getterMethodName" : "getQueuedJobs",
          "getterModel" : {
            "returnType" : "java.util.List<JobExecutionSummary>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "queuedJobs",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "queuedJobs",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "JobExecutionSummary",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "JobExecutionSummary",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "JobExecutionSummary",
                "variableName" : "member",
                "variableType" : "JobExecutionSummary",
                "documentation" : "",
                "simpleType" : "JobExecutionSummary",
                "variableSetterType" : "JobExecutionSummary"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "JobExecutionSummary",
                "variableName" : "member",
                "variableType" : "JobExecutionSummary",
                "documentation" : "",
                "simpleType" : "JobExecutionSummary",
                "variableSetterType" : "JobExecutionSummary"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "JobExecutionSummary",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "JobExecutionSummary",
            "templateImplType" : "java.util.ArrayList<JobExecutionSummary>",
            "templateType" : "java.util.List<JobExecutionSummary>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "QueuedJobs",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A list of JobExecutionSummary objects with status QUEUED.</p>\n@param queuedJobs A list of JobExecutionSummary objects with status QUEUED.*/",
          "setterMethodName" : "setQueuedJobs",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<JobExecutionSummary>",
            "variableName" : "queuedJobs",
            "variableType" : "java.util.List<JobExecutionSummary>",
            "documentation" : "",
            "simpleType" : "List<JobExecutionSummary>",
            "variableSetterType" : "java.util.Collection<JobExecutionSummary>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A list of JobExecutionSummary objects with status QUEUED.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setQueuedJobs(java.util.Collection)} or {@link #withQueuedJobs(java.util.Collection)} if you want to override the existing values.</p>\n@param queuedJobs A list of JobExecutionSummary objects with status QUEUED.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<JobExecutionSummary>",
            "variableName" : "queuedJobs",
            "variableType" : "java.util.List<JobExecutionSummary>",
            "documentation" : "<p>A list of JobExecutionSummary objects with status QUEUED.</p>",
            "simpleType" : "List<JobExecutionSummary>",
            "variableSetterType" : "java.util.Collection<JobExecutionSummary>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "GetPendingJobExecutionsResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPendingJobExecutionsResult",
        "variableName" : "getPendingJobExecutionsResult",
        "variableType" : "GetPendingJobExecutionsResult",
        "documentation" : null,
        "simpleType" : "GetPendingJobExecutionsResult",
        "variableSetterType" : "GetPendingJobExecutionsResult"
      },
      "wrapper" : false
    },
    "InvalidRequestException" : {
      "c2jName" : "InvalidRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The contents of the request were invalid. For example, this code is returned when an UpdateJobExecution request contains invalid status details. The message contains details about the error.</p>",
      "enums" : null,
      "errorCode" : "InvalidRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "InvalidRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InvalidRequestException",
        "variableName" : "invalidRequestException",
        "variableType" : "InvalidRequestException",
        "documentation" : null,
        "simpleType" : "InvalidRequestException",
        "variableSetterType" : "InvalidRequestException"
      },
      "wrapper" : false
    },
    "InvalidStateTransitionException" : {
      "c2jName" : "InvalidStateTransitionException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An update attempted to change the job execution to a state that is invalid because of the job execution's current state (for example, an attempt to change a request in state SUCCESS to state IN_PROGRESS). In this case, the body of the error message also contains the executionState field.</p>",
      "enums" : null,
      "errorCode" : "InvalidStateTransitionException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "InvalidStateTransitionException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InvalidStateTransitionException",
        "variableName" : "invalidStateTransitionException",
        "variableType" : "InvalidStateTransitionException",
        "documentation" : null,
        "simpleType" : "InvalidStateTransitionException",
        "variableSetterType" : "InvalidStateTransitionException"
      },
      "wrapper" : false
    },
    "JobExecution" : {
      "c2jName" : "JobExecution",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains data about a job execution.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "jobId",
        "c2jShape" : "JobId",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier you assigned to this job when it was created.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier you assigned to this job when it was created.</p>\n@param jobId The unique identifier you assigned to this job when it was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withJobId",
        "getterDocumentation" : "/**<p>The unique identifier you assigned to this job when it was created.</p>\n@return The unique identifier you assigned to this job when it was created.*/",
        "getterMethodName" : "getJobId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "jobId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "jobId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "JobId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique identifier you assigned to this job when it was created.</p>\n@param jobId The unique identifier you assigned to this job when it was created.*/",
        "setterMethodName" : "setJobId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier you assigned to this job when it was created.</p>\n@param jobId The unique identifier you assigned to this job when it was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier you assigned to this job when it was created.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "thingName",
        "c2jShape" : "ThingName",
        "deprecated" : false,
        "documentation" : "<p>The name of the thing that is executing the job.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the thing that is executing the job.</p>\n@param thingName The name of the thing that is executing the job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withThingName",
        "getterDocumentation" : "/**<p>The name of the thing that is executing the job.</p>\n@return The name of the thing that is executing the job.*/",
        "getterMethodName" : "getThingName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "thingName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "thingName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ThingName",
        "sensitive" : false,
[...]
