{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "Operator" : [ "type" ],
      "SetTaskStatusInput" : [ "taskStatus" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "ListPipelines" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2012-10-29",
    "asyncClient" : "DataPipelineAsyncClient",
    "asyncClientBuilderClassName" : "DataPipelineAsyncClientBuilder",
    "asyncInterface" : "DataPipelineAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "DataPipelineModuleInjector",
    "defaultEndpoint" : "datapipeline.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "datapipeline.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS Data Pipeline configures and manages a data-driven workflow called a pipeline. AWS Data Pipeline handles the details of scheduling and ensuring that data dependencies are met so that your application can focus on processing the data.</p> <p>AWS Data Pipeline provides a JAR implementation of a task runner called AWS Data Pipeline Task Runner. AWS Data Pipeline Task Runner provides logic for common data management scenarios, such as performing database queries and running data analysis using Amazon Elastic MapReduce (Amazon EMR). You can use AWS Data Pipeline Task Runner as your task runner, or you can write your own task runner to provide custom data management.</p> <p>AWS Data Pipeline implements two main sets of functionality. Use the first set to create a pipeline and define data sources, schedules, dependencies, and the transforms to be performed on the data. Use the second set in your task runner application to receive the next task ready for processing. The logic for performing the task, such as querying the data, running data analysis, or converting the data from one format to another, is contained within the task runner. The task runner performs the task assigned to it by the web service, reporting progress to the web service as it does so. When the task is done, the task runner reports the final success or failure of the task to the web service.</p>",
    "endpointPrefix" : "datapipeline",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.datapipeline",
    "packagePath" : "com/amazonaws/services/datapipeline",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Data Pipeline",
    "serviceId" : "Data Pipeline",
    "serviceName" : "AWS Data Pipeline",
    "signingName" : "datapipeline",
    "smokeTestsPackageName" : "com.amazonaws.services.datapipeline.smoketests",
    "syncClient" : "DataPipelineClient",
    "syncClientBuilderClassName" : "DataPipelineClientBuilder",
    "syncInterface" : "DataPipeline",
    "uid" : "datapipeline-2012-10-29",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "ActivatePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ActivatePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ActivatePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ActivatePipelineRequest, ActivatePipelineResult>",
      "asyncReturnType" : "ActivatePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Validates the specified pipeline and starts processing pipeline tasks. If the pipeline does not pass validation, activation fails.</p> <p>If you need to pause the pipeline to investigate an issue with a component, such as a data source or script, call <a>DeactivatePipeline</a>.</p> <p>To activate a finished pipeline, modify the end date for the pipeline and then activate it.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ActivatePipelineRequest",
        "variableName" : "activatePipelineRequest",
        "variableType" : "ActivatePipelineRequest",
        "documentation" : "<p>Contains the parameters for ActivatePipeline.</p>",
        "simpleType" : "ActivatePipelineRequest",
        "variableSetterType" : "ActivatePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "activatePipeline",
      "operationName" : "ActivatePipeline",
      "returnType" : {
        "returnType" : "ActivatePipelineResult",
        "documentation" : "<p>Contains the output of ActivatePipeline.</p>"
      },
      "syncReturnType" : "ActivatePipelineResult"
    },
    "AddTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsRequest, AddTagsResult>",
      "asyncReturnType" : "AddTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or modifies tags for the specified pipeline.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddTagsRequest",
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "documentation" : "<p>Contains the parameters for AddTags.</p>",
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addTags",
      "operationName" : "AddTags",
      "returnType" : {
        "returnType" : "AddTagsResult",
        "documentation" : "<p>Contains the output of AddTags.</p>"
      },
      "syncReturnType" : "AddTagsResult"
    },
    "CreatePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePipelineRequest, CreatePipelineResult>",
      "asyncReturnType" : "CreatePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new, empty pipeline. Use <a>PutPipelineDefinition</a> to populate the pipeline.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePipelineRequest",
        "variableName" : "createPipelineRequest",
        "variableType" : "CreatePipelineRequest",
        "documentation" : "<p>Contains the parameters for CreatePipeline.</p>",
        "simpleType" : "CreatePipelineRequest",
        "variableSetterType" : "CreatePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPipeline",
      "operationName" : "CreatePipeline",
      "returnType" : {
        "returnType" : "CreatePipelineResult",
        "documentation" : "<p>Contains the output of CreatePipeline.</p>"
      },
      "syncReturnType" : "CreatePipelineResult"
    },
    "DeactivatePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeactivatePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeactivatePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeactivatePipelineRequest, DeactivatePipelineResult>",
      "asyncReturnType" : "DeactivatePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deactivates the specified running pipeline. The pipeline is set to the <code>DEACTIVATING</code> state until the deactivation process completes.</p> <p>To resume a deactivated pipeline, use <a>ActivatePipeline</a>. By default, the pipeline resumes from the last completed execution. Optionally, you can specify the date and time to resume the pipeline.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeactivatePipelineRequest",
        "variableName" : "deactivatePipelineRequest",
        "variableType" : "DeactivatePipelineRequest",
        "documentation" : "<p>Contains the parameters for DeactivatePipeline.</p>",
        "simpleType" : "DeactivatePipelineRequest",
        "variableSetterType" : "DeactivatePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deactivatePipeline",
      "operationName" : "DeactivatePipeline",
      "returnType" : {
        "returnType" : "DeactivatePipelineResult",
        "documentation" : "<p>Contains the output of DeactivatePipeline.</p>"
      },
      "syncReturnType" : "DeactivatePipelineResult"
    },
    "DeletePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePipelineRequest, DeletePipelineResult>",
      "asyncReturnType" : "DeletePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a pipeline, its pipeline definition, and its run history. AWS Data Pipeline attempts to cancel instances associated with the pipeline that are currently being processed by task runners.</p> <p>Deleting a pipeline cannot be undone. You cannot query or restore a deleted pipeline. To temporarily pause a pipeline instead of deleting it, call <a>SetStatus</a> with the status set to <code>PAUSE</code> on individual components. Components that are paused by <a>SetStatus</a> can be resumed.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePipelineRequest",
        "variableName" : "deletePipelineRequest",
        "variableType" : "DeletePipelineRequest",
        "documentation" : "<p>Contains the parameters for DeletePipeline.</p>",
        "simpleType" : "DeletePipelineRequest",
        "variableSetterType" : "DeletePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePipeline",
      "operationName" : "DeletePipeline",
      "returnType" : {
        "returnType" : "DeletePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePipelineResult"
    },
    "DescribeObjects" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeObjectsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeObjectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeObjectsRequest, DescribeObjectsResult>",
      "asyncReturnType" : "DescribeObjectsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the object definitions for a set of objects associated with the pipeline. Object definitions are composed of a set of fields that define the properties of the object.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeObjectsRequest",
        "variableName" : "describeObjectsRequest",
        "variableType" : "DescribeObjectsRequest",
        "documentation" : "<p>Contains the parameters for DescribeObjects.</p>",
        "simpleType" : "DescribeObjectsRequest",
        "variableSetterType" : "DescribeObjectsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeObjects",
      "operationName" : "DescribeObjects",
      "returnType" : {
        "returnType" : "DescribeObjectsResult",
        "documentation" : "<p>Contains the output of DescribeObjects.</p>"
      },
      "syncReturnType" : "DescribeObjectsResult"
    },
    "DescribePipelines" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePipelinesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePipelinesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePipelinesRequest, DescribePipelinesResult>",
      "asyncReturnType" : "DescribePipelinesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves metadata about one or more pipelines. The information retrieved includes the name of the pipeline, the pipeline identifier, its current state, and the user account that owns the pipeline. Using account credentials, you can retrieve metadata about pipelines that you or your IAM users have created. If you are using an IAM user account, you can retrieve metadata about only those pipelines for which you have read permissions.</p> <p>To retrieve the full pipeline definition instead of metadata about the pipeline, call <a>GetPipelineDefinition</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribePipelinesRequest",
        "variableName" : "describePipelinesRequest",
        "variableType" : "DescribePipelinesRequest",
        "documentation" : "<p>Contains the parameters for DescribePipelines.</p>",
        "simpleType" : "DescribePipelinesRequest",
        "variableSetterType" : "DescribePipelinesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePipelines",
      "operationName" : "DescribePipelines",
      "returnType" : {
        "returnType" : "DescribePipelinesResult",
        "documentation" : "<p>Contains the output of DescribePipelines.</p>"
      },
      "syncReturnType" : "DescribePipelinesResult"
    },
    "EvaluateExpression" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EvaluateExpressionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EvaluateExpressionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EvaluateExpressionRequest, EvaluateExpressionResult>",
      "asyncReturnType" : "EvaluateExpressionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Task runners call <code>EvaluateExpression</code> to evaluate a string in the context of the specified object. For example, a task runner can evaluate SQL queries stored in Amazon S3.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TaskNotFoundException",
        "documentation" : "<p>The specified task was not found. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EvaluateExpressionRequest",
        "variableName" : "evaluateExpressionRequest",
        "variableType" : "EvaluateExpressionRequest",
        "documentation" : "<p>Contains the parameters for EvaluateExpression.</p>",
        "simpleType" : "EvaluateExpressionRequest",
        "variableSetterType" : "EvaluateExpressionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "evaluateExpression",
      "operationName" : "EvaluateExpression",
      "returnType" : {
        "returnType" : "EvaluateExpressionResult",
        "documentation" : "<p>Contains the output of EvaluateExpression.</p>"
      },
      "syncReturnType" : "EvaluateExpressionResult"
    },
    "GetPipelineDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPipelineDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPipelineDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPipelineDefinitionRequest, GetPipelineDefinitionResult>",
      "asyncReturnType" : "GetPipelineDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the definition of the specified pipeline. You can call <code>GetPipelineDefinition</code> to retrieve the pipeline definition that you provided using <a>PutPipelineDefinition</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPipelineDefinitionRequest",
        "variableName" : "getPipelineDefinitionRequest",
        "variableType" : "GetPipelineDefinitionRequest",
        "documentation" : "<p>Contains the parameters for GetPipelineDefinition.</p>",
        "simpleType" : "GetPipelineDefinitionRequest",
        "variableSetterType" : "GetPipelineDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPipelineDefinition",
      "operationName" : "GetPipelineDefinition",
      "returnType" : {
        "returnType" : "GetPipelineDefinitionResult",
        "documentation" : "<p>Contains the output of GetPipelineDefinition.</p>"
      },
      "syncReturnType" : "GetPipelineDefinitionResult"
    },
    "ListPipelines" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPipelinesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPipelinesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPipelinesRequest, ListPipelinesResult>",
      "asyncReturnType" : "ListPipelinesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the pipeline identifiers for all active pipelines that you have permission to access.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPipelinesRequest",
        "variableName" : "listPipelinesRequest",
        "variableType" : "ListPipelinesRequest",
        "documentation" : "<p>Contains the parameters for ListPipelines.</p>",
        "simpleType" : "ListPipelinesRequest",
        "variableSetterType" : "ListPipelinesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPipelines",
      "operationName" : "ListPipelines",
      "returnType" : {
        "returnType" : "ListPipelinesResult",
        "documentation" : "<p>Contains the output of ListPipelines.</p>"
      },
      "syncReturnType" : "ListPipelinesResult"
    },
    "PollForTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PollForTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PollForTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PollForTaskRequest, PollForTaskResult>",
      "asyncReturnType" : "PollForTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Task runners call <code>PollForTask</code> to receive a task to perform from AWS Data Pipeline. The task runner specifies which tasks it can perform by setting a value for the <code>workerGroup</code> parameter. The task returned can come from any of the pipelines that match the <code>workerGroup</code> value passed in by the task runner and that was launched using the IAM user credentials specified by the task runner.</p> <p>If tasks are ready in the work queue, <code>PollForTask</code> returns a response immediately. If no tasks are available in the queue, <code>PollForTask</code> uses long-polling and holds on to a poll connection for up to a 90 seconds, during which time the first newly scheduled task is handed to the task runner. To accomodate this, set the socket timeout in your task runner to 90 seconds. The task runner should not call <code>PollForTask</code> again on the same <code>workerGroup</code> until it receives a response, and this can take up to 90 seconds. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TaskNotFoundException",
        "documentation" : "<p>The specified task was not found. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PollForTaskRequest",
        "variableName" : "pollForTaskRequest",
        "variableType" : "PollForTaskRequest",
        "documentation" : "<p>Contains the parameters for PollForTask.</p>",
        "simpleType" : "PollForTaskRequest",
        "variableSetterType" : "PollForTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "pollForTask",
      "operationName" : "PollForTask",
      "returnType" : {
        "returnType" : "PollForTaskResult",
        "documentation" : "<p>Contains the output of PollForTask.</p>"
      },
      "syncReturnType" : "PollForTaskResult"
    },
    "PutPipelineDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutPipelineDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutPipelineDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutPipelineDefinitionRequest, PutPipelineDefinitionResult>",
      "asyncReturnType" : "PutPipelineDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds tasks, schedules, and preconditions to the specified pipeline. You can use <code>PutPipelineDefinition</code> to populate a new pipeline.</p> <p> <code>PutPipelineDefinition</code> also validates the configuration as it adds it to the pipeline. Changes to the pipeline are saved unless one of the following three validation errors exists in the pipeline. </p> <ol> <li>An object is missing a name or identifier field.</li> <li>A string or reference field is empty.</li> <li>The number of objects in the pipeline exceeds the maximum allowed objects.</li> <li>The pipeline is in a FINISHED state.</li> </ol> <p> Pipeline object definitions are passed to the <code>PutPipelineDefinition</code> action and returned by the <a>GetPipelineDefinition</a> action. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutPipelineDefinitionRequest",
        "variableName" : "putPipelineDefinitionRequest",
        "variableType" : "PutPipelineDefinitionRequest",
        "documentation" : "<p>Contains the parameters for PutPipelineDefinition.</p>",
        "simpleType" : "PutPipelineDefinitionRequest",
        "variableSetterType" : "PutPipelineDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putPipelineDefinition",
      "operationName" : "PutPipelineDefinition",
      "returnType" : {
        "returnType" : "PutPipelineDefinitionResult",
        "documentation" : "<p>Contains the output of PutPipelineDefinition.</p>"
      },
      "syncReturnType" : "PutPipelineDefinitionResult"
    },
    "QueryObjects" : {
      "asyncCallableType" : "java.util.concurrent.Callable<QueryObjectsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<QueryObjectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<QueryObjectsRequest, QueryObjectsResult>",
      "asyncReturnType" : "QueryObjectsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Queries the specified pipeline for the names of objects that match the specified set of conditions.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "QueryObjectsRequest",
        "variableName" : "queryObjectsRequest",
        "variableType" : "QueryObjectsRequest",
        "documentation" : "<p>Contains the parameters for QueryObjects.</p>",
        "simpleType" : "QueryObjectsRequest",
        "variableSetterType" : "QueryObjectsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "queryObjects",
      "operationName" : "QueryObjects",
      "returnType" : {
        "returnType" : "QueryObjectsResult",
        "documentation" : "<p>Contains the output of QueryObjects.</p>"
      },
      "syncReturnType" : "QueryObjectsResult"
    },
    "RemoveTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsRequest, RemoveTagsResult>",
      "asyncReturnType" : "RemoveTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes existing tags from the specified pipeline.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemoveTagsRequest",
        "variableName" : "removeTagsRequest",
        "variableType" : "RemoveTagsRequest",
        "documentation" : "<p>Contains the parameters for RemoveTags.</p>",
        "simpleType" : "RemoveTagsRequest",
        "variableSetterType" : "RemoveTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeTags",
      "operationName" : "RemoveTags",
      "returnType" : {
        "returnType" : "RemoveTagsResult",
        "documentation" : "<p>Contains the output of RemoveTags.</p>"
      },
      "syncReturnType" : "RemoveTagsResult"
    },
    "ReportTaskProgress" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ReportTaskProgressResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ReportTaskProgressResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ReportTaskProgressRequest, ReportTaskProgressResult>",
      "asyncReturnType" : "ReportTaskProgressResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Task runners call <code>ReportTaskProgress</code> when assigned a task to acknowledge that it has the task. If the web service does not receive this acknowledgement within 2 minutes, it assigns the task in a subsequent <a>PollForTask</a> call. After this initial acknowledgement, the task runner only needs to report progress every 15 minutes to maintain its ownership of the task. You can change this reporting time from 15 minutes by specifying a <code>reportProgressTimeout</code> field in your pipeline.</p> <p>If a task runner does not report its status after 5 minutes, AWS Data Pipeline assumes that the task runner is unable to process the task and reassigns the task in a subsequent response to <a>PollForTask</a>. Task runners should call <code>ReportTaskProgress</code> every 60 seconds.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TaskNotFoundException",
        "documentation" : "<p>The specified task was not found. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ReportTaskProgressRequest",
        "variableName" : "reportTaskProgressRequest",
        "variableType" : "ReportTaskProgressRequest",
        "documentation" : "<p>Contains the parameters for ReportTaskProgress.</p>",
        "simpleType" : "ReportTaskProgressRequest",
        "variableSetterType" : "ReportTaskProgressRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "reportTaskProgress",
      "operationName" : "ReportTaskProgress",
      "returnType" : {
        "returnType" : "ReportTaskProgressResult",
        "documentation" : "<p>Contains the output of ReportTaskProgress.</p>"
      },
      "syncReturnType" : "ReportTaskProgressResult"
    },
    "ReportTaskRunnerHeartbeat" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ReportTaskRunnerHeartbeatResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ReportTaskRunnerHeartbeatResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ReportTaskRunnerHeartbeatRequest, ReportTaskRunnerHeartbeatResult>",
      "asyncReturnType" : "ReportTaskRunnerHeartbeatResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Task runners call <code>ReportTaskRunnerHeartbeat</code> every 15 minutes to indicate that they are operational. If the AWS Data Pipeline Task Runner is launched on a resource managed by AWS Data Pipeline, the web service can use this call to detect when the task runner application has failed and restart a new instance.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ReportTaskRunnerHeartbeatRequest",
        "variableName" : "reportTaskRunnerHeartbeatRequest",
        "variableType" : "ReportTaskRunnerHeartbeatRequest",
        "documentation" : "<p>Contains the parameters for ReportTaskRunnerHeartbeat.</p>",
        "simpleType" : "ReportTaskRunnerHeartbeatRequest",
        "variableSetterType" : "ReportTaskRunnerHeartbeatRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "reportTaskRunnerHeartbeat",
      "operationName" : "ReportTaskRunnerHeartbeat",
      "returnType" : {
        "returnType" : "ReportTaskRunnerHeartbeatResult",
        "documentation" : "<p>Contains the output of ReportTaskRunnerHeartbeat.</p>"
      },
      "syncReturnType" : "ReportTaskRunnerHeartbeatResult"
    },
    "SetStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetStatusRequest, SetStatusResult>",
      "asyncReturnType" : "SetStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Requests that the status of the specified physical or logical pipeline objects be updated in the specified pipeline. This update might not occur immediately, but is eventually consistent. The status that can be set depends on the type of object (for example, DataNode or Activity). You cannot perform this operation on <code>FINISHED</code> pipelines and attempting to do so returns <code>InvalidRequestException</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SetStatusRequest",
        "variableName" : "setStatusRequest",
        "variableType" : "SetStatusRequest",
        "documentation" : "<p>Contains the parameters for SetStatus.</p>",
        "simpleType" : "SetStatusRequest",
        "variableSetterType" : "SetStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setStatus",
      "operationName" : "SetStatus",
      "returnType" : {
        "returnType" : "SetStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "SetStatusResult"
    },
    "SetTaskStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetTaskStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetTaskStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetTaskStatusRequest, SetTaskStatusResult>",
      "asyncReturnType" : "SetTaskStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Task runners call <code>SetTaskStatus</code> to notify AWS Data Pipeline that a task is completed and provide information about the final status. A task runner makes this call regardless of whether the task was sucessful. A task runner does not need to call <code>SetTaskStatus</code> for tasks that are canceled by the web service during a call to <a>ReportTaskProgress</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TaskNotFoundException",
        "documentation" : "<p>The specified task was not found. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SetTaskStatusRequest",
        "variableName" : "setTaskStatusRequest",
        "variableType" : "SetTaskStatusRequest",
        "documentation" : "<p>Contains the parameters for SetTaskStatus.</p>",
        "simpleType" : "SetTaskStatusRequest",
        "variableSetterType" : "SetTaskStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setTaskStatus",
      "operationName" : "SetTaskStatus",
      "returnType" : {
        "returnType" : "SetTaskStatusResult",
        "documentation" : "<p>Contains the output of SetTaskStatus.</p>"
      },
      "syncReturnType" : "SetTaskStatusResult"
    },
    "ValidatePipelineDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ValidatePipelineDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ValidatePipelineDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ValidatePipelineDefinitionRequest, ValidatePipelineDefinitionResult>",
      "asyncReturnType" : "ValidatePipelineDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Validates the specified pipeline definition to ensure that it is well formed and can be run without error.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>An internal service error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineNotFoundException",
        "documentation" : "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PipelineDeletedException",
        "documentation" : "<p>The specified pipeline has been deleted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ValidatePipelineDefinitionRequest",
        "variableName" : "validatePipelineDefinitionRequest",
        "variableType" : "ValidatePipelineDefinitionRequest",
        "documentation" : "<p>Contains the parameters for ValidatePipelineDefinition.</p>",
        "simpleType" : "ValidatePipelineDefinitionRequest",
        "variableSetterType" : "ValidatePipelineDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "validatePipelineDefinition",
      "operationName" : "ValidatePipelineDefinition",
      "returnType" : {
        "returnType" : "ValidatePipelineDefinitionResult",
        "documentation" : "<p>Contains the output of ValidatePipelineDefinition.</p>"
      },
      "syncReturnType" : "ValidatePipelineDefinitionResult"
    }
  },
  "shapes" : {
    "ActivatePipelineRequest" : {
      "c2jName" : "ActivatePipelineInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains the parameters for ActivatePipeline.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "ActivatePipeline",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "DataPipeline.ActivatePipeline",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "pipelineId",
        "c2jShape" : "id",
        "deprecated" : false,
        "documentation" : "<p>The ID of the pipeline.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@param pipelineId The ID of the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPipelineId",
        "getterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@return The ID of the pipeline.*/",
        "getterMethodName" : "getPipelineId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "pipelineId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "pipelineId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PipelineId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@param pipelineId The ID of the pipeline.*/",
        "setterMethodName" : "setPipelineId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "pipelineId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@param pipelineId The ID of the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "pipelineId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the pipeline.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "parameterValues",
        "c2jShape" : "ParameterValueList",
        "deprecated" : false,
        "documentation" : "<p>A list of parameter values to pass to the pipeline at activation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of parameter values to pass to the pipeline at activation.</p>\n@param parameterValues A list of parameter values to pass to the pipeline at activation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withParameterValues",
        "getterDocumentation" : "/**<p>A list of parameter values to pass to the pipeline at activation.</p>\n@return A list of parameter values to pass to the pipeline at activation.*/",
        "getterMethodName" : "getParameterValues",
        "getterModel" : {
          "returnType" : "java.util.List<ParameterValue>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "parameterValues",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "parameterValues",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ParameterValue",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "ParameterValue",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ParameterValue",
              "variableName" : "member",
              "variableType" : "ParameterValue",
              "documentation" : "",
              "simpleType" : "ParameterValue",
              "variableSetterType" : "ParameterValue"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ParameterValue",
              "variableName" : "member",
              "variableType" : "ParameterValue",
              "documentation" : "",
              "simpleType" : "ParameterValue",
              "variableSetterType" : "ParameterValue"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "ParameterValue",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "ParameterValue",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<ParameterValue>",
          "templateType" : "java.util.List<ParameterValue>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ParameterValues",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of parameter values to pass to the pipeline at activation.</p>\n@param parameterValues A list of parameter values to pass to the pipeline at activation.*/",
        "setterMethodName" : "setParameterValues",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<ParameterValue>",
          "variableName" : "parameterValues",
          "variableType" : "java.util.List<ParameterValue>",
          "documentation" : "",
          "simpleType" : "List<ParameterValue>",
          "variableSetterType" : "java.util.Collection<ParameterValue>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of parameter values to pass to the pipeline at activation.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setParameterValues(java.util.Collection)} or {@link #withParameterValues(java.util.Collection)} if you want to override the existing values.</p>\n@param parameterValues A list of parameter values to pass to the pipeline at activation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<ParameterValue>",
          "variableName" : "parameterValues",
          "variableType" : "java.util.List<ParameterValue>",
          "documentation" : "<p>A list of parameter values to pass to the pipeline at activation.</p>",
          "simpleType" : "List<ParameterValue>",
          "variableSetterType" : "java.util.Collection<ParameterValue>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "startTimestamp",
        "c2jShape" : "timestamp",
        "deprecated" : false,
        "documentation" : "<p>The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.</p>\n@param startTimestamp The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStartTimestamp",
        "getterDocumentation" : "/**<p>The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.</p>\n@return The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.*/",
        "getterMethodName" : "getStartTimestamp",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "startTimestamp",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "startTimestamp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "StartTimestamp",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.</p>\n@param startTimestamp The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.*/",
        "setterMethodName" : "setStartTimestamp",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "startTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.</p>\n@param startTimestamp The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "startTimestamp",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ParameterValues" : {
          "c2jName" : "parameterValues",
          "c2jShape" : "ParameterValueList",
          "deprecated" : false,
          "documentation" : "<p>A list of parameter values to pass to the pipeline at activation.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of parameter values to pass to the pipeline at activation.</p>\n@param parameterValues A list of parameter values to pass to the pipeline at activation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withParameterValues",
          "getterDocumentation" : "/**<p>A list of parameter values to pass to the pipeline at activation.</p>\n@return A list of parameter values to pass to the pipeline at activation.*/",
          "getterMethodName" : "getParameterValues",
          "getterModel" : {
            "returnType" : "java.util.List<ParameterValue>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "parameterValues",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "parameterValues",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "ParameterValue",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "ParameterValue",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "ParameterValue",
                "variableName" : "member",
                "variableType" : "ParameterValue",
                "documentation" : "",
                "simpleType" : "ParameterValue",
                "variableSetterType" : "ParameterValue"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "ParameterValue",
                "variableName" : "member",
                "variableType" : "ParameterValue",
                "documentation" : "",
                "simpleType" : "ParameterValue",
                "variableSetterType" : "ParameterValue"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "ParameterValue",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "ParameterValue",
            "templateImplType" : "com.amazonaws.internal.SdkInternalList<ParameterValue>",
            "templateType" : "java.util.List<ParameterValue>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "ParameterValues",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A list of parameter values to pass to the pipeline at activation.</p>\n@param parameterValues A list of parameter values to pass to the pipeline at activation.*/",
          "setterMethodName" : "setParameterValues",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<ParameterValue>",
            "variableName" : "parameterValues",
            "variableType" : "java.util.List<ParameterValue>",
            "documentation" : "",
            "simpleType" : "List<ParameterValue>",
            "variableSetterType" : "java.util.Collection<ParameterValue>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A list of parameter values to pass to the pipeline at activation.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setParameterValues(java.util.Collection)} or {@link #withParameterValues(java.util.Collection)} if you want to override the existing values.</p>\n@param parameterValues A list of parameter values to pass to the pipeline at activation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<ParameterValue>",
            "variableName" : "parameterValues",
            "variableType" : "java.util.List<ParameterValue>",
            "documentation" : "<p>A list of parameter values to pass to the pipeline at activation.</p>",
            "simpleType" : "List<ParameterValue>",
            "variableSetterType" : "java.util.Collection<ParameterValue>"
          },
          "xmlNameSpaceUri" : null
        },
        "PipelineId" : {
          "c2jName" : "pipelineId",
          "c2jShape" : "id",
          "deprecated" : false,
          "documentation" : "<p>The ID of the pipeline.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@param pipelineId The ID of the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPipelineId",
          "getterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@return The ID of the pipeline.*/",
          "getterMethodName" : "getPipelineId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "pipelineId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "pipelineId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "PipelineId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@param pipelineId The ID of the pipeline.*/",
          "setterMethodName" : "setPipelineId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "pipelineId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@param pipelineId The ID of the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "pipelineId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the pipeline.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "StartTimestamp" : {
          "c2jName" : "startTimestamp",
          "c2jShape" : "timestamp",
          "deprecated" : false,
          "documentation" : "<p>The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.</p>\n@param startTimestamp The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStartTimestamp",
          "getterDocumentation" : "/**<p>The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.</p>\n@return The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.*/",
          "getterMethodName" : "getStartTimestamp",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "startTimestamp",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "startTimestamp",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "StartTimestamp",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.</p>\n@param startTimestamp The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.*/",
          "setterMethodName" : "setStartTimestamp",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "startTimestamp",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.</p>\n@param startTimestamp The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "startTimestamp",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "pipelineId" ],
      "shapeName" : "ActivatePipelineRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ActivatePipelineRequest",
        "variableName" : "activatePipelineRequest",
        "variableType" : "ActivatePipelineRequest",
        "documentation" : null,
        "simpleType" : "ActivatePipelineRequest",
        "variableSetterType" : "ActivatePipelineRequest"
      },
      "wrapper" : false
    },
    "ActivatePipelineResult" : {
      "c2jName" : "ActivatePipelineOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains the output of ActivatePipeline.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ActivatePipelineResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ActivatePipelineResult",
        "variableName" : "activatePipelineResult",
        "variableType" : "ActivatePipelineResult",
        "documentation" : null,
        "simpleType" : "ActivatePipelineResult",
        "variableSetterType" : "ActivatePipelineResult"
      },
      "wrapper" : false
    },
    "AddTagsRequest" : {
      "c2jName" : "AddTagsInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains the parameters for AddTags.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddTags",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "DataPipeline.AddTags",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "pipelineId",
        "c2jShape" : "id",
        "deprecated" : false,
        "documentation" : "<p>The ID of the pipeline.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@param pipelineId The ID of the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPipelineId",
        "getterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@return The ID of the pipeline.*/",
        "getterMethodName" : "getPipelineId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "pipelineId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "pipelineId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PipelineId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@param pipelineId The ID of the pipeline.*/",
        "setterMethodName" : "setPipelineId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "pipelineId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@param pipelineId The ID of the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "pipelineId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the pipeline.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "tags",
        "c2jShape" : "tagList",
        "deprecated" : false,
        "documentation" : "<p>The tags to add, as key/value pairs.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The tags to add, as key/value pairs.</p>\n@param tags The tags to add, as key/value pairs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>The tags to add, as key/value pairs.</p>\n@return The tags to add, as key/value pairs.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "tags",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "com.amazonaws.internal.SdkInternalList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Tag",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Tag",
          "templateImplType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "templateType" : "java.util.List<Tag>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The tags to add, as key/value pairs.</p>\n@param tags The tags to add, as key/value pairs.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The tags to add, as key/value pairs.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags The tags to add, as key/value pairs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "com.amazonaws.internal.SdkInternalList<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "<p>The tags to add, as key/value pairs.</p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "PipelineId" : {
          "c2jName" : "pipelineId",
          "c2jShape" : "id",
          "deprecated" : false,
          "documentation" : "<p>The ID of the pipeline.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@param pipelineId The ID of the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPipelineId",
          "getterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@return The ID of the pipeline.*/",
          "getterMethodName" : "getPipelineId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "pipelineId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "pipelineId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "PipelineId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@param pipelineId The ID of the pipeline.*/",
          "setterMethodName" : "setPipelineId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "pipelineId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the pipeline.</p>\n@param pipelineId The ID of the pipeline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "pipelineId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the pipeline.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Tags" : {
          "c2jName" : "tags",
          "c2jShape" : "tagList",
          "deprecated" : false,
          "documentation" : "<p>The tags to add, as key/value pairs.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The tags to add, as key/value pairs.</p>\n@param tags The tags to add, as key/value pairs.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTags",
          "getterDocumentation" : "/**<p>The tags to add, as key/value pairs.</p>\n@return The tags to add, as key/value pairs.*/",
          "getterMethodName" : "getTags",
          "getterModel" : {
            "returnType" : "java.util.List<Tag>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "tags",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "tags",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "com.amazonaws.internal.SdkInternalList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Tag",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
[...]
