{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : {
      "DescribeEventsRequest" : [ "SourceType" ],
      "Event" : [ "SourceType" ],
      "Parameter" : [ "ParameterType", "IsModifiable", "ChangeType" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-04-19",
    "asyncClient" : "AmazonDaxAsyncClient",
    "asyncClientBuilderClassName" : "AmazonDaxAsyncClientBuilder",
    "asyncInterface" : "AmazonDaxAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonDaxModuleInjector",
    "defaultEndpoint" : "dax.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "dax.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>DAX is a managed caching service engineered for Amazon DynamoDB. DAX dramatically speeds up database reads by caching frequently-accessed data from DynamoDB, so applications can access that data with sub-millisecond latency. You can create a DAX cluster easily, using the AWS Management Console. With a few simple modifications to your code, your application can begin taking advantage of the DAX cluster and realize significant improvements in read performance.</p>",
    "endpointPrefix" : "dax",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.dax",
    "packagePath" : "com/amazonaws/services/dax",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amazon DAX",
    "serviceFullName" : "Amazon DynamoDB Accelerator (DAX)",
    "serviceId" : "DAX",
    "serviceName" : "Amazon DAX",
    "signingName" : "dax",
    "smokeTestsPackageName" : "com.amazonaws.services.dax.smoketests",
    "syncClient" : "AmazonDaxClient",
    "syncClientBuilderClassName" : "AmazonDaxClientBuilder",
    "syncInterface" : "AmazonDax",
    "uid" : "dax-2017-04-19",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateClusterRequest, CreateClusterResult>",
      "asyncReturnType" : "CreateClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a DAX cluster. All nodes in the cluster run the same DAX caching software.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClusterAlreadyExistsException",
        "documentation" : "<p>You already have a DAX cluster with the given identifier.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidClusterStateException",
        "documentation" : "<p>The requested DAX cluster is not in the <i>available</i> state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InsufficientClusterCapacityException",
        "documentation" : "<p>There are not enough system resources to create the cluster you requested (or to resize an already-existing cluster). </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SubnetGroupNotFoundException",
        "documentation" : "<p>The requested subnet group name does not refer to an existing subnet group.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterGroupStateException",
        "documentation" : "<p>One or more parameters in a parameter group are in an invalid state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ParameterGroupNotFoundException",
        "documentation" : "<p>The specified parameter group does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClusterQuotaForCustomerExceededException",
        "documentation" : "<p>You have attempted to exceed the maximum number of DAX clusters for your AWS account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NodeQuotaForClusterExceededException",
        "documentation" : "<p>You have attempted to exceed the maximum number of nodes for a DAX cluster.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NodeQuotaForCustomerExceededException",
        "documentation" : "<p>You have attempted to exceed the maximum number of nodes for your AWS account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidVPCNetworkStateException",
        "documentation" : "<p>The VPC network is in an invalid state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagQuotaPerResourceExceededException",
        "documentation" : "<p>You have exceeded the maximum number of tags for this DAX cluster.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateClusterRequest",
        "variableName" : "createClusterRequest",
        "variableType" : "CreateClusterRequest",
        "documentation" : "",
        "simpleType" : "CreateClusterRequest",
        "variableSetterType" : "CreateClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCluster",
      "operationName" : "CreateCluster",
      "returnType" : {
        "returnType" : "CreateClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateClusterResult"
    },
    "CreateParameterGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateParameterGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateParameterGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateParameterGroupRequest, CreateParameterGroupResult>",
      "asyncReturnType" : "CreateParameterGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new parameter group. A parameter group is a collection of parameters that you apply to all of the nodes in a DAX cluster.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ParameterGroupQuotaExceededException",
        "documentation" : "<p>You have attempted to exceed the maximum number of parameter groups.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ParameterGroupAlreadyExistsException",
        "documentation" : "<p>The specified parameter group already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterGroupStateException",
        "documentation" : "<p>One or more parameters in a parameter group are in an invalid state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateParameterGroupRequest",
        "variableName" : "createParameterGroupRequest",
        "variableType" : "CreateParameterGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateParameterGroupRequest",
        "variableSetterType" : "CreateParameterGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createParameterGroup",
      "operationName" : "CreateParameterGroup",
      "returnType" : {
        "returnType" : "CreateParameterGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateParameterGroupResult"
    },
    "CreateSubnetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSubnetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSubnetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSubnetGroupRequest, CreateSubnetGroupResult>",
      "asyncReturnType" : "CreateSubnetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new subnet group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "SubnetGroupAlreadyExistsException",
        "documentation" : "<p>The specified subnet group already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SubnetGroupQuotaExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the allowed number of subnets in a subnet group.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SubnetQuotaExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the allowed number of subnets in a subnet group.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>An invalid subnet identifier was specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSubnetGroupRequest",
        "variableName" : "createSubnetGroupRequest",
        "variableType" : "CreateSubnetGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateSubnetGroupRequest",
        "variableSetterType" : "CreateSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSubnetGroup",
      "operationName" : "CreateSubnetGroup",
      "returnType" : {
        "returnType" : "CreateSubnetGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSubnetGroupResult"
    },
    "DecreaseReplicationFactor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DecreaseReplicationFactorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DecreaseReplicationFactorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DecreaseReplicationFactorRequest, DecreaseReplicationFactorResult>",
      "asyncReturnType" : "DecreaseReplicationFactorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more nodes from a DAX cluster.</p> <note> <p>You cannot use <code>DecreaseReplicationFactor</code> to remove the last node in a DAX cluster. If you need to do this, use <code>DeleteCluster</code> instead.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The requested cluster ID does not refer to an existing DAX cluster.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NodeNotFoundException",
        "documentation" : "<p>None of the nodes in the cluster have the given node ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidClusterStateException",
        "documentation" : "<p>The requested DAX cluster is not in the <i>available</i> state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DecreaseReplicationFactorRequest",
        "variableName" : "decreaseReplicationFactorRequest",
        "variableType" : "DecreaseReplicationFactorRequest",
        "documentation" : "",
        "simpleType" : "DecreaseReplicationFactorRequest",
        "variableSetterType" : "DecreaseReplicationFactorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "decreaseReplicationFactor",
      "operationName" : "DecreaseReplicationFactor",
      "returnType" : {
        "returnType" : "DecreaseReplicationFactorResult",
        "documentation" : null
      },
      "syncReturnType" : "DecreaseReplicationFactorResult"
    },
    "DeleteCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteClusterRequest, DeleteClusterResult>",
      "asyncReturnType" : "DeleteClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a previously provisioned DAX cluster. <i>DeleteCluster</i> deletes all associated nodes, node endpoints and the DAX cluster itself. When you receive a successful response from this action, DAX immediately begins deleting the cluster; you cannot cancel or revert this action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The requested cluster ID does not refer to an existing DAX cluster.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidClusterStateException",
        "documentation" : "<p>The requested DAX cluster is not in the <i>available</i> state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteClusterRequest",
        "variableName" : "deleteClusterRequest",
        "variableType" : "DeleteClusterRequest",
        "documentation" : "",
        "simpleType" : "DeleteClusterRequest",
        "variableSetterType" : "DeleteClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCluster",
      "operationName" : "DeleteCluster",
      "returnType" : {
        "returnType" : "DeleteClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteClusterResult"
    },
    "DeleteParameterGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteParameterGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteParameterGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteParameterGroupRequest, DeleteParameterGroupResult>",
      "asyncReturnType" : "DeleteParameterGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified parameter group. You cannot delete a parameter group if it is associated with any DAX clusters.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterGroupStateException",
        "documentation" : "<p>One or more parameters in a parameter group are in an invalid state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ParameterGroupNotFoundException",
        "documentation" : "<p>The specified parameter group does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteParameterGroupRequest",
        "variableName" : "deleteParameterGroupRequest",
        "variableType" : "DeleteParameterGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteParameterGroupRequest",
        "variableSetterType" : "DeleteParameterGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteParameterGroup",
      "operationName" : "DeleteParameterGroup",
      "returnType" : {
        "returnType" : "DeleteParameterGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteParameterGroupResult"
    },
    "DeleteSubnetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSubnetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSubnetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSubnetGroupRequest, DeleteSubnetGroupResult>",
      "asyncReturnType" : "DeleteSubnetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a subnet group.</p> <note> <p>You cannot delete a subnet group if it is associated with any DAX clusters.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "SubnetGroupInUseException",
        "documentation" : "<p>The specified subnet group is currently in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SubnetGroupNotFoundException",
        "documentation" : "<p>The requested subnet group name does not refer to an existing subnet group.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSubnetGroupRequest",
        "variableName" : "deleteSubnetGroupRequest",
        "variableType" : "DeleteSubnetGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteSubnetGroupRequest",
        "variableSetterType" : "DeleteSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSubnetGroup",
      "operationName" : "DeleteSubnetGroup",
      "returnType" : {
        "returnType" : "DeleteSubnetGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSubnetGroupResult"
    },
    "DescribeClusters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeClustersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeClustersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeClustersRequest, DescribeClustersResult>",
      "asyncReturnType" : "DescribeClustersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about all provisioned DAX clusters if no cluster identifier is specified, or about a specific DAX cluster if a cluster identifier is supplied.</p> <p>If the cluster is in the CREATING state, only cluster level information will be displayed until all of the nodes are successfully provisioned.</p> <p>If the cluster is in the DELETING state, only cluster level information will be displayed.</p> <p>If nodes are currently being added to the DAX cluster, node endpoint information and creation time for the additional nodes will not be displayed until they are completely provisioned. When the DAX cluster state is <i>available</i>, the cluster is ready for use.</p> <p>If nodes are currently being removed from the DAX cluster, no endpoint information for the removed nodes is displayed.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The requested cluster ID does not refer to an existing DAX cluster.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeClustersRequest",
        "variableName" : "describeClustersRequest",
        "variableType" : "DescribeClustersRequest",
        "documentation" : "",
        "simpleType" : "DescribeClustersRequest",
        "variableSetterType" : "DescribeClustersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeClusters",
      "operationName" : "DescribeClusters",
      "returnType" : {
        "returnType" : "DescribeClustersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeClustersResult"
    },
    "DescribeDefaultParameters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDefaultParametersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDefaultParametersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDefaultParametersRequest, DescribeDefaultParametersResult>",
      "asyncReturnType" : "DescribeDefaultParametersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the default system parameter information for the DAX caching software.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDefaultParametersRequest",
        "variableName" : "describeDefaultParametersRequest",
        "variableType" : "DescribeDefaultParametersRequest",
        "documentation" : "",
        "simpleType" : "DescribeDefaultParametersRequest",
        "variableSetterType" : "DescribeDefaultParametersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDefaultParameters",
      "operationName" : "DescribeDefaultParameters",
      "returnType" : {
        "returnType" : "DescribeDefaultParametersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDefaultParametersResult"
    },
    "DescribeEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEventsRequest, DescribeEventsResult>",
      "asyncReturnType" : "DescribeEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns events related to DAX clusters and parameter groups. You can obtain events specific to a particular DAX cluster or parameter group by providing the name as a parameter.</p> <p>By default, only the events occurring within the last hour are returned; however, you can retrieve up to 14 days' worth of events if necessary.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEventsRequest",
        "variableName" : "describeEventsRequest",
        "variableType" : "DescribeEventsRequest",
        "documentation" : "",
        "simpleType" : "DescribeEventsRequest",
        "variableSetterType" : "DescribeEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEvents",
      "operationName" : "DescribeEvents",
      "returnType" : {
        "returnType" : "DescribeEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEventsResult"
    },
    "DescribeParameterGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeParameterGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeParameterGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeParameterGroupsRequest, DescribeParameterGroupsResult>",
      "asyncReturnType" : "DescribeParameterGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of parameter group descriptions. If a parameter group name is specified, the list will contain only the descriptions for that group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ParameterGroupNotFoundException",
        "documentation" : "<p>The specified parameter group does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeParameterGroupsRequest",
        "variableName" : "describeParameterGroupsRequest",
        "variableType" : "DescribeParameterGroupsRequest",
        "documentation" : "",
        "simpleType" : "DescribeParameterGroupsRequest",
        "variableSetterType" : "DescribeParameterGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeParameterGroups",
      "operationName" : "DescribeParameterGroups",
      "returnType" : {
        "returnType" : "DescribeParameterGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeParameterGroupsResult"
    },
    "DescribeParameters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeParametersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeParametersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeParametersRequest, DescribeParametersResult>",
      "asyncReturnType" : "DescribeParametersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the detailed parameter list for a particular parameter group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ParameterGroupNotFoundException",
        "documentation" : "<p>The specified parameter group does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeParametersRequest",
        "variableName" : "describeParametersRequest",
        "variableType" : "DescribeParametersRequest",
        "documentation" : "",
        "simpleType" : "DescribeParametersRequest",
        "variableSetterType" : "DescribeParametersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeParameters",
      "operationName" : "DescribeParameters",
      "returnType" : {
        "returnType" : "DescribeParametersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeParametersResult"
    },
    "DescribeSubnetGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSubnetGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSubnetGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSubnetGroupsRequest, DescribeSubnetGroupsResult>",
      "asyncReturnType" : "DescribeSubnetGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of subnet group descriptions. If a subnet group name is specified, the list will contain only the description of that group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "SubnetGroupNotFoundException",
        "documentation" : "<p>The requested subnet group name does not refer to an existing subnet group.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSubnetGroupsRequest",
        "variableName" : "describeSubnetGroupsRequest",
        "variableType" : "DescribeSubnetGroupsRequest",
        "documentation" : "",
        "simpleType" : "DescribeSubnetGroupsRequest",
        "variableSetterType" : "DescribeSubnetGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSubnetGroups",
      "operationName" : "DescribeSubnetGroups",
      "returnType" : {
        "returnType" : "DescribeSubnetGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSubnetGroupsResult"
    },
    "IncreaseReplicationFactor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<IncreaseReplicationFactorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<IncreaseReplicationFactorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<IncreaseReplicationFactorRequest, IncreaseReplicationFactorResult>",
      "asyncReturnType" : "IncreaseReplicationFactorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more nodes to a DAX cluster.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The requested cluster ID does not refer to an existing DAX cluster.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidClusterStateException",
        "documentation" : "<p>The requested DAX cluster is not in the <i>available</i> state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InsufficientClusterCapacityException",
        "documentation" : "<p>There are not enough system resources to create the cluster you requested (or to resize an already-existing cluster). </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidVPCNetworkStateException",
        "documentation" : "<p>The VPC network is in an invalid state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NodeQuotaForClusterExceededException",
        "documentation" : "<p>You have attempted to exceed the maximum number of nodes for a DAX cluster.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NodeQuotaForCustomerExceededException",
        "documentation" : "<p>You have attempted to exceed the maximum number of nodes for your AWS account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "IncreaseReplicationFactorRequest",
        "variableName" : "increaseReplicationFactorRequest",
        "variableType" : "IncreaseReplicationFactorRequest",
        "documentation" : "",
        "simpleType" : "IncreaseReplicationFactorRequest",
        "variableSetterType" : "IncreaseReplicationFactorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "increaseReplicationFactor",
      "operationName" : "IncreaseReplicationFactor",
      "returnType" : {
        "returnType" : "IncreaseReplicationFactorResult",
        "documentation" : null
      },
      "syncReturnType" : "IncreaseReplicationFactorResult"
    },
    "ListTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsRequest, ListTagsResult>",
      "asyncReturnType" : "ListTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List all of the tags for a DAX cluster. You can call <code>ListTags</code> up to 10 times per second, per account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The requested cluster ID does not refer to an existing DAX cluster.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidARNException",
        "documentation" : "<p>The Amazon Resource Name (ARN) supplied in the request is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidClusterStateException",
        "documentation" : "<p>The requested DAX cluster is not in the <i>available</i> state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsRequest",
        "variableName" : "listTagsRequest",
        "variableType" : "ListTagsRequest",
        "documentation" : "",
        "simpleType" : "ListTagsRequest",
        "variableSetterType" : "ListTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTags",
      "operationName" : "ListTags",
      "returnType" : {
        "returnType" : "ListTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsResult"
    },
    "RebootNode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RebootNodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RebootNodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RebootNodeRequest, RebootNodeResult>",
      "asyncReturnType" : "RebootNodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Reboots a single node of a DAX cluster. The reboot action takes place as soon as possible. During the reboot, the node status is set to REBOOTING.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The requested cluster ID does not refer to an existing DAX cluster.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NodeNotFoundException",
        "documentation" : "<p>None of the nodes in the cluster have the given node ID.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidClusterStateException",
        "documentation" : "<p>The requested DAX cluster is not in the <i>available</i> state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RebootNodeRequest",
        "variableName" : "rebootNodeRequest",
        "variableType" : "RebootNodeRequest",
        "documentation" : "",
        "simpleType" : "RebootNodeRequest",
        "variableSetterType" : "RebootNodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rebootNode",
      "operationName" : "RebootNode",
      "returnType" : {
        "returnType" : "RebootNodeResult",
        "documentation" : null
      },
      "syncReturnType" : "RebootNodeResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a set of tags with a DAX resource. You can call <code>TagResource</code> up to 5 times per second, per account. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The requested cluster ID does not refer to an existing DAX cluster.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagQuotaPerResourceExceededException",
        "documentation" : "<p>You have exceeded the maximum number of tags for this DAX cluster.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidARNException",
        "documentation" : "<p>The Amazon Resource Name (ARN) supplied in the request is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidClusterStateException",
        "documentation" : "<p>The requested DAX cluster is not in the <i>available</i> state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the association of tags from a DAX resource. You can call <code>UntagResource</code> up to 5 times per second, per account. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The requested cluster ID does not refer to an existing DAX cluster.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidARNException",
        "documentation" : "<p>The Amazon Resource Name (ARN) supplied in the request is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagNotFoundException",
        "documentation" : "<p>The tag does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidClusterStateException",
        "documentation" : "<p>The requested DAX cluster is not in the <i>available</i> state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateClusterRequest, UpdateClusterResult>",
      "asyncReturnType" : "UpdateClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the settings for a DAX cluster. You can use this action to change one or more cluster configuration parameters by specifying the parameters and the new values.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidClusterStateException",
        "documentation" : "<p>The requested DAX cluster is not in the <i>available</i> state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClusterNotFoundException",
        "documentation" : "<p>The requested cluster ID does not refer to an existing DAX cluster.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterGroupStateException",
        "documentation" : "<p>One or more parameters in a parameter group are in an invalid state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ParameterGroupNotFoundException",
        "documentation" : "<p>The specified parameter group does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateClusterRequest",
        "variableName" : "updateClusterRequest",
        "variableType" : "UpdateClusterRequest",
        "documentation" : "",
        "simpleType" : "UpdateClusterRequest",
        "variableSetterType" : "UpdateClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCluster",
      "operationName" : "UpdateCluster",
      "returnType" : {
        "returnType" : "UpdateClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateClusterResult"
    },
    "UpdateParameterGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateParameterGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateParameterGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateParameterGroupRequest, UpdateParameterGroupResult>",
      "asyncReturnType" : "UpdateParameterGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the parameters of a parameter group. You can modify up to 20 parameters in a single request by submitting a list parameter name and value pairs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterGroupStateException",
        "documentation" : "<p>One or more parameters in a parameter group are in an invalid state.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ParameterGroupNotFoundException",
        "documentation" : "<p>The specified parameter group does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value for a parameter is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>Two or more incompatible parameters were specified.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateParameterGroupRequest",
        "variableName" : "updateParameterGroupRequest",
        "variableType" : "UpdateParameterGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateParameterGroupRequest",
        "variableSetterType" : "UpdateParameterGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateParameterGroup",
      "operationName" : "UpdateParameterGroup",
      "returnType" : {
        "returnType" : "UpdateParameterGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateParameterGroupResult"
    },
    "UpdateSubnetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSubnetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSubnetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSubnetGroupRequest, UpdateSubnetGroupResult>",
      "asyncReturnType" : "UpdateSubnetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies an existing subnet group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "SubnetGroupNotFoundException",
        "documentation" : "<p>The requested subnet group name does not refer to an existing subnet group.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SubnetQuotaExceededException",
        "documentation" : "<p>The request cannot be processed because it would exceed the allowed number of subnets in a subnet group.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SubnetInUseException",
        "documentation" : "<p>The requested subnet is being used by another subnet group.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>An invalid subnet identifier was specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLinkedRoleNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSubnetGroupRequest",
        "variableName" : "updateSubnetGroupRequest",
        "variableType" : "UpdateSubnetGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateSubnetGroupRequest",
        "variableSetterType" : "UpdateSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSubnetGroup",
      "operationName" : "UpdateSubnetGroup",
      "returnType" : {
        "returnType" : "UpdateSubnetGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSubnetGroupResult"
    }
  },
  "shapes" : {
    "ChangeType" : {
      "c2jName" : "ChangeType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "IMMEDIATE",
        "value" : "IMMEDIATE"
      }, {
        "name" : "REQUIRES_REBOOT",
        "value" : "REQUIRES_REBOOT"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ChangeType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ChangeType",
        "variableName" : "changeType",
        "variableType" : "ChangeType",
        "documentation" : null,
        "simpleType" : "ChangeType",
        "variableSetterType" : "ChangeType"
      },
      "wrapper" : false
    },
    "Cluster" : {
      "c2jName" : "Cluster",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains all of the attributes of a specific DAX cluster.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ClusterName",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the DAX cluster.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the DAX cluster.</p>\n@param clusterName The name of the DAX cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClusterName",
        "getterDocumentation" : "/**<p>The name of the DAX cluster.</p>\n@return The name of the DAX cluster.*/",
        "getterMethodName" : "getClusterName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ClusterName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ClusterName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClusterName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the DAX cluster.</p>\n@param clusterName The name of the DAX cluster.*/",
        "setterMethodName" : "setClusterName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clusterName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the DAX cluster.</p>\n@param clusterName The name of the DAX cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clusterName",
          "variableType" : "String",
          "documentation" : "<p>The name of the DAX cluster.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The description of the cluster.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The description of the cluster.</p>\n@param description The description of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>The description of the cluster.</p>\n@return The description of the cluster.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The description of the cluster.</p>\n@param description The description of the cluster.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The description of the cluster.</p>\n@param description The description of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>The description of the cluster.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ClusterArn",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) that uniquely identifies the cluster. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) that uniquely identifies the cluster. </p>\n@param clusterArn The Amazon Resource Name (ARN) that uniquely identifies the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClusterArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) that uniquely identifies the cluster. </p>\n@return The Amazon Resource Name (ARN) that uniquely identifies the cluster.*/",
        "getterMethodName" : "getClusterArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ClusterArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ClusterArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClusterArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) that uniquely identifies the cluster. </p>\n@param clusterArn The Amazon Resource Name (ARN) that uniquely identifies the cluster.*/",
        "setterMethodName" : "setClusterArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clusterArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) that uniquely identifies the cluster. </p>\n@param clusterArn The Amazon Resource Name (ARN) that uniquely identifies the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clusterArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) that uniquely identifies the cluster. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TotalNodes",
        "c2jShape" : "IntegerOptional",
        "deprecated" : false,
        "documentation" : "<p>The total number of nodes in the cluster.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The total number of nodes in the cluster.</p>\n@param totalNodes The total number of nodes in the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTotalNodes",
        "getterDocumentation" : "/**<p>The total number of nodes in the cluster.</p>\n@return The total number of nodes in the cluster.*/",
        "getterMethodName" : "getTotalNodes",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TotalNodes",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TotalNodes",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "TotalNodes",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The total number of nodes in the cluster.</p>\n@param totalNodes The total number of nodes in the cluster.*/",
        "setterMethodName" : "setTotalNodes",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "totalNodes",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The total number of nodes in the cluster.</p>\n@param totalNodes The total number of nodes in the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "totalNodes",
          "variableType" : "Integer",
          "documentation" : "<p>The total number of nodes in the cluster.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ActiveNodes",
        "c2jShape" : "IntegerOptional",
        "deprecated" : false,
        "documentation" : "<p>The number of nodes in the cluster that are active (i.e., capable of serving requests).</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of nodes in the cluster that are active (i.e., capable of serving requests).</p>\n@param activeNodes The number of nodes in the cluster that are active (i.e., capable of serving requests).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withActiveNodes",
        "getterDocumentation" : "/**<p>The number of nodes in the cluster that are active (i.e., capable of serving requests).</p>\n@return The number of nodes in the cluster that are active (i.e., capable of serving requests).*/",
        "getterMethodName" : "getActiveNodes",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ActiveNodes",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ActiveNodes",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "ActiveNodes",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The number of nodes in the cluster that are active (i.e., capable of serving requests).</p>\n@param activeNodes The number of nodes in the cluster that are active (i.e., capable of serving requests).*/",
        "setterMethodName" : "setActiveNodes",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "activeNodes",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The number of nodes in the cluster that are active (i.e., capable of serving requests).</p>\n@param activeNodes The number of nodes in the cluster that are active (i.e., capable of serving requests).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "activeNodes",
          "variableType" : "Integer",
          "documentation" : "<p>The number of nodes in the cluster that are active (i.e., capable of serving requests).</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "NodeType",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The node type for the nodes in the cluster. (All nodes in a DAX cluster are of the same type.)</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The node type for the nodes in the cluster. (All nodes in a DAX cluster are of the same type.)</p>\n@param nodeType The node type for the nodes in the cluster. (All nodes in a DAX cluster are of the same type.)\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNodeType",
        "getterDocumentation" : "/**<p>The node type for the nodes in the cluster. (All nodes in a DAX cluster are of the same type.)</p>\n@return The node type for the nodes in the cluster. (All nodes in a DAX cluster are of the same type.)*/",
        "getterMethodName" : "getNodeType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "NodeType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NodeType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "NodeType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The node type for the nodes in the cluster. (All nodes in a DAX cluster are of the same type.)</p>\n@param nodeType The node type for the nodes in the cluster. (All nodes in a DAX cluster are of the same type.)*/",
        "setterMethodName" : "setNodeType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nodeType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The node type for the nodes in the cluster. (All nodes in a DAX cluster are of the same type.)</p>\n@param nodeType The node type for the nodes in the cluster. (All nodes in a DAX cluster are of the same type.)\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nodeType",
          "variableType" : "String",
          "documentation" : "<p>The node type for the nodes in the cluster. (All nodes in a DAX cluster are of the same type.)</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Status",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The current status of the cluster.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The current status of the cluster.</p>\n@param status The current status of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>The current status of the cluster.</p>\n@return The current status of the cluster.*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Status",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The current status of the cluster.</p>\n@param status The current status of the cluster.*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The current status of the cluster.</p>\n@param status The current status of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>The current status of the cluster.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ClusterDiscoveryEndpoint",
        "c2jShape" : "Endpoint",
        "deprecated" : false,
        "documentation" : "<p>The configuration endpoint for this DAX cluster, consisting of a DNS name and a port number. Client applications can specify this endpoint, rather than an individual node endpoint, and allow the DAX client software to intelligently route requests and responses to nodes in the DAX cluster.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The configuration endpoint for this DAX cluster, consisting of a DNS name and a port number. Client applications can specify this endpoint, rather than an individual node endpoint, and allow the DAX client software to intelligently route requests and responses to nodes in the DAX cluster.</p>\n@param clusterDiscoveryEndpoint The configuration endpoint for this DAX cluster, consisting of a DNS name and a port number. Client applications can specify this endpoint, rather than an individual node endpoint, and allow the DAX client software to intelligently route requests and responses to nodes in the DAX cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClusterDiscoveryEndpoint",
        "getterDocumentation" : "/**<p>The configuration endpoint for this DAX cluster, consisting of a DNS name and a port number. Client applications can specify this endpoint, rather than an individual node endpoint, and allow the DAX client software to intelligently route requests and responses to nodes in the DAX cluster.</p>\n@return The configuration endpoint for this DAX cluster, consisting of a DNS name and a port number. Client applications can specify this endpoint, rather than an individual node endpoint, and allow the DAX client software to intelligently route requests and responses to nodes in the DAX cluster.*/",
        "getterMethodName" : "getClusterDiscoveryEndpoint",
        "getterModel" : {
          "returnType" : "Endpoint",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ClusterDiscoveryEndpoint",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ClusterDiscoveryEndpoint",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ClusterDiscoveryEndpoint",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The configuration endpoint for this DAX cluster, consisting of a DNS name and a port number. Client applications can specify this endpoint, rather than an individual node endpoint, and allow the DAX client software to intelligently route requests and responses to nodes in the DAX cluster.</p>\n@param clusterDiscoveryEndpoint The configuration endpoint for this DAX cluster, consisting of a DNS name and a port number. Client applications can specify this endpoint, rather than an individual node endpoint, and allow the DAX client software to intelligently route requests and responses to nodes in the DAX cluster.*/",
        "setterMethodName" : "setClusterDiscoveryEndpoint",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Endpoint",
          "variableName" : "clusterDiscoveryEndpoint",
          "variableType" : "Endpoint",
          "documentation" : "",
          "simpleType" : "Endpoint",
          "variableSetterType" : "Endpoint"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The configuration endpoint for this DAX cluster, consisting of a DNS name and a port number. Client applications can specify this endpoint, rather than an individual node endpoint, and allow the DAX client software to intelligently route requests and responses to nodes in the DAX cluster.</p>\n@param clusterDiscoveryEndpoint The configuration endpoint for this DAX cluster, consisting of a DNS name and a port number. Client applications can specify this endpoint, rather than an individual node endpoint, and allow the DAX client software to intelligently route requests and responses to nodes in the DAX cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Endpoint",
          "variableName" : "clusterDiscoveryEndpoint",
          "variableType" : "Endpoint",
          "documentation" : "<p>The configuration endpoint for this DAX cluster, consisting of a DNS name and a port number. Client applications can specify this endpoint, rather than an individual node endpoint, and allow the DAX client software to intelligently route requests and responses to nodes in the DAX cluster.</p>",
          "simpleType" : "Endpoint",
          "variableSetterType" : "Endpoint"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "NodeIdsToRemove",
        "c2jShape" : "NodeIdentifierList",
        "deprecated" : false,
        "documentation" : "<p>A list of nodes to be removed from the cluster.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of nodes to be removed from the cluster.</p>\n@param nodeIdsToRemove A list of nodes to be removed from the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNodeIdsToRemove",
        "getterDocumentation" : "/**<p>A list of nodes to be removed from the cluster.</p>\n@return A list of nodes to be removed from the cluster.*/",
        "getterMethodName" : "getNodeIdsToRemove",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "NodeIdsToRemove",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NodeIdsToRemove",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "String",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "NodeIdsToRemove",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of nodes to be removed from the cluster.</p>\n@param nodeIdsToRemove A list of nodes to be removed from the cluster.*/",
        "setterMethodName" : "setNodeIdsToRemove",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "nodeIdsToRemove",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of nodes to be removed from the cluster.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setNodeIdsToRemove(java.util.Collection)} or {@link #withNodeIdsToRemove(java.util.Collection)} if you want to override the existing values.</p>\n@param nodeIdsToRemove A list of nodes to be removed from the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "nodeIdsToRemove",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>A list of nodes to be removed from the cluster.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Nodes",
        "c2jShape" : "NodeList",
        "deprecated" : false,
        "documentation" : "<p>A list of nodes that are currently in the cluster.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of nodes that are currently in the cluster.</p>\n@param nodes A list of nodes that are currently in the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNodes",
        "getterDocumentation" : "/**<p>A list of nodes that are currently in the cluster.</p>\n@return A list of nodes that are currently in the cluster.*/",
        "getterMethodName" : "getNodes",
        "getterModel" : {
          "returnType" : "java.util.List<Node>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Nodes",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Nodes",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Node",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Node",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Node",
              "variableName" : "member",
              "variableType" : "Node",
              "documentation" : "",
              "simpleType" : "Node",
              "variableSetterType" : "Node"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Node",
              "variableName" : "member",
              "variableType" : "Node",
              "documentation" : "",
              "simpleType" : "Node",
              "variableSetterType" : "Node"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Node",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Node",
          "templateImplType" : "java.util.ArrayList<Node>",
          "templateType" : "java.util.List<Node>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Nodes",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of nodes that are currently in the cluster.</p>\n@param nodes A list of nodes that are currently in the cluster.*/",
        "setterMethodName" : "setNodes",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Node>",
          "variableName" : "nodes",
          "variableType" : "java.util.List<Node>",
          "documentation" : "",
          "simpleType" : "List<Node>",
          "variableSetterType" : "java.util.Collection<Node>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of nodes that are currently in the cluster.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setNodes(java.util.Collection)} or {@link #withNodes(java.util.Collection)} if you want to override the existing values.</p>\n@param nodes A list of nodes that are currently in the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Node>",
          "variableName" : "nodes",
          "variableType" : "java.util.List<Node>",
          "documentation" : "<p>A list of nodes that are currently in the cluster.</p>",
          "simpleType" : "List<Node>",
          "variableSetterType" : "java.util.Collection<Node>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PreferredMaintenanceWindow",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>A range of time when maintenance of DAX cluster software will be performed. For example: <code>sun:01:00-sun:09:00</code>. Cluster maintenance normally takes less than 30 minutes, and is performed automatically within the maintenance window.</p>",
        "enumType" : null,
[...]
