{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-10-26",
    "asyncClient" : "AmazonDetectiveAsyncClient",
    "asyncClientBuilderClassName" : "AmazonDetectiveAsyncClientBuilder",
    "asyncInterface" : "AmazonDetectiveAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonDetectiveModuleInjector",
    "defaultEndpoint" : "api.detective.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "api.detective.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<important> <p>Amazon Detective is currently in preview. The Detective API can only be used by accounts that are admitted into the preview.</p> </important> <p>Detective uses machine learning and purpose-built visualizations to help you analyze and investigate security issues across your Amazon Web Services (AWS) workloads. Detective automatically extracts time-based events such as login attempts, API calls, and network traffic from AWS CloudTrail and Amazon Virtual Private Cloud (Amazon VPC) flow logs. It also extracts findings detected by Amazon GuardDuty.</p> <p>The Detective API primarily supports the creation and management of behavior graphs. A behavior graph contains the extracted data from a set of member accounts, and is created and managed by a master account.</p> <p>Every behavior graph is specific to a Region. You can only use the API to manage graphs that belong to the Region that is associated with the currently selected endpoint.</p> <p>A Detective master account can use the Detective API to do the following:</p> <ul> <li> <p>Enable and disable Detective. Enabling Detective creates a new behavior graph.</p> </li> <li> <p>View the list of member accounts in a behavior graph.</p> </li> <li> <p>Add member accounts to a behavior graph.</p> </li> <li> <p>Remove member accounts from a behavior graph.</p> </li> </ul> <p>A member account can use the Detective API to do the following:</p> <ul> <li> <p>View the list of behavior graphs that they are invited to.</p> </li> <li> <p>Accept an invitation to contribute to a behavior graph.</p> </li> <li> <p>Decline an invitation to contribute to a behavior graph.</p> </li> <li> <p>Remove their account from a behavior graph.</p> </li> </ul> <p>All API actions are logged as CloudTrail events. See <a href=\"https://docs.aws.amazon.com/detective/latest/adminguide/logging-using-cloudtrail.html\">Logging Detective API Calls with CloudTrail</a>.</p>",
    "endpointPrefix" : "api.detective",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.detective",
    "packagePath" : "com/amazonaws/services/detective",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Detective",
    "serviceId" : "Detective",
    "serviceName" : "Amazon Detective",
    "signingName" : "detective",
    "smokeTestsPackageName" : "com.amazonaws.services.detective.smoketests",
    "syncClient" : "AmazonDetectiveClient",
    "syncClientBuilderClassName" : "AmazonDetectiveClientBuilder",
    "syncInterface" : "AmazonDetective",
    "uid" : "detective-2018-10-26",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AcceptInvitation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AcceptInvitationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AcceptInvitationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcceptInvitationRequest, AcceptInvitationResult>",
      "asyncReturnType" : "AcceptInvitationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Amazon Detective is currently in preview.</p> <p>Accepts an invitation for the member account to contribute data to a behavior graph. This operation can only be called by an invited member account. </p> <p>The request provides the ARN of behavior graph.</p> <p>The member account status in the graph must be <code>INVITED</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request attempted an invalid action.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptInvitationRequest",
        "variableName" : "acceptInvitationRequest",
        "variableType" : "AcceptInvitationRequest",
        "documentation" : "",
        "simpleType" : "AcceptInvitationRequest",
        "variableSetterType" : "AcceptInvitationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "acceptInvitation",
      "operationName" : "AcceptInvitation",
      "returnType" : {
        "returnType" : "AcceptInvitationResult",
        "documentation" : null
      },
      "syncReturnType" : "AcceptInvitationResult"
    },
    "CreateGraph" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGraphResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGraphResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGraphRequest, CreateGraphResult>",
      "asyncReturnType" : "CreateGraphResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Amazon Detective is currently in preview.</p> <p>Creates a new behavior graph for the calling account, and sets that account as the master account. This operation is called by the account that is enabling Detective.</p> <p>The operation also enables Detective for the calling account in the currently selected Region. It returns the ARN of the new behavior graph.</p> <p> <code>CreateGraph</code> triggers a process to create the corresponding data tables for the new behavior graph.</p> <p>An account can only be the master account for one behavior graph within a Region. If the same account calls <code>CreateGraph</code> with the same master account, it always returns the same behavior graph ARN. It does not create a new behavior graph.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request attempted an invalid action.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGraphRequest",
        "variableName" : "createGraphRequest",
        "variableType" : "CreateGraphRequest",
        "documentation" : null,
        "simpleType" : "CreateGraphRequest",
        "variableSetterType" : "CreateGraphRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGraph",
      "operationName" : "CreateGraph",
      "returnType" : {
        "returnType" : "CreateGraphResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGraphResult"
    },
    "CreateMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMembersRequest, CreateMembersResult>",
      "asyncReturnType" : "CreateMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Amazon Detective is currently in preview.</p> <p>Sends a request to invite the specified AWS accounts to be member accounts in the behavior graph. This operation can only be called by the master account for a behavior graph. </p> <p> <code>CreateMembers</code> verifies the accounts and then sends invitations to the verified accounts.</p> <p>The request provides the behavior graph ARN and the list of accounts to invite.</p> <p>The response separates the requested accounts into two lists:</p> <ul> <li> <p>The accounts that <code>CreateMembers</code> was able to start the verification for. This list includes member accounts that are being verified, that have passed verification and are being sent an invitation, and that have failed verification.</p> </li> <li> <p>The accounts that <code>CreateMembers</code> was unable to process. This list includes accounts that were already invited to be member accounts in the behavior graph.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause the number of member accounts in the behavior graph to exceed the maximum allowed. A behavior graph cannot have more than 1000 member accounts.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMembersRequest",
        "variableName" : "createMembersRequest",
        "variableType" : "CreateMembersRequest",
        "documentation" : "",
        "simpleType" : "CreateMembersRequest",
        "variableSetterType" : "CreateMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMembers",
      "operationName" : "CreateMembers",
      "returnType" : {
        "returnType" : "CreateMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMembersResult"
    },
    "DeleteGraph" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGraphResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGraphResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGraphRequest, DeleteGraphResult>",
      "asyncReturnType" : "DeleteGraphResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Amazon Detective is currently in preview.</p> <p>Disables the specified behavior graph and queues it to be deleted. This operation removes the graph from each member account's list of behavior graphs.</p> <p> <code>DeleteGraph</code> can only be called by the master account for a behavior graph.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteGraphRequest",
        "variableName" : "deleteGraphRequest",
        "variableType" : "DeleteGraphRequest",
        "documentation" : "",
        "simpleType" : "DeleteGraphRequest",
        "variableSetterType" : "DeleteGraphRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteGraph",
      "operationName" : "DeleteGraph",
      "returnType" : {
        "returnType" : "DeleteGraphResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteGraphResult"
    },
    "DeleteMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMembersRequest, DeleteMembersResult>",
      "asyncReturnType" : "DeleteMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Amazon Detective is currently in preview.</p> <p>Deletes one or more member accounts from the master account behavior graph. This operation can only be called by a Detective master account. That account cannot use <code>DeleteMembers</code> to delete their own account from the behavior graph. To disable a behavior graph, the master account uses the <code>DeleteGraph</code> API method.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request attempted an invalid action.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMembersRequest",
        "variableName" : "deleteMembersRequest",
        "variableType" : "DeleteMembersRequest",
        "documentation" : "",
        "simpleType" : "DeleteMembersRequest",
        "variableSetterType" : "DeleteMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMembers",
      "operationName" : "DeleteMembers",
      "returnType" : {
        "returnType" : "DeleteMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMembersResult"
    },
    "DisassociateMembership" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateMembershipResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateMembershipResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateMembershipRequest, DisassociateMembershipResult>",
      "asyncReturnType" : "DisassociateMembershipResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Amazon Detective is currently in preview.</p> <p>Removes the member account from the specified behavior graph. This operation can only be called by a member account that has the <code>ENABLED</code> status.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request attempted an invalid action.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateMembershipRequest",
        "variableName" : "disassociateMembershipRequest",
        "variableType" : "DisassociateMembershipRequest",
        "documentation" : "",
        "simpleType" : "DisassociateMembershipRequest",
        "variableSetterType" : "DisassociateMembershipRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateMembership",
      "operationName" : "DisassociateMembership",
      "returnType" : {
        "returnType" : "DisassociateMembershipResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateMembershipResult"
    },
    "GetMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMembersRequest, GetMembersResult>",
      "asyncReturnType" : "GetMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Amazon Detective is currently in preview.</p> <p>Returns the membership details for specified member accounts for a behavior graph.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMembersRequest",
        "variableName" : "getMembersRequest",
        "variableType" : "GetMembersRequest",
        "documentation" : "",
        "simpleType" : "GetMembersRequest",
        "variableSetterType" : "GetMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMembers",
      "operationName" : "GetMembers",
      "returnType" : {
        "returnType" : "GetMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMembersResult"
    },
    "ListGraphs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGraphsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGraphsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGraphsRequest, ListGraphsResult>",
      "asyncReturnType" : "ListGraphsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Amazon Detective is currently in preview.</p> <p>Returns the list of behavior graphs that the calling account is a master of. This operation can only be called by a master account.</p> <p>Because an account can currently only be the master of one behavior graph within a Region, the results always contain a single graph.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListGraphsRequest",
        "variableName" : "listGraphsRequest",
        "variableType" : "ListGraphsRequest",
        "documentation" : "",
        "simpleType" : "ListGraphsRequest",
        "variableSetterType" : "ListGraphsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGraphs",
      "operationName" : "ListGraphs",
      "returnType" : {
        "returnType" : "ListGraphsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGraphsResult"
    },
    "ListInvitations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInvitationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInvitationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInvitationsRequest, ListInvitationsResult>",
      "asyncReturnType" : "ListInvitationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Amazon Detective is currently in preview.</p> <p>Retrieves the list of open and accepted behavior graph invitations for the member account. This operation can only be called by a member account.</p> <p>Open invitations are invitations that the member account has not responded to.</p> <p>The results do not include behavior graphs for which the member account declined the invitation. The results also do not include behavior graphs that the member account resigned from or was removed from.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListInvitationsRequest",
        "variableName" : "listInvitationsRequest",
        "variableType" : "ListInvitationsRequest",
        "documentation" : "",
        "simpleType" : "ListInvitationsRequest",
        "variableSetterType" : "ListInvitationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInvitations",
      "operationName" : "ListInvitations",
      "returnType" : {
        "returnType" : "ListInvitationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListInvitationsResult"
    },
    "ListMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMembersRequest, ListMembersResult>",
      "asyncReturnType" : "ListMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Amazon Detective is currently in preview.</p> <p>Retrieves the list of member accounts for a behavior graph. Does not return member accounts that were removed from the behavior graph.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMembersRequest",
        "variableName" : "listMembersRequest",
        "variableType" : "ListMembersRequest",
        "documentation" : "",
        "simpleType" : "ListMembersRequest",
        "variableSetterType" : "ListMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMembers",
      "operationName" : "ListMembers",
      "returnType" : {
        "returnType" : "ListMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMembersResult"
    },
    "RejectInvitation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RejectInvitationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RejectInvitationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RejectInvitationRequest, RejectInvitationResult>",
      "asyncReturnType" : "RejectInvitationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Amazon Detective is currently in preview.</p> <p>Rejects an invitation to contribute the account data to a behavior graph. This operation must be called by a member account that has the <code>INVITED</code> status.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request attempted an invalid action.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RejectInvitationRequest",
        "variableName" : "rejectInvitationRequest",
        "variableType" : "RejectInvitationRequest",
        "documentation" : "",
        "simpleType" : "RejectInvitationRequest",
        "variableSetterType" : "RejectInvitationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rejectInvitation",
      "operationName" : "RejectInvitation",
      "returnType" : {
        "returnType" : "RejectInvitationResult",
        "documentation" : null
      },
      "syncReturnType" : "RejectInvitationResult"
    }
  },
  "shapes" : {
    "AcceptInvitationRequest" : {
      "c2jName" : "AcceptInvitationRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AcceptInvitation",
        "locationName" : null,
        "requestUri" : "/invitation",
        "target" : null,
        "verb" : "PUT",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "GraphArn",
        "c2jShape" : "GraphArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>\n@param graphArn The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGraphArn",
        "getterDocumentation" : "/**<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>\n@return The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.*/",
        "getterMethodName" : "getGraphArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "GraphArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "GraphArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "GraphArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>\n@param graphArn The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.*/",
        "setterMethodName" : "setGraphArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "graphArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>\n@param graphArn The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "graphArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "GraphArn" : {
          "c2jName" : "GraphArn",
          "c2jShape" : "GraphArn",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>\n@param graphArn The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withGraphArn",
          "getterDocumentation" : "/**<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>\n@return The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.*/",
          "getterMethodName" : "getGraphArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "GraphArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "GraphArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "GraphArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>\n@param graphArn The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.*/",
          "setterMethodName" : "setGraphArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "graphArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>\n@param graphArn The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "graphArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "GraphArn" ],
      "shapeName" : "AcceptInvitationRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptInvitationRequest",
        "variableName" : "acceptInvitationRequest",
        "variableType" : "AcceptInvitationRequest",
        "documentation" : null,
        "simpleType" : "AcceptInvitationRequest",
        "variableSetterType" : "AcceptInvitationRequest"
      },
      "wrapper" : false
    },
    "AcceptInvitationResult" : {
      "c2jName" : "AcceptInvitationResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AcceptInvitationResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptInvitationResult",
        "variableName" : "acceptInvitationResult",
        "variableType" : "AcceptInvitationResult",
        "documentation" : null,
        "simpleType" : "AcceptInvitationResult",
        "variableSetterType" : "AcceptInvitationResult"
      },
      "wrapper" : false
    },
    "Account" : {
      "c2jName" : "Account",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Amazon Detective is currently in preview.</p> <p>An AWS account that is the master of or a member of a behavior graph.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AccountId",
        "c2jShape" : "AccountId",
        "deprecated" : false,
        "documentation" : "<p>The account identifier of the AWS account.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The account identifier of the AWS account.</p>\n@param accountId The account identifier of the AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccountId",
        "getterDocumentation" : "/**<p>The account identifier of the AWS account.</p>\n@return The account identifier of the AWS account.*/",
        "getterMethodName" : "getAccountId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AccountId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AccountId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccountId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The account identifier of the AWS account.</p>\n@param accountId The account identifier of the AWS account.*/",
        "setterMethodName" : "setAccountId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The account identifier of the AWS account.</p>\n@param accountId The account identifier of the AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountId",
          "variableType" : "String",
          "documentation" : "<p>The account identifier of the AWS account.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EmailAddress",
        "c2jShape" : "EmailAddress",
        "deprecated" : false,
        "documentation" : "<p>The AWS account root user email address for the AWS account.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS account root user email address for the AWS account.</p>\n@param emailAddress The AWS account root user email address for the AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEmailAddress",
        "getterDocumentation" : "/**<p>The AWS account root user email address for the AWS account.</p>\n@return The AWS account root user email address for the AWS account.*/",
        "getterMethodName" : "getEmailAddress",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EmailAddress",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EmailAddress",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "EmailAddress",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The AWS account root user email address for the AWS account.</p>\n@param emailAddress The AWS account root user email address for the AWS account.*/",
        "setterMethodName" : "setEmailAddress",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "emailAddress",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The AWS account root user email address for the AWS account.</p>\n@param emailAddress The AWS account root user email address for the AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "emailAddress",
          "variableType" : "String",
          "documentation" : "<p>The AWS account root user email address for the AWS account.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AccountId" : {
          "c2jName" : "AccountId",
          "c2jShape" : "AccountId",
          "deprecated" : false,
          "documentation" : "<p>The account identifier of the AWS account.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The account identifier of the AWS account.</p>\n@param accountId The account identifier of the AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAccountId",
          "getterDocumentation" : "/**<p>The account identifier of the AWS account.</p>\n@return The account identifier of the AWS account.*/",
          "getterMethodName" : "getAccountId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AccountId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AccountId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AccountId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The account identifier of the AWS account.</p>\n@param accountId The account identifier of the AWS account.*/",
          "setterMethodName" : "setAccountId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accountId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The account identifier of the AWS account.</p>\n@param accountId The account identifier of the AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accountId",
            "variableType" : "String",
            "documentation" : "<p>The account identifier of the AWS account.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "EmailAddress" : {
          "c2jName" : "EmailAddress",
          "c2jShape" : "EmailAddress",
          "deprecated" : false,
          "documentation" : "<p>The AWS account root user email address for the AWS account.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The AWS account root user email address for the AWS account.</p>\n@param emailAddress The AWS account root user email address for the AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEmailAddress",
          "getterDocumentation" : "/**<p>The AWS account root user email address for the AWS account.</p>\n@return The AWS account root user email address for the AWS account.*/",
          "getterMethodName" : "getEmailAddress",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "EmailAddress",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EmailAddress",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "EmailAddress",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The AWS account root user email address for the AWS account.</p>\n@param emailAddress The AWS account root user email address for the AWS account.*/",
          "setterMethodName" : "setEmailAddress",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "emailAddress",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The AWS account root user email address for the AWS account.</p>\n@param emailAddress The AWS account root user email address for the AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "emailAddress",
            "variableType" : "String",
            "documentation" : "<p>The AWS account root user email address for the AWS account.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "AccountId", "EmailAddress" ],
      "shapeName" : "Account",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Account",
        "variableName" : "account",
        "variableType" : "Account",
        "documentation" : null,
        "simpleType" : "Account",
        "variableSetterType" : "Account"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request attempted an invalid action.</p>",
      "enums" : null,
      "errorCode" : "ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "CreateGraphRequest" : {
      "c2jName" : "CreateGraphRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateGraph",
        "locationName" : null,
        "requestUri" : "/graph",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CreateGraphRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGraphRequest",
        "variableName" : "createGraphRequest",
        "variableType" : "CreateGraphRequest",
        "documentation" : null,
        "simpleType" : "CreateGraphRequest",
        "variableSetterType" : "CreateGraphRequest"
      },
      "wrapper" : false
    },
    "CreateGraphResult" : {
      "c2jName" : "CreateGraphResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "GraphArn",
        "c2jShape" : "GraphArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the new behavior graph.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the new behavior graph.</p>\n@param graphArn The ARN of the new behavior graph.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGraphArn",
        "getterDocumentation" : "/**<p>The ARN of the new behavior graph.</p>\n@return The ARN of the new behavior graph.*/",
        "getterMethodName" : "getGraphArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "GraphArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "GraphArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "GraphArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the new behavior graph.</p>\n@param graphArn The ARN of the new behavior graph.*/",
        "setterMethodName" : "setGraphArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "graphArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the new behavior graph.</p>\n@param graphArn The ARN of the new behavior graph.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "graphArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the new behavior graph.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "GraphArn" : {
          "c2jName" : "GraphArn",
          "c2jShape" : "GraphArn",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the new behavior graph.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the new behavior graph.</p>\n@param graphArn The ARN of the new behavior graph.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withGraphArn",
          "getterDocumentation" : "/**<p>The ARN of the new behavior graph.</p>\n@return The ARN of the new behavior graph.*/",
          "getterMethodName" : "getGraphArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "GraphArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "GraphArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "GraphArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN of the new behavior graph.</p>\n@param graphArn The ARN of the new behavior graph.*/",
          "setterMethodName" : "setGraphArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "graphArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the new behavior graph.</p>\n@param graphArn The ARN of the new behavior graph.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "graphArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the new behavior graph.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CreateGraphResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGraphResult",
        "variableName" : "createGraphResult",
        "variableType" : "CreateGraphResult",
        "documentation" : null,
        "simpleType" : "CreateGraphResult",
        "variableSetterType" : "CreateGraphResult"
      },
      "wrapper" : false
    },
    "CreateMembersRequest" : {
      "c2jName" : "CreateMembersRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateMembers",
        "locationName" : null,
        "requestUri" : "/graph/members",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "GraphArn",
        "c2jShape" : "GraphArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the behavior graph to invite the member accounts to contribute their data to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the behavior graph to invite the member accounts to contribute their data to.</p>\n@param graphArn The ARN of the behavior graph to invite the member accounts to contribute their data to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGraphArn",
        "getterDocumentation" : "/**<p>The ARN of the behavior graph to invite the member accounts to contribute their data to.</p>\n@return The ARN of the behavior graph to invite the member accounts to contribute their data to.*/",
        "getterMethodName" : "getGraphArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "GraphArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "GraphArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "GraphArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the behavior graph to invite the member accounts to contribute their data to.</p>\n@param graphArn The ARN of the behavior graph to invite the member accounts to contribute their data to.*/",
        "setterMethodName" : "setGraphArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "graphArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the behavior graph to invite the member accounts to contribute their data to.</p>\n@param graphArn The ARN of the behavior graph to invite the member accounts to contribute their data to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "graphArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the behavior graph to invite the member accounts to contribute their data to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Message",
        "c2jShape" : "EmailMessage",
        "deprecated" : false,
        "documentation" : "<p>Customized message text to include in the invitation email message to the invited member accounts.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Customized message text to include in the invitation email message to the invited member accounts.</p>\n@param message Customized message text to include in the invitation email message to the invited member accounts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMessage",
        "getterDocumentation" : "/**<p>Customized message text to include in the invitation email message to the invited member accounts.</p>\n@return Customized message text to include in the invitation email message to the invited member accounts.*/",
        "getterMethodName" : "getMessage",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Message",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Message",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Message",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Customized message text to include in the invitation email message to the invited member accounts.</p>\n@param message Customized message text to include in the invitation email message to the invited member accounts.*/",
        "setterMethodName" : "setMessage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "message",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Customized message text to include in the invitation email message to the invited member accounts.</p>\n@param message Customized message text to include in the invitation email message to the invited member accounts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "message",
          "variableType" : "String",
          "documentation" : "<p>Customized message text to include in the invitation email message to the invited member accounts.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Accounts",
        "c2jShape" : "AccountList",
        "deprecated" : false,
        "documentation" : "<p>The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.</p>\n@param accounts The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccounts",
        "getterDocumentation" : "/**<p>The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.</p>\n@return The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.*/",
        "getterMethodName" : "getAccounts",
        "getterModel" : {
          "returnType" : "java.util.List<Account>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Accounts",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Accounts",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Account",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Account",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Account",
              "variableName" : "member",
              "variableType" : "Account",
              "documentation" : "",
              "simpleType" : "Account",
              "variableSetterType" : "Account"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Account",
              "variableName" : "member",
              "variableType" : "Account",
              "documentation" : "",
              "simpleType" : "Account",
              "variableSetterType" : "Account"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Account",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Account",
          "templateImplType" : "java.util.ArrayList<Account>",
          "templateType" : "java.util.List<Account>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Accounts",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.</p>\n@param accounts The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.*/",
        "setterMethodName" : "setAccounts",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Account>",
          "variableName" : "accounts",
          "variableType" : "java.util.List<Account>",
          "documentation" : "",
          "simpleType" : "List<Account>",
          "variableSetterType" : "java.util.Collection<Account>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAccounts(java.util.Collection)} or {@link #withAccounts(java.util.Collection)} if you want to override the existing values.</p>\n@param accounts The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Account>",
          "variableName" : "accounts",
          "variableType" : "java.util.List<Account>",
          "documentation" : "<p>The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.</p>",
          "simpleType" : "List<Account>",
          "variableSetterType" : "java.util.Collection<Account>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Accounts" : {
          "c2jName" : "Accounts",
          "c2jShape" : "AccountList",
          "deprecated" : false,
          "documentation" : "<p>The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.</p>\n@param accounts The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAccounts",
          "getterDocumentation" : "/**<p>The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.</p>\n@return The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.*/",
          "getterMethodName" : "getAccounts",
          "getterModel" : {
            "returnType" : "java.util.List<Account>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Accounts",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Accounts",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Account",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Account",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Account",
                "variableName" : "member",
                "variableType" : "Account",
                "documentation" : "",
                "simpleType" : "Account",
                "variableSetterType" : "Account"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Account",
                "variableName" : "member",
                "variableType" : "Account",
                "documentation" : "",
                "simpleType" : "Account",
                "variableSetterType" : "Account"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Account",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Account",
            "templateImplType" : "java.util.ArrayList<Account>",
            "templateType" : "java.util.List<Account>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Accounts",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.</p>\n@param accounts The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.*/",
          "setterMethodName" : "setAccounts",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Account>",
            "variableName" : "accounts",
            "variableType" : "java.util.List<Account>",
            "documentation" : "",
            "simpleType" : "List<Account>",
            "variableSetterType" : "java.util.Collection<Account>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAccounts(java.util.Collection)} or {@link #withAccounts(java.util.Collection)} if you want to override the existing values.</p>\n@param accounts The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Account>",
            "variableName" : "accounts",
            "variableType" : "java.util.List<Account>",
            "documentation" : "<p>The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.</p>",
            "simpleType" : "List<Account>",
            "variableSetterType" : "java.util.Collection<Account>"
          },
          "xmlNameSpaceUri" : null
        },
        "GraphArn" : {
          "c2jName" : "GraphArn",
          "c2jShape" : "GraphArn",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the behavior graph to invite the member accounts to contribute their data to.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the behavior graph to invite the member accounts to contribute their data to.</p>\n@param graphArn The ARN of the behavior graph to invite the member accounts to contribute their data to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withGraphArn",
          "getterDocumentation" : "/**<p>The ARN of the behavior graph to invite the member accounts to contribute their data to.</p>\n@return The ARN of the behavior graph to invite the member accounts to contribute their data to.*/",
          "getterMethodName" : "getGraphArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "GraphArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "GraphArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "GraphArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN of the behavior graph to invite the member accounts to contribute their data to.</p>\n@param graphArn The ARN of the behavior graph to invite the member accounts to contribute their data to.*/",
          "setterMethodName" : "setGraphArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "graphArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the behavior graph to invite the member accounts to contribute their data to.</p>\n@param graphArn The ARN of the behavior graph to invite the member accounts to contribute their data to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "graphArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the behavior graph to invite the member accounts to contribute their data to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Message" : {
          "c2jName" : "Message",
          "c2jShape" : "EmailMessage",
          "deprecated" : false,
          "documentation" : "<p>Customized message text to include in the invitation email message to the invited member accounts.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Customized message text to include in the invitation email message to the invited member accounts.</p>\n@param message Customized message text to include in the invitation email message to the invited member accounts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMessage",
          "getterDocumentation" : "/**<p>Customized message text to include in the invitation email message to the invited member accounts.</p>\n@return Customized message text to include in the invitation email message to the invited member accounts.*/",
          "getterMethodName" : "getMessage",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Message",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Message",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Message",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Customized message text to include in the invitation email message to the invited member accounts.</p>\n@param message Customized message text to include in the invitation email message to the invited member accounts.*/",
          "setterMethodName" : "setMessage",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "message",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Customized message text to include in the invitation email message to the invited member accounts.</p>\n@param message Customized message text to include in the invitation email message to the invited member accounts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "message",
            "variableType" : "String",
            "documentation" : "<p>Customized message text to include in the invitation email message to the invited member accounts.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "GraphArn", "Accounts" ],
      "shapeName" : "CreateMembersRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMembersRequest",
        "variableName" : "createMembersRequest",
        "variableType" : "CreateMembersRequest",
        "documentation" : null,
        "simpleType" : "CreateMembersRequest",
        "variableSetterType" : "CreateMembersRequest"
      },
      "wrapper" : false
    },
    "CreateMembersResult" : {
      "c2jName" : "CreateMembersResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Members",
        "c2jShape" : "MemberDetailList",
        "deprecated" : false,
        "documentation" : "<p>The set of member account invitation requests that Detective was able to process. This includes accounts that are being verified, that failed verification, and that passed verification and are being sent an invitation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The set of member account invitation requests that Detective was able to process. This includes accounts that are being verified, that failed verification, and that passed verification and are being sent an invitation.</p>\n@param members The set of member account invitation requests that Detective was able to process. This includes accounts that are being verified, that failed verification, and that passed verification and are being sent an invitation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMembers",
        "getterDocumentation" : "/**<p>The set of member account invitation requests that Detective was able to process. This includes accounts that are being verified, that failed verification, and that passed verification and are being sent an invitation.</p>\n@return The set of member account invitation requests that Detective was able to process. This includes accounts that are being verified, that failed verification, and that passed verification and are being sent an invitation.*/",
        "getterMethodName" : "getMembers",
[...]
