{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-10-26",
    "asyncClient" : "AmazonDetectiveAsyncClient",
    "asyncClientBuilderClassName" : "AmazonDetectiveAsyncClientBuilder",
    "asyncInterface" : "AmazonDetectiveAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonDetectiveModuleInjector",
    "defaultEndpoint" : "api.detective.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "api.detective.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Detective uses machine learning and purpose-built visualizations to help you to analyze and investigate security issues across your Amazon Web Services (Amazon Web Services) workloads. Detective automatically extracts time-based events such as login attempts, API calls, and network traffic from CloudTrail and Amazon Virtual Private Cloud (Amazon VPC) flow logs. It also extracts findings detected by Amazon GuardDuty.</p> <p>The Detective API primarily supports the creation and management of behavior graphs. A behavior graph contains the extracted data from a set of member accounts, and is created and managed by an administrator account.</p> <p>To add a member account to the behavior graph, the administrator account sends an invitation to the account. When the account accepts the invitation, it becomes a member account in the behavior graph.</p> <p>Detective is also integrated with Organizations. The organization management account designates the Detective administrator account for the organization. That account becomes the administrator account for the organization behavior graph. The Detective administrator account is also the delegated administrator account for Detective in Organizations.</p> <p>The Detective administrator account can enable any organization account as a member account in the organization behavior graph. The organization accounts do not receive invitations. The Detective administrator account can also invite other accounts to the organization behavior graph.</p> <p>Every behavior graph is specific to a Region. You can only use the API to manage behavior graphs that belong to the Region that is associated with the currently selected endpoint.</p> <p>The administrator account for a behavior graph can use the Detective API to do the following:</p> <ul> <li> <p>Enable and disable Detective. Enabling Detective creates a new behavior graph.</p> </li> <li> <p>View the list of member accounts in a behavior graph.</p> </li> <li> <p>Add member accounts to a behavior graph.</p> </li> <li> <p>Remove member accounts from a behavior graph.</p> </li> <li> <p>Apply tags to a behavior graph.</p> </li> </ul> <p>The organization management account can use the Detective API to select the delegated administrator for Detective.</p> <p>The Detective administrator account for an organization can use the Detective API to do the following:</p> <ul> <li> <p>Perform all of the functions of an administrator account.</p> </li> <li> <p>Determine whether to automatically enable new organization accounts as member accounts in the organization behavior graph.</p> </li> </ul> <p>An invited member account can use the Detective API to do the following:</p> <ul> <li> <p>View the list of behavior graphs that they are invited to.</p> </li> <li> <p>Accept an invitation to contribute to a behavior graph.</p> </li> <li> <p>Decline an invitation to contribute to a behavior graph.</p> </li> <li> <p>Remove their account from a behavior graph.</p> </li> </ul> <p>All API actions are logged as CloudTrail events. See <a href=\"https://docs.aws.amazon.com/detective/latest/adminguide/logging-using-cloudtrail.html\">Logging Detective API Calls with CloudTrail</a>.</p> <note> <p>We replaced the term \"master account\" with the term \"administrator account.\" An administrator account is used to centrally manage multiple accounts. In the case of Detective, the administrator account manages the accounts in their behavior graph.</p> </note>",
    "endpointPrefix" : "api.detective",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.detective",
    "packagePath" : "com/amazonaws/services/detective",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Detective",
    "serviceId" : "Detective",
    "serviceName" : "Amazon Detective",
    "signingName" : "detective",
    "smokeTestsPackageName" : "com.amazonaws.services.detective.smoketests",
    "syncClient" : "AmazonDetectiveClient",
    "syncClientBuilderClassName" : "AmazonDetectiveClientBuilder",
    "syncInterface" : "AmazonDetective",
    "uid" : "detective-2018-10-26",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AcceptInvitation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AcceptInvitationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AcceptInvitationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcceptInvitationRequest, AcceptInvitationResult>",
      "asyncReturnType" : "AcceptInvitationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Accepts an invitation for the member account to contribute data to a behavior graph. This operation can only be called by an invited member account. </p> <p>The request provides the ARN of behavior graph.</p> <p>The member account status in the graph must be <code>INVITED</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request attempted an invalid action.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptInvitationRequest",
        "variableName" : "acceptInvitationRequest",
        "variableType" : "AcceptInvitationRequest",
        "documentation" : "",
        "simpleType" : "AcceptInvitationRequest",
        "variableSetterType" : "AcceptInvitationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "acceptInvitation",
      "operationName" : "AcceptInvitation",
      "returnType" : {
        "returnType" : "AcceptInvitationResult",
        "documentation" : null
      },
      "syncReturnType" : "AcceptInvitationResult"
    },
    "BatchGetGraphMemberDatasources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetGraphMemberDatasourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetGraphMemberDatasourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetGraphMemberDatasourcesRequest, BatchGetGraphMemberDatasourcesResult>",
      "asyncReturnType" : "BatchGetGraphMemberDatasourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets data source package information for the behavior graph.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetGraphMemberDatasourcesRequest",
        "variableName" : "batchGetGraphMemberDatasourcesRequest",
        "variableType" : "BatchGetGraphMemberDatasourcesRequest",
        "documentation" : "",
        "simpleType" : "BatchGetGraphMemberDatasourcesRequest",
        "variableSetterType" : "BatchGetGraphMemberDatasourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetGraphMemberDatasources",
      "operationName" : "BatchGetGraphMemberDatasources",
      "returnType" : {
        "returnType" : "BatchGetGraphMemberDatasourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetGraphMemberDatasourcesResult"
    },
    "BatchGetMembershipDatasources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetMembershipDatasourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetMembershipDatasourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetMembershipDatasourcesRequest, BatchGetMembershipDatasourcesResult>",
      "asyncReturnType" : "BatchGetMembershipDatasourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information on the data source package history for an account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetMembershipDatasourcesRequest",
        "variableName" : "batchGetMembershipDatasourcesRequest",
        "variableType" : "BatchGetMembershipDatasourcesRequest",
        "documentation" : "",
        "simpleType" : "BatchGetMembershipDatasourcesRequest",
        "variableSetterType" : "BatchGetMembershipDatasourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetMembershipDatasources",
      "operationName" : "BatchGetMembershipDatasources",
      "returnType" : {
        "returnType" : "BatchGetMembershipDatasourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetMembershipDatasourcesResult"
    },
    "CreateGraph" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGraphResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGraphResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGraphRequest, CreateGraphResult>",
      "asyncReturnType" : "CreateGraphResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new behavior graph for the calling account, and sets that account as the administrator account. This operation is called by the account that is enabling Detective.</p> <p>Before you try to enable Detective, make sure that your account has been enrolled in Amazon GuardDuty for at least 48 hours. If you do not meet this requirement, you cannot enable Detective. If you do meet the GuardDuty prerequisite, then when you make the request to enable Detective, it checks whether your data volume is within the Detective quota. If it exceeds the quota, then you cannot enable Detective. </p> <p>The operation also enables Detective for the calling account in the currently selected Region. It returns the ARN of the new behavior graph.</p> <p> <code>CreateGraph</code> triggers a process to create the corresponding data tables for the new behavior graph.</p> <p>An account can only be the administrator account for one behavior graph within a Region. If the same account calls <code>CreateGraph</code> with the same administrator account, it always returns the same behavior graph ARN. It does not create a new behavior graph.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request attempted an invalid action.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request cannot be completed for one of the following reasons.</p> <ul> <li> <p>The request would cause the number of member accounts in the behavior graph to exceed the maximum allowed. A behavior graph cannot have more than 1200 member accounts.</p> </li> <li> <p>The request would cause the data rate for the behavior graph to exceed the maximum allowed.</p> </li> <li> <p>Detective is unable to verify the data rate for the member account. This is usually because the member account is not enrolled in Amazon GuardDuty.</p> </li> </ul>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGraphRequest",
        "variableName" : "createGraphRequest",
        "variableType" : "CreateGraphRequest",
        "documentation" : "",
        "simpleType" : "CreateGraphRequest",
        "variableSetterType" : "CreateGraphRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGraph",
      "operationName" : "CreateGraph",
      "returnType" : {
        "returnType" : "CreateGraphResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGraphResult"
    },
    "CreateMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMembersRequest, CreateMembersResult>",
      "asyncReturnType" : "CreateMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> <code>CreateMembers</code> is used to send invitations to accounts. For the organization behavior graph, the Detective administrator account uses <code>CreateMembers</code> to enable organization accounts as member accounts.</p> <p>For invited accounts, <code>CreateMembers</code> sends a request to invite the specified Amazon Web Services accounts to be member accounts in the behavior graph. This operation can only be called by the administrator account for a behavior graph. </p> <p> <code>CreateMembers</code> verifies the accounts and then invites the verified accounts. The administrator can optionally specify to not send invitation emails to the member accounts. This would be used when the administrator manages their member accounts centrally.</p> <p>For organization accounts in the organization behavior graph, <code>CreateMembers</code> attempts to enable the accounts. The organization accounts do not receive invitations.</p> <p>The request provides the behavior graph ARN and the list of accounts to invite or to enable.</p> <p>The response separates the requested accounts into two lists:</p> <ul> <li> <p>The accounts that <code>CreateMembers</code> was able to process. For invited accounts, includes member accounts that are being verified, that have passed verification and are to be invited, and that have failed verification. For organization accounts in the organization behavior graph, includes accounts that can be enabled and that cannot be enabled.</p> </li> <li> <p>The accounts that <code>CreateMembers</code> was unable to process. This list includes accounts that were already invited to be member accounts in the behavior graph.</p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request cannot be completed for one of the following reasons.</p> <ul> <li> <p>The request would cause the number of member accounts in the behavior graph to exceed the maximum allowed. A behavior graph cannot have more than 1200 member accounts.</p> </li> <li> <p>The request would cause the data rate for the behavior graph to exceed the maximum allowed.</p> </li> <li> <p>Detective is unable to verify the data rate for the member account. This is usually because the member account is not enrolled in Amazon GuardDuty.</p> </li> </ul>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMembersRequest",
        "variableName" : "createMembersRequest",
        "variableType" : "CreateMembersRequest",
        "documentation" : "",
        "simpleType" : "CreateMembersRequest",
        "variableSetterType" : "CreateMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMembers",
      "operationName" : "CreateMembers",
      "returnType" : {
        "returnType" : "CreateMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMembersResult"
    },
    "DeleteGraph" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGraphResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGraphResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGraphRequest, DeleteGraphResult>",
      "asyncReturnType" : "DeleteGraphResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables the specified behavior graph and queues it to be deleted. This operation removes the behavior graph from each member account's list of behavior graphs.</p> <p> <code>DeleteGraph</code> can only be called by the administrator account for a behavior graph.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteGraphRequest",
        "variableName" : "deleteGraphRequest",
        "variableType" : "DeleteGraphRequest",
        "documentation" : "",
        "simpleType" : "DeleteGraphRequest",
        "variableSetterType" : "DeleteGraphRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteGraph",
      "operationName" : "DeleteGraph",
      "returnType" : {
        "returnType" : "DeleteGraphResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteGraphResult"
    },
    "DeleteMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMembersRequest, DeleteMembersResult>",
      "asyncReturnType" : "DeleteMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified member accounts from the behavior graph. The removed accounts no longer contribute data to the behavior graph. This operation can only be called by the administrator account for the behavior graph.</p> <p>For invited accounts, the removed accounts are deleted from the list of accounts in the behavior graph. To restore the account, the administrator account must send another invitation.</p> <p>For organization accounts in the organization behavior graph, the Detective administrator account can always enable the organization account again. Organization accounts that are not enabled as member accounts are not included in the <code>ListMembers</code> results for the organization behavior graph.</p> <p>An administrator account cannot use <code>DeleteMembers</code> to remove their own account from the behavior graph. To disable a behavior graph, the administrator account uses the <code>DeleteGraph</code> API method.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request attempted an invalid action.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMembersRequest",
        "variableName" : "deleteMembersRequest",
        "variableType" : "DeleteMembersRequest",
        "documentation" : "",
        "simpleType" : "DeleteMembersRequest",
        "variableSetterType" : "DeleteMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMembers",
      "operationName" : "DeleteMembers",
      "returnType" : {
        "returnType" : "DeleteMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMembersResult"
    },
    "DescribeOrganizationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeOrganizationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeOrganizationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeOrganizationConfigurationRequest, DescribeOrganizationConfigurationResult>",
      "asyncReturnType" : "DescribeOrganizationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the configuration for the organization behavior graph. Currently indicates whether to automatically enable new organization accounts as member accounts.</p> <p>Can only be called by the Detective administrator account for the organization. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request cannot be completed because too many other requests are occurring at the same time.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeOrganizationConfigurationRequest",
        "variableName" : "describeOrganizationConfigurationRequest",
        "variableType" : "DescribeOrganizationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeOrganizationConfigurationRequest",
        "variableSetterType" : "DescribeOrganizationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeOrganizationConfiguration",
      "operationName" : "DescribeOrganizationConfiguration",
      "returnType" : {
        "returnType" : "DescribeOrganizationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeOrganizationConfigurationResult"
    },
    "DisableOrganizationAdminAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableOrganizationAdminAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableOrganizationAdminAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableOrganizationAdminAccountRequest, DisableOrganizationAdminAccountResult>",
      "asyncReturnType" : "DisableOrganizationAdminAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the Detective administrator account in the current Region. Deletes the organization behavior graph.</p> <p>Can only be called by the organization management account.</p> <p>Removing the Detective administrator account does not affect the delegated administrator account for Detective in Organizations.</p> <p>To remove the delegated administrator account in Organizations, use the Organizations API. Removing the delegated administrator account also removes the Detective administrator account in all Regions, except for Regions where the Detective administrator account is the organization management account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request cannot be completed because too many other requests are occurring at the same time.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableOrganizationAdminAccountRequest",
        "variableName" : "disableOrganizationAdminAccountRequest",
        "variableType" : "DisableOrganizationAdminAccountRequest",
        "documentation" : null,
        "simpleType" : "DisableOrganizationAdminAccountRequest",
        "variableSetterType" : "DisableOrganizationAdminAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableOrganizationAdminAccount",
      "operationName" : "DisableOrganizationAdminAccount",
      "returnType" : {
        "returnType" : "DisableOrganizationAdminAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableOrganizationAdminAccountResult"
    },
    "DisassociateMembership" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateMembershipResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateMembershipResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateMembershipRequest, DisassociateMembershipResult>",
      "asyncReturnType" : "DisassociateMembershipResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the member account from the specified behavior graph. This operation can only be called by an invited member account that has the <code>ENABLED</code> status.</p> <p> <code>DisassociateMembership</code> cannot be called by an organization account in the organization behavior graph. For the organization behavior graph, the Detective administrator account determines which organization accounts to enable or disable as member accounts.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request attempted an invalid action.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateMembershipRequest",
        "variableName" : "disassociateMembershipRequest",
        "variableType" : "DisassociateMembershipRequest",
        "documentation" : "",
        "simpleType" : "DisassociateMembershipRequest",
        "variableSetterType" : "DisassociateMembershipRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateMembership",
      "operationName" : "DisassociateMembership",
      "returnType" : {
        "returnType" : "DisassociateMembershipResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateMembershipResult"
    },
    "EnableOrganizationAdminAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableOrganizationAdminAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableOrganizationAdminAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableOrganizationAdminAccountRequest, EnableOrganizationAdminAccountResult>",
      "asyncReturnType" : "EnableOrganizationAdminAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Designates the Detective administrator account for the organization in the current Region.</p> <p>If the account does not have Detective enabled, then enables Detective for that account and creates a new behavior graph.</p> <p>Can only be called by the organization management account.</p> <p>If the organization has a delegated administrator account in Organizations, then the Detective administrator account must be either the delegated administrator account or the organization management account.</p> <p>If the organization does not have a delegated administrator account in Organizations, then you can choose any account in the organization. If you choose an account other than the organization management account, Detective calls Organizations to make that account the delegated administrator account for Detective. The organization management account cannot be the delegated administrator account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request cannot be completed because too many other requests are occurring at the same time.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableOrganizationAdminAccountRequest",
        "variableName" : "enableOrganizationAdminAccountRequest",
        "variableType" : "EnableOrganizationAdminAccountRequest",
        "documentation" : "",
        "simpleType" : "EnableOrganizationAdminAccountRequest",
        "variableSetterType" : "EnableOrganizationAdminAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableOrganizationAdminAccount",
      "operationName" : "EnableOrganizationAdminAccount",
      "returnType" : {
        "returnType" : "EnableOrganizationAdminAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableOrganizationAdminAccountResult"
    },
    "GetMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMembersRequest, GetMembersResult>",
      "asyncReturnType" : "GetMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the membership details for specified member accounts for a behavior graph.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMembersRequest",
        "variableName" : "getMembersRequest",
        "variableType" : "GetMembersRequest",
        "documentation" : "",
        "simpleType" : "GetMembersRequest",
        "variableSetterType" : "GetMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMembers",
      "operationName" : "GetMembers",
      "returnType" : {
        "returnType" : "GetMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMembersResult"
    },
    "ListDatasourcePackages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDatasourcePackagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDatasourcePackagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDatasourcePackagesRequest, ListDatasourcePackagesResult>",
      "asyncReturnType" : "ListDatasourcePackagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists data source packages in the behavior graph.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDatasourcePackagesRequest",
        "variableName" : "listDatasourcePackagesRequest",
        "variableType" : "ListDatasourcePackagesRequest",
        "documentation" : "",
        "simpleType" : "ListDatasourcePackagesRequest",
        "variableSetterType" : "ListDatasourcePackagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDatasourcePackages",
      "operationName" : "ListDatasourcePackages",
      "returnType" : {
        "returnType" : "ListDatasourcePackagesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDatasourcePackagesResult"
    },
    "ListGraphs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGraphsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGraphsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGraphsRequest, ListGraphsResult>",
      "asyncReturnType" : "ListGraphsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the list of behavior graphs that the calling account is an administrator account of. This operation can only be called by an administrator account.</p> <p>Because an account can currently only be the administrator of one behavior graph within a Region, the results always contain a single behavior graph.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListGraphsRequest",
        "variableName" : "listGraphsRequest",
        "variableType" : "ListGraphsRequest",
        "documentation" : "",
        "simpleType" : "ListGraphsRequest",
        "variableSetterType" : "ListGraphsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGraphs",
      "operationName" : "ListGraphs",
      "returnType" : {
        "returnType" : "ListGraphsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGraphsResult"
    },
    "ListInvitations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInvitationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInvitationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInvitationsRequest, ListInvitationsResult>",
      "asyncReturnType" : "ListInvitationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the list of open and accepted behavior graph invitations for the member account. This operation can only be called by an invited member account.</p> <p>Open invitations are invitations that the member account has not responded to.</p> <p>The results do not include behavior graphs for which the member account declined the invitation. The results also do not include behavior graphs that the member account resigned from or was removed from.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListInvitationsRequest",
        "variableName" : "listInvitationsRequest",
        "variableType" : "ListInvitationsRequest",
        "documentation" : "",
        "simpleType" : "ListInvitationsRequest",
        "variableSetterType" : "ListInvitationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInvitations",
      "operationName" : "ListInvitations",
      "returnType" : {
        "returnType" : "ListInvitationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListInvitationsResult"
    },
    "ListMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMembersRequest, ListMembersResult>",
      "asyncReturnType" : "ListMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the list of member accounts for a behavior graph.</p> <p>For invited accounts, the results do not include member accounts that were removed from the behavior graph.</p> <p>For the organization behavior graph, the results do not include organization accounts that the Detective administrator account has not enabled as member accounts.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMembersRequest",
        "variableName" : "listMembersRequest",
        "variableType" : "ListMembersRequest",
        "documentation" : "",
        "simpleType" : "ListMembersRequest",
        "variableSetterType" : "ListMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMembers",
      "operationName" : "ListMembers",
      "returnType" : {
        "returnType" : "ListMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMembersResult"
    },
    "ListOrganizationAdminAccounts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListOrganizationAdminAccountsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListOrganizationAdminAccountsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListOrganizationAdminAccountsRequest, ListOrganizationAdminAccountsResult>",
      "asyncReturnType" : "ListOrganizationAdminAccountsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the Detective administrator account for an organization. Can only be called by the organization management account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request cannot be completed because too many other requests are occurring at the same time.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListOrganizationAdminAccountsRequest",
        "variableName" : "listOrganizationAdminAccountsRequest",
        "variableType" : "ListOrganizationAdminAccountsRequest",
        "documentation" : "",
        "simpleType" : "ListOrganizationAdminAccountsRequest",
        "variableSetterType" : "ListOrganizationAdminAccountsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listOrganizationAdminAccounts",
      "operationName" : "ListOrganizationAdminAccounts",
      "returnType" : {
        "returnType" : "ListOrganizationAdminAccountsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListOrganizationAdminAccountsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the tag values that are assigned to a behavior graph.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "RejectInvitation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RejectInvitationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RejectInvitationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RejectInvitationRequest, RejectInvitationResult>",
      "asyncReturnType" : "RejectInvitationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Rejects an invitation to contribute the account data to a behavior graph. This operation must be called by an invited member account that has the <code>INVITED</code> status.</p> <p> <code>RejectInvitation</code> cannot be called by an organization account in the organization behavior graph. In the organization behavior graph, organization accounts do not receive an invitation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request attempted an invalid action.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RejectInvitationRequest",
        "variableName" : "rejectInvitationRequest",
        "variableType" : "RejectInvitationRequest",
        "documentation" : "",
        "simpleType" : "RejectInvitationRequest",
        "variableSetterType" : "RejectInvitationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rejectInvitation",
      "operationName" : "RejectInvitation",
      "returnType" : {
        "returnType" : "RejectInvitationResult",
        "documentation" : null
      },
      "syncReturnType" : "RejectInvitationResult"
    },
    "StartMonitoringMember" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartMonitoringMemberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartMonitoringMemberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartMonitoringMemberRequest, StartMonitoringMemberResult>",
      "asyncReturnType" : "StartMonitoringMemberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends a request to enable data ingest for a member account that has a status of <code>ACCEPTED_BUT_DISABLED</code>.</p> <p>For valid member accounts, the status is updated as follows.</p> <ul> <li> <p>If Detective enabled the member account, then the new status is <code>ENABLED</code>.</p> </li> <li> <p>If Detective cannot enable the member account, the status remains <code>ACCEPTED_BUT_DISABLED</code>. </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request attempted an invalid action.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request cannot be completed for one of the following reasons.</p> <ul> <li> <p>The request would cause the number of member accounts in the behavior graph to exceed the maximum allowed. A behavior graph cannot have more than 1200 member accounts.</p> </li> <li> <p>The request would cause the data rate for the behavior graph to exceed the maximum allowed.</p> </li> <li> <p>Detective is unable to verify the data rate for the member account. This is usually because the member account is not enrolled in Amazon GuardDuty.</p> </li> </ul>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartMonitoringMemberRequest",
        "variableName" : "startMonitoringMemberRequest",
        "variableType" : "StartMonitoringMemberRequest",
        "documentation" : "",
        "simpleType" : "StartMonitoringMemberRequest",
        "variableSetterType" : "StartMonitoringMemberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startMonitoringMember",
      "operationName" : "StartMonitoringMember",
      "returnType" : {
        "returnType" : "StartMonitoringMemberResult",
        "documentation" : null
      },
      "syncReturnType" : "StartMonitoringMemberResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Applies tag values to a behavior graph.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from a behavior graph.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateDatasourcePackages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDatasourcePackagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDatasourcePackagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDatasourcePackagesRequest, UpdateDatasourcePackagesResult>",
      "asyncReturnType" : "UpdateDatasourcePackagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a data source packages for the behavior graph.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request refers to a nonexistent resource.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request cannot be completed for one of the following reasons.</p> <ul> <li> <p>The request would cause the number of member accounts in the behavior graph to exceed the maximum allowed. A behavior graph cannot have more than 1200 member accounts.</p> </li> <li> <p>The request would cause the data rate for the behavior graph to exceed the maximum allowed.</p> </li> <li> <p>Detective is unable to verify the data rate for the member account. This is usually because the member account is not enrolled in Amazon GuardDuty.</p> </li> </ul>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDatasourcePackagesRequest",
        "variableName" : "updateDatasourcePackagesRequest",
        "variableType" : "UpdateDatasourcePackagesRequest",
        "documentation" : "",
        "simpleType" : "UpdateDatasourcePackagesRequest",
        "variableSetterType" : "UpdateDatasourcePackagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDatasourcePackages",
      "operationName" : "UpdateDatasourcePackages",
      "returnType" : {
        "returnType" : "UpdateDatasourcePackagesResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDatasourcePackagesResult"
    },
    "UpdateOrganizationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateOrganizationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateOrganizationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateOrganizationConfigurationRequest, UpdateOrganizationConfigurationResult>",
      "asyncReturnType" : "UpdateOrganizationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the configuration for the Organizations integration in the current Region. Can only be called by the Detective administrator account for the organization.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request was valid but failed because of a problem with the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request parameters are invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>The request cannot be completed because too many other requests are occurring at the same time.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateOrganizationConfigurationRequest",
        "variableName" : "updateOrganizationConfigurationRequest",
        "variableType" : "UpdateOrganizationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateOrganizationConfigurationRequest",
        "variableSetterType" : "UpdateOrganizationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateOrganizationConfiguration",
      "operationName" : "UpdateOrganizationConfiguration",
      "returnType" : {
        "returnType" : "UpdateOrganizationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateOrganizationConfigurationResult"
    }
  },
  "shapes" : {
    "AcceptInvitationRequest" : {
      "c2jName" : "AcceptInvitationRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.detective.request.AcceptInvitationRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AcceptInvitation",
        "locationName" : null,
        "requestUri" : "/invitation",
        "target" : null,
        "verb" : "PUT",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "GraphArn",
        "c2jShape" : "GraphArn",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>\n@param graphArn The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGraphArn",
        "getterDocumentation" : "/**<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>\n@return The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.*/",
        "getterMethodName" : "getGraphArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "GraphArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "GraphArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "GraphArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>\n@param graphArn The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.*/",
        "setterMethodName" : "setGraphArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "graphArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>\n@param graphArn The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "graphArn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "GraphArn" : {
          "c2jName" : "GraphArn",
          "c2jShape" : "GraphArn",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>\n@param graphArn The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withGraphArn",
          "getterDocumentation" : "/**<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>\n@return The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.*/",
          "getterMethodName" : "getGraphArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "GraphArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "GraphArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "GraphArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>\n@param graphArn The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.*/",
          "setterMethodName" : "setGraphArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "graphArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>\n@param graphArn The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "graphArn",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.detective.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "GraphArn" ],
      "shapeName" : "AcceptInvitationRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptInvitationRequest",
        "variableName" : "acceptInvitationRequest",
        "variableType" : "AcceptInvitationRequest",
        "documentation" : null,
        "simpleType" : "AcceptInvitationRequest",
        "variableSetterType" : "AcceptInvitationRequest"
      },
      "wrapper" : false
    },
    "AcceptInvitationResult" : {
      "c2jName" : "AcceptInvitationResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.detective.response.AcceptInvitationResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.detective.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AcceptInvitationResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptInvitationResult",
        "variableName" : "acceptInvitationResult",
        "variableType" : "AcceptInvitationResult",
        "documentation" : null,
        "simpleType" : "AcceptInvitationResult",
        "variableSetterType" : "AcceptInvitationResult"
      },
      "wrapper" : false
    },
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request issuer does not have permission to access this resource or perform this operation.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.detective.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ErrorCode",
        "c2jShape" : "ErrorCode",
        "deprecated" : false,
        "documentation" : "<p>The SDK default error code associated with the access denied exception.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ErrorCode",
        "fluentSetterDocumentation" : "/**<p>The SDK default error code associated with the access denied exception.</p>\n@param errorCode The SDK default error code associated with the access denied exception.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ErrorCode*/",
        "fluentSetterMethodName" : "withErrorCode",
        "getterDocumentation" : "/**<p>The SDK default error code associated with the access denied exception.</p>\n@return The SDK default error code associated with the access denied exception.\n@see ErrorCode*/",
        "getterMethodName" : "getErrorCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ErrorCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ErrorCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ErrorCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The SDK default error code associated with the access denied exception.</p>\n@param errorCode The SDK default error code associated with the access denied exception.\n@see ErrorCode*/",
        "setterMethodName" : "setErrorCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The SDK default error code associated with the access denied exception.</p>\n@param errorCode The SDK default error code associated with the access denied exception.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ErrorCode*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "<p>The SDK default error code associated with the access denied exception.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ErrorCodeReason",
        "c2jShape" : "ErrorCodeReason",
        "deprecated" : false,
        "documentation" : "<p>The SDK default explanation of why access was denied.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The SDK default explanation of why access was denied.</p>\n@param errorCodeReason The SDK default explanation of why access was denied.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withErrorCodeReason",
        "getterDocumentation" : "/**<p>The SDK default explanation of why access was denied.</p>\n@return The SDK default explanation of why access was denied.*/",
        "getterMethodName" : "getErrorCodeReason",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ErrorCodeReason",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ErrorCodeReason",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ErrorCodeReason",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The SDK default explanation of why access was denied.</p>\n@param errorCodeReason The SDK default explanation of why access was denied.*/",
        "setterMethodName" : "setErrorCodeReason",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCodeReason",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The SDK default explanation of why access was denied.</p>\n@param errorCodeReason The SDK default explanation of why access was denied.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCodeReason",
          "variableType" : "String",
          "documentation" : "<p>The SDK default explanation of why access was denied.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SubErrorCode",
        "c2jShape" : "ErrorCode",
        "deprecated" : false,
        "documentation" : "<p>The error code associated with the access denied exception.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ErrorCode",
        "fluentSetterDocumentation" : "/**<p>The error code associated with the access denied exception.</p>\n@param subErrorCode The error code associated with the access denied exception.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ErrorCode*/",
        "fluentSetterMethodName" : "withSubErrorCode",
        "getterDocumentation" : "/**<p>The error code associated with the access denied exception.</p>\n@return The error code associated with the access denied exception.\n@see ErrorCode*/",
        "getterMethodName" : "getSubErrorCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SubErrorCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SubErrorCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SubErrorCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The error code associated with the access denied exception.</p>\n@param subErrorCode The error code associated with the access denied exception.\n@see ErrorCode*/",
        "setterMethodName" : "setSubErrorCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "subErrorCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The error code associated with the access denied exception.</p>\n@param subErrorCode The error code associated with the access denied exception.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ErrorCode*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "subErrorCode",
          "variableType" : "String",
          "documentation" : "<p>The error code associated with the access denied exception.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SubErrorCodeReason",
        "c2jShape" : "ErrorCodeReason",
        "deprecated" : false,
        "documentation" : "<p> An explanation of why access was denied.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> An explanation of why access was denied.</p>\n@param subErrorCodeReason An explanation of why access was denied.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSubErrorCodeReason",
        "getterDocumentation" : "/**<p> An explanation of why access was denied.</p>\n@return An explanation of why access was denied.*/",
        "getterMethodName" : "getSubErrorCodeReason",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SubErrorCodeReason",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SubErrorCodeReason",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SubErrorCodeReason",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> An explanation of why access was denied.</p>\n@param subErrorCodeReason An explanation of why access was denied.*/",
        "setterMethodName" : "setSubErrorCodeReason",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "subErrorCodeReason",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> An explanation of why access was denied.</p>\n@param subErrorCodeReason An explanation of why access was denied.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "subErrorCodeReason",
          "variableType" : "String",
          "documentation" : "<p> An explanation of why access was denied.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ErrorCode" : {
          "c2jName" : "ErrorCode",
          "c2jShape" : "ErrorCode",
          "deprecated" : false,
          "documentation" : "<p>The SDK default error code associated with the access denied exception.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "ErrorCode",
          "fluentSetterDocumentation" : "/**<p>The SDK default error code associated with the access denied exception.</p>\n@param errorCode The SDK default error code associated with the access denied exception.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ErrorCode*/",
          "fluentSetterMethodName" : "withErrorCode",
          "getterDocumentation" : "/**<p>The SDK default error code associated with the access denied exception.</p>\n@return The SDK default error code associated with the access denied exception.\n@see ErrorCode*/",
          "getterMethodName" : "getErrorCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ErrorCode",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ErrorCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ErrorCode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The SDK default error code associated with the access denied exception.</p>\n@param errorCode The SDK default error code associated with the access denied exception.\n@see ErrorCode*/",
          "setterMethodName" : "setErrorCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
[...]
