{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2018-05-14",
    "asyncClient" : "AWSIoT1ClickDevicesAsyncClient",
    "asyncClientBuilderClassName" : "AWSIoT1ClickDevicesAsyncClientBuilder",
    "asyncInterface" : "AWSIoT1ClickDevicesAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSIoT1ClickDevicesModuleInjector",
    "defaultEndpoint" : "devices.iot1click.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "devices.iot1click.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Describes all of the AWS IoT 1-Click device-related API operations for the service.\n Also provides sample requests, responses, and errors for the supported web services\n protocols.</p>",
    "endpointPrefix" : "devices.iot1click",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.iot1clickdevices",
    "packagePath" : "com/amazonaws/services/iot1clickdevices",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS IoT 1-Click Devices Service",
    "serviceId" : "IoT 1Click Devices Service",
    "serviceName" : "AWS IoT 1-Click Devices Service",
    "signingName" : "iot1click",
    "smokeTestsPackageName" : "com.amazonaws.services.iot1clickdevices.smoketests",
    "syncClient" : "AWSIoT1ClickDevicesClient",
    "syncClientBuilderClassName" : "AWSIoT1ClickDevicesClientBuilder",
    "syncInterface" : "AWSIoT1ClickDevices",
    "uid" : "devices-2018-05-14",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "ClaimDevicesByClaimCode" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ClaimDevicesByClaimCodeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ClaimDevicesByClaimCodeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ClaimDevicesByClaimCodeRequest, ClaimDevicesByClaimCodeResult>",
      "asyncReturnType" : "ClaimDevicesByClaimCodeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds device(s) to your account (i.e., claim one or more devices) if and only if you\n received a claim code with the device(s).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>403 response</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ClaimDevicesByClaimCodeRequest",
        "variableName" : "claimDevicesByClaimCodeRequest",
        "variableType" : "ClaimDevicesByClaimCodeRequest",
        "documentation" : "",
        "simpleType" : "ClaimDevicesByClaimCodeRequest",
        "variableSetterType" : "ClaimDevicesByClaimCodeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "claimDevicesByClaimCode",
      "operationName" : "ClaimDevicesByClaimCode",
      "returnType" : {
        "returnType" : "ClaimDevicesByClaimCodeResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "ClaimDevicesByClaimCodeResult"
    },
    "DescribeDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDeviceRequest, DescribeDeviceResult>",
      "asyncReturnType" : "DescribeDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Given a device ID, returns a DescribeDeviceResponse object describing the\n details of the device.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDeviceRequest",
        "variableName" : "describeDeviceRequest",
        "variableType" : "DescribeDeviceRequest",
        "documentation" : "",
        "simpleType" : "DescribeDeviceRequest",
        "variableSetterType" : "DescribeDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDevice",
      "operationName" : "DescribeDevice",
      "returnType" : {
        "returnType" : "DescribeDeviceResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "DescribeDeviceResult"
    },
    "FinalizeDeviceClaim" : {
      "asyncCallableType" : "java.util.concurrent.Callable<FinalizeDeviceClaimResult>",
      "asyncFutureType" : "java.util.concurrent.Future<FinalizeDeviceClaimResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<FinalizeDeviceClaimRequest, FinalizeDeviceClaimResult>",
      "asyncReturnType" : "FinalizeDeviceClaimResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Given a device ID, finalizes the claim request for the associated device.</p><note>\n <p>Claiming a device consists of initiating a claim, then publishing a device event,\n and finalizing the claim. For a device of type button, a device event can\n be published by simply clicking the device.</p>\n </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "<p>412 response</p>",
        "httpStatusCode" : 412
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>409 response</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "FinalizeDeviceClaimRequest",
        "variableName" : "finalizeDeviceClaimRequest",
        "variableType" : "FinalizeDeviceClaimRequest",
        "documentation" : "",
        "simpleType" : "FinalizeDeviceClaimRequest",
        "variableSetterType" : "FinalizeDeviceClaimRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "finalizeDeviceClaim",
      "operationName" : "FinalizeDeviceClaim",
      "returnType" : {
        "returnType" : "FinalizeDeviceClaimResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "FinalizeDeviceClaimResult"
    },
    "GetDeviceMethods" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeviceMethodsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeviceMethodsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeviceMethodsRequest, GetDeviceMethodsResult>",
      "asyncReturnType" : "GetDeviceMethodsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Given a device ID, returns the invokable methods associated with the device.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDeviceMethodsRequest",
        "variableName" : "getDeviceMethodsRequest",
        "variableType" : "GetDeviceMethodsRequest",
        "documentation" : "",
        "simpleType" : "GetDeviceMethodsRequest",
        "variableSetterType" : "GetDeviceMethodsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDeviceMethods",
      "operationName" : "GetDeviceMethods",
      "returnType" : {
        "returnType" : "GetDeviceMethodsResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "GetDeviceMethodsResult"
    },
    "InitiateDeviceClaim" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InitiateDeviceClaimResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InitiateDeviceClaimResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InitiateDeviceClaimRequest, InitiateDeviceClaimResult>",
      "asyncReturnType" : "InitiateDeviceClaimResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Given a device ID, initiates a claim request for the associated device.</p><note>\n <p>Claiming a device consists of initiating a claim, then publishing a device event,\n and finalizing the claim. For a device of type button, a device event can\n be published by simply clicking the device.</p>\n </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>409 response</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InitiateDeviceClaimRequest",
        "variableName" : "initiateDeviceClaimRequest",
        "variableType" : "InitiateDeviceClaimRequest",
        "documentation" : "",
        "simpleType" : "InitiateDeviceClaimRequest",
        "variableSetterType" : "InitiateDeviceClaimRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "initiateDeviceClaim",
      "operationName" : "InitiateDeviceClaim",
      "returnType" : {
        "returnType" : "InitiateDeviceClaimResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "InitiateDeviceClaimResult"
    },
    "InvokeDeviceMethod" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InvokeDeviceMethodResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InvokeDeviceMethodResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InvokeDeviceMethodRequest, InvokeDeviceMethodResult>",
      "asyncReturnType" : "InvokeDeviceMethodResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Given a device ID, issues a request to invoke a named device method (with possible\n parameters). See the \"Example POST\" code snippet below.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PreconditionFailedException",
        "documentation" : "<p>412 response</p>",
        "httpStatusCode" : 412
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "RangeNotSatisfiableException",
        "documentation" : "<p>416 response</p>",
        "httpStatusCode" : 416
      }, {
        "exceptionName" : "ResourceConflictException",
        "documentation" : "<p>409 response</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InvokeDeviceMethodRequest",
        "variableName" : "invokeDeviceMethodRequest",
        "variableType" : "InvokeDeviceMethodRequest",
        "documentation" : "",
        "simpleType" : "InvokeDeviceMethodRequest",
        "variableSetterType" : "InvokeDeviceMethodRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "invokeDeviceMethod",
      "operationName" : "InvokeDeviceMethod",
      "returnType" : {
        "returnType" : "InvokeDeviceMethodResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "InvokeDeviceMethodResult"
    },
    "ListDeviceEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeviceEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeviceEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeviceEventsRequest, ListDeviceEventsResult>",
      "asyncReturnType" : "ListDeviceEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Using a device ID, returns a DeviceEventsResponse object containing an\n array of events for the device.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "RangeNotSatisfiableException",
        "documentation" : "<p>416 response</p>",
        "httpStatusCode" : 416
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDeviceEventsRequest",
        "variableName" : "listDeviceEventsRequest",
        "variableType" : "ListDeviceEventsRequest",
        "documentation" : "",
        "simpleType" : "ListDeviceEventsRequest",
        "variableSetterType" : "ListDeviceEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDeviceEvents",
      "operationName" : "ListDeviceEvents",
      "returnType" : {
        "returnType" : "ListDeviceEventsResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "ListDeviceEventsResult"
    },
    "ListDevices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDevicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDevicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDevicesRequest, ListDevicesResult>",
      "asyncReturnType" : "ListDevicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the 1-Click compatible devices associated with your AWS account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "RangeNotSatisfiableException",
        "documentation" : "<p>416 response</p>",
        "httpStatusCode" : 416
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDevicesRequest",
        "variableName" : "listDevicesRequest",
        "variableType" : "ListDevicesRequest",
        "documentation" : "",
        "simpleType" : "ListDevicesRequest",
        "variableSetterType" : "ListDevicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDevices",
      "operationName" : "ListDevices",
      "returnType" : {
        "returnType" : "ListDevicesResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "ListDevicesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags associated with the specified resource ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or updates the tags associated with the resource ARN. See <a href=\"https://docs.aws.amazon.com/iot-1-click/latest/developerguide/1click-appendix.html#1click-limits\">AWS IoT 1-Click Service Limits</a> for the maximum number of tags allowed per\n resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UnclaimDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UnclaimDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UnclaimDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UnclaimDeviceRequest, UnclaimDeviceResult>",
      "asyncReturnType" : "UnclaimDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a device from your AWS account using its device ID.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UnclaimDeviceRequest",
        "variableName" : "unclaimDeviceRequest",
        "variableType" : "UnclaimDeviceRequest",
        "documentation" : "",
        "simpleType" : "UnclaimDeviceRequest",
        "variableSetterType" : "UnclaimDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "unclaimDevice",
      "operationName" : "UnclaimDevice",
      "returnType" : {
        "returnType" : "UnclaimDeviceResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "UnclaimDeviceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Using tag keys, deletes the tags (key/value pairs) associated with the specified\n resource ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateDeviceState" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDeviceStateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDeviceStateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDeviceStateRequest, UpdateDeviceStateResult>",
      "asyncReturnType" : "UpdateDeviceStateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Using a Boolean value (true or false), this operation\n enables or disables the device given a device ID.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>404 response</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>400 response</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalFailureException",
        "documentation" : "<p>500 response</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDeviceStateRequest",
        "variableName" : "updateDeviceStateRequest",
        "variableType" : "UpdateDeviceStateRequest",
        "documentation" : "",
        "simpleType" : "UpdateDeviceStateRequest",
        "variableSetterType" : "UpdateDeviceStateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDeviceState",
      "operationName" : "UpdateDeviceState",
      "returnType" : {
        "returnType" : "UpdateDeviceStateResult",
        "documentation" : "<p>200 response</p>"
      },
      "syncReturnType" : "UpdateDeviceStateResult"
    }
  },
  "shapes" : {
    "Attributes" : {
      "c2jName" : "Attributes",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Attributes",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Attributes",
        "variableName" : "attributes",
        "variableType" : "Attributes",
        "documentation" : null,
        "simpleType" : "Attributes",
        "variableSetterType" : "Attributes"
      },
      "wrapper" : false
    },
    "ClaimDevicesByClaimCodeRequest" : {
      "c2jName" : "ClaimDevicesByClaimCodeRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "ClaimDevicesByClaimCode",
        "locationName" : null,
        "requestUri" : "/claims/{claimCode}",
        "target" : null,
        "verb" : "PUT",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ClaimCode",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The claim code, starting with \"C-\", as provided by the device manufacturer.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The claim code, starting with \"C-\", as provided by the device manufacturer.</p>\n@param claimCode The claim code, starting with \"C-\", as provided by the device manufacturer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClaimCode",
        "getterDocumentation" : "/**<p>The claim code, starting with \"C-\", as provided by the device manufacturer.</p>\n@return The claim code, starting with \"C-\", as provided by the device manufacturer.*/",
        "getterMethodName" : "getClaimCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "claimCode",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "claimCode",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClaimCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The claim code, starting with \"C-\", as provided by the device manufacturer.</p>\n@param claimCode The claim code, starting with \"C-\", as provided by the device manufacturer.*/",
        "setterMethodName" : "setClaimCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "claimCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The claim code, starting with \"C-\", as provided by the device manufacturer.</p>\n@param claimCode The claim code, starting with \"C-\", as provided by the device manufacturer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "claimCode",
          "variableType" : "String",
          "documentation" : "<p>The claim code, starting with \"C-\", as provided by the device manufacturer.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClaimCode" : {
          "c2jName" : "ClaimCode",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>The claim code, starting with \"C-\", as provided by the device manufacturer.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The claim code, starting with \"C-\", as provided by the device manufacturer.</p>\n@param claimCode The claim code, starting with \"C-\", as provided by the device manufacturer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClaimCode",
          "getterDocumentation" : "/**<p>The claim code, starting with \"C-\", as provided by the device manufacturer.</p>\n@return The claim code, starting with \"C-\", as provided by the device manufacturer.*/",
          "getterMethodName" : "getClaimCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "claimCode",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "claimCode",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClaimCode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The claim code, starting with \"C-\", as provided by the device manufacturer.</p>\n@param claimCode The claim code, starting with \"C-\", as provided by the device manufacturer.*/",
          "setterMethodName" : "setClaimCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "claimCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The claim code, starting with \"C-\", as provided by the device manufacturer.</p>\n@param claimCode The claim code, starting with \"C-\", as provided by the device manufacturer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "claimCode",
            "variableType" : "String",
            "documentation" : "<p>The claim code, starting with \"C-\", as provided by the device manufacturer.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ClaimCode" ],
      "shapeName" : "ClaimDevicesByClaimCodeRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ClaimDevicesByClaimCodeRequest",
        "variableName" : "claimDevicesByClaimCodeRequest",
        "variableType" : "ClaimDevicesByClaimCodeRequest",
        "documentation" : null,
        "simpleType" : "ClaimDevicesByClaimCodeRequest",
        "variableSetterType" : "ClaimDevicesByClaimCodeRequest"
      },
      "wrapper" : false
    },
    "ClaimDevicesByClaimCodeResult" : {
      "c2jName" : "ClaimDevicesByClaimCodeResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ClaimCode",
        "c2jShape" : "__stringMin12Max40",
        "deprecated" : false,
        "documentation" : "<p>The claim code provided by the device manufacturer.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The claim code provided by the device manufacturer.</p>\n@param claimCode The claim code provided by the device manufacturer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClaimCode",
        "getterDocumentation" : "/**<p>The claim code provided by the device manufacturer.</p>\n@return The claim code provided by the device manufacturer.*/",
        "getterMethodName" : "getClaimCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "claimCode",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "claimCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClaimCode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The claim code provided by the device manufacturer.</p>\n@param claimCode The claim code provided by the device manufacturer.*/",
        "setterMethodName" : "setClaimCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "claimCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The claim code provided by the device manufacturer.</p>\n@param claimCode The claim code provided by the device manufacturer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "claimCode",
          "variableType" : "String",
          "documentation" : "<p>The claim code provided by the device manufacturer.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Total",
        "c2jShape" : "__integer",
        "deprecated" : false,
        "documentation" : "<p>The total number of devices associated with the claim code that has been processed in\n the claim request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The total number of devices associated with the claim code that has been processed in\n the claim request.</p>\n@param total The total number of devices associated with the claim code that has been processed in\n the claim request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTotal",
        "getterDocumentation" : "/**<p>The total number of devices associated with the claim code that has been processed in\n the claim request.</p>\n@return The total number of devices associated with the claim code that has been processed in\n the claim request.*/",
        "getterMethodName" : "getTotal",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "total",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "total",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Total",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The total number of devices associated with the claim code that has been processed in\n the claim request.</p>\n@param total The total number of devices associated with the claim code that has been processed in\n the claim request.*/",
        "setterMethodName" : "setTotal",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "total",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The total number of devices associated with the claim code that has been processed in\n the claim request.</p>\n@param total The total number of devices associated with the claim code that has been processed in\n the claim request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "total",
          "variableType" : "Integer",
          "documentation" : "<p>The total number of devices associated with the claim code that has been processed in\n the claim request.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClaimCode" : {
          "c2jName" : "ClaimCode",
          "c2jShape" : "__stringMin12Max40",
          "deprecated" : false,
          "documentation" : "<p>The claim code provided by the device manufacturer.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The claim code provided by the device manufacturer.</p>\n@param claimCode The claim code provided by the device manufacturer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClaimCode",
          "getterDocumentation" : "/**<p>The claim code provided by the device manufacturer.</p>\n@return The claim code provided by the device manufacturer.*/",
          "getterMethodName" : "getClaimCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "claimCode",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "claimCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClaimCode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The claim code provided by the device manufacturer.</p>\n@param claimCode The claim code provided by the device manufacturer.*/",
          "setterMethodName" : "setClaimCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "claimCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The claim code provided by the device manufacturer.</p>\n@param claimCode The claim code provided by the device manufacturer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "claimCode",
            "variableType" : "String",
            "documentation" : "<p>The claim code provided by the device manufacturer.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Total" : {
          "c2jName" : "Total",
          "c2jShape" : "__integer",
          "deprecated" : false,
          "documentation" : "<p>The total number of devices associated with the claim code that has been processed in\n the claim request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The total number of devices associated with the claim code that has been processed in\n the claim request.</p>\n@param total The total number of devices associated with the claim code that has been processed in\n the claim request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTotal",
          "getterDocumentation" : "/**<p>The total number of devices associated with the claim code that has been processed in\n the claim request.</p>\n@return The total number of devices associated with the claim code that has been processed in\n the claim request.*/",
          "getterMethodName" : "getTotal",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "total",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "total",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "Total",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The total number of devices associated with the claim code that has been processed in\n the claim request.</p>\n@param total The total number of devices associated with the claim code that has been processed in\n the claim request.*/",
          "setterMethodName" : "setTotal",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "total",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The total number of devices associated with the claim code that has been processed in\n the claim request.</p>\n@param total The total number of devices associated with the claim code that has been processed in\n the claim request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "total",
            "variableType" : "Integer",
            "documentation" : "<p>The total number of devices associated with the claim code that has been processed in\n the claim request.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ClaimDevicesByClaimCodeResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ClaimDevicesByClaimCodeResult",
        "variableName" : "claimDevicesByClaimCodeResult",
        "variableType" : "ClaimDevicesByClaimCodeResult",
        "documentation" : null,
        "simpleType" : "ClaimDevicesByClaimCodeResult",
        "variableSetterType" : "ClaimDevicesByClaimCodeResult"
      },
      "wrapper" : false
    },
    "DescribeDeviceRequest" : {
      "c2jName" : "DescribeDeviceRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DescribeDevice",
        "locationName" : null,
        "requestUri" : "/devices/{deviceId}",
        "target" : null,
        "verb" : "GET",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "DeviceId",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier of the device.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier of the device.</p>\n@param deviceId The unique identifier of the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDeviceId",
        "getterDocumentation" : "/**<p>The unique identifier of the device.</p>\n@return The unique identifier of the device.*/",
        "getterMethodName" : "getDeviceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "deviceId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "deviceId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DeviceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique identifier of the device.</p>\n@param deviceId The unique identifier of the device.*/",
        "setterMethodName" : "setDeviceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier of the device.</p>\n@param deviceId The unique identifier of the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier of the device.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DeviceId" : {
          "c2jName" : "DeviceId",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>The unique identifier of the device.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique identifier of the device.</p>\n@param deviceId The unique identifier of the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDeviceId",
          "getterDocumentation" : "/**<p>The unique identifier of the device.</p>\n@return The unique identifier of the device.*/",
          "getterMethodName" : "getDeviceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "deviceId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "deviceId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DeviceId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The unique identifier of the device.</p>\n@param deviceId The unique identifier of the device.*/",
          "setterMethodName" : "setDeviceId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The unique identifier of the device.</p>\n@param deviceId The unique identifier of the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceId",
            "variableType" : "String",
            "documentation" : "<p>The unique identifier of the device.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "DeviceId" ],
      "shapeName" : "DescribeDeviceRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDeviceRequest",
        "variableName" : "describeDeviceRequest",
        "variableType" : "DescribeDeviceRequest",
        "documentation" : null,
        "simpleType" : "DescribeDeviceRequest",
        "variableSetterType" : "DescribeDeviceRequest"
      },
      "wrapper" : false
    },
    "DescribeDeviceResult" : {
      "c2jName" : "DescribeDeviceResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "DeviceDescription",
        "c2jShape" : "DeviceDescription",
        "deprecated" : false,
        "documentation" : "<p>Device details.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Device details.</p>\n@param deviceDescription Device details.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDeviceDescription",
        "getterDocumentation" : "/**<p>Device details.</p>\n@return Device details.*/",
        "getterMethodName" : "getDeviceDescription",
        "getterModel" : {
          "returnType" : "DeviceDescription",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "deviceDescription",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "deviceDescription",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "DeviceDescription",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Device details.</p>\n@param deviceDescription Device details.*/",
        "setterMethodName" : "setDeviceDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DeviceDescription",
          "variableName" : "deviceDescription",
          "variableType" : "DeviceDescription",
          "documentation" : "",
          "simpleType" : "DeviceDescription",
          "variableSetterType" : "DeviceDescription"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Device details.</p>\n@param deviceDescription Device details.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DeviceDescription",
          "variableName" : "deviceDescription",
          "variableType" : "DeviceDescription",
          "documentation" : "<p>Device details.</p>",
          "simpleType" : "DeviceDescription",
          "variableSetterType" : "DeviceDescription"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DeviceDescription" : {
          "c2jName" : "DeviceDescription",
          "c2jShape" : "DeviceDescription",
          "deprecated" : false,
          "documentation" : "<p>Device details.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Device details.</p>\n@param deviceDescription Device details.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDeviceDescription",
          "getterDocumentation" : "/**<p>Device details.</p>\n@return Device details.*/",
          "getterMethodName" : "getDeviceDescription",
          "getterModel" : {
            "returnType" : "DeviceDescription",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "deviceDescription",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "deviceDescription",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "DeviceDescription",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Device details.</p>\n@param deviceDescription Device details.*/",
          "setterMethodName" : "setDeviceDescription",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "DeviceDescription",
            "variableName" : "deviceDescription",
            "variableType" : "DeviceDescription",
            "documentation" : "",
            "simpleType" : "DeviceDescription",
            "variableSetterType" : "DeviceDescription"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Device details.</p>\n@param deviceDescription Device details.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "DeviceDescription",
            "variableName" : "deviceDescription",
            "variableType" : "DeviceDescription",
            "documentation" : "<p>Device details.</p>",
            "simpleType" : "DeviceDescription",
            "variableSetterType" : "DeviceDescription"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DescribeDeviceResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDeviceResult",
        "variableName" : "describeDeviceResult",
        "variableType" : "DescribeDeviceResult",
        "documentation" : null,
        "simpleType" : "DescribeDeviceResult",
        "variableSetterType" : "DescribeDeviceResult"
      },
      "wrapper" : false
    },
    "Device" : {
      "c2jName" : "Device",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Attributes",
        "c2jShape" : "Attributes",
        "deprecated" : false,
        "documentation" : "<p>The user specified attributes associated with the device for an event.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The user specified attributes associated with the device for an event.</p>\n@param attributes The user specified attributes associated with the device for an event.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAttributes",
        "getterDocumentation" : "/**<p>The user specified attributes associated with the device for an event.</p>\n@return The user specified attributes associated with the device for an event.*/",
        "getterMethodName" : "getAttributes",
        "getterModel" : {
          "returnType" : "Attributes",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "attributes",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "attributes",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Attributes",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The user specified attributes associated with the device for an event.</p>\n@param attributes The user specified attributes associated with the device for an event.*/",
        "setterMethodName" : "setAttributes",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Attributes",
          "variableName" : "attributes",
          "variableType" : "Attributes",
          "documentation" : "",
          "simpleType" : "Attributes",
          "variableSetterType" : "Attributes"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The user specified attributes associated with the device for an event.</p>\n@param attributes The user specified attributes associated with the device for an event.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Attributes",
          "variableName" : "attributes",
          "variableType" : "Attributes",
          "documentation" : "<p>The user specified attributes associated with the device for an event.</p>",
          "simpleType" : "Attributes",
          "variableSetterType" : "Attributes"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DeviceId",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier of the device.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier of the device.</p>\n@param deviceId The unique identifier of the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDeviceId",
        "getterDocumentation" : "/**<p>The unique identifier of the device.</p>\n@return The unique identifier of the device.*/",
        "getterMethodName" : "getDeviceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "deviceId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "deviceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DeviceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique identifier of the device.</p>\n@param deviceId The unique identifier of the device.*/",
        "setterMethodName" : "setDeviceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier of the device.</p>\n@param deviceId The unique identifier of the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier of the device.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Type",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The device type, such as \"button\".</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The device type, such as \"button\".</p>\n@param type The device type, such as \"button\".\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withType",
        "getterDocumentation" : "/**<p>The device type, such as \"button\".</p>\n@return The device type, such as \"button\".*/",
        "getterMethodName" : "getType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "type",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Type",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The device type, such as \"button\".</p>\n@param type The device type, such as \"button\".*/",
        "setterMethodName" : "setType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The device type, such as \"button\".</p>\n@param type The device type, such as \"button\".\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "<p>The device type, such as \"button\".</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Attributes" : {
          "c2jName" : "Attributes",
          "c2jShape" : "Attributes",
          "deprecated" : false,
          "documentation" : "<p>The user specified attributes associated with the device for an event.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The user specified attributes associated with the device for an event.</p>\n@param attributes The user specified attributes associated with the device for an event.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAttributes",
          "getterDocumentation" : "/**<p>The user specified attributes associated with the device for an event.</p>\n@return The user specified attributes associated with the device for an event.*/",
          "getterMethodName" : "getAttributes",
          "getterModel" : {
            "returnType" : "Attributes",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "attributes",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "attributes",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Attributes",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The user specified attributes associated with the device for an event.</p>\n@param attributes The user specified attributes associated with the device for an event.*/",
          "setterMethodName" : "setAttributes",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Attributes",
            "variableName" : "attributes",
            "variableType" : "Attributes",
            "documentation" : "",
            "simpleType" : "Attributes",
            "variableSetterType" : "Attributes"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The user specified attributes associated with the device for an event.</p>\n@param attributes The user specified attributes associated with the device for an event.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Attributes",
            "variableName" : "attributes",
            "variableType" : "Attributes",
            "documentation" : "<p>The user specified attributes associated with the device for an event.</p>",
            "simpleType" : "Attributes",
            "variableSetterType" : "Attributes"
          },
          "xmlNameSpaceUri" : null
        },
        "DeviceId" : {
          "c2jName" : "DeviceId",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>The unique identifier of the device.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique identifier of the device.</p>\n@param deviceId The unique identifier of the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDeviceId",
          "getterDocumentation" : "/**<p>The unique identifier of the device.</p>\n@return The unique identifier of the device.*/",
          "getterMethodName" : "getDeviceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "deviceId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "deviceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DeviceId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The unique identifier of the device.</p>\n@param deviceId The unique identifier of the device.*/",
          "setterMethodName" : "setDeviceId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The unique identifier of the device.</p>\n@param deviceId The unique identifier of the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "deviceId",
            "variableType" : "String",
            "documentation" : "<p>The unique identifier of the device.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Type" : {
          "c2jName" : "Type",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "<p>The device type, such as \"button\".</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The device type, such as \"button\".</p>\n@param type The device type, such as \"button\".\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withType",
          "getterDocumentation" : "/**<p>The device type, such as \"button\".</p>\n@return The device type, such as \"button\".*/",
          "getterMethodName" : "getType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "type",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "type",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Type",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The device type, such as \"button\".</p>\n@param type The device type, such as \"button\".*/",
          "setterMethodName" : "setType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The device type, such as \"button\".</p>\n@param type The device type, such as \"button\".\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "<p>The device type, such as \"button\".</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Device",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Device",
        "variableName" : "device",
        "variableType" : "Device",
        "documentation" : null,
        "simpleType" : "Device",
        "variableSetterType" : "Device"
      },
      "wrapper" : false
    },
    "DeviceDescription" : {
      "c2jName" : "DeviceDescription",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Arn",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the device.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the device.</p>\n@param arn The ARN of the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArn",
        "getterDocumentation" : "/**<p>The ARN of the device.</p>\n@return The ARN of the device.*/",
        "getterMethodName" : "getArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "arn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Arn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the device.</p>\n@param arn The ARN of the device.*/",
        "setterMethodName" : "setArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the device.</p>\n@param arn The ARN of the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the device.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Attributes",
        "c2jShape" : "DeviceAttributes",
        "deprecated" : false,
        "documentation" : "<p>An array of zero or more elements of DeviceAttribute objects providing\n user specified device attributes.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An array of zero or more elements of DeviceAttribute objects providing\n user specified device attributes.</p>\n@param attributes An array of zero or more elements of DeviceAttribute objects providing\n user specified device attributes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAttributes",
        "getterDocumentation" : "/**<p>An array of zero or more elements of DeviceAttribute objects providing\n user specified device attributes.</p>\n@return An array of zero or more elements of DeviceAttribute objects providing\n user specified device attributes.*/",
        "getterMethodName" : "getAttributes",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "attributes",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "attributes",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "__string",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Attributes",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An array of zero or more elements of DeviceAttribute objects providing\n user specified device attributes.</p>\n@param attributes An array of zero or more elements of DeviceAttribute objects providing\n user specified device attributes.*/",
        "setterMethodName" : "setAttributes",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "attributes",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An array of zero or more elements of DeviceAttribute objects providing\n user specified device attributes.</p>\n@param attributes An array of zero or more elements of DeviceAttribute objects providing\n user specified device attributes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "attributes",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>An array of zero or more elements of DeviceAttribute objects providing\n user specified device attributes.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DeviceId",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier of the device.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier of the device.</p>\n@param deviceId The unique identifier of the device.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDeviceId",
        "getterDocumentation" : "/**<p>The unique identifier of the device.</p>\n@return The unique identifier of the device.*/",
        "getterMethodName" : "getDeviceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "deviceId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "deviceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DeviceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique identifier of the device.</p>\n@param deviceId The unique identifier of the device.*/",
        "setterMethodName" : "setDeviceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "deviceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
[...]
