{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-12-01",
    "asyncClient" : "AmazonDevOpsGuruAsyncClient",
    "asyncClientBuilderClassName" : "AmazonDevOpsGuruAsyncClientBuilder",
    "asyncInterface" : "AmazonDevOpsGuruAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonDevOpsGuruModuleInjector",
    "defaultEndpoint" : "devops-guru.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "devops-guru.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p> Amazon DevOps Guru is a fully managed service that helps you identify anomalous behavior in business critical operational applications. You specify the AWS resources that you want DevOps Guru to cover, then the Amazon CloudWatch metrics and AWS CloudTrail events related to those resources are analyzed. When anomalous behavior is detected, DevOps Guru creates an <i>insight</i> that includes recommendations, related events, and related metrics that can help you improve your operational applications. For more information, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/welcome.html\">What is Amazon DevOps Guru</a>. </p> <p> You can specify 1 or 2 Amazon Simple Notification Service topics so you are notified every time a new insight is created. You can also enable DevOps Guru to generate an OpsItem in AWS Systems Manager for each insight to help you manage and track your work addressing insights. </p> <p> To learn about the DevOps Guru workflow, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/welcome.html#how-it-works\">How DevOps Guru works</a>. To learn about DevOps Guru concepts, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/concepts.html\">Concepts in DevOps Guru</a>. </p>",
    "endpointPrefix" : "devops-guru",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.devopsguru",
    "packagePath" : "com/amazonaws/services/devopsguru",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon DevOps Guru",
    "serviceId" : "DevOps Guru",
    "serviceName" : "Amazon DevOps Guru",
    "signingName" : "devops-guru",
    "smokeTestsPackageName" : "com.amazonaws.services.devopsguru.smoketests",
    "syncClient" : "AmazonDevOpsGuruClient",
    "syncClientBuilderClassName" : "AmazonDevOpsGuruClientBuilder",
    "syncInterface" : "AmazonDevOpsGuru",
    "uid" : "devops-guru-2020-12-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddNotificationChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddNotificationChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddNotificationChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddNotificationChannelRequest, AddNotificationChannelResult>",
      "asyncReturnType" : "AddNotificationChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Adds a notification channel to DevOps Guru. A notification channel is used to notify you about important DevOps Guru events, such as when an insight is generated. </p> <p>If you use an Amazon SNS topic in another account, you must attach a policy to it that grants DevOps Guru permission to it notifications. DevOps Guru adds the required policy on your behalf to send notifications using Amazon SNS in your account. For more information, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/sns-required-permissions.html\">Permissions for cross account Amazon SNS topics</a>.</p> <p>If you use an Amazon SNS topic that is encrypted by an AWS Key Management Service customer-managed key (CMK), then you must add permissions to the CMK. For more information, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/sns-kms-permissions.html\">Permissions for AWS KMS–encrypted Amazon SNS topics</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> An exception that is thrown when a conflict occurs. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource could not be found</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request contains a value that exceeds a maximum quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddNotificationChannelRequest",
        "variableName" : "addNotificationChannelRequest",
        "variableType" : "AddNotificationChannelRequest",
        "documentation" : "",
        "simpleType" : "AddNotificationChannelRequest",
        "variableSetterType" : "AddNotificationChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addNotificationChannel",
      "operationName" : "AddNotificationChannel",
      "returnType" : {
        "returnType" : "AddNotificationChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "AddNotificationChannelResult"
    },
    "DescribeAccountHealth" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountHealthResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountHealthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountHealthRequest, DescribeAccountHealthResult>",
      "asyncReturnType" : "DescribeAccountHealthResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the number of open reactive insights, the number of open proactive insights, and the number of metrics analyzed in your AWS account. Use these numbers to gauge the health of operations in your AWS account. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAccountHealthRequest",
        "variableName" : "describeAccountHealthRequest",
        "variableType" : "DescribeAccountHealthRequest",
        "documentation" : "",
        "simpleType" : "DescribeAccountHealthRequest",
        "variableSetterType" : "DescribeAccountHealthRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAccountHealth",
      "operationName" : "DescribeAccountHealth",
      "returnType" : {
        "returnType" : "DescribeAccountHealthResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAccountHealthResult"
    },
    "DescribeAccountOverview" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountOverviewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountOverviewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountOverviewRequest, DescribeAccountOverviewResult>",
      "asyncReturnType" : "DescribeAccountOverviewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> For the time range passed in, returns the number of open reactive insight that were created, the number of open proactive insights that were created, and the Mean Time to Recover (MTTR) for all closed reactive insights. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAccountOverviewRequest",
        "variableName" : "describeAccountOverviewRequest",
        "variableType" : "DescribeAccountOverviewRequest",
        "documentation" : "",
        "simpleType" : "DescribeAccountOverviewRequest",
        "variableSetterType" : "DescribeAccountOverviewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAccountOverview",
      "operationName" : "DescribeAccountOverview",
      "returnType" : {
        "returnType" : "DescribeAccountOverviewResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAccountOverviewResult"
    },
    "DescribeAnomaly" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAnomalyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAnomalyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAnomalyRequest, DescribeAnomalyResult>",
      "asyncReturnType" : "DescribeAnomalyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns details about an anomaly that you specify using its ID. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource could not be found</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAnomalyRequest",
        "variableName" : "describeAnomalyRequest",
        "variableType" : "DescribeAnomalyRequest",
        "documentation" : "",
        "simpleType" : "DescribeAnomalyRequest",
        "variableSetterType" : "DescribeAnomalyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAnomaly",
      "operationName" : "DescribeAnomaly",
      "returnType" : {
        "returnType" : "DescribeAnomalyResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAnomalyResult"
    },
    "DescribeFeedback" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFeedbackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFeedbackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFeedbackRequest, DescribeFeedbackResult>",
      "asyncReturnType" : "DescribeFeedbackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the most recent feedback submitted in the current AWS account and Region. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource could not be found</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFeedbackRequest",
        "variableName" : "describeFeedbackRequest",
        "variableType" : "DescribeFeedbackRequest",
        "documentation" : "",
        "simpleType" : "DescribeFeedbackRequest",
        "variableSetterType" : "DescribeFeedbackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFeedback",
      "operationName" : "DescribeFeedback",
      "returnType" : {
        "returnType" : "DescribeFeedbackResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFeedbackResult"
    },
    "DescribeInsight" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeInsightResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeInsightResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeInsightRequest, DescribeInsightResult>",
      "asyncReturnType" : "DescribeInsightResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns details about an insight that you specify using its ID. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource could not be found</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeInsightRequest",
        "variableName" : "describeInsightRequest",
        "variableType" : "DescribeInsightRequest",
        "documentation" : "",
        "simpleType" : "DescribeInsightRequest",
        "variableSetterType" : "DescribeInsightRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeInsight",
      "operationName" : "DescribeInsight",
      "returnType" : {
        "returnType" : "DescribeInsightResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeInsightResult"
    },
    "DescribeResourceCollectionHealth" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeResourceCollectionHealthResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeResourceCollectionHealthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeResourceCollectionHealthRequest, DescribeResourceCollectionHealthResult>",
      "asyncReturnType" : "DescribeResourceCollectionHealthResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the number of open proactive insights, open reactive insights, and the Mean Time to Recover (MTTR) for all closed insights in resource collections in your account. You specify the type of AWS resources collection. The one type of AWS resource collection supported is AWS CloudFormation stacks. DevOps Guru can be configured to analyze only the AWS resources that are defined in the stacks. You can specify up to 500 AWS CloudFormation stacks. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeResourceCollectionHealthRequest",
        "variableName" : "describeResourceCollectionHealthRequest",
        "variableType" : "DescribeResourceCollectionHealthRequest",
        "documentation" : "",
        "simpleType" : "DescribeResourceCollectionHealthRequest",
        "variableSetterType" : "DescribeResourceCollectionHealthRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeResourceCollectionHealth",
      "operationName" : "DescribeResourceCollectionHealth",
      "returnType" : {
        "returnType" : "DescribeResourceCollectionHealthResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeResourceCollectionHealthResult"
    },
    "DescribeServiceIntegration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeServiceIntegrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeServiceIntegrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeServiceIntegrationRequest, DescribeServiceIntegrationResult>",
      "asyncReturnType" : "DescribeServiceIntegrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the integration status of services that are integrated with DevOps Guru. The one service that can be integrated with DevOps Guru is AWS Systems Manager, which can be used to create an OpsItem for each generated insight. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeServiceIntegrationRequest",
        "variableName" : "describeServiceIntegrationRequest",
        "variableType" : "DescribeServiceIntegrationRequest",
        "documentation" : "",
        "simpleType" : "DescribeServiceIntegrationRequest",
        "variableSetterType" : "DescribeServiceIntegrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeServiceIntegration",
      "operationName" : "DescribeServiceIntegration",
      "returnType" : {
        "returnType" : "DescribeServiceIntegrationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeServiceIntegrationResult"
    },
    "GetCostEstimation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCostEstimationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCostEstimationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCostEstimationRequest, GetCostEstimationResult>",
      "asyncReturnType" : "GetCostEstimationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an estimate of the monthly cost for DevOps Guru to analyze your AWS resources. For more information, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/cost-estimate.html\">Estimate your Amazon DevOps Guru costs</a> and <a href=\"http://aws.amazon.com/devops-guru/pricing/\">Amazon DevOps Guru pricing</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource could not be found</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCostEstimationRequest",
        "variableName" : "getCostEstimationRequest",
        "variableType" : "GetCostEstimationRequest",
        "documentation" : "",
        "simpleType" : "GetCostEstimationRequest",
        "variableSetterType" : "GetCostEstimationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCostEstimation",
      "operationName" : "GetCostEstimation",
      "returnType" : {
        "returnType" : "GetCostEstimationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCostEstimationResult"
    },
    "GetResourceCollection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceCollectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceCollectionRequest, GetResourceCollectionResult>",
      "asyncReturnType" : "GetResourceCollectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns lists AWS resources that are of the specified resource collection type. The one type of AWS resource collection supported is AWS CloudFormation stacks. DevOps Guru can be configured to analyze only the AWS resources that are defined in the stacks. You can specify up to 500 AWS CloudFormation stacks. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource could not be found</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourceCollectionRequest",
        "variableName" : "getResourceCollectionRequest",
        "variableType" : "GetResourceCollectionRequest",
        "documentation" : "",
        "simpleType" : "GetResourceCollectionRequest",
        "variableSetterType" : "GetResourceCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceCollection",
      "operationName" : "GetResourceCollection",
      "returnType" : {
        "returnType" : "GetResourceCollectionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourceCollectionResult"
    },
    "ListAnomaliesForInsight" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAnomaliesForInsightResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAnomaliesForInsightResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAnomaliesForInsightRequest, ListAnomaliesForInsightResult>",
      "asyncReturnType" : "ListAnomaliesForInsightResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of the anomalies that belong to an insight that you specify using its ID. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource could not be found</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAnomaliesForInsightRequest",
        "variableName" : "listAnomaliesForInsightRequest",
        "variableType" : "ListAnomaliesForInsightRequest",
        "documentation" : "",
        "simpleType" : "ListAnomaliesForInsightRequest",
        "variableSetterType" : "ListAnomaliesForInsightRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAnomaliesForInsight",
      "operationName" : "ListAnomaliesForInsight",
      "returnType" : {
        "returnType" : "ListAnomaliesForInsightResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAnomaliesForInsightResult"
    },
    "ListEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEventsRequest, ListEventsResult>",
      "asyncReturnType" : "ListEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of the events emitted by the resources that are evaluated by DevOps Guru. You can use filters to specify which events are returned. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource could not be found</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEventsRequest",
        "variableName" : "listEventsRequest",
        "variableType" : "ListEventsRequest",
        "documentation" : "",
        "simpleType" : "ListEventsRequest",
        "variableSetterType" : "ListEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEvents",
      "operationName" : "ListEvents",
      "returnType" : {
        "returnType" : "ListEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEventsResult"
    },
    "ListInsights" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInsightsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInsightsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInsightsRequest, ListInsightsResult>",
      "asyncReturnType" : "ListInsightsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of insights in your AWS account. You can specify which insights are returned by their start time and status (<code>ONGOING</code>, <code>CLOSED</code>, or <code>ANY</code>). </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListInsightsRequest",
        "variableName" : "listInsightsRequest",
        "variableType" : "ListInsightsRequest",
        "documentation" : "",
        "simpleType" : "ListInsightsRequest",
        "variableSetterType" : "ListInsightsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInsights",
      "operationName" : "ListInsights",
      "returnType" : {
        "returnType" : "ListInsightsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListInsightsResult"
    },
    "ListNotificationChannels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListNotificationChannelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListNotificationChannelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListNotificationChannelsRequest, ListNotificationChannelsResult>",
      "asyncReturnType" : "ListNotificationChannelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of notification channels configured for DevOps Guru. Each notification channel is used to notify you when DevOps Guru generates an insight that contains information about how to improve your operations. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS). </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListNotificationChannelsRequest",
        "variableName" : "listNotificationChannelsRequest",
        "variableType" : "ListNotificationChannelsRequest",
        "documentation" : "",
        "simpleType" : "ListNotificationChannelsRequest",
        "variableSetterType" : "ListNotificationChannelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listNotificationChannels",
      "operationName" : "ListNotificationChannels",
      "returnType" : {
        "returnType" : "ListNotificationChannelsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListNotificationChannelsResult"
    },
    "ListRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRecommendationsRequest, ListRecommendationsResult>",
      "asyncReturnType" : "ListRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of a specified insight's recommendations. Each recommendation includes a list of related metrics and a list of related events. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource could not be found</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRecommendationsRequest",
        "variableName" : "listRecommendationsRequest",
        "variableType" : "ListRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "ListRecommendationsRequest",
        "variableSetterType" : "ListRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRecommendations",
      "operationName" : "ListRecommendations",
      "returnType" : {
        "returnType" : "ListRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRecommendationsResult"
    },
    "PutFeedback" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutFeedbackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutFeedbackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutFeedbackRequest, PutFeedbackResult>",
      "asyncReturnType" : "PutFeedbackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Collects customer feedback about the specified insight. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> An exception that is thrown when a conflict occurs. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource could not be found</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutFeedbackRequest",
        "variableName" : "putFeedbackRequest",
        "variableType" : "PutFeedbackRequest",
        "documentation" : "",
        "simpleType" : "PutFeedbackRequest",
        "variableSetterType" : "PutFeedbackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putFeedback",
      "operationName" : "PutFeedback",
      "returnType" : {
        "returnType" : "PutFeedbackResult",
        "documentation" : null
      },
      "syncReturnType" : "PutFeedbackResult"
    },
    "RemoveNotificationChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveNotificationChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveNotificationChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveNotificationChannelRequest, RemoveNotificationChannelResult>",
      "asyncReturnType" : "RemoveNotificationChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Removes a notification channel from DevOps Guru. A notification channel is used to notify you when DevOps Guru generates an insight that contains information about how to improve your operations. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> An exception that is thrown when a conflict occurs. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource could not be found</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemoveNotificationChannelRequest",
        "variableName" : "removeNotificationChannelRequest",
        "variableType" : "RemoveNotificationChannelRequest",
        "documentation" : "",
        "simpleType" : "RemoveNotificationChannelRequest",
        "variableSetterType" : "RemoveNotificationChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeNotificationChannel",
      "operationName" : "RemoveNotificationChannel",
      "returnType" : {
        "returnType" : "RemoveNotificationChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveNotificationChannelResult"
    },
    "SearchInsights" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchInsightsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchInsightsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchInsightsRequest, SearchInsightsResult>",
      "asyncReturnType" : "SearchInsightsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of insights in your AWS account. You can specify which insights are returned by their start time, one or more statuses (<code>ONGOING</code>, <code>CLOSED</code>, and <code>CLOSED</code>), one or more severities (<code>LOW</code>, <code>MEDIUM</code>, and <code>HIGH</code>), and type (<code>REACTIVE</code> or <code>PROACTIVE</code>). </p> <p> Use the <code>Filters</code> parameter to specify status and severity search parameters. Use the <code>Type</code> parameter to specify <code>REACTIVE</code> or <code>PROACTIVE</code> in your search. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchInsightsRequest",
        "variableName" : "searchInsightsRequest",
        "variableType" : "SearchInsightsRequest",
        "documentation" : "",
        "simpleType" : "SearchInsightsRequest",
        "variableSetterType" : "SearchInsightsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchInsights",
      "operationName" : "SearchInsights",
      "returnType" : {
        "returnType" : "SearchInsightsResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchInsightsResult"
    },
    "StartCostEstimation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartCostEstimationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartCostEstimationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartCostEstimationRequest, StartCostEstimationResult>",
      "asyncReturnType" : "StartCostEstimationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the creation of an estimate of the monthly cost to analyze your AWS resources.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> An exception that is thrown when a conflict occurs. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource could not be found</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartCostEstimationRequest",
        "variableName" : "startCostEstimationRequest",
        "variableType" : "StartCostEstimationRequest",
        "documentation" : "",
        "simpleType" : "StartCostEstimationRequest",
        "variableSetterType" : "StartCostEstimationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startCostEstimation",
      "operationName" : "StartCostEstimation",
      "returnType" : {
        "returnType" : "StartCostEstimationResult",
        "documentation" : null
      },
      "syncReturnType" : "StartCostEstimationResult"
    },
    "UpdateResourceCollection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateResourceCollectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateResourceCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateResourceCollectionRequest, UpdateResourceCollectionResult>",
      "asyncReturnType" : "UpdateResourceCollectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Updates the collection of resources that DevOps Guru analyzes. The one type of AWS resource collection supported is AWS CloudFormation stacks. DevOps Guru can be configured to analyze only the AWS resources that are defined in the stacks. You can specify up to 500 AWS CloudFormation stacks. This method also creates the IAM role required for you to use DevOps Guru. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> An exception that is thrown when a conflict occurs. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateResourceCollectionRequest",
        "variableName" : "updateResourceCollectionRequest",
        "variableType" : "UpdateResourceCollectionRequest",
        "documentation" : "",
        "simpleType" : "UpdateResourceCollectionRequest",
        "variableSetterType" : "UpdateResourceCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateResourceCollection",
      "operationName" : "UpdateResourceCollection",
      "returnType" : {
        "returnType" : "UpdateResourceCollectionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateResourceCollectionResult"
    },
    "UpdateServiceIntegration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateServiceIntegrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateServiceIntegrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateServiceIntegrationRequest, UpdateServiceIntegrationResult>",
      "asyncReturnType" : "UpdateServiceIntegrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Enables or disables integration with a service that can be integrated with DevOps Guru. The one service that can be integrated with DevOps Guru is AWS Systems Manager, which can be used to create an OpsItem for each generated insight. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p> An exception that is thrown when a conflict occurs. </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal failure in an Amazon service occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to a request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Contains information about data passed in to a field during a request that is not valid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateServiceIntegrationRequest",
        "variableName" : "updateServiceIntegrationRequest",
        "variableType" : "UpdateServiceIntegrationRequest",
        "documentation" : "",
        "simpleType" : "UpdateServiceIntegrationRequest",
        "variableSetterType" : "UpdateServiceIntegrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateServiceIntegration",
      "operationName" : "UpdateServiceIntegration",
      "returnType" : {
        "returnType" : "UpdateServiceIntegrationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateServiceIntegrationResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.devopsguru.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.devopsguru.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AddNotificationChannelRequest" : {
      "c2jName" : "AddNotificationChannelRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.devopsguru.request.AddNotificationChannelRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddNotificationChannel",
        "locationName" : null,
        "requestUri" : "/channels",
        "target" : null,
        "verb" : "PUT",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Config",
        "c2jShape" : "NotificationChannelConfig",
        "deprecated" : false,
        "documentation" : "<p> A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS). </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS). </p>\n@param config A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConfig",
        "getterDocumentation" : "/**<p> A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS). </p>\n@return A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS).*/",
        "getterMethodName" : "getConfig",
        "getterModel" : {
          "returnType" : "NotificationChannelConfig",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Config",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Config",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Config",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS). </p>\n@param config A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS).*/",
        "setterMethodName" : "setConfig",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "NotificationChannelConfig",
          "variableName" : "config",
          "variableType" : "NotificationChannelConfig",
          "documentation" : "",
          "simpleType" : "NotificationChannelConfig",
          "variableSetterType" : "NotificationChannelConfig"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS). </p>\n@param config A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "NotificationChannelConfig",
          "variableName" : "config",
          "variableType" : "NotificationChannelConfig",
          "documentation" : "<p> A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS). </p>",
          "simpleType" : "NotificationChannelConfig",
          "variableSetterType" : "NotificationChannelConfig"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Config" : {
          "c2jName" : "Config",
          "c2jShape" : "NotificationChannelConfig",
          "deprecated" : false,
          "documentation" : "<p> A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS). </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS). </p>\n@param config A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConfig",
          "getterDocumentation" : "/**<p> A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS). </p>\n@return A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS).*/",
          "getterMethodName" : "getConfig",
          "getterModel" : {
            "returnType" : "NotificationChannelConfig",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Config",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Config",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Config",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS). </p>\n@param config A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS).*/",
          "setterMethodName" : "setConfig",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "NotificationChannelConfig",
            "variableName" : "config",
            "variableType" : "NotificationChannelConfig",
            "documentation" : "",
            "simpleType" : "NotificationChannelConfig",
            "variableSetterType" : "NotificationChannelConfig"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS). </p>\n@param config A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS).\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "NotificationChannelConfig",
            "variableName" : "config",
            "variableType" : "NotificationChannelConfig",
            "documentation" : "<p> A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS). </p>",
            "simpleType" : "NotificationChannelConfig",
            "variableSetterType" : "NotificationChannelConfig"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.devopsguru.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Config" ],
      "shapeName" : "AddNotificationChannelRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddNotificationChannelRequest",
        "variableName" : "addNotificationChannelRequest",
        "variableType" : "AddNotificationChannelRequest",
        "documentation" : null,
        "simpleType" : "AddNotificationChannelRequest",
        "variableSetterType" : "AddNotificationChannelRequest"
      },
      "wrapper" : false
    },
    "AddNotificationChannelResult" : {
      "c2jName" : "AddNotificationChannelResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.devopsguru.response.AddNotificationChannelResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Id",
        "c2jShape" : "NotificationChannelId",
        "deprecated" : false,
        "documentation" : "<p> The ID of the added notification channel. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The ID of the added notification channel. </p>\n@param id The ID of the added notification channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p> The ID of the added notification channel. </p>\n@return The ID of the added notification channel.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The ID of the added notification channel. </p>\n@param id The ID of the added notification channel.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The ID of the added notification channel. </p>\n@param id The ID of the added notification channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p> The ID of the added notification channel. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Id" : {
          "c2jName" : "Id",
          "c2jShape" : "NotificationChannelId",
          "deprecated" : false,
          "documentation" : "<p> The ID of the added notification channel. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The ID of the added notification channel. </p>\n@param id The ID of the added notification channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withId",
          "getterDocumentation" : "/**<p> The ID of the added notification channel. </p>\n@return The ID of the added notification channel.*/",
          "getterMethodName" : "getId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Id",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Id",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Id",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The ID of the added notification channel. </p>\n@param id The ID of the added notification channel.*/",
          "setterMethodName" : "setId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The ID of the added notification channel. </p>\n@param id The ID of the added notification channel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "<p> The ID of the added notification channel. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.devopsguru.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Id" ],
      "shapeName" : "AddNotificationChannelResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddNotificationChannelResult",
        "variableName" : "addNotificationChannelResult",
        "variableType" : "AddNotificationChannelResult",
        "documentation" : null,
        "simpleType" : "AddNotificationChannelResult",
        "variableSetterType" : "AddNotificationChannelResult"
      },
      "wrapper" : false
    },
    "AnomalyReportedTimeRange" : {
      "c2jName" : "AnomalyReportedTimeRange",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> A time range that specifies when DevOps Guru opens and then closes an anomaly. This is different from <code>AnomalyTimeRange</code>, which specifies the time range when DevOps Guru actually observes the anomalous behavior. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.devopsguru.model.AnomalyReportedTimeRange",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "OpenTime",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p> The time when an anomaly is opened. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The time when an anomaly is opened. </p>\n@param openTime The time when an anomaly is opened.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOpenTime",
        "getterDocumentation" : "/**<p> The time when an anomaly is opened. </p>\n@return The time when an anomaly is opened.*/",
        "getterMethodName" : "getOpenTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "OpenTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "OpenTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "OpenTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The time when an anomaly is opened. </p>\n@param openTime The time when an anomaly is opened.*/",
        "setterMethodName" : "setOpenTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "openTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The time when an anomaly is opened. </p>\n@param openTime The time when an anomaly is opened.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "openTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p> The time when an anomaly is opened. </p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CloseTime",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p> The time when an anomaly is closed. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The time when an anomaly is closed. </p>\n@param closeTime The time when an anomaly is closed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCloseTime",
        "getterDocumentation" : "/**<p> The time when an anomaly is closed. </p>\n@return The time when an anomaly is closed.*/",
        "getterMethodName" : "getCloseTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CloseTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CloseTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CloseTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The time when an anomaly is closed. </p>\n@param closeTime The time when an anomaly is closed.*/",
        "setterMethodName" : "setCloseTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "closeTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The time when an anomaly is closed. </p>\n@param closeTime The time when an anomaly is closed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "closeTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p> The time when an anomaly is closed. </p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CloseTime" : {
          "c2jName" : "CloseTime",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p> The time when an anomaly is closed. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The time when an anomaly is closed. </p>\n@param closeTime The time when an anomaly is closed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCloseTime",
          "getterDocumentation" : "/**<p> The time when an anomaly is closed. </p>\n@return The time when an anomaly is closed.*/",
          "getterMethodName" : "getCloseTime",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CloseTime",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CloseTime",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "CloseTime",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The time when an anomaly is closed. </p>\n@param closeTime The time when an anomaly is closed.*/",
          "setterMethodName" : "setCloseTime",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "closeTime",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The time when an anomaly is closed. </p>\n@param closeTime The time when an anomaly is closed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "closeTime",
            "variableType" : "java.util.Date",
            "documentation" : "<p> The time when an anomaly is closed. </p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "OpenTime" : {
          "c2jName" : "OpenTime",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p> The time when an anomaly is opened. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The time when an anomaly is opened. </p>\n@param openTime The time when an anomaly is opened.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOpenTime",
          "getterDocumentation" : "/**<p> The time when an anomaly is opened. </p>\n@return The time when an anomaly is opened.*/",
          "getterMethodName" : "getOpenTime",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "OpenTime",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "OpenTime",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "OpenTime",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The time when an anomaly is opened. </p>\n@param openTime The time when an anomaly is opened.*/",
          "setterMethodName" : "setOpenTime",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "openTime",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The time when an anomaly is opened. </p>\n@param openTime The time when an anomaly is opened.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "openTime",
            "variableType" : "java.util.Date",
            "documentation" : "<p> The time when an anomaly is opened. </p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.devopsguru.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "OpenTime" ],
      "shapeName" : "AnomalyReportedTimeRange",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
[...]
