{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-12-01",
    "asyncClient" : "AmazonDevOpsGuruAsyncClient",
    "asyncClientBuilderClassName" : "AmazonDevOpsGuruAsyncClientBuilder",
    "asyncInterface" : "AmazonDevOpsGuruAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonDevOpsGuruModuleInjector",
    "defaultEndpoint" : "devops-guru.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "devops-guru.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : null,
    "endpointPrefix" : "devops-guru",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.devopsguru",
    "packagePath" : "com/amazonaws/services/devopsguru",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon DevOps Guru",
    "serviceId" : "DevOps Guru",
    "serviceName" : "Amazon DevOps Guru",
    "signingName" : "devops-guru",
    "smokeTestsPackageName" : "com.amazonaws.services.devopsguru.smoketests",
    "syncClient" : "AmazonDevOpsGuruClient",
    "syncClientBuilderClassName" : "AmazonDevOpsGuruClientBuilder",
    "syncInterface" : "AmazonDevOpsGuru",
    "uid" : "devops-guru-2020-12-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddNotificationChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddNotificationChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddNotificationChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddNotificationChannelRequest, AddNotificationChannelResult>",
      "asyncReturnType" : "AddNotificationChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : null,
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null,
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddNotificationChannelRequest",
        "variableName" : "addNotificationChannelRequest",
        "variableType" : "AddNotificationChannelRequest",
        "documentation" : "",
        "simpleType" : "AddNotificationChannelRequest",
        "variableSetterType" : "AddNotificationChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addNotificationChannel",
      "operationName" : "AddNotificationChannel",
      "returnType" : {
        "returnType" : "AddNotificationChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "AddNotificationChannelResult"
    },
    "DescribeAccountHealth" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountHealthResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountHealthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountHealthRequest, DescribeAccountHealthResult>",
      "asyncReturnType" : "DescribeAccountHealthResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAccountHealthRequest",
        "variableName" : "describeAccountHealthRequest",
        "variableType" : "DescribeAccountHealthRequest",
        "documentation" : "",
        "simpleType" : "DescribeAccountHealthRequest",
        "variableSetterType" : "DescribeAccountHealthRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAccountHealth",
      "operationName" : "DescribeAccountHealth",
      "returnType" : {
        "returnType" : "DescribeAccountHealthResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAccountHealthResult"
    },
    "DescribeAccountOverview" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountOverviewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountOverviewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountOverviewRequest, DescribeAccountOverviewResult>",
      "asyncReturnType" : "DescribeAccountOverviewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAccountOverviewRequest",
        "variableName" : "describeAccountOverviewRequest",
        "variableType" : "DescribeAccountOverviewRequest",
        "documentation" : "",
        "simpleType" : "DescribeAccountOverviewRequest",
        "variableSetterType" : "DescribeAccountOverviewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAccountOverview",
      "operationName" : "DescribeAccountOverview",
      "returnType" : {
        "returnType" : "DescribeAccountOverviewResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAccountOverviewResult"
    },
    "DescribeAnomaly" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAnomalyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAnomalyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAnomalyRequest, DescribeAnomalyResult>",
      "asyncReturnType" : "DescribeAnomalyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAnomalyRequest",
        "variableName" : "describeAnomalyRequest",
        "variableType" : "DescribeAnomalyRequest",
        "documentation" : "",
        "simpleType" : "DescribeAnomalyRequest",
        "variableSetterType" : "DescribeAnomalyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAnomaly",
      "operationName" : "DescribeAnomaly",
      "returnType" : {
        "returnType" : "DescribeAnomalyResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAnomalyResult"
    },
    "DescribeInsight" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeInsightResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeInsightResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeInsightRequest, DescribeInsightResult>",
      "asyncReturnType" : "DescribeInsightResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeInsightRequest",
        "variableName" : "describeInsightRequest",
        "variableType" : "DescribeInsightRequest",
        "documentation" : "",
        "simpleType" : "DescribeInsightRequest",
        "variableSetterType" : "DescribeInsightRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeInsight",
      "operationName" : "DescribeInsight",
      "returnType" : {
        "returnType" : "DescribeInsightResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeInsightResult"
    },
    "DescribeResourceCollectionHealth" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeResourceCollectionHealthResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeResourceCollectionHealthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeResourceCollectionHealthRequest, DescribeResourceCollectionHealthResult>",
      "asyncReturnType" : "DescribeResourceCollectionHealthResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeResourceCollectionHealthRequest",
        "variableName" : "describeResourceCollectionHealthRequest",
        "variableType" : "DescribeResourceCollectionHealthRequest",
        "documentation" : "",
        "simpleType" : "DescribeResourceCollectionHealthRequest",
        "variableSetterType" : "DescribeResourceCollectionHealthRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeResourceCollectionHealth",
      "operationName" : "DescribeResourceCollectionHealth",
      "returnType" : {
        "returnType" : "DescribeResourceCollectionHealthResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeResourceCollectionHealthResult"
    },
    "DescribeServiceIntegration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeServiceIntegrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeServiceIntegrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeServiceIntegrationRequest, DescribeServiceIntegrationResult>",
      "asyncReturnType" : "DescribeServiceIntegrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeServiceIntegrationRequest",
        "variableName" : "describeServiceIntegrationRequest",
        "variableType" : "DescribeServiceIntegrationRequest",
        "documentation" : "",
        "simpleType" : "DescribeServiceIntegrationRequest",
        "variableSetterType" : "DescribeServiceIntegrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeServiceIntegration",
      "operationName" : "DescribeServiceIntegration",
      "returnType" : {
        "returnType" : "DescribeServiceIntegrationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeServiceIntegrationResult"
    },
    "GetResourceCollection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceCollectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceCollectionRequest, GetResourceCollectionResult>",
      "asyncReturnType" : "GetResourceCollectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetResourceCollectionRequest",
        "variableName" : "getResourceCollectionRequest",
        "variableType" : "GetResourceCollectionRequest",
        "documentation" : "",
        "simpleType" : "GetResourceCollectionRequest",
        "variableSetterType" : "GetResourceCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceCollection",
      "operationName" : "GetResourceCollection",
      "returnType" : {
        "returnType" : "GetResourceCollectionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetResourceCollectionResult"
    },
    "ListAnomaliesForInsight" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAnomaliesForInsightResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAnomaliesForInsightResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAnomaliesForInsightRequest, ListAnomaliesForInsightResult>",
      "asyncReturnType" : "ListAnomaliesForInsightResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAnomaliesForInsightRequest",
        "variableName" : "listAnomaliesForInsightRequest",
        "variableType" : "ListAnomaliesForInsightRequest",
        "documentation" : "",
        "simpleType" : "ListAnomaliesForInsightRequest",
        "variableSetterType" : "ListAnomaliesForInsightRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAnomaliesForInsight",
      "operationName" : "ListAnomaliesForInsight",
      "returnType" : {
        "returnType" : "ListAnomaliesForInsightResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAnomaliesForInsightResult"
    },
    "ListEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEventsRequest, ListEventsResult>",
      "asyncReturnType" : "ListEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEventsRequest",
        "variableName" : "listEventsRequest",
        "variableType" : "ListEventsRequest",
        "documentation" : "",
        "simpleType" : "ListEventsRequest",
        "variableSetterType" : "ListEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEvents",
      "operationName" : "ListEvents",
      "returnType" : {
        "returnType" : "ListEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEventsResult"
    },
    "ListInsights" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInsightsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInsightsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInsightsRequest, ListInsightsResult>",
      "asyncReturnType" : "ListInsightsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListInsightsRequest",
        "variableName" : "listInsightsRequest",
        "variableType" : "ListInsightsRequest",
        "documentation" : "",
        "simpleType" : "ListInsightsRequest",
        "variableSetterType" : "ListInsightsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInsights",
      "operationName" : "ListInsights",
      "returnType" : {
        "returnType" : "ListInsightsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListInsightsResult"
    },
    "ListNotificationChannels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListNotificationChannelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListNotificationChannelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListNotificationChannelsRequest, ListNotificationChannelsResult>",
      "asyncReturnType" : "ListNotificationChannelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListNotificationChannelsRequest",
        "variableName" : "listNotificationChannelsRequest",
        "variableType" : "ListNotificationChannelsRequest",
        "documentation" : "",
        "simpleType" : "ListNotificationChannelsRequest",
        "variableSetterType" : "ListNotificationChannelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listNotificationChannels",
      "operationName" : "ListNotificationChannels",
      "returnType" : {
        "returnType" : "ListNotificationChannelsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListNotificationChannelsResult"
    },
    "ListRecommendations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRecommendationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRecommendationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRecommendationsRequest, ListRecommendationsResult>",
      "asyncReturnType" : "ListRecommendationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRecommendationsRequest",
        "variableName" : "listRecommendationsRequest",
        "variableType" : "ListRecommendationsRequest",
        "documentation" : "",
        "simpleType" : "ListRecommendationsRequest",
        "variableSetterType" : "ListRecommendationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRecommendations",
      "operationName" : "ListRecommendations",
      "returnType" : {
        "returnType" : "ListRecommendationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRecommendationsResult"
    },
    "PutFeedback" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutFeedbackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutFeedbackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutFeedbackRequest, PutFeedbackResult>",
      "asyncReturnType" : "PutFeedbackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null,
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutFeedbackRequest",
        "variableName" : "putFeedbackRequest",
        "variableType" : "PutFeedbackRequest",
        "documentation" : "",
        "simpleType" : "PutFeedbackRequest",
        "variableSetterType" : "PutFeedbackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putFeedback",
      "operationName" : "PutFeedback",
      "returnType" : {
        "returnType" : "PutFeedbackResult",
        "documentation" : null
      },
      "syncReturnType" : "PutFeedbackResult"
    },
    "RemoveNotificationChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveNotificationChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveNotificationChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveNotificationChannelRequest, RemoveNotificationChannelResult>",
      "asyncReturnType" : "RemoveNotificationChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : null,
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null,
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemoveNotificationChannelRequest",
        "variableName" : "removeNotificationChannelRequest",
        "variableType" : "RemoveNotificationChannelRequest",
        "documentation" : "",
        "simpleType" : "RemoveNotificationChannelRequest",
        "variableSetterType" : "RemoveNotificationChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeNotificationChannel",
      "operationName" : "RemoveNotificationChannel",
      "returnType" : {
        "returnType" : "RemoveNotificationChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveNotificationChannelResult"
    },
    "SearchInsights" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SearchInsightsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SearchInsightsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SearchInsightsRequest, SearchInsightsResult>",
      "asyncReturnType" : "SearchInsightsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SearchInsightsRequest",
        "variableName" : "searchInsightsRequest",
        "variableType" : "SearchInsightsRequest",
        "documentation" : "",
        "simpleType" : "SearchInsightsRequest",
        "variableSetterType" : "SearchInsightsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "searchInsights",
      "operationName" : "SearchInsights",
      "returnType" : {
        "returnType" : "SearchInsightsResult",
        "documentation" : null
      },
      "syncReturnType" : "SearchInsightsResult"
    },
    "UpdateResourceCollection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateResourceCollectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateResourceCollectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateResourceCollectionRequest, UpdateResourceCollectionResult>",
      "asyncReturnType" : "UpdateResourceCollectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null,
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateResourceCollectionRequest",
        "variableName" : "updateResourceCollectionRequest",
        "variableType" : "UpdateResourceCollectionRequest",
        "documentation" : "",
        "simpleType" : "UpdateResourceCollectionRequest",
        "variableSetterType" : "UpdateResourceCollectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateResourceCollection",
      "operationName" : "UpdateResourceCollection",
      "returnType" : {
        "returnType" : "UpdateResourceCollectionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateResourceCollectionResult"
    },
    "UpdateServiceIntegration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateServiceIntegrationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateServiceIntegrationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateServiceIntegrationRequest, UpdateServiceIntegrationResult>",
      "asyncReturnType" : "UpdateServiceIntegrationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : null,
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : null,
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : null,
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : null,
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateServiceIntegrationRequest",
        "variableName" : "updateServiceIntegrationRequest",
        "variableType" : "UpdateServiceIntegrationRequest",
        "documentation" : "",
        "simpleType" : "UpdateServiceIntegrationRequest",
        "variableSetterType" : "UpdateServiceIntegrationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateServiceIntegration",
      "operationName" : "UpdateServiceIntegration",
      "returnType" : {
        "returnType" : "UpdateServiceIntegrationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateServiceIntegrationResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.devopsguru.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.devopsguru.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AddNotificationChannelRequest" : {
      "c2jName" : "AddNotificationChannelRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.devopsguru.request.AddNotificationChannelRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddNotificationChannel",
        "locationName" : null,
        "requestUri" : "/channels",
        "target" : null,
        "verb" : "PUT",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Config",
        "c2jShape" : "NotificationChannelConfig",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param config \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConfig",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getConfig",
        "getterModel" : {
          "returnType" : "NotificationChannelConfig",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Config",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Config",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Config",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param config */",
        "setterMethodName" : "setConfig",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "NotificationChannelConfig",
          "variableName" : "config",
          "variableType" : "NotificationChannelConfig",
          "documentation" : "",
          "simpleType" : "NotificationChannelConfig",
          "variableSetterType" : "NotificationChannelConfig"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param config \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "NotificationChannelConfig",
          "variableName" : "config",
          "variableType" : "NotificationChannelConfig",
          "documentation" : "",
          "simpleType" : "NotificationChannelConfig",
          "variableSetterType" : "NotificationChannelConfig"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Config" : {
          "c2jName" : "Config",
          "c2jShape" : "NotificationChannelConfig",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param config \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withConfig",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getConfig",
          "getterModel" : {
            "returnType" : "NotificationChannelConfig",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Config",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Config",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Config",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param config */",
          "setterMethodName" : "setConfig",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "NotificationChannelConfig",
            "variableName" : "config",
            "variableType" : "NotificationChannelConfig",
            "documentation" : "",
            "simpleType" : "NotificationChannelConfig",
            "variableSetterType" : "NotificationChannelConfig"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param config \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "NotificationChannelConfig",
            "variableName" : "config",
            "variableType" : "NotificationChannelConfig",
            "documentation" : "",
            "simpleType" : "NotificationChannelConfig",
            "variableSetterType" : "NotificationChannelConfig"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.devopsguru.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Config" ],
      "shapeName" : "AddNotificationChannelRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddNotificationChannelRequest",
        "variableName" : "addNotificationChannelRequest",
        "variableType" : "AddNotificationChannelRequest",
        "documentation" : null,
        "simpleType" : "AddNotificationChannelRequest",
        "variableSetterType" : "AddNotificationChannelRequest"
      },
      "wrapper" : false
    },
    "AddNotificationChannelResult" : {
      "c2jName" : "AddNotificationChannelResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.devopsguru.response.AddNotificationChannelResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Id",
        "c2jShape" : "__stringMin36Max36PatternAF098AF094AF094AF094AF0912",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param id \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param id */",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param id \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Id" : {
          "c2jName" : "Id",
          "c2jShape" : "__stringMin36Max36PatternAF098AF094AF094AF094AF0912",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param id \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withId",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Id",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Id",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Id",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param id */",
          "setterMethodName" : "setId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param id \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.devopsguru.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AddNotificationChannelResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddNotificationChannelResult",
        "variableName" : "addNotificationChannelResult",
        "variableType" : "AddNotificationChannelResult",
        "documentation" : null,
        "simpleType" : "AddNotificationChannelResult",
        "variableSetterType" : "AddNotificationChannelResult"
      },
      "wrapper" : false
    },
    "AnomalySeverity" : {
      "c2jName" : "AnomalySeverity",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "LOW",
        "value" : "LOW"
      }, {
        "name" : "MEDIUM",
        "value" : "MEDIUM"
      }, {
        "name" : "HIGH",
        "value" : "HIGH"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.devopsguru.enum.AnomalySeverity",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.devopsguru.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AnomalySeverity",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AnomalySeverity",
        "variableName" : "anomalySeverity",
        "variableType" : "AnomalySeverity",
        "documentation" : null,
        "simpleType" : "AnomalySeverity",
        "variableSetterType" : "AnomalySeverity"
      },
      "wrapper" : false
    },
    "AnomalySourceDetails" : {
      "c2jName" : "AnomalySourceDetails",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.devopsguru.model.AnomalySourceDetails",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "CloudWatchMetrics",
        "c2jShape" : "__listOfCloudWatchMetricsDetail",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param cloudWatchMetrics \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCloudWatchMetrics",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getCloudWatchMetrics",
        "getterModel" : {
          "returnType" : "java.util.List<CloudWatchMetricsDetail>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CloudWatchMetrics",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CloudWatchMetrics",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "CloudWatchMetricsDetail",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "CloudWatchMetricsDetail",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "CloudWatchMetricsDetail",
              "variableName" : "member",
              "variableType" : "CloudWatchMetricsDetail",
              "documentation" : "",
              "simpleType" : "CloudWatchMetricsDetail",
              "variableSetterType" : "CloudWatchMetricsDetail"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "CloudWatchMetricsDetail",
              "variableName" : "member",
              "variableType" : "CloudWatchMetricsDetail",
              "documentation" : "",
              "simpleType" : "CloudWatchMetricsDetail",
              "variableSetterType" : "CloudWatchMetricsDetail"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "CloudWatchMetricsDetail",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "CloudWatchMetricsDetail",
          "templateImplType" : "java.util.ArrayList<CloudWatchMetricsDetail>",
          "templateType" : "java.util.List<CloudWatchMetricsDetail>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "CloudWatchMetrics",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param cloudWatchMetrics */",
        "setterMethodName" : "setCloudWatchMetrics",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<CloudWatchMetricsDetail>",
          "variableName" : "cloudWatchMetrics",
          "variableType" : "java.util.List<CloudWatchMetricsDetail>",
          "documentation" : "",
          "simpleType" : "List<CloudWatchMetricsDetail>",
          "variableSetterType" : "java.util.Collection<CloudWatchMetricsDetail>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setCloudWatchMetrics(java.util.Collection)} or {@link #withCloudWatchMetrics(java.util.Collection)} if you want to override the existing values.</p>\n@param cloudWatchMetrics \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<CloudWatchMetricsDetail>",
          "variableName" : "cloudWatchMetrics",
          "variableType" : "java.util.List<CloudWatchMetricsDetail>",
          "documentation" : "",
          "simpleType" : "List<CloudWatchMetricsDetail>",
          "variableSetterType" : "java.util.Collection<CloudWatchMetricsDetail>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CloudWatchMetrics" : {
          "c2jName" : "CloudWatchMetrics",
          "c2jShape" : "__listOfCloudWatchMetricsDetail",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param cloudWatchMetrics \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCloudWatchMetrics",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getCloudWatchMetrics",
          "getterModel" : {
            "returnType" : "java.util.List<CloudWatchMetricsDetail>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CloudWatchMetrics",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CloudWatchMetrics",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "CloudWatchMetricsDetail",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "CloudWatchMetricsDetail",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "CloudWatchMetricsDetail",
                "variableName" : "member",
                "variableType" : "CloudWatchMetricsDetail",
                "documentation" : "",
                "simpleType" : "CloudWatchMetricsDetail",
                "variableSetterType" : "CloudWatchMetricsDetail"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "CloudWatchMetricsDetail",
                "variableName" : "member",
                "variableType" : "CloudWatchMetricsDetail",
                "documentation" : "",
                "simpleType" : "CloudWatchMetricsDetail",
                "variableSetterType" : "CloudWatchMetricsDetail"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "CloudWatchMetricsDetail",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "CloudWatchMetricsDetail",
            "templateImplType" : "java.util.ArrayList<CloudWatchMetricsDetail>",
            "templateType" : "java.util.List<CloudWatchMetricsDetail>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "CloudWatchMetrics",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param cloudWatchMetrics */",
          "setterMethodName" : "setCloudWatchMetrics",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<CloudWatchMetricsDetail>",
            "variableName" : "cloudWatchMetrics",
            "variableType" : "java.util.List<CloudWatchMetricsDetail>",
            "documentation" : "",
            "simpleType" : "List<CloudWatchMetricsDetail>",
            "variableSetterType" : "java.util.Collection<CloudWatchMetricsDetail>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setCloudWatchMetrics(java.util.Collection)} or {@link #withCloudWatchMetrics(java.util.Collection)} if you want to override the existing values.</p>\n@param cloudWatchMetrics \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<CloudWatchMetricsDetail>",
            "variableName" : "cloudWatchMetrics",
            "variableType" : "java.util.List<CloudWatchMetricsDetail>",
            "documentation" : "",
            "simpleType" : "List<CloudWatchMetricsDetail>",
            "variableSetterType" : "java.util.Collection<CloudWatchMetricsDetail>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.devopsguru.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AnomalySourceDetails",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AnomalySourceDetails",
        "variableName" : "anomalySourceDetails",
        "variableType" : "AnomalySourceDetails",
        "documentation" : null,
        "simpleType" : "AnomalySourceDetails",
        "variableSetterType" : "AnomalySourceDetails"
      },
      "wrapper" : false
    },
    "AnomalyStatus" : {
      "c2jName" : "AnomalyStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "ONGOING",
        "value" : "ONGOING"
      }, {
        "name" : "CLOSED",
        "value" : "CLOSED"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.devopsguru.enum.AnomalyStatus",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.devopsguru.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AnomalyStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AnomalyStatus",
        "variableName" : "anomalyStatus",
        "variableType" : "AnomalyStatus",
        "documentation" : null,
        "simpleType" : "AnomalyStatus",
        "variableSetterType" : "AnomalyStatus"
      },
      "wrapper" : false
    },
    "AnomalyTimeRange" : {
      "c2jName" : "AnomalyTimeRange",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.devopsguru.model.AnomalyTimeRange",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "EndTime",
        "c2jShape" : "__timestampUnix",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param endTime \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEndTime",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getEndTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EndTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EndTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "EndTime",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param endTime */",
        "setterMethodName" : "setEndTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "endTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param endTime \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "endTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StartTime",
        "c2jShape" : "__timestampUnix",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param startTime \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStartTime",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getStartTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "StartTime",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StartTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "StartTime",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param startTime */",
        "setterMethodName" : "setStartTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "startTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param startTime \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "startTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "EndTime" : {
          "c2jName" : "EndTime",
          "c2jShape" : "__timestampUnix",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param endTime \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEndTime",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getEndTime",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "EndTime",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EndTime",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "EndTime",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param endTime */",
          "setterMethodName" : "setEndTime",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "endTime",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param endTime \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "endTime",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "StartTime" : {
          "c2jName" : "StartTime",
          "c2jShape" : "__timestampUnix",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param startTime \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStartTime",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getStartTime",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "StartTime",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "StartTime",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "StartTime",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param startTime */",
          "setterMethodName" : "setStartTime",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "startTime",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param startTime \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "startTime",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.devopsguru.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "StartTime" ],
      "shapeName" : "AnomalyTimeRange",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AnomalyTimeRange",
        "variableName" : "anomalyTimeRange",
        "variableType" : "AnomalyTimeRange",
        "documentation" : null,
        "simpleType" : "AnomalyTimeRange",
        "variableSetterType" : "AnomalyTimeRange"
      },
      "wrapper" : false
    },
    "CloudFormationCollection" : {
      "c2jName" : "CloudFormationCollection",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.devopsguru.model.CloudFormationCollection",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "StackNames",
        "c2jShape" : "__listOf__stringMin1Max128PatternAZAZAZAZ09",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param stackNames \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStackNames",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getStackNames",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "StackNames",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StackNames",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "__stringMin1Max128PatternAZAZAZAZ09",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "StackNames",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param stackNames */",
        "setterMethodName" : "setStackNames",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "stackNames",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setStackNames(java.util.Collection)} or {@link #withStackNames(java.util.Collection)} if you want to override the existing values.</p>\n@param stackNames \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "stackNames",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "StackNames" : {
          "c2jName" : "StackNames",
          "c2jShape" : "__listOf__stringMin1Max128PatternAZAZAZAZ09",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param stackNames \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStackNames",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getStackNames",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "StackNames",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "StackNames",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "__stringMin1Max128PatternAZAZAZAZ09",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "StackNames",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param stackNames */",
          "setterMethodName" : "setStackNames",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "stackNames",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
[...]
