{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : "DirectConnect",
      "skip" : false
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeConnections" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeInterconnects" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeLocations" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeVirtualGateways" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeVirtualInterfaces" : {
        "methodForms" : [ [ ] ]
      }
    },
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2012-10-25",
    "asyncClient" : "AmazonDirectConnectAsyncClient",
    "asyncClientBuilderClassName" : "AmazonDirectConnectAsyncClientBuilder",
    "asyncInterface" : "AmazonDirectConnectAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonDirectConnectModuleInjector",
    "defaultEndpoint" : "https://directconnect.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "directconnect.us-east-1.amazonaws.com/",
    "documentation" : "<p>AWS Direct Connect links your internal network to an AWS Direct Connect location over a standard 1 gigabit or 10 gigabit Ethernet fiber-optic cable. One end of the cable is connected to your router, the other to an AWS Direct Connect router. With this connection in place, you can create virtual interfaces directly to the AWS cloud (for example, to Amazon Elastic Compute Cloud (Amazon EC2) and Amazon Simple Storage Service (Amazon S3)) and to Amazon Virtual Private Cloud (Amazon VPC), bypassing Internet service providers in your network path. An AWS Direct Connect location provides access to AWS in the region it is associated with, as well as access to other US regions. For example, you can provision a single connection to any AWS Direct Connect location in the US and use it to access public AWS services in all US Regions and AWS GovCloud (US).</p>",
    "endpointPrefix" : "directconnect",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.directconnect",
    "packagePath" : "com/amazonaws/services/directconnect",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Direct Connect",
    "serviceName" : "AWS Direct Connect",
    "signingName" : "directconnect",
    "smokeTestsPackageName" : "com.amazonaws.services.directconnect.smoketests",
    "syncClient" : "AmazonDirectConnectClient",
    "syncClientBuilderClassName" : "AmazonDirectConnectClientBuilder",
    "syncInterface" : "AmazonDirectConnect",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AllocateConnectionOnInterconnect" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AllocateConnectionOnInterconnectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AllocateConnectionOnInterconnectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AllocateConnectionOnInterconnectRequest, AllocateConnectionOnInterconnectResult>",
      "asyncReturnType" : "AllocateConnectionOnInterconnectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a hosted connection on an interconnect.</p> <p>Allocates a VLAN number and a specified amount of bandwidth for use by a hosted connection on the given interconnect.</p> <note> <p>This is intended for use by AWS Direct Connect partners only.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AllocateConnectionOnInterconnectRequest",
        "variableName" : "allocateConnectionOnInterconnectRequest",
        "variableType" : "AllocateConnectionOnInterconnectRequest",
        "documentation" : "<p>Container for the parameters to the AllocateConnectionOnInterconnect operation.</p>",
        "simpleType" : "AllocateConnectionOnInterconnectRequest",
        "variableSetterType" : "AllocateConnectionOnInterconnectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "allocateConnectionOnInterconnect",
      "operationName" : "AllocateConnectionOnInterconnect",
      "returnType" : {
        "returnType" : "AllocateConnectionOnInterconnectResult",
        "documentation" : "<p>A connection represents the physical network connection between the AWS Direct Connect location and the customer.</p>"
      },
      "syncReturnType" : "AllocateConnectionOnInterconnectResult"
    },
    "AllocatePrivateVirtualInterface" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AllocatePrivateVirtualInterfaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AllocatePrivateVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AllocatePrivateVirtualInterfaceRequest, AllocatePrivateVirtualInterfaceResult>",
      "asyncReturnType" : "AllocatePrivateVirtualInterfaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provisions a private virtual interface to be owned by a different customer.</p> <p>The owner of a connection calls this function to provision a private virtual interface which will be owned by another AWS customer.</p> <p>Virtual interfaces created using this function must be confirmed by the virtual interface owner by calling ConfirmPrivateVirtualInterface. Until this step has been completed, the virtual interface will be in 'Confirming' state, and will not be available for handling traffic.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AllocatePrivateVirtualInterfaceRequest",
        "variableName" : "allocatePrivateVirtualInterfaceRequest",
        "variableType" : "AllocatePrivateVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the AllocatePrivateVirtualInterface operation.</p>",
        "simpleType" : "AllocatePrivateVirtualInterfaceRequest",
        "variableSetterType" : "AllocatePrivateVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "allocatePrivateVirtualInterface",
      "operationName" : "AllocatePrivateVirtualInterface",
      "returnType" : {
        "returnType" : "AllocatePrivateVirtualInterfaceResult",
        "documentation" : "<p>A virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location and the customer.</p>"
      },
      "syncReturnType" : "AllocatePrivateVirtualInterfaceResult"
    },
    "AllocatePublicVirtualInterface" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AllocatePublicVirtualInterfaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AllocatePublicVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AllocatePublicVirtualInterfaceRequest, AllocatePublicVirtualInterfaceResult>",
      "asyncReturnType" : "AllocatePublicVirtualInterfaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provisions a public virtual interface to be owned by a different customer.</p> <p>The owner of a connection calls this function to provision a public virtual interface which will be owned by another AWS customer.</p> <p>Virtual interfaces created using this function must be confirmed by the virtual interface owner by calling ConfirmPublicVirtualInterface. Until this step has been completed, the virtual interface will be in 'Confirming' state, and will not be available for handling traffic.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AllocatePublicVirtualInterfaceRequest",
        "variableName" : "allocatePublicVirtualInterfaceRequest",
        "variableType" : "AllocatePublicVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the AllocatePublicVirtualInterface operation.</p>",
        "simpleType" : "AllocatePublicVirtualInterfaceRequest",
        "variableSetterType" : "AllocatePublicVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "allocatePublicVirtualInterface",
      "operationName" : "AllocatePublicVirtualInterface",
      "returnType" : {
        "returnType" : "AllocatePublicVirtualInterfaceResult",
        "documentation" : "<p>A virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location and the customer.</p>"
      },
      "syncReturnType" : "AllocatePublicVirtualInterfaceResult"
    },
    "ConfirmConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConfirmConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConfirmConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfirmConnectionRequest, ConfirmConnectionResult>",
      "asyncReturnType" : "ConfirmConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Confirm the creation of a hosted connection on an interconnect.</p> <p>Upon creation, the hosted connection is initially in the 'Ordering' state, and will remain in this state until the owner calls ConfirmConnection to confirm creation of the hosted connection.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ConfirmConnectionRequest",
        "variableName" : "confirmConnectionRequest",
        "variableType" : "ConfirmConnectionRequest",
        "documentation" : "<p>Container for the parameters to the ConfirmConnection operation.</p>",
        "simpleType" : "ConfirmConnectionRequest",
        "variableSetterType" : "ConfirmConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "confirmConnection",
      "operationName" : "ConfirmConnection",
      "returnType" : {
        "returnType" : "ConfirmConnectionResult",
        "documentation" : "<p>The response received when ConfirmConnection is called.</p>"
      },
      "syncReturnType" : "ConfirmConnectionResult"
    },
    "ConfirmPrivateVirtualInterface" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConfirmPrivateVirtualInterfaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConfirmPrivateVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfirmPrivateVirtualInterfaceRequest, ConfirmPrivateVirtualInterfaceResult>",
      "asyncReturnType" : "ConfirmPrivateVirtualInterfaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Accept ownership of a private virtual interface created by another customer.</p> <p>After the virtual interface owner calls this function, the virtual interface will be created and attached to the given virtual private gateway, and will be available for handling traffic.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ConfirmPrivateVirtualInterfaceRequest",
        "variableName" : "confirmPrivateVirtualInterfaceRequest",
        "variableType" : "ConfirmPrivateVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the ConfirmPrivateVirtualInterface operation.</p>",
        "simpleType" : "ConfirmPrivateVirtualInterfaceRequest",
        "variableSetterType" : "ConfirmPrivateVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "confirmPrivateVirtualInterface",
      "operationName" : "ConfirmPrivateVirtualInterface",
      "returnType" : {
        "returnType" : "ConfirmPrivateVirtualInterfaceResult",
        "documentation" : "<p>The response received when ConfirmPrivateVirtualInterface is called.</p>"
      },
      "syncReturnType" : "ConfirmPrivateVirtualInterfaceResult"
    },
    "ConfirmPublicVirtualInterface" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConfirmPublicVirtualInterfaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConfirmPublicVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfirmPublicVirtualInterfaceRequest, ConfirmPublicVirtualInterfaceResult>",
      "asyncReturnType" : "ConfirmPublicVirtualInterfaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Accept ownership of a public virtual interface created by another customer.</p> <p>After the virtual interface owner calls this function, the specified virtual interface will be created and made available for handling traffic.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ConfirmPublicVirtualInterfaceRequest",
        "variableName" : "confirmPublicVirtualInterfaceRequest",
        "variableType" : "ConfirmPublicVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the ConfirmPublicVirtualInterface operation.</p>",
        "simpleType" : "ConfirmPublicVirtualInterfaceRequest",
        "variableSetterType" : "ConfirmPublicVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "confirmPublicVirtualInterface",
      "operationName" : "ConfirmPublicVirtualInterface",
      "returnType" : {
        "returnType" : "ConfirmPublicVirtualInterfaceResult",
        "documentation" : "<p>The response received when ConfirmPublicVirtualInterface is called.</p>"
      },
      "syncReturnType" : "ConfirmPublicVirtualInterfaceResult"
    },
    "CreateConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConnectionRequest, CreateConnectionResult>",
      "asyncReturnType" : "CreateConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new connection between the customer network and a specific AWS Direct Connect location.</p> <p>A connection links your internal network to an AWS Direct Connect location over a standard 1 gigabit or 10 gigabit Ethernet fiber-optic cable. One end of the cable is connected to your router, the other to an AWS Direct Connect router. An AWS Direct Connect location provides access to Amazon Web Services in the region it is associated with. You can establish connections with AWS Direct Connect locations in multiple regions, but a connection in one region does not provide connectivity to other regions.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateConnectionRequest",
        "variableName" : "createConnectionRequest",
        "variableType" : "CreateConnectionRequest",
        "documentation" : "<p>Container for the parameters to the CreateConnection operation.</p>",
        "simpleType" : "CreateConnectionRequest",
        "variableSetterType" : "CreateConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConnection",
      "operationName" : "CreateConnection",
      "returnType" : {
        "returnType" : "CreateConnectionResult",
        "documentation" : "<p>A connection represents the physical network connection between the AWS Direct Connect location and the customer.</p>"
      },
      "syncReturnType" : "CreateConnectionResult"
    },
    "CreateInterconnect" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateInterconnectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateInterconnectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateInterconnectRequest, CreateInterconnectResult>",
      "asyncReturnType" : "CreateInterconnectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new interconnect between a AWS Direct Connect partner's network and a specific AWS Direct Connect location.</p> <p>An interconnect is a connection which is capable of hosting other connections. The AWS Direct Connect partner can use an interconnect to provide sub-1Gbps AWS Direct Connect service to tier 2 customers who do not have their own connections. Like a standard connection, an interconnect links the AWS Direct Connect partner's network to an AWS Direct Connect location over a standard 1 Gbps or 10 Gbps Ethernet fiber-optic cable. One end is connected to the partner's router, the other to an AWS Direct Connect router.</p> <p>For each end customer, the AWS Direct Connect partner provisions a connection on their interconnect by calling AllocateConnectionOnInterconnect. The end customer can then connect to AWS resources by creating a virtual interface on their connection, using the VLAN assigned to them by the AWS Direct Connect partner.</p> <note> <p>This is intended for use by AWS Direct Connect partners only.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateInterconnectRequest",
        "variableName" : "createInterconnectRequest",
        "variableType" : "CreateInterconnectRequest",
        "documentation" : "<p>Container for the parameters to the CreateInterconnect operation.</p>",
        "simpleType" : "CreateInterconnectRequest",
        "variableSetterType" : "CreateInterconnectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createInterconnect",
      "operationName" : "CreateInterconnect",
      "returnType" : {
        "returnType" : "CreateInterconnectResult",
        "documentation" : "<p>An interconnect is a connection that can host other connections.</p> <p>Like a standard AWS Direct Connect connection, an interconnect represents the physical connection between an AWS Direct Connect partner's network and a specific Direct Connect location. An AWS Direct Connect partner who owns an interconnect can provision hosted connections on the interconnect for their end customers, thereby providing the end customers with connectivity to AWS services.</p> <p>The resources of the interconnect, including bandwidth and VLAN numbers, are shared by all of the hosted connections on the interconnect, and the owner of the interconnect determines how these resources are assigned.</p>"
      },
      "syncReturnType" : "CreateInterconnectResult"
    },
    "CreatePrivateVirtualInterface" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePrivateVirtualInterfaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePrivateVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePrivateVirtualInterfaceRequest, CreatePrivateVirtualInterfaceResult>",
      "asyncReturnType" : "CreatePrivateVirtualInterfaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new private virtual interface. A virtual interface is the VLAN that transports AWS Direct Connect traffic. A private virtual interface supports sending traffic to a single virtual private cloud (VPC).</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreatePrivateVirtualInterfaceRequest",
        "variableName" : "createPrivateVirtualInterfaceRequest",
        "variableType" : "CreatePrivateVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the CreatePrivateVirtualInterface operation.</p>",
        "simpleType" : "CreatePrivateVirtualInterfaceRequest",
        "variableSetterType" : "CreatePrivateVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPrivateVirtualInterface",
      "operationName" : "CreatePrivateVirtualInterface",
      "returnType" : {
        "returnType" : "CreatePrivateVirtualInterfaceResult",
        "documentation" : "<p>A virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location and the customer.</p>"
      },
      "syncReturnType" : "CreatePrivateVirtualInterfaceResult"
    },
    "CreatePublicVirtualInterface" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePublicVirtualInterfaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePublicVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePublicVirtualInterfaceRequest, CreatePublicVirtualInterfaceResult>",
      "asyncReturnType" : "CreatePublicVirtualInterfaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new public virtual interface. A virtual interface is the VLAN that transports AWS Direct Connect traffic. A public virtual interface supports sending traffic to public services of AWS such as Amazon Simple Storage Service (Amazon S3).</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreatePublicVirtualInterfaceRequest",
        "variableName" : "createPublicVirtualInterfaceRequest",
        "variableType" : "CreatePublicVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the CreatePublicVirtualInterface operation.</p>",
        "simpleType" : "CreatePublicVirtualInterfaceRequest",
        "variableSetterType" : "CreatePublicVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPublicVirtualInterface",
      "operationName" : "CreatePublicVirtualInterface",
      "returnType" : {
        "returnType" : "CreatePublicVirtualInterfaceResult",
        "documentation" : "<p>A virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location and the customer.</p>"
      },
      "syncReturnType" : "CreatePublicVirtualInterfaceResult"
    },
    "DeleteConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConnectionRequest, DeleteConnectionResult>",
      "asyncReturnType" : "DeleteConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the connection.</p> <p>Deleting a connection only stops the AWS Direct Connect port hour and data transfer charges. You need to cancel separately with the providers any services or charges for cross-connects or network circuits that connect you to the AWS Direct Connect location.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteConnectionRequest",
        "variableName" : "deleteConnectionRequest",
        "variableType" : "DeleteConnectionRequest",
        "documentation" : "<p>Container for the parameters to the DeleteConnection operation.</p>",
        "simpleType" : "DeleteConnectionRequest",
        "variableSetterType" : "DeleteConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConnection",
      "operationName" : "DeleteConnection",
      "returnType" : {
        "returnType" : "DeleteConnectionResult",
        "documentation" : "<p>A connection represents the physical network connection between the AWS Direct Connect location and the customer.</p>"
      },
      "syncReturnType" : "DeleteConnectionResult"
    },
    "DeleteInterconnect" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteInterconnectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteInterconnectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteInterconnectRequest, DeleteInterconnectResult>",
      "asyncReturnType" : "DeleteInterconnectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified interconnect.</p> <note> <p>This is intended for use by AWS Direct Connect partners only.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteInterconnectRequest",
        "variableName" : "deleteInterconnectRequest",
        "variableType" : "DeleteInterconnectRequest",
        "documentation" : "<p>Container for the parameters to the DeleteInterconnect operation.</p>",
        "simpleType" : "DeleteInterconnectRequest",
        "variableSetterType" : "DeleteInterconnectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteInterconnect",
      "operationName" : "DeleteInterconnect",
      "returnType" : {
        "returnType" : "DeleteInterconnectResult",
        "documentation" : "<p>The response received when DeleteInterconnect is called.</p>"
      },
      "syncReturnType" : "DeleteInterconnectResult"
    },
    "DeleteVirtualInterface" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVirtualInterfaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVirtualInterfaceRequest, DeleteVirtualInterfaceResult>",
      "asyncReturnType" : "DeleteVirtualInterfaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a virtual interface.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteVirtualInterfaceRequest",
        "variableName" : "deleteVirtualInterfaceRequest",
        "variableType" : "DeleteVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the DeleteVirtualInterface operation.</p>",
        "simpleType" : "DeleteVirtualInterfaceRequest",
        "variableSetterType" : "DeleteVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVirtualInterface",
      "operationName" : "DeleteVirtualInterface",
      "returnType" : {
        "returnType" : "DeleteVirtualInterfaceResult",
        "documentation" : "<p>The response received when DeleteVirtualInterface is called.</p>"
      },
      "syncReturnType" : "DeleteVirtualInterfaceResult"
    },
    "DescribeConnectionLoa" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConnectionLoaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConnectionLoaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConnectionLoaRequest, DescribeConnectionLoaResult>",
      "asyncReturnType" : "DescribeConnectionLoaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the LOA-CFA for a Connection.</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that your APN partner or service provider uses when establishing your cross connect to AWS at the colocation facility. For more information, see <a href=\"http://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html\">Requesting Cross Connects at AWS Direct Connect Locations</a> in the AWS Direct Connect user guide.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConnectionLoaRequest",
        "variableName" : "describeConnectionLoaRequest",
        "variableType" : "DescribeConnectionLoaRequest",
        "documentation" : "<p>Container for the parameters to the DescribeConnectionLoa operation.</p>",
        "simpleType" : "DescribeConnectionLoaRequest",
        "variableSetterType" : "DescribeConnectionLoaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConnectionLoa",
      "operationName" : "DescribeConnectionLoa",
      "returnType" : {
        "returnType" : "DescribeConnectionLoaResult",
        "documentation" : "<p>The response received when DescribeConnectionLoa is called.</p>"
      },
      "syncReturnType" : "DescribeConnectionLoaResult"
    },
    "DescribeConnections" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConnectionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConnectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConnectionsRequest, DescribeConnectionsResult>",
      "asyncReturnType" : "DescribeConnectionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays all connections in this region.</p> <p>If a connection ID is provided, the call returns only that particular connection.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConnectionsRequest",
        "variableName" : "describeConnectionsRequest",
        "variableType" : "DescribeConnectionsRequest",
        "documentation" : "<p>Container for the parameters to the DescribeConnections operation.</p>",
        "simpleType" : "DescribeConnectionsRequest",
        "variableSetterType" : "DescribeConnectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConnections",
      "operationName" : "DescribeConnections",
      "returnType" : {
        "returnType" : "DescribeConnectionsResult",
        "documentation" : "<p>A structure containing a list of connections.</p>"
      },
      "syncReturnType" : "DescribeConnectionsResult"
    },
    "DescribeConnectionsOnInterconnect" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConnectionsOnInterconnectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConnectionsOnInterconnectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConnectionsOnInterconnectRequest, DescribeConnectionsOnInterconnectResult>",
      "asyncReturnType" : "DescribeConnectionsOnInterconnectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Return a list of connections that have been provisioned on the given interconnect.</p> <note> <p>This is intended for use by AWS Direct Connect partners only.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConnectionsOnInterconnectRequest",
        "variableName" : "describeConnectionsOnInterconnectRequest",
        "variableType" : "DescribeConnectionsOnInterconnectRequest",
        "documentation" : "<p>Container for the parameters to the DescribeConnectionsOnInterconnect operation.</p>",
        "simpleType" : "DescribeConnectionsOnInterconnectRequest",
        "variableSetterType" : "DescribeConnectionsOnInterconnectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConnectionsOnInterconnect",
      "operationName" : "DescribeConnectionsOnInterconnect",
      "returnType" : {
        "returnType" : "DescribeConnectionsOnInterconnectResult",
        "documentation" : "<p>A structure containing a list of connections.</p>"
      },
      "syncReturnType" : "DescribeConnectionsOnInterconnectResult"
    },
    "DescribeInterconnectLoa" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeInterconnectLoaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeInterconnectLoaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeInterconnectLoaRequest, DescribeInterconnectLoaResult>",
      "asyncReturnType" : "DescribeInterconnectLoaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the LOA-CFA for an Interconnect.</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that is used when establishing your cross connect to AWS at the colocation facility. For more information, see <a href=\"http://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html\">Requesting Cross Connects at AWS Direct Connect Locations</a> in the AWS Direct Connect user guide.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeInterconnectLoaRequest",
        "variableName" : "describeInterconnectLoaRequest",
        "variableType" : "DescribeInterconnectLoaRequest",
        "documentation" : "<p>Container for the parameters to the DescribeInterconnectLoa operation.</p>",
        "simpleType" : "DescribeInterconnectLoaRequest",
        "variableSetterType" : "DescribeInterconnectLoaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeInterconnectLoa",
      "operationName" : "DescribeInterconnectLoa",
      "returnType" : {
        "returnType" : "DescribeInterconnectLoaResult",
        "documentation" : "<p>The response received when DescribeInterconnectLoa is called.</p>"
      },
      "syncReturnType" : "DescribeInterconnectLoaResult"
    },
    "DescribeInterconnects" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeInterconnectsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeInterconnectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeInterconnectsRequest, DescribeInterconnectsResult>",
      "asyncReturnType" : "DescribeInterconnectsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of interconnects owned by the AWS account.</p> <p>If an interconnect ID is provided, it will only return this particular interconnect.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeInterconnectsRequest",
        "variableName" : "describeInterconnectsRequest",
        "variableType" : "DescribeInterconnectsRequest",
        "documentation" : "<p>Container for the parameters to the DescribeInterconnects operation.</p>",
        "simpleType" : "DescribeInterconnectsRequest",
        "variableSetterType" : "DescribeInterconnectsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeInterconnects",
      "operationName" : "DescribeInterconnects",
      "returnType" : {
        "returnType" : "DescribeInterconnectsResult",
        "documentation" : "<p>A structure containing a list of interconnects.</p>"
      },
      "syncReturnType" : "DescribeInterconnectsResult"
    },
    "DescribeLocations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLocationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLocationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLocationsRequest, DescribeLocationsResult>",
      "asyncReturnType" : "DescribeLocationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the list of AWS Direct Connect locations in the current AWS region. These are the locations that may be selected when calling CreateConnection or CreateInterconnect.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeLocationsRequest",
        "variableName" : "describeLocationsRequest",
        "variableType" : "DescribeLocationsRequest",
        "documentation" : null,
        "simpleType" : "DescribeLocationsRequest",
        "variableSetterType" : "DescribeLocationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLocations",
      "operationName" : "DescribeLocations",
      "returnType" : {
        "returnType" : "DescribeLocationsResult",
        "documentation" : "<p>A location is a network facility where AWS Direct Connect routers are available to be connected. Generally, these are colocation hubs where many network providers have equipment, and where cross connects can be delivered. Locations include a name and facility code, and must be provided when creating a connection.</p>"
      },
      "syncReturnType" : "DescribeLocationsResult"
    },
    "DescribeTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "asyncReturnType" : "DescribeTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the tags associated with the specified Direct Connect resources.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTagsRequest",
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "documentation" : "<p>Container for the parameters to the DescribeTags operation.</p>",
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTags",
      "operationName" : "DescribeTags",
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : "<p>The response received when DescribeTags is called.</p>"
      },
      "syncReturnType" : "DescribeTagsResult"
    },
    "DescribeVirtualGateways" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeVirtualGatewaysResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeVirtualGatewaysResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeVirtualGatewaysRequest, DescribeVirtualGatewaysResult>",
      "asyncReturnType" : "DescribeVirtualGatewaysResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of virtual private gateways owned by the AWS account.</p> <p>You can create one or more AWS Direct Connect private virtual interfaces linking to a virtual private gateway. A virtual private gateway can be managed via Amazon Virtual Private Cloud (VPC) console or the <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/ApiReference-query-CreateVpnGateway.html\">EC2 CreateVpnGateway</a> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeVirtualGatewaysRequest",
        "variableName" : "describeVirtualGatewaysRequest",
        "variableType" : "DescribeVirtualGatewaysRequest",
        "documentation" : null,
        "simpleType" : "DescribeVirtualGatewaysRequest",
        "variableSetterType" : "DescribeVirtualGatewaysRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeVirtualGateways",
      "operationName" : "DescribeVirtualGateways",
      "returnType" : {
        "returnType" : "DescribeVirtualGatewaysResult",
        "documentation" : "<p>A structure containing a list of virtual private gateways.</p>"
      },
      "syncReturnType" : "DescribeVirtualGatewaysResult"
    },
    "DescribeVirtualInterfaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeVirtualInterfacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeVirtualInterfacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeVirtualInterfacesRequest, DescribeVirtualInterfacesResult>",
      "asyncReturnType" : "DescribeVirtualInterfacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays all virtual interfaces for an AWS account. Virtual interfaces deleted fewer than 15 minutes before DescribeVirtualInterfaces is called are also returned. If a connection ID is included then only virtual interfaces associated with this connection will be returned. If a virtual interface ID is included then only a single virtual interface will be returned.</p> <p>A virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location and the customer.</p> <p>If a connection ID is provided, only virtual interfaces provisioned on the specified connection will be returned. If a virtual interface ID is provided, only this particular virtual interface will be returned.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeVirtualInterfacesRequest",
        "variableName" : "describeVirtualInterfacesRequest",
        "variableType" : "DescribeVirtualInterfacesRequest",
        "documentation" : "<p>Container for the parameters to the DescribeVirtualInterfaces operation.</p>",
        "simpleType" : "DescribeVirtualInterfacesRequest",
        "variableSetterType" : "DescribeVirtualInterfacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeVirtualInterfaces",
      "operationName" : "DescribeVirtualInterfaces",
      "returnType" : {
        "returnType" : "DescribeVirtualInterfacesResult",
        "documentation" : "<p>A structure containing a list of virtual interfaces.</p>"
      },
      "syncReturnType" : "DescribeVirtualInterfacesResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified tags to the specified Direct Connect resource. Each Direct Connect resource can have a maximum of 50 tags.</p> <p>Each tag consists of a key and an optional value. If a tag with the same key is already associated with the Direct Connect resource, this action updates its value.</p>",
      "exceptions" : [ {
        "exceptionName" : "DuplicateTagKeysException",
        "documentation" : "<p>A tag key was specified more than once.</p>"
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>You have reached the limit on the number of tags that can be assigned to a Direct Connect resource.</p>"
      }, {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "<p>Container for the parameters to the TagResource operation.</p>",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : "<p>The response received when TagResource is called.</p>"
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from the specified Direct Connect resource.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>"
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "<p>Container for the parameters to the UntagResource operation.</p>",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : "<p>The response received when UntagResource is called.</p>"
      },
      "syncReturnType" : "UntagResourceResult"
    }
  },
  "shapes" : {
    "AllocateConnectionOnInterconnectRequest" : {
      "c2jName" : "AllocateConnectionOnInterconnectRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Container for the parameters to the AllocateConnectionOnInterconnect operation.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AllocateConnectionOnInterconnect",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "OvertureService.AllocateConnectionOnInterconnect",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "bandwidth",
        "c2jShape" : "Bandwidth",
        "deprecated" : false,
        "documentation" : "<p>Bandwidth of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values: 50M, 100M, 200M, 300M, 400M, or 500M</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Bandwidth of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values: 50M, 100M, 200M, 300M, 400M, or 500M</p>\n@param bandwidth Bandwidth of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values: 50M, 100M, 200M, 300M, 400M, or 500M\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Bandwidth of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values: 50M, 100M, 200M, 300M, 400M, or 500M</p>\n@return Bandwidth of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values: 50M, 100M, 200M, 300M, 400M, or 500M*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "bandwidth",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "bandwidth",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Bandwidth",
        "setterDocumentation" : "/**<p>Bandwidth of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values: 50M, 100M, 200M, 300M, 400M, or 500M</p>\n@param bandwidth Bandwidth of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values: 50M, 100M, 200M, 300M, 400M, or 500M*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "bandwidth",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Bandwidth of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values: 50M, 100M, 200M, 300M, 400M, or 500M</p>\n@param bandwidth Bandwidth of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values: 50M, 100M, 200M, 300M, 400M, or 500M\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "bandwidth",
          "variableType" : "String",
          "documentation" : "<p>Bandwidth of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values: 50M, 100M, 200M, 300M, 400M, or 500M</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "connectionName",
        "c2jShape" : "ConnectionName",
        "deprecated" : false,
        "documentation" : "<p>Name of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p> <p>Default: None</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Name of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p> <p>Default: None</p>\n@param connectionName Name of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p> <p>Default: None\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Name of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p> <p>Default: None</p>\n@return Name of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p> <p>Default: None*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "connectionName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "connectionName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ConnectionName",
        "setterDocumentation" : "/**<p>Name of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p> <p>Default: None</p>\n@param connectionName Name of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p> <p>Default: None*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "connectionName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Name of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p> <p>Default: None</p>\n@param connectionName Name of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p> <p>Default: None\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "connectionName",
          "variableType" : "String",
          "documentation" : "<p>Name of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p> <p>Default: None</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ownerAccount",
        "c2jShape" : "OwnerAccount",
        "deprecated" : false,
        "documentation" : "<p>Numeric account Id of the customer for whom the connection will be provisioned.</p> <p>Example: 123443215678</p> <p>Default: None</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Numeric account Id of the customer for whom the connection will be provisioned.</p> <p>Example: 123443215678</p> <p>Default: None</p>\n@param ownerAccount Numeric account Id of the customer for whom the connection will be provisioned.</p> <p>Example: 123443215678</p> <p>Default: None\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Numeric account Id of the customer for whom the connection will be provisioned.</p> <p>Example: 123443215678</p> <p>Default: None</p>\n@return Numeric account Id of the customer for whom the connection will be provisioned.</p> <p>Example: 123443215678</p> <p>Default: None*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ownerAccount",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ownerAccount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "OwnerAccount",
        "setterDocumentation" : "/**<p>Numeric account Id of the customer for whom the connection will be provisioned.</p> <p>Example: 123443215678</p> <p>Default: None</p>\n@param ownerAccount Numeric account Id of the customer for whom the connection will be provisioned.</p> <p>Example: 123443215678</p> <p>Default: None*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "ownerAccount",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Numeric account Id of the customer for whom the connection will be provisioned.</p> <p>Example: 123443215678</p> <p>Default: None</p>\n@param ownerAccount Numeric account Id of the customer for whom the connection will be provisioned.</p> <p>Example: 123443215678</p> <p>Default: None\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "ownerAccount",
          "variableType" : "String",
          "documentation" : "<p>Numeric account Id of the customer for whom the connection will be provisioned.</p> <p>Example: 123443215678</p> <p>Default: None</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "interconnectId",
        "c2jShape" : "InterconnectId",
        "deprecated" : false,
        "documentation" : "<p>ID of the interconnect on which the connection will be provisioned.</p> <p>Example: dxcon-456abc78</p> <p>Default: None</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>ID of the interconnect on which the connection will be provisioned.</p> <p>Example: dxcon-456abc78</p> <p>Default: None</p>\n@param interconnectId ID of the interconnect on which the connection will be provisioned.</p> <p>Example: dxcon-456abc78</p> <p>Default: None\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>ID of the interconnect on which the connection will be provisioned.</p> <p>Example: dxcon-456abc78</p> <p>Default: None</p>\n@return ID of the interconnect on which the connection will be provisioned.</p> <p>Example: dxcon-456abc78</p> <p>Default: None*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "interconnectId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "interconnectId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "InterconnectId",
        "setterDocumentation" : "/**<p>ID of the interconnect on which the connection will be provisioned.</p> <p>Example: dxcon-456abc78</p> <p>Default: None</p>\n@param interconnectId ID of the interconnect on which the connection will be provisioned.</p> <p>Example: dxcon-456abc78</p> <p>Default: None*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "interconnectId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>ID of the interconnect on which the connection will be provisioned.</p> <p>Example: dxcon-456abc78</p> <p>Default: None</p>\n@param interconnectId ID of the interconnect on which the connection will be provisioned.</p> <p>Example: dxcon-456abc78</p> <p>Default: None\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "interconnectId",
          "variableType" : "String",
          "documentation" : "<p>ID of the interconnect on which the connection will be provisioned.</p> <p>Example: dxcon-456abc78</p> <p>Default: None</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "vlan",
        "c2jShape" : "VLAN",
        "deprecated" : false,
        "documentation" : "<p>The dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default: None</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default: None</p>\n@param vlan The dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default: None\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default: None</p>\n@return The dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default: None*/",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "vlan",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "vlan",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Vlan",
        "setterDocumentation" : "/**<p>The dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default: None</p>\n@param vlan The dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default: None*/",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "vlan",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default: None</p>\n@param vlan The dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default: None\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "vlan",
          "variableType" : "Integer",
          "documentation" : "<p>The dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default: None</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Bandwidth" : {
          "c2jName" : "bandwidth",
          "c2jShape" : "Bandwidth",
          "deprecated" : false,
          "documentation" : "<p>Bandwidth of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values: 50M, 100M, 200M, 300M, 400M, or 500M</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Bandwidth of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values: 50M, 100M, 200M, 300M, 400M, or 500M</p>\n@param bandwidth Bandwidth of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values: 50M, 100M, 200M, 300M, 400M, or 500M\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Bandwidth of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values: 50M, 100M, 200M, 300M, 400M, or 500M</p>\n@return Bandwidth of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values: 50M, 100M, 200M, 300M, 400M, or 500M*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "bandwidth",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "bandwidth",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Bandwidth",
          "setterDocumentation" : "/**<p>Bandwidth of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values: 50M, 100M, 200M, 300M, 400M, or 500M</p>\n@param bandwidth Bandwidth of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values: 50M, 100M, 200M, 300M, 400M, or 500M*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "bandwidth",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Bandwidth of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values: 50M, 100M, 200M, 300M, 400M, or 500M</p>\n@param bandwidth Bandwidth of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values: 50M, 100M, 200M, 300M, 400M, or 500M\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "bandwidth",
            "variableType" : "String",
            "documentation" : "<p>Bandwidth of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values: 50M, 100M, 200M, 300M, 400M, or 500M</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ConnectionName" : {
          "c2jName" : "connectionName",
          "c2jShape" : "ConnectionName",
          "deprecated" : false,
          "documentation" : "<p>Name of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p> <p>Default: None</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Name of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p> <p>Default: None</p>\n@param connectionName Name of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p> <p>Default: None\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Name of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p> <p>Default: None</p>\n@return Name of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p> <p>Default: None*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "connectionName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "connectionName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ConnectionName",
          "setterDocumentation" : "/**<p>Name of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p> <p>Default: None</p>\n@param connectionName Name of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p> <p>Default: None*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "connectionName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Name of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p> <p>Default: None</p>\n@param connectionName Name of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p> <p>Default: None\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "connectionName",
            "variableType" : "String",
            "documentation" : "<p>Name of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p> <p>Default: None</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "InterconnectId" : {
          "c2jName" : "interconnectId",
          "c2jShape" : "InterconnectId",
          "deprecated" : false,
          "documentation" : "<p>ID of the interconnect on which the connection will be provisioned.</p> <p>Example: dxcon-456abc78</p> <p>Default: None</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>ID of the interconnect on which the connection will be provisioned.</p> <p>Example: dxcon-456abc78</p> <p>Default: None</p>\n@param interconnectId ID of the interconnect on which the connection will be provisioned.</p> <p>Example: dxcon-456abc78</p> <p>Default: None\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>ID of the interconnect on which the connection will be provisioned.</p> <p>Example: dxcon-456abc78</p> <p>Default: None</p>\n@return ID of the interconnect on which the connection will be provisioned.</p> <p>Example: dxcon-456abc78</p> <p>Default: None*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "interconnectId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "interconnectId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "InterconnectId",
          "setterDocumentation" : "/**<p>ID of the interconnect on which the connection will be provisioned.</p> <p>Example: dxcon-456abc78</p> <p>Default: None</p>\n@param interconnectId ID of the interconnect on which the connection will be provisioned.</p> <p>Example: dxcon-456abc78</p> <p>Default: None*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "interconnectId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>ID of the interconnect on which the connection will be provisioned.</p> <p>Example: dxcon-456abc78</p> <p>Default: None</p>\n@param interconnectId ID of the interconnect on which the connection will be provisioned.</p> <p>Example: dxcon-456abc78</p> <p>Default: None\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "interconnectId",
            "variableType" : "String",
            "documentation" : "<p>ID of the interconnect on which the connection will be provisioned.</p> <p>Example: dxcon-456abc78</p> <p>Default: None</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "OwnerAccount" : {
          "c2jName" : "ownerAccount",
          "c2jShape" : "OwnerAccount",
          "deprecated" : false,
          "documentation" : "<p>Numeric account Id of the customer for whom the connection will be provisioned.</p> <p>Example: 123443215678</p> <p>Default: None</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Numeric account Id of the customer for whom the connection will be provisioned.</p> <p>Example: 123443215678</p> <p>Default: None</p>\n@param ownerAccount Numeric account Id of the customer for whom the connection will be provisioned.</p> <p>Example: 123443215678</p> <p>Default: None\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>Numeric account Id of the customer for whom the connection will be provisioned.</p> <p>Example: 123443215678</p> <p>Default: None</p>\n@return Numeric account Id of the customer for whom the connection will be provisioned.</p> <p>Example: 123443215678</p> <p>Default: None*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ownerAccount",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ownerAccount",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "OwnerAccount",
          "setterDocumentation" : "/**<p>Numeric account Id of the customer for whom the connection will be provisioned.</p> <p>Example: 123443215678</p> <p>Default: None</p>\n@param ownerAccount Numeric account Id of the customer for whom the connection will be provisioned.</p> <p>Example: 123443215678</p> <p>Default: None*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "ownerAccount",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>Numeric account Id of the customer for whom the connection will be provisioned.</p> <p>Example: 123443215678</p> <p>Default: None</p>\n@param ownerAccount Numeric account Id of the customer for whom the connection will be provisioned.</p> <p>Example: 123443215678</p> <p>Default: None\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "ownerAccount",
            "variableType" : "String",
            "documentation" : "<p>Numeric account Id of the customer for whom the connection will be provisioned.</p> <p>Example: 123443215678</p> <p>Default: None</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Vlan" : {
          "c2jName" : "vlan",
          "c2jShape" : "VLAN",
          "deprecated" : false,
          "documentation" : "<p>The dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default: None</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default: None</p>\n@param vlan The dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default: None\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default: None</p>\n@return The dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default: None*/",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "vlan",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "vlan",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Vlan",
          "setterDocumentation" : "/**<p>The dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default: None</p>\n@param vlan The dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default: None*/",
          "setterModel" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "vlan",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default: None</p>\n@param vlan The dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default: None\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "vlan",
            "variableType" : "Integer",
            "documentation" : "<p>The dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default: None</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "bandwidth", "connectionName", "ownerAccount", "interconnectId", "vlan" ],
      "shapeName" : "AllocateConnectionOnInterconnectRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AllocateConnectionOnInterconnectRequest",
        "variableName" : "allocateConnectionOnInterconnectRequest",
        "variableType" : "AllocateConnectionOnInterconnectRequest",
        "documentation" : null,
        "simpleType" : "AllocateConnectionOnInterconnectRequest",
        "variableSetterType" : "AllocateConnectionOnInterconnectRequest"
      },
      "wrapper" : false
    },
    "AllocateConnectionOnInterconnectResult" : {
      "c2jName" : "Connection",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A connection represents the physical network connection between the AWS Direct Connect location and the customer.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ownerAccount",
        "c2jShape" : "OwnerAccount",
        "deprecated" : false,
        "documentation" : "<p>The AWS account that will own the new connection.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS account that will own the new connection.</p>\n@param ownerAccount The AWS account that will own the new connection.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The AWS account that will own the new connection.</p>\n@return The AWS account that will own the new connection.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ownerAccount",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ownerAccount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "OwnerAccount",
        "setterDocumentation" : "/**<p>The AWS account that will own the new connection.</p>\n@param ownerAccount The AWS account that will own the new connection.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "ownerAccount",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The AWS account that will own the new connection.</p>\n@param ownerAccount The AWS account that will own the new connection.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "ownerAccount",
          "variableType" : "String",
          "documentation" : "<p>The AWS account that will own the new connection.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "connectionId",
        "c2jShape" : "ConnectionId",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param connectionId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "connectionId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "connectionId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ConnectionId",
        "setterDocumentation" : "/**\n@param connectionId */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "connectionId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param connectionId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "connectionId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "connectionName",
        "c2jShape" : "ConnectionName",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param connectionName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "connectionName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "connectionName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ConnectionName",
        "setterDocumentation" : "/**\n@param connectionName */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "connectionName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param connectionName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "connectionName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "connectionState",
        "c2jShape" : "ConnectionState",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : "ConnectionState",
        "fluentSetterDocumentation" : "/**\n@param connectionState \n@return Returns a reference to this object so that method calls can be chained together.\n@see ConnectionState*/",
        "getterDocumentation" : "/**\n@return \n@see ConnectionState*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "connectionState",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "connectionState",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ConnectionState",
        "setterDocumentation" : "/**\n@param connectionState \n@see ConnectionState*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "connectionState",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param connectionState \n@return Returns a reference to this object so that method calls can be chained together.\n@see ConnectionState*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "connectionState",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "region",
        "c2jShape" : "Region",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param region \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
[...]
