{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : "DirectConnect",
      "skip" : false
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "BGPPeer" : [ "addressFamily", "bgpPeerState", "bgpStatus" ],
      "ConfirmConnectionResponse" : [ "connectionState" ],
      "ConfirmPrivateVirtualInterfaceResponse" : [ "virtualInterfaceState" ],
      "ConfirmPublicVirtualInterfaceResponse" : [ "virtualInterfaceState" ],
      "Connection" : [ "connectionState" ],
      "DeleteInterconnectResponse" : [ "interconnectState" ],
      "DeleteVirtualInterfaceResponse" : [ "virtualInterfaceState" ],
      "DescribeConnectionLoaRequest" : [ "loaContentType" ],
      "DescribeInterconnectLoaRequest" : [ "loaContentType" ],
      "DescribeLoaRequest" : [ "loaContentType" ],
      "Interconnect" : [ "interconnectState" ],
      "Lag" : [ "lagState" ],
      "Loa" : [ "loaContentType" ],
      "NewBGPPeer" : [ "addressFamily" ],
      "NewPrivateVirtualInterface" : [ "addressFamily" ],
      "NewPrivateVirtualInterfaceAllocation" : [ "addressFamily" ],
      "NewPublicVirtualInterface" : [ "addressFamily" ],
      "NewPublicVirtualInterfaceAllocation" : [ "addressFamily" ],
      "VirtualInterface" : [ "addressFamily", "virtualInterfaceState" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeConnections" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeInterconnects" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeLocations" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeVirtualGateways" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeVirtualInterfaces" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2012-10-25",
    "asyncClient" : "AmazonDirectConnectAsyncClient",
    "asyncClientBuilderClassName" : "AmazonDirectConnectAsyncClientBuilder",
    "asyncInterface" : "AmazonDirectConnectAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonDirectConnectModuleInjector",
    "defaultEndpoint" : "https://directconnect.us-east-1.amazonaws.com/",
    "defaultEndpointWithoutHttpProtocol" : "directconnect.us-east-1.amazonaws.com/",
    "defaultRegion" : null,
    "documentation" : "<p>AWS Direct Connect links your internal network to an AWS Direct Connect location over a standard 1 gigabit or 10 gigabit Ethernet fiber-optic cable. One end of the cable is connected to your router, the other to an AWS Direct Connect router. With this connection in place, you can create virtual interfaces directly to the AWS cloud (for example, to Amazon Elastic Compute Cloud (Amazon EC2) and Amazon Simple Storage Service (Amazon S3)) and to Amazon Virtual Private Cloud (Amazon VPC), bypassing Internet service providers in your network path. An AWS Direct Connect location provides access to AWS in the region it is associated with, as well as access to other US regions. For example, you can provision a single connection to any AWS Direct Connect location in the US and use it to access public AWS services in all US Regions and AWS GovCloud (US).</p>",
    "endpointPrefix" : "directconnect",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.directconnect",
    "packagePath" : "com/amazonaws/services/directconnect",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Direct Connect",
    "serviceName" : "AWS Direct Connect",
    "signingName" : "directconnect",
    "smokeTestsPackageName" : "com.amazonaws.services.directconnect.smoketests",
    "syncClient" : "AmazonDirectConnectClient",
    "syncClientBuilderClassName" : "AmazonDirectConnectClientBuilder",
    "syncInterface" : "AmazonDirectConnect",
    "uid" : "directconnect-2012-10-25",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AllocateConnectionOnInterconnect" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AllocateConnectionOnInterconnectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AllocateConnectionOnInterconnectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AllocateConnectionOnInterconnectRequest, AllocateConnectionOnInterconnectResult>",
      "asyncReturnType" : "AllocateConnectionOnInterconnectResult",
      "authenticated" : true,
      "deprecated" : true,
      "documentation" : "<p>Deprecated in favor of <a>AllocateHostedConnection</a>.</p> <p>Creates a hosted connection on an interconnect.</p> <p>Allocates a VLAN number and a specified amount of bandwidth for use by a hosted connection on the given interconnect.</p> <note> <p>This is intended for use by AWS Direct Connect partners only.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AllocateConnectionOnInterconnectRequest",
        "variableName" : "allocateConnectionOnInterconnectRequest",
        "variableType" : "AllocateConnectionOnInterconnectRequest",
        "documentation" : "<p>Container for the parameters to the AllocateConnectionOnInterconnect operation.</p>",
        "simpleType" : "AllocateConnectionOnInterconnectRequest",
        "variableSetterType" : "AllocateConnectionOnInterconnectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "allocateConnectionOnInterconnect",
      "operationName" : "AllocateConnectionOnInterconnect",
      "returnType" : {
        "returnType" : "AllocateConnectionOnInterconnectResult",
        "documentation" : "<p>A connection represents the physical network connection between the AWS Direct Connect location and the customer.</p>"
      },
      "syncReturnType" : "AllocateConnectionOnInterconnectResult"
    },
    "AllocateHostedConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AllocateHostedConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AllocateHostedConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AllocateHostedConnectionRequest, AllocateHostedConnectionResult>",
      "asyncReturnType" : "AllocateHostedConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a hosted connection on an interconnect or a link aggregation group (LAG).</p> <p>Allocates a VLAN number and a specified amount of bandwidth for use by a hosted connection on the given interconnect or LAG.</p> <note> <p>This is intended for use by AWS Direct Connect partners only.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AllocateHostedConnectionRequest",
        "variableName" : "allocateHostedConnectionRequest",
        "variableType" : "AllocateHostedConnectionRequest",
        "documentation" : "<p>Container for the parameters to theHostedConnection operation.</p>",
        "simpleType" : "AllocateHostedConnectionRequest",
        "variableSetterType" : "AllocateHostedConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "allocateHostedConnection",
      "operationName" : "AllocateHostedConnection",
      "returnType" : {
        "returnType" : "AllocateHostedConnectionResult",
        "documentation" : "<p>A connection represents the physical network connection between the AWS Direct Connect location and the customer.</p>"
      },
      "syncReturnType" : "AllocateHostedConnectionResult"
    },
    "AllocatePrivateVirtualInterface" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AllocatePrivateVirtualInterfaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AllocatePrivateVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AllocatePrivateVirtualInterfaceRequest, AllocatePrivateVirtualInterfaceResult>",
      "asyncReturnType" : "AllocatePrivateVirtualInterfaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provisions a private virtual interface to be owned by another AWS customer.</p> <p>Virtual interfaces created using this action must be confirmed by the virtual interface owner by using the <a>ConfirmPrivateVirtualInterface</a> action. Until then, the virtual interface will be in 'Confirming' state, and will not be available for handling traffic.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AllocatePrivateVirtualInterfaceRequest",
        "variableName" : "allocatePrivateVirtualInterfaceRequest",
        "variableType" : "AllocatePrivateVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the AllocatePrivateVirtualInterface operation.</p>",
        "simpleType" : "AllocatePrivateVirtualInterfaceRequest",
        "variableSetterType" : "AllocatePrivateVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "allocatePrivateVirtualInterface",
      "operationName" : "AllocatePrivateVirtualInterface",
      "returnType" : {
        "returnType" : "AllocatePrivateVirtualInterfaceResult",
        "documentation" : "<p>A virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location and the customer.</p>"
      },
      "syncReturnType" : "AllocatePrivateVirtualInterfaceResult"
    },
    "AllocatePublicVirtualInterface" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AllocatePublicVirtualInterfaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AllocatePublicVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AllocatePublicVirtualInterfaceRequest, AllocatePublicVirtualInterfaceResult>",
      "asyncReturnType" : "AllocatePublicVirtualInterfaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provisions a public virtual interface to be owned by a different customer.</p> <p>The owner of a connection calls this function to provision a public virtual interface which will be owned by another AWS customer.</p> <p>Virtual interfaces created using this function must be confirmed by the virtual interface owner by calling ConfirmPublicVirtualInterface. Until this step has been completed, the virtual interface will be in 'Confirming' state, and will not be available for handling traffic.</p> <p>When creating an IPv6 public virtual interface (addressFamily is 'ipv6'), the customer and amazon address fields should be left blank to use auto-assigned IPv6 space. Custom IPv6 Addresses are currently not supported.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AllocatePublicVirtualInterfaceRequest",
        "variableName" : "allocatePublicVirtualInterfaceRequest",
        "variableType" : "AllocatePublicVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the AllocatePublicVirtualInterface operation.</p>",
        "simpleType" : "AllocatePublicVirtualInterfaceRequest",
        "variableSetterType" : "AllocatePublicVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "allocatePublicVirtualInterface",
      "operationName" : "AllocatePublicVirtualInterface",
      "returnType" : {
        "returnType" : "AllocatePublicVirtualInterfaceResult",
        "documentation" : "<p>A virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location and the customer.</p>"
      },
      "syncReturnType" : "AllocatePublicVirtualInterfaceResult"
    },
    "AssociateConnectionWithLag" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateConnectionWithLagResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateConnectionWithLagResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateConnectionWithLagRequest, AssociateConnectionWithLagResult>",
      "asyncReturnType" : "AssociateConnectionWithLagResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates an existing connection with a link aggregation group (LAG). The connection is interrupted and re-established as a member of the LAG (connectivity to AWS will be interrupted). The connection must be hosted on the same AWS Direct Connect endpoint as the LAG, and its bandwidth must match the bandwidth for the LAG. You can reassociate a connection that's currently associated with a different LAG; however, if removing the connection will cause the original LAG to fall below its setting for minimum number of operational connections, the request fails.</p> <p>Any virtual interfaces that are directly associated with the connection are automatically re-associated with the LAG. If the connection was originally associated with a different LAG, the virtual interfaces remain associated with the original LAG.</p> <p>For interconnects, any hosted connections are automatically re-associated with the LAG. If the interconnect was originally associated with a different LAG, the hosted connections remain associated with the original LAG.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AssociateConnectionWithLagRequest",
        "variableName" : "associateConnectionWithLagRequest",
        "variableType" : "AssociateConnectionWithLagRequest",
        "documentation" : "<p>Container for the parameters to the AssociateConnectionWithLag operation.</p>",
        "simpleType" : "AssociateConnectionWithLagRequest",
        "variableSetterType" : "AssociateConnectionWithLagRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateConnectionWithLag",
      "operationName" : "AssociateConnectionWithLag",
      "returnType" : {
        "returnType" : "AssociateConnectionWithLagResult",
        "documentation" : "<p>A connection represents the physical network connection between the AWS Direct Connect location and the customer.</p>"
      },
      "syncReturnType" : "AssociateConnectionWithLagResult"
    },
    "AssociateHostedConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateHostedConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateHostedConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateHostedConnectionRequest, AssociateHostedConnectionResult>",
      "asyncReturnType" : "AssociateHostedConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a hosted connection and its virtual interfaces with a link aggregation group (LAG) or interconnect. If the target interconnect or LAG has an existing hosted connection with a conflicting VLAN number or IP address, the operation fails. This action temporarily interrupts the hosted connection's connectivity to AWS as it is being migrated.</p> <note> <p>This is intended for use by AWS Direct Connect partners only.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AssociateHostedConnectionRequest",
        "variableName" : "associateHostedConnectionRequest",
        "variableType" : "AssociateHostedConnectionRequest",
        "documentation" : "<p>Container for the parameters to the AssociateHostedConnection operation.</p>",
        "simpleType" : "AssociateHostedConnectionRequest",
        "variableSetterType" : "AssociateHostedConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateHostedConnection",
      "operationName" : "AssociateHostedConnection",
      "returnType" : {
        "returnType" : "AssociateHostedConnectionResult",
        "documentation" : "<p>A connection represents the physical network connection between the AWS Direct Connect location and the customer.</p>"
      },
      "syncReturnType" : "AssociateHostedConnectionResult"
    },
    "AssociateVirtualInterface" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateVirtualInterfaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateVirtualInterfaceRequest, AssociateVirtualInterfaceResult>",
      "asyncReturnType" : "AssociateVirtualInterfaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a virtual interface with a specified link aggregation group (LAG) or connection. Connectivity to AWS is temporarily interrupted as the virtual interface is being migrated. If the target connection or LAG has an associated virtual interface with a conflicting VLAN number or a conflicting IP address, the operation fails. </p> <p>Virtual interfaces associated with a hosted connection cannot be associated with a LAG; hosted connections must be migrated along with their virtual interfaces using <a>AssociateHostedConnection</a>.</p> <p>In order to reassociate a virtual interface to a new connection or LAG, the requester must own either the virtual interface itself or the connection to which the virtual interface is currently associated. Additionally, the requester must own the connection or LAG to which the virtual interface will be newly associated.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AssociateVirtualInterfaceRequest",
        "variableName" : "associateVirtualInterfaceRequest",
        "variableType" : "AssociateVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the AssociateVirtualInterface operation.</p>",
        "simpleType" : "AssociateVirtualInterfaceRequest",
        "variableSetterType" : "AssociateVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateVirtualInterface",
      "operationName" : "AssociateVirtualInterface",
      "returnType" : {
        "returnType" : "AssociateVirtualInterfaceResult",
        "documentation" : "<p>A virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location and the customer.</p>"
      },
      "syncReturnType" : "AssociateVirtualInterfaceResult"
    },
    "ConfirmConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConfirmConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConfirmConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfirmConnectionRequest, ConfirmConnectionResult>",
      "asyncReturnType" : "ConfirmConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Confirm the creation of a hosted connection on an interconnect.</p> <p>Upon creation, the hosted connection is initially in the 'Ordering' state, and will remain in this state until the owner calls ConfirmConnection to confirm creation of the hosted connection.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ConfirmConnectionRequest",
        "variableName" : "confirmConnectionRequest",
        "variableType" : "ConfirmConnectionRequest",
        "documentation" : "<p>Container for the parameters to the ConfirmConnection operation.</p>",
        "simpleType" : "ConfirmConnectionRequest",
        "variableSetterType" : "ConfirmConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "confirmConnection",
      "operationName" : "ConfirmConnection",
      "returnType" : {
        "returnType" : "ConfirmConnectionResult",
        "documentation" : "<p>The response received when ConfirmConnection is called.</p>"
      },
      "syncReturnType" : "ConfirmConnectionResult"
    },
    "ConfirmPrivateVirtualInterface" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConfirmPrivateVirtualInterfaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConfirmPrivateVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfirmPrivateVirtualInterfaceRequest, ConfirmPrivateVirtualInterfaceResult>",
      "asyncReturnType" : "ConfirmPrivateVirtualInterfaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Accept ownership of a private virtual interface created by another customer.</p> <p>After the virtual interface owner calls this function, the virtual interface will be created and attached to the given virtual private gateway or direct connect gateway, and will be available for handling traffic.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ConfirmPrivateVirtualInterfaceRequest",
        "variableName" : "confirmPrivateVirtualInterfaceRequest",
        "variableType" : "ConfirmPrivateVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the ConfirmPrivateVirtualInterface operation.</p>",
        "simpleType" : "ConfirmPrivateVirtualInterfaceRequest",
        "variableSetterType" : "ConfirmPrivateVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "confirmPrivateVirtualInterface",
      "operationName" : "ConfirmPrivateVirtualInterface",
      "returnType" : {
        "returnType" : "ConfirmPrivateVirtualInterfaceResult",
        "documentation" : "<p>The response received when ConfirmPrivateVirtualInterface is called.</p>"
      },
      "syncReturnType" : "ConfirmPrivateVirtualInterfaceResult"
    },
    "ConfirmPublicVirtualInterface" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConfirmPublicVirtualInterfaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConfirmPublicVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfirmPublicVirtualInterfaceRequest, ConfirmPublicVirtualInterfaceResult>",
      "asyncReturnType" : "ConfirmPublicVirtualInterfaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Accept ownership of a public virtual interface created by another customer.</p> <p>After the virtual interface owner calls this function, the specified virtual interface will be created and made available for handling traffic.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ConfirmPublicVirtualInterfaceRequest",
        "variableName" : "confirmPublicVirtualInterfaceRequest",
        "variableType" : "ConfirmPublicVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the ConfirmPublicVirtualInterface operation.</p>",
        "simpleType" : "ConfirmPublicVirtualInterfaceRequest",
        "variableSetterType" : "ConfirmPublicVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "confirmPublicVirtualInterface",
      "operationName" : "ConfirmPublicVirtualInterface",
      "returnType" : {
        "returnType" : "ConfirmPublicVirtualInterfaceResult",
        "documentation" : "<p>The response received when ConfirmPublicVirtualInterface is called.</p>"
      },
      "syncReturnType" : "ConfirmPublicVirtualInterfaceResult"
    },
    "CreateBGPPeer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBGPPeerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBGPPeerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBGPPeerRequest, CreateBGPPeerResult>",
      "asyncReturnType" : "CreateBGPPeerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new BGP peer on a specified virtual interface. The BGP peer cannot be in the same address family (IPv4/IPv6) of an existing BGP peer on the virtual interface.</p> <p>You must create a BGP peer for the corresponding address family in order to access AWS resources that also use that address family.</p> <p>When creating a IPv6 BGP peer, the Amazon address and customer address fields must be left blank. IPv6 addresses are automatically assigned from Amazon's pool of IPv6 addresses; you cannot specify custom IPv6 addresses.</p> <p>For a public virtual interface, the Autonomous System Number (ASN) must be private or already whitelisted for the virtual interface.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateBGPPeerRequest",
        "variableName" : "createBGPPeerRequest",
        "variableType" : "CreateBGPPeerRequest",
        "documentation" : "<p>Container for the parameters to the CreateBGPPeer operation.</p>",
        "simpleType" : "CreateBGPPeerRequest",
        "variableSetterType" : "CreateBGPPeerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBGPPeer",
      "operationName" : "CreateBGPPeer",
      "returnType" : {
        "returnType" : "CreateBGPPeerResult",
        "documentation" : "<p>The response received when CreateBGPPeer is called.</p>"
      },
      "syncReturnType" : "CreateBGPPeerResult"
    },
    "CreateConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConnectionRequest, CreateConnectionResult>",
      "asyncReturnType" : "CreateConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new connection between the customer network and a specific AWS Direct Connect location.</p> <p>A connection links your internal network to an AWS Direct Connect location over a standard 1 gigabit or 10 gigabit Ethernet fiber-optic cable. One end of the cable is connected to your router, the other to an AWS Direct Connect router. An AWS Direct Connect location provides access to Amazon Web Services in the region it is associated with. You can establish connections with AWS Direct Connect locations in multiple regions, but a connection in one region does not provide connectivity to other regions.</p> <p>To find the locations for your region, use <a>DescribeLocations</a>.</p> <p>You can automatically add the new connection to a link aggregation group (LAG) by specifying a LAG ID in the request. This ensures that the new connection is allocated on the same AWS Direct Connect endpoint that hosts the specified LAG. If there are no available ports on the endpoint, the request fails and no connection will be created.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateConnectionRequest",
        "variableName" : "createConnectionRequest",
        "variableType" : "CreateConnectionRequest",
        "documentation" : "<p>Container for the parameters to the CreateConnection operation.</p>",
        "simpleType" : "CreateConnectionRequest",
        "variableSetterType" : "CreateConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConnection",
      "operationName" : "CreateConnection",
      "returnType" : {
        "returnType" : "CreateConnectionResult",
        "documentation" : "<p>A connection represents the physical network connection between the AWS Direct Connect location and the customer.</p>"
      },
      "syncReturnType" : "CreateConnectionResult"
    },
    "CreateDirectConnectGateway" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDirectConnectGatewayResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDirectConnectGatewayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDirectConnectGatewayRequest, CreateDirectConnectGatewayResult>",
      "asyncReturnType" : "CreateDirectConnectGatewayResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new direct connect gateway. A direct connect gateway is an intermediate object that enables you to connect a set of virtual interfaces and virtual private gateways. direct connect gateways are global and visible in any AWS region after they are created. The virtual interfaces and virtual private gateways that are connected through a direct connect gateway can be in different regions. This enables you to connect to a VPC in any region, regardless of the region in which the virtual interfaces are located, and pass traffic between them.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDirectConnectGatewayRequest",
        "variableName" : "createDirectConnectGatewayRequest",
        "variableType" : "CreateDirectConnectGatewayRequest",
        "documentation" : "<p>Container for the parameters to the CreateDirectConnectGateway operation.</p>",
        "simpleType" : "CreateDirectConnectGatewayRequest",
        "variableSetterType" : "CreateDirectConnectGatewayRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDirectConnectGateway",
      "operationName" : "CreateDirectConnectGateway",
      "returnType" : {
        "returnType" : "CreateDirectConnectGatewayResult",
        "documentation" : "<p>Container for the response from the CreateDirectConnectGateway API call</p>"
      },
      "syncReturnType" : "CreateDirectConnectGatewayResult"
    },
    "CreateDirectConnectGatewayAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDirectConnectGatewayAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDirectConnectGatewayAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDirectConnectGatewayAssociationRequest, CreateDirectConnectGatewayAssociationResult>",
      "asyncReturnType" : "CreateDirectConnectGatewayAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an association between a direct connect gateway and a virtual private gateway (VGW). The VGW must be attached to a VPC and must not be associated with another direct connect gateway.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDirectConnectGatewayAssociationRequest",
        "variableName" : "createDirectConnectGatewayAssociationRequest",
        "variableType" : "CreateDirectConnectGatewayAssociationRequest",
        "documentation" : "<p>Container for the parameters to the CreateDirectConnectGatewayAssociation operation.</p>",
        "simpleType" : "CreateDirectConnectGatewayAssociationRequest",
        "variableSetterType" : "CreateDirectConnectGatewayAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDirectConnectGatewayAssociation",
      "operationName" : "CreateDirectConnectGatewayAssociation",
      "returnType" : {
        "returnType" : "CreateDirectConnectGatewayAssociationResult",
        "documentation" : "<p>Container for the response from the CreateDirectConnectGatewayAssociation API call</p>"
      },
      "syncReturnType" : "CreateDirectConnectGatewayAssociationResult"
    },
    "CreateInterconnect" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateInterconnectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateInterconnectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateInterconnectRequest, CreateInterconnectResult>",
      "asyncReturnType" : "CreateInterconnectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new interconnect between a AWS Direct Connect partner's network and a specific AWS Direct Connect location.</p> <p>An interconnect is a connection which is capable of hosting other connections. The AWS Direct Connect partner can use an interconnect to provide sub-1Gbps AWS Direct Connect service to tier 2 customers who do not have their own connections. Like a standard connection, an interconnect links the AWS Direct Connect partner's network to an AWS Direct Connect location over a standard 1 Gbps or 10 Gbps Ethernet fiber-optic cable. One end is connected to the partner's router, the other to an AWS Direct Connect router.</p> <p>You can automatically add the new interconnect to a link aggregation group (LAG) by specifying a LAG ID in the request. This ensures that the new interconnect is allocated on the same AWS Direct Connect endpoint that hosts the specified LAG. If there are no available ports on the endpoint, the request fails and no interconnect will be created.</p> <p>For each end customer, the AWS Direct Connect partner provisions a connection on their interconnect by calling AllocateConnectionOnInterconnect. The end customer can then connect to AWS resources by creating a virtual interface on their connection, using the VLAN assigned to them by the AWS Direct Connect partner.</p> <note> <p>This is intended for use by AWS Direct Connect partners only.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateInterconnectRequest",
        "variableName" : "createInterconnectRequest",
        "variableType" : "CreateInterconnectRequest",
        "documentation" : "<p>Container for the parameters to the CreateInterconnect operation.</p>",
        "simpleType" : "CreateInterconnectRequest",
        "variableSetterType" : "CreateInterconnectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createInterconnect",
      "operationName" : "CreateInterconnect",
      "returnType" : {
        "returnType" : "CreateInterconnectResult",
        "documentation" : "<p>An interconnect is a connection that can host other connections.</p> <p>Like a standard AWS Direct Connect connection, an interconnect represents the physical connection between an AWS Direct Connect partner's network and a specific Direct Connect location. An AWS Direct Connect partner who owns an interconnect can provision hosted connections on the interconnect for their end customers, thereby providing the end customers with connectivity to AWS services.</p> <p>The resources of the interconnect, including bandwidth and VLAN numbers, are shared by all of the hosted connections on the interconnect, and the owner of the interconnect determines how these resources are assigned.</p>"
      },
      "syncReturnType" : "CreateInterconnectResult"
    },
    "CreateLag" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLagResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLagResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLagRequest, CreateLagResult>",
      "asyncReturnType" : "CreateLagResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new link aggregation group (LAG) with the specified number of bundled physical connections between the customer network and a specific AWS Direct Connect location. A LAG is a logical interface that uses the Link Aggregation Control Protocol (LACP) to aggregate multiple 1 gigabit or 10 gigabit interfaces, allowing you to treat them as a single interface.</p> <p>All connections in a LAG must use the same bandwidth (for example, 10 Gbps), and must terminate at the same AWS Direct Connect endpoint.</p> <p>You can have up to 10 connections per LAG. Regardless of this limit, if you request more connections for the LAG than AWS Direct Connect can allocate on a single endpoint, no LAG is created.</p> <p>You can specify an existing physical connection or interconnect to include in the LAG (which counts towards the total number of connections). Doing so interrupts the current physical connection or hosted connections, and re-establishes them as a member of the LAG. The LAG will be created on the same AWS Direct Connect endpoint to which the connection terminates. Any virtual interfaces associated with the connection are automatically disassociated and re-associated with the LAG. The connection ID does not change.</p> <p>If the AWS account used to create a LAG is a registered AWS Direct Connect partner, the LAG is automatically enabled to host sub-connections. For a LAG owned by a partner, any associated virtual interfaces cannot be directly configured.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateLagRequest",
        "variableName" : "createLagRequest",
        "variableType" : "CreateLagRequest",
        "documentation" : "<p>Container for the parameters to the CreateLag operation.</p>",
        "simpleType" : "CreateLagRequest",
        "variableSetterType" : "CreateLagRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLag",
      "operationName" : "CreateLag",
      "returnType" : {
        "returnType" : "CreateLagResult",
        "documentation" : "<p>Describes a link aggregation group (LAG). A LAG is a connection that uses the Link Aggregation Control Protocol (LACP) to logically aggregate a bundle of physical connections. Like an interconnect, it can host other connections. All connections in a LAG must terminate on the same physical AWS Direct Connect endpoint, and must be the same bandwidth.</p>"
      },
      "syncReturnType" : "CreateLagResult"
    },
    "CreatePrivateVirtualInterface" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePrivateVirtualInterfaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePrivateVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePrivateVirtualInterfaceRequest, CreatePrivateVirtualInterfaceResult>",
      "asyncReturnType" : "CreatePrivateVirtualInterfaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new private virtual interface. A virtual interface is the VLAN that transports AWS Direct Connect traffic. A private virtual interface supports sending traffic to a single virtual private cloud (VPC).</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreatePrivateVirtualInterfaceRequest",
        "variableName" : "createPrivateVirtualInterfaceRequest",
        "variableType" : "CreatePrivateVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the CreatePrivateVirtualInterface operation.</p>",
        "simpleType" : "CreatePrivateVirtualInterfaceRequest",
        "variableSetterType" : "CreatePrivateVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPrivateVirtualInterface",
      "operationName" : "CreatePrivateVirtualInterface",
      "returnType" : {
        "returnType" : "CreatePrivateVirtualInterfaceResult",
        "documentation" : "<p>A virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location and the customer.</p>"
      },
      "syncReturnType" : "CreatePrivateVirtualInterfaceResult"
    },
    "CreatePublicVirtualInterface" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePublicVirtualInterfaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePublicVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePublicVirtualInterfaceRequest, CreatePublicVirtualInterfaceResult>",
      "asyncReturnType" : "CreatePublicVirtualInterfaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new public virtual interface. A virtual interface is the VLAN that transports AWS Direct Connect traffic. A public virtual interface supports sending traffic to public services of AWS such as Amazon Simple Storage Service (Amazon S3).</p> <p>When creating an IPv6 public virtual interface (addressFamily is 'ipv6'), the customer and amazon address fields should be left blank to use auto-assigned IPv6 space. Custom IPv6 Addresses are currently not supported.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreatePublicVirtualInterfaceRequest",
        "variableName" : "createPublicVirtualInterfaceRequest",
        "variableType" : "CreatePublicVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the CreatePublicVirtualInterface operation.</p>",
        "simpleType" : "CreatePublicVirtualInterfaceRequest",
        "variableSetterType" : "CreatePublicVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPublicVirtualInterface",
      "operationName" : "CreatePublicVirtualInterface",
      "returnType" : {
        "returnType" : "CreatePublicVirtualInterfaceResult",
        "documentation" : "<p>A virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location and the customer.</p>"
      },
      "syncReturnType" : "CreatePublicVirtualInterfaceResult"
    },
    "DeleteBGPPeer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBGPPeerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBGPPeerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBGPPeerRequest, DeleteBGPPeerResult>",
      "asyncReturnType" : "DeleteBGPPeerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a BGP peer on the specified virtual interface that matches the specified customer address and ASN. You cannot delete the last BGP peer from a virtual interface.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteBGPPeerRequest",
        "variableName" : "deleteBGPPeerRequest",
        "variableType" : "DeleteBGPPeerRequest",
        "documentation" : "<p>Container for the parameters to the DeleteBGPPeer operation.</p>",
        "simpleType" : "DeleteBGPPeerRequest",
        "variableSetterType" : "DeleteBGPPeerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBGPPeer",
      "operationName" : "DeleteBGPPeer",
      "returnType" : {
        "returnType" : "DeleteBGPPeerResult",
        "documentation" : "<p>The response received when DeleteBGPPeer is called.</p>"
      },
      "syncReturnType" : "DeleteBGPPeerResult"
    },
    "DeleteConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConnectionRequest, DeleteConnectionResult>",
      "asyncReturnType" : "DeleteConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the connection.</p> <p>Deleting a connection only stops the AWS Direct Connect port hour and data transfer charges. You need to cancel separately with the providers any services or charges for cross-connects or network circuits that connect you to the AWS Direct Connect location.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteConnectionRequest",
        "variableName" : "deleteConnectionRequest",
        "variableType" : "DeleteConnectionRequest",
        "documentation" : "<p>Container for the parameters to the DeleteConnection operation.</p>",
        "simpleType" : "DeleteConnectionRequest",
        "variableSetterType" : "DeleteConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConnection",
      "operationName" : "DeleteConnection",
      "returnType" : {
        "returnType" : "DeleteConnectionResult",
        "documentation" : "<p>A connection represents the physical network connection between the AWS Direct Connect location and the customer.</p>"
      },
      "syncReturnType" : "DeleteConnectionResult"
    },
    "DeleteDirectConnectGateway" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDirectConnectGatewayResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDirectConnectGatewayResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDirectConnectGatewayRequest, DeleteDirectConnectGatewayResult>",
      "asyncReturnType" : "DeleteDirectConnectGatewayResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a direct connect gateway. You must first delete all virtual interfaces that are attached to the direct connect gateway and disassociate all virtual private gateways that are associated with the direct connect gateway.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDirectConnectGatewayRequest",
        "variableName" : "deleteDirectConnectGatewayRequest",
        "variableType" : "DeleteDirectConnectGatewayRequest",
        "documentation" : "<p>Container for the parameters to the DeleteDirectConnectGateway operation.</p>",
        "simpleType" : "DeleteDirectConnectGatewayRequest",
        "variableSetterType" : "DeleteDirectConnectGatewayRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDirectConnectGateway",
      "operationName" : "DeleteDirectConnectGateway",
      "returnType" : {
        "returnType" : "DeleteDirectConnectGatewayResult",
        "documentation" : "<p>Container for the response from the DeleteDirectConnectGateway API call</p>"
      },
      "syncReturnType" : "DeleteDirectConnectGatewayResult"
    },
    "DeleteDirectConnectGatewayAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDirectConnectGatewayAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDirectConnectGatewayAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDirectConnectGatewayAssociationRequest, DeleteDirectConnectGatewayAssociationResult>",
      "asyncReturnType" : "DeleteDirectConnectGatewayAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the association between a direct connect gateway and a virtual private gateway.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDirectConnectGatewayAssociationRequest",
        "variableName" : "deleteDirectConnectGatewayAssociationRequest",
        "variableType" : "DeleteDirectConnectGatewayAssociationRequest",
        "documentation" : "<p>Container for the parameters to the DeleteDirectConnectGatewayAssociation operation.</p>",
        "simpleType" : "DeleteDirectConnectGatewayAssociationRequest",
        "variableSetterType" : "DeleteDirectConnectGatewayAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDirectConnectGatewayAssociation",
      "operationName" : "DeleteDirectConnectGatewayAssociation",
      "returnType" : {
        "returnType" : "DeleteDirectConnectGatewayAssociationResult",
        "documentation" : "<p>Container for the response from the DeleteDirectConnectGatewayAssociation API call</p>"
      },
      "syncReturnType" : "DeleteDirectConnectGatewayAssociationResult"
    },
    "DeleteInterconnect" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteInterconnectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteInterconnectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteInterconnectRequest, DeleteInterconnectResult>",
      "asyncReturnType" : "DeleteInterconnectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified interconnect.</p> <note> <p>This is intended for use by AWS Direct Connect partners only.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteInterconnectRequest",
        "variableName" : "deleteInterconnectRequest",
        "variableType" : "DeleteInterconnectRequest",
        "documentation" : "<p>Container for the parameters to the DeleteInterconnect operation.</p>",
        "simpleType" : "DeleteInterconnectRequest",
        "variableSetterType" : "DeleteInterconnectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteInterconnect",
      "operationName" : "DeleteInterconnect",
      "returnType" : {
        "returnType" : "DeleteInterconnectResult",
        "documentation" : "<p>The response received when DeleteInterconnect is called.</p>"
      },
      "syncReturnType" : "DeleteInterconnectResult"
    },
    "DeleteLag" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLagResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLagResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLagRequest, DeleteLagResult>",
      "asyncReturnType" : "DeleteLagResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a link aggregation group (LAG). You cannot delete a LAG if it has active virtual interfaces or hosted connections.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteLagRequest",
        "variableName" : "deleteLagRequest",
        "variableType" : "DeleteLagRequest",
        "documentation" : "<p>Container for the parameters to the DeleteLag operation.</p>",
        "simpleType" : "DeleteLagRequest",
        "variableSetterType" : "DeleteLagRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLag",
      "operationName" : "DeleteLag",
      "returnType" : {
        "returnType" : "DeleteLagResult",
        "documentation" : "<p>Describes a link aggregation group (LAG). A LAG is a connection that uses the Link Aggregation Control Protocol (LACP) to logically aggregate a bundle of physical connections. Like an interconnect, it can host other connections. All connections in a LAG must terminate on the same physical AWS Direct Connect endpoint, and must be the same bandwidth.</p>"
      },
      "syncReturnType" : "DeleteLagResult"
    },
    "DeleteVirtualInterface" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVirtualInterfaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVirtualInterfaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVirtualInterfaceRequest, DeleteVirtualInterfaceResult>",
      "asyncReturnType" : "DeleteVirtualInterfaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a virtual interface.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteVirtualInterfaceRequest",
        "variableName" : "deleteVirtualInterfaceRequest",
        "variableType" : "DeleteVirtualInterfaceRequest",
        "documentation" : "<p>Container for the parameters to the DeleteVirtualInterface operation.</p>",
        "simpleType" : "DeleteVirtualInterfaceRequest",
        "variableSetterType" : "DeleteVirtualInterfaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVirtualInterface",
      "operationName" : "DeleteVirtualInterface",
      "returnType" : {
        "returnType" : "DeleteVirtualInterfaceResult",
        "documentation" : "<p>The response received when DeleteVirtualInterface is called.</p>"
      },
      "syncReturnType" : "DeleteVirtualInterfaceResult"
    },
    "DescribeConnectionLoa" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConnectionLoaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConnectionLoaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConnectionLoaRequest, DescribeConnectionLoaResult>",
      "asyncReturnType" : "DescribeConnectionLoaResult",
      "authenticated" : true,
      "deprecated" : true,
      "documentation" : "<p>Deprecated in favor of <a>DescribeLoa</a>.</p> <p>Returns the LOA-CFA for a Connection.</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that your APN partner or service provider uses when establishing your cross connect to AWS at the colocation facility. For more information, see <a href=\"http://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html\">Requesting Cross Connects at AWS Direct Connect Locations</a> in the AWS Direct Connect user guide.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConnectionLoaRequest",
        "variableName" : "describeConnectionLoaRequest",
        "variableType" : "DescribeConnectionLoaRequest",
        "documentation" : "<p>Container for the parameters to the DescribeConnectionLoa operation.</p>",
        "simpleType" : "DescribeConnectionLoaRequest",
        "variableSetterType" : "DescribeConnectionLoaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConnectionLoa",
      "operationName" : "DescribeConnectionLoa",
      "returnType" : {
        "returnType" : "DescribeConnectionLoaResult",
        "documentation" : "<p>The response received when DescribeConnectionLoa is called.</p>"
      },
      "syncReturnType" : "DescribeConnectionLoaResult"
    },
    "DescribeConnections" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConnectionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConnectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConnectionsRequest, DescribeConnectionsResult>",
      "asyncReturnType" : "DescribeConnectionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays all connections in this region.</p> <p>If a connection ID is provided, the call returns only that particular connection.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConnectionsRequest",
        "variableName" : "describeConnectionsRequest",
        "variableType" : "DescribeConnectionsRequest",
        "documentation" : "<p>Container for the parameters to the DescribeConnections operation.</p>",
        "simpleType" : "DescribeConnectionsRequest",
        "variableSetterType" : "DescribeConnectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConnections",
      "operationName" : "DescribeConnections",
      "returnType" : {
        "returnType" : "DescribeConnectionsResult",
        "documentation" : "<p>A structure containing a list of connections.</p>"
      },
      "syncReturnType" : "DescribeConnectionsResult"
    },
    "DescribeConnectionsOnInterconnect" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConnectionsOnInterconnectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConnectionsOnInterconnectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConnectionsOnInterconnectRequest, DescribeConnectionsOnInterconnectResult>",
      "asyncReturnType" : "DescribeConnectionsOnInterconnectResult",
      "authenticated" : true,
      "deprecated" : true,
      "documentation" : "<p>Deprecated in favor of <a>DescribeHostedConnections</a>.</p> <p>Returns a list of connections that have been provisioned on the given interconnect.</p> <note> <p>This is intended for use by AWS Direct Connect partners only.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConnectionsOnInterconnectRequest",
        "variableName" : "describeConnectionsOnInterconnectRequest",
        "variableType" : "DescribeConnectionsOnInterconnectRequest",
        "documentation" : "<p>Container for the parameters to the DescribeConnectionsOnInterconnect operation.</p>",
        "simpleType" : "DescribeConnectionsOnInterconnectRequest",
        "variableSetterType" : "DescribeConnectionsOnInterconnectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConnectionsOnInterconnect",
      "operationName" : "DescribeConnectionsOnInterconnect",
      "returnType" : {
        "returnType" : "DescribeConnectionsOnInterconnectResult",
        "documentation" : "<p>A structure containing a list of connections.</p>"
      },
      "syncReturnType" : "DescribeConnectionsOnInterconnectResult"
    },
    "DescribeDirectConnectGatewayAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDirectConnectGatewayAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDirectConnectGatewayAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDirectConnectGatewayAssociationsRequest, DescribeDirectConnectGatewayAssociationsResult>",
      "asyncReturnType" : "DescribeDirectConnectGatewayAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all direct connect gateway and virtual private gateway (VGW) associations. Either a direct connect gateway ID or a VGW ID must be provided in the request. If a direct connect gateway ID is provided, the response returns all VGWs associated with the direct connect gateway. If a VGW ID is provided, the response returns all direct connect gateways associated with the VGW. If both are provided, the response only returns the association that matches both the direct connect gateway and the VGW.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeDirectConnectGatewayAssociationsRequest",
        "variableName" : "describeDirectConnectGatewayAssociationsRequest",
        "variableType" : "DescribeDirectConnectGatewayAssociationsRequest",
        "documentation" : "<p>Container for the parameters to the DescribeDirectConnectGatewayAssociations operation.</p>",
        "simpleType" : "DescribeDirectConnectGatewayAssociationsRequest",
        "variableSetterType" : "DescribeDirectConnectGatewayAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDirectConnectGatewayAssociations",
      "operationName" : "DescribeDirectConnectGatewayAssociations",
      "returnType" : {
        "returnType" : "DescribeDirectConnectGatewayAssociationsResult",
        "documentation" : "<p>Container for the response from the DescribeDirectConnectGatewayAssociations API call</p>"
      },
      "syncReturnType" : "DescribeDirectConnectGatewayAssociationsResult"
    },
    "DescribeDirectConnectGatewayAttachments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDirectConnectGatewayAttachmentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDirectConnectGatewayAttachmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDirectConnectGatewayAttachmentsRequest, DescribeDirectConnectGatewayAttachmentsResult>",
      "asyncReturnType" : "DescribeDirectConnectGatewayAttachmentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all direct connect gateway and virtual interface (VIF) attachments. Either a direct connect gateway ID or a VIF ID must be provided in the request. If a direct connect gateway ID is provided, the response returns all VIFs attached to the direct connect gateway. If a VIF ID is provided, the response returns all direct connect gateways attached to the VIF. If both are provided, the response only returns the attachment that matches both the direct connect gateway and the VIF.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeDirectConnectGatewayAttachmentsRequest",
        "variableName" : "describeDirectConnectGatewayAttachmentsRequest",
        "variableType" : "DescribeDirectConnectGatewayAttachmentsRequest",
        "documentation" : "<p>Container for the parameters to the DescribeDirectConnectGatewayAttachments operation.</p>",
        "simpleType" : "DescribeDirectConnectGatewayAttachmentsRequest",
        "variableSetterType" : "DescribeDirectConnectGatewayAttachmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDirectConnectGatewayAttachments",
      "operationName" : "DescribeDirectConnectGatewayAttachments",
      "returnType" : {
        "returnType" : "DescribeDirectConnectGatewayAttachmentsResult",
        "documentation" : "<p>Container for the response from the DescribeDirectConnectGatewayAttachments API call</p>"
      },
      "syncReturnType" : "DescribeDirectConnectGatewayAttachmentsResult"
    },
    "DescribeDirectConnectGateways" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDirectConnectGatewaysResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDirectConnectGatewaysResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDirectConnectGatewaysRequest, DescribeDirectConnectGatewaysResult>",
      "asyncReturnType" : "DescribeDirectConnectGatewaysResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of direct connect gateways in your account. Deleted direct connect gateways are not returned. You can provide a direct connect gateway ID in the request to return information about the specific direct connect gateway only. Otherwise, if a direct connect gateway ID is not provided, information about all of your direct connect gateways is returned. </p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeDirectConnectGatewaysRequest",
        "variableName" : "describeDirectConnectGatewaysRequest",
        "variableType" : "DescribeDirectConnectGatewaysRequest",
        "documentation" : "<p>Container for the parameters to the DescribeDirectConnectGateways operation.</p>",
        "simpleType" : "DescribeDirectConnectGatewaysRequest",
        "variableSetterType" : "DescribeDirectConnectGatewaysRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDirectConnectGateways",
      "operationName" : "DescribeDirectConnectGateways",
      "returnType" : {
        "returnType" : "DescribeDirectConnectGatewaysResult",
        "documentation" : "<p>Container for the response from the DescribeDirectConnectGateways API call</p>"
      },
      "syncReturnType" : "DescribeDirectConnectGatewaysResult"
    },
    "DescribeHostedConnections" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeHostedConnectionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeHostedConnectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeHostedConnectionsRequest, DescribeHostedConnectionsResult>",
      "asyncReturnType" : "DescribeHostedConnectionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of hosted connections that have been provisioned on the given interconnect or link aggregation group (LAG).</p> <note> <p>This is intended for use by AWS Direct Connect partners only.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeHostedConnectionsRequest",
        "variableName" : "describeHostedConnectionsRequest",
        "variableType" : "DescribeHostedConnectionsRequest",
        "documentation" : "<p>Container for the parameters to the DescribeHostedConnections operation.</p>",
        "simpleType" : "DescribeHostedConnectionsRequest",
        "variableSetterType" : "DescribeHostedConnectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeHostedConnections",
      "operationName" : "DescribeHostedConnections",
      "returnType" : {
        "returnType" : "DescribeHostedConnectionsResult",
        "documentation" : "<p>A structure containing a list of connections.</p>"
      },
      "syncReturnType" : "DescribeHostedConnectionsResult"
    },
    "DescribeInterconnectLoa" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeInterconnectLoaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeInterconnectLoaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeInterconnectLoaRequest, DescribeInterconnectLoaResult>",
      "asyncReturnType" : "DescribeInterconnectLoaResult",
      "authenticated" : true,
      "deprecated" : true,
      "documentation" : "<p>Deprecated in favor of <a>DescribeLoa</a>.</p> <p>Returns the LOA-CFA for an Interconnect.</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that is used when establishing your cross connect to AWS at the colocation facility. For more information, see <a href=\"http://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html\">Requesting Cross Connects at AWS Direct Connect Locations</a> in the AWS Direct Connect user guide.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeInterconnectLoaRequest",
        "variableName" : "describeInterconnectLoaRequest",
        "variableType" : "DescribeInterconnectLoaRequest",
        "documentation" : "<p>Container for the parameters to the DescribeInterconnectLoa operation.</p>",
        "simpleType" : "DescribeInterconnectLoaRequest",
        "variableSetterType" : "DescribeInterconnectLoaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeInterconnectLoa",
      "operationName" : "DescribeInterconnectLoa",
      "returnType" : {
        "returnType" : "DescribeInterconnectLoaResult",
        "documentation" : "<p>The response received when DescribeInterconnectLoa is called.</p>"
      },
      "syncReturnType" : "DescribeInterconnectLoaResult"
    },
    "DescribeInterconnects" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeInterconnectsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeInterconnectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeInterconnectsRequest, DescribeInterconnectsResult>",
      "asyncReturnType" : "DescribeInterconnectsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of interconnects owned by the AWS account.</p> <p>If an interconnect ID is provided, it will only return this particular interconnect.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeInterconnectsRequest",
        "variableName" : "describeInterconnectsRequest",
        "variableType" : "DescribeInterconnectsRequest",
        "documentation" : "<p>Container for the parameters to the DescribeInterconnects operation.</p>",
        "simpleType" : "DescribeInterconnectsRequest",
        "variableSetterType" : "DescribeInterconnectsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeInterconnects",
      "operationName" : "DescribeInterconnects",
      "returnType" : {
        "returnType" : "DescribeInterconnectsResult",
        "documentation" : "<p>A structure containing a list of interconnects.</p>"
      },
      "syncReturnType" : "DescribeInterconnectsResult"
    },
    "DescribeLags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLagsRequest, DescribeLagsResult>",
      "asyncReturnType" : "DescribeLagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the link aggregation groups (LAGs) in your account. </p> <p>If a LAG ID is provided, only information about the specified LAG is returned.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeLagsRequest",
        "variableName" : "describeLagsRequest",
        "variableType" : "DescribeLagsRequest",
        "documentation" : "<p>Container for the parameters to the DescribeLags operation.</p>",
        "simpleType" : "DescribeLagsRequest",
        "variableSetterType" : "DescribeLagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLags",
      "operationName" : "DescribeLags",
      "returnType" : {
        "returnType" : "DescribeLagsResult",
        "documentation" : "<p>A structure containing a list of LAGs.</p>"
      },
      "syncReturnType" : "DescribeLagsResult"
    },
    "DescribeLoa" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoaRequest, DescribeLoaResult>",
      "asyncReturnType" : "DescribeLoaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the LOA-CFA for a connection, interconnect, or link aggregation group (LAG).</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that is used when establishing your cross connect to AWS at the colocation facility. For more information, see <a href=\"http://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html\">Requesting Cross Connects at AWS Direct Connect Locations</a> in the AWS Direct Connect user guide.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeLoaRequest",
        "variableName" : "describeLoaRequest",
        "variableType" : "DescribeLoaRequest",
        "documentation" : "<p>Container for the parameters to the DescribeLoa operation.</p>",
        "simpleType" : "DescribeLoaRequest",
        "variableSetterType" : "DescribeLoaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLoa",
      "operationName" : "DescribeLoa",
      "returnType" : {
        "returnType" : "DescribeLoaResult",
        "documentation" : "<p>A structure containing the Letter of Authorization - Connecting Facility Assignment (LOA-CFA) for a connection.</p>"
      },
      "syncReturnType" : "DescribeLoaResult"
    },
    "DescribeLocations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLocationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLocationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLocationsRequest, DescribeLocationsResult>",
      "asyncReturnType" : "DescribeLocationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the list of AWS Direct Connect locations in the current AWS region. These are the locations that may be selected when calling <a>CreateConnection</a> or <a>CreateInterconnect</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeLocationsRequest",
        "variableName" : "describeLocationsRequest",
        "variableType" : "DescribeLocationsRequest",
        "documentation" : null,
        "simpleType" : "DescribeLocationsRequest",
        "variableSetterType" : "DescribeLocationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLocations",
      "operationName" : "DescribeLocations",
      "returnType" : {
        "returnType" : "DescribeLocationsResult",
        "documentation" : "<p>A location is a network facility where AWS Direct Connect routers are available to be connected. Generally, these are colocation hubs where many network providers have equipment, and where cross connects can be delivered. Locations include a name and facility code, and must be provided when creating a connection.</p>"
      },
      "syncReturnType" : "DescribeLocationsResult"
    },
    "DescribeTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "asyncReturnType" : "DescribeTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the tags associated with the specified Direct Connect resources.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTagsRequest",
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "documentation" : "<p>Container for the parameters to the DescribeTags operation.</p>",
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTags",
      "operationName" : "DescribeTags",
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : "<p>The response received when DescribeTags is called.</p>"
      },
      "syncReturnType" : "DescribeTagsResult"
    },
    "DescribeVirtualGateways" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeVirtualGatewaysResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeVirtualGatewaysResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeVirtualGatewaysRequest, DescribeVirtualGatewaysResult>",
      "asyncReturnType" : "DescribeVirtualGatewaysResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of virtual private gateways owned by the AWS account.</p> <p>You can create one or more AWS Direct Connect private virtual interfaces linking to a virtual private gateway. A virtual private gateway can be managed via Amazon Virtual Private Cloud (VPC) console or the <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/ApiReference-query-CreateVpnGateway.html\">EC2 CreateVpnGateway</a> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeVirtualGatewaysRequest",
        "variableName" : "describeVirtualGatewaysRequest",
        "variableType" : "DescribeVirtualGatewaysRequest",
        "documentation" : null,
        "simpleType" : "DescribeVirtualGatewaysRequest",
        "variableSetterType" : "DescribeVirtualGatewaysRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeVirtualGateways",
      "operationName" : "DescribeVirtualGateways",
      "returnType" : {
        "returnType" : "DescribeVirtualGatewaysResult",
        "documentation" : "<p>A structure containing a list of virtual private gateways.</p>"
      },
      "syncReturnType" : "DescribeVirtualGatewaysResult"
    },
    "DescribeVirtualInterfaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeVirtualInterfacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeVirtualInterfacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeVirtualInterfacesRequest, DescribeVirtualInterfacesResult>",
      "asyncReturnType" : "DescribeVirtualInterfacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays all virtual interfaces for an AWS account. Virtual interfaces deleted fewer than 15 minutes before you make the request are also returned. If you specify a connection ID, only the virtual interfaces associated with the connection are returned. If you specify a virtual interface ID, then only a single virtual interface is returned.</p> <p>A virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location and the customer.</p>",
      "exceptions" : [ {
        "exceptionName" : "DirectConnectServerException",
        "documentation" : "<p>A server-side error occurred during the API call. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectConnectClientException",
        "documentation" : "<p>The API was called with invalid parameters. The error message will contain additional details about the cause.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeVirtualInterfacesRequest",
        "variableName" : "describeVirtualInterfacesRequest",
        "variableType" : "DescribeVirtualInterfacesRequest",
        "documentation" : "<p>Container for the parameters to the DescribeVirtualInterfaces operation.</p>",
        "simpleType" : "DescribeVirtualInterfacesRequest",
        "variableSetterType" : "DescribeVirtualInterfacesRequest"
      },
      "inputStreamPropertyName" : null,
[...]
