{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : null,
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "AgentInfo" : [ "health" ],
      "ConfigurationTag" : [ "configurationType" ],
      "ExportInfo" : [ "exportStatus" ],
      "ListConfigurationsRequest" : [ "configurationType" ],
      "OrderByElement" : [ "sortOrder" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2015-11-01",
    "asyncClient" : "AWSApplicationDiscoveryAsyncClient",
    "asyncClientBuilderClassName" : "AWSApplicationDiscoveryAsyncClientBuilder",
    "asyncInterface" : "AWSApplicationDiscoveryAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSApplicationDiscoveryModuleInjector",
    "defaultEndpoint" : "https://discovery.us-west-2.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "discovery.us-west-2.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Application Discovery Service</fullname> <p>AWS Application Discovery Service helps you plan application migration projects by automatically identifying servers, virtual machines (VMs), software, and software dependencies running in your on-premises data centers. Application Discovery Service also collects application performance data, which can help you assess the outcome of your migration. The data collected by Application Discovery Service is securely retained in an AWS-hosted and managed database in the cloud. You can export the data as a CSV or XML file into your preferred visualization tool or cloud-migration solution to plan your migration. For more information, see <a href=\"http://aws.amazon.com/application-discovery/faqs/\">AWS Application Discovery Service FAQ</a>.</p> <p>Application Discovery Service offers two modes of operation:</p> <ul> <li> <p> <b>Agentless discovery</b> mode is recommended for environments that use VMware vCenter Server. This mode doesn't require you to install an agent on each host. Agentless discovery gathers server information regardless of the operating systems, which minimizes the time required for initial on-premises infrastructure assessment. Agentless discovery doesn't collect information about software and software dependencies. It also doesn't work in non-VMware environments. </p> </li> <li> <p> <b>Agent-based discovery</b> mode collects a richer set of data than agentless discovery by using the AWS Application Discovery Agent, which you install on one or more hosts in your data center. The agent captures infrastructure and application information, including an inventory of installed software applications, system and process performance, resource utilization, and network dependencies between workloads. The information collected by agents is secured at rest and in transit to the Application Discovery Service database in the cloud. </p> </li> </ul> <p>We recommend that you use agent-based discovery for non-VMware environments and to collect information about software and software dependencies. You can also run agent-based and agentless discovery simultaneously. Use agentless discovery to quickly complete the initial infrastructure assessment and then install agents on select hosts.</p> <p>Application Discovery Service integrates with application discovery solutions from AWS Partner Network (APN) partners. Third-party application discovery tools can query Application Discovery Service and write to the Application Discovery Service database using a public API. You can then import the data into either a visualization tool or cloud-migration solution.</p> <important> <p>Application Discovery Service doesn't gather sensitive information. All data is handled according to the <a href=\"http://aws.amazon.com/privacy/\">AWS Privacy Policy</a>. You can operate Application Discovery Service offline to inspect collected data before it is shared with the service.</p> </important> <p>This API reference provides descriptions, syntax, and usage examples for each of the actions and data types for Application Discovery Service. The topic for each action shows the API request parameters and the response. Alternatively, you can use one of the AWS SDKs to access an API that is tailored to the programming language or platform that you're using. For more information, see <a href=\"http://aws.amazon.com/tools/#SDKs\">AWS SDKs</a>.</p> <p>This guide is intended for use with the <a href=\"http://docs.aws.amazon.com/application-discovery/latest/userguide/\"> <i>AWS Application Discovery Service User Guide</i> </a>.</p>",
    "endpointPrefix" : "discovery",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.applicationdiscovery",
    "packagePath" : "com/amazonaws/services/applicationdiscovery",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Application Discovery Service",
    "serviceId" : "Application Discovery Service",
    "serviceName" : "AWS Application Discovery Service",
    "signingName" : "discovery",
    "smokeTestsPackageName" : "com.amazonaws.services.applicationdiscovery.smoketests",
    "syncClient" : "AWSApplicationDiscoveryClient",
    "syncClientBuilderClassName" : "AWSApplicationDiscoveryClientBuilder",
    "syncInterface" : "AWSApplicationDiscovery",
    "uid" : "discovery-2015-11-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateConfigurationItemsToApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateConfigurationItemsToApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateConfigurationItemsToApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateConfigurationItemsToApplicationRequest, AssociateConfigurationItemsToApplicationResult>",
      "asyncReturnType" : "AssociateConfigurationItemsToApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates one or more configuration items with an application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateConfigurationItemsToApplicationRequest",
        "variableName" : "associateConfigurationItemsToApplicationRequest",
        "variableType" : "AssociateConfigurationItemsToApplicationRequest",
        "documentation" : "",
        "simpleType" : "AssociateConfigurationItemsToApplicationRequest",
        "variableSetterType" : "AssociateConfigurationItemsToApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateConfigurationItemsToApplication",
      "operationName" : "AssociateConfigurationItemsToApplication",
      "returnType" : {
        "returnType" : "AssociateConfigurationItemsToApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateConfigurationItemsToApplicationResult"
    },
    "BatchDeleteImportData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDeleteImportDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDeleteImportDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDeleteImportDataRequest, BatchDeleteImportDataResult>",
      "asyncReturnType" : "BatchDeleteImportDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes one or more import tasks, each identified by their import ID. Each import task has a number of records that can identify servers or applications. </p> <p>AWS Application Discovery Service has built-in matching logic that will identify when discovered servers match existing entries that you've previously discovered, the information for the already-existing discovered server is updated. When you delete an import task that contains records that were used to match, the information in those matched records that comes from the deleted records will also be deleted.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDeleteImportDataRequest",
        "variableName" : "batchDeleteImportDataRequest",
        "variableType" : "BatchDeleteImportDataRequest",
        "documentation" : "",
        "simpleType" : "BatchDeleteImportDataRequest",
        "variableSetterType" : "BatchDeleteImportDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDeleteImportData",
      "operationName" : "BatchDeleteImportData",
      "returnType" : {
        "returnType" : "BatchDeleteImportDataResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDeleteImportDataResult"
    },
    "CreateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationRequest, CreateApplicationResult>",
      "asyncReturnType" : "CreateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an application with the given name and description.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateApplicationRequest",
        "variableName" : "createApplicationRequest",
        "variableType" : "CreateApplicationRequest",
        "documentation" : "",
        "simpleType" : "CreateApplicationRequest",
        "variableSetterType" : "CreateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApplication",
      "operationName" : "CreateApplication",
      "returnType" : {
        "returnType" : "CreateApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateApplicationResult"
    },
    "CreateTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTagsRequest, CreateTagsResult>",
      "asyncReturnType" : "CreateTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates one or more tags for configuration items. Tags are metadata that help you categorize IT assets. This API accepts a list of multiple configuration items.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified configuration ID was not located. Verify the configuration ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTagsRequest",
        "variableName" : "createTagsRequest",
        "variableType" : "CreateTagsRequest",
        "documentation" : "",
        "simpleType" : "CreateTagsRequest",
        "variableSetterType" : "CreateTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTags",
      "operationName" : "CreateTags",
      "returnType" : {
        "returnType" : "CreateTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTagsResult"
    },
    "DeleteApplications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationsRequest, DeleteApplicationsResult>",
      "asyncReturnType" : "DeleteApplicationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a list of applications and their associations with configuration items.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteApplicationsRequest",
        "variableName" : "deleteApplicationsRequest",
        "variableType" : "DeleteApplicationsRequest",
        "documentation" : "",
        "simpleType" : "DeleteApplicationsRequest",
        "variableSetterType" : "DeleteApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplications",
      "operationName" : "DeleteApplications",
      "returnType" : {
        "returnType" : "DeleteApplicationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApplicationsResult"
    },
    "DeleteTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTagsRequest, DeleteTagsResult>",
      "asyncReturnType" : "DeleteTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the association between configuration items and one or more tags. This API accepts a list of multiple configuration items.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified configuration ID was not located. Verify the configuration ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTagsRequest",
        "variableName" : "deleteTagsRequest",
        "variableType" : "DeleteTagsRequest",
        "documentation" : "",
        "simpleType" : "DeleteTagsRequest",
        "variableSetterType" : "DeleteTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTags",
      "operationName" : "DeleteTags",
      "returnType" : {
        "returnType" : "DeleteTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTagsResult"
    },
    "DescribeAgents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAgentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAgentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAgentsRequest, DescribeAgentsResult>",
      "asyncReturnType" : "DescribeAgentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists agents or connectors as specified by ID or other filters. All agents/connectors associated with your user account can be listed if you call <code>DescribeAgents</code> as is without passing any parameters.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAgentsRequest",
        "variableName" : "describeAgentsRequest",
        "variableType" : "DescribeAgentsRequest",
        "documentation" : "",
        "simpleType" : "DescribeAgentsRequest",
        "variableSetterType" : "DescribeAgentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAgents",
      "operationName" : "DescribeAgents",
      "returnType" : {
        "returnType" : "DescribeAgentsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAgentsResult"
    },
    "DescribeConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationsRequest, DescribeConfigurationsResult>",
      "asyncReturnType" : "DescribeConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves attributes for a list of configuration item IDs.</p> <note> <p>All of the supplied IDs must be for the same asset type from one of the following:</p> <ul> <li> <p>server</p> </li> <li> <p>application</p> </li> <li> <p>process</p> </li> <li> <p>connection</p> </li> </ul> <p>Output fields are specific to the asset type specified. For example, the output for a <i>server</i> configuration item includes a list of attributes about the server, such as host name, operating system, number of network cards, etc.</p> <p>For a complete list of outputs for each asset type, see <a href=\"http://docs.aws.amazon.com/application-discovery/latest/APIReference/discovery-api-queries.html#DescribeConfigurations\">Using the DescribeConfigurations Action</a>.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeConfigurationsRequest",
        "variableName" : "describeConfigurationsRequest",
        "variableType" : "DescribeConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "DescribeConfigurationsRequest",
        "variableSetterType" : "DescribeConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfigurations",
      "operationName" : "DescribeConfigurations",
      "returnType" : {
        "returnType" : "DescribeConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeConfigurationsResult"
    },
    "DescribeContinuousExports" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeContinuousExportsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeContinuousExportsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeContinuousExportsRequest, DescribeContinuousExportsResult>",
      "asyncReturnType" : "DescribeContinuousExportsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists exports as specified by ID. All continuous exports associated with your user account can be listed if you call <code>DescribeContinuousExports</code> as is without passing any parameters.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not permitted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified configuration ID was not located. Verify the configuration ID and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeContinuousExportsRequest",
        "variableName" : "describeContinuousExportsRequest",
        "variableType" : "DescribeContinuousExportsRequest",
        "documentation" : "",
        "simpleType" : "DescribeContinuousExportsRequest",
        "variableSetterType" : "DescribeContinuousExportsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeContinuousExports",
      "operationName" : "DescribeContinuousExports",
      "returnType" : {
        "returnType" : "DescribeContinuousExportsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeContinuousExportsResult"
    },
    "DescribeExportConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeExportConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeExportConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeExportConfigurationsRequest, DescribeExportConfigurationsResult>",
      "asyncReturnType" : "DescribeExportConfigurationsResult",
      "authenticated" : true,
      "deprecated" : true,
      "documentation" : "<p> <code>DescribeExportConfigurations</code> is deprecated. Use <a href=\"https://docs.aws.amazon.com/application-discovery/latest/APIReference/API_DescribeExportTasks.html\">DescribeImportTasks</a>, instead.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified configuration ID was not located. Verify the configuration ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeExportConfigurationsRequest",
        "variableName" : "describeExportConfigurationsRequest",
        "variableType" : "DescribeExportConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "DescribeExportConfigurationsRequest",
        "variableSetterType" : "DescribeExportConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeExportConfigurations",
      "operationName" : "DescribeExportConfigurations",
      "returnType" : {
        "returnType" : "DescribeExportConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeExportConfigurationsResult"
    },
    "DescribeExportTasks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeExportTasksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeExportTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeExportTasksRequest, DescribeExportTasksResult>",
      "asyncReturnType" : "DescribeExportTasksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieve status of one or more export tasks. You can retrieve the status of up to 100 export tasks.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeExportTasksRequest",
        "variableName" : "describeExportTasksRequest",
        "variableType" : "DescribeExportTasksRequest",
        "documentation" : "",
        "simpleType" : "DescribeExportTasksRequest",
        "variableSetterType" : "DescribeExportTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeExportTasks",
      "operationName" : "DescribeExportTasks",
      "returnType" : {
        "returnType" : "DescribeExportTasksResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeExportTasksResult"
    },
    "DescribeImportTasks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeImportTasksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeImportTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeImportTasksRequest, DescribeImportTasksResult>",
      "asyncReturnType" : "DescribeImportTasksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of import tasks for your account, including status information, times, IDs, the Amazon S3 Object URL for the import file, and more.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeImportTasksRequest",
        "variableName" : "describeImportTasksRequest",
        "variableType" : "DescribeImportTasksRequest",
        "documentation" : "",
        "simpleType" : "DescribeImportTasksRequest",
        "variableSetterType" : "DescribeImportTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeImportTasks",
      "operationName" : "DescribeImportTasks",
      "returnType" : {
        "returnType" : "DescribeImportTasksResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeImportTasksResult"
    },
    "DescribeTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "asyncReturnType" : "DescribeTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of configuration items that have tags as specified by the key-value pairs, name and value, passed to the optional parameter <code>filters</code>.</p> <p>There are three valid tag filter names:</p> <ul> <li> <p>tagKey</p> </li> <li> <p>tagValue</p> </li> <li> <p>configurationId</p> </li> </ul> <p>Also, all configuration items associated with your user account that have tags can be listed if you call <code>DescribeTags</code> as is without passing any parameters.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified configuration ID was not located. Verify the configuration ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTagsRequest",
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "documentation" : "",
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTags",
      "operationName" : "DescribeTags",
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeTagsResult"
    },
    "DisassociateConfigurationItemsFromApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateConfigurationItemsFromApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateConfigurationItemsFromApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateConfigurationItemsFromApplicationRequest, DisassociateConfigurationItemsFromApplicationResult>",
      "asyncReturnType" : "DisassociateConfigurationItemsFromApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates one or more configuration items from an application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateConfigurationItemsFromApplicationRequest",
        "variableName" : "disassociateConfigurationItemsFromApplicationRequest",
        "variableType" : "DisassociateConfigurationItemsFromApplicationRequest",
        "documentation" : "",
        "simpleType" : "DisassociateConfigurationItemsFromApplicationRequest",
        "variableSetterType" : "DisassociateConfigurationItemsFromApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateConfigurationItemsFromApplication",
      "operationName" : "DisassociateConfigurationItemsFromApplication",
      "returnType" : {
        "returnType" : "DisassociateConfigurationItemsFromApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateConfigurationItemsFromApplicationResult"
    },
    "ExportConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExportConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExportConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExportConfigurationsRequest, ExportConfigurationsResult>",
      "asyncReturnType" : "ExportConfigurationsResult",
      "authenticated" : true,
      "deprecated" : true,
      "documentation" : "<p>Deprecated. Use <code>StartExportTask</code> instead.</p> <p>Exports all discovered configuration data to an Amazon S3 bucket or an application that enables you to view and evaluate the data. Data includes tags and tag associations, processes, connections, servers, and system performance. This API returns an export ID that you can query using the <i>DescribeExportConfigurations</i> API. The system imposes a limit of two configuration exports in six hours.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not permitted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExportConfigurationsRequest",
        "variableName" : "exportConfigurationsRequest",
        "variableType" : "ExportConfigurationsRequest",
        "documentation" : null,
        "simpleType" : "ExportConfigurationsRequest",
        "variableSetterType" : "ExportConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "exportConfigurations",
      "operationName" : "ExportConfigurations",
      "returnType" : {
        "returnType" : "ExportConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ExportConfigurationsResult"
    },
    "GetDiscoverySummary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDiscoverySummaryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDiscoverySummaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDiscoverySummaryRequest, GetDiscoverySummaryResult>",
      "asyncReturnType" : "GetDiscoverySummaryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a short summary of discovered assets.</p> <p>This API operation takes no request parameters and is called as is at the command prompt as shown in the example.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDiscoverySummaryRequest",
        "variableName" : "getDiscoverySummaryRequest",
        "variableType" : "GetDiscoverySummaryRequest",
        "documentation" : "",
        "simpleType" : "GetDiscoverySummaryRequest",
        "variableSetterType" : "GetDiscoverySummaryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDiscoverySummary",
      "operationName" : "GetDiscoverySummary",
      "returnType" : {
        "returnType" : "GetDiscoverySummaryResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDiscoverySummaryResult"
    },
    "ListConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConfigurationsRequest, ListConfigurationsResult>",
      "asyncReturnType" : "ListConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of configuration items as specified by the value passed to the required paramater <code>configurationType</code>. Optional filtering may be applied to refine search results.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified configuration ID was not located. Verify the configuration ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConfigurationsRequest",
        "variableName" : "listConfigurationsRequest",
        "variableType" : "ListConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListConfigurationsRequest",
        "variableSetterType" : "ListConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConfigurations",
      "operationName" : "ListConfigurations",
      "returnType" : {
        "returnType" : "ListConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListConfigurationsResult"
    },
    "ListServerNeighbors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListServerNeighborsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListServerNeighborsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListServerNeighborsRequest, ListServerNeighborsResult>",
      "asyncReturnType" : "ListServerNeighborsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of servers that are one network hop away from a specified server.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListServerNeighborsRequest",
        "variableName" : "listServerNeighborsRequest",
        "variableType" : "ListServerNeighborsRequest",
        "documentation" : "",
        "simpleType" : "ListServerNeighborsRequest",
        "variableSetterType" : "ListServerNeighborsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listServerNeighbors",
      "operationName" : "ListServerNeighbors",
      "returnType" : {
        "returnType" : "ListServerNeighborsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListServerNeighborsResult"
    },
    "StartContinuousExport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartContinuousExportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartContinuousExportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartContinuousExportRequest, StartContinuousExportResult>",
      "asyncReturnType" : "StartContinuousExportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Start the continuous flow of agent's discovered data into Amazon Athena.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictErrorException",
        "documentation" : "<p/>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not permitted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>This issue occurs when the same <code>clientRequestToken</code> is used with the <code>StartImportTask</code> action, but with different parameters. For example, you use the same request token but have two different import URLs, you can encounter this issue. If the import tasks are meant to be different, use a different <code>clientRequestToken</code>, and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartContinuousExportRequest",
        "variableName" : "startContinuousExportRequest",
        "variableType" : "StartContinuousExportRequest",
        "documentation" : "",
        "simpleType" : "StartContinuousExportRequest",
        "variableSetterType" : "StartContinuousExportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startContinuousExport",
      "operationName" : "StartContinuousExport",
      "returnType" : {
        "returnType" : "StartContinuousExportResult",
        "documentation" : null
      },
      "syncReturnType" : "StartContinuousExportResult"
    },
    "StartDataCollectionByAgentIds" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartDataCollectionByAgentIdsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartDataCollectionByAgentIdsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartDataCollectionByAgentIdsRequest, StartDataCollectionByAgentIdsResult>",
      "asyncReturnType" : "StartDataCollectionByAgentIdsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Instructs the specified agents or connectors to start collecting data.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartDataCollectionByAgentIdsRequest",
        "variableName" : "startDataCollectionByAgentIdsRequest",
        "variableType" : "StartDataCollectionByAgentIdsRequest",
        "documentation" : "",
        "simpleType" : "StartDataCollectionByAgentIdsRequest",
        "variableSetterType" : "StartDataCollectionByAgentIdsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startDataCollectionByAgentIds",
      "operationName" : "StartDataCollectionByAgentIds",
      "returnType" : {
        "returnType" : "StartDataCollectionByAgentIdsResult",
        "documentation" : null
      },
      "syncReturnType" : "StartDataCollectionByAgentIdsResult"
    },
    "StartExportTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartExportTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartExportTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartExportTaskRequest, StartExportTaskResult>",
      "asyncReturnType" : "StartExportTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Begins the export of discovered data to an S3 bucket.</p> <p> If you specify <code>agentIds</code> in a filter, the task exports up to 72 hours of detailed data collected by the identified Application Discovery Agent, including network, process, and performance details. A time range for exported agent data may be set by using <code>startTime</code> and <code>endTime</code>. Export of detailed agent data is limited to five concurrently running exports. </p> <p> If you do not include an <code>agentIds</code> filter, summary data is exported that includes both AWS Agentless Discovery Connector data and summary data from AWS Discovery Agents. Export of summary data is limited to two exports per day. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not permitted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartExportTaskRequest",
        "variableName" : "startExportTaskRequest",
        "variableType" : "StartExportTaskRequest",
        "documentation" : "",
        "simpleType" : "StartExportTaskRequest",
        "variableSetterType" : "StartExportTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startExportTask",
      "operationName" : "StartExportTask",
      "returnType" : {
        "returnType" : "StartExportTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "StartExportTaskResult"
    },
    "StartImportTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartImportTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartImportTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartImportTaskRequest, StartImportTaskResult>",
      "asyncReturnType" : "StartImportTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an import task, which allows you to import details of your on-premises environment directly into AWS without having to use the Application Discovery Service (ADS) tools such as the Discovery Connector or Discovery Agent. This gives you the option to perform migration assessment and planning directly from your imported data, including the ability to group your devices as applications and track their migration status.</p> <p>To start an import request, do this:</p> <ol> <li> <p>Download the specially formatted comma separated value (CSV) import template, which you can find here: <a href=\"https://s3-us-west-2.amazonaws.com/templates-7cffcf56-bd96-4b1c-b45b-a5b42f282e46/import_template.csv\">https://s3-us-west-2.amazonaws.com/templates-7cffcf56-bd96-4b1c-b45b-a5b42f282e46/import_template.csv</a>.</p> </li> <li> <p>Fill out the template with your server and application data.</p> </li> <li> <p>Upload your import file to an Amazon S3 bucket, and make a note of it's Object URL. Your import file must be in the CSV format.</p> </li> <li> <p>Use the console or the <code>StartImportTask</code> command with the AWS CLI or one of the AWS SDKs to import the records from your file.</p> </li> </ol> <p>For more information, including step-by-step procedures, see <a href=\"https://docs.aws.amazon.com/application-discovery/latest/userguide/discovery-import.html\">Migration Hub Import</a> in the <i>AWS Application Discovery Service User Guide</i>.</p> <note> <p>There are limits to the number of import tasks you can create (and delete) in an AWS account. For more information, see <a href=\"https://docs.aws.amazon.com/application-discovery/latest/userguide/ads_service_limits.html\">AWS Application Discovery Service Limits</a> in the <i>AWS Application Discovery Service User Guide</i>.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>This issue occurs when the same <code>clientRequestToken</code> is used with the <code>StartImportTask</code> action, but with different parameters. For example, you use the same request token but have two different import URLs, you can encounter this issue. If the import tasks are meant to be different, use a different <code>clientRequestToken</code>, and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartImportTaskRequest",
        "variableName" : "startImportTaskRequest",
        "variableType" : "StartImportTaskRequest",
        "documentation" : "",
        "simpleType" : "StartImportTaskRequest",
        "variableSetterType" : "StartImportTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startImportTask",
      "operationName" : "StartImportTask",
      "returnType" : {
        "returnType" : "StartImportTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "StartImportTaskResult"
    },
    "StopContinuousExport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopContinuousExportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopContinuousExportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopContinuousExportRequest, StopContinuousExportResult>",
      "asyncReturnType" : "StopContinuousExportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stop the continuous flow of agent's discovered data into Amazon Athena.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not permitted.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified configuration ID was not located. Verify the configuration ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>This issue occurs when the same <code>clientRequestToken</code> is used with the <code>StartImportTask</code> action, but with different parameters. For example, you use the same request token but have two different import URLs, you can encounter this issue. If the import tasks are meant to be different, use a different <code>clientRequestToken</code>, and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopContinuousExportRequest",
        "variableName" : "stopContinuousExportRequest",
        "variableType" : "StopContinuousExportRequest",
        "documentation" : "",
        "simpleType" : "StopContinuousExportRequest",
        "variableSetterType" : "StopContinuousExportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopContinuousExport",
      "operationName" : "StopContinuousExport",
      "returnType" : {
        "returnType" : "StopContinuousExportResult",
        "documentation" : null
      },
      "syncReturnType" : "StopContinuousExportResult"
    },
    "StopDataCollectionByAgentIds" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopDataCollectionByAgentIdsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopDataCollectionByAgentIdsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopDataCollectionByAgentIdsRequest, StopDataCollectionByAgentIdsResult>",
      "asyncReturnType" : "StopDataCollectionByAgentIdsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Instructs the specified agents or connectors to stop collecting data.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopDataCollectionByAgentIdsRequest",
        "variableName" : "stopDataCollectionByAgentIdsRequest",
        "variableType" : "StopDataCollectionByAgentIdsRequest",
        "documentation" : "",
        "simpleType" : "StopDataCollectionByAgentIdsRequest",
        "variableSetterType" : "StopDataCollectionByAgentIdsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopDataCollectionByAgentIds",
      "operationName" : "StopDataCollectionByAgentIds",
      "returnType" : {
        "returnType" : "StopDataCollectionByAgentIdsResult",
        "documentation" : null
      },
      "syncReturnType" : "StopDataCollectionByAgentIdsResult"
    },
    "UpdateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationRequest, UpdateApplicationResult>",
      "asyncReturnType" : "UpdateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates metadata about an application.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateApplicationRequest",
        "variableName" : "updateApplicationRequest",
        "variableType" : "UpdateApplicationRequest",
        "documentation" : "",
        "simpleType" : "UpdateApplicationRequest",
        "variableSetterType" : "UpdateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApplication",
      "operationName" : "UpdateApplication",
      "returnType" : {
        "returnType" : "UpdateApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateApplicationResult"
    }
  },
  "shapes" : {
    "AgentConfigurationStatus" : {
      "c2jName" : "AgentConfigurationStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Information about agents or connectors that were instructed to start collecting data. Information includes the agent/connector ID, a description of the operation, and whether the agent/connector configuration was updated.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "agentId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The agent/connector ID.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The agent/connector ID.</p>\n@param agentId The agent/connector ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAgentId",
        "getterDocumentation" : "/**<p>The agent/connector ID.</p>\n@return The agent/connector ID.*/",
        "getterMethodName" : "getAgentId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "agentId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "agentId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AgentId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The agent/connector ID.</p>\n@param agentId The agent/connector ID.*/",
        "setterMethodName" : "setAgentId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "agentId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The agent/connector ID.</p>\n@param agentId The agent/connector ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "agentId",
          "variableType" : "String",
          "documentation" : "<p>The agent/connector ID.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "operationSucceeded",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>\n@param operationSucceeded Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOperationSucceeded",
        "getterDocumentation" : "/**<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>\n@return Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command.*/",
        "getterMethodName" : "getOperationSucceeded",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "operationSucceeded",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "operationSucceeded",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "OperationSucceeded",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>\n@param operationSucceeded Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command.*/",
        "setterMethodName" : "setOperationSucceeded",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "operationSucceeded",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>\n@param operationSucceeded Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "operationSucceeded",
          "variableType" : "Boolean",
          "documentation" : "<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "description",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>A description of the operation performed.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A description of the operation performed.</p>\n@param description A description of the operation performed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>A description of the operation performed.</p>\n@return A description of the operation performed.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A description of the operation performed.</p>\n@param description A description of the operation performed.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A description of the operation performed.</p>\n@param description A description of the operation performed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>A description of the operation performed.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AgentId" : {
          "c2jName" : "agentId",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The agent/connector ID.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The agent/connector ID.</p>\n@param agentId The agent/connector ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAgentId",
          "getterDocumentation" : "/**<p>The agent/connector ID.</p>\n@return The agent/connector ID.*/",
          "getterMethodName" : "getAgentId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "agentId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "agentId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AgentId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The agent/connector ID.</p>\n@param agentId The agent/connector ID.*/",
          "setterMethodName" : "setAgentId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "agentId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The agent/connector ID.</p>\n@param agentId The agent/connector ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "agentId",
            "variableType" : "String",
            "documentation" : "<p>The agent/connector ID.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Description" : {
          "c2jName" : "description",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>A description of the operation performed.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A description of the operation performed.</p>\n@param description A description of the operation performed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**<p>A description of the operation performed.</p>\n@return A description of the operation performed.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "description",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A description of the operation performed.</p>\n@param description A description of the operation performed.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A description of the operation performed.</p>\n@param description A description of the operation performed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "<p>A description of the operation performed.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "OperationSucceeded" : {
          "c2jName" : "operationSucceeded",
          "c2jShape" : "Boolean",
          "deprecated" : false,
          "documentation" : "<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>\n@param operationSucceeded Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOperationSucceeded",
          "getterDocumentation" : "/**<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>\n@return Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command.*/",
          "getterMethodName" : "getOperationSucceeded",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "operationSucceeded",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "operationSucceeded",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "OperationSucceeded",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>\n@param operationSucceeded Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command.*/",
          "setterMethodName" : "setOperationSucceeded",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "operationSucceeded",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>\n@param operationSucceeded Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "operationSucceeded",
            "variableType" : "Boolean",
            "documentation" : "<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AgentConfigurationStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AgentConfigurationStatus",
        "variableName" : "agentConfigurationStatus",
        "variableType" : "AgentConfigurationStatus",
        "documentation" : null,
        "simpleType" : "AgentConfigurationStatus",
        "variableSetterType" : "AgentConfigurationStatus"
      },
      "wrapper" : false
    },
    "AgentInfo" : {
      "c2jName" : "AgentInfo",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Information about agents or connectors associated with the user’s AWS account. Information includes agent or connector IDs, IP addresses, media access control (MAC) addresses, agent or connector health, hostname where the agent or connector resides, and agent version for each agent.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "agentId",
        "c2jShape" : "AgentId",
        "deprecated" : false,
        "documentation" : "<p>The agent or connector ID.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The agent or connector ID.</p>\n@param agentId The agent or connector ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAgentId",
        "getterDocumentation" : "/**<p>The agent or connector ID.</p>\n@return The agent or connector ID.*/",
[...]
