{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : null,
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "AgentInfo" : [ "health" ],
      "ConfigurationTag" : [ "configurationType" ],
      "ExportInfo" : [ "exportStatus" ],
      "ListConfigurationsRequest" : [ "configurationType" ],
      "OrderByElement" : [ "sortOrder" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-11-01",
    "asyncClient" : "AWSApplicationDiscoveryAsyncClient",
    "asyncClientBuilderClassName" : "AWSApplicationDiscoveryAsyncClientBuilder",
    "asyncInterface" : "AWSApplicationDiscoveryAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSApplicationDiscoveryModuleInjector",
    "defaultEndpoint" : "https://discovery.us-west-2.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "discovery.us-west-2.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Application Discovery Service</fullname> <p>AWS Application Discovery Service helps you plan application migration projects by automatically identifying servers, virtual machines (VMs), software, and software dependencies running in your on-premises data centers. Application Discovery Service also collects application performance data, which can help you assess the outcome of your migration. The data collected by Application Discovery Service is securely retained in an Amazon-hosted and managed database in the cloud. You can export the data as a CSV or XML file into your preferred visualization tool or cloud-migration solution to plan your migration. For more information, see the Application Discovery Service <a href=\"http://aws.amazon.com/application-discovery/faqs/\">FAQ</a>.</p> <p>Application Discovery Service offers two modes of operation.</p> <ul> <li> <p> <b>Agentless discovery</b> mode is recommended for environments that use VMware vCenter Server. This mode doesn't require you to install an agent on each host. Agentless discovery gathers server information regardless of the operating systems, which minimizes the time required for initial on-premises infrastructure assessment. Agentless discovery doesn't collect information about software and software dependencies. It also doesn't work in non-VMware environments. We recommend that you use agent-based discovery for non-VMware environments and if you want to collect information about software and software dependencies. You can also run agent-based and agentless discovery simultaneously. Use agentless discovery to quickly complete the initial infrastructure assessment and then install agents on select hosts to gather information about software and software dependencies.</p> </li> <li> <p> <b>Agent-based discovery</b> mode collects a richer set of data than agentless discovery by using Amazon software, the AWS Application Discovery Agent, which you install on one or more hosts in your data center. The agent captures infrastructure and application information, including an inventory of installed software applications, system and process performance, resource utilization, and network dependencies between workloads. The information collected by agents is secured at rest and in transit to the Application Discovery Service database in the cloud. </p> </li> </ul> <p>Application Discovery Service integrates with application discovery solutions from AWS Partner Network (APN) partners. Third-party application discovery tools can query Application Discovery Service and write to the Application Discovery Service database using a public API. You can then import the data into either a visualization tool or cloud-migration solution.</p> <important> <p>Application Discovery Service doesn't gather sensitive information. All data is handled according to the <a href=\"http://aws.amazon.com/privacy/\">AWS Privacy Policy</a>. You can operate Application Discovery Service using offline mode to inspect collected data before it is shared with the service.</p> </important> <p>Your AWS account must be granted access to Application Discovery Service, a process called <i>whitelisting</i>. This is true for AWS partners and customers alike. To request access, <a href=\"http://aws.amazon.com/application-discovery/how-to-start/\"> sign up for AWS Application Discovery Service</a>.</p> <p>This API reference provides descriptions, syntax, and usage examples for each of the actions and data types for Application Discovery Service. The topic for each action shows the API request parameters and the response. Alternatively, you can use one of the AWS SDKs to access an API that is tailored to the programming language or platform that you're using. For more information, see <a href=\"http://aws.amazon.com/tools/#SDKs\">AWS SDKs</a>.</p> <p>This guide is intended for use with the <a href=\"http://docs.aws.amazon.com/application-discovery/latest/userguide/\"> <i>AWS Application Discovery Service User Guide</i> </a>.</p>",
    "endpointPrefix" : "discovery",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.applicationdiscovery",
    "packagePath" : "com/amazonaws/services/applicationdiscovery",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Application Discovery Service",
    "serviceName" : "AWS Application Discovery Service",
    "signingName" : "discovery",
    "smokeTestsPackageName" : "com.amazonaws.services.applicationdiscovery.smoketests",
    "syncClient" : "AWSApplicationDiscoveryClient",
    "syncClientBuilderClassName" : "AWSApplicationDiscoveryClientBuilder",
    "syncInterface" : "AWSApplicationDiscovery",
    "uid" : "discovery-2015-11-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateConfigurationItemsToApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateConfigurationItemsToApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateConfigurationItemsToApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateConfigurationItemsToApplicationRequest, AssociateConfigurationItemsToApplicationResult>",
      "asyncReturnType" : "AssociateConfigurationItemsToApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates one or more configuration items with an application.</p>",
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AssociateConfigurationItemsToApplicationRequest",
        "variableName" : "associateConfigurationItemsToApplicationRequest",
        "variableType" : "AssociateConfigurationItemsToApplicationRequest",
        "documentation" : "",
        "simpleType" : "AssociateConfigurationItemsToApplicationRequest",
        "variableSetterType" : "AssociateConfigurationItemsToApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateConfigurationItemsToApplication",
      "operationName" : "AssociateConfigurationItemsToApplication",
      "returnType" : {
        "returnType" : "AssociateConfigurationItemsToApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateConfigurationItemsToApplicationResult"
    },
    "CreateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationRequest, CreateApplicationResult>",
      "asyncReturnType" : "CreateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an application with the given name and description.</p>",
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateApplicationRequest",
        "variableName" : "createApplicationRequest",
        "variableType" : "CreateApplicationRequest",
        "documentation" : "",
        "simpleType" : "CreateApplicationRequest",
        "variableSetterType" : "CreateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApplication",
      "operationName" : "CreateApplication",
      "returnType" : {
        "returnType" : "CreateApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateApplicationResult"
    },
    "CreateTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTagsRequest, CreateTagsResult>",
      "asyncReturnType" : "CreateTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates one or more tags for configuration items. Tags are metadata that help you categorize IT assets. This API accepts a list of multiple configuration items.</p>",
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified configuration ID was not located. Verify the configuration ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateTagsRequest",
        "variableName" : "createTagsRequest",
        "variableType" : "CreateTagsRequest",
        "documentation" : "",
        "simpleType" : "CreateTagsRequest",
        "variableSetterType" : "CreateTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTags",
      "operationName" : "CreateTags",
      "returnType" : {
        "returnType" : "CreateTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTagsResult"
    },
    "DeleteApplications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationsRequest, DeleteApplicationsResult>",
      "asyncReturnType" : "DeleteApplicationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a list of applications and their associations with configuration items.</p>",
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteApplicationsRequest",
        "variableName" : "deleteApplicationsRequest",
        "variableType" : "DeleteApplicationsRequest",
        "documentation" : "",
        "simpleType" : "DeleteApplicationsRequest",
        "variableSetterType" : "DeleteApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplications",
      "operationName" : "DeleteApplications",
      "returnType" : {
        "returnType" : "DeleteApplicationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApplicationsResult"
    },
    "DeleteTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTagsRequest, DeleteTagsResult>",
      "asyncReturnType" : "DeleteTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the association between configuration items and one or more tags. This API accepts a list of multiple configuration items.</p>",
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified configuration ID was not located. Verify the configuration ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteTagsRequest",
        "variableName" : "deleteTagsRequest",
        "variableType" : "DeleteTagsRequest",
        "documentation" : "",
        "simpleType" : "DeleteTagsRequest",
        "variableSetterType" : "DeleteTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTags",
      "operationName" : "DeleteTags",
      "returnType" : {
        "returnType" : "DeleteTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTagsResult"
    },
    "DescribeAgents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAgentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAgentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAgentsRequest, DescribeAgentsResult>",
      "asyncReturnType" : "DescribeAgentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists agents or the Connector by ID or lists all agents/Connectors associated with your user account if you did not specify an ID.</p>",
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAgentsRequest",
        "variableName" : "describeAgentsRequest",
        "variableType" : "DescribeAgentsRequest",
        "documentation" : "",
        "simpleType" : "DescribeAgentsRequest",
        "variableSetterType" : "DescribeAgentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAgents",
      "operationName" : "DescribeAgents",
      "returnType" : {
        "returnType" : "DescribeAgentsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAgentsResult"
    },
    "DescribeConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationsRequest, DescribeConfigurationsResult>",
      "asyncReturnType" : "DescribeConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves attributes for a list of configuration item IDs. All of the supplied IDs must be for the same asset type (server, application, process, or connection). Output fields are specific to the asset type selected. For example, the output for a <i>server</i> configuration item includes a list of attributes about the server, such as host name, operating system, and number of network cards.</p> <p>For a complete list of outputs for each asset type, see <a href=\"http://docs.aws.amazon.com/application-discovery/latest/APIReference/discovery-api-queries.html#DescribeConfigurations\">Using the DescribeConfigurations Action</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConfigurationsRequest",
        "variableName" : "describeConfigurationsRequest",
        "variableType" : "DescribeConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "DescribeConfigurationsRequest",
        "variableSetterType" : "DescribeConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfigurations",
      "operationName" : "DescribeConfigurations",
      "returnType" : {
        "returnType" : "DescribeConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeConfigurationsResult"
    },
    "DescribeExportConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeExportConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeExportConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeExportConfigurationsRequest, DescribeExportConfigurationsResult>",
      "asyncReturnType" : "DescribeExportConfigurationsResult",
      "authenticated" : true,
      "deprecated" : true,
      "documentation" : "<p>Deprecated. Use <code>DescribeExportTasks</code> instead.</p> <p>Retrieves the status of a given export process. You can retrieve status from a maximum of 100 processes.</p>",
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified configuration ID was not located. Verify the configuration ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeExportConfigurationsRequest",
        "variableName" : "describeExportConfigurationsRequest",
        "variableType" : "DescribeExportConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "DescribeExportConfigurationsRequest",
        "variableSetterType" : "DescribeExportConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeExportConfigurations",
      "operationName" : "DescribeExportConfigurations",
      "returnType" : {
        "returnType" : "DescribeExportConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeExportConfigurationsResult"
    },
    "DescribeExportTasks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeExportTasksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeExportTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeExportTasksRequest, DescribeExportTasksResult>",
      "asyncReturnType" : "DescribeExportTasksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieve status of one or more export tasks. You can retrieve the status of up to 100 export tasks.</p>",
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeExportTasksRequest",
        "variableName" : "describeExportTasksRequest",
        "variableType" : "DescribeExportTasksRequest",
        "documentation" : "",
        "simpleType" : "DescribeExportTasksRequest",
        "variableSetterType" : "DescribeExportTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeExportTasks",
      "operationName" : "DescribeExportTasks",
      "returnType" : {
        "returnType" : "DescribeExportTasksResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeExportTasksResult"
    },
    "DescribeTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "asyncReturnType" : "DescribeTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of configuration items that are tagged with a specific tag. Or retrieves a list of all tags assigned to a specific configuration item.</p>",
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified configuration ID was not located. Verify the configuration ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTagsRequest",
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "documentation" : "",
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTags",
      "operationName" : "DescribeTags",
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeTagsResult"
    },
    "DisassociateConfigurationItemsFromApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateConfigurationItemsFromApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateConfigurationItemsFromApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateConfigurationItemsFromApplicationRequest, DisassociateConfigurationItemsFromApplicationResult>",
      "asyncReturnType" : "DisassociateConfigurationItemsFromApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates one or more configuration items from an application.</p>",
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisassociateConfigurationItemsFromApplicationRequest",
        "variableName" : "disassociateConfigurationItemsFromApplicationRequest",
        "variableType" : "DisassociateConfigurationItemsFromApplicationRequest",
        "documentation" : "",
        "simpleType" : "DisassociateConfigurationItemsFromApplicationRequest",
        "variableSetterType" : "DisassociateConfigurationItemsFromApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateConfigurationItemsFromApplication",
      "operationName" : "DisassociateConfigurationItemsFromApplication",
      "returnType" : {
        "returnType" : "DisassociateConfigurationItemsFromApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateConfigurationItemsFromApplicationResult"
    },
    "ExportConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExportConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExportConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExportConfigurationsRequest, ExportConfigurationsResult>",
      "asyncReturnType" : "ExportConfigurationsResult",
      "authenticated" : true,
      "deprecated" : true,
      "documentation" : "<p>Deprecated. Use <code>StartExportTask</code> instead.</p> <p>Exports all discovered configuration data to an Amazon S3 bucket or an application that enables you to view and evaluate the data. Data includes tags and tag associations, processes, connections, servers, and system performance. This API returns an export ID that you can query using the <i>DescribeExportConfigurations</i> API. The system imposes a limit of two configuration exports in six hours.</p>",
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not permitted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ExportConfigurationsRequest",
        "variableName" : "exportConfigurationsRequest",
        "variableType" : "ExportConfigurationsRequest",
        "documentation" : null,
        "simpleType" : "ExportConfigurationsRequest",
        "variableSetterType" : "ExportConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "exportConfigurations",
      "operationName" : "ExportConfigurations",
      "returnType" : {
        "returnType" : "ExportConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ExportConfigurationsResult"
    },
    "GetDiscoverySummary" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDiscoverySummaryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDiscoverySummaryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDiscoverySummaryRequest, GetDiscoverySummaryResult>",
      "asyncReturnType" : "GetDiscoverySummaryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a short summary of discovered assets.</p>",
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDiscoverySummaryRequest",
        "variableName" : "getDiscoverySummaryRequest",
        "variableType" : "GetDiscoverySummaryRequest",
        "documentation" : "",
        "simpleType" : "GetDiscoverySummaryRequest",
        "variableSetterType" : "GetDiscoverySummaryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDiscoverySummary",
      "operationName" : "GetDiscoverySummary",
      "returnType" : {
        "returnType" : "GetDiscoverySummaryResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDiscoverySummaryResult"
    },
    "ListConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConfigurationsRequest, ListConfigurationsResult>",
      "asyncReturnType" : "ListConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of configuration items according to criteria that you specify in a filter. The filter criteria identifies the relationship requirements.</p>",
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified configuration ID was not located. Verify the configuration ID and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListConfigurationsRequest",
        "variableName" : "listConfigurationsRequest",
        "variableType" : "ListConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListConfigurationsRequest",
        "variableSetterType" : "ListConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConfigurations",
      "operationName" : "ListConfigurations",
      "returnType" : {
        "returnType" : "ListConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListConfigurationsResult"
    },
    "ListServerNeighbors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListServerNeighborsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListServerNeighborsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListServerNeighborsRequest, ListServerNeighborsResult>",
      "asyncReturnType" : "ListServerNeighborsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of servers that are one network hop away from a specified server.</p>",
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListServerNeighborsRequest",
        "variableName" : "listServerNeighborsRequest",
        "variableType" : "ListServerNeighborsRequest",
        "documentation" : "",
        "simpleType" : "ListServerNeighborsRequest",
        "variableSetterType" : "ListServerNeighborsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listServerNeighbors",
      "operationName" : "ListServerNeighbors",
      "returnType" : {
        "returnType" : "ListServerNeighborsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListServerNeighborsResult"
    },
    "StartDataCollectionByAgentIds" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartDataCollectionByAgentIdsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartDataCollectionByAgentIdsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartDataCollectionByAgentIdsRequest, StartDataCollectionByAgentIdsResult>",
      "asyncReturnType" : "StartDataCollectionByAgentIdsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Instructs the specified agents or connectors to start collecting data.</p>",
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartDataCollectionByAgentIdsRequest",
        "variableName" : "startDataCollectionByAgentIdsRequest",
        "variableType" : "StartDataCollectionByAgentIdsRequest",
        "documentation" : "",
        "simpleType" : "StartDataCollectionByAgentIdsRequest",
        "variableSetterType" : "StartDataCollectionByAgentIdsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startDataCollectionByAgentIds",
      "operationName" : "StartDataCollectionByAgentIds",
      "returnType" : {
        "returnType" : "StartDataCollectionByAgentIdsResult",
        "documentation" : null
      },
      "syncReturnType" : "StartDataCollectionByAgentIdsResult"
    },
    "StartExportTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartExportTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartExportTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartExportTaskRequest, StartExportTaskResult>",
      "asyncReturnType" : "StartExportTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Begins the export of discovered data to an S3 bucket.</p> <p> If you specify <code>agentIds</code> in a filter, the task exports up to 72 hours of detailed data collected by the identified Application Discovery Agent, including network, process, and performance details. A time range for exported agent data may be set by using <code>startTime</code> and <code>endTime</code>. Export of detailed agent data is limited to five concurrently running exports. </p> <p> If you do not include an <code>agentIds</code> filter, summary data is exported that includes both AWS Agentless Discovery Connector data and summary data from AWS Discovery Agents. Export of summary data is limited to two exports per day. </p>",
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not permitted.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartExportTaskRequest",
        "variableName" : "startExportTaskRequest",
        "variableType" : "StartExportTaskRequest",
        "documentation" : "",
        "simpleType" : "StartExportTaskRequest",
        "variableSetterType" : "StartExportTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startExportTask",
      "operationName" : "StartExportTask",
      "returnType" : {
        "returnType" : "StartExportTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "StartExportTaskResult"
    },
    "StopDataCollectionByAgentIds" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopDataCollectionByAgentIdsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopDataCollectionByAgentIdsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopDataCollectionByAgentIdsRequest, StopDataCollectionByAgentIdsResult>",
      "asyncReturnType" : "StopDataCollectionByAgentIdsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Instructs the specified agents or connectors to stop collecting data.</p>",
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopDataCollectionByAgentIdsRequest",
        "variableName" : "stopDataCollectionByAgentIdsRequest",
        "variableType" : "StopDataCollectionByAgentIdsRequest",
        "documentation" : "",
        "simpleType" : "StopDataCollectionByAgentIdsRequest",
        "variableSetterType" : "StopDataCollectionByAgentIdsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopDataCollectionByAgentIds",
      "operationName" : "StopDataCollectionByAgentIds",
      "returnType" : {
        "returnType" : "StopDataCollectionByAgentIdsResult",
        "documentation" : null
      },
      "syncReturnType" : "StopDataCollectionByAgentIdsResult"
    },
    "UpdateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationRequest, UpdateApplicationResult>",
      "asyncReturnType" : "UpdateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates metadata about an application.</p>",
      "exceptions" : [ {
        "exceptionName" : "AuthorizationErrorException",
        "documentation" : "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid. Verify the parameters and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterValueException",
        "documentation" : "<p>The value of one or more parameters are either invalid or out of range. Verify the parameter values and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerInternalErrorException",
        "documentation" : "<p>The server experienced an internal error. Try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateApplicationRequest",
        "variableName" : "updateApplicationRequest",
        "variableType" : "UpdateApplicationRequest",
        "documentation" : "",
        "simpleType" : "UpdateApplicationRequest",
        "variableSetterType" : "UpdateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApplication",
      "operationName" : "UpdateApplication",
      "returnType" : {
        "returnType" : "UpdateApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateApplicationResult"
    }
  },
  "shapes" : {
    "AgentConfigurationStatus" : {
      "c2jName" : "AgentConfigurationStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Information about agents or connectors that were instructed to start collecting data. Information includes the agent/connector ID, a description of the operation, and whether the agent/connector configuration was updated.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "agentId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The agent/connector ID.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The agent/connector ID.</p>\n@param agentId The agent/connector ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAgentId",
        "getterDocumentation" : "/**<p>The agent/connector ID.</p>\n@return The agent/connector ID.*/",
        "getterMethodName" : "getAgentId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "agentId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "agentId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AgentId",
        "setterDocumentation" : "/**<p>The agent/connector ID.</p>\n@param agentId The agent/connector ID.*/",
        "setterMethodName" : "setAgentId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "agentId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The agent/connector ID.</p>\n@param agentId The agent/connector ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "agentId",
          "variableType" : "String",
          "documentation" : "<p>The agent/connector ID.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "operationSucceeded",
        "c2jShape" : "Boolean",
        "deprecated" : false,
        "documentation" : "<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>\n@param operationSucceeded Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOperationSucceeded",
        "getterDocumentation" : "/**<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>\n@return Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command.*/",
        "getterMethodName" : "getOperationSucceeded",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "operationSucceeded",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "operationSucceeded",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "OperationSucceeded",
        "setterDocumentation" : "/**<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>\n@param operationSucceeded Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command.*/",
        "setterMethodName" : "setOperationSucceeded",
        "setterModel" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "operationSucceeded",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>\n@param operationSucceeded Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "operationSucceeded",
          "variableType" : "Boolean",
          "documentation" : "<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "description",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>A description of the operation performed.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A description of the operation performed.</p>\n@param description A description of the operation performed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>A description of the operation performed.</p>\n@return A description of the operation performed.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "setterDocumentation" : "/**<p>A description of the operation performed.</p>\n@param description A description of the operation performed.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A description of the operation performed.</p>\n@param description A description of the operation performed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>A description of the operation performed.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AgentId" : {
          "c2jName" : "agentId",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The agent/connector ID.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The agent/connector ID.</p>\n@param agentId The agent/connector ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAgentId",
          "getterDocumentation" : "/**<p>The agent/connector ID.</p>\n@return The agent/connector ID.*/",
          "getterMethodName" : "getAgentId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "agentId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "agentId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AgentId",
          "setterDocumentation" : "/**<p>The agent/connector ID.</p>\n@param agentId The agent/connector ID.*/",
          "setterMethodName" : "setAgentId",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "agentId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The agent/connector ID.</p>\n@param agentId The agent/connector ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "agentId",
            "variableType" : "String",
            "documentation" : "<p>The agent/connector ID.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Description" : {
          "c2jName" : "description",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>A description of the operation performed.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A description of the operation performed.</p>\n@param description A description of the operation performed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**<p>A description of the operation performed.</p>\n@return A description of the operation performed.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "description",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "setterDocumentation" : "/**<p>A description of the operation performed.</p>\n@param description A description of the operation performed.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A description of the operation performed.</p>\n@param description A description of the operation performed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "<p>A description of the operation performed.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "OperationSucceeded" : {
          "c2jName" : "operationSucceeded",
          "c2jShape" : "Boolean",
          "deprecated" : false,
          "documentation" : "<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>\n@param operationSucceeded Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOperationSucceeded",
          "getterDocumentation" : "/**<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>\n@return Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command.*/",
          "getterMethodName" : "getOperationSucceeded",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "operationSucceeded",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "operationSucceeded",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "OperationSucceeded",
          "setterDocumentation" : "/**<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>\n@param operationSucceeded Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command.*/",
          "setterMethodName" : "setOperationSucceeded",
          "setterModel" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "operationSucceeded",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>\n@param operationSucceeded Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "operationSucceeded",
            "variableType" : "Boolean",
            "documentation" : "<p>Information about the status of the <code>StartDataCollection</code> and <code>StopDataCollection</code> operations. The system has recorded the data collection operation. The agent/connector receives this command the next time it polls for a new command. </p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AgentConfigurationStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AgentConfigurationStatus",
        "variableName" : "agentConfigurationStatus",
        "variableType" : "AgentConfigurationStatus",
        "documentation" : null,
        "simpleType" : "AgentConfigurationStatus",
        "variableSetterType" : "AgentConfigurationStatus"
      },
      "wrapper" : false
    },
    "AgentInfo" : {
      "c2jName" : "AgentInfo",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Information about agents or connectors associated with the user’s AWS account. Information includes agent or connector IDs, IP addresses, media access control (MAC) addresses, agent or connector health, hostname where the agent or connector resides, and agent version for each agent.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "agentId",
        "c2jShape" : "AgentId",
        "deprecated" : false,
        "documentation" : "<p>The agent or connector ID.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The agent or connector ID.</p>\n@param agentId The agent or connector ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAgentId",
        "getterDocumentation" : "/**<p>The agent or connector ID.</p>\n@return The agent or connector ID.*/",
        "getterMethodName" : "getAgentId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "agentId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "agentId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AgentId",
        "setterDocumentation" : "/**<p>The agent or connector ID.</p>\n@param agentId The agent or connector ID.*/",
        "setterMethodName" : "setAgentId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "agentId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The agent or connector ID.</p>\n@param agentId The agent or connector ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "agentId",
          "variableType" : "String",
          "documentation" : "<p>The agent or connector ID.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "hostName",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the host where the agent or connector resides. The host can be a server or virtual machine.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the host where the agent or connector resides. The host can be a server or virtual machine.</p>\n@param hostName The name of the host where the agent or connector resides. The host can be a server or virtual machine.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withHostName",
        "getterDocumentation" : "/**<p>The name of the host where the agent or connector resides. The host can be a server or virtual machine.</p>\n@return The name of the host where the agent or connector resides. The host can be a server or virtual machine.*/",
        "getterMethodName" : "getHostName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "hostName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "hostName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "HostName",
        "setterDocumentation" : "/**<p>The name of the host where the agent or connector resides. The host can be a server or virtual machine.</p>\n@param hostName The name of the host where the agent or connector resides. The host can be a server or virtual machine.*/",
        "setterMethodName" : "setHostName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "hostName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the host where the agent or connector resides. The host can be a server or virtual machine.</p>\n@param hostName The name of the host where the agent or connector resides. The host can be a server or virtual machine.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "hostName",
          "variableType" : "String",
          "documentation" : "<p>The name of the host where the agent or connector resides. The host can be a server or virtual machine.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "agentNetworkInfoList",
        "c2jShape" : "AgentNetworkInfoList",
        "deprecated" : false,
        "documentation" : "<p>Network details about the host where the agent or connector resides.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Network details about the host where the agent or connector resides.</p>\n@param agentNetworkInfoList Network details about the host where the agent or connector resides.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAgentNetworkInfoList",
        "getterDocumentation" : "/**<p>Network details about the host where the agent or connector resides.</p>\n@return Network details about the host where the agent or connector resides.*/",
        "getterMethodName" : "getAgentNetworkInfoList",
        "getterModel" : {
          "returnType" : "java.util.List<AgentNetworkInfo>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "agentNetworkInfoList",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "agentNetworkInfoList",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "AgentNetworkInfo",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "AgentNetworkInfo",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "AgentNetworkInfo",
              "variableName" : "member",
              "variableType" : "AgentNetworkInfo",
              "documentation" : "",
              "simpleType" : "AgentNetworkInfo",
              "variableSetterType" : "AgentNetworkInfo"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "AgentNetworkInfo",
              "variableName" : "member",
              "variableType" : "AgentNetworkInfo",
              "documentation" : "",
              "simpleType" : "AgentNetworkInfo",
              "variableSetterType" : "AgentNetworkInfo"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "AgentNetworkInfo",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "AgentNetworkInfo",
          "templateImplType" : "java.util.ArrayList<AgentNetworkInfo>",
          "templateType" : "java.util.List<AgentNetworkInfo>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "AgentNetworkInfoList",
        "setterDocumentation" : "/**<p>Network details about the host where the agent or connector resides.</p>\n@param agentNetworkInfoList Network details about the host where the agent or connector resides.*/",
        "setterMethodName" : "setAgentNetworkInfoList",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<AgentNetworkInfo>",
          "variableName" : "agentNetworkInfoList",
          "variableType" : "java.util.List<AgentNetworkInfo>",
          "documentation" : "",
          "simpleType" : "List<AgentNetworkInfo>",
          "variableSetterType" : "java.util.Collection<AgentNetworkInfo>"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Network details about the host where the agent or connector resides.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAgentNetworkInfoList(java.util.Collection)} or {@link #withAgentNetworkInfoList(java.util.Collection)} if you want to override the existing values.</p>\n@param agentNetworkInfoList Network details about the host where the agent or connector resides.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<AgentNetworkInfo>",
          "variableName" : "agentNetworkInfoList",
          "variableType" : "java.util.List<AgentNetworkInfo>",
          "documentation" : "<p>Network details about the host where the agent or connector resides.</p>",
          "simpleType" : "List<AgentNetworkInfo>",
          "variableSetterType" : "java.util.Collection<AgentNetworkInfo>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "connectorId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The ID of the connector.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the connector.</p>\n@param connectorId The ID of the connector.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConnectorId",
        "getterDocumentation" : "/**<p>The ID of the connector.</p>\n@return The ID of the connector.*/",
        "getterMethodName" : "getConnectorId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "connectorId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "connectorId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ConnectorId",
        "setterDocumentation" : "/**<p>The ID of the connector.</p>\n@param connectorId The ID of the connector.*/",
        "setterMethodName" : "setConnectorId",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "connectorId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the connector.</p>\n@param connectorId The ID of the connector.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "connectorId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the connector.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "version",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The agent or connector version.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The agent or connector version.</p>\n@param version The agent or connector version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVersion",
        "getterDocumentation" : "/**<p>The agent or connector version.</p>\n@return The agent or connector version.*/",
        "getterMethodName" : "getVersion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "version",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "version",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Version",
        "setterDocumentation" : "/**<p>The agent or connector version.</p>\n@param version The agent or connector version.*/",
        "setterMethodName" : "setVersion",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "version",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The agent or connector version.</p>\n@param version The agent or connector version.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "version",
          "variableType" : "String",
          "documentation" : "<p>The agent or connector version.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "health",
        "c2jShape" : "AgentStatus",
        "deprecated" : false,
        "documentation" : "<p>The health of the agent or connector.</p>",
        "enumType" : "AgentStatus",
        "fluentSetterDocumentation" : "/**<p>The health of the agent or connector.</p>\n@param health The health of the agent or connector.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AgentStatus*/",
        "fluentSetterMethodName" : "withHealth",
        "getterDocumentation" : "/**<p>The health of the agent or connector.</p>\n@return The health of the agent or connector.\n@see AgentStatus*/",
        "getterMethodName" : "getHealth",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "health",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "health",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Health",
        "setterDocumentation" : "/**<p>The health of the agent or connector.</p>\n@param health The health of the agent or connector.\n@see AgentStatus*/",
        "setterMethodName" : "setHealth",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "health",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The health of the agent or connector.</p>\n@param health The health of the agent or connector.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AgentStatus*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "health",
          "variableType" : "String",
          "documentation" : "<p>The health of the agent or connector.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "lastHealthPingTime",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Time since agent or connector health was reported.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Time since agent or connector health was reported.</p>\n@param lastHealthPingTime Time since agent or connector health was reported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastHealthPingTime",
        "getterDocumentation" : "/**<p>Time since agent or connector health was reported.</p>\n@return Time since agent or connector health was reported.*/",
        "getterMethodName" : "getLastHealthPingTime",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "lastHealthPingTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "lastHealthPingTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LastHealthPingTime",
        "setterDocumentation" : "/**<p>Time since agent or connector health was reported.</p>\n@param lastHealthPingTime Time since agent or connector health was reported.*/",
        "setterMethodName" : "setLastHealthPingTime",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "lastHealthPingTime",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
[...]
