{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-01-12",
    "asyncClient" : "AmazonDLMAsyncClient",
    "asyncClientBuilderClassName" : "AmazonDLMAsyncClientBuilder",
    "asyncInterface" : "AmazonDLMAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonDLMModuleInjector",
    "defaultEndpoint" : "dlm.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "dlm.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon Data Lifecycle Manager</fullname> <p>With Amazon Data Lifecycle Manager, you can manage the lifecycle of your Amazon Web Services resources. You create lifecycle policies, which are used to automate operations on the specified resources.</p> <p>Amazon Data Lifecycle Manager supports Amazon EBS volumes and snapshots. For information about using Amazon Data Lifecycle Manager with Amazon EBS, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/snapshot-lifecycle.html\"> Amazon Data Lifecycle Manager</a> in the <i>Amazon EC2 User Guide</i>.</p>",
    "endpointPrefix" : "dlm",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.dlm",
    "packagePath" : "com/amazonaws/services/dlm",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amazon DLM",
    "serviceFullName" : "Amazon Data Lifecycle Manager",
    "serviceId" : "DLM",
    "serviceName" : "Amazon DLM",
    "signingName" : "dlm",
    "smokeTestsPackageName" : "com.amazonaws.services.dlm.smoketests",
    "syncClient" : "AmazonDLMClient",
    "syncClientBuilderClassName" : "AmazonDLMClientBuilder",
    "syncInterface" : "AmazonDLM",
    "uid" : "dlm-2018-01-12",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateLifecyclePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLifecyclePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLifecyclePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLifecyclePolicyRequest, CreateLifecyclePolicyResult>",
      "asyncReturnType" : "CreateLifecyclePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a policy to manage the lifecycle of the specified Amazon Web Services resources. You can create up to 100 lifecycle policies.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Bad request. The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request failed because a limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service failed in an unexpected way.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLifecyclePolicyRequest",
        "variableName" : "createLifecyclePolicyRequest",
        "variableType" : "CreateLifecyclePolicyRequest",
        "documentation" : "",
        "simpleType" : "CreateLifecyclePolicyRequest",
        "variableSetterType" : "CreateLifecyclePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLifecyclePolicy",
      "operationName" : "CreateLifecyclePolicy",
      "returnType" : {
        "returnType" : "CreateLifecyclePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLifecyclePolicyResult"
    },
    "DeleteLifecyclePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLifecyclePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLifecyclePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLifecyclePolicyRequest, DeleteLifecyclePolicyResult>",
      "asyncReturnType" : "DeleteLifecyclePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified lifecycle policy and halts the automated operations that the policy specified.</p> <p>For more information about deleting a policy, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/view-modify-delete.html#delete\">Delete lifecycle policies</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service failed in an unexpected way.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request failed because a limit was exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLifecyclePolicyRequest",
        "variableName" : "deleteLifecyclePolicyRequest",
        "variableType" : "DeleteLifecyclePolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteLifecyclePolicyRequest",
        "variableSetterType" : "DeleteLifecyclePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLifecyclePolicy",
      "operationName" : "DeleteLifecyclePolicy",
      "returnType" : {
        "returnType" : "DeleteLifecyclePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLifecyclePolicyResult"
    },
    "GetLifecyclePolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLifecyclePoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLifecyclePoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLifecyclePoliciesRequest, GetLifecyclePoliciesResult>",
      "asyncReturnType" : "GetLifecyclePoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets summary information about all or the specified data lifecycle policies.</p> <p>To get complete information about a policy, use <a>GetLifecyclePolicy</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Bad request. The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service failed in an unexpected way.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request failed because a limit was exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLifecyclePoliciesRequest",
        "variableName" : "getLifecyclePoliciesRequest",
        "variableType" : "GetLifecyclePoliciesRequest",
        "documentation" : "",
        "simpleType" : "GetLifecyclePoliciesRequest",
        "variableSetterType" : "GetLifecyclePoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLifecyclePolicies",
      "operationName" : "GetLifecyclePolicies",
      "returnType" : {
        "returnType" : "GetLifecyclePoliciesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLifecyclePoliciesResult"
    },
    "GetLifecyclePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLifecyclePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLifecyclePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLifecyclePolicyRequest, GetLifecyclePolicyResult>",
      "asyncReturnType" : "GetLifecyclePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets detailed information about the specified lifecycle policy.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service failed in an unexpected way.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request failed because a limit was exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLifecyclePolicyRequest",
        "variableName" : "getLifecyclePolicyRequest",
        "variableType" : "GetLifecyclePolicyRequest",
        "documentation" : "",
        "simpleType" : "GetLifecyclePolicyRequest",
        "variableSetterType" : "GetLifecyclePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLifecyclePolicy",
      "operationName" : "GetLifecyclePolicy",
      "returnType" : {
        "returnType" : "GetLifecyclePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLifecyclePolicyResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service failed in an unexpected way.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Bad request. The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified tags to the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service failed in an unexpected way.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Bad request. The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags from the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service failed in an unexpected way.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Bad request. The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateLifecyclePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLifecyclePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLifecyclePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLifecyclePolicyRequest, UpdateLifecyclePolicyResult>",
      "asyncReturnType" : "UpdateLifecyclePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified lifecycle policy.</p> <p>For more information about updating a policy, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/view-modify-delete.html#modify\">Modify lifecycle policies</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>Bad request. The request is missing required parameters or has invalid parameters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service failed in an unexpected way.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request failed because a limit was exceeded.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLifecyclePolicyRequest",
        "variableName" : "updateLifecyclePolicyRequest",
        "variableType" : "UpdateLifecyclePolicyRequest",
        "documentation" : "",
        "simpleType" : "UpdateLifecyclePolicyRequest",
        "variableSetterType" : "UpdateLifecyclePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLifecyclePolicy",
      "operationName" : "UpdateLifecyclePolicy",
      "returnType" : {
        "returnType" : "UpdateLifecyclePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateLifecyclePolicyResult"
    }
  },
  "shapes" : {
    "Action" : {
      "c2jName" : "Action",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> <b>[Event-based policies only]</b> Specifies an action for an event-based policy.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.dlm.model.Action",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "ActionName",
        "deprecated" : false,
        "documentation" : "<p>A descriptive name for the action.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A descriptive name for the action.</p>\n@param name A descriptive name for the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>A descriptive name for the action.</p>\n@return A descriptive name for the action.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A descriptive name for the action.</p>\n@param name A descriptive name for the action.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A descriptive name for the action.</p>\n@param name A descriptive name for the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>A descriptive name for the action.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CrossRegionCopy",
        "c2jShape" : "CrossRegionCopyActionList",
        "deprecated" : false,
        "documentation" : "<p>The rule for copying shared snapshots across Regions.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The rule for copying shared snapshots across Regions.</p>\n@param crossRegionCopy The rule for copying shared snapshots across Regions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCrossRegionCopy",
        "getterDocumentation" : "/**<p>The rule for copying shared snapshots across Regions.</p>\n@return The rule for copying shared snapshots across Regions.*/",
        "getterMethodName" : "getCrossRegionCopy",
        "getterModel" : {
          "returnType" : "java.util.List<CrossRegionCopyAction>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CrossRegionCopy",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CrossRegionCopy",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "CrossRegionCopyAction",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "CrossRegionCopyAction",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "CrossRegionCopyAction",
              "variableName" : "member",
              "variableType" : "CrossRegionCopyAction",
              "documentation" : "",
              "simpleType" : "CrossRegionCopyAction",
              "variableSetterType" : "CrossRegionCopyAction"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "CrossRegionCopyAction",
              "variableName" : "member",
              "variableType" : "CrossRegionCopyAction",
              "documentation" : "",
              "simpleType" : "CrossRegionCopyAction",
              "variableSetterType" : "CrossRegionCopyAction"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "CrossRegionCopyAction",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "CrossRegionCopyAction",
          "templateImplType" : "java.util.ArrayList<CrossRegionCopyAction>",
          "templateType" : "java.util.List<CrossRegionCopyAction>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "CrossRegionCopy",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The rule for copying shared snapshots across Regions.</p>\n@param crossRegionCopy The rule for copying shared snapshots across Regions.*/",
        "setterMethodName" : "setCrossRegionCopy",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<CrossRegionCopyAction>",
          "variableName" : "crossRegionCopy",
          "variableType" : "java.util.List<CrossRegionCopyAction>",
          "documentation" : "",
          "simpleType" : "List<CrossRegionCopyAction>",
          "variableSetterType" : "java.util.Collection<CrossRegionCopyAction>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The rule for copying shared snapshots across Regions.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setCrossRegionCopy(java.util.Collection)} or {@link #withCrossRegionCopy(java.util.Collection)} if you want to override the existing values.</p>\n@param crossRegionCopy The rule for copying shared snapshots across Regions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<CrossRegionCopyAction>",
          "variableName" : "crossRegionCopy",
          "variableType" : "java.util.List<CrossRegionCopyAction>",
          "documentation" : "<p>The rule for copying shared snapshots across Regions.</p>",
          "simpleType" : "List<CrossRegionCopyAction>",
          "variableSetterType" : "java.util.Collection<CrossRegionCopyAction>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CrossRegionCopy" : {
          "c2jName" : "CrossRegionCopy",
          "c2jShape" : "CrossRegionCopyActionList",
          "deprecated" : false,
          "documentation" : "<p>The rule for copying shared snapshots across Regions.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The rule for copying shared snapshots across Regions.</p>\n@param crossRegionCopy The rule for copying shared snapshots across Regions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCrossRegionCopy",
          "getterDocumentation" : "/**<p>The rule for copying shared snapshots across Regions.</p>\n@return The rule for copying shared snapshots across Regions.*/",
          "getterMethodName" : "getCrossRegionCopy",
          "getterModel" : {
            "returnType" : "java.util.List<CrossRegionCopyAction>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CrossRegionCopy",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CrossRegionCopy",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "CrossRegionCopyAction",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "CrossRegionCopyAction",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "CrossRegionCopyAction",
                "variableName" : "member",
                "variableType" : "CrossRegionCopyAction",
                "documentation" : "",
                "simpleType" : "CrossRegionCopyAction",
                "variableSetterType" : "CrossRegionCopyAction"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "CrossRegionCopyAction",
                "variableName" : "member",
                "variableType" : "CrossRegionCopyAction",
                "documentation" : "",
                "simpleType" : "CrossRegionCopyAction",
                "variableSetterType" : "CrossRegionCopyAction"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "CrossRegionCopyAction",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "CrossRegionCopyAction",
            "templateImplType" : "java.util.ArrayList<CrossRegionCopyAction>",
            "templateType" : "java.util.List<CrossRegionCopyAction>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "CrossRegionCopy",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The rule for copying shared snapshots across Regions.</p>\n@param crossRegionCopy The rule for copying shared snapshots across Regions.*/",
          "setterMethodName" : "setCrossRegionCopy",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<CrossRegionCopyAction>",
            "variableName" : "crossRegionCopy",
            "variableType" : "java.util.List<CrossRegionCopyAction>",
            "documentation" : "",
            "simpleType" : "List<CrossRegionCopyAction>",
            "variableSetterType" : "java.util.Collection<CrossRegionCopyAction>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The rule for copying shared snapshots across Regions.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setCrossRegionCopy(java.util.Collection)} or {@link #withCrossRegionCopy(java.util.Collection)} if you want to override the existing values.</p>\n@param crossRegionCopy The rule for copying shared snapshots across Regions.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<CrossRegionCopyAction>",
            "variableName" : "crossRegionCopy",
            "variableType" : "java.util.List<CrossRegionCopyAction>",
            "documentation" : "<p>The rule for copying shared snapshots across Regions.</p>",
            "simpleType" : "List<CrossRegionCopyAction>",
            "variableSetterType" : "java.util.Collection<CrossRegionCopyAction>"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "ActionName",
          "deprecated" : false,
          "documentation" : "<p>A descriptive name for the action.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A descriptive name for the action.</p>\n@param name A descriptive name for the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>A descriptive name for the action.</p>\n@return A descriptive name for the action.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A descriptive name for the action.</p>\n@param name A descriptive name for the action.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A descriptive name for the action.</p>\n@param name A descriptive name for the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>A descriptive name for the action.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.dlm.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Name", "CrossRegionCopy" ],
      "shapeName" : "Action",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Action",
        "variableName" : "action",
        "variableType" : "Action",
        "documentation" : null,
        "simpleType" : "Action",
        "variableSetterType" : "Action"
      },
      "wrapper" : false
    },
    "ArchiveRetainRule" : {
      "c2jName" : "ArchiveRetainRule",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> <b>[Snapshot policies only]</b> Specifies information about the archive storage tier retention period.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.dlm.model.ArchiveRetainRule",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "RetentionArchiveTier",
        "c2jShape" : "RetentionArchiveTier",
        "deprecated" : false,
        "documentation" : "<p>Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.</p>\n@param retentionArchiveTier Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRetentionArchiveTier",
        "getterDocumentation" : "/**<p>Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.</p>\n@return Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.*/",
        "getterMethodName" : "getRetentionArchiveTier",
        "getterModel" : {
          "returnType" : "RetentionArchiveTier",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RetentionArchiveTier",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RetentionArchiveTier",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "RetentionArchiveTier",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.</p>\n@param retentionArchiveTier Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.*/",
        "setterMethodName" : "setRetentionArchiveTier",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "RetentionArchiveTier",
          "variableName" : "retentionArchiveTier",
          "variableType" : "RetentionArchiveTier",
          "documentation" : "",
          "simpleType" : "RetentionArchiveTier",
          "variableSetterType" : "RetentionArchiveTier"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.</p>\n@param retentionArchiveTier Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "RetentionArchiveTier",
          "variableName" : "retentionArchiveTier",
          "variableType" : "RetentionArchiveTier",
          "documentation" : "<p>Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.</p>",
          "simpleType" : "RetentionArchiveTier",
          "variableSetterType" : "RetentionArchiveTier"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "RetentionArchiveTier" : {
          "c2jName" : "RetentionArchiveTier",
          "c2jShape" : "RetentionArchiveTier",
          "deprecated" : false,
          "documentation" : "<p>Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.</p>\n@param retentionArchiveTier Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRetentionArchiveTier",
          "getterDocumentation" : "/**<p>Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.</p>\n@return Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.*/",
          "getterMethodName" : "getRetentionArchiveTier",
          "getterModel" : {
            "returnType" : "RetentionArchiveTier",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RetentionArchiveTier",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RetentionArchiveTier",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "RetentionArchiveTier",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.</p>\n@param retentionArchiveTier Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.*/",
          "setterMethodName" : "setRetentionArchiveTier",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "RetentionArchiveTier",
            "variableName" : "retentionArchiveTier",
            "variableType" : "RetentionArchiveTier",
            "documentation" : "",
            "simpleType" : "RetentionArchiveTier",
            "variableSetterType" : "RetentionArchiveTier"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.</p>\n@param retentionArchiveTier Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "RetentionArchiveTier",
            "variableName" : "retentionArchiveTier",
            "variableType" : "RetentionArchiveTier",
            "documentation" : "<p>Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.</p>",
            "simpleType" : "RetentionArchiveTier",
            "variableSetterType" : "RetentionArchiveTier"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.dlm.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "RetentionArchiveTier" ],
      "shapeName" : "ArchiveRetainRule",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ArchiveRetainRule",
        "variableName" : "archiveRetainRule",
        "variableType" : "ArchiveRetainRule",
        "documentation" : null,
        "simpleType" : "ArchiveRetainRule",
        "variableSetterType" : "ArchiveRetainRule"
      },
      "wrapper" : false
    },
    "ArchiveRule" : {
      "c2jName" : "ArchiveRule",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> <b>[Snapshot policies only]</b> Specifies a snapshot archiving rule for a schedule.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.dlm.model.ArchiveRule",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "RetainRule",
        "c2jShape" : "ArchiveRetainRule",
        "deprecated" : false,
        "documentation" : "<p>Information about the retention period for the snapshot archiving rule.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the retention period for the snapshot archiving rule.</p>\n@param retainRule Information about the retention period for the snapshot archiving rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRetainRule",
        "getterDocumentation" : "/**<p>Information about the retention period for the snapshot archiving rule.</p>\n@return Information about the retention period for the snapshot archiving rule.*/",
        "getterMethodName" : "getRetainRule",
        "getterModel" : {
          "returnType" : "ArchiveRetainRule",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RetainRule",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RetainRule",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "RetainRule",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information about the retention period for the snapshot archiving rule.</p>\n@param retainRule Information about the retention period for the snapshot archiving rule.*/",
        "setterMethodName" : "setRetainRule",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ArchiveRetainRule",
          "variableName" : "retainRule",
          "variableType" : "ArchiveRetainRule",
          "documentation" : "",
          "simpleType" : "ArchiveRetainRule",
          "variableSetterType" : "ArchiveRetainRule"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about the retention period for the snapshot archiving rule.</p>\n@param retainRule Information about the retention period for the snapshot archiving rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ArchiveRetainRule",
          "variableName" : "retainRule",
          "variableType" : "ArchiveRetainRule",
          "documentation" : "<p>Information about the retention period for the snapshot archiving rule.</p>",
          "simpleType" : "ArchiveRetainRule",
          "variableSetterType" : "ArchiveRetainRule"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "RetainRule" : {
          "c2jName" : "RetainRule",
          "c2jShape" : "ArchiveRetainRule",
          "deprecated" : false,
          "documentation" : "<p>Information about the retention period for the snapshot archiving rule.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information about the retention period for the snapshot archiving rule.</p>\n@param retainRule Information about the retention period for the snapshot archiving rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRetainRule",
          "getterDocumentation" : "/**<p>Information about the retention period for the snapshot archiving rule.</p>\n@return Information about the retention period for the snapshot archiving rule.*/",
          "getterMethodName" : "getRetainRule",
          "getterModel" : {
            "returnType" : "ArchiveRetainRule",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RetainRule",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RetainRule",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "RetainRule",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Information about the retention period for the snapshot archiving rule.</p>\n@param retainRule Information about the retention period for the snapshot archiving rule.*/",
          "setterMethodName" : "setRetainRule",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ArchiveRetainRule",
            "variableName" : "retainRule",
            "variableType" : "ArchiveRetainRule",
            "documentation" : "",
            "simpleType" : "ArchiveRetainRule",
            "variableSetterType" : "ArchiveRetainRule"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Information about the retention period for the snapshot archiving rule.</p>\n@param retainRule Information about the retention period for the snapshot archiving rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ArchiveRetainRule",
            "variableName" : "retainRule",
            "variableType" : "ArchiveRetainRule",
            "documentation" : "<p>Information about the retention period for the snapshot archiving rule.</p>",
            "simpleType" : "ArchiveRetainRule",
            "variableSetterType" : "ArchiveRetainRule"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.dlm.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "RetainRule" ],
      "shapeName" : "ArchiveRule",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ArchiveRule",
        "variableName" : "archiveRule",
        "variableType" : "ArchiveRule",
        "documentation" : null,
        "simpleType" : "ArchiveRule",
        "variableSetterType" : "ArchiveRule"
      },
      "wrapper" : false
    },
    "CreateLifecyclePolicyRequest" : {
      "c2jName" : "CreateLifecyclePolicyRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.dlm.request.CreateLifecyclePolicyRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateLifecyclePolicy",
        "locationName" : null,
        "requestUri" : "/policies",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ExecutionRoleArn",
        "c2jShape" : "ExecutionRoleArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.</p>\n@param executionRoleArn The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withExecutionRoleArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.</p>\n@return The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.*/",
        "getterMethodName" : "getExecutionRoleArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ExecutionRoleArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ExecutionRoleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ExecutionRoleArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.</p>\n@param executionRoleArn The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.*/",
        "setterMethodName" : "setExecutionRoleArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "executionRoleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.</p>\n@param executionRoleArn The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "executionRoleArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "PolicyDescription",
        "deprecated" : false,
        "documentation" : "<p>A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.</p>\n@param description A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.</p>\n@return A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Description",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.</p>\n@param description A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.</p>\n@param description A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "State",
        "c2jShape" : "SettablePolicyStateValues",
        "deprecated" : false,
        "documentation" : "<p>The desired activation state of the lifecycle policy after creation.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "SettablePolicyStateValues",
        "fluentSetterDocumentation" : "/**<p>The desired activation state of the lifecycle policy after creation.</p>\n@param state The desired activation state of the lifecycle policy after creation.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SettablePolicyStateValues*/",
        "fluentSetterMethodName" : "withState",
        "getterDocumentation" : "/**<p>The desired activation state of the lifecycle policy after creation.</p>\n@return The desired activation state of the lifecycle policy after creation.\n@see SettablePolicyStateValues*/",
        "getterMethodName" : "getState",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "State",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "State",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "State",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The desired activation state of the lifecycle policy after creation.</p>\n@param state The desired activation state of the lifecycle policy after creation.\n@see SettablePolicyStateValues*/",
        "setterMethodName" : "setState",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "state",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The desired activation state of the lifecycle policy after creation.</p>\n@param state The desired activation state of the lifecycle policy after creation.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SettablePolicyStateValues*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "state",
          "variableType" : "String",
          "documentation" : "<p>The desired activation state of the lifecycle policy after creation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PolicyDetails",
        "c2jShape" : "PolicyDetails",
        "deprecated" : false,
        "documentation" : "<p>The configuration details of the lifecycle policy.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The configuration details of the lifecycle policy.</p>\n@param policyDetails The configuration details of the lifecycle policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPolicyDetails",
        "getterDocumentation" : "/**<p>The configuration details of the lifecycle policy.</p>\n@return The configuration details of the lifecycle policy.*/",
        "getterMethodName" : "getPolicyDetails",
        "getterModel" : {
          "returnType" : "PolicyDetails",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PolicyDetails",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PolicyDetails",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "PolicyDetails",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The configuration details of the lifecycle policy.</p>\n@param policyDetails The configuration details of the lifecycle policy.*/",
        "setterMethodName" : "setPolicyDetails",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "PolicyDetails",
          "variableName" : "policyDetails",
          "variableType" : "PolicyDetails",
          "documentation" : "",
          "simpleType" : "PolicyDetails",
          "variableSetterType" : "PolicyDetails"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The configuration details of the lifecycle policy.</p>\n@param policyDetails The configuration details of the lifecycle policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "PolicyDetails",
          "variableName" : "policyDetails",
          "variableType" : "PolicyDetails",
          "documentation" : "<p>The configuration details of the lifecycle policy.</p>",
          "simpleType" : "PolicyDetails",
          "variableSetterType" : "PolicyDetails"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Tags",
        "c2jShape" : "TagMap",
        "deprecated" : false,
        "documentation" : "<p>The tags to apply to the lifecycle policy during creation.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The tags to apply to the lifecycle policy during creation.</p>\n@param tags The tags to apply to the lifecycle policy during creation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>The tags to apply to the lifecycle policy during creation.</p>\n@return The tags to apply to the lifecycle policy during creation.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Tags",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "TagValue",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The tags to apply to the lifecycle policy during creation.</p>\n@param tags The tags to apply to the lifecycle policy during creation.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The tags to apply to the lifecycle policy during creation.</p>\n@param tags The tags to apply to the lifecycle policy during creation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>The tags to apply to the lifecycle policy during creation.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Description" : {
          "c2jName" : "Description",
          "c2jShape" : "PolicyDescription",
          "deprecated" : false,
          "documentation" : "<p>A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.</p>\n@param description A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**<p>A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.</p>\n@return A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Description",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.</p>\n@param description A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.</p>\n@param description A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "<p>A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ExecutionRoleArn" : {
          "c2jName" : "ExecutionRoleArn",
          "c2jShape" : "ExecutionRoleArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.</p>\n@param executionRoleArn The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withExecutionRoleArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.</p>\n@return The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.*/",
          "getterMethodName" : "getExecutionRoleArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ExecutionRoleArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ExecutionRoleArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ExecutionRoleArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.</p>\n@param executionRoleArn The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.*/",
          "setterMethodName" : "setExecutionRoleArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "executionRoleArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.</p>\n@param executionRoleArn The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "executionRoleArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "PolicyDetails" : {
          "c2jName" : "PolicyDetails",
          "c2jShape" : "PolicyDetails",
          "deprecated" : false,
          "documentation" : "<p>The configuration details of the lifecycle policy.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The configuration details of the lifecycle policy.</p>\n@param policyDetails The configuration details of the lifecycle policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPolicyDetails",
          "getterDocumentation" : "/**<p>The configuration details of the lifecycle policy.</p>\n@return The configuration details of the lifecycle policy.*/",
          "getterMethodName" : "getPolicyDetails",
          "getterModel" : {
            "returnType" : "PolicyDetails",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "PolicyDetails",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "PolicyDetails",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "PolicyDetails",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The configuration details of the lifecycle policy.</p>\n@param policyDetails The configuration details of the lifecycle policy.*/",
          "setterMethodName" : "setPolicyDetails",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "PolicyDetails",
            "variableName" : "policyDetails",
            "variableType" : "PolicyDetails",
            "documentation" : "",
            "simpleType" : "PolicyDetails",
            "variableSetterType" : "PolicyDetails"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The configuration details of the lifecycle policy.</p>\n@param policyDetails The configuration details of the lifecycle policy.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "PolicyDetails",
            "variableName" : "policyDetails",
            "variableType" : "PolicyDetails",
            "documentation" : "<p>The configuration details of the lifecycle policy.</p>",
            "simpleType" : "PolicyDetails",
            "variableSetterType" : "PolicyDetails"
          },
          "xmlNameSpaceUri" : null
        },
        "State" : {
          "c2jName" : "State",
          "c2jShape" : "SettablePolicyStateValues",
          "deprecated" : false,
          "documentation" : "<p>The desired activation state of the lifecycle policy after creation.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "SettablePolicyStateValues",
          "fluentSetterDocumentation" : "/**<p>The desired activation state of the lifecycle policy after creation.</p>\n@param state The desired activation state of the lifecycle policy after creation.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SettablePolicyStateValues*/",
          "fluentSetterMethodName" : "withState",
          "getterDocumentation" : "/**<p>The desired activation state of the lifecycle policy after creation.</p>\n@return The desired activation state of the lifecycle policy after creation.\n@see SettablePolicyStateValues*/",
          "getterMethodName" : "getState",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "State",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "State",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "State",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The desired activation state of the lifecycle policy after creation.</p>\n@param state The desired activation state of the lifecycle policy after creation.\n@see SettablePolicyStateValues*/",
          "setterMethodName" : "setState",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "state",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The desired activation state of the lifecycle policy after creation.</p>\n@param state The desired activation state of the lifecycle policy after creation.\n@return Returns a reference to this object so that method calls can be chained together.\n@see SettablePolicyStateValues*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "state",
            "variableType" : "String",
            "documentation" : "<p>The desired activation state of the lifecycle policy after creation.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
[...]
