{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "CreateEndpointMessage" : [ "EndpointType", "SslMode" ],
      "CreateReplicationTaskMessage" : [ "MigrationType" ],
      "DescribeEventsMessage" : [ "SourceType" ],
      "Endpoint" : [ "EndpointType", "SslMode" ],
      "Event" : [ "SourceType" ],
      "ModifyEndpointMessage" : [ "EndpointType", "SslMode" ],
      "ModifyReplicationTaskMessage" : [ "MigrationType" ],
      "MongoDbSettings" : [ "AuthType", "AuthMechanism", "NestingLevel" ],
      "RefreshSchemasStatus" : [ "Status" ],
      "ReplicationTask" : [ "MigrationType" ],
      "S3Settings" : [ "CompressionType" ],
      "StartReplicationTaskMessage" : [ "StartReplicationTaskType" ],
      "SupportedEndpointType" : [ "EndpointType" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-01-01",
    "asyncClient" : "AWSDatabaseMigrationServiceAsyncClient",
    "asyncClientBuilderClassName" : "AWSDatabaseMigrationServiceAsyncClientBuilder",
    "asyncInterface" : "AWSDatabaseMigrationServiceAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSDatabaseMigrationServiceModuleInjector",
    "defaultEndpoint" : "dms.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "dms.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Database Migration Service</fullname> <p>AWS Database Migration Service (AWS DMS) can migrate your data to and from the most widely used commercial and open-source databases such as Oracle, PostgreSQL, Microsoft SQL Server, Amazon Redshift, MariaDB, Amazon Aurora, MySQL, and SAP Adaptive Server Enterprise (ASE). The service supports homogeneous migrations such as Oracle to Oracle, as well as heterogeneous migrations between different database platforms, such as Oracle to MySQL or SQL Server to PostgreSQL.</p> <p>For more information about AWS DMS, see the AWS DMS user guide at <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/Welcome.html\"> What Is AWS Database Migration Service? </a> </p>",
    "endpointPrefix" : "dms",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.databasemigrationservice",
    "packagePath" : "com/amazonaws/services/databasemigrationservice",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Database Migration Service",
    "serviceName" : "AWS Database Migration Service",
    "signingName" : "dms",
    "smokeTestsPackageName" : "com.amazonaws.services.databasemigrationservice.smoketests",
    "syncClient" : "AWSDatabaseMigrationServiceClient",
    "syncClientBuilderClassName" : "AWSDatabaseMigrationServiceClientBuilder",
    "syncInterface" : "AWSDatabaseMigrationService",
    "uid" : "dms-2016-01-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddTagsToResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsToResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsToResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsToResourceRequest, AddTagsToResourceResult>",
      "asyncReturnType" : "AddTagsToResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds metadata tags to a DMS resource, including replication instance, endpoint, security group, and migration task. These tags can also be used with cost allocation reporting to track cost associated with DMS resources, or used in a Condition statement in an IAM policy for DMS.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddTagsToResourceRequest",
        "variableName" : "addTagsToResourceRequest",
        "variableType" : "AddTagsToResourceRequest",
        "documentation" : "<p/>",
        "simpleType" : "AddTagsToResourceRequest",
        "variableSetterType" : "AddTagsToResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addTagsToResource",
      "operationName" : "AddTagsToResource",
      "returnType" : {
        "returnType" : "AddTagsToResourceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "AddTagsToResourceResult"
    },
    "CreateEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEndpointRequest, CreateEndpointResult>",
      "asyncReturnType" : "CreateEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an endpoint using the provided settings.</p>",
      "exceptions" : [ {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>AWS DMS was denied access to the endpoint.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateEndpointRequest",
        "variableName" : "createEndpointRequest",
        "variableType" : "CreateEndpointRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateEndpointRequest",
        "variableSetterType" : "CreateEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEndpoint",
      "operationName" : "CreateEndpoint",
      "returnType" : {
        "returnType" : "CreateEndpointResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "CreateEndpointResult"
    },
    "CreateEventSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEventSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEventSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEventSubscriptionRequest, CreateEventSubscriptionResult>",
      "asyncReturnType" : "CreateEventSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates an AWS DMS event notification subscription. </p> <p>You can specify the type of source (<code>SourceType</code>) you want to be notified of, provide a list of AWS DMS source IDs (<code>SourceIds</code>) that triggers the events, and provide a list of event categories (<code>EventCategories</code>) for events you want to be notified of. If you specify both the <code>SourceType</code> and <code>SourceIds</code>, such as <code>SourceType = replication-instance</code> and <code>SourceIdentifier = my-replinstance</code>, you will be notified of all the replication instance events for the specified source. If you specify a <code>SourceType</code> but don't specify a <code>SourceIdentifier</code>, you receive notice of the events for that source type for all your AWS DMS sources. If you don't specify either <code>SourceType</code> nor <code>SourceIdentifier</code>, you will be notified of events generated from all AWS DMS sources belonging to your customer account.</p> <p>For more information about AWS DMS events, see <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\"> Working with Events and Notifications </a> in the AWS Database MIgration Service User Guide.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SNSInvalidTopicException",
        "documentation" : "<p>The SNS topic is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SNSNoAuthorizationException",
        "documentation" : "<p>You are not authorized for the SNS subscription.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateEventSubscriptionRequest",
        "variableName" : "createEventSubscriptionRequest",
        "variableType" : "CreateEventSubscriptionRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateEventSubscriptionRequest",
        "variableSetterType" : "CreateEventSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEventSubscription",
      "operationName" : "CreateEventSubscription",
      "returnType" : {
        "returnType" : "CreateEventSubscriptionResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "CreateEventSubscriptionResult"
    },
    "CreateReplicationInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReplicationInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReplicationInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReplicationInstanceRequest, CreateReplicationInstanceResult>",
      "asyncReturnType" : "CreateReplicationInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates the replication instance using the specified parameters.</p>",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>AWS DMS was denied access to the endpoint.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InsufficientResourceCapacityException",
        "documentation" : "<p>There are not enough resources allocated to the database migration.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "StorageQuotaExceededException",
        "documentation" : "<p>The storage quota has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReplicationSubnetGroupDoesNotCoverEnoughAZsException",
        "documentation" : "<p>The replication subnet group does not cover enough Availability Zones (AZs). Edit the replication subnet group and add more AZs.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The subnet provided is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateReplicationInstanceRequest",
        "variableName" : "createReplicationInstanceRequest",
        "variableType" : "CreateReplicationInstanceRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateReplicationInstanceRequest",
        "variableSetterType" : "CreateReplicationInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createReplicationInstance",
      "operationName" : "CreateReplicationInstance",
      "returnType" : {
        "returnType" : "CreateReplicationInstanceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "CreateReplicationInstanceResult"
    },
    "CreateReplicationSubnetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReplicationSubnetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReplicationSubnetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReplicationSubnetGroupRequest, CreateReplicationSubnetGroupResult>",
      "asyncReturnType" : "CreateReplicationSubnetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a replication subnet group given a list of the subnet IDs in a VPC.</p>",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>AWS DMS was denied access to the endpoint.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReplicationSubnetGroupDoesNotCoverEnoughAZsException",
        "documentation" : "<p>The replication subnet group does not cover enough Availability Zones (AZs). Edit the replication subnet group and add more AZs.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The subnet provided is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateReplicationSubnetGroupRequest",
        "variableName" : "createReplicationSubnetGroupRequest",
        "variableType" : "CreateReplicationSubnetGroupRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateReplicationSubnetGroupRequest",
        "variableSetterType" : "CreateReplicationSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createReplicationSubnetGroup",
      "operationName" : "CreateReplicationSubnetGroup",
      "returnType" : {
        "returnType" : "CreateReplicationSubnetGroupResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "CreateReplicationSubnetGroupResult"
    },
    "CreateReplicationTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReplicationTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReplicationTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReplicationTaskRequest, CreateReplicationTaskResult>",
      "asyncReturnType" : "CreateReplicationTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a replication task using the specified parameters.</p>",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>AWS DMS was denied access to the endpoint.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateReplicationTaskRequest",
        "variableName" : "createReplicationTaskRequest",
        "variableType" : "CreateReplicationTaskRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateReplicationTaskRequest",
        "variableSetterType" : "CreateReplicationTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createReplicationTask",
      "operationName" : "CreateReplicationTask",
      "returnType" : {
        "returnType" : "CreateReplicationTaskResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "CreateReplicationTaskResult"
    },
    "DeleteCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCertificateRequest, DeleteCertificateResult>",
      "asyncReturnType" : "DeleteCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified certificate. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteCertificateRequest",
        "variableName" : "deleteCertificateRequest",
        "variableType" : "DeleteCertificateRequest",
        "documentation" : "",
        "simpleType" : "DeleteCertificateRequest",
        "variableSetterType" : "DeleteCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCertificate",
      "operationName" : "DeleteCertificate",
      "returnType" : {
        "returnType" : "DeleteCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCertificateResult"
    },
    "DeleteEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEndpointRequest, DeleteEndpointResult>",
      "asyncReturnType" : "DeleteEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified endpoint.</p> <note> <p>All tasks associated with the endpoint must be deleted before you can delete the endpoint.</p> </note> <p/>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteEndpointRequest",
        "variableName" : "deleteEndpointRequest",
        "variableType" : "DeleteEndpointRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteEndpointRequest",
        "variableSetterType" : "DeleteEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEndpoint",
      "operationName" : "DeleteEndpoint",
      "returnType" : {
        "returnType" : "DeleteEndpointResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DeleteEndpointResult"
    },
    "DeleteEventSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEventSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEventSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEventSubscriptionRequest, DeleteEventSubscriptionResult>",
      "asyncReturnType" : "DeleteEventSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes an AWS DMS event subscription. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteEventSubscriptionRequest",
        "variableName" : "deleteEventSubscriptionRequest",
        "variableType" : "DeleteEventSubscriptionRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteEventSubscriptionRequest",
        "variableSetterType" : "DeleteEventSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEventSubscription",
      "operationName" : "DeleteEventSubscription",
      "returnType" : {
        "returnType" : "DeleteEventSubscriptionResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DeleteEventSubscriptionResult"
    },
    "DeleteReplicationInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReplicationInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReplicationInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReplicationInstanceRequest, DeleteReplicationInstanceResult>",
      "asyncReturnType" : "DeleteReplicationInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified replication instance.</p> <note> <p>You must delete any migration tasks that are associated with the replication instance before you can delete it.</p> </note> <p/>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteReplicationInstanceRequest",
        "variableName" : "deleteReplicationInstanceRequest",
        "variableType" : "DeleteReplicationInstanceRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteReplicationInstanceRequest",
        "variableSetterType" : "DeleteReplicationInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteReplicationInstance",
      "operationName" : "DeleteReplicationInstance",
      "returnType" : {
        "returnType" : "DeleteReplicationInstanceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DeleteReplicationInstanceResult"
    },
    "DeleteReplicationSubnetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReplicationSubnetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReplicationSubnetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReplicationSubnetGroupRequest, DeleteReplicationSubnetGroupResult>",
      "asyncReturnType" : "DeleteReplicationSubnetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a subnet group.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteReplicationSubnetGroupRequest",
        "variableName" : "deleteReplicationSubnetGroupRequest",
        "variableType" : "DeleteReplicationSubnetGroupRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteReplicationSubnetGroupRequest",
        "variableSetterType" : "DeleteReplicationSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteReplicationSubnetGroup",
      "operationName" : "DeleteReplicationSubnetGroup",
      "returnType" : {
        "returnType" : "DeleteReplicationSubnetGroupResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DeleteReplicationSubnetGroupResult"
    },
    "DeleteReplicationTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReplicationTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReplicationTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReplicationTaskRequest, DeleteReplicationTaskResult>",
      "asyncReturnType" : "DeleteReplicationTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified replication task.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteReplicationTaskRequest",
        "variableName" : "deleteReplicationTaskRequest",
        "variableType" : "DeleteReplicationTaskRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteReplicationTaskRequest",
        "variableSetterType" : "DeleteReplicationTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteReplicationTask",
      "operationName" : "DeleteReplicationTask",
      "returnType" : {
        "returnType" : "DeleteReplicationTaskResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DeleteReplicationTaskResult"
    },
    "DescribeAccountAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountAttributesRequest, DescribeAccountAttributesResult>",
      "asyncReturnType" : "DescribeAccountAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the AWS DMS attributes for a customer account. The attributes include AWS DMS quotas for the account, such as the number of replication instances allowed. The description for a quota includes the quota name, current usage toward that quota, and the quota's maximum value.</p> <p>This command does not take any parameters.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAccountAttributesRequest",
        "variableName" : "describeAccountAttributesRequest",
        "variableType" : "DescribeAccountAttributesRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeAccountAttributesRequest",
        "variableSetterType" : "DescribeAccountAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAccountAttributes",
      "operationName" : "DescribeAccountAttributes",
      "returnType" : {
        "returnType" : "DescribeAccountAttributesResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeAccountAttributesResult"
    },
    "DescribeCertificates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCertificatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCertificatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCertificatesRequest, DescribeCertificatesResult>",
      "asyncReturnType" : "DescribeCertificatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides a description of the certificate.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeCertificatesRequest",
        "variableName" : "describeCertificatesRequest",
        "variableType" : "DescribeCertificatesRequest",
        "documentation" : "",
        "simpleType" : "DescribeCertificatesRequest",
        "variableSetterType" : "DescribeCertificatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCertificates",
      "operationName" : "DescribeCertificates",
      "returnType" : {
        "returnType" : "DescribeCertificatesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeCertificatesResult"
    },
    "DescribeConnections" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConnectionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConnectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConnectionsRequest, DescribeConnectionsResult>",
      "asyncReturnType" : "DescribeConnectionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the status of the connections that have been made between the replication instance and an endpoint. Connections are created when you test an endpoint.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConnectionsRequest",
        "variableName" : "describeConnectionsRequest",
        "variableType" : "DescribeConnectionsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeConnectionsRequest",
        "variableSetterType" : "DescribeConnectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConnections",
      "operationName" : "DescribeConnections",
      "returnType" : {
        "returnType" : "DescribeConnectionsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeConnectionsResult"
    },
    "DescribeEndpointTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEndpointTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEndpointTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEndpointTypesRequest, DescribeEndpointTypesResult>",
      "asyncReturnType" : "DescribeEndpointTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the type of endpoints available.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeEndpointTypesRequest",
        "variableName" : "describeEndpointTypesRequest",
        "variableType" : "DescribeEndpointTypesRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeEndpointTypesRequest",
        "variableSetterType" : "DescribeEndpointTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEndpointTypes",
      "operationName" : "DescribeEndpointTypes",
      "returnType" : {
        "returnType" : "DescribeEndpointTypesResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeEndpointTypesResult"
    },
    "DescribeEndpoints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEndpointsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEndpointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEndpointsRequest, DescribeEndpointsResult>",
      "asyncReturnType" : "DescribeEndpointsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the endpoints for your account in the current region.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeEndpointsRequest",
        "variableName" : "describeEndpointsRequest",
        "variableType" : "DescribeEndpointsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeEndpointsRequest",
        "variableSetterType" : "DescribeEndpointsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEndpoints",
      "operationName" : "DescribeEndpoints",
      "returnType" : {
        "returnType" : "DescribeEndpointsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeEndpointsResult"
    },
    "DescribeEventCategories" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEventCategoriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEventCategoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEventCategoriesRequest, DescribeEventCategoriesResult>",
      "asyncReturnType" : "DescribeEventCategoriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists categories for all event source types, or, if specified, for a specified source type. You can see a list of the event categories and source types in <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\"> Working with Events and Notifications </a> in the AWS Database Migration Service User Guide. </p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeEventCategoriesRequest",
        "variableName" : "describeEventCategoriesRequest",
        "variableType" : "DescribeEventCategoriesRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeEventCategoriesRequest",
        "variableSetterType" : "DescribeEventCategoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEventCategories",
      "operationName" : "DescribeEventCategories",
      "returnType" : {
        "returnType" : "DescribeEventCategoriesResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeEventCategoriesResult"
    },
    "DescribeEventSubscriptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEventSubscriptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEventSubscriptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEventSubscriptionsRequest, DescribeEventSubscriptionsResult>",
      "asyncReturnType" : "DescribeEventSubscriptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the event subscriptions for a customer account. The description of a subscription includes <code>SubscriptionName</code>, <code>SNSTopicARN</code>, <code>CustomerID</code>, <code>SourceType</code>, <code>SourceID</code>, <code>CreationTime</code>, and <code>Status</code>. </p> <p>If you specify <code>SubscriptionName</code>, this action lists the description for that subscription.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeEventSubscriptionsRequest",
        "variableName" : "describeEventSubscriptionsRequest",
        "variableType" : "DescribeEventSubscriptionsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeEventSubscriptionsRequest",
        "variableSetterType" : "DescribeEventSubscriptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEventSubscriptions",
      "operationName" : "DescribeEventSubscriptions",
      "returnType" : {
        "returnType" : "DescribeEventSubscriptionsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeEventSubscriptionsResult"
    },
    "DescribeEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEventsRequest, DescribeEventsResult>",
      "asyncReturnType" : "DescribeEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Lists events for a given source identifier and source type. You can also specify a start and end time. For more information on AWS DMS events, see <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\"> Working with Events and Notifications </a>. </p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeEventsRequest",
        "variableName" : "describeEventsRequest",
        "variableType" : "DescribeEventsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeEventsRequest",
        "variableSetterType" : "DescribeEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEvents",
      "operationName" : "DescribeEvents",
      "returnType" : {
        "returnType" : "DescribeEventsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeEventsResult"
    },
    "DescribeOrderableReplicationInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeOrderableReplicationInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeOrderableReplicationInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeOrderableReplicationInstancesRequest, DescribeOrderableReplicationInstancesResult>",
      "asyncReturnType" : "DescribeOrderableReplicationInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the replication instance types that can be created in the specified region.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeOrderableReplicationInstancesRequest",
        "variableName" : "describeOrderableReplicationInstancesRequest",
        "variableType" : "DescribeOrderableReplicationInstancesRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeOrderableReplicationInstancesRequest",
        "variableSetterType" : "DescribeOrderableReplicationInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeOrderableReplicationInstances",
      "operationName" : "DescribeOrderableReplicationInstances",
      "returnType" : {
        "returnType" : "DescribeOrderableReplicationInstancesResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeOrderableReplicationInstancesResult"
    },
    "DescribeRefreshSchemasStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRefreshSchemasStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRefreshSchemasStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRefreshSchemasStatusRequest, DescribeRefreshSchemasStatusResult>",
      "asyncReturnType" : "DescribeRefreshSchemasStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the status of the RefreshSchemas operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeRefreshSchemasStatusRequest",
        "variableName" : "describeRefreshSchemasStatusRequest",
        "variableType" : "DescribeRefreshSchemasStatusRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeRefreshSchemasStatusRequest",
        "variableSetterType" : "DescribeRefreshSchemasStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRefreshSchemasStatus",
      "operationName" : "DescribeRefreshSchemasStatus",
      "returnType" : {
        "returnType" : "DescribeRefreshSchemasStatusResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeRefreshSchemasStatusResult"
    },
    "DescribeReplicationInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReplicationInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReplicationInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReplicationInstancesRequest, DescribeReplicationInstancesResult>",
      "asyncReturnType" : "DescribeReplicationInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about replication instances for your account in the current region.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeReplicationInstancesRequest",
        "variableName" : "describeReplicationInstancesRequest",
        "variableType" : "DescribeReplicationInstancesRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeReplicationInstancesRequest",
        "variableSetterType" : "DescribeReplicationInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeReplicationInstances",
      "operationName" : "DescribeReplicationInstances",
      "returnType" : {
        "returnType" : "DescribeReplicationInstancesResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeReplicationInstancesResult"
    },
    "DescribeReplicationSubnetGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReplicationSubnetGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReplicationSubnetGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReplicationSubnetGroupsRequest, DescribeReplicationSubnetGroupsResult>",
      "asyncReturnType" : "DescribeReplicationSubnetGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the replication subnet groups.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeReplicationSubnetGroupsRequest",
        "variableName" : "describeReplicationSubnetGroupsRequest",
        "variableType" : "DescribeReplicationSubnetGroupsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeReplicationSubnetGroupsRequest",
        "variableSetterType" : "DescribeReplicationSubnetGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeReplicationSubnetGroups",
      "operationName" : "DescribeReplicationSubnetGroups",
      "returnType" : {
        "returnType" : "DescribeReplicationSubnetGroupsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeReplicationSubnetGroupsResult"
    },
    "DescribeReplicationTaskAssessmentResults" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReplicationTaskAssessmentResultsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReplicationTaskAssessmentResultsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReplicationTaskAssessmentResultsRequest, DescribeReplicationTaskAssessmentResultsResult>",
      "asyncReturnType" : "DescribeReplicationTaskAssessmentResultsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the task assessment results from Amazon S3. This action always returns the latest results.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeReplicationTaskAssessmentResultsRequest",
        "variableName" : "describeReplicationTaskAssessmentResultsRequest",
        "variableType" : "DescribeReplicationTaskAssessmentResultsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeReplicationTaskAssessmentResultsRequest",
        "variableSetterType" : "DescribeReplicationTaskAssessmentResultsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeReplicationTaskAssessmentResults",
      "operationName" : "DescribeReplicationTaskAssessmentResults",
      "returnType" : {
        "returnType" : "DescribeReplicationTaskAssessmentResultsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeReplicationTaskAssessmentResultsResult"
    },
    "DescribeReplicationTasks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReplicationTasksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReplicationTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReplicationTasksRequest, DescribeReplicationTasksResult>",
      "asyncReturnType" : "DescribeReplicationTasksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about replication tasks for your account in the current region.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeReplicationTasksRequest",
        "variableName" : "describeReplicationTasksRequest",
        "variableType" : "DescribeReplicationTasksRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeReplicationTasksRequest",
        "variableSetterType" : "DescribeReplicationTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeReplicationTasks",
      "operationName" : "DescribeReplicationTasks",
      "returnType" : {
        "returnType" : "DescribeReplicationTasksResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeReplicationTasksResult"
    },
    "DescribeSchemas" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSchemasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSchemasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSchemasRequest, DescribeSchemasResult>",
      "asyncReturnType" : "DescribeSchemasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the schema for the specified endpoint.</p> <p/>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeSchemasRequest",
        "variableName" : "describeSchemasRequest",
        "variableType" : "DescribeSchemasRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeSchemasRequest",
        "variableSetterType" : "DescribeSchemasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSchemas",
      "operationName" : "DescribeSchemas",
      "returnType" : {
        "returnType" : "DescribeSchemasResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeSchemasResult"
    },
    "DescribeTableStatistics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTableStatisticsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTableStatisticsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTableStatisticsRequest, DescribeTableStatisticsResult>",
      "asyncReturnType" : "DescribeTableStatisticsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns table statistics on the database migration task, including table name, rows inserted, rows updated, and rows deleted.</p> <p>Note that the \"last updated\" column the DMS console only indicates the time that AWS DMS last updated the table statistics record for a table. It does not indicate the time of the last update to the table.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTableStatisticsRequest",
        "variableName" : "describeTableStatisticsRequest",
        "variableType" : "DescribeTableStatisticsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeTableStatisticsRequest",
        "variableSetterType" : "DescribeTableStatisticsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTableStatistics",
      "operationName" : "DescribeTableStatistics",
      "returnType" : {
        "returnType" : "DescribeTableStatisticsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeTableStatisticsResult"
    },
    "ImportCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportCertificateRequest, ImportCertificateResult>",
      "asyncReturnType" : "ImportCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Uploads the specified certificate.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCertificateException",
        "documentation" : "<p>The certificate was not valid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ImportCertificateRequest",
        "variableName" : "importCertificateRequest",
        "variableType" : "ImportCertificateRequest",
        "documentation" : "",
        "simpleType" : "ImportCertificateRequest",
        "variableSetterType" : "ImportCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importCertificate",
      "operationName" : "ImportCertificate",
      "returnType" : {
        "returnType" : "ImportCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportCertificateResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all tags for an AWS DMS resource.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "<p/>",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ModifyEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyEndpointRequest, ModifyEndpointResult>",
      "asyncReturnType" : "ModifyEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the specified endpoint.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>AWS DMS was denied access to the endpoint.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyEndpointRequest",
        "variableName" : "modifyEndpointRequest",
        "variableType" : "ModifyEndpointRequest",
        "documentation" : "<p/>",
        "simpleType" : "ModifyEndpointRequest",
        "variableSetterType" : "ModifyEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyEndpoint",
      "operationName" : "ModifyEndpoint",
      "returnType" : {
        "returnType" : "ModifyEndpointResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ModifyEndpointResult"
    },
    "ModifyEventSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyEventSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyEventSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyEventSubscriptionRequest, ModifyEventSubscriptionResult>",
      "asyncReturnType" : "ModifyEventSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies an existing AWS DMS event notification subscription. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SNSInvalidTopicException",
        "documentation" : "<p>The SNS topic is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SNSNoAuthorizationException",
        "documentation" : "<p>You are not authorized for the SNS subscription.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyEventSubscriptionRequest",
        "variableName" : "modifyEventSubscriptionRequest",
        "variableType" : "ModifyEventSubscriptionRequest",
        "documentation" : "<p/>",
        "simpleType" : "ModifyEventSubscriptionRequest",
        "variableSetterType" : "ModifyEventSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyEventSubscription",
      "operationName" : "ModifyEventSubscription",
      "returnType" : {
        "returnType" : "ModifyEventSubscriptionResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ModifyEventSubscriptionResult"
    },
    "ModifyReplicationInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyReplicationInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyReplicationInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyReplicationInstanceRequest, ModifyReplicationInstanceResult>",
      "asyncReturnType" : "ModifyReplicationInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the replication instance to apply new settings. You can change one or more parameters by specifying these parameters and the new values in the request.</p> <p>Some settings are applied during the maintenance window.</p> <p/>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InsufficientResourceCapacityException",
        "documentation" : "<p>There are not enough resources allocated to the database migration.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "StorageQuotaExceededException",
        "documentation" : "<p>The storage quota has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UpgradeDependencyFailureException",
        "documentation" : "<p>An upgrade dependency is preventing the database migration.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyReplicationInstanceRequest",
        "variableName" : "modifyReplicationInstanceRequest",
        "variableType" : "ModifyReplicationInstanceRequest",
        "documentation" : "<p/>",
        "simpleType" : "ModifyReplicationInstanceRequest",
        "variableSetterType" : "ModifyReplicationInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyReplicationInstance",
      "operationName" : "ModifyReplicationInstance",
      "returnType" : {
        "returnType" : "ModifyReplicationInstanceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ModifyReplicationInstanceResult"
    },
    "ModifyReplicationSubnetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyReplicationSubnetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyReplicationSubnetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyReplicationSubnetGroupRequest, ModifyReplicationSubnetGroupResult>",
      "asyncReturnType" : "ModifyReplicationSubnetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the settings for the specified replication subnet group.</p>",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>AWS DMS was denied access to the endpoint.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SubnetAlreadyInUseException",
        "documentation" : "<p>The specified subnet is already in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReplicationSubnetGroupDoesNotCoverEnoughAZsException",
        "documentation" : "<p>The replication subnet group does not cover enough Availability Zones (AZs). Edit the replication subnet group and add more AZs.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The subnet provided is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyReplicationSubnetGroupRequest",
        "variableName" : "modifyReplicationSubnetGroupRequest",
        "variableType" : "ModifyReplicationSubnetGroupRequest",
        "documentation" : "<p/>",
        "simpleType" : "ModifyReplicationSubnetGroupRequest",
        "variableSetterType" : "ModifyReplicationSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyReplicationSubnetGroup",
      "operationName" : "ModifyReplicationSubnetGroup",
      "returnType" : {
        "returnType" : "ModifyReplicationSubnetGroupResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ModifyReplicationSubnetGroupResult"
    },
    "ModifyReplicationTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyReplicationTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyReplicationTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyReplicationTaskRequest, ModifyReplicationTaskResult>",
      "asyncReturnType" : "ModifyReplicationTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the specified replication task.</p> <p>You can't modify the task endpoints. The task must be stopped before you can modify it. </p> <p>For more information about AWS DMS tasks, see the AWS DMS user guide at <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.html\"> Working with Migration Tasks </a> </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyReplicationTaskRequest",
        "variableName" : "modifyReplicationTaskRequest",
        "variableType" : "ModifyReplicationTaskRequest",
        "documentation" : "<p/>",
        "simpleType" : "ModifyReplicationTaskRequest",
        "variableSetterType" : "ModifyReplicationTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyReplicationTask",
      "operationName" : "ModifyReplicationTask",
      "returnType" : {
        "returnType" : "ModifyReplicationTaskResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ModifyReplicationTaskResult"
    },
    "RefreshSchemas" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RefreshSchemasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RefreshSchemasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RefreshSchemasRequest, RefreshSchemasResult>",
      "asyncReturnType" : "RefreshSchemasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Populates the schema for the specified endpoint. This is an asynchronous operation and can take several minutes. You can check the status of this operation by calling the DescribeRefreshSchemasStatus operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RefreshSchemasRequest",
        "variableName" : "refreshSchemasRequest",
        "variableType" : "RefreshSchemasRequest",
        "documentation" : "<p/>",
        "simpleType" : "RefreshSchemasRequest",
        "variableSetterType" : "RefreshSchemasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "refreshSchemas",
      "operationName" : "RefreshSchemas",
      "returnType" : {
        "returnType" : "RefreshSchemasResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "RefreshSchemasResult"
    },
    "ReloadTables" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ReloadTablesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ReloadTablesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ReloadTablesRequest, ReloadTablesResult>",
      "asyncReturnType" : "ReloadTablesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Reloads the target database table with the source data. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ReloadTablesRequest",
        "variableName" : "reloadTablesRequest",
        "variableType" : "ReloadTablesRequest",
        "documentation" : "",
        "simpleType" : "ReloadTablesRequest",
        "variableSetterType" : "ReloadTablesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "reloadTables",
      "operationName" : "ReloadTables",
      "returnType" : {
        "returnType" : "ReloadTablesResult",
        "documentation" : null
      },
      "syncReturnType" : "ReloadTablesResult"
    },
    "RemoveTagsFromResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsFromResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsFromResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsFromResourceRequest, RemoveTagsFromResourceResult>",
      "asyncReturnType" : "RemoveTagsFromResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes metadata tags from a DMS resource.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemoveTagsFromResourceRequest",
        "variableName" : "removeTagsFromResourceRequest",
        "variableType" : "RemoveTagsFromResourceRequest",
        "documentation" : "<p/>",
        "simpleType" : "RemoveTagsFromResourceRequest",
        "variableSetterType" : "RemoveTagsFromResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeTagsFromResource",
      "operationName" : "RemoveTagsFromResource",
      "returnType" : {
        "returnType" : "RemoveTagsFromResourceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "RemoveTagsFromResourceResult"
    },
    "StartReplicationTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartReplicationTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartReplicationTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartReplicationTaskRequest, StartReplicationTaskResult>",
      "asyncReturnType" : "StartReplicationTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the replication task.</p> <p>For more information about AWS DMS tasks, see the AWS DMS user guide at <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.html\"> Working with Migration Tasks </a> </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartReplicationTaskRequest",
        "variableName" : "startReplicationTaskRequest",
        "variableType" : "StartReplicationTaskRequest",
        "documentation" : "<p/>",
        "simpleType" : "StartReplicationTaskRequest",
        "variableSetterType" : "StartReplicationTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startReplicationTask",
      "operationName" : "StartReplicationTask",
      "returnType" : {
        "returnType" : "StartReplicationTaskResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "StartReplicationTaskResult"
    },
    "StartReplicationTaskAssessment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartReplicationTaskAssessmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartReplicationTaskAssessmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartReplicationTaskAssessmentRequest, StartReplicationTaskAssessmentResult>",
      "asyncReturnType" : "StartReplicationTaskAssessmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Starts the replication task assessment for unsupported data types in the source database. </p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartReplicationTaskAssessmentRequest",
        "variableName" : "startReplicationTaskAssessmentRequest",
        "variableType" : "StartReplicationTaskAssessmentRequest",
        "documentation" : "<p/>",
        "simpleType" : "StartReplicationTaskAssessmentRequest",
        "variableSetterType" : "StartReplicationTaskAssessmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startReplicationTaskAssessment",
      "operationName" : "StartReplicationTaskAssessment",
      "returnType" : {
        "returnType" : "StartReplicationTaskAssessmentResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "StartReplicationTaskAssessmentResult"
    },
    "StopReplicationTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopReplicationTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopReplicationTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopReplicationTaskRequest, StopReplicationTaskResult>",
      "asyncReturnType" : "StopReplicationTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops the replication task.</p> <p/>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopReplicationTaskRequest",
        "variableName" : "stopReplicationTaskRequest",
        "variableType" : "StopReplicationTaskRequest",
        "documentation" : "<p/>",
        "simpleType" : "StopReplicationTaskRequest",
        "variableSetterType" : "StopReplicationTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopReplicationTask",
      "operationName" : "StopReplicationTask",
      "returnType" : {
        "returnType" : "StopReplicationTaskResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "StopReplicationTaskResult"
    },
    "TestConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TestConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TestConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TestConnectionRequest, TestConnectionResult>",
      "asyncReturnType" : "TestConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tests the connection between the replication instance and the endpoint.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TestConnectionRequest",
        "variableName" : "testConnectionRequest",
        "variableType" : "TestConnectionRequest",
        "documentation" : "<p/>",
        "simpleType" : "TestConnectionRequest",
        "variableSetterType" : "TestConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "testConnection",
      "operationName" : "TestConnection",
      "returnType" : {
        "returnType" : "TestConnectionResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "TestConnectionResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedFault",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>AWS DMS was denied access to the endpoint.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedFault",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AccountQuota" : {
      "c2jName" : "AccountQuota",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes a quota for an AWS account, for example, the number of replication instances allowed.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AccountQuotaName",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the AWS DMS quota for this AWS account.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the AWS DMS quota for this AWS account.</p>\n@param accountQuotaName The name of the AWS DMS quota for this AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccountQuotaName",
        "getterDocumentation" : "/**<p>The name of the AWS DMS quota for this AWS account.</p>\n@return The name of the AWS DMS quota for this AWS account.*/",
        "getterMethodName" : "getAccountQuotaName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AccountQuotaName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AccountQuotaName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccountQuotaName",
        "setterDocumentation" : "/**<p>The name of the AWS DMS quota for this AWS account.</p>\n@param accountQuotaName The name of the AWS DMS quota for this AWS account.*/",
        "setterMethodName" : "setAccountQuotaName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "accountQuotaName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the AWS DMS quota for this AWS account.</p>\n@param accountQuotaName The name of the AWS DMS quota for this AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "accountQuotaName",
          "variableType" : "String",
          "documentation" : "<p>The name of the AWS DMS quota for this AWS account.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Used",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p>The amount currently used toward the quota maximum.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The amount currently used toward the quota maximum.</p>\n@param used The amount currently used toward the quota maximum.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUsed",
        "getterDocumentation" : "/**<p>The amount currently used toward the quota maximum.</p>\n@return The amount currently used toward the quota maximum.*/",
        "getterMethodName" : "getUsed",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Used",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Used",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "Used",
        "setterDocumentation" : "/**<p>The amount currently used toward the quota maximum.</p>\n@param used The amount currently used toward the quota maximum.*/",
        "setterMethodName" : "setUsed",
        "setterModel" : {
          "variableDeclarationType" : "Long",
          "variableName" : "used",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The amount currently used toward the quota maximum.</p>\n@param used The amount currently used toward the quota maximum.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Long",
          "variableName" : "used",
          "variableType" : "Long",
          "documentation" : "<p>The amount currently used toward the quota maximum.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Max",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p>The maximum allowed value for the quota.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The maximum allowed value for the quota.</p>\n@param max The maximum allowed value for the quota.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMax",
        "getterDocumentation" : "/**<p>The maximum allowed value for the quota.</p>\n@return The maximum allowed value for the quota.*/",
        "getterMethodName" : "getMax",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Max",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Max",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "Max",
        "setterDocumentation" : "/**<p>The maximum allowed value for the quota.</p>\n@param max The maximum allowed value for the quota.*/",
        "setterMethodName" : "setMax",
        "setterModel" : {
          "variableDeclarationType" : "Long",
          "variableName" : "max",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The maximum allowed value for the quota.</p>\n@param max The maximum allowed value for the quota.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Long",
          "variableName" : "max",
          "variableType" : "Long",
          "documentation" : "<p>The maximum allowed value for the quota.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AccountQuotaName" : {
          "c2jName" : "AccountQuotaName",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The name of the AWS DMS quota for this AWS account.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the AWS DMS quota for this AWS account.</p>\n@param accountQuotaName The name of the AWS DMS quota for this AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAccountQuotaName",
          "getterDocumentation" : "/**<p>The name of the AWS DMS quota for this AWS account.</p>\n@return The name of the AWS DMS quota for this AWS account.*/",
          "getterMethodName" : "getAccountQuotaName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AccountQuotaName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AccountQuotaName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AccountQuotaName",
          "setterDocumentation" : "/**<p>The name of the AWS DMS quota for this AWS account.</p>\n@param accountQuotaName The name of the AWS DMS quota for this AWS account.*/",
          "setterMethodName" : "setAccountQuotaName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "accountQuotaName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the AWS DMS quota for this AWS account.</p>\n@param accountQuotaName The name of the AWS DMS quota for this AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "accountQuotaName",
            "variableType" : "String",
            "documentation" : "<p>The name of the AWS DMS quota for this AWS account.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Max" : {
          "c2jName" : "Max",
          "c2jShape" : "Long",
          "deprecated" : false,
          "documentation" : "<p>The maximum allowed value for the quota.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The maximum allowed value for the quota.</p>\n@param max The maximum allowed value for the quota.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMax",
          "getterDocumentation" : "/**<p>The maximum allowed value for the quota.</p>\n@return The maximum allowed value for the quota.*/",
          "getterMethodName" : "getMax",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Max",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Max",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "Max",
          "setterDocumentation" : "/**<p>The maximum allowed value for the quota.</p>\n@param max The maximum allowed value for the quota.*/",
          "setterMethodName" : "setMax",
          "setterModel" : {
            "variableDeclarationType" : "Long",
            "variableName" : "max",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The maximum allowed value for the quota.</p>\n@param max The maximum allowed value for the quota.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Long",
            "variableName" : "max",
            "variableType" : "Long",
            "documentation" : "<p>The maximum allowed value for the quota.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "Used" : {
          "c2jName" : "Used",
          "c2jShape" : "Long",
          "deprecated" : false,
          "documentation" : "<p>The amount currently used toward the quota maximum.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The amount currently used toward the quota maximum.</p>\n@param used The amount currently used toward the quota maximum.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withUsed",
          "getterDocumentation" : "/**<p>The amount currently used toward the quota maximum.</p>\n@return The amount currently used toward the quota maximum.*/",
[...]
