{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-01-01",
    "asyncClient" : "AWSDatabaseMigrationServiceAsyncClient",
    "asyncClientBuilderClassName" : "AWSDatabaseMigrationServiceAsyncClientBuilder",
    "asyncInterface" : "AWSDatabaseMigrationServiceAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSDatabaseMigrationServiceModuleInjector",
    "defaultEndpoint" : "dms.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "dms.us-east-1.amazonaws.com",
    "documentation" : "<fullname>AWS Database Migration Service</fullname> <p>AWS Database Migration Service (AWS DMS) can migrate your data to and from the most widely used commercial and open-source databases such as Oracle, PostgreSQL, Microsoft SQL Server, Amazon Redshift, MariaDB, Amazon Aurora, and MySQL. The service supports homogeneous migrations such as Oracle to Oracle, as well as heterogeneous migrations between different database platforms, such as Oracle to MySQL or SQL Server to PostgreSQL.</p>",
    "endpointPrefix" : "dms",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.databasemigrationservice",
    "packagePath" : "com/amazonaws/services/databasemigrationservice",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Database Migration Service",
    "serviceName" : "AWS Database Migration Service",
    "signingName" : "dms",
    "smokeTestsPackageName" : "com.amazonaws.services.databasemigrationservice.smoketests",
    "syncClient" : "AWSDatabaseMigrationServiceClient",
    "syncClientBuilderClassName" : "AWSDatabaseMigrationServiceClientBuilder",
    "syncInterface" : "AWSDatabaseMigrationService",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddTagsToResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsToResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsToResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsToResourceRequest, AddTagsToResourceResult>",
      "asyncReturnType" : "AddTagsToResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds metadata tags to a DMS resource, including replication instance, endpoint, security group, and migration task. These tags can also be used with cost allocation reporting to track cost associated with DMS resources, or used in a Condition statement in an IAM policy for DMS.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddTagsToResourceRequest",
        "variableName" : "addTagsToResourceRequest",
        "variableType" : "AddTagsToResourceRequest",
        "documentation" : "<p/>",
        "simpleType" : "AddTagsToResourceRequest",
        "variableSetterType" : "AddTagsToResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addTagsToResource",
      "operationName" : "AddTagsToResource",
      "returnType" : {
        "returnType" : "AddTagsToResourceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "AddTagsToResourceResult"
    },
    "CreateEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEndpointRequest, CreateEndpointResult>",
      "asyncReturnType" : "CreateEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an endpoint using the provided settings.</p>",
      "exceptions" : [ {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateEndpointRequest",
        "variableName" : "createEndpointRequest",
        "variableType" : "CreateEndpointRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateEndpointRequest",
        "variableSetterType" : "CreateEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEndpoint",
      "operationName" : "CreateEndpoint",
      "returnType" : {
        "returnType" : "CreateEndpointResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "CreateEndpointResult"
    },
    "CreateReplicationInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReplicationInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReplicationInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReplicationInstanceRequest, CreateReplicationInstanceResult>",
      "asyncReturnType" : "CreateReplicationInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates the replication instance using the specified parameters.</p>",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>AWS DMS was denied access to the endpoint.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>"
      }, {
        "exceptionName" : "InsufficientResourceCapacityException",
        "documentation" : "<p>There are not enough resources allocated to the database migration.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      }, {
        "exceptionName" : "StorageQuotaExceededException",
        "documentation" : "<p>The storage quota has been exceeded.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "ReplicationSubnetGroupDoesNotCoverEnoughAZsException",
        "documentation" : "<p>The replication subnet group does not cover enough Availability Zones (AZs). Edit the replication subnet group and add more AZs.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The subnet provided is invalid.</p>"
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateReplicationInstanceRequest",
        "variableName" : "createReplicationInstanceRequest",
        "variableType" : "CreateReplicationInstanceRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateReplicationInstanceRequest",
        "variableSetterType" : "CreateReplicationInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createReplicationInstance",
      "operationName" : "CreateReplicationInstance",
      "returnType" : {
        "returnType" : "CreateReplicationInstanceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "CreateReplicationInstanceResult"
    },
    "CreateReplicationSubnetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReplicationSubnetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReplicationSubnetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReplicationSubnetGroupRequest, CreateReplicationSubnetGroupResult>",
      "asyncReturnType" : "CreateReplicationSubnetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a replication subnet group given a list of the subnet IDs in a VPC.</p>",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>AWS DMS was denied access to the endpoint.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      }, {
        "exceptionName" : "ReplicationSubnetGroupDoesNotCoverEnoughAZsException",
        "documentation" : "<p>The replication subnet group does not cover enough Availability Zones (AZs). Edit the replication subnet group and add more AZs.</p>"
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The subnet provided is invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateReplicationSubnetGroupRequest",
        "variableName" : "createReplicationSubnetGroupRequest",
        "variableType" : "CreateReplicationSubnetGroupRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateReplicationSubnetGroupRequest",
        "variableSetterType" : "CreateReplicationSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createReplicationSubnetGroup",
      "operationName" : "CreateReplicationSubnetGroup",
      "returnType" : {
        "returnType" : "CreateReplicationSubnetGroupResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "CreateReplicationSubnetGroupResult"
    },
    "CreateReplicationTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReplicationTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReplicationTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReplicationTaskRequest, CreateReplicationTaskResult>",
      "asyncReturnType" : "CreateReplicationTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a replication task using the specified parameters.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateReplicationTaskRequest",
        "variableName" : "createReplicationTaskRequest",
        "variableType" : "CreateReplicationTaskRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateReplicationTaskRequest",
        "variableSetterType" : "CreateReplicationTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createReplicationTask",
      "operationName" : "CreateReplicationTask",
      "returnType" : {
        "returnType" : "CreateReplicationTaskResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "CreateReplicationTaskResult"
    },
    "DeleteCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCertificateRequest, DeleteCertificateResult>",
      "asyncReturnType" : "DeleteCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified certificate. </p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteCertificateRequest",
        "variableName" : "deleteCertificateRequest",
        "variableType" : "DeleteCertificateRequest",
        "documentation" : "",
        "simpleType" : "DeleteCertificateRequest",
        "variableSetterType" : "DeleteCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCertificate",
      "operationName" : "DeleteCertificate",
      "returnType" : {
        "returnType" : "DeleteCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCertificateResult"
    },
    "DeleteEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEndpointRequest, DeleteEndpointResult>",
      "asyncReturnType" : "DeleteEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified endpoint.</p> <note> <p>All tasks associated with the endpoint must be deleted before you can delete the endpoint.</p> </note> <p/>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteEndpointRequest",
        "variableName" : "deleteEndpointRequest",
        "variableType" : "DeleteEndpointRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteEndpointRequest",
        "variableSetterType" : "DeleteEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEndpoint",
      "operationName" : "DeleteEndpoint",
      "returnType" : {
        "returnType" : "DeleteEndpointResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DeleteEndpointResult"
    },
    "DeleteReplicationInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReplicationInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReplicationInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReplicationInstanceRequest, DeleteReplicationInstanceResult>",
      "asyncReturnType" : "DeleteReplicationInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified replication instance.</p> <note> <p>You must delete any migration tasks that are associated with the replication instance before you can delete it.</p> </note> <p/>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteReplicationInstanceRequest",
        "variableName" : "deleteReplicationInstanceRequest",
        "variableType" : "DeleteReplicationInstanceRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteReplicationInstanceRequest",
        "variableSetterType" : "DeleteReplicationInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteReplicationInstance",
      "operationName" : "DeleteReplicationInstance",
      "returnType" : {
        "returnType" : "DeleteReplicationInstanceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DeleteReplicationInstanceResult"
    },
    "DeleteReplicationSubnetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReplicationSubnetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReplicationSubnetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReplicationSubnetGroupRequest, DeleteReplicationSubnetGroupResult>",
      "asyncReturnType" : "DeleteReplicationSubnetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a subnet group.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteReplicationSubnetGroupRequest",
        "variableName" : "deleteReplicationSubnetGroupRequest",
        "variableType" : "DeleteReplicationSubnetGroupRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteReplicationSubnetGroupRequest",
        "variableSetterType" : "DeleteReplicationSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteReplicationSubnetGroup",
      "operationName" : "DeleteReplicationSubnetGroup",
      "returnType" : {
        "returnType" : "DeleteReplicationSubnetGroupResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DeleteReplicationSubnetGroupResult"
    },
    "DeleteReplicationTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReplicationTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReplicationTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReplicationTaskRequest, DeleteReplicationTaskResult>",
      "asyncReturnType" : "DeleteReplicationTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified replication task.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteReplicationTaskRequest",
        "variableName" : "deleteReplicationTaskRequest",
        "variableType" : "DeleteReplicationTaskRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteReplicationTaskRequest",
        "variableSetterType" : "DeleteReplicationTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteReplicationTask",
      "operationName" : "DeleteReplicationTask",
      "returnType" : {
        "returnType" : "DeleteReplicationTaskResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DeleteReplicationTaskResult"
    },
    "DescribeAccountAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountAttributesRequest, DescribeAccountAttributesResult>",
      "asyncReturnType" : "DescribeAccountAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the AWS DMS attributes for a customer account. The attributes include AWS DMS quotas for the account, such as the number of replication instances allowed. The description for a quota includes the quota name, current usage toward that quota, and the quota's maximum value.</p> <p>This command does not take any parameters.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAccountAttributesRequest",
        "variableName" : "describeAccountAttributesRequest",
        "variableType" : "DescribeAccountAttributesRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeAccountAttributesRequest",
        "variableSetterType" : "DescribeAccountAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAccountAttributes",
      "operationName" : "DescribeAccountAttributes",
      "returnType" : {
        "returnType" : "DescribeAccountAttributesResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeAccountAttributesResult"
    },
    "DescribeCertificates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCertificatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCertificatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCertificatesRequest, DescribeCertificatesResult>",
      "asyncReturnType" : "DescribeCertificatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides a description of the certificate.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeCertificatesRequest",
        "variableName" : "describeCertificatesRequest",
        "variableType" : "DescribeCertificatesRequest",
        "documentation" : "",
        "simpleType" : "DescribeCertificatesRequest",
        "variableSetterType" : "DescribeCertificatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCertificates",
      "operationName" : "DescribeCertificates",
      "returnType" : {
        "returnType" : "DescribeCertificatesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeCertificatesResult"
    },
    "DescribeConnections" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConnectionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConnectionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConnectionsRequest, DescribeConnectionsResult>",
      "asyncReturnType" : "DescribeConnectionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the status of the connections that have been made between the replication instance and an endpoint. Connections are created when you test an endpoint.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConnectionsRequest",
        "variableName" : "describeConnectionsRequest",
        "variableType" : "DescribeConnectionsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeConnectionsRequest",
        "variableSetterType" : "DescribeConnectionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConnections",
      "operationName" : "DescribeConnections",
      "returnType" : {
        "returnType" : "DescribeConnectionsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeConnectionsResult"
    },
    "DescribeEndpointTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEndpointTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEndpointTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEndpointTypesRequest, DescribeEndpointTypesResult>",
      "asyncReturnType" : "DescribeEndpointTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the type of endpoints available.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeEndpointTypesRequest",
        "variableName" : "describeEndpointTypesRequest",
        "variableType" : "DescribeEndpointTypesRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeEndpointTypesRequest",
        "variableSetterType" : "DescribeEndpointTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEndpointTypes",
      "operationName" : "DescribeEndpointTypes",
      "returnType" : {
        "returnType" : "DescribeEndpointTypesResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeEndpointTypesResult"
    },
    "DescribeEndpoints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEndpointsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEndpointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEndpointsRequest, DescribeEndpointsResult>",
      "asyncReturnType" : "DescribeEndpointsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the endpoints for your account in the current region.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeEndpointsRequest",
        "variableName" : "describeEndpointsRequest",
        "variableType" : "DescribeEndpointsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeEndpointsRequest",
        "variableSetterType" : "DescribeEndpointsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEndpoints",
      "operationName" : "DescribeEndpoints",
      "returnType" : {
        "returnType" : "DescribeEndpointsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeEndpointsResult"
    },
    "DescribeOrderableReplicationInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeOrderableReplicationInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeOrderableReplicationInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeOrderableReplicationInstancesRequest, DescribeOrderableReplicationInstancesResult>",
      "asyncReturnType" : "DescribeOrderableReplicationInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the replication instance types that can be created in the specified region.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeOrderableReplicationInstancesRequest",
        "variableName" : "describeOrderableReplicationInstancesRequest",
        "variableType" : "DescribeOrderableReplicationInstancesRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeOrderableReplicationInstancesRequest",
        "variableSetterType" : "DescribeOrderableReplicationInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeOrderableReplicationInstances",
      "operationName" : "DescribeOrderableReplicationInstances",
      "returnType" : {
        "returnType" : "DescribeOrderableReplicationInstancesResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeOrderableReplicationInstancesResult"
    },
    "DescribeRefreshSchemasStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRefreshSchemasStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRefreshSchemasStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRefreshSchemasStatusRequest, DescribeRefreshSchemasStatusResult>",
      "asyncReturnType" : "DescribeRefreshSchemasStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the status of the RefreshSchemas operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeRefreshSchemasStatusRequest",
        "variableName" : "describeRefreshSchemasStatusRequest",
        "variableType" : "DescribeRefreshSchemasStatusRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeRefreshSchemasStatusRequest",
        "variableSetterType" : "DescribeRefreshSchemasStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRefreshSchemasStatus",
      "operationName" : "DescribeRefreshSchemasStatus",
      "returnType" : {
        "returnType" : "DescribeRefreshSchemasStatusResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeRefreshSchemasStatusResult"
    },
    "DescribeReplicationInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReplicationInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReplicationInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReplicationInstancesRequest, DescribeReplicationInstancesResult>",
      "asyncReturnType" : "DescribeReplicationInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about replication instances for your account in the current region.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeReplicationInstancesRequest",
        "variableName" : "describeReplicationInstancesRequest",
        "variableType" : "DescribeReplicationInstancesRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeReplicationInstancesRequest",
        "variableSetterType" : "DescribeReplicationInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeReplicationInstances",
      "operationName" : "DescribeReplicationInstances",
      "returnType" : {
        "returnType" : "DescribeReplicationInstancesResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeReplicationInstancesResult"
    },
    "DescribeReplicationSubnetGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReplicationSubnetGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReplicationSubnetGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReplicationSubnetGroupsRequest, DescribeReplicationSubnetGroupsResult>",
      "asyncReturnType" : "DescribeReplicationSubnetGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the replication subnet groups.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeReplicationSubnetGroupsRequest",
        "variableName" : "describeReplicationSubnetGroupsRequest",
        "variableType" : "DescribeReplicationSubnetGroupsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeReplicationSubnetGroupsRequest",
        "variableSetterType" : "DescribeReplicationSubnetGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeReplicationSubnetGroups",
      "operationName" : "DescribeReplicationSubnetGroups",
      "returnType" : {
        "returnType" : "DescribeReplicationSubnetGroupsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeReplicationSubnetGroupsResult"
    },
    "DescribeReplicationTasks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReplicationTasksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReplicationTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReplicationTasksRequest, DescribeReplicationTasksResult>",
      "asyncReturnType" : "DescribeReplicationTasksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about replication tasks for your account in the current region.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeReplicationTasksRequest",
        "variableName" : "describeReplicationTasksRequest",
        "variableType" : "DescribeReplicationTasksRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeReplicationTasksRequest",
        "variableSetterType" : "DescribeReplicationTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeReplicationTasks",
      "operationName" : "DescribeReplicationTasks",
      "returnType" : {
        "returnType" : "DescribeReplicationTasksResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeReplicationTasksResult"
    },
    "DescribeSchemas" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSchemasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSchemasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSchemasRequest, DescribeSchemasResult>",
      "asyncReturnType" : "DescribeSchemasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the schema for the specified endpoint.</p> <p/>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeSchemasRequest",
        "variableName" : "describeSchemasRequest",
        "variableType" : "DescribeSchemasRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeSchemasRequest",
        "variableSetterType" : "DescribeSchemasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSchemas",
      "operationName" : "DescribeSchemas",
      "returnType" : {
        "returnType" : "DescribeSchemasResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeSchemasResult"
    },
    "DescribeTableStatistics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTableStatisticsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTableStatisticsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTableStatisticsRequest, DescribeTableStatisticsResult>",
      "asyncReturnType" : "DescribeTableStatisticsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns table statistics on the database migration task, including table name, rows inserted, rows updated, and rows deleted.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTableStatisticsRequest",
        "variableName" : "describeTableStatisticsRequest",
        "variableType" : "DescribeTableStatisticsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeTableStatisticsRequest",
        "variableSetterType" : "DescribeTableStatisticsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTableStatistics",
      "operationName" : "DescribeTableStatistics",
      "returnType" : {
        "returnType" : "DescribeTableStatisticsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeTableStatisticsResult"
    },
    "ImportCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportCertificateRequest, ImportCertificateResult>",
      "asyncReturnType" : "ImportCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Uploads the specified certificate.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>"
      }, {
        "exceptionName" : "InvalidCertificateException",
        "documentation" : "<p>The certificate was not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ImportCertificateRequest",
        "variableName" : "importCertificateRequest",
        "variableType" : "ImportCertificateRequest",
        "documentation" : "",
        "simpleType" : "ImportCertificateRequest",
        "variableSetterType" : "ImportCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importCertificate",
      "operationName" : "ImportCertificate",
      "returnType" : {
        "returnType" : "ImportCertificateResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportCertificateResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all tags for an AWS DMS resource.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "<p/>",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ModifyEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyEndpointRequest, ModifyEndpointResult>",
      "asyncReturnType" : "ModifyEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the specified endpoint.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>"
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyEndpointRequest",
        "variableName" : "modifyEndpointRequest",
        "variableType" : "ModifyEndpointRequest",
        "documentation" : "<p/>",
        "simpleType" : "ModifyEndpointRequest",
        "variableSetterType" : "ModifyEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyEndpoint",
      "operationName" : "ModifyEndpoint",
      "returnType" : {
        "returnType" : "ModifyEndpointResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ModifyEndpointResult"
    },
    "ModifyReplicationInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyReplicationInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyReplicationInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyReplicationInstanceRequest, ModifyReplicationInstanceResult>",
      "asyncReturnType" : "ModifyReplicationInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the replication instance to apply new settings. You can change one or more parameters by specifying these parameters and the new values in the request.</p> <p>Some settings are applied during the maintenance window.</p> <p/>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource you are attempting to create already exists.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InsufficientResourceCapacityException",
        "documentation" : "<p>There are not enough resources allocated to the database migration.</p>"
      }, {
        "exceptionName" : "StorageQuotaExceededException",
        "documentation" : "<p>The storage quota has been exceeded.</p>"
      }, {
        "exceptionName" : "UpgradeDependencyFailureException",
        "documentation" : "<p>An upgrade dependency is preventing the database migration.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyReplicationInstanceRequest",
        "variableName" : "modifyReplicationInstanceRequest",
        "variableType" : "ModifyReplicationInstanceRequest",
        "documentation" : "<p/>",
        "simpleType" : "ModifyReplicationInstanceRequest",
        "variableSetterType" : "ModifyReplicationInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyReplicationInstance",
      "operationName" : "ModifyReplicationInstance",
      "returnType" : {
        "returnType" : "ModifyReplicationInstanceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ModifyReplicationInstanceResult"
    },
    "ModifyReplicationSubnetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyReplicationSubnetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyReplicationSubnetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyReplicationSubnetGroupRequest, ModifyReplicationSubnetGroupResult>",
      "asyncReturnType" : "ModifyReplicationSubnetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the settings for the specified replication subnet group.</p>",
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>AWS DMS was denied access to the endpoint.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      }, {
        "exceptionName" : "SubnetAlreadyInUseException",
        "documentation" : "<p>The specified subnet is already in use.</p>"
      }, {
        "exceptionName" : "ReplicationSubnetGroupDoesNotCoverEnoughAZsException",
        "documentation" : "<p>The replication subnet group does not cover enough Availability Zones (AZs). Edit the replication subnet group and add more AZs.</p>"
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The subnet provided is invalid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyReplicationSubnetGroupRequest",
        "variableName" : "modifyReplicationSubnetGroupRequest",
        "variableType" : "ModifyReplicationSubnetGroupRequest",
        "documentation" : "<p/>",
        "simpleType" : "ModifyReplicationSubnetGroupRequest",
        "variableSetterType" : "ModifyReplicationSubnetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyReplicationSubnetGroup",
      "operationName" : "ModifyReplicationSubnetGroup",
      "returnType" : {
        "returnType" : "ModifyReplicationSubnetGroupResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ModifyReplicationSubnetGroupResult"
    },
    "RefreshSchemas" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RefreshSchemasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RefreshSchemasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RefreshSchemasRequest, RefreshSchemasResult>",
      "asyncReturnType" : "RefreshSchemasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Populates the schema for the specified endpoint. This is an asynchronous operation and can take several minutes. You can check the status of this operation by calling the DescribeRefreshSchemasStatus operation.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RefreshSchemasRequest",
        "variableName" : "refreshSchemasRequest",
        "variableType" : "RefreshSchemasRequest",
        "documentation" : "<p/>",
        "simpleType" : "RefreshSchemasRequest",
        "variableSetterType" : "RefreshSchemasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "refreshSchemas",
      "operationName" : "RefreshSchemas",
      "returnType" : {
        "returnType" : "RefreshSchemasResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "RefreshSchemasResult"
    },
    "RemoveTagsFromResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsFromResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsFromResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsFromResourceRequest, RemoveTagsFromResourceResult>",
      "asyncReturnType" : "RemoveTagsFromResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes metadata tags from a DMS resource.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemoveTagsFromResourceRequest",
        "variableName" : "removeTagsFromResourceRequest",
        "variableType" : "RemoveTagsFromResourceRequest",
        "documentation" : "<p/>",
        "simpleType" : "RemoveTagsFromResourceRequest",
        "variableSetterType" : "RemoveTagsFromResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeTagsFromResource",
      "operationName" : "RemoveTagsFromResource",
      "returnType" : {
        "returnType" : "RemoveTagsFromResourceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "RemoveTagsFromResourceResult"
    },
    "StartReplicationTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartReplicationTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartReplicationTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartReplicationTaskRequest, StartReplicationTaskResult>",
      "asyncReturnType" : "StartReplicationTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the replication task.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartReplicationTaskRequest",
        "variableName" : "startReplicationTaskRequest",
        "variableType" : "StartReplicationTaskRequest",
        "documentation" : "<p/>",
        "simpleType" : "StartReplicationTaskRequest",
        "variableSetterType" : "StartReplicationTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startReplicationTask",
      "operationName" : "StartReplicationTask",
      "returnType" : {
        "returnType" : "StartReplicationTaskResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "StartReplicationTaskResult"
    },
    "StopReplicationTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopReplicationTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopReplicationTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopReplicationTaskRequest, StopReplicationTaskResult>",
      "asyncReturnType" : "StopReplicationTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops the replication task.</p> <p/>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopReplicationTaskRequest",
        "variableName" : "stopReplicationTaskRequest",
        "variableType" : "StopReplicationTaskRequest",
        "documentation" : "<p/>",
        "simpleType" : "StopReplicationTaskRequest",
        "variableSetterType" : "StopReplicationTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopReplicationTask",
      "operationName" : "StopReplicationTask",
      "returnType" : {
        "returnType" : "StopReplicationTaskResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "StopReplicationTaskResult"
    },
    "TestConnection" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TestConnectionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TestConnectionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TestConnectionRequest, TestConnectionResult>",
      "asyncReturnType" : "TestConnectionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tests the connection between the replication instance and the endpoint.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found.</p>"
      }, {
        "exceptionName" : "InvalidResourceStateException",
        "documentation" : "<p>The resource is in a state that prevents it from being used for database migration.</p>"
      }, {
        "exceptionName" : "KMSKeyNotAccessibleException",
        "documentation" : "<p>AWS DMS cannot access the KMS key.</p>"
      }, {
        "exceptionName" : "ResourceQuotaExceededException",
        "documentation" : "<p>The quota for this resource quota has been exceeded.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TestConnectionRequest",
        "variableName" : "testConnectionRequest",
        "variableType" : "TestConnectionRequest",
        "documentation" : "<p/>",
        "simpleType" : "TestConnectionRequest",
        "variableSetterType" : "TestConnectionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "testConnection",
      "operationName" : "TestConnection",
      "returnType" : {
        "returnType" : "TestConnectionResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "TestConnectionResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedFault",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>AWS DMS was denied access to the endpoint.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedFault",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AccountQuota" : {
      "c2jName" : "AccountQuota",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes a quota for an AWS account, for example, the number of replication instances allowed.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AccountQuotaName",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the AWS DMS quota for this AWS account.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the AWS DMS quota for this AWS account.</p>\n@param accountQuotaName The name of the AWS DMS quota for this AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of the AWS DMS quota for this AWS account.</p>\n@return The name of the AWS DMS quota for this AWS account.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "AccountQuotaName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AccountQuotaName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "AccountQuotaName",
        "setterDocumentation" : "/**<p>The name of the AWS DMS quota for this AWS account.</p>\n@param accountQuotaName The name of the AWS DMS quota for this AWS account.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "accountQuotaName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the AWS DMS quota for this AWS account.</p>\n@param accountQuotaName The name of the AWS DMS quota for this AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "accountQuotaName",
          "variableType" : "String",
          "documentation" : "<p>The name of the AWS DMS quota for this AWS account.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Used",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p>The amount currently used toward the quota maximum.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The amount currently used toward the quota maximum.</p>\n@param used The amount currently used toward the quota maximum.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The amount currently used toward the quota maximum.</p>\n@return The amount currently used toward the quota maximum.*/",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Used",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Used",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Used",
        "setterDocumentation" : "/**<p>The amount currently used toward the quota maximum.</p>\n@param used The amount currently used toward the quota maximum.*/",
        "setterModel" : {
          "variableDeclarationType" : "Long",
          "variableName" : "used",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The amount currently used toward the quota maximum.</p>\n@param used The amount currently used toward the quota maximum.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Long",
          "variableName" : "used",
          "variableType" : "Long",
          "documentation" : "<p>The amount currently used toward the quota maximum.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Max",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p>The maximum allowed value for the quota.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The maximum allowed value for the quota.</p>\n@param max The maximum allowed value for the quota.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The maximum allowed value for the quota.</p>\n@return The maximum allowed value for the quota.*/",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Max",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Max",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Max",
        "setterDocumentation" : "/**<p>The maximum allowed value for the quota.</p>\n@param max The maximum allowed value for the quota.*/",
        "setterModel" : {
          "variableDeclarationType" : "Long",
          "variableName" : "max",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The maximum allowed value for the quota.</p>\n@param max The maximum allowed value for the quota.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Long",
          "variableName" : "max",
          "variableType" : "Long",
          "documentation" : "<p>The maximum allowed value for the quota.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AccountQuotaName" : {
          "c2jName" : "AccountQuotaName",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The name of the AWS DMS quota for this AWS account.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the AWS DMS quota for this AWS account.</p>\n@param accountQuotaName The name of the AWS DMS quota for this AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The name of the AWS DMS quota for this AWS account.</p>\n@return The name of the AWS DMS quota for this AWS account.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "AccountQuotaName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AccountQuotaName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "AccountQuotaName",
          "setterDocumentation" : "/**<p>The name of the AWS DMS quota for this AWS account.</p>\n@param accountQuotaName The name of the AWS DMS quota for this AWS account.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "accountQuotaName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The name of the AWS DMS quota for this AWS account.</p>\n@param accountQuotaName The name of the AWS DMS quota for this AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "accountQuotaName",
            "variableType" : "String",
            "documentation" : "<p>The name of the AWS DMS quota for this AWS account.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Max" : {
          "c2jName" : "Max",
          "c2jShape" : "Long",
          "deprecated" : false,
          "documentation" : "<p>The maximum allowed value for the quota.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The maximum allowed value for the quota.</p>\n@param max The maximum allowed value for the quota.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The maximum allowed value for the quota.</p>\n@return The maximum allowed value for the quota.*/",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Max",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Max",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Max",
          "setterDocumentation" : "/**<p>The maximum allowed value for the quota.</p>\n@param max The maximum allowed value for the quota.*/",
          "setterModel" : {
            "variableDeclarationType" : "Long",
            "variableName" : "max",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The maximum allowed value for the quota.</p>\n@param max The maximum allowed value for the quota.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Long",
            "variableName" : "max",
            "variableType" : "Long",
            "documentation" : "<p>The maximum allowed value for the quota.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        },
        "Used" : {
          "c2jName" : "Used",
          "c2jShape" : "Long",
          "deprecated" : false,
          "documentation" : "<p>The amount currently used toward the quota maximum.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The amount currently used toward the quota maximum.</p>\n@param used The amount currently used toward the quota maximum.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The amount currently used toward the quota maximum.</p>\n@return The amount currently used toward the quota maximum.*/",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Used",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Used",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Used",
          "setterDocumentation" : "/**<p>The amount currently used toward the quota maximum.</p>\n@param used The amount currently used toward the quota maximum.*/",
          "setterModel" : {
            "variableDeclarationType" : "Long",
            "variableName" : "used",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The amount currently used toward the quota maximum.</p>\n@param used The amount currently used toward the quota maximum.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Long",
            "variableName" : "used",
            "variableType" : "Long",
            "documentation" : "<p>The amount currently used toward the quota maximum.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "AccountQuota",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AccountQuota",
        "variableName" : "accountQuota",
        "variableType" : "AccountQuota",
        "documentation" : null,
        "simpleType" : "AccountQuota",
        "variableSetterType" : "AccountQuota"
      },
      "wrapper" : false
    },
    "AddTagsToResourceRequest" : {
      "c2jName" : "AddTagsToResourceMessage",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddTagsToResource",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AmazonDMSv20160101.AddTagsToResource",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ResourceArn",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.</p>\n@param resourceArn The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.</p>\n@return The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ResourceArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ResourceArn",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.</p>\n@param resourceArn The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.</p>\n@param resourceArn The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "resourceArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Tags",
        "c2jShape" : "TagList",
        "deprecated" : false,
        "documentation" : "<p>The tag to be assigned to the DMS resource.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The tag to be assigned to the DMS resource.</p>\n@param tags The tag to be assigned to the DMS resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The tag to be assigned to the DMS resource.</p>\n@return The tag to be assigned to the DMS resource.*/",
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Tags",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "Tag",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "Tag",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : "Tag",
          "memberType" : "Tag",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Tag",
          "templateImplType" : "java.util.ArrayList<Tag>",
          "templateType" : "java.util.List<Tag>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "Tags",
        "setterDocumentation" : "/**<p>The tag to be assigned to the DMS resource.</p>\n@param tags The tag to be assigned to the DMS resource.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>The tag to be assigned to the DMS resource.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags The tag to be assigned to the DMS resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "<p>The tag to be assigned to the DMS resource.</p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ResourceArn" : {
          "c2jName" : "ResourceArn",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.</p>\n@param resourceArn The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.</p>\n@return The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ResourceArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResourceArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ResourceArn",
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.</p>\n@param resourceArn The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "resourceArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.</p>\n@param resourceArn The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "resourceArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Tags" : {
          "c2jName" : "Tags",
          "c2jShape" : "TagList",
          "deprecated" : false,
          "documentation" : "<p>The tag to be assigned to the DMS resource.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The tag to be assigned to the DMS resource.</p>\n@param tags The tag to be assigned to the DMS resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The tag to be assigned to the DMS resource.</p>\n@return The tag to be assigned to the DMS resource.*/",
          "getterModel" : {
            "returnType" : "java.util.List<Tag>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Tags",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Tags",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Tag",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "Tag",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "Tag",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "Tag",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : "Tag",
            "memberType" : "Tag",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Tag",
            "templateImplType" : "java.util.ArrayList<Tag>",
            "templateType" : "java.util.List<Tag>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "Tags",
          "setterDocumentation" : "/**<p>The tag to be assigned to the DMS resource.</p>\n@param tags The tag to be assigned to the DMS resource.*/",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<Tag>",
            "variableName" : "tags",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>The tag to be assigned to the DMS resource.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags The tag to be assigned to the DMS resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<Tag>",
            "variableName" : "tags",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "<p>The tag to be assigned to the DMS resource.</p>",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "ResourceArn", "Tags" ],
      "shapeName" : "AddTagsToResourceRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AddTagsToResourceRequest",
        "variableName" : "addTagsToResourceRequest",
        "variableType" : "AddTagsToResourceRequest",
        "documentation" : null,
        "simpleType" : "AddTagsToResourceRequest",
        "variableSetterType" : "AddTagsToResourceRequest"
      },
      "wrapper" : false
    },
    "AddTagsToResourceResult" : {
      "c2jName" : "AddTagsToResourceResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "AddTagsToResourceResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AddTagsToResourceResult",
        "variableName" : "addTagsToResourceResult",
        "variableType" : "AddTagsToResourceResult",
        "documentation" : null,
        "simpleType" : "AddTagsToResourceResult",
        "variableSetterType" : "AddTagsToResourceResult"
      },
      "wrapper" : false
    },
    "AvailabilityZone" : {
      "c2jName" : "AvailabilityZone",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the availability zone.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the availability zone.</p>\n@param name The name of the availability zone.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of the availability zone.</p>\n@return The name of the availability zone.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Name",
        "setterDocumentation" : "/**<p>The name of the availability zone.</p>\n@param name The name of the availability zone.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the availability zone.</p>\n@param name The name of the availability zone.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the availability zone.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The name of the availability zone.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the availability zone.</p>\n@param name The name of the availability zone.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The name of the availability zone.</p>\n@return The name of the availability zone.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
[...]
