{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-02-26",
    "asyncClient" : "AWSdrsAsyncClient",
    "asyncClientBuilderClassName" : "AWSdrsAsyncClientBuilder",
    "asyncInterface" : "AWSdrsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSdrsModuleInjector",
    "defaultEndpoint" : "drs.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "drs.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS Elastic Disaster Recovery Service.</p>",
    "endpointPrefix" : "drs",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.drs",
    "packagePath" : "com/amazonaws/services/drs",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "drs",
    "serviceFullName" : "Elastic Disaster Recovery Service",
    "serviceId" : "drs",
    "serviceName" : "drs",
    "signingName" : "drs",
    "smokeTestsPackageName" : "com.amazonaws.services.drs.smoketests",
    "syncClient" : "AWSdrsClient",
    "syncClientBuilderClassName" : "AWSdrsClientBuilder",
    "syncInterface" : "AWSdrs",
    "uid" : "drs-2020-02-26",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateExtendedSourceServer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateExtendedSourceServerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateExtendedSourceServerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateExtendedSourceServerRequest, CreateExtendedSourceServerResult>",
      "asyncReturnType" : "CreateExtendedSourceServerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create an extended source server in the target Account based on the source server in staging account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource for this operation was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request could not be completed because its exceeded the service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateExtendedSourceServerRequest",
        "variableName" : "createExtendedSourceServerRequest",
        "variableType" : "CreateExtendedSourceServerRequest",
        "documentation" : "",
        "simpleType" : "CreateExtendedSourceServerRequest",
        "variableSetterType" : "CreateExtendedSourceServerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createExtendedSourceServer",
      "operationName" : "CreateExtendedSourceServer",
      "returnType" : {
        "returnType" : "CreateExtendedSourceServerResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateExtendedSourceServerResult"
    },
    "CreateReplicationConfigurationTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateReplicationConfigurationTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateReplicationConfigurationTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateReplicationConfigurationTemplateRequest, CreateReplicationConfigurationTemplateResult>",
      "asyncReturnType" : "CreateReplicationConfigurationTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new ReplicationConfigurationTemplate.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request could not be completed because its exceeded the service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateReplicationConfigurationTemplateRequest",
        "variableName" : "createReplicationConfigurationTemplateRequest",
        "variableType" : "CreateReplicationConfigurationTemplateRequest",
        "documentation" : "",
        "simpleType" : "CreateReplicationConfigurationTemplateRequest",
        "variableSetterType" : "CreateReplicationConfigurationTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createReplicationConfigurationTemplate",
      "operationName" : "CreateReplicationConfigurationTemplate",
      "returnType" : {
        "returnType" : "CreateReplicationConfigurationTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateReplicationConfigurationTemplateResult"
    },
    "DeleteJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteJobRequest, DeleteJobResult>",
      "asyncReturnType" : "DeleteJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a single Job by ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource for this operation was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteJobRequest",
        "variableName" : "deleteJobRequest",
        "variableType" : "DeleteJobRequest",
        "documentation" : "",
        "simpleType" : "DeleteJobRequest",
        "variableSetterType" : "DeleteJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteJob",
      "operationName" : "DeleteJob",
      "returnType" : {
        "returnType" : "DeleteJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteJobResult"
    },
    "DeleteRecoveryInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRecoveryInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRecoveryInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRecoveryInstanceRequest, DeleteRecoveryInstanceResult>",
      "asyncReturnType" : "DeleteRecoveryInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a single Recovery Instance by ID. This deletes the Recovery Instance resource from Elastic Disaster Recovery. The Recovery Instance must be disconnected first in order to delete it.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRecoveryInstanceRequest",
        "variableName" : "deleteRecoveryInstanceRequest",
        "variableType" : "DeleteRecoveryInstanceRequest",
        "documentation" : "",
        "simpleType" : "DeleteRecoveryInstanceRequest",
        "variableSetterType" : "DeleteRecoveryInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRecoveryInstance",
      "operationName" : "DeleteRecoveryInstance",
      "returnType" : {
        "returnType" : "DeleteRecoveryInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRecoveryInstanceResult"
    },
    "DeleteReplicationConfigurationTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteReplicationConfigurationTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteReplicationConfigurationTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteReplicationConfigurationTemplateRequest, DeleteReplicationConfigurationTemplateResult>",
      "asyncReturnType" : "DeleteReplicationConfigurationTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a single Replication Configuration Template by ID</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource for this operation was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteReplicationConfigurationTemplateRequest",
        "variableName" : "deleteReplicationConfigurationTemplateRequest",
        "variableType" : "DeleteReplicationConfigurationTemplateRequest",
        "documentation" : "",
        "simpleType" : "DeleteReplicationConfigurationTemplateRequest",
        "variableSetterType" : "DeleteReplicationConfigurationTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteReplicationConfigurationTemplate",
      "operationName" : "DeleteReplicationConfigurationTemplate",
      "returnType" : {
        "returnType" : "DeleteReplicationConfigurationTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteReplicationConfigurationTemplateResult"
    },
    "DeleteSourceServer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSourceServerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSourceServerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSourceServerRequest, DeleteSourceServerResult>",
      "asyncReturnType" : "DeleteSourceServerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a single Source Server by ID. The Source Server must be disconnected first.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource for this operation was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSourceServerRequest",
        "variableName" : "deleteSourceServerRequest",
        "variableType" : "DeleteSourceServerRequest",
        "documentation" : "",
        "simpleType" : "DeleteSourceServerRequest",
        "variableSetterType" : "DeleteSourceServerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSourceServer",
      "operationName" : "DeleteSourceServer",
      "returnType" : {
        "returnType" : "DeleteSourceServerResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSourceServerResult"
    },
    "DescribeJobLogItems" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJobLogItemsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJobLogItemsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJobLogItemsRequest, DescribeJobLogItemsResult>",
      "asyncReturnType" : "DescribeJobLogItemsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a detailed Job log with pagination.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeJobLogItemsRequest",
        "variableName" : "describeJobLogItemsRequest",
        "variableType" : "DescribeJobLogItemsRequest",
        "documentation" : "",
        "simpleType" : "DescribeJobLogItemsRequest",
        "variableSetterType" : "DescribeJobLogItemsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeJobLogItems",
      "operationName" : "DescribeJobLogItems",
      "returnType" : {
        "returnType" : "DescribeJobLogItemsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeJobLogItemsResult"
    },
    "DescribeJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJobsRequest, DescribeJobsResult>",
      "asyncReturnType" : "DescribeJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of Jobs. Use the JobsID and fromDate and toDate filters to limit which jobs are returned. The response is sorted by creationDataTime - latest date first. Jobs are created by the StartRecovery, TerminateRecoveryInstances and StartFailbackLaunch APIs. Jobs are also created by DiagnosticLaunch and TerminateDiagnosticInstances, which are APIs available only to *Support* and only used in response to relevant support tickets.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeJobsRequest",
        "variableName" : "describeJobsRequest",
        "variableType" : "DescribeJobsRequest",
        "documentation" : "",
        "simpleType" : "DescribeJobsRequest",
        "variableSetterType" : "DescribeJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeJobs",
      "operationName" : "DescribeJobs",
      "returnType" : {
        "returnType" : "DescribeJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeJobsResult"
    },
    "DescribeRecoveryInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRecoveryInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRecoveryInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRecoveryInstancesRequest, DescribeRecoveryInstancesResult>",
      "asyncReturnType" : "DescribeRecoveryInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all Recovery Instances or multiple Recovery Instances by ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRecoveryInstancesRequest",
        "variableName" : "describeRecoveryInstancesRequest",
        "variableType" : "DescribeRecoveryInstancesRequest",
        "documentation" : "",
        "simpleType" : "DescribeRecoveryInstancesRequest",
        "variableSetterType" : "DescribeRecoveryInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRecoveryInstances",
      "operationName" : "DescribeRecoveryInstances",
      "returnType" : {
        "returnType" : "DescribeRecoveryInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRecoveryInstancesResult"
    },
    "DescribeRecoverySnapshots" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRecoverySnapshotsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRecoverySnapshotsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRecoverySnapshotsRequest, DescribeRecoverySnapshotsResult>",
      "asyncReturnType" : "DescribeRecoverySnapshotsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all Recovery Snapshots for a single Source Server.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRecoverySnapshotsRequest",
        "variableName" : "describeRecoverySnapshotsRequest",
        "variableType" : "DescribeRecoverySnapshotsRequest",
        "documentation" : "",
        "simpleType" : "DescribeRecoverySnapshotsRequest",
        "variableSetterType" : "DescribeRecoverySnapshotsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRecoverySnapshots",
      "operationName" : "DescribeRecoverySnapshots",
      "returnType" : {
        "returnType" : "DescribeRecoverySnapshotsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRecoverySnapshotsResult"
    },
    "DescribeReplicationConfigurationTemplates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReplicationConfigurationTemplatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReplicationConfigurationTemplatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReplicationConfigurationTemplatesRequest, DescribeReplicationConfigurationTemplatesResult>",
      "asyncReturnType" : "DescribeReplicationConfigurationTemplatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all ReplicationConfigurationTemplates, filtered by Source Server IDs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource for this operation was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeReplicationConfigurationTemplatesRequest",
        "variableName" : "describeReplicationConfigurationTemplatesRequest",
        "variableType" : "DescribeReplicationConfigurationTemplatesRequest",
        "documentation" : "",
        "simpleType" : "DescribeReplicationConfigurationTemplatesRequest",
        "variableSetterType" : "DescribeReplicationConfigurationTemplatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeReplicationConfigurationTemplates",
      "operationName" : "DescribeReplicationConfigurationTemplates",
      "returnType" : {
        "returnType" : "DescribeReplicationConfigurationTemplatesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeReplicationConfigurationTemplatesResult"
    },
    "DescribeSourceServers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSourceServersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSourceServersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSourceServersRequest, DescribeSourceServersResult>",
      "asyncReturnType" : "DescribeSourceServersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all Source Servers or multiple Source Servers filtered by ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSourceServersRequest",
        "variableName" : "describeSourceServersRequest",
        "variableType" : "DescribeSourceServersRequest",
        "documentation" : "",
        "simpleType" : "DescribeSourceServersRequest",
        "variableSetterType" : "DescribeSourceServersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSourceServers",
      "operationName" : "DescribeSourceServers",
      "returnType" : {
        "returnType" : "DescribeSourceServersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSourceServersResult"
    },
    "DisconnectRecoveryInstance" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisconnectRecoveryInstanceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisconnectRecoveryInstanceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisconnectRecoveryInstanceRequest, DisconnectRecoveryInstanceResult>",
      "asyncReturnType" : "DisconnectRecoveryInstanceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disconnect a Recovery Instance from Elastic Disaster Recovery. Data replication is stopped immediately. All AWS resources created by Elastic Disaster Recovery for enabling the replication of the Recovery Instance will be terminated / deleted within 90 minutes. If the agent on the Recovery Instance has not been prevented from communicating with the Elastic Disaster Recovery service, then it will receive a command to uninstall itself (within approximately 10 minutes). The following properties of the Recovery Instance will be changed immediately: dataReplicationInfo.dataReplicationState will be set to DISCONNECTED; The totalStorageBytes property for each of dataReplicationInfo.replicatedDisks will be set to zero; dataReplicationInfo.lagDuration and dataReplicationInfo.lagDuration will be nullified.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource for this operation was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisconnectRecoveryInstanceRequest",
        "variableName" : "disconnectRecoveryInstanceRequest",
        "variableType" : "DisconnectRecoveryInstanceRequest",
        "documentation" : "",
        "simpleType" : "DisconnectRecoveryInstanceRequest",
        "variableSetterType" : "DisconnectRecoveryInstanceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disconnectRecoveryInstance",
      "operationName" : "DisconnectRecoveryInstance",
      "returnType" : {
        "returnType" : "DisconnectRecoveryInstanceResult",
        "documentation" : null
      },
      "syncReturnType" : "DisconnectRecoveryInstanceResult"
    },
    "DisconnectSourceServer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisconnectSourceServerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisconnectSourceServerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisconnectSourceServerRequest, DisconnectSourceServerResult>",
      "asyncReturnType" : "DisconnectSourceServerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disconnects a specific Source Server from Elastic Disaster Recovery. Data replication is stopped immediately. All AWS resources created by Elastic Disaster Recovery for enabling the replication of the Source Server will be terminated / deleted within 90 minutes. You cannot disconnect a Source Server if it has a Recovery Instance. If the agent on the Source Server has not been prevented from communicating with the Elastic Disaster Recovery service, then it will receive a command to uninstall itself (within approximately 10 minutes). The following properties of the SourceServer will be changed immediately: dataReplicationInfo.dataReplicationState will be set to DISCONNECTED; The totalStorageBytes property for each of dataReplicationInfo.replicatedDisks will be set to zero; dataReplicationInfo.lagDuration and dataReplicationInfo.lagDuration will be nullified.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource for this operation was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisconnectSourceServerRequest",
        "variableName" : "disconnectSourceServerRequest",
        "variableType" : "DisconnectSourceServerRequest",
        "documentation" : "",
        "simpleType" : "DisconnectSourceServerRequest",
        "variableSetterType" : "DisconnectSourceServerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disconnectSourceServer",
      "operationName" : "DisconnectSourceServer",
      "returnType" : {
        "returnType" : "DisconnectSourceServerResult",
        "documentation" : null
      },
      "syncReturnType" : "DisconnectSourceServerResult"
    },
    "GetFailbackReplicationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFailbackReplicationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFailbackReplicationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFailbackReplicationConfigurationRequest, GetFailbackReplicationConfigurationResult>",
      "asyncReturnType" : "GetFailbackReplicationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all Failback ReplicationConfigurations, filtered by Recovery Instance ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource for this operation was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFailbackReplicationConfigurationRequest",
        "variableName" : "getFailbackReplicationConfigurationRequest",
        "variableType" : "GetFailbackReplicationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetFailbackReplicationConfigurationRequest",
        "variableSetterType" : "GetFailbackReplicationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFailbackReplicationConfiguration",
      "operationName" : "GetFailbackReplicationConfiguration",
      "returnType" : {
        "returnType" : "GetFailbackReplicationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFailbackReplicationConfigurationResult"
    },
    "GetLaunchConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLaunchConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLaunchConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLaunchConfigurationRequest, GetLaunchConfigurationResult>",
      "asyncReturnType" : "GetLaunchConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a LaunchConfiguration, filtered by Source Server IDs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource for this operation was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLaunchConfigurationRequest",
        "variableName" : "getLaunchConfigurationRequest",
        "variableType" : "GetLaunchConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetLaunchConfigurationRequest",
        "variableSetterType" : "GetLaunchConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLaunchConfiguration",
      "operationName" : "GetLaunchConfiguration",
      "returnType" : {
        "returnType" : "GetLaunchConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLaunchConfigurationResult"
    },
    "GetReplicationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetReplicationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetReplicationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetReplicationConfigurationRequest, GetReplicationConfigurationResult>",
      "asyncReturnType" : "GetReplicationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a ReplicationConfiguration, filtered by Source Server ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource for this operation was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetReplicationConfigurationRequest",
        "variableName" : "getReplicationConfigurationRequest",
        "variableType" : "GetReplicationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetReplicationConfigurationRequest",
        "variableSetterType" : "GetReplicationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getReplicationConfiguration",
      "operationName" : "GetReplicationConfiguration",
      "returnType" : {
        "returnType" : "GetReplicationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetReplicationConfigurationResult"
    },
    "InitializeService" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InitializeServiceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InitializeServiceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InitializeServiceRequest, InitializeServiceResult>",
      "asyncReturnType" : "InitializeServiceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initialize Elastic Disaster Recovery.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InitializeServiceRequest",
        "variableName" : "initializeServiceRequest",
        "variableType" : "InitializeServiceRequest",
        "documentation" : "",
        "simpleType" : "InitializeServiceRequest",
        "variableSetterType" : "InitializeServiceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "initializeService",
      "operationName" : "InitializeService",
      "returnType" : {
        "returnType" : "InitializeServiceResult",
        "documentation" : null
      },
      "syncReturnType" : "InitializeServiceResult"
    },
    "ListExtensibleSourceServers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListExtensibleSourceServersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListExtensibleSourceServersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListExtensibleSourceServersRequest, ListExtensibleSourceServersResult>",
      "asyncReturnType" : "ListExtensibleSourceServersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of source servers on a staging account that are extensible, which means that: a. The source server is not already extended into this Account. b. The source server on the Account we’re reading from is not an extension of another source server. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListExtensibleSourceServersRequest",
        "variableName" : "listExtensibleSourceServersRequest",
        "variableType" : "ListExtensibleSourceServersRequest",
        "documentation" : "",
        "simpleType" : "ListExtensibleSourceServersRequest",
        "variableSetterType" : "ListExtensibleSourceServersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listExtensibleSourceServers",
      "operationName" : "ListExtensibleSourceServers",
      "returnType" : {
        "returnType" : "ListExtensibleSourceServersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListExtensibleSourceServersResult"
    },
    "ListStagingAccounts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListStagingAccountsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListStagingAccountsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStagingAccountsRequest, ListStagingAccountsResult>",
      "asyncReturnType" : "ListStagingAccountsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of staging accounts for existing extended source servers.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListStagingAccountsRequest",
        "variableName" : "listStagingAccountsRequest",
        "variableType" : "ListStagingAccountsRequest",
        "documentation" : "",
        "simpleType" : "ListStagingAccountsRequest",
        "variableSetterType" : "ListStagingAccountsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listStagingAccounts",
      "operationName" : "ListStagingAccounts",
      "returnType" : {
        "returnType" : "ListStagingAccountsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListStagingAccountsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List all tags for your Elastic Disaster Recovery resources.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource for this operation was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "RetryDataReplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RetryDataReplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RetryDataReplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RetryDataReplicationRequest, RetryDataReplicationResult>",
      "asyncReturnType" : "RetryDataReplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Causes the data replication initiation sequence to begin immediately upon next Handshake for the specified Source Server ID, regardless of when the previous initiation started. This command will work only if the Source Server is stalled or is in a DISCONNECTED or STOPPED state.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource for this operation was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RetryDataReplicationRequest",
        "variableName" : "retryDataReplicationRequest",
        "variableType" : "RetryDataReplicationRequest",
        "documentation" : "",
        "simpleType" : "RetryDataReplicationRequest",
        "variableSetterType" : "RetryDataReplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "retryDataReplication",
      "operationName" : "RetryDataReplication",
      "returnType" : {
        "returnType" : "RetryDataReplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "RetryDataReplicationResult"
    },
    "StartFailbackLaunch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartFailbackLaunchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartFailbackLaunchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartFailbackLaunchRequest, StartFailbackLaunchResult>",
      "asyncReturnType" : "StartFailbackLaunchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initiates a Job for launching the machine that is being failed back to from the specified Recovery Instance. This will run conversion on the failback client and will reboot your machine, thus completing the failback process.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request could not be completed because its exceeded the service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartFailbackLaunchRequest",
        "variableName" : "startFailbackLaunchRequest",
        "variableType" : "StartFailbackLaunchRequest",
        "documentation" : "",
        "simpleType" : "StartFailbackLaunchRequest",
        "variableSetterType" : "StartFailbackLaunchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startFailbackLaunch",
      "operationName" : "StartFailbackLaunch",
      "returnType" : {
        "returnType" : "StartFailbackLaunchResult",
        "documentation" : null
      },
      "syncReturnType" : "StartFailbackLaunchResult"
    },
    "StartRecovery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartRecoveryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartRecoveryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartRecoveryRequest, StartRecoveryResult>",
      "asyncReturnType" : "StartRecoveryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Launches Recovery Instances for the specified Source Servers. For each Source Server you may choose a point in time snapshot to launch from, or use an on demand snapshot.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request could not be completed because its exceeded the service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartRecoveryRequest",
        "variableName" : "startRecoveryRequest",
        "variableType" : "StartRecoveryRequest",
        "documentation" : "",
        "simpleType" : "StartRecoveryRequest",
        "variableSetterType" : "StartRecoveryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startRecovery",
      "operationName" : "StartRecovery",
      "returnType" : {
        "returnType" : "StartRecoveryResult",
        "documentation" : null
      },
      "syncReturnType" : "StartRecoveryResult"
    },
    "StopFailback" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopFailbackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopFailbackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopFailbackRequest, StopFailbackResult>",
      "asyncReturnType" : "StopFailbackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops the failback process for a specified Recovery Instance. This changes the Failback State of the Recovery Instance back to FAILBACK_NOT_STARTED.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource for this operation was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopFailbackRequest",
        "variableName" : "stopFailbackRequest",
        "variableType" : "StopFailbackRequest",
        "documentation" : "",
        "simpleType" : "StopFailbackRequest",
        "variableSetterType" : "StopFailbackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopFailback",
      "operationName" : "StopFailback",
      "returnType" : {
        "returnType" : "StopFailbackResult",
        "documentation" : null
      },
      "syncReturnType" : "StopFailbackResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or overwrites only the specified tags for the specified Elastic Disaster Recovery resource or resources. When you specify an existing tag key, the value is overwritten with the new value. Each resource can have a maximum of 50 tags. Each tag consists of a key and optional value.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource for this operation was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "TerminateRecoveryInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TerminateRecoveryInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TerminateRecoveryInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TerminateRecoveryInstancesRequest, TerminateRecoveryInstancesResult>",
      "asyncReturnType" : "TerminateRecoveryInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initiates a Job for terminating the EC2 resources associated with the specified Recovery Instances, and then will delete the Recovery Instances from the Elastic Disaster Recovery service.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request could not be completed because its exceeded the service quota.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TerminateRecoveryInstancesRequest",
        "variableName" : "terminateRecoveryInstancesRequest",
        "variableType" : "TerminateRecoveryInstancesRequest",
        "documentation" : "",
        "simpleType" : "TerminateRecoveryInstancesRequest",
        "variableSetterType" : "TerminateRecoveryInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "terminateRecoveryInstances",
      "operationName" : "TerminateRecoveryInstances",
      "returnType" : {
        "returnType" : "TerminateRecoveryInstancesResult",
        "documentation" : null
      },
      "syncReturnType" : "TerminateRecoveryInstancesResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified set of tags from the specified set of Elastic Disaster Recovery resources.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource for this operation was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateFailbackReplicationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFailbackReplicationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFailbackReplicationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFailbackReplicationConfigurationRequest, UpdateFailbackReplicationConfigurationResult>",
      "asyncReturnType" : "UpdateFailbackReplicationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Allows you to update the failback replication configuration of a Recovery Instance by ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource for this operation was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFailbackReplicationConfigurationRequest",
        "variableName" : "updateFailbackReplicationConfigurationRequest",
        "variableType" : "UpdateFailbackReplicationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateFailbackReplicationConfigurationRequest",
        "variableSetterType" : "UpdateFailbackReplicationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFailbackReplicationConfiguration",
      "operationName" : "UpdateFailbackReplicationConfiguration",
      "returnType" : {
        "returnType" : "UpdateFailbackReplicationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFailbackReplicationConfigurationResult"
    },
    "UpdateLaunchConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLaunchConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLaunchConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLaunchConfigurationRequest, UpdateLaunchConfigurationResult>",
      "asyncReturnType" : "UpdateLaunchConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a LaunchConfiguration by Source Server ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource for this operation was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLaunchConfigurationRequest",
        "variableName" : "updateLaunchConfigurationRequest",
        "variableType" : "UpdateLaunchConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateLaunchConfigurationRequest",
        "variableSetterType" : "UpdateLaunchConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLaunchConfiguration",
      "operationName" : "UpdateLaunchConfiguration",
      "returnType" : {
        "returnType" : "UpdateLaunchConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateLaunchConfigurationResult"
    },
    "UpdateReplicationConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateReplicationConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateReplicationConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateReplicationConfigurationRequest, UpdateReplicationConfigurationResult>",
      "asyncReturnType" : "UpdateReplicationConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Allows you to update a ReplicationConfiguration by Source Server ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource for this operation was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateReplicationConfigurationRequest",
        "variableName" : "updateReplicationConfigurationRequest",
        "variableType" : "UpdateReplicationConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateReplicationConfigurationRequest",
        "variableSetterType" : "UpdateReplicationConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateReplicationConfiguration",
      "operationName" : "UpdateReplicationConfiguration",
      "returnType" : {
        "returnType" : "UpdateReplicationConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateReplicationConfigurationResult"
    },
    "UpdateReplicationConfigurationTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateReplicationConfigurationTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateReplicationConfigurationTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateReplicationConfigurationTemplateRequest, UpdateReplicationConfigurationTemplateResult>",
      "asyncReturnType" : "UpdateReplicationConfigurationTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a ReplicationConfigurationTemplate by ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource for this operation was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by the AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UninitializedAccountException",
        "documentation" : "<p>The account performing the request has not been initialized.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateReplicationConfigurationTemplateRequest",
        "variableName" : "updateReplicationConfigurationTemplateRequest",
        "variableType" : "UpdateReplicationConfigurationTemplateRequest",
        "documentation" : "",
        "simpleType" : "UpdateReplicationConfigurationTemplateRequest",
        "variableSetterType" : "UpdateReplicationConfigurationTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateReplicationConfigurationTemplate",
      "operationName" : "UpdateReplicationConfigurationTemplate",
      "returnType" : {
        "returnType" : "UpdateReplicationConfigurationTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateReplicationConfigurationTemplateResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.drs.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "code",
        "c2jShape" : "LargeBoundedString",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCode",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "code",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "code",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Code",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param code */",
        "setterMethodName" : "setCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Code" : {
          "c2jName" : "code",
          "c2jShape" : "LargeBoundedString",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCode",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "code",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "code",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Code",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param code */",
          "setterMethodName" : "setCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.drs.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "Account" : {
      "c2jName" : "Account",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>AWS account.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.drs.model.Account",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "accountID",
        "c2jShape" : "AccountID",
        "deprecated" : false,
        "documentation" : "<p>Account ID of AWS account.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Account ID of AWS account.</p>\n@param accountID Account ID of AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccountID",
        "getterDocumentation" : "/**<p>Account ID of AWS account.</p>\n@return Account ID of AWS account.*/",
        "getterMethodName" : "getAccountID",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "accountID",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "accountID",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccountID",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Account ID of AWS account.</p>\n@param accountID Account ID of AWS account.*/",
        "setterMethodName" : "setAccountID",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountID",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Account ID of AWS account.</p>\n@param accountID Account ID of AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accountID",
          "variableType" : "String",
          "documentation" : "<p>Account ID of AWS account.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AccountID" : {
          "c2jName" : "accountID",
          "c2jShape" : "AccountID",
          "deprecated" : false,
          "documentation" : "<p>Account ID of AWS account.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Account ID of AWS account.</p>\n@param accountID Account ID of AWS account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAccountID",
          "getterDocumentation" : "/**<p>Account ID of AWS account.</p>\n@return Account ID of AWS account.*/",
          "getterMethodName" : "getAccountID",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "accountID",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "accountID",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AccountID",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Account ID of AWS account.</p>\n@param accountID Account ID of AWS account.*/",
          "setterMethodName" : "setAccountID",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accountID",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
[...]
