{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "ConditionalForwarder" : [ "ReplicationScope" ],
      "ConnectDirectoryRequest" : [ "Size" ],
      "CreateDirectoryRequest" : [ "Size" ],
      "CreateTrustRequest" : [ "TrustDirection", "TrustType" ],
      "DirectoryDescription" : [ "Size", "Stage", "Type", "RadiusStatus" ],
      "DomainController" : [ "Status" ],
      "EventTopic" : [ "Status" ],
      "IpRouteInfo" : [ "IpRouteStatusMsg" ],
      "RadiusSettings" : [ "AuthenticationProtocol" ],
      "SchemaExtensionInfo" : [ "SchemaExtensionStatus" ],
      "Snapshot" : [ "Type", "Status" ],
      "Trust" : [ "TrustType", "TrustDirection", "TrustState" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeDirectories" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeSnapshots" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "GetDirectoryLimits" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2015-04-16",
    "asyncClient" : "AWSDirectoryServiceAsyncClient",
    "asyncClientBuilderClassName" : "AWSDirectoryServiceAsyncClientBuilder",
    "asyncInterface" : "AWSDirectoryServiceAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSDirectoryServiceModuleInjector",
    "defaultEndpoint" : "https://ds.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ds.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Directory Service</fullname> <p>AWS Directory Service is a web service that makes it easy for you to setup and run directories in the AWS cloud, or connect your AWS resources with an existing on-premises Microsoft Active Directory. This guide provides detailed information about AWS Directory Service operations, data types, parameters, and errors. For information about AWS Directory Services features, see <a href=\"https://aws.amazon.com/directoryservice/\">AWS Directory Service</a> and the <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/what_is.html\">AWS Directory Service Administration Guide</a>.</p> <note> <p>AWS provides SDKs that consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .Net, iOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to AWS Directory Service and other AWS services. For more information about the AWS SDKs, including how to download and install them, see <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p> </note>",
    "endpointPrefix" : "ds",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.directory",
    "packagePath" : "com/amazonaws/services/directory",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Directory Service",
    "serviceFullName" : "AWS Directory Service",
    "serviceId" : "Directory Service",
    "serviceName" : "Directory Service",
    "signingName" : "ds",
    "smokeTestsPackageName" : "com.amazonaws.services.directory.smoketests",
    "syncClient" : "AWSDirectoryServiceClient",
    "syncClientBuilderClassName" : "AWSDirectoryServiceClientBuilder",
    "syncInterface" : "AWSDirectoryService",
    "uid" : "ds-2015-04-16",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AcceptSharedDirectory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AcceptSharedDirectoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AcceptSharedDirectoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcceptSharedDirectoryRequest, AcceptSharedDirectoryResult>",
      "asyncReturnType" : "AcceptSharedDirectoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Accepts a directory sharing request that was sent from the directory owner account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectoryAlreadySharedException",
        "documentation" : "<p>The specified directory has already been shared with this AWS account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptSharedDirectoryRequest",
        "variableName" : "acceptSharedDirectoryRequest",
        "variableType" : "AcceptSharedDirectoryRequest",
        "documentation" : "",
        "simpleType" : "AcceptSharedDirectoryRequest",
        "variableSetterType" : "AcceptSharedDirectoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "acceptSharedDirectory",
      "operationName" : "AcceptSharedDirectory",
      "returnType" : {
        "returnType" : "AcceptSharedDirectoryResult",
        "documentation" : null
      },
      "syncReturnType" : "AcceptSharedDirectoryResult"
    },
    "AddIpRoutes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddIpRoutesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddIpRoutesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddIpRoutesRequest, AddIpRoutesResult>",
      "asyncReturnType" : "AddIpRoutesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>If the DNS server for your on-premises domain uses a publicly addressable IP address, you must add a CIDR address block to correctly route traffic to and from your Microsoft AD on Amazon Web Services. <i>AddIpRoutes</i> adds this address block. You can also use <i>AddIpRoutes</i> to facilitate routing traffic that uses public IP ranges from your Microsoft AD on AWS to a peer VPC. </p> <p>Before you call <i>AddIpRoutes</i>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <i>AddIpRoutes</i> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The specified entity already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The specified directory is unavailable or could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IpRouteLimitExceededException",
        "documentation" : "<p>The maximum allowed number of IP addresses was exceeded. The default limit is 100 IP address blocks.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddIpRoutesRequest",
        "variableName" : "addIpRoutesRequest",
        "variableType" : "AddIpRoutesRequest",
        "documentation" : "",
        "simpleType" : "AddIpRoutesRequest",
        "variableSetterType" : "AddIpRoutesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addIpRoutes",
      "operationName" : "AddIpRoutes",
      "returnType" : {
        "returnType" : "AddIpRoutesResult",
        "documentation" : null
      },
      "syncReturnType" : "AddIpRoutesResult"
    },
    "AddTagsToResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsToResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsToResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsToResourceRequest, AddTagsToResourceResult>",
      "asyncReturnType" : "AddTagsToResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or overwrites one or more tags for the specified directory. Each directory can have a maximum of 50 tags. Each tag consists of a key and optional value. Tag keys must be unique to each resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TagLimitExceededException",
        "documentation" : "<p>The maximum allowed number of tags was exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddTagsToResourceRequest",
        "variableName" : "addTagsToResourceRequest",
        "variableType" : "AddTagsToResourceRequest",
        "documentation" : "",
        "simpleType" : "AddTagsToResourceRequest",
        "variableSetterType" : "AddTagsToResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addTagsToResource",
      "operationName" : "AddTagsToResource",
      "returnType" : {
        "returnType" : "AddTagsToResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "AddTagsToResourceResult"
    },
    "CancelSchemaExtension" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelSchemaExtensionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelSchemaExtensionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelSchemaExtensionRequest, CancelSchemaExtensionResult>",
      "asyncReturnType" : "CancelSchemaExtensionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels an in-progress schema extension to a Microsoft AD directory. Once a schema extension has started replicating to all domain controllers, the task can no longer be canceled. A schema extension can be canceled during any of the following states; <code>Initializing</code>, <code>CreatingSnapshot</code>, and <code>UpdatingSchema</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelSchemaExtensionRequest",
        "variableName" : "cancelSchemaExtensionRequest",
        "variableType" : "CancelSchemaExtensionRequest",
        "documentation" : "",
        "simpleType" : "CancelSchemaExtensionRequest",
        "variableSetterType" : "CancelSchemaExtensionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelSchemaExtension",
      "operationName" : "CancelSchemaExtension",
      "returnType" : {
        "returnType" : "CancelSchemaExtensionResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelSchemaExtensionResult"
    },
    "ConnectDirectory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConnectDirectoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConnectDirectoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConnectDirectoryRequest, ConnectDirectoryResult>",
      "asyncReturnType" : "ConnectDirectoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an AD Connector to connect to an on-premises directory.</p> <p>Before you call <code>ConnectDirectory</code>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <code>ConnectDirectory</code> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DirectoryLimitExceededException",
        "documentation" : "<p>The maximum number of directories in the region has been reached. You can use the <a>GetDirectoryLimits</a> operation to determine your directory limits in the region.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConnectDirectoryRequest",
        "variableName" : "connectDirectoryRequest",
        "variableType" : "ConnectDirectoryRequest",
        "documentation" : "<p>Contains the inputs for the <a>ConnectDirectory</a> operation.</p>",
        "simpleType" : "ConnectDirectoryRequest",
        "variableSetterType" : "ConnectDirectoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "connectDirectory",
      "operationName" : "ConnectDirectory",
      "returnType" : {
        "returnType" : "ConnectDirectoryResult",
        "documentation" : "<p>Contains the results of the <a>ConnectDirectory</a> operation.</p>"
      },
      "syncReturnType" : "ConnectDirectoryResult"
    },
    "CreateAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAliasRequest, CreateAliasResult>",
      "asyncReturnType" : "CreateAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an alias for a directory and assigns the alias to the directory. The alias is used to construct the access URL for the directory, such as <code>http://&lt;alias&gt;.awsapps.com</code>.</p> <important> <p>After an alias has been created, it cannot be deleted or reused, so this operation should only be used when absolutely necessary.</p> </important>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The specified entity already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAliasRequest",
        "variableName" : "createAliasRequest",
        "variableType" : "CreateAliasRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateAlias</a> operation.</p>",
        "simpleType" : "CreateAliasRequest",
        "variableSetterType" : "CreateAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAlias",
      "operationName" : "CreateAlias",
      "returnType" : {
        "returnType" : "CreateAliasResult",
        "documentation" : "<p>Contains the results of the <a>CreateAlias</a> operation.</p>"
      },
      "syncReturnType" : "CreateAliasResult"
    },
    "CreateComputer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateComputerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateComputerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateComputerRequest, CreateComputerResult>",
      "asyncReturnType" : "CreateComputerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a computer account in the specified directory, and joins the computer to the directory.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthenticationFailedException",
        "documentation" : "<p>An authentication error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The specified directory is unavailable or could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The specified entity already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateComputerRequest",
        "variableName" : "createComputerRequest",
        "variableType" : "CreateComputerRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateComputer</a> operation.</p>",
        "simpleType" : "CreateComputerRequest",
        "variableSetterType" : "CreateComputerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createComputer",
      "operationName" : "CreateComputer",
      "returnType" : {
        "returnType" : "CreateComputerResult",
        "documentation" : "<p>Contains the results for the <a>CreateComputer</a> operation.</p>"
      },
      "syncReturnType" : "CreateComputerResult"
    },
    "CreateConditionalForwarder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConditionalForwarderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConditionalForwarderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConditionalForwarderRequest, CreateConditionalForwarderResult>",
      "asyncReturnType" : "CreateConditionalForwarderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a conditional forwarder associated with your AWS directory. Conditional forwarders are required in order to set up a trust relationship with another domain. The conditional forwarder points to the trusted domain.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The specified entity already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The specified directory is unavailable or could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConditionalForwarderRequest",
        "variableName" : "createConditionalForwarderRequest",
        "variableType" : "CreateConditionalForwarderRequest",
        "documentation" : "<p>Initiates the creation of a conditional forwarder for your AWS Directory Service for Microsoft Active Directory. Conditional forwarders are required in order to set up a trust relationship with another domain.</p>",
        "simpleType" : "CreateConditionalForwarderRequest",
        "variableSetterType" : "CreateConditionalForwarderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConditionalForwarder",
      "operationName" : "CreateConditionalForwarder",
      "returnType" : {
        "returnType" : "CreateConditionalForwarderResult",
        "documentation" : "<p>The result of a CreateConditinalForwarder request.</p>"
      },
      "syncReturnType" : "CreateConditionalForwarderResult"
    },
    "CreateDirectory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDirectoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDirectoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDirectoryRequest, CreateDirectoryResult>",
      "asyncReturnType" : "CreateDirectoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Simple AD directory.</p> <p>Before you call <code>CreateDirectory</code>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <code>CreateDirectory</code> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DirectoryLimitExceededException",
        "documentation" : "<p>The maximum number of directories in the region has been reached. You can use the <a>GetDirectoryLimits</a> operation to determine your directory limits in the region.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDirectoryRequest",
        "variableName" : "createDirectoryRequest",
        "variableType" : "CreateDirectoryRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateDirectory</a> operation. </p>",
        "simpleType" : "CreateDirectoryRequest",
        "variableSetterType" : "CreateDirectoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDirectory",
      "operationName" : "CreateDirectory",
      "returnType" : {
        "returnType" : "CreateDirectoryResult",
        "documentation" : "<p>Contains the results of the <a>CreateDirectory</a> operation.</p>"
      },
      "syncReturnType" : "CreateDirectoryResult"
    },
    "CreateLogSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLogSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLogSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLogSubscriptionRequest, CreateLogSubscriptionResult>",
      "asyncReturnType" : "CreateLogSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a subscription to forward real time Directory Service domain controller security logs to the specified CloudWatch log group in your AWS account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The specified entity already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InsufficientPermissionsException",
        "documentation" : "<p>The account does not have sufficient permission to perform the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLogSubscriptionRequest",
        "variableName" : "createLogSubscriptionRequest",
        "variableType" : "CreateLogSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "CreateLogSubscriptionRequest",
        "variableSetterType" : "CreateLogSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLogSubscription",
      "operationName" : "CreateLogSubscription",
      "returnType" : {
        "returnType" : "CreateLogSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLogSubscriptionResult"
    },
    "CreateMicrosoftAD" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMicrosoftADResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMicrosoftADResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMicrosoftADRequest, CreateMicrosoftADResult>",
      "asyncReturnType" : "CreateMicrosoftADResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an AWS Managed Microsoft AD directory.</p> <p>Before you call <i>CreateMicrosoftAD</i>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <i>CreateMicrosoftAD</i> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DirectoryLimitExceededException",
        "documentation" : "<p>The maximum number of directories in the region has been reached. You can use the <a>GetDirectoryLimits</a> operation to determine your directory limits in the region.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMicrosoftADRequest",
        "variableName" : "createMicrosoftADRequest",
        "variableType" : "CreateMicrosoftADRequest",
        "documentation" : "<p>Creates an AWS Managed Microsoft AD directory.</p>",
        "simpleType" : "CreateMicrosoftADRequest",
        "variableSetterType" : "CreateMicrosoftADRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMicrosoftAD",
      "operationName" : "CreateMicrosoftAD",
      "returnType" : {
        "returnType" : "CreateMicrosoftADResult",
        "documentation" : "<p>Result of a CreateMicrosoftAD request.</p>"
      },
      "syncReturnType" : "CreateMicrosoftADResult"
    },
    "CreateSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSnapshotRequest, CreateSnapshotResult>",
      "asyncReturnType" : "CreateSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a snapshot of a Simple AD or Microsoft AD directory in the AWS cloud.</p> <note> <p>You cannot take snapshots of AD Connector directories.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SnapshotLimitExceededException",
        "documentation" : "<p>The maximum number of manual snapshots for the directory has been reached. You can use the <a>GetSnapshotLimits</a> operation to determine the snapshot limits for a directory.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSnapshotRequest",
        "variableName" : "createSnapshotRequest",
        "variableType" : "CreateSnapshotRequest",
        "documentation" : "<p>Contains the inputs for the <a>CreateSnapshot</a> operation.</p>",
        "simpleType" : "CreateSnapshotRequest",
        "variableSetterType" : "CreateSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSnapshot",
      "operationName" : "CreateSnapshot",
      "returnType" : {
        "returnType" : "CreateSnapshotResult",
        "documentation" : "<p>Contains the results of the <a>CreateSnapshot</a> operation.</p>"
      },
      "syncReturnType" : "CreateSnapshotResult"
    },
    "CreateTrust" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTrustResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTrustResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTrustRequest, CreateTrustResult>",
      "asyncReturnType" : "CreateTrustResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>AWS Directory Service for Microsoft Active Directory allows you to configure trust relationships. For example, you can establish a trust between your AWS Managed Microsoft AD directory, and your existing on-premises Microsoft Active Directory. This would allow you to provide users and groups access to resources in either domain, with a single set of credentials.</p> <p>This action initiates the creation of the AWS side of a trust relationship between an AWS Managed Microsoft AD directory and an external domain. You can create either a forest trust or an external trust.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The specified entity already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTrustRequest",
        "variableName" : "createTrustRequest",
        "variableType" : "CreateTrustRequest",
        "documentation" : "<p>AWS Directory Service for Microsoft Active Directory allows you to configure trust relationships. For example, you can establish a trust between your AWS Managed Microsoft AD directory, and your existing on-premises Microsoft Active Directory. This would allow you to provide users and groups access to resources in either domain, with a single set of credentials.</p> <p>This action initiates the creation of the AWS side of a trust relationship between an AWS Managed Microsoft AD directory and an external domain.</p>",
        "simpleType" : "CreateTrustRequest",
        "variableSetterType" : "CreateTrustRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTrust",
      "operationName" : "CreateTrust",
      "returnType" : {
        "returnType" : "CreateTrustResult",
        "documentation" : "<p>The result of a CreateTrust request.</p>"
      },
      "syncReturnType" : "CreateTrustResult"
    },
    "DeleteConditionalForwarder" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConditionalForwarderResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConditionalForwarderResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConditionalForwarderRequest, DeleteConditionalForwarderResult>",
      "asyncReturnType" : "DeleteConditionalForwarderResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a conditional forwarder that has been set up for your AWS directory.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The specified directory is unavailable or could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConditionalForwarderRequest",
        "variableName" : "deleteConditionalForwarderRequest",
        "variableType" : "DeleteConditionalForwarderRequest",
        "documentation" : "<p>Deletes a conditional forwarder.</p>",
        "simpleType" : "DeleteConditionalForwarderRequest",
        "variableSetterType" : "DeleteConditionalForwarderRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConditionalForwarder",
      "operationName" : "DeleteConditionalForwarder",
      "returnType" : {
        "returnType" : "DeleteConditionalForwarderResult",
        "documentation" : "<p>The result of a DeleteConditionalForwarder request.</p>"
      },
      "syncReturnType" : "DeleteConditionalForwarderResult"
    },
    "DeleteDirectory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDirectoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDirectoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDirectoryRequest, DeleteDirectoryResult>",
      "asyncReturnType" : "DeleteDirectoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an AWS Directory Service directory.</p> <p>Before you call <code>DeleteDirectory</code>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <code>DeleteDirectory</code> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDirectoryRequest",
        "variableName" : "deleteDirectoryRequest",
        "variableType" : "DeleteDirectoryRequest",
        "documentation" : "<p>Contains the inputs for the <a>DeleteDirectory</a> operation.</p>",
        "simpleType" : "DeleteDirectoryRequest",
        "variableSetterType" : "DeleteDirectoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDirectory",
      "operationName" : "DeleteDirectory",
      "returnType" : {
        "returnType" : "DeleteDirectoryResult",
        "documentation" : "<p>Contains the results of the <a>DeleteDirectory</a> operation.</p>"
      },
      "syncReturnType" : "DeleteDirectoryResult"
    },
    "DeleteLogSubscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLogSubscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLogSubscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLogSubscriptionRequest, DeleteLogSubscriptionResult>",
      "asyncReturnType" : "DeleteLogSubscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified log subscription.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLogSubscriptionRequest",
        "variableName" : "deleteLogSubscriptionRequest",
        "variableType" : "DeleteLogSubscriptionRequest",
        "documentation" : "",
        "simpleType" : "DeleteLogSubscriptionRequest",
        "variableSetterType" : "DeleteLogSubscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLogSubscription",
      "operationName" : "DeleteLogSubscription",
      "returnType" : {
        "returnType" : "DeleteLogSubscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLogSubscriptionResult"
    },
    "DeleteSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSnapshotRequest, DeleteSnapshotResult>",
      "asyncReturnType" : "DeleteSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a directory snapshot.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSnapshotRequest",
        "variableName" : "deleteSnapshotRequest",
        "variableType" : "DeleteSnapshotRequest",
        "documentation" : "<p>Contains the inputs for the <a>DeleteSnapshot</a> operation.</p>",
        "simpleType" : "DeleteSnapshotRequest",
        "variableSetterType" : "DeleteSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSnapshot",
      "operationName" : "DeleteSnapshot",
      "returnType" : {
        "returnType" : "DeleteSnapshotResult",
        "documentation" : "<p>Contains the results of the <a>DeleteSnapshot</a> operation.</p>"
      },
      "syncReturnType" : "DeleteSnapshotResult"
    },
    "DeleteTrust" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTrustResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTrustResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTrustRequest, DeleteTrustResult>",
      "asyncReturnType" : "DeleteTrustResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an existing trust relationship between your AWS Managed Microsoft AD directory and an external domain.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTrustRequest",
        "variableName" : "deleteTrustRequest",
        "variableType" : "DeleteTrustRequest",
        "documentation" : "<p>Deletes the local side of an existing trust relationship between the AWS Managed Microsoft AD directory and the external domain.</p>",
        "simpleType" : "DeleteTrustRequest",
        "variableSetterType" : "DeleteTrustRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTrust",
      "operationName" : "DeleteTrust",
      "returnType" : {
        "returnType" : "DeleteTrustResult",
        "documentation" : "<p>The result of a DeleteTrust request.</p>"
      },
      "syncReturnType" : "DeleteTrustResult"
    },
    "DeregisterEventTopic" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterEventTopicResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterEventTopicResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterEventTopicRequest, DeregisterEventTopicResult>",
      "asyncReturnType" : "DeregisterEventTopicResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified directory as a publisher to the specified SNS topic.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterEventTopicRequest",
        "variableName" : "deregisterEventTopicRequest",
        "variableType" : "DeregisterEventTopicRequest",
        "documentation" : "<p>Removes the specified directory as a publisher to the specified SNS topic.</p>",
        "simpleType" : "DeregisterEventTopicRequest",
        "variableSetterType" : "DeregisterEventTopicRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterEventTopic",
      "operationName" : "DeregisterEventTopic",
      "returnType" : {
        "returnType" : "DeregisterEventTopicResult",
        "documentation" : "<p>The result of a DeregisterEventTopic request.</p>"
      },
      "syncReturnType" : "DeregisterEventTopicResult"
    },
    "DescribeConditionalForwarders" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConditionalForwardersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConditionalForwardersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConditionalForwardersRequest, DescribeConditionalForwardersResult>",
      "asyncReturnType" : "DescribeConditionalForwardersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Obtains information about the conditional forwarders for this account.</p> <p>If no input parameters are provided for RemoteDomainNames, this request describes all conditional forwarders for the specified directory ID.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectoryUnavailableException",
        "documentation" : "<p>The specified directory is unavailable or could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeConditionalForwardersRequest",
        "variableName" : "describeConditionalForwardersRequest",
        "variableType" : "DescribeConditionalForwardersRequest",
        "documentation" : "<p>Describes a conditional forwarder.</p>",
        "simpleType" : "DescribeConditionalForwardersRequest",
        "variableSetterType" : "DescribeConditionalForwardersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConditionalForwarders",
      "operationName" : "DescribeConditionalForwarders",
      "returnType" : {
        "returnType" : "DescribeConditionalForwardersResult",
        "documentation" : "<p>The result of a DescribeConditionalForwarder request.</p>"
      },
      "syncReturnType" : "DescribeConditionalForwardersResult"
    },
    "DescribeDirectories" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDirectoriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDirectoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDirectoriesRequest, DescribeDirectoriesResult>",
      "asyncReturnType" : "DescribeDirectoriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Obtains information about the directories that belong to this account.</p> <p>You can retrieve information about specific directories by passing the directory identifiers in the <code>DirectoryIds</code> parameter. Otherwise, all directories that belong to the current account are returned.</p> <p>This operation supports pagination with the use of the <code>NextToken</code> request and response parameters. If more results are available, the <code>DescribeDirectoriesResult.NextToken</code> member contains a token that you pass in the next call to <a>DescribeDirectories</a> to retrieve the next set of items.</p> <p>You can also specify a maximum number of return results with the <code>Limit</code> parameter.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDirectoriesRequest",
        "variableName" : "describeDirectoriesRequest",
        "variableType" : "DescribeDirectoriesRequest",
        "documentation" : "<p>Contains the inputs for the <a>DescribeDirectories</a> operation.</p>",
        "simpleType" : "DescribeDirectoriesRequest",
        "variableSetterType" : "DescribeDirectoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDirectories",
      "operationName" : "DescribeDirectories",
      "returnType" : {
        "returnType" : "DescribeDirectoriesResult",
        "documentation" : "<p>Contains the results of the <a>DescribeDirectories</a> operation.</p>"
      },
      "syncReturnType" : "DescribeDirectoriesResult"
    },
    "DescribeDomainControllers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDomainControllersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDomainControllersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDomainControllersRequest, DescribeDomainControllersResult>",
      "asyncReturnType" : "DescribeDomainControllersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides information about any domain controllers in your directory.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDomainControllersRequest",
        "variableName" : "describeDomainControllersRequest",
        "variableType" : "DescribeDomainControllersRequest",
        "documentation" : "",
        "simpleType" : "DescribeDomainControllersRequest",
        "variableSetterType" : "DescribeDomainControllersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDomainControllers",
      "operationName" : "DescribeDomainControllers",
      "returnType" : {
        "returnType" : "DescribeDomainControllersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDomainControllersResult"
    },
    "DescribeEventTopics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEventTopicsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEventTopicsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEventTopicsRequest, DescribeEventTopicsResult>",
      "asyncReturnType" : "DescribeEventTopicsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Obtains information about which SNS topics receive status messages from the specified directory.</p> <p>If no input parameters are provided, such as DirectoryId or TopicName, this request describes all of the associations in the account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEventTopicsRequest",
        "variableName" : "describeEventTopicsRequest",
        "variableType" : "DescribeEventTopicsRequest",
        "documentation" : "<p>Describes event topics.</p>",
        "simpleType" : "DescribeEventTopicsRequest",
        "variableSetterType" : "DescribeEventTopicsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEventTopics",
      "operationName" : "DescribeEventTopics",
      "returnType" : {
        "returnType" : "DescribeEventTopicsResult",
        "documentation" : "<p>The result of a DescribeEventTopic request.</p>"
      },
      "syncReturnType" : "DescribeEventTopicsResult"
    },
    "DescribeSharedDirectories" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSharedDirectoriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSharedDirectoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSharedDirectoriesRequest, DescribeSharedDirectoriesResult>",
      "asyncReturnType" : "DescribeSharedDirectoriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the shared directories in your account. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSharedDirectoriesRequest",
        "variableName" : "describeSharedDirectoriesRequest",
        "variableType" : "DescribeSharedDirectoriesRequest",
        "documentation" : "",
        "simpleType" : "DescribeSharedDirectoriesRequest",
        "variableSetterType" : "DescribeSharedDirectoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSharedDirectories",
      "operationName" : "DescribeSharedDirectories",
      "returnType" : {
        "returnType" : "DescribeSharedDirectoriesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSharedDirectoriesResult"
    },
    "DescribeSnapshots" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSnapshotsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSnapshotsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSnapshotsRequest, DescribeSnapshotsResult>",
      "asyncReturnType" : "DescribeSnapshotsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Obtains information about the directory snapshots that belong to this account.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> request and response parameters. If more results are available, the <i>DescribeSnapshots.NextToken</i> member contains a token that you pass in the next call to <a>DescribeSnapshots</a> to retrieve the next set of items.</p> <p>You can also specify a maximum number of return results with the <i>Limit</i> parameter.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSnapshotsRequest",
        "variableName" : "describeSnapshotsRequest",
        "variableType" : "DescribeSnapshotsRequest",
        "documentation" : "<p>Contains the inputs for the <a>DescribeSnapshots</a> operation.</p>",
        "simpleType" : "DescribeSnapshotsRequest",
        "variableSetterType" : "DescribeSnapshotsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSnapshots",
      "operationName" : "DescribeSnapshots",
      "returnType" : {
        "returnType" : "DescribeSnapshotsResult",
        "documentation" : "<p>Contains the results of the <a>DescribeSnapshots</a> operation.</p>"
      },
      "syncReturnType" : "DescribeSnapshotsResult"
    },
    "DescribeTrusts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTrustsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTrustsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTrustsRequest, DescribeTrustsResult>",
      "asyncReturnType" : "DescribeTrustsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Obtains information about the trust relationships for this account.</p> <p>If no input parameters are provided, such as DirectoryId or TrustIds, this request describes all the trust relationships belonging to the account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The operation is not supported.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTrustsRequest",
        "variableName" : "describeTrustsRequest",
        "variableType" : "DescribeTrustsRequest",
        "documentation" : "<p>Describes the trust relationships for a particular AWS Managed Microsoft AD directory. If no input parameters are are provided, such as directory ID or trust ID, this request describes all the trust relationships.</p>",
        "simpleType" : "DescribeTrustsRequest",
        "variableSetterType" : "DescribeTrustsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTrusts",
      "operationName" : "DescribeTrusts",
      "returnType" : {
        "returnType" : "DescribeTrustsResult",
        "documentation" : "<p>The result of a DescribeTrust request.</p>"
      },
      "syncReturnType" : "DescribeTrustsResult"
    },
    "DisableRadius" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableRadiusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableRadiusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableRadiusRequest, DisableRadiusResult>",
      "asyncReturnType" : "DisableRadiusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables multi-factor authentication (MFA) with the Remote Authentication Dial In User Service (RADIUS) server for an AD Connector or Microsoft AD directory.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableRadiusRequest",
        "variableName" : "disableRadiusRequest",
        "variableType" : "DisableRadiusRequest",
        "documentation" : "<p>Contains the inputs for the <a>DisableRadius</a> operation.</p>",
        "simpleType" : "DisableRadiusRequest",
        "variableSetterType" : "DisableRadiusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableRadius",
      "operationName" : "DisableRadius",
      "returnType" : {
        "returnType" : "DisableRadiusResult",
        "documentation" : "<p>Contains the results of the <a>DisableRadius</a> operation.</p>"
      },
      "syncReturnType" : "DisableRadiusResult"
    },
    "DisableSso" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableSsoResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableSsoResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableSsoRequest, DisableSsoResult>",
      "asyncReturnType" : "DisableSsoResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables single-sign on for a directory.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InsufficientPermissionsException",
        "documentation" : "<p>The account does not have sufficient permission to perform the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthenticationFailedException",
        "documentation" : "<p>An authentication error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableSsoRequest",
        "variableName" : "disableSsoRequest",
        "variableType" : "DisableSsoRequest",
        "documentation" : "<p>Contains the inputs for the <a>DisableSso</a> operation.</p>",
        "simpleType" : "DisableSsoRequest",
        "variableSetterType" : "DisableSsoRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableSso",
      "operationName" : "DisableSso",
      "returnType" : {
        "returnType" : "DisableSsoResult",
        "documentation" : "<p>Contains the results of the <a>DisableSso</a> operation.</p>"
      },
      "syncReturnType" : "DisableSsoResult"
    },
    "EnableRadius" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableRadiusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableRadiusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableRadiusRequest, EnableRadiusResult>",
      "asyncReturnType" : "EnableRadiusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables multi-factor authentication (MFA) with the Remote Authentication Dial In User Service (RADIUS) server for an AD Connector or Microsoft AD directory.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityAlreadyExistsException",
        "documentation" : "<p>The specified entity already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableRadiusRequest",
        "variableName" : "enableRadiusRequest",
        "variableType" : "EnableRadiusRequest",
        "documentation" : "<p>Contains the inputs for the <a>EnableRadius</a> operation.</p>",
        "simpleType" : "EnableRadiusRequest",
        "variableSetterType" : "EnableRadiusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableRadius",
      "operationName" : "EnableRadius",
      "returnType" : {
        "returnType" : "EnableRadiusResult",
        "documentation" : "<p>Contains the results of the <a>EnableRadius</a> operation.</p>"
      },
      "syncReturnType" : "EnableRadiusResult"
    },
    "EnableSso" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableSsoResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableSsoResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableSsoRequest, EnableSsoResult>",
      "asyncReturnType" : "EnableSsoResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables single sign-on for a directory.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InsufficientPermissionsException",
        "documentation" : "<p>The account does not have sufficient permission to perform the operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AuthenticationFailedException",
        "documentation" : "<p>An authentication error occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableSsoRequest",
        "variableName" : "enableSsoRequest",
        "variableType" : "EnableSsoRequest",
        "documentation" : "<p>Contains the inputs for the <a>EnableSso</a> operation.</p>",
        "simpleType" : "EnableSsoRequest",
        "variableSetterType" : "EnableSsoRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableSso",
      "operationName" : "EnableSso",
      "returnType" : {
        "returnType" : "EnableSsoResult",
        "documentation" : "<p>Contains the results of the <a>EnableSso</a> operation.</p>"
      },
      "syncReturnType" : "EnableSsoResult"
    },
    "GetDirectoryLimits" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDirectoryLimitsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDirectoryLimitsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDirectoryLimitsRequest, GetDirectoryLimitsResult>",
      "asyncReturnType" : "GetDirectoryLimitsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Obtains directory limit information for the current region.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDirectoryLimitsRequest",
        "variableName" : "getDirectoryLimitsRequest",
        "variableType" : "GetDirectoryLimitsRequest",
        "documentation" : "<p>Contains the inputs for the <a>GetDirectoryLimits</a> operation.</p>",
        "simpleType" : "GetDirectoryLimitsRequest",
        "variableSetterType" : "GetDirectoryLimitsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDirectoryLimits",
      "operationName" : "GetDirectoryLimits",
      "returnType" : {
        "returnType" : "GetDirectoryLimitsResult",
        "documentation" : "<p>Contains the results of the <a>GetDirectoryLimits</a> operation.</p>"
      },
      "syncReturnType" : "GetDirectoryLimitsResult"
    },
    "GetSnapshotLimits" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSnapshotLimitsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSnapshotLimitsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSnapshotLimitsRequest, GetSnapshotLimitsResult>",
      "asyncReturnType" : "GetSnapshotLimitsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Obtains the manual snapshot limits for a directory.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSnapshotLimitsRequest",
        "variableName" : "getSnapshotLimitsRequest",
        "variableType" : "GetSnapshotLimitsRequest",
        "documentation" : "<p>Contains the inputs for the <a>GetSnapshotLimits</a> operation.</p>",
        "simpleType" : "GetSnapshotLimitsRequest",
        "variableSetterType" : "GetSnapshotLimitsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSnapshotLimits",
      "operationName" : "GetSnapshotLimits",
      "returnType" : {
        "returnType" : "GetSnapshotLimitsResult",
        "documentation" : "<p>Contains the results of the <a>GetSnapshotLimits</a> operation.</p>"
      },
      "syncReturnType" : "GetSnapshotLimitsResult"
    },
    "ListIpRoutes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIpRoutesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIpRoutesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIpRoutesRequest, ListIpRoutesResult>",
      "asyncReturnType" : "ListIpRoutesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the address blocks that you have added to a directory.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIpRoutesRequest",
        "variableName" : "listIpRoutesRequest",
        "variableType" : "ListIpRoutesRequest",
        "documentation" : "",
        "simpleType" : "ListIpRoutesRequest",
        "variableSetterType" : "ListIpRoutesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIpRoutes",
      "operationName" : "ListIpRoutes",
      "returnType" : {
        "returnType" : "ListIpRoutesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListIpRoutesResult"
    },
    "ListLogSubscriptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLogSubscriptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLogSubscriptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLogSubscriptionsRequest, ListLogSubscriptionsResult>",
      "asyncReturnType" : "ListLogSubscriptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the active log subscriptions for the AWS account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLogSubscriptionsRequest",
        "variableName" : "listLogSubscriptionsRequest",
        "variableType" : "ListLogSubscriptionsRequest",
        "documentation" : "",
        "simpleType" : "ListLogSubscriptionsRequest",
        "variableSetterType" : "ListLogSubscriptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLogSubscriptions",
      "operationName" : "ListLogSubscriptions",
      "returnType" : {
        "returnType" : "ListLogSubscriptionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLogSubscriptionsResult"
    },
    "ListSchemaExtensions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSchemaExtensionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSchemaExtensionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSchemaExtensionsRequest, ListSchemaExtensionsResult>",
      "asyncReturnType" : "ListSchemaExtensionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all schema extensions applied to a Microsoft AD Directory.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSchemaExtensionsRequest",
        "variableName" : "listSchemaExtensionsRequest",
        "variableType" : "ListSchemaExtensionsRequest",
        "documentation" : "",
        "simpleType" : "ListSchemaExtensionsRequest",
        "variableSetterType" : "ListSchemaExtensionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSchemaExtensions",
      "operationName" : "ListSchemaExtensions",
      "returnType" : {
        "returnType" : "ListSchemaExtensionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSchemaExtensionsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all tags on a directory.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The <code>NextToken</code> value is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "RegisterEventTopic" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterEventTopicResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterEventTopicResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterEventTopicRequest, RegisterEventTopicResult>",
      "asyncReturnType" : "RegisterEventTopicResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a directory with an SNS topic. This establishes the directory as a publisher to the specified SNS topic. You can then receive email or text (SMS) messages when the status of your directory changes. You get notified if your directory goes from an Active status to an Impaired or Inoperable status. You also receive a notification when the directory returns to an Active status.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>An exception has occurred in AWS Directory Service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterEventTopicRequest",
        "variableName" : "registerEventTopicRequest",
        "variableType" : "RegisterEventTopicRequest",
        "documentation" : "<p>Registers a new event topic.</p>",
        "simpleType" : "RegisterEventTopicRequest",
        "variableSetterType" : "RegisterEventTopicRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerEventTopic",
      "operationName" : "RegisterEventTopic",
      "returnType" : {
        "returnType" : "RegisterEventTopicResult",
        "documentation" : "<p>The result of a RegisterEventTopic request.</p>"
      },
      "syncReturnType" : "RegisterEventTopicResult"
    },
    "RejectSharedDirectory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RejectSharedDirectoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RejectSharedDirectoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RejectSharedDirectoryRequest, RejectSharedDirectoryResult>",
      "asyncReturnType" : "RejectSharedDirectoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Rejects a directory sharing request that was sent from the directory owner account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityDoesNotExistException",
        "documentation" : "<p>The specified entity could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DirectoryAlreadySharedException",
        "documentation" : "<p>The specified directory has already been shared with this AWS account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>A client exception has occurred.</p>",
[...]
