{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-11-02",
    "asyncClient" : "AmazonEBSAsyncClient",
    "asyncClientBuilderClassName" : "AmazonEBSAsyncClientBuilder",
    "asyncInterface" : "AmazonEBSAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonEBSModuleInjector",
    "defaultEndpoint" : "ebs.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ebs.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>You can use the Amazon Elastic Block Store (Amazon EBS) direct APIs to create EBS snapshots, write data directly to your snapshots, read data on your snapshots, and identify the differences or changes between two snapshots. If you’re an independent software vendor (ISV) who offers backup services for Amazon EBS, the EBS direct APIs make it more efficient and cost-effective to track incremental changes on your EBS volumes through snapshots. This can be done without having to create new volumes from snapshots, and then use Amazon Elastic Compute Cloud (Amazon EC2) instances to compare the differences.</p> <p>You can create incremental snapshots directly from data on-premises into EBS volumes and the cloud to use for quick disaster recovery. With the ability to write and read snapshots, you can write your on-premises data to an EBS snapshot during a disaster. Then after recovery, you can restore it back to AWS or on-premises from the snapshot. You no longer need to build and maintain complex mechanisms to copy data to and from Amazon EBS.</p> <p>This API reference provides detailed information about the actions, data types, parameters, and errors of the EBS direct APIs. For more information about the elements that make up the EBS direct APIs, and examples of how to use them effectively, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-accessing-snapshot.html\">Accessing the Contents of an EBS Snapshot</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>. For more information about the supported AWS Regions, endpoints, and service quotas for the EBS direct APIs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/ebs-service.html\">Amazon Elastic Block Store Endpoints and Quotas</a> in the <i>AWS General Reference</i>.</p>",
    "endpointPrefix" : "ebs",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.ebs",
    "packagePath" : "com/amazonaws/services/ebs",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amazon EBS",
    "serviceFullName" : "Amazon Elastic Block Store",
    "serviceId" : "EBS",
    "serviceName" : "Amazon EBS",
    "signingName" : "ebs",
    "smokeTestsPackageName" : "com.amazonaws.services.ebs.smoketests",
    "syncClient" : "AmazonEBSClient",
    "syncClientBuilderClassName" : "AmazonEBSClientBuilder",
    "syncInterface" : "AmazonEBS",
    "uid" : "ebs-2019-11-02",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CompleteSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CompleteSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CompleteSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CompleteSnapshotRequest, CompleteSnapshotResult>",
      "asyncReturnType" : "CompleteSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Seals and completes the snapshot after all of the required blocks of data have been written to it. Completing the snapshot changes the status to <code>completed</code>. You cannot write new blocks to a snapshot after it has been completed.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints of the EBS direct APIs.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "RequestThrottledException",
        "documentation" : "<p>The number of API requests has exceed the maximum allowed API request throttling limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current service quotas do not allow you to perform this action.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CompleteSnapshotRequest",
        "variableName" : "completeSnapshotRequest",
        "variableType" : "CompleteSnapshotRequest",
        "documentation" : "",
        "simpleType" : "CompleteSnapshotRequest",
        "variableSetterType" : "CompleteSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "completeSnapshot",
      "operationName" : "CompleteSnapshot",
      "returnType" : {
        "returnType" : "CompleteSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "CompleteSnapshotResult"
    },
    "GetSnapshotBlock" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSnapshotBlockResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSnapshotBlockResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSnapshotBlockRequest, GetSnapshotBlockResult>",
      "asyncReturnType" : "GetSnapshotBlockResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the data in a block in an Amazon Elastic Block Store snapshot.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints of the EBS direct APIs.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "RequestThrottledException",
        "documentation" : "<p>The number of API requests has exceed the maximum allowed API request throttling limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current service quotas do not allow you to perform this action.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSnapshotBlockRequest",
        "variableName" : "getSnapshotBlockRequest",
        "variableType" : "GetSnapshotBlockRequest",
        "documentation" : "",
        "simpleType" : "GetSnapshotBlockRequest",
        "variableSetterType" : "GetSnapshotBlockRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSnapshotBlock",
      "operationName" : "GetSnapshotBlock",
      "returnType" : {
        "returnType" : "GetSnapshotBlockResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSnapshotBlockResult"
    },
    "ListChangedBlocks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListChangedBlocksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListChangedBlocksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListChangedBlocksRequest, ListChangedBlocksResult>",
      "asyncReturnType" : "ListChangedBlocksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the blocks that are different between two Amazon Elastic Block Store snapshots of the same volume/snapshot lineage.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints of the EBS direct APIs.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "RequestThrottledException",
        "documentation" : "<p>The number of API requests has exceed the maximum allowed API request throttling limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current service quotas do not allow you to perform this action.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListChangedBlocksRequest",
        "variableName" : "listChangedBlocksRequest",
        "variableType" : "ListChangedBlocksRequest",
        "documentation" : "",
        "simpleType" : "ListChangedBlocksRequest",
        "variableSetterType" : "ListChangedBlocksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listChangedBlocks",
      "operationName" : "ListChangedBlocks",
      "returnType" : {
        "returnType" : "ListChangedBlocksResult",
        "documentation" : null
      },
      "syncReturnType" : "ListChangedBlocksResult"
    },
    "ListSnapshotBlocks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSnapshotBlocksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSnapshotBlocksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSnapshotBlocksRequest, ListSnapshotBlocksResult>",
      "asyncReturnType" : "ListSnapshotBlocksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the blocks in an Amazon Elastic Block Store snapshot.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints of the EBS direct APIs.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "RequestThrottledException",
        "documentation" : "<p>The number of API requests has exceed the maximum allowed API request throttling limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current service quotas do not allow you to perform this action.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSnapshotBlocksRequest",
        "variableName" : "listSnapshotBlocksRequest",
        "variableType" : "ListSnapshotBlocksRequest",
        "documentation" : "",
        "simpleType" : "ListSnapshotBlocksRequest",
        "variableSetterType" : "ListSnapshotBlocksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSnapshotBlocks",
      "operationName" : "ListSnapshotBlocks",
      "returnType" : {
        "returnType" : "ListSnapshotBlocksResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSnapshotBlocksResult"
    },
    "PutSnapshotBlock" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutSnapshotBlockResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutSnapshotBlockResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutSnapshotBlockRequest, PutSnapshotBlockResult>",
      "asyncReturnType" : "PutSnapshotBlockResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Writes a block of data to a snapshot. If the specified block contains data, the existing data is overwritten. The target snapshot must be in the <code>pending</code> state.</p> <p>Data written to a snapshot must be aligned with 512-byte sectors.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints of the EBS direct APIs.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "RequestThrottledException",
        "documentation" : "<p>The number of API requests has exceed the maximum allowed API request throttling limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current service quotas do not allow you to perform this action.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutSnapshotBlockRequest",
        "variableName" : "putSnapshotBlockRequest",
        "variableType" : "PutSnapshotBlockRequest",
        "documentation" : "",
        "simpleType" : "PutSnapshotBlockRequest",
        "variableSetterType" : "PutSnapshotBlockRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putSnapshotBlock",
      "operationName" : "PutSnapshotBlock",
      "returnType" : {
        "returnType" : "PutSnapshotBlockResult",
        "documentation" : null
      },
      "syncReturnType" : "PutSnapshotBlockResult"
    },
    "StartSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartSnapshotRequest, StartSnapshotResult>",
      "asyncReturnType" : "StartSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new Amazon EBS snapshot. The new snapshot enters the <code>pending</code> state after the request completes. </p> <p>After creating the snapshot, use <a href=\"https://docs.aws.amazon.com/ebs/latest/APIReference/API_PutSnapshotBlock.html\"> PutSnapshotBlock</a> to write blocks of data to the snapshot.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints of the EBS direct APIs.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RequestThrottledException",
        "documentation" : "<p>The number of API requests has exceed the maximum allowed API request throttling limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your current service quotas do not allow you to perform this action.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error has occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConcurrentLimitExceededException",
        "documentation" : "<p>You have reached the limit for concurrent API requests. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-accessing-snapshot.html#ebsapi-performance\">Optimizing performance of the EBS direct APIs</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request uses the same client token as a previous, but non-identical request.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartSnapshotRequest",
        "variableName" : "startSnapshotRequest",
        "variableType" : "StartSnapshotRequest",
        "documentation" : "",
        "simpleType" : "StartSnapshotRequest",
        "variableSetterType" : "StartSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startSnapshot",
      "operationName" : "StartSnapshot",
      "returnType" : {
        "returnType" : "StartSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "StartSnapshotResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.ebs.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Reason",
        "c2jShape" : "AccessDeniedExceptionReason",
        "deprecated" : false,
        "documentation" : "<p>The reason for the exception.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "AccessDeniedExceptionReason",
        "fluentSetterDocumentation" : "/**<p>The reason for the exception.</p>\n@param reason The reason for the exception.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccessDeniedExceptionReason*/",
        "fluentSetterMethodName" : "withReason",
        "getterDocumentation" : "/**<p>The reason for the exception.</p>\n@return The reason for the exception.\n@see AccessDeniedExceptionReason*/",
        "getterMethodName" : "getReason",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Reason",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Reason",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Reason",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The reason for the exception.</p>\n@param reason The reason for the exception.\n@see AccessDeniedExceptionReason*/",
        "setterMethodName" : "setReason",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reason",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The reason for the exception.</p>\n@param reason The reason for the exception.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccessDeniedExceptionReason*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "reason",
          "variableType" : "String",
          "documentation" : "<p>The reason for the exception.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Reason" : {
          "c2jName" : "Reason",
          "c2jShape" : "AccessDeniedExceptionReason",
          "deprecated" : false,
          "documentation" : "<p>The reason for the exception.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "AccessDeniedExceptionReason",
          "fluentSetterDocumentation" : "/**<p>The reason for the exception.</p>\n@param reason The reason for the exception.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccessDeniedExceptionReason*/",
          "fluentSetterMethodName" : "withReason",
          "getterDocumentation" : "/**<p>The reason for the exception.</p>\n@return The reason for the exception.\n@see AccessDeniedExceptionReason*/",
          "getterMethodName" : "getReason",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Reason",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Reason",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Reason",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The reason for the exception.</p>\n@param reason The reason for the exception.\n@see AccessDeniedExceptionReason*/",
          "setterMethodName" : "setReason",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "reason",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The reason for the exception.</p>\n@param reason The reason for the exception.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccessDeniedExceptionReason*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "reason",
            "variableType" : "String",
            "documentation" : "<p>The reason for the exception.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.ebs.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Reason" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AccessDeniedExceptionReason" : {
      "c2jName" : "AccessDeniedExceptionReason",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "UNAUTHORIZED_ACCOUNT",
        "value" : "UNAUTHORIZED_ACCOUNT"
      }, {
        "name" : "DEPENDENCY_ACCESS_DENIED",
        "value" : "DEPENDENCY_ACCESS_DENIED"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ebs.enum.AccessDeniedExceptionReason",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.ebs.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedExceptionReason",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedExceptionReason",
        "variableName" : "accessDeniedExceptionReason",
        "variableType" : "AccessDeniedExceptionReason",
        "documentation" : null,
        "simpleType" : "AccessDeniedExceptionReason",
        "variableSetterType" : "AccessDeniedExceptionReason"
      },
      "wrapper" : false
    },
    "Block" : {
      "c2jName" : "Block",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A block of data in an Amazon Elastic Block Store snapshot.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ebs.model.Block",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "BlockIndex",
        "c2jShape" : "BlockIndex",
        "deprecated" : false,
        "documentation" : "<p>The block index.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBlockIndex",
        "getterDocumentation" : "/**<p>The block index.</p>\n@return The block index.*/",
        "getterMethodName" : "getBlockIndex",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BlockIndex",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BlockIndex",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "BlockIndex",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.*/",
        "setterMethodName" : "setBlockIndex",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "blockIndex",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "blockIndex",
          "variableType" : "Integer",
          "documentation" : "<p>The block index.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BlockToken",
        "c2jShape" : "BlockToken",
        "deprecated" : false,
        "documentation" : "<p>The block token for the block index.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The block token for the block index.</p>\n@param blockToken The block token for the block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBlockToken",
        "getterDocumentation" : "/**<p>The block token for the block index.</p>\n@return The block token for the block index.*/",
        "getterMethodName" : "getBlockToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BlockToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BlockToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BlockToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The block token for the block index.</p>\n@param blockToken The block token for the block index.*/",
        "setterMethodName" : "setBlockToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "blockToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The block token for the block index.</p>\n@param blockToken The block token for the block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "blockToken",
          "variableType" : "String",
          "documentation" : "<p>The block token for the block index.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BlockIndex" : {
          "c2jName" : "BlockIndex",
          "c2jShape" : "BlockIndex",
          "deprecated" : false,
          "documentation" : "<p>The block index.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBlockIndex",
          "getterDocumentation" : "/**<p>The block index.</p>\n@return The block index.*/",
          "getterMethodName" : "getBlockIndex",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BlockIndex",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BlockIndex",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "BlockIndex",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.*/",
          "setterMethodName" : "setBlockIndex",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "blockIndex",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "blockIndex",
            "variableType" : "Integer",
            "documentation" : "<p>The block index.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "BlockToken" : {
          "c2jName" : "BlockToken",
          "c2jShape" : "BlockToken",
          "deprecated" : false,
          "documentation" : "<p>The block token for the block index.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The block token for the block index.</p>\n@param blockToken The block token for the block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBlockToken",
          "getterDocumentation" : "/**<p>The block token for the block index.</p>\n@return The block token for the block index.*/",
          "getterMethodName" : "getBlockToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BlockToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BlockToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "BlockToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The block token for the block index.</p>\n@param blockToken The block token for the block index.*/",
          "setterMethodName" : "setBlockToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "blockToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The block token for the block index.</p>\n@param blockToken The block token for the block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "blockToken",
            "variableType" : "String",
            "documentation" : "<p>The block token for the block index.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.ebs.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Block",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Block",
        "variableName" : "block",
        "variableType" : "Block",
        "documentation" : null,
        "simpleType" : "Block",
        "variableSetterType" : "Block"
      },
      "wrapper" : false
    },
    "ChangedBlock" : {
      "c2jName" : "ChangedBlock",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A block of data in an Amazon Elastic Block Store snapshot that is different from another snapshot of the same volume/snapshot lineage.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ebs.model.ChangedBlock",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "BlockIndex",
        "c2jShape" : "BlockIndex",
        "deprecated" : false,
        "documentation" : "<p>The block index.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBlockIndex",
        "getterDocumentation" : "/**<p>The block index.</p>\n@return The block index.*/",
        "getterMethodName" : "getBlockIndex",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BlockIndex",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BlockIndex",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "BlockIndex",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.*/",
        "setterMethodName" : "setBlockIndex",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "blockIndex",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "blockIndex",
          "variableType" : "Integer",
          "documentation" : "<p>The block index.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "FirstBlockToken",
        "c2jShape" : "BlockToken",
        "deprecated" : false,
        "documentation" : "<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>\n@param firstBlockToken The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFirstBlockToken",
        "getterDocumentation" : "/**<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>\n@return The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.*/",
        "getterMethodName" : "getFirstBlockToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "FirstBlockToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FirstBlockToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "FirstBlockToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>\n@param firstBlockToken The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.*/",
        "setterMethodName" : "setFirstBlockToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "firstBlockToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>\n@param firstBlockToken The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "firstBlockToken",
          "variableType" : "String",
          "documentation" : "<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SecondBlockToken",
        "c2jShape" : "BlockToken",
        "deprecated" : false,
        "documentation" : "<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>\n@param secondBlockToken The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSecondBlockToken",
        "getterDocumentation" : "/**<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>\n@return The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.*/",
        "getterMethodName" : "getSecondBlockToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SecondBlockToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SecondBlockToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SecondBlockToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>\n@param secondBlockToken The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.*/",
        "setterMethodName" : "setSecondBlockToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "secondBlockToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>\n@param secondBlockToken The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "secondBlockToken",
          "variableType" : "String",
          "documentation" : "<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BlockIndex" : {
          "c2jName" : "BlockIndex",
          "c2jShape" : "BlockIndex",
          "deprecated" : false,
          "documentation" : "<p>The block index.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBlockIndex",
          "getterDocumentation" : "/**<p>The block index.</p>\n@return The block index.*/",
          "getterMethodName" : "getBlockIndex",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BlockIndex",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BlockIndex",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "BlockIndex",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.*/",
          "setterMethodName" : "setBlockIndex",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "blockIndex",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "blockIndex",
            "variableType" : "Integer",
            "documentation" : "<p>The block index.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "FirstBlockToken" : {
          "c2jName" : "FirstBlockToken",
          "c2jShape" : "BlockToken",
          "deprecated" : false,
          "documentation" : "<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>\n@param firstBlockToken The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFirstBlockToken",
          "getterDocumentation" : "/**<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>\n@return The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.*/",
          "getterMethodName" : "getFirstBlockToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "FirstBlockToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "FirstBlockToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "FirstBlockToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>\n@param firstBlockToken The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.*/",
          "setterMethodName" : "setFirstBlockToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "firstBlockToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>\n@param firstBlockToken The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "firstBlockToken",
            "variableType" : "String",
            "documentation" : "<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SecondBlockToken" : {
          "c2jName" : "SecondBlockToken",
          "c2jShape" : "BlockToken",
          "deprecated" : false,
          "documentation" : "<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>\n@param secondBlockToken The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSecondBlockToken",
          "getterDocumentation" : "/**<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>\n@return The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.*/",
          "getterMethodName" : "getSecondBlockToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SecondBlockToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SecondBlockToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SecondBlockToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>\n@param secondBlockToken The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.*/",
          "setterMethodName" : "setSecondBlockToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "secondBlockToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>\n@param secondBlockToken The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "secondBlockToken",
            "variableType" : "String",
            "documentation" : "<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.ebs.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ChangedBlock",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ChangedBlock",
        "variableName" : "changedBlock",
        "variableType" : "ChangedBlock",
        "documentation" : null,
        "simpleType" : "ChangedBlock",
        "variableSetterType" : "ChangedBlock"
      },
      "wrapper" : false
    },
    "ChecksumAggregationMethod" : {
      "c2jName" : "ChecksumAggregationMethod",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "LINEAR",
        "value" : "LINEAR"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ebs.enum.ChecksumAggregationMethod",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.ebs.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ChecksumAggregationMethod",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ChecksumAggregationMethod",
        "variableName" : "checksumAggregationMethod",
        "variableType" : "ChecksumAggregationMethod",
        "documentation" : null,
        "simpleType" : "ChecksumAggregationMethod",
        "variableSetterType" : "ChecksumAggregationMethod"
      },
      "wrapper" : false
    },
    "ChecksumAlgorithm" : {
      "c2jName" : "ChecksumAlgorithm",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "SHA256",
        "value" : "SHA256"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ebs.enum.ChecksumAlgorithm",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.ebs.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ChecksumAlgorithm",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ChecksumAlgorithm",
        "variableName" : "checksumAlgorithm",
        "variableType" : "ChecksumAlgorithm",
        "documentation" : null,
        "simpleType" : "ChecksumAlgorithm",
        "variableSetterType" : "ChecksumAlgorithm"
      },
      "wrapper" : false
    },
    "CompleteSnapshotRequest" : {
      "c2jName" : "CompleteSnapshotRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ebs.request.CompleteSnapshotRequest",
      "hasHeaderMember" : true,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CompleteSnapshot",
        "locationName" : null,
        "requestUri" : "/snapshots/completion/{snapshotId}",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "SnapshotId",
        "c2jShape" : "SnapshotId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the snapshot.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the snapshot.</p>\n@param snapshotId The ID of the snapshot.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSnapshotId",
        "getterDocumentation" : "/**<p>The ID of the snapshot.</p>\n@return The ID of the snapshot.*/",
        "getterMethodName" : "getSnapshotId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "snapshotId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "snapshotId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SnapshotId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the snapshot.</p>\n@param snapshotId The ID of the snapshot.*/",
        "setterMethodName" : "setSnapshotId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "snapshotId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the snapshot.</p>\n@param snapshotId The ID of the snapshot.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "snapshotId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the snapshot.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ChangedBlocksCount",
        "c2jShape" : "ChangedBlocksCount",
        "deprecated" : false,
        "documentation" : "<p>The number of blocks that were written to the snapshot.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The number of blocks that were written to the snapshot.</p>\n@param changedBlocksCount The number of blocks that were written to the snapshot.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChangedBlocksCount",
        "getterDocumentation" : "/**<p>The number of blocks that were written to the snapshot.</p>\n@return The number of blocks that were written to the snapshot.*/",
        "getterMethodName" : "getChangedBlocksCount",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : true,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "header",
          "marshallLocation" : "HEADER",
          "marshallLocationName" : "x-amz-ChangedBlocksCount",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "x-amz-ChangedBlocksCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "ChangedBlocksCount",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The number of blocks that were written to the snapshot.</p>\n@param changedBlocksCount The number of blocks that were written to the snapshot.*/",
        "setterMethodName" : "setChangedBlocksCount",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "changedBlocksCount",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The number of blocks that were written to the snapshot.</p>\n@param changedBlocksCount The number of blocks that were written to the snapshot.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "changedBlocksCount",
          "variableType" : "Integer",
          "documentation" : "<p>The number of blocks that were written to the snapshot.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Checksum",
        "c2jShape" : "Checksum",
        "deprecated" : false,
        "documentation" : "<p>An aggregated Base-64 SHA256 checksum based on the checksums of each written block.</p> <p>To generate the aggregated checksum using the linear aggregation method, arrange the checksums for each written block in ascending order of their block index, concatenate them to form a single string, and then generate the checksum on the entire string using the SHA256 algorithm.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An aggregated Base-64 SHA256 checksum based on the checksums of each written block.</p> <p>To generate the aggregated checksum using the linear aggregation method, arrange the checksums for each written block in ascending order of their block index, concatenate them to form a single string, and then generate the checksum on the entire string using the SHA256 algorithm.</p>\n@param checksum An aggregated Base-64 SHA256 checksum based on the checksums of each written block.</p> <p>To generate the aggregated checksum using the linear aggregation method, arrange the checksums for each written block in ascending order of their block index, concatenate them to form a single string, and then generate the checksum on the entire string using the SHA256 algorithm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChecksum",
        "getterDocumentation" : "/**<p>An aggregated Base-64 SHA256 checksum based on the checksums of each written block.</p> <p>To generate the aggregated checksum using the linear aggregation method, arrange the checksums for each written block in ascending order of their block index, concatenate them to form a single string, and then generate the checksum on the entire string using the SHA256 algorithm.</p>\n@return An aggregated Base-64 SHA256 checksum based on the checksums of each written block.</p> <p>To generate the aggregated checksum using the linear aggregation method, arrange the checksums for each written block in ascending order of their block index, concatenate them to form a single string, and then generate the checksum on the entire string using the SHA256 algorithm.*/",
        "getterMethodName" : "getChecksum",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : true,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "header",
          "marshallLocation" : "HEADER",
          "marshallLocationName" : "x-amz-Checksum",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "x-amz-Checksum",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Checksum",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An aggregated Base-64 SHA256 checksum based on the checksums of each written block.</p> <p>To generate the aggregated checksum using the linear aggregation method, arrange the checksums for each written block in ascending order of their block index, concatenate them to form a single string, and then generate the checksum on the entire string using the SHA256 algorithm.</p>\n@param checksum An aggregated Base-64 SHA256 checksum based on the checksums of each written block.</p> <p>To generate the aggregated checksum using the linear aggregation method, arrange the checksums for each written block in ascending order of their block index, concatenate them to form a single string, and then generate the checksum on the entire string using the SHA256 algorithm.*/",
        "setterMethodName" : "setChecksum",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "checksum",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An aggregated Base-64 SHA256 checksum based on the checksums of each written block.</p> <p>To generate the aggregated checksum using the linear aggregation method, arrange the checksums for each written block in ascending order of their block index, concatenate them to form a single string, and then generate the checksum on the entire string using the SHA256 algorithm.</p>\n@param checksum An aggregated Base-64 SHA256 checksum based on the checksums of each written block.</p> <p>To generate the aggregated checksum using the linear aggregation method, arrange the checksums for each written block in ascending order of their block index, concatenate them to form a single string, and then generate the checksum on the entire string using the SHA256 algorithm.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "checksum",
          "variableType" : "String",
          "documentation" : "<p>An aggregated Base-64 SHA256 checksum based on the checksums of each written block.</p> <p>To generate the aggregated checksum using the linear aggregation method, arrange the checksums for each written block in ascending order of their block index, concatenate them to form a single string, and then generate the checksum on the entire string using the SHA256 algorithm.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ChecksumAlgorithm",
        "c2jShape" : "ChecksumAlgorithm",
        "deprecated" : false,
        "documentation" : "<p>The algorithm used to generate the checksum. Currently, the only supported algorithm is <code>SHA256</code>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ChecksumAlgorithm",
        "fluentSetterDocumentation" : "/**<p>The algorithm used to generate the checksum. Currently, the only supported algorithm is <code>SHA256</code>.</p>\n@param checksumAlgorithm The algorithm used to generate the checksum. Currently, the only supported algorithm is <code>SHA256</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChecksumAlgorithm*/",
        "fluentSetterMethodName" : "withChecksumAlgorithm",
        "getterDocumentation" : "/**<p>The algorithm used to generate the checksum. Currently, the only supported algorithm is <code>SHA256</code>.</p>\n@return The algorithm used to generate the checksum. Currently, the only supported algorithm is <code>SHA256</code>.\n@see ChecksumAlgorithm*/",
        "getterMethodName" : "getChecksumAlgorithm",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : true,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "header",
          "marshallLocation" : "HEADER",
          "marshallLocationName" : "x-amz-Checksum-Algorithm",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "x-amz-Checksum-Algorithm",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ChecksumAlgorithm",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The algorithm used to generate the checksum. Currently, the only supported algorithm is <code>SHA256</code>.</p>\n@param checksumAlgorithm The algorithm used to generate the checksum. Currently, the only supported algorithm is <code>SHA256</code>.\n@see ChecksumAlgorithm*/",
        "setterMethodName" : "setChecksumAlgorithm",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "checksumAlgorithm",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The algorithm used to generate the checksum. Currently, the only supported algorithm is <code>SHA256</code>.</p>\n@param checksumAlgorithm The algorithm used to generate the checksum. Currently, the only supported algorithm is <code>SHA256</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChecksumAlgorithm*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "checksumAlgorithm",
          "variableType" : "String",
          "documentation" : "<p>The algorithm used to generate the checksum. Currently, the only supported algorithm is <code>SHA256</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ChecksumAggregationMethod",
        "c2jShape" : "ChecksumAggregationMethod",
        "deprecated" : false,
        "documentation" : "<p>The aggregation method used to generate the checksum. Currently, the only supported aggregation method is <code>LINEAR</code>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ChecksumAggregationMethod",
        "fluentSetterDocumentation" : "/**<p>The aggregation method used to generate the checksum. Currently, the only supported aggregation method is <code>LINEAR</code>.</p>\n@param checksumAggregationMethod The aggregation method used to generate the checksum. Currently, the only supported aggregation method is <code>LINEAR</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChecksumAggregationMethod*/",
        "fluentSetterMethodName" : "withChecksumAggregationMethod",
        "getterDocumentation" : "/**<p>The aggregation method used to generate the checksum. Currently, the only supported aggregation method is <code>LINEAR</code>.</p>\n@return The aggregation method used to generate the checksum. Currently, the only supported aggregation method is <code>LINEAR</code>.\n@see ChecksumAggregationMethod*/",
        "getterMethodName" : "getChecksumAggregationMethod",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : true,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "header",
          "marshallLocation" : "HEADER",
          "marshallLocationName" : "x-amz-Checksum-Aggregation-Method",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "x-amz-Checksum-Aggregation-Method",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ChecksumAggregationMethod",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The aggregation method used to generate the checksum. Currently, the only supported aggregation method is <code>LINEAR</code>.</p>\n@param checksumAggregationMethod The aggregation method used to generate the checksum. Currently, the only supported aggregation method is <code>LINEAR</code>.\n@see ChecksumAggregationMethod*/",
        "setterMethodName" : "setChecksumAggregationMethod",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "checksumAggregationMethod",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The aggregation method used to generate the checksum. Currently, the only supported aggregation method is <code>LINEAR</code>.</p>\n@param checksumAggregationMethod The aggregation method used to generate the checksum. Currently, the only supported aggregation method is <code>LINEAR</code>.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChecksumAggregationMethod*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "checksumAggregationMethod",
          "variableType" : "String",
          "documentation" : "<p>The aggregation method used to generate the checksum. Currently, the only supported aggregation method is <code>LINEAR</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ChangedBlocksCount" : {
          "c2jName" : "ChangedBlocksCount",
          "c2jShape" : "ChangedBlocksCount",
          "deprecated" : false,
          "documentation" : "<p>The number of blocks that were written to the snapshot.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The number of blocks that were written to the snapshot.</p>\n@param changedBlocksCount The number of blocks that were written to the snapshot.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withChangedBlocksCount",
          "getterDocumentation" : "/**<p>The number of blocks that were written to the snapshot.</p>\n@return The number of blocks that were written to the snapshot.*/",
          "getterMethodName" : "getChangedBlocksCount",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : true,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "header",
            "marshallLocation" : "HEADER",
            "marshallLocationName" : "x-amz-ChangedBlocksCount",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "x-amz-ChangedBlocksCount",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "ChangedBlocksCount",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The number of blocks that were written to the snapshot.</p>\n@param changedBlocksCount The number of blocks that were written to the snapshot.*/",
          "setterMethodName" : "setChangedBlocksCount",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "changedBlocksCount",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The number of blocks that were written to the snapshot.</p>\n@param changedBlocksCount The number of blocks that were written to the snapshot.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "changedBlocksCount",
            "variableType" : "Integer",
            "documentation" : "<p>The number of blocks that were written to the snapshot.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "Checksum" : {
          "c2jName" : "Checksum",
          "c2jShape" : "Checksum",
          "deprecated" : false,
          "documentation" : "<p>An aggregated Base-64 SHA256 checksum based on the checksums of each written block.</p> <p>To generate the aggregated checksum using the linear aggregation method, arrange the checksums for each written block in ascending order of their block index, concatenate them to form a single string, and then generate the checksum on the entire string using the SHA256 algorithm.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
[...]
