{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-11-02",
    "asyncClient" : "AmazonEBSAsyncClient",
    "asyncClientBuilderClassName" : "AmazonEBSAsyncClientBuilder",
    "asyncInterface" : "AmazonEBSAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonEBSModuleInjector",
    "defaultEndpoint" : "ebs.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ebs.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>You can use the Amazon Elastic Block Store (EBS) direct APIs to directly read the data on your EBS snapshots, and identify the difference between two snapshots. You can view the details of blocks in an EBS snapshot, compare the block difference between two snapshots, and directly access the data in a snapshot. If you’re an independent software vendor (ISV) who offers backup services for EBS, the EBS direct APIs make it easier and more cost-effective to track incremental changes on your EBS volumes via EBS snapshots. This can be done without having to create new volumes from EBS snapshots.</p> <p>This API reference provides detailed information about the actions, data types, parameters, and errors of the EBS direct APIs. For more information about the elements that make up the EBS direct APIs, and examples of how to use them effectively, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-accessing-snapshot.html\">Accessing the Contents of an EBS Snapshot</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>. For more information about the supported AWS Regions, endpoints, and service quotas for the EBS direct APIs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/ebs-service.html\">Amazon Elastic Block Store Endpoints and Quotas</a> in the <i>AWS General Reference</i>.</p>",
    "endpointPrefix" : "ebs",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.ebs",
    "packagePath" : "com/amazonaws/services/ebs",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amazon EBS",
    "serviceFullName" : "Amazon Elastic Block Store",
    "serviceId" : "EBS",
    "serviceName" : "Amazon EBS",
    "signingName" : "ebs",
    "smokeTestsPackageName" : "com.amazonaws.services.ebs.smoketests",
    "syncClient" : "AmazonEBSClient",
    "syncClientBuilderClassName" : "AmazonEBSClientBuilder",
    "syncInterface" : "AmazonEBS",
    "uid" : "ebs-2019-11-02",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "GetSnapshotBlock" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSnapshotBlockResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSnapshotBlockResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSnapshotBlockRequest, GetSnapshotBlockResult>",
      "asyncReturnType" : "GetSnapshotBlockResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the data in a block in an Amazon Elastic Block Store snapshot.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints of the EBS direct APIs.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSnapshotBlockRequest",
        "variableName" : "getSnapshotBlockRequest",
        "variableType" : "GetSnapshotBlockRequest",
        "documentation" : "",
        "simpleType" : "GetSnapshotBlockRequest",
        "variableSetterType" : "GetSnapshotBlockRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSnapshotBlock",
      "operationName" : "GetSnapshotBlock",
      "returnType" : {
        "returnType" : "GetSnapshotBlockResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSnapshotBlockResult"
    },
    "ListChangedBlocks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListChangedBlocksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListChangedBlocksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListChangedBlocksRequest, ListChangedBlocksResult>",
      "asyncReturnType" : "ListChangedBlocksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the block indexes and block tokens for blocks that are different between two Amazon Elastic Block Store snapshots of the same volume/snapshot lineage.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints of the EBS direct APIs.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListChangedBlocksRequest",
        "variableName" : "listChangedBlocksRequest",
        "variableType" : "ListChangedBlocksRequest",
        "documentation" : "",
        "simpleType" : "ListChangedBlocksRequest",
        "variableSetterType" : "ListChangedBlocksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listChangedBlocks",
      "operationName" : "ListChangedBlocks",
      "returnType" : {
        "returnType" : "ListChangedBlocksResult",
        "documentation" : null
      },
      "syncReturnType" : "ListChangedBlocksResult"
    },
    "ListSnapshotBlocks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSnapshotBlocksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSnapshotBlocksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSnapshotBlocksRequest, ListSnapshotBlocksResult>",
      "asyncReturnType" : "ListSnapshotBlocksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the block indexes and block tokens for blocks in an Amazon Elastic Block Store snapshot.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints of the EBS direct APIs.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSnapshotBlocksRequest",
        "variableName" : "listSnapshotBlocksRequest",
        "variableType" : "ListSnapshotBlocksRequest",
        "documentation" : "",
        "simpleType" : "ListSnapshotBlocksRequest",
        "variableSetterType" : "ListSnapshotBlocksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSnapshotBlocks",
      "operationName" : "ListSnapshotBlocks",
      "returnType" : {
        "returnType" : "ListSnapshotBlocksResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSnapshotBlocksResult"
    }
  },
  "shapes" : {
    "Block" : {
      "c2jName" : "Block",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A block of data in an Amazon Elastic Block Store snapshot.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "BlockIndex",
        "c2jShape" : "BlockIndex",
        "deprecated" : false,
        "documentation" : "<p>The block index.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBlockIndex",
        "getterDocumentation" : "/**<p>The block index.</p>\n@return The block index.*/",
        "getterMethodName" : "getBlockIndex",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BlockIndex",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BlockIndex",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "BlockIndex",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.*/",
        "setterMethodName" : "setBlockIndex",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "blockIndex",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "blockIndex",
          "variableType" : "Integer",
          "documentation" : "<p>The block index.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BlockToken",
        "c2jShape" : "BlockToken",
        "deprecated" : false,
        "documentation" : "<p>The block token for the block index.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The block token for the block index.</p>\n@param blockToken The block token for the block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBlockToken",
        "getterDocumentation" : "/**<p>The block token for the block index.</p>\n@return The block token for the block index.*/",
        "getterMethodName" : "getBlockToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BlockToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BlockToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BlockToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The block token for the block index.</p>\n@param blockToken The block token for the block index.*/",
        "setterMethodName" : "setBlockToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "blockToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The block token for the block index.</p>\n@param blockToken The block token for the block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "blockToken",
          "variableType" : "String",
          "documentation" : "<p>The block token for the block index.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BlockIndex" : {
          "c2jName" : "BlockIndex",
          "c2jShape" : "BlockIndex",
          "deprecated" : false,
          "documentation" : "<p>The block index.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBlockIndex",
          "getterDocumentation" : "/**<p>The block index.</p>\n@return The block index.*/",
          "getterMethodName" : "getBlockIndex",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BlockIndex",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BlockIndex",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "BlockIndex",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.*/",
          "setterMethodName" : "setBlockIndex",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "blockIndex",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "blockIndex",
            "variableType" : "Integer",
            "documentation" : "<p>The block index.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "BlockToken" : {
          "c2jName" : "BlockToken",
          "c2jShape" : "BlockToken",
          "deprecated" : false,
          "documentation" : "<p>The block token for the block index.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The block token for the block index.</p>\n@param blockToken The block token for the block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBlockToken",
          "getterDocumentation" : "/**<p>The block token for the block index.</p>\n@return The block token for the block index.*/",
          "getterMethodName" : "getBlockToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BlockToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BlockToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "BlockToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The block token for the block index.</p>\n@param blockToken The block token for the block index.*/",
          "setterMethodName" : "setBlockToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "blockToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The block token for the block index.</p>\n@param blockToken The block token for the block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "blockToken",
            "variableType" : "String",
            "documentation" : "<p>The block token for the block index.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Block",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Block",
        "variableName" : "block",
        "variableType" : "Block",
        "documentation" : null,
        "simpleType" : "Block",
        "variableSetterType" : "Block"
      },
      "wrapper" : false
    },
    "ChangedBlock" : {
      "c2jName" : "ChangedBlock",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A block of data in an Amazon Elastic Block Store snapshot that is different from another snapshot of the same volume/snapshot lineage.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "BlockIndex",
        "c2jShape" : "BlockIndex",
        "deprecated" : false,
        "documentation" : "<p>The block index.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBlockIndex",
        "getterDocumentation" : "/**<p>The block index.</p>\n@return The block index.*/",
        "getterMethodName" : "getBlockIndex",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BlockIndex",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BlockIndex",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "BlockIndex",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.*/",
        "setterMethodName" : "setBlockIndex",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "blockIndex",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "blockIndex",
          "variableType" : "Integer",
          "documentation" : "<p>The block index.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "FirstBlockToken",
        "c2jShape" : "BlockToken",
        "deprecated" : false,
        "documentation" : "<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>\n@param firstBlockToken The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFirstBlockToken",
        "getterDocumentation" : "/**<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>\n@return The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.*/",
        "getterMethodName" : "getFirstBlockToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "FirstBlockToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FirstBlockToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "FirstBlockToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>\n@param firstBlockToken The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.*/",
        "setterMethodName" : "setFirstBlockToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "firstBlockToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>\n@param firstBlockToken The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "firstBlockToken",
          "variableType" : "String",
          "documentation" : "<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SecondBlockToken",
        "c2jShape" : "BlockToken",
        "deprecated" : false,
        "documentation" : "<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>\n@param secondBlockToken The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSecondBlockToken",
        "getterDocumentation" : "/**<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>\n@return The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.*/",
        "getterMethodName" : "getSecondBlockToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SecondBlockToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SecondBlockToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SecondBlockToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>\n@param secondBlockToken The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.*/",
        "setterMethodName" : "setSecondBlockToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "secondBlockToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>\n@param secondBlockToken The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "secondBlockToken",
          "variableType" : "String",
          "documentation" : "<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BlockIndex" : {
          "c2jName" : "BlockIndex",
          "c2jShape" : "BlockIndex",
          "deprecated" : false,
          "documentation" : "<p>The block index.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBlockIndex",
          "getterDocumentation" : "/**<p>The block index.</p>\n@return The block index.*/",
          "getterMethodName" : "getBlockIndex",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BlockIndex",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BlockIndex",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "BlockIndex",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.*/",
          "setterMethodName" : "setBlockIndex",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "blockIndex",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The block index.</p>\n@param blockIndex The block index.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "blockIndex",
            "variableType" : "Integer",
            "documentation" : "<p>The block index.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "FirstBlockToken" : {
          "c2jName" : "FirstBlockToken",
          "c2jShape" : "BlockToken",
          "deprecated" : false,
          "documentation" : "<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>\n@param firstBlockToken The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFirstBlockToken",
          "getterDocumentation" : "/**<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>\n@return The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.*/",
          "getterMethodName" : "getFirstBlockToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "FirstBlockToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "FirstBlockToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "FirstBlockToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>\n@param firstBlockToken The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.*/",
          "setterMethodName" : "setFirstBlockToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "firstBlockToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>\n@param firstBlockToken The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "firstBlockToken",
            "variableType" : "String",
            "documentation" : "<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SecondBlockToken" : {
          "c2jName" : "SecondBlockToken",
          "c2jShape" : "BlockToken",
          "deprecated" : false,
          "documentation" : "<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>\n@param secondBlockToken The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSecondBlockToken",
          "getterDocumentation" : "/**<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>\n@return The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.*/",
          "getterMethodName" : "getSecondBlockToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SecondBlockToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SecondBlockToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SecondBlockToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>\n@param secondBlockToken The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.*/",
          "setterMethodName" : "setSecondBlockToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "secondBlockToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>\n@param secondBlockToken The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "secondBlockToken",
            "variableType" : "String",
            "documentation" : "<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ChangedBlock",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ChangedBlock",
        "variableName" : "changedBlock",
        "variableType" : "ChangedBlock",
        "documentation" : null,
        "simpleType" : "ChangedBlock",
        "variableSetterType" : "ChangedBlock"
      },
      "wrapper" : false
    },
    "ChecksumAlgorithm" : {
      "c2jName" : "ChecksumAlgorithm",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "SHA256",
        "value" : "SHA256"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ChecksumAlgorithm",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ChecksumAlgorithm",
        "variableName" : "checksumAlgorithm",
        "variableType" : "ChecksumAlgorithm",
        "documentation" : null,
        "simpleType" : "ChecksumAlgorithm",
        "variableSetterType" : "ChecksumAlgorithm"
      },
      "wrapper" : false
    },
    "GetSnapshotBlockRequest" : {
      "c2jName" : "GetSnapshotBlockRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "GetSnapshotBlock",
        "locationName" : null,
        "requestUri" : "/snapshots/{snapshotId}/blocks/{blockIndex}",
        "target" : null,
        "verb" : "GET",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "SnapshotId",
        "c2jShape" : "SnapshotId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the snapshot containing the block from which to get data.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the snapshot containing the block from which to get data.</p>\n@param snapshotId The ID of the snapshot containing the block from which to get data.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSnapshotId",
        "getterDocumentation" : "/**<p>The ID of the snapshot containing the block from which to get data.</p>\n@return The ID of the snapshot containing the block from which to get data.*/",
        "getterMethodName" : "getSnapshotId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "snapshotId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "snapshotId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SnapshotId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the snapshot containing the block from which to get data.</p>\n@param snapshotId The ID of the snapshot containing the block from which to get data.*/",
        "setterMethodName" : "setSnapshotId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "snapshotId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the snapshot containing the block from which to get data.</p>\n@param snapshotId The ID of the snapshot containing the block from which to get data.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "snapshotId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the snapshot containing the block from which to get data.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BlockIndex",
        "c2jShape" : "BlockIndex",
        "deprecated" : false,
        "documentation" : "<p>The block index of the block from which to get data.</p> <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The block index of the block from which to get data.</p> <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>\n@param blockIndex The block index of the block from which to get data.</p> <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBlockIndex",
        "getterDocumentation" : "/**<p>The block index of the block from which to get data.</p> <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>\n@return The block index of the block from which to get data.</p> <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.*/",
        "getterMethodName" : "getBlockIndex",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "blockIndex",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "blockIndex",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "BlockIndex",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The block index of the block from which to get data.</p> <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>\n@param blockIndex The block index of the block from which to get data.</p> <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.*/",
        "setterMethodName" : "setBlockIndex",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "blockIndex",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The block index of the block from which to get data.</p> <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>\n@param blockIndex The block index of the block from which to get data.</p> <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "blockIndex",
          "variableType" : "Integer",
          "documentation" : "<p>The block index of the block from which to get data.</p> <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BlockToken",
        "c2jShape" : "BlockToken",
        "deprecated" : false,
        "documentation" : "<p>The block token of the block from which to get data.</p> <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The block token of the block from which to get data.</p> <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>\n@param blockToken The block token of the block from which to get data.</p> <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBlockToken",
        "getterDocumentation" : "/**<p>The block token of the block from which to get data.</p> <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>\n@return The block token of the block from which to get data.</p> <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.*/",
        "getterMethodName" : "getBlockToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "querystring",
          "marshallLocation" : "QUERY_PARAM",
          "marshallLocationName" : "blockToken",
          "queryString" : true,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "blockToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BlockToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The block token of the block from which to get data.</p> <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>\n@param blockToken The block token of the block from which to get data.</p> <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.*/",
        "setterMethodName" : "setBlockToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "blockToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The block token of the block from which to get data.</p> <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>\n@param blockToken The block token of the block from which to get data.</p> <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "blockToken",
          "variableType" : "String",
          "documentation" : "<p>The block token of the block from which to get data.</p> <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BlockIndex" : {
          "c2jName" : "BlockIndex",
          "c2jShape" : "BlockIndex",
          "deprecated" : false,
          "documentation" : "<p>The block index of the block from which to get data.</p> <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The block index of the block from which to get data.</p> <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>\n@param blockIndex The block index of the block from which to get data.</p> <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBlockIndex",
          "getterDocumentation" : "/**<p>The block index of the block from which to get data.</p> <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>\n@return The block index of the block from which to get data.</p> <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.*/",
          "getterMethodName" : "getBlockIndex",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "blockIndex",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "blockIndex",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "BlockIndex",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The block index of the block from which to get data.</p> <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>\n@param blockIndex The block index of the block from which to get data.</p> <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.*/",
          "setterMethodName" : "setBlockIndex",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "blockIndex",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The block index of the block from which to get data.</p> <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>\n@param blockIndex The block index of the block from which to get data.</p> <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "blockIndex",
            "variableType" : "Integer",
            "documentation" : "<p>The block index of the block from which to get data.</p> <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "BlockToken" : {
          "c2jName" : "BlockToken",
          "c2jShape" : "BlockToken",
          "deprecated" : false,
          "documentation" : "<p>The block token of the block from which to get data.</p> <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The block token of the block from which to get data.</p> <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>\n@param blockToken The block token of the block from which to get data.</p> <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBlockToken",
          "getterDocumentation" : "/**<p>The block token of the block from which to get data.</p> <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>\n@return The block token of the block from which to get data.</p> <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.*/",
          "getterMethodName" : "getBlockToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "querystring",
            "marshallLocation" : "QUERY_PARAM",
            "marshallLocationName" : "blockToken",
            "queryString" : true,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "blockToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "BlockToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The block token of the block from which to get data.</p> <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>\n@param blockToken The block token of the block from which to get data.</p> <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.*/",
          "setterMethodName" : "setBlockToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "blockToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The block token of the block from which to get data.</p> <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>\n@param blockToken The block token of the block from which to get data.</p> <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "blockToken",
            "variableType" : "String",
            "documentation" : "<p>The block token of the block from which to get data.</p> <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SnapshotId" : {
          "c2jName" : "SnapshotId",
          "c2jShape" : "SnapshotId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the snapshot containing the block from which to get data.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the snapshot containing the block from which to get data.</p>\n@param snapshotId The ID of the snapshot containing the block from which to get data.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSnapshotId",
          "getterDocumentation" : "/**<p>The ID of the snapshot containing the block from which to get data.</p>\n@return The ID of the snapshot containing the block from which to get data.*/",
          "getterMethodName" : "getSnapshotId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "snapshotId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "snapshotId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SnapshotId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the snapshot containing the block from which to get data.</p>\n@param snapshotId The ID of the snapshot containing the block from which to get data.*/",
          "setterMethodName" : "setSnapshotId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "snapshotId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the snapshot containing the block from which to get data.</p>\n@param snapshotId The ID of the snapshot containing the block from which to get data.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "snapshotId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the snapshot containing the block from which to get data.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "SnapshotId", "BlockIndex", "BlockToken" ],
      "shapeName" : "GetSnapshotBlockRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSnapshotBlockRequest",
        "variableName" : "getSnapshotBlockRequest",
        "variableType" : "GetSnapshotBlockRequest",
        "documentation" : null,
        "simpleType" : "GetSnapshotBlockRequest",
        "variableSetterType" : "GetSnapshotBlockRequest"
      },
      "wrapper" : false
    },
    "GetSnapshotBlockResult" : {
      "c2jName" : "GetSnapshotBlockResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : true,
      "hasPayloadMember" : true,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : true,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "DataLength",
        "c2jShape" : "DataLength",
        "deprecated" : false,
        "documentation" : "<p>The size of the data in the block.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The size of the data in the block.</p>\n@param dataLength The size of the data in the block.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDataLength",
        "getterDocumentation" : "/**<p>The size of the data in the block.</p>\n@return The size of the data in the block.*/",
        "getterMethodName" : "getDataLength",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : true,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "header",
          "marshallLocation" : "HEADER",
          "marshallLocationName" : "x-amz-Data-Length",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "x-amz-Data-Length",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "DataLength",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The size of the data in the block.</p>\n@param dataLength The size of the data in the block.*/",
        "setterMethodName" : "setDataLength",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "dataLength",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The size of the data in the block.</p>\n@param dataLength The size of the data in the block.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "dataLength",
          "variableType" : "Integer",
          "documentation" : "<p>The size of the data in the block.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "BlockData",
        "c2jShape" : "BlockData",
        "deprecated" : false,
        "documentation" : "<p>The data content of the block.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The data content of the block.</p>\n@param blockData The data content of the block.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBlockData",
        "getterDocumentation" : "/**<p>The data content of the block.</p>\n@return The data content of the block.*/",
        "getterMethodName" : "getBlockData",
        "getterModel" : {
          "returnType" : "java.io.InputStream",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : true,
          "isStreaming" : true,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BlockData",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BlockData",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : true,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.io.InputStream",
        "marshallingType" : "STREAM",
        "name" : "BlockData",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The data content of the block.</p>\n@param blockData The data content of the block.*/",
        "setterMethodName" : "setBlockData",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.io.InputStream",
          "variableName" : "blockData",
          "variableType" : "java.io.InputStream",
          "documentation" : "",
          "simpleType" : "InputStream",
          "variableSetterType" : "java.io.InputStream"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The data content of the block.</p>\n@param blockData The data content of the block.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.io.InputStream",
          "variableName" : "blockData",
          "variableType" : "java.io.InputStream",
          "documentation" : "<p>The data content of the block.</p>",
          "simpleType" : "InputStream",
          "variableSetterType" : "java.io.InputStream"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Checksum",
        "c2jShape" : "Checksum",
        "deprecated" : false,
        "documentation" : "<p>The checksum generated for the block, which is Base64 encoded.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The checksum generated for the block, which is Base64 encoded.</p>\n@param checksum The checksum generated for the block, which is Base64 encoded.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withChecksum",
        "getterDocumentation" : "/**<p>The checksum generated for the block, which is Base64 encoded.</p>\n@return The checksum generated for the block, which is Base64 encoded.*/",
        "getterMethodName" : "getChecksum",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : true,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "header",
          "marshallLocation" : "HEADER",
          "marshallLocationName" : "x-amz-Checksum",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "x-amz-Checksum",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Checksum",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The checksum generated for the block, which is Base64 encoded.</p>\n@param checksum The checksum generated for the block, which is Base64 encoded.*/",
        "setterMethodName" : "setChecksum",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "checksum",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The checksum generated for the block, which is Base64 encoded.</p>\n@param checksum The checksum generated for the block, which is Base64 encoded.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "checksum",
          "variableType" : "String",
          "documentation" : "<p>The checksum generated for the block, which is Base64 encoded.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ChecksumAlgorithm",
        "c2jShape" : "ChecksumAlgorithm",
        "deprecated" : false,
        "documentation" : "<p>The algorithm used to generate the checksum for the block, such as SHA256.</p>",
        "enumType" : "ChecksumAlgorithm",
        "fluentSetterDocumentation" : "/**<p>The algorithm used to generate the checksum for the block, such as SHA256.</p>\n@param checksumAlgorithm The algorithm used to generate the checksum for the block, such as SHA256.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChecksumAlgorithm*/",
        "fluentSetterMethodName" : "withChecksumAlgorithm",
        "getterDocumentation" : "/**<p>The algorithm used to generate the checksum for the block, such as SHA256.</p>\n@return The algorithm used to generate the checksum for the block, such as SHA256.\n@see ChecksumAlgorithm*/",
        "getterMethodName" : "getChecksumAlgorithm",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : true,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "header",
          "marshallLocation" : "HEADER",
          "marshallLocationName" : "x-amz-Checksum-Algorithm",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "x-amz-Checksum-Algorithm",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ChecksumAlgorithm",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The algorithm used to generate the checksum for the block, such as SHA256.</p>\n@param checksumAlgorithm The algorithm used to generate the checksum for the block, such as SHA256.\n@see ChecksumAlgorithm*/",
        "setterMethodName" : "setChecksumAlgorithm",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "checksumAlgorithm",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The algorithm used to generate the checksum for the block, such as SHA256.</p>\n@param checksumAlgorithm The algorithm used to generate the checksum for the block, such as SHA256.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChecksumAlgorithm*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "checksumAlgorithm",
          "variableType" : "String",
          "documentation" : "<p>The algorithm used to generate the checksum for the block, such as SHA256.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "BlockData" : {
          "c2jName" : "BlockData",
          "c2jShape" : "BlockData",
          "deprecated" : false,
          "documentation" : "<p>The data content of the block.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The data content of the block.</p>\n@param blockData The data content of the block.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withBlockData",
          "getterDocumentation" : "/**<p>The data content of the block.</p>\n@return The data content of the block.*/",
          "getterMethodName" : "getBlockData",
          "getterModel" : {
            "returnType" : "java.io.InputStream",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : true,
            "isStreaming" : true,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "BlockData",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "BlockData",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : true,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.io.InputStream",
          "marshallingType" : "STREAM",
          "name" : "BlockData",
          "sensitive" : true,
          "setterDocumentation" : "/**<p>The data content of the block.</p>\n@param blockData The data content of the block.*/",
          "setterMethodName" : "setBlockData",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.io.InputStream",
            "variableName" : "blockData",
            "variableType" : "java.io.InputStream",
            "documentation" : "",
            "simpleType" : "InputStream",
            "variableSetterType" : "java.io.InputStream"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The data content of the block.</p>\n@param blockData The data content of the block.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.io.InputStream",
            "variableName" : "blockData",
            "variableType" : "java.io.InputStream",
            "documentation" : "<p>The data content of the block.</p>",
            "simpleType" : "InputStream",
            "variableSetterType" : "java.io.InputStream"
          },
          "xmlNameSpaceUri" : null
        },
        "Checksum" : {
          "c2jName" : "Checksum",
          "c2jShape" : "Checksum",
          "deprecated" : false,
          "documentation" : "<p>The checksum generated for the block, which is Base64 encoded.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The checksum generated for the block, which is Base64 encoded.</p>\n@param checksum The checksum generated for the block, which is Base64 encoded.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withChecksum",
          "getterDocumentation" : "/**<p>The checksum generated for the block, which is Base64 encoded.</p>\n@return The checksum generated for the block, which is Base64 encoded.*/",
          "getterMethodName" : "getChecksum",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : true,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "header",
            "marshallLocation" : "HEADER",
            "marshallLocationName" : "x-amz-Checksum",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "x-amz-Checksum",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Checksum",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The checksum generated for the block, which is Base64 encoded.</p>\n@param checksum The checksum generated for the block, which is Base64 encoded.*/",
          "setterMethodName" : "setChecksum",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "checksum",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The checksum generated for the block, which is Base64 encoded.</p>\n@param checksum The checksum generated for the block, which is Base64 encoded.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "checksum",
            "variableType" : "String",
            "documentation" : "<p>The checksum generated for the block, which is Base64 encoded.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ChecksumAlgorithm" : {
          "c2jName" : "ChecksumAlgorithm",
          "c2jShape" : "ChecksumAlgorithm",
          "deprecated" : false,
          "documentation" : "<p>The algorithm used to generate the checksum for the block, such as SHA256.</p>",
          "enumType" : "ChecksumAlgorithm",
          "fluentSetterDocumentation" : "/**<p>The algorithm used to generate the checksum for the block, such as SHA256.</p>\n@param checksumAlgorithm The algorithm used to generate the checksum for the block, such as SHA256.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChecksumAlgorithm*/",
          "fluentSetterMethodName" : "withChecksumAlgorithm",
          "getterDocumentation" : "/**<p>The algorithm used to generate the checksum for the block, such as SHA256.</p>\n@return The algorithm used to generate the checksum for the block, such as SHA256.\n@see ChecksumAlgorithm*/",
          "getterMethodName" : "getChecksumAlgorithm",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : true,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "header",
            "marshallLocation" : "HEADER",
            "marshallLocationName" : "x-amz-Checksum-Algorithm",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "x-amz-Checksum-Algorithm",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ChecksumAlgorithm",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The algorithm used to generate the checksum for the block, such as SHA256.</p>\n@param checksumAlgorithm The algorithm used to generate the checksum for the block, such as SHA256.\n@see ChecksumAlgorithm*/",
          "setterMethodName" : "setChecksumAlgorithm",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "checksumAlgorithm",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The algorithm used to generate the checksum for the block, such as SHA256.</p>\n@param checksumAlgorithm The algorithm used to generate the checksum for the block, such as SHA256.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ChecksumAlgorithm*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "checksumAlgorithm",
            "variableType" : "String",
            "documentation" : "<p>The algorithm used to generate the checksum for the block, such as SHA256.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DataLength" : {
          "c2jName" : "DataLength",
          "c2jShape" : "DataLength",
          "deprecated" : false,
          "documentation" : "<p>The size of the data in the block.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The size of the data in the block.</p>\n@param dataLength The size of the data in the block.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDataLength",
          "getterDocumentation" : "/**<p>The size of the data in the block.</p>\n@return The size of the data in the block.*/",
          "getterMethodName" : "getDataLength",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : true,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "header",
            "marshallLocation" : "HEADER",
[...]
