{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2018-04-02",
    "asyncClient" : "AWSEC2InstanceConnectAsyncClient",
    "asyncClientBuilderClassName" : "AWSEC2InstanceConnectAsyncClientBuilder",
    "asyncInterface" : "AWSEC2InstanceConnectAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSEC2InstanceConnectModuleInjector",
    "defaultEndpoint" : "ec2-instance-connect.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "ec2-instance-connect.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon EC2 Instance Connect enables system administrators to publish one-time use SSH public keys to EC2, providing users a simple and secure way to connect to their instances.</p>",
    "endpointPrefix" : "ec2-instance-connect",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.ec2instanceconnect",
    "packagePath" : "com/amazonaws/services/ec2instanceconnect",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "EC2 Instance Connect",
    "serviceFullName" : "AWS EC2 Instance Connect",
    "serviceId" : "EC2 Instance Connect",
    "serviceName" : "EC2 Instance Connect",
    "signingName" : "ec2-instance-connect",
    "smokeTestsPackageName" : "com.amazonaws.services.ec2instanceconnect.smoketests",
    "syncClient" : "AWSEC2InstanceConnectClient",
    "syncClientBuilderClassName" : "AWSEC2InstanceConnectClientBuilder",
    "syncInterface" : "AWSEC2InstanceConnect",
    "uid" : "ec2-instance-connect-2018-04-02",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "SendSSHPublicKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SendSSHPublicKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SendSSHPublicKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendSSHPublicKeyRequest, SendSSHPublicKeyResult>",
      "asyncReturnType" : "SendSSHPublicKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Pushes an SSH public key to the specified EC2 instance for use by the specified user. The key remains for 60 seconds. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Connect-using-EC2-Instance-Connect.html\">Connect to your Linux instance using EC2 Instance Connect</a> in the <i>Amazon EC2 User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthException",
        "documentation" : "<p>Either your AWS credentials are not valid or you do not have access to the EC2 instance.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgsException",
        "documentation" : "<p>One of the parameters is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The service encountered an error. Follow the instructions in the error message and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requests were made too frequently and have been throttled. Wait a while and try again. To increase the limit on your request frequency, contact AWS Support.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EC2InstanceNotFoundException",
        "documentation" : "<p>The specified instance was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SendSSHPublicKeyRequest",
        "variableName" : "sendSSHPublicKeyRequest",
        "variableType" : "SendSSHPublicKeyRequest",
        "documentation" : "",
        "simpleType" : "SendSSHPublicKeyRequest",
        "variableSetterType" : "SendSSHPublicKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "sendSSHPublicKey",
      "operationName" : "SendSSHPublicKey",
      "returnType" : {
        "returnType" : "SendSSHPublicKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "SendSSHPublicKeyResult"
    },
    "SendSerialConsoleSSHPublicKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SendSerialConsoleSSHPublicKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SendSerialConsoleSSHPublicKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SendSerialConsoleSSHPublicKeyRequest, SendSerialConsoleSSHPublicKeyResult>",
      "asyncReturnType" : "SendSerialConsoleSSHPublicKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Pushes an SSH public key to the specified EC2 instance. The key remains for 60 seconds, which gives you 60 seconds to establish a serial console connection to the instance using SSH. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-serial-console.html\">EC2 Serial Console</a> in the <i>Amazon EC2 User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AuthException",
        "documentation" : "<p>Either your AWS credentials are not valid or you do not have access to the EC2 instance.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SerialConsoleAccessDisabledException",
        "documentation" : "<p>Your account is not authorized to use the EC2 Serial Console. To authorize your account, run the EnableSerialConsoleAccess API. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_EnableSerialConsoleAccess.html\">EnableSerialConsoleAccess</a> in the <i>Amazon EC2 API Reference</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgsException",
        "documentation" : "<p>One of the parameters is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>The service encountered an error. Follow the instructions in the error message and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The requests were made too frequently and have been throttled. Wait a while and try again. To increase the limit on your request frequency, contact AWS Support.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EC2InstanceNotFoundException",
        "documentation" : "<p>The specified instance was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EC2InstanceTypeInvalidException",
        "documentation" : "<p>The instance type is not supported for connecting via the serial console. Only Nitro instance types are currently supported.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SerialConsoleSessionLimitExceededException",
        "documentation" : "<p>The instance currently has 1 active serial console session. Only 1 session is supported at a time.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "SerialConsoleSessionUnavailableException",
        "documentation" : "<p>Unable to start a serial console session. Please try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SendSerialConsoleSSHPublicKeyRequest",
        "variableName" : "sendSerialConsoleSSHPublicKeyRequest",
        "variableType" : "SendSerialConsoleSSHPublicKeyRequest",
        "documentation" : "",
        "simpleType" : "SendSerialConsoleSSHPublicKeyRequest",
        "variableSetterType" : "SendSerialConsoleSSHPublicKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "sendSerialConsoleSSHPublicKey",
      "operationName" : "SendSerialConsoleSSHPublicKey",
      "returnType" : {
        "returnType" : "SendSerialConsoleSSHPublicKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "SendSerialConsoleSSHPublicKeyResult"
    }
  },
  "shapes" : {
    "AuthException" : {
      "c2jName" : "AuthException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Either your AWS credentials are not valid or you do not have access to the EC2 instance.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AuthException",
      "fullyQualifiedName" : "com.amazonaws.services.ec2instanceconnect.exception.AuthException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.ec2instanceconnect.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AuthException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AuthException",
        "variableName" : "authException",
        "variableType" : "AuthException",
        "documentation" : null,
        "simpleType" : "AuthException",
        "variableSetterType" : "AuthException"
      },
      "wrapper" : false
    },
    "EC2InstanceNotFoundException" : {
      "c2jName" : "EC2InstanceNotFoundException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The specified instance was not found.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "EC2InstanceNotFoundException",
      "fullyQualifiedName" : "com.amazonaws.services.ec2instanceconnect.exception.EC2InstanceNotFoundException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.ec2instanceconnect.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "EC2InstanceNotFoundException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EC2InstanceNotFoundException",
        "variableName" : "eC2InstanceNotFoundException",
        "variableType" : "EC2InstanceNotFoundException",
        "documentation" : null,
        "simpleType" : "EC2InstanceNotFoundException",
        "variableSetterType" : "EC2InstanceNotFoundException"
      },
      "wrapper" : false
    },
    "EC2InstanceTypeInvalidException" : {
      "c2jName" : "EC2InstanceTypeInvalidException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The instance type is not supported for connecting via the serial console. Only Nitro instance types are currently supported.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "EC2InstanceTypeInvalidException",
      "fullyQualifiedName" : "com.amazonaws.services.ec2instanceconnect.exception.EC2InstanceTypeInvalidException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.ec2instanceconnect.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "EC2InstanceTypeInvalidException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EC2InstanceTypeInvalidException",
        "variableName" : "eC2InstanceTypeInvalidException",
        "variableType" : "EC2InstanceTypeInvalidException",
        "documentation" : null,
        "simpleType" : "EC2InstanceTypeInvalidException",
        "variableSetterType" : "EC2InstanceTypeInvalidException"
      },
      "wrapper" : false
    },
    "InvalidArgsException" : {
      "c2jName" : "InvalidArgsException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>One of the parameters is not valid.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "InvalidArgsException",
      "fullyQualifiedName" : "com.amazonaws.services.ec2instanceconnect.exception.InvalidArgsException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.ec2instanceconnect.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "InvalidArgsException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InvalidArgsException",
        "variableName" : "invalidArgsException",
        "variableType" : "InvalidArgsException",
        "documentation" : null,
        "simpleType" : "InvalidArgsException",
        "variableSetterType" : "InvalidArgsException"
      },
      "wrapper" : false
    },
    "SendSSHPublicKeyRequest" : {
      "c2jName" : "SendSSHPublicKeyRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ec2instanceconnect.request.SendSSHPublicKeyRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "SendSSHPublicKey",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSEC2InstanceConnectService.SendSSHPublicKey",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "InstanceId",
        "c2jShape" : "InstanceId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the EC2 instance.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the EC2 instance.</p>\n@param instanceId The ID of the EC2 instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInstanceId",
        "getterDocumentation" : "/**<p>The ID of the EC2 instance.</p>\n@return The ID of the EC2 instance.*/",
        "getterMethodName" : "getInstanceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "InstanceId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "InstanceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "InstanceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the EC2 instance.</p>\n@param instanceId The ID of the EC2 instance.*/",
        "setterMethodName" : "setInstanceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the EC2 instance.</p>\n@param instanceId The ID of the EC2 instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the EC2 instance.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "InstanceOSUser",
        "c2jShape" : "InstanceOSUser",
        "deprecated" : false,
        "documentation" : "<p>The OS user on the EC2 instance for whom the key can be used to authenticate.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The OS user on the EC2 instance for whom the key can be used to authenticate.</p>\n@param instanceOSUser The OS user on the EC2 instance for whom the key can be used to authenticate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInstanceOSUser",
        "getterDocumentation" : "/**<p>The OS user on the EC2 instance for whom the key can be used to authenticate.</p>\n@return The OS user on the EC2 instance for whom the key can be used to authenticate.*/",
        "getterMethodName" : "getInstanceOSUser",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "InstanceOSUser",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "InstanceOSUser",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "InstanceOSUser",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The OS user on the EC2 instance for whom the key can be used to authenticate.</p>\n@param instanceOSUser The OS user on the EC2 instance for whom the key can be used to authenticate.*/",
        "setterMethodName" : "setInstanceOSUser",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceOSUser",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The OS user on the EC2 instance for whom the key can be used to authenticate.</p>\n@param instanceOSUser The OS user on the EC2 instance for whom the key can be used to authenticate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceOSUser",
          "variableType" : "String",
          "documentation" : "<p>The OS user on the EC2 instance for whom the key can be used to authenticate.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SSHPublicKey",
        "c2jShape" : "SSHPublicKey",
        "deprecated" : false,
        "documentation" : "<p>The public key material. To use the public key, you must have the matching private key.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The public key material. To use the public key, you must have the matching private key.</p>\n@param sSHPublicKey The public key material. To use the public key, you must have the matching private key.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSSHPublicKey",
        "getterDocumentation" : "/**<p>The public key material. To use the public key, you must have the matching private key.</p>\n@return The public key material. To use the public key, you must have the matching private key.*/",
        "getterMethodName" : "getSSHPublicKey",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SSHPublicKey",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SSHPublicKey",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SSHPublicKey",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The public key material. To use the public key, you must have the matching private key.</p>\n@param sSHPublicKey The public key material. To use the public key, you must have the matching private key.*/",
        "setterMethodName" : "setSSHPublicKey",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sSHPublicKey",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The public key material. To use the public key, you must have the matching private key.</p>\n@param sSHPublicKey The public key material. To use the public key, you must have the matching private key.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sSHPublicKey",
          "variableType" : "String",
          "documentation" : "<p>The public key material. To use the public key, you must have the matching private key.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AvailabilityZone",
        "c2jShape" : "AvailabilityZone",
        "deprecated" : false,
        "documentation" : "<p>The Availability Zone in which the EC2 instance was launched.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Availability Zone in which the EC2 instance was launched.</p>\n@param availabilityZone The Availability Zone in which the EC2 instance was launched.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAvailabilityZone",
        "getterDocumentation" : "/**<p>The Availability Zone in which the EC2 instance was launched.</p>\n@return The Availability Zone in which the EC2 instance was launched.*/",
        "getterMethodName" : "getAvailabilityZone",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AvailabilityZone",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AvailabilityZone",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AvailabilityZone",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Availability Zone in which the EC2 instance was launched.</p>\n@param availabilityZone The Availability Zone in which the EC2 instance was launched.*/",
        "setterMethodName" : "setAvailabilityZone",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "availabilityZone",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Availability Zone in which the EC2 instance was launched.</p>\n@param availabilityZone The Availability Zone in which the EC2 instance was launched.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "availabilityZone",
          "variableType" : "String",
          "documentation" : "<p>The Availability Zone in which the EC2 instance was launched.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AvailabilityZone" : {
          "c2jName" : "AvailabilityZone",
          "c2jShape" : "AvailabilityZone",
          "deprecated" : false,
          "documentation" : "<p>The Availability Zone in which the EC2 instance was launched.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Availability Zone in which the EC2 instance was launched.</p>\n@param availabilityZone The Availability Zone in which the EC2 instance was launched.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAvailabilityZone",
          "getterDocumentation" : "/**<p>The Availability Zone in which the EC2 instance was launched.</p>\n@return The Availability Zone in which the EC2 instance was launched.*/",
          "getterMethodName" : "getAvailabilityZone",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AvailabilityZone",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AvailabilityZone",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AvailabilityZone",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Availability Zone in which the EC2 instance was launched.</p>\n@param availabilityZone The Availability Zone in which the EC2 instance was launched.*/",
          "setterMethodName" : "setAvailabilityZone",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "availabilityZone",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Availability Zone in which the EC2 instance was launched.</p>\n@param availabilityZone The Availability Zone in which the EC2 instance was launched.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "availabilityZone",
            "variableType" : "String",
            "documentation" : "<p>The Availability Zone in which the EC2 instance was launched.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "InstanceId" : {
          "c2jName" : "InstanceId",
          "c2jShape" : "InstanceId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the EC2 instance.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the EC2 instance.</p>\n@param instanceId The ID of the EC2 instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withInstanceId",
          "getterDocumentation" : "/**<p>The ID of the EC2 instance.</p>\n@return The ID of the EC2 instance.*/",
          "getterMethodName" : "getInstanceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "InstanceId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "InstanceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "InstanceId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the EC2 instance.</p>\n@param instanceId The ID of the EC2 instance.*/",
          "setterMethodName" : "setInstanceId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "instanceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the EC2 instance.</p>\n@param instanceId The ID of the EC2 instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "instanceId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the EC2 instance.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "InstanceOSUser" : {
          "c2jName" : "InstanceOSUser",
          "c2jShape" : "InstanceOSUser",
          "deprecated" : false,
          "documentation" : "<p>The OS user on the EC2 instance for whom the key can be used to authenticate.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The OS user on the EC2 instance for whom the key can be used to authenticate.</p>\n@param instanceOSUser The OS user on the EC2 instance for whom the key can be used to authenticate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withInstanceOSUser",
          "getterDocumentation" : "/**<p>The OS user on the EC2 instance for whom the key can be used to authenticate.</p>\n@return The OS user on the EC2 instance for whom the key can be used to authenticate.*/",
          "getterMethodName" : "getInstanceOSUser",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "InstanceOSUser",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "InstanceOSUser",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "InstanceOSUser",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The OS user on the EC2 instance for whom the key can be used to authenticate.</p>\n@param instanceOSUser The OS user on the EC2 instance for whom the key can be used to authenticate.*/",
          "setterMethodName" : "setInstanceOSUser",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "instanceOSUser",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The OS user on the EC2 instance for whom the key can be used to authenticate.</p>\n@param instanceOSUser The OS user on the EC2 instance for whom the key can be used to authenticate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "instanceOSUser",
            "variableType" : "String",
            "documentation" : "<p>The OS user on the EC2 instance for whom the key can be used to authenticate.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SSHPublicKey" : {
          "c2jName" : "SSHPublicKey",
          "c2jShape" : "SSHPublicKey",
          "deprecated" : false,
          "documentation" : "<p>The public key material. To use the public key, you must have the matching private key.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The public key material. To use the public key, you must have the matching private key.</p>\n@param sSHPublicKey The public key material. To use the public key, you must have the matching private key.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSSHPublicKey",
          "getterDocumentation" : "/**<p>The public key material. To use the public key, you must have the matching private key.</p>\n@return The public key material. To use the public key, you must have the matching private key.*/",
          "getterMethodName" : "getSSHPublicKey",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SSHPublicKey",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SSHPublicKey",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SSHPublicKey",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The public key material. To use the public key, you must have the matching private key.</p>\n@param sSHPublicKey The public key material. To use the public key, you must have the matching private key.*/",
          "setterMethodName" : "setSSHPublicKey",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sSHPublicKey",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The public key material. To use the public key, you must have the matching private key.</p>\n@param sSHPublicKey The public key material. To use the public key, you must have the matching private key.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sSHPublicKey",
            "variableType" : "String",
            "documentation" : "<p>The public key material. To use the public key, you must have the matching private key.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.ec2instanceconnect.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "InstanceId", "InstanceOSUser", "SSHPublicKey", "AvailabilityZone" ],
      "shapeName" : "SendSSHPublicKeyRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SendSSHPublicKeyRequest",
        "variableName" : "sendSSHPublicKeyRequest",
        "variableType" : "SendSSHPublicKeyRequest",
        "documentation" : null,
        "simpleType" : "SendSSHPublicKeyRequest",
        "variableSetterType" : "SendSSHPublicKeyRequest"
      },
      "wrapper" : false
    },
    "SendSSHPublicKeyResult" : {
      "c2jName" : "SendSSHPublicKeyResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ec2instanceconnect.response.SendSSHPublicKeyResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "RequestId",
        "c2jShape" : "RequestId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>\n@param requestId The ID of the request. Please provide this ID when contacting AWS Support for assistance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRequestId",
        "getterDocumentation" : "/**<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>\n@return The ID of the request. Please provide this ID when contacting AWS Support for assistance.*/",
        "getterMethodName" : "getRequestId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RequestId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RequestId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RequestId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>\n@param requestId The ID of the request. Please provide this ID when contacting AWS Support for assistance.*/",
        "setterMethodName" : "setRequestId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "requestId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>\n@param requestId The ID of the request. Please provide this ID when contacting AWS Support for assistance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "requestId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Success",
        "c2jShape" : "Success",
        "deprecated" : false,
        "documentation" : "<p>Is true if the request succeeds and an error otherwise.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Is true if the request succeeds and an error otherwise.</p>\n@param success Is true if the request succeeds and an error otherwise.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSuccess",
        "getterDocumentation" : "/**<p>Is true if the request succeeds and an error otherwise.</p>\n@return Is true if the request succeeds and an error otherwise.*/",
        "getterMethodName" : "getSuccess",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Success",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Success",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "Success",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Is true if the request succeeds and an error otherwise.</p>\n@param success Is true if the request succeeds and an error otherwise.*/",
        "setterMethodName" : "setSuccess",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "success",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Is true if the request succeeds and an error otherwise.</p>\n@param success Is true if the request succeeds and an error otherwise.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "success",
          "variableType" : "Boolean",
          "documentation" : "<p>Is true if the request succeeds and an error otherwise.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "RequestId" : {
          "c2jName" : "RequestId",
          "c2jShape" : "RequestId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>\n@param requestId The ID of the request. Please provide this ID when contacting AWS Support for assistance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRequestId",
          "getterDocumentation" : "/**<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>\n@return The ID of the request. Please provide this ID when contacting AWS Support for assistance.*/",
          "getterMethodName" : "getRequestId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RequestId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RequestId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RequestId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>\n@param requestId The ID of the request. Please provide this ID when contacting AWS Support for assistance.*/",
          "setterMethodName" : "setRequestId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "requestId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>\n@param requestId The ID of the request. Please provide this ID when contacting AWS Support for assistance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "requestId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Success" : {
          "c2jName" : "Success",
          "c2jShape" : "Success",
          "deprecated" : false,
          "documentation" : "<p>Is true if the request succeeds and an error otherwise.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Is true if the request succeeds and an error otherwise.</p>\n@param success Is true if the request succeeds and an error otherwise.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSuccess",
          "getterDocumentation" : "/**<p>Is true if the request succeeds and an error otherwise.</p>\n@return Is true if the request succeeds and an error otherwise.*/",
          "getterMethodName" : "getSuccess",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Success",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Success",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "Success",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Is true if the request succeeds and an error otherwise.</p>\n@param success Is true if the request succeeds and an error otherwise.*/",
          "setterMethodName" : "setSuccess",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "success",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Is true if the request succeeds and an error otherwise.</p>\n@param success Is true if the request succeeds and an error otherwise.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "success",
            "variableType" : "Boolean",
            "documentation" : "<p>Is true if the request succeeds and an error otherwise.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.ec2instanceconnect.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "SendSSHPublicKeyResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SendSSHPublicKeyResult",
        "variableName" : "sendSSHPublicKeyResult",
        "variableType" : "SendSSHPublicKeyResult",
        "documentation" : null,
        "simpleType" : "SendSSHPublicKeyResult",
        "variableSetterType" : "SendSSHPublicKeyResult"
      },
      "wrapper" : false
    },
    "SendSerialConsoleSSHPublicKeyRequest" : {
      "c2jName" : "SendSerialConsoleSSHPublicKeyRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ec2instanceconnect.request.SendSerialConsoleSSHPublicKeyRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "SendSerialConsoleSSHPublicKey",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSEC2InstanceConnectService.SendSerialConsoleSSHPublicKey",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "InstanceId",
        "c2jShape" : "InstanceId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the EC2 instance.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the EC2 instance.</p>\n@param instanceId The ID of the EC2 instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInstanceId",
        "getterDocumentation" : "/**<p>The ID of the EC2 instance.</p>\n@return The ID of the EC2 instance.*/",
        "getterMethodName" : "getInstanceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "InstanceId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "InstanceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "InstanceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the EC2 instance.</p>\n@param instanceId The ID of the EC2 instance.*/",
        "setterMethodName" : "setInstanceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the EC2 instance.</p>\n@param instanceId The ID of the EC2 instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "instanceId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the EC2 instance.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SerialPort",
        "c2jShape" : "SerialPort",
        "deprecated" : false,
        "documentation" : "<p>The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0</p>\n@param serialPort The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSerialPort",
        "getterDocumentation" : "/**<p>The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0</p>\n@return The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0*/",
        "getterMethodName" : "getSerialPort",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SerialPort",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SerialPort",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "SerialPort",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0</p>\n@param serialPort The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0*/",
        "setterMethodName" : "setSerialPort",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "serialPort",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0</p>\n@param serialPort The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "serialPort",
          "variableType" : "Integer",
          "documentation" : "<p>The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SSHPublicKey",
        "c2jShape" : "SSHPublicKey",
        "deprecated" : false,
        "documentation" : "<p>The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.</p>\n@param sSHPublicKey The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSSHPublicKey",
        "getterDocumentation" : "/**<p>The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.</p>\n@return The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.*/",
        "getterMethodName" : "getSSHPublicKey",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SSHPublicKey",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SSHPublicKey",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SSHPublicKey",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.</p>\n@param sSHPublicKey The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.*/",
        "setterMethodName" : "setSSHPublicKey",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sSHPublicKey",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.</p>\n@param sSHPublicKey The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sSHPublicKey",
          "variableType" : "String",
          "documentation" : "<p>The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "InstanceId" : {
          "c2jName" : "InstanceId",
          "c2jShape" : "InstanceId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the EC2 instance.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the EC2 instance.</p>\n@param instanceId The ID of the EC2 instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withInstanceId",
          "getterDocumentation" : "/**<p>The ID of the EC2 instance.</p>\n@return The ID of the EC2 instance.*/",
          "getterMethodName" : "getInstanceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "InstanceId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "InstanceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "InstanceId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the EC2 instance.</p>\n@param instanceId The ID of the EC2 instance.*/",
          "setterMethodName" : "setInstanceId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "instanceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the EC2 instance.</p>\n@param instanceId The ID of the EC2 instance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "instanceId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the EC2 instance.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SSHPublicKey" : {
          "c2jName" : "SSHPublicKey",
          "c2jShape" : "SSHPublicKey",
          "deprecated" : false,
          "documentation" : "<p>The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.</p>\n@param sSHPublicKey The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSSHPublicKey",
          "getterDocumentation" : "/**<p>The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.</p>\n@return The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.*/",
          "getterMethodName" : "getSSHPublicKey",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SSHPublicKey",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SSHPublicKey",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SSHPublicKey",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.</p>\n@param sSHPublicKey The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.*/",
          "setterMethodName" : "setSSHPublicKey",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sSHPublicKey",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.</p>\n@param sSHPublicKey The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sSHPublicKey",
            "variableType" : "String",
            "documentation" : "<p>The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SerialPort" : {
          "c2jName" : "SerialPort",
          "c2jShape" : "SerialPort",
          "deprecated" : false,
          "documentation" : "<p>The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0</p>\n@param serialPort The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSerialPort",
          "getterDocumentation" : "/**<p>The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0</p>\n@return The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0*/",
          "getterMethodName" : "getSerialPort",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SerialPort",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SerialPort",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "SerialPort",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0</p>\n@param serialPort The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0*/",
          "setterMethodName" : "setSerialPort",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "serialPort",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0</p>\n@param serialPort The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "serialPort",
            "variableType" : "Integer",
            "documentation" : "<p>The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.ec2instanceconnect.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "InstanceId", "SSHPublicKey" ],
      "shapeName" : "SendSerialConsoleSSHPublicKeyRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SendSerialConsoleSSHPublicKeyRequest",
        "variableName" : "sendSerialConsoleSSHPublicKeyRequest",
        "variableType" : "SendSerialConsoleSSHPublicKeyRequest",
        "documentation" : null,
        "simpleType" : "SendSerialConsoleSSHPublicKeyRequest",
        "variableSetterType" : "SendSerialConsoleSSHPublicKeyRequest"
      },
      "wrapper" : false
    },
    "SendSerialConsoleSSHPublicKeyResult" : {
      "c2jName" : "SendSerialConsoleSSHPublicKeyResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ec2instanceconnect.response.SendSerialConsoleSSHPublicKeyResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "RequestId",
        "c2jShape" : "RequestId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>\n@param requestId The ID of the request. Please provide this ID when contacting AWS Support for assistance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRequestId",
        "getterDocumentation" : "/**<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>\n@return The ID of the request. Please provide this ID when contacting AWS Support for assistance.*/",
        "getterMethodName" : "getRequestId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RequestId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RequestId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RequestId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>\n@param requestId The ID of the request. Please provide this ID when contacting AWS Support for assistance.*/",
        "setterMethodName" : "setRequestId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "requestId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>\n@param requestId The ID of the request. Please provide this ID when contacting AWS Support for assistance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "requestId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Success",
        "c2jShape" : "Success",
        "deprecated" : false,
        "documentation" : "<p>Is true if the request succeeds and an error otherwise.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Is true if the request succeeds and an error otherwise.</p>\n@param success Is true if the request succeeds and an error otherwise.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSuccess",
        "getterDocumentation" : "/**<p>Is true if the request succeeds and an error otherwise.</p>\n@return Is true if the request succeeds and an error otherwise.*/",
        "getterMethodName" : "getSuccess",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Success",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Success",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "Success",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Is true if the request succeeds and an error otherwise.</p>\n@param success Is true if the request succeeds and an error otherwise.*/",
        "setterMethodName" : "setSuccess",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "success",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Is true if the request succeeds and an error otherwise.</p>\n@param success Is true if the request succeeds and an error otherwise.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "success",
          "variableType" : "Boolean",
          "documentation" : "<p>Is true if the request succeeds and an error otherwise.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "RequestId" : {
          "c2jName" : "RequestId",
          "c2jShape" : "RequestId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>\n@param requestId The ID of the request. Please provide this ID when contacting AWS Support for assistance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRequestId",
          "getterDocumentation" : "/**<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>\n@return The ID of the request. Please provide this ID when contacting AWS Support for assistance.*/",
          "getterMethodName" : "getRequestId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RequestId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RequestId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RequestId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>\n@param requestId The ID of the request. Please provide this ID when contacting AWS Support for assistance.*/",
          "setterMethodName" : "setRequestId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "requestId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>\n@param requestId The ID of the request. Please provide this ID when contacting AWS Support for assistance.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "requestId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Success" : {
          "c2jName" : "Success",
          "c2jShape" : "Success",
          "deprecated" : false,
[...]
