{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-10-30",
    "asyncClient" : "AmazonECRPublicAsyncClient",
    "asyncClientBuilderClassName" : "AmazonECRPublicAsyncClientBuilder",
    "asyncInterface" : "AmazonECRPublicAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonECRPublicModuleInjector",
    "defaultEndpoint" : "api.ecr-public.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "api.ecr-public.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon Elastic Container Registry Public</fullname> <p>Amazon Elastic Container Registry (Amazon ECR) is a managed container image registry service. Amazon ECR provides both public and private registries to host your container images. You can use the familiar Docker CLI, or their preferred client, to push, pull, and manage images. Amazon ECR provides a secure, scalable, and reliable registry for your Docker or Open Container Initiative (OCI) images. Amazon ECR supports public repositories with this API. For information about the Amazon ECR API for private repositories, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/APIReference/Welcome.html\">Amazon Elastic Container Registry API Reference</a>.</p>",
    "endpointPrefix" : "api.ecr-public",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.ecrpublic",
    "packagePath" : "com/amazonaws/services/ecrpublic",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amazon ECR Public",
    "serviceFullName" : "Amazon Elastic Container Registry Public",
    "serviceId" : "ECR PUBLIC",
    "serviceName" : "Amazon ECR Public",
    "signingName" : "ecr-public",
    "smokeTestsPackageName" : "com.amazonaws.services.ecrpublic.smoketests",
    "syncClient" : "AmazonECRPublicClient",
    "syncClientBuilderClassName" : "AmazonECRPublicClientBuilder",
    "syncInterface" : "AmazonECRPublic",
    "uid" : "ecr-public-2020-10-30",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchCheckLayerAvailability" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchCheckLayerAvailabilityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchCheckLayerAvailabilityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchCheckLayerAvailabilityRequest, BatchCheckLayerAvailabilityResult>",
      "asyncReturnType" : "BatchCheckLayerAvailabilityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Checks the availability of one or more image layers within a repository in a public registry. When an image is pushed to a repository, each image layer is checked to verify if it has been uploaded before. If it has been uploaded, then the image layer is skipped.</p> <note> <p>This operation is used by the Amazon ECR proxy and is not generally used by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RegistryNotFoundException",
        "documentation" : "<p>The registry does not exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchCheckLayerAvailabilityRequest",
        "variableName" : "batchCheckLayerAvailabilityRequest",
        "variableType" : "BatchCheckLayerAvailabilityRequest",
        "documentation" : "",
        "simpleType" : "BatchCheckLayerAvailabilityRequest",
        "variableSetterType" : "BatchCheckLayerAvailabilityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchCheckLayerAvailability",
      "operationName" : "BatchCheckLayerAvailability",
      "returnType" : {
        "returnType" : "BatchCheckLayerAvailabilityResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchCheckLayerAvailabilityResult"
    },
    "BatchDeleteImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDeleteImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDeleteImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDeleteImageRequest, BatchDeleteImageResult>",
      "asyncReturnType" : "BatchDeleteImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a list of specified images within a repository in a public registry. Images are specified with either an <code>imageTag</code> or <code>imageDigest</code>.</p> <p>You can remove a tag from an image by specifying the image's tag in your request. When you remove the last tag from an image, the image is deleted from your repository.</p> <p>You can completely delete an image (and all of its tags) by specifying the image's digest in your request.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDeleteImageRequest",
        "variableName" : "batchDeleteImageRequest",
        "variableType" : "BatchDeleteImageRequest",
        "documentation" : "",
        "simpleType" : "BatchDeleteImageRequest",
        "variableSetterType" : "BatchDeleteImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDeleteImage",
      "operationName" : "BatchDeleteImage",
      "returnType" : {
        "returnType" : "BatchDeleteImageResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDeleteImageResult"
    },
    "CompleteLayerUpload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CompleteLayerUploadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CompleteLayerUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CompleteLayerUploadRequest, CompleteLayerUploadResult>",
      "asyncReturnType" : "CompleteLayerUploadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Informs Amazon ECR that the image layer upload has completed for a specified public registry, repository name, and upload ID. You can optionally provide a <code>sha256</code> digest of the image layer for data validation purposes.</p> <p>When an image is pushed, the CompleteLayerUpload API is called once per each new image layer to verify that the upload has completed.</p> <note> <p>This operation is used by the Amazon ECR proxy and is not generally used by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UploadNotFoundException",
        "documentation" : "<p>The upload could not be found, or the specified upload ID is not valid for this repository.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLayerException",
        "documentation" : "<p>The layer digest calculation performed by Amazon ECR upon receipt of the image layer does not match the digest specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LayerPartTooSmallException",
        "documentation" : "<p>Layer parts must be at least 5 MiB in size.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LayerAlreadyExistsException",
        "documentation" : "<p>The image layer already exists in the associated repository.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EmptyUploadException",
        "documentation" : "<p>The specified layer upload does not contain any layer parts.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RegistryNotFoundException",
        "documentation" : "<p>The registry does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedCommandException",
        "documentation" : "<p>The action is not supported in this Region.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CompleteLayerUploadRequest",
        "variableName" : "completeLayerUploadRequest",
        "variableType" : "CompleteLayerUploadRequest",
        "documentation" : "",
        "simpleType" : "CompleteLayerUploadRequest",
        "variableSetterType" : "CompleteLayerUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "completeLayerUpload",
      "operationName" : "CompleteLayerUpload",
      "returnType" : {
        "returnType" : "CompleteLayerUploadResult",
        "documentation" : null
      },
      "syncReturnType" : "CompleteLayerUploadResult"
    },
    "CreateRepository" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRepositoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRepositoryRequest, CreateRepositoryResult>",
      "asyncReturnType" : "CreateRepositoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a repository in a public registry. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/Repositories.html\">Amazon ECR repositories</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTagParameterException",
        "documentation" : "<p>An invalid parameter has been specified. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The list of tags on the repository is over the limit. The maximum number of tags that can be applied to a repository is 50.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryAlreadyExistsException",
        "documentation" : "<p>The specified repository already exists in the specified registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation did not succeed because it would have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/service-quotas.html\">Amazon ECR Service Quotas</a> in the Amazon Elastic Container Registry User Guide.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRepositoryRequest",
        "variableName" : "createRepositoryRequest",
        "variableType" : "CreateRepositoryRequest",
        "documentation" : "",
        "simpleType" : "CreateRepositoryRequest",
        "variableSetterType" : "CreateRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRepository",
      "operationName" : "CreateRepository",
      "returnType" : {
        "returnType" : "CreateRepositoryResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRepositoryResult"
    },
    "DeleteRepository" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRepositoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRepositoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRepositoryRequest, DeleteRepositoryResult>",
      "asyncReturnType" : "DeleteRepositoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a repository in a public registry. If the repository contains images, you must either delete all images in the repository or use the <code>force</code> option which deletes all images on your behalf before deleting the repository.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotEmptyException",
        "documentation" : "<p>The specified repository contains images. To delete a repository that contains images, you must force the deletion with the <code>force</code> parameter.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRepositoryRequest",
        "variableName" : "deleteRepositoryRequest",
        "variableType" : "DeleteRepositoryRequest",
        "documentation" : "",
        "simpleType" : "DeleteRepositoryRequest",
        "variableSetterType" : "DeleteRepositoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRepository",
      "operationName" : "DeleteRepository",
      "returnType" : {
        "returnType" : "DeleteRepositoryResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRepositoryResult"
    },
    "DeleteRepositoryPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRepositoryPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRepositoryPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRepositoryPolicyRequest, DeleteRepositoryPolicyResult>",
      "asyncReturnType" : "DeleteRepositoryPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the repository policy associated with the specified repository.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryPolicyNotFoundException",
        "documentation" : "<p>The specified repository and registry combination does not have an associated repository policy.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRepositoryPolicyRequest",
        "variableName" : "deleteRepositoryPolicyRequest",
        "variableType" : "DeleteRepositoryPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteRepositoryPolicyRequest",
        "variableSetterType" : "DeleteRepositoryPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRepositoryPolicy",
      "operationName" : "DeleteRepositoryPolicy",
      "returnType" : {
        "returnType" : "DeleteRepositoryPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRepositoryPolicyResult"
    },
    "DescribeImageTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeImageTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeImageTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeImageTagsRequest, DescribeImageTagsResult>",
      "asyncReturnType" : "DescribeImageTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the image tag details for a repository in a public registry.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeImageTagsRequest",
        "variableName" : "describeImageTagsRequest",
        "variableType" : "DescribeImageTagsRequest",
        "documentation" : "",
        "simpleType" : "DescribeImageTagsRequest",
        "variableSetterType" : "DescribeImageTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeImageTags",
      "operationName" : "DescribeImageTags",
      "returnType" : {
        "returnType" : "DescribeImageTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeImageTagsResult"
    },
    "DescribeImages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeImagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeImagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeImagesRequest, DescribeImagesResult>",
      "asyncReturnType" : "DescribeImagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata about the images in a repository in a public registry.</p> <note> <p>Beginning with Docker version 1.9, the Docker client compresses image layers before pushing them to a V2 Docker registry. The output of the <code>docker images</code> command shows the uncompressed image size, so it may return a larger image size than the image sizes returned by <a>DescribeImages</a>.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ImageNotFoundException",
        "documentation" : "<p>The image requested does not exist in the specified repository.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeImagesRequest",
        "variableName" : "describeImagesRequest",
        "variableType" : "DescribeImagesRequest",
        "documentation" : "",
        "simpleType" : "DescribeImagesRequest",
        "variableSetterType" : "DescribeImagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeImages",
      "operationName" : "DescribeImages",
      "returnType" : {
        "returnType" : "DescribeImagesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeImagesResult"
    },
    "DescribeRegistries" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRegistriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRegistriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRegistriesRequest, DescribeRegistriesResult>",
      "asyncReturnType" : "DescribeRegistriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns details for a public registry.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedCommandException",
        "documentation" : "<p>The action is not supported in this Region.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRegistriesRequest",
        "variableName" : "describeRegistriesRequest",
        "variableType" : "DescribeRegistriesRequest",
        "documentation" : "",
        "simpleType" : "DescribeRegistriesRequest",
        "variableSetterType" : "DescribeRegistriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRegistries",
      "operationName" : "DescribeRegistries",
      "returnType" : {
        "returnType" : "DescribeRegistriesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRegistriesResult"
    },
    "DescribeRepositories" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRepositoriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRepositoriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRepositoriesRequest, DescribeRepositoriesResult>",
      "asyncReturnType" : "DescribeRepositoriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes repositories in a public registry.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRepositoriesRequest",
        "variableName" : "describeRepositoriesRequest",
        "variableType" : "DescribeRepositoriesRequest",
        "documentation" : "",
        "simpleType" : "DescribeRepositoriesRequest",
        "variableSetterType" : "DescribeRepositoriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRepositories",
      "operationName" : "DescribeRepositories",
      "returnType" : {
        "returnType" : "DescribeRepositoriesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRepositoriesResult"
    },
    "GetAuthorizationToken" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAuthorizationTokenResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAuthorizationTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAuthorizationTokenRequest, GetAuthorizationTokenResult>",
      "asyncReturnType" : "GetAuthorizationTokenResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves an authorization token. An authorization token represents your IAM authentication credentials and can be used to access any Amazon ECR registry that your IAM principal has access to. The authorization token is valid for 12 hours. This API requires the <code>ecr-public:GetAuthorizationToken</code> and <code>sts:GetServiceBearerToken</code> permissions.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAuthorizationTokenRequest",
        "variableName" : "getAuthorizationTokenRequest",
        "variableType" : "GetAuthorizationTokenRequest",
        "documentation" : "",
        "simpleType" : "GetAuthorizationTokenRequest",
        "variableSetterType" : "GetAuthorizationTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAuthorizationToken",
      "operationName" : "GetAuthorizationToken",
      "returnType" : {
        "returnType" : "GetAuthorizationTokenResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAuthorizationTokenResult"
    },
    "GetRegistryCatalogData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRegistryCatalogDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRegistryCatalogDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRegistryCatalogDataRequest, GetRegistryCatalogDataResult>",
      "asyncReturnType" : "GetRegistryCatalogDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves catalog metadata for a public registry.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedCommandException",
        "documentation" : "<p>The action is not supported in this Region.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRegistryCatalogDataRequest",
        "variableName" : "getRegistryCatalogDataRequest",
        "variableType" : "GetRegistryCatalogDataRequest",
        "documentation" : "",
        "simpleType" : "GetRegistryCatalogDataRequest",
        "variableSetterType" : "GetRegistryCatalogDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRegistryCatalogData",
      "operationName" : "GetRegistryCatalogData",
      "returnType" : {
        "returnType" : "GetRegistryCatalogDataResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRegistryCatalogDataResult"
    },
    "GetRepositoryCatalogData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRepositoryCatalogDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRepositoryCatalogDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRepositoryCatalogDataRequest, GetRepositoryCatalogDataResult>",
      "asyncReturnType" : "GetRepositoryCatalogDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieve catalog metadata for a repository in a public registry. This metadata is displayed publicly in the Amazon ECR Public Gallery.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRepositoryCatalogDataRequest",
        "variableName" : "getRepositoryCatalogDataRequest",
        "variableType" : "GetRepositoryCatalogDataRequest",
        "documentation" : "",
        "simpleType" : "GetRepositoryCatalogDataRequest",
        "variableSetterType" : "GetRepositoryCatalogDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRepositoryCatalogData",
      "operationName" : "GetRepositoryCatalogData",
      "returnType" : {
        "returnType" : "GetRepositoryCatalogDataResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRepositoryCatalogDataResult"
    },
    "GetRepositoryPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRepositoryPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRepositoryPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRepositoryPolicyRequest, GetRepositoryPolicyResult>",
      "asyncReturnType" : "GetRepositoryPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the repository policy for the specified repository.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryPolicyNotFoundException",
        "documentation" : "<p>The specified repository and registry combination does not have an associated repository policy.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRepositoryPolicyRequest",
        "variableName" : "getRepositoryPolicyRequest",
        "variableType" : "GetRepositoryPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetRepositoryPolicyRequest",
        "variableSetterType" : "GetRepositoryPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRepositoryPolicy",
      "operationName" : "GetRepositoryPolicy",
      "returnType" : {
        "returnType" : "GetRepositoryPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRepositoryPolicyResult"
    },
    "InitiateLayerUpload" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InitiateLayerUploadResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InitiateLayerUploadResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InitiateLayerUploadRequest, InitiateLayerUploadResult>",
      "asyncReturnType" : "InitiateLayerUploadResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Notifies Amazon ECR that you intend to upload an image layer.</p> <p>When an image is pushed, the InitiateLayerUpload API is called once per image layer that has not already been uploaded. Whether or not an image layer has been uploaded is determined by the BatchCheckLayerAvailability API action.</p> <note> <p>This operation is used by the Amazon ECR proxy and is not generally used by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RegistryNotFoundException",
        "documentation" : "<p>The registry does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedCommandException",
        "documentation" : "<p>The action is not supported in this Region.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InitiateLayerUploadRequest",
        "variableName" : "initiateLayerUploadRequest",
        "variableType" : "InitiateLayerUploadRequest",
        "documentation" : "",
        "simpleType" : "InitiateLayerUploadRequest",
        "variableSetterType" : "InitiateLayerUploadRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "initiateLayerUpload",
      "operationName" : "InitiateLayerUpload",
      "returnType" : {
        "returnType" : "InitiateLayerUploadResult",
        "documentation" : null
      },
      "syncReturnType" : "InitiateLayerUploadResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the tags for an Amazon ECR Public resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutImageRequest, PutImageResult>",
      "asyncReturnType" : "PutImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates the image manifest and tags associated with an image.</p> <p>When an image is pushed and all new image layers have been uploaded, the PutImage API is called once to create or update the image manifest and the tags associated with the image.</p> <note> <p>This operation is used by the Amazon ECR proxy and is not generally used by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ImageAlreadyExistsException",
        "documentation" : "<p>The specified image has already been pushed, and there were no changes to the manifest or image tag after the last push.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LayersNotFoundException",
        "documentation" : "<p>The specified layers could not be found, or the specified layer is not valid for this repository.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ReferencedImagesNotFoundException",
        "documentation" : "<p>The manifest list is referencing an image that does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation did not succeed because it would have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/service-quotas.html\">Amazon ECR Service Quotas</a> in the Amazon Elastic Container Registry User Guide.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ImageTagAlreadyExistsException",
        "documentation" : "<p>The specified image is tagged with a tag that already exists. The repository is configured for tag immutability.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ImageDigestDoesNotMatchException",
        "documentation" : "<p>The specified image digest does not match the digest that Amazon ECR calculated for the image.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RegistryNotFoundException",
        "documentation" : "<p>The registry does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedCommandException",
        "documentation" : "<p>The action is not supported in this Region.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutImageRequest",
        "variableName" : "putImageRequest",
        "variableType" : "PutImageRequest",
        "documentation" : "",
        "simpleType" : "PutImageRequest",
        "variableSetterType" : "PutImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putImage",
      "operationName" : "PutImage",
      "returnType" : {
        "returnType" : "PutImageResult",
        "documentation" : null
      },
      "syncReturnType" : "PutImageResult"
    },
    "PutRegistryCatalogData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRegistryCatalogDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRegistryCatalogDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRegistryCatalogDataRequest, PutRegistryCatalogDataResult>",
      "asyncReturnType" : "PutRegistryCatalogDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create or updates the catalog data for a public registry.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedCommandException",
        "documentation" : "<p>The action is not supported in this Region.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutRegistryCatalogDataRequest",
        "variableName" : "putRegistryCatalogDataRequest",
        "variableType" : "PutRegistryCatalogDataRequest",
        "documentation" : "",
        "simpleType" : "PutRegistryCatalogDataRequest",
        "variableSetterType" : "PutRegistryCatalogDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRegistryCatalogData",
      "operationName" : "PutRegistryCatalogData",
      "returnType" : {
        "returnType" : "PutRegistryCatalogDataResult",
        "documentation" : null
      },
      "syncReturnType" : "PutRegistryCatalogDataResult"
    },
    "PutRepositoryCatalogData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRepositoryCatalogDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRepositoryCatalogDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRepositoryCatalogDataRequest, PutRepositoryCatalogDataResult>",
      "asyncReturnType" : "PutRepositoryCatalogDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates the catalog data for a repository in a public registry.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutRepositoryCatalogDataRequest",
        "variableName" : "putRepositoryCatalogDataRequest",
        "variableType" : "PutRepositoryCatalogDataRequest",
        "documentation" : "",
        "simpleType" : "PutRepositoryCatalogDataRequest",
        "variableSetterType" : "PutRepositoryCatalogDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRepositoryCatalogData",
      "operationName" : "PutRepositoryCatalogData",
      "returnType" : {
        "returnType" : "PutRepositoryCatalogDataResult",
        "documentation" : null
      },
      "syncReturnType" : "PutRepositoryCatalogDataResult"
    },
    "SetRepositoryPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetRepositoryPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetRepositoryPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetRepositoryPolicyRequest, SetRepositoryPolicyResult>",
      "asyncReturnType" : "SetRepositoryPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Applies a repository policy to the specified public repository to control access permissions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/repository-policies.html\">Amazon ECR Repository Policies</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SetRepositoryPolicyRequest",
        "variableName" : "setRepositoryPolicyRequest",
        "variableType" : "SetRepositoryPolicyRequest",
        "documentation" : "",
        "simpleType" : "SetRepositoryPolicyRequest",
        "variableSetterType" : "SetRepositoryPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setRepositoryPolicy",
      "operationName" : "SetRepositoryPolicy",
      "returnType" : {
        "returnType" : "SetRepositoryPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "SetRepositoryPolicyResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates the specified tags to a resource with the specified <code>resourceArn</code>. If existing tags on a resource are not specified in the request parameters, they are not changed. When a resource is deleted, the tags associated with that resource are deleted as well.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTagParameterException",
        "documentation" : "<p>An invalid parameter has been specified. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The list of tags on the repository is over the limit. The maximum number of tags that can be applied to a repository is 50.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes specified tags from a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTagParameterException",
        "documentation" : "<p>An invalid parameter has been specified. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The list of tags on the repository is over the limit. The maximum number of tags that can be applied to a repository is 50.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UploadLayerPart" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UploadLayerPartResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UploadLayerPartResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UploadLayerPartRequest, UploadLayerPartResult>",
      "asyncReturnType" : "UploadLayerPartResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Uploads an image layer part to Amazon ECR.</p> <p>When an image is pushed, each new image layer is uploaded in parts. The maximum size of each image layer part can be 20971520 bytes (or about 20MB). The UploadLayerPart API is called once per each new image layer part.</p> <note> <p>This operation is used by the Amazon ECR proxy and is not generally used by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidLayerPartException",
        "documentation" : "<p>The layer part size is not valid, or the first byte specified is not consecutive to the last byte of a previous layer part upload.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RepositoryNotFoundException",
        "documentation" : "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UploadNotFoundException",
        "documentation" : "<p>The upload could not be found, or the specified upload ID is not valid for this repository.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation did not succeed because it would have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/service-quotas.html\">Amazon ECR Service Quotas</a> in the Amazon Elastic Container Registry User Guide.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "RegistryNotFoundException",
        "documentation" : "<p>The registry does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedCommandException",
        "documentation" : "<p>The action is not supported in this Region.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UploadLayerPartRequest",
        "variableName" : "uploadLayerPartRequest",
        "variableType" : "UploadLayerPartRequest",
        "documentation" : "",
        "simpleType" : "UploadLayerPartRequest",
        "variableSetterType" : "UploadLayerPartRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "uploadLayerPart",
      "operationName" : "UploadLayerPart",
      "returnType" : {
        "returnType" : "UploadLayerPartResult",
        "documentation" : null
      },
      "syncReturnType" : "UploadLayerPartResult"
    }
  },
  "shapes" : {
    "AuthorizationData" : {
      "c2jName" : "AuthorizationData",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An authorization token data object that corresponds to a public registry.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ecrpublic.model.AuthorizationData",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "authorizationToken",
        "c2jShape" : "Base64",
        "deprecated" : false,
        "documentation" : "<p>A base64-encoded string that contains authorization data for a public Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for public registry authentication using <code>docker login</code>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for a public Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for public registry authentication using <code>docker login</code>.</p>\n@param authorizationToken A base64-encoded string that contains authorization data for a public Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for public registry authentication using <code>docker login</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAuthorizationToken",
        "getterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for a public Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for public registry authentication using <code>docker login</code>.</p>\n@return A base64-encoded string that contains authorization data for a public Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for public registry authentication using <code>docker login</code>.*/",
        "getterMethodName" : "getAuthorizationToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "authorizationToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "authorizationToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AuthorizationToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for a public Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for public registry authentication using <code>docker login</code>.</p>\n@param authorizationToken A base64-encoded string that contains authorization data for a public Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for public registry authentication using <code>docker login</code>.*/",
        "setterMethodName" : "setAuthorizationToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "authorizationToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for a public Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for public registry authentication using <code>docker login</code>.</p>\n@param authorizationToken A base64-encoded string that contains authorization data for a public Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for public registry authentication using <code>docker login</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "authorizationToken",
          "variableType" : "String",
          "documentation" : "<p>A base64-encoded string that contains authorization data for a public Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for public registry authentication using <code>docker login</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "expiresAt",
        "c2jShape" : "ExpirationTimestamp",
        "deprecated" : false,
        "documentation" : "<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@param expiresAt The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withExpiresAt",
        "getterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@return The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.*/",
        "getterMethodName" : "getExpiresAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "expiresAt",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "expiresAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "ExpiresAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@param expiresAt The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.*/",
        "setterMethodName" : "setExpiresAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "expiresAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@param expiresAt The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "expiresAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AuthorizationToken" : {
          "c2jName" : "authorizationToken",
          "c2jShape" : "Base64",
          "deprecated" : false,
          "documentation" : "<p>A base64-encoded string that contains authorization data for a public Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for public registry authentication using <code>docker login</code>.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for a public Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for public registry authentication using <code>docker login</code>.</p>\n@param authorizationToken A base64-encoded string that contains authorization data for a public Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for public registry authentication using <code>docker login</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAuthorizationToken",
          "getterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for a public Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for public registry authentication using <code>docker login</code>.</p>\n@return A base64-encoded string that contains authorization data for a public Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for public registry authentication using <code>docker login</code>.*/",
          "getterMethodName" : "getAuthorizationToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "authorizationToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "authorizationToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AuthorizationToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for a public Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for public registry authentication using <code>docker login</code>.</p>\n@param authorizationToken A base64-encoded string that contains authorization data for a public Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for public registry authentication using <code>docker login</code>.*/",
          "setterMethodName" : "setAuthorizationToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "authorizationToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A base64-encoded string that contains authorization data for a public Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for public registry authentication using <code>docker login</code>.</p>\n@param authorizationToken A base64-encoded string that contains authorization data for a public Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for public registry authentication using <code>docker login</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "authorizationToken",
            "variableType" : "String",
            "documentation" : "<p>A base64-encoded string that contains authorization data for a public Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for public registry authentication using <code>docker login</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ExpiresAt" : {
          "c2jName" : "expiresAt",
          "c2jShape" : "ExpirationTimestamp",
          "deprecated" : false,
          "documentation" : "<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@param expiresAt The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withExpiresAt",
          "getterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@return The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.*/",
          "getterMethodName" : "getExpiresAt",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "expiresAt",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "expiresAt",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "ExpiresAt",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@param expiresAt The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.*/",
          "setterMethodName" : "setExpiresAt",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "expiresAt",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>\n@param expiresAt The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "expiresAt",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.ecrpublic.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AuthorizationData",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AuthorizationData",
        "variableName" : "authorizationData",
        "variableType" : "AuthorizationData",
        "documentation" : null,
        "simpleType" : "AuthorizationData",
        "variableSetterType" : "AuthorizationData"
      },
      "wrapper" : false
    },
    "BatchCheckLayerAvailabilityRequest" : {
      "c2jName" : "BatchCheckLayerAvailabilityRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.ecrpublic.request.BatchCheckLayerAvailabilityRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchCheckLayerAvailability",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "SpencerFrontendService.BatchCheckLayerAvailability",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "registryId",
        "c2jShape" : "RegistryIdOrAlias",
        "deprecated" : false,
        "documentation" : "<p>The AWS account ID associated with the public registry that contains the image layers to check. If you do not specify a registry, the default public registry is assumed.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS account ID associated with the public registry that contains the image layers to check. If you do not specify a registry, the default public registry is assumed.</p>\n@param registryId The AWS account ID associated with the public registry that contains the image layers to check. If you do not specify a registry, the default public registry is assumed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRegistryId",
        "getterDocumentation" : "/**<p>The AWS account ID associated with the public registry that contains the image layers to check. If you do not specify a registry, the default public registry is assumed.</p>\n@return The AWS account ID associated with the public registry that contains the image layers to check. If you do not specify a registry, the default public registry is assumed.*/",
        "getterMethodName" : "getRegistryId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "registryId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "registryId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RegistryId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The AWS account ID associated with the public registry that contains the image layers to check. If you do not specify a registry, the default public registry is assumed.</p>\n@param registryId The AWS account ID associated with the public registry that contains the image layers to check. If you do not specify a registry, the default public registry is assumed.*/",
        "setterMethodName" : "setRegistryId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "registryId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The AWS account ID associated with the public registry that contains the image layers to check. If you do not specify a registry, the default public registry is assumed.</p>\n@param registryId The AWS account ID associated with the public registry that contains the image layers to check. If you do not specify a registry, the default public registry is assumed.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "registryId",
          "variableType" : "String",
          "documentation" : "<p>The AWS account ID associated with the public registry that contains the image layers to check. If you do not specify a registry, the default public registry is assumed.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "repositoryName",
        "c2jShape" : "RepositoryName",
        "deprecated" : false,
        "documentation" : "<p>The name of the repository that is associated with the image layers to check.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the repository that is associated with the image layers to check.</p>\n@param repositoryName The name of the repository that is associated with the image layers to check.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRepositoryName",
        "getterDocumentation" : "/**<p>The name of the repository that is associated with the image layers to check.</p>\n@return The name of the repository that is associated with the image layers to check.*/",
        "getterMethodName" : "getRepositoryName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "repositoryName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "repositoryName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RepositoryName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the repository that is associated with the image layers to check.</p>\n@param repositoryName The name of the repository that is associated with the image layers to check.*/",
        "setterMethodName" : "setRepositoryName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "repositoryName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the repository that is associated with the image layers to check.</p>\n@param repositoryName The name of the repository that is associated with the image layers to check.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "repositoryName",
          "variableType" : "String",
          "documentation" : "<p>The name of the repository that is associated with the image layers to check.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "layerDigests",
        "c2jShape" : "BatchedOperationLayerDigestList",
        "deprecated" : false,
        "documentation" : "<p>The digests of the image layers to check.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The digests of the image layers to check.</p>\n@param layerDigests The digests of the image layers to check.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLayerDigests",
        "getterDocumentation" : "/**<p>The digests of the image layers to check.</p>\n@return The digests of the image layers to check.*/",
        "getterMethodName" : "getLayerDigests",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "layerDigests",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "layerDigests",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "BatchedOperationLayerDigest",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "LayerDigests",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The digests of the image layers to check.</p>\n@param layerDigests The digests of the image layers to check.*/",
        "setterMethodName" : "setLayerDigests",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "layerDigests",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
[...]
