{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2017-11-01",
    "asyncClient" : "AmazonEKSAsyncClient",
    "asyncClientBuilderClassName" : "AmazonEKSAsyncClientBuilder",
    "asyncInterface" : "AmazonEKSAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonEKSModuleInjector",
    "defaultEndpoint" : "eks.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "eks.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Elastic Container Service for Kubernetes (Amazon EKS) is a managed service that makes it easy for you to run Kubernetes on AWS without needing to stand up or maintain your own Kubernetes control plane. Kubernetes is an open-source system for automating the deployment, scaling, and management of containerized applications. </p> <p>Amazon EKS runs three Kubernetes control plane instances across three Availability Zones to ensure high availability. Amazon EKS automatically detects and replaces unhealthy control plane instances, and it provides automated version upgrades and patching for them.</p> <p>Amazon EKS is also integrated with many AWS services to provide scalability and security for your applications, including the following: </p> <ul> <li> <p>Elastic Load Balancing for load distribution</p> </li> <li> <p>IAM for authentication</p> </li> <li> <p>Amazon VPC for isolation</p> </li> </ul> <p>Amazon EKS runs up to date versions of the open-source Kubernetes software, so you can use all the existing plugins and tooling from the Kubernetes community. Applications running on Amazon EKS are fully compatible with applications running on any standard Kubernetes environment, whether running in on-premises data centers or public clouds. This means that you can easily migrate any standard Kubernetes application to Amazon EKS without any code modification required.</p>",
    "endpointPrefix" : "eks",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.eks",
    "packagePath" : "com/amazonaws/services/eks",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amazon EKS",
    "serviceFullName" : "Amazon Elastic Container Service for Kubernetes",
    "serviceName" : "Amazon EKS",
    "signingName" : "eks",
    "smokeTestsPackageName" : "com.amazonaws.services.eks.smoketests",
    "syncClient" : "AmazonEKSClient",
    "syncClientBuilderClassName" : "AmazonEKSClientBuilder",
    "syncInterface" : "AmazonEKS",
    "uid" : "eks-2017-11-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateClusterRequest, CreateClusterResult>",
      "asyncReturnType" : "CreateClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon EKS control plane. </p> <p>The Amazon EKS control plane consists of control plane instances that run the Kubernetes software, like <code>etcd</code> and the API server. The control plane runs in an account managed by AWS, and the Kubernetes API is exposed via the Amazon EKS API server endpoint.</p> <p>Amazon EKS worker nodes run in your AWS account and connect to your cluster's control plane via the Kubernetes API server endpoint and a certificate file that is created for your cluster.</p> <p>The cluster control plane is provisioned across multiple Availability Zones and fronted by an Elastic Load Balancing Network Load Balancer. Amazon EKS also provisions elastic network interfaces in your VPC subnets to provide connectivity from the control plane instances to the worker nodes (for example, to support <code>kubectl exec</code>, <code>logs</code>, and <code>proxy</code> data flows).</p> <p>After you create an Amazon EKS cluster, you must configure your Kubernetes tooling to communicate with the API server and launch worker nodes into your cluster. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/managing-auth.html\">Managing Cluster Authentication</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/launch-workers.html\">Launching Amazon EKS Worker Nodes</a>in the <i>Amazon EKS User Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>You have encountered a service limit on the specified resource.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unavailable, back off and retry the operation.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "UnsupportedAvailabilityZoneException",
        "documentation" : "<p>At least one of your specified cluster subnets is in an Availability Zone that does not support Amazon EKS. The exception output will specify the supported Availability Zones for your account, from which you can choose subnets for your cluster.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateClusterRequest",
        "variableName" : "createClusterRequest",
        "variableType" : "CreateClusterRequest",
        "documentation" : "",
        "simpleType" : "CreateClusterRequest",
        "variableSetterType" : "CreateClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCluster",
      "operationName" : "CreateCluster",
      "returnType" : {
        "returnType" : "CreateClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateClusterResult"
    },
    "DeleteCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteClusterRequest, DeleteClusterResult>",
      "asyncReturnType" : "DeleteClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the Amazon EKS cluster control plane. </p> <note> <p>If you have active services in your cluster that are associated with a load balancer, you must delete those services before deleting the cluster so that the load balancers are deleted properly. Otherwise, you can have orphaned resources in your VPC that prevent you from being able to delete the VPC. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/delete-cluster.html\">Deleting a Cluster</a> in the <i>Amazon EKS User Guide</i>.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon EKS clusters are region-specific.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unavailable, back off and retry the operation.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteClusterRequest",
        "variableName" : "deleteClusterRequest",
        "variableType" : "DeleteClusterRequest",
        "documentation" : "",
        "simpleType" : "DeleteClusterRequest",
        "variableSetterType" : "DeleteClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCluster",
      "operationName" : "DeleteCluster",
      "returnType" : {
        "returnType" : "DeleteClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteClusterResult"
    },
    "DescribeCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeClusterRequest, DescribeClusterResult>",
      "asyncReturnType" : "DescribeClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns descriptive information about an Amazon EKS cluster.</p> <p>The API server endpoint and certificate authority data returned by this operation are required for <code>kubelet</code> and <code>kubectl</code> to communicate with your Kubernetes API server. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/create-kubeconfig.html\">Create a kubeconfig for Amazon EKS</a>.</p> <note> <p>The API server endpoint and certificate authority data are not available until the cluster reaches the <code>ACTIVE</code> state.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon EKS clusters are region-specific.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unavailable, back off and retry the operation.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeClusterRequest",
        "variableName" : "describeClusterRequest",
        "variableType" : "DescribeClusterRequest",
        "documentation" : "",
        "simpleType" : "DescribeClusterRequest",
        "variableSetterType" : "DescribeClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCluster",
      "operationName" : "DescribeCluster",
      "returnType" : {
        "returnType" : "DescribeClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeClusterResult"
    },
    "ListClusters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListClustersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListClustersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListClustersRequest, ListClustersResult>",
      "asyncReturnType" : "ListClustersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the Amazon EKS clusters in your AWS account in the specified region.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unavailable, back off and retry the operation.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListClustersRequest",
        "variableName" : "listClustersRequest",
        "variableType" : "ListClustersRequest",
        "documentation" : "",
        "simpleType" : "ListClustersRequest",
        "variableSetterType" : "ListClustersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listClusters",
      "operationName" : "ListClusters",
      "returnType" : {
        "returnType" : "ListClustersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListClustersResult"
    }
  },
  "shapes" : {
    "Certificate" : {
      "c2jName" : "Certificate",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An object representing the <code>certificate-authority-data</code> for your cluster.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "data",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>\n@param data The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withData",
        "getterDocumentation" : "/**<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>\n@return The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.*/",
        "getterMethodName" : "getData",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "data",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "data",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Data",
        "setterDocumentation" : "/**<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>\n@param data The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.*/",
        "setterMethodName" : "setData",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "data",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>\n@param data The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "data",
          "variableType" : "String",
          "documentation" : "<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Data" : {
          "c2jName" : "data",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>\n@param data The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withData",
          "getterDocumentation" : "/**<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>\n@return The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.*/",
          "getterMethodName" : "getData",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "data",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "data",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Data",
          "setterDocumentation" : "/**<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>\n@param data The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.*/",
          "setterMethodName" : "setData",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "data",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>\n@param data The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "data",
            "variableType" : "String",
            "documentation" : "<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Certificate",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Certificate",
        "variableName" : "certificate",
        "variableType" : "Certificate",
        "documentation" : null,
        "simpleType" : "Certificate",
        "variableSetterType" : "Certificate"
      },
      "wrapper" : false
    },
    "ClientException" : {
      "c2jName" : "ClientException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an identifier that is not valid.</p>",
      "enums" : null,
      "errorCode" : "ClientException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "clusterName",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The Amazon EKS cluster associated with the exception.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon EKS cluster associated with the exception.</p>\n@param clusterName The Amazon EKS cluster associated with the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClusterName",
        "getterDocumentation" : "/**<p>The Amazon EKS cluster associated with the exception.</p>\n@return The Amazon EKS cluster associated with the exception.*/",
        "getterMethodName" : "getClusterName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clusterName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clusterName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClusterName",
        "setterDocumentation" : "/**<p>The Amazon EKS cluster associated with the exception.</p>\n@param clusterName The Amazon EKS cluster associated with the exception.*/",
        "setterMethodName" : "setClusterName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "clusterName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon EKS cluster associated with the exception.</p>\n@param clusterName The Amazon EKS cluster associated with the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "clusterName",
          "variableType" : "String",
          "documentation" : "<p>The Amazon EKS cluster associated with the exception.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClusterName" : {
          "c2jName" : "clusterName",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The Amazon EKS cluster associated with the exception.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon EKS cluster associated with the exception.</p>\n@param clusterName The Amazon EKS cluster associated with the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClusterName",
          "getterDocumentation" : "/**<p>The Amazon EKS cluster associated with the exception.</p>\n@return The Amazon EKS cluster associated with the exception.*/",
          "getterMethodName" : "getClusterName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clusterName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clusterName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClusterName",
          "setterDocumentation" : "/**<p>The Amazon EKS cluster associated with the exception.</p>\n@param clusterName The Amazon EKS cluster associated with the exception.*/",
          "setterMethodName" : "setClusterName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "clusterName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon EKS cluster associated with the exception.</p>\n@param clusterName The Amazon EKS cluster associated with the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "clusterName",
            "variableType" : "String",
            "documentation" : "<p>The Amazon EKS cluster associated with the exception.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ClientException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "ClientException",
        "variableName" : "clientException",
        "variableType" : "ClientException",
        "documentation" : null,
        "simpleType" : "ClientException",
        "variableSetterType" : "ClientException"
      },
      "wrapper" : false
    },
    "Cluster" : {
      "c2jName" : "Cluster",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An object representing an Amazon EKS cluster.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the cluster.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the cluster.</p>\n@param name The name of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the cluster.</p>\n@return The name of the cluster.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "setterDocumentation" : "/**<p>The name of the cluster.</p>\n@param name The name of the cluster.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the cluster.</p>\n@param name The name of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the cluster.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "arn",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the cluster.</p>\n@param arn The Amazon Resource Name (ARN) of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the cluster.</p>\n@return The Amazon Resource Name (ARN) of the cluster.*/",
        "getterMethodName" : "getArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "arn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Arn",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the cluster.</p>\n@param arn The Amazon Resource Name (ARN) of the cluster.*/",
        "setterMethodName" : "setArn",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the cluster.</p>\n@param arn The Amazon Resource Name (ARN) of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "createdAt",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The Unix epoch time stamp in seconds for when the cluster was created.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Unix epoch time stamp in seconds for when the cluster was created.</p>\n@param createdAt The Unix epoch time stamp in seconds for when the cluster was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedAt",
        "getterDocumentation" : "/**<p>The Unix epoch time stamp in seconds for when the cluster was created.</p>\n@return The Unix epoch time stamp in seconds for when the cluster was created.*/",
        "getterMethodName" : "getCreatedAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "createdAt",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "createdAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreatedAt",
        "setterDocumentation" : "/**<p>The Unix epoch time stamp in seconds for when the cluster was created.</p>\n@param createdAt The Unix epoch time stamp in seconds for when the cluster was created.*/",
        "setterMethodName" : "setCreatedAt",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Unix epoch time stamp in seconds for when the cluster was created.</p>\n@param createdAt The Unix epoch time stamp in seconds for when the cluster was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The Unix epoch time stamp in seconds for when the cluster was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "version",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The Kubernetes server version for the cluster.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Kubernetes server version for the cluster.</p>\n@param version The Kubernetes server version for the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVersion",
        "getterDocumentation" : "/**<p>The Kubernetes server version for the cluster.</p>\n@return The Kubernetes server version for the cluster.*/",
        "getterMethodName" : "getVersion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "version",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "version",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Version",
        "setterDocumentation" : "/**<p>The Kubernetes server version for the cluster.</p>\n@param version The Kubernetes server version for the cluster.*/",
        "setterMethodName" : "setVersion",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "version",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Kubernetes server version for the cluster.</p>\n@param version The Kubernetes server version for the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "version",
          "variableType" : "String",
          "documentation" : "<p>The Kubernetes server version for the cluster.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "endpoint",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The endpoint for your Kubernetes API server.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The endpoint for your Kubernetes API server.</p>\n@param endpoint The endpoint for your Kubernetes API server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEndpoint",
        "getterDocumentation" : "/**<p>The endpoint for your Kubernetes API server.</p>\n@return The endpoint for your Kubernetes API server.*/",
        "getterMethodName" : "getEndpoint",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "endpoint",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "endpoint",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Endpoint",
        "setterDocumentation" : "/**<p>The endpoint for your Kubernetes API server.</p>\n@param endpoint The endpoint for your Kubernetes API server.*/",
        "setterMethodName" : "setEndpoint",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "endpoint",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The endpoint for your Kubernetes API server.</p>\n@param endpoint The endpoint for your Kubernetes API server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "endpoint",
          "variableType" : "String",
          "documentation" : "<p>The endpoint for your Kubernetes API server.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "roleArn",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.</p>\n@param roleArn The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRoleArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.</p>\n@return The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.*/",
        "getterMethodName" : "getRoleArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "roleArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "roleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RoleArn",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.</p>\n@param roleArn The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.*/",
        "setterMethodName" : "setRoleArn",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.</p>\n@param roleArn The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "resourcesVpcConfig",
        "c2jShape" : "VpcConfigResponse",
        "deprecated" : false,
        "documentation" : "<p>The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.</p>\n@param resourcesVpcConfig The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourcesVpcConfig",
        "getterDocumentation" : "/**<p>The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.</p>\n@return The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.*/",
        "getterMethodName" : "getResourcesVpcConfig",
        "getterModel" : {
          "returnType" : "VpcConfigResponse",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "resourcesVpcConfig",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "resourcesVpcConfig",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ResourcesVpcConfig",
        "setterDocumentation" : "/**<p>The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.</p>\n@param resourcesVpcConfig The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.*/",
        "setterMethodName" : "setResourcesVpcConfig",
        "setterModel" : {
          "variableDeclarationType" : "VpcConfigResponse",
          "variableName" : "resourcesVpcConfig",
          "variableType" : "VpcConfigResponse",
          "documentation" : "",
          "simpleType" : "VpcConfigResponse",
          "variableSetterType" : "VpcConfigResponse"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.</p>\n@param resourcesVpcConfig The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "VpcConfigResponse",
          "variableName" : "resourcesVpcConfig",
          "variableType" : "VpcConfigResponse",
          "documentation" : "<p>The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.</p>",
          "simpleType" : "VpcConfigResponse",
          "variableSetterType" : "VpcConfigResponse"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "status",
        "c2jShape" : "ClusterStatus",
        "deprecated" : false,
        "documentation" : "<p>The current status of the cluster.</p>",
        "enumType" : "ClusterStatus",
        "fluentSetterDocumentation" : "/**<p>The current status of the cluster.</p>\n@param status The current status of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ClusterStatus*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>The current status of the cluster.</p>\n@return The current status of the cluster.\n@see ClusterStatus*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "status",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "setterDocumentation" : "/**<p>The current status of the cluster.</p>\n@param status The current status of the cluster.\n@see ClusterStatus*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The current status of the cluster.</p>\n@param status The current status of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ClusterStatus*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>The current status of the cluster.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "certificateAuthority",
        "c2jShape" : "Certificate",
        "deprecated" : false,
        "documentation" : "<p>The <code>certificate-authority-data</code> for your cluster.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The <code>certificate-authority-data</code> for your cluster.</p>\n@param certificateAuthority The <code>certificate-authority-data</code> for your cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCertificateAuthority",
        "getterDocumentation" : "/**<p>The <code>certificate-authority-data</code> for your cluster.</p>\n@return The <code>certificate-authority-data</code> for your cluster.*/",
        "getterMethodName" : "getCertificateAuthority",
        "getterModel" : {
          "returnType" : "Certificate",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "certificateAuthority",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "certificateAuthority",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CertificateAuthority",
        "setterDocumentation" : "/**<p>The <code>certificate-authority-data</code> for your cluster.</p>\n@param certificateAuthority The <code>certificate-authority-data</code> for your cluster.*/",
        "setterMethodName" : "setCertificateAuthority",
        "setterModel" : {
          "variableDeclarationType" : "Certificate",
          "variableName" : "certificateAuthority",
          "variableType" : "Certificate",
          "documentation" : "",
          "simpleType" : "Certificate",
          "variableSetterType" : "Certificate"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The <code>certificate-authority-data</code> for your cluster.</p>\n@param certificateAuthority The <code>certificate-authority-data</code> for your cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Certificate",
          "variableName" : "certificateAuthority",
          "variableType" : "Certificate",
          "documentation" : "<p>The <code>certificate-authority-data</code> for your cluster.</p>",
          "simpleType" : "Certificate",
          "variableSetterType" : "Certificate"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "clientRequestToken",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Unique, case-sensitive identifier you provide to ensure the idempotency of the request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Unique, case-sensitive identifier you provide to ensure the idempotency of the request.</p>\n@param clientRequestToken Unique, case-sensitive identifier you provide to ensure the idempotency of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientRequestToken",
        "getterDocumentation" : "/**<p>Unique, case-sensitive identifier you provide to ensure the idempotency of the request.</p>\n@return Unique, case-sensitive identifier you provide to ensure the idempotency of the request.*/",
        "getterMethodName" : "getClientRequestToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientRequestToken",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientRequestToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientRequestToken",
        "setterDocumentation" : "/**<p>Unique, case-sensitive identifier you provide to ensure the idempotency of the request.</p>\n@param clientRequestToken Unique, case-sensitive identifier you provide to ensure the idempotency of the request.*/",
        "setterMethodName" : "setClientRequestToken",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "clientRequestToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Unique, case-sensitive identifier you provide to ensure the idempotency of the request.</p>\n@param clientRequestToken Unique, case-sensitive identifier you provide to ensure the idempotency of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "clientRequestToken",
          "variableType" : "String",
          "documentation" : "<p>Unique, case-sensitive identifier you provide to ensure the idempotency of the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Arn" : {
          "c2jName" : "arn",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the cluster.</p>\n@param arn The Amazon Resource Name (ARN) of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the cluster.</p>\n@return The Amazon Resource Name (ARN) of the cluster.*/",
          "getterMethodName" : "getArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "arn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "arn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Arn",
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the cluster.</p>\n@param arn The Amazon Resource Name (ARN) of the cluster.*/",
          "setterMethodName" : "setArn",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the cluster.</p>\n@param arn The Amazon Resource Name (ARN) of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "CertificateAuthority" : {
          "c2jName" : "certificateAuthority",
          "c2jShape" : "Certificate",
          "deprecated" : false,
          "documentation" : "<p>The <code>certificate-authority-data</code> for your cluster.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The <code>certificate-authority-data</code> for your cluster.</p>\n@param certificateAuthority The <code>certificate-authority-data</code> for your cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCertificateAuthority",
          "getterDocumentation" : "/**<p>The <code>certificate-authority-data</code> for your cluster.</p>\n@return The <code>certificate-authority-data</code> for your cluster.*/",
          "getterMethodName" : "getCertificateAuthority",
          "getterModel" : {
            "returnType" : "Certificate",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "certificateAuthority",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "certificateAuthority",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "CertificateAuthority",
          "setterDocumentation" : "/**<p>The <code>certificate-authority-data</code> for your cluster.</p>\n@param certificateAuthority The <code>certificate-authority-data</code> for your cluster.*/",
          "setterMethodName" : "setCertificateAuthority",
          "setterModel" : {
            "variableDeclarationType" : "Certificate",
            "variableName" : "certificateAuthority",
            "variableType" : "Certificate",
            "documentation" : "",
            "simpleType" : "Certificate",
            "variableSetterType" : "Certificate"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The <code>certificate-authority-data</code> for your cluster.</p>\n@param certificateAuthority The <code>certificate-authority-data</code> for your cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Certificate",
            "variableName" : "certificateAuthority",
            "variableType" : "Certificate",
            "documentation" : "<p>The <code>certificate-authority-data</code> for your cluster.</p>",
            "simpleType" : "Certificate",
            "variableSetterType" : "Certificate"
          },
          "xmlNameSpaceUri" : null
        },
        "ClientRequestToken" : {
          "c2jName" : "clientRequestToken",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>Unique, case-sensitive identifier you provide to ensure the idempotency of the request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Unique, case-sensitive identifier you provide to ensure the idempotency of the request.</p>\n@param clientRequestToken Unique, case-sensitive identifier you provide to ensure the idempotency of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientRequestToken",
          "getterDocumentation" : "/**<p>Unique, case-sensitive identifier you provide to ensure the idempotency of the request.</p>\n@return Unique, case-sensitive identifier you provide to ensure the idempotency of the request.*/",
          "getterMethodName" : "getClientRequestToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clientRequestToken",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientRequestToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientRequestToken",
          "setterDocumentation" : "/**<p>Unique, case-sensitive identifier you provide to ensure the idempotency of the request.</p>\n@param clientRequestToken Unique, case-sensitive identifier you provide to ensure the idempotency of the request.*/",
          "setterMethodName" : "setClientRequestToken",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "clientRequestToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Unique, case-sensitive identifier you provide to ensure the idempotency of the request.</p>\n@param clientRequestToken Unique, case-sensitive identifier you provide to ensure the idempotency of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "clientRequestToken",
            "variableType" : "String",
            "documentation" : "<p>Unique, case-sensitive identifier you provide to ensure the idempotency of the request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "CreatedAt" : {
          "c2jName" : "createdAt",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The Unix epoch time stamp in seconds for when the cluster was created.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Unix epoch time stamp in seconds for when the cluster was created.</p>\n@param createdAt The Unix epoch time stamp in seconds for when the cluster was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCreatedAt",
          "getterDocumentation" : "/**<p>The Unix epoch time stamp in seconds for when the cluster was created.</p>\n@return The Unix epoch time stamp in seconds for when the cluster was created.*/",
          "getterMethodName" : "getCreatedAt",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "createdAt",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "createdAt",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "CreatedAt",
          "setterDocumentation" : "/**<p>The Unix epoch time stamp in seconds for when the cluster was created.</p>\n@param createdAt The Unix epoch time stamp in seconds for when the cluster was created.*/",
          "setterMethodName" : "setCreatedAt",
          "setterModel" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createdAt",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Unix epoch time stamp in seconds for when the cluster was created.</p>\n@param createdAt The Unix epoch time stamp in seconds for when the cluster was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createdAt",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The Unix epoch time stamp in seconds for when the cluster was created.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "Endpoint" : {
          "c2jName" : "endpoint",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The endpoint for your Kubernetes API server.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The endpoint for your Kubernetes API server.</p>\n@param endpoint The endpoint for your Kubernetes API server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEndpoint",
          "getterDocumentation" : "/**<p>The endpoint for your Kubernetes API server.</p>\n@return The endpoint for your Kubernetes API server.*/",
          "getterMethodName" : "getEndpoint",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "endpoint",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "endpoint",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Endpoint",
          "setterDocumentation" : "/**<p>The endpoint for your Kubernetes API server.</p>\n@param endpoint The endpoint for your Kubernetes API server.*/",
          "setterMethodName" : "setEndpoint",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "endpoint",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The endpoint for your Kubernetes API server.</p>\n@param endpoint The endpoint for your Kubernetes API server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "endpoint",
            "variableType" : "String",
            "documentation" : "<p>The endpoint for your Kubernetes API server.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "name",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The name of the cluster.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the cluster.</p>\n@param name The name of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of the cluster.</p>\n@return The name of the cluster.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "setterDocumentation" : "/**<p>The name of the cluster.</p>\n@param name The name of the cluster.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the cluster.</p>\n@param name The name of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the cluster.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ResourcesVpcConfig" : {
          "c2jName" : "resourcesVpcConfig",
          "c2jShape" : "VpcConfigResponse",
          "deprecated" : false,
          "documentation" : "<p>The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.</p>\n@param resourcesVpcConfig The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourcesVpcConfig",
          "getterDocumentation" : "/**<p>The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.</p>\n@return The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.*/",
          "getterMethodName" : "getResourcesVpcConfig",
          "getterModel" : {
            "returnType" : "VpcConfigResponse",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "resourcesVpcConfig",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "resourcesVpcConfig",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ResourcesVpcConfig",
          "setterDocumentation" : "/**<p>The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.</p>\n@param resourcesVpcConfig The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.*/",
          "setterMethodName" : "setResourcesVpcConfig",
          "setterModel" : {
            "variableDeclarationType" : "VpcConfigResponse",
            "variableName" : "resourcesVpcConfig",
            "variableType" : "VpcConfigResponse",
            "documentation" : "",
            "simpleType" : "VpcConfigResponse",
            "variableSetterType" : "VpcConfigResponse"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.</p>\n@param resourcesVpcConfig The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "VpcConfigResponse",
            "variableName" : "resourcesVpcConfig",
            "variableType" : "VpcConfigResponse",
            "documentation" : "<p>The VPC subnets and security groups used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"http://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.</p>",
            "simpleType" : "VpcConfigResponse",
            "variableSetterType" : "VpcConfigResponse"
          },
          "xmlNameSpaceUri" : null
        },
        "RoleArn" : {
          "c2jName" : "roleArn",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.</p>\n@param roleArn The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRoleArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.</p>\n@return The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.*/",
          "getterMethodName" : "getRoleArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "roleArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "roleArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RoleArn",
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.</p>\n@param roleArn The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.*/",
          "setterMethodName" : "setRoleArn",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "roleArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.</p>\n@param roleArn The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "roleArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Status" : {
          "c2jName" : "status",
          "c2jShape" : "ClusterStatus",
          "deprecated" : false,
          "documentation" : "<p>The current status of the cluster.</p>",
          "enumType" : "ClusterStatus",
          "fluentSetterDocumentation" : "/**<p>The current status of the cluster.</p>\n@param status The current status of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ClusterStatus*/",
          "fluentSetterMethodName" : "withStatus",
          "getterDocumentation" : "/**<p>The current status of the cluster.</p>\n@return The current status of the cluster.\n@see ClusterStatus*/",
[...]
