{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-11-01",
    "asyncClient" : "AmazonEKSAsyncClient",
    "asyncClientBuilderClassName" : "AmazonEKSAsyncClientBuilder",
    "asyncInterface" : "AmazonEKSAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonEKSModuleInjector",
    "defaultEndpoint" : "eks.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "eks.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Elastic Container Service for Kubernetes (Amazon EKS) is a managed service that makes it easy for you to run Kubernetes on AWS without needing to stand up or maintain your own Kubernetes control plane. Kubernetes is an open-source system for automating the deployment, scaling, and management of containerized applications. </p> <p>Amazon EKS runs up-to-date versions of the open-source Kubernetes software, so you can use all the existing plugins and tooling from the Kubernetes community. Applications running on Amazon EKS are fully compatible with applications running on any standard Kubernetes environment, whether running in on-premises data centers or public clouds. This means that you can easily migrate any standard Kubernetes application to Amazon EKS without any code modification required.</p>",
    "endpointPrefix" : "eks",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.eks",
    "packagePath" : "com/amazonaws/services/eks",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amazon EKS",
    "serviceFullName" : "Amazon Elastic Container Service for Kubernetes",
    "serviceId" : "EKS",
    "serviceName" : "Amazon EKS",
    "signingName" : "eks",
    "smokeTestsPackageName" : "com.amazonaws.services.eks.smoketests",
    "syncClient" : "AmazonEKSClient",
    "syncClientBuilderClassName" : "AmazonEKSClientBuilder",
    "syncInterface" : "AmazonEKS",
    "uid" : "eks-2017-11-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateClusterRequest, CreateClusterResult>",
      "asyncReturnType" : "CreateClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon EKS control plane. </p> <p>The Amazon EKS control plane consists of control plane instances that run the Kubernetes software, like <code>etcd</code> and the API server. The control plane runs in an account managed by AWS, and the Kubernetes API is exposed via the Amazon EKS API server endpoint. Each Amazon EKS cluster control plane is single-tenant and unique, and runs on its own set of Amazon EC2 instances.</p> <p>The cluster control plane is provisioned across multiple Availability Zones and fronted by an Elastic Load Balancing Network Load Balancer. Amazon EKS also provisions elastic network interfaces in your VPC subnets to provide connectivity from the control plane instances to the worker nodes (for example, to support <code>kubectl exec</code>, <code>logs</code>, and <code>proxy</code> data flows).</p> <p>Amazon EKS worker nodes run in your AWS account and connect to your cluster's control plane via the Kubernetes API server endpoint and a certificate file that is created for your cluster.</p> <p>You can use the <code>endpointPublicAccess</code> and <code>endpointPrivateAccess</code> parameters to enable or disable public and private access to your cluster's Kubernetes API server endpoint. By default, public access is enabled and private access is disabled. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/cluster-endpoint.html\">Amazon EKS Cluster Endpoint Access Control</a> in the <i> <i>Amazon EKS User Guide</i> </i>. </p> <p>You can use the <code>logging</code> parameter to enable or disable exporting the Kubernetes control plane logs for your cluster to CloudWatch Logs. By default, cluster control plane logs are not exported to CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/control-plane-logs.html\">Amazon EKS Cluster Control Plane Logs</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p> <note> <p>CloudWatch Logs ingestion, archive storage, and data scanning rates apply to exported control plane logs. For more information, see <a href=\"http://aws.amazon.com/cloudwatch/pricing/\">Amazon CloudWatch Pricing</a>.</p> </note> <p>Cluster creation typically takes between 10 and 15 minutes. After you create an Amazon EKS cluster, you must configure your Kubernetes tooling to communicate with the API server and launch worker nodes into your cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/managing-auth.html\">Managing Cluster Authentication</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-workers.html\">Launching Amazon EKS Worker Nodes</a> in the <i>Amazon EKS User Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>You have encountered a service limit on the specified resource.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action. Actions can include using an action or resource on behalf of a user that doesn't have permissions to use the action or resource or specifying an identifier that is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unavailable. Back off and retry the operation.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "UnsupportedAvailabilityZoneException",
        "documentation" : "<p>At least one of your specified cluster subnets is in an Availability Zone that does not support Amazon EKS. The exception output specifies the supported Availability Zones for your account, from which you can choose subnets for your cluster.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateClusterRequest",
        "variableName" : "createClusterRequest",
        "variableType" : "CreateClusterRequest",
        "documentation" : "",
        "simpleType" : "CreateClusterRequest",
        "variableSetterType" : "CreateClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCluster",
      "operationName" : "CreateCluster",
      "returnType" : {
        "returnType" : "CreateClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateClusterResult"
    },
    "DeleteCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteClusterRequest, DeleteClusterResult>",
      "asyncReturnType" : "DeleteClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the Amazon EKS cluster control plane. </p> <note> <p>If you have active services in your cluster that are associated with a load balancer, you must delete those services before deleting the cluster so that the load balancers are deleted properly. Otherwise, you can have orphaned resources in your VPC that prevent you from being able to delete the VPC. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/delete-cluster.html\">Deleting a Cluster</a> in the <i>Amazon EKS User Guide</i>.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon EKS clusters are Region-specific.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action. Actions can include using an action or resource on behalf of a user that doesn't have permissions to use the action or resource or specifying an identifier that is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unavailable. Back off and retry the operation.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteClusterRequest",
        "variableName" : "deleteClusterRequest",
        "variableType" : "DeleteClusterRequest",
        "documentation" : "",
        "simpleType" : "DeleteClusterRequest",
        "variableSetterType" : "DeleteClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCluster",
      "operationName" : "DeleteCluster",
      "returnType" : {
        "returnType" : "DeleteClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteClusterResult"
    },
    "DescribeCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeClusterRequest, DescribeClusterResult>",
      "asyncReturnType" : "DescribeClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns descriptive information about an Amazon EKS cluster.</p> <p>The API server endpoint and certificate authority data returned by this operation are required for <code>kubelet</code> and <code>kubectl</code> to communicate with your Kubernetes API server. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/create-kubeconfig.html\">Create a kubeconfig for Amazon EKS</a>.</p> <note> <p>The API server endpoint and certificate authority data are not available until the cluster reaches the <code>ACTIVE</code> state.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon EKS clusters are Region-specific.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action. Actions can include using an action or resource on behalf of a user that doesn't have permissions to use the action or resource or specifying an identifier that is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unavailable. Back off and retry the operation.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeClusterRequest",
        "variableName" : "describeClusterRequest",
        "variableType" : "DescribeClusterRequest",
        "documentation" : "",
        "simpleType" : "DescribeClusterRequest",
        "variableSetterType" : "DescribeClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCluster",
      "operationName" : "DescribeCluster",
      "returnType" : {
        "returnType" : "DescribeClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeClusterResult"
    },
    "DescribeUpdate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeUpdateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeUpdateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeUpdateRequest, DescribeUpdateResult>",
      "asyncReturnType" : "DescribeUpdateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns descriptive information about an update against your Amazon EKS cluster.</p> <p>When the status of the update is <code>Succeeded</code>, the update is complete. If an update fails, the status is <code>Failed</code>, and an error detail explains the reason for the failure.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action. Actions can include using an action or resource on behalf of a user that doesn't have permissions to use the action or resource or specifying an identifier that is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon EKS clusters are Region-specific.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeUpdateRequest",
        "variableName" : "describeUpdateRequest",
        "variableType" : "DescribeUpdateRequest",
        "documentation" : "",
        "simpleType" : "DescribeUpdateRequest",
        "variableSetterType" : "DescribeUpdateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeUpdate",
      "operationName" : "DescribeUpdate",
      "returnType" : {
        "returnType" : "DescribeUpdateResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeUpdateResult"
    },
    "ListClusters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListClustersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListClustersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListClustersRequest, ListClustersResult>",
      "asyncReturnType" : "ListClustersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the Amazon EKS clusters in your AWS account in the specified Region.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action. Actions can include using an action or resource on behalf of a user that doesn't have permissions to use the action or resource or specifying an identifier that is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unavailable. Back off and retry the operation.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListClustersRequest",
        "variableName" : "listClustersRequest",
        "variableType" : "ListClustersRequest",
        "documentation" : "",
        "simpleType" : "ListClustersRequest",
        "variableSetterType" : "ListClustersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listClusters",
      "operationName" : "ListClusters",
      "returnType" : {
        "returnType" : "ListClustersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListClustersResult"
    },
    "ListUpdates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUpdatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUpdatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUpdatesRequest, ListUpdatesResult>",
      "asyncReturnType" : "ListUpdatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the updates associated with an Amazon EKS cluster in your AWS account, in the specified Region.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action. Actions can include using an action or resource on behalf of a user that doesn't have permissions to use the action or resource or specifying an identifier that is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon EKS clusters are Region-specific.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListUpdatesRequest",
        "variableName" : "listUpdatesRequest",
        "variableType" : "ListUpdatesRequest",
        "documentation" : "",
        "simpleType" : "ListUpdatesRequest",
        "variableSetterType" : "ListUpdatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUpdates",
      "operationName" : "ListUpdates",
      "returnType" : {
        "returnType" : "ListUpdatesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListUpdatesResult"
    },
    "UpdateClusterConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateClusterConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateClusterConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateClusterConfigRequest, UpdateClusterConfigResult>",
      "asyncReturnType" : "UpdateClusterConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an Amazon EKS cluster configuration. Your cluster continues to function during the update. The response output includes an update ID that you can use to track the status of your cluster update with the <a>DescribeUpdate</a> API operation.</p> <p>You can use this API operation to enable or disable public and private access to your cluster's Kubernetes API server endpoint. By default, public access is enabled and private access is disabled. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/cluster-endpoint.html\">Amazon EKS Cluster Endpoint Access Control</a> in the <i> <i>Amazon EKS User Guide</i> </i>. </p> <p>You can also use this API operation to enable or disable exporting the Kubernetes control plane logs for your cluster to CloudWatch Logs. By default, cluster control plane logs are not exported to CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/control-plane-logs.html\">Amazon EKS Cluster Control Plane Logs</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p> <note> <p>CloudWatch Logs ingestion, archive storage, and data scanning rates apply to exported control plane logs. For more information, see <a href=\"http://aws.amazon.com/cloudwatch/pricing/\">Amazon CloudWatch Pricing</a>.</p> </note> <p>Cluster updates are asynchronous, and they should finish within a few minutes. During an update, the cluster status moves to <code>UPDATING</code> (this status transition is eventually consistent). When the update is complete (either <code>Failed</code> or <code>Successful</code>), the cluster status moves to <code>Active</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action. Actions can include using an action or resource on behalf of a user that doesn't have permissions to use the action or resource or specifying an identifier that is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon EKS clusters are Region-specific.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid given the state of the cluster. Check the state of the cluster and the associated operations.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateClusterConfigRequest",
        "variableName" : "updateClusterConfigRequest",
        "variableType" : "UpdateClusterConfigRequest",
        "documentation" : "",
        "simpleType" : "UpdateClusterConfigRequest",
        "variableSetterType" : "UpdateClusterConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateClusterConfig",
      "operationName" : "UpdateClusterConfig",
      "returnType" : {
        "returnType" : "UpdateClusterConfigResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateClusterConfigResult"
    },
    "UpdateClusterVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateClusterVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateClusterVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateClusterVersionRequest, UpdateClusterVersionResult>",
      "asyncReturnType" : "UpdateClusterVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an Amazon EKS cluster to the specified Kubernetes version. Your cluster continues to function during the update. The response output includes an update ID that you can use to track the status of your cluster update with the <a>DescribeUpdate</a> API operation.</p> <p>Cluster updates are asynchronous, and they should finish within a few minutes. During an update, the cluster status moves to <code>UPDATING</code> (this status transition is eventually consistent). When the update is complete (either <code>Failed</code> or <code>Successful</code>), the cluster status moves to <code>Active</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action. Actions can include using an action or resource on behalf of a user that doesn't have permissions to use the action or resource or specifying an identifier that is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon EKS clusters are Region-specific.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid given the state of the cluster. Check the state of the cluster and the associated operations.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateClusterVersionRequest",
        "variableName" : "updateClusterVersionRequest",
        "variableType" : "UpdateClusterVersionRequest",
        "documentation" : "",
        "simpleType" : "UpdateClusterVersionRequest",
        "variableSetterType" : "UpdateClusterVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateClusterVersion",
      "operationName" : "UpdateClusterVersion",
      "returnType" : {
        "returnType" : "UpdateClusterVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateClusterVersionResult"
    }
  },
  "shapes" : {
    "Certificate" : {
      "c2jName" : "Certificate",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An object representing the <code>certificate-authority-data</code> for your cluster.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "data",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>\n@param data The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withData",
        "getterDocumentation" : "/**<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>\n@return The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.*/",
        "getterMethodName" : "getData",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "data",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "data",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Data",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>\n@param data The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.*/",
        "setterMethodName" : "setData",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "data",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>\n@param data The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "data",
          "variableType" : "String",
          "documentation" : "<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Data" : {
          "c2jName" : "data",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>\n@param data The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withData",
          "getterDocumentation" : "/**<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>\n@return The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.*/",
          "getterMethodName" : "getData",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "data",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "data",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Data",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>\n@param data The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.*/",
          "setterMethodName" : "setData",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "data",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>\n@param data The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "data",
            "variableType" : "String",
            "documentation" : "<p>The base64 encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Certificate",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Certificate",
        "variableName" : "certificate",
        "variableType" : "Certificate",
        "documentation" : null,
        "simpleType" : "Certificate",
        "variableSetterType" : "Certificate"
      },
      "wrapper" : false
    },
    "ClientException" : {
      "c2jName" : "ClientException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>These errors are usually caused by a client action. Actions can include using an action or resource on behalf of a user that doesn't have permissions to use the action or resource or specifying an identifier that is not valid.</p>",
      "enums" : null,
      "errorCode" : "ClientException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "clusterName",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The Amazon EKS cluster associated with the exception.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon EKS cluster associated with the exception.</p>\n@param clusterName The Amazon EKS cluster associated with the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClusterName",
        "getterDocumentation" : "/**<p>The Amazon EKS cluster associated with the exception.</p>\n@return The Amazon EKS cluster associated with the exception.*/",
        "getterMethodName" : "getClusterName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clusterName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clusterName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClusterName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon EKS cluster associated with the exception.</p>\n@param clusterName The Amazon EKS cluster associated with the exception.*/",
        "setterMethodName" : "setClusterName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clusterName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon EKS cluster associated with the exception.</p>\n@param clusterName The Amazon EKS cluster associated with the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clusterName",
          "variableType" : "String",
          "documentation" : "<p>The Amazon EKS cluster associated with the exception.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClusterName" : {
          "c2jName" : "clusterName",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The Amazon EKS cluster associated with the exception.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon EKS cluster associated with the exception.</p>\n@param clusterName The Amazon EKS cluster associated with the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClusterName",
          "getterDocumentation" : "/**<p>The Amazon EKS cluster associated with the exception.</p>\n@return The Amazon EKS cluster associated with the exception.*/",
          "getterMethodName" : "getClusterName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clusterName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clusterName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClusterName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon EKS cluster associated with the exception.</p>\n@param clusterName The Amazon EKS cluster associated with the exception.*/",
          "setterMethodName" : "setClusterName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clusterName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon EKS cluster associated with the exception.</p>\n@param clusterName The Amazon EKS cluster associated with the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clusterName",
            "variableType" : "String",
            "documentation" : "<p>The Amazon EKS cluster associated with the exception.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ClientException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ClientException",
        "variableName" : "clientException",
        "variableType" : "ClientException",
        "documentation" : null,
        "simpleType" : "ClientException",
        "variableSetterType" : "ClientException"
      },
      "wrapper" : false
    },
    "Cluster" : {
      "c2jName" : "Cluster",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An object representing an Amazon EKS cluster.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the cluster.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the cluster.</p>\n@param name The name of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the cluster.</p>\n@return The name of the cluster.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the cluster.</p>\n@param name The name of the cluster.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the cluster.</p>\n@param name The name of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the cluster.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "arn",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the cluster.</p>\n@param arn The Amazon Resource Name (ARN) of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the cluster.</p>\n@return The Amazon Resource Name (ARN) of the cluster.*/",
        "getterMethodName" : "getArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "arn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Arn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the cluster.</p>\n@param arn The Amazon Resource Name (ARN) of the cluster.*/",
        "setterMethodName" : "setArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the cluster.</p>\n@param arn The Amazon Resource Name (ARN) of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "createdAt",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The Unix epoch timestamp in seconds for when the cluster was created.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Unix epoch timestamp in seconds for when the cluster was created.</p>\n@param createdAt The Unix epoch timestamp in seconds for when the cluster was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedAt",
        "getterDocumentation" : "/**<p>The Unix epoch timestamp in seconds for when the cluster was created.</p>\n@return The Unix epoch timestamp in seconds for when the cluster was created.*/",
        "getterMethodName" : "getCreatedAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "createdAt",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "createdAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreatedAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Unix epoch timestamp in seconds for when the cluster was created.</p>\n@param createdAt The Unix epoch timestamp in seconds for when the cluster was created.*/",
        "setterMethodName" : "setCreatedAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Unix epoch timestamp in seconds for when the cluster was created.</p>\n@param createdAt The Unix epoch timestamp in seconds for when the cluster was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The Unix epoch timestamp in seconds for when the cluster was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "version",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The Kubernetes server version for the cluster.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Kubernetes server version for the cluster.</p>\n@param version The Kubernetes server version for the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVersion",
        "getterDocumentation" : "/**<p>The Kubernetes server version for the cluster.</p>\n@return The Kubernetes server version for the cluster.*/",
        "getterMethodName" : "getVersion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "version",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "version",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Version",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Kubernetes server version for the cluster.</p>\n@param version The Kubernetes server version for the cluster.*/",
        "setterMethodName" : "setVersion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "version",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Kubernetes server version for the cluster.</p>\n@param version The Kubernetes server version for the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "version",
          "variableType" : "String",
          "documentation" : "<p>The Kubernetes server version for the cluster.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "endpoint",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The endpoint for your Kubernetes API server.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The endpoint for your Kubernetes API server.</p>\n@param endpoint The endpoint for your Kubernetes API server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEndpoint",
        "getterDocumentation" : "/**<p>The endpoint for your Kubernetes API server.</p>\n@return The endpoint for your Kubernetes API server.*/",
        "getterMethodName" : "getEndpoint",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "endpoint",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "endpoint",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Endpoint",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The endpoint for your Kubernetes API server.</p>\n@param endpoint The endpoint for your Kubernetes API server.*/",
        "setterMethodName" : "setEndpoint",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "endpoint",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The endpoint for your Kubernetes API server.</p>\n@param endpoint The endpoint for your Kubernetes API server.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "endpoint",
          "variableType" : "String",
          "documentation" : "<p>The endpoint for your Kubernetes API server.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "roleArn",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.</p>\n@param roleArn The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRoleArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.</p>\n@return The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.*/",
        "getterMethodName" : "getRoleArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "roleArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "roleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RoleArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.</p>\n@param roleArn The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.*/",
        "setterMethodName" : "setRoleArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.</p>\n@param roleArn The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to AWS API operations on your behalf.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "resourcesVpcConfig",
        "c2jShape" : "VpcConfigResponse",
        "deprecated" : false,
        "documentation" : "<p>The VPC configuration used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The VPC configuration used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.</p>\n@param resourcesVpcConfig The VPC configuration used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourcesVpcConfig",
        "getterDocumentation" : "/**<p>The VPC configuration used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.</p>\n@return The VPC configuration used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.*/",
        "getterMethodName" : "getResourcesVpcConfig",
        "getterModel" : {
          "returnType" : "VpcConfigResponse",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "resourcesVpcConfig",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "resourcesVpcConfig",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ResourcesVpcConfig",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The VPC configuration used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.</p>\n@param resourcesVpcConfig The VPC configuration used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.*/",
        "setterMethodName" : "setResourcesVpcConfig",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "VpcConfigResponse",
          "variableName" : "resourcesVpcConfig",
          "variableType" : "VpcConfigResponse",
          "documentation" : "",
          "simpleType" : "VpcConfigResponse",
          "variableSetterType" : "VpcConfigResponse"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The VPC configuration used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.</p>\n@param resourcesVpcConfig The VPC configuration used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "VpcConfigResponse",
          "variableName" : "resourcesVpcConfig",
          "variableType" : "VpcConfigResponse",
          "documentation" : "<p>The VPC configuration used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.</p>",
          "simpleType" : "VpcConfigResponse",
          "variableSetterType" : "VpcConfigResponse"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "logging",
        "c2jShape" : "Logging",
        "deprecated" : false,
        "documentation" : "<p>The logging configuration for your cluster.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The logging configuration for your cluster.</p>\n@param logging The logging configuration for your cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLogging",
        "getterDocumentation" : "/**<p>The logging configuration for your cluster.</p>\n@return The logging configuration for your cluster.*/",
        "getterMethodName" : "getLogging",
        "getterModel" : {
          "returnType" : "Logging",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "logging",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "logging",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Logging",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The logging configuration for your cluster.</p>\n@param logging The logging configuration for your cluster.*/",
        "setterMethodName" : "setLogging",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Logging",
          "variableName" : "logging",
          "variableType" : "Logging",
          "documentation" : "",
          "simpleType" : "Logging",
          "variableSetterType" : "Logging"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The logging configuration for your cluster.</p>\n@param logging The logging configuration for your cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Logging",
          "variableName" : "logging",
          "variableType" : "Logging",
          "documentation" : "<p>The logging configuration for your cluster.</p>",
          "simpleType" : "Logging",
          "variableSetterType" : "Logging"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "status",
        "c2jShape" : "ClusterStatus",
        "deprecated" : false,
        "documentation" : "<p>The current status of the cluster.</p>",
        "enumType" : "ClusterStatus",
        "fluentSetterDocumentation" : "/**<p>The current status of the cluster.</p>\n@param status The current status of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ClusterStatus*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>The current status of the cluster.</p>\n@return The current status of the cluster.\n@see ClusterStatus*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "status",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The current status of the cluster.</p>\n@param status The current status of the cluster.\n@see ClusterStatus*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The current status of the cluster.</p>\n@param status The current status of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ClusterStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>The current status of the cluster.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "certificateAuthority",
        "c2jShape" : "Certificate",
        "deprecated" : false,
        "documentation" : "<p>The <code>certificate-authority-data</code> for your cluster.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The <code>certificate-authority-data</code> for your cluster.</p>\n@param certificateAuthority The <code>certificate-authority-data</code> for your cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCertificateAuthority",
        "getterDocumentation" : "/**<p>The <code>certificate-authority-data</code> for your cluster.</p>\n@return The <code>certificate-authority-data</code> for your cluster.*/",
        "getterMethodName" : "getCertificateAuthority",
        "getterModel" : {
          "returnType" : "Certificate",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "certificateAuthority",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "certificateAuthority",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "CertificateAuthority",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The <code>certificate-authority-data</code> for your cluster.</p>\n@param certificateAuthority The <code>certificate-authority-data</code> for your cluster.*/",
        "setterMethodName" : "setCertificateAuthority",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Certificate",
          "variableName" : "certificateAuthority",
          "variableType" : "Certificate",
          "documentation" : "",
          "simpleType" : "Certificate",
          "variableSetterType" : "Certificate"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The <code>certificate-authority-data</code> for your cluster.</p>\n@param certificateAuthority The <code>certificate-authority-data</code> for your cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Certificate",
          "variableName" : "certificateAuthority",
          "variableType" : "Certificate",
          "documentation" : "<p>The <code>certificate-authority-data</code> for your cluster.</p>",
          "simpleType" : "Certificate",
          "variableSetterType" : "Certificate"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "clientRequestToken",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientRequestToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientRequestToken",
        "getterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@return Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.*/",
        "getterMethodName" : "getClientRequestToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientRequestToken",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientRequestToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientRequestToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientRequestToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.*/",
        "setterMethodName" : "setClientRequestToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientRequestToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientRequestToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientRequestToken",
          "variableType" : "String",
          "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "platformVersion",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The platform version of your Amazon EKS cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform Versions</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The platform version of your Amazon EKS cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform Versions</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p>\n@param platformVersion The platform version of your Amazon EKS cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform Versions</a> in the <i> <i>Amazon EKS User Guide</i> </i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPlatformVersion",
        "getterDocumentation" : "/**<p>The platform version of your Amazon EKS cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform Versions</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p>\n@return The platform version of your Amazon EKS cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform Versions</a> in the <i> <i>Amazon EKS User Guide</i> </i>.*/",
        "getterMethodName" : "getPlatformVersion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "platformVersion",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "platformVersion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PlatformVersion",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The platform version of your Amazon EKS cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform Versions</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p>\n@param platformVersion The platform version of your Amazon EKS cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform Versions</a> in the <i> <i>Amazon EKS User Guide</i> </i>.*/",
        "setterMethodName" : "setPlatformVersion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "platformVersion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The platform version of your Amazon EKS cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform Versions</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p>\n@param platformVersion The platform version of your Amazon EKS cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform Versions</a> in the <i> <i>Amazon EKS User Guide</i> </i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "platformVersion",
          "variableType" : "String",
          "documentation" : "<p>The platform version of your Amazon EKS cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform Versions</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Arn" : {
          "c2jName" : "arn",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the cluster.</p>\n@param arn The Amazon Resource Name (ARN) of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the cluster.</p>\n@return The Amazon Resource Name (ARN) of the cluster.*/",
          "getterMethodName" : "getArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "arn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "arn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Arn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the cluster.</p>\n@param arn The Amazon Resource Name (ARN) of the cluster.*/",
          "setterMethodName" : "setArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the cluster.</p>\n@param arn The Amazon Resource Name (ARN) of the cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "CertificateAuthority" : {
          "c2jName" : "certificateAuthority",
          "c2jShape" : "Certificate",
          "deprecated" : false,
          "documentation" : "<p>The <code>certificate-authority-data</code> for your cluster.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The <code>certificate-authority-data</code> for your cluster.</p>\n@param certificateAuthority The <code>certificate-authority-data</code> for your cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCertificateAuthority",
          "getterDocumentation" : "/**<p>The <code>certificate-authority-data</code> for your cluster.</p>\n@return The <code>certificate-authority-data</code> for your cluster.*/",
          "getterMethodName" : "getCertificateAuthority",
          "getterModel" : {
            "returnType" : "Certificate",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "certificateAuthority",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "certificateAuthority",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "CertificateAuthority",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The <code>certificate-authority-data</code> for your cluster.</p>\n@param certificateAuthority The <code>certificate-authority-data</code> for your cluster.*/",
          "setterMethodName" : "setCertificateAuthority",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Certificate",
            "variableName" : "certificateAuthority",
            "variableType" : "Certificate",
            "documentation" : "",
            "simpleType" : "Certificate",
            "variableSetterType" : "Certificate"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The <code>certificate-authority-data</code> for your cluster.</p>\n@param certificateAuthority The <code>certificate-authority-data</code> for your cluster.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Certificate",
            "variableName" : "certificateAuthority",
            "variableType" : "Certificate",
            "documentation" : "<p>The <code>certificate-authority-data</code> for your cluster.</p>",
            "simpleType" : "Certificate",
            "variableSetterType" : "Certificate"
          },
          "xmlNameSpaceUri" : null
        },
        "ClientRequestToken" : {
          "c2jName" : "clientRequestToken",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>\n@param clientRequestToken Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientRequestToken",
[...]
