{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2023-11-26",
    "asyncClient" : "AmazonEKSAuthAsyncClient",
    "asyncClientBuilderClassName" : "AmazonEKSAuthAsyncClientBuilder",
    "asyncInterface" : "AmazonEKSAuthAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonEKSAuthModuleInjector",
    "defaultEndpoint" : "eks-auth.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "eks-auth.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Amazon EKS Auth API and the <code>AssumeRoleForPodIdentity</code> action are only used by the EKS Pod Identity Agent.</p>",
    "endpointPrefix" : "eks-auth",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.eksauth",
    "packagePath" : "com/amazonaws/services/eksauth",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon EKS Auth",
    "serviceId" : "EKS Auth",
    "serviceName" : "Amazon EKS Auth",
    "signingName" : "eks-auth",
    "smokeTestsPackageName" : "com.amazonaws.services.eksauth.smoketests",
    "syncClient" : "AmazonEKSAuthClient",
    "syncClientBuilderClassName" : "AmazonEKSAuthClientBuilder",
    "syncInterface" : "AmazonEKSAuth",
    "uid" : "eks-auth-2023-11-26",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssumeRoleForPodIdentity" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssumeRoleForPodIdentityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssumeRoleForPodIdentityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssumeRoleForPodIdentityRequest, AssumeRoleForPodIdentityResult>",
      "asyncReturnType" : "AssumeRoleForPodIdentityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The Amazon EKS Auth API and the <code>AssumeRoleForPodIdentity</code> action are only used by the EKS Pod Identity Agent.</p> <p>We recommend that applications use the Amazon Web Services SDKs to connect to Amazon Web Services services; if credentials from an EKS Pod Identity association are available in the pod, the latest versions of the SDKs use them automatically.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because your request rate is too high. Reduce the frequency of requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>This exception is thrown if the request contains a semantic error. The precise meaning will depend on the API, and will be documented in the error message.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permissions to perform the requested operation. The IAM principal making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access management</a> in the <i>IAM User Guide</i>. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>These errors are usually caused by a server-side issue.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidTokenException",
        "documentation" : "<p>The specified Kubernetes service account token is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ExpiredTokenException",
        "documentation" : "<p>The specified Kubernetes service account token is expired.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unavailable. Back off and retry the operation.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssumeRoleForPodIdentityRequest",
        "variableName" : "assumeRoleForPodIdentityRequest",
        "variableType" : "AssumeRoleForPodIdentityRequest",
        "documentation" : "",
        "simpleType" : "AssumeRoleForPodIdentityRequest",
        "variableSetterType" : "AssumeRoleForPodIdentityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "assumeRoleForPodIdentity",
      "operationName" : "AssumeRoleForPodIdentity",
      "returnType" : {
        "returnType" : "AssumeRoleForPodIdentityResult",
        "documentation" : null
      },
      "syncReturnType" : "AssumeRoleForPodIdentityResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You don't have permissions to perform the requested operation. The IAM principal making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access management</a> in the <i>IAM User Guide</i>. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.eksauth.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.eksauth.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AssumeRoleForPodIdentityRequest" : {
      "c2jName" : "AssumeRoleForPodIdentityRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.eksauth.request.AssumeRoleForPodIdentityRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssumeRoleForPodIdentity",
        "locationName" : null,
        "requestUri" : "/clusters/{clusterName}/assume-role-for-pod-identity",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "clusterName",
        "c2jShape" : "ClusterName",
        "deprecated" : false,
        "documentation" : "<p>The name of the cluster for the request.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the cluster for the request.</p>\n@param clusterName The name of the cluster for the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClusterName",
        "getterDocumentation" : "/**<p>The name of the cluster for the request.</p>\n@return The name of the cluster for the request.*/",
        "getterMethodName" : "getClusterName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "clusterName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clusterName",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClusterName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the cluster for the request.</p>\n@param clusterName The name of the cluster for the request.*/",
        "setterMethodName" : "setClusterName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clusterName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the cluster for the request.</p>\n@param clusterName The name of the cluster for the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clusterName",
          "variableType" : "String",
          "documentation" : "<p>The name of the cluster for the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "token",
        "c2jShape" : "JwtToken",
        "deprecated" : false,
        "documentation" : "<p>The token of the Kubernetes service account for the pod.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The token of the Kubernetes service account for the pod.</p>\n@param token The token of the Kubernetes service account for the pod.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withToken",
        "getterDocumentation" : "/**<p>The token of the Kubernetes service account for the pod.</p>\n@return The token of the Kubernetes service account for the pod.*/",
        "getterMethodName" : "getToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "token",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "token",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Token",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The token of the Kubernetes service account for the pod.</p>\n@param token The token of the Kubernetes service account for the pod.*/",
        "setterMethodName" : "setToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "token",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The token of the Kubernetes service account for the pod.</p>\n@param token The token of the Kubernetes service account for the pod.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "token",
          "variableType" : "String",
          "documentation" : "<p>The token of the Kubernetes service account for the pod.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClusterName" : {
          "c2jName" : "clusterName",
          "c2jShape" : "ClusterName",
          "deprecated" : false,
          "documentation" : "<p>The name of the cluster for the request.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the cluster for the request.</p>\n@param clusterName The name of the cluster for the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClusterName",
          "getterDocumentation" : "/**<p>The name of the cluster for the request.</p>\n@return The name of the cluster for the request.*/",
          "getterMethodName" : "getClusterName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "clusterName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clusterName",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClusterName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the cluster for the request.</p>\n@param clusterName The name of the cluster for the request.*/",
          "setterMethodName" : "setClusterName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clusterName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the cluster for the request.</p>\n@param clusterName The name of the cluster for the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clusterName",
            "variableType" : "String",
            "documentation" : "<p>The name of the cluster for the request.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Token" : {
          "c2jName" : "token",
          "c2jShape" : "JwtToken",
          "deprecated" : false,
          "documentation" : "<p>The token of the Kubernetes service account for the pod.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The token of the Kubernetes service account for the pod.</p>\n@param token The token of the Kubernetes service account for the pod.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withToken",
          "getterDocumentation" : "/**<p>The token of the Kubernetes service account for the pod.</p>\n@return The token of the Kubernetes service account for the pod.*/",
          "getterMethodName" : "getToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "token",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "token",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Token",
          "sensitive" : true,
          "setterDocumentation" : "/**<p>The token of the Kubernetes service account for the pod.</p>\n@param token The token of the Kubernetes service account for the pod.*/",
          "setterMethodName" : "setToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "token",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The token of the Kubernetes service account for the pod.</p>\n@param token The token of the Kubernetes service account for the pod.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "token",
            "variableType" : "String",
            "documentation" : "<p>The token of the Kubernetes service account for the pod.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.eksauth.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "clusterName", "token" ],
      "shapeName" : "AssumeRoleForPodIdentityRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssumeRoleForPodIdentityRequest",
        "variableName" : "assumeRoleForPodIdentityRequest",
        "variableType" : "AssumeRoleForPodIdentityRequest",
        "documentation" : null,
        "simpleType" : "AssumeRoleForPodIdentityRequest",
        "variableSetterType" : "AssumeRoleForPodIdentityRequest"
      },
      "wrapper" : false
    },
    "AssumeRoleForPodIdentityResult" : {
      "c2jName" : "AssumeRoleForPodIdentityResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.eksauth.response.AssumeRoleForPodIdentityResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "subject",
        "c2jShape" : "Subject",
        "deprecated" : false,
        "documentation" : "<p>The name of the Kubernetes service account inside the cluster to associate the IAM credentials with.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the Kubernetes service account inside the cluster to associate the IAM credentials with.</p>\n@param subject The name of the Kubernetes service account inside the cluster to associate the IAM credentials with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSubject",
        "getterDocumentation" : "/**<p>The name of the Kubernetes service account inside the cluster to associate the IAM credentials with.</p>\n@return The name of the Kubernetes service account inside the cluster to associate the IAM credentials with.*/",
        "getterMethodName" : "getSubject",
        "getterModel" : {
          "returnType" : "Subject",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "subject",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "subject",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Subject",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the Kubernetes service account inside the cluster to associate the IAM credentials with.</p>\n@param subject The name of the Kubernetes service account inside the cluster to associate the IAM credentials with.*/",
        "setterMethodName" : "setSubject",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Subject",
          "variableName" : "subject",
          "variableType" : "Subject",
          "documentation" : "",
          "simpleType" : "Subject",
          "variableSetterType" : "Subject"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the Kubernetes service account inside the cluster to associate the IAM credentials with.</p>\n@param subject The name of the Kubernetes service account inside the cluster to associate the IAM credentials with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Subject",
          "variableName" : "subject",
          "variableType" : "Subject",
          "documentation" : "<p>The name of the Kubernetes service account inside the cluster to associate the IAM credentials with.</p>",
          "simpleType" : "Subject",
          "variableSetterType" : "Subject"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "audience",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The identity that is allowed to use the credentials. This value is always <code>pods.eks.amazonaws.com</code>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identity that is allowed to use the credentials. This value is always <code>pods.eks.amazonaws.com</code>.</p>\n@param audience The identity that is allowed to use the credentials. This value is always <code>pods.eks.amazonaws.com</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAudience",
        "getterDocumentation" : "/**<p>The identity that is allowed to use the credentials. This value is always <code>pods.eks.amazonaws.com</code>.</p>\n@return The identity that is allowed to use the credentials. This value is always <code>pods.eks.amazonaws.com</code>.*/",
        "getterMethodName" : "getAudience",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "audience",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "audience",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Audience",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identity that is allowed to use the credentials. This value is always <code>pods.eks.amazonaws.com</code>.</p>\n@param audience The identity that is allowed to use the credentials. This value is always <code>pods.eks.amazonaws.com</code>.*/",
        "setterMethodName" : "setAudience",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "audience",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identity that is allowed to use the credentials. This value is always <code>pods.eks.amazonaws.com</code>.</p>\n@param audience The identity that is allowed to use the credentials. This value is always <code>pods.eks.amazonaws.com</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "audience",
          "variableType" : "String",
          "documentation" : "<p>The identity that is allowed to use the credentials. This value is always <code>pods.eks.amazonaws.com</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "podIdentityAssociation",
        "c2jShape" : "PodIdentityAssociation",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) and ID of the EKS Pod Identity association.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) and ID of the EKS Pod Identity association.</p>\n@param podIdentityAssociation The Amazon Resource Name (ARN) and ID of the EKS Pod Identity association.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPodIdentityAssociation",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) and ID of the EKS Pod Identity association.</p>\n@return The Amazon Resource Name (ARN) and ID of the EKS Pod Identity association.*/",
        "getterMethodName" : "getPodIdentityAssociation",
        "getterModel" : {
          "returnType" : "PodIdentityAssociation",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "podIdentityAssociation",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "podIdentityAssociation",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "PodIdentityAssociation",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) and ID of the EKS Pod Identity association.</p>\n@param podIdentityAssociation The Amazon Resource Name (ARN) and ID of the EKS Pod Identity association.*/",
        "setterMethodName" : "setPodIdentityAssociation",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "PodIdentityAssociation",
          "variableName" : "podIdentityAssociation",
          "variableType" : "PodIdentityAssociation",
          "documentation" : "",
          "simpleType" : "PodIdentityAssociation",
          "variableSetterType" : "PodIdentityAssociation"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) and ID of the EKS Pod Identity association.</p>\n@param podIdentityAssociation The Amazon Resource Name (ARN) and ID of the EKS Pod Identity association.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "PodIdentityAssociation",
          "variableName" : "podIdentityAssociation",
          "variableType" : "PodIdentityAssociation",
          "documentation" : "<p>The Amazon Resource Name (ARN) and ID of the EKS Pod Identity association.</p>",
          "simpleType" : "PodIdentityAssociation",
          "variableSetterType" : "PodIdentityAssociation"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "assumedRoleUser",
        "c2jShape" : "AssumedRoleUser",
        "deprecated" : false,
        "documentation" : "<p>An object with the permanent IAM role identity and the temporary session name.</p> <p>The ARN of the IAM role that the temporary credentials authenticate to.</p> <p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>An object with the permanent IAM role identity and the temporary session name.</p> <p>The ARN of the IAM role that the temporary credentials authenticate to.</p> <p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>\n@param assumedRoleUser An object with the permanent IAM role identity and the temporary session name.</p> <p>The ARN of the IAM role that the temporary credentials authenticate to.</p> <p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAssumedRoleUser",
        "getterDocumentation" : "/**<p>An object with the permanent IAM role identity and the temporary session name.</p> <p>The ARN of the IAM role that the temporary credentials authenticate to.</p> <p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>\n@return An object with the permanent IAM role identity and the temporary session name.</p> <p>The ARN of the IAM role that the temporary credentials authenticate to.</p> <p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code>*/",
        "getterMethodName" : "getAssumedRoleUser",
        "getterModel" : {
          "returnType" : "AssumedRoleUser",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "assumedRoleUser",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "assumedRoleUser",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "AssumedRoleUser",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>An object with the permanent IAM role identity and the temporary session name.</p> <p>The ARN of the IAM role that the temporary credentials authenticate to.</p> <p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>\n@param assumedRoleUser An object with the permanent IAM role identity and the temporary session name.</p> <p>The ARN of the IAM role that the temporary credentials authenticate to.</p> <p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code>*/",
        "setterMethodName" : "setAssumedRoleUser",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AssumedRoleUser",
          "variableName" : "assumedRoleUser",
          "variableType" : "AssumedRoleUser",
          "documentation" : "",
          "simpleType" : "AssumedRoleUser",
          "variableSetterType" : "AssumedRoleUser"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>An object with the permanent IAM role identity and the temporary session name.</p> <p>The ARN of the IAM role that the temporary credentials authenticate to.</p> <p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>\n@param assumedRoleUser An object with the permanent IAM role identity and the temporary session name.</p> <p>The ARN of the IAM role that the temporary credentials authenticate to.</p> <p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AssumedRoleUser",
          "variableName" : "assumedRoleUser",
          "variableType" : "AssumedRoleUser",
          "documentation" : "<p>An object with the permanent IAM role identity and the temporary session name.</p> <p>The ARN of the IAM role that the temporary credentials authenticate to.</p> <p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>",
          "simpleType" : "AssumedRoleUser",
          "variableSetterType" : "AssumedRoleUser"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "credentials",
        "c2jShape" : "Credentials",
        "deprecated" : false,
        "documentation" : "<p>The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.</p>\n@param credentials The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCredentials",
        "getterDocumentation" : "/**<p>The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.</p>\n@return The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.*/",
        "getterMethodName" : "getCredentials",
        "getterModel" : {
          "returnType" : "Credentials",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "credentials",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "credentials",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Credentials",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.</p>\n@param credentials The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.*/",
        "setterMethodName" : "setCredentials",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Credentials",
          "variableName" : "credentials",
          "variableType" : "Credentials",
          "documentation" : "",
          "simpleType" : "Credentials",
          "variableSetterType" : "Credentials"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.</p>\n@param credentials The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Credentials",
          "variableName" : "credentials",
          "variableType" : "Credentials",
          "documentation" : "<p>The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.</p>",
          "simpleType" : "Credentials",
          "variableSetterType" : "Credentials"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AssumedRoleUser" : {
          "c2jName" : "assumedRoleUser",
          "c2jShape" : "AssumedRoleUser",
          "deprecated" : false,
          "documentation" : "<p>An object with the permanent IAM role identity and the temporary session name.</p> <p>The ARN of the IAM role that the temporary credentials authenticate to.</p> <p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>An object with the permanent IAM role identity and the temporary session name.</p> <p>The ARN of the IAM role that the temporary credentials authenticate to.</p> <p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>\n@param assumedRoleUser An object with the permanent IAM role identity and the temporary session name.</p> <p>The ARN of the IAM role that the temporary credentials authenticate to.</p> <p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAssumedRoleUser",
          "getterDocumentation" : "/**<p>An object with the permanent IAM role identity and the temporary session name.</p> <p>The ARN of the IAM role that the temporary credentials authenticate to.</p> <p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>\n@return An object with the permanent IAM role identity and the temporary session name.</p> <p>The ARN of the IAM role that the temporary credentials authenticate to.</p> <p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code>*/",
          "getterMethodName" : "getAssumedRoleUser",
          "getterModel" : {
            "returnType" : "AssumedRoleUser",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "assumedRoleUser",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "assumedRoleUser",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "AssumedRoleUser",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>An object with the permanent IAM role identity and the temporary session name.</p> <p>The ARN of the IAM role that the temporary credentials authenticate to.</p> <p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>\n@param assumedRoleUser An object with the permanent IAM role identity and the temporary session name.</p> <p>The ARN of the IAM role that the temporary credentials authenticate to.</p> <p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code>*/",
          "setterMethodName" : "setAssumedRoleUser",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AssumedRoleUser",
            "variableName" : "assumedRoleUser",
            "variableType" : "AssumedRoleUser",
            "documentation" : "",
            "simpleType" : "AssumedRoleUser",
            "variableSetterType" : "AssumedRoleUser"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>An object with the permanent IAM role identity and the temporary session name.</p> <p>The ARN of the IAM role that the temporary credentials authenticate to.</p> <p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>\n@param assumedRoleUser An object with the permanent IAM role identity and the temporary session name.</p> <p>The ARN of the IAM role that the temporary credentials authenticate to.</p> <p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AssumedRoleUser",
            "variableName" : "assumedRoleUser",
            "variableType" : "AssumedRoleUser",
            "documentation" : "<p>An object with the permanent IAM role identity and the temporary session name.</p> <p>The ARN of the IAM role that the temporary credentials authenticate to.</p> <p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>",
            "simpleType" : "AssumedRoleUser",
            "variableSetterType" : "AssumedRoleUser"
          },
          "xmlNameSpaceUri" : null
        },
        "Audience" : {
          "c2jName" : "audience",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The identity that is allowed to use the credentials. This value is always <code>pods.eks.amazonaws.com</code>.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The identity that is allowed to use the credentials. This value is always <code>pods.eks.amazonaws.com</code>.</p>\n@param audience The identity that is allowed to use the credentials. This value is always <code>pods.eks.amazonaws.com</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAudience",
          "getterDocumentation" : "/**<p>The identity that is allowed to use the credentials. This value is always <code>pods.eks.amazonaws.com</code>.</p>\n@return The identity that is allowed to use the credentials. This value is always <code>pods.eks.amazonaws.com</code>.*/",
          "getterMethodName" : "getAudience",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "audience",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "audience",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Audience",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The identity that is allowed to use the credentials. This value is always <code>pods.eks.amazonaws.com</code>.</p>\n@param audience The identity that is allowed to use the credentials. This value is always <code>pods.eks.amazonaws.com</code>.*/",
          "setterMethodName" : "setAudience",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "audience",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The identity that is allowed to use the credentials. This value is always <code>pods.eks.amazonaws.com</code>.</p>\n@param audience The identity that is allowed to use the credentials. This value is always <code>pods.eks.amazonaws.com</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "audience",
            "variableType" : "String",
            "documentation" : "<p>The identity that is allowed to use the credentials. This value is always <code>pods.eks.amazonaws.com</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Credentials" : {
          "c2jName" : "credentials",
          "c2jShape" : "Credentials",
          "deprecated" : false,
          "documentation" : "<p>The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.</p>\n@param credentials The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCredentials",
          "getterDocumentation" : "/**<p>The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.</p>\n@return The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.*/",
          "getterMethodName" : "getCredentials",
          "getterModel" : {
            "returnType" : "Credentials",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "credentials",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "credentials",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Credentials",
          "sensitive" : true,
          "setterDocumentation" : "/**<p>The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.</p>\n@param credentials The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.*/",
          "setterMethodName" : "setCredentials",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Credentials",
            "variableName" : "credentials",
            "variableType" : "Credentials",
            "documentation" : "",
            "simpleType" : "Credentials",
            "variableSetterType" : "Credentials"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.</p>\n@param credentials The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Credentials",
            "variableName" : "credentials",
            "variableType" : "Credentials",
            "documentation" : "<p>The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.</p>",
            "simpleType" : "Credentials",
            "variableSetterType" : "Credentials"
          },
          "xmlNameSpaceUri" : null
        },
        "PodIdentityAssociation" : {
          "c2jName" : "podIdentityAssociation",
          "c2jShape" : "PodIdentityAssociation",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) and ID of the EKS Pod Identity association.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) and ID of the EKS Pod Identity association.</p>\n@param podIdentityAssociation The Amazon Resource Name (ARN) and ID of the EKS Pod Identity association.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPodIdentityAssociation",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) and ID of the EKS Pod Identity association.</p>\n@return The Amazon Resource Name (ARN) and ID of the EKS Pod Identity association.*/",
          "getterMethodName" : "getPodIdentityAssociation",
          "getterModel" : {
            "returnType" : "PodIdentityAssociation",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "podIdentityAssociation",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "podIdentityAssociation",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "PodIdentityAssociation",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) and ID of the EKS Pod Identity association.</p>\n@param podIdentityAssociation The Amazon Resource Name (ARN) and ID of the EKS Pod Identity association.*/",
          "setterMethodName" : "setPodIdentityAssociation",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "PodIdentityAssociation",
            "variableName" : "podIdentityAssociation",
            "variableType" : "PodIdentityAssociation",
            "documentation" : "",
            "simpleType" : "PodIdentityAssociation",
            "variableSetterType" : "PodIdentityAssociation"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) and ID of the EKS Pod Identity association.</p>\n@param podIdentityAssociation The Amazon Resource Name (ARN) and ID of the EKS Pod Identity association.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "PodIdentityAssociation",
            "variableName" : "podIdentityAssociation",
            "variableType" : "PodIdentityAssociation",
            "documentation" : "<p>The Amazon Resource Name (ARN) and ID of the EKS Pod Identity association.</p>",
            "simpleType" : "PodIdentityAssociation",
            "variableSetterType" : "PodIdentityAssociation"
          },
          "xmlNameSpaceUri" : null
        },
        "Subject" : {
          "c2jName" : "subject",
          "c2jShape" : "Subject",
          "deprecated" : false,
          "documentation" : "<p>The name of the Kubernetes service account inside the cluster to associate the IAM credentials with.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the Kubernetes service account inside the cluster to associate the IAM credentials with.</p>\n@param subject The name of the Kubernetes service account inside the cluster to associate the IAM credentials with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSubject",
          "getterDocumentation" : "/**<p>The name of the Kubernetes service account inside the cluster to associate the IAM credentials with.</p>\n@return The name of the Kubernetes service account inside the cluster to associate the IAM credentials with.*/",
          "getterMethodName" : "getSubject",
          "getterModel" : {
            "returnType" : "Subject",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "subject",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "subject",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Subject",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the Kubernetes service account inside the cluster to associate the IAM credentials with.</p>\n@param subject The name of the Kubernetes service account inside the cluster to associate the IAM credentials with.*/",
          "setterMethodName" : "setSubject",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Subject",
            "variableName" : "subject",
            "variableType" : "Subject",
            "documentation" : "",
            "simpleType" : "Subject",
            "variableSetterType" : "Subject"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the Kubernetes service account inside the cluster to associate the IAM credentials with.</p>\n@param subject The name of the Kubernetes service account inside the cluster to associate the IAM credentials with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Subject",
            "variableName" : "subject",
            "variableType" : "Subject",
            "documentation" : "<p>The name of the Kubernetes service account inside the cluster to associate the IAM credentials with.</p>",
            "simpleType" : "Subject",
            "variableSetterType" : "Subject"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.eksauth.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "subject", "audience", "podIdentityAssociation", "assumedRoleUser", "credentials" ],
      "shapeName" : "AssumeRoleForPodIdentityResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssumeRoleForPodIdentityResult",
        "variableName" : "assumeRoleForPodIdentityResult",
        "variableType" : "AssumeRoleForPodIdentityResult",
        "documentation" : null,
        "simpleType" : "AssumeRoleForPodIdentityResult",
        "variableSetterType" : "AssumeRoleForPodIdentityResult"
      },
      "wrapper" : false
    },
    "AssumedRoleUser" : {
      "c2jName" : "AssumedRoleUser",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An object with the permanent IAM role identity and the temporary session name.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.eksauth.model.AssumedRoleUser",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "arn",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The ARN of the IAM role that the temporary credentials authenticate to.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARN of the IAM role that the temporary credentials authenticate to.</p>\n@param arn The ARN of the IAM role that the temporary credentials authenticate to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArn",
        "getterDocumentation" : "/**<p>The ARN of the IAM role that the temporary credentials authenticate to.</p>\n@return The ARN of the IAM role that the temporary credentials authenticate to.*/",
        "getterMethodName" : "getArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "arn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Arn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ARN of the IAM role that the temporary credentials authenticate to.</p>\n@param arn The ARN of the IAM role that the temporary credentials authenticate to.*/",
        "setterMethodName" : "setArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ARN of the IAM role that the temporary credentials authenticate to.</p>\n@param arn The ARN of the IAM role that the temporary credentials authenticate to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "<p>The ARN of the IAM role that the temporary credentials authenticate to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "assumeRoleId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>\n@param assumeRoleId The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAssumeRoleId",
        "getterDocumentation" : "/**<p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>\n@return The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code>*/",
        "getterMethodName" : "getAssumeRoleId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "assumeRoleId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "assumeRoleId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AssumeRoleId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>\n@param assumeRoleId The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code>*/",
        "setterMethodName" : "setAssumeRoleId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "assumeRoleId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>\n@param assumeRoleId The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "assumeRoleId",
          "variableType" : "String",
          "documentation" : "<p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Arn" : {
          "c2jName" : "arn",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The ARN of the IAM role that the temporary credentials authenticate to.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ARN of the IAM role that the temporary credentials authenticate to.</p>\n@param arn The ARN of the IAM role that the temporary credentials authenticate to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withArn",
          "getterDocumentation" : "/**<p>The ARN of the IAM role that the temporary credentials authenticate to.</p>\n@return The ARN of the IAM role that the temporary credentials authenticate to.*/",
          "getterMethodName" : "getArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "arn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "arn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Arn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ARN of the IAM role that the temporary credentials authenticate to.</p>\n@param arn The ARN of the IAM role that the temporary credentials authenticate to.*/",
          "setterMethodName" : "setArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ARN of the IAM role that the temporary credentials authenticate to.</p>\n@param arn The ARN of the IAM role that the temporary credentials authenticate to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "<p>The ARN of the IAM role that the temporary credentials authenticate to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "AssumeRoleId" : {
          "c2jName" : "assumeRoleId",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>\n@param assumeRoleId The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAssumeRoleId",
          "getterDocumentation" : "/**<p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>\n@return The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code>*/",
          "getterMethodName" : "getAssumeRoleId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "assumeRoleId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "assumeRoleId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AssumeRoleId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>\n@param assumeRoleId The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code>*/",
          "setterMethodName" : "setAssumeRoleId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "assumeRoleId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>\n@param assumeRoleId The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "assumeRoleId",
            "variableType" : "String",
            "documentation" : "<p>The session name of the temporary session requested to STS. The value is a unique identifier that contains the role ID, a colon (<code>:</code>), and the role session name of the role that is being assumed. The role ID is generated by IAM when the role is created. The role session name part of the value follows this format: <code>eks-<i>clustername</i>-<i>podname</i>-<i>random UUID</i> </code> </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.eksauth.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "arn", "assumeRoleId" ],
      "shapeName" : "AssumedRoleUser",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssumedRoleUser",
        "variableName" : "assumedRoleUser",
        "variableType" : "AssumedRoleUser",
        "documentation" : null,
        "simpleType" : "AssumedRoleUser",
        "variableSetterType" : "AssumedRoleUser"
      },
      "wrapper" : false
    },
    "Credentials" : {
      "c2jName" : "Credentials",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The <i>Amazon Web Services Signature Version 4</i> type of temporary credentials.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.eksauth.model.Credentials",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "sessionToken",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The token that applications inside the pods must pass to any service API to use the temporary credentials.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The token that applications inside the pods must pass to any service API to use the temporary credentials.</p>\n@param sessionToken The token that applications inside the pods must pass to any service API to use the temporary credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSessionToken",
        "getterDocumentation" : "/**<p>The token that applications inside the pods must pass to any service API to use the temporary credentials.</p>\n@return The token that applications inside the pods must pass to any service API to use the temporary credentials.*/",
        "getterMethodName" : "getSessionToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "sessionToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "sessionToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SessionToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The token that applications inside the pods must pass to any service API to use the temporary credentials.</p>\n@param sessionToken The token that applications inside the pods must pass to any service API to use the temporary credentials.*/",
        "setterMethodName" : "setSessionToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sessionToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The token that applications inside the pods must pass to any service API to use the temporary credentials.</p>\n@param sessionToken The token that applications inside the pods must pass to any service API to use the temporary credentials.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sessionToken",
          "variableType" : "String",
          "documentation" : "<p>The token that applications inside the pods must pass to any service API to use the temporary credentials.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "secretAccessKey",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The secret access key that applications inside the pods use to sign requests.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The secret access key that applications inside the pods use to sign requests.</p>\n@param secretAccessKey The secret access key that applications inside the pods use to sign requests.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSecretAccessKey",
        "getterDocumentation" : "/**<p>The secret access key that applications inside the pods use to sign requests.</p>\n@return The secret access key that applications inside the pods use to sign requests.*/",
        "getterMethodName" : "getSecretAccessKey",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "secretAccessKey",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "secretAccessKey",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
[...]
