{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "CreateFileSystemRequest" : [ "PerformanceMode" ],
      "FileSystemDescription" : [ "LifeCycleState", "PerformanceMode" ],
      "MountTargetDescription" : [ "LifeCycleState" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeFileSystems" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2015-02-01",
    "asyncClient" : "AmazonElasticFileSystemAsyncClient",
    "asyncClientBuilderClassName" : "AmazonElasticFileSystemAsyncClientBuilder",
    "asyncInterface" : "AmazonElasticFileSystemAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonElasticFileSystemModuleInjector",
    "defaultEndpoint" : "https://elasticfilesystem.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "elasticfilesystem.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon Elastic File System</fullname> <p>Amazon Elastic File System (Amazon EFS) provides simple, scalable file storage for use with Amazon EC2 instances in the AWS Cloud. With Amazon EFS, storage capacity is elastic, growing and shrinking automatically as you add and remove files, so your applications have the storage they need, when they need it. For more information, see the <a href=\"https://docs.aws.amazon.com/efs/latest/ug/api-reference.html\">User Guide</a>.</p>",
    "endpointPrefix" : "elasticfilesystem",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.elasticfilesystem",
    "packagePath" : "com/amazonaws/services/elasticfilesystem",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "EFS",
    "serviceFullName" : "Amazon Elastic File System",
    "serviceId" : "EFS",
    "serviceName" : "EFS",
    "signingName" : "elasticfilesystem",
    "smokeTestsPackageName" : "com.amazonaws.services.elasticfilesystem.smoketests",
    "syncClient" : "AmazonElasticFileSystemClient",
    "syncClientBuilderClassName" : "AmazonElasticFileSystemClientBuilder",
    "syncInterface" : "AmazonElasticFileSystem",
    "uid" : "elasticfilesystem-2015-02-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateAccessPoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAccessPointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAccessPointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAccessPointRequest, CreateAccessPointResult>",
      "asyncReturnType" : "CreateAccessPointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an EFS access point. An access point is an application-specific view into an EFS file system that applies an operating system user and group, and a file system path, to any file system request made through the access point. The operating system user and group override any identity information provided by the NFS client. The file system path is exposed as the access point's root directory. Applications using the access point can only access data in its own directory and below. To learn more, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/efs-access-points.html\">Mounting a File System Using EFS Access Points</a>.</p> <p>This operation requires permissions for the <code>elasticfilesystem:CreateAccessPoint</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessPointAlreadyExistsException",
        "documentation" : "<p>Returned if the access point you are trying to create already exists, with the creation token you provided in the request.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessPointLimitExceededException",
        "documentation" : "<p>Returned if the AWS account has already created the maximum number of access points allowed per file system.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAccessPointRequest",
        "variableName" : "createAccessPointRequest",
        "variableType" : "CreateAccessPointRequest",
        "documentation" : "",
        "simpleType" : "CreateAccessPointRequest",
        "variableSetterType" : "CreateAccessPointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAccessPoint",
      "operationName" : "CreateAccessPoint",
      "returnType" : {
        "returnType" : "CreateAccessPointResult",
        "documentation" : "<p>Provides a description of an EFS file system access point.</p>"
      },
      "syncReturnType" : "CreateAccessPointResult"
    },
    "CreateFileSystem" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFileSystemResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFileSystemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFileSystemRequest, CreateFileSystemResult>",
      "asyncReturnType" : "CreateFileSystemResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new, empty file system. The operation requires a creation token in the request that Amazon EFS uses to ensure idempotent creation (calling the operation with same creation token has no effect). If a file system does not currently exist that is owned by the caller's AWS account with the specified creation token, this operation does the following:</p> <ul> <li> <p>Creates a new, empty file system. The file system will have an Amazon EFS assigned ID, and an initial lifecycle state <code>creating</code>.</p> </li> <li> <p>Returns with the description of the created file system.</p> </li> </ul> <p>Otherwise, this operation returns a <code>FileSystemAlreadyExists</code> error with the ID of the existing file system.</p> <note> <p>For basic use cases, you can use a randomly generated UUID for the creation token.</p> </note> <p> The idempotent operation allows you to retry a <code>CreateFileSystem</code> call without risk of creating an extra file system. This can happen when an initial call fails in a way that leaves it uncertain whether or not a file system was actually created. An example might be that a transport level timeout occurred or your connection was reset. As long as you use the same creation token, if the initial call had succeeded in creating a file system, the client can learn of its existence from the <code>FileSystemAlreadyExists</code> error.</p> <note> <p>The <code>CreateFileSystem</code> call returns while the file system's lifecycle state is still <code>creating</code>. You can check the file system creation status by calling the <a>DescribeFileSystems</a> operation, which among other things returns the file system state.</p> </note> <p>This operation also takes an optional <code>PerformanceMode</code> parameter that you choose for your file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. The performance mode can't be changed after the file system has been created. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/performance.html#performancemodes.html\">Amazon EFS: Performance Modes</a>.</p> <p>After the file system is fully created, Amazon EFS sets its lifecycle state to <code>available</code>, at which point you can create one or more mount targets for the file system in your VPC. For more information, see <a>CreateMountTarget</a>. You mount your Amazon EFS file system on an EC2 instances in your VPC by using the mount target. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/how-it-works.html\">Amazon EFS: How it Works</a>. </p> <p> This operation requires permissions for the <code>elasticfilesystem:CreateFileSystem</code> action. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "FileSystemAlreadyExistsException",
        "documentation" : "<p>Returned if the file system you are trying to create already exists, with the creation token you provided.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "FileSystemLimitExceededException",
        "documentation" : "<p>Returned if the AWS account has already created the maximum number of file systems allowed per account.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InsufficientThroughputCapacityException",
        "documentation" : "<p>Returned if there's not enough capacity to provision additional throughput. This value might be returned when you try to create a file system in provisioned throughput mode, when you attempt to increase the provisioned throughput of an existing file system, or when you attempt to change an existing file system from bursting to provisioned throughput mode.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThroughputLimitExceededException",
        "documentation" : "<p>Returned if the throughput mode or amount of provisioned throughput can't be changed because the throughput limit of 1024 MiB/s has been reached.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFileSystemRequest",
        "variableName" : "createFileSystemRequest",
        "variableType" : "CreateFileSystemRequest",
        "documentation" : "",
        "simpleType" : "CreateFileSystemRequest",
        "variableSetterType" : "CreateFileSystemRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFileSystem",
      "operationName" : "CreateFileSystem",
      "returnType" : {
        "returnType" : "CreateFileSystemResult",
        "documentation" : "<p>A description of the file system.</p>"
      },
      "syncReturnType" : "CreateFileSystemResult"
    },
    "CreateMountTarget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMountTargetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMountTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMountTargetRequest, CreateMountTargetResult>",
      "asyncReturnType" : "CreateMountTargetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a mount target for a file system. You can then mount the file system on EC2 instances by using the mount target.</p> <p>You can create one mount target in each Availability Zone in your VPC. All EC2 instances in a VPC within a given Availability Zone share a single mount target for a given file system. If you have multiple subnets in an Availability Zone, you create a mount target in one of the subnets. EC2 instances do not need to be in the same subnet as the mount target in order to access their file system. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/how-it-works.html\">Amazon EFS: How it Works</a>. </p> <p>In the request, you also specify a file system ID for which you are creating the mount target and the file system's lifecycle state must be <code>available</code>. For more information, see <a>DescribeFileSystems</a>.</p> <p>In the request, you also provide a subnet ID, which determines the following:</p> <ul> <li> <p>VPC in which Amazon EFS creates the mount target</p> </li> <li> <p>Availability Zone in which Amazon EFS creates the mount target</p> </li> <li> <p>IP address range from which Amazon EFS selects the IP address of the mount target (if you don't specify an IP address in the request)</p> </li> </ul> <p>After creating the mount target, Amazon EFS returns a response that includes, a <code>MountTargetId</code> and an <code>IpAddress</code>. You use this IP address when mounting the file system in an EC2 instance. You can also use the mount target's DNS name when mounting the file system. The EC2 instance on which you mount the file system by using the mount target can resolve the mount target's DNS name to its IP address. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/how-it-works.html#how-it-works-implementation\">How it Works: Implementation Overview</a>. </p> <p>Note that you can create mount targets for a file system in only one VPC, and there can be only one mount target per Availability Zone. That is, if the file system already has one or more mount targets created for it, the subnet specified in the request to add another mount target must meet the following requirements:</p> <ul> <li> <p>Must belong to the same VPC as the subnets of the existing mount targets</p> </li> <li> <p>Must not be in the same Availability Zone as any of the subnets of the existing mount targets</p> </li> </ul> <p>If the request satisfies the requirements, Amazon EFS does the following:</p> <ul> <li> <p>Creates a new mount target in the specified subnet.</p> </li> <li> <p>Also creates a new network interface in the subnet as follows:</p> <ul> <li> <p>If the request provides an <code>IpAddress</code>, Amazon EFS assigns that IP address to the network interface. Otherwise, Amazon EFS assigns a free address in the subnet (in the same way that the Amazon EC2 <code>CreateNetworkInterface</code> call does when a request does not specify a primary private IP address).</p> </li> <li> <p>If the request provides <code>SecurityGroups</code>, this network interface is associated with those security groups. Otherwise, it belongs to the default security group for the subnet's VPC.</p> </li> <li> <p>Assigns the description <code>Mount target <i>fsmt-id</i> for file system <i>fs-id</i> </code> where <code> <i>fsmt-id</i> </code> is the mount target ID, and <code> <i>fs-id</i> </code> is the <code>FileSystemId</code>.</p> </li> <li> <p>Sets the <code>requesterManaged</code> property of the network interface to <code>true</code>, and the <code>requesterId</code> value to <code>EFS</code>.</p> </li> </ul> <p>Each Amazon EFS mount target has one corresponding requester-managed EC2 network interface. After the network interface is created, Amazon EFS sets the <code>NetworkInterfaceId</code> field in the mount target's description to the network interface ID, and the <code>IpAddress</code> field to its address. If network interface creation fails, the entire <code>CreateMountTarget</code> operation fails.</p> </li> </ul> <note> <p>The <code>CreateMountTarget</code> call returns only after creating the network interface, but while the mount target state is still <code>creating</code>, you can check the mount target creation status by calling the <a>DescribeMountTargets</a> operation, which among other things returns the mount target state.</p> </note> <p>We recommend that you create a mount target in each of the Availability Zones. There are cost considerations for using a file system in an Availability Zone through a mount target created in another Availability Zone. For more information, see <a href=\"http://aws.amazon.com/efs/\">Amazon EFS</a>. In addition, by always using a mount target local to the instance's Availability Zone, you eliminate a partial failure scenario. If the Availability Zone in which your mount target is created goes down, then you can't access your file system through that mount target. </p> <p>This operation requires permissions for the following action on the file system:</p> <ul> <li> <p> <code>elasticfilesystem:CreateMountTarget</code> </p> </li> </ul> <p>This operation also requires permissions for the following Amazon EC2 actions:</p> <ul> <li> <p> <code>ec2:DescribeSubnets</code> </p> </li> <li> <p> <code>ec2:DescribeNetworkInterfaces</code> </p> </li> <li> <p> <code>ec2:CreateNetworkInterface</code> </p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "IncorrectFileSystemLifeCycleStateException",
        "documentation" : "<p>Returned if the file system's lifecycle state is not \"available\".</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "MountTargetConflictException",
        "documentation" : "<p>Returned if the mount target would violate one of the specified restrictions based on the file system's existing mount targets.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "SubnetNotFoundException",
        "documentation" : "<p>Returned if there is no subnet with ID <code>SubnetId</code> provided in the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NoFreeAddressesInSubnetException",
        "documentation" : "<p>Returned if <code>IpAddress</code> was not specified in the request and there are no free IP addresses in the subnet.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "IpAddressInUseException",
        "documentation" : "<p>Returned if the request specified an <code>IpAddress</code> that is already in use in the subnet.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "NetworkInterfaceLimitExceededException",
        "documentation" : "<p>The calling account has reached the limit for elastic network interfaces for the specific AWS Region. The client should try to delete some elastic network interfaces or get the account limit raised. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Appendix_Limits.html\">Amazon VPC Limits</a> in the <i>Amazon VPC User Guide </i> (see the Network interfaces per VPC entry in the table). </p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "SecurityGroupLimitExceededException",
        "documentation" : "<p>Returned if the size of <code>SecurityGroups</code> specified in the request is greater than five.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "SecurityGroupNotFoundException",
        "documentation" : "<p>Returned if one of the specified security groups doesn't exist in the subnet's VPC.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnsupportedAvailabilityZoneException",
        "documentation" : "<p/>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMountTargetRequest",
        "variableName" : "createMountTargetRequest",
        "variableType" : "CreateMountTargetRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateMountTargetRequest",
        "variableSetterType" : "CreateMountTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMountTarget",
      "operationName" : "CreateMountTarget",
      "returnType" : {
        "returnType" : "CreateMountTargetResult",
        "documentation" : "<p>Provides a description of a mount target.</p>"
      },
      "syncReturnType" : "CreateMountTargetResult"
    },
    "CreateTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTagsRequest, CreateTagsResult>",
      "asyncReturnType" : "CreateTagsResult",
      "authenticated" : true,
      "deprecated" : true,
      "documentation" : "<p>Creates or overwrites tags associated with a file system. Each tag is a key-value pair. If a tag key specified in the request already exists on the file system, this operation overwrites its value with the value provided in the request. If you add the <code>Name</code> tag to your file system, Amazon EFS returns it in the response to the <a>DescribeFileSystems</a> operation. </p> <p>This operation requires permission for the <code>elasticfilesystem:CreateTags</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateTagsRequest",
        "variableName" : "createTagsRequest",
        "variableType" : "CreateTagsRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateTagsRequest",
        "variableSetterType" : "CreateTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTags",
      "operationName" : "CreateTags",
      "returnType" : {
        "returnType" : "CreateTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTagsResult"
    },
    "DeleteAccessPoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAccessPointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAccessPointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAccessPointRequest, DeleteAccessPointResult>",
      "asyncReturnType" : "DeleteAccessPointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified access point. After deletion is complete, new clients can no longer connect to the access points. Clients connected to the access point at the time of deletion will continue to function until they terminate their connection.</p> <p>This operation requires permissions for the <code>elasticfilesystem:DeleteAccessPoint</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessPointNotFoundException",
        "documentation" : "<p>Returned if the specified <code>AccessPointId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAccessPointRequest",
        "variableName" : "deleteAccessPointRequest",
        "variableType" : "DeleteAccessPointRequest",
        "documentation" : "",
        "simpleType" : "DeleteAccessPointRequest",
        "variableSetterType" : "DeleteAccessPointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAccessPoint",
      "operationName" : "DeleteAccessPoint",
      "returnType" : {
        "returnType" : "DeleteAccessPointResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAccessPointResult"
    },
    "DeleteFileSystem" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFileSystemResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFileSystemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFileSystemRequest, DeleteFileSystemResult>",
      "asyncReturnType" : "DeleteFileSystemResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a file system, permanently severing access to its contents. Upon return, the file system no longer exists and you can't access any contents of the deleted file system.</p> <p> You can't delete a file system that is in use. That is, if the file system has any mount targets, you must first delete them. For more information, see <a>DescribeMountTargets</a> and <a>DeleteMountTarget</a>. </p> <note> <p>The <code>DeleteFileSystem</code> call returns while the file system state is still <code>deleting</code>. You can check the file system deletion status by calling the <a>DescribeFileSystems</a> operation, which returns a list of file systems in your account. If you pass file system ID or creation token for the deleted file system, the <a>DescribeFileSystems</a> returns a <code>404 FileSystemNotFound</code> error.</p> </note> <p>This operation requires permissions for the <code>elasticfilesystem:DeleteFileSystem</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "FileSystemInUseException",
        "documentation" : "<p>Returned if a file system has mount targets.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFileSystemRequest",
        "variableName" : "deleteFileSystemRequest",
        "variableType" : "DeleteFileSystemRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteFileSystemRequest",
        "variableSetterType" : "DeleteFileSystemRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFileSystem",
      "operationName" : "DeleteFileSystem",
      "returnType" : {
        "returnType" : "DeleteFileSystemResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFileSystemResult"
    },
    "DeleteFileSystemPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFileSystemPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFileSystemPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFileSystemPolicyRequest, DeleteFileSystemPolicyResult>",
      "asyncReturnType" : "DeleteFileSystemPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the <code>FileSystemPolicy</code> for the specified file system. The default <code>FileSystemPolicy</code> goes into effect once the existing policy is deleted. For more information about the default file system policy, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/res-based-policies-efs.html\">Using Resource-based Policies with EFS</a>.</p> <p>This operation requires permissions for the <code>elasticfilesystem:DeleteFileSystemPolicy</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "IncorrectFileSystemLifeCycleStateException",
        "documentation" : "<p>Returned if the file system's lifecycle state is not \"available\".</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFileSystemPolicyRequest",
        "variableName" : "deleteFileSystemPolicyRequest",
        "variableType" : "DeleteFileSystemPolicyRequest",
        "documentation" : "",
        "simpleType" : "DeleteFileSystemPolicyRequest",
        "variableSetterType" : "DeleteFileSystemPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFileSystemPolicy",
      "operationName" : "DeleteFileSystemPolicy",
      "returnType" : {
        "returnType" : "DeleteFileSystemPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFileSystemPolicyResult"
    },
    "DeleteMountTarget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMountTargetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMountTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMountTargetRequest, DeleteMountTargetResult>",
      "asyncReturnType" : "DeleteMountTargetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified mount target.</p> <p>This operation forcibly breaks any mounts of the file system by using the mount target that is being deleted, which might disrupt instances or applications using those mounts. To avoid applications getting cut off abruptly, you might consider unmounting any mounts of the mount target, if feasible. The operation also deletes the associated network interface. Uncommitted writes might be lost, but breaking a mount target using this operation does not corrupt the file system itself. The file system you created remains. You can mount an EC2 instance in your VPC by using another mount target.</p> <p>This operation requires permissions for the following action on the file system:</p> <ul> <li> <p> <code>elasticfilesystem:DeleteMountTarget</code> </p> </li> </ul> <note> <p>The <code>DeleteMountTarget</code> call returns while the mount target state is still <code>deleting</code>. You can check the mount target deletion by calling the <a>DescribeMountTargets</a> operation, which returns a list of mount target descriptions for the given file system. </p> </note> <p>The operation also requires permissions for the following Amazon EC2 action on the mount target's network interface:</p> <ul> <li> <p> <code>ec2:DeleteNetworkInterface</code> </p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The service timed out trying to fulfill the request, and the client should try the call again.</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "MountTargetNotFoundException",
        "documentation" : "<p>Returned if there is no mount target with the specified ID found in the caller's account.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMountTargetRequest",
        "variableName" : "deleteMountTargetRequest",
        "variableType" : "DeleteMountTargetRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteMountTargetRequest",
        "variableSetterType" : "DeleteMountTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMountTarget",
      "operationName" : "DeleteMountTarget",
      "returnType" : {
        "returnType" : "DeleteMountTargetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMountTargetResult"
    },
    "DeleteTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTagsRequest, DeleteTagsResult>",
      "asyncReturnType" : "DeleteTagsResult",
      "authenticated" : true,
      "deprecated" : true,
      "documentation" : "<p>Deletes the specified tags from a file system. If the <code>DeleteTags</code> request includes a tag key that doesn't exist, Amazon EFS ignores it and doesn't cause an error. For more information about tags and related restrictions, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Tag Restrictions</a> in the <i>AWS Billing and Cost Management User Guide</i>.</p> <p>This operation requires permissions for the <code>elasticfilesystem:DeleteTags</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteTagsRequest",
        "variableName" : "deleteTagsRequest",
        "variableType" : "DeleteTagsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteTagsRequest",
        "variableSetterType" : "DeleteTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTags",
      "operationName" : "DeleteTags",
      "returnType" : {
        "returnType" : "DeleteTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTagsResult"
    },
    "DescribeAccessPoints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccessPointsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccessPointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccessPointsRequest, DescribeAccessPointsResult>",
      "asyncReturnType" : "DescribeAccessPointsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the description of a specific Amazon EFS access point if the <code>AccessPointId</code> is provided. If you provide an EFS <code>FileSystemId</code>, it returns descriptions of all access points for that file system. You can provide either an <code>AccessPointId</code> or a <code>FileSystemId</code> in the request, but not both. </p> <p>This operation requires permissions for the <code>elasticfilesystem:DescribeAccessPoints</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessPointNotFoundException",
        "documentation" : "<p>Returned if the specified <code>AccessPointId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAccessPointsRequest",
        "variableName" : "describeAccessPointsRequest",
        "variableType" : "DescribeAccessPointsRequest",
        "documentation" : "",
        "simpleType" : "DescribeAccessPointsRequest",
        "variableSetterType" : "DescribeAccessPointsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAccessPoints",
      "operationName" : "DescribeAccessPoints",
      "returnType" : {
        "returnType" : "DescribeAccessPointsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAccessPointsResult"
    },
    "DescribeFileSystemPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFileSystemPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFileSystemPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFileSystemPolicyRequest, DescribeFileSystemPolicyResult>",
      "asyncReturnType" : "DescribeFileSystemPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the <code>FileSystemPolicy</code> for the specified EFS file system.</p> <p>This operation requires permissions for the <code>elasticfilesystem:DescribeFileSystemPolicy</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "PolicyNotFoundException",
        "documentation" : "<p>Returned if the default file system policy is in effect for the EFS file system specified.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFileSystemPolicyRequest",
        "variableName" : "describeFileSystemPolicyRequest",
        "variableType" : "DescribeFileSystemPolicyRequest",
        "documentation" : "",
        "simpleType" : "DescribeFileSystemPolicyRequest",
        "variableSetterType" : "DescribeFileSystemPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFileSystemPolicy",
      "operationName" : "DescribeFileSystemPolicy",
      "returnType" : {
        "returnType" : "DescribeFileSystemPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFileSystemPolicyResult"
    },
    "DescribeFileSystems" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFileSystemsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFileSystemsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFileSystemsRequest, DescribeFileSystemsResult>",
      "asyncReturnType" : "DescribeFileSystemsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the description of a specific Amazon EFS file system if either the file system <code>CreationToken</code> or the <code>FileSystemId</code> is provided. Otherwise, it returns descriptions of all file systems owned by the caller's AWS account in the AWS Region of the endpoint that you're calling.</p> <p>When retrieving all file system descriptions, you can optionally specify the <code>MaxItems</code> parameter to limit the number of descriptions in a response. Currently, this number is automatically set to 10. If more file system descriptions remain, Amazon EFS returns a <code>NextMarker</code>, an opaque token, in the response. In this case, you should send a subsequent request with the <code>Marker</code> request parameter set to the value of <code>NextMarker</code>. </p> <p>To retrieve a list of your file system descriptions, this operation is used in an iterative process, where <code>DescribeFileSystems</code> is called first without the <code>Marker</code> and then the operation continues to call it with the <code>Marker</code> parameter set to the value of the <code>NextMarker</code> from the previous response until the response has no <code>NextMarker</code>. </p> <p> The order of file systems returned in the response of one <code>DescribeFileSystems</code> call and the order of file systems returned across the responses of a multi-call iteration is unspecified. </p> <p> This operation requires permissions for the <code>elasticfilesystem:DescribeFileSystems</code> action. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFileSystemsRequest",
        "variableName" : "describeFileSystemsRequest",
        "variableType" : "DescribeFileSystemsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeFileSystemsRequest",
        "variableSetterType" : "DescribeFileSystemsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFileSystems",
      "operationName" : "DescribeFileSystems",
      "returnType" : {
        "returnType" : "DescribeFileSystemsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFileSystemsResult"
    },
    "DescribeLifecycleConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLifecycleConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLifecycleConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLifecycleConfigurationRequest, DescribeLifecycleConfigurationResult>",
      "asyncReturnType" : "DescribeLifecycleConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the current <code>LifecycleConfiguration</code> object for the specified Amazon EFS file system. EFS lifecycle management uses the <code>LifecycleConfiguration</code> object to identify which files to move to the EFS Infrequent Access (IA) storage class. For a file system without a <code>LifecycleConfiguration</code> object, the call returns an empty array in the response.</p> <p>This operation requires permissions for the <code>elasticfilesystem:DescribeLifecycleConfiguration</code> operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeLifecycleConfigurationRequest",
        "variableName" : "describeLifecycleConfigurationRequest",
        "variableType" : "DescribeLifecycleConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeLifecycleConfigurationRequest",
        "variableSetterType" : "DescribeLifecycleConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLifecycleConfiguration",
      "operationName" : "DescribeLifecycleConfiguration",
      "returnType" : {
        "returnType" : "DescribeLifecycleConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeLifecycleConfigurationResult"
    },
    "DescribeMountTargetSecurityGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMountTargetSecurityGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMountTargetSecurityGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMountTargetSecurityGroupsRequest, DescribeMountTargetSecurityGroupsResult>",
      "asyncReturnType" : "DescribeMountTargetSecurityGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the security groups currently in effect for a mount target. This operation requires that the network interface of the mount target has been created and the lifecycle state of the mount target is not <code>deleted</code>.</p> <p>This operation requires permissions for the following actions:</p> <ul> <li> <p> <code>elasticfilesystem:DescribeMountTargetSecurityGroups</code> action on the mount target's file system. </p> </li> <li> <p> <code>ec2:DescribeNetworkInterfaceAttribute</code> action on the mount target's network interface. </p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "MountTargetNotFoundException",
        "documentation" : "<p>Returned if there is no mount target with the specified ID found in the caller's account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "IncorrectMountTargetStateException",
        "documentation" : "<p>Returned if the mount target is not in the correct state for the operation.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeMountTargetSecurityGroupsRequest",
        "variableName" : "describeMountTargetSecurityGroupsRequest",
        "variableType" : "DescribeMountTargetSecurityGroupsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeMountTargetSecurityGroupsRequest",
        "variableSetterType" : "DescribeMountTargetSecurityGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeMountTargetSecurityGroups",
      "operationName" : "DescribeMountTargetSecurityGroups",
      "returnType" : {
        "returnType" : "DescribeMountTargetSecurityGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeMountTargetSecurityGroupsResult"
    },
    "DescribeMountTargets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMountTargetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMountTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMountTargetsRequest, DescribeMountTargetsResult>",
      "asyncReturnType" : "DescribeMountTargetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the descriptions of all the current mount targets, or a specific mount target, for a file system. When requesting all of the current mount targets, the order of mount targets returned in the response is unspecified.</p> <p>This operation requires permissions for the <code>elasticfilesystem:DescribeMountTargets</code> action, on either the file system ID that you specify in <code>FileSystemId</code>, or on the file system of the mount target that you specify in <code>MountTargetId</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "MountTargetNotFoundException",
        "documentation" : "<p>Returned if there is no mount target with the specified ID found in the caller's account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessPointNotFoundException",
        "documentation" : "<p>Returned if the specified <code>AccessPointId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeMountTargetsRequest",
        "variableName" : "describeMountTargetsRequest",
        "variableType" : "DescribeMountTargetsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeMountTargetsRequest",
        "variableSetterType" : "DescribeMountTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeMountTargets",
      "operationName" : "DescribeMountTargets",
      "returnType" : {
        "returnType" : "DescribeMountTargetsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeMountTargetsResult"
    },
    "DescribeTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "asyncReturnType" : "DescribeTagsResult",
      "authenticated" : true,
      "deprecated" : true,
      "documentation" : "<p>Returns the tags associated with a file system. The order of tags returned in the response of one <code>DescribeTags</code> call and the order of tags returned across the responses of a multiple-call iteration (when using pagination) is unspecified. </p> <p> This operation requires permissions for the <code>elasticfilesystem:DescribeTags</code> action. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTagsRequest",
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTags",
      "operationName" : "DescribeTags",
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeTagsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all tags for a top-level EFS resource. You must provide the ID of the resource that you want to retrieve the tags for.</p> <p>This operation requires permissions for the <code>elasticfilesystem:DescribeAccessPoints</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessPointNotFoundException",
        "documentation" : "<p>Returned if the specified <code>AccessPointId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ModifyMountTargetSecurityGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyMountTargetSecurityGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyMountTargetSecurityGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyMountTargetSecurityGroupsRequest, ModifyMountTargetSecurityGroupsResult>",
      "asyncReturnType" : "ModifyMountTargetSecurityGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the set of security groups in effect for a mount target.</p> <p>When you create a mount target, Amazon EFS also creates a new network interface. For more information, see <a>CreateMountTarget</a>. This operation replaces the security groups in effect for the network interface associated with a mount target, with the <code>SecurityGroups</code> provided in the request. This operation requires that the network interface of the mount target has been created and the lifecycle state of the mount target is not <code>deleted</code>. </p> <p>The operation requires permissions for the following actions:</p> <ul> <li> <p> <code>elasticfilesystem:ModifyMountTargetSecurityGroups</code> action on the mount target's file system. </p> </li> <li> <p> <code>ec2:ModifyNetworkInterfaceAttribute</code> action on the mount target's network interface. </p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "MountTargetNotFoundException",
        "documentation" : "<p>Returned if there is no mount target with the specified ID found in the caller's account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "IncorrectMountTargetStateException",
        "documentation" : "<p>Returned if the mount target is not in the correct state for the operation.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "SecurityGroupLimitExceededException",
        "documentation" : "<p>Returned if the size of <code>SecurityGroups</code> specified in the request is greater than five.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "SecurityGroupNotFoundException",
        "documentation" : "<p>Returned if one of the specified security groups doesn't exist in the subnet's VPC.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ModifyMountTargetSecurityGroupsRequest",
        "variableName" : "modifyMountTargetSecurityGroupsRequest",
        "variableType" : "ModifyMountTargetSecurityGroupsRequest",
        "documentation" : "<p/>",
        "simpleType" : "ModifyMountTargetSecurityGroupsRequest",
        "variableSetterType" : "ModifyMountTargetSecurityGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyMountTargetSecurityGroups",
      "operationName" : "ModifyMountTargetSecurityGroups",
      "returnType" : {
        "returnType" : "ModifyMountTargetSecurityGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ModifyMountTargetSecurityGroupsResult"
    },
    "PutFileSystemPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutFileSystemPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutFileSystemPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutFileSystemPolicyRequest, PutFileSystemPolicyResult>",
      "asyncReturnType" : "PutFileSystemPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Applies an Amazon EFS <code>FileSystemPolicy</code> to an Amazon EFS file system. A file system policy is an IAM resource-based policy and can contain multiple policy statements. A file system always has exactly one file system policy, which can be the default policy or an explicit policy set or updated using this API operation. When an explicit policy is set, it overrides the default policy. For more information about the default file system policy, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/res-based-policies-efs.html\">Using Resource-based Policies with EFS</a>. </p> <p>This operation requires permissions for the <code>elasticfilesystem:PutFileSystemPolicy</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidPolicyException",
        "documentation" : "<p>Returned if the <code>FileSystemPolicy</code> is is malformed or contains an error such as an invalid parameter value or a missing required parameter. Returned in the case of a policy lockout safety check error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IncorrectFileSystemLifeCycleStateException",
        "documentation" : "<p>Returned if the file system's lifecycle state is not \"available\".</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutFileSystemPolicyRequest",
        "variableName" : "putFileSystemPolicyRequest",
        "variableType" : "PutFileSystemPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutFileSystemPolicyRequest",
        "variableSetterType" : "PutFileSystemPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putFileSystemPolicy",
      "operationName" : "PutFileSystemPolicy",
      "returnType" : {
        "returnType" : "PutFileSystemPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutFileSystemPolicyResult"
    },
    "PutLifecycleConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutLifecycleConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutLifecycleConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutLifecycleConfigurationRequest, PutLifecycleConfigurationResult>",
      "asyncReturnType" : "PutLifecycleConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables lifecycle management by creating a new <code>LifecycleConfiguration</code> object. A <code>LifecycleConfiguration</code> object defines when files in an Amazon EFS file system are automatically transitioned to the lower-cost EFS Infrequent Access (IA) storage class. A <code>LifecycleConfiguration</code> applies to all files in a file system.</p> <p>Each Amazon EFS file system supports one lifecycle configuration, which applies to all files in the file system. If a <code>LifecycleConfiguration</code> object already exists for the specified file system, a <code>PutLifecycleConfiguration</code> call modifies the existing configuration. A <code>PutLifecycleConfiguration</code> call with an empty <code>LifecyclePolicies</code> array in the request body deletes any existing <code>LifecycleConfiguration</code> and disables lifecycle management.</p> <p>In the request, specify the following: </p> <ul> <li> <p>The ID for the file system for which you are enabling, disabling, or modifying lifecycle management.</p> </li> <li> <p>A <code>LifecyclePolicies</code> array of <code>LifecyclePolicy</code> objects that define when files are moved to the IA storage class. The array can contain only one <code>LifecyclePolicy</code> item.</p> </li> </ul> <p>This operation requires permissions for the <code>elasticfilesystem:PutLifecycleConfiguration</code> operation.</p> <p>To apply a <code>LifecycleConfiguration</code> object to an encrypted file system, you need the same AWS Key Management Service (AWS KMS) permissions as when you created the encrypted file system. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "IncorrectFileSystemLifeCycleStateException",
        "documentation" : "<p>Returned if the file system's lifecycle state is not \"available\".</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutLifecycleConfigurationRequest",
        "variableName" : "putLifecycleConfigurationRequest",
        "variableType" : "PutLifecycleConfigurationRequest",
        "documentation" : "",
        "simpleType" : "PutLifecycleConfigurationRequest",
        "variableSetterType" : "PutLifecycleConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putLifecycleConfiguration",
      "operationName" : "PutLifecycleConfiguration",
      "returnType" : {
        "returnType" : "PutLifecycleConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutLifecycleConfigurationResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a tag for an EFS resource. You can create tags for EFS file systems and access points using this API operation.</p> <p>This operation requires permissions for the <code>elasticfilesystem:TagResource</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessPointNotFoundException",
        "documentation" : "<p>Returned if the specified <code>AccessPointId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from an EFS resource. You can remove tags from EFS file systems and access points using this API operation.</p> <p>This operation requires permissions for the <code>elasticfilesystem:UntagResource</code> action.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessPointNotFoundException",
        "documentation" : "<p>Returned if the specified <code>AccessPointId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateFileSystem" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFileSystemResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFileSystemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFileSystemRequest, UpdateFileSystemResult>",
      "asyncReturnType" : "UpdateFileSystemResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the throughput mode or the amount of provisioned throughput of an existing file system.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> value doesn't exist in the requester's AWS account.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "IncorrectFileSystemLifeCycleStateException",
        "documentation" : "<p>Returned if the file system's lifecycle state is not \"available\".</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InsufficientThroughputCapacityException",
        "documentation" : "<p>Returned if there's not enough capacity to provision additional throughput. This value might be returned when you try to create a file system in provisioned throughput mode, when you attempt to increase the provisioned throughput of an existing file system, or when you attempt to change an existing file system from bursting to provisioned throughput mode.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThroughputLimitExceededException",
        "documentation" : "<p>Returned if the throughput mode or amount of provisioned throughput can't be changed because the throughput limit of 1024 MiB/s has been reached.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>Returned if you don’t wait at least 24 hours before changing the throughput mode, or decreasing the Provisioned Throughput value.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFileSystemRequest",
        "variableName" : "updateFileSystemRequest",
        "variableType" : "UpdateFileSystemRequest",
        "documentation" : "",
        "simpleType" : "UpdateFileSystemRequest",
        "variableSetterType" : "UpdateFileSystemRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFileSystem",
      "operationName" : "UpdateFileSystem",
      "returnType" : {
        "returnType" : "UpdateFileSystemResult",
        "documentation" : "<p>A description of the file system.</p>"
      },
      "syncReturnType" : "UpdateFileSystemResult"
    }
  },
  "shapes" : {
    "AccessPointAlreadyExistsException" : {
      "c2jName" : "AccessPointAlreadyExists",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Returned if the access point you are trying to create already exists, with the creation token you provided in the request.</p>",
      "enums" : null,
      "errorCode" : "AccessPointAlreadyExists",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ErrorCode",
        "c2jShape" : "ErrorCode",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withErrorCode",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getErrorCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ErrorCode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ErrorCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ErrorCode",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param errorCode */",
        "setterMethodName" : "setErrorCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AccessPointId",
        "c2jShape" : "AccessPointId",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param accessPointId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccessPointId",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getAccessPointId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AccessPointId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AccessPointId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccessPointId",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param accessPointId */",
        "setterMethodName" : "setAccessPointId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accessPointId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param accessPointId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accessPointId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AccessPointId" : {
          "c2jName" : "AccessPointId",
          "c2jShape" : "AccessPointId",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param accessPointId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAccessPointId",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getAccessPointId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AccessPointId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AccessPointId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AccessPointId",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param accessPointId */",
          "setterMethodName" : "setAccessPointId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accessPointId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param accessPointId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accessPointId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ErrorCode" : {
          "c2jName" : "ErrorCode",
          "c2jShape" : "ErrorCode",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withErrorCode",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getErrorCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ErrorCode",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ErrorCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ErrorCode",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param errorCode */",
          "setterMethodName" : "setErrorCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "errorCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "errorCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ErrorCode", "AccessPointId" ],
      "shapeName" : "AccessPointAlreadyExistsException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessPointAlreadyExistsException",
        "variableName" : "accessPointAlreadyExistsException",
        "variableType" : "AccessPointAlreadyExistsException",
        "documentation" : null,
        "simpleType" : "AccessPointAlreadyExistsException",
        "variableSetterType" : "AccessPointAlreadyExistsException"
      },
      "wrapper" : false
    },
    "AccessPointDescription" : {
      "c2jName" : "AccessPointDescription",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Provides a description of an EFS file system access point.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ClientToken",
        "c2jShape" : "ClientToken",
        "deprecated" : false,
        "documentation" : "<p>The opaque string specified in the request to ensure idempotent creation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The opaque string specified in the request to ensure idempotent creation.</p>\n@param clientToken The opaque string specified in the request to ensure idempotent creation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p>The opaque string specified in the request to ensure idempotent creation.</p>\n@return The opaque string specified in the request to ensure idempotent creation.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ClientToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ClientToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The opaque string specified in the request to ensure idempotent creation.</p>\n@param clientToken The opaque string specified in the request to ensure idempotent creation.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The opaque string specified in the request to ensure idempotent creation.</p>\n@param clientToken The opaque string specified in the request to ensure idempotent creation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "<p>The opaque string specified in the request to ensure idempotent creation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Name",
        "c2jShape" : "Name",
        "deprecated" : false,
        "documentation" : "<p>The name of the access point. This is the value of the <code>Name</code> tag.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the access point. This is the value of the <code>Name</code> tag.</p>\n@param name The name of the access point. This is the value of the <code>Name</code> tag.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the access point. This is the value of the <code>Name</code> tag.</p>\n@return The name of the access point. This is the value of the <code>Name</code> tag.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the access point. This is the value of the <code>Name</code> tag.</p>\n@param name The name of the access point. This is the value of the <code>Name</code> tag.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the access point. This is the value of the <code>Name</code> tag.</p>\n@param name The name of the access point. This is the value of the <code>Name</code> tag.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the access point. This is the value of the <code>Name</code> tag.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Tags",
        "c2jShape" : "Tags",
        "deprecated" : false,
[...]
