{
  "authorizers" : { },
  "metadata" : {
    "apiVersion" : "2015-12-01",
    "endpointPrefix" : "elasticloadbalancing",
    "jsonVersion" : null,
    "protocol" : "query",
    "resultWrapped" : false,
    "serviceAbbreviation" : "Elastic Load Balancing v2",
    "serviceFullName" : "Elastic Load Balancing",
    "signatureVersion" : "v4",
    "signingName" : "elasticloadbalancing",
    "targetPrefix" : null,
    "uid" : "elasticloadbalancingv2-2015-12-01",
    "xmlNamespace" : "http://elasticloadbalancing.amazonaws.com/doc/2015-12-01/"
  },
  "operations" : {
    "AddTags" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Adds the specified tags to the specified resource. You can tag your Application Load Balancers and your target groups.</p> <p>Each tag consists of a key and an optional value. If a resource already has a tag with the same key, <code>AddTags</code> updates its value.</p> <p>To list the current tags for your resources, use <a>DescribeTags</a>. To remove tags from your resources, use <a>RemoveTags</a>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DuplicateTagKeysException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyTagsException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LoadBalancerNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TargetGroupNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "AddTagsInput",
        "xmlNamespace" : null
      },
      "name" : "AddTags",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "AddTagsResult",
        "shape" : "AddTagsOutput"
      }
    },
    "CreateListener" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a listener for the specified Application Load Balancer.</p> <p>You can create up to 10 listeners per load balancer.</p> <p>To update a listener, use <a>ModifyListener</a>. When you are finished with a listener, you can delete it using <a>DeleteListener</a>. If you are finished with both the listener and the load balancer, you can delete them both using <a>DeleteLoadBalancer</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html\">Listeners for Your Application Load Balancers</a> in the <i>Application Load Balancers Guide</i>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DuplicateListenerException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyListenersException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyCertificatesException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LoadBalancerNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TargetGroupNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TargetGroupAssociationLimitException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidConfigurationRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "IncompatibleProtocolsException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SSLPolicyNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "CertificateNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnsupportedProtocolException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRegistrationsForTargetIdException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateListenerInput",
        "xmlNamespace" : null
      },
      "name" : "CreateListener",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "CreateListenerResult",
        "shape" : "CreateListenerOutput"
      }
    },
    "CreateLoadBalancer" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates an Application Load Balancer.</p> <p>When you create a load balancer, you can specify security groups, subnets, IP address type, and tags. Otherwise, you could do so later using <a>SetSecurityGroups</a>, <a>SetSubnets</a>, <a>SetIpAddressType</a>, and <a>AddTags</a>.</p> <p>To create listeners for your load balancer, use <a>CreateListener</a>. To describe your current load balancers, see <a>DescribeLoadBalancers</a>. When you are finished with a load balancer, you can delete it using <a>DeleteLoadBalancer</a>.</p> <p>You can create up to 20 load balancers per region per account. You can request an increase for the number of load balancers for your account. For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-limits.html\">Limits for Your Application Load Balancer</a> in the <i>Application Load Balancers Guide</i>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html\">Application Load Balancers</a> in the <i>Application Load Balancers Guide</i>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DuplicateLoadBalancerNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyLoadBalancersException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidConfigurationRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SubnetNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidSubnetException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidSecurityGroupException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidSchemeException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyTagsException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DuplicateTagKeysException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateLoadBalancerInput",
        "xmlNamespace" : null
      },
      "name" : "CreateLoadBalancer",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "CreateLoadBalancerResult",
        "shape" : "CreateLoadBalancerOutput"
      }
    },
    "CreateRule" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a rule for the specified listener.</p> <p>Each rule can have one action and one condition. Rules are evaluated in priority order, from the lowest value to the highest value. When the condition for a rule is met, the specified action is taken. If no conditions are met, the default action for the default rule is taken. For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html#listener-rules\">Listener Rules</a> in the <i>Application Load Balancers Guide</i>.</p> <p>To view your current rules, use <a>DescribeRules</a>. To update a rule, use <a>ModifyRule</a>. To set the priorities of your rules, use <a>SetRulePriorities</a>. To delete a rule, use <a>DeleteRule</a>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "PriorityInUseException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyTargetGroupsException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRulesException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TargetGroupAssociationLimitException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ListenerNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TargetGroupNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidConfigurationRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRegistrationsForTargetIdException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateRuleInput",
        "xmlNamespace" : null
      },
      "name" : "CreateRule",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "CreateRuleResult",
        "shape" : "CreateRuleOutput"
      }
    },
    "CreateTargetGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a target group.</p> <p>To register targets with the target group, use <a>RegisterTargets</a>. To update the health check settings for the target group, use <a>ModifyTargetGroup</a>. To monitor the health of targets in the target group, use <a>DescribeTargetHealth</a>.</p> <p>To route traffic to the targets in a target group, specify the target group in an action using <a>CreateListener</a> or <a>CreateRule</a>.</p> <p>To delete a target group, use <a>DeleteTargetGroup</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html\">Target Groups for Your Application Load Balancers</a> in the <i>Application Load Balancers Guide</i>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DuplicateTargetGroupNameException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyTargetGroupsException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateTargetGroupInput",
        "xmlNamespace" : null
      },
      "name" : "CreateTargetGroup",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "CreateTargetGroupResult",
        "shape" : "CreateTargetGroupOutput"
      }
    },
    "DeleteListener" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified listener.</p> <p>Alternatively, your listener is deleted when you delete the load balancer it is attached to using <a>DeleteLoadBalancer</a>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ListenerNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteListenerInput",
        "xmlNamespace" : null
      },
      "name" : "DeleteListener",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DeleteListenerResult",
        "shape" : "DeleteListenerOutput"
      }
    },
    "DeleteLoadBalancer" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified Application Load Balancer and its attached listeners.</p> <p>You can't delete a load balancer if deletion protection is enabled. If the load balancer does not exist or has already been deleted, the call succeeds.</p> <p>Deleting a load balancer does not affect its registered targets. For example, your EC2 instances continue to run and are still registered to their target groups. If you no longer need these EC2 instances, you can stop or terminate them.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LoadBalancerNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "OperationNotPermittedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteLoadBalancerInput",
        "xmlNamespace" : null
      },
      "name" : "DeleteLoadBalancer",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DeleteLoadBalancerResult",
        "shape" : "DeleteLoadBalancerOutput"
      }
    },
    "DeleteRule" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified rule.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "RuleNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "OperationNotPermittedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteRuleInput",
        "xmlNamespace" : null
      },
      "name" : "DeleteRule",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DeleteRuleResult",
        "shape" : "DeleteRuleOutput"
      }
    },
    "DeleteTargetGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified target group.</p> <p>You can delete a target group if it is not referenced by any actions. Deleting a target group also deletes any associated health checks.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ResourceInUseException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteTargetGroupInput",
        "xmlNamespace" : null
      },
      "name" : "DeleteTargetGroup",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DeleteTargetGroupResult",
        "shape" : "DeleteTargetGroupOutput"
      }
    },
    "DeregisterTargets" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deregisters the specified targets from the specified target group. After the targets are deregistered, they no longer receive traffic from the load balancer.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TargetGroupNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidTargetException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeregisterTargetsInput",
        "xmlNamespace" : null
      },
      "name" : "DeregisterTargets",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DeregisterTargetsResult",
        "shape" : "DeregisterTargetsOutput"
      }
    },
    "DescribeListeners" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Describes the specified listeners or the listeners for the specified Application Load Balancer. You must specify either a load balancer or one or more listeners.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ListenerNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LoadBalancerNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeListenersInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeListeners",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeListenersResult",
        "shape" : "DescribeListenersOutput"
      }
    },
    "DescribeLoadBalancerAttributes" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Describes the attributes for the specified Application Load Balancer.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LoadBalancerNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeLoadBalancerAttributesInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeLoadBalancerAttributes",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeLoadBalancerAttributesResult",
        "shape" : "DescribeLoadBalancerAttributesOutput"
      }
    },
    "DescribeLoadBalancers" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Describes the specified Application Load Balancers or all of your Application Load Balancers.</p> <p>To describe the listeners for a load balancer, use <a>DescribeListeners</a>. To describe the attributes for a load balancer, use <a>DescribeLoadBalancerAttributes</a>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LoadBalancerNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeLoadBalancersInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeLoadBalancers",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeLoadBalancersResult",
        "shape" : "DescribeLoadBalancersOutput"
      }
    },
    "DescribeRules" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Describes the specified rules or the rules for the specified listener. You must specify either a listener or one or more rules.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ListenerNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "RuleNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeRulesInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeRules",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeRulesResult",
        "shape" : "DescribeRulesOutput"
      }
    },
    "DescribeSSLPolicies" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Describes the specified policies or all policies used for SSL negotiation.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#describe-ssl-policies\">Security Policies</a> in the <i>Application Load Balancers Guide</i>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SSLPolicyNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeSSLPoliciesInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeSSLPolicies",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeSSLPoliciesResult",
        "shape" : "DescribeSSLPoliciesOutput"
      }
    },
    "DescribeTags" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Describes the tags for the specified resources. You can describe the tags for one or more Application Load Balancers and target groups.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LoadBalancerNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TargetGroupNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ListenerNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "RuleNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeTagsInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeTags",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeTagsResult",
        "shape" : "DescribeTagsOutput"
      }
    },
    "DescribeTargetGroupAttributes" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Describes the attributes for the specified target group.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TargetGroupNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeTargetGroupAttributesInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeTargetGroupAttributes",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeTargetGroupAttributesResult",
        "shape" : "DescribeTargetGroupAttributesOutput"
      }
    },
    "DescribeTargetGroups" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Describes the specified target groups or all of your target groups. By default, all target groups are described. Alternatively, you can specify one of the following to filter the results: the ARN of the load balancer, the names of one or more target groups, or the ARNs of one or more target groups.</p> <p>To describe the targets for a target group, use <a>DescribeTargetHealth</a>. To describe the attributes of a target group, use <a>DescribeTargetGroupAttributes</a>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LoadBalancerNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TargetGroupNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeTargetGroupsInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeTargetGroups",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeTargetGroupsResult",
        "shape" : "DescribeTargetGroupsOutput"
      }
    },
    "DescribeTargetHealth" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Describes the health of the specified targets or all of your targets.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidTargetException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TargetGroupNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "HealthUnavailableException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeTargetHealthInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeTargetHealth",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "DescribeTargetHealthResult",
        "shape" : "DescribeTargetHealthOutput"
      }
    },
    "ModifyListener" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Modifies the specified properties of the specified listener.</p> <p>Any properties that you do not specify retain their current values. However, changing the protocol from HTTPS to HTTP removes the security policy and SSL certificate properties. If you change the protocol from HTTP to HTTPS, you must add the security policy and server certificate.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "DuplicateListenerException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyListenersException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyCertificatesException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ListenerNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TargetGroupNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TargetGroupAssociationLimitException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "IncompatibleProtocolsException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SSLPolicyNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "CertificateNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidConfigurationRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnsupportedProtocolException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRegistrationsForTargetIdException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ModifyListenerInput",
        "xmlNamespace" : null
      },
      "name" : "ModifyListener",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "ModifyListenerResult",
        "shape" : "ModifyListenerOutput"
      }
    },
    "ModifyLoadBalancerAttributes" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Modifies the specified attributes of the specified Application Load Balancer.</p> <p>If any of the specified attributes can't be modified as requested, the call fails. Any existing attributes that you do not modify retain their current values.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LoadBalancerNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidConfigurationRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ModifyLoadBalancerAttributesInput",
        "xmlNamespace" : null
      },
      "name" : "ModifyLoadBalancerAttributes",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "ModifyLoadBalancerAttributesResult",
        "shape" : "ModifyLoadBalancerAttributesOutput"
      }
    },
    "ModifyRule" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Modifies the specified rule.</p> <p>Any existing properties that you do not modify retain their current values.</p> <p>To modify the default action, use <a>ModifyListener</a>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TargetGroupAssociationLimitException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "RuleNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "OperationNotPermittedException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRegistrationsForTargetIdException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ModifyRuleInput",
        "xmlNamespace" : null
      },
      "name" : "ModifyRule",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "ModifyRuleResult",
        "shape" : "ModifyRuleOutput"
      }
    },
    "ModifyTargetGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Modifies the health checks used when evaluating the health state of the targets in the specified target group.</p> <p>To monitor the health of the targets, use <a>DescribeTargetHealth</a>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TargetGroupNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ModifyTargetGroupInput",
        "xmlNamespace" : null
      },
      "name" : "ModifyTargetGroup",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "ModifyTargetGroupResult",
        "shape" : "ModifyTargetGroupOutput"
      }
    },
    "ModifyTargetGroupAttributes" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Modifies the specified attributes of the specified target group.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TargetGroupNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ModifyTargetGroupAttributesInput",
        "xmlNamespace" : null
      },
      "name" : "ModifyTargetGroupAttributes",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "ModifyTargetGroupAttributesResult",
        "shape" : "ModifyTargetGroupAttributesOutput"
      }
    },
    "RegisterTargets" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Registers the specified targets with the specified target group.</p> <p>By default, the load balancer routes requests to registered targets using the protocol and port number for the target group. Alternatively, you can override the port for a target when you register it.</p> <p>The target must be in the virtual private cloud (VPC) that you specified for the target group. If the target is an EC2 instance, it must be in the <code>running</code> state when you register it.</p> <p>To remove a target from a target group, use <a>DeregisterTargets</a>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TargetGroupNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyTargetsException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidTargetException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyRegistrationsForTargetIdException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "RegisterTargetsInput",
        "xmlNamespace" : null
      },
      "name" : "RegisterTargets",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "RegisterTargetsResult",
        "shape" : "RegisterTargetsOutput"
      }
    },
    "RemoveTags" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags from the specified resource.</p> <p>To list the current tags for your resources, use <a>DescribeTags</a>.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LoadBalancerNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TargetGroupNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ListenerNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "RuleNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TooManyTagsException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "RemoveTagsInput",
        "xmlNamespace" : null
      },
      "name" : "RemoveTags",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "RemoveTagsResult",
        "shape" : "RemoveTagsOutput"
      }
    },
    "SetIpAddressType" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Sets the type of IP addresses used by the subnets of the specified Application Load Balancer.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LoadBalancerNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidConfigurationRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidSubnetException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "SetIpAddressTypeInput",
        "xmlNamespace" : null
      },
      "name" : "SetIpAddressType",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "SetIpAddressTypeResult",
        "shape" : "SetIpAddressTypeOutput"
      }
    },
    "SetRulePriorities" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Sets the priorities of the specified rules.</p> <p>You can reorder the rules as long as there are no priority conflicts in the new order. Any existing rules that you do not specify retain their current priority.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "RuleNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "PriorityInUseException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "OperationNotPermittedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "SetRulePrioritiesInput",
        "xmlNamespace" : null
      },
      "name" : "SetRulePriorities",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "SetRulePrioritiesResult",
        "shape" : "SetRulePrioritiesOutput"
      }
    },
    "SetSecurityGroups" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Associates the specified security groups with the specified load balancer. The specified security groups override the previously associated security groups.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LoadBalancerNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidConfigurationRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidSecurityGroupException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "SetSecurityGroupsInput",
        "xmlNamespace" : null
      },
      "name" : "SetSecurityGroups",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "SetSecurityGroupsResult",
        "shape" : "SetSecurityGroupsOutput"
      }
    },
    "SetSubnets" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Enables the Availability Zone for the specified subnets for the specified load balancer. The specified subnets replace the previously enabled subnets.</p>",
      "errors" : [ {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LoadBalancerNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidConfigurationRequestException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "SubnetNotFoundException"
      }, {
        "documentation" : null,
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidSubnetException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "SetSubnetsInput",
        "xmlNamespace" : null
      },
      "name" : "SetSubnets",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : "SetSubnetsResult",
        "shape" : "SetSubnetsOutput"
      }
    }
  },
  "shapes" : {
    "Action" : {
      "deprecated" : false,
      "documentation" : "<p>Information about an action.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "TargetGroupArn" : {
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the target group.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "TargetGroupArn",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Type" : {
          "deprecated" : false,
          "documentation" : "<p>The type of action.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ActionTypeEnum",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "Type", "TargetGroupArn" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ActionTypeEnum" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : [ "forward" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "Actions" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "Action",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "AddTagsInput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "ResourceArns" : {
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the resource.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ResourceArns",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Tags" : {
          "deprecated" : false,
          "documentation" : "<p>The tags. Each resource can have a maximum of 10 tags.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "TagList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "ResourceArns", "Tags" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AddTagsOutput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AvailabilityZone" : {
      "deprecated" : false,
      "documentation" : "<p>Information about an Availability Zone.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "SubnetId" : {
          "deprecated" : false,
          "documentation" : "<p>The ID of the subnet.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "SubnetId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "ZoneName" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the Availability Zone.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ZoneName",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AvailabilityZones" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "AvailabilityZone",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "CanonicalHostedZoneId" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "Certificate" : {
      "deprecated" : false,
      "documentation" : "<p>Information about an SSL server certificate deployed on a load balancer.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "CertificateArn" : {
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the certificate.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "CertificateArn",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CertificateArn" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "CertificateList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "Certificate",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "CertificateNotFoundException" : {
      "deprecated" : false,
      "documentation" : "<p>The specified certificate does not exist.</p>",
      "enum" : null,
      "error" : {
        "code" : "CertificateNotFound",
        "httpStatusCode" : 400
      },
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "Cipher" : {
      "deprecated" : false,
      "documentation" : "<p>Information about a cipher used in a policy.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Name" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the cipher.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "CipherName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Priority" : {
          "deprecated" : false,
          "documentation" : "<p>The priority of the cipher.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "CipherPriority",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CipherName" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "CipherPriority" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "integer",
      "value" : null,
      "wrapper" : false
    },
    "Ciphers" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "jsonvalue" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "Cipher",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "ConditionFieldName" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 64,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "CreateListenerInput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Certificates" : {
          "deprecated" : false,
          "documentation" : "<p>The SSL server certificate. You must provide exactly one certificate if the protocol is HTTPS.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "CertificateList",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DefaultActions" : {
          "deprecated" : false,
          "documentation" : "<p>The default action for the listener.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Actions",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LoadBalancerArn" : {
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the load balancer.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "LoadBalancerArn",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Port" : {
          "deprecated" : false,
          "documentation" : "<p>The port on which the load balancer is listening.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Port",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Protocol" : {
          "deprecated" : false,
          "documentation" : "<p>The protocol for connections from clients to the load balancer.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ProtocolEnum",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "SslPolicy" : {
          "deprecated" : false,
          "documentation" : "<p>The security policy that defines which ciphers and protocols are supported. The default is the current predefined security policy.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "SslPolicyName",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "LoadBalancerArn", "Protocol", "Port", "DefaultActions" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateListenerOutput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Listeners" : {
          "deprecated" : false,
          "documentation" : "<p>Information about the listener.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Listeners",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateLoadBalancerInput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "IpAddressType" : {
          "deprecated" : false,
          "documentation" : "<p>The type of IP addresses used by the subnets for your load balancer. The possible values are <code>ipv4</code> (for IPv4 addresses) and <code>dualstack</code> (for IPv4 and IPv6 addresses). Internal load balancers must use <code>ipv4</code>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "IpAddressType",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Name" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the load balancer.</p> <p>This name must be unique per region per account, can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, and must not begin or end with a hyphen.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "LoadBalancerName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Scheme" : {
          "deprecated" : false,
          "documentation" : "<p>The nodes of an Internet-facing load balancer have public IP addresses. The DNS name of an Internet-facing load balancer is publicly resolvable to the public IP addresses of the nodes. Therefore, Internet-facing load balancers can route requests from clients over the Internet.</p> <p>The nodes of an internal load balancer have only private IP addresses. The DNS name of an internal load balancer is publicly resolvable to the private IP addresses of the nodes. Therefore, internal load balancers can only route requests from clients with access to the VPC for the load balancer.</p> <p>The default is an Internet-facing load balancer.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "LoadBalancerSchemeEnum",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "SecurityGroups" : {
          "deprecated" : false,
          "documentation" : "<p>The IDs of the security groups to assign to the load balancer.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "SecurityGroups",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Subnets" : {
          "deprecated" : false,
          "documentation" : "<p>The IDs of the subnets to attach to the load balancer. You can specify only one subnet per Availability Zone. You must specify subnets from at least two Availability Zones.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Subnets",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Tags" : {
          "deprecated" : false,
          "documentation" : "<p>One or more tags to assign to the load balancer.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "TagList",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "Name", "Subnets" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateLoadBalancerOutput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "LoadBalancers" : {
          "deprecated" : false,
          "documentation" : "<p>Information about the load balancer.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "LoadBalancers",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateRuleInput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Actions" : {
          "deprecated" : false,
          "documentation" : "<p>An action. Each action has the type <code>forward</code> and specifies a target group.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Actions",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Conditions" : {
          "deprecated" : false,
          "documentation" : "<p>A condition. Each condition specifies a field name and a single value.</p> <p>If the field name is <code>host-header</code>, you can specify a single host name (for example, my.example.com). A host name is case insensitive, can be up to 128 characters in length, and can contain any of the following characters. Note that you can include up to three wildcard characters.</p> <ul> <li> <p>A-Z, a-z, 0-9</p> </li> <li> <p>- .</p> </li> <li> <p>* (matches 0 or more characters)</p> </li> <li> <p>? (matches exactly 1 character)</p> </li> </ul> <p>If the field name is <code>path-pattern</code>, you can specify a single path pattern. A path pattern is case sensitive, can be up to 128 characters in length, and can contain any of the following characters. Note that you can include up to three wildcard characters.</p> <ul> <li> <p>A-Z, a-z, 0-9</p> </li> <li> <p>_ - . $ / ~ \" ' @ : +</p> </li> <li> <p>&amp; (using &amp;amp;)</p> </li> <li> <p>* (matches 0 or more characters)</p> </li> <li> <p>? (matches exactly 1 character)</p> </li> </ul>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "RuleConditionList",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "ListenerArn" : {
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the listener.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ListenerArn",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Priority" : {
          "deprecated" : false,
          "documentation" : "<p>The priority for the rule. A listener can't have multiple rules with the same priority.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "RulePriority",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "ListenerArn", "Conditions", "Priority", "Actions" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateRuleOutput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Rules" : {
          "deprecated" : false,
          "documentation" : "<p>Information about the rule.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Rules",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateTargetGroupInput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "HealthCheckIntervalSeconds" : {
          "deprecated" : false,
          "documentation" : "<p>The approximate amount of time, in seconds, between health checks of an individual target. The default is 30 seconds.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "HealthCheckIntervalSeconds",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "HealthCheckPath" : {
          "deprecated" : false,
          "documentation" : "<p>The ping path that is the destination on the targets for health checks. The default is /.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Path",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "HealthCheckPort" : {
          "deprecated" : false,
          "documentation" : "<p>The port the load balancer uses when performing health checks on targets. The default is <code>traffic-port</code>, which indicates the port on which each target receives traffic from the load balancer.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "HealthCheckPort",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "HealthCheckProtocol" : {
          "deprecated" : false,
          "documentation" : "<p>The protocol the load balancer uses when performing health checks on targets. The default is the HTTP protocol.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ProtocolEnum",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "HealthCheckTimeoutSeconds" : {
          "deprecated" : false,
          "documentation" : "<p>The amount of time, in seconds, during which no response from a target means a failed health check. The default is 5 seconds.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "HealthCheckTimeoutSeconds",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "HealthyThresholdCount" : {
          "deprecated" : false,
          "documentation" : "<p>The number of consecutive health checks successes required before considering an unhealthy target healthy. The default is 5.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "HealthCheckThresholdCount",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Matcher" : {
          "deprecated" : false,
          "documentation" : "<p>The HTTP codes to use when checking for a successful response from a target. The default is 200.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Matcher",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Name" : {
          "deprecated" : false,
          "documentation" : "<p>The name of the target group.</p> <p>This name must be unique per region per account, can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, and must not begin or end with a hyphen.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "TargetGroupName",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Port" : {
          "deprecated" : false,
          "documentation" : "<p>The port on which the targets receive traffic. This port is used unless you specify a port override when registering the target.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Port",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Protocol" : {
          "deprecated" : false,
          "documentation" : "<p>The protocol to use for routing traffic to the targets.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ProtocolEnum",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "UnhealthyThresholdCount" : {
          "deprecated" : false,
          "documentation" : "<p>The number of consecutive health check failures required before considering a target unhealthy. The default is 2.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "HealthCheckThresholdCount",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "VpcId" : {
          "deprecated" : false,
          "documentation" : "<p>The identifier of the virtual private cloud (VPC).</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "VpcId",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "Name", "Protocol", "Port", "VpcId" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateTargetGroupOutput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "TargetGroups" : {
          "deprecated" : false,
          "documentation" : "<p>Information about the target group.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "TargetGroups",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreatedTime" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "timestamp",
      "value" : null,
      "wrapper" : false
    },
    "DNSName" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "DeleteListenerInput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "ListenerArn" : {
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the listener.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ListenerArn",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "ListenerArn" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DeleteListenerOutput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DeleteLoadBalancerInput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "LoadBalancerArn" : {
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the load balancer.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "LoadBalancerArn",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "LoadBalancerArn" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DeleteLoadBalancerOutput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DeleteRuleInput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "RuleArn" : {
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the rule.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "RuleArn",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "RuleArn" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DeleteRuleOutput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DeleteTargetGroupInput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "TargetGroupArn" : {
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the target group.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "TargetGroupArn",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "TargetGroupArn" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DeleteTargetGroupOutput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DeregisterTargetsInput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "TargetGroupArn" : {
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the target group.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "TargetGroupArn",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Targets" : {
          "deprecated" : false,
          "documentation" : "<p>The targets. If you specified a port override when you registered a target, you must specify both the target ID and the port when you deregister it.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "TargetDescriptions",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "TargetGroupArn", "Targets" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DeregisterTargetsOutput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : { },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DescribeListenersInput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "ListenerArns" : {
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Names (ARN) of the listeners.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ListenerArns",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LoadBalancerArn" : {
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the load balancer.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "LoadBalancerArn",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Marker" : {
          "deprecated" : false,
          "documentation" : "<p>The marker for the next set of results. (You received this marker from a previous call.)</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Marker",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "PageSize" : {
          "deprecated" : false,
          "documentation" : "<p>The maximum number of results to return with this call.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "PageSize",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DescribeListenersOutput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Listeners" : {
          "deprecated" : false,
          "documentation" : "<p>Information about the listeners.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Listeners",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "NextMarker" : {
          "deprecated" : false,
          "documentation" : "<p>The marker to use when requesting the next set of results. If there are no additional results, the string is empty.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Marker",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DescribeLoadBalancerAttributesInput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "LoadBalancerArn" : {
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the load balancer.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "LoadBalancerArn",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "LoadBalancerArn" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DescribeLoadBalancerAttributesOutput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Attributes" : {
          "deprecated" : false,
          "documentation" : "<p>Information about the load balancer attributes.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "LoadBalancerAttributes",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "DescribeLoadBalancersInput" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "LoadBalancerArns" : {
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Names (ARN) of the load balancers. You can specify up to 20 load balancers in a single call.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "LoadBalancerArns",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Marker" : {
          "deprecated" : false,
          "documentation" : "<p>The marker for the next set of results. (You received this marker from a previous call.)</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Marker",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Names" : {
          "deprecated" : false,
          "documentation" : "<p>The names of the load balancers.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "LoadBalancerNames",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "PageSize" : {
[...]
