{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "Action" : [ "Type" ],
      "CreateListenerInput" : [ "Protocol" ],
      "CreateLoadBalancerInput" : [ "Scheme", "IpAddressType" ],
      "CreateTargetGroupInput" : [ "Protocol", "HealthCheckProtocol" ],
      "Listener" : [ "Protocol" ],
      "LoadBalancer" : [ "Scheme", "Type", "IpAddressType" ],
      "LoadBalancerState" : [ "Code" ],
      "ModifyListenerInput" : [ "Protocol" ],
      "ModifyTargetGroupInput" : [ "HealthCheckProtocol" ],
      "SetIpAddressTypeInput" : [ "IpAddressType" ],
      "SetIpAddressTypeOutput" : [ "IpAddressType" ],
      "TargetGroup" : [ "Protocol", "HealthCheckProtocol" ],
      "TargetHealth" : [ "State", "Reason" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-12-01",
    "asyncClient" : "AmazonElasticLoadBalancingAsyncClient",
    "asyncClientBuilderClassName" : "AmazonElasticLoadBalancingAsyncClientBuilder",
    "asyncInterface" : "AmazonElasticLoadBalancingAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonElasticLoadBalancingModuleInjector",
    "defaultEndpoint" : "elasticloadbalancing.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "elasticloadbalancing.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Elastic Load Balancing</fullname> <p>A load balancer distributes incoming traffic across targets, such as your EC2 instances. This enables you to increase the availability of your application. The load balancer also monitors the health of its registered targets and ensures that it routes traffic only to healthy targets. You configure your load balancer to accept incoming traffic by specifying one or more listeners, which are configured with a protocol and port number for connections from clients to the load balancer. You configure a target group with a protocol and port number for connections from the load balancer to the targets, and with health check settings to be used when checking the health status of the targets.</p> <p>Elastic Load Balancing supports the following types of load balancers: Application Load Balancers, Network Load Balancers, and Classic Load Balancers.</p> <p>An Application Load Balancer makes routing and load balancing decisions at the application layer (HTTP/HTTPS). A Network Load Balancer makes routing and load balancing decisions at the transport layer (TCP). Both Application Load Balancers and Network Load Balancers can route requests to one or more ports on each EC2 instance or container instance in your virtual private cloud (VPC).</p> <p>A Classic Load Balancer makes routing and load balancing decisions either at the transport layer (TCP/SSL) or the application layer (HTTP/HTTPS), and supports either EC2-Classic or a VPC. For more information, see the <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/\">Elastic Load Balancing User Guide</a>.</p> <p>This reference covers the 2015-12-01 API, which supports Application Load Balancers and Network Load Balancers. The 2012-06-01 API supports Classic Load Balancers.</p> <p>To get started, complete the following tasks:</p> <ol> <li> <p>Create a load balancer using <a>CreateLoadBalancer</a>.</p> </li> <li> <p>Create a target group using <a>CreateTargetGroup</a>.</p> </li> <li> <p>Register targets for the target group using <a>RegisterTargets</a>.</p> </li> <li> <p>Create one or more listeners for your load balancer using <a>CreateListener</a>.</p> </li> </ol> <p>To delete a load balancer and its related resources, complete the following tasks:</p> <ol> <li> <p>Delete the load balancer using <a>DeleteLoadBalancer</a>.</p> </li> <li> <p>Delete the target group using <a>DeleteTargetGroup</a>.</p> </li> </ol> <p>All Elastic Load Balancing operations are idempotent, which means that they complete at most one time. If you repeat an operation, it succeeds.</p>",
    "endpointPrefix" : "elasticloadbalancing",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : false,
    "jsonVersion" : null,
    "packageName" : "com.amazonaws.services.elasticloadbalancingv2",
    "packagePath" : "com/amazonaws/services/elasticloadbalancingv2",
    "protocol" : "query",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "protocolFactory" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Elastic Load Balancing v2",
    "serviceFullName" : "Elastic Load Balancing",
    "serviceName" : "Elastic Load Balancing v2",
    "signingName" : "elasticloadbalancing",
    "smokeTestsPackageName" : "com.amazonaws.services.elasticloadbalancingv2.smoketests",
    "syncClient" : "AmazonElasticLoadBalancingClient",
    "syncClientBuilderClassName" : "AmazonElasticLoadBalancingClientBuilder",
    "syncInterface" : "AmazonElasticLoadBalancing",
    "uid" : "elasticloadbalancingv2-2015-12-01",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "xmlProtocol" : true
  },
  "operations" : {
    "AddListenerCertificates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddListenerCertificatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddListenerCertificatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddListenerCertificatesRequest, AddListenerCertificatesResult>",
      "asyncReturnType" : "AddListenerCertificatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified certificate to the specified secure listener.</p> <p>If the certificate was already added, the call is successful but the certificate is not added again.</p> <p>To list the certificates for your listener, use <a>DescribeListenerCertificates</a>. To remove certificates from your listener, use <a>RemoveListenerCertificates</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyCertificatesException",
        "documentation" : "<p>You've reached the limit on the number of certificates per load balancer.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "CertificateNotFoundException",
        "documentation" : "<p>The specified certificate does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddListenerCertificatesRequest",
        "variableName" : "addListenerCertificatesRequest",
        "variableType" : "AddListenerCertificatesRequest",
        "documentation" : "",
        "simpleType" : "AddListenerCertificatesRequest",
        "variableSetterType" : "AddListenerCertificatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addListenerCertificates",
      "operationName" : "AddListenerCertificates",
      "returnType" : {
        "returnType" : "AddListenerCertificatesResult",
        "documentation" : null
      },
      "syncReturnType" : "AddListenerCertificatesResult"
    },
    "AddTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsRequest, AddTagsResult>",
      "asyncReturnType" : "AddTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified tags to the specified Elastic Load Balancing resource. You can tag your Application Load Balancers, Network Load Balancers, and your target groups.</p> <p>Each tag consists of a key and an optional value. If a resource already has a tag with the same key, <code>AddTags</code> updates its value.</p> <p>To list the current tags for your resources, use <a>DescribeTags</a>. To remove tags from your resources, use <a>RemoveTags</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "DuplicateTagKeysException",
        "documentation" : "<p>A tag key was specified more than once.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>You've reached the limit on the number of tags per load balancer.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddTagsRequest",
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "documentation" : "",
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addTags",
      "operationName" : "AddTags",
      "returnType" : {
        "returnType" : "AddTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "AddTagsResult"
    },
    "CreateListener" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateListenerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateListenerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateListenerRequest, CreateListenerResult>",
      "asyncReturnType" : "CreateListenerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a listener for the specified Application Load Balancer or Network Load Balancer.</p> <p>You can create up to 10 listeners per load balancer.</p> <p>To update a listener, use <a>ModifyListener</a>. When you are finished with a listener, you can delete it using <a>DeleteListener</a>. If you are finished with both the listener and the load balancer, you can delete them both using <a>DeleteLoadBalancer</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html\">Listeners for Your Application Load Balancers</a> in the <i>Application Load Balancers Guide</i> and <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-listeners.html\">Listeners for Your Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "DuplicateListenerException",
        "documentation" : "<p>A listener with the specified port already exists.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyListenersException",
        "documentation" : "<p>You've reached the limit on the number of listeners per load balancer.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyCertificatesException",
        "documentation" : "<p>You've reached the limit on the number of certificates per load balancer.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TargetGroupAssociationLimitException",
        "documentation" : "<p>You've reached the limit on the number of load balancers per target group.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IncompatibleProtocolsException",
        "documentation" : "<p>The specified configuration is not valid with this protocol.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "SSLPolicyNotFoundException",
        "documentation" : "<p>The specified SSL policy does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "CertificateNotFoundException",
        "documentation" : "<p>The specified certificate does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnsupportedProtocolException",
        "documentation" : "<p>The specified protocol is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRegistrationsForTargetIdException",
        "documentation" : "<p>You've reached the limit on the number of times a target can be registered with a load balancer.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyTargetsException",
        "documentation" : "<p>You've reached the limit on the number of targets.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateListenerRequest",
        "variableName" : "createListenerRequest",
        "variableType" : "CreateListenerRequest",
        "documentation" : "",
        "simpleType" : "CreateListenerRequest",
        "variableSetterType" : "CreateListenerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createListener",
      "operationName" : "CreateListener",
      "returnType" : {
        "returnType" : "CreateListenerResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateListenerResult"
    },
    "CreateLoadBalancer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLoadBalancerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLoadBalancerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLoadBalancerRequest, CreateLoadBalancerResult>",
      "asyncReturnType" : "CreateLoadBalancerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Application Load Balancer or a Network Load Balancer.</p> <p>When you create a load balancer, you can specify security groups, subnets, IP address type, and tags. Otherwise, you could do so later using <a>SetSecurityGroups</a>, <a>SetSubnets</a>, <a>SetIpAddressType</a>, and <a>AddTags</a>.</p> <p>To create listeners for your load balancer, use <a>CreateListener</a>. To describe your current load balancers, see <a>DescribeLoadBalancers</a>. When you are finished with a load balancer, you can delete it using <a>DeleteLoadBalancer</a>.</p> <p>You can create up to 20 load balancers per region per account. You can request an increase for the number of load balancers for your account. For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-limits.html\">Limits for Your Application Load Balancer</a> in the <i>Application Load Balancers Guide</i> and <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-limits.html\">Limits for Your Network Load Balancer</a> in the <i>Network Load Balancers Guide</i>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html\">Application Load Balancers</a> in the <i>Application Load Balancers Guide</i> and <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html\">Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "DuplicateLoadBalancerNameException",
        "documentation" : "<p>A load balancer with the specified name already exists.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyLoadBalancersException",
        "documentation" : "<p>You've reached the limit on the number of load balancers for your AWS account.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "SubnetNotFoundException",
        "documentation" : "<p>The specified subnet does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The specified subnet is out of available addresses.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidSecurityGroupException",
        "documentation" : "<p>The specified security group does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidSchemeException",
        "documentation" : "<p>The requested scheme is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>You've reached the limit on the number of tags per load balancer.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DuplicateTagKeysException",
        "documentation" : "<p>A tag key was specified more than once.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>A specified resource is in use.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AllocationIdNotFoundException",
        "documentation" : "<p>The specified allocation ID does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AvailabilityZoneNotSupportedException",
        "documentation" : "<p>The specified Availability Zone is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateLoadBalancerRequest",
        "variableName" : "createLoadBalancerRequest",
        "variableType" : "CreateLoadBalancerRequest",
        "documentation" : "",
        "simpleType" : "CreateLoadBalancerRequest",
        "variableSetterType" : "CreateLoadBalancerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLoadBalancer",
      "operationName" : "CreateLoadBalancer",
      "returnType" : {
        "returnType" : "CreateLoadBalancerResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLoadBalancerResult"
    },
    "CreateRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRuleRequest, CreateRuleResult>",
      "asyncReturnType" : "CreateRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a rule for the specified listener. The listener must be associated with an Application Load Balancer.</p> <p>Rules are evaluated in priority order, from the lowest value to the highest value. When the condition for a rule is met, the specified action is taken. If no conditions are met, the action for the default rule is taken. For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html#listener-rules\">Listener Rules</a> in the <i>Application Load Balancers Guide</i>.</p> <p>To view your current rules, use <a>DescribeRules</a>. To update a rule, use <a>ModifyRule</a>. To set the priorities of your rules, use <a>SetRulePriorities</a>. To delete a rule, use <a>DeleteRule</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "PriorityInUseException",
        "documentation" : "<p>The specified priority is in use.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyTargetGroupsException",
        "documentation" : "<p>You've reached the limit on the number of target groups for your AWS account.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRulesException",
        "documentation" : "<p>You've reached the limit on the number of rules per load balancer.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TargetGroupAssociationLimitException",
        "documentation" : "<p>You've reached the limit on the number of load balancers per target group.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IncompatibleProtocolsException",
        "documentation" : "<p>The specified configuration is not valid with this protocol.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRegistrationsForTargetIdException",
        "documentation" : "<p>You've reached the limit on the number of times a target can be registered with a load balancer.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyTargetsException",
        "documentation" : "<p>You've reached the limit on the number of targets.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateRuleRequest",
        "variableName" : "createRuleRequest",
        "variableType" : "CreateRuleRequest",
        "documentation" : "",
        "simpleType" : "CreateRuleRequest",
        "variableSetterType" : "CreateRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRule",
      "operationName" : "CreateRule",
      "returnType" : {
        "returnType" : "CreateRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRuleResult"
    },
    "CreateTargetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTargetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTargetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTargetGroupRequest, CreateTargetGroupResult>",
      "asyncReturnType" : "CreateTargetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a target group.</p> <p>To register targets with the target group, use <a>RegisterTargets</a>. To update the health check settings for the target group, use <a>ModifyTargetGroup</a>. To monitor the health of targets in the target group, use <a>DescribeTargetHealth</a>.</p> <p>To route traffic to the targets in a target group, specify the target group in an action using <a>CreateListener</a> or <a>CreateRule</a>.</p> <p>To delete a target group, use <a>DeleteTargetGroup</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html\">Target Groups for Your Application Load Balancers</a> in the <i>Application Load Balancers Guide</i> or <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html\">Target Groups for Your Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "DuplicateTargetGroupNameException",
        "documentation" : "<p>A target group with the specified name already exists.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyTargetGroupsException",
        "documentation" : "<p>You've reached the limit on the number of target groups for your AWS account.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateTargetGroupRequest",
        "variableName" : "createTargetGroupRequest",
        "variableType" : "CreateTargetGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateTargetGroupRequest",
        "variableSetterType" : "CreateTargetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTargetGroup",
      "operationName" : "CreateTargetGroup",
      "returnType" : {
        "returnType" : "CreateTargetGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTargetGroupResult"
    },
    "DeleteListener" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteListenerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteListenerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteListenerRequest, DeleteListenerResult>",
      "asyncReturnType" : "DeleteListenerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified listener.</p> <p>Alternatively, your listener is deleted when you delete the load balancer it is attached to using <a>DeleteLoadBalancer</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteListenerRequest",
        "variableName" : "deleteListenerRequest",
        "variableType" : "DeleteListenerRequest",
        "documentation" : "",
        "simpleType" : "DeleteListenerRequest",
        "variableSetterType" : "DeleteListenerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteListener",
      "operationName" : "DeleteListener",
      "returnType" : {
        "returnType" : "DeleteListenerResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteListenerResult"
    },
    "DeleteLoadBalancer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLoadBalancerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLoadBalancerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLoadBalancerRequest, DeleteLoadBalancerResult>",
      "asyncReturnType" : "DeleteLoadBalancerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified Application Load Balancer or Network Load Balancer and its attached listeners.</p> <p>You can't delete a load balancer if deletion protection is enabled. If the load balancer does not exist or has already been deleted, the call succeeds.</p> <p>Deleting a load balancer does not affect its registered targets. For example, your EC2 instances continue to run and are still registered to their target groups. If you no longer need these EC2 instances, you can stop or terminate them.</p>",
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>A specified resource is in use.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteLoadBalancerRequest",
        "variableName" : "deleteLoadBalancerRequest",
        "variableType" : "DeleteLoadBalancerRequest",
        "documentation" : "",
        "simpleType" : "DeleteLoadBalancerRequest",
        "variableSetterType" : "DeleteLoadBalancerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLoadBalancer",
      "operationName" : "DeleteLoadBalancer",
      "returnType" : {
        "returnType" : "DeleteLoadBalancerResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLoadBalancerResult"
    },
    "DeleteRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRuleRequest, DeleteRuleResult>",
      "asyncReturnType" : "DeleteRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified rule.</p>",
      "exceptions" : [ {
        "exceptionName" : "RuleNotFoundException",
        "documentation" : "<p>The specified rule does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteRuleRequest",
        "variableName" : "deleteRuleRequest",
        "variableType" : "DeleteRuleRequest",
        "documentation" : "",
        "simpleType" : "DeleteRuleRequest",
        "variableSetterType" : "DeleteRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRule",
      "operationName" : "DeleteRule",
      "returnType" : {
        "returnType" : "DeleteRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRuleResult"
    },
    "DeleteTargetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTargetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTargetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTargetGroupRequest, DeleteTargetGroupResult>",
      "asyncReturnType" : "DeleteTargetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified target group.</p> <p>You can delete a target group if it is not referenced by any actions. Deleting a target group also deletes any associated health checks.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>A specified resource is in use.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteTargetGroupRequest",
        "variableName" : "deleteTargetGroupRequest",
        "variableType" : "DeleteTargetGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteTargetGroupRequest",
        "variableSetterType" : "DeleteTargetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTargetGroup",
      "operationName" : "DeleteTargetGroup",
      "returnType" : {
        "returnType" : "DeleteTargetGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTargetGroupResult"
    },
    "DeregisterTargets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterTargetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterTargetsRequest, DeregisterTargetsResult>",
      "asyncReturnType" : "DeregisterTargetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deregisters the specified targets from the specified target group. After the targets are deregistered, they no longer receive traffic from the load balancer.</p>",
      "exceptions" : [ {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidTargetException",
        "documentation" : "<p>The specified target does not exist or is not in the same VPC as the target group.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeregisterTargetsRequest",
        "variableName" : "deregisterTargetsRequest",
        "variableType" : "DeregisterTargetsRequest",
        "documentation" : "",
        "simpleType" : "DeregisterTargetsRequest",
        "variableSetterType" : "DeregisterTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterTargets",
      "operationName" : "DeregisterTargets",
      "returnType" : {
        "returnType" : "DeregisterTargetsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterTargetsResult"
    },
    "DescribeAccountLimits" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountLimitsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountLimitsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountLimitsRequest, DescribeAccountLimitsResult>",
      "asyncReturnType" : "DescribeAccountLimitsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the current Elastic Load Balancing resource limits for your AWS account.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-limits.html\">Limits for Your Application Load Balancers</a> in the <i>Application Load Balancer Guide</i> or <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-limits.html\">Limits for Your Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAccountLimitsRequest",
        "variableName" : "describeAccountLimitsRequest",
        "variableType" : "DescribeAccountLimitsRequest",
        "documentation" : "",
        "simpleType" : "DescribeAccountLimitsRequest",
        "variableSetterType" : "DescribeAccountLimitsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAccountLimits",
      "operationName" : "DescribeAccountLimits",
      "returnType" : {
        "returnType" : "DescribeAccountLimitsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAccountLimitsResult"
    },
    "DescribeListenerCertificates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeListenerCertificatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeListenerCertificatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeListenerCertificatesRequest, DescribeListenerCertificatesResult>",
      "asyncReturnType" : "DescribeListenerCertificatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the certificates for the specified secure listener.</p>",
      "exceptions" : [ {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeListenerCertificatesRequest",
        "variableName" : "describeListenerCertificatesRequest",
        "variableType" : "DescribeListenerCertificatesRequest",
        "documentation" : "",
        "simpleType" : "DescribeListenerCertificatesRequest",
        "variableSetterType" : "DescribeListenerCertificatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeListenerCertificates",
      "operationName" : "DescribeListenerCertificates",
      "returnType" : {
        "returnType" : "DescribeListenerCertificatesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeListenerCertificatesResult"
    },
    "DescribeListeners" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeListenersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeListenersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeListenersRequest, DescribeListenersResult>",
      "asyncReturnType" : "DescribeListenersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified listeners or the listeners for the specified Application Load Balancer or Network Load Balancer. You must specify either a load balancer or one or more listeners.</p>",
      "exceptions" : [ {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeListenersRequest",
        "variableName" : "describeListenersRequest",
        "variableType" : "DescribeListenersRequest",
        "documentation" : "",
        "simpleType" : "DescribeListenersRequest",
        "variableSetterType" : "DescribeListenersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeListeners",
      "operationName" : "DescribeListeners",
      "returnType" : {
        "returnType" : "DescribeListenersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeListenersResult"
    },
    "DescribeLoadBalancerAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoadBalancerAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoadBalancerAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoadBalancerAttributesRequest, DescribeLoadBalancerAttributesResult>",
      "asyncReturnType" : "DescribeLoadBalancerAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the attributes for the specified Application Load Balancer or Network Load Balancer.</p>",
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeLoadBalancerAttributesRequest",
        "variableName" : "describeLoadBalancerAttributesRequest",
        "variableType" : "DescribeLoadBalancerAttributesRequest",
        "documentation" : "",
        "simpleType" : "DescribeLoadBalancerAttributesRequest",
        "variableSetterType" : "DescribeLoadBalancerAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLoadBalancerAttributes",
      "operationName" : "DescribeLoadBalancerAttributes",
      "returnType" : {
        "returnType" : "DescribeLoadBalancerAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeLoadBalancerAttributesResult"
    },
    "DescribeLoadBalancers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoadBalancersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoadBalancersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoadBalancersRequest, DescribeLoadBalancersResult>",
      "asyncReturnType" : "DescribeLoadBalancersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified load balancers or all of your load balancers.</p> <p>To describe the listeners for a load balancer, use <a>DescribeListeners</a>. To describe the attributes for a load balancer, use <a>DescribeLoadBalancerAttributes</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeLoadBalancersRequest",
        "variableName" : "describeLoadBalancersRequest",
        "variableType" : "DescribeLoadBalancersRequest",
        "documentation" : "",
        "simpleType" : "DescribeLoadBalancersRequest",
        "variableSetterType" : "DescribeLoadBalancersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLoadBalancers",
      "operationName" : "DescribeLoadBalancers",
      "returnType" : {
        "returnType" : "DescribeLoadBalancersResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeLoadBalancersResult"
    },
    "DescribeRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRulesRequest, DescribeRulesResult>",
      "asyncReturnType" : "DescribeRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified rules or the rules for the specified listener. You must specify either a listener or one or more rules.</p>",
      "exceptions" : [ {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RuleNotFoundException",
        "documentation" : "<p>The specified rule does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeRulesRequest",
        "variableName" : "describeRulesRequest",
        "variableType" : "DescribeRulesRequest",
        "documentation" : "",
        "simpleType" : "DescribeRulesRequest",
        "variableSetterType" : "DescribeRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRules",
      "operationName" : "DescribeRules",
      "returnType" : {
        "returnType" : "DescribeRulesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRulesResult"
    },
    "DescribeSSLPolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSSLPoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSSLPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSSLPoliciesRequest, DescribeSSLPoliciesResult>",
      "asyncReturnType" : "DescribeSSLPoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified policies or all policies used for SSL negotiation.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#describe-ssl-policies\">Security Policies</a> in the <i>Application Load Balancers Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "SSLPolicyNotFoundException",
        "documentation" : "<p>The specified SSL policy does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeSSLPoliciesRequest",
        "variableName" : "describeSSLPoliciesRequest",
        "variableType" : "DescribeSSLPoliciesRequest",
        "documentation" : "",
        "simpleType" : "DescribeSSLPoliciesRequest",
        "variableSetterType" : "DescribeSSLPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSSLPolicies",
      "operationName" : "DescribeSSLPolicies",
      "returnType" : {
        "returnType" : "DescribeSSLPoliciesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSSLPoliciesResult"
    },
    "DescribeTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "asyncReturnType" : "DescribeTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the tags for the specified resources. You can describe the tags for one or more Application Load Balancers, Network Load Balancers, and target groups.</p>",
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RuleNotFoundException",
        "documentation" : "<p>The specified rule does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTagsRequest",
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "documentation" : "",
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTags",
      "operationName" : "DescribeTags",
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeTagsResult"
    },
    "DescribeTargetGroupAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTargetGroupAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTargetGroupAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTargetGroupAttributesRequest, DescribeTargetGroupAttributesResult>",
      "asyncReturnType" : "DescribeTargetGroupAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the attributes for the specified target group.</p>",
      "exceptions" : [ {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTargetGroupAttributesRequest",
        "variableName" : "describeTargetGroupAttributesRequest",
        "variableType" : "DescribeTargetGroupAttributesRequest",
        "documentation" : "",
        "simpleType" : "DescribeTargetGroupAttributesRequest",
        "variableSetterType" : "DescribeTargetGroupAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTargetGroupAttributes",
      "operationName" : "DescribeTargetGroupAttributes",
      "returnType" : {
        "returnType" : "DescribeTargetGroupAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeTargetGroupAttributesResult"
    },
    "DescribeTargetGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTargetGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTargetGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTargetGroupsRequest, DescribeTargetGroupsResult>",
      "asyncReturnType" : "DescribeTargetGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified target groups or all of your target groups. By default, all target groups are described. Alternatively, you can specify one of the following to filter the results: the ARN of the load balancer, the names of one or more target groups, or the ARNs of one or more target groups.</p> <p>To describe the targets for a target group, use <a>DescribeTargetHealth</a>. To describe the attributes of a target group, use <a>DescribeTargetGroupAttributes</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTargetGroupsRequest",
        "variableName" : "describeTargetGroupsRequest",
        "variableType" : "DescribeTargetGroupsRequest",
        "documentation" : "",
        "simpleType" : "DescribeTargetGroupsRequest",
        "variableSetterType" : "DescribeTargetGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTargetGroups",
      "operationName" : "DescribeTargetGroups",
      "returnType" : {
        "returnType" : "DescribeTargetGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeTargetGroupsResult"
    },
    "DescribeTargetHealth" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTargetHealthResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTargetHealthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTargetHealthRequest, DescribeTargetHealthResult>",
      "asyncReturnType" : "DescribeTargetHealthResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the health of the specified targets or all of your targets.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidTargetException",
        "documentation" : "<p>The specified target does not exist or is not in the same VPC as the target group.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "HealthUnavailableException",
        "documentation" : "<p>The health of the specified targets could not be retrieved due to an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTargetHealthRequest",
        "variableName" : "describeTargetHealthRequest",
        "variableType" : "DescribeTargetHealthRequest",
        "documentation" : "",
        "simpleType" : "DescribeTargetHealthRequest",
        "variableSetterType" : "DescribeTargetHealthRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTargetHealth",
      "operationName" : "DescribeTargetHealth",
      "returnType" : {
        "returnType" : "DescribeTargetHealthResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeTargetHealthResult"
    },
    "ModifyListener" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyListenerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyListenerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyListenerRequest, ModifyListenerResult>",
      "asyncReturnType" : "ModifyListenerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the specified properties of the specified listener.</p> <p>Any properties that you do not specify retain their current values. However, changing the protocol from HTTPS to HTTP removes the security policy and SSL certificate properties. If you change the protocol from HTTP to HTTPS, you must add the security policy and server certificate.</p>",
      "exceptions" : [ {
        "exceptionName" : "DuplicateListenerException",
        "documentation" : "<p>A listener with the specified port already exists.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyListenersException",
        "documentation" : "<p>You've reached the limit on the number of listeners per load balancer.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyCertificatesException",
        "documentation" : "<p>You've reached the limit on the number of certificates per load balancer.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TargetGroupAssociationLimitException",
        "documentation" : "<p>You've reached the limit on the number of load balancers per target group.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IncompatibleProtocolsException",
        "documentation" : "<p>The specified configuration is not valid with this protocol.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "SSLPolicyNotFoundException",
        "documentation" : "<p>The specified SSL policy does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "CertificateNotFoundException",
        "documentation" : "<p>The specified certificate does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnsupportedProtocolException",
        "documentation" : "<p>The specified protocol is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRegistrationsForTargetIdException",
        "documentation" : "<p>You've reached the limit on the number of times a target can be registered with a load balancer.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyTargetsException",
        "documentation" : "<p>You've reached the limit on the number of targets.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyListenerRequest",
        "variableName" : "modifyListenerRequest",
        "variableType" : "ModifyListenerRequest",
        "documentation" : "",
        "simpleType" : "ModifyListenerRequest",
        "variableSetterType" : "ModifyListenerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyListener",
      "operationName" : "ModifyListener",
      "returnType" : {
        "returnType" : "ModifyListenerResult",
        "documentation" : null
      },
      "syncReturnType" : "ModifyListenerResult"
    },
    "ModifyLoadBalancerAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyLoadBalancerAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyLoadBalancerAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyLoadBalancerAttributesRequest, ModifyLoadBalancerAttributesResult>",
      "asyncReturnType" : "ModifyLoadBalancerAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the specified attributes of the specified Application Load Balancer or Network Load Balancer.</p> <p>If any of the specified attributes can't be modified as requested, the call fails. Any existing attributes that you do not modify retain their current values.</p>",
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyLoadBalancerAttributesRequest",
        "variableName" : "modifyLoadBalancerAttributesRequest",
        "variableType" : "ModifyLoadBalancerAttributesRequest",
        "documentation" : "",
        "simpleType" : "ModifyLoadBalancerAttributesRequest",
        "variableSetterType" : "ModifyLoadBalancerAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyLoadBalancerAttributes",
      "operationName" : "ModifyLoadBalancerAttributes",
      "returnType" : {
        "returnType" : "ModifyLoadBalancerAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "ModifyLoadBalancerAttributesResult"
    },
    "ModifyRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyRuleRequest, ModifyRuleResult>",
      "asyncReturnType" : "ModifyRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the specified rule.</p> <p>Any existing properties that you do not modify retain their current values.</p> <p>To modify the default action, use <a>ModifyListener</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "TargetGroupAssociationLimitException",
        "documentation" : "<p>You've reached the limit on the number of load balancers per target group.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IncompatibleProtocolsException",
        "documentation" : "<p>The specified configuration is not valid with this protocol.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RuleNotFoundException",
        "documentation" : "<p>The specified rule does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRegistrationsForTargetIdException",
        "documentation" : "<p>You've reached the limit on the number of times a target can be registered with a load balancer.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyTargetsException",
        "documentation" : "<p>You've reached the limit on the number of targets.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyRuleRequest",
        "variableName" : "modifyRuleRequest",
        "variableType" : "ModifyRuleRequest",
        "documentation" : "",
        "simpleType" : "ModifyRuleRequest",
        "variableSetterType" : "ModifyRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyRule",
      "operationName" : "ModifyRule",
      "returnType" : {
        "returnType" : "ModifyRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "ModifyRuleResult"
    },
    "ModifyTargetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyTargetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyTargetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyTargetGroupRequest, ModifyTargetGroupResult>",
      "asyncReturnType" : "ModifyTargetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the health checks used when evaluating the health state of the targets in the specified target group.</p> <p>To monitor the health of the targets, use <a>DescribeTargetHealth</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyTargetGroupRequest",
        "variableName" : "modifyTargetGroupRequest",
        "variableType" : "ModifyTargetGroupRequest",
        "documentation" : "",
        "simpleType" : "ModifyTargetGroupRequest",
        "variableSetterType" : "ModifyTargetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyTargetGroup",
      "operationName" : "ModifyTargetGroup",
      "returnType" : {
        "returnType" : "ModifyTargetGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "ModifyTargetGroupResult"
    },
    "ModifyTargetGroupAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyTargetGroupAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyTargetGroupAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyTargetGroupAttributesRequest, ModifyTargetGroupAttributesResult>",
      "asyncReturnType" : "ModifyTargetGroupAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the specified attributes of the specified target group.</p>",
      "exceptions" : [ {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyTargetGroupAttributesRequest",
        "variableName" : "modifyTargetGroupAttributesRequest",
        "variableType" : "ModifyTargetGroupAttributesRequest",
        "documentation" : "",
        "simpleType" : "ModifyTargetGroupAttributesRequest",
        "variableSetterType" : "ModifyTargetGroupAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyTargetGroupAttributes",
      "operationName" : "ModifyTargetGroupAttributes",
      "returnType" : {
        "returnType" : "ModifyTargetGroupAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "ModifyTargetGroupAttributesResult"
    },
    "RegisterTargets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterTargetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterTargetsRequest, RegisterTargetsResult>",
      "asyncReturnType" : "RegisterTargetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers the specified targets with the specified target group.</p> <p>You can register targets by instance ID or by IP address. If the target is an EC2 instance, it must be in the <code>running</code> state when you register it.</p> <p>By default, the load balancer routes requests to registered targets using the protocol and port for the target group. Alternatively, you can override the port for a target when you register it. You can register each EC2 instance or IP address with the same target group multiple times using different ports.</p> <p>With a Network Load Balancer, you cannot register instances by instance ID if they have the following instance types: C1, CC1, CC2, CG1, CG2, CR1, CS1, G1, G2, HI1, HS1, M1, M2, M3, and T1. You can register instances of these types by IP address.</p> <p>To remove a target from a target group, use <a>DeregisterTargets</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyTargetsException",
        "documentation" : "<p>You've reached the limit on the number of targets.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidTargetException",
        "documentation" : "<p>The specified target does not exist or is not in the same VPC as the target group.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyRegistrationsForTargetIdException",
        "documentation" : "<p>You've reached the limit on the number of times a target can be registered with a load balancer.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RegisterTargetsRequest",
        "variableName" : "registerTargetsRequest",
        "variableType" : "RegisterTargetsRequest",
        "documentation" : "",
        "simpleType" : "RegisterTargetsRequest",
        "variableSetterType" : "RegisterTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerTargets",
      "operationName" : "RegisterTargets",
      "returnType" : {
        "returnType" : "RegisterTargetsResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterTargetsResult"
    },
    "RemoveListenerCertificates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveListenerCertificatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveListenerCertificatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveListenerCertificatesRequest, RemoveListenerCertificatesResult>",
      "asyncReturnType" : "RemoveListenerCertificatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified certificate from the specified secure listener.</p> <p>You can't remove the default certificate for a listener. To replace the default certificate, call <a>ModifyListener</a>.</p> <p>To list the certificates for your listener, use <a>DescribeListenerCertificates</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemoveListenerCertificatesRequest",
        "variableName" : "removeListenerCertificatesRequest",
        "variableType" : "RemoveListenerCertificatesRequest",
        "documentation" : "",
        "simpleType" : "RemoveListenerCertificatesRequest",
        "variableSetterType" : "RemoveListenerCertificatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeListenerCertificates",
      "operationName" : "RemoveListenerCertificates",
      "returnType" : {
        "returnType" : "RemoveListenerCertificatesResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveListenerCertificatesResult"
    },
    "RemoveTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsRequest, RemoveTagsResult>",
      "asyncReturnType" : "RemoveTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags from the specified Elastic Load Balancing resource.</p> <p>To list the current tags for your resources, use <a>DescribeTags</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RuleNotFoundException",
        "documentation" : "<p>The specified rule does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>You've reached the limit on the number of tags per load balancer.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemoveTagsRequest",
        "variableName" : "removeTagsRequest",
        "variableType" : "RemoveTagsRequest",
        "documentation" : "",
        "simpleType" : "RemoveTagsRequest",
        "variableSetterType" : "RemoveTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeTags",
      "operationName" : "RemoveTags",
      "returnType" : {
        "returnType" : "RemoveTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveTagsResult"
    },
    "SetIpAddressType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetIpAddressTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetIpAddressTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetIpAddressTypeRequest, SetIpAddressTypeResult>",
      "asyncReturnType" : "SetIpAddressTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the type of IP addresses used by the subnets of the specified Application Load Balancer or Network Load Balancer.</p> <p>Note that Network Load Balancers must use <code>ipv4</code>.</p>",
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The specified subnet is out of available addresses.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetIpAddressTypeRequest",
        "variableName" : "setIpAddressTypeRequest",
        "variableType" : "SetIpAddressTypeRequest",
        "documentation" : "",
        "simpleType" : "SetIpAddressTypeRequest",
        "variableSetterType" : "SetIpAddressTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setIpAddressType",
      "operationName" : "SetIpAddressType",
      "returnType" : {
        "returnType" : "SetIpAddressTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "SetIpAddressTypeResult"
    },
    "SetRulePriorities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetRulePrioritiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetRulePrioritiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetRulePrioritiesRequest, SetRulePrioritiesResult>",
      "asyncReturnType" : "SetRulePrioritiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the priorities of the specified rules.</p> <p>You can reorder the rules as long as there are no priority conflicts in the new order. Any existing rules that you do not specify retain their current priority.</p>",
      "exceptions" : [ {
        "exceptionName" : "RuleNotFoundException",
        "documentation" : "<p>The specified rule does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PriorityInUseException",
        "documentation" : "<p>The specified priority is in use.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetRulePrioritiesRequest",
        "variableName" : "setRulePrioritiesRequest",
        "variableType" : "SetRulePrioritiesRequest",
        "documentation" : "",
        "simpleType" : "SetRulePrioritiesRequest",
        "variableSetterType" : "SetRulePrioritiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setRulePriorities",
      "operationName" : "SetRulePriorities",
      "returnType" : {
        "returnType" : "SetRulePrioritiesResult",
        "documentation" : null
      },
      "syncReturnType" : "SetRulePrioritiesResult"
    },
    "SetSecurityGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetSecurityGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetSecurityGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetSecurityGroupsRequest, SetSecurityGroupsResult>",
      "asyncReturnType" : "SetSecurityGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates the specified security groups with the specified Application Load Balancer. The specified security groups override the previously associated security groups.</p> <p>Note that you can't specify a security group for a Network Load Balancer.</p>",
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidSecurityGroupException",
        "documentation" : "<p>The specified security group does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetSecurityGroupsRequest",
        "variableName" : "setSecurityGroupsRequest",
        "variableType" : "SetSecurityGroupsRequest",
        "documentation" : "",
        "simpleType" : "SetSecurityGroupsRequest",
        "variableSetterType" : "SetSecurityGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setSecurityGroups",
      "operationName" : "SetSecurityGroups",
      "returnType" : {
        "returnType" : "SetSecurityGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "SetSecurityGroupsResult"
    },
    "SetSubnets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetSubnetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetSubnetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetSubnetsRequest, SetSubnetsResult>",
      "asyncReturnType" : "SetSubnetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables the Availability Zone for the specified subnets for the specified Application Load Balancer. The specified subnets replace the previously enabled subnets.</p> <p>Note that you can't change the subnets for a Network Load Balancer.</p>",
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "SubnetNotFoundException",
        "documentation" : "<p>The specified subnet does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The specified subnet is out of available addresses.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AllocationIdNotFoundException",
        "documentation" : "<p>The specified allocation ID does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AvailabilityZoneNotSupportedException",
        "documentation" : "<p>The specified Availability Zone is not supported.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetSubnetsRequest",
        "variableName" : "setSubnetsRequest",
        "variableType" : "SetSubnetsRequest",
        "documentation" : "",
        "simpleType" : "SetSubnetsRequest",
        "variableSetterType" : "SetSubnetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setSubnets",
      "operationName" : "SetSubnets",
      "returnType" : {
        "returnType" : "SetSubnetsResult",
        "documentation" : null
      },
      "syncReturnType" : "SetSubnetsResult"
    }
  },
  "shapes" : {
    "Action" : {
      "c2jName" : "Action",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Information about an action.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Type",
        "c2jShape" : "ActionTypeEnum",
        "deprecated" : false,
        "documentation" : "<p>The type of action.</p>",
        "enumType" : "ActionTypeEnum",
        "fluentSetterDocumentation" : "/**<p>The type of action.</p>\n@param type The type of action.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ActionTypeEnum*/",
        "fluentSetterMethodName" : "withType",
        "getterDocumentation" : "/**<p>The type of action.</p>\n@return The type of action.\n@see ActionTypeEnum*/",
        "getterMethodName" : "getType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Type",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Type",
        "setterDocumentation" : "/**<p>The type of action.</p>\n@param type The type of action.\n@see ActionTypeEnum*/",
        "setterMethodName" : "setType",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of action.</p>\n@param type The type of action.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ActionTypeEnum*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "<p>The type of action.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TargetGroupArn",
        "c2jShape" : "TargetGroupArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the target group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the target group.</p>\n@param targetGroupArn The Amazon Resource Name (ARN) of the target group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTargetGroupArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the target group.</p>\n@return The Amazon Resource Name (ARN) of the target group.*/",
        "getterMethodName" : "getTargetGroupArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TargetGroupArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TargetGroupArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TargetGroupArn",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the target group.</p>\n@param targetGroupArn The Amazon Resource Name (ARN) of the target group.*/",
        "setterMethodName" : "setTargetGroupArn",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "targetGroupArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the target group.</p>\n@param targetGroupArn The Amazon Resource Name (ARN) of the target group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "targetGroupArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the target group.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "TargetGroupArn" : {
          "c2jName" : "TargetGroupArn",
          "c2jShape" : "TargetGroupArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the target group.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the target group.</p>\n@param targetGroupArn The Amazon Resource Name (ARN) of the target group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTargetGroupArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the target group.</p>\n@return The Amazon Resource Name (ARN) of the target group.*/",
          "getterMethodName" : "getTargetGroupArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "TargetGroupArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TargetGroupArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "TargetGroupArn",
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the target group.</p>\n@param targetGroupArn The Amazon Resource Name (ARN) of the target group.*/",
          "setterMethodName" : "setTargetGroupArn",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "targetGroupArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the target group.</p>\n@param targetGroupArn The Amazon Resource Name (ARN) of the target group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "targetGroupArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the target group.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Type" : {
          "c2jName" : "Type",
          "c2jShape" : "ActionTypeEnum",
          "deprecated" : false,
          "documentation" : "<p>The type of action.</p>",
          "enumType" : "ActionTypeEnum",
          "fluentSetterDocumentation" : "/**<p>The type of action.</p>\n@param type The type of action.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ActionTypeEnum*/",
          "fluentSetterMethodName" : "withType",
          "getterDocumentation" : "/**<p>The type of action.</p>\n@return The type of action.\n@see ActionTypeEnum*/",
          "getterMethodName" : "getType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Type",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Type",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Type",
          "setterDocumentation" : "/**<p>The type of action.</p>\n@param type The type of action.\n@see ActionTypeEnum*/",
          "setterMethodName" : "setType",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The type of action.</p>\n@param type The type of action.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ActionTypeEnum*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "<p>The type of action.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Type", "TargetGroupArn" ],
      "shapeName" : "Action",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Action",
        "variableName" : "action",
        "variableType" : "Action",
        "documentation" : null,
        "simpleType" : "Action",
        "variableSetterType" : "Action"
      },
      "wrapper" : false
    },
    "ActionTypeEnum" : {
      "c2jName" : "ActionTypeEnum",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "Forward",
        "value" : "forward"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ActionTypeEnum",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ActionTypeEnum",
        "variableName" : "actionTypeEnum",
        "variableType" : "ActionTypeEnum",
        "documentation" : null,
        "simpleType" : "ActionTypeEnum",
        "variableSetterType" : "ActionTypeEnum"
      },
      "wrapper" : false
    },
    "AddListenerCertificatesRequest" : {
      "c2jName" : "AddListenerCertificatesInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddListenerCertificates",
        "locationName" : null,
        "requestUri" : "/",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ListenerArn",
        "c2jShape" : "ListenerArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the listener.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the listener.</p>\n@param listenerArn The Amazon Resource Name (ARN) of the listener.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withListenerArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the listener.</p>\n@return The Amazon Resource Name (ARN) of the listener.*/",
        "getterMethodName" : "getListenerArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ListenerArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ListenerArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ListenerArn",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the listener.</p>\n@param listenerArn The Amazon Resource Name (ARN) of the listener.*/",
        "setterMethodName" : "setListenerArn",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "listenerArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the listener.</p>\n@param listenerArn The Amazon Resource Name (ARN) of the listener.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "listenerArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the listener.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Certificates",
        "c2jShape" : "CertificateList",
        "deprecated" : false,
        "documentation" : "<p>The certificate to add. You can specify one certificate per call.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The certificate to add. You can specify one certificate per call.</p>\n@param certificates The certificate to add. You can specify one certificate per call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCertificates",
        "getterDocumentation" : "/**<p>The certificate to add. You can specify one certificate per call.</p>\n@return The certificate to add. You can specify one certificate per call.*/",
        "getterMethodName" : "getCertificates",
        "getterModel" : {
          "returnType" : "java.util.List<Certificate>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
[...]
