{
  "customizationConfig" : {
    "additionalShapeConstructors" : {
      "CheckDNSAvailabilityRequest" : {
        "constructorForms" : [ [ "CNAMEPrefix" ] ]
      },
      "ConfigurationOptionSetting" : {
        "constructorForms" : [ [ "Namespace", "OptionName", "Value" ] ]
      },
      "CreateApplicationRequest" : {
        "constructorForms" : [ [ "ApplicationName" ] ]
      },
      "CreateApplicationVersionRequest" : {
        "constructorForms" : [ [ "ApplicationName", "VersionLabel" ] ]
      },
      "CreateConfigurationTemplateRequest" : {
        "constructorForms" : [ [ "ApplicationName", "TemplateName" ] ]
      },
      "CreateEnvironmentRequest" : {
        "constructorForms" : [ [ "ApplicationName", "EnvironmentName" ] ]
      },
      "DeleteApplicationRequest" : {
        "constructorForms" : [ [ "ApplicationName" ] ]
      },
      "DeleteApplicationVersionRequest" : {
        "constructorForms" : [ [ "ApplicationName", "VersionLabel" ] ]
      },
      "DeleteConfigurationTemplateRequest" : {
        "constructorForms" : [ [ "ApplicationName", "TemplateName" ] ]
      },
      "DeleteEnvironmentConfigurationRequest" : {
        "constructorForms" : [ [ "ApplicationName", "EnvironmentName" ] ]
      },
      "DescribeConfigurationSettingsRequest" : {
        "constructorForms" : [ [ "ApplicationName" ] ]
      },
      "RequestEnvironmentInfoRequest" : {
        "constructorForms" : [ [ "InfoType" ] ]
      },
      "RetrieveEnvironmentInfoRequest" : {
        "constructorForms" : [ [ "InfoType" ] ]
      },
      "S3Location" : {
        "constructorForms" : [ [ "S3Bucket", "S3Key" ] ]
      },
      "UpdateApplicationRequest" : {
        "constructorForms" : [ [ "ApplicationName" ] ]
      },
      "UpdateApplicationVersionRequest" : {
        "constructorForms" : [ [ "ApplicationName", "VersionLabel" ] ]
      },
      "UpdateConfigurationTemplateRequest" : {
        "constructorForms" : [ [ "ApplicationName", "TemplateName" ] ]
      },
      "ValidateConfigurationSettingsRequest" : {
        "constructorForms" : [ [ "ApplicationName", "OptionSettings" ] ]
      }
    },
    "authPolicyActions" : {
      "actionPrefix" : "elasticbeanstalk",
      "fileNamePrefix" : "ElasticBeanstalk",
      "skip" : false
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "AbortEnvironmentUpdate" : {
        "methodForms" : [ [ ] ]
      },
      "CreateStorageLocation" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeApplicationVersions" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeApplications" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeEnvironments" : {
        "methodForms" : [ [ ] ]
      },
      "DescribeEvents" : {
        "methodForms" : [ [ ] ]
      },
      "ListAvailableSolutionStacks" : {
        "methodForms" : [ [ ] ]
      },
      "SwapEnvironmentCNAMEs" : {
        "methodForms" : [ [ ] ]
      }
    },
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2010-12-01",
    "asyncClient" : "AWSElasticBeanstalkAsyncClient",
    "asyncClientBuilderClassName" : "AWSElasticBeanstalkAsyncClientBuilder",
    "asyncInterface" : "AWSElasticBeanstalkAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSElasticBeanstalkModuleInjector",
    "defaultEndpoint" : "https://elasticbeanstalk.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "elasticbeanstalk.us-east-1.amazonaws.com",
    "documentation" : "<fullname>AWS Elastic Beanstalk</fullname> <p>AWS Elastic Beanstalk makes it easy for you to create, deploy, and manage scalable, fault-tolerant applications running on the Amazon Web Services cloud.</p> <p>For more information about this product, go to the <a href=\"http://aws.amazon.com/elasticbeanstalk/\">AWS Elastic Beanstalk</a> details page. The location of the latest AWS Elastic Beanstalk WSDL is <a href=\"http://elasticbeanstalk.s3.amazonaws.com/doc/2010-12-01/AWSElasticBeanstalk.wsdl\">http://elasticbeanstalk.s3.amazonaws.com/doc/2010-12-01/AWSElasticBeanstalk.wsdl</a>. To install the Software Development Kits (SDKs), Integrated Development Environment (IDE) Toolkits, and command line tools that enable you to access the API, go to <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p> <p> <b>Endpoints</b> </p> <p>For a list of region-specific endpoints that AWS Elastic Beanstalk supports, go to <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticbeanstalk_region\">Regions and Endpoints</a> in the <i>Amazon Web Services Glossary</i>.</p>",
    "endpointPrefix" : "elasticbeanstalk",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : false,
    "jsonVersion" : null,
    "packageName" : "com.amazonaws.services.elasticbeanstalk",
    "packagePath" : "com/amazonaws/services/elasticbeanstalk",
    "protocol" : "query",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : "Elastic Beanstalk",
    "serviceFullName" : "AWS Elastic Beanstalk",
    "serviceName" : "Elastic Beanstalk",
    "signingName" : "elasticbeanstalk",
    "smokeTestsPackageName" : "com.amazonaws.services.elasticbeanstalk.smoketests",
    "syncClient" : "AWSElasticBeanstalkClient",
    "syncClientBuilderClassName" : "AWSElasticBeanstalkClientBuilder",
    "syncInterface" : "AWSElasticBeanstalk",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "xmlProtocol" : true
  },
  "operations" : {
    "AbortEnvironmentUpdate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AbortEnvironmentUpdateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AbortEnvironmentUpdateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AbortEnvironmentUpdateRequest, AbortEnvironmentUpdateResult>",
      "asyncReturnType" : "AbortEnvironmentUpdateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels in-progress environment configuration update or application version deployment.</p>",
      "exceptions" : [ {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AbortEnvironmentUpdateRequest",
        "variableName" : "abortEnvironmentUpdateRequest",
        "variableType" : "AbortEnvironmentUpdateRequest",
        "documentation" : "<p/>",
        "simpleType" : "AbortEnvironmentUpdateRequest",
        "variableSetterType" : "AbortEnvironmentUpdateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "abortEnvironmentUpdate",
      "operationName" : "AbortEnvironmentUpdate",
      "returnType" : {
        "returnType" : "AbortEnvironmentUpdateResult",
        "documentation" : null
      },
      "syncReturnType" : "AbortEnvironmentUpdateResult"
    },
    "ApplyEnvironmentManagedAction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ApplyEnvironmentManagedActionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ApplyEnvironmentManagedActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ApplyEnvironmentManagedActionRequest, ApplyEnvironmentManagedActionResult>",
      "asyncReturnType" : "ApplyEnvironmentManagedActionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Applies a scheduled managed action immediately. A managed action can be applied only if its status is <code>Scheduled</code>. Get the status and action ID of a managed action with <a>DescribeEnvironmentManagedActions</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ElasticBeanstalkServiceException",
        "documentation" : "<p>A generic service exception has occurred.</p>"
      }, {
        "exceptionName" : "ManagedActionInvalidStateException",
        "documentation" : "<p>Cannot modify the managed action in its current state.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ApplyEnvironmentManagedActionRequest",
        "variableName" : "applyEnvironmentManagedActionRequest",
        "variableType" : "ApplyEnvironmentManagedActionRequest",
        "documentation" : "<p>Request to execute a scheduled managed action immediately.</p>",
        "simpleType" : "ApplyEnvironmentManagedActionRequest",
        "variableSetterType" : "ApplyEnvironmentManagedActionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "applyEnvironmentManagedAction",
      "operationName" : "ApplyEnvironmentManagedAction",
      "returnType" : {
        "returnType" : "ApplyEnvironmentManagedActionResult",
        "documentation" : "<p>The result message containing information about the managed action.</p>"
      },
      "syncReturnType" : "ApplyEnvironmentManagedActionResult"
    },
    "CheckDNSAvailability" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CheckDNSAvailabilityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CheckDNSAvailabilityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CheckDNSAvailabilityRequest, CheckDNSAvailabilityResult>",
      "asyncReturnType" : "CheckDNSAvailabilityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Checks if the specified CNAME is available.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CheckDNSAvailabilityRequest",
        "variableName" : "checkDNSAvailabilityRequest",
        "variableType" : "CheckDNSAvailabilityRequest",
        "documentation" : "<p>Results message indicating whether a CNAME is available.</p>",
        "simpleType" : "CheckDNSAvailabilityRequest",
        "variableSetterType" : "CheckDNSAvailabilityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "checkDNSAvailability",
      "operationName" : "CheckDNSAvailability",
      "returnType" : {
        "returnType" : "CheckDNSAvailabilityResult",
        "documentation" : "<p>Indicates if the specified CNAME is available.</p>"
      },
      "syncReturnType" : "CheckDNSAvailabilityResult"
    },
    "ComposeEnvironments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ComposeEnvironmentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ComposeEnvironmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ComposeEnvironmentsRequest, ComposeEnvironmentsResult>",
      "asyncReturnType" : "ComposeEnvironmentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create or update a group of environments that each run a separate component of a single application. Takes a list of version labels that specify application source bundles for each of the environments to create or update. The name of each environment and other required information must be included in the source bundles in an environment manifest named <code>env.yaml</code>. See <a href=\"http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-mgmt-compose.html\">Compose Environments</a> for details.</p>",
      "exceptions" : [ {
        "exceptionName" : "TooManyEnvironmentsException",
        "documentation" : "<p>The specified account has reached its limit of environments.</p>"
      }, {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ComposeEnvironmentsRequest",
        "variableName" : "composeEnvironmentsRequest",
        "variableType" : "ComposeEnvironmentsRequest",
        "documentation" : "<p>Request to create or update a group of environments.</p>",
        "simpleType" : "ComposeEnvironmentsRequest",
        "variableSetterType" : "ComposeEnvironmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "composeEnvironments",
      "operationName" : "ComposeEnvironments",
      "returnType" : {
        "returnType" : "ComposeEnvironmentsResult",
        "documentation" : "<p>Result message containing a list of environment descriptions.</p>"
      },
      "syncReturnType" : "ComposeEnvironmentsResult"
    },
    "CreateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationRequest, CreateApplicationResult>",
      "asyncReturnType" : "CreateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates an application that has one configuration template named <code>default</code> and no application versions. </p>",
      "exceptions" : [ {
        "exceptionName" : "TooManyApplicationsException",
        "documentation" : "<p>The specified account has reached its limit of applications.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateApplicationRequest",
        "variableName" : "createApplicationRequest",
        "variableType" : "CreateApplicationRequest",
        "documentation" : "<p>Request to create an application.</p>",
        "simpleType" : "CreateApplicationRequest",
        "variableSetterType" : "CreateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApplication",
      "operationName" : "CreateApplication",
      "returnType" : {
        "returnType" : "CreateApplicationResult",
        "documentation" : "<p>Result message containing a single description of an application.</p>"
      },
      "syncReturnType" : "CreateApplicationResult"
    },
    "CreateApplicationVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateApplicationVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateApplicationVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateApplicationVersionRequest, CreateApplicationVersionResult>",
      "asyncReturnType" : "CreateApplicationVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an application version for the specified application.</p> <note> <p>Once you create an application version with a specified Amazon S3 bucket and key location, you cannot change that Amazon S3 location. If you change the Amazon S3 location, you receive an exception when you attempt to launch an environment from the application version.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "TooManyApplicationsException",
        "documentation" : "<p>The specified account has reached its limit of applications.</p>"
      }, {
        "exceptionName" : "TooManyApplicationVersionsException",
        "documentation" : "<p>The specified account has reached its limit of application versions.</p>"
      }, {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      }, {
        "exceptionName" : "S3LocationNotInServiceRegionException",
        "documentation" : "<p>The specified S3 bucket does not belong to the S3 region in which the service is running.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateApplicationVersionRequest",
        "variableName" : "createApplicationVersionRequest",
        "variableType" : "CreateApplicationVersionRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateApplicationVersionRequest",
        "variableSetterType" : "CreateApplicationVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createApplicationVersion",
      "operationName" : "CreateApplicationVersion",
      "returnType" : {
        "returnType" : "CreateApplicationVersionResult",
        "documentation" : "<p>Result message wrapping a single description of an application version.</p>"
      },
      "syncReturnType" : "CreateApplicationVersionResult"
    },
    "CreateConfigurationTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConfigurationTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConfigurationTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConfigurationTemplateRequest, CreateConfigurationTemplateResult>",
      "asyncReturnType" : "CreateConfigurationTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a configuration template. Templates are associated with a specific application and are used to deploy different versions of the application with the same configuration settings.</p> <p>Related Topics</p> <ul> <li> <p> <a>DescribeConfigurationOptions</a> </p> </li> <li> <p> <a>DescribeConfigurationSettings</a> </p> </li> <li> <p> <a>ListAvailableSolutionStacks</a> </p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      }, {
        "exceptionName" : "TooManyBucketsException",
        "documentation" : "<p>The specified account has reached its limit of Amazon S3 buckets.</p>"
      }, {
        "exceptionName" : "TooManyConfigurationTemplatesException",
        "documentation" : "<p>The specified account has reached its limit of configuration templates.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateConfigurationTemplateRequest",
        "variableName" : "createConfigurationTemplateRequest",
        "variableType" : "CreateConfigurationTemplateRequest",
        "documentation" : "<p>Request to create a configuration template.</p>",
        "simpleType" : "CreateConfigurationTemplateRequest",
        "variableSetterType" : "CreateConfigurationTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConfigurationTemplate",
      "operationName" : "CreateConfigurationTemplate",
      "returnType" : {
        "returnType" : "CreateConfigurationTemplateResult",
        "documentation" : "<p>Describes the settings for a configuration set.</p>"
      },
      "syncReturnType" : "CreateConfigurationTemplateResult"
    },
    "CreateEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEnvironmentRequest, CreateEnvironmentResult>",
      "asyncReturnType" : "CreateEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Launches an environment for the specified application using the specified configuration.</p>",
      "exceptions" : [ {
        "exceptionName" : "TooManyEnvironmentsException",
        "documentation" : "<p>The specified account has reached its limit of environments.</p>"
      }, {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateEnvironmentRequest",
        "variableName" : "createEnvironmentRequest",
        "variableType" : "CreateEnvironmentRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateEnvironmentRequest",
        "variableSetterType" : "CreateEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEnvironment",
      "operationName" : "CreateEnvironment",
      "returnType" : {
        "returnType" : "CreateEnvironmentResult",
        "documentation" : "<p>Describes the properties of an environment.</p>"
      },
      "syncReturnType" : "CreateEnvironmentResult"
    },
    "CreateStorageLocation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStorageLocationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStorageLocationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStorageLocationRequest, CreateStorageLocationResult>",
      "asyncReturnType" : "CreateStorageLocationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates the Amazon S3 storage location for the account.</p> <p>This location is used to store user log files.</p>",
      "exceptions" : [ {
        "exceptionName" : "TooManyBucketsException",
        "documentation" : "<p>The specified account has reached its limit of Amazon S3 buckets.</p>"
      }, {
        "exceptionName" : "S3SubscriptionRequiredException",
        "documentation" : "<p>The specified account does not have a subscription to Amazon S3.</p>"
      }, {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateStorageLocationRequest",
        "variableName" : "createStorageLocationRequest",
        "variableType" : "CreateStorageLocationRequest",
        "documentation" : null,
        "simpleType" : "CreateStorageLocationRequest",
        "variableSetterType" : "CreateStorageLocationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStorageLocation",
      "operationName" : "CreateStorageLocation",
      "returnType" : {
        "returnType" : "CreateStorageLocationResult",
        "documentation" : "<p>Results of a <a>CreateStorageLocationResult</a> call.</p>"
      },
      "syncReturnType" : "CreateStorageLocationResult"
    },
    "DeleteApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationRequest, DeleteApplicationResult>",
      "asyncReturnType" : "DeleteApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified application along with all associated versions and configurations. The application versions will not be deleted from your Amazon S3 bucket.</p> <note> <p>You cannot delete an application that has a running environment.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "OperationInProgressException",
        "documentation" : "<p>Unable to perform the specified operation because another operation that effects an element in this activity is already in progress.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteApplicationRequest",
        "variableName" : "deleteApplicationRequest",
        "variableType" : "DeleteApplicationRequest",
        "documentation" : "<p>Request to delete an application.</p>",
        "simpleType" : "DeleteApplicationRequest",
        "variableSetterType" : "DeleteApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplication",
      "operationName" : "DeleteApplication",
      "returnType" : {
        "returnType" : "DeleteApplicationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApplicationResult"
    },
    "DeleteApplicationVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteApplicationVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteApplicationVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteApplicationVersionRequest, DeleteApplicationVersionResult>",
      "asyncReturnType" : "DeleteApplicationVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified version from the specified application.</p> <note> <p>You cannot delete an application version that is associated with a running environment.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "SourceBundleDeletionException",
        "documentation" : "<p>Unable to delete the Amazon S3 source bundle associated with the application version. The application version was deleted successfully.</p>"
      }, {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      }, {
        "exceptionName" : "OperationInProgressException",
        "documentation" : "<p>Unable to perform the specified operation because another operation that effects an element in this activity is already in progress.</p>"
      }, {
        "exceptionName" : "S3LocationNotInServiceRegionException",
        "documentation" : "<p>The specified S3 bucket does not belong to the S3 region in which the service is running.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteApplicationVersionRequest",
        "variableName" : "deleteApplicationVersionRequest",
        "variableType" : "DeleteApplicationVersionRequest",
        "documentation" : "<p>Request to delete an application version.</p>",
        "simpleType" : "DeleteApplicationVersionRequest",
        "variableSetterType" : "DeleteApplicationVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteApplicationVersion",
      "operationName" : "DeleteApplicationVersion",
      "returnType" : {
        "returnType" : "DeleteApplicationVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteApplicationVersionResult"
    },
    "DeleteConfigurationTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfigurationTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfigurationTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfigurationTemplateRequest, DeleteConfigurationTemplateResult>",
      "asyncReturnType" : "DeleteConfigurationTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified configuration template.</p> <note> <p>When you launch an environment using a configuration template, the environment gets a copy of the template. You can delete or modify the environment's copy of the template without affecting the running environment.</p> </note>",
      "exceptions" : [ {
        "exceptionName" : "OperationInProgressException",
        "documentation" : "<p>Unable to perform the specified operation because another operation that effects an element in this activity is already in progress.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteConfigurationTemplateRequest",
        "variableName" : "deleteConfigurationTemplateRequest",
        "variableType" : "DeleteConfigurationTemplateRequest",
        "documentation" : "<p>Request to delete a configuration template.</p>",
        "simpleType" : "DeleteConfigurationTemplateRequest",
        "variableSetterType" : "DeleteConfigurationTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConfigurationTemplate",
      "operationName" : "DeleteConfigurationTemplate",
      "returnType" : {
        "returnType" : "DeleteConfigurationTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConfigurationTemplateResult"
    },
    "DeleteEnvironmentConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEnvironmentConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEnvironmentConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEnvironmentConfigurationRequest, DeleteEnvironmentConfigurationResult>",
      "asyncReturnType" : "DeleteEnvironmentConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the draft configuration associated with the running environment.</p> <p>Updating a running environment with any configuration changes creates a draft configuration set. You can get the draft configuration using <a>DescribeConfigurationSettings</a> while the update is in progress or if the update fails. The <code>DeploymentStatus</code> for the draft configuration indicates whether the deployment is in process or has failed. The draft configuration remains in existence until it is deleted with this action.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteEnvironmentConfigurationRequest",
        "variableName" : "deleteEnvironmentConfigurationRequest",
        "variableType" : "DeleteEnvironmentConfigurationRequest",
        "documentation" : "<p>Request to delete a draft environment configuration.</p>",
        "simpleType" : "DeleteEnvironmentConfigurationRequest",
        "variableSetterType" : "DeleteEnvironmentConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEnvironmentConfiguration",
      "operationName" : "DeleteEnvironmentConfiguration",
      "returnType" : {
        "returnType" : "DeleteEnvironmentConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEnvironmentConfigurationResult"
    },
    "DescribeApplicationVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeApplicationVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeApplicationVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeApplicationVersionsRequest, DescribeApplicationVersionsResult>",
      "asyncReturnType" : "DescribeApplicationVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieve a list of application versions stored in your AWS Elastic Beanstalk storage bucket.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeApplicationVersionsRequest",
        "variableName" : "describeApplicationVersionsRequest",
        "variableType" : "DescribeApplicationVersionsRequest",
        "documentation" : "<p>Result message containing a list of configuration descriptions.</p>",
        "simpleType" : "DescribeApplicationVersionsRequest",
        "variableSetterType" : "DescribeApplicationVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeApplicationVersions",
      "operationName" : "DescribeApplicationVersions",
      "returnType" : {
        "returnType" : "DescribeApplicationVersionsResult",
        "documentation" : "<p>Result message wrapping a list of application version descriptions.</p>"
      },
      "syncReturnType" : "DescribeApplicationVersionsResult"
    },
    "DescribeApplications" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeApplicationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeApplicationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeApplicationsRequest, DescribeApplicationsResult>",
      "asyncReturnType" : "DescribeApplicationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the descriptions of existing applications.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeApplicationsRequest",
        "variableName" : "describeApplicationsRequest",
        "variableType" : "DescribeApplicationsRequest",
        "documentation" : "<p>Request to describe one or more applications.</p>",
        "simpleType" : "DescribeApplicationsRequest",
        "variableSetterType" : "DescribeApplicationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeApplications",
      "operationName" : "DescribeApplications",
      "returnType" : {
        "returnType" : "DescribeApplicationsResult",
        "documentation" : "<p>Result message containing a list of application descriptions.</p>"
      },
      "syncReturnType" : "DescribeApplicationsResult"
    },
    "DescribeConfigurationOptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationOptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationOptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationOptionsRequest, DescribeConfigurationOptionsResult>",
      "asyncReturnType" : "DescribeConfigurationOptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the configuration options that are used in a particular configuration template or environment, or that a specified solution stack defines. The description includes the values the options, their default values, and an indication of the required action on a running environment if an option value is changed.</p>",
      "exceptions" : [ {
        "exceptionName" : "TooManyBucketsException",
        "documentation" : "<p>The specified account has reached its limit of Amazon S3 buckets.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConfigurationOptionsRequest",
        "variableName" : "describeConfigurationOptionsRequest",
        "variableType" : "DescribeConfigurationOptionsRequest",
        "documentation" : "<p>Result message containig a list of application version descriptions.</p>",
        "simpleType" : "DescribeConfigurationOptionsRequest",
        "variableSetterType" : "DescribeConfigurationOptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfigurationOptions",
      "operationName" : "DescribeConfigurationOptions",
      "returnType" : {
        "returnType" : "DescribeConfigurationOptionsResult",
        "documentation" : "<p>Describes the settings for a specified configuration set.</p>"
      },
      "syncReturnType" : "DescribeConfigurationOptionsResult"
    },
    "DescribeConfigurationSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeConfigurationSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeConfigurationSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeConfigurationSettingsRequest, DescribeConfigurationSettingsResult>",
      "asyncReturnType" : "DescribeConfigurationSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a description of the settings for the specified configuration set, that is, either a configuration template or the configuration set associated with a running environment.</p> <p>When describing the settings for the configuration set associated with a running environment, it is possible to receive two sets of setting descriptions. One is the deployed configuration set, and the other is a draft configuration of an environment that is either in the process of deployment or that failed to deploy.</p> <p>Related Topics</p> <ul> <li> <p> <a>DeleteEnvironmentConfiguration</a> </p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "TooManyBucketsException",
        "documentation" : "<p>The specified account has reached its limit of Amazon S3 buckets.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeConfigurationSettingsRequest",
        "variableName" : "describeConfigurationSettingsRequest",
        "variableType" : "DescribeConfigurationSettingsRequest",
        "documentation" : "<p>Result message containing all of the configuration settings for a specified solution stack or configuration template.</p>",
        "simpleType" : "DescribeConfigurationSettingsRequest",
        "variableSetterType" : "DescribeConfigurationSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeConfigurationSettings",
      "operationName" : "DescribeConfigurationSettings",
      "returnType" : {
        "returnType" : "DescribeConfigurationSettingsResult",
        "documentation" : "<p>The results from a request to change the configuration settings of an environment.</p>"
      },
      "syncReturnType" : "DescribeConfigurationSettingsResult"
    },
    "DescribeEnvironmentHealth" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEnvironmentHealthResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEnvironmentHealthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEnvironmentHealthRequest, DescribeEnvironmentHealthResult>",
      "asyncReturnType" : "DescribeEnvironmentHealthResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the overall health of the specified environment. The <b>DescribeEnvironmentHealth</b> operation is only available with AWS Elastic Beanstalk Enhanced Health.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters is not valid. Please correct the input parameters and try the operation again.</p>"
      }, {
        "exceptionName" : "ElasticBeanstalkServiceException",
        "documentation" : "<p>A generic service exception has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeEnvironmentHealthRequest",
        "variableName" : "describeEnvironmentHealthRequest",
        "variableType" : "DescribeEnvironmentHealthRequest",
        "documentation" : "<p>See the example below to learn how to create a request body.</p>",
        "simpleType" : "DescribeEnvironmentHealthRequest",
        "variableSetterType" : "DescribeEnvironmentHealthRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEnvironmentHealth",
      "operationName" : "DescribeEnvironmentHealth",
      "returnType" : {
        "returnType" : "DescribeEnvironmentHealthResult",
        "documentation" : "<p>See the example below for a sample response.</p>"
      },
      "syncReturnType" : "DescribeEnvironmentHealthResult"
    },
    "DescribeEnvironmentManagedActionHistory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEnvironmentManagedActionHistoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEnvironmentManagedActionHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEnvironmentManagedActionHistoryRequest, DescribeEnvironmentManagedActionHistoryResult>",
      "asyncReturnType" : "DescribeEnvironmentManagedActionHistoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists an environment's completed and failed managed actions.</p>",
      "exceptions" : [ {
        "exceptionName" : "ElasticBeanstalkServiceException",
        "documentation" : "<p>A generic service exception has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeEnvironmentManagedActionHistoryRequest",
        "variableName" : "describeEnvironmentManagedActionHistoryRequest",
        "variableType" : "DescribeEnvironmentManagedActionHistoryRequest",
        "documentation" : "<p>Request to list completed and failed managed actions.</p>",
        "simpleType" : "DescribeEnvironmentManagedActionHistoryRequest",
        "variableSetterType" : "DescribeEnvironmentManagedActionHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEnvironmentManagedActionHistory",
      "operationName" : "DescribeEnvironmentManagedActionHistory",
      "returnType" : {
        "returnType" : "DescribeEnvironmentManagedActionHistoryResult",
        "documentation" : "<p>A result message containing a list of completed and failed managed actions.</p>"
      },
      "syncReturnType" : "DescribeEnvironmentManagedActionHistoryResult"
    },
    "DescribeEnvironmentManagedActions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEnvironmentManagedActionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEnvironmentManagedActionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEnvironmentManagedActionsRequest, DescribeEnvironmentManagedActionsResult>",
      "asyncReturnType" : "DescribeEnvironmentManagedActionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists an environment's upcoming and in-progress managed actions.</p>",
      "exceptions" : [ {
        "exceptionName" : "ElasticBeanstalkServiceException",
        "documentation" : "<p>A generic service exception has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeEnvironmentManagedActionsRequest",
        "variableName" : "describeEnvironmentManagedActionsRequest",
        "variableType" : "DescribeEnvironmentManagedActionsRequest",
        "documentation" : "<p>Request to list an environment's upcoming and in-progress managed actions.</p>",
        "simpleType" : "DescribeEnvironmentManagedActionsRequest",
        "variableSetterType" : "DescribeEnvironmentManagedActionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEnvironmentManagedActions",
      "operationName" : "DescribeEnvironmentManagedActions",
      "returnType" : {
        "returnType" : "DescribeEnvironmentManagedActionsResult",
        "documentation" : "<p>The result message containing a list of managed actions.</p>"
      },
      "syncReturnType" : "DescribeEnvironmentManagedActionsResult"
    },
    "DescribeEnvironmentResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEnvironmentResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEnvironmentResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEnvironmentResourcesRequest, DescribeEnvironmentResourcesResult>",
      "asyncReturnType" : "DescribeEnvironmentResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns AWS resources for this environment.</p>",
      "exceptions" : [ {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeEnvironmentResourcesRequest",
        "variableName" : "describeEnvironmentResourcesRequest",
        "variableType" : "DescribeEnvironmentResourcesRequest",
        "documentation" : "<p>Request to describe the resources in an environment.</p>",
        "simpleType" : "DescribeEnvironmentResourcesRequest",
        "variableSetterType" : "DescribeEnvironmentResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEnvironmentResources",
      "operationName" : "DescribeEnvironmentResources",
      "returnType" : {
        "returnType" : "DescribeEnvironmentResourcesResult",
        "documentation" : "<p>Result message containing a list of environment resource descriptions.</p>"
      },
      "syncReturnType" : "DescribeEnvironmentResourcesResult"
    },
    "DescribeEnvironments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEnvironmentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEnvironmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEnvironmentsRequest, DescribeEnvironmentsResult>",
      "asyncReturnType" : "DescribeEnvironmentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns descriptions for existing environments.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeEnvironmentsRequest",
        "variableName" : "describeEnvironmentsRequest",
        "variableType" : "DescribeEnvironmentsRequest",
        "documentation" : "<p>Request to describe one or more environments.</p>",
        "simpleType" : "DescribeEnvironmentsRequest",
        "variableSetterType" : "DescribeEnvironmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEnvironments",
      "operationName" : "DescribeEnvironments",
      "returnType" : {
        "returnType" : "DescribeEnvironmentsResult",
        "documentation" : "<p>Result message containing a list of environment descriptions.</p>"
      },
      "syncReturnType" : "DescribeEnvironmentsResult"
    },
    "DescribeEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEventsRequest, DescribeEventsResult>",
      "asyncReturnType" : "DescribeEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns list of event descriptions matching criteria up to the last 6 weeks.</p> <note> <p>This action returns the most recent 1,000 events from the specified <code>NextToken</code>.</p> </note>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeEventsRequest",
        "variableName" : "describeEventsRequest",
        "variableType" : "DescribeEventsRequest",
        "documentation" : "<p>Request to retrieve a list of events for an environment.</p>",
        "simpleType" : "DescribeEventsRequest",
        "variableSetterType" : "DescribeEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEvents",
      "operationName" : "DescribeEvents",
      "returnType" : {
        "returnType" : "DescribeEventsResult",
        "documentation" : "<p>Result message wrapping a list of event descriptions.</p>"
      },
      "syncReturnType" : "DescribeEventsResult"
    },
    "DescribeInstancesHealth" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeInstancesHealthResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeInstancesHealthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeInstancesHealthRequest, DescribeInstancesHealthResult>",
      "asyncReturnType" : "DescribeInstancesHealthResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns more detailed information about the health of the specified instances (for example, CPU utilization, load average, and causes). The <b>DescribeInstancesHealth</b> operation is only available with AWS Elastic Beanstalk Enhanced Health.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>One or more input parameters is not valid. Please correct the input parameters and try the operation again.</p>"
      }, {
        "exceptionName" : "ElasticBeanstalkServiceException",
        "documentation" : "<p>A generic service exception has occurred.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeInstancesHealthRequest",
        "variableName" : "describeInstancesHealthRequest",
        "variableType" : "DescribeInstancesHealthRequest",
        "documentation" : "<p>See the example below to learn how to create a request body.</p>",
        "simpleType" : "DescribeInstancesHealthRequest",
        "variableSetterType" : "DescribeInstancesHealthRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeInstancesHealth",
      "operationName" : "DescribeInstancesHealth",
      "returnType" : {
        "returnType" : "DescribeInstancesHealthResult",
        "documentation" : "<p>See the example below for a sample response.</p>"
      },
      "syncReturnType" : "DescribeInstancesHealthResult"
    },
    "ListAvailableSolutionStacks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAvailableSolutionStacksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAvailableSolutionStacksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAvailableSolutionStacksRequest, ListAvailableSolutionStacksResult>",
      "asyncReturnType" : "ListAvailableSolutionStacksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the available solution stack names.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListAvailableSolutionStacksRequest",
        "variableName" : "listAvailableSolutionStacksRequest",
        "variableType" : "ListAvailableSolutionStacksRequest",
        "documentation" : null,
        "simpleType" : "ListAvailableSolutionStacksRequest",
        "variableSetterType" : "ListAvailableSolutionStacksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAvailableSolutionStacks",
      "operationName" : "ListAvailableSolutionStacks",
      "returnType" : {
        "returnType" : "ListAvailableSolutionStacksResult",
        "documentation" : "<p>A list of available AWS Elastic Beanstalk solution stacks.</p>"
      },
      "syncReturnType" : "ListAvailableSolutionStacksResult"
    },
    "RebuildEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RebuildEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RebuildEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RebuildEnvironmentRequest, RebuildEnvironmentResult>",
      "asyncReturnType" : "RebuildEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes and recreates all of the AWS resources (for example: the Auto Scaling group, load balancer, etc.) for a specified environment and forces a restart.</p>",
      "exceptions" : [ {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RebuildEnvironmentRequest",
        "variableName" : "rebuildEnvironmentRequest",
        "variableType" : "RebuildEnvironmentRequest",
        "documentation" : "<p/>",
        "simpleType" : "RebuildEnvironmentRequest",
        "variableSetterType" : "RebuildEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "rebuildEnvironment",
      "operationName" : "RebuildEnvironment",
      "returnType" : {
        "returnType" : "RebuildEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "RebuildEnvironmentResult"
    },
    "RequestEnvironmentInfo" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RequestEnvironmentInfoResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RequestEnvironmentInfoResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RequestEnvironmentInfoRequest, RequestEnvironmentInfoResult>",
      "asyncReturnType" : "RequestEnvironmentInfoResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Initiates a request to compile the specified type of information of the deployed environment.</p> <p> Setting the <code>InfoType</code> to <code>tail</code> compiles the last lines from the application server log files of every Amazon EC2 instance in your environment. </p> <p> Setting the <code>InfoType</code> to <code>bundle</code> compresses the application server log files for every Amazon EC2 instance into a <code>.zip</code> file. Legacy and .NET containers do not support bundle logs. </p> <p> Use <a>RetrieveEnvironmentInfo</a> to obtain the set of logs. </p> <p>Related Topics</p> <ul> <li> <p> <a>RetrieveEnvironmentInfo</a> </p> </li> </ul>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RequestEnvironmentInfoRequest",
        "variableName" : "requestEnvironmentInfoRequest",
        "variableType" : "RequestEnvironmentInfoRequest",
        "documentation" : "<p>Request to retrieve logs from an environment and store them in your Elastic Beanstalk storage bucket.</p>",
        "simpleType" : "RequestEnvironmentInfoRequest",
        "variableSetterType" : "RequestEnvironmentInfoRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "requestEnvironmentInfo",
      "operationName" : "RequestEnvironmentInfo",
      "returnType" : {
        "returnType" : "RequestEnvironmentInfoResult",
        "documentation" : null
      },
      "syncReturnType" : "RequestEnvironmentInfoResult"
    },
    "RestartAppServer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RestartAppServerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RestartAppServerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RestartAppServerRequest, RestartAppServerResult>",
      "asyncReturnType" : "RestartAppServerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Causes the environment to restart the application container server running on each Amazon EC2 instance.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RestartAppServerRequest",
        "variableName" : "restartAppServerRequest",
        "variableType" : "RestartAppServerRequest",
        "documentation" : "<p/>",
        "simpleType" : "RestartAppServerRequest",
        "variableSetterType" : "RestartAppServerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "restartAppServer",
      "operationName" : "RestartAppServer",
      "returnType" : {
        "returnType" : "RestartAppServerResult",
        "documentation" : null
      },
      "syncReturnType" : "RestartAppServerResult"
    },
    "RetrieveEnvironmentInfo" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RetrieveEnvironmentInfoResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RetrieveEnvironmentInfoResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RetrieveEnvironmentInfoRequest, RetrieveEnvironmentInfoResult>",
      "asyncReturnType" : "RetrieveEnvironmentInfoResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the compiled information from a <a>RequestEnvironmentInfo</a> request.</p> <p>Related Topics</p> <ul> <li> <p> <a>RequestEnvironmentInfo</a> </p> </li> </ul>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RetrieveEnvironmentInfoRequest",
        "variableName" : "retrieveEnvironmentInfoRequest",
        "variableType" : "RetrieveEnvironmentInfoRequest",
        "documentation" : "<p>Request to download logs retrieved with <a>RequestEnvironmentInfo</a>.</p>",
        "simpleType" : "RetrieveEnvironmentInfoRequest",
        "variableSetterType" : "RetrieveEnvironmentInfoRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "retrieveEnvironmentInfo",
      "operationName" : "RetrieveEnvironmentInfo",
      "returnType" : {
        "returnType" : "RetrieveEnvironmentInfoResult",
        "documentation" : "<p>Result message containing a description of the requested environment info.</p>"
      },
      "syncReturnType" : "RetrieveEnvironmentInfoResult"
    },
    "SwapEnvironmentCNAMEs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SwapEnvironmentCNAMEsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SwapEnvironmentCNAMEsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SwapEnvironmentCNAMEsRequest, SwapEnvironmentCNAMEsResult>",
      "asyncReturnType" : "SwapEnvironmentCNAMEsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Swaps the CNAMEs of two environments.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SwapEnvironmentCNAMEsRequest",
        "variableName" : "swapEnvironmentCNAMEsRequest",
        "variableType" : "SwapEnvironmentCNAMEsRequest",
        "documentation" : "<p>Swaps the CNAMEs of two environments.</p>",
        "simpleType" : "SwapEnvironmentCNAMEsRequest",
        "variableSetterType" : "SwapEnvironmentCNAMEsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "swapEnvironmentCNAMEs",
      "operationName" : "SwapEnvironmentCNAMEs",
      "returnType" : {
        "returnType" : "SwapEnvironmentCNAMEsResult",
        "documentation" : null
      },
      "syncReturnType" : "SwapEnvironmentCNAMEsResult"
    },
    "TerminateEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TerminateEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TerminateEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TerminateEnvironmentRequest, TerminateEnvironmentResult>",
      "asyncReturnType" : "TerminateEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Terminates the specified environment.</p>",
      "exceptions" : [ {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TerminateEnvironmentRequest",
        "variableName" : "terminateEnvironmentRequest",
        "variableType" : "TerminateEnvironmentRequest",
        "documentation" : "<p>Request to terminate an environment.</p>",
        "simpleType" : "TerminateEnvironmentRequest",
        "variableSetterType" : "TerminateEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "terminateEnvironment",
      "operationName" : "TerminateEnvironment",
      "returnType" : {
        "returnType" : "TerminateEnvironmentResult",
        "documentation" : "<p>Describes the properties of an environment.</p>"
      },
      "syncReturnType" : "TerminateEnvironmentResult"
    },
    "UpdateApplication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationRequest, UpdateApplicationResult>",
      "asyncReturnType" : "UpdateApplicationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified application to have the specified properties.</p> <note> <p>If a property (for example, <code>description</code>) is not provided, the value remains unchanged. To clear these properties, specify an empty string.</p> </note>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateApplicationRequest",
        "variableName" : "updateApplicationRequest",
        "variableType" : "UpdateApplicationRequest",
        "documentation" : "<p>Request to update an application.</p>",
        "simpleType" : "UpdateApplicationRequest",
        "variableSetterType" : "UpdateApplicationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApplication",
      "operationName" : "UpdateApplication",
      "returnType" : {
        "returnType" : "UpdateApplicationResult",
        "documentation" : "<p>Result message containing a single description of an application.</p>"
      },
      "syncReturnType" : "UpdateApplicationResult"
    },
    "UpdateApplicationVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateApplicationVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateApplicationVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateApplicationVersionRequest, UpdateApplicationVersionResult>",
      "asyncReturnType" : "UpdateApplicationVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified application version to have the specified properties.</p> <note> <p>If a property (for example, <code>description</code>) is not provided, the value remains unchanged. To clear properties, specify an empty string.</p> </note>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateApplicationVersionRequest",
        "variableName" : "updateApplicationVersionRequest",
        "variableType" : "UpdateApplicationVersionRequest",
        "documentation" : "<p/>",
        "simpleType" : "UpdateApplicationVersionRequest",
        "variableSetterType" : "UpdateApplicationVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateApplicationVersion",
      "operationName" : "UpdateApplicationVersion",
      "returnType" : {
        "returnType" : "UpdateApplicationVersionResult",
        "documentation" : "<p>Result message wrapping a single description of an application version.</p>"
      },
      "syncReturnType" : "UpdateApplicationVersionResult"
    },
    "UpdateConfigurationTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateConfigurationTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateConfigurationTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateConfigurationTemplateRequest, UpdateConfigurationTemplateResult>",
      "asyncReturnType" : "UpdateConfigurationTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified configuration template to have the specified properties or configuration option values.</p> <note> <p>If a property (for example, <code>ApplicationName</code>) is not provided, its value remains unchanged. To clear such properties, specify an empty string.</p> </note> <p>Related Topics</p> <ul> <li> <p> <a>DescribeConfigurationOptions</a> </p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      }, {
        "exceptionName" : "TooManyBucketsException",
        "documentation" : "<p>The specified account has reached its limit of Amazon S3 buckets.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateConfigurationTemplateRequest",
        "variableName" : "updateConfigurationTemplateRequest",
        "variableType" : "UpdateConfigurationTemplateRequest",
        "documentation" : "<p>The result message containing the options for the specified solution stack.</p>",
        "simpleType" : "UpdateConfigurationTemplateRequest",
        "variableSetterType" : "UpdateConfigurationTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateConfigurationTemplate",
      "operationName" : "UpdateConfigurationTemplate",
      "returnType" : {
        "returnType" : "UpdateConfigurationTemplateResult",
        "documentation" : "<p>Describes the settings for a configuration set.</p>"
      },
      "syncReturnType" : "UpdateConfigurationTemplateResult"
    },
    "UpdateEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEnvironmentRequest, UpdateEnvironmentResult>",
      "asyncReturnType" : "UpdateEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the environment description, deploys a new application version, updates the configuration settings to an entirely new configuration template, or updates select configuration option values in the running environment.</p> <p> Attempting to update both the release and configuration is not allowed and AWS Elastic Beanstalk returns an <code>InvalidParameterCombination</code> error. </p> <p> When updating the configuration settings to a new template or individual settings, a draft configuration is created and <a>DescribeConfigurationSettings</a> for this environment returns two setting descriptions with different <code>DeploymentStatus</code> values. </p>",
      "exceptions" : [ {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      }, {
        "exceptionName" : "TooManyBucketsException",
        "documentation" : "<p>The specified account has reached its limit of Amazon S3 buckets.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateEnvironmentRequest",
        "variableName" : "updateEnvironmentRequest",
        "variableType" : "UpdateEnvironmentRequest",
        "documentation" : "<p>Request to update an environment.</p>",
        "simpleType" : "UpdateEnvironmentRequest",
        "variableSetterType" : "UpdateEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEnvironment",
      "operationName" : "UpdateEnvironment",
      "returnType" : {
        "returnType" : "UpdateEnvironmentResult",
        "documentation" : "<p>Describes the properties of an environment.</p>"
      },
      "syncReturnType" : "UpdateEnvironmentResult"
    },
    "ValidateConfigurationSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ValidateConfigurationSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ValidateConfigurationSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ValidateConfigurationSettingsRequest, ValidateConfigurationSettingsResult>",
      "asyncReturnType" : "ValidateConfigurationSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Takes a set of configuration settings and either a configuration template or environment, and determines whether those values are valid.</p> <p>This action returns a list of messages indicating any errors or warnings associated with the selection of option values.</p>",
      "exceptions" : [ {
        "exceptionName" : "InsufficientPrivilegesException",
        "documentation" : "<p>The specified account does not have sufficient privileges for one of more AWS services.</p>"
      }, {
        "exceptionName" : "TooManyBucketsException",
        "documentation" : "<p>The specified account has reached its limit of Amazon S3 buckets.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ValidateConfigurationSettingsRequest",
        "variableName" : "validateConfigurationSettingsRequest",
        "variableType" : "ValidateConfigurationSettingsRequest",
        "documentation" : "<p>A list of validation messages for a specified configuration template.</p>",
        "simpleType" : "ValidateConfigurationSettingsRequest",
        "variableSetterType" : "ValidateConfigurationSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "validateConfigurationSettings",
      "operationName" : "ValidateConfigurationSettings",
      "returnType" : {
        "returnType" : "ValidateConfigurationSettingsResult",
        "documentation" : "<p>Provides a list of validation messages.</p>"
      },
      "syncReturnType" : "ValidateConfigurationSettingsResult"
    }
  },
  "shapes" : {
    "AbortEnvironmentUpdateRequest" : {
      "c2jName" : "AbortEnvironmentUpdateMessage",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AbortEnvironmentUpdate",
        "locationName" : null,
        "requestUri" : "/",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "EnvironmentId",
        "c2jShape" : "EnvironmentId",
        "deprecated" : false,
        "documentation" : "<p>This specifies the ID of the environment with the in-progress update that you want to cancel.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>This specifies the ID of the environment with the in-progress update that you want to cancel.</p>\n@param environmentId This specifies the ID of the environment with the in-progress update that you want to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>This specifies the ID of the environment with the in-progress update that you want to cancel.</p>\n@return This specifies the ID of the environment with the in-progress update that you want to cancel.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "EnvironmentId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EnvironmentId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "EnvironmentId",
        "setterDocumentation" : "/**<p>This specifies the ID of the environment with the in-progress update that you want to cancel.</p>\n@param environmentId This specifies the ID of the environment with the in-progress update that you want to cancel.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "environmentId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>This specifies the ID of the environment with the in-progress update that you want to cancel.</p>\n@param environmentId This specifies the ID of the environment with the in-progress update that you want to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "environmentId",
          "variableType" : "String",
          "documentation" : "<p>This specifies the ID of the environment with the in-progress update that you want to cancel.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EnvironmentName",
        "c2jShape" : "EnvironmentName",
        "deprecated" : false,
        "documentation" : "<p>This specifies the name of the environment with the in-progress update that you want to cancel.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>This specifies the name of the environment with the in-progress update that you want to cancel.</p>\n@param environmentName This specifies the name of the environment with the in-progress update that you want to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>This specifies the name of the environment with the in-progress update that you want to cancel.</p>\n@return This specifies the name of the environment with the in-progress update that you want to cancel.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "EnvironmentName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EnvironmentName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "EnvironmentName",
        "setterDocumentation" : "/**<p>This specifies the name of the environment with the in-progress update that you want to cancel.</p>\n@param environmentName This specifies the name of the environment with the in-progress update that you want to cancel.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "environmentName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>This specifies the name of the environment with the in-progress update that you want to cancel.</p>\n@param environmentName This specifies the name of the environment with the in-progress update that you want to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "environmentName",
          "variableType" : "String",
          "documentation" : "<p>This specifies the name of the environment with the in-progress update that you want to cancel.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "EnvironmentId" : {
          "c2jName" : "EnvironmentId",
          "c2jShape" : "EnvironmentId",
          "deprecated" : false,
          "documentation" : "<p>This specifies the ID of the environment with the in-progress update that you want to cancel.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>This specifies the ID of the environment with the in-progress update that you want to cancel.</p>\n@param environmentId This specifies the ID of the environment with the in-progress update that you want to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>This specifies the ID of the environment with the in-progress update that you want to cancel.</p>\n@return This specifies the ID of the environment with the in-progress update that you want to cancel.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "EnvironmentId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EnvironmentId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "EnvironmentId",
          "setterDocumentation" : "/**<p>This specifies the ID of the environment with the in-progress update that you want to cancel.</p>\n@param environmentId This specifies the ID of the environment with the in-progress update that you want to cancel.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "environmentId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>This specifies the ID of the environment with the in-progress update that you want to cancel.</p>\n@param environmentId This specifies the ID of the environment with the in-progress update that you want to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "environmentId",
            "variableType" : "String",
            "documentation" : "<p>This specifies the ID of the environment with the in-progress update that you want to cancel.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "EnvironmentName" : {
          "c2jName" : "EnvironmentName",
          "c2jShape" : "EnvironmentName",
          "deprecated" : false,
          "documentation" : "<p>This specifies the name of the environment with the in-progress update that you want to cancel.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>This specifies the name of the environment with the in-progress update that you want to cancel.</p>\n@param environmentName This specifies the name of the environment with the in-progress update that you want to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>This specifies the name of the environment with the in-progress update that you want to cancel.</p>\n@return This specifies the name of the environment with the in-progress update that you want to cancel.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "EnvironmentName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EnvironmentName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "EnvironmentName",
          "setterDocumentation" : "/**<p>This specifies the name of the environment with the in-progress update that you want to cancel.</p>\n@param environmentName This specifies the name of the environment with the in-progress update that you want to cancel.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "environmentName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>This specifies the name of the environment with the in-progress update that you want to cancel.</p>\n@param environmentName This specifies the name of the environment with the in-progress update that you want to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "environmentName",
            "variableType" : "String",
            "documentation" : "<p>This specifies the name of the environment with the in-progress update that you want to cancel.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : null,
      "shapeName" : "AbortEnvironmentUpdateRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AbortEnvironmentUpdateRequest",
        "variableName" : "abortEnvironmentUpdateRequest",
        "variableType" : "AbortEnvironmentUpdateRequest",
        "documentation" : null,
        "simpleType" : "AbortEnvironmentUpdateRequest",
        "variableSetterType" : "AbortEnvironmentUpdateRequest"
      },
      "wrapper" : false
    },
    "AbortEnvironmentUpdateResult" : {
      "c2jName" : "AbortEnvironmentUpdateResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "AbortEnvironmentUpdateResult",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AbortEnvironmentUpdateResult",
        "variableName" : "abortEnvironmentUpdateResult",
        "variableType" : "AbortEnvironmentUpdateResult",
        "documentation" : null,
        "simpleType" : "AbortEnvironmentUpdateResult",
        "variableSetterType" : "AbortEnvironmentUpdateResult"
      },
      "wrapper" : false
    },
    "ActionHistoryStatus" : {
      "c2jName" : "ActionHistoryStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "Completed",
        "value" : "Completed"
      }, {
        "name" : "Failed",
        "value" : "Failed"
      }, {
        "name" : "Unknown",
        "value" : "Unknown"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "ActionHistoryStatus",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ActionHistoryStatus",
        "variableName" : "actionHistoryStatus",
        "variableType" : "ActionHistoryStatus",
        "documentation" : null,
        "simpleType" : "ActionHistoryStatus",
        "variableSetterType" : "ActionHistoryStatus"
      },
      "wrapper" : false
    },
    "ActionStatus" : {
      "c2jName" : "ActionStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "Scheduled",
        "value" : "Scheduled"
      }, {
        "name" : "Pending",
        "value" : "Pending"
      }, {
        "name" : "Running",
        "value" : "Running"
      }, {
        "name" : "Unknown",
        "value" : "Unknown"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "ActionStatus",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ActionStatus",
        "variableName" : "actionStatus",
        "variableType" : "ActionStatus",
        "documentation" : null,
        "simpleType" : "ActionStatus",
        "variableSetterType" : "ActionStatus"
      },
      "wrapper" : false
    },
    "ActionType" : {
      "c2jName" : "ActionType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "InstanceRefresh",
        "value" : "InstanceRefresh"
      }, {
        "name" : "PlatformUpdate",
        "value" : "PlatformUpdate"
      }, {
        "name" : "Unknown",
        "value" : "Unknown"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "ActionType",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ActionType",
        "variableName" : "actionType",
        "variableType" : "ActionType",
        "documentation" : null,
        "simpleType" : "ActionType",
        "variableSetterType" : "ActionType"
      },
      "wrapper" : false
    },
    "ApplicationDescription" : {
      "c2jName" : "ApplicationDescription",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes the properties of an application.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ApplicationName",
        "c2jShape" : "ApplicationName",
        "deprecated" : false,
        "documentation" : "<p>The name of the application.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the application.</p>\n@param applicationName The name of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The name of the application.</p>\n@return The name of the application.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ApplicationName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ApplicationName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ApplicationName",
        "setterDocumentation" : "/**<p>The name of the application.</p>\n@param applicationName The name of the application.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "applicationName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The name of the application.</p>\n@param applicationName The name of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "applicationName",
          "variableType" : "String",
          "documentation" : "<p>The name of the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "Description",
        "deprecated" : false,
        "documentation" : "<p>User-defined description of the application.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>User-defined description of the application.</p>\n@param description User-defined description of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>User-defined description of the application.</p>\n@return User-defined description of the application.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Description",
        "setterDocumentation" : "/**<p>User-defined description of the application.</p>\n@param description User-defined description of the application.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>User-defined description of the application.</p>\n@param description User-defined description of the application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>User-defined description of the application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DateCreated",
        "c2jShape" : "CreationDate",
        "deprecated" : false,
        "documentation" : "<p>The date when the application was created.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date when the application was created.</p>\n@param dateCreated The date when the application was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The date when the application was created.</p>\n@return The date when the application was created.*/",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "DateCreated",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DateCreated",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "DateCreated",
        "setterDocumentation" : "/**<p>The date when the application was created.</p>\n@param dateCreated The date when the application was created.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "dateCreated",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The date when the application was created.</p>\n@param dateCreated The date when the application was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "dateCreated",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date when the application was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DateUpdated",
        "c2jShape" : "UpdateDate",
        "deprecated" : false,
        "documentation" : "<p>The date when the application was last modified.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date when the application was last modified.</p>\n@param dateUpdated The date when the application was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The date when the application was last modified.</p>\n@return The date when the application was last modified.*/",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "DateUpdated",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DateUpdated",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "DateUpdated",
        "setterDocumentation" : "/**<p>The date when the application was last modified.</p>\n@param dateUpdated The date when the application was last modified.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "dateUpdated",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The date when the application was last modified.</p>\n@param dateUpdated The date when the application was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "dateUpdated",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date when the application was last modified.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Versions",
        "c2jShape" : "VersionLabelsList",
        "deprecated" : false,
        "documentation" : "<p>The names of the versions for this application.</p>",
        "enumType" : null,
[...]
