{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-12-01",
    "asyncClient" : "AmazonElasticLoadBalancingAsyncClient",
    "asyncClientBuilderClassName" : "AmazonElasticLoadBalancingAsyncClientBuilder",
    "asyncInterface" : "AmazonElasticLoadBalancingAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonElasticLoadBalancingModuleInjector",
    "defaultEndpoint" : "elasticloadbalancing.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "elasticloadbalancing.us-east-1.amazonaws.com",
    "documentation" : "<fullname>Elastic Load Balancing</fullname> <p>A load balancer distributes incoming traffic across targets, such as your EC2 instances. This enables you to increase the availability of your application. The load balancer also monitors the health of its registered targets and ensures that it routes traffic only to healthy targets. You configure your load balancer to accept incoming traffic by specifying one or more listeners, which are configured with a protocol and port number for connections from clients to the load balancer. You configure a target group with a protocol and port number for connections from the load balancer to the targets, and with health check settings to be used when checking the health status of the targets.</p> <p>Elastic Load Balancing supports two types of load balancers: Classic load balancers and Application load balancers (new). A Classic load balancer makes routing and load balancing decisions either at the transport layer (TCP/SSL) or the application layer (HTTP/HTTPS), and supports either EC2-Classic or a VPC. An Application load balancer makes routing and load balancing decisions at the application layer (HTTP/HTTPS), supports path-based routing, and can route requests to one or more ports on each EC2 instance or container instance in your virtual private cloud (VPC). For more information, see the <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/\">Elastic Load Balancing User Guide</a>.</p> <p>This reference covers the 2015-12-01 API, which supports Application load balancers. The 2012-06-01 API supports Classic load balancers.</p> <p>To get started with an Application load balancer, complete the following tasks:</p> <ol> <li> <p>Create a load balancer using <a>CreateLoadBalancer</a>.</p> </li> <li> <p>Create a target group using <a>CreateTargetGroup</a>.</p> </li> <li> <p>Register targets for the target group using <a>RegisterTargets</a>.</p> </li> <li> <p>Create one or more listeners for your load balancer using <a>CreateListener</a>.</p> </li> <li> <p>(Optional) Create one or more rules for content routing based on URL using <a>CreateRule</a>.</p> </li> </ol> <p>To delete an Application load balancer and its related resources, complete the following tasks:</p> <ol> <li> <p>Delete the load balancer using <a>DeleteLoadBalancer</a>.</p> </li> <li> <p>Delete the target group using <a>DeleteTargetGroup</a>.</p> </li> </ol> <p>All Elastic Load Balancing operations are idempotent, which means that they complete at most one time. If you repeat an operation, it succeeds.</p>",
    "endpointPrefix" : "elasticloadbalancing",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : false,
    "jsonVersion" : null,
    "packageName" : "com.amazonaws.services.elasticloadbalancingv2",
    "packagePath" : "com/amazonaws/services/elasticloadbalancingv2",
    "protocol" : "query",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "serviceAbbreviation" : "Elastic Load Balancing v2",
    "serviceFullName" : "Elastic Load Balancing",
    "serviceName" : "Elastic Load Balancing v2",
    "signingName" : "elasticloadbalancing",
    "smokeTestsPackageName" : "com.amazonaws.services.elasticloadbalancingv2.smoketests",
    "syncClient" : "AmazonElasticLoadBalancingClient",
    "syncClientBuilderClassName" : "AmazonElasticLoadBalancingClientBuilder",
    "syncInterface" : "AmazonElasticLoadBalancing",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "xmlProtocol" : true
  },
  "operations" : {
    "AddTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsRequest, AddTagsResult>",
      "asyncReturnType" : "AddTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified tags to the specified resource. You can tag your Application load balancers and your target groups.</p> <p>Each tag consists of a key and an optional value. If a resource already has a tag with the same key, <code>AddTags</code> updates its value.</p> <p>To list the current tags for your resources, use <a>DescribeTags</a>. To remove tags from your resources, use <a>RemoveTags</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "DuplicateTagKeysException",
        "documentation" : "<p>A tag key was specified more than once.</p>"
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>You've reached the limit on the number of tags per load balancer.</p>"
      }, {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddTagsRequest",
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "documentation" : "<p>Contains the parameters for AddTags.</p>",
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addTags",
      "operationName" : "AddTags",
      "returnType" : {
        "returnType" : "AddTagsResult",
        "documentation" : "<p>Contains the output of AddTags.</p>"
      },
      "syncReturnType" : "AddTagsResult"
    },
    "CreateListener" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateListenerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateListenerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateListenerRequest, CreateListenerResult>",
      "asyncReturnType" : "CreateListenerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a listener for the specified Application load balancer.</p> <p>To update a listener, use <a>ModifyListener</a>. When you are finished with a listener, you can delete it using <a>DeleteListener</a>. If you are finished with both the listener and the load balancer, you can delete them both using <a>DeleteLoadBalancer</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html\">Listeners for Your Application Load Balancers</a> in the <i>Application Load Balancers Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "DuplicateListenerException",
        "documentation" : "<p>A listener with the specified port already exists.</p>"
      }, {
        "exceptionName" : "TooManyListenersException",
        "documentation" : "<p>You've reached the limit on the number of listeners per load balancer.</p>"
      }, {
        "exceptionName" : "TooManyCertificatesException",
        "documentation" : "<p>You've reached the limit on the number of certificates per listener.</p>"
      }, {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      }, {
        "exceptionName" : "TargetGroupAssociationLimitException",
        "documentation" : "<p>You've reached the limit on the number of load balancers per target group.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>"
      }, {
        "exceptionName" : "IncompatibleProtocolsException",
        "documentation" : "<p>The specified configuration is not valid with this protocol.</p>"
      }, {
        "exceptionName" : "SSLPolicyNotFoundException",
        "documentation" : "<p>The specified SSL policy does not exist.</p>"
      }, {
        "exceptionName" : "CertificateNotFoundException",
        "documentation" : "<p>The specified certificate does not exist.</p>"
      }, {
        "exceptionName" : "UnsupportedProtocolException",
        "documentation" : "<p>The specified protocol is not supported.</p>"
      }, {
        "exceptionName" : "TooManyRegistrationsForTargetIdException",
        "documentation" : "<p>You've reached the limit on the number of times a target can be registered with a load balancer.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateListenerRequest",
        "variableName" : "createListenerRequest",
        "variableType" : "CreateListenerRequest",
        "documentation" : "<p>Contains the parameters for CreateListener.</p>",
        "simpleType" : "CreateListenerRequest",
        "variableSetterType" : "CreateListenerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createListener",
      "operationName" : "CreateListener",
      "returnType" : {
        "returnType" : "CreateListenerResult",
        "documentation" : "<p>Contains the output of CreateListener.</p>"
      },
      "syncReturnType" : "CreateListenerResult"
    },
    "CreateLoadBalancer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLoadBalancerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLoadBalancerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLoadBalancerRequest, CreateLoadBalancerResult>",
      "asyncReturnType" : "CreateLoadBalancerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Application load balancer.</p> <p>To create listeners for your load balancer, use <a>CreateListener</a>. You can add security groups, subnets, and tags when you create your load balancer, or you can add them later using <a>SetSecurityGroups</a>, <a>SetSubnets</a>, and <a>AddTags</a>.</p> <p>To describe your current load balancers, see <a>DescribeLoadBalancers</a>. When you are finished with a load balancer, you can delete it using <a>DeleteLoadBalancer</a>.</p> <p>You can create up to 20 load balancers per region per account. You can request an increase for the number of load balancers for your account. For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-limits.html\">Limits for Your Application Load Balancer</a> in the <i>Application Load Balancers Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "DuplicateLoadBalancerNameException",
        "documentation" : "<p>A load balancer with the specified name already exists for this account.</p>"
      }, {
        "exceptionName" : "TooManyLoadBalancersException",
        "documentation" : "<p>You've reached the limit on the number of load balancers for your AWS account.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>"
      }, {
        "exceptionName" : "SubnetNotFoundException",
        "documentation" : "<p>The specified subnet does not exist.</p>"
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The specified subnet is out of available addresses.</p>"
      }, {
        "exceptionName" : "InvalidSecurityGroupException",
        "documentation" : "<p>The specified security group does not exist.</p>"
      }, {
        "exceptionName" : "InvalidSchemeException",
        "documentation" : "<p>The requested scheme is not valid.</p>"
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>You've reached the limit on the number of tags per load balancer.</p>"
      }, {
        "exceptionName" : "DuplicateTagKeysException",
        "documentation" : "<p>A tag key was specified more than once.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateLoadBalancerRequest",
        "variableName" : "createLoadBalancerRequest",
        "variableType" : "CreateLoadBalancerRequest",
        "documentation" : "<p>Contains the parameters for CreateLoadBalancer.</p>",
        "simpleType" : "CreateLoadBalancerRequest",
        "variableSetterType" : "CreateLoadBalancerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLoadBalancer",
      "operationName" : "CreateLoadBalancer",
      "returnType" : {
        "returnType" : "CreateLoadBalancerResult",
        "documentation" : "<p>Contains the output of CreateLoadBalancer.</p>"
      },
      "syncReturnType" : "CreateLoadBalancerResult"
    },
    "CreateRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRuleRequest, CreateRuleResult>",
      "asyncReturnType" : "CreateRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a rule for the specified listener.</p> <p>A rule consists conditions and actions. Rules are evaluated in priority order, from the lowest value to the highest value. When the conditions for a rule are met, the specified actions are taken. If no rule's conditions are met, the default actions for the listener are taken.</p> <p>To view your current rules, use <a>DescribeRules</a>. To update a rule, use <a>ModifyRule</a>. To set the priorities of your rules, use <a>SetRulePriorities</a>. To delete a rule, use <a>DeleteRule</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "PriorityInUseException",
        "documentation" : "<p>The specified priority is in use.</p>"
      }, {
        "exceptionName" : "TooManyTargetGroupsException",
        "documentation" : "<p>You've reached the limit on the number of target groups for your AWS account.</p>"
      }, {
        "exceptionName" : "TooManyRulesException",
        "documentation" : "<p>You've reached the limit on the number of rules per load balancer.</p>"
      }, {
        "exceptionName" : "TargetGroupAssociationLimitException",
        "documentation" : "<p>You've reached the limit on the number of load balancers per target group.</p>"
      }, {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>"
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>"
      }, {
        "exceptionName" : "TooManyRegistrationsForTargetIdException",
        "documentation" : "<p>You've reached the limit on the number of times a target can be registered with a load balancer.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateRuleRequest",
        "variableName" : "createRuleRequest",
        "variableType" : "CreateRuleRequest",
        "documentation" : "<p>Contains the parameters for CreateRule.</p>",
        "simpleType" : "CreateRuleRequest",
        "variableSetterType" : "CreateRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRule",
      "operationName" : "CreateRule",
      "returnType" : {
        "returnType" : "CreateRuleResult",
        "documentation" : "<p>Contains the output of CreateRule.</p>"
      },
      "syncReturnType" : "CreateRuleResult"
    },
    "CreateTargetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTargetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTargetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTargetGroupRequest, CreateTargetGroupResult>",
      "asyncReturnType" : "CreateTargetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a target group.</p> <p>To register targets with the target group, use <a>RegisterTargets</a>. To update the health check settings for the target group, use <a>ModifyTargetGroup</a>. To monitor the health of targets in the target group, use <a>DescribeTargetHealth</a>.</p> <p>To route traffic to the targets in a target group, specify the target group in an action using <a>CreateListener</a> or <a>CreateRule</a>.</p> <p>To delete a target group, use <a>DeleteTargetGroup</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html\">Target Groups for Your Application Load Balancers</a> in the <i>Application Load Balancers Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "DuplicateTargetGroupNameException",
        "documentation" : "<p>A target group with the specified name already exists.</p>"
      }, {
        "exceptionName" : "TooManyTargetGroupsException",
        "documentation" : "<p>You've reached the limit on the number of target groups for your AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateTargetGroupRequest",
        "variableName" : "createTargetGroupRequest",
        "variableType" : "CreateTargetGroupRequest",
        "documentation" : "<p>Contains the parameters for CreateTargetGroup.</p>",
        "simpleType" : "CreateTargetGroupRequest",
        "variableSetterType" : "CreateTargetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTargetGroup",
      "operationName" : "CreateTargetGroup",
      "returnType" : {
        "returnType" : "CreateTargetGroupResult",
        "documentation" : "<p>Contains the output of CreateTargetGroup.</p>"
      },
      "syncReturnType" : "CreateTargetGroupResult"
    },
    "DeleteListener" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteListenerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteListenerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteListenerRequest, DeleteListenerResult>",
      "asyncReturnType" : "DeleteListenerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified listener.</p> <p>Alternatively, your listener is deleted when you delete the load balancer it is attached to using <a>DeleteLoadBalancer</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteListenerRequest",
        "variableName" : "deleteListenerRequest",
        "variableType" : "DeleteListenerRequest",
        "documentation" : "<p>Contains the parameters for DeleteListener.</p>",
        "simpleType" : "DeleteListenerRequest",
        "variableSetterType" : "DeleteListenerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteListener",
      "operationName" : "DeleteListener",
      "returnType" : {
        "returnType" : "DeleteListenerResult",
        "documentation" : "<p>Contains the output of DeleteListener.</p>"
      },
      "syncReturnType" : "DeleteListenerResult"
    },
    "DeleteLoadBalancer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLoadBalancerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLoadBalancerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLoadBalancerRequest, DeleteLoadBalancerResult>",
      "asyncReturnType" : "DeleteLoadBalancerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified load balancer and its attached listeners.</p> <p>You can't delete a load balancer if deletion protection is enabled. If the load balancer does not exist or has already been deleted, the call succeeds.</p> <p>Deleting a load balancer does not affect its registered targets. For example, your EC2 instances continue to run and are still registered to their target groups. If you no longer need these EC2 instances, you can stop or terminate them.</p>",
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteLoadBalancerRequest",
        "variableName" : "deleteLoadBalancerRequest",
        "variableType" : "DeleteLoadBalancerRequest",
        "documentation" : "<p>Contains the parameters for DeleteLoadBalancer.</p>",
        "simpleType" : "DeleteLoadBalancerRequest",
        "variableSetterType" : "DeleteLoadBalancerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLoadBalancer",
      "operationName" : "DeleteLoadBalancer",
      "returnType" : {
        "returnType" : "DeleteLoadBalancerResult",
        "documentation" : "<p>Contains the output of DeleteLoadBalancer.</p>"
      },
      "syncReturnType" : "DeleteLoadBalancerResult"
    },
    "DeleteRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRuleRequest, DeleteRuleResult>",
      "asyncReturnType" : "DeleteRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified rule.</p>",
      "exceptions" : [ {
        "exceptionName" : "RuleNotFoundException",
        "documentation" : "<p>The specified rule does not exist.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteRuleRequest",
        "variableName" : "deleteRuleRequest",
        "variableType" : "DeleteRuleRequest",
        "documentation" : "<p>Contains the parameters for DeleteRule.</p>",
        "simpleType" : "DeleteRuleRequest",
        "variableSetterType" : "DeleteRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRule",
      "operationName" : "DeleteRule",
      "returnType" : {
        "returnType" : "DeleteRuleResult",
        "documentation" : "<p>Contains the output of DeleteRule.</p>"
      },
      "syncReturnType" : "DeleteRuleResult"
    },
    "DeleteTargetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTargetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTargetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTargetGroupRequest, DeleteTargetGroupResult>",
      "asyncReturnType" : "DeleteTargetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified target group.</p> <p>You can delete a target group if it is not referenced by any actions. Deleting a target group also deletes any associated health checks.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>A specified resource is in use.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteTargetGroupRequest",
        "variableName" : "deleteTargetGroupRequest",
        "variableType" : "DeleteTargetGroupRequest",
        "documentation" : "<p>Contains the parameters for DeleteTargetGroup.</p>",
        "simpleType" : "DeleteTargetGroupRequest",
        "variableSetterType" : "DeleteTargetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTargetGroup",
      "operationName" : "DeleteTargetGroup",
      "returnType" : {
        "returnType" : "DeleteTargetGroupResult",
        "documentation" : "<p>Contains the output of DeleteTargetGroup.</p>"
      },
      "syncReturnType" : "DeleteTargetGroupResult"
    },
    "DeregisterTargets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterTargetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterTargetsRequest, DeregisterTargetsResult>",
      "asyncReturnType" : "DeregisterTargetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deregisters the specified targets from the specified target group. After the targets are deregistered, they no longer receive traffic from the load balancer.</p>",
      "exceptions" : [ {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      }, {
        "exceptionName" : "InvalidTargetException",
        "documentation" : "<p>The specified target does not exist or is not in the same VPC as the target group.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeregisterTargetsRequest",
        "variableName" : "deregisterTargetsRequest",
        "variableType" : "DeregisterTargetsRequest",
        "documentation" : "<p>Contains the parameters for DeregisterTargets.</p>",
        "simpleType" : "DeregisterTargetsRequest",
        "variableSetterType" : "DeregisterTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterTargets",
      "operationName" : "DeregisterTargets",
      "returnType" : {
        "returnType" : "DeregisterTargetsResult",
        "documentation" : "<p>Contains the output of DeregisterTargets.</p>"
      },
      "syncReturnType" : "DeregisterTargetsResult"
    },
    "DescribeListeners" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeListenersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeListenersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeListenersRequest, DescribeListenersResult>",
      "asyncReturnType" : "DescribeListenersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified listeners or the listeners for the specified load balancer. You must specify either a load balancer or one or more listeners.</p>",
      "exceptions" : [ {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>"
      }, {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeListenersRequest",
        "variableName" : "describeListenersRequest",
        "variableType" : "DescribeListenersRequest",
        "documentation" : "<p>Contains the parameters for DescribeListeners.</p>",
        "simpleType" : "DescribeListenersRequest",
        "variableSetterType" : "DescribeListenersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeListeners",
      "operationName" : "DescribeListeners",
      "returnType" : {
        "returnType" : "DescribeListenersResult",
        "documentation" : "<p>Contains the output of DescribeListeners.</p>"
      },
      "syncReturnType" : "DescribeListenersResult"
    },
    "DescribeLoadBalancerAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoadBalancerAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoadBalancerAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoadBalancerAttributesRequest, DescribeLoadBalancerAttributesResult>",
      "asyncReturnType" : "DescribeLoadBalancerAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the attributes for the specified load balancer.</p>",
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeLoadBalancerAttributesRequest",
        "variableName" : "describeLoadBalancerAttributesRequest",
        "variableType" : "DescribeLoadBalancerAttributesRequest",
        "documentation" : "<p>Contains the parameters for DescribeLoadBalancerAttributes.</p>",
        "simpleType" : "DescribeLoadBalancerAttributesRequest",
        "variableSetterType" : "DescribeLoadBalancerAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLoadBalancerAttributes",
      "operationName" : "DescribeLoadBalancerAttributes",
      "returnType" : {
        "returnType" : "DescribeLoadBalancerAttributesResult",
        "documentation" : "<p>Contains the output of DescribeLoadBalancerAttributes.</p>"
      },
      "syncReturnType" : "DescribeLoadBalancerAttributesResult"
    },
    "DescribeLoadBalancers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoadBalancersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoadBalancersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoadBalancersRequest, DescribeLoadBalancersResult>",
      "asyncReturnType" : "DescribeLoadBalancersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified Application load balancers or all of your Application load balancers.</p> <p>To describe the listeners for a load balancer, use <a>DescribeListeners</a>. To describe the attributes for a load balancer, use <a>DescribeLoadBalancerAttributes</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeLoadBalancersRequest",
        "variableName" : "describeLoadBalancersRequest",
        "variableType" : "DescribeLoadBalancersRequest",
        "documentation" : "<p>Contains the parameters for DescribeLoadBalancers.</p>",
        "simpleType" : "DescribeLoadBalancersRequest",
        "variableSetterType" : "DescribeLoadBalancersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLoadBalancers",
      "operationName" : "DescribeLoadBalancers",
      "returnType" : {
        "returnType" : "DescribeLoadBalancersResult",
        "documentation" : "<p>Contains the output of DescribeLoadBalancers.</p>"
      },
      "syncReturnType" : "DescribeLoadBalancersResult"
    },
    "DescribeRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRulesRequest, DescribeRulesResult>",
      "asyncReturnType" : "DescribeRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified rules or the rules for the specified listener. You must specify either a listener or one or more rules.</p>",
      "exceptions" : [ {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>"
      }, {
        "exceptionName" : "RuleNotFoundException",
        "documentation" : "<p>The specified rule does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeRulesRequest",
        "variableName" : "describeRulesRequest",
        "variableType" : "DescribeRulesRequest",
        "documentation" : "<p>Contains the parameters for DescribeRules.</p>",
        "simpleType" : "DescribeRulesRequest",
        "variableSetterType" : "DescribeRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRules",
      "operationName" : "DescribeRules",
      "returnType" : {
        "returnType" : "DescribeRulesResult",
        "documentation" : "<p>Contains the output of DescribeRules.</p>"
      },
      "syncReturnType" : "DescribeRulesResult"
    },
    "DescribeSSLPolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSSLPoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSSLPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSSLPoliciesRequest, DescribeSSLPoliciesResult>",
      "asyncReturnType" : "DescribeSSLPoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified policies or all policies used for SSL negotiation.</p> <p>Note that the only supported policy at this time is ELBSecurityPolicy-2015-05.</p>",
      "exceptions" : [ {
        "exceptionName" : "SSLPolicyNotFoundException",
        "documentation" : "<p>The specified SSL policy does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeSSLPoliciesRequest",
        "variableName" : "describeSSLPoliciesRequest",
        "variableType" : "DescribeSSLPoliciesRequest",
        "documentation" : "<p>Contains the parameters for DescribeSSLPolicies.</p>",
        "simpleType" : "DescribeSSLPoliciesRequest",
        "variableSetterType" : "DescribeSSLPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSSLPolicies",
      "operationName" : "DescribeSSLPolicies",
      "returnType" : {
        "returnType" : "DescribeSSLPoliciesResult",
        "documentation" : "<p>Contains the output of DescribeSSLPolicies.</p>"
      },
      "syncReturnType" : "DescribeSSLPoliciesResult"
    },
    "DescribeTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "asyncReturnType" : "DescribeTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the tags for the specified resources.</p>",
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      }, {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>"
      }, {
        "exceptionName" : "RuleNotFoundException",
        "documentation" : "<p>The specified rule does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTagsRequest",
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "documentation" : "<p>Contains the parameters for DescribeTags.</p>",
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTags",
      "operationName" : "DescribeTags",
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : "<p>Contains the output of DescribeTags.</p>"
      },
      "syncReturnType" : "DescribeTagsResult"
    },
    "DescribeTargetGroupAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTargetGroupAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTargetGroupAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTargetGroupAttributesRequest, DescribeTargetGroupAttributesResult>",
      "asyncReturnType" : "DescribeTargetGroupAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the attributes for the specified target group.</p>",
      "exceptions" : [ {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTargetGroupAttributesRequest",
        "variableName" : "describeTargetGroupAttributesRequest",
        "variableType" : "DescribeTargetGroupAttributesRequest",
        "documentation" : "<p>Contains the parameters for DescribeTargetGroupAttributes.</p>",
        "simpleType" : "DescribeTargetGroupAttributesRequest",
        "variableSetterType" : "DescribeTargetGroupAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTargetGroupAttributes",
      "operationName" : "DescribeTargetGroupAttributes",
      "returnType" : {
        "returnType" : "DescribeTargetGroupAttributesResult",
        "documentation" : "<p>Contains the output of DescribeTargetGroupAttributes.</p>"
      },
      "syncReturnType" : "DescribeTargetGroupAttributesResult"
    },
    "DescribeTargetGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTargetGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTargetGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTargetGroupsRequest, DescribeTargetGroupsResult>",
      "asyncReturnType" : "DescribeTargetGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified target groups or all of your target groups. By default, all target groups are described. Alternatively, you can specify one of the following to filter the results: the ARN of the load balancer, the names of one or more target groups, or the ARNs of one or more target groups.</p> <p>To describe the targets for a target group, use <a>DescribeTargetHealth</a>. To describe the attributes of a target group, use <a>DescribeTargetGroupAttributes</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTargetGroupsRequest",
        "variableName" : "describeTargetGroupsRequest",
        "variableType" : "DescribeTargetGroupsRequest",
        "documentation" : "<p>Contains the parameters for DescribeTargetGroups.</p>",
        "simpleType" : "DescribeTargetGroupsRequest",
        "variableSetterType" : "DescribeTargetGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTargetGroups",
      "operationName" : "DescribeTargetGroups",
      "returnType" : {
        "returnType" : "DescribeTargetGroupsResult",
        "documentation" : "<p>Contains the output of DescribeTargetGroups.</p>"
      },
      "syncReturnType" : "DescribeTargetGroupsResult"
    },
    "DescribeTargetHealth" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTargetHealthResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTargetHealthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTargetHealthRequest, DescribeTargetHealthResult>",
      "asyncReturnType" : "DescribeTargetHealthResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the health of the specified targets or all of your targets.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidTargetException",
        "documentation" : "<p>The specified target does not exist or is not in the same VPC as the target group.</p>"
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      }, {
        "exceptionName" : "HealthUnavailableException",
        "documentation" : "<p>The health of the specified targets could not be retrieved due to an internal error.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTargetHealthRequest",
        "variableName" : "describeTargetHealthRequest",
        "variableType" : "DescribeTargetHealthRequest",
        "documentation" : "<p>Contains the parameters for DescribeTargetHealth.</p>",
        "simpleType" : "DescribeTargetHealthRequest",
        "variableSetterType" : "DescribeTargetHealthRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTargetHealth",
      "operationName" : "DescribeTargetHealth",
      "returnType" : {
        "returnType" : "DescribeTargetHealthResult",
        "documentation" : "<p>Contains the output of DescribeTargetHealth.</p>"
      },
      "syncReturnType" : "DescribeTargetHealthResult"
    },
    "ModifyListener" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyListenerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyListenerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyListenerRequest, ModifyListenerResult>",
      "asyncReturnType" : "ModifyListenerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the specified properties of the specified listener.</p> <p>Any properties that you do not specify retain their current values. However, changing the protocol from HTTPS to HTTP removes the security policy and SSL certificate properties. If you change the protocol from HTTP to HTTPS, you must add the security policy.</p>",
      "exceptions" : [ {
        "exceptionName" : "DuplicateListenerException",
        "documentation" : "<p>A listener with the specified port already exists.</p>"
      }, {
        "exceptionName" : "TooManyListenersException",
        "documentation" : "<p>You've reached the limit on the number of listeners per load balancer.</p>"
      }, {
        "exceptionName" : "TooManyCertificatesException",
        "documentation" : "<p>You've reached the limit on the number of certificates per listener.</p>"
      }, {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>"
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      }, {
        "exceptionName" : "TargetGroupAssociationLimitException",
        "documentation" : "<p>You've reached the limit on the number of load balancers per target group.</p>"
      }, {
        "exceptionName" : "IncompatibleProtocolsException",
        "documentation" : "<p>The specified configuration is not valid with this protocol.</p>"
      }, {
        "exceptionName" : "SSLPolicyNotFoundException",
        "documentation" : "<p>The specified SSL policy does not exist.</p>"
      }, {
        "exceptionName" : "CertificateNotFoundException",
        "documentation" : "<p>The specified certificate does not exist.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>"
      }, {
        "exceptionName" : "UnsupportedProtocolException",
        "documentation" : "<p>The specified protocol is not supported.</p>"
      }, {
        "exceptionName" : "TooManyRegistrationsForTargetIdException",
        "documentation" : "<p>You've reached the limit on the number of times a target can be registered with a load balancer.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyListenerRequest",
        "variableName" : "modifyListenerRequest",
        "variableType" : "ModifyListenerRequest",
        "documentation" : "<p>Contains the parameters for ModifyListener.</p>",
        "simpleType" : "ModifyListenerRequest",
        "variableSetterType" : "ModifyListenerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyListener",
      "operationName" : "ModifyListener",
      "returnType" : {
        "returnType" : "ModifyListenerResult",
        "documentation" : "<p>Contains the output of ModifyListener.</p>"
      },
      "syncReturnType" : "ModifyListenerResult"
    },
    "ModifyLoadBalancerAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyLoadBalancerAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyLoadBalancerAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyLoadBalancerAttributesRequest, ModifyLoadBalancerAttributesResult>",
      "asyncReturnType" : "ModifyLoadBalancerAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the specified attributes of the specified load balancer.</p> <p>If any of the specified attributes can't be modified as requested, the call fails. Any existing attributes that you do not modify retain their current values.</p>",
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyLoadBalancerAttributesRequest",
        "variableName" : "modifyLoadBalancerAttributesRequest",
        "variableType" : "ModifyLoadBalancerAttributesRequest",
        "documentation" : "<p>Contains the parameters for ModifyLoadBalancerAttributes.</p>",
        "simpleType" : "ModifyLoadBalancerAttributesRequest",
        "variableSetterType" : "ModifyLoadBalancerAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyLoadBalancerAttributes",
      "operationName" : "ModifyLoadBalancerAttributes",
      "returnType" : {
        "returnType" : "ModifyLoadBalancerAttributesResult",
        "documentation" : "<p>Contains the output of ModifyLoadBalancerAttributes.</p>"
      },
      "syncReturnType" : "ModifyLoadBalancerAttributesResult"
    },
    "ModifyRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyRuleRequest, ModifyRuleResult>",
      "asyncReturnType" : "ModifyRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the specified rule.</p> <p>Any existing properties that you do not modify retain their current values.</p> <p>To modify the default action, use <a>ModifyListener</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "TargetGroupAssociationLimitException",
        "documentation" : "<p>You've reached the limit on the number of load balancers per target group.</p>"
      }, {
        "exceptionName" : "RuleNotFoundException",
        "documentation" : "<p>The specified rule does not exist.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>"
      }, {
        "exceptionName" : "TooManyRegistrationsForTargetIdException",
        "documentation" : "<p>You've reached the limit on the number of times a target can be registered with a load balancer.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyRuleRequest",
        "variableName" : "modifyRuleRequest",
        "variableType" : "ModifyRuleRequest",
        "documentation" : "<p>Contains the parameters for ModifyRules.</p>",
        "simpleType" : "ModifyRuleRequest",
        "variableSetterType" : "ModifyRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyRule",
      "operationName" : "ModifyRule",
      "returnType" : {
        "returnType" : "ModifyRuleResult",
        "documentation" : "<p>Contains the output of ModifyRules.</p>"
      },
      "syncReturnType" : "ModifyRuleResult"
    },
    "ModifyTargetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyTargetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyTargetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyTargetGroupRequest, ModifyTargetGroupResult>",
      "asyncReturnType" : "ModifyTargetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the health checks used when evaluating the health state of the targets in the specified target group.</p> <p>To monitor the health of the targets, use <a>DescribeTargetHealth</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyTargetGroupRequest",
        "variableName" : "modifyTargetGroupRequest",
        "variableType" : "ModifyTargetGroupRequest",
        "documentation" : "<p>Contains the parameters for ModifyTargetGroup.</p>",
        "simpleType" : "ModifyTargetGroupRequest",
        "variableSetterType" : "ModifyTargetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyTargetGroup",
      "operationName" : "ModifyTargetGroup",
      "returnType" : {
        "returnType" : "ModifyTargetGroupResult",
        "documentation" : "<p>Contains the output of ModifyTargetGroup.</p>"
      },
      "syncReturnType" : "ModifyTargetGroupResult"
    },
    "ModifyTargetGroupAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyTargetGroupAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyTargetGroupAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyTargetGroupAttributesRequest, ModifyTargetGroupAttributesResult>",
      "asyncReturnType" : "ModifyTargetGroupAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the specified attributes of the specified target group.</p>",
      "exceptions" : [ {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyTargetGroupAttributesRequest",
        "variableName" : "modifyTargetGroupAttributesRequest",
        "variableType" : "ModifyTargetGroupAttributesRequest",
        "documentation" : "<p>Contains the parameters for ModifyTargetGroupAttributes.</p>",
        "simpleType" : "ModifyTargetGroupAttributesRequest",
        "variableSetterType" : "ModifyTargetGroupAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyTargetGroupAttributes",
      "operationName" : "ModifyTargetGroupAttributes",
      "returnType" : {
        "returnType" : "ModifyTargetGroupAttributesResult",
        "documentation" : "<p>Contains the output of ModifyTargetGroupAttributes.</p>"
      },
      "syncReturnType" : "ModifyTargetGroupAttributesResult"
    },
    "RegisterTargets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterTargetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterTargetsRequest, RegisterTargetsResult>",
      "asyncReturnType" : "RegisterTargetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers the specified targets with the specified target group.</p> <p>The target must be in the virtual private cloud (VPC) that you specified for the target group.</p> <p>To remove a target from a target group, use <a>DeregisterTargets</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      }, {
        "exceptionName" : "TooManyTargetsException",
        "documentation" : "<p>You've reached the limit on the number of targets.</p>"
      }, {
        "exceptionName" : "InvalidTargetException",
        "documentation" : "<p>The specified target does not exist or is not in the same VPC as the target group.</p>"
      }, {
        "exceptionName" : "TooManyRegistrationsForTargetIdException",
        "documentation" : "<p>You've reached the limit on the number of times a target can be registered with a load balancer.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RegisterTargetsRequest",
        "variableName" : "registerTargetsRequest",
        "variableType" : "RegisterTargetsRequest",
        "documentation" : "<p>Contains the parameters for RegisterTargets.</p>",
        "simpleType" : "RegisterTargetsRequest",
        "variableSetterType" : "RegisterTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerTargets",
      "operationName" : "RegisterTargets",
      "returnType" : {
        "returnType" : "RegisterTargetsResult",
        "documentation" : "<p>Contains the output of RegisterTargets.</p>"
      },
      "syncReturnType" : "RegisterTargetsResult"
    },
    "RemoveTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsRequest, RemoveTagsResult>",
      "asyncReturnType" : "RemoveTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags from the specified resource.</p> <p>To list the current tags for your resources, use <a>DescribeTags</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "TargetGroupNotFoundException",
        "documentation" : "<p>The specified target group does not exist.</p>"
      }, {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The specified listener does not exist.</p>"
      }, {
        "exceptionName" : "RuleNotFoundException",
        "documentation" : "<p>The specified rule does not exist.</p>"
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>You've reached the limit on the number of tags per load balancer.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemoveTagsRequest",
        "variableName" : "removeTagsRequest",
        "variableType" : "RemoveTagsRequest",
        "documentation" : "<p>Contains the parameters for RemoveTags.</p>",
        "simpleType" : "RemoveTagsRequest",
        "variableSetterType" : "RemoveTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeTags",
      "operationName" : "RemoveTags",
      "returnType" : {
        "returnType" : "RemoveTagsResult",
        "documentation" : "<p>Contains the output of RemoveTags.</p>"
      },
      "syncReturnType" : "RemoveTagsResult"
    },
    "SetRulePriorities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetRulePrioritiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetRulePrioritiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetRulePrioritiesRequest, SetRulePrioritiesResult>",
      "asyncReturnType" : "SetRulePrioritiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the priorities of the specified rules.</p> <p>You can reorder the rules as long as there are no priority conflicts in the new order. Any existing rules that you do not specify retain their current priority.</p>",
      "exceptions" : [ {
        "exceptionName" : "RuleNotFoundException",
        "documentation" : "<p>The specified rule does not exist.</p>"
      }, {
        "exceptionName" : "PriorityInUseException",
        "documentation" : "<p>The specified priority is in use.</p>"
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetRulePrioritiesRequest",
        "variableName" : "setRulePrioritiesRequest",
        "variableType" : "SetRulePrioritiesRequest",
        "documentation" : "<p>Contains the parameters for SetRulePriorities.</p>",
        "simpleType" : "SetRulePrioritiesRequest",
        "variableSetterType" : "SetRulePrioritiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setRulePriorities",
      "operationName" : "SetRulePriorities",
      "returnType" : {
        "returnType" : "SetRulePrioritiesResult",
        "documentation" : "<p>Contains the output of SetRulePriorities.</p>"
      },
      "syncReturnType" : "SetRulePrioritiesResult"
    },
    "SetSecurityGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetSecurityGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetSecurityGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetSecurityGroupsRequest, SetSecurityGroupsResult>",
      "asyncReturnType" : "SetSecurityGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates the specified security groups with the specified load balancer. The specified security groups override the previously associated security groups.</p>",
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>"
      }, {
        "exceptionName" : "InvalidSecurityGroupException",
        "documentation" : "<p>The specified security group does not exist.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetSecurityGroupsRequest",
        "variableName" : "setSecurityGroupsRequest",
        "variableType" : "SetSecurityGroupsRequest",
        "documentation" : "<p>Contains the parameters for SetSecurityGroups.</p>",
        "simpleType" : "SetSecurityGroupsRequest",
        "variableSetterType" : "SetSecurityGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setSecurityGroups",
      "operationName" : "SetSecurityGroups",
      "returnType" : {
        "returnType" : "SetSecurityGroupsResult",
        "documentation" : "<p>Contains the output of SetSecurityGroups.</p>"
      },
      "syncReturnType" : "SetSecurityGroupsResult"
    },
    "SetSubnets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetSubnetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetSubnetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetSubnetsRequest, SetSubnetsResult>",
      "asyncReturnType" : "SetSubnetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables the Availability Zone for the specified subnets for the specified load balancer. The specified subnets replace the previously enabled subnets.</p>",
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>"
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration is not valid.</p>"
      }, {
        "exceptionName" : "SubnetNotFoundException",
        "documentation" : "<p>The specified subnet does not exist.</p>"
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The specified subnet is out of available addresses.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetSubnetsRequest",
        "variableName" : "setSubnetsRequest",
        "variableType" : "SetSubnetsRequest",
        "documentation" : "<p>Contains the parameters for SetSubnets.</p>",
        "simpleType" : "SetSubnetsRequest",
        "variableSetterType" : "SetSubnetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setSubnets",
      "operationName" : "SetSubnets",
      "returnType" : {
        "returnType" : "SetSubnetsResult",
        "documentation" : "<p>Contains the output of SetSubnets.</p>"
      },
      "syncReturnType" : "SetSubnetsResult"
    }
  },
  "shapes" : {
    "Action" : {
      "c2jName" : "Action",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Information about an action.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Type",
        "c2jShape" : "ActionTypeEnum",
        "deprecated" : false,
        "documentation" : "<p>The type of action.</p>",
        "enumType" : "ActionTypeEnum",
        "fluentSetterDocumentation" : "/**<p>The type of action.</p>\n@param type The type of action.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ActionTypeEnum*/",
        "getterDocumentation" : "/**<p>The type of action.</p>\n@return The type of action.\n@see ActionTypeEnum*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Type",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Type",
        "setterDocumentation" : "/**<p>The type of action.</p>\n@param type The type of action.\n@see ActionTypeEnum*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The type of action.</p>\n@param type The type of action.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ActionTypeEnum*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "<p>The type of action.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TargetGroupArn",
        "c2jShape" : "TargetGroupArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the target group.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the target group.</p>\n@param targetGroupArn The Amazon Resource Name (ARN) of the target group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the target group.</p>\n@return The Amazon Resource Name (ARN) of the target group.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "TargetGroupArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TargetGroupArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "TargetGroupArn",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the target group.</p>\n@param targetGroupArn The Amazon Resource Name (ARN) of the target group.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "targetGroupArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the target group.</p>\n@param targetGroupArn The Amazon Resource Name (ARN) of the target group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "targetGroupArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the target group.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "TargetGroupArn" : {
          "c2jName" : "TargetGroupArn",
          "c2jShape" : "TargetGroupArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the target group.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the target group.</p>\n@param targetGroupArn The Amazon Resource Name (ARN) of the target group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the target group.</p>\n@return The Amazon Resource Name (ARN) of the target group.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "TargetGroupArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TargetGroupArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "TargetGroupArn",
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the target group.</p>\n@param targetGroupArn The Amazon Resource Name (ARN) of the target group.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "targetGroupArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the target group.</p>\n@param targetGroupArn The Amazon Resource Name (ARN) of the target group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "targetGroupArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the target group.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Type" : {
          "c2jName" : "Type",
          "c2jShape" : "ActionTypeEnum",
          "deprecated" : false,
          "documentation" : "<p>The type of action.</p>",
          "enumType" : "ActionTypeEnum",
          "fluentSetterDocumentation" : "/**<p>The type of action.</p>\n@param type The type of action.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ActionTypeEnum*/",
          "getterDocumentation" : "/**<p>The type of action.</p>\n@return The type of action.\n@see ActionTypeEnum*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Type",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Type",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "Type",
          "setterDocumentation" : "/**<p>The type of action.</p>\n@param type The type of action.\n@see ActionTypeEnum*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The type of action.</p>\n@param type The type of action.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ActionTypeEnum*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "<p>The type of action.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "Type", "TargetGroupArn" ],
      "shapeName" : "Action",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "Action",
        "variableName" : "action",
        "variableType" : "Action",
        "documentation" : null,
        "simpleType" : "Action",
        "variableSetterType" : "Action"
      },
      "wrapper" : false
    },
    "ActionTypeEnum" : {
      "c2jName" : "ActionTypeEnum",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "Forward",
        "value" : "forward"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "required" : null,
      "shapeName" : "ActionTypeEnum",
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "ActionTypeEnum",
        "variableName" : "actionTypeEnum",
        "variableType" : "ActionTypeEnum",
        "documentation" : null,
        "simpleType" : "ActionTypeEnum",
        "variableSetterType" : "ActionTypeEnum"
      },
      "wrapper" : false
    },
    "AddTagsRequest" : {
      "c2jName" : "AddTagsInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains the parameters for AddTags.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddTags",
        "locationName" : null,
        "requestUri" : "/",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ResourceArns",
        "c2jShape" : "ResourceArns",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the resource.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource.</p>\n@param resourceArns The Amazon Resource Name (ARN) of the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource.</p>\n@return The Amazon Resource Name (ARN) of the resource.*/",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ResourceArns",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceArns",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ResourceArn",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "simple" : true,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "ResourceArns",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource.</p>\n@param resourceArns The Amazon Resource Name (ARN) of the resource.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "resourceArns",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setResourceArns(java.util.Collection)} or {@link #withResourceArns(java.util.Collection)} if you want to override the existing values.</p>\n@param resourceArns The Amazon Resource Name (ARN) of the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "resourceArns",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the resource.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Tags",
        "c2jShape" : "TagList",
        "deprecated" : false,
        "documentation" : "<p>The tags. Each resource can have a maximum of 10 tags.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 10 tags.</p>\n@param tags The tags. Each resource can have a maximum of 10 tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 10 tags.</p>\n@return The tags. Each resource can have a maximum of 10 tags.*/",
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Tags",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "getterDocumentation" : "/**\n@return */",
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterModel" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "simple" : false,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Tag",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Tag",
          "templateImplType" : "java.util.ArrayList<Tag>",
          "templateType" : "java.util.List<Tag>"
        },
        "map" : false,
        "mapModel" : null,
        "name" : "Tags",
        "setterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 10 tags.</p>\n@param tags The tags. Each resource can have a maximum of 10 tags.*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 10 tags.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags The tags. Each resource can have a maximum of 10 tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tags",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "<p>The tags. Each resource can have a maximum of 10 tags.</p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ResourceArns" : {
          "c2jName" : "ResourceArns",
          "c2jShape" : "ResourceArns",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the resource.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource.</p>\n@param resourceArns The Amazon Resource Name (ARN) of the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource.</p>\n@return The Amazon Resource Name (ARN) of the resource.*/",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ResourceArns",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResourceArns",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "ResourceArn",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "simple" : true,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "ResourceArns",
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource.</p>\n@param resourceArns The Amazon Resource Name (ARN) of the resource.*/",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "resourceArns",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the resource.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setResourceArns(java.util.Collection)} or {@link #withResourceArns(java.util.Collection)} if you want to override the existing values.</p>\n@param resourceArns The Amazon Resource Name (ARN) of the resource.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "resourceArns",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        },
        "Tags" : {
          "c2jName" : "Tags",
          "c2jShape" : "TagList",
          "deprecated" : false,
          "documentation" : "<p>The tags. Each resource can have a maximum of 10 tags.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 10 tags.</p>\n@param tags The tags. Each resource can have a maximum of 10 tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 10 tags.</p>\n@return The tags. Each resource can have a maximum of 10 tags.*/",
          "getterModel" : {
            "returnType" : "java.util.List<Tag>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "Tags",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Tags",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Tag",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "getterDocumentation" : "/**\n@return */",
              "getterModel" : {
                "returnType" : "Tag",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterModel" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "simple" : false,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Tag",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Tag",
            "templateImplType" : "java.util.ArrayList<Tag>",
            "templateType" : "java.util.List<Tag>"
          },
          "map" : false,
          "mapModel" : null,
          "name" : "Tags",
          "setterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 10 tags.</p>\n@param tags The tags. Each resource can have a maximum of 10 tags.*/",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<Tag>",
            "variableName" : "tags",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "simple" : false,
          "varargSetterDocumentation" : "/**<p>The tags. Each resource can have a maximum of 10 tags.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTags(java.util.Collection)} or {@link #withTags(java.util.Collection)} if you want to override the existing values.</p>\n@param tags The tags. Each resource can have a maximum of 10 tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<Tag>",
            "variableName" : "tags",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "<p>The tags. Each resource can have a maximum of 10 tags.</p>",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "ResourceArns", "Tags" ],
      "shapeName" : "AddTagsRequest",
      "unmarshaller" : null,
      "variable" : {
[...]
