{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeFileSystems" : {
        "methodForms" : [ [ ] ]
      }
    },
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-02-01",
    "asyncClient" : "AmazonElasticFileSystemAsyncClient",
    "asyncClientBuilderClassName" : "AmazonElasticFileSystemAsyncClientBuilder",
    "asyncInterface" : "AmazonElasticFileSystemAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonElasticFileSystemModuleInjector",
    "defaultEndpoint" : "https://elasticfilesystem.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "elasticfilesystem.us-east-1.amazonaws.com",
    "documentation" : "<fullname>Amazon Elastic File System</fullname> <p>Amazon Elastic File System (Amazon EFS) provides simple, scalable file storage for use with Amazon EC2 instances in the AWS Cloud. With Amazon EFS, storage capacity is elastic, growing and shrinking automatically as you add and remove files, so your applications have the storage they need, when they need it. For more information, see the <a href=\"http://docs.aws.amazon.com/efs/latest/ug/api-reference.html\">User Guide</a>.</p>",
    "endpointPrefix" : "elasticfilesystem",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.elasticfilesystem",
    "packagePath" : "com/amazonaws/services/elasticfilesystem",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "serviceAbbreviation" : "EFS",
    "serviceFullName" : "Amazon Elastic File System",
    "serviceName" : "EFS",
    "signingName" : "elasticfilesystem",
    "smokeTestsPackageName" : "com.amazonaws.services.elasticfilesystem.smoketests",
    "syncClient" : "AmazonElasticFileSystemClient",
    "syncClientBuilderClassName" : "AmazonElasticFileSystemClientBuilder",
    "syncInterface" : "AmazonElasticFileSystem",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateFileSystem" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFileSystemResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFileSystemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFileSystemRequest, CreateFileSystemResult>",
      "asyncReturnType" : "CreateFileSystemResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new, empty file system. The operation requires a creation token in the request that Amazon EFS uses to ensure idempotent creation (calling the operation with same creation token has no effect). If a file system does not currently exist that is owned by the caller's AWS account with the specified creation token, this operation does the following:</p> <ul> <li> <p>Creates a new, empty file system. The file system will have an Amazon EFS assigned ID, and an initial lifecycle state <code>creating</code>.</p> </li> <li> <p>Returns with the description of the created file system.</p> </li> </ul> <p>Otherwise, this operation returns a <code>FileSystemAlreadyExists</code> error with the ID of the existing file system.</p> <note> <p>For basic use cases, you can use a randomly generated UUID for the creation token.</p> </note> <p> The idempotent operation allows you to retry a <code>CreateFileSystem</code> call without risk of creating an extra file system. This can happen when an initial call fails in a way that leaves it uncertain whether or not a file system was actually created. An example might be that a transport level timeout occurred or your connection was reset. As long as you use the same creation token, if the initial call had succeeded in creating a file system, the client can learn of its existence from the <code>FileSystemAlreadyExists</code> error.</p> <note> <p>The <code>CreateFileSystem</code> call returns while the file system's lifecycle state is still <code>creating</code>. You can check the file system creation status by calling the <a>DescribeFileSystems</a> operation, which among other things returns the file system state.</p> </note> <p>This operation also takes an optional <code>PerformanceMode</code> parameter that you choose for your file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. The performance mode can't be changed after the file system has been created. For more information, see <a href=\"http://docs.aws.amazon.com/efs/latest/ug/performance.html#performancemodes.html\">Amazon EFS: Performance Modes</a>.</p> <p>After the file system is fully created, Amazon EFS sets its lifecycle state to <code>available</code>, at which point you can create one or more mount targets for the file system in your VPC. For more information, see <a>CreateMountTarget</a>. You mount your Amazon EFS file system on an EC2 instances in your VPC via the mount target. For more information, see <a href=\"http://docs.aws.amazon.com/efs/latest/ug/how-it-works.html\">Amazon EFS: How it Works</a>. </p> <p> This operation requires permissions for the <code>elasticfilesystem:CreateFileSystem</code> action. </p>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemAlreadyExistsException",
        "documentation" : "<p>Returned if the file system you are trying to create already exists, with the creation token you provided.</p>"
      }, {
        "exceptionName" : "FileSystemLimitExceededException",
        "documentation" : "<p>Returned if the AWS account has already created maximum number of file systems allowed per account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateFileSystemRequest",
        "variableName" : "createFileSystemRequest",
        "variableType" : "CreateFileSystemRequest",
        "documentation" : "",
        "simpleType" : "CreateFileSystemRequest",
        "variableSetterType" : "CreateFileSystemRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFileSystem",
      "operationName" : "CreateFileSystem",
      "returnType" : {
        "returnType" : "CreateFileSystemResult",
        "documentation" : "<p>Description of the file system.</p>"
      },
      "syncReturnType" : "CreateFileSystemResult"
    },
    "CreateMountTarget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMountTargetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMountTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMountTargetRequest, CreateMountTargetResult>",
      "asyncReturnType" : "CreateMountTargetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a mount target for a file system. You can then mount the file system on EC2 instances via the mount target.</p> <p>You can create one mount target in each Availability Zone in your VPC. All EC2 instances in a VPC within a given Availability Zone share a single mount target for a given file system. If you have multiple subnets in an Availability Zone, you create a mount target in one of the subnets. EC2 instances do not need to be in the same subnet as the mount target in order to access their file system. For more information, see <a href=\"http://docs.aws.amazon.com/efs/latest/ug/how-it-works.html\">Amazon EFS: How it Works</a>. </p> <p>In the request, you also specify a file system ID for which you are creating the mount target and the file system's lifecycle state must be <code>available</code>. For more information, see <a>DescribeFileSystems</a>.</p> <p>In the request, you also provide a subnet ID, which determines the following:</p> <ul> <li> <p>VPC in which Amazon EFS creates the mount target</p> </li> <li> <p>Availability Zone in which Amazon EFS creates the mount target</p> </li> <li> <p>IP address range from which Amazon EFS selects the IP address of the mount target (if you don't specify an IP address in the request)</p> </li> </ul> <p>After creating the mount target, Amazon EFS returns a response that includes, a <code>MountTargetId</code> and an <code>IpAddress</code>. You use this IP address when mounting the file system in an EC2 instance. You can also use the mount target's DNS name when mounting the file system. The EC2 instance on which you mount the file system via the mount target can resolve the mount target's DNS name to its IP address. For more information, see <a href=\"http://docs.aws.amazon.com/efs/latest/ug/how-it-works.html#how-it-works-implementation\">How it Works: Implementation Overview</a>. </p> <p>Note that you can create mount targets for a file system in only one VPC, and there can be only one mount target per Availability Zone. That is, if the file system already has one or more mount targets created for it, the subnet specified in the request to add another mount target must meet the following requirements:</p> <ul> <li> <p>Must belong to the same VPC as the subnets of the existing mount targets</p> </li> <li> <p>Must not be in the same Availability Zone as any of the subnets of the existing mount targets</p> </li> </ul> <p>If the request satisfies the requirements, Amazon EFS does the following:</p> <ul> <li> <p>Creates a new mount target in the specified subnet.</p> </li> <li> <p>Also creates a new network interface in the subnet as follows:</p> <ul> <li> <p>If the request provides an <code>IpAddress</code>, Amazon EFS assigns that IP address to the network interface. Otherwise, Amazon EFS assigns a free address in the subnet (in the same way that the Amazon EC2 <code>CreateNetworkInterface</code> call does when a request does not specify a primary private IP address).</p> </li> <li> <p>If the request provides <code>SecurityGroups</code>, this network interface is associated with those security groups. Otherwise, it belongs to the default security group for the subnet's VPC.</p> </li> <li> <p>Assigns the description <code>Mount target <i>fsmt-id</i> for file system <i>fs-id</i> </code> where <code> <i>fsmt-id</i> </code> is the mount target ID, and <code> <i>fs-id</i> </code> is the <code>FileSystemId</code>.</p> </li> <li> <p>Sets the <code>requesterManaged</code> property of the network interface to <code>true</code>, and the <code>requesterId</code> value to <code>EFS</code>.</p> </li> </ul> <p>Each Amazon EFS mount target has one corresponding requestor-managed EC2 network interface. After the network interface is created, Amazon EFS sets the <code>NetworkInterfaceId</code> field in the mount target's description to the network interface ID, and the <code>IpAddress</code> field to its address. If network interface creation fails, the entire <code>CreateMountTarget</code> operation fails.</p> </li> </ul> <note> <p>The <code>CreateMountTarget</code> call returns only after creating the network interface, but while the mount target state is still <code>creating</code>. You can check the mount target creation status by calling the <a>DescribeFileSystems</a> operation, which among other things returns the mount target state.</p> </note> <p>We recommend you create a mount target in each of the Availability Zones. There are cost considerations for using a file system in an Availability Zone through a mount target created in another Availability Zone. For more information, see <a href=\"http://aws.amazon.com/efs/\">Amazon EFS</a>. In addition, by always using a mount target local to the instance's Availability Zone, you eliminate a partial failure scenario. If the Availability Zone in which your mount target is created goes down, then you won't be able to access your file system through that mount target. </p> <p>This operation requires permissions for the following action on the file system:</p> <ul> <li> <p> <code>elasticfilesystem:CreateMountTarget</code> </p> </li> </ul> <p>This operation also requires permissions for the following Amazon EC2 actions:</p> <ul> <li> <p> <code>ec2:DescribeSubnets</code> </p> </li> <li> <p> <code>ec2:DescribeNetworkInterfaces</code> </p> </li> <li> <p> <code>ec2:CreateNetworkInterface</code> </p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      }, {
        "exceptionName" : "IncorrectFileSystemLifeCycleStateException",
        "documentation" : "<p>Returned if the file system's life cycle state is not \"created\".</p>"
      }, {
        "exceptionName" : "MountTargetConflictException",
        "documentation" : "<p>Returned if the mount target would violate one of the specified restrictions based on the file system's existing mount targets.</p>"
      }, {
        "exceptionName" : "SubnetNotFoundException",
        "documentation" : "<p>Returned if there is no subnet with ID <code>SubnetId</code> provided in the request.</p>"
      }, {
        "exceptionName" : "NoFreeAddressesInSubnetException",
        "documentation" : "<p>Returned if <code>IpAddress</code> was not specified in the request and there are no free IP addresses in the subnet.</p>"
      }, {
        "exceptionName" : "IpAddressInUseException",
        "documentation" : "<p>Returned if the request specified an <code>IpAddress</code> that is already in use in the subnet.</p>"
      }, {
        "exceptionName" : "NetworkInterfaceLimitExceededException",
        "documentation" : "<p> The calling account has reached the ENI limit for the specific AWS region. Client should try to delete some ENIs or get its account limit raised. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Appendix_Limits.html\">Amazon VPC Limits</a> in the Amazon Virtual Private Cloud User Guide (see the Network interfaces per VPC entry in the table). </p>"
      }, {
        "exceptionName" : "SecurityGroupLimitExceededException",
        "documentation" : "<p>Returned if the size of <code>SecurityGroups</code> specified in the request is greater than five.</p>"
      }, {
        "exceptionName" : "SecurityGroupNotFoundException",
        "documentation" : "<p>Returned if one of the specified security groups does not exist in the subnet's VPC.</p>"
      }, {
        "exceptionName" : "UnsupportedAvailabilityZoneException",
        "documentation" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateMountTargetRequest",
        "variableName" : "createMountTargetRequest",
        "variableType" : "CreateMountTargetRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateMountTargetRequest",
        "variableSetterType" : "CreateMountTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMountTarget",
      "operationName" : "CreateMountTarget",
      "returnType" : {
        "returnType" : "CreateMountTargetResult",
        "documentation" : "<p>Provides a description of a mount target.</p>"
      },
      "syncReturnType" : "CreateMountTargetResult"
    },
    "CreateTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateTagsRequest, CreateTagsResult>",
      "asyncReturnType" : "CreateTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or overwrites tags associated with a file system. Each tag is a key-value pair. If a tag key specified in the request already exists on the file system, this operation overwrites its value with the value provided in the request. If you add the <code>Name</code> tag to your file system, Amazon EFS returns it in the response to the <a>DescribeFileSystems</a> operation. </p> <p>This operation requires permission for the <code>elasticfilesystem:CreateTags</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateTagsRequest",
        "variableName" : "createTagsRequest",
        "variableType" : "CreateTagsRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateTagsRequest",
        "variableSetterType" : "CreateTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createTags",
      "operationName" : "CreateTags",
      "returnType" : {
        "returnType" : "CreateTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateTagsResult"
    },
    "DeleteFileSystem" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFileSystemResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFileSystemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFileSystemRequest, DeleteFileSystemResult>",
      "asyncReturnType" : "DeleteFileSystemResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a file system, permanently severing access to its contents. Upon return, the file system no longer exists and you can't access any contents of the deleted file system.</p> <p> You can't delete a file system that is in use. That is, if the file system has any mount targets, you must first delete them. For more information, see <a>DescribeMountTargets</a> and <a>DeleteMountTarget</a>. </p> <note> <p>The <code>DeleteFileSystem</code> call returns while the file system state is still <code>deleting</code>. You can check the file system deletion status by calling the <a>DescribeFileSystems</a> operation, which returns a list of file systems in your account. If you pass file system ID or creation token for the deleted file system, the <a>DescribeFileSystems</a> returns a <code>404 FileSystemNotFound</code> error.</p> </note> <p>This operation requires permissions for the <code>elasticfilesystem:DeleteFileSystem</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      }, {
        "exceptionName" : "FileSystemInUseException",
        "documentation" : "<p>Returned if a file system has mount targets.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteFileSystemRequest",
        "variableName" : "deleteFileSystemRequest",
        "variableType" : "DeleteFileSystemRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteFileSystemRequest",
        "variableSetterType" : "DeleteFileSystemRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFileSystem",
      "operationName" : "DeleteFileSystem",
      "returnType" : {
        "returnType" : "DeleteFileSystemResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFileSystemResult"
    },
    "DeleteMountTarget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMountTargetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMountTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMountTargetRequest, DeleteMountTargetResult>",
      "asyncReturnType" : "DeleteMountTargetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified mount target.</p> <p>This operation forcibly breaks any mounts of the file system via the mount target that is being deleted, which might disrupt instances or applications using those mounts. To avoid applications getting cut off abruptly, you might consider unmounting any mounts of the mount target, if feasible. The operation also deletes the associated network interface. Uncommitted writes may be lost, but breaking a mount target using this operation does not corrupt the file system itself. The file system you created remains. You can mount an EC2 instance in your VPC via another mount target.</p> <p>This operation requires permissions for the following action on the file system:</p> <ul> <li> <p> <code>elasticfilesystem:DeleteMountTarget</code> </p> </li> </ul> <note> <p>The <code>DeleteMountTarget</code> call returns while the mount target state is still <code>deleting</code>. You can check the mount target deletion by calling the <a>DescribeMountTargets</a> operation, which returns a list of mount target descriptions for the given file system. </p> </note> <p>The operation also requires permissions for the following Amazon EC2 action on the mount target's network interface:</p> <ul> <li> <p> <code>ec2:DeleteNetworkInterface</code> </p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "DependencyTimeoutException",
        "documentation" : "<p>The service timed out trying to fulfill the request, and the client should try the call again.</p>"
      }, {
        "exceptionName" : "MountTargetNotFoundException",
        "documentation" : "<p>Returned if there is no mount target with the specified ID found in the caller's account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteMountTargetRequest",
        "variableName" : "deleteMountTargetRequest",
        "variableType" : "DeleteMountTargetRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteMountTargetRequest",
        "variableSetterType" : "DeleteMountTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMountTarget",
      "operationName" : "DeleteMountTarget",
      "returnType" : {
        "returnType" : "DeleteMountTargetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMountTargetResult"
    },
    "DeleteTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteTagsRequest, DeleteTagsResult>",
      "asyncReturnType" : "DeleteTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified tags from a file system. If the <code>DeleteTags</code> request includes a tag key that does not exist, Amazon EFS ignores it and doesn't cause an error. For more information about tags and related restrictions, see <a href=\"http://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Tag Restrictions</a> in the <i>AWS Billing and Cost Management User Guide</i>.</p> <p>This operation requires permissions for the <code>elasticfilesystem:DeleteTags</code> action.</p>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteTagsRequest",
        "variableName" : "deleteTagsRequest",
        "variableType" : "DeleteTagsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteTagsRequest",
        "variableSetterType" : "DeleteTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteTags",
      "operationName" : "DeleteTags",
      "returnType" : {
        "returnType" : "DeleteTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteTagsResult"
    },
    "DescribeFileSystems" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFileSystemsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFileSystemsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFileSystemsRequest, DescribeFileSystemsResult>",
      "asyncReturnType" : "DescribeFileSystemsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the description of a specific Amazon EFS file system if either the file system <code>CreationToken</code> or the <code>FileSystemId</code> is provided. Otherwise, it returns descriptions of all file systems owned by the caller's AWS account in the AWS Region of the endpoint that you're calling.</p> <p> When retrieving all file system descriptions, you can optionally specify the <code>MaxItems</code> parameter to limit the number of descriptions in a response. If more file system descriptions remain, Amazon EFS returns a <code>NextMarker</code>, an opaque token, in the response. In this case, you should send a subsequent request with the <code>Marker</code> request parameter set to the value of <code>NextMarker</code>. </p> <p>To retrieve a list of your file system descriptions, this operation is used in an iterative process, where <code>DescribeFileSystems</code> is called first without the <code>Marker</code> and then the operation continues to call it with the <code>Marker</code> parameter set to the value of the <code>NextMarker</code> from the previous response until the response has no <code>NextMarker</code>. </p> <p>The implementation may return fewer than <code>MaxItems</code> file system descriptions while still including a <code>NextMarker</code> value. </p> <p> The order of file systems returned in the response of one <code>DescribeFileSystems</code> call and the order of file systems returned across the responses of a multi-call iteration is unspecified. </p> <p> This operation requires permissions for the <code>elasticfilesystem:DescribeFileSystems</code> action. </p>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeFileSystemsRequest",
        "variableName" : "describeFileSystemsRequest",
        "variableType" : "DescribeFileSystemsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeFileSystemsRequest",
        "variableSetterType" : "DescribeFileSystemsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFileSystems",
      "operationName" : "DescribeFileSystems",
      "returnType" : {
        "returnType" : "DescribeFileSystemsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFileSystemsResult"
    },
    "DescribeMountTargetSecurityGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMountTargetSecurityGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMountTargetSecurityGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMountTargetSecurityGroupsRequest, DescribeMountTargetSecurityGroupsResult>",
      "asyncReturnType" : "DescribeMountTargetSecurityGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the security groups currently in effect for a mount target. This operation requires that the network interface of the mount target has been created and the lifecycle state of the mount target is not <code>deleted</code>.</p> <p>This operation requires permissions for the following actions:</p> <ul> <li> <p> <code>elasticfilesystem:DescribeMountTargetSecurityGroups</code> action on the mount target's file system. </p> </li> <li> <p> <code>ec2:DescribeNetworkInterfaceAttribute</code> action on the mount target's network interface. </p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "MountTargetNotFoundException",
        "documentation" : "<p>Returned if there is no mount target with the specified ID found in the caller's account.</p>"
      }, {
        "exceptionName" : "IncorrectMountTargetStateException",
        "documentation" : "<p>Returned if the mount target is not in the correct state for the operation.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeMountTargetSecurityGroupsRequest",
        "variableName" : "describeMountTargetSecurityGroupsRequest",
        "variableType" : "DescribeMountTargetSecurityGroupsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeMountTargetSecurityGroupsRequest",
        "variableSetterType" : "DescribeMountTargetSecurityGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeMountTargetSecurityGroups",
      "operationName" : "DescribeMountTargetSecurityGroups",
      "returnType" : {
        "returnType" : "DescribeMountTargetSecurityGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeMountTargetSecurityGroupsResult"
    },
    "DescribeMountTargets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeMountTargetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeMountTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeMountTargetsRequest, DescribeMountTargetsResult>",
      "asyncReturnType" : "DescribeMountTargetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the descriptions of all the current mount targets, or a specific mount target, for a file system. When requesting all of the current mount targets, the order of mount targets returned in the response is unspecified.</p> <p>This operation requires permissions for the <code>elasticfilesystem:DescribeMountTargets</code> action, on either the file system ID that you specify in <code>FileSystemId</code>, or on the file system of the mount target that you specify in <code>MountTargetId</code>.</p>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      }, {
        "exceptionName" : "MountTargetNotFoundException",
        "documentation" : "<p>Returned if there is no mount target with the specified ID found in the caller's account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeMountTargetsRequest",
        "variableName" : "describeMountTargetsRequest",
        "variableType" : "DescribeMountTargetsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeMountTargetsRequest",
        "variableSetterType" : "DescribeMountTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeMountTargets",
      "operationName" : "DescribeMountTargets",
      "returnType" : {
        "returnType" : "DescribeMountTargetsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeMountTargetsResult"
    },
    "DescribeTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "asyncReturnType" : "DescribeTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the tags associated with a file system. The order of tags returned in the response of one <code>DescribeTags</code> call and the order of tags returned across the responses of a multi-call iteration (when using pagination) is unspecified. </p> <p> This operation requires permissions for the <code>elasticfilesystem:DescribeTags</code> action. </p>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>Returned if the specified <code>FileSystemId</code> does not exist in the requester's AWS account.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeTagsRequest",
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTags",
      "operationName" : "DescribeTags",
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeTagsResult"
    },
    "ModifyMountTargetSecurityGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyMountTargetSecurityGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyMountTargetSecurityGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyMountTargetSecurityGroupsRequest, ModifyMountTargetSecurityGroupsResult>",
      "asyncReturnType" : "ModifyMountTargetSecurityGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the set of security groups in effect for a mount target.</p> <p>When you create a mount target, Amazon EFS also creates a new network interface. For more information, see <a>CreateMountTarget</a>. This operation replaces the security groups in effect for the network interface associated with a mount target, with the <code>SecurityGroups</code> provided in the request. This operation requires that the network interface of the mount target has been created and the lifecycle state of the mount target is not <code>deleted</code>. </p> <p>The operation requires permissions for the following actions:</p> <ul> <li> <p> <code>elasticfilesystem:ModifyMountTargetSecurityGroups</code> action on the mount target's file system. </p> </li> <li> <p> <code>ec2:ModifyNetworkInterfaceAttribute</code> action on the mount target's network interface. </p> </li> </ul>",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>"
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Returned if an error occurred on the server side.</p>"
      }, {
        "exceptionName" : "MountTargetNotFoundException",
        "documentation" : "<p>Returned if there is no mount target with the specified ID found in the caller's account.</p>"
      }, {
        "exceptionName" : "IncorrectMountTargetStateException",
        "documentation" : "<p>Returned if the mount target is not in the correct state for the operation.</p>"
      }, {
        "exceptionName" : "SecurityGroupLimitExceededException",
        "documentation" : "<p>Returned if the size of <code>SecurityGroups</code> specified in the request is greater than five.</p>"
      }, {
        "exceptionName" : "SecurityGroupNotFoundException",
        "documentation" : "<p>Returned if one of the specified security groups does not exist in the subnet's VPC.</p>"
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ModifyMountTargetSecurityGroupsRequest",
        "variableName" : "modifyMountTargetSecurityGroupsRequest",
        "variableType" : "ModifyMountTargetSecurityGroupsRequest",
        "documentation" : "<p/>",
        "simpleType" : "ModifyMountTargetSecurityGroupsRequest",
        "variableSetterType" : "ModifyMountTargetSecurityGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyMountTargetSecurityGroups",
      "operationName" : "ModifyMountTargetSecurityGroups",
      "returnType" : {
        "returnType" : "ModifyMountTargetSecurityGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ModifyMountTargetSecurityGroupsResult"
    }
  },
  "shapes" : {
    "BadRequestException" : {
      "c2jName" : "BadRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
      "enums" : null,
      "errorCode" : "BadRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ErrorCode",
        "c2jShape" : "ErrorCode",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**\n@return */",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "ErrorCode",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ErrorCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "ErrorCode",
        "setterDocumentation" : "/**\n@param errorCode */",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "errorCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ErrorCode" : {
          "c2jName" : "ErrorCode",
          "c2jShape" : "ErrorCode",
          "deprecated" : false,
          "documentation" : "",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**\n@return */",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "ErrorCode",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ErrorCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "ErrorCode",
          "setterDocumentation" : "/**\n@param errorCode */",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "errorCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**\n@param errorCode \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "errorCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "ErrorCode" ],
      "shapeName" : "BadRequestException",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "BadRequestException",
        "variableName" : "badRequestException",
        "variableType" : "BadRequestException",
        "documentation" : null,
        "simpleType" : "BadRequestException",
        "variableSetterType" : "BadRequestException"
      },
      "wrapper" : false
    },
    "CreateFileSystemRequest" : {
      "c2jName" : "CreateFileSystemRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateFileSystem",
        "locationName" : null,
        "requestUri" : "/2015-02-01/file-systems",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "CreationToken",
        "c2jShape" : "CreationToken",
        "deprecated" : false,
        "documentation" : "<p>String of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>String of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.</p>\n@param creationToken String of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>String of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.</p>\n@return String of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "CreationToken",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreationToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "CreationToken",
        "setterDocumentation" : "/**<p>String of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.</p>\n@param creationToken String of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "creationToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>String of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.</p>\n@param creationToken String of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "creationToken",
          "variableType" : "String",
          "documentation" : "<p>String of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PerformanceMode",
        "c2jShape" : "PerformanceMode",
        "deprecated" : false,
        "documentation" : "<p>The <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. This can't be changed after the file system has been created.</p>",
        "enumType" : "PerformanceMode",
        "fluentSetterDocumentation" : "/**<p>The <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. This can't be changed after the file system has been created.</p>\n@param performanceMode The <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. This can't be changed after the file system has been created.\n@return Returns a reference to this object so that method calls can be chained together.\n@see PerformanceMode*/",
        "getterDocumentation" : "/**<p>The <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. This can't be changed after the file system has been created.</p>\n@return The <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. This can't be changed after the file system has been created.\n@see PerformanceMode*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "PerformanceMode",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PerformanceMode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "PerformanceMode",
        "setterDocumentation" : "/**<p>The <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. This can't be changed after the file system has been created.</p>\n@param performanceMode The <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. This can't be changed after the file system has been created.\n@see PerformanceMode*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "performanceMode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. This can't be changed after the file system has been created.</p>\n@param performanceMode The <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. This can't be changed after the file system has been created.\n@return Returns a reference to this object so that method calls can be chained together.\n@see PerformanceMode*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "performanceMode",
          "variableType" : "String",
          "documentation" : "<p>The <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. This can't be changed after the file system has been created.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CreationToken" : {
          "c2jName" : "CreationToken",
          "c2jShape" : "CreationToken",
          "deprecated" : false,
          "documentation" : "<p>String of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>String of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.</p>\n@param creationToken String of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "getterDocumentation" : "/**<p>String of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.</p>\n@return String of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "CreationToken",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CreationToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "CreationToken",
          "setterDocumentation" : "/**<p>String of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.</p>\n@param creationToken String of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "creationToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>String of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.</p>\n@param creationToken String of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "creationToken",
            "variableType" : "String",
            "documentation" : "<p>String of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "PerformanceMode" : {
          "c2jName" : "PerformanceMode",
          "c2jShape" : "PerformanceMode",
          "deprecated" : false,
          "documentation" : "<p>The <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. This can't be changed after the file system has been created.</p>",
          "enumType" : "PerformanceMode",
          "fluentSetterDocumentation" : "/**<p>The <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. This can't be changed after the file system has been created.</p>\n@param performanceMode The <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. This can't be changed after the file system has been created.\n@return Returns a reference to this object so that method calls can be chained together.\n@see PerformanceMode*/",
          "getterDocumentation" : "/**<p>The <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. This can't be changed after the file system has been created.</p>\n@return The <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. This can't be changed after the file system has been created.\n@see PerformanceMode*/",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocationName" : "PerformanceMode",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "PerformanceMode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "name" : "PerformanceMode",
          "setterDocumentation" : "/**<p>The <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. This can't be changed after the file system has been created.</p>\n@param performanceMode The <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. This can't be changed after the file system has been created.\n@see PerformanceMode*/",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "performanceMode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "simple" : true,
          "varargSetterDocumentation" : "/**<p>The <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. This can't be changed after the file system has been created.</p>\n@param performanceMode The <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. This can't be changed after the file system has been created.\n@return Returns a reference to this object so that method calls can be chained together.\n@see PerformanceMode*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "performanceMode",
            "variableType" : "String",
            "documentation" : "<p>The <code>PerformanceMode</code> of the file system. We recommend <code>generalPurpose</code> performance mode for most file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. This can't be changed after the file system has been created.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "required" : [ "CreationToken" ],
      "shapeName" : "CreateFileSystemRequest",
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "CreateFileSystemRequest",
        "variableName" : "createFileSystemRequest",
        "variableType" : "CreateFileSystemRequest",
        "documentation" : null,
        "simpleType" : "CreateFileSystemRequest",
        "variableSetterType" : "CreateFileSystemRequest"
      },
      "wrapper" : false
    },
    "CreateFileSystemResult" : {
      "c2jName" : "FileSystemDescription",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Description of the file system.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "OwnerId",
        "c2jShape" : "AwsAccountId",
        "deprecated" : false,
        "documentation" : "<p>AWS account that created the file system. If the file system was created by an IAM user, the parent account to which the user belongs is the owner.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>AWS account that created the file system. If the file system was created by an IAM user, the parent account to which the user belongs is the owner.</p>\n@param ownerId AWS account that created the file system. If the file system was created by an IAM user, the parent account to which the user belongs is the owner.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>AWS account that created the file system. If the file system was created by an IAM user, the parent account to which the user belongs is the owner.</p>\n@return AWS account that created the file system. If the file system was created by an IAM user, the parent account to which the user belongs is the owner.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "OwnerId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "OwnerId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "OwnerId",
        "setterDocumentation" : "/**<p>AWS account that created the file system. If the file system was created by an IAM user, the parent account to which the user belongs is the owner.</p>\n@param ownerId AWS account that created the file system. If the file system was created by an IAM user, the parent account to which the user belongs is the owner.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "ownerId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>AWS account that created the file system. If the file system was created by an IAM user, the parent account to which the user belongs is the owner.</p>\n@param ownerId AWS account that created the file system. If the file system was created by an IAM user, the parent account to which the user belongs is the owner.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "ownerId",
          "variableType" : "String",
          "documentation" : "<p>AWS account that created the file system. If the file system was created by an IAM user, the parent account to which the user belongs is the owner.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreationToken",
        "c2jShape" : "CreationToken",
        "deprecated" : false,
        "documentation" : "<p>Opaque string specified in the request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Opaque string specified in the request.</p>\n@param creationToken Opaque string specified in the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Opaque string specified in the request.</p>\n@return Opaque string specified in the request.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "CreationToken",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreationToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "CreationToken",
        "setterDocumentation" : "/**<p>Opaque string specified in the request.</p>\n@param creationToken Opaque string specified in the request.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "creationToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Opaque string specified in the request.</p>\n@param creationToken Opaque string specified in the request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "creationToken",
          "variableType" : "String",
          "documentation" : "<p>Opaque string specified in the request.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "FileSystemId",
        "c2jShape" : "FileSystemId",
        "deprecated" : false,
        "documentation" : "<p>ID of the file system, assigned by Amazon EFS.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>ID of the file system, assigned by Amazon EFS.</p>\n@param fileSystemId ID of the file system, assigned by Amazon EFS.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>ID of the file system, assigned by Amazon EFS.</p>\n@return ID of the file system, assigned by Amazon EFS.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "FileSystemId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FileSystemId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "FileSystemId",
        "setterDocumentation" : "/**<p>ID of the file system, assigned by Amazon EFS.</p>\n@param fileSystemId ID of the file system, assigned by Amazon EFS.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "fileSystemId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>ID of the file system, assigned by Amazon EFS.</p>\n@param fileSystemId ID of the file system, assigned by Amazon EFS.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "fileSystemId",
          "variableType" : "String",
          "documentation" : "<p>ID of the file system, assigned by Amazon EFS.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreationTime",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>Time that the file system was created, in seconds (since 1970-01-01T00:00:00Z).</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Time that the file system was created, in seconds (since 1970-01-01T00:00:00Z).</p>\n@param creationTime Time that the file system was created, in seconds (since 1970-01-01T00:00:00Z).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Time that the file system was created, in seconds (since 1970-01-01T00:00:00Z).</p>\n@return Time that the file system was created, in seconds (since 1970-01-01T00:00:00Z).*/",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "CreationTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreationTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "CreationTime",
        "setterDocumentation" : "/**<p>Time that the file system was created, in seconds (since 1970-01-01T00:00:00Z).</p>\n@param creationTime Time that the file system was created, in seconds (since 1970-01-01T00:00:00Z).*/",
        "setterModel" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "creationTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Time that the file system was created, in seconds (since 1970-01-01T00:00:00Z).</p>\n@param creationTime Time that the file system was created, in seconds (since 1970-01-01T00:00:00Z).\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "creationTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>Time that the file system was created, in seconds (since 1970-01-01T00:00:00Z).</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LifeCycleState",
        "c2jShape" : "LifeCycleState",
        "deprecated" : false,
        "documentation" : "<p>Lifecycle phase of the file system.</p>",
        "enumType" : "LifeCycleState",
        "fluentSetterDocumentation" : "/**<p>Lifecycle phase of the file system.</p>\n@param lifeCycleState Lifecycle phase of the file system.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LifeCycleState*/",
        "getterDocumentation" : "/**<p>Lifecycle phase of the file system.</p>\n@return Lifecycle phase of the file system.\n@see LifeCycleState*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "LifeCycleState",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LifeCycleState",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "LifeCycleState",
        "setterDocumentation" : "/**<p>Lifecycle phase of the file system.</p>\n@param lifeCycleState Lifecycle phase of the file system.\n@see LifeCycleState*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "lifeCycleState",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Lifecycle phase of the file system.</p>\n@param lifeCycleState Lifecycle phase of the file system.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LifeCycleState*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "lifeCycleState",
          "variableType" : "String",
          "documentation" : "<p>Lifecycle phase of the file system.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Name",
        "c2jShape" : "TagValue",
        "deprecated" : false,
        "documentation" : "<p>You can add tags to a file system, including a <code>Name</code> tag. For more information, see <a>CreateTags</a>. If the file system has a <code>Name</code> tag, Amazon EFS returns the value in this field. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>You can add tags to a file system, including a <code>Name</code> tag. For more information, see <a>CreateTags</a>. If the file system has a <code>Name</code> tag, Amazon EFS returns the value in this field. </p>\n@param name You can add tags to a file system, including a <code>Name</code> tag. For more information, see <a>CreateTags</a>. If the file system has a <code>Name</code> tag, Amazon EFS returns the value in this field.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>You can add tags to a file system, including a <code>Name</code> tag. For more information, see <a>CreateTags</a>. If the file system has a <code>Name</code> tag, Amazon EFS returns the value in this field. </p>\n@return You can add tags to a file system, including a <code>Name</code> tag. For more information, see <a>CreateTags</a>. If the file system has a <code>Name</code> tag, Amazon EFS returns the value in this field.*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "Name",
        "setterDocumentation" : "/**<p>You can add tags to a file system, including a <code>Name</code> tag. For more information, see <a>CreateTags</a>. If the file system has a <code>Name</code> tag, Amazon EFS returns the value in this field. </p>\n@param name You can add tags to a file system, including a <code>Name</code> tag. For more information, see <a>CreateTags</a>. If the file system has a <code>Name</code> tag, Amazon EFS returns the value in this field.*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>You can add tags to a file system, including a <code>Name</code> tag. For more information, see <a>CreateTags</a>. If the file system has a <code>Name</code> tag, Amazon EFS returns the value in this field. </p>\n@param name You can add tags to a file system, including a <code>Name</code> tag. For more information, see <a>CreateTags</a>. If the file system has a <code>Name</code> tag, Amazon EFS returns the value in this field.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>You can add tags to a file system, including a <code>Name</code> tag. For more information, see <a>CreateTags</a>. If the file system has a <code>Name</code> tag, Amazon EFS returns the value in this field. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "NumberOfMountTargets",
        "c2jShape" : "MountTargetCount",
        "deprecated" : false,
        "documentation" : "<p>Current number of mount targets that the file system has. For more information, see <a>CreateMountTarget</a>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Current number of mount targets that the file system has. For more information, see <a>CreateMountTarget</a>.</p>\n@param numberOfMountTargets Current number of mount targets that the file system has. For more information, see <a>CreateMountTarget</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Current number of mount targets that the file system has. For more information, see <a>CreateMountTarget</a>.</p>\n@return Current number of mount targets that the file system has. For more information, see <a>CreateMountTarget</a>.*/",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "NumberOfMountTargets",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NumberOfMountTargets",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "NumberOfMountTargets",
        "setterDocumentation" : "/**<p>Current number of mount targets that the file system has. For more information, see <a>CreateMountTarget</a>.</p>\n@param numberOfMountTargets Current number of mount targets that the file system has. For more information, see <a>CreateMountTarget</a>.*/",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "numberOfMountTargets",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>Current number of mount targets that the file system has. For more information, see <a>CreateMountTarget</a>.</p>\n@param numberOfMountTargets Current number of mount targets that the file system has. For more information, see <a>CreateMountTarget</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "numberOfMountTargets",
          "variableType" : "Integer",
          "documentation" : "<p>Current number of mount targets that the file system has. For more information, see <a>CreateMountTarget</a>.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SizeInBytes",
        "c2jShape" : "FileSystemSize",
        "deprecated" : false,
        "documentation" : "<p>Latest known metered size (in bytes) of data stored in the file system, in bytes, in its <code>Value</code> field, and the time at which that size was determined in its <code>Timestamp</code> field. The <code>Timestamp</code> value is the integer number of seconds since 1970-01-01T00:00:00Z. Note that the value does not represent the size of a consistent snapshot of the file system, but it is eventually consistent when there are no writes to the file system. That is, the value will represent actual size only if the file system is not modified for a period longer than a couple of hours. Otherwise, the value is not the exact size the file system was at any instant in time. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Latest known metered size (in bytes) of data stored in the file system, in bytes, in its <code>Value</code> field, and the time at which that size was determined in its <code>Timestamp</code> field. The <code>Timestamp</code> value is the integer number of seconds since 1970-01-01T00:00:00Z. Note that the value does not represent the size of a consistent snapshot of the file system, but it is eventually consistent when there are no writes to the file system. That is, the value will represent actual size only if the file system is not modified for a period longer than a couple of hours. Otherwise, the value is not the exact size the file system was at any instant in time. </p>\n@param sizeInBytes Latest known metered size (in bytes) of data stored in the file system, in bytes, in its <code>Value</code> field, and the time at which that size was determined in its <code>Timestamp</code> field. The <code>Timestamp</code> value is the integer number of seconds since 1970-01-01T00:00:00Z. Note that the value does not represent the size of a consistent snapshot of the file system, but it is eventually consistent when there are no writes to the file system. That is, the value will represent actual size only if the file system is not modified for a period longer than a couple of hours. Otherwise, the value is not the exact size the file system was at any instant in time.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "getterDocumentation" : "/**<p>Latest known metered size (in bytes) of data stored in the file system, in bytes, in its <code>Value</code> field, and the time at which that size was determined in its <code>Timestamp</code> field. The <code>Timestamp</code> value is the integer number of seconds since 1970-01-01T00:00:00Z. Note that the value does not represent the size of a consistent snapshot of the file system, but it is eventually consistent when there are no writes to the file system. That is, the value will represent actual size only if the file system is not modified for a period longer than a couple of hours. Otherwise, the value is not the exact size the file system was at any instant in time. </p>\n@return Latest known metered size (in bytes) of data stored in the file system, in bytes, in its <code>Value</code> field, and the time at which that size was determined in its <code>Timestamp</code> field. The <code>Timestamp</code> value is the integer number of seconds since 1970-01-01T00:00:00Z. Note that the value does not represent the size of a consistent snapshot of the file system, but it is eventually consistent when there are no writes to the file system. That is, the value will represent actual size only if the file system is not modified for a period longer than a couple of hours. Otherwise, the value is not the exact size the file system was at any instant in time.*/",
        "getterModel" : {
          "returnType" : "FileSystemSize",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "SizeInBytes",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SizeInBytes",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "SizeInBytes",
        "setterDocumentation" : "/**<p>Latest known metered size (in bytes) of data stored in the file system, in bytes, in its <code>Value</code> field, and the time at which that size was determined in its <code>Timestamp</code> field. The <code>Timestamp</code> value is the integer number of seconds since 1970-01-01T00:00:00Z. Note that the value does not represent the size of a consistent snapshot of the file system, but it is eventually consistent when there are no writes to the file system. That is, the value will represent actual size only if the file system is not modified for a period longer than a couple of hours. Otherwise, the value is not the exact size the file system was at any instant in time. </p>\n@param sizeInBytes Latest known metered size (in bytes) of data stored in the file system, in bytes, in its <code>Value</code> field, and the time at which that size was determined in its <code>Timestamp</code> field. The <code>Timestamp</code> value is the integer number of seconds since 1970-01-01T00:00:00Z. Note that the value does not represent the size of a consistent snapshot of the file system, but it is eventually consistent when there are no writes to the file system. That is, the value will represent actual size only if the file system is not modified for a period longer than a couple of hours. Otherwise, the value is not the exact size the file system was at any instant in time.*/",
        "setterModel" : {
          "variableDeclarationType" : "FileSystemSize",
          "variableName" : "sizeInBytes",
          "variableType" : "FileSystemSize",
          "documentation" : "",
          "simpleType" : "FileSystemSize",
          "variableSetterType" : "FileSystemSize"
        },
        "simple" : false,
        "varargSetterDocumentation" : "/**<p>Latest known metered size (in bytes) of data stored in the file system, in bytes, in its <code>Value</code> field, and the time at which that size was determined in its <code>Timestamp</code> field. The <code>Timestamp</code> value is the integer number of seconds since 1970-01-01T00:00:00Z. Note that the value does not represent the size of a consistent snapshot of the file system, but it is eventually consistent when there are no writes to the file system. That is, the value will represent actual size only if the file system is not modified for a period longer than a couple of hours. Otherwise, the value is not the exact size the file system was at any instant in time. </p>\n@param sizeInBytes Latest known metered size (in bytes) of data stored in the file system, in bytes, in its <code>Value</code> field, and the time at which that size was determined in its <code>Timestamp</code> field. The <code>Timestamp</code> value is the integer number of seconds since 1970-01-01T00:00:00Z. Note that the value does not represent the size of a consistent snapshot of the file system, but it is eventually consistent when there are no writes to the file system. That is, the value will represent actual size only if the file system is not modified for a period longer than a couple of hours. Otherwise, the value is not the exact size the file system was at any instant in time.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "FileSystemSize",
          "variableName" : "sizeInBytes",
          "variableType" : "FileSystemSize",
          "documentation" : "<p>Latest known metered size (in bytes) of data stored in the file system, in bytes, in its <code>Value</code> field, and the time at which that size was determined in its <code>Timestamp</code> field. The <code>Timestamp</code> value is the integer number of seconds since 1970-01-01T00:00:00Z. Note that the value does not represent the size of a consistent snapshot of the file system, but it is eventually consistent when there are no writes to the file system. That is, the value will represent actual size only if the file system is not modified for a period longer than a couple of hours. Otherwise, the value is not the exact size the file system was at any instant in time. </p>",
          "simpleType" : "FileSystemSize",
          "variableSetterType" : "FileSystemSize"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PerformanceMode",
        "c2jShape" : "PerformanceMode",
        "deprecated" : false,
        "documentation" : "<p>The <code>PerformanceMode</code> of the file system.</p>",
        "enumType" : "PerformanceMode",
        "fluentSetterDocumentation" : "/**<p>The <code>PerformanceMode</code> of the file system.</p>\n@param performanceMode The <code>PerformanceMode</code> of the file system.\n@return Returns a reference to this object so that method calls can be chained together.\n@see PerformanceMode*/",
        "getterDocumentation" : "/**<p>The <code>PerformanceMode</code> of the file system.</p>\n@return The <code>PerformanceMode</code> of the file system.\n@see PerformanceMode*/",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocationName" : "PerformanceMode",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PerformanceMode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "name" : "PerformanceMode",
        "setterDocumentation" : "/**<p>The <code>PerformanceMode</code> of the file system.</p>\n@param performanceMode The <code>PerformanceMode</code> of the file system.\n@see PerformanceMode*/",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "performanceMode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "simple" : true,
        "varargSetterDocumentation" : "/**<p>The <code>PerformanceMode</code> of the file system.</p>\n@param performanceMode The <code>PerformanceMode</code> of the file system.\n@return Returns a reference to this object so that method calls can be chained together.\n@see PerformanceMode*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "performanceMode",
          "variableType" : "String",
          "documentation" : "<p>The <code>PerformanceMode</code> of the file system.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CreationTime" : {
          "c2jName" : "CreationTime",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>Time that the file system was created, in seconds (since 1970-01-01T00:00:00Z).</p>",
          "enumType" : null,
[...]
