{
  "customizationConfig" : {
    "additionalShapeConstructors" : {
      "AppCookieStickinessPolicy" : {
        "constructorForms" : [ [ "PolicyName", "CookieName" ] ]
      },
      "ConfigureHealthCheckRequest" : {
        "constructorForms" : [ [ "LoadBalancerName", "HealthCheck" ] ]
      },
      "CreateAppCookieStickinessPolicyRequest" : {
        "constructorForms" : [ [ "LoadBalancerName", "PolicyName", "CookieName" ] ]
      },
      "CreateLBCookieStickinessPolicyRequest" : {
        "constructorForms" : [ [ "LoadBalancerName", "PolicyName" ] ]
      },
      "CreateLoadBalancerListenersRequest" : {
        "constructorForms" : [ [ "LoadBalancerName", "Listeners" ] ]
      },
      "CreateLoadBalancerRequest" : {
        "constructorForms" : [ [ "LoadBalancerName" ], [ "LoadBalancerName", "Listeners", "AvailabilityZones" ] ]
      },
      "DeleteLoadBalancerListenersRequest" : {
        "constructorForms" : [ [ "LoadBalancerName", "LoadBalancerPorts" ] ]
      },
      "DeleteLoadBalancerPolicyRequest" : {
        "constructorForms" : [ [ "LoadBalancerName", "PolicyName" ] ]
      },
      "DeleteLoadBalancerRequest" : {
        "constructorForms" : [ [ "LoadBalancerName" ] ]
      },
      "DeregisterInstancesFromLoadBalancerRequest" : {
        "constructorForms" : [ [ "LoadBalancerName", "Instances" ] ]
      },
      "DescribeInstanceHealthRequest" : {
        "constructorForms" : [ [ "LoadBalancerName" ] ]
      },
      "DescribeLoadBalancersRequest" : {
        "constructorForms" : [ [ "LoadBalancerNames" ] ]
      },
      "DisableAvailabilityZonesForLoadBalancerRequest" : {
        "constructorForms" : [ [ "LoadBalancerName", "AvailabilityZones" ] ]
      },
      "EnableAvailabilityZonesForLoadBalancerRequest" : {
        "constructorForms" : [ [ "LoadBalancerName", "AvailabilityZones" ] ]
      },
      "HealthCheck" : {
        "constructorForms" : [ [ "Target", "Interval", "Timeout", "UnhealthyThreshold", "HealthyThreshold" ] ]
      },
      "Instance" : {
        "constructorForms" : [ [ "InstanceId" ] ]
      },
      "LBCookieStickinessPolicy" : {
        "constructorForms" : [ [ "PolicyName", "CookieExpirationPeriod" ] ]
      },
      "Listener" : {
        "constructorForms" : [ [ "Protocol", "LoadBalancerPort", "InstancePort" ] ]
      },
      "PolicyAttribute" : {
        "constructorForms" : [ [ "AttributeName", "AttributeValue" ] ]
      },
      "RegisterInstancesWithLoadBalancerRequest" : {
        "constructorForms" : [ [ "LoadBalancerName", "Instances" ] ]
      },
      "SetLoadBalancerListenerSSLCertificateRequest" : {
        "constructorForms" : [ [ "LoadBalancerName", "LoadBalancerPort", "SSLCertificateId" ] ]
      },
      "SetLoadBalancerPoliciesOfListenerRequest" : {
        "constructorForms" : [ [ "LoadBalancerName", "LoadBalancerPort", "PolicyNames" ] ]
      }
    },
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : "ElasticLoadBalancing",
      "skip" : false
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : {
      "AccessPointNotFoundException" : "LoadBalancerNotFoundException",
      "DuplicateAccessPointNameException" : "DuplicateLoadBalancerNameException",
      "InvalidEndPointException" : "InvalidInstanceException",
      "TooManyAccessPointsException" : "TooManyLoadBalancersException"
    },
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : {
      "SetLoadBalancerPoliciesForBackendServerRequest" : [ "PolicyNames" ],
      "SetLoadBalancerPoliciesOfListenerRequest" : [ "PolicyNames" ]
    },
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : {
      "DescribeLoadBalancerPolicies" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeLoadBalancerPolicyTypes" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      },
      "DescribeLoadBalancers" : {
        "deprecated" : null,
        "methodForms" : [ [ ] ]
      }
    },
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : true,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2012-06-01",
    "asyncClient" : "AmazonElasticLoadBalancingAsyncClient",
    "asyncClientBuilderClassName" : "AmazonElasticLoadBalancingAsyncClientBuilder",
    "asyncInterface" : "AmazonElasticLoadBalancingAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonElasticLoadBalancingModuleInjector",
    "defaultEndpoint" : "elasticloadbalancing.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "elasticloadbalancing.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Elastic Load Balancing</fullname> <p>A load balancer can distribute incoming traffic across your EC2 instances. This enables you to increase the availability of your application. The load balancer also monitors the health of its registered instances and ensures that it routes traffic only to healthy instances. You configure your load balancer to accept incoming traffic by specifying one or more listeners, which are configured with a protocol and port number for connections from clients to the load balancer and a protocol and port number for connections from the load balancer to the instances.</p> <p>Elastic Load Balancing supports three types of load balancers: Application Load Balancers, Network Load Balancers, and Classic Load Balancers. You can select a load balancer based on your application needs. For more information, see the <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/\">Elastic Load Balancing User Guide</a>.</p> <p>This reference covers the 2012-06-01 API, which supports Classic Load Balancers. The 2015-12-01 API supports Application Load Balancers and Network Load Balancers.</p> <p>To get started, create a load balancer with one or more listeners using <a>CreateLoadBalancer</a>. Register your instances with the load balancer using <a>RegisterInstancesWithLoadBalancer</a>.</p> <p>All Elastic Load Balancing operations are <i>idempotent</i>, which means that they complete at most one time. If you repeat an operation, it succeeds with a 200 OK response code.</p>",
    "endpointPrefix" : "elasticloadbalancing",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : false,
    "jsonVersion" : null,
    "packageName" : "com.amazonaws.services.elasticloadbalancing",
    "packagePath" : "com/amazonaws/services/elasticloadbalancing",
    "protocol" : "query",
    "protocolDefaultExceptionUmarshallerImpl" : "StandardErrorUnmarshaller",
    "protocolFactory" : null,
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Elastic Load Balancing",
    "serviceId" : "Elastic Load Balancing",
    "serviceName" : "Elastic Load Balancing",
    "signingName" : "elasticloadbalancing",
    "smokeTestsPackageName" : "com.amazonaws.services.elasticloadbalancing.smoketests",
    "syncClient" : "AmazonElasticLoadBalancingClient",
    "syncClientBuilderClassName" : "AmazonElasticLoadBalancingClientBuilder",
    "syncInterface" : "AmazonElasticLoadBalancing",
    "uid" : "elasticloadbalancing-2012-06-01",
    "unmarshallerClassSuffix" : "StaxUnmarshaller",
    "unmarshallerContextClassName" : "StaxUnmarshallerContext",
    "xmlProtocol" : true
  },
  "operations" : {
    "AddTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsRequest, AddTagsResult>",
      "asyncReturnType" : "AddTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified tags to the specified load balancer. Each load balancer can have a maximum of 10 tags.</p> <p>Each tag consists of a key and an optional value. If a tag with the same key is already associated with the load balancer, <code>AddTags</code> updates its value.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/add-remove-tags.html\">Tag Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The quota for the number of tags that can be assigned to a load balancer has been reached.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DuplicateTagKeysException",
        "documentation" : "<p>A tag key was specified more than once.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddTagsRequest",
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "documentation" : "<p>Contains the parameters for AddTags.</p>",
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addTags",
      "operationName" : "AddTags",
      "returnType" : {
        "returnType" : "AddTagsResult",
        "documentation" : "<p>Contains the output of AddTags.</p>"
      },
      "syncReturnType" : "AddTagsResult"
    },
    "ApplySecurityGroupsToLoadBalancer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ApplySecurityGroupsToLoadBalancerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ApplySecurityGroupsToLoadBalancerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ApplySecurityGroupsToLoadBalancerRequest, ApplySecurityGroupsToLoadBalancerResult>",
      "asyncReturnType" : "ApplySecurityGroupsToLoadBalancerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates one or more security groups with your load balancer in a virtual private cloud (VPC). The specified security groups override the previously associated security groups.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-security-groups.html#elb-vpc-security-groups\">Security Groups for Load Balancers in a VPC</a> in the <i>Classic Load Balancers Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InvalidSecurityGroupException",
        "documentation" : "<p>One or more of the specified security groups do not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ApplySecurityGroupsToLoadBalancerRequest",
        "variableName" : "applySecurityGroupsToLoadBalancerRequest",
        "variableType" : "ApplySecurityGroupsToLoadBalancerRequest",
        "documentation" : "<p>Contains the parameters for ApplySecurityGroupsToLoadBalancer.</p>",
        "simpleType" : "ApplySecurityGroupsToLoadBalancerRequest",
        "variableSetterType" : "ApplySecurityGroupsToLoadBalancerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "applySecurityGroupsToLoadBalancer",
      "operationName" : "ApplySecurityGroupsToLoadBalancer",
      "returnType" : {
        "returnType" : "ApplySecurityGroupsToLoadBalancerResult",
        "documentation" : "<p>Contains the output of ApplySecurityGroupsToLoadBalancer.</p>"
      },
      "syncReturnType" : "ApplySecurityGroupsToLoadBalancerResult"
    },
    "AttachLoadBalancerToSubnets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AttachLoadBalancerToSubnetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AttachLoadBalancerToSubnetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AttachLoadBalancerToSubnetsRequest, AttachLoadBalancerToSubnetsResult>",
      "asyncReturnType" : "AttachLoadBalancerToSubnetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more subnets to the set of configured subnets for the specified load balancer.</p> <p>The load balancer evenly distributes requests across all registered subnets. For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-manage-subnets.html\">Add or Remove Subnets for Your Load Balancer in a VPC</a> in the <i>Classic Load Balancers Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "SubnetNotFoundException",
        "documentation" : "<p>One or more of the specified subnets do not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The specified VPC has no associated Internet gateway.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AttachLoadBalancerToSubnetsRequest",
        "variableName" : "attachLoadBalancerToSubnetsRequest",
        "variableType" : "AttachLoadBalancerToSubnetsRequest",
        "documentation" : "<p>Contains the parameters for AttachLoaBalancerToSubnets.</p>",
        "simpleType" : "AttachLoadBalancerToSubnetsRequest",
        "variableSetterType" : "AttachLoadBalancerToSubnetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "attachLoadBalancerToSubnets",
      "operationName" : "AttachLoadBalancerToSubnets",
      "returnType" : {
        "returnType" : "AttachLoadBalancerToSubnetsResult",
        "documentation" : "<p>Contains the output of AttachLoadBalancerToSubnets.</p>"
      },
      "syncReturnType" : "AttachLoadBalancerToSubnetsResult"
    },
    "ConfigureHealthCheck" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConfigureHealthCheckResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConfigureHealthCheckResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConfigureHealthCheckRequest, ConfigureHealthCheckResult>",
      "asyncReturnType" : "ConfigureHealthCheckResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Specifies the health check settings to use when evaluating the health state of your EC2 instances.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-healthchecks.html\">Configure Health Checks for Your Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConfigureHealthCheckRequest",
        "variableName" : "configureHealthCheckRequest",
        "variableType" : "ConfigureHealthCheckRequest",
        "documentation" : "<p>Contains the parameters for ConfigureHealthCheck.</p>",
        "simpleType" : "ConfigureHealthCheckRequest",
        "variableSetterType" : "ConfigureHealthCheckRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "configureHealthCheck",
      "operationName" : "ConfigureHealthCheck",
      "returnType" : {
        "returnType" : "ConfigureHealthCheckResult",
        "documentation" : "<p>Contains the output of ConfigureHealthCheck.</p>"
      },
      "syncReturnType" : "ConfigureHealthCheckResult"
    },
    "CreateAppCookieStickinessPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAppCookieStickinessPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAppCookieStickinessPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAppCookieStickinessPolicyRequest, CreateAppCookieStickinessPolicyResult>",
      "asyncReturnType" : "CreateAppCookieStickinessPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates a stickiness policy with sticky session lifetimes that follow that of an application-generated cookie. This policy can be associated only with HTTP/HTTPS listeners.</p> <p>This policy is similar to the policy created by <a>CreateLBCookieStickinessPolicy</a>, except that the lifetime of the special Elastic Load Balancing cookie, <code>AWSELB</code>, follows the lifetime of the application-generated cookie specified in the policy configuration. The load balancer only inserts a new stickiness cookie when the application response includes a new application cookie.</p> <p>If the application cookie is explicitly removed or expires, the session stops being sticky until a new application cookie is issued.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-sticky-sessions.html#enable-sticky-sessions-application\">Application-Controlled Session Stickiness</a> in the <i>Classic Load Balancers Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DuplicatePolicyNameException",
        "documentation" : "<p>A policy with the specified name already exists for this load balancer.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyPoliciesException",
        "documentation" : "<p>The quota for the number of policies for this load balancer has been reached.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAppCookieStickinessPolicyRequest",
        "variableName" : "createAppCookieStickinessPolicyRequest",
        "variableType" : "CreateAppCookieStickinessPolicyRequest",
        "documentation" : "<p>Contains the parameters for CreateAppCookieStickinessPolicy.</p>",
        "simpleType" : "CreateAppCookieStickinessPolicyRequest",
        "variableSetterType" : "CreateAppCookieStickinessPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAppCookieStickinessPolicy",
      "operationName" : "CreateAppCookieStickinessPolicy",
      "returnType" : {
        "returnType" : "CreateAppCookieStickinessPolicyResult",
        "documentation" : "<p>Contains the output for CreateAppCookieStickinessPolicy.</p>"
      },
      "syncReturnType" : "CreateAppCookieStickinessPolicyResult"
    },
    "CreateLBCookieStickinessPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLBCookieStickinessPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLBCookieStickinessPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLBCookieStickinessPolicyRequest, CreateLBCookieStickinessPolicyResult>",
      "asyncReturnType" : "CreateLBCookieStickinessPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates a stickiness policy with sticky session lifetimes controlled by the lifetime of the browser (user-agent) or a specified expiration period. This policy can be associated only with HTTP/HTTPS listeners.</p> <p>When a load balancer implements this policy, the load balancer uses a special cookie to track the instance for each request. When the load balancer receives a request, it first checks to see if this cookie is present in the request. If so, the load balancer sends the request to the application server specified in the cookie. If not, the load balancer sends the request to a server that is chosen based on the existing load-balancing algorithm.</p> <p>A cookie is inserted into the response for binding subsequent requests from the same user to that server. The validity of the cookie is based on the cookie expiration time, which is specified in the policy configuration.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-sticky-sessions.html#enable-sticky-sessions-duration\">Duration-Based Session Stickiness</a> in the <i>Classic Load Balancers Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DuplicatePolicyNameException",
        "documentation" : "<p>A policy with the specified name already exists for this load balancer.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyPoliciesException",
        "documentation" : "<p>The quota for the number of policies for this load balancer has been reached.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLBCookieStickinessPolicyRequest",
        "variableName" : "createLBCookieStickinessPolicyRequest",
        "variableType" : "CreateLBCookieStickinessPolicyRequest",
        "documentation" : "<p>Contains the parameters for CreateLBCookieStickinessPolicy.</p>",
        "simpleType" : "CreateLBCookieStickinessPolicyRequest",
        "variableSetterType" : "CreateLBCookieStickinessPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLBCookieStickinessPolicy",
      "operationName" : "CreateLBCookieStickinessPolicy",
      "returnType" : {
        "returnType" : "CreateLBCookieStickinessPolicyResult",
        "documentation" : "<p>Contains the output for CreateLBCookieStickinessPolicy.</p>"
      },
      "syncReturnType" : "CreateLBCookieStickinessPolicyResult"
    },
    "CreateLoadBalancer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLoadBalancerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLoadBalancerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLoadBalancerRequest, CreateLoadBalancerResult>",
      "asyncReturnType" : "CreateLoadBalancerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Classic Load Balancer.</p> <p>You can add listeners, security groups, subnets, and tags when you create your load balancer, or you can add them later using <a>CreateLoadBalancerListeners</a>, <a>ApplySecurityGroupsToLoadBalancer</a>, <a>AttachLoadBalancerToSubnets</a>, and <a>AddTags</a>.</p> <p>To describe your current load balancers, see <a>DescribeLoadBalancers</a>. When you are finished with a load balancer, you can delete it using <a>DeleteLoadBalancer</a>.</p> <p>You can create up to 20 load balancers per region per account. You can request an increase for the number of load balancers for your account. For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-limits.html\">Limits for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DuplicateLoadBalancerNameException",
        "documentation" : "<p>The specified load balancer name already exists for this account.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyLoadBalancersException",
        "documentation" : "<p>The quota for the number of load balancers has been reached.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "CertificateNotFoundException",
        "documentation" : "<p>The specified ARN does not refer to a valid SSL certificate in AWS Identity and Access Management (IAM) or AWS Certificate Manager (ACM). Note that if you recently uploaded the certificate to IAM, this error might indicate that the certificate is not fully available yet.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "SubnetNotFoundException",
        "documentation" : "<p>One or more of the specified subnets do not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidSubnetException",
        "documentation" : "<p>The specified VPC has no associated Internet gateway.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidSecurityGroupException",
        "documentation" : "<p>One or more of the specified security groups do not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidSchemeException",
        "documentation" : "<p>The specified value for the schema is not valid. You can only specify a scheme for load balancers in a VPC.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The quota for the number of tags that can be assigned to a load balancer has been reached.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DuplicateTagKeysException",
        "documentation" : "<p>A tag key was specified more than once.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnsupportedProtocolException",
        "documentation" : "<p>The specified protocol or signature version is not supported.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "OperationNotPermittedException",
        "documentation" : "<p>This operation is not allowed.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLoadBalancerRequest",
        "variableName" : "createLoadBalancerRequest",
        "variableType" : "CreateLoadBalancerRequest",
        "documentation" : "<p>Contains the parameters for CreateLoadBalancer.</p>",
        "simpleType" : "CreateLoadBalancerRequest",
        "variableSetterType" : "CreateLoadBalancerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLoadBalancer",
      "operationName" : "CreateLoadBalancer",
      "returnType" : {
        "returnType" : "CreateLoadBalancerResult",
        "documentation" : "<p>Contains the output for CreateLoadBalancer.</p>"
      },
      "syncReturnType" : "CreateLoadBalancerResult"
    },
    "CreateLoadBalancerListeners" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLoadBalancerListenersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLoadBalancerListenersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLoadBalancerListenersRequest, CreateLoadBalancerListenersResult>",
      "asyncReturnType" : "CreateLoadBalancerListenersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates one or more listeners for the specified load balancer. If a listener with the specified port does not already exist, it is created; otherwise, the properties of the new listener must match the properties of the existing listener.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-listener-config.html\">Listeners for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DuplicateListenerException",
        "documentation" : "<p>A listener already exists for the specified load balancer name and port, but with a different instance port, protocol, or SSL certificate.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "CertificateNotFoundException",
        "documentation" : "<p>The specified ARN does not refer to a valid SSL certificate in AWS Identity and Access Management (IAM) or AWS Certificate Manager (ACM). Note that if you recently uploaded the certificate to IAM, this error might indicate that the certificate is not fully available yet.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnsupportedProtocolException",
        "documentation" : "<p>The specified protocol or signature version is not supported.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLoadBalancerListenersRequest",
        "variableName" : "createLoadBalancerListenersRequest",
        "variableType" : "CreateLoadBalancerListenersRequest",
        "documentation" : "<p>Contains the parameters for CreateLoadBalancerListeners.</p>",
        "simpleType" : "CreateLoadBalancerListenersRequest",
        "variableSetterType" : "CreateLoadBalancerListenersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLoadBalancerListeners",
      "operationName" : "CreateLoadBalancerListeners",
      "returnType" : {
        "returnType" : "CreateLoadBalancerListenersResult",
        "documentation" : "<p>Contains the parameters for CreateLoadBalancerListener.</p>"
      },
      "syncReturnType" : "CreateLoadBalancerListenersResult"
    },
    "CreateLoadBalancerPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLoadBalancerPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLoadBalancerPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLoadBalancerPolicyRequest, CreateLoadBalancerPolicyResult>",
      "asyncReturnType" : "CreateLoadBalancerPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a policy with the specified attributes for the specified load balancer.</p> <p>Policies are settings that are saved for your load balancer and that can be applied to the listener or the application server, depending on the policy type.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PolicyTypeNotFoundException",
        "documentation" : "<p>One or more of the specified policy types do not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DuplicatePolicyNameException",
        "documentation" : "<p>A policy with the specified name already exists for this load balancer.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "TooManyPoliciesException",
        "documentation" : "<p>The quota for the number of policies for this load balancer has been reached.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLoadBalancerPolicyRequest",
        "variableName" : "createLoadBalancerPolicyRequest",
        "variableType" : "CreateLoadBalancerPolicyRequest",
        "documentation" : "<p>Contains the parameters for CreateLoadBalancerPolicy.</p>",
        "simpleType" : "CreateLoadBalancerPolicyRequest",
        "variableSetterType" : "CreateLoadBalancerPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLoadBalancerPolicy",
      "operationName" : "CreateLoadBalancerPolicy",
      "returnType" : {
        "returnType" : "CreateLoadBalancerPolicyResult",
        "documentation" : "<p>Contains the output of CreateLoadBalancerPolicy.</p>"
      },
      "syncReturnType" : "CreateLoadBalancerPolicyResult"
    },
    "DeleteLoadBalancer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLoadBalancerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLoadBalancerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLoadBalancerRequest, DeleteLoadBalancerResult>",
      "asyncReturnType" : "DeleteLoadBalancerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified load balancer.</p> <p>If you are attempting to recreate a load balancer, you must reconfigure all settings. The DNS name associated with a deleted load balancer are no longer usable. The name and associated DNS record of the deleted load balancer no longer exist and traffic sent to any of its IP addresses is no longer delivered to your instances.</p> <p>If the load balancer does not exist or has already been deleted, the call to <code>DeleteLoadBalancer</code> still succeeds.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLoadBalancerRequest",
        "variableName" : "deleteLoadBalancerRequest",
        "variableType" : "DeleteLoadBalancerRequest",
        "documentation" : "<p>Contains the parameters for DeleteLoadBalancer.</p>",
        "simpleType" : "DeleteLoadBalancerRequest",
        "variableSetterType" : "DeleteLoadBalancerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLoadBalancer",
      "operationName" : "DeleteLoadBalancer",
      "returnType" : {
        "returnType" : "DeleteLoadBalancerResult",
        "documentation" : "<p>Contains the output of DeleteLoadBalancer.</p>"
      },
      "syncReturnType" : "DeleteLoadBalancerResult"
    },
    "DeleteLoadBalancerListeners" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLoadBalancerListenersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLoadBalancerListenersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLoadBalancerListenersRequest, DeleteLoadBalancerListenersResult>",
      "asyncReturnType" : "DeleteLoadBalancerListenersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified listeners from the specified load balancer.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLoadBalancerListenersRequest",
        "variableName" : "deleteLoadBalancerListenersRequest",
        "variableType" : "DeleteLoadBalancerListenersRequest",
        "documentation" : "<p>Contains the parameters for DeleteLoadBalancerListeners.</p>",
        "simpleType" : "DeleteLoadBalancerListenersRequest",
        "variableSetterType" : "DeleteLoadBalancerListenersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLoadBalancerListeners",
      "operationName" : "DeleteLoadBalancerListeners",
      "returnType" : {
        "returnType" : "DeleteLoadBalancerListenersResult",
        "documentation" : "<p>Contains the output of DeleteLoadBalancerListeners.</p>"
      },
      "syncReturnType" : "DeleteLoadBalancerListenersResult"
    },
    "DeleteLoadBalancerPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLoadBalancerPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLoadBalancerPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLoadBalancerPolicyRequest, DeleteLoadBalancerPolicyResult>",
      "asyncReturnType" : "DeleteLoadBalancerPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified policy from the specified load balancer. This policy must not be enabled for any listeners.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLoadBalancerPolicyRequest",
        "variableName" : "deleteLoadBalancerPolicyRequest",
        "variableType" : "DeleteLoadBalancerPolicyRequest",
        "documentation" : "<p>Contains the parameters for DeleteLoadBalancerPolicy.</p>",
        "simpleType" : "DeleteLoadBalancerPolicyRequest",
        "variableSetterType" : "DeleteLoadBalancerPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLoadBalancerPolicy",
      "operationName" : "DeleteLoadBalancerPolicy",
      "returnType" : {
        "returnType" : "DeleteLoadBalancerPolicyResult",
        "documentation" : "<p>Contains the output of DeleteLoadBalancerPolicy.</p>"
      },
      "syncReturnType" : "DeleteLoadBalancerPolicyResult"
    },
    "DeregisterInstancesFromLoadBalancer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterInstancesFromLoadBalancerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterInstancesFromLoadBalancerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterInstancesFromLoadBalancerRequest, DeregisterInstancesFromLoadBalancerResult>",
      "asyncReturnType" : "DeregisterInstancesFromLoadBalancerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deregisters the specified instances from the specified load balancer. After the instance is deregistered, it no longer receives traffic from the load balancer.</p> <p>You can use <a>DescribeLoadBalancers</a> to verify that the instance is deregistered from the load balancer.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-deregister-register-instances.html\">Register or De-Register EC2 Instances</a> in the <i>Classic Load Balancers Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidInstanceException",
        "documentation" : "<p>The specified endpoint is not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterInstancesFromLoadBalancerRequest",
        "variableName" : "deregisterInstancesFromLoadBalancerRequest",
        "variableType" : "DeregisterInstancesFromLoadBalancerRequest",
        "documentation" : "<p>Contains the parameters for DeregisterInstancesFromLoadBalancer.</p>",
        "simpleType" : "DeregisterInstancesFromLoadBalancerRequest",
        "variableSetterType" : "DeregisterInstancesFromLoadBalancerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterInstancesFromLoadBalancer",
      "operationName" : "DeregisterInstancesFromLoadBalancer",
      "returnType" : {
        "returnType" : "DeregisterInstancesFromLoadBalancerResult",
        "documentation" : "<p>Contains the output of DeregisterInstancesFromLoadBalancer.</p>"
      },
      "syncReturnType" : "DeregisterInstancesFromLoadBalancerResult"
    },
    "DescribeAccountLimits" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAccountLimitsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAccountLimitsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAccountLimitsRequest, DescribeAccountLimitsResult>",
      "asyncReturnType" : "DescribeAccountLimitsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the current Elastic Load Balancing resource limits for your AWS account.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-limits.html\">Limits for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAccountLimitsRequest",
        "variableName" : "describeAccountLimitsRequest",
        "variableType" : "DescribeAccountLimitsRequest",
        "documentation" : "",
        "simpleType" : "DescribeAccountLimitsRequest",
        "variableSetterType" : "DescribeAccountLimitsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAccountLimits",
      "operationName" : "DescribeAccountLimits",
      "returnType" : {
        "returnType" : "DescribeAccountLimitsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAccountLimitsResult"
    },
    "DescribeInstanceHealth" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeInstanceHealthResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeInstanceHealthResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeInstanceHealthRequest, DescribeInstanceHealthResult>",
      "asyncReturnType" : "DescribeInstanceHealthResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the state of the specified instances with respect to the specified load balancer. If no instances are specified, the call describes the state of all instances that are currently registered with the load balancer. If instances are specified, their state is returned even if they are no longer registered with the load balancer. The state of terminated instances is not returned.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidInstanceException",
        "documentation" : "<p>The specified endpoint is not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeInstanceHealthRequest",
        "variableName" : "describeInstanceHealthRequest",
        "variableType" : "DescribeInstanceHealthRequest",
        "documentation" : "<p>Contains the parameters for DescribeInstanceHealth.</p>",
        "simpleType" : "DescribeInstanceHealthRequest",
        "variableSetterType" : "DescribeInstanceHealthRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeInstanceHealth",
      "operationName" : "DescribeInstanceHealth",
      "returnType" : {
        "returnType" : "DescribeInstanceHealthResult",
        "documentation" : "<p>Contains the output for DescribeInstanceHealth.</p>"
      },
      "syncReturnType" : "DescribeInstanceHealthResult"
    },
    "DescribeLoadBalancerAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoadBalancerAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoadBalancerAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoadBalancerAttributesRequest, DescribeLoadBalancerAttributesResult>",
      "asyncReturnType" : "DescribeLoadBalancerAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the attributes for the specified load balancer.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LoadBalancerAttributeNotFoundException",
        "documentation" : "<p>The specified load balancer attribute does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeLoadBalancerAttributesRequest",
        "variableName" : "describeLoadBalancerAttributesRequest",
        "variableType" : "DescribeLoadBalancerAttributesRequest",
        "documentation" : "<p>Contains the parameters for DescribeLoadBalancerAttributes.</p>",
        "simpleType" : "DescribeLoadBalancerAttributesRequest",
        "variableSetterType" : "DescribeLoadBalancerAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLoadBalancerAttributes",
      "operationName" : "DescribeLoadBalancerAttributes",
      "returnType" : {
        "returnType" : "DescribeLoadBalancerAttributesResult",
        "documentation" : "<p>Contains the output of DescribeLoadBalancerAttributes.</p>"
      },
      "syncReturnType" : "DescribeLoadBalancerAttributesResult"
    },
    "DescribeLoadBalancerPolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoadBalancerPoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoadBalancerPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoadBalancerPoliciesRequest, DescribeLoadBalancerPoliciesResult>",
      "asyncReturnType" : "DescribeLoadBalancerPoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified policies.</p> <p>If you specify a load balancer name, the action returns the descriptions of all policies created for the load balancer. If you specify a policy name associated with your load balancer, the action returns the description of that policy. If you don't specify a load balancer name, the action returns descriptions of the specified sample policies, or descriptions of all sample policies. The names of the sample policies have the <code>ELBSample-</code> prefix.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PolicyNotFoundException",
        "documentation" : "<p>One or more of the specified policies do not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeLoadBalancerPoliciesRequest",
        "variableName" : "describeLoadBalancerPoliciesRequest",
        "variableType" : "DescribeLoadBalancerPoliciesRequest",
        "documentation" : "<p>Contains the parameters for DescribeLoadBalancerPolicies.</p>",
        "simpleType" : "DescribeLoadBalancerPoliciesRequest",
        "variableSetterType" : "DescribeLoadBalancerPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLoadBalancerPolicies",
      "operationName" : "DescribeLoadBalancerPolicies",
      "returnType" : {
        "returnType" : "DescribeLoadBalancerPoliciesResult",
        "documentation" : "<p>Contains the output of DescribeLoadBalancerPolicies.</p>"
      },
      "syncReturnType" : "DescribeLoadBalancerPoliciesResult"
    },
    "DescribeLoadBalancerPolicyTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoadBalancerPolicyTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoadBalancerPolicyTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoadBalancerPolicyTypesRequest, DescribeLoadBalancerPolicyTypesResult>",
      "asyncReturnType" : "DescribeLoadBalancerPolicyTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified load balancer policy types or all load balancer policy types.</p> <p>The description of each type indicates how it can be used. For example, some policies can be used only with layer 7 listeners, some policies can be used only with layer 4 listeners, and some policies can be used only with your EC2 instances.</p> <p>You can use <a>CreateLoadBalancerPolicy</a> to create a policy configuration for any of these policy types. Then, depending on the policy type, use either <a>SetLoadBalancerPoliciesOfListener</a> or <a>SetLoadBalancerPoliciesForBackendServer</a> to set the policy.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "PolicyTypeNotFoundException",
        "documentation" : "<p>One or more of the specified policy types do not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeLoadBalancerPolicyTypesRequest",
        "variableName" : "describeLoadBalancerPolicyTypesRequest",
        "variableType" : "DescribeLoadBalancerPolicyTypesRequest",
        "documentation" : "<p>Contains the parameters for DescribeLoadBalancerPolicyTypes.</p>",
        "simpleType" : "DescribeLoadBalancerPolicyTypesRequest",
        "variableSetterType" : "DescribeLoadBalancerPolicyTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLoadBalancerPolicyTypes",
      "operationName" : "DescribeLoadBalancerPolicyTypes",
      "returnType" : {
        "returnType" : "DescribeLoadBalancerPolicyTypesResult",
        "documentation" : "<p>Contains the output of DescribeLoadBalancerPolicyTypes.</p>"
      },
      "syncReturnType" : "DescribeLoadBalancerPolicyTypesResult"
    },
    "DescribeLoadBalancers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoadBalancersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoadBalancersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoadBalancersRequest, DescribeLoadBalancersResult>",
      "asyncReturnType" : "DescribeLoadBalancersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified the load balancers. If no load balancers are specified, the call describes all of your load balancers.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DependencyThrottleException",
        "documentation" : "<p>A request made by Elastic Load Balancing to another service exceeds the maximum request rate permitted for your account.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeLoadBalancersRequest",
        "variableName" : "describeLoadBalancersRequest",
        "variableType" : "DescribeLoadBalancersRequest",
        "documentation" : "<p>Contains the parameters for DescribeLoadBalancers.</p>",
        "simpleType" : "DescribeLoadBalancersRequest",
        "variableSetterType" : "DescribeLoadBalancersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLoadBalancers",
      "operationName" : "DescribeLoadBalancers",
      "returnType" : {
        "returnType" : "DescribeLoadBalancersResult",
        "documentation" : "<p>Contains the parameters for DescribeLoadBalancers.</p>"
      },
      "syncReturnType" : "DescribeLoadBalancersResult"
    },
    "DescribeTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTagsRequest, DescribeTagsResult>",
      "asyncReturnType" : "DescribeTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the tags associated with the specified load balancers.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTagsRequest",
        "variableName" : "describeTagsRequest",
        "variableType" : "DescribeTagsRequest",
        "documentation" : "<p>Contains the parameters for DescribeTags.</p>",
        "simpleType" : "DescribeTagsRequest",
        "variableSetterType" : "DescribeTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTags",
      "operationName" : "DescribeTags",
      "returnType" : {
        "returnType" : "DescribeTagsResult",
        "documentation" : "<p>Contains the output for DescribeTags.</p>"
      },
      "syncReturnType" : "DescribeTagsResult"
    },
    "DetachLoadBalancerFromSubnets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DetachLoadBalancerFromSubnetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DetachLoadBalancerFromSubnetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DetachLoadBalancerFromSubnetsRequest, DetachLoadBalancerFromSubnetsResult>",
      "asyncReturnType" : "DetachLoadBalancerFromSubnetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified subnets from the set of configured subnets for the load balancer.</p> <p>After a subnet is removed, all EC2 instances registered with the load balancer in the removed subnet go into the <code>OutOfService</code> state. Then, the load balancer balances the traffic among the remaining routable subnets.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DetachLoadBalancerFromSubnetsRequest",
        "variableName" : "detachLoadBalancerFromSubnetsRequest",
        "variableType" : "DetachLoadBalancerFromSubnetsRequest",
        "documentation" : "<p>Contains the parameters for DetachLoadBalancerFromSubnets.</p>",
        "simpleType" : "DetachLoadBalancerFromSubnetsRequest",
        "variableSetterType" : "DetachLoadBalancerFromSubnetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "detachLoadBalancerFromSubnets",
      "operationName" : "DetachLoadBalancerFromSubnets",
      "returnType" : {
        "returnType" : "DetachLoadBalancerFromSubnetsResult",
        "documentation" : "<p>Contains the output of DetachLoadBalancerFromSubnets.</p>"
      },
      "syncReturnType" : "DetachLoadBalancerFromSubnetsResult"
    },
    "DisableAvailabilityZonesForLoadBalancer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableAvailabilityZonesForLoadBalancerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableAvailabilityZonesForLoadBalancerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableAvailabilityZonesForLoadBalancerRequest, DisableAvailabilityZonesForLoadBalancerResult>",
      "asyncReturnType" : "DisableAvailabilityZonesForLoadBalancerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified Availability Zones from the set of Availability Zones for the specified load balancer in EC2-Classic or a default VPC.</p> <p>For load balancers in a non-default VPC, use <a>DetachLoadBalancerFromSubnets</a>.</p> <p>There must be at least one Availability Zone registered with a load balancer at all times. After an Availability Zone is removed, all instances registered with the load balancer that are in the removed Availability Zone go into the <code>OutOfService</code> state. Then, the load balancer attempts to equally balance the traffic among its remaining Availability Zones.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-disable-az.html\">Add or Remove Availability Zones</a> in the <i>Classic Load Balancers Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableAvailabilityZonesForLoadBalancerRequest",
        "variableName" : "disableAvailabilityZonesForLoadBalancerRequest",
        "variableType" : "DisableAvailabilityZonesForLoadBalancerRequest",
        "documentation" : "<p>Contains the parameters for DisableAvailabilityZonesForLoadBalancer.</p>",
        "simpleType" : "DisableAvailabilityZonesForLoadBalancerRequest",
        "variableSetterType" : "DisableAvailabilityZonesForLoadBalancerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableAvailabilityZonesForLoadBalancer",
      "operationName" : "DisableAvailabilityZonesForLoadBalancer",
      "returnType" : {
        "returnType" : "DisableAvailabilityZonesForLoadBalancerResult",
        "documentation" : "<p>Contains the output for DisableAvailabilityZonesForLoadBalancer.</p>"
      },
      "syncReturnType" : "DisableAvailabilityZonesForLoadBalancerResult"
    },
    "EnableAvailabilityZonesForLoadBalancer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableAvailabilityZonesForLoadBalancerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableAvailabilityZonesForLoadBalancerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableAvailabilityZonesForLoadBalancerRequest, EnableAvailabilityZonesForLoadBalancerResult>",
      "asyncReturnType" : "EnableAvailabilityZonesForLoadBalancerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified Availability Zones to the set of Availability Zones for the specified load balancer in EC2-Classic or a default VPC.</p> <p>For load balancers in a non-default VPC, use <a>AttachLoadBalancerToSubnets</a>.</p> <p>The load balancer evenly distributes requests across all its registered Availability Zones that contain instances. For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-disable-az.html\">Add or Remove Availability Zones</a> in the <i>Classic Load Balancers Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableAvailabilityZonesForLoadBalancerRequest",
        "variableName" : "enableAvailabilityZonesForLoadBalancerRequest",
        "variableType" : "EnableAvailabilityZonesForLoadBalancerRequest",
        "documentation" : "<p>Contains the parameters for EnableAvailabilityZonesForLoadBalancer.</p>",
        "simpleType" : "EnableAvailabilityZonesForLoadBalancerRequest",
        "variableSetterType" : "EnableAvailabilityZonesForLoadBalancerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableAvailabilityZonesForLoadBalancer",
      "operationName" : "EnableAvailabilityZonesForLoadBalancer",
      "returnType" : {
        "returnType" : "EnableAvailabilityZonesForLoadBalancerResult",
        "documentation" : "<p>Contains the output of EnableAvailabilityZonesForLoadBalancer.</p>"
      },
      "syncReturnType" : "EnableAvailabilityZonesForLoadBalancerResult"
    },
    "ModifyLoadBalancerAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ModifyLoadBalancerAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ModifyLoadBalancerAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ModifyLoadBalancerAttributesRequest, ModifyLoadBalancerAttributesResult>",
      "asyncReturnType" : "ModifyLoadBalancerAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the attributes of the specified load balancer.</p> <p>You can modify the load balancer attributes, such as <code>AccessLogs</code>, <code>ConnectionDraining</code>, and <code>CrossZoneLoadBalancing</code> by either enabling or disabling them. Or, you can modify the load balancer attribute <code>ConnectionSettings</code> by specifying an idle connection timeout value for your load balancer.</p> <p>For more information, see the following in the <i>Classic Load Balancers Guide</i>:</p> <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-disable-crosszone-lb.html\">Cross-Zone Load Balancing</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/config-conn-drain.html\">Connection Draining</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/access-log-collection.html\">Access Logs</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/config-idle-timeout.html\">Idle Connection Timeout</a> </p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LoadBalancerAttributeNotFoundException",
        "documentation" : "<p>The specified load balancer attribute does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ModifyLoadBalancerAttributesRequest",
        "variableName" : "modifyLoadBalancerAttributesRequest",
        "variableType" : "ModifyLoadBalancerAttributesRequest",
        "documentation" : "<p>Contains the parameters for ModifyLoadBalancerAttributes.</p>",
        "simpleType" : "ModifyLoadBalancerAttributesRequest",
        "variableSetterType" : "ModifyLoadBalancerAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "modifyLoadBalancerAttributes",
      "operationName" : "ModifyLoadBalancerAttributes",
      "returnType" : {
        "returnType" : "ModifyLoadBalancerAttributesResult",
        "documentation" : "<p>Contains the output of ModifyLoadBalancerAttributes.</p>"
      },
      "syncReturnType" : "ModifyLoadBalancerAttributesResult"
    },
    "RegisterInstancesWithLoadBalancer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterInstancesWithLoadBalancerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterInstancesWithLoadBalancerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterInstancesWithLoadBalancerRequest, RegisterInstancesWithLoadBalancerResult>",
      "asyncReturnType" : "RegisterInstancesWithLoadBalancerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified instances to the specified load balancer.</p> <p>The instance must be a running instance in the same network as the load balancer (EC2-Classic or the same VPC). If you have EC2-Classic instances and a load balancer in a VPC with ClassicLink enabled, you can link the EC2-Classic instances to that VPC and then register the linked EC2-Classic instances with the load balancer in the VPC.</p> <p>Note that <code>RegisterInstanceWithLoadBalancer</code> completes when the request has been registered. Instance registration takes a little time to complete. To check the state of the registered instances, use <a>DescribeLoadBalancers</a> or <a>DescribeInstanceHealth</a>.</p> <p>After the instance is registered, it starts receiving traffic and requests from the load balancer. Any instance that is not in one of the Availability Zones registered for the load balancer is moved to the <code>OutOfService</code> state. If an Availability Zone is added to the load balancer later, any instances registered with the load balancer move to the <code>InService</code> state.</p> <p>To deregister instances from a load balancer, use <a>DeregisterInstancesFromLoadBalancer</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-deregister-register-instances.html\">Register or De-Register EC2 Instances</a> in the <i>Classic Load Balancers Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidInstanceException",
        "documentation" : "<p>The specified endpoint is not valid.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterInstancesWithLoadBalancerRequest",
        "variableName" : "registerInstancesWithLoadBalancerRequest",
        "variableType" : "RegisterInstancesWithLoadBalancerRequest",
        "documentation" : "<p>Contains the parameters for RegisterInstancesWithLoadBalancer.</p>",
        "simpleType" : "RegisterInstancesWithLoadBalancerRequest",
        "variableSetterType" : "RegisterInstancesWithLoadBalancerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerInstancesWithLoadBalancer",
      "operationName" : "RegisterInstancesWithLoadBalancer",
      "returnType" : {
        "returnType" : "RegisterInstancesWithLoadBalancerResult",
        "documentation" : "<p>Contains the output of RegisterInstancesWithLoadBalancer.</p>"
      },
      "syncReturnType" : "RegisterInstancesWithLoadBalancerResult"
    },
    "RemoveTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsRequest, RemoveTagsResult>",
      "asyncReturnType" : "RemoveTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from the specified load balancer.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemoveTagsRequest",
        "variableName" : "removeTagsRequest",
        "variableType" : "RemoveTagsRequest",
        "documentation" : "<p>Contains the parameters for RemoveTags.</p>",
        "simpleType" : "RemoveTagsRequest",
        "variableSetterType" : "RemoveTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeTags",
      "operationName" : "RemoveTags",
      "returnType" : {
        "returnType" : "RemoveTagsResult",
        "documentation" : "<p>Contains the output of RemoveTags.</p>"
      },
      "syncReturnType" : "RemoveTagsResult"
    },
    "SetLoadBalancerListenerSSLCertificate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetLoadBalancerListenerSSLCertificateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetLoadBalancerListenerSSLCertificateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetLoadBalancerListenerSSLCertificateRequest, SetLoadBalancerListenerSSLCertificateResult>",
      "asyncReturnType" : "SetLoadBalancerListenerSSLCertificateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the certificate that terminates the specified listener's SSL connections. The specified certificate replaces any prior certificate that was used on the same load balancer and port.</p> <p>For more information about updating your SSL certificate, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-update-ssl-cert.html\">Replace the SSL Certificate for Your Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "CertificateNotFoundException",
        "documentation" : "<p>The specified ARN does not refer to a valid SSL certificate in AWS Identity and Access Management (IAM) or AWS Certificate Manager (ACM). Note that if you recently uploaded the certificate to IAM, this error might indicate that the certificate is not fully available yet.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The load balancer does not have a listener configured at the specified port.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "UnsupportedProtocolException",
        "documentation" : "<p>The specified protocol or signature version is not supported.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SetLoadBalancerListenerSSLCertificateRequest",
        "variableName" : "setLoadBalancerListenerSSLCertificateRequest",
        "variableType" : "SetLoadBalancerListenerSSLCertificateRequest",
        "documentation" : "<p>Contains the parameters for SetLoadBalancerListenerSSLCertificate.</p>",
        "simpleType" : "SetLoadBalancerListenerSSLCertificateRequest",
        "variableSetterType" : "SetLoadBalancerListenerSSLCertificateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setLoadBalancerListenerSSLCertificate",
      "operationName" : "SetLoadBalancerListenerSSLCertificate",
      "returnType" : {
        "returnType" : "SetLoadBalancerListenerSSLCertificateResult",
        "documentation" : "<p>Contains the output of SetLoadBalancerListenerSSLCertificate.</p>"
      },
      "syncReturnType" : "SetLoadBalancerListenerSSLCertificateResult"
    },
    "SetLoadBalancerPoliciesForBackendServer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetLoadBalancerPoliciesForBackendServerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetLoadBalancerPoliciesForBackendServerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetLoadBalancerPoliciesForBackendServerRequest, SetLoadBalancerPoliciesForBackendServerResult>",
      "asyncReturnType" : "SetLoadBalancerPoliciesForBackendServerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Replaces the set of policies associated with the specified port on which the EC2 instance is listening with a new set of policies. At this time, only the back-end server authentication policy type can be applied to the instance ports; this policy type is composed of multiple public key policies.</p> <p>Each time you use <code>SetLoadBalancerPoliciesForBackendServer</code> to enable the policies, use the <code>PolicyNames</code> parameter to list the policies that you want to enable.</p> <p>You can use <a>DescribeLoadBalancers</a> or <a>DescribeLoadBalancerPolicies</a> to verify that the policy is associated with the EC2 instance.</p> <p>For more information about enabling back-end instance authentication, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-create-https-ssl-load-balancer.html#configure_backendauth_clt\">Configure Back-end Instance Authentication</a> in the <i>Classic Load Balancers Guide</i>. For more information about Proxy Protocol, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-proxy-protocol.html\">Configure Proxy Protocol Support</a> in the <i>Classic Load Balancers Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PolicyNotFoundException",
        "documentation" : "<p>One or more of the specified policies do not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SetLoadBalancerPoliciesForBackendServerRequest",
        "variableName" : "setLoadBalancerPoliciesForBackendServerRequest",
        "variableType" : "SetLoadBalancerPoliciesForBackendServerRequest",
        "documentation" : "<p>Contains the parameters for SetLoadBalancerPoliciesForBackendServer.</p>",
        "simpleType" : "SetLoadBalancerPoliciesForBackendServerRequest",
        "variableSetterType" : "SetLoadBalancerPoliciesForBackendServerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setLoadBalancerPoliciesForBackendServer",
      "operationName" : "SetLoadBalancerPoliciesForBackendServer",
      "returnType" : {
        "returnType" : "SetLoadBalancerPoliciesForBackendServerResult",
        "documentation" : "<p>Contains the output of SetLoadBalancerPoliciesForBackendServer.</p>"
      },
      "syncReturnType" : "SetLoadBalancerPoliciesForBackendServerResult"
    },
    "SetLoadBalancerPoliciesOfListener" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetLoadBalancerPoliciesOfListenerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetLoadBalancerPoliciesOfListenerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetLoadBalancerPoliciesOfListenerRequest, SetLoadBalancerPoliciesOfListenerResult>",
      "asyncReturnType" : "SetLoadBalancerPoliciesOfListenerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Replaces the current set of policies for the specified load balancer port with the specified set of policies.</p> <p>To enable back-end server authentication, use <a>SetLoadBalancerPoliciesForBackendServer</a>.</p> <p>For more information about setting policies, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/ssl-config-update.html\">Update the SSL Negotiation Configuration</a>, <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-sticky-sessions.html#enable-sticky-sessions-duration\">Duration-Based Session Stickiness</a>, and <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-sticky-sessions.html#enable-sticky-sessions-application\">Application-Controlled Session Stickiness</a> in the <i>Classic Load Balancers Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "LoadBalancerNotFoundException",
        "documentation" : "<p>The specified load balancer does not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "PolicyNotFoundException",
        "documentation" : "<p>One or more of the specified policies do not exist.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The load balancer does not have a listener configured at the specified port.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidConfigurationRequestException",
        "documentation" : "<p>The requested configuration change is not valid.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "SetLoadBalancerPoliciesOfListenerRequest",
        "variableName" : "setLoadBalancerPoliciesOfListenerRequest",
        "variableType" : "SetLoadBalancerPoliciesOfListenerRequest",
        "documentation" : "<p>Contains the parameters for SetLoadBalancePoliciesOfListener.</p>",
        "simpleType" : "SetLoadBalancerPoliciesOfListenerRequest",
        "variableSetterType" : "SetLoadBalancerPoliciesOfListenerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setLoadBalancerPoliciesOfListener",
      "operationName" : "SetLoadBalancerPoliciesOfListener",
      "returnType" : {
        "returnType" : "SetLoadBalancerPoliciesOfListenerResult",
        "documentation" : "<p>Contains the output of SetLoadBalancePoliciesOfListener.</p>"
      },
      "syncReturnType" : "SetLoadBalancerPoliciesOfListenerResult"
    }
  },
  "shapes" : {
    "AccessLog" : {
      "c2jName" : "AccessLog",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Information about the <code>AccessLog</code> attribute.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Enabled",
        "c2jShape" : "AccessLogEnabled",
        "deprecated" : false,
        "documentation" : "<p>Specifies whether access logs are enabled for the load balancer.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies whether access logs are enabled for the load balancer.</p>\n@param enabled Specifies whether access logs are enabled for the load balancer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEnabled",
        "getterDocumentation" : "/**<p>Specifies whether access logs are enabled for the load balancer.</p>\n@return Specifies whether access logs are enabled for the load balancer.*/",
        "getterMethodName" : "getEnabled",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Enabled",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Enabled",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "Enabled",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies whether access logs are enabled for the load balancer.</p>\n@param enabled Specifies whether access logs are enabled for the load balancer.*/",
        "setterMethodName" : "setEnabled",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "enabled",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies whether access logs are enabled for the load balancer.</p>\n@param enabled Specifies whether access logs are enabled for the load balancer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "enabled",
          "variableType" : "Boolean",
          "documentation" : "<p>Specifies whether access logs are enabled for the load balancer.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "S3BucketName",
        "c2jShape" : "S3BucketName",
        "deprecated" : false,
        "documentation" : "<p>The name of the Amazon S3 bucket where the access logs are stored.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the Amazon S3 bucket where the access logs are stored.</p>\n@param s3BucketName The name of the Amazon S3 bucket where the access logs are stored.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withS3BucketName",
        "getterDocumentation" : "/**<p>The name of the Amazon S3 bucket where the access logs are stored.</p>\n@return The name of the Amazon S3 bucket where the access logs are stored.*/",
        "getterMethodName" : "getS3BucketName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "S3BucketName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "S3BucketName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "S3BucketName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the Amazon S3 bucket where the access logs are stored.</p>\n@param s3BucketName The name of the Amazon S3 bucket where the access logs are stored.*/",
        "setterMethodName" : "setS3BucketName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "s3BucketName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the Amazon S3 bucket where the access logs are stored.</p>\n@param s3BucketName The name of the Amazon S3 bucket where the access logs are stored.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "s3BucketName",
          "variableType" : "String",
          "documentation" : "<p>The name of the Amazon S3 bucket where the access logs are stored.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EmitInterval",
        "c2jShape" : "AccessLogInterval",
        "deprecated" : false,
        "documentation" : "<p>The interval for publishing the access logs. You can specify an interval of either 5 minutes or 60 minutes.</p> <p>Default: 60 minutes</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The interval for publishing the access logs. You can specify an interval of either 5 minutes or 60 minutes.</p> <p>Default: 60 minutes</p>\n@param emitInterval The interval for publishing the access logs. You can specify an interval of either 5 minutes or 60 minutes.</p> <p>Default: 60 minutes\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEmitInterval",
        "getterDocumentation" : "/**<p>The interval for publishing the access logs. You can specify an interval of either 5 minutes or 60 minutes.</p> <p>Default: 60 minutes</p>\n@return The interval for publishing the access logs. You can specify an interval of either 5 minutes or 60 minutes.</p> <p>Default: 60 minutes*/",
        "getterMethodName" : "getEmitInterval",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EmitInterval",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EmitInterval",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "EmitInterval",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The interval for publishing the access logs. You can specify an interval of either 5 minutes or 60 minutes.</p> <p>Default: 60 minutes</p>\n@param emitInterval The interval for publishing the access logs. You can specify an interval of either 5 minutes or 60 minutes.</p> <p>Default: 60 minutes*/",
        "setterMethodName" : "setEmitInterval",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "emitInterval",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The interval for publishing the access logs. You can specify an interval of either 5 minutes or 60 minutes.</p> <p>Default: 60 minutes</p>\n@param emitInterval The interval for publishing the access logs. You can specify an interval of either 5 minutes or 60 minutes.</p> <p>Default: 60 minutes\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "emitInterval",
          "variableType" : "Integer",
          "documentation" : "<p>The interval for publishing the access logs. You can specify an interval of either 5 minutes or 60 minutes.</p> <p>Default: 60 minutes</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "S3BucketPrefix",
        "c2jShape" : "AccessLogPrefix",
        "deprecated" : false,
        "documentation" : "<p>The logical hierarchy you created for your Amazon S3 bucket, for example <code>my-bucket-prefix/prod</code>. If the prefix is not provided, the log is placed at the root level of the bucket.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The logical hierarchy you created for your Amazon S3 bucket, for example <code>my-bucket-prefix/prod</code>. If the prefix is not provided, the log is placed at the root level of the bucket.</p>\n@param s3BucketPrefix The logical hierarchy you created for your Amazon S3 bucket, for example <code>my-bucket-prefix/prod</code>. If the prefix is not provided, the log is placed at the root level of the bucket.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withS3BucketPrefix",
        "getterDocumentation" : "/**<p>The logical hierarchy you created for your Amazon S3 bucket, for example <code>my-bucket-prefix/prod</code>. If the prefix is not provided, the log is placed at the root level of the bucket.</p>\n@return The logical hierarchy you created for your Amazon S3 bucket, for example <code>my-bucket-prefix/prod</code>. If the prefix is not provided, the log is placed at the root level of the bucket.*/",
        "getterMethodName" : "getS3BucketPrefix",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "S3BucketPrefix",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "S3BucketPrefix",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "S3BucketPrefix",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The logical hierarchy you created for your Amazon S3 bucket, for example <code>my-bucket-prefix/prod</code>. If the prefix is not provided, the log is placed at the root level of the bucket.</p>\n@param s3BucketPrefix The logical hierarchy you created for your Amazon S3 bucket, for example <code>my-bucket-prefix/prod</code>. If the prefix is not provided, the log is placed at the root level of the bucket.*/",
        "setterMethodName" : "setS3BucketPrefix",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "s3BucketPrefix",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
[...]
