{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2017-07-25",
    "asyncClient" : "AmazonElasticInferenceAsyncClient",
    "asyncClientBuilderClassName" : "AmazonElasticInferenceAsyncClientBuilder",
    "asyncInterface" : "AmazonElasticInferenceAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonElasticInferenceModuleInjector",
    "defaultEndpoint" : "api.elastic-inference.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "api.elastic-inference.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p> Elastic Inference public APIs. </p>",
    "endpointPrefix" : "api.elastic-inference",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.elasticinference",
    "packagePath" : "com/amazonaws/services/elasticinference",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Amazon Elastic Inference",
    "serviceFullName" : "Amazon Elastic  Inference",
    "serviceId" : "Elastic Inference",
    "serviceName" : "Amazon Elastic Inference",
    "signingName" : "elastic-inference",
    "smokeTestsPackageName" : "com.amazonaws.services.elasticinference.smoketests",
    "syncClient" : "AmazonElasticInferenceClient",
    "syncClientBuilderClassName" : "AmazonElasticInferenceClientBuilder",
    "syncInterface" : "AmazonElasticInference",
    "uid" : "elastic-inference-2017-07-25",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DescribeAcceleratorOfferings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAcceleratorOfferingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAcceleratorOfferingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAcceleratorOfferingsRequest, DescribeAcceleratorOfferingsResult>",
      "asyncReturnType" : "DescribeAcceleratorOfferingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Describes the locations in which a given accelerator type or set of types is present in a given region. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Raised when a malformed input has been provided to the API. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> Raised when the requested resource cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Raised when an unexpected error occurred during request processing. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAcceleratorOfferingsRequest",
        "variableName" : "describeAcceleratorOfferingsRequest",
        "variableType" : "DescribeAcceleratorOfferingsRequest",
        "documentation" : "",
        "simpleType" : "DescribeAcceleratorOfferingsRequest",
        "variableSetterType" : "DescribeAcceleratorOfferingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAcceleratorOfferings",
      "operationName" : "DescribeAcceleratorOfferings",
      "returnType" : {
        "returnType" : "DescribeAcceleratorOfferingsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAcceleratorOfferingsResult"
    },
    "DescribeAcceleratorTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAcceleratorTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAcceleratorTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAcceleratorTypesRequest, DescribeAcceleratorTypesResult>",
      "asyncReturnType" : "DescribeAcceleratorTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Describes the accelerator types available in a given region, as well as their characteristics, such as memory and throughput. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Raised when an unexpected error occurred during request processing. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAcceleratorTypesRequest",
        "variableName" : "describeAcceleratorTypesRequest",
        "variableType" : "DescribeAcceleratorTypesRequest",
        "documentation" : "",
        "simpleType" : "DescribeAcceleratorTypesRequest",
        "variableSetterType" : "DescribeAcceleratorTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAcceleratorTypes",
      "operationName" : "DescribeAcceleratorTypes",
      "returnType" : {
        "returnType" : "DescribeAcceleratorTypesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAcceleratorTypesResult"
    },
    "DescribeAccelerators" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAcceleratorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAcceleratorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAcceleratorsRequest, DescribeAcceleratorsResult>",
      "asyncReturnType" : "DescribeAcceleratorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Describes information over a provided set of accelerators belonging to an account. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Raised when a malformed input has been provided to the API. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> Raised when the requested resource cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Raised when an unexpected error occurred during request processing. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAcceleratorsRequest",
        "variableName" : "describeAcceleratorsRequest",
        "variableType" : "DescribeAcceleratorsRequest",
        "documentation" : "",
        "simpleType" : "DescribeAcceleratorsRequest",
        "variableSetterType" : "DescribeAcceleratorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAccelerators",
      "operationName" : "DescribeAccelerators",
      "returnType" : {
        "returnType" : "DescribeAcceleratorsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAcceleratorsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns all tags of an Elastic Inference Accelerator. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Raised when a malformed input has been provided to the API. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> Raised when the requested resource cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Raised when an unexpected error occurred during request processing. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Adds the specified tags to an Elastic Inference Accelerator. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Raised when a malformed input has been provided to the API. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> Raised when the requested resource cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Raised when an unexpected error occurred during request processing. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Removes the specified tags from an Elastic Inference Accelerator. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p> Raised when a malformed input has been provided to the API. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> Raised when the requested resource cannot be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p> Raised when an unexpected error occurred during request processing. </p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    }
  },
  "shapes" : {
    "AcceleratorType" : {
      "c2jName" : "AcceleratorType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> The details of an Elastic Inference Accelerator type. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.elasticinference.model.AcceleratorType",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "acceleratorTypeName",
        "c2jShape" : "AcceleratorTypeName",
        "deprecated" : false,
        "documentation" : "<p> The name of the Elastic Inference Accelerator type. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The name of the Elastic Inference Accelerator type. </p>\n@param acceleratorTypeName The name of the Elastic Inference Accelerator type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAcceleratorTypeName",
        "getterDocumentation" : "/**<p> The name of the Elastic Inference Accelerator type. </p>\n@return The name of the Elastic Inference Accelerator type.*/",
        "getterMethodName" : "getAcceleratorTypeName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "acceleratorTypeName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "acceleratorTypeName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AcceleratorTypeName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The name of the Elastic Inference Accelerator type. </p>\n@param acceleratorTypeName The name of the Elastic Inference Accelerator type.*/",
        "setterMethodName" : "setAcceleratorTypeName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "acceleratorTypeName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The name of the Elastic Inference Accelerator type. </p>\n@param acceleratorTypeName The name of the Elastic Inference Accelerator type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "acceleratorTypeName",
          "variableType" : "String",
          "documentation" : "<p> The name of the Elastic Inference Accelerator type. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "memoryInfo",
        "c2jShape" : "MemoryInfo",
        "deprecated" : false,
        "documentation" : "<p> The memory information of the Elastic Inference Accelerator type. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The memory information of the Elastic Inference Accelerator type. </p>\n@param memoryInfo The memory information of the Elastic Inference Accelerator type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMemoryInfo",
        "getterDocumentation" : "/**<p> The memory information of the Elastic Inference Accelerator type. </p>\n@return The memory information of the Elastic Inference Accelerator type.*/",
        "getterMethodName" : "getMemoryInfo",
        "getterModel" : {
          "returnType" : "MemoryInfo",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "memoryInfo",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "memoryInfo",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "MemoryInfo",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The memory information of the Elastic Inference Accelerator type. </p>\n@param memoryInfo The memory information of the Elastic Inference Accelerator type.*/",
        "setterMethodName" : "setMemoryInfo",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "MemoryInfo",
          "variableName" : "memoryInfo",
          "variableType" : "MemoryInfo",
          "documentation" : "",
          "simpleType" : "MemoryInfo",
          "variableSetterType" : "MemoryInfo"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The memory information of the Elastic Inference Accelerator type. </p>\n@param memoryInfo The memory information of the Elastic Inference Accelerator type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "MemoryInfo",
          "variableName" : "memoryInfo",
          "variableType" : "MemoryInfo",
          "documentation" : "<p> The memory information of the Elastic Inference Accelerator type. </p>",
          "simpleType" : "MemoryInfo",
          "variableSetterType" : "MemoryInfo"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "throughputInfo",
        "c2jShape" : "ThroughputInfoList",
        "deprecated" : false,
        "documentation" : "<p> The throughput information of the Elastic Inference Accelerator type. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The throughput information of the Elastic Inference Accelerator type. </p>\n@param throughputInfo The throughput information of the Elastic Inference Accelerator type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withThroughputInfo",
        "getterDocumentation" : "/**<p> The throughput information of the Elastic Inference Accelerator type. </p>\n@return The throughput information of the Elastic Inference Accelerator type.*/",
        "getterMethodName" : "getThroughputInfo",
        "getterModel" : {
          "returnType" : "java.util.List<KeyValuePair>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "throughputInfo",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "throughputInfo",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "KeyValuePair",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "KeyValuePair",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "KeyValuePair",
              "variableName" : "member",
              "variableType" : "KeyValuePair",
              "documentation" : "",
              "simpleType" : "KeyValuePair",
              "variableSetterType" : "KeyValuePair"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "KeyValuePair",
              "variableName" : "member",
              "variableType" : "KeyValuePair",
              "documentation" : "",
              "simpleType" : "KeyValuePair",
              "variableSetterType" : "KeyValuePair"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "KeyValuePair",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "KeyValuePair",
          "templateImplType" : "java.util.ArrayList<KeyValuePair>",
          "templateType" : "java.util.List<KeyValuePair>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "ThroughputInfo",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The throughput information of the Elastic Inference Accelerator type. </p>\n@param throughputInfo The throughput information of the Elastic Inference Accelerator type.*/",
        "setterMethodName" : "setThroughputInfo",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<KeyValuePair>",
          "variableName" : "throughputInfo",
          "variableType" : "java.util.List<KeyValuePair>",
          "documentation" : "",
          "simpleType" : "List<KeyValuePair>",
          "variableSetterType" : "java.util.Collection<KeyValuePair>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The throughput information of the Elastic Inference Accelerator type. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setThroughputInfo(java.util.Collection)} or {@link #withThroughputInfo(java.util.Collection)} if you want to override the existing values.</p>\n@param throughputInfo The throughput information of the Elastic Inference Accelerator type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<KeyValuePair>",
          "variableName" : "throughputInfo",
          "variableType" : "java.util.List<KeyValuePair>",
          "documentation" : "<p> The throughput information of the Elastic Inference Accelerator type. </p>",
          "simpleType" : "List<KeyValuePair>",
          "variableSetterType" : "java.util.Collection<KeyValuePair>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AcceleratorTypeName" : {
          "c2jName" : "acceleratorTypeName",
          "c2jShape" : "AcceleratorTypeName",
          "deprecated" : false,
          "documentation" : "<p> The name of the Elastic Inference Accelerator type. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The name of the Elastic Inference Accelerator type. </p>\n@param acceleratorTypeName The name of the Elastic Inference Accelerator type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAcceleratorTypeName",
          "getterDocumentation" : "/**<p> The name of the Elastic Inference Accelerator type. </p>\n@return The name of the Elastic Inference Accelerator type.*/",
          "getterMethodName" : "getAcceleratorTypeName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "acceleratorTypeName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "acceleratorTypeName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AcceleratorTypeName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The name of the Elastic Inference Accelerator type. </p>\n@param acceleratorTypeName The name of the Elastic Inference Accelerator type.*/",
          "setterMethodName" : "setAcceleratorTypeName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "acceleratorTypeName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The name of the Elastic Inference Accelerator type. </p>\n@param acceleratorTypeName The name of the Elastic Inference Accelerator type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "acceleratorTypeName",
            "variableType" : "String",
            "documentation" : "<p> The name of the Elastic Inference Accelerator type. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "MemoryInfo" : {
          "c2jName" : "memoryInfo",
          "c2jShape" : "MemoryInfo",
          "deprecated" : false,
          "documentation" : "<p> The memory information of the Elastic Inference Accelerator type. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The memory information of the Elastic Inference Accelerator type. </p>\n@param memoryInfo The memory information of the Elastic Inference Accelerator type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMemoryInfo",
          "getterDocumentation" : "/**<p> The memory information of the Elastic Inference Accelerator type. </p>\n@return The memory information of the Elastic Inference Accelerator type.*/",
          "getterMethodName" : "getMemoryInfo",
          "getterModel" : {
            "returnType" : "MemoryInfo",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "memoryInfo",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "memoryInfo",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "MemoryInfo",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The memory information of the Elastic Inference Accelerator type. </p>\n@param memoryInfo The memory information of the Elastic Inference Accelerator type.*/",
          "setterMethodName" : "setMemoryInfo",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "MemoryInfo",
            "variableName" : "memoryInfo",
            "variableType" : "MemoryInfo",
            "documentation" : "",
            "simpleType" : "MemoryInfo",
            "variableSetterType" : "MemoryInfo"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The memory information of the Elastic Inference Accelerator type. </p>\n@param memoryInfo The memory information of the Elastic Inference Accelerator type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "MemoryInfo",
            "variableName" : "memoryInfo",
            "variableType" : "MemoryInfo",
            "documentation" : "<p> The memory information of the Elastic Inference Accelerator type. </p>",
            "simpleType" : "MemoryInfo",
            "variableSetterType" : "MemoryInfo"
          },
          "xmlNameSpaceUri" : null
        },
        "ThroughputInfo" : {
          "c2jName" : "throughputInfo",
          "c2jShape" : "ThroughputInfoList",
          "deprecated" : false,
          "documentation" : "<p> The throughput information of the Elastic Inference Accelerator type. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The throughput information of the Elastic Inference Accelerator type. </p>\n@param throughputInfo The throughput information of the Elastic Inference Accelerator type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withThroughputInfo",
          "getterDocumentation" : "/**<p> The throughput information of the Elastic Inference Accelerator type. </p>\n@return The throughput information of the Elastic Inference Accelerator type.*/",
          "getterMethodName" : "getThroughputInfo",
          "getterModel" : {
            "returnType" : "java.util.List<KeyValuePair>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "throughputInfo",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "throughputInfo",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "KeyValuePair",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "KeyValuePair",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "KeyValuePair",
                "variableName" : "member",
                "variableType" : "KeyValuePair",
                "documentation" : "",
                "simpleType" : "KeyValuePair",
                "variableSetterType" : "KeyValuePair"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "KeyValuePair",
                "variableName" : "member",
                "variableType" : "KeyValuePair",
                "documentation" : "",
                "simpleType" : "KeyValuePair",
                "variableSetterType" : "KeyValuePair"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "KeyValuePair",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "KeyValuePair",
            "templateImplType" : "java.util.ArrayList<KeyValuePair>",
            "templateType" : "java.util.List<KeyValuePair>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "ThroughputInfo",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The throughput information of the Elastic Inference Accelerator type. </p>\n@param throughputInfo The throughput information of the Elastic Inference Accelerator type.*/",
          "setterMethodName" : "setThroughputInfo",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<KeyValuePair>",
            "variableName" : "throughputInfo",
            "variableType" : "java.util.List<KeyValuePair>",
            "documentation" : "",
            "simpleType" : "List<KeyValuePair>",
            "variableSetterType" : "java.util.Collection<KeyValuePair>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The throughput information of the Elastic Inference Accelerator type. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setThroughputInfo(java.util.Collection)} or {@link #withThroughputInfo(java.util.Collection)} if you want to override the existing values.</p>\n@param throughputInfo The throughput information of the Elastic Inference Accelerator type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<KeyValuePair>",
            "variableName" : "throughputInfo",
            "variableType" : "java.util.List<KeyValuePair>",
            "documentation" : "<p> The throughput information of the Elastic Inference Accelerator type. </p>",
            "simpleType" : "List<KeyValuePair>",
            "variableSetterType" : "java.util.Collection<KeyValuePair>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.elasticinference.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AcceleratorType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceleratorType",
        "variableName" : "acceleratorType",
        "variableType" : "AcceleratorType",
        "documentation" : null,
        "simpleType" : "AcceleratorType",
        "variableSetterType" : "AcceleratorType"
      },
      "wrapper" : false
    },
    "AcceleratorTypeOffering" : {
      "c2jName" : "AcceleratorTypeOffering",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> The offering for an Elastic Inference Accelerator type. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.elasticinference.model.AcceleratorTypeOffering",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "acceleratorType",
        "c2jShape" : "AcceleratorTypeName",
        "deprecated" : false,
        "documentation" : "<p> The name of the Elastic Inference Accelerator type. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The name of the Elastic Inference Accelerator type. </p>\n@param acceleratorType The name of the Elastic Inference Accelerator type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAcceleratorType",
        "getterDocumentation" : "/**<p> The name of the Elastic Inference Accelerator type. </p>\n@return The name of the Elastic Inference Accelerator type.*/",
        "getterMethodName" : "getAcceleratorType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "acceleratorType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "acceleratorType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AcceleratorType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The name of the Elastic Inference Accelerator type. </p>\n@param acceleratorType The name of the Elastic Inference Accelerator type.*/",
        "setterMethodName" : "setAcceleratorType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "acceleratorType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The name of the Elastic Inference Accelerator type. </p>\n@param acceleratorType The name of the Elastic Inference Accelerator type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "acceleratorType",
          "variableType" : "String",
          "documentation" : "<p> The name of the Elastic Inference Accelerator type. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "locationType",
        "c2jShape" : "LocationType",
        "deprecated" : false,
        "documentation" : "<p> The location type for the offering. It can assume the following values: region: defines that the offering is at the regional level. availability-zone: defines that the offering is at the availability zone level. availability-zone-id: defines that the offering is at the availability zone level, defined by the availability zone id. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : "LocationType",
        "fluentSetterDocumentation" : "/**<p> The location type for the offering. It can assume the following values: region: defines that the offering is at the regional level. availability-zone: defines that the offering is at the availability zone level. availability-zone-id: defines that the offering is at the availability zone level, defined by the availability zone id. </p>\n@param locationType The location type for the offering. It can assume the following values: region: defines that the offering is at the regional level. availability-zone: defines that the offering is at the availability zone level. availability-zone-id: defines that the offering is at the availability zone level, defined by the availability zone id.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LocationType*/",
        "fluentSetterMethodName" : "withLocationType",
        "getterDocumentation" : "/**<p> The location type for the offering. It can assume the following values: region: defines that the offering is at the regional level. availability-zone: defines that the offering is at the availability zone level. availability-zone-id: defines that the offering is at the availability zone level, defined by the availability zone id. </p>\n@return The location type for the offering. It can assume the following values: region: defines that the offering is at the regional level. availability-zone: defines that the offering is at the availability zone level. availability-zone-id: defines that the offering is at the availability zone level, defined by the availability zone id.\n@see LocationType*/",
        "getterMethodName" : "getLocationType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "locationType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "locationType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LocationType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The location type for the offering. It can assume the following values: region: defines that the offering is at the regional level. availability-zone: defines that the offering is at the availability zone level. availability-zone-id: defines that the offering is at the availability zone level, defined by the availability zone id. </p>\n@param locationType The location type for the offering. It can assume the following values: region: defines that the offering is at the regional level. availability-zone: defines that the offering is at the availability zone level. availability-zone-id: defines that the offering is at the availability zone level, defined by the availability zone id.\n@see LocationType*/",
        "setterMethodName" : "setLocationType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "locationType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The location type for the offering. It can assume the following values: region: defines that the offering is at the regional level. availability-zone: defines that the offering is at the availability zone level. availability-zone-id: defines that the offering is at the availability zone level, defined by the availability zone id. </p>\n@param locationType The location type for the offering. It can assume the following values: region: defines that the offering is at the regional level. availability-zone: defines that the offering is at the availability zone level. availability-zone-id: defines that the offering is at the availability zone level, defined by the availability zone id.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LocationType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "locationType",
          "variableType" : "String",
          "documentation" : "<p> The location type for the offering. It can assume the following values: region: defines that the offering is at the regional level. availability-zone: defines that the offering is at the availability zone level. availability-zone-id: defines that the offering is at the availability zone level, defined by the availability zone id. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "location",
        "c2jShape" : "Location",
        "deprecated" : false,
        "documentation" : "<p> The location for the offering. It will return either the region, availability zone or availability zone id for the offering depending on the locationType value. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The location for the offering. It will return either the region, availability zone or availability zone id for the offering depending on the locationType value. </p>\n@param location The location for the offering. It will return either the region, availability zone or availability zone id for the offering depending on the locationType value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLocation",
        "getterDocumentation" : "/**<p> The location for the offering. It will return either the region, availability zone or availability zone id for the offering depending on the locationType value. </p>\n@return The location for the offering. It will return either the region, availability zone or availability zone id for the offering depending on the locationType value.*/",
        "getterMethodName" : "getLocation",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "location",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "location",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Location",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The location for the offering. It will return either the region, availability zone or availability zone id for the offering depending on the locationType value. </p>\n@param location The location for the offering. It will return either the region, availability zone or availability zone id for the offering depending on the locationType value.*/",
        "setterMethodName" : "setLocation",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "location",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The location for the offering. It will return either the region, availability zone or availability zone id for the offering depending on the locationType value. </p>\n@param location The location for the offering. It will return either the region, availability zone or availability zone id for the offering depending on the locationType value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "location",
          "variableType" : "String",
          "documentation" : "<p> The location for the offering. It will return either the region, availability zone or availability zone id for the offering depending on the locationType value. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AcceleratorType" : {
          "c2jName" : "acceleratorType",
          "c2jShape" : "AcceleratorTypeName",
          "deprecated" : false,
          "documentation" : "<p> The name of the Elastic Inference Accelerator type. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The name of the Elastic Inference Accelerator type. </p>\n@param acceleratorType The name of the Elastic Inference Accelerator type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAcceleratorType",
          "getterDocumentation" : "/**<p> The name of the Elastic Inference Accelerator type. </p>\n@return The name of the Elastic Inference Accelerator type.*/",
          "getterMethodName" : "getAcceleratorType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "acceleratorType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "acceleratorType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AcceleratorType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The name of the Elastic Inference Accelerator type. </p>\n@param acceleratorType The name of the Elastic Inference Accelerator type.*/",
          "setterMethodName" : "setAcceleratorType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "acceleratorType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The name of the Elastic Inference Accelerator type. </p>\n@param acceleratorType The name of the Elastic Inference Accelerator type.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "acceleratorType",
            "variableType" : "String",
            "documentation" : "<p> The name of the Elastic Inference Accelerator type. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Location" : {
          "c2jName" : "location",
          "c2jShape" : "Location",
          "deprecated" : false,
          "documentation" : "<p> The location for the offering. It will return either the region, availability zone or availability zone id for the offering depending on the locationType value. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The location for the offering. It will return either the region, availability zone or availability zone id for the offering depending on the locationType value. </p>\n@param location The location for the offering. It will return either the region, availability zone or availability zone id for the offering depending on the locationType value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLocation",
          "getterDocumentation" : "/**<p> The location for the offering. It will return either the region, availability zone or availability zone id for the offering depending on the locationType value. </p>\n@return The location for the offering. It will return either the region, availability zone or availability zone id for the offering depending on the locationType value.*/",
          "getterMethodName" : "getLocation",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "location",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "location",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Location",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The location for the offering. It will return either the region, availability zone or availability zone id for the offering depending on the locationType value. </p>\n@param location The location for the offering. It will return either the region, availability zone or availability zone id for the offering depending on the locationType value.*/",
          "setterMethodName" : "setLocation",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "location",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The location for the offering. It will return either the region, availability zone or availability zone id for the offering depending on the locationType value. </p>\n@param location The location for the offering. It will return either the region, availability zone or availability zone id for the offering depending on the locationType value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "location",
            "variableType" : "String",
            "documentation" : "<p> The location for the offering. It will return either the region, availability zone or availability zone id for the offering depending on the locationType value. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "LocationType" : {
          "c2jName" : "locationType",
          "c2jShape" : "LocationType",
          "deprecated" : false,
          "documentation" : "<p> The location type for the offering. It can assume the following values: region: defines that the offering is at the regional level. availability-zone: defines that the offering is at the availability zone level. availability-zone-id: defines that the offering is at the availability zone level, defined by the availability zone id. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : "LocationType",
          "fluentSetterDocumentation" : "/**<p> The location type for the offering. It can assume the following values: region: defines that the offering is at the regional level. availability-zone: defines that the offering is at the availability zone level. availability-zone-id: defines that the offering is at the availability zone level, defined by the availability zone id. </p>\n@param locationType The location type for the offering. It can assume the following values: region: defines that the offering is at the regional level. availability-zone: defines that the offering is at the availability zone level. availability-zone-id: defines that the offering is at the availability zone level, defined by the availability zone id.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LocationType*/",
          "fluentSetterMethodName" : "withLocationType",
          "getterDocumentation" : "/**<p> The location type for the offering. It can assume the following values: region: defines that the offering is at the regional level. availability-zone: defines that the offering is at the availability zone level. availability-zone-id: defines that the offering is at the availability zone level, defined by the availability zone id. </p>\n@return The location type for the offering. It can assume the following values: region: defines that the offering is at the regional level. availability-zone: defines that the offering is at the availability zone level. availability-zone-id: defines that the offering is at the availability zone level, defined by the availability zone id.\n@see LocationType*/",
          "getterMethodName" : "getLocationType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "locationType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "locationType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "LocationType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The location type for the offering. It can assume the following values: region: defines that the offering is at the regional level. availability-zone: defines that the offering is at the availability zone level. availability-zone-id: defines that the offering is at the availability zone level, defined by the availability zone id. </p>\n@param locationType The location type for the offering. It can assume the following values: region: defines that the offering is at the regional level. availability-zone: defines that the offering is at the availability zone level. availability-zone-id: defines that the offering is at the availability zone level, defined by the availability zone id.\n@see LocationType*/",
          "setterMethodName" : "setLocationType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "locationType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The location type for the offering. It can assume the following values: region: defines that the offering is at the regional level. availability-zone: defines that the offering is at the availability zone level. availability-zone-id: defines that the offering is at the availability zone level, defined by the availability zone id. </p>\n@param locationType The location type for the offering. It can assume the following values: region: defines that the offering is at the regional level. availability-zone: defines that the offering is at the availability zone level. availability-zone-id: defines that the offering is at the availability zone level, defined by the availability zone id.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LocationType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "locationType",
            "variableType" : "String",
            "documentation" : "<p> The location type for the offering. It can assume the following values: region: defines that the offering is at the regional level. availability-zone: defines that the offering is at the availability zone level. availability-zone-id: defines that the offering is at the availability zone level, defined by the availability zone id. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.elasticinference.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AcceleratorTypeOffering",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceleratorTypeOffering",
        "variableName" : "acceleratorTypeOffering",
        "variableType" : "AcceleratorTypeOffering",
        "documentation" : null,
        "simpleType" : "AcceleratorTypeOffering",
        "variableSetterType" : "AcceleratorTypeOffering"
      },
      "wrapper" : false
    },
    "BadRequestException" : {
      "c2jName" : "BadRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> Raised when a malformed input has been provided to the API. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "BadRequestException",
      "fullyQualifiedName" : "com.amazonaws.services.elasticinference.exception.BadRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.elasticinference.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BadRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BadRequestException",
        "variableName" : "badRequestException",
        "variableType" : "BadRequestException",
        "documentation" : null,
        "simpleType" : "BadRequestException",
        "variableSetterType" : "BadRequestException"
      },
      "wrapper" : false
    },
    "DescribeAcceleratorOfferingsRequest" : {
      "c2jName" : "DescribeAcceleratorOfferingsRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.elasticinference.request.DescribeAcceleratorOfferingsRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DescribeAcceleratorOfferings",
        "locationName" : null,
        "requestUri" : "/describe-accelerator-offerings",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "locationType",
        "c2jShape" : "LocationType",
        "deprecated" : false,
        "documentation" : "<p> The location type that you want to describe accelerator type offerings for. It can assume the following values: region: will return the accelerator type offering at the regional level. availability-zone: will return the accelerator type offering at the availability zone level. availability-zone-id: will return the accelerator type offering at the availability zone level returning the availability zone id. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : "LocationType",
        "fluentSetterDocumentation" : "/**<p> The location type that you want to describe accelerator type offerings for. It can assume the following values: region: will return the accelerator type offering at the regional level. availability-zone: will return the accelerator type offering at the availability zone level. availability-zone-id: will return the accelerator type offering at the availability zone level returning the availability zone id. </p>\n@param locationType The location type that you want to describe accelerator type offerings for. It can assume the following values: region: will return the accelerator type offering at the regional level. availability-zone: will return the accelerator type offering at the availability zone level. availability-zone-id: will return the accelerator type offering at the availability zone level returning the availability zone id.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LocationType*/",
        "fluentSetterMethodName" : "withLocationType",
        "getterDocumentation" : "/**<p> The location type that you want to describe accelerator type offerings for. It can assume the following values: region: will return the accelerator type offering at the regional level. availability-zone: will return the accelerator type offering at the availability zone level. availability-zone-id: will return the accelerator type offering at the availability zone level returning the availability zone id. </p>\n@return The location type that you want to describe accelerator type offerings for. It can assume the following values: region: will return the accelerator type offering at the regional level. availability-zone: will return the accelerator type offering at the availability zone level. availability-zone-id: will return the accelerator type offering at the availability zone level returning the availability zone id.\n@see LocationType*/",
        "getterMethodName" : "getLocationType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "locationType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "locationType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LocationType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The location type that you want to describe accelerator type offerings for. It can assume the following values: region: will return the accelerator type offering at the regional level. availability-zone: will return the accelerator type offering at the availability zone level. availability-zone-id: will return the accelerator type offering at the availability zone level returning the availability zone id. </p>\n@param locationType The location type that you want to describe accelerator type offerings for. It can assume the following values: region: will return the accelerator type offering at the regional level. availability-zone: will return the accelerator type offering at the availability zone level. availability-zone-id: will return the accelerator type offering at the availability zone level returning the availability zone id.\n@see LocationType*/",
        "setterMethodName" : "setLocationType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "locationType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The location type that you want to describe accelerator type offerings for. It can assume the following values: region: will return the accelerator type offering at the regional level. availability-zone: will return the accelerator type offering at the availability zone level. availability-zone-id: will return the accelerator type offering at the availability zone level returning the availability zone id. </p>\n@param locationType The location type that you want to describe accelerator type offerings for. It can assume the following values: region: will return the accelerator type offering at the regional level. availability-zone: will return the accelerator type offering at the availability zone level. availability-zone-id: will return the accelerator type offering at the availability zone level returning the availability zone id.\n@return Returns a reference to this object so that method calls can be chained together.\n@see LocationType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "locationType",
          "variableType" : "String",
          "documentation" : "<p> The location type that you want to describe accelerator type offerings for. It can assume the following values: region: will return the accelerator type offering at the regional level. availability-zone: will return the accelerator type offering at the availability zone level. availability-zone-id: will return the accelerator type offering at the availability zone level returning the availability zone id. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "acceleratorTypes",
        "c2jShape" : "AcceleratorTypeNameList",
        "deprecated" : false,
        "documentation" : "<p> The list of accelerator types to describe. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The list of accelerator types to describe. </p>\n@param acceleratorTypes The list of accelerator types to describe.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAcceleratorTypes",
        "getterDocumentation" : "/**<p> The list of accelerator types to describe. </p>\n@return The list of accelerator types to describe.*/",
        "getterMethodName" : "getAcceleratorTypes",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "acceleratorTypes",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "acceleratorTypes",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "AcceleratorTypeName",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "AcceleratorTypes",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The list of accelerator types to describe. </p>\n@param acceleratorTypes The list of accelerator types to describe.*/",
        "setterMethodName" : "setAcceleratorTypes",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "acceleratorTypes",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The list of accelerator types to describe. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAcceleratorTypes(java.util.Collection)} or {@link #withAcceleratorTypes(java.util.Collection)} if you want to override the existing values.</p>\n@param acceleratorTypes The list of accelerator types to describe.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "acceleratorTypes",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p> The list of accelerator types to describe. </p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AcceleratorTypes" : {
          "c2jName" : "acceleratorTypes",
          "c2jShape" : "AcceleratorTypeNameList",
          "deprecated" : false,
          "documentation" : "<p> The list of accelerator types to describe. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The list of accelerator types to describe. </p>\n@param acceleratorTypes The list of accelerator types to describe.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAcceleratorTypes",
          "getterDocumentation" : "/**<p> The list of accelerator types to describe. </p>\n@return The list of accelerator types to describe.*/",
          "getterMethodName" : "getAcceleratorTypes",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "acceleratorTypes",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "acceleratorTypes",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "AcceleratorTypeName",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "AcceleratorTypes",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The list of accelerator types to describe. </p>\n@param acceleratorTypes The list of accelerator types to describe.*/",
          "setterMethodName" : "setAcceleratorTypes",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "acceleratorTypes",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The list of accelerator types to describe. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAcceleratorTypes(java.util.Collection)} or {@link #withAcceleratorTypes(java.util.Collection)} if you want to override the existing values.</p>\n@param acceleratorTypes The list of accelerator types to describe.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "acceleratorTypes",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p> The list of accelerator types to describe. </p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        },
        "LocationType" : {
          "c2jName" : "locationType",
          "c2jShape" : "LocationType",
          "deprecated" : false,
          "documentation" : "<p> The location type that you want to describe accelerator type offerings for. It can assume the following values: region: will return the accelerator type offering at the regional level. availability-zone: will return the accelerator type offering at the availability zone level. availability-zone-id: will return the accelerator type offering at the availability zone level returning the availability zone id. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : "LocationType",
[...]
