{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-10-01",
    "asyncClient" : "AmazonEMRContainersAsyncClient",
    "asyncClientBuilderClassName" : "AmazonEMRContainersAsyncClientBuilder",
    "asyncInterface" : "AmazonEMRContainersAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonEMRContainersModuleInjector",
    "defaultEndpoint" : "emr-containers.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "emr-containers.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon EMR on EKS provides a deployment option for Amazon EMR that allows you to run open-source big data frameworks on Amazon Elastic Kubernetes Service (Amazon EKS). With this deployment option, you can focus on running analytics workloads while Amazon EMR on EKS builds, configures, and manages containers for open-source applications. For more information about Amazon EMR on EKS concepts and tasks, see <a href=\"https://docs.aws.amazon.com/emr/latest/EMR-on-EKS-DevelopmentGuide/emr-eks.html\">What is Amazon EMR on EKS</a>.</p> <p> <i>Amazon EMR containers</i> is the API name for Amazon EMR on EKS. The <code>emr-containers</code> prefix is used in the following scenarios: </p> <ul> <li> <p>It is the prefix in the CLI commands for Amazon EMR on EKS. For example, <code>aws emr-containers start-job-run</code>.</p> </li> <li> <p>It is the prefix before IAM policy actions for Amazon EMR on EKS. For example, <code>\"Action\": [ \"emr-containers:StartJobRun\"]</code>. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/EMR-on-EKS-DevelopmentGuide/security_iam_service-with-iam.html#security_iam_service-with-iam-id-based-policies-actions\">Policy actions for Amazon EMR on EKS</a>.</p> </li> <li> <p>It is the prefix used in Amazon EMR on EKS service endpoints. For example, <code>emr-containers.us-east-2.amazonaws.com</code>. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/EMR-on-EKS-DevelopmentGuide/service-quotas.html#service-endpoints\">Amazon EMR on EKS Service Endpoints</a>.</p> </li> </ul>",
    "endpointPrefix" : "emr-containers",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.emrcontainers",
    "packagePath" : "com/amazonaws/services/emrcontainers",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon EMR Containers",
    "serviceId" : "EMR containers",
    "serviceName" : "Amazon EMR Containers",
    "signingName" : "emr-containers",
    "smokeTestsPackageName" : "com.amazonaws.services.emrcontainers.smoketests",
    "syncClient" : "AmazonEMRContainersClient",
    "syncClientBuilderClassName" : "AmazonEMRContainersClientBuilder",
    "syncInterface" : "AmazonEMRContainers",
    "uid" : "emr-containers-2020-10-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelJobRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelJobRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelJobRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelJobRunRequest, CancelJobRunResult>",
      "asyncReturnType" : "CancelJobRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels a job run. A job run is a unit of work, such as a Spark jar, PySpark script, or SparkSQL query, that you submit to Amazon EMR on EKS.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelJobRunRequest",
        "variableName" : "cancelJobRunRequest",
        "variableType" : "CancelJobRunRequest",
        "documentation" : "",
        "simpleType" : "CancelJobRunRequest",
        "variableSetterType" : "CancelJobRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelJobRun",
      "operationName" : "CancelJobRun",
      "returnType" : {
        "returnType" : "CancelJobRunResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelJobRunResult"
    },
    "CreateManagedEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateManagedEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateManagedEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateManagedEndpointRequest, CreateManagedEndpointResult>",
      "asyncReturnType" : "CreateManagedEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a managed endpoint. A managed endpoint is a gateway that connects EMR Studio to Amazon EMR on EKS so that EMR Studio can communicate with your virtual cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateManagedEndpointRequest",
        "variableName" : "createManagedEndpointRequest",
        "variableType" : "CreateManagedEndpointRequest",
        "documentation" : "",
        "simpleType" : "CreateManagedEndpointRequest",
        "variableSetterType" : "CreateManagedEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createManagedEndpoint",
      "operationName" : "CreateManagedEndpoint",
      "returnType" : {
        "returnType" : "CreateManagedEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateManagedEndpointResult"
    },
    "CreateVirtualCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVirtualClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVirtualClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVirtualClusterRequest, CreateVirtualClusterResult>",
      "asyncReturnType" : "CreateVirtualClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a virtual cluster. Virtual cluster is a managed entity on Amazon EMR on EKS. You can create, describe, list and delete virtual clusters. They do not consume any additional resource in your system. A single virtual cluster maps to a single Kubernetes namespace. Given this relationship, you can model virtual clusters the same way you model Kubernetes namespaces to meet your requirements.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVirtualClusterRequest",
        "variableName" : "createVirtualClusterRequest",
        "variableType" : "CreateVirtualClusterRequest",
        "documentation" : "",
        "simpleType" : "CreateVirtualClusterRequest",
        "variableSetterType" : "CreateVirtualClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVirtualCluster",
      "operationName" : "CreateVirtualCluster",
      "returnType" : {
        "returnType" : "CreateVirtualClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateVirtualClusterResult"
    },
    "DeleteManagedEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteManagedEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteManagedEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteManagedEndpointRequest, DeleteManagedEndpointResult>",
      "asyncReturnType" : "DeleteManagedEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a managed endpoint. A managed endpoint is a gateway that connects EMR Studio to Amazon EMR on EKS so that EMR Studio can communicate with your virtual cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteManagedEndpointRequest",
        "variableName" : "deleteManagedEndpointRequest",
        "variableType" : "DeleteManagedEndpointRequest",
        "documentation" : "",
        "simpleType" : "DeleteManagedEndpointRequest",
        "variableSetterType" : "DeleteManagedEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteManagedEndpoint",
      "operationName" : "DeleteManagedEndpoint",
      "returnType" : {
        "returnType" : "DeleteManagedEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteManagedEndpointResult"
    },
    "DeleteVirtualCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVirtualClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVirtualClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVirtualClusterRequest, DeleteVirtualClusterResult>",
      "asyncReturnType" : "DeleteVirtualClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a virtual cluster. Virtual cluster is a managed entity on Amazon EMR on EKS. You can create, describe, list and delete virtual clusters. They do not consume any additional resource in your system. A single virtual cluster maps to a single Kubernetes namespace. Given this relationship, you can model virtual clusters the same way you model Kubernetes namespaces to meet your requirements.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVirtualClusterRequest",
        "variableName" : "deleteVirtualClusterRequest",
        "variableType" : "DeleteVirtualClusterRequest",
        "documentation" : "",
        "simpleType" : "DeleteVirtualClusterRequest",
        "variableSetterType" : "DeleteVirtualClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVirtualCluster",
      "operationName" : "DeleteVirtualCluster",
      "returnType" : {
        "returnType" : "DeleteVirtualClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVirtualClusterResult"
    },
    "DescribeJobRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJobRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJobRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJobRunRequest, DescribeJobRunResult>",
      "asyncReturnType" : "DescribeJobRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays detailed information about a job run. A job run is a unit of work, such as a Spark jar, PySpark script, or SparkSQL query, that you submit to Amazon EMR on EKS.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeJobRunRequest",
        "variableName" : "describeJobRunRequest",
        "variableType" : "DescribeJobRunRequest",
        "documentation" : "",
        "simpleType" : "DescribeJobRunRequest",
        "variableSetterType" : "DescribeJobRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeJobRun",
      "operationName" : "DescribeJobRun",
      "returnType" : {
        "returnType" : "DescribeJobRunResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeJobRunResult"
    },
    "DescribeManagedEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeManagedEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeManagedEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeManagedEndpointRequest, DescribeManagedEndpointResult>",
      "asyncReturnType" : "DescribeManagedEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays detailed information about a managed endpoint. A managed endpoint is a gateway that connects EMR Studio to Amazon EMR on EKS so that EMR Studio can communicate with your virtual cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeManagedEndpointRequest",
        "variableName" : "describeManagedEndpointRequest",
        "variableType" : "DescribeManagedEndpointRequest",
        "documentation" : "",
        "simpleType" : "DescribeManagedEndpointRequest",
        "variableSetterType" : "DescribeManagedEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeManagedEndpoint",
      "operationName" : "DescribeManagedEndpoint",
      "returnType" : {
        "returnType" : "DescribeManagedEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeManagedEndpointResult"
    },
    "DescribeVirtualCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeVirtualClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeVirtualClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeVirtualClusterRequest, DescribeVirtualClusterResult>",
      "asyncReturnType" : "DescribeVirtualClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays detailed information about a specified virtual cluster. Virtual cluster is a managed entity on Amazon EMR on EKS. You can create, describe, list and delete virtual clusters. They do not consume any additional resource in your system. A single virtual cluster maps to a single Kubernetes namespace. Given this relationship, you can model virtual clusters the same way you model Kubernetes namespaces to meet your requirements.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeVirtualClusterRequest",
        "variableName" : "describeVirtualClusterRequest",
        "variableType" : "DescribeVirtualClusterRequest",
        "documentation" : "",
        "simpleType" : "DescribeVirtualClusterRequest",
        "variableSetterType" : "DescribeVirtualClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeVirtualCluster",
      "operationName" : "DescribeVirtualCluster",
      "returnType" : {
        "returnType" : "DescribeVirtualClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeVirtualClusterResult"
    },
    "ListJobRuns" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobRunsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobRunsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobRunsRequest, ListJobRunsResult>",
      "asyncReturnType" : "ListJobRunsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists job runs based on a set of parameters. A job run is a unit of work, such as a Spark jar, PySpark script, or SparkSQL query, that you submit to Amazon EMR on EKS.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListJobRunsRequest",
        "variableName" : "listJobRunsRequest",
        "variableType" : "ListJobRunsRequest",
        "documentation" : "",
        "simpleType" : "ListJobRunsRequest",
        "variableSetterType" : "ListJobRunsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listJobRuns",
      "operationName" : "ListJobRuns",
      "returnType" : {
        "returnType" : "ListJobRunsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListJobRunsResult"
    },
    "ListManagedEndpoints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListManagedEndpointsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListManagedEndpointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListManagedEndpointsRequest, ListManagedEndpointsResult>",
      "asyncReturnType" : "ListManagedEndpointsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists managed endpoints based on a set of parameters. A managed endpoint is a gateway that connects EMR Studio to Amazon EMR on EKS so that EMR Studio can communicate with your virtual cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListManagedEndpointsRequest",
        "variableName" : "listManagedEndpointsRequest",
        "variableType" : "ListManagedEndpointsRequest",
        "documentation" : "",
        "simpleType" : "ListManagedEndpointsRequest",
        "variableSetterType" : "ListManagedEndpointsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listManagedEndpoints",
      "operationName" : "ListManagedEndpoints",
      "returnType" : {
        "returnType" : "ListManagedEndpointsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListManagedEndpointsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags assigned to the resources.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListVirtualClusters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListVirtualClustersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListVirtualClustersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVirtualClustersRequest, ListVirtualClustersResult>",
      "asyncReturnType" : "ListVirtualClustersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists information about the specified virtual cluster. Virtual cluster is a managed entity on Amazon EMR on EKS. You can create, describe, list and delete virtual clusters. They do not consume any additional resource in your system. A single virtual cluster maps to a single Kubernetes namespace. Given this relationship, you can model virtual clusters the same way you model Kubernetes namespaces to meet your requirements.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListVirtualClustersRequest",
        "variableName" : "listVirtualClustersRequest",
        "variableType" : "ListVirtualClustersRequest",
        "documentation" : "",
        "simpleType" : "ListVirtualClustersRequest",
        "variableSetterType" : "ListVirtualClustersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listVirtualClusters",
      "operationName" : "ListVirtualClusters",
      "returnType" : {
        "returnType" : "ListVirtualClustersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListVirtualClustersResult"
    },
    "StartJobRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartJobRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartJobRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartJobRunRequest, StartJobRunResult>",
      "asyncReturnType" : "StartJobRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a job run. A job run is a unit of work, such as a Spark jar, PySpark script, or SparkSQL query, that you submit to Amazon EMR on EKS.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartJobRunRequest",
        "variableName" : "startJobRunRequest",
        "variableType" : "StartJobRunRequest",
        "documentation" : "",
        "simpleType" : "StartJobRunRequest",
        "variableSetterType" : "StartJobRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startJobRun",
      "operationName" : "StartJobRun",
      "returnType" : {
        "returnType" : "StartJobRunResult",
        "documentation" : null
      },
      "syncReturnType" : "StartJobRunResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns tags to resources. A tag is a label that you assign to an AWS resource. Each tag consists of a key and an optional value, both of which you define. Tags enable you to categorize your AWS resources by attributes such as purpose, owner, or environment. When you have many resources of the same type, you can quickly identify a specific resource based on the tags you've assigned to it. For example, you can define a set of tags for your Amazon EMR on EKS clusters to help you track each cluster's owner and stack level. We recommend that you devise a consistent set of tag keys for each resource type. You can then search and filter the resources based on the tags that you add.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from resources.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    }
  },
  "shapes" : {
    "CancelJobRunRequest" : {
      "c2jName" : "CancelJobRunRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.emrcontainers.request.CancelJobRunRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CancelJobRun",
        "locationName" : null,
        "requestUri" : "/virtualclusters/{virtualClusterId}/jobruns/{jobRunId}",
        "target" : null,
        "verb" : "DELETE",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "id",
        "c2jShape" : "ResourceIdString",
        "deprecated" : false,
        "documentation" : "<p>The ID of the job run to cancel.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the job run to cancel.</p>\n@param id The ID of the job run to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p>The ID of the job run to cancel.</p>\n@return The ID of the job run to cancel.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "jobRunId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "jobRunId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the job run to cancel.</p>\n@param id The ID of the job run to cancel.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the job run to cancel.</p>\n@param id The ID of the job run to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p>The ID of the job run to cancel.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "virtualClusterId",
        "c2jShape" : "ResourceIdString",
        "deprecated" : false,
        "documentation" : "<p>The ID of the virtual cluster for which the job run will be canceled.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the virtual cluster for which the job run will be canceled.</p>\n@param virtualClusterId The ID of the virtual cluster for which the job run will be canceled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVirtualClusterId",
        "getterDocumentation" : "/**<p>The ID of the virtual cluster for which the job run will be canceled.</p>\n@return The ID of the virtual cluster for which the job run will be canceled.*/",
        "getterMethodName" : "getVirtualClusterId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "virtualClusterId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "virtualClusterId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "VirtualClusterId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the virtual cluster for which the job run will be canceled.</p>\n@param virtualClusterId The ID of the virtual cluster for which the job run will be canceled.*/",
        "setterMethodName" : "setVirtualClusterId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "virtualClusterId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the virtual cluster for which the job run will be canceled.</p>\n@param virtualClusterId The ID of the virtual cluster for which the job run will be canceled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "virtualClusterId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the virtual cluster for which the job run will be canceled.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Id" : {
          "c2jName" : "id",
          "c2jShape" : "ResourceIdString",
          "deprecated" : false,
          "documentation" : "<p>The ID of the job run to cancel.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the job run to cancel.</p>\n@param id The ID of the job run to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withId",
          "getterDocumentation" : "/**<p>The ID of the job run to cancel.</p>\n@return The ID of the job run to cancel.*/",
          "getterMethodName" : "getId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "jobRunId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "jobRunId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Id",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the job run to cancel.</p>\n@param id The ID of the job run to cancel.*/",
          "setterMethodName" : "setId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the job run to cancel.</p>\n@param id The ID of the job run to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "<p>The ID of the job run to cancel.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "VirtualClusterId" : {
          "c2jName" : "virtualClusterId",
          "c2jShape" : "ResourceIdString",
          "deprecated" : false,
          "documentation" : "<p>The ID of the virtual cluster for which the job run will be canceled.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the virtual cluster for which the job run will be canceled.</p>\n@param virtualClusterId The ID of the virtual cluster for which the job run will be canceled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withVirtualClusterId",
          "getterDocumentation" : "/**<p>The ID of the virtual cluster for which the job run will be canceled.</p>\n@return The ID of the virtual cluster for which the job run will be canceled.*/",
          "getterMethodName" : "getVirtualClusterId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "virtualClusterId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "virtualClusterId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "VirtualClusterId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the virtual cluster for which the job run will be canceled.</p>\n@param virtualClusterId The ID of the virtual cluster for which the job run will be canceled.*/",
          "setterMethodName" : "setVirtualClusterId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "virtualClusterId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the virtual cluster for which the job run will be canceled.</p>\n@param virtualClusterId The ID of the virtual cluster for which the job run will be canceled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "virtualClusterId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the virtual cluster for which the job run will be canceled.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.emrcontainers.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "id", "virtualClusterId" ],
      "shapeName" : "CancelJobRunRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelJobRunRequest",
        "variableName" : "cancelJobRunRequest",
        "variableType" : "CancelJobRunRequest",
        "documentation" : null,
        "simpleType" : "CancelJobRunRequest",
        "variableSetterType" : "CancelJobRunRequest"
      },
      "wrapper" : false
    },
    "CancelJobRunResult" : {
      "c2jName" : "CancelJobRunResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.emrcontainers.response.CancelJobRunResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "id",
        "c2jShape" : "ResourceIdString",
        "deprecated" : false,
        "documentation" : "<p>The output contains the ID of the cancelled job run.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The output contains the ID of the cancelled job run.</p>\n@param id The output contains the ID of the cancelled job run.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p>The output contains the ID of the cancelled job run.</p>\n@return The output contains the ID of the cancelled job run.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The output contains the ID of the cancelled job run.</p>\n@param id The output contains the ID of the cancelled job run.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The output contains the ID of the cancelled job run.</p>\n@param id The output contains the ID of the cancelled job run.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p>The output contains the ID of the cancelled job run.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "virtualClusterId",
        "c2jShape" : "ResourceIdString",
        "deprecated" : false,
        "documentation" : "<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>\n@param virtualClusterId The output contains the virtual cluster ID for which the job run is cancelled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVirtualClusterId",
        "getterDocumentation" : "/**<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>\n@return The output contains the virtual cluster ID for which the job run is cancelled.*/",
        "getterMethodName" : "getVirtualClusterId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "virtualClusterId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "virtualClusterId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "VirtualClusterId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>\n@param virtualClusterId The output contains the virtual cluster ID for which the job run is cancelled.*/",
        "setterMethodName" : "setVirtualClusterId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "virtualClusterId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>\n@param virtualClusterId The output contains the virtual cluster ID for which the job run is cancelled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "virtualClusterId",
          "variableType" : "String",
          "documentation" : "<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Id" : {
          "c2jName" : "id",
          "c2jShape" : "ResourceIdString",
          "deprecated" : false,
          "documentation" : "<p>The output contains the ID of the cancelled job run.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The output contains the ID of the cancelled job run.</p>\n@param id The output contains the ID of the cancelled job run.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withId",
          "getterDocumentation" : "/**<p>The output contains the ID of the cancelled job run.</p>\n@return The output contains the ID of the cancelled job run.*/",
          "getterMethodName" : "getId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "id",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "id",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Id",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The output contains the ID of the cancelled job run.</p>\n@param id The output contains the ID of the cancelled job run.*/",
          "setterMethodName" : "setId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The output contains the ID of the cancelled job run.</p>\n@param id The output contains the ID of the cancelled job run.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "<p>The output contains the ID of the cancelled job run.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "VirtualClusterId" : {
          "c2jName" : "virtualClusterId",
          "c2jShape" : "ResourceIdString",
          "deprecated" : false,
          "documentation" : "<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>\n@param virtualClusterId The output contains the virtual cluster ID for which the job run is cancelled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withVirtualClusterId",
          "getterDocumentation" : "/**<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>\n@return The output contains the virtual cluster ID for which the job run is cancelled.*/",
          "getterMethodName" : "getVirtualClusterId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "virtualClusterId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "virtualClusterId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "VirtualClusterId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>\n@param virtualClusterId The output contains the virtual cluster ID for which the job run is cancelled.*/",
          "setterMethodName" : "setVirtualClusterId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "virtualClusterId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>\n@param virtualClusterId The output contains the virtual cluster ID for which the job run is cancelled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "virtualClusterId",
            "variableType" : "String",
            "documentation" : "<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.emrcontainers.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CancelJobRunResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelJobRunResult",
        "variableName" : "cancelJobRunResult",
        "variableType" : "CancelJobRunResult",
        "documentation" : null,
        "simpleType" : "CancelJobRunResult",
        "variableSetterType" : "CancelJobRunResult"
      },
      "wrapper" : false
    },
    "CloudWatchMonitoringConfiguration" : {
      "c2jName" : "CloudWatchMonitoringConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A configuration for CloudWatch monitoring. You can configure your jobs to send log information to CloudWatch Logs.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.emrcontainers.model.CloudWatchMonitoringConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "logGroupName",
        "c2jShape" : "LogGroupName",
        "deprecated" : false,
        "documentation" : "<p>The name of the log group for log publishing.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the log group for log publishing.</p>\n@param logGroupName The name of the log group for log publishing.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLogGroupName",
        "getterDocumentation" : "/**<p>The name of the log group for log publishing.</p>\n@return The name of the log group for log publishing.*/",
        "getterMethodName" : "getLogGroupName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "logGroupName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "logGroupName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LogGroupName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the log group for log publishing.</p>\n@param logGroupName The name of the log group for log publishing.*/",
        "setterMethodName" : "setLogGroupName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "logGroupName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the log group for log publishing.</p>\n@param logGroupName The name of the log group for log publishing.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "logGroupName",
          "variableType" : "String",
          "documentation" : "<p>The name of the log group for log publishing.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "logStreamNamePrefix",
        "c2jShape" : "String256",
        "deprecated" : false,
        "documentation" : "<p>The specified name prefix for log streams.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The specified name prefix for log streams.</p>\n@param logStreamNamePrefix The specified name prefix for log streams.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLogStreamNamePrefix",
        "getterDocumentation" : "/**<p>The specified name prefix for log streams.</p>\n@return The specified name prefix for log streams.*/",
        "getterMethodName" : "getLogStreamNamePrefix",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "logStreamNamePrefix",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "logStreamNamePrefix",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LogStreamNamePrefix",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The specified name prefix for log streams.</p>\n@param logStreamNamePrefix The specified name prefix for log streams.*/",
        "setterMethodName" : "setLogStreamNamePrefix",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "logStreamNamePrefix",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The specified name prefix for log streams.</p>\n@param logStreamNamePrefix The specified name prefix for log streams.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "logStreamNamePrefix",
          "variableType" : "String",
          "documentation" : "<p>The specified name prefix for log streams.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "LogGroupName" : {
          "c2jName" : "logGroupName",
          "c2jShape" : "LogGroupName",
          "deprecated" : false,
          "documentation" : "<p>The name of the log group for log publishing.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the log group for log publishing.</p>\n@param logGroupName The name of the log group for log publishing.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLogGroupName",
          "getterDocumentation" : "/**<p>The name of the log group for log publishing.</p>\n@return The name of the log group for log publishing.*/",
          "getterMethodName" : "getLogGroupName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "logGroupName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "logGroupName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "LogGroupName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the log group for log publishing.</p>\n@param logGroupName The name of the log group for log publishing.*/",
          "setterMethodName" : "setLogGroupName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "logGroupName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the log group for log publishing.</p>\n@param logGroupName The name of the log group for log publishing.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "logGroupName",
            "variableType" : "String",
            "documentation" : "<p>The name of the log group for log publishing.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "LogStreamNamePrefix" : {
          "c2jName" : "logStreamNamePrefix",
          "c2jShape" : "String256",
          "deprecated" : false,
          "documentation" : "<p>The specified name prefix for log streams.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The specified name prefix for log streams.</p>\n@param logStreamNamePrefix The specified name prefix for log streams.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLogStreamNamePrefix",
          "getterDocumentation" : "/**<p>The specified name prefix for log streams.</p>\n@return The specified name prefix for log streams.*/",
          "getterMethodName" : "getLogStreamNamePrefix",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "logStreamNamePrefix",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "logStreamNamePrefix",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "LogStreamNamePrefix",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The specified name prefix for log streams.</p>\n@param logStreamNamePrefix The specified name prefix for log streams.*/",
          "setterMethodName" : "setLogStreamNamePrefix",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "logStreamNamePrefix",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The specified name prefix for log streams.</p>\n@param logStreamNamePrefix The specified name prefix for log streams.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "logStreamNamePrefix",
            "variableType" : "String",
            "documentation" : "<p>The specified name prefix for log streams.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.emrcontainers.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "logGroupName" ],
      "shapeName" : "CloudWatchMonitoringConfiguration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CloudWatchMonitoringConfiguration",
        "variableName" : "cloudWatchMonitoringConfiguration",
        "variableType" : "CloudWatchMonitoringConfiguration",
        "documentation" : null,
        "simpleType" : "CloudWatchMonitoringConfiguration",
        "variableSetterType" : "CloudWatchMonitoringConfiguration"
      },
      "wrapper" : false
    },
    "Configuration" : {
      "c2jName" : "Configuration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A configuration specification to be used when provisioning virtual clusters, which can include configurations for applications and software bundled with Amazon EMR on EKS. A configuration consists of a classification, properties, and optional nested configurations. A classification refers to an application-specific configuration file. Properties are the settings you want to change in that file.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.emrcontainers.model.Configuration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "classification",
        "c2jShape" : "String1024",
        "deprecated" : false,
        "documentation" : "<p>The classification within a configuration.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The classification within a configuration.</p>\n@param classification The classification within a configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClassification",
        "getterDocumentation" : "/**<p>The classification within a configuration.</p>\n@return The classification within a configuration.*/",
        "getterMethodName" : "getClassification",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "classification",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "classification",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Classification",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The classification within a configuration.</p>\n@param classification The classification within a configuration.*/",
        "setterMethodName" : "setClassification",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "classification",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The classification within a configuration.</p>\n@param classification The classification within a configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "classification",
          "variableType" : "String",
          "documentation" : "<p>The classification within a configuration.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "properties",
        "c2jShape" : "SensitivePropertiesMap",
        "deprecated" : false,
        "documentation" : "<p>A set of properties specified within a configuration classification.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A set of properties specified within a configuration classification.</p>\n@param properties A set of properties specified within a configuration classification.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProperties",
        "getterDocumentation" : "/**<p>A set of properties specified within a configuration classification.</p>\n@return A set of properties specified within a configuration classification.*/",
        "getterMethodName" : "getProperties",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "properties",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "properties",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "String1024",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Properties",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>A set of properties specified within a configuration classification.</p>\n@param properties A set of properties specified within a configuration classification.*/",
        "setterMethodName" : "setProperties",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "properties",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A set of properties specified within a configuration classification.</p>\n@param properties A set of properties specified within a configuration classification.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "properties",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>A set of properties specified within a configuration classification.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "configurations",
        "c2jShape" : "ConfigurationList",
        "deprecated" : false,
        "documentation" : "<p>A list of additional configurations to apply within a configuration object.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of additional configurations to apply within a configuration object.</p>\n@param configurations A list of additional configurations to apply within a configuration object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withConfigurations",
        "getterDocumentation" : "/**<p>A list of additional configurations to apply within a configuration object.</p>\n@return A list of additional configurations to apply within a configuration object.*/",
        "getterMethodName" : "getConfigurations",
        "getterModel" : {
          "returnType" : "java.util.List<Configuration>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "configurations",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "configurations",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Configuration",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Configuration",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Configuration",
              "variableName" : "member",
              "variableType" : "Configuration",
              "documentation" : "",
              "simpleType" : "Configuration",
              "variableSetterType" : "Configuration"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Configuration",
              "variableName" : "member",
              "variableType" : "Configuration",
              "documentation" : "",
              "simpleType" : "Configuration",
              "variableSetterType" : "Configuration"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Configuration",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Configuration",
          "templateImplType" : "java.util.ArrayList<Configuration>",
          "templateType" : "java.util.List<Configuration>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Configurations",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of additional configurations to apply within a configuration object.</p>\n@param configurations A list of additional configurations to apply within a configuration object.*/",
        "setterMethodName" : "setConfigurations",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Configuration>",
          "variableName" : "configurations",
          "variableType" : "java.util.List<Configuration>",
          "documentation" : "",
          "simpleType" : "List<Configuration>",
          "variableSetterType" : "java.util.Collection<Configuration>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of additional configurations to apply within a configuration object.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setConfigurations(java.util.Collection)} or {@link #withConfigurations(java.util.Collection)} if you want to override the existing values.</p>\n@param configurations A list of additional configurations to apply within a configuration object.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Configuration>",
          "variableName" : "configurations",
          "variableType" : "java.util.List<Configuration>",
          "documentation" : "<p>A list of additional configurations to apply within a configuration object.</p>",
          "simpleType" : "List<Configuration>",
          "variableSetterType" : "java.util.Collection<Configuration>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Classification" : {
          "c2jName" : "classification",
          "c2jShape" : "String1024",
          "deprecated" : false,
          "documentation" : "<p>The classification within a configuration.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The classification within a configuration.</p>\n@param classification The classification within a configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClassification",
          "getterDocumentation" : "/**<p>The classification within a configuration.</p>\n@return The classification within a configuration.*/",
          "getterMethodName" : "getClassification",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "classification",
[...]
