{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-10-01",
    "asyncClient" : "AmazonEMRContainersAsyncClient",
    "asyncClientBuilderClassName" : "AmazonEMRContainersAsyncClientBuilder",
    "asyncInterface" : "AmazonEMRContainersAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonEMRContainersModuleInjector",
    "defaultEndpoint" : "emr-containers.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "emr-containers.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon EMR on EKS provides a deployment option for Amazon EMR that allows you to run open-source big data frameworks on Amazon Elastic Kubernetes Service (Amazon EKS). With this deployment option, you can focus on running analytics workloads while Amazon EMR on EKS builds, configures, and manages containers for open-source applications. For more information about Amazon EMR on EKS concepts and tasks, see <a href=\"https://docs.aws.amazon.com/emr/latest/EMR-on-EKS-DevelopmentGuide/emr-eks.html\">What is Amazon EMR on EKS</a>.</p> <p> <i>Amazon EMR containers</i> is the API name for Amazon EMR on EKS. The <code>emr-containers</code> prefix is used in the following scenarios: </p> <ul> <li> <p>It is the prefix in the CLI commands for Amazon EMR on EKS. For example, <code>aws emr-containers start-job-run</code>.</p> </li> <li> <p>It is the prefix before IAM policy actions for Amazon EMR on EKS. For example, <code>\"Action\": [ \"emr-containers:StartJobRun\"]</code>. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/EMR-on-EKS-DevelopmentGuide/security_iam_service-with-iam.html#security_iam_service-with-iam-id-based-policies-actions\">Policy actions for Amazon EMR on EKS</a>.</p> </li> <li> <p>It is the prefix used in Amazon EMR on EKS service endpoints. For example, <code>emr-containers.us-east-2.amazonaws.com</code>. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/EMR-on-EKS-DevelopmentGuide/service-quotas.html#service-endpoints\">Amazon EMR on EKSService Endpoints</a>.</p> </li> </ul>",
    "endpointPrefix" : "emr-containers",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.emrcontainers",
    "packagePath" : "com/amazonaws/services/emrcontainers",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon EMR Containers",
    "serviceId" : "EMR containers",
    "serviceName" : "Amazon EMR Containers",
    "signingName" : "emr-containers",
    "smokeTestsPackageName" : "com.amazonaws.services.emrcontainers.smoketests",
    "syncClient" : "AmazonEMRContainersClient",
    "syncClientBuilderClassName" : "AmazonEMRContainersClientBuilder",
    "syncInterface" : "AmazonEMRContainers",
    "uid" : "emr-containers-2020-10-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelJobRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelJobRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelJobRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelJobRunRequest, CancelJobRunResult>",
      "asyncReturnType" : "CancelJobRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels a job run. A job run is a unit of work, such as a Spark jar, PySpark script, or SparkSQL query, that you submit to Amazon EMR on EKS.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelJobRunRequest",
        "variableName" : "cancelJobRunRequest",
        "variableType" : "CancelJobRunRequest",
        "documentation" : "",
        "simpleType" : "CancelJobRunRequest",
        "variableSetterType" : "CancelJobRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelJobRun",
      "operationName" : "CancelJobRun",
      "returnType" : {
        "returnType" : "CancelJobRunResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelJobRunResult"
    },
    "CreateJobTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateJobTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateJobTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateJobTemplateRequest, CreateJobTemplateResult>",
      "asyncReturnType" : "CreateJobTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a job template. Job template stores values of StartJobRun API request in a template and can be used to start a job run. Job template allows two use cases: avoid repeating recurring StartJobRun API request values, enforcing certain values in StartJobRun API request.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateJobTemplateRequest",
        "variableName" : "createJobTemplateRequest",
        "variableType" : "CreateJobTemplateRequest",
        "documentation" : "",
        "simpleType" : "CreateJobTemplateRequest",
        "variableSetterType" : "CreateJobTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createJobTemplate",
      "operationName" : "CreateJobTemplate",
      "returnType" : {
        "returnType" : "CreateJobTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateJobTemplateResult"
    },
    "CreateManagedEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateManagedEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateManagedEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateManagedEndpointRequest, CreateManagedEndpointResult>",
      "asyncReturnType" : "CreateManagedEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a managed endpoint. A managed endpoint is a gateway that connects Amazon EMR Studio to Amazon EMR on EKS so that Amazon EMR Studio can communicate with your virtual cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateManagedEndpointRequest",
        "variableName" : "createManagedEndpointRequest",
        "variableType" : "CreateManagedEndpointRequest",
        "documentation" : "",
        "simpleType" : "CreateManagedEndpointRequest",
        "variableSetterType" : "CreateManagedEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createManagedEndpoint",
      "operationName" : "CreateManagedEndpoint",
      "returnType" : {
        "returnType" : "CreateManagedEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateManagedEndpointResult"
    },
    "CreateSecurityConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSecurityConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSecurityConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSecurityConfigurationRequest, CreateSecurityConfigurationResult>",
      "asyncReturnType" : "CreateSecurityConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a security configuration. Security configurations in Amazon EMR on EKS are templates for different security setups. You can use security configurations to configure the Lake Formation integration setup. You can also create a security configuration to re-use a security setup each time you create a virtual cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSecurityConfigurationRequest",
        "variableName" : "createSecurityConfigurationRequest",
        "variableType" : "CreateSecurityConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateSecurityConfigurationRequest",
        "variableSetterType" : "CreateSecurityConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSecurityConfiguration",
      "operationName" : "CreateSecurityConfiguration",
      "returnType" : {
        "returnType" : "CreateSecurityConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSecurityConfigurationResult"
    },
    "CreateVirtualCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVirtualClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVirtualClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVirtualClusterRequest, CreateVirtualClusterResult>",
      "asyncReturnType" : "CreateVirtualClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a virtual cluster. Virtual cluster is a managed entity on Amazon EMR on EKS. You can create, describe, list and delete virtual clusters. They do not consume any additional resource in your system. A single virtual cluster maps to a single Kubernetes namespace. Given this relationship, you can model virtual clusters the same way you model Kubernetes namespaces to meet your requirements.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "EKSRequestThrottledException",
        "documentation" : "<p>The request exceeded the Amazon EKS API operation limits.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVirtualClusterRequest",
        "variableName" : "createVirtualClusterRequest",
        "variableType" : "CreateVirtualClusterRequest",
        "documentation" : "",
        "simpleType" : "CreateVirtualClusterRequest",
        "variableSetterType" : "CreateVirtualClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVirtualCluster",
      "operationName" : "CreateVirtualCluster",
      "returnType" : {
        "returnType" : "CreateVirtualClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateVirtualClusterResult"
    },
    "DeleteJobTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteJobTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteJobTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteJobTemplateRequest, DeleteJobTemplateResult>",
      "asyncReturnType" : "DeleteJobTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a job template. Job template stores values of StartJobRun API request in a template and can be used to start a job run. Job template allows two use cases: avoid repeating recurring StartJobRun API request values, enforcing certain values in StartJobRun API request.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteJobTemplateRequest",
        "variableName" : "deleteJobTemplateRequest",
        "variableType" : "DeleteJobTemplateRequest",
        "documentation" : "",
        "simpleType" : "DeleteJobTemplateRequest",
        "variableSetterType" : "DeleteJobTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteJobTemplate",
      "operationName" : "DeleteJobTemplate",
      "returnType" : {
        "returnType" : "DeleteJobTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteJobTemplateResult"
    },
    "DeleteManagedEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteManagedEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteManagedEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteManagedEndpointRequest, DeleteManagedEndpointResult>",
      "asyncReturnType" : "DeleteManagedEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a managed endpoint. A managed endpoint is a gateway that connects Amazon EMR Studio to Amazon EMR on EKS so that Amazon EMR Studio can communicate with your virtual cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteManagedEndpointRequest",
        "variableName" : "deleteManagedEndpointRequest",
        "variableType" : "DeleteManagedEndpointRequest",
        "documentation" : "",
        "simpleType" : "DeleteManagedEndpointRequest",
        "variableSetterType" : "DeleteManagedEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteManagedEndpoint",
      "operationName" : "DeleteManagedEndpoint",
      "returnType" : {
        "returnType" : "DeleteManagedEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteManagedEndpointResult"
    },
    "DeleteVirtualCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVirtualClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVirtualClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVirtualClusterRequest, DeleteVirtualClusterResult>",
      "asyncReturnType" : "DeleteVirtualClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a virtual cluster. Virtual cluster is a managed entity on Amazon EMR on EKS. You can create, describe, list and delete virtual clusters. They do not consume any additional resource in your system. A single virtual cluster maps to a single Kubernetes namespace. Given this relationship, you can model virtual clusters the same way you model Kubernetes namespaces to meet your requirements.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVirtualClusterRequest",
        "variableName" : "deleteVirtualClusterRequest",
        "variableType" : "DeleteVirtualClusterRequest",
        "documentation" : "",
        "simpleType" : "DeleteVirtualClusterRequest",
        "variableSetterType" : "DeleteVirtualClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVirtualCluster",
      "operationName" : "DeleteVirtualCluster",
      "returnType" : {
        "returnType" : "DeleteVirtualClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVirtualClusterResult"
    },
    "DescribeJobRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJobRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJobRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJobRunRequest, DescribeJobRunResult>",
      "asyncReturnType" : "DescribeJobRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays detailed information about a job run. A job run is a unit of work, such as a Spark jar, PySpark script, or SparkSQL query, that you submit to Amazon EMR on EKS.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeJobRunRequest",
        "variableName" : "describeJobRunRequest",
        "variableType" : "DescribeJobRunRequest",
        "documentation" : "",
        "simpleType" : "DescribeJobRunRequest",
        "variableSetterType" : "DescribeJobRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeJobRun",
      "operationName" : "DescribeJobRun",
      "returnType" : {
        "returnType" : "DescribeJobRunResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeJobRunResult"
    },
    "DescribeJobTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeJobTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeJobTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeJobTemplateRequest, DescribeJobTemplateResult>",
      "asyncReturnType" : "DescribeJobTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays detailed information about a specified job template. Job template stores values of StartJobRun API request in a template and can be used to start a job run. Job template allows two use cases: avoid repeating recurring StartJobRun API request values, enforcing certain values in StartJobRun API request.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeJobTemplateRequest",
        "variableName" : "describeJobTemplateRequest",
        "variableType" : "DescribeJobTemplateRequest",
        "documentation" : "",
        "simpleType" : "DescribeJobTemplateRequest",
        "variableSetterType" : "DescribeJobTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeJobTemplate",
      "operationName" : "DescribeJobTemplate",
      "returnType" : {
        "returnType" : "DescribeJobTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeJobTemplateResult"
    },
    "DescribeManagedEndpoint" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeManagedEndpointResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeManagedEndpointResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeManagedEndpointRequest, DescribeManagedEndpointResult>",
      "asyncReturnType" : "DescribeManagedEndpointResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays detailed information about a managed endpoint. A managed endpoint is a gateway that connects Amazon EMR Studio to Amazon EMR on EKS so that Amazon EMR Studio can communicate with your virtual cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeManagedEndpointRequest",
        "variableName" : "describeManagedEndpointRequest",
        "variableType" : "DescribeManagedEndpointRequest",
        "documentation" : "",
        "simpleType" : "DescribeManagedEndpointRequest",
        "variableSetterType" : "DescribeManagedEndpointRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeManagedEndpoint",
      "operationName" : "DescribeManagedEndpoint",
      "returnType" : {
        "returnType" : "DescribeManagedEndpointResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeManagedEndpointResult"
    },
    "DescribeSecurityConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeSecurityConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeSecurityConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeSecurityConfigurationRequest, DescribeSecurityConfigurationResult>",
      "asyncReturnType" : "DescribeSecurityConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays detailed information about a specified security configuration. Security configurations in Amazon EMR on EKS are templates for different security setups. You can use security configurations to configure the Lake Formation integration setup. You can also create a security configuration to re-use a security setup each time you create a virtual cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeSecurityConfigurationRequest",
        "variableName" : "describeSecurityConfigurationRequest",
        "variableType" : "DescribeSecurityConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeSecurityConfigurationRequest",
        "variableSetterType" : "DescribeSecurityConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeSecurityConfiguration",
      "operationName" : "DescribeSecurityConfiguration",
      "returnType" : {
        "returnType" : "DescribeSecurityConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeSecurityConfigurationResult"
    },
    "DescribeVirtualCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeVirtualClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeVirtualClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeVirtualClusterRequest, DescribeVirtualClusterResult>",
      "asyncReturnType" : "DescribeVirtualClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays detailed information about a specified virtual cluster. Virtual cluster is a managed entity on Amazon EMR on EKS. You can create, describe, list and delete virtual clusters. They do not consume any additional resource in your system. A single virtual cluster maps to a single Kubernetes namespace. Given this relationship, you can model virtual clusters the same way you model Kubernetes namespaces to meet your requirements.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeVirtualClusterRequest",
        "variableName" : "describeVirtualClusterRequest",
        "variableType" : "DescribeVirtualClusterRequest",
        "documentation" : "",
        "simpleType" : "DescribeVirtualClusterRequest",
        "variableSetterType" : "DescribeVirtualClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeVirtualCluster",
      "operationName" : "DescribeVirtualCluster",
      "returnType" : {
        "returnType" : "DescribeVirtualClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeVirtualClusterResult"
    },
    "GetManagedEndpointSessionCredentials" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetManagedEndpointSessionCredentialsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetManagedEndpointSessionCredentialsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetManagedEndpointSessionCredentialsRequest, GetManagedEndpointSessionCredentialsResult>",
      "asyncReturnType" : "GetManagedEndpointSessionCredentialsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generate a session token to connect to a managed endpoint. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RequestThrottledException",
        "documentation" : "<p>The request throttled.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetManagedEndpointSessionCredentialsRequest",
        "variableName" : "getManagedEndpointSessionCredentialsRequest",
        "variableType" : "GetManagedEndpointSessionCredentialsRequest",
        "documentation" : "",
        "simpleType" : "GetManagedEndpointSessionCredentialsRequest",
        "variableSetterType" : "GetManagedEndpointSessionCredentialsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getManagedEndpointSessionCredentials",
      "operationName" : "GetManagedEndpointSessionCredentials",
      "returnType" : {
        "returnType" : "GetManagedEndpointSessionCredentialsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetManagedEndpointSessionCredentialsResult"
    },
    "ListJobRuns" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobRunsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobRunsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobRunsRequest, ListJobRunsResult>",
      "asyncReturnType" : "ListJobRunsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists job runs based on a set of parameters. A job run is a unit of work, such as a Spark jar, PySpark script, or SparkSQL query, that you submit to Amazon EMR on EKS.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListJobRunsRequest",
        "variableName" : "listJobRunsRequest",
        "variableType" : "ListJobRunsRequest",
        "documentation" : "",
        "simpleType" : "ListJobRunsRequest",
        "variableSetterType" : "ListJobRunsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listJobRuns",
      "operationName" : "ListJobRuns",
      "returnType" : {
        "returnType" : "ListJobRunsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListJobRunsResult"
    },
    "ListJobTemplates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListJobTemplatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListJobTemplatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListJobTemplatesRequest, ListJobTemplatesResult>",
      "asyncReturnType" : "ListJobTemplatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists job templates based on a set of parameters. Job template stores values of StartJobRun API request in a template and can be used to start a job run. Job template allows two use cases: avoid repeating recurring StartJobRun API request values, enforcing certain values in StartJobRun API request.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListJobTemplatesRequest",
        "variableName" : "listJobTemplatesRequest",
        "variableType" : "ListJobTemplatesRequest",
        "documentation" : "",
        "simpleType" : "ListJobTemplatesRequest",
        "variableSetterType" : "ListJobTemplatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listJobTemplates",
      "operationName" : "ListJobTemplates",
      "returnType" : {
        "returnType" : "ListJobTemplatesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListJobTemplatesResult"
    },
    "ListManagedEndpoints" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListManagedEndpointsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListManagedEndpointsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListManagedEndpointsRequest, ListManagedEndpointsResult>",
      "asyncReturnType" : "ListManagedEndpointsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists managed endpoints based on a set of parameters. A managed endpoint is a gateway that connects Amazon EMR Studio to Amazon EMR on EKS so that Amazon EMR Studio can communicate with your virtual cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListManagedEndpointsRequest",
        "variableName" : "listManagedEndpointsRequest",
        "variableType" : "ListManagedEndpointsRequest",
        "documentation" : "",
        "simpleType" : "ListManagedEndpointsRequest",
        "variableSetterType" : "ListManagedEndpointsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listManagedEndpoints",
      "operationName" : "ListManagedEndpoints",
      "returnType" : {
        "returnType" : "ListManagedEndpointsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListManagedEndpointsResult"
    },
    "ListSecurityConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSecurityConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSecurityConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSecurityConfigurationsRequest, ListSecurityConfigurationsResult>",
      "asyncReturnType" : "ListSecurityConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists security configurations based on a set of parameters. Security configurations in Amazon EMR on EKS are templates for different security setups. You can use security configurations to configure the Lake Formation integration setup. You can also create a security configuration to re-use a security setup each time you create a virtual cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSecurityConfigurationsRequest",
        "variableName" : "listSecurityConfigurationsRequest",
        "variableType" : "ListSecurityConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListSecurityConfigurationsRequest",
        "variableSetterType" : "ListSecurityConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSecurityConfigurations",
      "operationName" : "ListSecurityConfigurations",
      "returnType" : {
        "returnType" : "ListSecurityConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSecurityConfigurationsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags assigned to the resources.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListVirtualClusters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListVirtualClustersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListVirtualClustersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVirtualClustersRequest, ListVirtualClustersResult>",
      "asyncReturnType" : "ListVirtualClustersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists information about the specified virtual cluster. Virtual cluster is a managed entity on Amazon EMR on EKS. You can create, describe, list and delete virtual clusters. They do not consume any additional resource in your system. A single virtual cluster maps to a single Kubernetes namespace. Given this relationship, you can model virtual clusters the same way you model Kubernetes namespaces to meet your requirements.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListVirtualClustersRequest",
        "variableName" : "listVirtualClustersRequest",
        "variableType" : "ListVirtualClustersRequest",
        "documentation" : "",
        "simpleType" : "ListVirtualClustersRequest",
        "variableSetterType" : "ListVirtualClustersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listVirtualClusters",
      "operationName" : "ListVirtualClusters",
      "returnType" : {
        "returnType" : "ListVirtualClustersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListVirtualClustersResult"
    },
    "StartJobRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartJobRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartJobRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartJobRunRequest, StartJobRunResult>",
      "asyncReturnType" : "StartJobRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts a job run. A job run is a unit of work, such as a Spark jar, PySpark script, or SparkSQL query, that you submit to Amazon EMR on EKS.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartJobRunRequest",
        "variableName" : "startJobRunRequest",
        "variableType" : "StartJobRunRequest",
        "documentation" : "",
        "simpleType" : "StartJobRunRequest",
        "variableSetterType" : "StartJobRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startJobRun",
      "operationName" : "StartJobRun",
      "returnType" : {
        "returnType" : "StartJobRunResult",
        "documentation" : null
      },
      "syncReturnType" : "StartJobRunResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns tags to resources. A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key and an optional value, both of which you define. Tags enable you to categorize your Amazon Web Services resources by attributes such as purpose, owner, or environment. When you have many resources of the same type, you can quickly identify a specific resource based on the tags you've assigned to it. For example, you can define a set of tags for your Amazon EMR on EKS clusters to help you track each cluster's owner and stack level. We recommend that you devise a consistent set of tag keys for each resource type. You can then search and filter the resources based on the tags that you add.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from resources.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This is an internal server exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>There are invalid parameters in the client request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    }
  },
  "shapes" : {
    "AuthorizationConfiguration" : {
      "c2jName" : "AuthorizationConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Authorization-related configuration inputs for the security configuration.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.emrcontainers.model.AuthorizationConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "lakeFormationConfiguration",
        "c2jShape" : "LakeFormationConfiguration",
        "deprecated" : false,
        "documentation" : "<p>Lake Formation related configuration inputs for the security configuration.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Lake Formation related configuration inputs for the security configuration.</p>\n@param lakeFormationConfiguration Lake Formation related configuration inputs for the security configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLakeFormationConfiguration",
        "getterDocumentation" : "/**<p>Lake Formation related configuration inputs for the security configuration.</p>\n@return Lake Formation related configuration inputs for the security configuration.*/",
        "getterMethodName" : "getLakeFormationConfiguration",
        "getterModel" : {
          "returnType" : "LakeFormationConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "lakeFormationConfiguration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "lakeFormationConfiguration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "LakeFormationConfiguration",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Lake Formation related configuration inputs for the security configuration.</p>\n@param lakeFormationConfiguration Lake Formation related configuration inputs for the security configuration.*/",
        "setterMethodName" : "setLakeFormationConfiguration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "LakeFormationConfiguration",
          "variableName" : "lakeFormationConfiguration",
          "variableType" : "LakeFormationConfiguration",
          "documentation" : "",
          "simpleType" : "LakeFormationConfiguration",
          "variableSetterType" : "LakeFormationConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Lake Formation related configuration inputs for the security configuration.</p>\n@param lakeFormationConfiguration Lake Formation related configuration inputs for the security configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "LakeFormationConfiguration",
          "variableName" : "lakeFormationConfiguration",
          "variableType" : "LakeFormationConfiguration",
          "documentation" : "<p>Lake Formation related configuration inputs for the security configuration.</p>",
          "simpleType" : "LakeFormationConfiguration",
          "variableSetterType" : "LakeFormationConfiguration"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "encryptionConfiguration",
        "c2jShape" : "EncryptionConfiguration",
        "deprecated" : false,
        "documentation" : "<p>Encryption-related configuration input for the security configuration.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Encryption-related configuration input for the security configuration.</p>\n@param encryptionConfiguration Encryption-related configuration input for the security configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEncryptionConfiguration",
        "getterDocumentation" : "/**<p>Encryption-related configuration input for the security configuration.</p>\n@return Encryption-related configuration input for the security configuration.*/",
        "getterMethodName" : "getEncryptionConfiguration",
        "getterModel" : {
          "returnType" : "EncryptionConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "encryptionConfiguration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "encryptionConfiguration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "EncryptionConfiguration",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Encryption-related configuration input for the security configuration.</p>\n@param encryptionConfiguration Encryption-related configuration input for the security configuration.*/",
        "setterMethodName" : "setEncryptionConfiguration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "EncryptionConfiguration",
          "variableName" : "encryptionConfiguration",
          "variableType" : "EncryptionConfiguration",
          "documentation" : "",
          "simpleType" : "EncryptionConfiguration",
          "variableSetterType" : "EncryptionConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Encryption-related configuration input for the security configuration.</p>\n@param encryptionConfiguration Encryption-related configuration input for the security configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "EncryptionConfiguration",
          "variableName" : "encryptionConfiguration",
          "variableType" : "EncryptionConfiguration",
          "documentation" : "<p>Encryption-related configuration input for the security configuration.</p>",
          "simpleType" : "EncryptionConfiguration",
          "variableSetterType" : "EncryptionConfiguration"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "EncryptionConfiguration" : {
          "c2jName" : "encryptionConfiguration",
          "c2jShape" : "EncryptionConfiguration",
          "deprecated" : false,
          "documentation" : "<p>Encryption-related configuration input for the security configuration.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Encryption-related configuration input for the security configuration.</p>\n@param encryptionConfiguration Encryption-related configuration input for the security configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEncryptionConfiguration",
          "getterDocumentation" : "/**<p>Encryption-related configuration input for the security configuration.</p>\n@return Encryption-related configuration input for the security configuration.*/",
          "getterMethodName" : "getEncryptionConfiguration",
          "getterModel" : {
            "returnType" : "EncryptionConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "encryptionConfiguration",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "encryptionConfiguration",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "EncryptionConfiguration",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Encryption-related configuration input for the security configuration.</p>\n@param encryptionConfiguration Encryption-related configuration input for the security configuration.*/",
          "setterMethodName" : "setEncryptionConfiguration",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "EncryptionConfiguration",
            "variableName" : "encryptionConfiguration",
            "variableType" : "EncryptionConfiguration",
            "documentation" : "",
            "simpleType" : "EncryptionConfiguration",
            "variableSetterType" : "EncryptionConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Encryption-related configuration input for the security configuration.</p>\n@param encryptionConfiguration Encryption-related configuration input for the security configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "EncryptionConfiguration",
            "variableName" : "encryptionConfiguration",
            "variableType" : "EncryptionConfiguration",
            "documentation" : "<p>Encryption-related configuration input for the security configuration.</p>",
            "simpleType" : "EncryptionConfiguration",
            "variableSetterType" : "EncryptionConfiguration"
          },
          "xmlNameSpaceUri" : null
        },
        "LakeFormationConfiguration" : {
          "c2jName" : "lakeFormationConfiguration",
          "c2jShape" : "LakeFormationConfiguration",
          "deprecated" : false,
          "documentation" : "<p>Lake Formation related configuration inputs for the security configuration.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Lake Formation related configuration inputs for the security configuration.</p>\n@param lakeFormationConfiguration Lake Formation related configuration inputs for the security configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLakeFormationConfiguration",
          "getterDocumentation" : "/**<p>Lake Formation related configuration inputs for the security configuration.</p>\n@return Lake Formation related configuration inputs for the security configuration.*/",
          "getterMethodName" : "getLakeFormationConfiguration",
          "getterModel" : {
            "returnType" : "LakeFormationConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "lakeFormationConfiguration",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "lakeFormationConfiguration",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "LakeFormationConfiguration",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Lake Formation related configuration inputs for the security configuration.</p>\n@param lakeFormationConfiguration Lake Formation related configuration inputs for the security configuration.*/",
          "setterMethodName" : "setLakeFormationConfiguration",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "LakeFormationConfiguration",
            "variableName" : "lakeFormationConfiguration",
            "variableType" : "LakeFormationConfiguration",
            "documentation" : "",
            "simpleType" : "LakeFormationConfiguration",
            "variableSetterType" : "LakeFormationConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Lake Formation related configuration inputs for the security configuration.</p>\n@param lakeFormationConfiguration Lake Formation related configuration inputs for the security configuration.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "LakeFormationConfiguration",
            "variableName" : "lakeFormationConfiguration",
            "variableType" : "LakeFormationConfiguration",
            "documentation" : "<p>Lake Formation related configuration inputs for the security configuration.</p>",
            "simpleType" : "LakeFormationConfiguration",
            "variableSetterType" : "LakeFormationConfiguration"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.emrcontainers.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AuthorizationConfiguration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AuthorizationConfiguration",
        "variableName" : "authorizationConfiguration",
        "variableType" : "AuthorizationConfiguration",
        "documentation" : null,
        "simpleType" : "AuthorizationConfiguration",
        "variableSetterType" : "AuthorizationConfiguration"
      },
      "wrapper" : false
    },
    "CancelJobRunRequest" : {
      "c2jName" : "CancelJobRunRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.emrcontainers.request.CancelJobRunRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CancelJobRun",
        "locationName" : null,
        "requestUri" : "/virtualclusters/{virtualClusterId}/jobruns/{jobRunId}",
        "target" : null,
        "verb" : "DELETE",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "id",
        "c2jShape" : "ResourceIdString",
        "deprecated" : false,
        "documentation" : "<p>The ID of the job run to cancel.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the job run to cancel.</p>\n@param id The ID of the job run to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p>The ID of the job run to cancel.</p>\n@return The ID of the job run to cancel.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "jobRunId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "jobRunId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the job run to cancel.</p>\n@param id The ID of the job run to cancel.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the job run to cancel.</p>\n@param id The ID of the job run to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p>The ID of the job run to cancel.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "virtualClusterId",
        "c2jShape" : "ResourceIdString",
        "deprecated" : false,
        "documentation" : "<p>The ID of the virtual cluster for which the job run will be canceled.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the virtual cluster for which the job run will be canceled.</p>\n@param virtualClusterId The ID of the virtual cluster for which the job run will be canceled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVirtualClusterId",
        "getterDocumentation" : "/**<p>The ID of the virtual cluster for which the job run will be canceled.</p>\n@return The ID of the virtual cluster for which the job run will be canceled.*/",
        "getterMethodName" : "getVirtualClusterId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "virtualClusterId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "virtualClusterId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "VirtualClusterId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the virtual cluster for which the job run will be canceled.</p>\n@param virtualClusterId The ID of the virtual cluster for which the job run will be canceled.*/",
        "setterMethodName" : "setVirtualClusterId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "virtualClusterId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the virtual cluster for which the job run will be canceled.</p>\n@param virtualClusterId The ID of the virtual cluster for which the job run will be canceled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "virtualClusterId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the virtual cluster for which the job run will be canceled.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Id" : {
          "c2jName" : "id",
          "c2jShape" : "ResourceIdString",
          "deprecated" : false,
          "documentation" : "<p>The ID of the job run to cancel.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the job run to cancel.</p>\n@param id The ID of the job run to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withId",
          "getterDocumentation" : "/**<p>The ID of the job run to cancel.</p>\n@return The ID of the job run to cancel.*/",
          "getterMethodName" : "getId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "jobRunId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "jobRunId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Id",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the job run to cancel.</p>\n@param id The ID of the job run to cancel.*/",
          "setterMethodName" : "setId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the job run to cancel.</p>\n@param id The ID of the job run to cancel.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "<p>The ID of the job run to cancel.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "VirtualClusterId" : {
          "c2jName" : "virtualClusterId",
          "c2jShape" : "ResourceIdString",
          "deprecated" : false,
          "documentation" : "<p>The ID of the virtual cluster for which the job run will be canceled.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the virtual cluster for which the job run will be canceled.</p>\n@param virtualClusterId The ID of the virtual cluster for which the job run will be canceled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withVirtualClusterId",
          "getterDocumentation" : "/**<p>The ID of the virtual cluster for which the job run will be canceled.</p>\n@return The ID of the virtual cluster for which the job run will be canceled.*/",
          "getterMethodName" : "getVirtualClusterId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "virtualClusterId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "virtualClusterId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "VirtualClusterId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the virtual cluster for which the job run will be canceled.</p>\n@param virtualClusterId The ID of the virtual cluster for which the job run will be canceled.*/",
          "setterMethodName" : "setVirtualClusterId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "virtualClusterId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the virtual cluster for which the job run will be canceled.</p>\n@param virtualClusterId The ID of the virtual cluster for which the job run will be canceled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "virtualClusterId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the virtual cluster for which the job run will be canceled.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.emrcontainers.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "id", "virtualClusterId" ],
      "shapeName" : "CancelJobRunRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelJobRunRequest",
        "variableName" : "cancelJobRunRequest",
        "variableType" : "CancelJobRunRequest",
        "documentation" : null,
        "simpleType" : "CancelJobRunRequest",
        "variableSetterType" : "CancelJobRunRequest"
      },
      "wrapper" : false
    },
    "CancelJobRunResult" : {
      "c2jName" : "CancelJobRunResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.emrcontainers.response.CancelJobRunResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "id",
        "c2jShape" : "ResourceIdString",
        "deprecated" : false,
        "documentation" : "<p>The output contains the ID of the cancelled job run.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The output contains the ID of the cancelled job run.</p>\n@param id The output contains the ID of the cancelled job run.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p>The output contains the ID of the cancelled job run.</p>\n@return The output contains the ID of the cancelled job run.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The output contains the ID of the cancelled job run.</p>\n@param id The output contains the ID of the cancelled job run.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The output contains the ID of the cancelled job run.</p>\n@param id The output contains the ID of the cancelled job run.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p>The output contains the ID of the cancelled job run.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "virtualClusterId",
        "c2jShape" : "ResourceIdString",
        "deprecated" : false,
        "documentation" : "<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>\n@param virtualClusterId The output contains the virtual cluster ID for which the job run is cancelled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVirtualClusterId",
        "getterDocumentation" : "/**<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>\n@return The output contains the virtual cluster ID for which the job run is cancelled.*/",
        "getterMethodName" : "getVirtualClusterId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "virtualClusterId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "virtualClusterId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "VirtualClusterId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>\n@param virtualClusterId The output contains the virtual cluster ID for which the job run is cancelled.*/",
        "setterMethodName" : "setVirtualClusterId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "virtualClusterId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>\n@param virtualClusterId The output contains the virtual cluster ID for which the job run is cancelled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "virtualClusterId",
          "variableType" : "String",
          "documentation" : "<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Id" : {
          "c2jName" : "id",
          "c2jShape" : "ResourceIdString",
          "deprecated" : false,
          "documentation" : "<p>The output contains the ID of the cancelled job run.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The output contains the ID of the cancelled job run.</p>\n@param id The output contains the ID of the cancelled job run.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withId",
          "getterDocumentation" : "/**<p>The output contains the ID of the cancelled job run.</p>\n@return The output contains the ID of the cancelled job run.*/",
          "getterMethodName" : "getId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "id",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "id",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Id",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The output contains the ID of the cancelled job run.</p>\n@param id The output contains the ID of the cancelled job run.*/",
          "setterMethodName" : "setId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The output contains the ID of the cancelled job run.</p>\n@param id The output contains the ID of the cancelled job run.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "<p>The output contains the ID of the cancelled job run.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "VirtualClusterId" : {
          "c2jName" : "virtualClusterId",
          "c2jShape" : "ResourceIdString",
          "deprecated" : false,
          "documentation" : "<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>\n@param virtualClusterId The output contains the virtual cluster ID for which the job run is cancelled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withVirtualClusterId",
          "getterDocumentation" : "/**<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>\n@return The output contains the virtual cluster ID for which the job run is cancelled.*/",
          "getterMethodName" : "getVirtualClusterId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "virtualClusterId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "virtualClusterId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "VirtualClusterId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>\n@param virtualClusterId The output contains the virtual cluster ID for which the job run is cancelled.*/",
          "setterMethodName" : "setVirtualClusterId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "virtualClusterId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>\n@param virtualClusterId The output contains the virtual cluster ID for which the job run is cancelled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "virtualClusterId",
            "variableType" : "String",
            "documentation" : "<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.emrcontainers.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "CancelJobRunResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
[...]
