{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-05-10",
    "asyncClient" : "AWSEntityResolutionAsyncClient",
    "asyncClientBuilderClassName" : "AWSEntityResolutionAsyncClientBuilder",
    "asyncInterface" : "AWSEntityResolutionAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSEntityResolutionModuleInjector",
    "defaultEndpoint" : "entityresolution.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "entityresolution.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Welcome to the <i>Entity Resolution API Reference</i>.</p> <p>Entity Resolution is an Amazon Web Services service that provides pre-configured entity resolution capabilities that enable developers and analysts at advertising and marketing companies to build an accurate and complete view of their consumers.</p> <p> With Entity Resolution, you can match source records containing consumer identifiers, such as name, email address, and phone number. This is true even when these records have incomplete or conflicting identifiers. For example, Entity Resolution can effectively match a source record from a customer relationship management (CRM) system with a source record from a marketing system containing campaign information.</p> <p>To learn more about Entity Resolution concepts, procedures, and best practices, see the <a href=\"https://docs.aws.amazon.com/entityresolution/latest/userguide/what-is-service.html\">Entity Resolution User Guide</a>.</p>",
    "endpointPrefix" : "entityresolution",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.entityresolution",
    "packagePath" : "com/amazonaws/services/entityresolution",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWSEntityResolution",
    "serviceFullName" : "AWS EntityResolution",
    "serviceId" : "EntityResolution",
    "serviceName" : "AWSEntityResolution",
    "signingName" : "entityresolution",
    "smokeTestsPackageName" : "com.amazonaws.services.entityresolution.smoketests",
    "syncClient" : "AWSEntityResolutionClient",
    "syncClientBuilderClassName" : "AWSEntityResolutionClientBuilder",
    "syncInterface" : "AWSEntityResolution",
    "uid" : "entityresolution-2018-05-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddPolicyStatement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddPolicyStatementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddPolicyStatementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddPolicyStatementRequest, AddPolicyStatementResult>",
      "asyncReturnType" : "AddPolicyStatementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a policy statement object. To retrieve a list of existing policy statements, use the <code>GetPolicy</code> API.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource. Example: Workflow already exists, Schema already exists, Workflow is currently running, etc. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddPolicyStatementRequest",
        "variableName" : "addPolicyStatementRequest",
        "variableType" : "AddPolicyStatementRequest",
        "documentation" : "",
        "simpleType" : "AddPolicyStatementRequest",
        "variableSetterType" : "AddPolicyStatementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addPolicyStatement",
      "operationName" : "AddPolicyStatement",
      "returnType" : {
        "returnType" : "AddPolicyStatementResult",
        "documentation" : null
      },
      "syncReturnType" : "AddPolicyStatementResult"
    },
    "BatchDeleteUniqueId" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDeleteUniqueIdResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDeleteUniqueIdResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDeleteUniqueIdRequest, BatchDeleteUniqueIdResult>",
      "asyncReturnType" : "BatchDeleteUniqueIdResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes multiple unique IDs in a matching workflow.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDeleteUniqueIdRequest",
        "variableName" : "batchDeleteUniqueIdRequest",
        "variableType" : "BatchDeleteUniqueIdRequest",
        "documentation" : "",
        "simpleType" : "BatchDeleteUniqueIdRequest",
        "variableSetterType" : "BatchDeleteUniqueIdRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDeleteUniqueId",
      "operationName" : "BatchDeleteUniqueId",
      "returnType" : {
        "returnType" : "BatchDeleteUniqueIdResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDeleteUniqueIdResult"
    },
    "CreateIdMappingWorkflow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateIdMappingWorkflowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateIdMappingWorkflowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateIdMappingWorkflowRequest, CreateIdMappingWorkflowResult>",
      "asyncReturnType" : "CreateIdMappingWorkflowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an <code>IdMappingWorkflow</code> object which stores the configuration of the data processing job to be run. Each <code>IdMappingWorkflow</code> must have a unique workflow name. To modify an existing workflow, use the <code>UpdateIdMappingWorkflow</code> API.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ExceedsLimitException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current Entity Resolution account limits. The error message describes the limit exceeded. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource. Example: Workflow already exists, Schema already exists, Workflow is currently running, etc. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateIdMappingWorkflowRequest",
        "variableName" : "createIdMappingWorkflowRequest",
        "variableType" : "CreateIdMappingWorkflowRequest",
        "documentation" : "",
        "simpleType" : "CreateIdMappingWorkflowRequest",
        "variableSetterType" : "CreateIdMappingWorkflowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createIdMappingWorkflow",
      "operationName" : "CreateIdMappingWorkflow",
      "returnType" : {
        "returnType" : "CreateIdMappingWorkflowResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateIdMappingWorkflowResult"
    },
    "CreateIdNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateIdNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateIdNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateIdNamespaceRequest, CreateIdNamespaceResult>",
      "asyncReturnType" : "CreateIdNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an ID namespace object which will help customers provide metadata explaining their dataset and how to use it. Each ID namespace must have a unique name. To modify an existing ID namespace, use the <code>UpdateIdNamespace</code> API.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ExceedsLimitException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current Entity Resolution account limits. The error message describes the limit exceeded. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource. Example: Workflow already exists, Schema already exists, Workflow is currently running, etc. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateIdNamespaceRequest",
        "variableName" : "createIdNamespaceRequest",
        "variableType" : "CreateIdNamespaceRequest",
        "documentation" : "",
        "simpleType" : "CreateIdNamespaceRequest",
        "variableSetterType" : "CreateIdNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createIdNamespace",
      "operationName" : "CreateIdNamespace",
      "returnType" : {
        "returnType" : "CreateIdNamespaceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateIdNamespaceResult"
    },
    "CreateMatchingWorkflow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMatchingWorkflowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMatchingWorkflowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMatchingWorkflowRequest, CreateMatchingWorkflowResult>",
      "asyncReturnType" : "CreateMatchingWorkflowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a <code>MatchingWorkflow</code> object which stores the configuration of the data processing job to be run. It is important to note that there should not be a pre-existing <code>MatchingWorkflow</code> with the same name. To modify an existing workflow, utilize the <code>UpdateMatchingWorkflow</code> API.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ExceedsLimitException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current Entity Resolution account limits. The error message describes the limit exceeded. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource. Example: Workflow already exists, Schema already exists, Workflow is currently running, etc. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMatchingWorkflowRequest",
        "variableName" : "createMatchingWorkflowRequest",
        "variableType" : "CreateMatchingWorkflowRequest",
        "documentation" : "",
        "simpleType" : "CreateMatchingWorkflowRequest",
        "variableSetterType" : "CreateMatchingWorkflowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMatchingWorkflow",
      "operationName" : "CreateMatchingWorkflow",
      "returnType" : {
        "returnType" : "CreateMatchingWorkflowResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMatchingWorkflowResult"
    },
    "CreateSchemaMapping" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSchemaMappingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSchemaMappingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSchemaMappingRequest, CreateSchemaMappingResult>",
      "asyncReturnType" : "CreateSchemaMappingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a schema mapping, which defines the schema of the input customer records table. The <code>SchemaMapping</code> also provides Entity Resolution with some metadata about the table, such as the attribute types of the columns and which columns to match on.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ExceedsLimitException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current Entity Resolution account limits. The error message describes the limit exceeded. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource. Example: Workflow already exists, Schema already exists, Workflow is currently running, etc. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSchemaMappingRequest",
        "variableName" : "createSchemaMappingRequest",
        "variableType" : "CreateSchemaMappingRequest",
        "documentation" : "",
        "simpleType" : "CreateSchemaMappingRequest",
        "variableSetterType" : "CreateSchemaMappingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSchemaMapping",
      "operationName" : "CreateSchemaMapping",
      "returnType" : {
        "returnType" : "CreateSchemaMappingResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSchemaMappingResult"
    },
    "DeleteIdMappingWorkflow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIdMappingWorkflowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIdMappingWorkflowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIdMappingWorkflowRequest, DeleteIdMappingWorkflowResult>",
      "asyncReturnType" : "DeleteIdMappingWorkflowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the <code>IdMappingWorkflow</code> with a given name. This operation will succeed even if a workflow with the given name does not exist.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource. Example: Workflow already exists, Schema already exists, Workflow is currently running, etc. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteIdMappingWorkflowRequest",
        "variableName" : "deleteIdMappingWorkflowRequest",
        "variableType" : "DeleteIdMappingWorkflowRequest",
        "documentation" : "",
        "simpleType" : "DeleteIdMappingWorkflowRequest",
        "variableSetterType" : "DeleteIdMappingWorkflowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIdMappingWorkflow",
      "operationName" : "DeleteIdMappingWorkflow",
      "returnType" : {
        "returnType" : "DeleteIdMappingWorkflowResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteIdMappingWorkflowResult"
    },
    "DeleteIdNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIdNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIdNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIdNamespaceRequest, DeleteIdNamespaceResult>",
      "asyncReturnType" : "DeleteIdNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the <code>IdNamespace</code> with a given name.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteIdNamespaceRequest",
        "variableName" : "deleteIdNamespaceRequest",
        "variableType" : "DeleteIdNamespaceRequest",
        "documentation" : "",
        "simpleType" : "DeleteIdNamespaceRequest",
        "variableSetterType" : "DeleteIdNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIdNamespace",
      "operationName" : "DeleteIdNamespace",
      "returnType" : {
        "returnType" : "DeleteIdNamespaceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteIdNamespaceResult"
    },
    "DeleteMatchingWorkflow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMatchingWorkflowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMatchingWorkflowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMatchingWorkflowRequest, DeleteMatchingWorkflowResult>",
      "asyncReturnType" : "DeleteMatchingWorkflowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the <code>MatchingWorkflow</code> with a given name. This operation will succeed even if a workflow with the given name does not exist.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource. Example: Workflow already exists, Schema already exists, Workflow is currently running, etc. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMatchingWorkflowRequest",
        "variableName" : "deleteMatchingWorkflowRequest",
        "variableType" : "DeleteMatchingWorkflowRequest",
        "documentation" : "",
        "simpleType" : "DeleteMatchingWorkflowRequest",
        "variableSetterType" : "DeleteMatchingWorkflowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMatchingWorkflow",
      "operationName" : "DeleteMatchingWorkflow",
      "returnType" : {
        "returnType" : "DeleteMatchingWorkflowResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMatchingWorkflowResult"
    },
    "DeletePolicyStatement" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePolicyStatementResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePolicyStatementResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePolicyStatementRequest, DeletePolicyStatementResult>",
      "asyncReturnType" : "DeletePolicyStatementResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the policy statement.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource. Example: Workflow already exists, Schema already exists, Workflow is currently running, etc. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePolicyStatementRequest",
        "variableName" : "deletePolicyStatementRequest",
        "variableType" : "DeletePolicyStatementRequest",
        "documentation" : "",
        "simpleType" : "DeletePolicyStatementRequest",
        "variableSetterType" : "DeletePolicyStatementRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePolicyStatement",
      "operationName" : "DeletePolicyStatement",
      "returnType" : {
        "returnType" : "DeletePolicyStatementResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePolicyStatementResult"
    },
    "DeleteSchemaMapping" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSchemaMappingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSchemaMappingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSchemaMappingRequest, DeleteSchemaMappingResult>",
      "asyncReturnType" : "DeleteSchemaMappingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the <code>SchemaMapping</code> with a given name. This operation will succeed even if a schema with the given name does not exist. This operation will fail if there is a <code>MatchingWorkflow</code> object that references the <code>SchemaMapping</code> in the workflow's <code>InputSourceConfig</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource. Example: Workflow already exists, Schema already exists, Workflow is currently running, etc. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSchemaMappingRequest",
        "variableName" : "deleteSchemaMappingRequest",
        "variableType" : "DeleteSchemaMappingRequest",
        "documentation" : "",
        "simpleType" : "DeleteSchemaMappingRequest",
        "variableSetterType" : "DeleteSchemaMappingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSchemaMapping",
      "operationName" : "DeleteSchemaMapping",
      "returnType" : {
        "returnType" : "DeleteSchemaMappingResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSchemaMappingResult"
    },
    "GetIdMappingJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIdMappingJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIdMappingJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIdMappingJobRequest, GetIdMappingJobResult>",
      "asyncReturnType" : "GetIdMappingJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the status, metrics, and errors (if there are any) that are associated with a job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIdMappingJobRequest",
        "variableName" : "getIdMappingJobRequest",
        "variableType" : "GetIdMappingJobRequest",
        "documentation" : "",
        "simpleType" : "GetIdMappingJobRequest",
        "variableSetterType" : "GetIdMappingJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIdMappingJob",
      "operationName" : "GetIdMappingJob",
      "returnType" : {
        "returnType" : "GetIdMappingJobResult",
        "documentation" : null
      },
      "syncReturnType" : "GetIdMappingJobResult"
    },
    "GetIdMappingWorkflow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIdMappingWorkflowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIdMappingWorkflowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIdMappingWorkflowRequest, GetIdMappingWorkflowResult>",
      "asyncReturnType" : "GetIdMappingWorkflowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the <code>IdMappingWorkflow</code> with a given name, if it exists.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIdMappingWorkflowRequest",
        "variableName" : "getIdMappingWorkflowRequest",
        "variableType" : "GetIdMappingWorkflowRequest",
        "documentation" : "",
        "simpleType" : "GetIdMappingWorkflowRequest",
        "variableSetterType" : "GetIdMappingWorkflowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIdMappingWorkflow",
      "operationName" : "GetIdMappingWorkflow",
      "returnType" : {
        "returnType" : "GetIdMappingWorkflowResult",
        "documentation" : null
      },
      "syncReturnType" : "GetIdMappingWorkflowResult"
    },
    "GetIdNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIdNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIdNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIdNamespaceRequest, GetIdNamespaceResult>",
      "asyncReturnType" : "GetIdNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the <code>IdNamespace</code> with a given name, if it exists.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIdNamespaceRequest",
        "variableName" : "getIdNamespaceRequest",
        "variableType" : "GetIdNamespaceRequest",
        "documentation" : "",
        "simpleType" : "GetIdNamespaceRequest",
        "variableSetterType" : "GetIdNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIdNamespace",
      "operationName" : "GetIdNamespace",
      "returnType" : {
        "returnType" : "GetIdNamespaceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetIdNamespaceResult"
    },
    "GetMatchId" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMatchIdResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMatchIdResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMatchIdRequest, GetMatchIdResult>",
      "asyncReturnType" : "GetMatchIdResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the corresponding Match ID of a customer record if the record has been processed.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMatchIdRequest",
        "variableName" : "getMatchIdRequest",
        "variableType" : "GetMatchIdRequest",
        "documentation" : "",
        "simpleType" : "GetMatchIdRequest",
        "variableSetterType" : "GetMatchIdRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMatchId",
      "operationName" : "GetMatchId",
      "returnType" : {
        "returnType" : "GetMatchIdResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMatchIdResult"
    },
    "GetMatchingJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMatchingJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMatchingJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMatchingJobRequest, GetMatchingJobResult>",
      "asyncReturnType" : "GetMatchingJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the status, metrics, and errors (if there are any) that are associated with a job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMatchingJobRequest",
        "variableName" : "getMatchingJobRequest",
        "variableType" : "GetMatchingJobRequest",
        "documentation" : "",
        "simpleType" : "GetMatchingJobRequest",
        "variableSetterType" : "GetMatchingJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMatchingJob",
      "operationName" : "GetMatchingJob",
      "returnType" : {
        "returnType" : "GetMatchingJobResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMatchingJobResult"
    },
    "GetMatchingWorkflow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMatchingWorkflowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMatchingWorkflowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMatchingWorkflowRequest, GetMatchingWorkflowResult>",
      "asyncReturnType" : "GetMatchingWorkflowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the <code>MatchingWorkflow</code> with a given name, if it exists.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMatchingWorkflowRequest",
        "variableName" : "getMatchingWorkflowRequest",
        "variableType" : "GetMatchingWorkflowRequest",
        "documentation" : "",
        "simpleType" : "GetMatchingWorkflowRequest",
        "variableSetterType" : "GetMatchingWorkflowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMatchingWorkflow",
      "operationName" : "GetMatchingWorkflow",
      "returnType" : {
        "returnType" : "GetMatchingWorkflowResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMatchingWorkflowResult"
    },
    "GetPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPolicyRequest, GetPolicyResult>",
      "asyncReturnType" : "GetPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the resource-based policy.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPolicyRequest",
        "variableName" : "getPolicyRequest",
        "variableType" : "GetPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetPolicyRequest",
        "variableSetterType" : "GetPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPolicy",
      "operationName" : "GetPolicy",
      "returnType" : {
        "returnType" : "GetPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPolicyResult"
    },
    "GetSchemaMapping" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSchemaMappingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSchemaMappingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSchemaMappingRequest, GetSchemaMappingResult>",
      "asyncReturnType" : "GetSchemaMappingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the SchemaMapping of a given name.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSchemaMappingRequest",
        "variableName" : "getSchemaMappingRequest",
        "variableType" : "GetSchemaMappingRequest",
        "documentation" : "",
        "simpleType" : "GetSchemaMappingRequest",
        "variableSetterType" : "GetSchemaMappingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSchemaMapping",
      "operationName" : "GetSchemaMapping",
      "returnType" : {
        "returnType" : "GetSchemaMappingResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSchemaMappingResult"
    },
    "ListIdMappingJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIdMappingJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIdMappingJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIdMappingJobsRequest, ListIdMappingJobsResult>",
      "asyncReturnType" : "ListIdMappingJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all ID mapping jobs for a given workflow.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIdMappingJobsRequest",
        "variableName" : "listIdMappingJobsRequest",
        "variableType" : "ListIdMappingJobsRequest",
        "documentation" : "",
        "simpleType" : "ListIdMappingJobsRequest",
        "variableSetterType" : "ListIdMappingJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIdMappingJobs",
      "operationName" : "ListIdMappingJobs",
      "returnType" : {
        "returnType" : "ListIdMappingJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListIdMappingJobsResult"
    },
    "ListIdMappingWorkflows" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIdMappingWorkflowsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIdMappingWorkflowsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIdMappingWorkflowsRequest, ListIdMappingWorkflowsResult>",
      "asyncReturnType" : "ListIdMappingWorkflowsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all the <code>IdMappingWorkflows</code> that have been created for an Amazon Web Services account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIdMappingWorkflowsRequest",
        "variableName" : "listIdMappingWorkflowsRequest",
        "variableType" : "ListIdMappingWorkflowsRequest",
        "documentation" : "",
        "simpleType" : "ListIdMappingWorkflowsRequest",
        "variableSetterType" : "ListIdMappingWorkflowsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIdMappingWorkflows",
      "operationName" : "ListIdMappingWorkflows",
      "returnType" : {
        "returnType" : "ListIdMappingWorkflowsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListIdMappingWorkflowsResult"
    },
    "ListIdNamespaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIdNamespacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIdNamespacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIdNamespacesRequest, ListIdNamespacesResult>",
      "asyncReturnType" : "ListIdNamespacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all ID namespaces.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIdNamespacesRequest",
        "variableName" : "listIdNamespacesRequest",
        "variableType" : "ListIdNamespacesRequest",
        "documentation" : "",
        "simpleType" : "ListIdNamespacesRequest",
        "variableSetterType" : "ListIdNamespacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIdNamespaces",
      "operationName" : "ListIdNamespaces",
      "returnType" : {
        "returnType" : "ListIdNamespacesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListIdNamespacesResult"
    },
    "ListMatchingJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMatchingJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMatchingJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMatchingJobsRequest, ListMatchingJobsResult>",
      "asyncReturnType" : "ListMatchingJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all jobs for a given workflow.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMatchingJobsRequest",
        "variableName" : "listMatchingJobsRequest",
        "variableType" : "ListMatchingJobsRequest",
        "documentation" : "",
        "simpleType" : "ListMatchingJobsRequest",
        "variableSetterType" : "ListMatchingJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMatchingJobs",
      "operationName" : "ListMatchingJobs",
      "returnType" : {
        "returnType" : "ListMatchingJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMatchingJobsResult"
    },
    "ListMatchingWorkflows" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMatchingWorkflowsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMatchingWorkflowsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMatchingWorkflowsRequest, ListMatchingWorkflowsResult>",
      "asyncReturnType" : "ListMatchingWorkflowsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all the <code>MatchingWorkflows</code> that have been created for an Amazon Web Services account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMatchingWorkflowsRequest",
        "variableName" : "listMatchingWorkflowsRequest",
        "variableType" : "ListMatchingWorkflowsRequest",
        "documentation" : "",
        "simpleType" : "ListMatchingWorkflowsRequest",
        "variableSetterType" : "ListMatchingWorkflowsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMatchingWorkflows",
      "operationName" : "ListMatchingWorkflows",
      "returnType" : {
        "returnType" : "ListMatchingWorkflowsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMatchingWorkflowsResult"
    },
    "ListProviderServices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProviderServicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProviderServicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProviderServicesRequest, ListProviderServicesResult>",
      "asyncReturnType" : "ListProviderServicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all the <code>ProviderServices</code> that are available in this Amazon Web Services Region.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProviderServicesRequest",
        "variableName" : "listProviderServicesRequest",
        "variableType" : "ListProviderServicesRequest",
        "documentation" : "",
        "simpleType" : "ListProviderServicesRequest",
        "variableSetterType" : "ListProviderServicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProviderServices",
      "operationName" : "ListProviderServices",
      "returnType" : {
        "returnType" : "ListProviderServicesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProviderServicesResult"
    },
    "ListSchemaMappings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSchemaMappingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSchemaMappingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSchemaMappingsRequest, ListSchemaMappingsResult>",
      "asyncReturnType" : "ListSchemaMappingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all the <code>SchemaMappings</code> that have been created for an Amazon Web Services account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSchemaMappingsRequest",
        "variableName" : "listSchemaMappingsRequest",
        "variableType" : "ListSchemaMappingsRequest",
        "documentation" : "",
        "simpleType" : "ListSchemaMappingsRequest",
        "variableSetterType" : "ListSchemaMappingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSchemaMappings",
      "operationName" : "ListSchemaMappings",
      "returnType" : {
        "returnType" : "ListSchemaMappingsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSchemaMappingsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays the tags associated with an Entity Resolution resource. In Entity Resolution, <code>SchemaMapping</code>, and <code>MatchingWorkflow</code> can be tagged.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutPolicyRequest, PutPolicyResult>",
      "asyncReturnType" : "PutPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the resource-based policy.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource. Example: Workflow already exists, Schema already exists, Workflow is currently running, etc. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutPolicyRequest",
        "variableName" : "putPolicyRequest",
        "variableType" : "PutPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutPolicyRequest",
        "variableSetterType" : "PutPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putPolicy",
      "operationName" : "PutPolicy",
      "returnType" : {
        "returnType" : "PutPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutPolicyResult"
    },
    "StartIdMappingJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartIdMappingJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartIdMappingJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartIdMappingJobRequest, StartIdMappingJobResult>",
      "asyncReturnType" : "StartIdMappingJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the <code>IdMappingJob</code> of a workflow. The workflow must have previously been created using the <code>CreateIdMappingWorkflow</code> endpoint.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ExceedsLimitException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current Entity Resolution account limits. The error message describes the limit exceeded. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource. Example: Workflow already exists, Schema already exists, Workflow is currently running, etc. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartIdMappingJobRequest",
        "variableName" : "startIdMappingJobRequest",
        "variableType" : "StartIdMappingJobRequest",
        "documentation" : "",
        "simpleType" : "StartIdMappingJobRequest",
        "variableSetterType" : "StartIdMappingJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startIdMappingJob",
      "operationName" : "StartIdMappingJob",
      "returnType" : {
        "returnType" : "StartIdMappingJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartIdMappingJobResult"
    },
    "StartMatchingJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartMatchingJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartMatchingJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartMatchingJobRequest, StartMatchingJobResult>",
      "asyncReturnType" : "StartMatchingJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the <code>MatchingJob</code> of a workflow. The workflow must have previously been created using the <code>CreateMatchingWorkflow</code> endpoint.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ExceedsLimitException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current Entity Resolution account limits. The error message describes the limit exceeded. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource. Example: Workflow already exists, Schema already exists, Workflow is currently running, etc. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartMatchingJobRequest",
        "variableName" : "startMatchingJobRequest",
        "variableType" : "StartMatchingJobRequest",
        "documentation" : "",
        "simpleType" : "StartMatchingJobRequest",
        "variableSetterType" : "StartMatchingJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startMatchingJob",
      "operationName" : "StartMatchingJob",
      "returnType" : {
        "returnType" : "StartMatchingJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartMatchingJobResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns one or more tags (key-value pairs) to the specified Entity Resolution resource. Tags can help you organize and categorize your resources. You can also use them to scope user permissions by granting a user permission to access or change only resources with certain tag values. In Entity Resolution, <code>SchemaMapping</code> and <code>MatchingWorkflow</code> can be tagged. Tags don't have any semantic meaning to Amazon Web Services and are interpreted strictly as strings of characters. You can use the <code>TagResource</code> action with a resource that already has tags. If you specify a new tag key, this tag is appended to the list of tags associated with the resource. If you specify a tag key that is already associated with the resource, the new tag value that you specify replaces the previous value for that tag.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from the specified Entity Resolution resource. In Entity Resolution, <code>SchemaMapping</code>, and <code>MatchingWorkflow</code> can be tagged.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateIdMappingWorkflow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateIdMappingWorkflowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateIdMappingWorkflowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateIdMappingWorkflowRequest, UpdateIdMappingWorkflowResult>",
      "asyncReturnType" : "UpdateIdMappingWorkflowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing <code>IdMappingWorkflow</code>. This method is identical to <code>CreateIdMappingWorkflow</code>, except it uses an HTTP <code>PUT</code> request instead of a <code>POST</code> request, and the <code>IdMappingWorkflow</code> must already exist for the method to succeed.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateIdMappingWorkflowRequest",
        "variableName" : "updateIdMappingWorkflowRequest",
        "variableType" : "UpdateIdMappingWorkflowRequest",
        "documentation" : "",
        "simpleType" : "UpdateIdMappingWorkflowRequest",
        "variableSetterType" : "UpdateIdMappingWorkflowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateIdMappingWorkflow",
      "operationName" : "UpdateIdMappingWorkflow",
      "returnType" : {
        "returnType" : "UpdateIdMappingWorkflowResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateIdMappingWorkflowResult"
    },
    "UpdateIdNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateIdNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateIdNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateIdNamespaceRequest, UpdateIdNamespaceResult>",
      "asyncReturnType" : "UpdateIdNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing ID namespace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateIdNamespaceRequest",
        "variableName" : "updateIdNamespaceRequest",
        "variableType" : "UpdateIdNamespaceRequest",
        "documentation" : "",
        "simpleType" : "UpdateIdNamespaceRequest",
        "variableSetterType" : "UpdateIdNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateIdNamespace",
      "operationName" : "UpdateIdNamespace",
      "returnType" : {
        "returnType" : "UpdateIdNamespaceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateIdNamespaceResult"
    },
    "UpdateMatchingWorkflow" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateMatchingWorkflowResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateMatchingWorkflowResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateMatchingWorkflowRequest, UpdateMatchingWorkflowResult>",
      "asyncReturnType" : "UpdateMatchingWorkflowResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing <code>MatchingWorkflow</code>. This method is identical to <code>CreateMatchingWorkflow</code>, except it uses an HTTP <code>PUT</code> request instead of a <code>POST</code> request, and the <code>MatchingWorkflow</code> must already exist for the method to succeed.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateMatchingWorkflowRequest",
        "variableName" : "updateMatchingWorkflowRequest",
        "variableType" : "UpdateMatchingWorkflowRequest",
        "documentation" : "",
        "simpleType" : "UpdateMatchingWorkflowRequest",
        "variableSetterType" : "UpdateMatchingWorkflowRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateMatchingWorkflow",
      "operationName" : "UpdateMatchingWorkflow",
      "returnType" : {
        "returnType" : "UpdateMatchingWorkflowResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateMatchingWorkflowResult"
    },
    "UpdateSchemaMapping" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSchemaMappingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSchemaMappingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSchemaMappingRequest, UpdateSchemaMappingResult>",
      "asyncReturnType" : "UpdateSchemaMappingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a schema mapping.</p> <note> <p>A schema is immutable if it is being used by a workflow. Therefore, you can't update a schema mapping if it's associated with a workflow. </p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. </p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource could not be found. </p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of conflict in the current state of the resource. Example: Workflow already exists, Schema already exists, Workflow is currently running, etc. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by Entity Resolution. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSchemaMappingRequest",
        "variableName" : "updateSchemaMappingRequest",
        "variableType" : "UpdateSchemaMappingRequest",
        "documentation" : "",
        "simpleType" : "UpdateSchemaMappingRequest",
        "variableSetterType" : "UpdateSchemaMappingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSchemaMapping",
      "operationName" : "UpdateSchemaMapping",
      "returnType" : {
        "returnType" : "UpdateSchemaMappingResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSchemaMappingResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.entityresolution.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.entityresolution.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AddPolicyStatementRequest" : {
      "c2jName" : "AddPolicyStatementInput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.entityresolution.request.AddPolicyStatementRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddPolicyStatement",
        "locationName" : null,
        "requestUri" : "/policies/{arn}/{statementId}",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "action",
        "c2jShape" : "StatementActionList",
        "deprecated" : false,
        "documentation" : "<p>The action that the principal can use on the resource. </p> <p>For example, <code>entityresolution:GetIdMappingJob</code>, <code>entityresolution:GetMatchingJob</code>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The action that the principal can use on the resource. </p> <p>For example, <code>entityresolution:GetIdMappingJob</code>, <code>entityresolution:GetMatchingJob</code>.</p>\n@param action The action that the principal can use on the resource. </p> <p>For example, <code>entityresolution:GetIdMappingJob</code>, <code>entityresolution:GetMatchingJob</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAction",
        "getterDocumentation" : "/**<p>The action that the principal can use on the resource. </p> <p>For example, <code>entityresolution:GetIdMappingJob</code>, <code>entityresolution:GetMatchingJob</code>.</p>\n@return The action that the principal can use on the resource. </p> <p>For example, <code>entityresolution:GetIdMappingJob</code>, <code>entityresolution:GetMatchingJob</code>.*/",
        "getterMethodName" : "getAction",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
[...]
