{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "DescribeElasticsearchInstanceTypeLimitsRequest" : [ "InstanceType" ],
      "EBSOptions" : [ "VolumeType" ],
      "ElasticsearchClusterConfig" : [ "InstanceType", "DedicatedMasterType" ],
      "OptionStatus" : [ "State" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2015-01-01",
    "asyncClient" : "AWSElasticsearchAsyncClient",
    "asyncClientBuilderClassName" : "AWSElasticsearchAsyncClientBuilder",
    "asyncInterface" : "AWSElasticsearchAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSElasticsearchModuleInjector",
    "defaultEndpoint" : "https://es.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "es.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon Elasticsearch Configuration Service</fullname> <p>Use the Amazon Elasticsearch configuration API to create, configure, and manage Elasticsearch domains.</p> <p>The endpoint for configuration service requests is region-specific: es.<i>region</i>.amazonaws.com. For example, es.us-east-1.amazonaws.com. For a current list of supported regions and endpoints, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticsearch-service-regions\" target=\"_blank\">Regions and Endpoints</a>.</p>",
    "endpointPrefix" : "es",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.elasticsearch",
    "packagePath" : "com/amazonaws/services/elasticsearch",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Elasticsearch Service",
    "serviceId" : "Elasticsearch Service",
    "serviceName" : "Amazon Elasticsearch Service",
    "signingName" : "es",
    "smokeTestsPackageName" : "com.amazonaws.services.elasticsearch.smoketests",
    "syncClient" : "AWSElasticsearchClient",
    "syncClientBuilderClassName" : "AWSElasticsearchClientBuilder",
    "syncInterface" : "AWSElasticsearch",
    "uid" : "es-2015-01-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsRequest, AddTagsResult>",
      "asyncReturnType" : "AddTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches tags to an existing Elasticsearch domain. Tags are a set of case-sensitive key value pairs. An Elasticsearch domain may have up to 10 tags. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-awsresorcetagging\" target=\"_blank\"> Tagging Amazon Elasticsearch Service Domains for more information.</a></p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An exception for trying to create more than allowed resources or sub-resources. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AddTagsRequest",
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>AddTags</a></code> operation. Specify the tags that you want to attach to the Elasticsearch domain.</p>",
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addTags",
      "operationName" : "AddTags",
      "returnType" : {
        "returnType" : "AddTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "AddTagsResult"
    },
    "CancelElasticsearchServiceSoftwareUpdate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelElasticsearchServiceSoftwareUpdateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelElasticsearchServiceSoftwareUpdateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelElasticsearchServiceSoftwareUpdateRequest, CancelElasticsearchServiceSoftwareUpdateResult>",
      "asyncReturnType" : "CancelElasticsearchServiceSoftwareUpdateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels a scheduled service software update for an Amazon ES domain. You can only perform this operation before the <code>AutomatedUpdateDate</code> and when the <code>UpdateStatus</code> is in the <code>PENDING_UPDATE</code> state.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelElasticsearchServiceSoftwareUpdateRequest",
        "variableName" : "cancelElasticsearchServiceSoftwareUpdateRequest",
        "variableType" : "CancelElasticsearchServiceSoftwareUpdateRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>CancelElasticsearchServiceSoftwareUpdate</a></code> operation. Specifies the name of the Elasticsearch domain that you wish to cancel a service software update on.</p>",
        "simpleType" : "CancelElasticsearchServiceSoftwareUpdateRequest",
        "variableSetterType" : "CancelElasticsearchServiceSoftwareUpdateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelElasticsearchServiceSoftwareUpdate",
      "operationName" : "CancelElasticsearchServiceSoftwareUpdate",
      "returnType" : {
        "returnType" : "CancelElasticsearchServiceSoftwareUpdateResult",
        "documentation" : "<p>The result of a <code>CancelElasticsearchServiceSoftwareUpdate</code> operation. Contains the status of the update.</p>"
      },
      "syncReturnType" : "CancelElasticsearchServiceSoftwareUpdateResult"
    },
    "CreateElasticsearchDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateElasticsearchDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateElasticsearchDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateElasticsearchDomainRequest, CreateElasticsearchDomainResult>",
      "asyncReturnType" : "CreateElasticsearchDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new Elasticsearch domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>An error occured because the client wanted to access a not supported operation. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>An exception for trying to create or access sub-resource that is either invalid or not supported. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An exception for trying to create more than allowed resources or sub-resources. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>An exception for creating a resource that already exists. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateElasticsearchDomainRequest",
        "variableName" : "createElasticsearchDomainRequest",
        "variableType" : "CreateElasticsearchDomainRequest",
        "documentation" : "",
        "simpleType" : "CreateElasticsearchDomainRequest",
        "variableSetterType" : "CreateElasticsearchDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createElasticsearchDomain",
      "operationName" : "CreateElasticsearchDomain",
      "returnType" : {
        "returnType" : "CreateElasticsearchDomainResult",
        "documentation" : "<p>The result of a <code>CreateElasticsearchDomain</code> operation. Contains the status of the newly created Elasticsearch domain.</p>"
      },
      "syncReturnType" : "CreateElasticsearchDomainResult"
    },
    "DeleteElasticsearchDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteElasticsearchDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteElasticsearchDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteElasticsearchDomainRequest, DeleteElasticsearchDomainResult>",
      "asyncReturnType" : "DeleteElasticsearchDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Permanently deletes the specified Elasticsearch domain and all of its data. Once a domain is deleted, it cannot be recovered.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteElasticsearchDomainRequest",
        "variableName" : "deleteElasticsearchDomainRequest",
        "variableType" : "DeleteElasticsearchDomainRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DeleteElasticsearchDomain</a></code> operation. Specifies the name of the Elasticsearch domain that you want to delete.</p>",
        "simpleType" : "DeleteElasticsearchDomainRequest",
        "variableSetterType" : "DeleteElasticsearchDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteElasticsearchDomain",
      "operationName" : "DeleteElasticsearchDomain",
      "returnType" : {
        "returnType" : "DeleteElasticsearchDomainResult",
        "documentation" : "<p>The result of a <code>DeleteElasticsearchDomain</code> request. Contains the status of the pending deletion, or no status if the domain and all of its resources have been deleted.</p>"
      },
      "syncReturnType" : "DeleteElasticsearchDomainResult"
    },
    "DeleteElasticsearchServiceRole" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteElasticsearchServiceRoleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteElasticsearchServiceRoleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteElasticsearchServiceRoleRequest, DeleteElasticsearchServiceRoleResult>",
      "asyncReturnType" : "DeleteElasticsearchServiceRoleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the service-linked role that Elasticsearch Service uses to manage and maintain VPC domains. Role deletion will fail if any existing VPC domains use the role. You must delete any such Elasticsearch domains before deleting the role. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html#es-enabling-slr\" target=\"_blank\">Deleting Elasticsearch Service Role</a> in <i>VPC Endpoints for Amazon Elasticsearch Service Domains</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteElasticsearchServiceRoleRequest",
        "variableName" : "deleteElasticsearchServiceRoleRequest",
        "variableType" : "DeleteElasticsearchServiceRoleRequest",
        "documentation" : null,
        "simpleType" : "DeleteElasticsearchServiceRoleRequest",
        "variableSetterType" : "DeleteElasticsearchServiceRoleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteElasticsearchServiceRole",
      "operationName" : "DeleteElasticsearchServiceRole",
      "returnType" : {
        "returnType" : "DeleteElasticsearchServiceRoleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteElasticsearchServiceRoleResult"
    },
    "DescribeElasticsearchDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeElasticsearchDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeElasticsearchDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeElasticsearchDomainRequest, DescribeElasticsearchDomainResult>",
      "asyncReturnType" : "DescribeElasticsearchDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns domain configuration information about the specified Elasticsearch domain, including the domain ID, domain endpoint, and domain ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeElasticsearchDomainRequest",
        "variableName" : "describeElasticsearchDomainRequest",
        "variableType" : "DescribeElasticsearchDomainRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeElasticsearchDomain</a></code> operation.</p>",
        "simpleType" : "DescribeElasticsearchDomainRequest",
        "variableSetterType" : "DescribeElasticsearchDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeElasticsearchDomain",
      "operationName" : "DescribeElasticsearchDomain",
      "returnType" : {
        "returnType" : "DescribeElasticsearchDomainResult",
        "documentation" : "<p>The result of a <code>DescribeElasticsearchDomain</code> request. Contains the status of the domain specified in the request.</p>"
      },
      "syncReturnType" : "DescribeElasticsearchDomainResult"
    },
    "DescribeElasticsearchDomainConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeElasticsearchDomainConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeElasticsearchDomainConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeElasticsearchDomainConfigRequest, DescribeElasticsearchDomainConfigResult>",
      "asyncReturnType" : "DescribeElasticsearchDomainConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides cluster configuration information about the specified Elasticsearch domain, such as the state, creation date, update version, and update date for cluster options.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeElasticsearchDomainConfigRequest",
        "variableName" : "describeElasticsearchDomainConfigRequest",
        "variableType" : "DescribeElasticsearchDomainConfigRequest",
        "documentation" : "<p> Container for the parameters to the <code>DescribeElasticsearchDomainConfig</code> operation. Specifies the domain name for which you want configuration information.</p>",
        "simpleType" : "DescribeElasticsearchDomainConfigRequest",
        "variableSetterType" : "DescribeElasticsearchDomainConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeElasticsearchDomainConfig",
      "operationName" : "DescribeElasticsearchDomainConfig",
      "returnType" : {
        "returnType" : "DescribeElasticsearchDomainConfigResult",
        "documentation" : "<p>The result of a <code>DescribeElasticsearchDomainConfig</code> request. Contains the configuration information of the requested domain.</p>"
      },
      "syncReturnType" : "DescribeElasticsearchDomainConfigResult"
    },
    "DescribeElasticsearchDomains" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeElasticsearchDomainsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeElasticsearchDomainsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeElasticsearchDomainsRequest, DescribeElasticsearchDomainsResult>",
      "asyncReturnType" : "DescribeElasticsearchDomainsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns domain configuration information about the specified Elasticsearch domains, including the domain ID, domain endpoint, and domain ARN.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeElasticsearchDomainsRequest",
        "variableName" : "describeElasticsearchDomainsRequest",
        "variableType" : "DescribeElasticsearchDomainsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeElasticsearchDomains</a></code> operation. By default, the API returns the status of all Elasticsearch domains.</p>",
        "simpleType" : "DescribeElasticsearchDomainsRequest",
        "variableSetterType" : "DescribeElasticsearchDomainsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeElasticsearchDomains",
      "operationName" : "DescribeElasticsearchDomains",
      "returnType" : {
        "returnType" : "DescribeElasticsearchDomainsResult",
        "documentation" : "<p>The result of a <code>DescribeElasticsearchDomains</code> request. Contains the status of the specified domains or all domains owned by the account.</p>"
      },
      "syncReturnType" : "DescribeElasticsearchDomainsResult"
    },
    "DescribeElasticsearchInstanceTypeLimits" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeElasticsearchInstanceTypeLimitsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeElasticsearchInstanceTypeLimitsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeElasticsearchInstanceTypeLimitsRequest, DescribeElasticsearchInstanceTypeLimitsResult>",
      "asyncReturnType" : "DescribeElasticsearchInstanceTypeLimitsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Describe Elasticsearch Limits for a given InstanceType and ElasticsearchVersion. When modifying existing Domain, specify the <code> <a>DomainName</a> </code> to know what Limits are supported for modifying. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>An exception for trying to create or access sub-resource that is either invalid or not supported. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An exception for trying to create more than allowed resources or sub-resources. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeElasticsearchInstanceTypeLimitsRequest",
        "variableName" : "describeElasticsearchInstanceTypeLimitsRequest",
        "variableType" : "DescribeElasticsearchInstanceTypeLimitsRequest",
        "documentation" : "<p> Container for the parameters to <code> <a>DescribeElasticsearchInstanceTypeLimits</a> </code> operation. </p>",
        "simpleType" : "DescribeElasticsearchInstanceTypeLimitsRequest",
        "variableSetterType" : "DescribeElasticsearchInstanceTypeLimitsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeElasticsearchInstanceTypeLimits",
      "operationName" : "DescribeElasticsearchInstanceTypeLimits",
      "returnType" : {
        "returnType" : "DescribeElasticsearchInstanceTypeLimitsResult",
        "documentation" : "<p> Container for the parameters received from <code> <a>DescribeElasticsearchInstanceTypeLimits</a> </code> operation. </p>"
      },
      "syncReturnType" : "DescribeElasticsearchInstanceTypeLimitsResult"
    },
    "DescribeReservedElasticsearchInstanceOfferings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReservedElasticsearchInstanceOfferingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReservedElasticsearchInstanceOfferingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReservedElasticsearchInstanceOfferingsRequest, DescribeReservedElasticsearchInstanceOfferingsResult>",
      "asyncReturnType" : "DescribeReservedElasticsearchInstanceOfferingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists available reserved Elasticsearch instance offerings.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>An error occured because the client wanted to access a not supported operation. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeReservedElasticsearchInstanceOfferingsRequest",
        "variableName" : "describeReservedElasticsearchInstanceOfferingsRequest",
        "variableType" : "DescribeReservedElasticsearchInstanceOfferingsRequest",
        "documentation" : "<p>Container for parameters to <code>DescribeReservedElasticsearchInstanceOfferings</code></p>",
        "simpleType" : "DescribeReservedElasticsearchInstanceOfferingsRequest",
        "variableSetterType" : "DescribeReservedElasticsearchInstanceOfferingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeReservedElasticsearchInstanceOfferings",
      "operationName" : "DescribeReservedElasticsearchInstanceOfferings",
      "returnType" : {
        "returnType" : "DescribeReservedElasticsearchInstanceOfferingsResult",
        "documentation" : "<p>Container for results from <code>DescribeReservedElasticsearchInstanceOfferings</code></p>"
      },
      "syncReturnType" : "DescribeReservedElasticsearchInstanceOfferingsResult"
    },
    "DescribeReservedElasticsearchInstances" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeReservedElasticsearchInstancesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeReservedElasticsearchInstancesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeReservedElasticsearchInstancesRequest, DescribeReservedElasticsearchInstancesResult>",
      "asyncReturnType" : "DescribeReservedElasticsearchInstancesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about reserved Elasticsearch instances for this account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>An error occured because the client wanted to access a not supported operation. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeReservedElasticsearchInstancesRequest",
        "variableName" : "describeReservedElasticsearchInstancesRequest",
        "variableType" : "DescribeReservedElasticsearchInstancesRequest",
        "documentation" : "<p>Container for parameters to <code>DescribeReservedElasticsearchInstances</code></p>",
        "simpleType" : "DescribeReservedElasticsearchInstancesRequest",
        "variableSetterType" : "DescribeReservedElasticsearchInstancesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeReservedElasticsearchInstances",
      "operationName" : "DescribeReservedElasticsearchInstances",
      "returnType" : {
        "returnType" : "DescribeReservedElasticsearchInstancesResult",
        "documentation" : "<p>Container for results from <code>DescribeReservedElasticsearchInstances</code></p>"
      },
      "syncReturnType" : "DescribeReservedElasticsearchInstancesResult"
    },
    "GetCompatibleElasticsearchVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCompatibleElasticsearchVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCompatibleElasticsearchVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCompatibleElasticsearchVersionsRequest, GetCompatibleElasticsearchVersionsResult>",
      "asyncReturnType" : "GetCompatibleElasticsearchVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of upgrade compatible Elastisearch versions. You can optionally pass a <code> <a>DomainName</a> </code> to get all upgrade compatible Elasticsearch versions for that specific domain. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>An error occured because the client wanted to access a not supported operation. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCompatibleElasticsearchVersionsRequest",
        "variableName" : "getCompatibleElasticsearchVersionsRequest",
        "variableType" : "GetCompatibleElasticsearchVersionsRequest",
        "documentation" : "<p> Container for request parameters to <code> <a>GetCompatibleElasticsearchVersions</a> </code> operation. </p>",
        "simpleType" : "GetCompatibleElasticsearchVersionsRequest",
        "variableSetterType" : "GetCompatibleElasticsearchVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCompatibleElasticsearchVersions",
      "operationName" : "GetCompatibleElasticsearchVersions",
      "returnType" : {
        "returnType" : "GetCompatibleElasticsearchVersionsResult",
        "documentation" : "<p> Container for response returned by <code> <a>GetCompatibleElasticsearchVersions</a> </code> operation. </p>"
      },
      "syncReturnType" : "GetCompatibleElasticsearchVersionsResult"
    },
    "GetUpgradeHistory" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetUpgradeHistoryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetUpgradeHistoryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetUpgradeHistoryRequest, GetUpgradeHistoryResult>",
      "asyncReturnType" : "GetUpgradeHistoryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the complete history of the last 10 upgrades that were performed on the domain.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>An error occured because the client wanted to access a not supported operation. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetUpgradeHistoryRequest",
        "variableName" : "getUpgradeHistoryRequest",
        "variableType" : "GetUpgradeHistoryRequest",
        "documentation" : "<p> Container for request parameters to <code> <a>GetUpgradeHistory</a> </code> operation. </p>",
        "simpleType" : "GetUpgradeHistoryRequest",
        "variableSetterType" : "GetUpgradeHistoryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getUpgradeHistory",
      "operationName" : "GetUpgradeHistory",
      "returnType" : {
        "returnType" : "GetUpgradeHistoryResult",
        "documentation" : "<p> Container for response returned by <code> <a>GetUpgradeHistory</a> </code> operation. </p>"
      },
      "syncReturnType" : "GetUpgradeHistoryResult"
    },
    "GetUpgradeStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetUpgradeStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetUpgradeStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetUpgradeStatusRequest, GetUpgradeStatusResult>",
      "asyncReturnType" : "GetUpgradeStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the latest status of the last upgrade or upgrade eligibility check that was performed on the domain.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>An error occured because the client wanted to access a not supported operation. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetUpgradeStatusRequest",
        "variableName" : "getUpgradeStatusRequest",
        "variableType" : "GetUpgradeStatusRequest",
        "documentation" : "<p> Container for request parameters to <code> <a>GetUpgradeStatus</a> </code> operation. </p>",
        "simpleType" : "GetUpgradeStatusRequest",
        "variableSetterType" : "GetUpgradeStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getUpgradeStatus",
      "operationName" : "GetUpgradeStatus",
      "returnType" : {
        "returnType" : "GetUpgradeStatusResult",
        "documentation" : "<p> Container for response returned by <code> <a>GetUpgradeStatus</a> </code> operation. </p>"
      },
      "syncReturnType" : "GetUpgradeStatusResult"
    },
    "ListDomainNames" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDomainNamesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDomainNamesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDomainNamesRequest, ListDomainNamesResult>",
      "asyncReturnType" : "ListDomainNamesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the name of all Elasticsearch domains owned by the current user's account. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDomainNamesRequest",
        "variableName" : "listDomainNamesRequest",
        "variableType" : "ListDomainNamesRequest",
        "documentation" : null,
        "simpleType" : "ListDomainNamesRequest",
        "variableSetterType" : "ListDomainNamesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDomainNames",
      "operationName" : "ListDomainNames",
      "returnType" : {
        "returnType" : "ListDomainNamesResult",
        "documentation" : "<p>The result of a <code>ListDomainNames</code> operation. Contains the names of all Elasticsearch domains owned by this account.</p>"
      },
      "syncReturnType" : "ListDomainNamesResult"
    },
    "ListElasticsearchInstanceTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListElasticsearchInstanceTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListElasticsearchInstanceTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListElasticsearchInstanceTypesRequest, ListElasticsearchInstanceTypesResult>",
      "asyncReturnType" : "ListElasticsearchInstanceTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List all Elasticsearch instance types that are supported for given ElasticsearchVersion</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListElasticsearchInstanceTypesRequest",
        "variableName" : "listElasticsearchInstanceTypesRequest",
        "variableType" : "ListElasticsearchInstanceTypesRequest",
        "documentation" : "<p> Container for the parameters to the <code> <a>ListElasticsearchInstanceTypes</a> </code> operation. </p>",
        "simpleType" : "ListElasticsearchInstanceTypesRequest",
        "variableSetterType" : "ListElasticsearchInstanceTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listElasticsearchInstanceTypes",
      "operationName" : "ListElasticsearchInstanceTypes",
      "returnType" : {
        "returnType" : "ListElasticsearchInstanceTypesResult",
        "documentation" : "<p> Container for the parameters returned by <code> <a>ListElasticsearchInstanceTypes</a> </code> operation. </p>"
      },
      "syncReturnType" : "ListElasticsearchInstanceTypesResult"
    },
    "ListElasticsearchVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListElasticsearchVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListElasticsearchVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListElasticsearchVersionsRequest, ListElasticsearchVersionsResult>",
      "asyncReturnType" : "ListElasticsearchVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List all supported Elasticsearch versions</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListElasticsearchVersionsRequest",
        "variableName" : "listElasticsearchVersionsRequest",
        "variableType" : "ListElasticsearchVersionsRequest",
        "documentation" : "<p> Container for the parameters to the <code> <a>ListElasticsearchVersions</a> </code> operation. <p> Use <code> <a>MaxResults</a> </code> to control the maximum number of results to retrieve in a single call. </p> <p> Use <code> <a>NextToken</a> </code> in response to retrieve more results. If the received response does not contain a NextToken, then there are no more results to retrieve. </p> </p>",
        "simpleType" : "ListElasticsearchVersionsRequest",
        "variableSetterType" : "ListElasticsearchVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listElasticsearchVersions",
      "operationName" : "ListElasticsearchVersions",
      "returnType" : {
        "returnType" : "ListElasticsearchVersionsResult",
        "documentation" : "<p> Container for the parameters for response received from <code> <a>ListElasticsearchVersions</a> </code> operation. </p>"
      },
      "syncReturnType" : "ListElasticsearchVersionsResult"
    },
    "ListTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsRequest, ListTagsResult>",
      "asyncReturnType" : "ListTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns all tags for the given Elasticsearch domain.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsRequest",
        "variableName" : "listTagsRequest",
        "variableType" : "ListTagsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>ListTags</a></code> operation. Specify the <code>ARN</code> for the Elasticsearch domain to which the tags are attached that you want to view are attached.</p>",
        "simpleType" : "ListTagsRequest",
        "variableSetterType" : "ListTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTags",
      "operationName" : "ListTags",
      "returnType" : {
        "returnType" : "ListTagsResult",
        "documentation" : "<p>The result of a <code>ListTags</code> operation. Contains tags for all requested Elasticsearch domains.</p>"
      },
      "syncReturnType" : "ListTagsResult"
    },
    "PurchaseReservedElasticsearchInstanceOffering" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PurchaseReservedElasticsearchInstanceOfferingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PurchaseReservedElasticsearchInstanceOfferingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PurchaseReservedElasticsearchInstanceOfferingRequest, PurchaseReservedElasticsearchInstanceOfferingResult>",
      "asyncReturnType" : "PurchaseReservedElasticsearchInstanceOfferingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Allows you to purchase reserved Elasticsearch instances.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>An exception for creating a resource that already exists. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An exception for trying to create more than allowed resources or sub-resources. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>An error occured because the client wanted to access a not supported operation. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PurchaseReservedElasticsearchInstanceOfferingRequest",
        "variableName" : "purchaseReservedElasticsearchInstanceOfferingRequest",
        "variableType" : "PurchaseReservedElasticsearchInstanceOfferingRequest",
        "documentation" : "<p>Container for parameters to <code>PurchaseReservedElasticsearchInstanceOffering</code></p>",
        "simpleType" : "PurchaseReservedElasticsearchInstanceOfferingRequest",
        "variableSetterType" : "PurchaseReservedElasticsearchInstanceOfferingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "purchaseReservedElasticsearchInstanceOffering",
      "operationName" : "PurchaseReservedElasticsearchInstanceOffering",
      "returnType" : {
        "returnType" : "PurchaseReservedElasticsearchInstanceOfferingResult",
        "documentation" : "<p>Represents the output of a <code>PurchaseReservedElasticsearchInstanceOffering</code> operation.</p>"
      },
      "syncReturnType" : "PurchaseReservedElasticsearchInstanceOfferingResult"
    },
    "RemoveTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsRequest, RemoveTagsResult>",
      "asyncReturnType" : "RemoveTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified set of tags from the specified Elasticsearch domain.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemoveTagsRequest",
        "variableName" : "removeTagsRequest",
        "variableType" : "RemoveTagsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>RemoveTags</a></code> operation. Specify the <code>ARN</code> for the Elasticsearch domain from which you want to remove the specified <code>TagKey</code>.</p>",
        "simpleType" : "RemoveTagsRequest",
        "variableSetterType" : "RemoveTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeTags",
      "operationName" : "RemoveTags",
      "returnType" : {
        "returnType" : "RemoveTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveTagsResult"
    },
    "StartElasticsearchServiceSoftwareUpdate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartElasticsearchServiceSoftwareUpdateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartElasticsearchServiceSoftwareUpdateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartElasticsearchServiceSoftwareUpdateRequest, StartElasticsearchServiceSoftwareUpdateResult>",
      "asyncReturnType" : "StartElasticsearchServiceSoftwareUpdateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Schedules a service software update for an Amazon ES domain.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartElasticsearchServiceSoftwareUpdateRequest",
        "variableName" : "startElasticsearchServiceSoftwareUpdateRequest",
        "variableType" : "StartElasticsearchServiceSoftwareUpdateRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>StartElasticsearchServiceSoftwareUpdate</a></code> operation. Specifies the name of the Elasticsearch domain that you wish to schedule a service software update on.</p>",
        "simpleType" : "StartElasticsearchServiceSoftwareUpdateRequest",
        "variableSetterType" : "StartElasticsearchServiceSoftwareUpdateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startElasticsearchServiceSoftwareUpdate",
      "operationName" : "StartElasticsearchServiceSoftwareUpdate",
      "returnType" : {
        "returnType" : "StartElasticsearchServiceSoftwareUpdateResult",
        "documentation" : "<p>The result of a <code>StartElasticsearchServiceSoftwareUpdate</code> operation. Contains the status of the update.</p>"
      },
      "syncReturnType" : "StartElasticsearchServiceSoftwareUpdateResult"
    },
    "UpdateElasticsearchDomainConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateElasticsearchDomainConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateElasticsearchDomainConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateElasticsearchDomainConfigRequest, UpdateElasticsearchDomainConfigResult>",
      "asyncReturnType" : "UpdateElasticsearchDomainConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the cluster configuration of the specified Elasticsearch domain, setting as setting the instance type and the number of instances. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>An exception for trying to create or access sub-resource that is either invalid or not supported. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An exception for trying to create more than allowed resources or sub-resources. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateElasticsearchDomainConfigRequest",
        "variableName" : "updateElasticsearchDomainConfigRequest",
        "variableType" : "UpdateElasticsearchDomainConfigRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>UpdateElasticsearchDomain</a></code> operation. Specifies the type and number of instances in the domain cluster.</p>",
        "simpleType" : "UpdateElasticsearchDomainConfigRequest",
        "variableSetterType" : "UpdateElasticsearchDomainConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateElasticsearchDomainConfig",
      "operationName" : "UpdateElasticsearchDomainConfig",
      "returnType" : {
        "returnType" : "UpdateElasticsearchDomainConfigResult",
        "documentation" : "<p>The result of an <code>UpdateElasticsearchDomain</code> request. Contains the status of the Elasticsearch domain being updated.</p>"
      },
      "syncReturnType" : "UpdateElasticsearchDomainConfigResult"
    },
    "UpgradeElasticsearchDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpgradeElasticsearchDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpgradeElasticsearchDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpgradeElasticsearchDomainRequest, UpgradeElasticsearchDomainResult>",
      "asyncReturnType" : "UpgradeElasticsearchDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Allows you to either upgrade your domain or perform an Upgrade eligibility check to a compatible Elasticsearch version.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>An exception for creating a resource that already exists. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>An error occured because the client wanted to access a not supported operation. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpgradeElasticsearchDomainRequest",
        "variableName" : "upgradeElasticsearchDomainRequest",
        "variableType" : "UpgradeElasticsearchDomainRequest",
        "documentation" : "<p> Container for request parameters to <code> <a>UpgradeElasticsearchDomain</a> </code> operation. </p>",
        "simpleType" : "UpgradeElasticsearchDomainRequest",
        "variableSetterType" : "UpgradeElasticsearchDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "upgradeElasticsearchDomain",
      "operationName" : "UpgradeElasticsearchDomain",
      "returnType" : {
        "returnType" : "UpgradeElasticsearchDomainResult",
        "documentation" : "<p> Container for response returned by <code> <a>UpgradeElasticsearchDomain</a> </code> operation. </p>"
      },
      "syncReturnType" : "UpgradeElasticsearchDomainResult"
    }
  },
  "shapes" : {
    "AccessPoliciesStatus" : {
      "c2jName" : "AccessPoliciesStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The configured access rules for the domain's document and search endpoints, and the current status of those rules.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Options",
        "c2jShape" : "PolicyDocument",
        "deprecated" : false,
        "documentation" : "<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@param options The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOptions",
        "getterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@return The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.*/",
        "getterMethodName" : "getOptions",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Options",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Options",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Options",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@param options The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.*/",
        "setterMethodName" : "setOptions",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "options",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@param options The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "options",
          "variableType" : "String",
          "documentation" : "<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Status",
        "c2jShape" : "OptionStatus",
        "deprecated" : false,
        "documentation" : "<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@param status The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@return The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "OptionStatus",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Status",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@param status The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "OptionStatus",
          "variableName" : "status",
          "variableType" : "OptionStatus",
          "documentation" : "",
          "simpleType" : "OptionStatus",
          "variableSetterType" : "OptionStatus"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@param status The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "OptionStatus",
          "variableName" : "status",
          "variableType" : "OptionStatus",
          "documentation" : "<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>",
          "simpleType" : "OptionStatus",
          "variableSetterType" : "OptionStatus"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Options" : {
          "c2jName" : "Options",
          "c2jShape" : "PolicyDocument",
          "deprecated" : false,
          "documentation" : "<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@param options The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOptions",
          "getterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@return The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.*/",
          "getterMethodName" : "getOptions",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Options",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Options",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Options",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@param options The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.*/",
          "setterMethodName" : "setOptions",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "options",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@param options The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "options",
            "variableType" : "String",
            "documentation" : "<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Status" : {
          "c2jName" : "Status",
          "c2jShape" : "OptionStatus",
          "deprecated" : false,
          "documentation" : "<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@param status The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStatus",
          "getterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@return The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.*/",
          "getterMethodName" : "getStatus",
          "getterModel" : {
            "returnType" : "OptionStatus",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Status",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Status",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Status",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@param status The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.*/",
          "setterMethodName" : "setStatus",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "OptionStatus",
            "variableName" : "status",
            "variableType" : "OptionStatus",
            "documentation" : "",
            "simpleType" : "OptionStatus",
            "variableSetterType" : "OptionStatus"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@param status The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "OptionStatus",
            "variableName" : "status",
            "variableType" : "OptionStatus",
            "documentation" : "<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>",
            "simpleType" : "OptionStatus",
            "variableSetterType" : "OptionStatus"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Options", "Status" ],
      "shapeName" : "AccessPoliciesStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessPoliciesStatus",
        "variableName" : "accessPoliciesStatus",
        "variableType" : "AccessPoliciesStatus",
        "documentation" : null,
        "simpleType" : "AccessPoliciesStatus",
        "variableSetterType" : "AccessPoliciesStatus"
      },
      "wrapper" : false
    },
    "AddTagsRequest" : {
      "c2jName" : "AddTagsRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Container for the parameters to the <code><a>AddTags</a></code> operation. Specify the tags that you want to attach to the Elasticsearch domain.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddTags",
        "locationName" : null,
        "requestUri" : "/2015-01-01/tags",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ARN",
        "c2jShape" : "ARN",
        "deprecated" : false,
        "documentation" : "<p> Specify the <code>ARN</code> for which you want to add the tags.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Specify the <code>ARN</code> for which you want to add the tags.</p>\n@param aRN Specify the <code>ARN</code> for which you want to add the tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withARN",
        "getterDocumentation" : "/**<p> Specify the <code>ARN</code> for which you want to add the tags.</p>\n@return Specify the <code>ARN</code> for which you want to add the tags.*/",
        "getterMethodName" : "getARN",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ARN",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ARN",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ARN",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> Specify the <code>ARN</code> for which you want to add the tags.</p>\n@param aRN Specify the <code>ARN</code> for which you want to add the tags.*/",
        "setterMethodName" : "setARN",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "aRN",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Specify the <code>ARN</code> for which you want to add the tags.</p>\n@param aRN Specify the <code>ARN</code> for which you want to add the tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "aRN",
          "variableType" : "String",
          "documentation" : "<p> Specify the <code>ARN</code> for which you want to add the tags.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TagList",
        "c2jShape" : "TagList",
        "deprecated" : false,
        "documentation" : "<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>\n@param tagList List of <code>Tag</code> that need to be added for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTagList",
        "getterDocumentation" : "/**<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>\n@return List of <code>Tag</code> that need to be added for the Elasticsearch domain.*/",
        "getterMethodName" : "getTagList",
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TagList",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TagList",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
[...]
