{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "DescribeElasticsearchInstanceTypeLimitsRequest" : [ "InstanceType" ],
      "EBSOptions" : [ "VolumeType" ],
      "ElasticsearchClusterConfig" : [ "InstanceType", "DedicatedMasterType" ],
      "OptionStatus" : [ "State" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-01-01",
    "asyncClient" : "AWSElasticsearchAsyncClient",
    "asyncClientBuilderClassName" : "AWSElasticsearchAsyncClientBuilder",
    "asyncInterface" : "AWSElasticsearchAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSElasticsearchModuleInjector",
    "defaultEndpoint" : "https://es.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "es.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon Elasticsearch Configuration Service</fullname> <p>Use the Amazon Elasticsearch configuration API to create, configure, and manage Elasticsearch domains.</p> <p>The endpoint for configuration service requests is region-specific: es.<i>region</i>.amazonaws.com. For example, es.us-east-1.amazonaws.com. For a current list of supported regions and endpoints, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticsearch-service-regions\" target=\"_blank\">Regions and Endpoints</a>.</p>",
    "endpointPrefix" : "es",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.elasticsearch",
    "packagePath" : "com/amazonaws/services/elasticsearch",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Elasticsearch Service",
    "serviceName" : "Amazon Elasticsearch Service",
    "signingName" : "es",
    "smokeTestsPackageName" : "com.amazonaws.services.elasticsearch.smoketests",
    "syncClient" : "AWSElasticsearchClient",
    "syncClientBuilderClassName" : "AWSElasticsearchClientBuilder",
    "syncInterface" : "AWSElasticsearch",
    "uid" : "es-2015-01-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddTagsRequest, AddTagsResult>",
      "asyncReturnType" : "AddTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Attaches tags to an existing Elasticsearch domain. Tags are a set of case-sensitive key value pairs. An Elasticsearch domain may have up to 10 tags. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-awsresorcetagging\" target=\"_blank\"> Tagging Amazon Elasticsearch Service Domains for more information.</a></p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An exception for trying to create more than allowed resources or sub-resources. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddTagsRequest",
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>AddTags</a></code> operation. Specify the tags that you want to attach to the Elasticsearch domain.</p>",
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addTags",
      "operationName" : "AddTags",
      "returnType" : {
        "returnType" : "AddTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "AddTagsResult"
    },
    "CreateElasticsearchDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateElasticsearchDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateElasticsearchDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateElasticsearchDomainRequest, CreateElasticsearchDomainResult>",
      "asyncReturnType" : "CreateElasticsearchDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new Elasticsearch domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DisabledOperationException",
        "documentation" : "<p>An error occured because the client wanted to access a not supported operation. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>An exception for trying to create or access sub-resource that is either invalid or not supported. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An exception for trying to create more than allowed resources or sub-resources. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>An exception for creating a resource that already exists. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateElasticsearchDomainRequest",
        "variableName" : "createElasticsearchDomainRequest",
        "variableType" : "CreateElasticsearchDomainRequest",
        "documentation" : "",
        "simpleType" : "CreateElasticsearchDomainRequest",
        "variableSetterType" : "CreateElasticsearchDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createElasticsearchDomain",
      "operationName" : "CreateElasticsearchDomain",
      "returnType" : {
        "returnType" : "CreateElasticsearchDomainResult",
        "documentation" : "<p>The result of a <code>CreateElasticsearchDomain</code> operation. Contains the status of the newly created Elasticsearch domain.</p>"
      },
      "syncReturnType" : "CreateElasticsearchDomainResult"
    },
    "DeleteElasticsearchDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteElasticsearchDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteElasticsearchDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteElasticsearchDomainRequest, DeleteElasticsearchDomainResult>",
      "asyncReturnType" : "DeleteElasticsearchDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Permanently deletes the specified Elasticsearch domain and all of its data. Once a domain is deleted, it cannot be recovered.</p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteElasticsearchDomainRequest",
        "variableName" : "deleteElasticsearchDomainRequest",
        "variableType" : "DeleteElasticsearchDomainRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DeleteElasticsearchDomain</a></code> operation. Specifies the name of the Elasticsearch domain that you want to delete.</p>",
        "simpleType" : "DeleteElasticsearchDomainRequest",
        "variableSetterType" : "DeleteElasticsearchDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteElasticsearchDomain",
      "operationName" : "DeleteElasticsearchDomain",
      "returnType" : {
        "returnType" : "DeleteElasticsearchDomainResult",
        "documentation" : "<p>The result of a <code>DeleteElasticsearchDomain</code> request. Contains the status of the pending deletion, or no status if the domain and all of its resources have been deleted.</p>"
      },
      "syncReturnType" : "DeleteElasticsearchDomainResult"
    },
    "DeleteElasticsearchServiceRole" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteElasticsearchServiceRoleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteElasticsearchServiceRoleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteElasticsearchServiceRoleRequest, DeleteElasticsearchServiceRoleResult>",
      "asyncReturnType" : "DeleteElasticsearchServiceRoleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the service-linked role that Elasticsearch Service uses to manage and maintain VPC domains. Role deletion will fail if any existing VPC domains use the role. You must delete any such Elasticsearch domains before deleting the role. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html#es-enabling-slr\" target=\"_blank\">Deleting Elasticsearch Service Role</a> in <i>VPC Endpoints for Amazon Elasticsearch Service Domains</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteElasticsearchServiceRoleRequest",
        "variableName" : "deleteElasticsearchServiceRoleRequest",
        "variableType" : "DeleteElasticsearchServiceRoleRequest",
        "documentation" : null,
        "simpleType" : "DeleteElasticsearchServiceRoleRequest",
        "variableSetterType" : "DeleteElasticsearchServiceRoleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteElasticsearchServiceRole",
      "operationName" : "DeleteElasticsearchServiceRole",
      "returnType" : {
        "returnType" : "DeleteElasticsearchServiceRoleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteElasticsearchServiceRoleResult"
    },
    "DescribeElasticsearchDomain" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeElasticsearchDomainResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeElasticsearchDomainResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeElasticsearchDomainRequest, DescribeElasticsearchDomainResult>",
      "asyncReturnType" : "DescribeElasticsearchDomainResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns domain configuration information about the specified Elasticsearch domain, including the domain ID, domain endpoint, and domain ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeElasticsearchDomainRequest",
        "variableName" : "describeElasticsearchDomainRequest",
        "variableType" : "DescribeElasticsearchDomainRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeElasticsearchDomain</a></code> operation.</p>",
        "simpleType" : "DescribeElasticsearchDomainRequest",
        "variableSetterType" : "DescribeElasticsearchDomainRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeElasticsearchDomain",
      "operationName" : "DescribeElasticsearchDomain",
      "returnType" : {
        "returnType" : "DescribeElasticsearchDomainResult",
        "documentation" : "<p>The result of a <code>DescribeElasticsearchDomain</code> request. Contains the status of the domain specified in the request.</p>"
      },
      "syncReturnType" : "DescribeElasticsearchDomainResult"
    },
    "DescribeElasticsearchDomainConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeElasticsearchDomainConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeElasticsearchDomainConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeElasticsearchDomainConfigRequest, DescribeElasticsearchDomainConfigResult>",
      "asyncReturnType" : "DescribeElasticsearchDomainConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides cluster configuration information about the specified Elasticsearch domain, such as the state, creation date, update version, and update date for cluster options.</p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeElasticsearchDomainConfigRequest",
        "variableName" : "describeElasticsearchDomainConfigRequest",
        "variableType" : "DescribeElasticsearchDomainConfigRequest",
        "documentation" : "<p> Container for the parameters to the <code>DescribeElasticsearchDomainConfig</code> operation. Specifies the domain name for which you want configuration information.</p>",
        "simpleType" : "DescribeElasticsearchDomainConfigRequest",
        "variableSetterType" : "DescribeElasticsearchDomainConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeElasticsearchDomainConfig",
      "operationName" : "DescribeElasticsearchDomainConfig",
      "returnType" : {
        "returnType" : "DescribeElasticsearchDomainConfigResult",
        "documentation" : "<p>The result of a <code>DescribeElasticsearchDomainConfig</code> request. Contains the configuration information of the requested domain.</p>"
      },
      "syncReturnType" : "DescribeElasticsearchDomainConfigResult"
    },
    "DescribeElasticsearchDomains" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeElasticsearchDomainsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeElasticsearchDomainsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeElasticsearchDomainsRequest, DescribeElasticsearchDomainsResult>",
      "asyncReturnType" : "DescribeElasticsearchDomainsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns domain configuration information about the specified Elasticsearch domains, including the domain ID, domain endpoint, and domain ARN.</p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeElasticsearchDomainsRequest",
        "variableName" : "describeElasticsearchDomainsRequest",
        "variableType" : "DescribeElasticsearchDomainsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>DescribeElasticsearchDomains</a></code> operation. By default, the API returns the status of all Elasticsearch domains.</p>",
        "simpleType" : "DescribeElasticsearchDomainsRequest",
        "variableSetterType" : "DescribeElasticsearchDomainsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeElasticsearchDomains",
      "operationName" : "DescribeElasticsearchDomains",
      "returnType" : {
        "returnType" : "DescribeElasticsearchDomainsResult",
        "documentation" : "<p>The result of a <code>DescribeElasticsearchDomains</code> request. Contains the status of the specified domains or all domains owned by the account.</p>"
      },
      "syncReturnType" : "DescribeElasticsearchDomainsResult"
    },
    "DescribeElasticsearchInstanceTypeLimits" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeElasticsearchInstanceTypeLimitsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeElasticsearchInstanceTypeLimitsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeElasticsearchInstanceTypeLimitsRequest, DescribeElasticsearchInstanceTypeLimitsResult>",
      "asyncReturnType" : "DescribeElasticsearchInstanceTypeLimitsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Describe Elasticsearch Limits for a given InstanceType and ElasticsearchVersion. When modifying existing Domain, specify the <code> <a>DomainName</a> </code> to know what Limits are supported for modifying. </p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>An exception for trying to create or access sub-resource that is either invalid or not supported. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An exception for trying to create more than allowed resources or sub-resources. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeElasticsearchInstanceTypeLimitsRequest",
        "variableName" : "describeElasticsearchInstanceTypeLimitsRequest",
        "variableType" : "DescribeElasticsearchInstanceTypeLimitsRequest",
        "documentation" : "<p> Container for the parameters to <code> <a>DescribeElasticsearchInstanceTypeLimits</a> </code> operation. </p>",
        "simpleType" : "DescribeElasticsearchInstanceTypeLimitsRequest",
        "variableSetterType" : "DescribeElasticsearchInstanceTypeLimitsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeElasticsearchInstanceTypeLimits",
      "operationName" : "DescribeElasticsearchInstanceTypeLimits",
      "returnType" : {
        "returnType" : "DescribeElasticsearchInstanceTypeLimitsResult",
        "documentation" : "<p> Container for the parameters received from <code> <a>DescribeElasticsearchInstanceTypeLimits</a> </code> operation. </p>"
      },
      "syncReturnType" : "DescribeElasticsearchInstanceTypeLimitsResult"
    },
    "ListDomainNames" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDomainNamesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDomainNamesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDomainNamesRequest, ListDomainNamesResult>",
      "asyncReturnType" : "ListDomainNamesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the name of all Elasticsearch domains owned by the current user's account. </p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDomainNamesRequest",
        "variableName" : "listDomainNamesRequest",
        "variableType" : "ListDomainNamesRequest",
        "documentation" : null,
        "simpleType" : "ListDomainNamesRequest",
        "variableSetterType" : "ListDomainNamesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDomainNames",
      "operationName" : "ListDomainNames",
      "returnType" : {
        "returnType" : "ListDomainNamesResult",
        "documentation" : "<p>The result of a <code>ListDomainNames</code> operation. Contains the names of all Elasticsearch domains owned by this account.</p>"
      },
      "syncReturnType" : "ListDomainNamesResult"
    },
    "ListElasticsearchInstanceTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListElasticsearchInstanceTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListElasticsearchInstanceTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListElasticsearchInstanceTypesRequest, ListElasticsearchInstanceTypesResult>",
      "asyncReturnType" : "ListElasticsearchInstanceTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List all Elasticsearch instance types that are supported for given ElasticsearchVersion</p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListElasticsearchInstanceTypesRequest",
        "variableName" : "listElasticsearchInstanceTypesRequest",
        "variableType" : "ListElasticsearchInstanceTypesRequest",
        "documentation" : "<p> Container for the parameters to the <code> <a>ListElasticsearchInstanceTypes</a> </code> operation. </p>",
        "simpleType" : "ListElasticsearchInstanceTypesRequest",
        "variableSetterType" : "ListElasticsearchInstanceTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listElasticsearchInstanceTypes",
      "operationName" : "ListElasticsearchInstanceTypes",
      "returnType" : {
        "returnType" : "ListElasticsearchInstanceTypesResult",
        "documentation" : "<p> Container for the parameters returned by <code> <a>ListElasticsearchInstanceTypes</a> </code> operation. </p>"
      },
      "syncReturnType" : "ListElasticsearchInstanceTypesResult"
    },
    "ListElasticsearchVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListElasticsearchVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListElasticsearchVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListElasticsearchVersionsRequest, ListElasticsearchVersionsResult>",
      "asyncReturnType" : "ListElasticsearchVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List all supported Elasticsearch versions</p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListElasticsearchVersionsRequest",
        "variableName" : "listElasticsearchVersionsRequest",
        "variableType" : "ListElasticsearchVersionsRequest",
        "documentation" : "<p> Container for the parameters to the <code> <a>ListElasticsearchVersions</a> </code> operation. <p> Use <code> <a>MaxResults</a> </code> to control the maximum number of results to retrieve in a single call. </p> <p> Use <code> <a>NextToken</a> </code> in response to retrieve more results. If the received response does not contain a NextToken, then there are no more results to retrieve. </p> </p>",
        "simpleType" : "ListElasticsearchVersionsRequest",
        "variableSetterType" : "ListElasticsearchVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listElasticsearchVersions",
      "operationName" : "ListElasticsearchVersions",
      "returnType" : {
        "returnType" : "ListElasticsearchVersionsResult",
        "documentation" : "<p> Container for the parameters for response received from <code> <a>ListElasticsearchVersions</a> </code> operation. </p>"
      },
      "syncReturnType" : "ListElasticsearchVersionsResult"
    },
    "ListTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsRequest, ListTagsResult>",
      "asyncReturnType" : "ListTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns all tags for the given Elasticsearch domain.</p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTagsRequest",
        "variableName" : "listTagsRequest",
        "variableType" : "ListTagsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>ListTags</a></code> operation. Specify the <code>ARN</code> for the Elasticsearch domain to which the tags are attached that you want to view are attached.</p>",
        "simpleType" : "ListTagsRequest",
        "variableSetterType" : "ListTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTags",
      "operationName" : "ListTags",
      "returnType" : {
        "returnType" : "ListTagsResult",
        "documentation" : "<p>The result of a <code>ListTags</code> operation. Contains tags for all requested Elasticsearch domains.</p>"
      },
      "syncReturnType" : "ListTagsResult"
    },
    "RemoveTags" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTagsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTagsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTagsRequest, RemoveTagsResult>",
      "asyncReturnType" : "RemoveTagsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified set of tags from the specified Elasticsearch domain.</p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemoveTagsRequest",
        "variableName" : "removeTagsRequest",
        "variableType" : "RemoveTagsRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>RemoveTags</a></code> operation. Specify the <code>ARN</code> for the Elasticsearch domain from which you want to remove the specified <code>TagKey</code>.</p>",
        "simpleType" : "RemoveTagsRequest",
        "variableSetterType" : "RemoveTagsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeTags",
      "operationName" : "RemoveTags",
      "returnType" : {
        "returnType" : "RemoveTagsResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveTagsResult"
    },
    "UpdateElasticsearchDomainConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateElasticsearchDomainConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateElasticsearchDomainConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateElasticsearchDomainConfigRequest, UpdateElasticsearchDomainConfigResult>",
      "asyncReturnType" : "UpdateElasticsearchDomainConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the cluster configuration of the specified Elasticsearch domain, setting as setting the instance type and the number of instances. </p>",
      "exceptions" : [ {
        "exceptionName" : "BaseException",
        "documentation" : "<p>An error occurred while processing the request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>An exception for trying to create or access sub-resource that is either invalid or not supported. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>An exception for trying to create more than allowed resources or sub-resources. Gives http status code of 409.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception for accessing or deleting a resource that does not exist. Gives http status code of 400.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception for missing / invalid input fields. Gives http status code of 400.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateElasticsearchDomainConfigRequest",
        "variableName" : "updateElasticsearchDomainConfigRequest",
        "variableType" : "UpdateElasticsearchDomainConfigRequest",
        "documentation" : "<p>Container for the parameters to the <code><a>UpdateElasticsearchDomain</a></code> operation. Specifies the type and number of instances in the domain cluster.</p>",
        "simpleType" : "UpdateElasticsearchDomainConfigRequest",
        "variableSetterType" : "UpdateElasticsearchDomainConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateElasticsearchDomainConfig",
      "operationName" : "UpdateElasticsearchDomainConfig",
      "returnType" : {
        "returnType" : "UpdateElasticsearchDomainConfigResult",
        "documentation" : "<p>The result of an <code>UpdateElasticsearchDomain</code> request. Contains the status of the Elasticsearch domain being updated.</p>"
      },
      "syncReturnType" : "UpdateElasticsearchDomainConfigResult"
    }
  },
  "shapes" : {
    "AccessPoliciesStatus" : {
      "c2jName" : "AccessPoliciesStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The configured access rules for the domain's document and search endpoints, and the current status of those rules.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Options",
        "c2jShape" : "PolicyDocument",
        "deprecated" : false,
        "documentation" : "<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@param options The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOptions",
        "getterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@return The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.*/",
        "getterMethodName" : "getOptions",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Options",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Options",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Options",
        "setterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@param options The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.*/",
        "setterMethodName" : "setOptions",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "options",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@param options The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "options",
          "variableType" : "String",
          "documentation" : "<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Status",
        "c2jShape" : "OptionStatus",
        "deprecated" : false,
        "documentation" : "<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@param status The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@return The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "OptionStatus",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Status",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Status",
        "setterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@param status The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "variableDeclarationType" : "OptionStatus",
          "variableName" : "status",
          "variableType" : "OptionStatus",
          "documentation" : "",
          "simpleType" : "OptionStatus",
          "variableSetterType" : "OptionStatus"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@param status The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "OptionStatus",
          "variableName" : "status",
          "variableType" : "OptionStatus",
          "documentation" : "<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>",
          "simpleType" : "OptionStatus",
          "variableSetterType" : "OptionStatus"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Options" : {
          "c2jName" : "Options",
          "c2jShape" : "PolicyDocument",
          "deprecated" : false,
          "documentation" : "<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@param options The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOptions",
          "getterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@return The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.*/",
          "getterMethodName" : "getOptions",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Options",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Options",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Options",
          "setterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@param options The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.*/",
          "setterMethodName" : "setOptions",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "options",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>\n@param options The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "options",
            "variableType" : "String",
            "documentation" : "<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Status" : {
          "c2jName" : "Status",
          "c2jShape" : "OptionStatus",
          "deprecated" : false,
          "documentation" : "<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@param status The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStatus",
          "getterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@return The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.*/",
          "getterMethodName" : "getStatus",
          "getterModel" : {
            "returnType" : "OptionStatus",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Status",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Status",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Status",
          "setterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@param status The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.*/",
          "setterMethodName" : "setStatus",
          "setterModel" : {
            "variableDeclarationType" : "OptionStatus",
            "variableName" : "status",
            "variableType" : "OptionStatus",
            "documentation" : "",
            "simpleType" : "OptionStatus",
            "variableSetterType" : "OptionStatus"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>\n@param status The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "OptionStatus",
            "variableName" : "status",
            "variableType" : "OptionStatus",
            "documentation" : "<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>",
            "simpleType" : "OptionStatus",
            "variableSetterType" : "OptionStatus"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Options", "Status" ],
      "shapeName" : "AccessPoliciesStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AccessPoliciesStatus",
        "variableName" : "accessPoliciesStatus",
        "variableType" : "AccessPoliciesStatus",
        "documentation" : null,
        "simpleType" : "AccessPoliciesStatus",
        "variableSetterType" : "AccessPoliciesStatus"
      },
      "wrapper" : false
    },
    "AddTagsRequest" : {
      "c2jName" : "AddTagsRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Container for the parameters to the <code><a>AddTags</a></code> operation. Specify the tags that you want to attach to the Elasticsearch domain.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddTags",
        "locationName" : null,
        "requestUri" : "/2015-01-01/tags",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ARN",
        "c2jShape" : "ARN",
        "deprecated" : false,
        "documentation" : "<p> Specify the <code>ARN</code> for which you want to add the tags.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Specify the <code>ARN</code> for which you want to add the tags.</p>\n@param aRN Specify the <code>ARN</code> for which you want to add the tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withARN",
        "getterDocumentation" : "/**<p> Specify the <code>ARN</code> for which you want to add the tags.</p>\n@return Specify the <code>ARN</code> for which you want to add the tags.*/",
        "getterMethodName" : "getARN",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ARN",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ARN",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ARN",
        "setterDocumentation" : "/**<p> Specify the <code>ARN</code> for which you want to add the tags.</p>\n@param aRN Specify the <code>ARN</code> for which you want to add the tags.*/",
        "setterMethodName" : "setARN",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "aRN",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Specify the <code>ARN</code> for which you want to add the tags.</p>\n@param aRN Specify the <code>ARN</code> for which you want to add the tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "aRN",
          "variableType" : "String",
          "documentation" : "<p> Specify the <code>ARN</code> for which you want to add the tags.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TagList",
        "c2jShape" : "TagList",
        "deprecated" : false,
        "documentation" : "<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>\n@param tagList List of <code>Tag</code> that need to be added for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTagList",
        "getterDocumentation" : "/**<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>\n@return List of <code>Tag</code> that need to be added for the Elasticsearch domain.*/",
        "getterMethodName" : "getTagList",
        "getterModel" : {
          "returnType" : "java.util.List<Tag>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TagList",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TagList",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Tag",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Tag",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "Tag",
              "variableName" : "member",
              "variableType" : "Tag",
              "documentation" : "",
              "simpleType" : "Tag",
              "variableSetterType" : "Tag"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Tag",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Tag",
          "templateImplType" : "java.util.ArrayList<Tag>",
          "templateType" : "java.util.List<Tag>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "TagList",
        "setterDocumentation" : "/**<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>\n@param tagList List of <code>Tag</code> that need to be added for the Elasticsearch domain.*/",
        "setterMethodName" : "setTagList",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tagList",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTagList(java.util.Collection)} or {@link #withTagList(java.util.Collection)} if you want to override the existing values.</p>\n@param tagList List of <code>Tag</code> that need to be added for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<Tag>",
          "variableName" : "tagList",
          "variableType" : "java.util.List<Tag>",
          "documentation" : "<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>",
          "simpleType" : "List<Tag>",
          "variableSetterType" : "java.util.Collection<Tag>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ARN" : {
          "c2jName" : "ARN",
          "c2jShape" : "ARN",
          "deprecated" : false,
          "documentation" : "<p> Specify the <code>ARN</code> for which you want to add the tags.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> Specify the <code>ARN</code> for which you want to add the tags.</p>\n@param aRN Specify the <code>ARN</code> for which you want to add the tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withARN",
          "getterDocumentation" : "/**<p> Specify the <code>ARN</code> for which you want to add the tags.</p>\n@return Specify the <code>ARN</code> for which you want to add the tags.*/",
          "getterMethodName" : "getARN",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ARN",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ARN",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ARN",
          "setterDocumentation" : "/**<p> Specify the <code>ARN</code> for which you want to add the tags.</p>\n@param aRN Specify the <code>ARN</code> for which you want to add the tags.*/",
          "setterMethodName" : "setARN",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "aRN",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> Specify the <code>ARN</code> for which you want to add the tags.</p>\n@param aRN Specify the <code>ARN</code> for which you want to add the tags.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "aRN",
            "variableType" : "String",
            "documentation" : "<p> Specify the <code>ARN</code> for which you want to add the tags.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "TagList" : {
          "c2jName" : "TagList",
          "c2jShape" : "TagList",
          "deprecated" : false,
          "documentation" : "<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>\n@param tagList List of <code>Tag</code> that need to be added for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTagList",
          "getterDocumentation" : "/**<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>\n@return List of <code>Tag</code> that need to be added for the Elasticsearch domain.*/",
          "getterMethodName" : "getTagList",
          "getterModel" : {
            "returnType" : "java.util.List<Tag>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "TagList",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TagList",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Tag",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Tag",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "variableDeclarationType" : "Tag",
                "variableName" : "member",
                "variableType" : "Tag",
                "documentation" : "",
                "simpleType" : "Tag",
                "variableSetterType" : "Tag"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Tag",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Tag",
            "templateImplType" : "java.util.ArrayList<Tag>",
            "templateType" : "java.util.List<Tag>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "TagList",
          "setterDocumentation" : "/**<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>\n@param tagList List of <code>Tag</code> that need to be added for the Elasticsearch domain.*/",
          "setterMethodName" : "setTagList",
          "setterModel" : {
            "variableDeclarationType" : "java.util.List<Tag>",
            "variableName" : "tagList",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setTagList(java.util.Collection)} or {@link #withTagList(java.util.Collection)} if you want to override the existing values.</p>\n@param tagList List of <code>Tag</code> that need to be added for the Elasticsearch domain.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "java.util.List<Tag>",
            "variableName" : "tagList",
            "variableType" : "java.util.List<Tag>",
            "documentation" : "<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>",
            "simpleType" : "List<Tag>",
            "variableSetterType" : "java.util.Collection<Tag>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ARN", "TagList" ],
      "shapeName" : "AddTagsRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AddTagsRequest",
        "variableName" : "addTagsRequest",
        "variableType" : "AddTagsRequest",
        "documentation" : null,
        "simpleType" : "AddTagsRequest",
        "variableSetterType" : "AddTagsRequest"
      },
      "wrapper" : false
    },
    "AddTagsResult" : {
      "c2jName" : "AddTagsResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AddTagsResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AddTagsResult",
        "variableName" : "addTagsResult",
        "variableType" : "AddTagsResult",
        "documentation" : null,
        "simpleType" : "AddTagsResult",
        "variableSetterType" : "AddTagsResult"
      },
      "wrapper" : false
    },
    "AdditionalLimit" : {
      "c2jName" : "AdditionalLimit",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> List of limits that are specific to a given InstanceType and for each of it's <code> <a>InstanceRole</a> </code> . </p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "LimitName",
        "c2jShape" : "LimitName",
        "deprecated" : false,
        "documentation" : "<p> Name of Additional Limit is specific to a given InstanceType and for each of it's <code> <a>InstanceRole</a> </code> etc. <br/> Attributes and their details: <br/> <ul> <li>MaximumNumberOfDataNodesSupported</li> This attribute will be present in Master node only to specify how much data nodes upto which given <code> <a>ESPartitionInstanceType</a> </code> can support as master node. <li>MaximumNumberOfDataNodesWithoutMasterNode</li> This attribute will be present in Data node only to specify how much data nodes of given <code> <a>ESPartitionInstanceType</a> </code> upto which you don't need any master nodes to govern them. </ul> </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Name of Additional Limit is specific to a given InstanceType and for each of it's <code> <a>InstanceRole</a> </code> etc. <br/> Attributes and their details: <br/> <ul> <li>MaximumNumberOfDataNodesSupported</li> This attribute will be present in Master node only to specify how much data nodes upto which given <code> <a>ESPartitionInstanceType</a> </code> can support as master node. <li>MaximumNumberOfDataNodesWithoutMasterNode</li> This attribute will be present in Data node only to specify how much data nodes of given <code> <a>ESPartitionInstanceType</a> </code> upto which you don't need any master nodes to govern them. </ul> </p>\n@param limitName Name of Additional Limit is specific to a given InstanceType and for each of it's <code> <a>InstanceRole</a> </code> etc. <br/> Attributes and their details: <br/> <ul> <li>MaximumNumberOfDataNodesSupported</li> This attribute will be present in Master node only to specify how much data nodes upto which given <code> <a>ESPartitionInstanceType</a> </code> can support as master node. <li>MaximumNumberOfDataNodesWithoutMasterNode</li> This attribute will be present in Data node only to specify how much data nodes of given <code> <a>ESPartitionInstanceType</a> </code> upto which you don't need any master nodes to govern them. </ul>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLimitName",
        "getterDocumentation" : "/**<p> Name of Additional Limit is specific to a given InstanceType and for each of it's <code> <a>InstanceRole</a> </code> etc. <br/> Attributes and their details: <br/> <ul> <li>MaximumNumberOfDataNodesSupported</li> This attribute will be present in Master node only to specify how much data nodes upto which given <code> <a>ESPartitionInstanceType</a> </code> can support as master node. <li>MaximumNumberOfDataNodesWithoutMasterNode</li> This attribute will be present in Data node only to specify how much data nodes of given <code> <a>ESPartitionInstanceType</a> </code> upto which you don't need any master nodes to govern them. </ul> </p>\n@return Name of Additional Limit is specific to a given InstanceType and for each of it's <code> <a>InstanceRole</a> </code> etc. <br/> Attributes and their details: <br/> <ul> <li>MaximumNumberOfDataNodesSupported</li> This attribute will be present in Master node only to specify how much data nodes upto which given <code> <a>ESPartitionInstanceType</a> </code> can support as master node. <li>MaximumNumberOfDataNodesWithoutMasterNode</li> This attribute will be present in Data node only to specify how much data nodes of given <code> <a>ESPartitionInstanceType</a> </code> upto which you don't need any master nodes to govern them. </ul>*/",
        "getterMethodName" : "getLimitName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LimitName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LimitName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LimitName",
        "setterDocumentation" : "/**<p> Name of Additional Limit is specific to a given InstanceType and for each of it's <code> <a>InstanceRole</a> </code> etc. <br/> Attributes and their details: <br/> <ul> <li>MaximumNumberOfDataNodesSupported</li> This attribute will be present in Master node only to specify how much data nodes upto which given <code> <a>ESPartitionInstanceType</a> </code> can support as master node. <li>MaximumNumberOfDataNodesWithoutMasterNode</li> This attribute will be present in Data node only to specify how much data nodes of given <code> <a>ESPartitionInstanceType</a> </code> upto which you don't need any master nodes to govern them. </ul> </p>\n@param limitName Name of Additional Limit is specific to a given InstanceType and for each of it's <code> <a>InstanceRole</a> </code> etc. <br/> Attributes and their details: <br/> <ul> <li>MaximumNumberOfDataNodesSupported</li> This attribute will be present in Master node only to specify how much data nodes upto which given <code> <a>ESPartitionInstanceType</a> </code> can support as master node. <li>MaximumNumberOfDataNodesWithoutMasterNode</li> This attribute will be present in Data node only to specify how much data nodes of given <code> <a>ESPartitionInstanceType</a> </code> upto which you don't need any master nodes to govern them. </ul>*/",
        "setterMethodName" : "setLimitName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "limitName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Name of Additional Limit is specific to a given InstanceType and for each of it's <code> <a>InstanceRole</a> </code> etc. <br/> Attributes and their details: <br/> <ul> <li>MaximumNumberOfDataNodesSupported</li> This attribute will be present in Master node only to specify how much data nodes upto which given <code> <a>ESPartitionInstanceType</a> </code> can support as master node. <li>MaximumNumberOfDataNodesWithoutMasterNode</li> This attribute will be present in Data node only to specify how much data nodes of given <code> <a>ESPartitionInstanceType</a> </code> upto which you don't need any master nodes to govern them. </ul> </p>\n@param limitName Name of Additional Limit is specific to a given InstanceType and for each of it's <code> <a>InstanceRole</a> </code> etc. <br/> Attributes and their details: <br/> <ul> <li>MaximumNumberOfDataNodesSupported</li> This attribute will be present in Master node only to specify how much data nodes upto which given <code> <a>ESPartitionInstanceType</a> </code> can support as master node. <li>MaximumNumberOfDataNodesWithoutMasterNode</li> This attribute will be present in Data node only to specify how much data nodes of given <code> <a>ESPartitionInstanceType</a> </code> upto which you don't need any master nodes to govern them. </ul>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "limitName",
          "variableType" : "String",
          "documentation" : "<p> Name of Additional Limit is specific to a given InstanceType and for each of it's <code> <a>InstanceRole</a> </code> etc. <br/> Attributes and their details: <br/> <ul> <li>MaximumNumberOfDataNodesSupported</li> This attribute will be present in Master node only to specify how much data nodes upto which given <code> <a>ESPartitionInstanceType</a> </code> can support as master node. <li>MaximumNumberOfDataNodesWithoutMasterNode</li> This attribute will be present in Data node only to specify how much data nodes of given <code> <a>ESPartitionInstanceType</a> </code> upto which you don't need any master nodes to govern them. </ul> </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LimitValues",
        "c2jShape" : "LimitValueList",
        "deprecated" : false,
        "documentation" : "<p> Value for given <code> <a>AdditionalLimit$LimitName</a> </code> . </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> Value for given <code> <a>AdditionalLimit$LimitName</a> </code> . </p>\n@param limitValues Value for given <code> <a>AdditionalLimit$LimitName</a> </code> .\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLimitValues",
        "getterDocumentation" : "/**<p> Value for given <code> <a>AdditionalLimit$LimitName</a> </code> . </p>\n@return Value for given <code> <a>AdditionalLimit$LimitName</a> </code> .*/",
        "getterMethodName" : "getLimitValues",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LimitValues",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LimitValues",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "LimitValue",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "LimitValues",
        "setterDocumentation" : "/**<p> Value for given <code> <a>AdditionalLimit$LimitName</a> </code> . </p>\n@param limitValues Value for given <code> <a>AdditionalLimit$LimitName</a> </code> .*/",
        "setterMethodName" : "setLimitValues",
        "setterModel" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "limitValues",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> Value for given <code> <a>AdditionalLimit$LimitName</a> </code> . </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setLimitValues(java.util.Collection)} or {@link #withLimitValues(java.util.Collection)} if you want to override the existing values.</p>\n@param limitValues Value for given <code> <a>AdditionalLimit$LimitName</a> </code> .\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "limitValues",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p> Value for given <code> <a>AdditionalLimit$LimitName</a> </code> . </p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "LimitName" : {
[...]
