{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "DescribeRuleResponse" : [ "State" ],
      "PutRuleRequest" : [ "State" ],
      "Rule" : [ "State" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-10-07",
    "asyncClient" : "AmazonCloudWatchEventsAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCloudWatchEventsAsyncClientBuilder",
    "asyncInterface" : "AmazonCloudWatchEventsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonCloudWatchEventsModuleInjector",
    "defaultEndpoint" : "events.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "events.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon CloudWatch Events helps you to respond to state changes in your AWS resources. When your resources change state, they automatically send events into an event stream. You can create rules that match selected events in the stream and route them to targets to take action. You can also use rules to take action on a pre-determined schedule. For example, you can configure rules to:</p> <ul> <li> <p>Automatically invoke an AWS Lambda function to update DNS entries when an event notifies you that Amazon EC2 instance enters the running state.</p> </li> <li> <p>Direct specific API records from CloudTrail to an Amazon Kinesis stream for detailed analysis of potential security or availability risks.</p> </li> <li> <p>Periodically invoke a built-in target to create a snapshot of an Amazon EBS volume.</p> </li> </ul> <p>For more information about the features of Amazon CloudWatch Events, see the <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/events\">Amazon CloudWatch Events User Guide</a>.</p>",
    "endpointPrefix" : "events",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.cloudwatchevents",
    "packagePath" : "com/amazonaws/services/cloudwatchevents",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon CloudWatch Events",
    "serviceName" : "Amazon CloudWatch Events",
    "signingName" : "events",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudwatchevents.smoketests",
    "syncClient" : "AmazonCloudWatchEventsClient",
    "syncClientBuilderClassName" : "AmazonCloudWatchEventsClientBuilder",
    "syncInterface" : "AmazonCloudWatchEvents",
    "uid" : "events-2015-10-07",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DeleteRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRuleRequest, DeleteRuleResult>",
      "asyncReturnType" : "DeleteRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified rule.</p> <p>You must remove all targets from a rule using <a>RemoveTargets</a> before you can delete the rule.</p> <p>When you delete a rule, incoming events might continue to match to the deleted rule. Please allow a short period of time for changes to take effect.</p>",
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is concurrent modification on a rule or target.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteRuleRequest",
        "variableName" : "deleteRuleRequest",
        "variableType" : "DeleteRuleRequest",
        "documentation" : "",
        "simpleType" : "DeleteRuleRequest",
        "variableSetterType" : "DeleteRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRule",
      "operationName" : "DeleteRule",
      "returnType" : {
        "returnType" : "DeleteRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRuleResult"
    },
    "DescribeEventBus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEventBusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEventBusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEventBusRequest, DescribeEventBusResult>",
      "asyncReturnType" : "DescribeEventBusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays the external AWS accounts that are permitted to write events to your account using your account's event bus, and the associated policy. To enable your account to receive events from other accounts, use <a>PutPermission</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeEventBusRequest",
        "variableName" : "describeEventBusRequest",
        "variableType" : "DescribeEventBusRequest",
        "documentation" : "",
        "simpleType" : "DescribeEventBusRequest",
        "variableSetterType" : "DescribeEventBusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEventBus",
      "operationName" : "DescribeEventBus",
      "returnType" : {
        "returnType" : "DescribeEventBusResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEventBusResult"
    },
    "DescribeRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRuleRequest, DescribeRuleResult>",
      "asyncReturnType" : "DescribeRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified rule.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeRuleRequest",
        "variableName" : "describeRuleRequest",
        "variableType" : "DescribeRuleRequest",
        "documentation" : "",
        "simpleType" : "DescribeRuleRequest",
        "variableSetterType" : "DescribeRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRule",
      "operationName" : "DescribeRule",
      "returnType" : {
        "returnType" : "DescribeRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRuleResult"
    },
    "DisableRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableRuleRequest, DisableRuleResult>",
      "asyncReturnType" : "DisableRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables the specified rule. A disabled rule won't match any events, and won't self-trigger if it has a schedule expression.</p> <p>When you disable a rule, incoming events might continue to match to the disabled rule. Please allow a short period of time for changes to take effect.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is concurrent modification on a rule or target.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisableRuleRequest",
        "variableName" : "disableRuleRequest",
        "variableType" : "DisableRuleRequest",
        "documentation" : "",
        "simpleType" : "DisableRuleRequest",
        "variableSetterType" : "DisableRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableRule",
      "operationName" : "DisableRule",
      "returnType" : {
        "returnType" : "DisableRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableRuleResult"
    },
    "EnableRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableRuleRequest, EnableRuleResult>",
      "asyncReturnType" : "EnableRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables the specified rule. If the rule does not exist, the operation fails.</p> <p>When you enable a rule, incoming events might not immediately start matching to a newly enabled rule. Please allow a short period of time for changes to take effect.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is concurrent modification on a rule or target.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "EnableRuleRequest",
        "variableName" : "enableRuleRequest",
        "variableType" : "EnableRuleRequest",
        "documentation" : "",
        "simpleType" : "EnableRuleRequest",
        "variableSetterType" : "EnableRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableRule",
      "operationName" : "EnableRule",
      "returnType" : {
        "returnType" : "EnableRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableRuleResult"
    },
    "ListRuleNamesByTarget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRuleNamesByTargetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRuleNamesByTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRuleNamesByTargetRequest, ListRuleNamesByTargetResult>",
      "asyncReturnType" : "ListRuleNamesByTargetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the rules for the specified target. You can see which of the rules in Amazon CloudWatch Events can invoke a specific target in your account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListRuleNamesByTargetRequest",
        "variableName" : "listRuleNamesByTargetRequest",
        "variableType" : "ListRuleNamesByTargetRequest",
        "documentation" : "",
        "simpleType" : "ListRuleNamesByTargetRequest",
        "variableSetterType" : "ListRuleNamesByTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRuleNamesByTarget",
      "operationName" : "ListRuleNamesByTarget",
      "returnType" : {
        "returnType" : "ListRuleNamesByTargetResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRuleNamesByTargetResult"
    },
    "ListRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRulesRequest, ListRulesResult>",
      "asyncReturnType" : "ListRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists your Amazon CloudWatch Events rules. You can either list all the rules or you can provide a prefix to match to the rule names.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListRulesRequest",
        "variableName" : "listRulesRequest",
        "variableType" : "ListRulesRequest",
        "documentation" : "",
        "simpleType" : "ListRulesRequest",
        "variableSetterType" : "ListRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRules",
      "operationName" : "ListRules",
      "returnType" : {
        "returnType" : "ListRulesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRulesResult"
    },
    "ListTargetsByRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTargetsByRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTargetsByRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTargetsByRuleRequest, ListTargetsByRuleResult>",
      "asyncReturnType" : "ListTargetsByRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the targets assigned to the specified rule.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTargetsByRuleRequest",
        "variableName" : "listTargetsByRuleRequest",
        "variableType" : "ListTargetsByRuleRequest",
        "documentation" : "",
        "simpleType" : "ListTargetsByRuleRequest",
        "variableSetterType" : "ListTargetsByRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTargetsByRule",
      "operationName" : "ListTargetsByRule",
      "returnType" : {
        "returnType" : "ListTargetsByRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTargetsByRuleResult"
    },
    "PutEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutEventsRequest, PutEventsResult>",
      "asyncReturnType" : "PutEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends custom events to Amazon CloudWatch Events so that they can be matched to rules.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutEventsRequest",
        "variableName" : "putEventsRequest",
        "variableType" : "PutEventsRequest",
        "documentation" : "",
        "simpleType" : "PutEventsRequest",
        "variableSetterType" : "PutEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putEvents",
      "operationName" : "PutEvents",
      "returnType" : {
        "returnType" : "PutEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutEventsResult"
    },
    "PutPermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutPermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutPermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutPermissionRequest, PutPermissionResult>",
      "asyncReturnType" : "PutPermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Running <code>PutPermission</code> permits the specified AWS account to put events to your account's default <i>event bus</i>. CloudWatch Events rules in your account are triggered by these events arriving to your default event bus. </p> <p>For another account to send events to your account, that external account must have a CloudWatch Events rule with your account's default event bus as a target.</p> <p>To enable multiple AWS accounts to put events to your default event bus, run <code>PutPermission</code> once for each of these accounts.</p> <p>The permission policy on the default event bus cannot exceed 10KB in size.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PolicyLengthExceededException",
        "documentation" : "<p>The event bus policy is too long. For more information, see the limits.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is concurrent modification on a rule or target.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutPermissionRequest",
        "variableName" : "putPermissionRequest",
        "variableType" : "PutPermissionRequest",
        "documentation" : "",
        "simpleType" : "PutPermissionRequest",
        "variableSetterType" : "PutPermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putPermission",
      "operationName" : "PutPermission",
      "returnType" : {
        "returnType" : "PutPermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "PutPermissionResult"
    },
    "PutRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRuleRequest, PutRuleResult>",
      "asyncReturnType" : "PutRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates the specified rule. Rules are enabled by default, or based on value of the state. You can disable a rule using <a>DisableRule</a>.</p> <p>When you create or update a rule, incoming events might not immediately start matching to new or updated rules. Please allow a short period of time for changes to take effect.</p> <p>A rule must contain at least an EventPattern or ScheduleExpression. Rules with EventPatterns are triggered when a matching event is observed. Rules with ScheduleExpressions self-trigger based on the given schedule. A rule can have both an EventPattern and a ScheduleExpression, in which case the rule triggers on matching events as well as on a schedule.</p> <p>Most services in AWS treat : or / as the same character in Amazon Resource Names (ARNs). However, CloudWatch Events uses an exact match in event patterns and rules. Be sure to use the correct ARN characters when creating event patterns so that they match the ARN syntax in the event you want to match.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidEventPatternException",
        "documentation" : "<p>The event pattern is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You tried to create more rules or add more targets to a rule than is allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is concurrent modification on a rule or target.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutRuleRequest",
        "variableName" : "putRuleRequest",
        "variableType" : "PutRuleRequest",
        "documentation" : "",
        "simpleType" : "PutRuleRequest",
        "variableSetterType" : "PutRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRule",
      "operationName" : "PutRule",
      "returnType" : {
        "returnType" : "PutRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "PutRuleResult"
    },
    "PutTargets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutTargetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutTargetsRequest, PutTargetsResult>",
      "asyncReturnType" : "PutTargetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified targets to the specified rule, or updates the targets if they are already associated with the rule.</p> <p>Targets are the resources that are invoked when a rule is triggered.</p> <p>You can configure the following as targets for CloudWatch Events:</p> <ul> <li> <p>EC2 instances</p> </li> <li> <p>AWS Lambda functions</p> </li> <li> <p>Streams in Amazon Kinesis Streams</p> </li> <li> <p>Delivery streams in Amazon Kinesis Firehose</p> </li> <li> <p>Amazon ECS tasks</p> </li> <li> <p>AWS Step Functions state machines</p> </li> <li> <p>Pipelines in Amazon Code Pipeline</p> </li> <li> <p>Amazon Inspector assessment templates</p> </li> <li> <p>Amazon SNS topics</p> </li> <li> <p>Amazon SQS queues</p> </li> <li> <p>The default event bus of another AWS account</p> </li> </ul> <p>Note that creating rules with built-in targets is supported only in the AWS Management Console.</p> <p>For some target types, <code>PutTargets</code> provides target-specific parameters. If the target is an Amazon Kinesis stream, you can optionally specify which shard the event goes to by using the <code>KinesisParameters</code> argument. To invoke a command on multiple EC2 instances with one rule, you can use the <code>RunCommandParameters</code> field.</p> <p>To be able to make API calls against the resources that you own, Amazon CloudWatch Events needs the appropriate permissions. For AWS Lambda and Amazon SNS resources, CloudWatch Events relies on resource-based policies. For EC2 instances, Amazon Kinesis streams, and AWS Step Functions state machines, CloudWatch Events relies on IAM roles that you specify in the <code>RoleARN</code> argument in <code>PutTargets</code>. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/events/auth-and-access-control-cwe.html\">Authentication and Access Control</a> in the <i>Amazon CloudWatch Events User Guide</i>.</p> <p>If another AWS account is in the same region and has granted you permission (using <code>PutPermission</code>), you can send events to that account by setting that account's event bus as a target of the rules in your account. To send the matched events to the other account, specify that account's event bus as the <code>Arn</code> when you run <code>PutTargets</code>. If your account sends events to another account, your account is charged for each sent event. Each event sent to antoher account is charged as a custom event. The account receiving the event is not charged. For more information on pricing, see <a href=\"https://aws.amazon.com/cloudwatch/pricing/\">Amazon CloudWatch Pricing</a>.</p> <p>For more information about enabling cross-account events, see <a>PutPermission</a>.</p> <p> <b>Input</b>, <b>InputPath</b> and <b>InputTransformer</b> are mutually exclusive and optional parameters of a target. When a rule is triggered due to a matched event:</p> <ul> <li> <p>If none of the following arguments are specified for a target, then the entire event is passed to the target in JSON form (unless the target is Amazon EC2 Run Command or Amazon ECS task, in which case nothing from the event is passed to the target).</p> </li> <li> <p>If <b>Input</b> is specified in the form of valid JSON, then the matched event is overridden with this constant.</p> </li> <li> <p>If <b>InputPath</b> is specified in the form of JSONPath (for example, <code>$.detail</code>), then only the part of the event specified in the path is passed to the target (for example, only the detail part of the event is passed).</p> </li> <li> <p>If <b>InputTransformer</b> is specified, then one or more specified JSONPaths are extracted from the event and used as values in a template that you specify as the input to the target.</p> </li> </ul> <p>When you specify <code>Input</code>, <code>InputPath</code>, or <code>InputTransformer</code>, you must use JSON dot notation, not bracket notation.</p> <p>When you add targets to a rule and the associated rule triggers soon after, new or updated targets might not be immediately invoked. Please allow a short period of time for changes to take effect.</p> <p>This action can partially fail if too many requests are made at the same time. If that happens, <code>FailedEntryCount</code> is non-zero in the response and each entry in <code>FailedEntries</code> provides the ID of the failed target and the error code.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is concurrent modification on a rule or target.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You tried to create more rules or add more targets to a rule than is allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutTargetsRequest",
        "variableName" : "putTargetsRequest",
        "variableType" : "PutTargetsRequest",
        "documentation" : "",
        "simpleType" : "PutTargetsRequest",
        "variableSetterType" : "PutTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putTargets",
      "operationName" : "PutTargets",
      "returnType" : {
        "returnType" : "PutTargetsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutTargetsResult"
    },
    "RemovePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemovePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemovePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemovePermissionRequest, RemovePermissionResult>",
      "asyncReturnType" : "RemovePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Revokes the permission of another AWS account to be able to put events to your default event bus. Specify the account to revoke by the <code>StatementId</code> value that you associated with the account when you granted it permission with <code>PutPermission</code>. You can find the <code>StatementId</code> by using <a>DescribeEventBus</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is concurrent modification on a rule or target.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemovePermissionRequest",
        "variableName" : "removePermissionRequest",
        "variableType" : "RemovePermissionRequest",
        "documentation" : "",
        "simpleType" : "RemovePermissionRequest",
        "variableSetterType" : "RemovePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removePermission",
      "operationName" : "RemovePermission",
      "returnType" : {
        "returnType" : "RemovePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "RemovePermissionResult"
    },
    "RemoveTargets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTargetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTargetsRequest, RemoveTargetsResult>",
      "asyncReturnType" : "RemoveTargetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified targets from the specified rule. When the rule is triggered, those targets are no longer be invoked.</p> <p>When you remove a target, when the associated rule triggers, removed targets might continue to be invoked. Please allow a short period of time for changes to take effect.</p> <p>This action can partially fail if too many requests are made at the same time. If that happens, <code>FailedEntryCount</code> is non-zero in the response and each entry in <code>FailedEntries</code> provides the ID of the failed target and the error code.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified does not exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is concurrent modification on a rule or target.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemoveTargetsRequest",
        "variableName" : "removeTargetsRequest",
        "variableType" : "RemoveTargetsRequest",
        "documentation" : "",
        "simpleType" : "RemoveTargetsRequest",
        "variableSetterType" : "RemoveTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeTargets",
      "operationName" : "RemoveTargets",
      "returnType" : {
        "returnType" : "RemoveTargetsResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveTargetsResult"
    },
    "TestEventPattern" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TestEventPatternResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TestEventPatternResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TestEventPatternRequest, TestEventPatternResult>",
      "asyncReturnType" : "TestEventPatternResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tests whether the specified event pattern matches the provided event.</p> <p>Most services in AWS treat : or / as the same character in Amazon Resource Names (ARNs). However, CloudWatch Events uses an exact match in event patterns and rules. Be sure to use the correct ARN characters when creating event patterns so that they match the ARN syntax in the event you want to match.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidEventPatternException",
        "documentation" : "<p>The event pattern is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "TestEventPatternRequest",
        "variableName" : "testEventPatternRequest",
        "variableType" : "TestEventPatternRequest",
        "documentation" : "",
        "simpleType" : "TestEventPatternRequest",
        "variableSetterType" : "TestEventPatternRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "testEventPattern",
      "operationName" : "TestEventPattern",
      "returnType" : {
        "returnType" : "TestEventPatternResult",
        "documentation" : null
      },
      "syncReturnType" : "TestEventPatternResult"
    }
  },
  "shapes" : {
    "ConcurrentModificationException" : {
      "c2jName" : "ConcurrentModificationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>There is concurrent modification on a rule or target.</p>",
      "enums" : null,
      "errorCode" : "ConcurrentModificationException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConcurrentModificationException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "ConcurrentModificationException",
        "variableName" : "concurrentModificationException",
        "variableType" : "ConcurrentModificationException",
        "documentation" : null,
        "simpleType" : "ConcurrentModificationException",
        "variableSetterType" : "ConcurrentModificationException"
      },
      "wrapper" : false
    },
    "DeleteRuleRequest" : {
      "c2jName" : "DeleteRuleRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeleteRule",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSEvents.DeleteRule",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "RuleName",
        "deprecated" : false,
        "documentation" : "<p>The name of the rule.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the rule.</p>\n@param name The name of the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the rule.</p>\n@return The name of the rule.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "setterDocumentation" : "/**<p>The name of the rule.</p>\n@param name The name of the rule.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the rule.</p>\n@param name The name of the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the rule.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "RuleName",
          "deprecated" : false,
          "documentation" : "<p>The name of the rule.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the rule.</p>\n@param name The name of the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of the rule.</p>\n@return The name of the rule.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "setterDocumentation" : "/**<p>The name of the rule.</p>\n@param name The name of the rule.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the rule.</p>\n@param name The name of the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the rule.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Name" ],
      "shapeName" : "DeleteRuleRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "DeleteRuleRequest",
        "variableName" : "deleteRuleRequest",
        "variableType" : "DeleteRuleRequest",
        "documentation" : null,
        "simpleType" : "DeleteRuleRequest",
        "variableSetterType" : "DeleteRuleRequest"
      },
      "wrapper" : false
    },
    "DeleteRuleResult" : {
      "c2jName" : "DeleteRuleResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DeleteRuleResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "DeleteRuleResult",
        "variableName" : "deleteRuleResult",
        "variableType" : "DeleteRuleResult",
        "documentation" : null,
        "simpleType" : "DeleteRuleResult",
        "variableSetterType" : "DeleteRuleResult"
      },
      "wrapper" : false
    },
    "DescribeEventBusRequest" : {
      "c2jName" : "DescribeEventBusRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DescribeEventBus",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSEvents.DescribeEventBus",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DescribeEventBusRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "DescribeEventBusRequest",
        "variableName" : "describeEventBusRequest",
        "variableType" : "DescribeEventBusRequest",
        "documentation" : null,
        "simpleType" : "DescribeEventBusRequest",
        "variableSetterType" : "DescribeEventBusRequest"
      },
      "wrapper" : false
    },
    "DescribeEventBusResult" : {
      "c2jName" : "DescribeEventBusResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The name of the event bus. Currently, this is always <code>default</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the event bus. Currently, this is always <code>default</code>.</p>\n@param name The name of the event bus. Currently, this is always <code>default</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the event bus. Currently, this is always <code>default</code>.</p>\n@return The name of the event bus. Currently, this is always <code>default</code>.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "setterDocumentation" : "/**<p>The name of the event bus. Currently, this is always <code>default</code>.</p>\n@param name The name of the event bus. Currently, this is always <code>default</code>.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the event bus. Currently, this is always <code>default</code>.</p>\n@param name The name of the event bus. Currently, this is always <code>default</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the event bus. Currently, this is always <code>default</code>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Arn",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the account permitted to write events to the current account.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the account permitted to write events to the current account.</p>\n@param arn The Amazon Resource Name (ARN) of the account permitted to write events to the current account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the account permitted to write events to the current account.</p>\n@return The Amazon Resource Name (ARN) of the account permitted to write events to the current account.*/",
        "getterMethodName" : "getArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Arn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Arn",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the account permitted to write events to the current account.</p>\n@param arn The Amazon Resource Name (ARN) of the account permitted to write events to the current account.*/",
        "setterMethodName" : "setArn",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the account permitted to write events to the current account.</p>\n@param arn The Amazon Resource Name (ARN) of the account permitted to write events to the current account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the account permitted to write events to the current account.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Policy",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The policy that enables the external account to send events to your account.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The policy that enables the external account to send events to your account.</p>\n@param policy The policy that enables the external account to send events to your account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPolicy",
        "getterDocumentation" : "/**<p>The policy that enables the external account to send events to your account.</p>\n@return The policy that enables the external account to send events to your account.*/",
        "getterMethodName" : "getPolicy",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Policy",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Policy",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Policy",
        "setterDocumentation" : "/**<p>The policy that enables the external account to send events to your account.</p>\n@param policy The policy that enables the external account to send events to your account.*/",
        "setterMethodName" : "setPolicy",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "policy",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The policy that enables the external account to send events to your account.</p>\n@param policy The policy that enables the external account to send events to your account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "policy",
          "variableType" : "String",
          "documentation" : "<p>The policy that enables the external account to send events to your account.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Arn" : {
          "c2jName" : "Arn",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the account permitted to write events to the current account.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the account permitted to write events to the current account.</p>\n@param arn The Amazon Resource Name (ARN) of the account permitted to write events to the current account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the account permitted to write events to the current account.</p>\n@return The Amazon Resource Name (ARN) of the account permitted to write events to the current account.*/",
          "getterMethodName" : "getArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Arn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Arn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Arn",
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the account permitted to write events to the current account.</p>\n@param arn The Amazon Resource Name (ARN) of the account permitted to write events to the current account.*/",
          "setterMethodName" : "setArn",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the account permitted to write events to the current account.</p>\n@param arn The Amazon Resource Name (ARN) of the account permitted to write events to the current account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the account permitted to write events to the current account.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The name of the event bus. Currently, this is always <code>default</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the event bus. Currently, this is always <code>default</code>.</p>\n@param name The name of the event bus. Currently, this is always <code>default</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of the event bus. Currently, this is always <code>default</code>.</p>\n@return The name of the event bus. Currently, this is always <code>default</code>.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "setterDocumentation" : "/**<p>The name of the event bus. Currently, this is always <code>default</code>.</p>\n@param name The name of the event bus. Currently, this is always <code>default</code>.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the event bus. Currently, this is always <code>default</code>.</p>\n@param name The name of the event bus. Currently, this is always <code>default</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the event bus. Currently, this is always <code>default</code>.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Policy" : {
          "c2jName" : "Policy",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The policy that enables the external account to send events to your account.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The policy that enables the external account to send events to your account.</p>\n@param policy The policy that enables the external account to send events to your account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPolicy",
          "getterDocumentation" : "/**<p>The policy that enables the external account to send events to your account.</p>\n@return The policy that enables the external account to send events to your account.*/",
          "getterMethodName" : "getPolicy",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Policy",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Policy",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Policy",
          "setterDocumentation" : "/**<p>The policy that enables the external account to send events to your account.</p>\n@param policy The policy that enables the external account to send events to your account.*/",
          "setterMethodName" : "setPolicy",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "policy",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The policy that enables the external account to send events to your account.</p>\n@param policy The policy that enables the external account to send events to your account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "policy",
            "variableType" : "String",
            "documentation" : "<p>The policy that enables the external account to send events to your account.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DescribeEventBusResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "DescribeEventBusResult",
        "variableName" : "describeEventBusResult",
        "variableType" : "DescribeEventBusResult",
        "documentation" : null,
        "simpleType" : "DescribeEventBusResult",
        "variableSetterType" : "DescribeEventBusResult"
      },
      "wrapper" : false
    },
    "DescribeRuleRequest" : {
      "c2jName" : "DescribeRuleRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DescribeRule",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSEvents.DescribeRule",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "RuleName",
        "deprecated" : false,
        "documentation" : "<p>The name of the rule.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the rule.</p>\n@param name The name of the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the rule.</p>\n@return The name of the rule.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "setterDocumentation" : "/**<p>The name of the rule.</p>\n@param name The name of the rule.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the rule.</p>\n@param name The name of the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the rule.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "RuleName",
          "deprecated" : false,
          "documentation" : "<p>The name of the rule.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the rule.</p>\n@param name The name of the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of the rule.</p>\n@return The name of the rule.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "setterDocumentation" : "/**<p>The name of the rule.</p>\n@param name The name of the rule.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the rule.</p>\n@param name The name of the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the rule.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Name" ],
      "shapeName" : "DescribeRuleRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "DescribeRuleRequest",
        "variableName" : "describeRuleRequest",
        "variableType" : "DescribeRuleRequest",
        "documentation" : null,
        "simpleType" : "DescribeRuleRequest",
        "variableSetterType" : "DescribeRuleRequest"
      },
      "wrapper" : false
    },
    "DescribeRuleResult" : {
      "c2jName" : "DescribeRuleResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "RuleName",
        "deprecated" : false,
        "documentation" : "<p>The name of the rule.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the rule.</p>\n@param name The name of the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the rule.</p>\n@return The name of the rule.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "setterDocumentation" : "/**<p>The name of the rule.</p>\n@param name The name of the rule.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the rule.</p>\n@param name The name of the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the rule.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Arn",
        "c2jShape" : "RuleArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the rule.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the rule.</p>\n@param arn The Amazon Resource Name (ARN) of the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the rule.</p>\n@return The Amazon Resource Name (ARN) of the rule.*/",
        "getterMethodName" : "getArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Arn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Arn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Arn",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the rule.</p>\n@param arn The Amazon Resource Name (ARN) of the rule.*/",
        "setterMethodName" : "setArn",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the rule.</p>\n@param arn The Amazon Resource Name (ARN) of the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "arn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the rule.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EventPattern",
        "c2jShape" : "EventPattern",
        "deprecated" : false,
        "documentation" : "<p>The event pattern. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/events/CloudWatchEventsandEventPatterns.html\">Events and Event Patterns</a> in the <i>Amazon CloudWatch Events User Guide</i>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The event pattern. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/events/CloudWatchEventsandEventPatterns.html\">Events and Event Patterns</a> in the <i>Amazon CloudWatch Events User Guide</i>.</p>\n@param eventPattern The event pattern. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/events/CloudWatchEventsandEventPatterns.html\">Events and Event Patterns</a> in the <i>Amazon CloudWatch Events User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEventPattern",
        "getterDocumentation" : "/**<p>The event pattern. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/events/CloudWatchEventsandEventPatterns.html\">Events and Event Patterns</a> in the <i>Amazon CloudWatch Events User Guide</i>.</p>\n@return The event pattern. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/events/CloudWatchEventsandEventPatterns.html\">Events and Event Patterns</a> in the <i>Amazon CloudWatch Events User Guide</i>.*/",
        "getterMethodName" : "getEventPattern",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EventPattern",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EventPattern",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "EventPattern",
        "setterDocumentation" : "/**<p>The event pattern. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/events/CloudWatchEventsandEventPatterns.html\">Events and Event Patterns</a> in the <i>Amazon CloudWatch Events User Guide</i>.</p>\n@param eventPattern The event pattern. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/events/CloudWatchEventsandEventPatterns.html\">Events and Event Patterns</a> in the <i>Amazon CloudWatch Events User Guide</i>.*/",
        "setterMethodName" : "setEventPattern",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "eventPattern",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The event pattern. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/events/CloudWatchEventsandEventPatterns.html\">Events and Event Patterns</a> in the <i>Amazon CloudWatch Events User Guide</i>.</p>\n@param eventPattern The event pattern. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/events/CloudWatchEventsandEventPatterns.html\">Events and Event Patterns</a> in the <i>Amazon CloudWatch Events User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "eventPattern",
          "variableType" : "String",
          "documentation" : "<p>The event pattern. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/events/CloudWatchEventsandEventPatterns.html\">Events and Event Patterns</a> in the <i>Amazon CloudWatch Events User Guide</i>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ScheduleExpression",
        "c2jShape" : "ScheduleExpression",
        "deprecated" : false,
        "documentation" : "<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>\n@param scheduleExpression The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withScheduleExpression",
        "getterDocumentation" : "/**<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>\n@return The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".*/",
        "getterMethodName" : "getScheduleExpression",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ScheduleExpression",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ScheduleExpression",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ScheduleExpression",
        "setterDocumentation" : "/**<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>\n@param scheduleExpression The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".*/",
        "setterMethodName" : "setScheduleExpression",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "scheduleExpression",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>\n@param scheduleExpression The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "scheduleExpression",
          "variableType" : "String",
          "documentation" : "<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "State",
        "c2jShape" : "RuleState",
        "deprecated" : false,
        "documentation" : "<p>Specifies whether the rule is enabled or disabled.</p>",
        "enumType" : "RuleState",
        "fluentSetterDocumentation" : "/**<p>Specifies whether the rule is enabled or disabled.</p>\n@param state Specifies whether the rule is enabled or disabled.\n@return Returns a reference to this object so that method calls can be chained together.\n@see RuleState*/",
        "fluentSetterMethodName" : "withState",
        "getterDocumentation" : "/**<p>Specifies whether the rule is enabled or disabled.</p>\n@return Specifies whether the rule is enabled or disabled.\n@see RuleState*/",
        "getterMethodName" : "getState",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "State",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "State",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "State",
        "setterDocumentation" : "/**<p>Specifies whether the rule is enabled or disabled.</p>\n@param state Specifies whether the rule is enabled or disabled.\n@see RuleState*/",
        "setterMethodName" : "setState",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "state",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Specifies whether the rule is enabled or disabled.</p>\n@param state Specifies whether the rule is enabled or disabled.\n@return Returns a reference to this object so that method calls can be chained together.\n@see RuleState*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "state",
          "variableType" : "String",
          "documentation" : "<p>Specifies whether the rule is enabled or disabled.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "RuleDescription",
        "deprecated" : false,
        "documentation" : "<p>The description of the rule.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The description of the rule.</p>\n@param description The description of the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>The description of the rule.</p>\n@return The description of the rule.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Description",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "setterDocumentation" : "/**<p>The description of the rule.</p>\n@param description The description of the rule.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The description of the rule.</p>\n@param description The description of the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>The description of the rule.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RoleArn",
        "c2jShape" : "RoleArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>\n@param roleArn The Amazon Resource Name (ARN) of the IAM role associated with the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRoleArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>\n@return The Amazon Resource Name (ARN) of the IAM role associated with the rule.*/",
        "getterMethodName" : "getRoleArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RoleArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RoleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RoleArn",
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>\n@param roleArn The Amazon Resource Name (ARN) of the IAM role associated with the rule.*/",
        "setterMethodName" : "setRoleArn",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>\n@param roleArn The Amazon Resource Name (ARN) of the IAM role associated with the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Arn" : {
          "c2jName" : "Arn",
          "c2jShape" : "RuleArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the rule.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the rule.</p>\n@param arn The Amazon Resource Name (ARN) of the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the rule.</p>\n@return The Amazon Resource Name (ARN) of the rule.*/",
          "getterMethodName" : "getArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Arn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Arn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Arn",
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the rule.</p>\n@param arn The Amazon Resource Name (ARN) of the rule.*/",
          "setterMethodName" : "setArn",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the rule.</p>\n@param arn The Amazon Resource Name (ARN) of the rule.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "arn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the rule.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Description" : {
          "c2jName" : "Description",
          "c2jShape" : "RuleDescription",
          "deprecated" : false,
[...]
