{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2015-10-07",
    "asyncClient" : "AmazonEventBridgeAsyncClient",
    "asyncClientBuilderClassName" : "AmazonEventBridgeAsyncClientBuilder",
    "asyncInterface" : "AmazonEventBridgeAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonEventBridgeModuleInjector",
    "defaultEndpoint" : "events.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "events.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon EventBridge helps you to respond to state changes in your AWS resources. When your resources change state, they automatically send events into an event stream. You can create rules that match selected events in the stream and route them to targets to take action. You can also use rules to take action on a predetermined schedule. For example, you can configure rules to:</p> <ul> <li> <p>Automatically invoke an AWS Lambda function to update DNS entries when an event notifies you that Amazon EC2 instance enters the running state</p> </li> <li> <p>Direct specific API records from AWS CloudTrail to an Amazon Kinesis data stream for detailed analysis of potential security or availability risks</p> </li> <li> <p>Periodically invoke a built-in target to create a snapshot of an Amazon EBS volume</p> </li> </ul> <p>For more information about the features of Amazon EventBridge, see the <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/\">Amazon EventBridge User Guide</a>.</p>",
    "endpointPrefix" : "events",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.eventbridge",
    "packagePath" : "com/amazonaws/services/eventbridge",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon EventBridge",
    "serviceId" : "EventBridge",
    "serviceName" : "Amazon EventBridge",
    "signingName" : "events",
    "smokeTestsPackageName" : "com.amazonaws.services.eventbridge.smoketests",
    "syncClient" : "AmazonEventBridgeClient",
    "syncClientBuilderClassName" : "AmazonEventBridgeClientBuilder",
    "syncInterface" : "AmazonEventBridge",
    "uid" : "eventbridge-2015-10-07",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "ActivateEventSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ActivateEventSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ActivateEventSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ActivateEventSourceRequest, ActivateEventSourceResult>",
      "asyncReturnType" : "ActivateEventSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Activates a partner event source that has been deactivated. Once activated, your matching event bus will start receiving events from the event source.</p> <note> <p>This operation is performed by AWS customers, not by SaaS partners.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The specified state isn't a valid state for an event source.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ActivateEventSourceRequest",
        "variableName" : "activateEventSourceRequest",
        "variableType" : "ActivateEventSourceRequest",
        "documentation" : "",
        "simpleType" : "ActivateEventSourceRequest",
        "variableSetterType" : "ActivateEventSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "activateEventSource",
      "operationName" : "ActivateEventSource",
      "returnType" : {
        "returnType" : "ActivateEventSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ActivateEventSourceResult"
    },
    "CreateEventBus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEventBusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEventBusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEventBusRequest, CreateEventBusResult>",
      "asyncReturnType" : "CreateEventBusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new event bus within your account. This can be a custom event bus which you can use to receive events from your own custom applications and services, or it can be a partner event bus which can be matched to a partner event source.</p> <note> <p>This operation is used by AWS customers, not by SaaS partners.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource that you're trying to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The specified state isn't a valid state for an event source.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is concurrent modification on a resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You tried to create more resources than is allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEventBusRequest",
        "variableName" : "createEventBusRequest",
        "variableType" : "CreateEventBusRequest",
        "documentation" : "",
        "simpleType" : "CreateEventBusRequest",
        "variableSetterType" : "CreateEventBusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEventBus",
      "operationName" : "CreateEventBus",
      "returnType" : {
        "returnType" : "CreateEventBusResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateEventBusResult"
    },
    "CreatePartnerEventSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePartnerEventSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePartnerEventSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePartnerEventSourceRequest, CreatePartnerEventSourceResult>",
      "asyncReturnType" : "CreatePartnerEventSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Called by an SaaS partner to create a partner event source.</p> <note> <p>This operation is not used by AWS customers.</p> </note> <p>Each partner event source can be used by one AWS account to create a matching partner event bus in that AWS account. A SaaS partner must create one partner event source for each AWS account that wants to receive those event types. </p> <p>A partner event source creates events based on resources in the SaaS partner's service or application.</p> <p>An AWS account that creates a partner event bus that matches the partner event source can use that event bus to receive events from the partner, and then process them using AWS Events rules and targets.</p> <p>Partner event source names follow this format:</p> <p> <code>aws.partner/<i>partner_name</i>/<i>event_namespace</i>/<i>event_name</i> </code> </p> <ul> <li> <p> <i>partner_name</i> is determined during partner registration and identifies the partner to AWS customers.</p> </li> <li> <p>For <i>event_namespace</i>, we recommend that partners use a string that identifies the AWS customer within the partner's system. This should not be the customer's AWS account ID.</p> </li> <li> <p> <i>event_name</i> is determined by the partner, and should uniquely identify an event-generating resource within the partner system. This should help AWS customers decide whether to create an event bus to receive these events.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource that you're trying to create already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is concurrent modification on a resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You tried to create more resources than is allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePartnerEventSourceRequest",
        "variableName" : "createPartnerEventSourceRequest",
        "variableType" : "CreatePartnerEventSourceRequest",
        "documentation" : "",
        "simpleType" : "CreatePartnerEventSourceRequest",
        "variableSetterType" : "CreatePartnerEventSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPartnerEventSource",
      "operationName" : "CreatePartnerEventSource",
      "returnType" : {
        "returnType" : "CreatePartnerEventSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePartnerEventSourceResult"
    },
    "DeactivateEventSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeactivateEventSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeactivateEventSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeactivateEventSourceRequest, DeactivateEventSourceResult>",
      "asyncReturnType" : "DeactivateEventSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>An AWS customer uses this operation to temporarily stop receiving events from the specified partner event source. The matching event bus isn't deleted. </p> <p>When you deactivate a partner event source, the source goes into <code>PENDING</code> state. If it remains in <code>PENDING</code> state for more than two weeks, it's deleted.</p> <p>To activate a deactivated partner event source, use <a>ActivateEventSource</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidStateException",
        "documentation" : "<p>The specified state isn't a valid state for an event source.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeactivateEventSourceRequest",
        "variableName" : "deactivateEventSourceRequest",
        "variableType" : "DeactivateEventSourceRequest",
        "documentation" : "",
        "simpleType" : "DeactivateEventSourceRequest",
        "variableSetterType" : "DeactivateEventSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deactivateEventSource",
      "operationName" : "DeactivateEventSource",
      "returnType" : {
        "returnType" : "DeactivateEventSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeactivateEventSourceResult"
    },
    "DeleteEventBus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEventBusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEventBusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEventBusRequest, DeleteEventBusResult>",
      "asyncReturnType" : "DeleteEventBusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified custom event bus or partner event bus. All rules associated with this event bus are also deleted. You can't delete your account's default event bus.</p> <note> <p>This operation is performed by AWS customers, not by SaaS partners.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEventBusRequest",
        "variableName" : "deleteEventBusRequest",
        "variableType" : "DeleteEventBusRequest",
        "documentation" : "",
        "simpleType" : "DeleteEventBusRequest",
        "variableSetterType" : "DeleteEventBusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEventBus",
      "operationName" : "DeleteEventBus",
      "returnType" : {
        "returnType" : "DeleteEventBusResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEventBusResult"
    },
    "DeletePartnerEventSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePartnerEventSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePartnerEventSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePartnerEventSourceRequest, DeletePartnerEventSourceResult>",
      "asyncReturnType" : "DeletePartnerEventSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation is used by SaaS partners to delete a partner event source. AWS customers don't use this operation.</p> <p>When you delete an event source, the status of the corresponding partner event bus in the AWS customer account becomes <code>DELETED</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePartnerEventSourceRequest",
        "variableName" : "deletePartnerEventSourceRequest",
        "variableType" : "DeletePartnerEventSourceRequest",
        "documentation" : "",
        "simpleType" : "DeletePartnerEventSourceRequest",
        "variableSetterType" : "DeletePartnerEventSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePartnerEventSource",
      "operationName" : "DeletePartnerEventSource",
      "returnType" : {
        "returnType" : "DeletePartnerEventSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePartnerEventSourceResult"
    },
    "DeleteRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRuleRequest, DeleteRuleResult>",
      "asyncReturnType" : "DeleteRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified rule.</p> <p>Before you can delete the rule, you must remove all targets, using <a>RemoveTargets</a>.</p> <p>When you delete a rule, incoming events might continue to match to the deleted rule. Allow a short period of time for changes to take effect.</p> <p>Managed rules are rules created and managed by another AWS service on your behalf. These rules are created by those other AWS services to support functionality in those services. You can delete these rules using the <code>Force</code> option, but you should do so only if you're sure that the other service isn't still using that rule.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is concurrent modification on a resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ManagedRuleException",
        "documentation" : "<p>An AWS service created this rule on behalf of your account. That service manages it. If you see this error in response to <code>DeleteRule</code> or <code>RemoveTargets</code>, you can use the <code>Force</code> parameter in those calls to delete the rule or remove targets from the rule. You can't modify these managed rules by using <code>DisableRule</code>, <code>EnableRule</code>, <code>PutTargets</code>, <code>PutRule</code>, <code>TagResource</code>, or <code>UntagResource</code>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRuleRequest",
        "variableName" : "deleteRuleRequest",
        "variableType" : "DeleteRuleRequest",
        "documentation" : "",
        "simpleType" : "DeleteRuleRequest",
        "variableSetterType" : "DeleteRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRule",
      "operationName" : "DeleteRule",
      "returnType" : {
        "returnType" : "DeleteRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRuleResult"
    },
    "DescribeEventBus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEventBusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEventBusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEventBusRequest, DescribeEventBusResult>",
      "asyncReturnType" : "DescribeEventBusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays details about an event bus in your account. This can include the external AWS accounts that are permitted to write events to your default event bus, and the associated policy. For custom event buses and partner event buses, it displays the name, ARN, policy, state, and creation time.</p> <p> To enable your account to receive events from other accounts on its default event bus, use <a>PutPermission</a>.</p> <p>For more information about partner event buses, see <a>CreateEventBus</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEventBusRequest",
        "variableName" : "describeEventBusRequest",
        "variableType" : "DescribeEventBusRequest",
        "documentation" : "",
        "simpleType" : "DescribeEventBusRequest",
        "variableSetterType" : "DescribeEventBusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEventBus",
      "operationName" : "DescribeEventBus",
      "returnType" : {
        "returnType" : "DescribeEventBusResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEventBusResult"
    },
    "DescribeEventSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEventSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEventSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEventSourceRequest, DescribeEventSourceResult>",
      "asyncReturnType" : "DescribeEventSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation lists details about a partner event source that is shared with your account.</p> <note> <p>This operation is run by AWS customers, not by SaaS partners.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEventSourceRequest",
        "variableName" : "describeEventSourceRequest",
        "variableType" : "DescribeEventSourceRequest",
        "documentation" : "",
        "simpleType" : "DescribeEventSourceRequest",
        "variableSetterType" : "DescribeEventSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEventSource",
      "operationName" : "DescribeEventSource",
      "returnType" : {
        "returnType" : "DescribeEventSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEventSourceResult"
    },
    "DescribePartnerEventSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePartnerEventSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePartnerEventSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePartnerEventSourceRequest, DescribePartnerEventSourceResult>",
      "asyncReturnType" : "DescribePartnerEventSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>An SaaS partner can use this operation to list details about a partner event source that they have created.</p> <note> <p>AWS customers do not use this operation. Instead, AWS customers can use <a>DescribeEventSource</a> to see details about a partner event source that is shared with them.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribePartnerEventSourceRequest",
        "variableName" : "describePartnerEventSourceRequest",
        "variableType" : "DescribePartnerEventSourceRequest",
        "documentation" : "",
        "simpleType" : "DescribePartnerEventSourceRequest",
        "variableSetterType" : "DescribePartnerEventSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePartnerEventSource",
      "operationName" : "DescribePartnerEventSource",
      "returnType" : {
        "returnType" : "DescribePartnerEventSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribePartnerEventSourceResult"
    },
    "DescribeRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRuleRequest, DescribeRuleResult>",
      "asyncReturnType" : "DescribeRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified rule.</p> <p> <code>DescribeRule</code> doesn't list the targets of a rule. To see the targets associated with a rule, use <a>ListTargetsByRule</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRuleRequest",
        "variableName" : "describeRuleRequest",
        "variableType" : "DescribeRuleRequest",
        "documentation" : "",
        "simpleType" : "DescribeRuleRequest",
        "variableSetterType" : "DescribeRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRule",
      "operationName" : "DescribeRule",
      "returnType" : {
        "returnType" : "DescribeRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRuleResult"
    },
    "DisableRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableRuleRequest, DisableRuleResult>",
      "asyncReturnType" : "DisableRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables the specified rule. A disabled rule won't match any events and won't self-trigger if it has a schedule expression.</p> <p>When you disable a rule, incoming events might continue to match to the disabled rule. Allow a short period of time for changes to take effect.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is concurrent modification on a resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ManagedRuleException",
        "documentation" : "<p>An AWS service created this rule on behalf of your account. That service manages it. If you see this error in response to <code>DeleteRule</code> or <code>RemoveTargets</code>, you can use the <code>Force</code> parameter in those calls to delete the rule or remove targets from the rule. You can't modify these managed rules by using <code>DisableRule</code>, <code>EnableRule</code>, <code>PutTargets</code>, <code>PutRule</code>, <code>TagResource</code>, or <code>UntagResource</code>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableRuleRequest",
        "variableName" : "disableRuleRequest",
        "variableType" : "DisableRuleRequest",
        "documentation" : "",
        "simpleType" : "DisableRuleRequest",
        "variableSetterType" : "DisableRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableRule",
      "operationName" : "DisableRule",
      "returnType" : {
        "returnType" : "DisableRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableRuleResult"
    },
    "EnableRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableRuleRequest, EnableRuleResult>",
      "asyncReturnType" : "EnableRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables the specified rule. If the rule doesn't exist, the operation fails.</p> <p>When you enable a rule, incoming events might not immediately start matching to a newly enabled rule. Allow a short period of time for changes to take effect.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is concurrent modification on a resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ManagedRuleException",
        "documentation" : "<p>An AWS service created this rule on behalf of your account. That service manages it. If you see this error in response to <code>DeleteRule</code> or <code>RemoveTargets</code>, you can use the <code>Force</code> parameter in those calls to delete the rule or remove targets from the rule. You can't modify these managed rules by using <code>DisableRule</code>, <code>EnableRule</code>, <code>PutTargets</code>, <code>PutRule</code>, <code>TagResource</code>, or <code>UntagResource</code>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableRuleRequest",
        "variableName" : "enableRuleRequest",
        "variableType" : "EnableRuleRequest",
        "documentation" : "",
        "simpleType" : "EnableRuleRequest",
        "variableSetterType" : "EnableRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableRule",
      "operationName" : "EnableRule",
      "returnType" : {
        "returnType" : "EnableRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableRuleResult"
    },
    "ListEventBuses" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEventBusesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEventBusesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEventBusesRequest, ListEventBusesResult>",
      "asyncReturnType" : "ListEventBusesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the event buses in your account, including the default event bus, custom event buses, and partner event buses.</p> <note> <p>This operation is run by AWS customers, not by SaaS partners.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEventBusesRequest",
        "variableName" : "listEventBusesRequest",
        "variableType" : "ListEventBusesRequest",
        "documentation" : "",
        "simpleType" : "ListEventBusesRequest",
        "variableSetterType" : "ListEventBusesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEventBuses",
      "operationName" : "ListEventBuses",
      "returnType" : {
        "returnType" : "ListEventBusesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEventBusesResult"
    },
    "ListEventSources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEventSourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEventSourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEventSourcesRequest, ListEventSourcesResult>",
      "asyncReturnType" : "ListEventSourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>You can use this to see all the partner event sources that have been shared with your AWS account. For more information about partner event sources, see <a>CreateEventBus</a>.</p> <note> <p>This operation is run by AWS customers, not by SaaS partners.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEventSourcesRequest",
        "variableName" : "listEventSourcesRequest",
        "variableType" : "ListEventSourcesRequest",
        "documentation" : "",
        "simpleType" : "ListEventSourcesRequest",
        "variableSetterType" : "ListEventSourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEventSources",
      "operationName" : "ListEventSources",
      "returnType" : {
        "returnType" : "ListEventSourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEventSourcesResult"
    },
    "ListPartnerEventSourceAccounts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPartnerEventSourceAccountsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPartnerEventSourceAccountsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPartnerEventSourceAccountsRequest, ListPartnerEventSourceAccountsResult>",
      "asyncReturnType" : "ListPartnerEventSourceAccountsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>An SaaS partner can use this operation to display the AWS account ID that a particular partner event source name is associated with.</p> <note> <p>This operation is used by SaaS partners, not by AWS customers.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPartnerEventSourceAccountsRequest",
        "variableName" : "listPartnerEventSourceAccountsRequest",
        "variableType" : "ListPartnerEventSourceAccountsRequest",
        "documentation" : "",
        "simpleType" : "ListPartnerEventSourceAccountsRequest",
        "variableSetterType" : "ListPartnerEventSourceAccountsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPartnerEventSourceAccounts",
      "operationName" : "ListPartnerEventSourceAccounts",
      "returnType" : {
        "returnType" : "ListPartnerEventSourceAccountsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPartnerEventSourceAccountsResult"
    },
    "ListPartnerEventSources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPartnerEventSourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPartnerEventSourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPartnerEventSourcesRequest, ListPartnerEventSourcesResult>",
      "asyncReturnType" : "ListPartnerEventSourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>An SaaS partner can use this operation to list all the partner event source names that they have created.</p> <note> <p>This operation is not used by AWS customers.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPartnerEventSourcesRequest",
        "variableName" : "listPartnerEventSourcesRequest",
        "variableType" : "ListPartnerEventSourcesRequest",
        "documentation" : "",
        "simpleType" : "ListPartnerEventSourcesRequest",
        "variableSetterType" : "ListPartnerEventSourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPartnerEventSources",
      "operationName" : "ListPartnerEventSources",
      "returnType" : {
        "returnType" : "ListPartnerEventSourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPartnerEventSourcesResult"
    },
    "ListRuleNamesByTarget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRuleNamesByTargetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRuleNamesByTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRuleNamesByTargetRequest, ListRuleNamesByTargetResult>",
      "asyncReturnType" : "ListRuleNamesByTargetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the rules for the specified target. You can see which rules can invoke a specific target in your account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRuleNamesByTargetRequest",
        "variableName" : "listRuleNamesByTargetRequest",
        "variableType" : "ListRuleNamesByTargetRequest",
        "documentation" : "",
        "simpleType" : "ListRuleNamesByTargetRequest",
        "variableSetterType" : "ListRuleNamesByTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRuleNamesByTarget",
      "operationName" : "ListRuleNamesByTarget",
      "returnType" : {
        "returnType" : "ListRuleNamesByTargetResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRuleNamesByTargetResult"
    },
    "ListRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRulesRequest, ListRulesResult>",
      "asyncReturnType" : "ListRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists your EventBridge rules. You can either list all the rules or provide a prefix to match to the rule names.</p> <p> <code>ListRules</code> doesn't list the targets of a rule. To see the targets associated with a rule, use <a>ListTargetsByRule</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRulesRequest",
        "variableName" : "listRulesRequest",
        "variableType" : "ListRulesRequest",
        "documentation" : "",
        "simpleType" : "ListRulesRequest",
        "variableSetterType" : "ListRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRules",
      "operationName" : "ListRules",
      "returnType" : {
        "returnType" : "ListRulesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRulesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays the tags associated with an EventBridge resource. In EventBridge, rules can be tagged.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListTargetsByRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTargetsByRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTargetsByRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTargetsByRuleRequest, ListTargetsByRuleResult>",
      "asyncReturnType" : "ListTargetsByRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the targets assigned to the specified rule.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTargetsByRuleRequest",
        "variableName" : "listTargetsByRuleRequest",
        "variableType" : "ListTargetsByRuleRequest",
        "documentation" : "",
        "simpleType" : "ListTargetsByRuleRequest",
        "variableSetterType" : "ListTargetsByRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTargetsByRule",
      "operationName" : "ListTargetsByRule",
      "returnType" : {
        "returnType" : "ListTargetsByRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTargetsByRuleResult"
    },
    "PutEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutEventsRequest, PutEventsResult>",
      "asyncReturnType" : "PutEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends custom events to EventBridge so that they can be matched to rules. These events can be from your custom applications and services.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutEventsRequest",
        "variableName" : "putEventsRequest",
        "variableType" : "PutEventsRequest",
        "documentation" : "",
        "simpleType" : "PutEventsRequest",
        "variableSetterType" : "PutEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putEvents",
      "operationName" : "PutEvents",
      "returnType" : {
        "returnType" : "PutEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutEventsResult"
    },
    "PutPartnerEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutPartnerEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutPartnerEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutPartnerEventsRequest, PutPartnerEventsResult>",
      "asyncReturnType" : "PutPartnerEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This is used by SaaS partners to write events to a customer's partner event bus.</p> <note> <p>AWS customers do not use this operation. Instead, AWS customers can use <a>PutEvents</a> to write custom events from their own applications to an event bus.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutPartnerEventsRequest",
        "variableName" : "putPartnerEventsRequest",
        "variableType" : "PutPartnerEventsRequest",
        "documentation" : "",
        "simpleType" : "PutPartnerEventsRequest",
        "variableSetterType" : "PutPartnerEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putPartnerEvents",
      "operationName" : "PutPartnerEvents",
      "returnType" : {
        "returnType" : "PutPartnerEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutPartnerEventsResult"
    },
    "PutPermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutPermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutPermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutPermissionRequest, PutPermissionResult>",
      "asyncReturnType" : "PutPermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Running <code>PutPermission</code> permits the specified AWS account or AWS organization to put events to the specified <i>event bus</i>. Rules in your account are triggered by these events arriving to an event bus in your account. </p> <p>For another account to send events to your account, that external account must have a rule with your account's event bus as a target.</p> <p>To enable multiple AWS accounts to put events to an event bus, run <code>PutPermission</code> once for each of these accounts. Or, if all the accounts are members of the same AWS organization, you can run <code>PutPermission</code> once specifying <code>Principal</code> as \"*\" and specifying the AWS organization ID in <code>Condition</code>, to grant permissions to all accounts in that organization.</p> <p>If you grant permissions using an organization, then accounts in that organization must specify a <code>RoleArn</code> with proper permissions when they use <code>PutTarget</code> to add your account's event bus as a target. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eventbridge-cross-account-event-delivery.html\">Sending and Receiving Events Between AWS Accounts</a> in the <i>Amazon EventBridge User Guide</i>.</p> <p>The permission policy on an event bus can't exceed 10 KB in size.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "PolicyLengthExceededException",
        "documentation" : "<p>The event bus policy is too long. For more information, see the limits.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is concurrent modification on a resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutPermissionRequest",
        "variableName" : "putPermissionRequest",
        "variableType" : "PutPermissionRequest",
        "documentation" : "",
        "simpleType" : "PutPermissionRequest",
        "variableSetterType" : "PutPermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putPermission",
      "operationName" : "PutPermission",
      "returnType" : {
        "returnType" : "PutPermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "PutPermissionResult"
    },
    "PutRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRuleRequest, PutRuleResult>",
      "asyncReturnType" : "PutRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates the specified rule. Rules are enabled by default or based on value of the state. You can disable a rule using <a>DisableRule</a>.</p> <p>A single rule watches for events from a single event bus. Events generated by AWS services go to your account's default event bus. Events generated by SaaS partner services or applications go to the matching partner event bus. If you have custom applications or services, you can specify whether their events go to your default event bus or a custom event bus that you have created. For more information, see <a>CreateEventBus</a>.</p> <p>If you're updating an existing rule, the rule is replaced with what you specify in this <code>PutRule</code> command. If you omit arguments in <code>PutRule</code>, the old values for those arguments aren't kept. Instead, they're replaced with null values.</p> <p>When you create or update a rule, incoming events might not immediately start matching to new or updated rules. Allow a short period of time for changes to take effect.</p> <p>A rule must contain at least an <code>EventPattern</code> or <code>ScheduleExpression</code>. Rules with <code>EventPatterns</code> are triggered when a matching event is observed. Rules with <code>ScheduleExpressions</code> self-trigger based on the given schedule. A rule can have both an <code>EventPattern</code> and a <code>ScheduleExpression</code>, in which case the rule triggers on matching events as well as on a schedule.</p> <p>When you initially create a rule, you can optionally assign one or more tags to the rule. Tags can help you organize and categorize your resources. You can also use them to scope user permissions, by granting a user permission to access or change only rules with certain tag values. To use the <code>PutRule</code> operation and assign tags, you must have both the <code>events:PutRule</code> and <code>events:TagResource</code> permissions.</p> <p>If you are updating an existing rule, any tags you specify in the <code>PutRule</code> operation are ignored. To update the tags of an existing rule, use <a>TagResource</a> and <a>UntagResource</a>.</p> <p>Most services in AWS treat <code>:</code> or <code>/</code> as the same character in Amazon Resource Names (ARNs). However, EventBridge uses an exact match in event patterns and rules. Be sure to use the correct ARN characters when creating event patterns so that they match the ARN syntax in the event that you want to match.</p> <p>In EventBridge, you could create rules that lead to infinite loops, where a rule is fired repeatedly. For example, a rule might detect that ACLs have changed on an S3 bucket, and trigger software to change them to the desired state. If you don't write the rule carefully, the subsequent change to the ACLs fires the rule again, creating an infinite loop.</p> <p>To prevent this, write the rules so that the triggered actions don't refire the same rule. For example, your rule could fire only if ACLs are found to be in a bad state, instead of after any change. </p> <p>An infinite loop can quickly cause higher than expected charges. We recommend that you use budgeting, which alerts you when charges exceed your specified limit. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/budgets-managing-costs.html\">Managing Your Costs with Budgets</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidEventPatternException",
        "documentation" : "<p>The event pattern isn't valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You tried to create more resources than is allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is concurrent modification on a resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ManagedRuleException",
        "documentation" : "<p>An AWS service created this rule on behalf of your account. That service manages it. If you see this error in response to <code>DeleteRule</code> or <code>RemoveTargets</code>, you can use the <code>Force</code> parameter in those calls to delete the rule or remove targets from the rule. You can't modify these managed rules by using <code>DisableRule</code>, <code>EnableRule</code>, <code>PutTargets</code>, <code>PutRule</code>, <code>TagResource</code>, or <code>UntagResource</code>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutRuleRequest",
        "variableName" : "putRuleRequest",
        "variableType" : "PutRuleRequest",
        "documentation" : "",
        "simpleType" : "PutRuleRequest",
        "variableSetterType" : "PutRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRule",
      "operationName" : "PutRule",
      "returnType" : {
        "returnType" : "PutRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "PutRuleResult"
    },
    "PutTargets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutTargetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutTargetsRequest, PutTargetsResult>",
      "asyncReturnType" : "PutTargetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds the specified targets to the specified rule, or updates the targets if they're already associated with the rule.</p> <p>Targets are the resources that are invoked when a rule is triggered.</p> <p>You can configure the following as targets in EventBridge:</p> <ul> <li> <p>EC2 instances</p> </li> <li> <p>SSM Run Command</p> </li> <li> <p>SSM Automation</p> </li> <li> <p>AWS Lambda functions</p> </li> <li> <p>Data streams in Amazon Kinesis Data Streams</p> </li> <li> <p>Data delivery streams in Amazon Kinesis Data Firehose</p> </li> <li> <p>Amazon ECS tasks</p> </li> <li> <p>AWS Step Functions state machines</p> </li> <li> <p>AWS Batch jobs</p> </li> <li> <p>AWS CodeBuild projects</p> </li> <li> <p>Pipelines in AWS CodePipeline</p> </li> <li> <p>Amazon Inspector assessment templates</p> </li> <li> <p>Amazon SNS topics</p> </li> <li> <p>Amazon SQS queues, including FIFO queues</p> </li> <li> <p>The default event bus of another AWS account</p> </li> </ul> <p>Creating rules with built-in targets is supported only on the AWS Management Console. The built-in targets are <code>EC2 CreateSnapshot API call</code>, <code>EC2 RebootInstances API call</code>, <code>EC2 StopInstances API call</code>, and <code>EC2 TerminateInstances API call</code>. </p> <p>For some target types, <code>PutTargets</code> provides target-specific parameters. If the target is a Kinesis data stream, you can optionally specify which shard the event goes to by using the <code>KinesisParameters</code> argument. To invoke a command on multiple EC2 instances with one rule, you can use the <code>RunCommandParameters</code> field.</p> <p>To be able to make API calls against the resources that you own, Amazon EventBridge needs the appropriate permissions. For AWS Lambda and Amazon SNS resources, EventBridge relies on resource-based policies. For EC2 instances, Kinesis data streams, and AWS Step Functions state machines, EventBridge relies on IAM roles that you specify in the <code>RoleARN</code> argument in <code>PutTargets</code>. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/auth-and-access-control-eventbridge.html\">Authentication and Access Control</a> in the <i>Amazon EventBridge User Guide</i>.</p> <p>If another AWS account is in the same Region and has granted you permission (using <code>PutPermission</code>), you can send events to that account. Set that account's event bus as a target of the rules in your account. To send the matched events to the other account, specify that account's event bus as the <code>Arn</code> value when you run <code>PutTargets</code>. If your account sends events to another account, your account is charged for each sent event. Each event sent to another account is charged as a custom event. The account receiving the event isn't charged. For more information, see <a href=\"https://aws.amazon.com/eventbridge/pricing/\">Amazon EventBridge Pricing</a>.</p> <p>If you're setting an event bus in another account as the target and that account granted permission to your account through an organization instead of directly by the account ID, you must specify a <code>RoleArn</code> with proper permissions in the <code>Target</code> structure. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eventbridge-cross-account-event-delivery.html\">Sending and Receiving Events Between AWS Accounts</a> in the <i>Amazon EventBridge User Guide</i>.</p> <p>For more information about enabling cross-account events, see <a>PutPermission</a>.</p> <p> <code>Input</code>, <code>InputPath</code>, and <code>InputTransformer</code> are mutually exclusive and optional parameters of a target. When a rule is triggered due to a matched event:</p> <ul> <li> <p>If none of the following arguments are specified for a target, the entire event is passed to the target in JSON format (unless the target is Amazon EC2 Run Command or Amazon ECS task, in which case nothing from the event is passed to the target).</p> </li> <li> <p>If <code>Input</code> is specified in the form of valid JSON, then the matched event is overridden with this constant.</p> </li> <li> <p>If <code>InputPath</code> is specified in the form of JSONPath (for example, <code>$.detail</code>), only the part of the event specified in the path is passed to the target (for example, only the detail part of the event is passed).</p> </li> <li> <p>If <code>InputTransformer</code> is specified, one or more specified JSONPaths are extracted from the event and used as values in a template that you specify as the input to the target.</p> </li> </ul> <p>When you specify <code>InputPath</code> or <code>InputTransformer</code>, you must use JSON dot notation, not bracket notation.</p> <p>When you add targets to a rule and the associated rule triggers soon after, new or updated targets might not be immediately invoked. Allow a short period of time for changes to take effect.</p> <p>This action can partially fail if too many requests are made at the same time. If that happens, <code>FailedEntryCount</code> is nonzero in the response, and each entry in <code>FailedEntries</code> provides the ID of the failed target and the error code.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is concurrent modification on a resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You tried to create more resources than is allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ManagedRuleException",
        "documentation" : "<p>An AWS service created this rule on behalf of your account. That service manages it. If you see this error in response to <code>DeleteRule</code> or <code>RemoveTargets</code>, you can use the <code>Force</code> parameter in those calls to delete the rule or remove targets from the rule. You can't modify these managed rules by using <code>DisableRule</code>, <code>EnableRule</code>, <code>PutTargets</code>, <code>PutRule</code>, <code>TagResource</code>, or <code>UntagResource</code>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutTargetsRequest",
        "variableName" : "putTargetsRequest",
        "variableType" : "PutTargetsRequest",
        "documentation" : "",
        "simpleType" : "PutTargetsRequest",
        "variableSetterType" : "PutTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putTargets",
      "operationName" : "PutTargets",
      "returnType" : {
        "returnType" : "PutTargetsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutTargetsResult"
    },
    "RemovePermission" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemovePermissionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemovePermissionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemovePermissionRequest, RemovePermissionResult>",
      "asyncReturnType" : "RemovePermissionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Revokes the permission of another AWS account to be able to put events to the specified event bus. Specify the account to revoke by the <code>StatementId</code> value that you associated with the account when you granted it permission with <code>PutPermission</code>. You can find the <code>StatementId</code> by using <a>DescribeEventBus</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is concurrent modification on a resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemovePermissionRequest",
        "variableName" : "removePermissionRequest",
        "variableType" : "RemovePermissionRequest",
        "documentation" : "",
        "simpleType" : "RemovePermissionRequest",
        "variableSetterType" : "RemovePermissionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removePermission",
      "operationName" : "RemovePermission",
      "returnType" : {
        "returnType" : "RemovePermissionResult",
        "documentation" : null
      },
      "syncReturnType" : "RemovePermissionResult"
    },
    "RemoveTargets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveTargetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveTargetsRequest, RemoveTargetsResult>",
      "asyncReturnType" : "RemoveTargetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified targets from the specified rule. When the rule is triggered, those targets are no longer be invoked.</p> <p>When you remove a target, when the associated rule triggers, removed targets might continue to be invoked. Allow a short period of time for changes to take effect.</p> <p>This action can partially fail if too many requests are made at the same time. If that happens, <code>FailedEntryCount</code> is non-zero in the response and each entry in <code>FailedEntries</code> provides the ID of the failed target and the error code.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is concurrent modification on a resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ManagedRuleException",
        "documentation" : "<p>An AWS service created this rule on behalf of your account. That service manages it. If you see this error in response to <code>DeleteRule</code> or <code>RemoveTargets</code>, you can use the <code>Force</code> parameter in those calls to delete the rule or remove targets from the rule. You can't modify these managed rules by using <code>DisableRule</code>, <code>EnableRule</code>, <code>PutTargets</code>, <code>PutRule</code>, <code>TagResource</code>, or <code>UntagResource</code>. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RemoveTargetsRequest",
        "variableName" : "removeTargetsRequest",
        "variableType" : "RemoveTargetsRequest",
        "documentation" : "",
        "simpleType" : "RemoveTargetsRequest",
        "variableSetterType" : "RemoveTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeTargets",
      "operationName" : "RemoveTargets",
      "returnType" : {
        "returnType" : "RemoveTargetsResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveTargetsResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns one or more tags (key-value pairs) to the specified EventBridge resource. Tags can help you organize and categorize your resources. You can also use them to scope user permissions by granting a user permission to access or change only resources with certain tag values. In EventBridge, rules can be tagged.</p> <p>Tags don't have any semantic meaning to AWS and are interpreted strictly as strings of characters.</p> <p>You can use the <code>TagResource</code> action with a rule that already has tags. If you specify a new tag key for the rule, this tag is appended to the list of tags associated with the rule. If you specify a tag key that is already associated with the rule, the new tag value that you specify replaces the previous value for that tag.</p> <p>You can associate as many as 50 tags with a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is concurrent modification on a resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ManagedRuleException",
        "documentation" : "<p>An AWS service created this rule on behalf of your account. That service manages it. If you see this error in response to <code>DeleteRule</code> or <code>RemoveTargets</code>, you can use the <code>Force</code> parameter in those calls to delete the rule or remove targets from the rule. You can't modify these managed rules by using <code>DisableRule</code>, <code>EnableRule</code>, <code>PutTargets</code>, <code>PutRule</code>, <code>TagResource</code>, or <code>UntagResource</code>. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "TestEventPattern" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TestEventPatternResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TestEventPatternResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TestEventPatternRequest, TestEventPatternResult>",
      "asyncReturnType" : "TestEventPatternResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tests whether the specified event pattern matches the provided event.</p> <p>Most services in AWS treat <code>:</code> or <code>/</code> as the same character in Amazon Resource Names (ARNs). However, EventBridge uses an exact match in event patterns and rules. Be sure to use the correct ARN characters when creating event patterns so that they match the ARN syntax in the event that you want to match.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidEventPatternException",
        "documentation" : "<p>The event pattern isn't valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TestEventPatternRequest",
        "variableName" : "testEventPatternRequest",
        "variableType" : "TestEventPatternRequest",
        "documentation" : "",
        "simpleType" : "TestEventPatternRequest",
        "variableSetterType" : "TestEventPatternRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "testEventPattern",
      "operationName" : "TestEventPattern",
      "returnType" : {
        "returnType" : "TestEventPatternResult",
        "documentation" : null
      },
      "syncReturnType" : "TestEventPatternResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from the specified EventBridge resource. In EventBridge, rules can be tagged.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An entity that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalException",
        "documentation" : "<p>This exception occurs due to unexpected causes.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>There is concurrent modification on a resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ManagedRuleException",
        "documentation" : "<p>An AWS service created this rule on behalf of your account. That service manages it. If you see this error in response to <code>DeleteRule</code> or <code>RemoveTargets</code>, you can use the <code>Force</code> parameter in those calls to delete the rule or remove targets from the rule. You can't modify these managed rules by using <code>DisableRule</code>, <code>EnableRule</code>, <code>PutTargets</code>, <code>PutRule</code>, <code>TagResource</code>, or <code>UntagResource</code>. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    }
  },
  "shapes" : {
    "ActivateEventSourceRequest" : {
      "c2jName" : "ActivateEventSourceRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "ActivateEventSource",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSEvents.ActivateEventSource",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "EventSourceName",
        "deprecated" : false,
        "documentation" : "<p>The name of the partner event source to activate.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the partner event source to activate.</p>\n@param name The name of the partner event source to activate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the partner event source to activate.</p>\n@return The name of the partner event source to activate.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the partner event source to activate.</p>\n@param name The name of the partner event source to activate.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the partner event source to activate.</p>\n@param name The name of the partner event source to activate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the partner event source to activate.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "EventSourceName",
          "deprecated" : false,
          "documentation" : "<p>The name of the partner event source to activate.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the partner event source to activate.</p>\n@param name The name of the partner event source to activate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of the partner event source to activate.</p>\n@return The name of the partner event source to activate.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the partner event source to activate.</p>\n@param name The name of the partner event source to activate.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the partner event source to activate.</p>\n@param name The name of the partner event source to activate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the partner event source to activate.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Name" ],
      "shapeName" : "ActivateEventSourceRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ActivateEventSourceRequest",
        "variableName" : "activateEventSourceRequest",
        "variableType" : "ActivateEventSourceRequest",
        "documentation" : null,
        "simpleType" : "ActivateEventSourceRequest",
        "variableSetterType" : "ActivateEventSourceRequest"
      },
      "wrapper" : false
    },
    "ActivateEventSourceResult" : {
      "c2jName" : "ActivateEventSourceResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ActivateEventSourceResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ActivateEventSourceResult",
        "variableName" : "activateEventSourceResult",
        "variableType" : "ActivateEventSourceResult",
        "documentation" : null,
        "simpleType" : "ActivateEventSourceResult",
        "variableSetterType" : "ActivateEventSourceResult"
      },
      "wrapper" : false
    },
    "AssignPublicIp" : {
      "c2jName" : "AssignPublicIp",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "ENABLED",
        "value" : "ENABLED"
      }, {
        "name" : "DISABLED",
        "value" : "DISABLED"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssignPublicIp",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssignPublicIp",
        "variableName" : "assignPublicIp",
        "variableType" : "AssignPublicIp",
        "documentation" : null,
        "simpleType" : "AssignPublicIp",
        "variableSetterType" : "AssignPublicIp"
      },
      "wrapper" : false
    },
    "AwsVpcConfiguration" : {
      "c2jName" : "AwsVpcConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>This structure specifies the VPC subnets and security groups for the task and whether a public IP address is to be used. This structure is relevant only for ECS tasks that use the <code>awsvpc</code> network mode.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Subnets",
        "c2jShape" : "StringList",
        "deprecated" : false,
        "documentation" : "<p>Specifies the subnets associated with the task. These subnets must all be in the same VPC. You can specify as many as 16 subnets.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Specifies the subnets associated with the task. These subnets must all be in the same VPC. You can specify as many as 16 subnets.</p>\n@param subnets Specifies the subnets associated with the task. These subnets must all be in the same VPC. You can specify as many as 16 subnets.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSubnets",
        "getterDocumentation" : "/**<p>Specifies the subnets associated with the task. These subnets must all be in the same VPC. You can specify as many as 16 subnets.</p>\n@return Specifies the subnets associated with the task. These subnets must all be in the same VPC. You can specify as many as 16 subnets.*/",
        "getterMethodName" : "getSubnets",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Subnets",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Subnets",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "String",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Subnets",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Specifies the subnets associated with the task. These subnets must all be in the same VPC. You can specify as many as 16 subnets.</p>\n@param subnets Specifies the subnets associated with the task. These subnets must all be in the same VPC. You can specify as many as 16 subnets.*/",
        "setterMethodName" : "setSubnets",
[...]
