{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-02-01",
    "asyncClient" : "AmazonCloudWatchEvidentlyAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCloudWatchEvidentlyAsyncClientBuilder",
    "asyncInterface" : "AmazonCloudWatchEvidentlyAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonCloudWatchEvidentlyModuleInjector",
    "defaultEndpoint" : "evidently.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "evidently.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>You can use Amazon CloudWatch Evidently to safely validate new features by serving them to a specified percentage of your users while you roll out the feature. You can monitor the performance of the new feature to help you decide when to ramp up traffic to your users. This helps you reduce risk and identify unintended consequences before you fully launch the feature.</p> <p>You can also conduct A/B experiments to make feature design decisions based on evidence and data. An experiment can test as many as five variations at once. Evidently collects experiment data and analyzes it using statistical methods. It also provides clear recommendations about which variations perform better. You can test both user-facing features and backend features.</p>",
    "endpointPrefix" : "evidently",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.cloudwatchevidently",
    "packagePath" : "com/amazonaws/services/cloudwatchevidently",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon CloudWatch Evidently",
    "serviceId" : "Evidently",
    "serviceName" : "Amazon CloudWatch Evidently",
    "signingName" : "evidently",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudwatchevidently.smoketests",
    "syncClient" : "AmazonCloudWatchEvidentlyClient",
    "syncClientBuilderClassName" : "AmazonCloudWatchEvidentlyClientBuilder",
    "syncInterface" : "AmazonCloudWatchEvidently",
    "uid" : "evidently-2021-02-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchEvaluateFeature" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchEvaluateFeatureResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchEvaluateFeatureResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchEvaluateFeatureRequest, BatchEvaluateFeatureResult>",
      "asyncReturnType" : "BatchEvaluateFeatureResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation assigns feature variation to user sessions. For each user session, you pass in an <code>entityID</code> that represents the user. Evidently then checks the evaluation rules and assigns the variation.</p> <p>The first rules that are evaluated are the override rules. If the user's <code>entityID</code> matches an override rule, the user is served the variation specified by that rule.</p> <p>Next, if there is a launch of the feature, the user might be assigned to a variation in the launch. The chance of this depends on the percentage of users that are allocated to that launch. If the user is enrolled in the launch, the variation they are served depends on the allocation of the various feature variations used for the launch.</p> <p>If the user is not assigned to a launch, and there is an ongoing experiment for this feature, the user might be assigned to a variation in the experiment. The chance of this depends on the percentage of users that are allocated to that experiment. If the user is enrolled in the experiment, the variation they are served depends on the allocation of the various feature variations used for the experiment. </p> <p>If the user is not assigned to a launch or experiment, they are served the default variation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "dataplane."
      },
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "dataplane."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchEvaluateFeatureRequest",
        "variableName" : "batchEvaluateFeatureRequest",
        "variableType" : "BatchEvaluateFeatureRequest",
        "documentation" : "",
        "simpleType" : "BatchEvaluateFeatureRequest",
        "variableSetterType" : "BatchEvaluateFeatureRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchEvaluateFeature",
      "operationName" : "BatchEvaluateFeature",
      "returnType" : {
        "returnType" : "BatchEvaluateFeatureResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchEvaluateFeatureResult"
    },
    "CreateExperiment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateExperimentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateExperimentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateExperimentRequest, CreateExperimentResult>",
      "asyncReturnType" : "CreateExperimentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Evidently <i>experiment</i>. Before you create an experiment, you must create the feature to use for the experiment.</p> <p>An experiment helps you make feature design decisions based on evidence and data. An experiment can test as many as five variations at once. Evidently collects experiment data and analyzes it by statistical methods, and provides clear recommendations about which variations perform better.</p> <p>You can optionally specify a <code>segment</code> to have the experiment consider only certain audience types in the experiment, such as using only user sessions from a certain location or who use a certain internet browser.</p> <p>Don't use this operation to update an existing experiment. Instead, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_UpdateExperiment.html\">UpdateExperiment</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateExperimentRequest",
        "variableName" : "createExperimentRequest",
        "variableType" : "CreateExperimentRequest",
        "documentation" : "",
        "simpleType" : "CreateExperimentRequest",
        "variableSetterType" : "CreateExperimentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createExperiment",
      "operationName" : "CreateExperiment",
      "returnType" : {
        "returnType" : "CreateExperimentResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateExperimentResult"
    },
    "CreateFeature" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFeatureResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFeatureResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFeatureRequest, CreateFeatureResult>",
      "asyncReturnType" : "CreateFeatureResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Evidently <i>feature</i> that you want to launch or test. You can define up to five variations of a feature, and use these variations in your launches and experiments. A feature must be created in a project. For information about creating a project, see <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_CreateProject.html\">CreateProject</a>.</p> <p>Don't use this operation to update an existing feature. Instead, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_UpdateFeature.html\">UpdateFeature</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFeatureRequest",
        "variableName" : "createFeatureRequest",
        "variableType" : "CreateFeatureRequest",
        "documentation" : "",
        "simpleType" : "CreateFeatureRequest",
        "variableSetterType" : "CreateFeatureRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFeature",
      "operationName" : "CreateFeature",
      "returnType" : {
        "returnType" : "CreateFeatureResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFeatureResult"
    },
    "CreateLaunch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLaunchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLaunchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLaunchRequest, CreateLaunchResult>",
      "asyncReturnType" : "CreateLaunchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a <i>launch</i> of a given feature. Before you create a launch, you must create the feature to use for the launch.</p> <p>You can use a launch to safely validate new features by serving them to a specified percentage of your users while you roll out the feature. You can monitor the performance of the new feature to help you decide when to ramp up traffic to more users. This helps you reduce risk and identify unintended consequences before you fully launch the feature.</p> <p>Don't use this operation to update an existing launch. Instead, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_UpdateLaunch.html\">UpdateLaunch</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLaunchRequest",
        "variableName" : "createLaunchRequest",
        "variableType" : "CreateLaunchRequest",
        "documentation" : "",
        "simpleType" : "CreateLaunchRequest",
        "variableSetterType" : "CreateLaunchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLaunch",
      "operationName" : "CreateLaunch",
      "returnType" : {
        "returnType" : "CreateLaunchResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLaunchResult"
    },
    "CreateProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProjectRequest, CreateProjectResult>",
      "asyncReturnType" : "CreateProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a project, which is the logical object in Evidently that can contain features, launches, and experiments. Use projects to group similar features together.</p> <p>To update an existing project, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_UpdateProject.html\">UpdateProject</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProjectRequest",
        "variableName" : "createProjectRequest",
        "variableType" : "CreateProjectRequest",
        "documentation" : "",
        "simpleType" : "CreateProjectRequest",
        "variableSetterType" : "CreateProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProject",
      "operationName" : "CreateProject",
      "returnType" : {
        "returnType" : "CreateProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProjectResult"
    },
    "CreateSegment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSegmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSegmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSegmentRequest, CreateSegmentResult>",
      "asyncReturnType" : "CreateSegmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use this operation to define a <i>segment</i> of your audience. A segment is a portion of your audience that share one or more characteristics. Examples could be Chrome browser users, users in Europe, or Firefox browser users in Europe who also fit other criteria that your application collects, such as age.</p> <p>Using a segment in an experiment limits that experiment to evaluate only the users who match the segment criteria. Using one or more segments in a launch allows you to define different traffic splits for the different audience segments.</p> <pre><code> &lt;p&gt;For more information about segment pattern syntax, see &lt;a href=&quot;https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-Evidently-segments.html#CloudWatch-Evidently-segments-syntax.html&quot;&gt; Segment rule pattern syntax&lt;/a&gt;.&lt;/p&gt; &lt;p&gt;The pattern that you define for a segment is matched against the value of &lt;code&gt;evaluationContext&lt;/code&gt;, which is passed into Evidently in the &lt;a href=&quot;https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_EvaluateFeature.html&quot;&gt;EvaluateFeature&lt;/a&gt; operation, when Evidently assigns a feature variation to a user.&lt;/p&gt; </code></pre>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSegmentRequest",
        "variableName" : "createSegmentRequest",
        "variableType" : "CreateSegmentRequest",
        "documentation" : "",
        "simpleType" : "CreateSegmentRequest",
        "variableSetterType" : "CreateSegmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSegment",
      "operationName" : "CreateSegment",
      "returnType" : {
        "returnType" : "CreateSegmentResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSegmentResult"
    },
    "DeleteExperiment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteExperimentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteExperimentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteExperimentRequest, DeleteExperimentResult>",
      "asyncReturnType" : "DeleteExperimentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Evidently experiment. The feature used for the experiment is not deleted.</p> <p>To stop an experiment without deleting it, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_StopExperiment.html\">StopExperiment</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service was unavailable. Retry the request.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteExperimentRequest",
        "variableName" : "deleteExperimentRequest",
        "variableType" : "DeleteExperimentRequest",
        "documentation" : "",
        "simpleType" : "DeleteExperimentRequest",
        "variableSetterType" : "DeleteExperimentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteExperiment",
      "operationName" : "DeleteExperiment",
      "returnType" : {
        "returnType" : "DeleteExperimentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteExperimentResult"
    },
    "DeleteFeature" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFeatureResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFeatureResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFeatureRequest, DeleteFeatureResult>",
      "asyncReturnType" : "DeleteFeatureResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Evidently feature.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFeatureRequest",
        "variableName" : "deleteFeatureRequest",
        "variableType" : "DeleteFeatureRequest",
        "documentation" : "",
        "simpleType" : "DeleteFeatureRequest",
        "variableSetterType" : "DeleteFeatureRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFeature",
      "operationName" : "DeleteFeature",
      "returnType" : {
        "returnType" : "DeleteFeatureResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFeatureResult"
    },
    "DeleteLaunch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLaunchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLaunchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLaunchRequest, DeleteLaunchResult>",
      "asyncReturnType" : "DeleteLaunchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Evidently launch. The feature used for the launch is not deleted.</p> <p>To stop a launch without deleting it, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_StopLaunch.html\">StopLaunch</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLaunchRequest",
        "variableName" : "deleteLaunchRequest",
        "variableType" : "DeleteLaunchRequest",
        "documentation" : "",
        "simpleType" : "DeleteLaunchRequest",
        "variableSetterType" : "DeleteLaunchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLaunch",
      "operationName" : "DeleteLaunch",
      "returnType" : {
        "returnType" : "DeleteLaunchResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLaunchResult"
    },
    "DeleteProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProjectRequest, DeleteProjectResult>",
      "asyncReturnType" : "DeleteProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Evidently project. Before you can delete a project, you must delete all the features that the project contains. To delete a feature, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_DeleteFeature.html\">DeleteFeature</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProjectRequest",
        "variableName" : "deleteProjectRequest",
        "variableType" : "DeleteProjectRequest",
        "documentation" : "",
        "simpleType" : "DeleteProjectRequest",
        "variableSetterType" : "DeleteProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProject",
      "operationName" : "DeleteProject",
      "returnType" : {
        "returnType" : "DeleteProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProjectResult"
    },
    "DeleteSegment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSegmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSegmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSegmentRequest, DeleteSegmentResult>",
      "asyncReturnType" : "DeleteSegmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a segment. You can't delete a segment that is being used in a launch or experiment, even if that launch or experiment is not currently running.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSegmentRequest",
        "variableName" : "deleteSegmentRequest",
        "variableType" : "DeleteSegmentRequest",
        "documentation" : "",
        "simpleType" : "DeleteSegmentRequest",
        "variableSetterType" : "DeleteSegmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSegment",
      "operationName" : "DeleteSegment",
      "returnType" : {
        "returnType" : "DeleteSegmentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSegmentResult"
    },
    "EvaluateFeature" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EvaluateFeatureResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EvaluateFeatureResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EvaluateFeatureRequest, EvaluateFeatureResult>",
      "asyncReturnType" : "EvaluateFeatureResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This operation assigns a feature variation to one given user session. You pass in an <code>entityID</code> that represents the user. Evidently then checks the evaluation rules and assigns the variation.</p> <p>The first rules that are evaluated are the override rules. If the user's <code>entityID</code> matches an override rule, the user is served the variation specified by that rule.</p> <pre><code> &lt;p&gt;If there is a current launch with this feature that uses segment overrides, and if the user session's &lt;code&gt;evaluationContext&lt;/code&gt; matches a segment rule defined in a segment override, the configuration in the segment overrides is used. For more information about segments, see &lt;a href=&quot;https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_CreateSegment.html&quot;&gt;CreateSegment&lt;/a&gt; and &lt;a href=&quot;https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-Evidently-segments.html&quot;&gt;Use segments to focus your audience&lt;/a&gt;.&lt;/p&gt; &lt;p&gt;If there is a launch with no segment overrides, the user might be assigned to a variation in the launch. The chance of this depends on the percentage of users that are allocated to that launch. If the user is enrolled in the launch, the variation they are served depends on the allocation of the various feature variations used for the launch.&lt;/p&gt; &lt;p&gt;If the user is not assigned to a launch, and there is an ongoing experiment for this feature, the user might be assigned to a variation in the experiment. The chance of this depends on the percentage of users that are allocated to that experiment.&lt;/p&gt; &lt;p&gt;If the experiment uses a segment, then only user sessions with &lt;code&gt;evaluationContext&lt;/code&gt; values that match the segment rule are used in the experiment.&lt;/p&gt; &lt;p&gt;If the user is enrolled in the experiment, the variation they are served depends on the allocation of the various feature variations used for the experiment. &lt;/p&gt; &lt;p&gt;If the user is not assigned to a launch or experiment, they are served the default variation.&lt;/p&gt; </code></pre>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "dataplane."
      },
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "dataplane."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EvaluateFeatureRequest",
        "variableName" : "evaluateFeatureRequest",
        "variableType" : "EvaluateFeatureRequest",
        "documentation" : "",
        "simpleType" : "EvaluateFeatureRequest",
        "variableSetterType" : "EvaluateFeatureRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "evaluateFeature",
      "operationName" : "EvaluateFeature",
      "returnType" : {
        "returnType" : "EvaluateFeatureResult",
        "documentation" : null
      },
      "syncReturnType" : "EvaluateFeatureResult"
    },
    "GetExperiment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetExperimentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetExperimentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetExperimentRequest, GetExperimentResult>",
      "asyncReturnType" : "GetExperimentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details about one experiment. You must already know the experiment name. To retrieve a list of experiments in your account, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_ListExperiments.html\">ListExperiments</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetExperimentRequest",
        "variableName" : "getExperimentRequest",
        "variableType" : "GetExperimentRequest",
        "documentation" : "",
        "simpleType" : "GetExperimentRequest",
        "variableSetterType" : "GetExperimentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getExperiment",
      "operationName" : "GetExperiment",
      "returnType" : {
        "returnType" : "GetExperimentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetExperimentResult"
    },
    "GetExperimentResults" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetExperimentResultsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetExperimentResultsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetExperimentResultsRequest, GetExperimentResultsResult>",
      "asyncReturnType" : "GetExperimentResultsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the results of a running or completed experiment. No results are available until there have been 100 events for each variation and at least 10 minutes have passed since the start of the experiment. To increase the statistical power, Evidently performs an additional offline p-value analysis at the end of the experiment. Offline p-value analysis can detect statistical significance in some cases where the anytime p-values used during the experiment do not find statistical significance.</p> <p>Experiment results are available up to 63 days after the start of the experiment. They are not available after that because of CloudWatch data retention policies.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetExperimentResultsRequest",
        "variableName" : "getExperimentResultsRequest",
        "variableType" : "GetExperimentResultsRequest",
        "documentation" : "",
        "simpleType" : "GetExperimentResultsRequest",
        "variableSetterType" : "GetExperimentResultsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getExperimentResults",
      "operationName" : "GetExperimentResults",
      "returnType" : {
        "returnType" : "GetExperimentResultsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetExperimentResultsResult"
    },
    "GetFeature" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFeatureResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFeatureResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFeatureRequest, GetFeatureResult>",
      "asyncReturnType" : "GetFeatureResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details about one feature. You must already know the feature name. To retrieve a list of features in your account, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_ListFeatures.html\">ListFeatures</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFeatureRequest",
        "variableName" : "getFeatureRequest",
        "variableType" : "GetFeatureRequest",
        "documentation" : "",
        "simpleType" : "GetFeatureRequest",
        "variableSetterType" : "GetFeatureRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFeature",
      "operationName" : "GetFeature",
      "returnType" : {
        "returnType" : "GetFeatureResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFeatureResult"
    },
    "GetLaunch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLaunchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLaunchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLaunchRequest, GetLaunchResult>",
      "asyncReturnType" : "GetLaunchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details about one launch. You must already know the launch name. To retrieve a list of launches in your account, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_ListLaunches.html\">ListLaunches</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLaunchRequest",
        "variableName" : "getLaunchRequest",
        "variableType" : "GetLaunchRequest",
        "documentation" : "",
        "simpleType" : "GetLaunchRequest",
        "variableSetterType" : "GetLaunchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLaunch",
      "operationName" : "GetLaunch",
      "returnType" : {
        "returnType" : "GetLaunchResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLaunchResult"
    },
    "GetProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProjectRequest, GetProjectResult>",
      "asyncReturnType" : "GetProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details about one launch. You must already know the project name. To retrieve a list of projects in your account, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_ListProjects.html\">ListProjects</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetProjectRequest",
        "variableName" : "getProjectRequest",
        "variableType" : "GetProjectRequest",
        "documentation" : "",
        "simpleType" : "GetProjectRequest",
        "variableSetterType" : "GetProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getProject",
      "operationName" : "GetProject",
      "returnType" : {
        "returnType" : "GetProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "GetProjectResult"
    },
    "GetSegment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSegmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSegmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSegmentRequest, GetSegmentResult>",
      "asyncReturnType" : "GetSegmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the specified segment. Specify the segment you want to view by specifying its ARN.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSegmentRequest",
        "variableName" : "getSegmentRequest",
        "variableType" : "GetSegmentRequest",
        "documentation" : "",
        "simpleType" : "GetSegmentRequest",
        "variableSetterType" : "GetSegmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSegment",
      "operationName" : "GetSegment",
      "returnType" : {
        "returnType" : "GetSegmentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSegmentResult"
    },
    "ListExperiments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListExperimentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListExperimentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListExperimentsRequest, ListExperimentsResult>",
      "asyncReturnType" : "ListExperimentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns configuration details about all the experiments in the specified project.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListExperimentsRequest",
        "variableName" : "listExperimentsRequest",
        "variableType" : "ListExperimentsRequest",
        "documentation" : "",
        "simpleType" : "ListExperimentsRequest",
        "variableSetterType" : "ListExperimentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listExperiments",
      "operationName" : "ListExperiments",
      "returnType" : {
        "returnType" : "ListExperimentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListExperimentsResult"
    },
    "ListFeatures" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFeaturesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFeaturesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFeaturesRequest, ListFeaturesResult>",
      "asyncReturnType" : "ListFeaturesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns configuration details about all the features in the specified project.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFeaturesRequest",
        "variableName" : "listFeaturesRequest",
        "variableType" : "ListFeaturesRequest",
        "documentation" : "",
        "simpleType" : "ListFeaturesRequest",
        "variableSetterType" : "ListFeaturesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFeatures",
      "operationName" : "ListFeatures",
      "returnType" : {
        "returnType" : "ListFeaturesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFeaturesResult"
    },
    "ListLaunches" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLaunchesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLaunchesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLaunchesRequest, ListLaunchesResult>",
      "asyncReturnType" : "ListLaunchesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns configuration details about all the launches in the specified project.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListLaunchesRequest",
        "variableName" : "listLaunchesRequest",
        "variableType" : "ListLaunchesRequest",
        "documentation" : "",
        "simpleType" : "ListLaunchesRequest",
        "variableSetterType" : "ListLaunchesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLaunches",
      "operationName" : "ListLaunches",
      "returnType" : {
        "returnType" : "ListLaunchesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLaunchesResult"
    },
    "ListProjects" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProjectsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProjectsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProjectsRequest, ListProjectsResult>",
      "asyncReturnType" : "ListProjectsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns configuration details about all the projects in the current Region in your account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProjectsRequest",
        "variableName" : "listProjectsRequest",
        "variableType" : "ListProjectsRequest",
        "documentation" : "",
        "simpleType" : "ListProjectsRequest",
        "variableSetterType" : "ListProjectsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProjects",
      "operationName" : "ListProjects",
      "returnType" : {
        "returnType" : "ListProjectsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProjectsResult"
    },
    "ListSegmentReferences" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSegmentReferencesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSegmentReferencesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSegmentReferencesRequest, ListSegmentReferencesResult>",
      "asyncReturnType" : "ListSegmentReferencesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use this operation to find which experiments or launches are using a specified segment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSegmentReferencesRequest",
        "variableName" : "listSegmentReferencesRequest",
        "variableType" : "ListSegmentReferencesRequest",
        "documentation" : "",
        "simpleType" : "ListSegmentReferencesRequest",
        "variableSetterType" : "ListSegmentReferencesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSegmentReferences",
      "operationName" : "ListSegmentReferences",
      "returnType" : {
        "returnType" : "ListSegmentReferencesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSegmentReferencesResult"
    },
    "ListSegments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSegmentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSegmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSegmentsRequest, ListSegmentsResult>",
      "asyncReturnType" : "ListSegmentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of audience segments that you have created in your account in this Region.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSegmentsRequest",
        "variableName" : "listSegmentsRequest",
        "variableType" : "ListSegmentsRequest",
        "documentation" : "",
        "simpleType" : "ListSegmentsRequest",
        "variableSetterType" : "ListSegmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSegments",
      "operationName" : "ListSegments",
      "returnType" : {
        "returnType" : "ListSegmentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSegmentsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays the tags associated with an Evidently resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutProjectEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutProjectEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutProjectEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutProjectEventsRequest, PutProjectEventsResult>",
      "asyncReturnType" : "PutProjectEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends performance events to Evidently. These events can be used to evaluate a launch or an experiment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : {
        "hostPrefix" : "dataplane."
      },
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : {
        "c2jNames" : [ ],
        "hostWithStringSpecifier" : "dataplane."
      },
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutProjectEventsRequest",
        "variableName" : "putProjectEventsRequest",
        "variableType" : "PutProjectEventsRequest",
        "documentation" : "",
        "simpleType" : "PutProjectEventsRequest",
        "variableSetterType" : "PutProjectEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putProjectEvents",
      "operationName" : "PutProjectEvents",
      "returnType" : {
        "returnType" : "PutProjectEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutProjectEventsResult"
    },
    "StartExperiment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartExperimentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartExperimentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartExperimentRequest, StartExperimentResult>",
      "asyncReturnType" : "StartExperimentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an existing experiment. To create an experiment, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_CreateExperiment.html\">CreateExperiment</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartExperimentRequest",
        "variableName" : "startExperimentRequest",
        "variableType" : "StartExperimentRequest",
        "documentation" : "",
        "simpleType" : "StartExperimentRequest",
        "variableSetterType" : "StartExperimentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startExperiment",
      "operationName" : "StartExperiment",
      "returnType" : {
        "returnType" : "StartExperimentResult",
        "documentation" : null
      },
      "syncReturnType" : "StartExperimentResult"
    },
    "StartLaunch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartLaunchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartLaunchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartLaunchRequest, StartLaunchResult>",
      "asyncReturnType" : "StartLaunchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts an existing launch. To create a launch, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_CreateLaunch.html\">CreateLaunch</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartLaunchRequest",
        "variableName" : "startLaunchRequest",
        "variableType" : "StartLaunchRequest",
        "documentation" : "",
        "simpleType" : "StartLaunchRequest",
        "variableSetterType" : "StartLaunchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startLaunch",
      "operationName" : "StartLaunch",
      "returnType" : {
        "returnType" : "StartLaunchResult",
        "documentation" : null
      },
      "syncReturnType" : "StartLaunchResult"
    },
    "StopExperiment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopExperimentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopExperimentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopExperimentRequest, StopExperimentResult>",
      "asyncReturnType" : "StopExperimentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops an experiment that is currently running. If you stop an experiment, you can't resume it or restart it.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopExperimentRequest",
        "variableName" : "stopExperimentRequest",
        "variableType" : "StopExperimentRequest",
        "documentation" : "",
        "simpleType" : "StopExperimentRequest",
        "variableSetterType" : "StopExperimentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopExperiment",
      "operationName" : "StopExperiment",
      "returnType" : {
        "returnType" : "StopExperimentResult",
        "documentation" : null
      },
      "syncReturnType" : "StopExperimentResult"
    },
    "StopLaunch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopLaunchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopLaunchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopLaunchRequest, StopLaunchResult>",
      "asyncReturnType" : "StopLaunchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops a launch that is currently running. After you stop a launch, you will not be able to resume it or restart it. Also, it will not be evaluated as a rule for traffic allocation, and the traffic that was allocated to the launch will instead be available to the feature's experiment, if there is one. Otherwise, all traffic will be served the default variation after the launch is stopped.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopLaunchRequest",
        "variableName" : "stopLaunchRequest",
        "variableType" : "StopLaunchRequest",
        "documentation" : "",
        "simpleType" : "StopLaunchRequest",
        "variableSetterType" : "StopLaunchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopLaunch",
      "operationName" : "StopLaunch",
      "returnType" : {
        "returnType" : "StopLaunchResult",
        "documentation" : null
      },
      "syncReturnType" : "StopLaunchResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns one or more tags (key-value pairs) to the specified CloudWatch Evidently resource. Projects, features, launches, and experiments can be tagged.</p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions by granting a user permission to access or change only resources with certain tag values.</p> <p>Tags don't have any semantic meaning to Amazon Web Services and are interpreted strictly as strings of characters.</p> <p>You can use the <code>TagResource</code> action with a resource that already has tags. If you specify a new tag key for the resource, this tag is appended to the list of tags associated with the alarm. If you specify a tag key that is already associated with the resource, the new tag value that you specify replaces the previous value for that tag.</p> <p>You can associate as many as 50 tags with a resource.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "TestSegmentPattern" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TestSegmentPatternResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TestSegmentPatternResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TestSegmentPatternRequest, TestSegmentPatternResult>",
      "asyncReturnType" : "TestSegmentPatternResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use this operation to test a rules pattern that you plan to use to create an audience segment. For more information about segments, see <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_CreateSegment.html\">CreateSegment</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TestSegmentPatternRequest",
        "variableName" : "testSegmentPatternRequest",
        "variableType" : "TestSegmentPatternRequest",
        "documentation" : "",
        "simpleType" : "TestSegmentPatternRequest",
        "variableSetterType" : "TestSegmentPatternRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "testSegmentPattern",
      "operationName" : "TestSegmentPattern",
      "returnType" : {
        "returnType" : "TestSegmentPatternResult",
        "documentation" : null
      },
      "syncReturnType" : "TestSegmentPatternResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateExperiment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateExperimentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateExperimentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateExperimentRequest, UpdateExperimentResult>",
      "asyncReturnType" : "UpdateExperimentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an Evidently experiment. </p> <p>Don't use this operation to update an experiment's tag. Instead, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_TagResource.html\">TagResource</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateExperimentRequest",
        "variableName" : "updateExperimentRequest",
        "variableType" : "UpdateExperimentRequest",
        "documentation" : "",
        "simpleType" : "UpdateExperimentRequest",
        "variableSetterType" : "UpdateExperimentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateExperiment",
      "operationName" : "UpdateExperiment",
      "returnType" : {
        "returnType" : "UpdateExperimentResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateExperimentResult"
    },
    "UpdateFeature" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFeatureResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFeatureResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFeatureRequest, UpdateFeatureResult>",
      "asyncReturnType" : "UpdateFeatureResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing feature.</p> <p>You can't use this operation to update the tags of an existing feature. Instead, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_TagResource.html\">TagResource</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFeatureRequest",
        "variableName" : "updateFeatureRequest",
        "variableType" : "UpdateFeatureRequest",
        "documentation" : "",
        "simpleType" : "UpdateFeatureRequest",
        "variableSetterType" : "UpdateFeatureRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFeature",
      "operationName" : "UpdateFeature",
      "returnType" : {
        "returnType" : "UpdateFeatureResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFeatureResult"
    },
    "UpdateLaunch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLaunchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLaunchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLaunchRequest, UpdateLaunchResult>",
      "asyncReturnType" : "UpdateLaunchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a launch of a given feature. </p> <p>Don't use this operation to update the tags of an existing launch. Instead, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_TagResource.html\">TagResource</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLaunchRequest",
        "variableName" : "updateLaunchRequest",
        "variableType" : "UpdateLaunchRequest",
        "documentation" : "",
        "simpleType" : "UpdateLaunchRequest",
        "variableSetterType" : "UpdateLaunchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLaunch",
      "operationName" : "UpdateLaunch",
      "returnType" : {
        "returnType" : "UpdateLaunchResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateLaunchResult"
    },
    "UpdateProject" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProjectResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProjectResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProjectRequest, UpdateProjectResult>",
      "asyncReturnType" : "UpdateProjectResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the description of an existing project.</p> <p>To create a new project, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_CreateProject.html\">CreateProject</a>.</p> <p>Don't use this operation to update the data storage options of a project. Instead, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_UpdateProjectDataDelivery.html\">UpdateProjectDataDelivery</a>. </p> <p>Don't use this operation to update the tags of a project. Instead, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_TagResource.html\">TagResource</a>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateProjectRequest",
        "variableName" : "updateProjectRequest",
        "variableType" : "UpdateProjectRequest",
        "documentation" : "",
        "simpleType" : "UpdateProjectRequest",
        "variableSetterType" : "UpdateProjectRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProject",
      "operationName" : "UpdateProject",
      "returnType" : {
        "returnType" : "UpdateProjectResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateProjectResult"
    },
    "UpdateProjectDataDelivery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProjectDataDeliveryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProjectDataDeliveryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProjectDataDeliveryRequest, UpdateProjectDataDeliveryResult>",
      "asyncReturnType" : "UpdateProjectDataDeliveryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the data storage options for this project. If you store evaluation events, you an keep them and analyze them on your own. If you choose not to store evaluation events, Evidently deletes them after using them to produce metrics and other experiment results that you can view.</p> <p>You can't specify both <code>cloudWatchLogs</code> and <code>s3Destination</code> in the same operation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateProjectDataDeliveryRequest",
        "variableName" : "updateProjectDataDeliveryRequest",
[...]
