{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : "application/x-amz-json-1.1",
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-03-12",
    "asyncClient" : "AWSfinspaceAsyncClient",
    "asyncClientBuilderClassName" : "AWSfinspaceAsyncClientBuilder",
    "asyncInterface" : "AWSfinspaceAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSfinspaceModuleInjector",
    "defaultEndpoint" : "finspace.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "finspace.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The FinSpace management service provides the APIs for managing the FinSpace environments. </p>",
    "endpointPrefix" : "finspace",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.finspace",
    "packagePath" : "com/amazonaws/services/finspace",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "finspace",
    "serviceFullName" : "FinSpace User Environment Management service",
    "serviceId" : "finspace",
    "serviceName" : "finspace",
    "signingName" : "finspace",
    "smokeTestsPackageName" : "com.amazonaws.services.finspace.smoketests",
    "syncClient" : "AWSfinspaceClient",
    "syncClientBuilderClassName" : "AWSfinspaceClientBuilder",
    "syncInterface" : "AWSfinspace",
    "uid" : "finspace-2021-03-12",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEnvironmentRequest, CreateEnvironmentResult>",
      "asyncReturnType" : "CreateEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a new FinSpace environment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> You have exceeded your service quota. To perform the requested action, remove some of the relevant resources, or use Service Quotas to request a service quota increase.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A service limit or quota is exceeded.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEnvironmentRequest",
        "variableName" : "createEnvironmentRequest",
        "variableType" : "CreateEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "CreateEnvironmentRequest",
        "variableSetterType" : "CreateEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEnvironment",
      "operationName" : "CreateEnvironment",
      "returnType" : {
        "returnType" : "CreateEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateEnvironmentResult"
    },
    "DeleteEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEnvironmentRequest, DeleteEnvironmentResult>",
      "asyncReturnType" : "DeleteEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an FinSpace environment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEnvironmentRequest",
        "variableName" : "deleteEnvironmentRequest",
        "variableType" : "DeleteEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "DeleteEnvironmentRequest",
        "variableSetterType" : "DeleteEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEnvironment",
      "operationName" : "DeleteEnvironment",
      "returnType" : {
        "returnType" : "DeleteEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEnvironmentResult"
    },
    "GetEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEnvironmentRequest, GetEnvironmentResult>",
      "asyncReturnType" : "GetEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the FinSpace environment object.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEnvironmentRequest",
        "variableName" : "getEnvironmentRequest",
        "variableType" : "GetEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "GetEnvironmentRequest",
        "variableSetterType" : "GetEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEnvironment",
      "operationName" : "GetEnvironment",
      "returnType" : {
        "returnType" : "GetEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEnvironmentResult"
    },
    "ListEnvironments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEnvironmentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEnvironmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEnvironmentsRequest, ListEnvironmentsResult>",
      "asyncReturnType" : "ListEnvironmentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>A list of all of your FinSpace environments.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEnvironmentsRequest",
        "variableName" : "listEnvironmentsRequest",
        "variableType" : "ListEnvironmentsRequest",
        "documentation" : "",
        "simpleType" : "ListEnvironmentsRequest",
        "variableSetterType" : "ListEnvironmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEnvironments",
      "operationName" : "ListEnvironments",
      "returnType" : {
        "returnType" : "ListEnvironmentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEnvironmentsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>A list of all tags for a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid. Something is wrong with the input to the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds metadata tags to a FinSpace resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid. Something is wrong with the input to the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes metadata tags from a FinSpace resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid. Something is wrong with the input to the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEnvironmentRequest, UpdateEnvironmentResult>",
      "asyncReturnType" : "UpdateEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update your FinSpace environment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateEnvironmentRequest",
        "variableName" : "updateEnvironmentRequest",
        "variableType" : "UpdateEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "UpdateEnvironmentRequest",
        "variableSetterType" : "UpdateEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEnvironment",
      "operationName" : "UpdateEnvironment",
      "returnType" : {
        "returnType" : "UpdateEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateEnvironmentResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.finspace.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.finspace.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "CreateEnvironmentRequest" : {
      "c2jName" : "CreateEnvironmentRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.finspace.request.CreateEnvironmentRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateEnvironment",
        "locationName" : null,
        "requestUri" : "/environment",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "name",
        "c2jShape" : "EnvironmentName",
        "deprecated" : false,
        "documentation" : "<p>The name of the FinSpace environment to be created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the FinSpace environment to be created.</p>\n@param name The name of the FinSpace environment to be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the FinSpace environment to be created.</p>\n@return The name of the FinSpace environment to be created.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the FinSpace environment to be created.</p>\n@param name The name of the FinSpace environment to be created.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the FinSpace environment to be created.</p>\n@param name The name of the FinSpace environment to be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the FinSpace environment to be created.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "description",
        "c2jShape" : "Description",
        "deprecated" : false,
        "documentation" : "<p>The description of the FinSpace environment to be created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The description of the FinSpace environment to be created.</p>\n@param description The description of the FinSpace environment to be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>The description of the FinSpace environment to be created.</p>\n@return The description of the FinSpace environment to be created.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The description of the FinSpace environment to be created.</p>\n@param description The description of the FinSpace environment to be created.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The description of the FinSpace environment to be created.</p>\n@param description The description of the FinSpace environment to be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>The description of the FinSpace environment to be created.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "kmsKeyId",
        "c2jShape" : "KmsKeyId",
        "deprecated" : false,
        "documentation" : "<p>The KMS key id to encrypt your data in the FinSpace environment.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The KMS key id to encrypt your data in the FinSpace environment.</p>\n@param kmsKeyId The KMS key id to encrypt your data in the FinSpace environment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withKmsKeyId",
        "getterDocumentation" : "/**<p>The KMS key id to encrypt your data in the FinSpace environment.</p>\n@return The KMS key id to encrypt your data in the FinSpace environment.*/",
        "getterMethodName" : "getKmsKeyId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "kmsKeyId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "kmsKeyId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "KmsKeyId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The KMS key id to encrypt your data in the FinSpace environment.</p>\n@param kmsKeyId The KMS key id to encrypt your data in the FinSpace environment.*/",
        "setterMethodName" : "setKmsKeyId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "kmsKeyId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The KMS key id to encrypt your data in the FinSpace environment.</p>\n@param kmsKeyId The KMS key id to encrypt your data in the FinSpace environment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "kmsKeyId",
          "variableType" : "String",
          "documentation" : "<p>The KMS key id to encrypt your data in the FinSpace environment.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "tags",
        "c2jShape" : "TagMap",
        "deprecated" : false,
        "documentation" : "<p>Add tags to your FinSpace environment.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Add tags to your FinSpace environment.</p>\n@param tags Add tags to your FinSpace environment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>Add tags to your FinSpace environment.</p>\n@return Add tags to your FinSpace environment.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "tags",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "TagValue",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Add tags to your FinSpace environment.</p>\n@param tags Add tags to your FinSpace environment.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Add tags to your FinSpace environment.</p>\n@param tags Add tags to your FinSpace environment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>Add tags to your FinSpace environment.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "federationMode",
        "c2jShape" : "FederationMode",
        "deprecated" : false,
        "documentation" : "<p>Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li> </ul>",
        "endpointDiscoveryId" : false,
        "enumType" : "FederationMode",
        "fluentSetterDocumentation" : "/**<p>Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li> </ul>\n@param federationMode Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.\n@see FederationMode*/",
        "fluentSetterMethodName" : "withFederationMode",
        "getterDocumentation" : "/**<p>Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li> </ul>\n@return Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li>\n@see FederationMode*/",
        "getterMethodName" : "getFederationMode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "federationMode",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "federationMode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "FederationMode",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li> </ul>\n@param federationMode Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li>\n@see FederationMode*/",
        "setterMethodName" : "setFederationMode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "federationMode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li> </ul>\n@param federationMode Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.\n@see FederationMode*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "federationMode",
          "variableType" : "String",
          "documentation" : "<p>Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li> </ul>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "federationParameters",
        "c2jShape" : "FederationParameters",
        "deprecated" : false,
        "documentation" : "<p>Configuration information when authentication mode is FEDERATED.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Configuration information when authentication mode is FEDERATED.</p>\n@param federationParameters Configuration information when authentication mode is FEDERATED.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFederationParameters",
        "getterDocumentation" : "/**<p>Configuration information when authentication mode is FEDERATED.</p>\n@return Configuration information when authentication mode is FEDERATED.*/",
        "getterMethodName" : "getFederationParameters",
        "getterModel" : {
          "returnType" : "FederationParameters",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "federationParameters",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "federationParameters",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "FederationParameters",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Configuration information when authentication mode is FEDERATED.</p>\n@param federationParameters Configuration information when authentication mode is FEDERATED.*/",
        "setterMethodName" : "setFederationParameters",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "FederationParameters",
          "variableName" : "federationParameters",
          "variableType" : "FederationParameters",
          "documentation" : "",
          "simpleType" : "FederationParameters",
          "variableSetterType" : "FederationParameters"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Configuration information when authentication mode is FEDERATED.</p>\n@param federationParameters Configuration information when authentication mode is FEDERATED.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "FederationParameters",
          "variableName" : "federationParameters",
          "variableType" : "FederationParameters",
          "documentation" : "<p>Configuration information when authentication mode is FEDERATED.</p>",
          "simpleType" : "FederationParameters",
          "variableSetterType" : "FederationParameters"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Description" : {
          "c2jName" : "description",
          "c2jShape" : "Description",
          "deprecated" : false,
          "documentation" : "<p>The description of the FinSpace environment to be created.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The description of the FinSpace environment to be created.</p>\n@param description The description of the FinSpace environment to be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**<p>The description of the FinSpace environment to be created.</p>\n@return The description of the FinSpace environment to be created.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "description",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The description of the FinSpace environment to be created.</p>\n@param description The description of the FinSpace environment to be created.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The description of the FinSpace environment to be created.</p>\n@param description The description of the FinSpace environment to be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "<p>The description of the FinSpace environment to be created.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "FederationMode" : {
          "c2jName" : "federationMode",
          "c2jShape" : "FederationMode",
          "deprecated" : false,
          "documentation" : "<p>Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li> </ul>",
          "endpointDiscoveryId" : false,
          "enumType" : "FederationMode",
          "fluentSetterDocumentation" : "/**<p>Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li> </ul>\n@param federationMode Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.\n@see FederationMode*/",
          "fluentSetterMethodName" : "withFederationMode",
          "getterDocumentation" : "/**<p>Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li> </ul>\n@return Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li>\n@see FederationMode*/",
          "getterMethodName" : "getFederationMode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "federationMode",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "federationMode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "FederationMode",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li> </ul>\n@param federationMode Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li>\n@see FederationMode*/",
          "setterMethodName" : "setFederationMode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "federationMode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li> </ul>\n@param federationMode Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.\n@see FederationMode*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "federationMode",
            "variableType" : "String",
            "documentation" : "<p>Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li> </ul>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "FederationParameters" : {
          "c2jName" : "federationParameters",
          "c2jShape" : "FederationParameters",
          "deprecated" : false,
          "documentation" : "<p>Configuration information when authentication mode is FEDERATED.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Configuration information when authentication mode is FEDERATED.</p>\n@param federationParameters Configuration information when authentication mode is FEDERATED.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFederationParameters",
          "getterDocumentation" : "/**<p>Configuration information when authentication mode is FEDERATED.</p>\n@return Configuration information when authentication mode is FEDERATED.*/",
          "getterMethodName" : "getFederationParameters",
          "getterModel" : {
            "returnType" : "FederationParameters",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "federationParameters",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "federationParameters",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "FederationParameters",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Configuration information when authentication mode is FEDERATED.</p>\n@param federationParameters Configuration information when authentication mode is FEDERATED.*/",
          "setterMethodName" : "setFederationParameters",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "FederationParameters",
            "variableName" : "federationParameters",
            "variableType" : "FederationParameters",
            "documentation" : "",
            "simpleType" : "FederationParameters",
            "variableSetterType" : "FederationParameters"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Configuration information when authentication mode is FEDERATED.</p>\n@param federationParameters Configuration information when authentication mode is FEDERATED.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "FederationParameters",
            "variableName" : "federationParameters",
            "variableType" : "FederationParameters",
            "documentation" : "<p>Configuration information when authentication mode is FEDERATED.</p>",
            "simpleType" : "FederationParameters",
            "variableSetterType" : "FederationParameters"
          },
          "xmlNameSpaceUri" : null
        },
        "KmsKeyId" : {
          "c2jName" : "kmsKeyId",
          "c2jShape" : "KmsKeyId",
          "deprecated" : false,
          "documentation" : "<p>The KMS key id to encrypt your data in the FinSpace environment.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The KMS key id to encrypt your data in the FinSpace environment.</p>\n@param kmsKeyId The KMS key id to encrypt your data in the FinSpace environment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withKmsKeyId",
          "getterDocumentation" : "/**<p>The KMS key id to encrypt your data in the FinSpace environment.</p>\n@return The KMS key id to encrypt your data in the FinSpace environment.*/",
          "getterMethodName" : "getKmsKeyId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "kmsKeyId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "kmsKeyId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "KmsKeyId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The KMS key id to encrypt your data in the FinSpace environment.</p>\n@param kmsKeyId The KMS key id to encrypt your data in the FinSpace environment.*/",
          "setterMethodName" : "setKmsKeyId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "kmsKeyId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The KMS key id to encrypt your data in the FinSpace environment.</p>\n@param kmsKeyId The KMS key id to encrypt your data in the FinSpace environment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "kmsKeyId",
            "variableType" : "String",
            "documentation" : "<p>The KMS key id to encrypt your data in the FinSpace environment.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "name",
          "c2jShape" : "EnvironmentName",
          "deprecated" : false,
          "documentation" : "<p>The name of the FinSpace environment to be created.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the FinSpace environment to be created.</p>\n@param name The name of the FinSpace environment to be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of the FinSpace environment to be created.</p>\n@return The name of the FinSpace environment to be created.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "name",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the FinSpace environment to be created.</p>\n@param name The name of the FinSpace environment to be created.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the FinSpace environment to be created.</p>\n@param name The name of the FinSpace environment to be created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the FinSpace environment to be created.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Tags" : {
          "c2jName" : "tags",
          "c2jShape" : "TagMap",
          "deprecated" : false,
          "documentation" : "<p>Add tags to your FinSpace environment.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Add tags to your FinSpace environment.</p>\n@param tags Add tags to your FinSpace environment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTags",
          "getterDocumentation" : "/**<p>Add tags to your FinSpace environment.</p>\n@return Add tags to your FinSpace environment.*/",
          "getterMethodName" : "getTags",
          "getterModel" : {
            "returnType" : "java.util.Map<String,String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "tags",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "tags",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "TagValue",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Value",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "String",
            "entryType" : "Map.Entry<String, String>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,String>",
            "templateType" : "java.util.Map<String,String>",
            "valueList" : false,
            "valueSimple" : true
          },
          "marshallingTargetClass" : "Map",
          "marshallingType" : "MAP",
          "name" : "Tags",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Add tags to your FinSpace environment.</p>\n@param tags Add tags to your FinSpace environment.*/",
          "setterMethodName" : "setTags",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "tags",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Add tags to your FinSpace environment.</p>\n@param tags Add tags to your FinSpace environment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "tags",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "<p>Add tags to your FinSpace environment.</p>",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.finspace.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "name" ],
      "shapeName" : "CreateEnvironmentRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEnvironmentRequest",
        "variableName" : "createEnvironmentRequest",
        "variableType" : "CreateEnvironmentRequest",
        "documentation" : null,
        "simpleType" : "CreateEnvironmentRequest",
        "variableSetterType" : "CreateEnvironmentRequest"
      },
      "wrapper" : false
    },
    "CreateEnvironmentResult" : {
      "c2jName" : "CreateEnvironmentResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.finspace.response.CreateEnvironmentResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "environmentId",
        "c2jShape" : "IdType",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier for FinSpace environment that you created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier for FinSpace environment that you created.</p>\n@param environmentId The unique identifier for FinSpace environment that you created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEnvironmentId",
        "getterDocumentation" : "/**<p>The unique identifier for FinSpace environment that you created.</p>\n@return The unique identifier for FinSpace environment that you created.*/",
        "getterMethodName" : "getEnvironmentId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "environmentId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "environmentId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "EnvironmentId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique identifier for FinSpace environment that you created.</p>\n@param environmentId The unique identifier for FinSpace environment that you created.*/",
        "setterMethodName" : "setEnvironmentId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "environmentId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier for FinSpace environment that you created.</p>\n@param environmentId The unique identifier for FinSpace environment that you created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "environmentId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier for FinSpace environment that you created.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "environmentArn",
        "c2jShape" : "EnvironmentArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the FinSpace environment that you created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the FinSpace environment that you created.</p>\n@param environmentArn The Amazon Resource Name (ARN) of the FinSpace environment that you created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEnvironmentArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the FinSpace environment that you created.</p>\n@return The Amazon Resource Name (ARN) of the FinSpace environment that you created.*/",
        "getterMethodName" : "getEnvironmentArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "environmentArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "environmentArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "EnvironmentArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the FinSpace environment that you created.</p>\n@param environmentArn The Amazon Resource Name (ARN) of the FinSpace environment that you created.*/",
        "setterMethodName" : "setEnvironmentArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "environmentArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the FinSpace environment that you created.</p>\n@param environmentArn The Amazon Resource Name (ARN) of the FinSpace environment that you created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "environmentArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the FinSpace environment that you created.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "environmentUrl",
        "c2jShape" : "url",
        "deprecated" : false,
        "documentation" : "<p>The sign-in url for the web application of the FinSpace environment you created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The sign-in url for the web application of the FinSpace environment you created.</p>\n@param environmentUrl The sign-in url for the web application of the FinSpace environment you created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEnvironmentUrl",
        "getterDocumentation" : "/**<p>The sign-in url for the web application of the FinSpace environment you created.</p>\n@return The sign-in url for the web application of the FinSpace environment you created.*/",
        "getterMethodName" : "getEnvironmentUrl",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "environmentUrl",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "environmentUrl",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "EnvironmentUrl",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The sign-in url for the web application of the FinSpace environment you created.</p>\n@param environmentUrl The sign-in url for the web application of the FinSpace environment you created.*/",
        "setterMethodName" : "setEnvironmentUrl",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "environmentUrl",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The sign-in url for the web application of the FinSpace environment you created.</p>\n@param environmentUrl The sign-in url for the web application of the FinSpace environment you created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "environmentUrl",
          "variableType" : "String",
          "documentation" : "<p>The sign-in url for the web application of the FinSpace environment you created.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "EnvironmentArn" : {
          "c2jName" : "environmentArn",
          "c2jShape" : "EnvironmentArn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the FinSpace environment that you created.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the FinSpace environment that you created.</p>\n@param environmentArn The Amazon Resource Name (ARN) of the FinSpace environment that you created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEnvironmentArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the FinSpace environment that you created.</p>\n@return The Amazon Resource Name (ARN) of the FinSpace environment that you created.*/",
          "getterMethodName" : "getEnvironmentArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "environmentArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "environmentArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "EnvironmentArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the FinSpace environment that you created.</p>\n@param environmentArn The Amazon Resource Name (ARN) of the FinSpace environment that you created.*/",
          "setterMethodName" : "setEnvironmentArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "environmentArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the FinSpace environment that you created.</p>\n@param environmentArn The Amazon Resource Name (ARN) of the FinSpace environment that you created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "environmentArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the FinSpace environment that you created.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "EnvironmentId" : {
          "c2jName" : "environmentId",
          "c2jShape" : "IdType",
          "deprecated" : false,
          "documentation" : "<p>The unique identifier for FinSpace environment that you created.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The unique identifier for FinSpace environment that you created.</p>\n@param environmentId The unique identifier for FinSpace environment that you created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEnvironmentId",
          "getterDocumentation" : "/**<p>The unique identifier for FinSpace environment that you created.</p>\n@return The unique identifier for FinSpace environment that you created.*/",
          "getterMethodName" : "getEnvironmentId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "environmentId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "environmentId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "EnvironmentId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The unique identifier for FinSpace environment that you created.</p>\n@param environmentId The unique identifier for FinSpace environment that you created.*/",
          "setterMethodName" : "setEnvironmentId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "environmentId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The unique identifier for FinSpace environment that you created.</p>\n@param environmentId The unique identifier for FinSpace environment that you created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "environmentId",
            "variableType" : "String",
            "documentation" : "<p>The unique identifier for FinSpace environment that you created.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "EnvironmentUrl" : {
          "c2jName" : "environmentUrl",
          "c2jShape" : "url",
          "deprecated" : false,
          "documentation" : "<p>The sign-in url for the web application of the FinSpace environment you created.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The sign-in url for the web application of the FinSpace environment you created.</p>\n@param environmentUrl The sign-in url for the web application of the FinSpace environment you created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEnvironmentUrl",
          "getterDocumentation" : "/**<p>The sign-in url for the web application of the FinSpace environment you created.</p>\n@return The sign-in url for the web application of the FinSpace environment you created.*/",
          "getterMethodName" : "getEnvironmentUrl",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "environmentUrl",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "environmentUrl",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "EnvironmentUrl",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The sign-in url for the web application of the FinSpace environment you created.</p>\n@param environmentUrl The sign-in url for the web application of the FinSpace environment you created.*/",
          "setterMethodName" : "setEnvironmentUrl",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "environmentUrl",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The sign-in url for the web application of the FinSpace environment you created.</p>\n@param environmentUrl The sign-in url for the web application of the FinSpace environment you created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "environmentUrl",
            "variableType" : "String",
            "documentation" : "<p>The sign-in url for the web application of the FinSpace environment you created.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.finspace.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CreateEnvironmentResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEnvironmentResult",
        "variableName" : "createEnvironmentResult",
        "variableType" : "CreateEnvironmentResult",
        "documentation" : null,
        "simpleType" : "CreateEnvironmentResult",
        "variableSetterType" : "CreateEnvironmentResult"
      },
      "wrapper" : false
    },
    "DeleteEnvironmentRequest" : {
      "c2jName" : "DeleteEnvironmentRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.finspace.request.DeleteEnvironmentRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeleteEnvironment",
        "locationName" : null,
        "requestUri" : "/environment/{environmentId}",
        "target" : null,
        "verb" : "DELETE",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "environmentId",
        "c2jShape" : "IdType",
        "deprecated" : false,
        "documentation" : "<p>The identifier for the FinSpace environment.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier for the FinSpace environment.</p>\n@param environmentId The identifier for the FinSpace environment.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEnvironmentId",
        "getterDocumentation" : "/**<p>The identifier for the FinSpace environment.</p>\n@return The identifier for the FinSpace environment.*/",
        "getterMethodName" : "getEnvironmentId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
[...]
