{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-07-13",
    "asyncClient" : "AWSFinSpaceDataAsyncClient",
    "asyncClientBuilderClassName" : "AWSFinSpaceDataAsyncClientBuilder",
    "asyncInterface" : "AWSFinSpaceDataAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSFinSpaceDataModuleInjector",
    "defaultEndpoint" : "finspace-api.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "finspace-api.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p> The FinSpace APIs let you take actions inside the FinSpace.</p>",
    "endpointPrefix" : "finspace-api",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.finspacedata",
    "packagePath" : "com/amazonaws/services/finspacedata",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "FinSpace Data",
    "serviceFullName" : "FinSpace Public API",
    "serviceId" : "finspace data",
    "serviceName" : "FinSpace Data",
    "signingName" : "finspace-api",
    "smokeTestsPackageName" : "com.amazonaws.services.finspacedata.smoketests",
    "syncClient" : "AWSFinSpaceDataClient",
    "syncClientBuilderClassName" : "AWSFinSpaceDataClientBuilder",
    "syncInterface" : "AWSFinSpaceData",
    "uid" : "finspace-2020-07-13",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateUserToPermissionGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateUserToPermissionGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateUserToPermissionGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateUserToPermissionGroupRequest, AssociateUserToPermissionGroupResult>",
      "asyncReturnType" : "AssociateUserToPermissionGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a user account to a permission group to grant permissions for actions a user can perform in FinSpace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateUserToPermissionGroupRequest",
        "variableName" : "associateUserToPermissionGroupRequest",
        "variableType" : "AssociateUserToPermissionGroupRequest",
        "documentation" : "",
        "simpleType" : "AssociateUserToPermissionGroupRequest",
        "variableSetterType" : "AssociateUserToPermissionGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateUserToPermissionGroup",
      "operationName" : "AssociateUserToPermissionGroup",
      "returnType" : {
        "returnType" : "AssociateUserToPermissionGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateUserToPermissionGroupResult"
    },
    "CreateChangeset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateChangesetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateChangesetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateChangesetRequest, CreateChangesetResult>",
      "asyncReturnType" : "CreateChangesetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new Changeset in a FinSpace Dataset.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit has exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateChangesetRequest",
        "variableName" : "createChangesetRequest",
        "variableType" : "CreateChangesetRequest",
        "documentation" : "The request for a CreateChangeset operation.",
        "simpleType" : "CreateChangesetRequest",
        "variableSetterType" : "CreateChangesetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createChangeset",
      "operationName" : "CreateChangeset",
      "returnType" : {
        "returnType" : "CreateChangesetResult",
        "documentation" : "The response from a CreateChangeset operation."
      },
      "syncReturnType" : "CreateChangesetResult"
    },
    "CreateDataView" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDataViewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDataViewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDataViewRequest, CreateDataViewResult>",
      "asyncReturnType" : "CreateDataViewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Dataview for a Dataset.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit has exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDataViewRequest",
        "variableName" : "createDataViewRequest",
        "variableType" : "CreateDataViewRequest",
        "documentation" : "Request for creating a data view.",
        "simpleType" : "CreateDataViewRequest",
        "variableSetterType" : "CreateDataViewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataView",
      "operationName" : "CreateDataView",
      "returnType" : {
        "returnType" : "CreateDataViewResult",
        "documentation" : "Response for creating a data view."
      },
      "syncReturnType" : "CreateDataViewResult"
    },
    "CreateDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDatasetRequest, CreateDatasetResult>",
      "asyncReturnType" : "CreateDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new FinSpace Dataset.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit has exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDatasetRequest",
        "variableName" : "createDatasetRequest",
        "variableType" : "CreateDatasetRequest",
        "documentation" : "The request for a CreateDataset operation",
        "simpleType" : "CreateDatasetRequest",
        "variableSetterType" : "CreateDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataset",
      "operationName" : "CreateDataset",
      "returnType" : {
        "returnType" : "CreateDatasetResult",
        "documentation" : "The response from a CreateDataset operation"
      },
      "syncReturnType" : "CreateDatasetResult"
    },
    "CreatePermissionGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePermissionGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePermissionGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePermissionGroupRequest, CreatePermissionGroupResult>",
      "asyncReturnType" : "CreatePermissionGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a group of permissions for various actions that a user can perform in FinSpace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit has exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePermissionGroupRequest",
        "variableName" : "createPermissionGroupRequest",
        "variableType" : "CreatePermissionGroupRequest",
        "documentation" : "",
        "simpleType" : "CreatePermissionGroupRequest",
        "variableSetterType" : "CreatePermissionGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPermissionGroup",
      "operationName" : "CreatePermissionGroup",
      "returnType" : {
        "returnType" : "CreatePermissionGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePermissionGroupResult"
    },
    "CreateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateUserRequest, CreateUserResult>",
      "asyncReturnType" : "CreateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new user in FinSpace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit has exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateUserRequest",
        "variableName" : "createUserRequest",
        "variableType" : "CreateUserRequest",
        "documentation" : "",
        "simpleType" : "CreateUserRequest",
        "variableSetterType" : "CreateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createUser",
      "operationName" : "CreateUser",
      "returnType" : {
        "returnType" : "CreateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateUserResult"
    },
    "DeleteDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDatasetRequest, DeleteDatasetResult>",
      "asyncReturnType" : "DeleteDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a FinSpace Dataset.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit has exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDatasetRequest",
        "variableName" : "deleteDatasetRequest",
        "variableType" : "DeleteDatasetRequest",
        "documentation" : "The request for a DeleteDataset operation.",
        "simpleType" : "DeleteDatasetRequest",
        "variableSetterType" : "DeleteDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDataset",
      "operationName" : "DeleteDataset",
      "returnType" : {
        "returnType" : "DeleteDatasetResult",
        "documentation" : "The response from an DeleteDataset operation"
      },
      "syncReturnType" : "DeleteDatasetResult"
    },
    "DeletePermissionGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePermissionGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePermissionGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePermissionGroupRequest, DeletePermissionGroupResult>",
      "asyncReturnType" : "DeletePermissionGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a permission group. This action is irreversible.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit has exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePermissionGroupRequest",
        "variableName" : "deletePermissionGroupRequest",
        "variableType" : "DeletePermissionGroupRequest",
        "documentation" : "",
        "simpleType" : "DeletePermissionGroupRequest",
        "variableSetterType" : "DeletePermissionGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePermissionGroup",
      "operationName" : "DeletePermissionGroup",
      "returnType" : {
        "returnType" : "DeletePermissionGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePermissionGroupResult"
    },
    "DisableUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisableUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisableUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisableUserRequest, DisableUserResult>",
      "asyncReturnType" : "DisableUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Denies access to the FinSpace web application and API for the specified user.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisableUserRequest",
        "variableName" : "disableUserRequest",
        "variableType" : "DisableUserRequest",
        "documentation" : "",
        "simpleType" : "DisableUserRequest",
        "variableSetterType" : "DisableUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disableUser",
      "operationName" : "DisableUser",
      "returnType" : {
        "returnType" : "DisableUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DisableUserResult"
    },
    "DisassociateUserFromPermissionGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateUserFromPermissionGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateUserFromPermissionGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateUserFromPermissionGroupRequest, DisassociateUserFromPermissionGroupResult>",
      "asyncReturnType" : "DisassociateUserFromPermissionGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a user account from a permission group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateUserFromPermissionGroupRequest",
        "variableName" : "disassociateUserFromPermissionGroupRequest",
        "variableType" : "DisassociateUserFromPermissionGroupRequest",
        "documentation" : "",
        "simpleType" : "DisassociateUserFromPermissionGroupRequest",
        "variableSetterType" : "DisassociateUserFromPermissionGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateUserFromPermissionGroup",
      "operationName" : "DisassociateUserFromPermissionGroup",
      "returnType" : {
        "returnType" : "DisassociateUserFromPermissionGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateUserFromPermissionGroupResult"
    },
    "EnableUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<EnableUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<EnableUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<EnableUserRequest, EnableUserResult>",
      "asyncReturnType" : "EnableUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Allows the specified user to access the FinSpace web application and API.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A limit has exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "EnableUserRequest",
        "variableName" : "enableUserRequest",
        "variableType" : "EnableUserRequest",
        "documentation" : "",
        "simpleType" : "EnableUserRequest",
        "variableSetterType" : "EnableUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "enableUser",
      "operationName" : "EnableUser",
      "returnType" : {
        "returnType" : "EnableUserResult",
        "documentation" : null
      },
      "syncReturnType" : "EnableUserResult"
    },
    "GetChangeset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetChangesetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetChangesetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetChangesetRequest, GetChangesetResult>",
      "asyncReturnType" : "GetChangesetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get information about a Changeset.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetChangesetRequest",
        "variableName" : "getChangesetRequest",
        "variableType" : "GetChangesetRequest",
        "documentation" : "Request to describe a changeset.",
        "simpleType" : "GetChangesetRequest",
        "variableSetterType" : "GetChangesetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getChangeset",
      "operationName" : "GetChangeset",
      "returnType" : {
        "returnType" : "GetChangesetResult",
        "documentation" : "The response from a describe changeset operation"
      },
      "syncReturnType" : "GetChangesetResult"
    },
    "GetDataView" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDataViewResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDataViewResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDataViewRequest, GetDataViewResult>",
      "asyncReturnType" : "GetDataViewResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a Dataview.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDataViewRequest",
        "variableName" : "getDataViewRequest",
        "variableType" : "GetDataViewRequest",
        "documentation" : "Request for retrieving a data view detail. Grouped / accessible within a dataset by its dataset id.",
        "simpleType" : "GetDataViewRequest",
        "variableSetterType" : "GetDataViewRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDataView",
      "operationName" : "GetDataView",
      "returnType" : {
        "returnType" : "GetDataViewResult",
        "documentation" : "Response from retrieving a dataview, which includes details on the target database and table name"
      },
      "syncReturnType" : "GetDataViewResult"
    },
    "GetDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDatasetRequest, GetDatasetResult>",
      "asyncReturnType" : "GetDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a Dataset.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDatasetRequest",
        "variableName" : "getDatasetRequest",
        "variableType" : "GetDatasetRequest",
        "documentation" : "Request for the GetDataset operation.",
        "simpleType" : "GetDatasetRequest",
        "variableSetterType" : "GetDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDataset",
      "operationName" : "GetDataset",
      "returnType" : {
        "returnType" : "GetDatasetResult",
        "documentation" : "Response for the GetDataset operation"
      },
      "syncReturnType" : "GetDatasetResult"
    },
    "GetExternalDataViewAccessDetails" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetExternalDataViewAccessDetailsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetExternalDataViewAccessDetailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetExternalDataViewAccessDetailsRequest, GetExternalDataViewAccessDetailsResult>",
      "asyncReturnType" : "GetExternalDataViewAccessDetailsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the credentials to access the external Dataview from an S3 location. To call this API:</p> <ul> <li> <p>You must retrieve the programmatic credentials.</p> </li> <li> <p>You must be a member of a FinSpace user group, where the dataset that you want to access has <code>Read Dataset Data</code> permissions.</p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetExternalDataViewAccessDetailsRequest",
        "variableName" : "getExternalDataViewAccessDetailsRequest",
        "variableType" : "GetExternalDataViewAccessDetailsRequest",
        "documentation" : "",
        "simpleType" : "GetExternalDataViewAccessDetailsRequest",
        "variableSetterType" : "GetExternalDataViewAccessDetailsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getExternalDataViewAccessDetails",
      "operationName" : "GetExternalDataViewAccessDetails",
      "returnType" : {
        "returnType" : "GetExternalDataViewAccessDetailsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetExternalDataViewAccessDetailsResult"
    },
    "GetPermissionGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPermissionGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPermissionGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPermissionGroupRequest, GetPermissionGroupResult>",
      "asyncReturnType" : "GetPermissionGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the details of a specific permission group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPermissionGroupRequest",
        "variableName" : "getPermissionGroupRequest",
        "variableType" : "GetPermissionGroupRequest",
        "documentation" : "",
        "simpleType" : "GetPermissionGroupRequest",
        "variableSetterType" : "GetPermissionGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPermissionGroup",
      "operationName" : "GetPermissionGroup",
      "returnType" : {
        "returnType" : "GetPermissionGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPermissionGroupResult"
    },
    "GetProgrammaticAccessCredentials" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetProgrammaticAccessCredentialsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetProgrammaticAccessCredentialsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProgrammaticAccessCredentialsRequest, GetProgrammaticAccessCredentialsResult>",
      "asyncReturnType" : "GetProgrammaticAccessCredentialsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Request programmatic credentials to use with FinSpace SDK.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetProgrammaticAccessCredentialsRequest",
        "variableName" : "getProgrammaticAccessCredentialsRequest",
        "variableType" : "GetProgrammaticAccessCredentialsRequest",
        "documentation" : "Request for GetProgrammaticAccessCredentials operation",
        "simpleType" : "GetProgrammaticAccessCredentialsRequest",
        "variableSetterType" : "GetProgrammaticAccessCredentialsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getProgrammaticAccessCredentials",
      "operationName" : "GetProgrammaticAccessCredentials",
      "returnType" : {
        "returnType" : "GetProgrammaticAccessCredentialsResult",
        "documentation" : "Response for GetProgrammaticAccessCredentials operation"
      },
      "syncReturnType" : "GetProgrammaticAccessCredentialsResult"
    },
    "GetUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetUserRequest, GetUserResult>",
      "asyncReturnType" : "GetUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves details for a specific user.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetUserRequest",
        "variableName" : "getUserRequest",
        "variableType" : "GetUserRequest",
        "documentation" : "",
        "simpleType" : "GetUserRequest",
        "variableSetterType" : "GetUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getUser",
      "operationName" : "GetUser",
      "returnType" : {
        "returnType" : "GetUserResult",
        "documentation" : null
      },
      "syncReturnType" : "GetUserResult"
    },
    "GetWorkingLocation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWorkingLocationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWorkingLocationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWorkingLocationRequest, GetWorkingLocationResult>",
      "asyncReturnType" : "GetWorkingLocationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>A temporary Amazon S3 location, where you can copy your files from a source location to stage or use as a scratch space in FinSpace notebook.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWorkingLocationRequest",
        "variableName" : "getWorkingLocationRequest",
        "variableType" : "GetWorkingLocationRequest",
        "documentation" : "",
        "simpleType" : "GetWorkingLocationRequest",
        "variableSetterType" : "GetWorkingLocationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWorkingLocation",
      "operationName" : "GetWorkingLocation",
      "returnType" : {
        "returnType" : "GetWorkingLocationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetWorkingLocationResult"
    },
    "ListChangesets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListChangesetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListChangesetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListChangesetsRequest, ListChangesetsResult>",
      "asyncReturnType" : "ListChangesetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the FinSpace Changesets for a Dataset.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListChangesetsRequest",
        "variableName" : "listChangesetsRequest",
        "variableType" : "ListChangesetsRequest",
        "documentation" : "Request to ListChangesetsRequest. It exposes minimal query filters.",
        "simpleType" : "ListChangesetsRequest",
        "variableSetterType" : "ListChangesetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listChangesets",
      "operationName" : "ListChangesets",
      "returnType" : {
        "returnType" : "ListChangesetsResult",
        "documentation" : "Response to ListChangesetsResponse. This returns a list of dataset changesets that match the query criteria."
      },
      "syncReturnType" : "ListChangesetsResult"
    },
    "ListDataViews" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDataViewsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDataViewsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDataViewsRequest, ListDataViewsResult>",
      "asyncReturnType" : "ListDataViewsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all available Dataviews for a Dataset.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDataViewsRequest",
        "variableName" : "listDataViewsRequest",
        "variableType" : "ListDataViewsRequest",
        "documentation" : "Request for a list data views.",
        "simpleType" : "ListDataViewsRequest",
        "variableSetterType" : "ListDataViewsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDataViews",
      "operationName" : "ListDataViews",
      "returnType" : {
        "returnType" : "ListDataViewsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDataViewsResult"
    },
    "ListDatasets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDatasetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDatasetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDatasetsRequest, ListDatasetsResult>",
      "asyncReturnType" : "ListDatasetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the active Datasets that a user has access to.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDatasetsRequest",
        "variableName" : "listDatasetsRequest",
        "variableType" : "ListDatasetsRequest",
        "documentation" : "Request for the ListDatasets operation.",
        "simpleType" : "ListDatasetsRequest",
        "variableSetterType" : "ListDatasetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDatasets",
      "operationName" : "ListDatasets",
      "returnType" : {
        "returnType" : "ListDatasetsResult",
        "documentation" : "Response for the ListDatasets operation"
      },
      "syncReturnType" : "ListDatasetsResult"
    },
    "ListPermissionGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPermissionGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPermissionGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPermissionGroupsRequest, ListPermissionGroupsResult>",
      "asyncReturnType" : "ListPermissionGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all available permission groups in FinSpace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPermissionGroupsRequest",
        "variableName" : "listPermissionGroupsRequest",
        "variableType" : "ListPermissionGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListPermissionGroupsRequest",
        "variableSetterType" : "ListPermissionGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPermissionGroups",
      "operationName" : "ListPermissionGroups",
      "returnType" : {
        "returnType" : "ListPermissionGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPermissionGroupsResult"
    },
    "ListPermissionGroupsByUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPermissionGroupsByUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPermissionGroupsByUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPermissionGroupsByUserRequest, ListPermissionGroupsByUserResult>",
      "asyncReturnType" : "ListPermissionGroupsByUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the permission groups that are associated with a specific user account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPermissionGroupsByUserRequest",
        "variableName" : "listPermissionGroupsByUserRequest",
        "variableType" : "ListPermissionGroupsByUserRequest",
        "documentation" : "",
        "simpleType" : "ListPermissionGroupsByUserRequest",
        "variableSetterType" : "ListPermissionGroupsByUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPermissionGroupsByUser",
      "operationName" : "ListPermissionGroupsByUser",
      "returnType" : {
        "returnType" : "ListPermissionGroupsByUserResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPermissionGroupsByUserResult"
    },
    "ListUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUsersRequest, ListUsersResult>",
      "asyncReturnType" : "ListUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all available user accounts in FinSpace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListUsersRequest",
        "variableName" : "listUsersRequest",
        "variableType" : "ListUsersRequest",
        "documentation" : "",
        "simpleType" : "ListUsersRequest",
        "variableSetterType" : "ListUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUsers",
      "operationName" : "ListUsers",
      "returnType" : {
        "returnType" : "ListUsersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListUsersResult"
    },
    "ListUsersByPermissionGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListUsersByPermissionGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListUsersByPermissionGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListUsersByPermissionGroupRequest, ListUsersByPermissionGroupResult>",
      "asyncReturnType" : "ListUsersByPermissionGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists details of all the users in a specific permission group.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListUsersByPermissionGroupRequest",
        "variableName" : "listUsersByPermissionGroupRequest",
        "variableType" : "ListUsersByPermissionGroupRequest",
        "documentation" : "",
        "simpleType" : "ListUsersByPermissionGroupRequest",
        "variableSetterType" : "ListUsersByPermissionGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listUsersByPermissionGroup",
      "operationName" : "ListUsersByPermissionGroup",
      "returnType" : {
        "returnType" : "ListUsersByPermissionGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "ListUsersByPermissionGroupResult"
    },
    "ResetUserPassword" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResetUserPasswordResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResetUserPasswordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResetUserPasswordRequest, ResetUserPasswordResult>",
      "asyncReturnType" : "ResetUserPasswordResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Resets the password for a specified user ID and generates a temporary one. Only a superuser can reset password for other users. Resetting the password immediately invalidates the previous password associated with the user.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ResetUserPasswordRequest",
        "variableName" : "resetUserPasswordRequest",
        "variableType" : "ResetUserPasswordRequest",
        "documentation" : "",
        "simpleType" : "ResetUserPasswordRequest",
        "variableSetterType" : "ResetUserPasswordRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "resetUserPassword",
      "operationName" : "ResetUserPassword",
      "returnType" : {
        "returnType" : "ResetUserPasswordResult",
        "documentation" : null
      },
      "syncReturnType" : "ResetUserPasswordResult"
    },
    "UpdateChangeset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateChangesetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateChangesetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateChangesetRequest, UpdateChangesetResult>",
      "asyncReturnType" : "UpdateChangesetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a FinSpace Changeset.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateChangesetRequest",
        "variableName" : "updateChangesetRequest",
        "variableType" : "UpdateChangesetRequest",
        "documentation" : "Request to update an existing changeset.",
        "simpleType" : "UpdateChangesetRequest",
        "variableSetterType" : "UpdateChangesetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateChangeset",
      "operationName" : "UpdateChangeset",
      "returnType" : {
        "returnType" : "UpdateChangesetResult",
        "documentation" : "The response from a update changeset operation."
      },
      "syncReturnType" : "UpdateChangesetResult"
    },
    "UpdateDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDatasetRequest, UpdateDatasetResult>",
      "asyncReturnType" : "UpdateDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a FinSpace Dataset.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDatasetRequest",
        "variableName" : "updateDatasetRequest",
        "variableType" : "UpdateDatasetRequest",
        "documentation" : "The request for an UpdateDataset operation",
        "simpleType" : "UpdateDatasetRequest",
        "variableSetterType" : "UpdateDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDataset",
      "operationName" : "UpdateDataset",
      "returnType" : {
        "returnType" : "UpdateDatasetResult",
        "documentation" : "The response from an UpdateDataset operation"
      },
      "syncReturnType" : "UpdateDatasetResult"
    },
    "UpdatePermissionGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePermissionGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePermissionGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePermissionGroupRequest, UpdatePermissionGroupResult>",
      "asyncReturnType" : "UpdatePermissionGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the details of a permission group. You cannot modify a <code>permissionGroupID</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdatePermissionGroupRequest",
        "variableName" : "updatePermissionGroupRequest",
        "variableType" : "UpdatePermissionGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdatePermissionGroupRequest",
        "variableSetterType" : "UpdatePermissionGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updatePermissionGroup",
      "operationName" : "UpdatePermissionGroup",
      "returnType" : {
        "returnType" : "UpdatePermissionGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdatePermissionGroupResult"
    },
    "UpdateUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateUserRequest, UpdateUserResult>",
      "asyncReturnType" : "UpdateUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies the details of the specified user account. You cannot update the <code>userId</code> for a user.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request conflicts with an existing resource.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateUserRequest",
        "variableName" : "updateUserRequest",
        "variableType" : "UpdateUserRequest",
        "documentation" : "",
        "simpleType" : "UpdateUserRequest",
        "variableSetterType" : "UpdateUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateUser",
      "operationName" : "UpdateUser",
      "returnType" : {
        "returnType" : "UpdateUserResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateUserResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.finspacedata.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.finspacedata.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "ApiAccess" : {
      "c2jName" : "ApiAccess",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "ENABLED",
        "value" : "ENABLED"
      }, {
        "name" : "DISABLED",
        "value" : "DISABLED"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.finspacedata.enum.ApiAccess",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.finspacedata.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ApiAccess",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ApiAccess",
        "variableName" : "apiAccess",
        "variableType" : "ApiAccess",
        "documentation" : null,
        "simpleType" : "ApiAccess",
        "variableSetterType" : "ApiAccess"
      },
      "wrapper" : false
    },
    "ApplicationPermission" : {
      "c2jName" : "ApplicationPermission",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "CreateDataset",
        "value" : "CreateDataset"
      }, {
        "name" : "ManageClusters",
        "value" : "ManageClusters"
      }, {
        "name" : "ManageUsersAndGroups",
        "value" : "ManageUsersAndGroups"
      }, {
        "name" : "ManageAttributeSets",
        "value" : "ManageAttributeSets"
      }, {
        "name" : "ViewAuditData",
        "value" : "ViewAuditData"
      }, {
        "name" : "AccessNotebooks",
        "value" : "AccessNotebooks"
      }, {
        "name" : "GetTemporaryCredentials",
        "value" : "GetTemporaryCredentials"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.finspacedata.enum.ApplicationPermission",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.finspacedata.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ApplicationPermission",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ApplicationPermission",
        "variableName" : "applicationPermission",
        "variableType" : "ApplicationPermission",
        "documentation" : null,
        "simpleType" : "ApplicationPermission",
        "variableSetterType" : "ApplicationPermission"
      },
      "wrapper" : false
    },
    "AssociateUserToPermissionGroupRequest" : {
      "c2jName" : "AssociateUserToPermissionGroupRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.finspacedata.request.AssociateUserToPermissionGroupRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssociateUserToPermissionGroup",
        "locationName" : null,
        "requestUri" : "/permission-group/{permissionGroupId}/users/{userId}",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "permissionGroupId",
        "c2jShape" : "PermissionGroupId",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier for the permission group.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier for the permission group.</p>\n@param permissionGroupId The unique identifier for the permission group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPermissionGroupId",
        "getterDocumentation" : "/**<p>The unique identifier for the permission group.</p>\n@return The unique identifier for the permission group.*/",
        "getterMethodName" : "getPermissionGroupId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "permissionGroupId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "permissionGroupId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PermissionGroupId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique identifier for the permission group.</p>\n@param permissionGroupId The unique identifier for the permission group.*/",
        "setterMethodName" : "setPermissionGroupId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "permissionGroupId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier for the permission group.</p>\n@param permissionGroupId The unique identifier for the permission group.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "permissionGroupId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier for the permission group.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "userId",
        "c2jShape" : "UserId",
        "deprecated" : false,
        "documentation" : "<p>The unique identifier for the user.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique identifier for the user.</p>\n@param userId The unique identifier for the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withUserId",
        "getterDocumentation" : "/**<p>The unique identifier for the user.</p>\n@return The unique identifier for the user.*/",
        "getterMethodName" : "getUserId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "userId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "userId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "UserId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique identifier for the user.</p>\n@param userId The unique identifier for the user.*/",
        "setterMethodName" : "setUserId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "userId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique identifier for the user.</p>\n@param userId The unique identifier for the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "userId",
          "variableType" : "String",
          "documentation" : "<p>The unique identifier for the user.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "clientToken",
        "c2jShape" : "ClientToken",
        "deprecated" : false,
        "documentation" : "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A token that ensures idempotency. This token expires in 10 minutes.</p>\n@param clientToken A token that ensures idempotency. This token expires in 10 minutes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p>A token that ensures idempotency. This token expires in 10 minutes.</p>\n@return A token that ensures idempotency. This token expires in 10 minutes.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A token that ensures idempotency. This token expires in 10 minutes.</p>\n@param clientToken A token that ensures idempotency. This token expires in 10 minutes.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A token that ensures idempotency. This token expires in 10 minutes.</p>\n@param clientToken A token that ensures idempotency. This token expires in 10 minutes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClientToken" : {
          "c2jName" : "clientToken",
          "c2jShape" : "ClientToken",
          "deprecated" : false,
          "documentation" : "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A token that ensures idempotency. This token expires in 10 minutes.</p>\n@param clientToken A token that ensures idempotency. This token expires in 10 minutes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientToken",
          "getterDocumentation" : "/**<p>A token that ensures idempotency. This token expires in 10 minutes.</p>\n@return A token that ensures idempotency. This token expires in 10 minutes.*/",
          "getterMethodName" : "getClientToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clientToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientToken",
            "uri" : false
          },
          "idempotencyToken" : true,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientToken",
          "sensitive" : false,
[...]
