{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "DeliveryStreamDescription" : [ "DeliveryStreamStatus" ],
      "ElasticsearchDestinationConfiguration" : [ "IndexRotationPeriod", "S3BackupMode" ],
      "ElasticsearchDestinationDescription" : [ "IndexRotationPeriod", "S3BackupMode" ],
      "ElasticsearchDestinationUpdate" : [ "IndexRotationPeriod" ],
      "EncryptionConfiguration" : [ "NoEncryptionConfig" ],
      "ExtendedS3DestinationConfiguration" : [ "CompressionFormat", "S3BackupMode" ],
      "ExtendedS3DestinationDescription" : [ "CompressionFormat", "S3BackupMode" ],
      "ExtendedS3DestinationUpdate" : [ "CompressionFormat", "S3BackupMode" ],
      "Processor" : [ "Type" ],
      "ProcessorParameter" : [ "ParameterName" ],
      "RedshiftDestinationConfiguration" : [ "S3BackupMode" ],
      "RedshiftDestinationDescription" : [ "S3BackupMode" ],
      "RedshiftDestinationUpdate" : [ "S3BackupMode" ],
      "S3DestinationConfiguration" : [ "CompressionFormat" ],
      "S3DestinationDescription" : [ "CompressionFormat" ],
      "S3DestinationUpdate" : [ "CompressionFormat" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2015-08-04",
    "asyncClient" : "AmazonKinesisFirehoseAsyncClient",
    "asyncClientBuilderClassName" : "AmazonKinesisFirehoseAsyncClientBuilder",
    "asyncInterface" : "AmazonKinesisFirehoseAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonKinesisFirehoseModuleInjector",
    "defaultEndpoint" : "https://firehose.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "firehose.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon Kinesis Firehose API Reference</fullname> <p>Amazon Kinesis Firehose is a fully managed service that delivers real-time streaming data to destinations such as Amazon Simple Storage Service (Amazon S3), Amazon Elasticsearch Service (Amazon ES), and Amazon Redshift.</p>",
    "endpointPrefix" : "firehose",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.kinesisfirehose",
    "packagePath" : "com/amazonaws/services/kinesisfirehose",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Firehose",
    "serviceFullName" : "Amazon Kinesis Firehose",
    "serviceName" : "Firehose",
    "signingName" : "firehose",
    "smokeTestsPackageName" : "com.amazonaws.services.kinesisfirehose.smoketests",
    "syncClient" : "AmazonKinesisFirehoseClient",
    "syncClientBuilderClassName" : "AmazonKinesisFirehoseClientBuilder",
    "syncInterface" : "AmazonKinesisFirehose",
    "uid" : "firehose-2015-08-04",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateDeliveryStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeliveryStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeliveryStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeliveryStreamRequest, CreateDeliveryStreamResult>",
      "asyncReturnType" : "CreateDeliveryStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a delivery stream.</p> <p>By default, you can create up to 20 delivery streams per region.</p> <p>This is an asynchronous operation that immediately returns. The initial status of the delivery stream is <code>CREATING</code>. After the delivery stream is created, its status is <code>ACTIVE</code> and it now accepts data. Attempts to send data to a delivery stream that is not in the <code>ACTIVE</code> state cause an exception. To check the state of a delivery stream, use <a>DescribeDeliveryStream</a>.</p> <p>A Kinesis Firehose delivery stream can be configured to receive records directly from providers using <a>PutRecord</a> or <a>PutRecordBatch</a>, or it can be configured to use an existing Kinesis stream as its source. To specify a Kinesis stream as input, set the <code>DeliveryStreamType</code> parameter to <code>KinesisStreamAsSource</code>, and provide the Kinesis stream ARN and role ARN in the <code>KinesisStreamSourceConfiguration</code> parameter.</p> <p>A delivery stream is configured with a single destination: Amazon S3, Amazon ES, or Amazon Redshift. You must specify only one of the following destination configuration parameters: <b>ExtendedS3DestinationConfiguration</b>, <b>S3DestinationConfiguration</b>, <b>ElasticsearchDestinationConfiguration</b>, or <b>RedshiftDestinationConfiguration</b>.</p> <p>When you specify <b>S3DestinationConfiguration</b>, you can also provide the following optional values: <b>BufferingHints</b>, <b>EncryptionConfiguration</b>, and <b>CompressionFormat</b>. By default, if no <b>BufferingHints</b> value is provided, Kinesis Firehose buffers data up to 5 MB or for 5 minutes, whichever condition is satisfied first. Note that <b>BufferingHints</b> is a hint, so there are some cases where the service cannot adhere to these conditions strictly; for example, record boundaries are such that the size is a little over or under the configured buffering size. By default, no encryption is performed. We strongly recommend that you enable encryption to ensure secure data storage in Amazon S3.</p> <p>A few notes about Amazon Redshift as a destination:</p> <ul> <li> <p>An Amazon Redshift destination requires an S3 bucket as intermediate location, as Kinesis Firehose first delivers data to S3 and then uses <code>COPY</code> syntax to load data into an Amazon Redshift table. This is specified in the <b>RedshiftDestinationConfiguration.S3Configuration</b> parameter.</p> </li> <li> <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified in <b>RedshiftDestinationConfiguration.S3Configuration</b> because the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket doesn't support these compression formats.</p> </li> <li> <p>We strongly recommend that you use the user name and password you provide exclusively with Kinesis Firehose, and that the permissions for the account are restricted for Amazon Redshift <code>INSERT</code> permissions.</p> </li> </ul> <p>Kinesis Firehose assumes the IAM role that is configured as part of the destination. The role should allow the Kinesis Firehose principal to assume the role, and the role should have permissions that allow the service to deliver the data. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Amazon S3 Bucket Access</a> in the <i>Amazon Kinesis Firehose Developer Guide</i>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has a value that is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached the limit for a requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is already in use and not available for this operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDeliveryStreamRequest",
        "variableName" : "createDeliveryStreamRequest",
        "variableType" : "CreateDeliveryStreamRequest",
        "documentation" : "",
        "simpleType" : "CreateDeliveryStreamRequest",
        "variableSetterType" : "CreateDeliveryStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDeliveryStream",
      "operationName" : "CreateDeliveryStream",
      "returnType" : {
        "returnType" : "CreateDeliveryStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDeliveryStreamResult"
    },
    "DeleteDeliveryStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDeliveryStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDeliveryStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDeliveryStreamRequest, DeleteDeliveryStreamResult>",
      "asyncReturnType" : "DeleteDeliveryStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a delivery stream and its data.</p> <p>You can delete a delivery stream only if it is in <code>ACTIVE</code> or <code>DELETING</code> state, and not in the <code>CREATING</code> state. While the deletion request is in process, the delivery stream is in the <code>DELETING</code> state.</p> <p>To check the state of a delivery stream, use <a>DescribeDeliveryStream</a>.</p> <p>While the delivery stream is <code>DELETING</code> state, the service may continue to accept the records, but the service doesn't make any guarantees with respect to delivering the data. Therefore, as a best practice, you should first stop any applications that are sending records before deleting a delivery stream.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is already in use and not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDeliveryStreamRequest",
        "variableName" : "deleteDeliveryStreamRequest",
        "variableType" : "DeleteDeliveryStreamRequest",
        "documentation" : "",
        "simpleType" : "DeleteDeliveryStreamRequest",
        "variableSetterType" : "DeleteDeliveryStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDeliveryStream",
      "operationName" : "DeleteDeliveryStream",
      "returnType" : {
        "returnType" : "DeleteDeliveryStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDeliveryStreamResult"
    },
    "DescribeDeliveryStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDeliveryStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDeliveryStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDeliveryStreamRequest, DescribeDeliveryStreamResult>",
      "asyncReturnType" : "DescribeDeliveryStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified delivery stream and gets the status. For example, after your delivery stream is created, call <a>DescribeDeliveryStream</a> to see if the delivery stream is <code>ACTIVE</code> and therefore ready for data to be sent to it.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeDeliveryStreamRequest",
        "variableName" : "describeDeliveryStreamRequest",
        "variableType" : "DescribeDeliveryStreamRequest",
        "documentation" : "",
        "simpleType" : "DescribeDeliveryStreamRequest",
        "variableSetterType" : "DescribeDeliveryStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDeliveryStream",
      "operationName" : "DescribeDeliveryStream",
      "returnType" : {
        "returnType" : "DescribeDeliveryStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDeliveryStreamResult"
    },
    "ListDeliveryStreams" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeliveryStreamsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeliveryStreamsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeliveryStreamsRequest, ListDeliveryStreamsResult>",
      "asyncReturnType" : "ListDeliveryStreamsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists your delivery streams.</p> <p>The number of delivery streams might be too large to return using a single call to <a>ListDeliveryStreams</a>. You can limit the number of delivery streams returned, using the <b>Limit</b> parameter. To determine whether there are more delivery streams to list, check the value of <b>HasMoreDeliveryStreams</b> in the output. If there are more delivery streams to list, you can request them by specifying the name of the last delivery stream returned in the call in the <b>ExclusiveStartDeliveryStreamName</b> parameter of a subsequent call.</p>",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDeliveryStreamsRequest",
        "variableName" : "listDeliveryStreamsRequest",
        "variableType" : "ListDeliveryStreamsRequest",
        "documentation" : "",
        "simpleType" : "ListDeliveryStreamsRequest",
        "variableSetterType" : "ListDeliveryStreamsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDeliveryStreams",
      "operationName" : "ListDeliveryStreams",
      "returnType" : {
        "returnType" : "ListDeliveryStreamsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDeliveryStreamsResult"
    },
    "PutRecord" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRecordResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRecordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRecordRequest, PutRecordResult>",
      "asyncReturnType" : "PutRecordResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Writes a single data record into an Amazon Kinesis Firehose delivery stream. To write multiple data records into a delivery stream, use <a>PutRecordBatch</a>. Applications using these operations are referred to as producers.</p> <p>By default, each delivery stream can take in up to 2,000 transactions per second, 5,000 records per second, or 5 MB per second. Note that if you use <a>PutRecord</a> and <a>PutRecordBatch</a>, the limits are an aggregate across these two operations for each delivery stream. For more information about limits and how to request an increase, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Firehose Limits</a>. </p> <p>You must specify the name of the delivery stream and the data record when using <a>PutRecord</a>. The data record consists of a data blob that can be up to 1,000 KB in size, and any kind of data, for example, a segment from a log file, geographic location data, website clickstream data, and so on.</p> <p>Kinesis Firehose buffers records before delivering them to the destination. To disambiguate the data blobs at the destination, a common solution is to use delimiters in the data, such as a newline (<code>\\n</code>) or some other character unique within the data. This allows the consumer application to parse individual data items when reading the data from the destination.</p> <p>The <a>PutRecord</a> operation returns a <b>RecordId</b>, which is a unique string assigned to each record. Producer applications can use this ID for purposes such as auditability and investigation.</p> <p>If the <a>PutRecord</a> operation throws a <b>ServiceUnavailableException</b>, back off and retry. If the exception persists, it is possible that the throughput limits have been exceeded for the delivery stream. </p> <p>Data records sent to Kinesis Firehose are stored for 24 hours from the time they are added to a delivery stream as it attempts to send the records to the destination. If the destination is unreachable for more than 24 hours, the data is no longer available.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has a value that is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unavailable, back off and retry the operation. If you continue to see the exception, throughput limits for the delivery stream may have been exceeded. For more information about limits and how to request an increase, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Firehose Limits</a>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutRecordRequest",
        "variableName" : "putRecordRequest",
        "variableType" : "PutRecordRequest",
        "documentation" : "",
        "simpleType" : "PutRecordRequest",
        "variableSetterType" : "PutRecordRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRecord",
      "operationName" : "PutRecord",
      "returnType" : {
        "returnType" : "PutRecordResult",
        "documentation" : null
      },
      "syncReturnType" : "PutRecordResult"
    },
    "PutRecordBatch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRecordBatchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRecordBatchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRecordBatchRequest, PutRecordBatchResult>",
      "asyncReturnType" : "PutRecordBatchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Writes multiple data records into a delivery stream in a single call, which can achieve higher throughput per producer than when writing single records. To write single data records into a delivery stream, use <a>PutRecord</a>. Applications using these operations are referred to as producers.</p> <p>By default, each delivery stream can take in up to 2,000 transactions per second, 5,000 records per second, or 5 MB per second. If you use <a>PutRecord</a> and <a>PutRecordBatch</a>, the limits are an aggregate across these two operations for each delivery stream. For more information about limits, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Firehose Limits</a>.</p> <p>Each <a>PutRecordBatch</a> request supports up to 500 records. Each record in the request can be as large as 1,000 KB (before 64-bit encoding), up to a limit of 4 MB for the entire request. These limits cannot be changed.</p> <p>You must specify the name of the delivery stream and the data record when using <a>PutRecord</a>. The data record consists of a data blob that can be up to 1,000 KB in size, and any kind of data. For example, it could be a segment from a log file, geographic location data, web site clickstream data, and so on.</p> <p>Kinesis Firehose buffers records before delivering them to the destination. To disambiguate the data blobs at the destination, a common solution is to use delimiters in the data, such as a newline (<code>\\n</code>) or some other character unique within the data. This allows the consumer application to parse individual data items when reading the data from the destination.</p> <p>The <a>PutRecordBatch</a> response includes a count of failed records, <b>FailedPutCount</b>, and an array of responses, <b>RequestResponses</b>. Each entry in the <b>RequestResponses</b> array provides additional information about the processed record. It directly correlates with a record in the request array using the same ordering, from the top to the bottom. The response array always includes the same number of records as the request array. <b>RequestResponses</b> includes both successfully and unsuccessfully processed records. Kinesis Firehose attempts to process all records in each <a>PutRecordBatch</a> request. A single record failure does not stop the processing of subsequent records.</p> <p>A successfully processed record includes a <b>RecordId</b> value, which is unique for the record. An unsuccessfully processed record includes <b>ErrorCode</b> and <b>ErrorMessage</b> values. <b>ErrorCode</b> reflects the type of error, and is one of the following values: <code>ServiceUnavailable</code> or <code>InternalFailure</code>. <b>ErrorMessage</b> provides more detailed information about the error.</p> <p>If there is an internal server error or a timeout, the write might have completed or it might have failed. If <b>FailedPutCount</b> is greater than 0, retry the request, resending only those records that might have failed processing. This minimizes the possible duplicate records and also reduces the total bytes sent (and corresponding charges). We recommend that you handle any duplicates at the destination.</p> <p>If <a>PutRecordBatch</a> throws <b>ServiceUnavailableException</b>, back off and retry. If the exception persists, it is possible that the throughput limits have been exceeded for the delivery stream.</p> <p>Data records sent to Kinesis Firehose are stored for 24 hours from the time they are added to a delivery stream as it attempts to send the records to the destination. If the destination is unreachable for more than 24 hours, the data is no longer available.</p>",
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has a value that is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unavailable, back off and retry the operation. If you continue to see the exception, throughput limits for the delivery stream may have been exceeded. For more information about limits and how to request an increase, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Firehose Limits</a>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PutRecordBatchRequest",
        "variableName" : "putRecordBatchRequest",
        "variableType" : "PutRecordBatchRequest",
        "documentation" : "",
        "simpleType" : "PutRecordBatchRequest",
        "variableSetterType" : "PutRecordBatchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRecordBatch",
      "operationName" : "PutRecordBatch",
      "returnType" : {
        "returnType" : "PutRecordBatchResult",
        "documentation" : null
      },
      "syncReturnType" : "PutRecordBatchResult"
    },
    "UpdateDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDestinationRequest, UpdateDestinationResult>",
      "asyncReturnType" : "UpdateDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified destination of the specified delivery stream.</p> <p>You can use this operation to change the destination type (for example, to replace the Amazon S3 destination with Amazon Redshift) or change the parameters associated with a destination (for example, to change the bucket name of the Amazon S3 destination). The update might not occur immediately. The target delivery stream remains active while the configurations are updated, so data writes to the delivery stream can continue during this process. The updated configurations are usually effective within a few minutes.</p> <p>Note that switching between Amazon ES and other services is not supported. For an Amazon ES destination, you can only update to another Amazon ES destination.</p> <p>If the destination type is the same, Kinesis Firehose merges the configuration parameters specified with the destination configuration that already exists on the delivery stream. If any of the parameters are not specified in the call, the existing values are retained. For example, in the Amazon S3 destination, if <a>EncryptionConfiguration</a> is not specified, then the existing <a>EncryptionConfiguration</a> is maintained on the destination.</p> <p>If the destination type is not the same, for example, changing the destination from Amazon S3 to Amazon Redshift, Kinesis Firehose does not merge any parameters. In this case, all parameters must be specified.</p> <p>Kinesis Firehose uses <b>CurrentDeliveryStreamVersionId</b> to avoid race conditions and conflicting merges. This is a required field, and the service updates the configuration only if the existing configuration has a version ID that matches. After the update is applied successfully, the version ID is updated, and can be retrieved using <a>DescribeDeliveryStream</a>. Use the new version ID to set <b>CurrentDeliveryStreamVersionId</b> in the next call.</p>",
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has a value that is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is already in use and not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification has already happened. Fetch <b>VersionId</b> again and use it to update the destination.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateDestinationRequest",
        "variableName" : "updateDestinationRequest",
        "variableType" : "UpdateDestinationRequest",
        "documentation" : "",
        "simpleType" : "UpdateDestinationRequest",
        "variableSetterType" : "UpdateDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDestination",
      "operationName" : "UpdateDestination",
      "returnType" : {
        "returnType" : "UpdateDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDestinationResult"
    }
  },
  "shapes" : {
    "BufferingHints" : {
      "c2jName" : "BufferingHints",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes hints for the buffering to perform before delivering data to the destination. Please note that these options are treated as hints, and therefore Kinesis Firehose may choose to use different values when it is optimal.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "SizeInMBs",
        "c2jShape" : "SizeInMBs",
        "deprecated" : false,
        "documentation" : "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSizeInMBs",
        "getterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>\n@return Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.*/",
        "getterMethodName" : "getSizeInMBs",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SizeInMBs",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SizeInMBs",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "SizeInMBs",
        "setterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.*/",
        "setterMethodName" : "setSizeInMBs",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "sizeInMBs",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "sizeInMBs",
          "variableType" : "Integer",
          "documentation" : "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IntervalInSeconds",
        "c2jShape" : "IntervalInSeconds",
        "deprecated" : false,
        "documentation" : "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIntervalInSeconds",
        "getterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@return Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.*/",
        "getterMethodName" : "getIntervalInSeconds",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "IntervalInSeconds",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IntervalInSeconds",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "IntervalInSeconds",
        "setterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.*/",
        "setterMethodName" : "setIntervalInSeconds",
        "setterModel" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "intervalInSeconds",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Integer",
          "variableName" : "intervalInSeconds",
          "variableType" : "Integer",
          "documentation" : "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "IntervalInSeconds" : {
          "c2jName" : "IntervalInSeconds",
          "c2jShape" : "IntervalInSeconds",
          "deprecated" : false,
          "documentation" : "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIntervalInSeconds",
          "getterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@return Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.*/",
          "getterMethodName" : "getIntervalInSeconds",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "IntervalInSeconds",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "IntervalInSeconds",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "IntervalInSeconds",
          "setterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.*/",
          "setterMethodName" : "setIntervalInSeconds",
          "setterModel" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "intervalInSeconds",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "intervalInSeconds",
            "variableType" : "Integer",
            "documentation" : "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "SizeInMBs" : {
          "c2jName" : "SizeInMBs",
          "c2jShape" : "SizeInMBs",
          "deprecated" : false,
          "documentation" : "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSizeInMBs",
          "getterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>\n@return Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.*/",
          "getterMethodName" : "getSizeInMBs",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SizeInMBs",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SizeInMBs",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "SizeInMBs",
          "setterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.*/",
          "setterMethodName" : "setSizeInMBs",
          "setterModel" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "sizeInMBs",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Integer",
            "variableName" : "sizeInMBs",
            "variableType" : "Integer",
            "documentation" : "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BufferingHints",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "BufferingHints",
        "variableName" : "bufferingHints",
        "variableType" : "BufferingHints",
        "documentation" : null,
        "simpleType" : "BufferingHints",
        "variableSetterType" : "BufferingHints"
      },
      "wrapper" : false
    },
    "CloudWatchLoggingOptions" : {
      "c2jName" : "CloudWatchLoggingOptions",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes the Amazon CloudWatch logging options for your delivery stream.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Enabled",
        "c2jShape" : "BooleanObject",
        "deprecated" : false,
        "documentation" : "<p>Enables or disables CloudWatch logging.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@param enabled Enables or disables CloudWatch logging.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEnabled",
        "getterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@return Enables or disables CloudWatch logging.*/",
        "getterMethodName" : "getEnabled",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Enabled",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Enabled",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "Enabled",
        "setterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@param enabled Enables or disables CloudWatch logging.*/",
        "setterMethodName" : "setEnabled",
        "setterModel" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "enabled",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@param enabled Enables or disables CloudWatch logging.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "enabled",
          "variableType" : "Boolean",
          "documentation" : "<p>Enables or disables CloudWatch logging.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LogGroupName",
        "c2jShape" : "LogGroupName",
        "deprecated" : false,
        "documentation" : "<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logGroupName The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLogGroupName",
        "getterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>\n@return The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.*/",
        "getterMethodName" : "getLogGroupName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LogGroupName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LogGroupName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LogGroupName",
        "setterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logGroupName The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.*/",
        "setterMethodName" : "setLogGroupName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "logGroupName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logGroupName The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "logGroupName",
          "variableType" : "String",
          "documentation" : "<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LogStreamName",
        "c2jShape" : "LogStreamName",
        "deprecated" : false,
        "documentation" : "<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logStreamName The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLogStreamName",
        "getterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>\n@return The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.*/",
        "getterMethodName" : "getLogStreamName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LogStreamName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LogStreamName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LogStreamName",
        "setterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logStreamName The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.*/",
        "setterMethodName" : "setLogStreamName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "logStreamName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logStreamName The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "logStreamName",
          "variableType" : "String",
          "documentation" : "<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Enabled" : {
          "c2jName" : "Enabled",
          "c2jShape" : "BooleanObject",
          "deprecated" : false,
          "documentation" : "<p>Enables or disables CloudWatch logging.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@param enabled Enables or disables CloudWatch logging.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEnabled",
          "getterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@return Enables or disables CloudWatch logging.*/",
          "getterMethodName" : "getEnabled",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Enabled",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Enabled",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "Enabled",
          "setterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@param enabled Enables or disables CloudWatch logging.*/",
          "setterMethodName" : "setEnabled",
          "setterModel" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "enabled",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@param enabled Enables or disables CloudWatch logging.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "enabled",
            "variableType" : "Boolean",
            "documentation" : "<p>Enables or disables CloudWatch logging.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "LogGroupName" : {
          "c2jName" : "LogGroupName",
          "c2jShape" : "LogGroupName",
          "deprecated" : false,
          "documentation" : "<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logGroupName The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLogGroupName",
          "getterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>\n@return The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.*/",
          "getterMethodName" : "getLogGroupName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LogGroupName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LogGroupName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "LogGroupName",
          "setterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logGroupName The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.*/",
          "setterMethodName" : "setLogGroupName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "logGroupName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logGroupName The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "logGroupName",
            "variableType" : "String",
            "documentation" : "<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "LogStreamName" : {
          "c2jName" : "LogStreamName",
          "c2jShape" : "LogStreamName",
          "deprecated" : false,
          "documentation" : "<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logStreamName The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLogStreamName",
          "getterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>\n@return The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.*/",
          "getterMethodName" : "getLogStreamName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LogStreamName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LogStreamName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "LogStreamName",
          "setterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logStreamName The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.*/",
          "setterMethodName" : "setLogStreamName",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "logStreamName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logStreamName The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "logStreamName",
            "variableType" : "String",
            "documentation" : "<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CloudWatchLoggingOptions",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "CloudWatchLoggingOptions",
        "variableName" : "cloudWatchLoggingOptions",
        "variableType" : "CloudWatchLoggingOptions",
        "documentation" : null,
        "simpleType" : "CloudWatchLoggingOptions",
        "variableSetterType" : "CloudWatchLoggingOptions"
      },
      "wrapper" : false
    },
    "CompressionFormat" : {
      "c2jName" : "CompressionFormat",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "UNCOMPRESSED",
        "value" : "UNCOMPRESSED"
      }, {
        "name" : "GZIP",
        "value" : "GZIP"
      }, {
        "name" : "ZIP",
        "value" : "ZIP"
      }, {
        "name" : "Snappy",
        "value" : "Snappy"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CompressionFormat",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "CompressionFormat",
        "variableName" : "compressionFormat",
        "variableType" : "CompressionFormat",
        "documentation" : null,
        "simpleType" : "CompressionFormat",
        "variableSetterType" : "CompressionFormat"
      },
      "wrapper" : false
    },
    "ConcurrentModificationException" : {
      "c2jName" : "ConcurrentModificationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Another modification has already happened. Fetch <b>VersionId</b> again and use it to update the destination.</p>",
      "enums" : null,
      "errorCode" : "ConcurrentModificationException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConcurrentModificationException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "ConcurrentModificationException",
        "variableName" : "concurrentModificationException",
        "variableType" : "ConcurrentModificationException",
        "documentation" : null,
        "simpleType" : "ConcurrentModificationException",
        "variableSetterType" : "ConcurrentModificationException"
      },
      "wrapper" : false
    },
    "CopyCommand" : {
      "c2jName" : "CopyCommand",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes a <code>COPY</code> command for Amazon Redshift.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "DataTableName",
        "c2jShape" : "DataTableName",
        "deprecated" : false,
        "documentation" : "<p>The name of the target table. The table must already exist in the database.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the target table. The table must already exist in the database.</p>\n@param dataTableName The name of the target table. The table must already exist in the database.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDataTableName",
        "getterDocumentation" : "/**<p>The name of the target table. The table must already exist in the database.</p>\n@return The name of the target table. The table must already exist in the database.*/",
        "getterMethodName" : "getDataTableName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DataTableName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DataTableName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DataTableName",
        "setterDocumentation" : "/**<p>The name of the target table. The table must already exist in the database.</p>\n@param dataTableName The name of the target table. The table must already exist in the database.*/",
        "setterMethodName" : "setDataTableName",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "dataTableName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the target table. The table must already exist in the database.</p>\n@param dataTableName The name of the target table. The table must already exist in the database.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "dataTableName",
          "variableType" : "String",
          "documentation" : "<p>The name of the target table. The table must already exist in the database.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DataTableColumns",
        "c2jShape" : "DataTableColumns",
        "deprecated" : false,
        "documentation" : "<p>A comma-separated list of column names.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A comma-separated list of column names.</p>\n@param dataTableColumns A comma-separated list of column names.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDataTableColumns",
        "getterDocumentation" : "/**<p>A comma-separated list of column names.</p>\n@return A comma-separated list of column names.*/",
        "getterMethodName" : "getDataTableColumns",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DataTableColumns",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DataTableColumns",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DataTableColumns",
        "setterDocumentation" : "/**<p>A comma-separated list of column names.</p>\n@param dataTableColumns A comma-separated list of column names.*/",
        "setterMethodName" : "setDataTableColumns",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "dataTableColumns",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A comma-separated list of column names.</p>\n@param dataTableColumns A comma-separated list of column names.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "dataTableColumns",
          "variableType" : "String",
          "documentation" : "<p>A comma-separated list of column names.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CopyOptions",
        "c2jShape" : "CopyOptions",
        "deprecated" : false,
        "documentation" : "<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Kinesis Firehose are as follows:</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|'</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Kinesis Firehose are as follows:</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|'</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>\n@param copyOptions Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Kinesis Firehose are as follows:</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|'</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCopyOptions",
        "getterDocumentation" : "/**<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Kinesis Firehose are as follows:</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|'</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>\n@return Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Kinesis Firehose are as follows:</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|'</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.*/",
        "getterMethodName" : "getCopyOptions",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CopyOptions",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CopyOptions",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CopyOptions",
        "setterDocumentation" : "/**<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Kinesis Firehose are as follows:</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|'</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>\n@param copyOptions Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Kinesis Firehose are as follows:</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|'</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.*/",
        "setterMethodName" : "setCopyOptions",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "copyOptions",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Kinesis Firehose are as follows:</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|'</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>\n@param copyOptions Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Kinesis Firehose are as follows:</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|'</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "copyOptions",
          "variableType" : "String",
          "documentation" : "<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Kinesis Firehose are as follows:</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|'</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CopyOptions" : {
          "c2jName" : "CopyOptions",
          "c2jShape" : "CopyOptions",
          "deprecated" : false,
          "documentation" : "<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Kinesis Firehose are as follows:</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|'</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Kinesis Firehose are as follows:</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|'</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>\n@param copyOptions Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Kinesis Firehose are as follows:</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|'</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCopyOptions",
[...]
