{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "DeliveryStreamDescription" : [ "DeliveryStreamStatus" ],
      "ElasticsearchDestinationConfiguration" : [ "IndexRotationPeriod", "S3BackupMode" ],
      "ElasticsearchDestinationDescription" : [ "IndexRotationPeriod", "S3BackupMode" ],
      "ElasticsearchDestinationUpdate" : [ "IndexRotationPeriod" ],
      "EncryptionConfiguration" : [ "NoEncryptionConfig" ],
      "ExtendedS3DestinationConfiguration" : [ "CompressionFormat", "S3BackupMode" ],
      "ExtendedS3DestinationDescription" : [ "CompressionFormat", "S3BackupMode" ],
      "ExtendedS3DestinationUpdate" : [ "CompressionFormat", "S3BackupMode" ],
      "Processor" : [ "Type" ],
      "ProcessorParameter" : [ "ParameterName" ],
      "RedshiftDestinationConfiguration" : [ "S3BackupMode" ],
      "RedshiftDestinationDescription" : [ "S3BackupMode" ],
      "RedshiftDestinationUpdate" : [ "S3BackupMode" ],
      "S3DestinationConfiguration" : [ "CompressionFormat" ],
      "S3DestinationDescription" : [ "CompressionFormat" ],
      "S3DestinationUpdate" : [ "CompressionFormat" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2015-08-04",
    "asyncClient" : "AmazonKinesisFirehoseAsyncClient",
    "asyncClientBuilderClassName" : "AmazonKinesisFirehoseAsyncClientBuilder",
    "asyncInterface" : "AmazonKinesisFirehoseAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonKinesisFirehoseModuleInjector",
    "defaultEndpoint" : "https://firehose.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "firehose.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon Kinesis Data Firehose API Reference</fullname> <p>Amazon Kinesis Data Firehose is a fully managed service that delivers real-time streaming data to destinations such as Amazon Simple Storage Service (Amazon S3), Amazon Elasticsearch Service (Amazon ES), Amazon Redshift, and Splunk.</p>",
    "endpointPrefix" : "firehose",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.kinesisfirehose",
    "packagePath" : "com/amazonaws/services/kinesisfirehose",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Firehose",
    "serviceFullName" : "Amazon Kinesis Firehose",
    "serviceId" : "Firehose",
    "serviceName" : "Firehose",
    "signingName" : "firehose",
    "smokeTestsPackageName" : "com.amazonaws.services.kinesisfirehose.smoketests",
    "syncClient" : "AmazonKinesisFirehoseClient",
    "syncClientBuilderClassName" : "AmazonKinesisFirehoseClientBuilder",
    "syncInterface" : "AmazonKinesisFirehose",
    "uid" : "firehose-2015-08-04",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateDeliveryStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeliveryStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeliveryStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeliveryStreamRequest, CreateDeliveryStreamResult>",
      "asyncReturnType" : "CreateDeliveryStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Kinesis Data Firehose delivery stream.</p> <p>By default, you can create up to 50 delivery streams per AWS Region.</p> <p>This is an asynchronous operation that immediately returns. The initial status of the delivery stream is <code>CREATING</code>. After the delivery stream is created, its status is <code>ACTIVE</code> and it now accepts data. Attempts to send data to a delivery stream that is not in the <code>ACTIVE</code> state cause an exception. To check the state of a delivery stream, use <a>DescribeDeliveryStream</a>.</p> <p>A Kinesis Data Firehose delivery stream can be configured to receive records directly from providers using <a>PutRecord</a> or <a>PutRecordBatch</a>, or it can be configured to use an existing Kinesis stream as its source. To specify a Kinesis data stream as input, set the <code>DeliveryStreamType</code> parameter to <code>KinesisStreamAsSource</code>, and provide the Kinesis stream Amazon Resource Name (ARN) and role ARN in the <code>KinesisStreamSourceConfiguration</code> parameter.</p> <p>A delivery stream is configured with a single destination: Amazon S3, Amazon ES, Amazon Redshift, or Splunk. You must specify only one of the following destination configuration parameters: <code>ExtendedS3DestinationConfiguration</code>, <code>S3DestinationConfiguration</code>, <code>ElasticsearchDestinationConfiguration</code>, <code>RedshiftDestinationConfiguration</code>, or <code>SplunkDestinationConfiguration</code>.</p> <p>When you specify <code>S3DestinationConfiguration</code>, you can also provide the following optional values: BufferingHints, <code>EncryptionConfiguration</code>, and <code>CompressionFormat</code>. By default, if no <code>BufferingHints</code> value is provided, Kinesis Data Firehose buffers data up to 5 MB or for 5 minutes, whichever condition is satisfied first. <code>BufferingHints</code> is a hint, so there are some cases where the service cannot adhere to these conditions strictly. For example, record boundaries might be such that the size is a little over or under the configured buffering size. By default, no encryption is performed. We strongly recommend that you enable encryption to ensure secure data storage in Amazon S3.</p> <p>A few notes about Amazon Redshift as a destination:</p> <ul> <li> <p>An Amazon Redshift destination requires an S3 bucket as intermediate location. Kinesis Data Firehose first delivers data to Amazon S3 and then uses <code>COPY</code> syntax to load data into an Amazon Redshift table. This is specified in the <code>RedshiftDestinationConfiguration.S3Configuration</code> parameter.</p> </li> <li> <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified in <code>RedshiftDestinationConfiguration.S3Configuration</code> because the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket doesn't support these compression formats.</p> </li> <li> <p>We strongly recommend that you use the user name and password you provide exclusively with Kinesis Data Firehose, and that the permissions for the account are restricted for Amazon Redshift <code>INSERT</code> permissions.</p> </li> </ul> <p>Kinesis Data Firehose assumes the IAM role that is configured as part of the destination. The role should allow the Kinesis Data Firehose principal to assume the role, and the role should have permissions that allow the service to deliver the data. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Grant Kinesis Data Firehose Access to an Amazon S3 Destination</a> in the <i>Amazon Kinesis Data Firehose Developer Guide</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has a value that is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached the limit for a requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is already in use and not available for this operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDeliveryStreamRequest",
        "variableName" : "createDeliveryStreamRequest",
        "variableType" : "CreateDeliveryStreamRequest",
        "documentation" : "",
        "simpleType" : "CreateDeliveryStreamRequest",
        "variableSetterType" : "CreateDeliveryStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDeliveryStream",
      "operationName" : "CreateDeliveryStream",
      "returnType" : {
        "returnType" : "CreateDeliveryStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDeliveryStreamResult"
    },
    "DeleteDeliveryStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDeliveryStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDeliveryStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDeliveryStreamRequest, DeleteDeliveryStreamResult>",
      "asyncReturnType" : "DeleteDeliveryStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a delivery stream and its data.</p> <p>You can delete a delivery stream only if it is in <code>ACTIVE</code> or <code>DELETING</code> state, and not in the <code>CREATING</code> state. While the deletion request is in process, the delivery stream is in the <code>DELETING</code> state.</p> <p>To check the state of a delivery stream, use <a>DescribeDeliveryStream</a>.</p> <p>While the delivery stream is <code>DELETING</code> state, the service might continue to accept the records, but it doesn't make any guarantees with respect to delivering the data. Therefore, as a best practice, you should first stop any applications that are sending records before deleting a delivery stream.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is already in use and not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDeliveryStreamRequest",
        "variableName" : "deleteDeliveryStreamRequest",
        "variableType" : "DeleteDeliveryStreamRequest",
        "documentation" : "",
        "simpleType" : "DeleteDeliveryStreamRequest",
        "variableSetterType" : "DeleteDeliveryStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDeliveryStream",
      "operationName" : "DeleteDeliveryStream",
      "returnType" : {
        "returnType" : "DeleteDeliveryStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDeliveryStreamResult"
    },
    "DescribeDeliveryStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDeliveryStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDeliveryStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDeliveryStreamRequest, DescribeDeliveryStreamResult>",
      "asyncReturnType" : "DescribeDeliveryStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the specified delivery stream and gets the status. For example, after your delivery stream is created, call <code>DescribeDeliveryStream</code> to see whether the delivery stream is <code>ACTIVE</code> and therefore ready for data to be sent to it.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDeliveryStreamRequest",
        "variableName" : "describeDeliveryStreamRequest",
        "variableType" : "DescribeDeliveryStreamRequest",
        "documentation" : "",
        "simpleType" : "DescribeDeliveryStreamRequest",
        "variableSetterType" : "DescribeDeliveryStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDeliveryStream",
      "operationName" : "DescribeDeliveryStream",
      "returnType" : {
        "returnType" : "DescribeDeliveryStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDeliveryStreamResult"
    },
    "ListDeliveryStreams" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeliveryStreamsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeliveryStreamsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeliveryStreamsRequest, ListDeliveryStreamsResult>",
      "asyncReturnType" : "ListDeliveryStreamsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists your delivery streams in alphabetical order of their names.</p> <p>The number of delivery streams might be too large to return using a single call to <code>ListDeliveryStreams</code>. You can limit the number of delivery streams returned, using the <code>Limit</code> parameter. To determine whether there are more delivery streams to list, check the value of <code>HasMoreDeliveryStreams</code> in the output. If there are more delivery streams to list, you can request them by calling this operation again and setting the <code>ExclusiveStartDeliveryStreamName</code> parameter to the name of the last delivery stream returned in the last call.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDeliveryStreamsRequest",
        "variableName" : "listDeliveryStreamsRequest",
        "variableType" : "ListDeliveryStreamsRequest",
        "documentation" : "",
        "simpleType" : "ListDeliveryStreamsRequest",
        "variableSetterType" : "ListDeliveryStreamsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDeliveryStreams",
      "operationName" : "ListDeliveryStreams",
      "returnType" : {
        "returnType" : "ListDeliveryStreamsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDeliveryStreamsResult"
    },
    "ListTagsForDeliveryStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForDeliveryStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForDeliveryStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForDeliveryStreamRequest, ListTagsForDeliveryStreamResult>",
      "asyncReturnType" : "ListTagsForDeliveryStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for the specified delivery stream. This operation has a limit of five transactions per second per account. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has a value that is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached the limit for a requested resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForDeliveryStreamRequest",
        "variableName" : "listTagsForDeliveryStreamRequest",
        "variableType" : "ListTagsForDeliveryStreamRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForDeliveryStreamRequest",
        "variableSetterType" : "ListTagsForDeliveryStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForDeliveryStream",
      "operationName" : "ListTagsForDeliveryStream",
      "returnType" : {
        "returnType" : "ListTagsForDeliveryStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForDeliveryStreamResult"
    },
    "PutRecord" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRecordResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRecordResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRecordRequest, PutRecordResult>",
      "asyncReturnType" : "PutRecordResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Writes a single data record into an Amazon Kinesis Data Firehose delivery stream. To write multiple data records into a delivery stream, use <a>PutRecordBatch</a>. Applications using these operations are referred to as producers.</p> <p>By default, each delivery stream can take in up to 2,000 transactions per second, 5,000 records per second, or 5 MB per second. If you use <a>PutRecord</a> and <a>PutRecordBatch</a>, the limits are an aggregate across these two operations for each delivery stream. For more information about limits and how to request an increase, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Data Firehose Limits</a>. </p> <p>You must specify the name of the delivery stream and the data record when using <a>PutRecord</a>. The data record consists of a data blob that can be up to 1,000 KB in size, and any kind of data. For example, it can be a segment from a log file, geographic location data, website clickstream data, and so on.</p> <p>Kinesis Data Firehose buffers records before delivering them to the destination. To disambiguate the data blobs at the destination, a common solution is to use delimiters in the data, such as a newline (<code>\\n</code>) or some other character unique within the data. This allows the consumer application to parse individual data items when reading the data from the destination.</p> <p>The <code>PutRecord</code> operation returns a <code>RecordId</code>, which is a unique string assigned to each record. Producer applications can use this ID for purposes such as auditability and investigation.</p> <p>If the <code>PutRecord</code> operation throws a <code>ServiceUnavailableException</code>, back off and retry. If the exception persists, it is possible that the throughput limits have been exceeded for the delivery stream. </p> <p>Data records sent to Kinesis Data Firehose are stored for 24 hours from the time they are added to a delivery stream as it tries to send the records to the destination. If the destination is unreachable for more than 24 hours, the data is no longer available.</p> <important> <p>Don't concatenate two or more base64 strings to form the data fields of your records. Instead, concatenate the raw data, then perform base64 encoding.</p> </important>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has a value that is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unavailable. Back off and retry the operation. If you continue to see the exception, throughput limits for the delivery stream may have been exceeded. For more information about limits and how to request an increase, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Data Firehose Limits</a>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutRecordRequest",
        "variableName" : "putRecordRequest",
        "variableType" : "PutRecordRequest",
        "documentation" : "",
        "simpleType" : "PutRecordRequest",
        "variableSetterType" : "PutRecordRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRecord",
      "operationName" : "PutRecord",
      "returnType" : {
        "returnType" : "PutRecordResult",
        "documentation" : null
      },
      "syncReturnType" : "PutRecordResult"
    },
    "PutRecordBatch" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRecordBatchResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRecordBatchResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRecordBatchRequest, PutRecordBatchResult>",
      "asyncReturnType" : "PutRecordBatchResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Writes multiple data records into a delivery stream in a single call, which can achieve higher throughput per producer than when writing single records. To write single data records into a delivery stream, use <a>PutRecord</a>. Applications using these operations are referred to as producers.</p> <p>By default, each delivery stream can take in up to 2,000 transactions per second, 5,000 records per second, or 5 MB per second. If you use <a>PutRecord</a> and <a>PutRecordBatch</a>, the limits are an aggregate across these two operations for each delivery stream. For more information about limits, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Data Firehose Limits</a>.</p> <p>Each <a>PutRecordBatch</a> request supports up to 500 records. Each record in the request can be as large as 1,000 KB (before 64-bit encoding), up to a limit of 4 MB for the entire request. These limits cannot be changed.</p> <p>You must specify the name of the delivery stream and the data record when using <a>PutRecord</a>. The data record consists of a data blob that can be up to 1,000 KB in size, and any kind of data. For example, it could be a segment from a log file, geographic location data, website clickstream data, and so on.</p> <p>Kinesis Data Firehose buffers records before delivering them to the destination. To disambiguate the data blobs at the destination, a common solution is to use delimiters in the data, such as a newline (<code>\\n</code>) or some other character unique within the data. This allows the consumer application to parse individual data items when reading the data from the destination.</p> <p>The <a>PutRecordBatch</a> response includes a count of failed records, <code>FailedPutCount</code>, and an array of responses, <code>RequestResponses</code>. Even if the <a>PutRecordBatch</a> call succeeds, the value of <code>FailedPutCount</code> may be greater than 0, indicating that there are records for which the operation didn't succeed. Each entry in the <code>RequestResponses</code> array provides additional information about the processed record. It directly correlates with a record in the request array using the same ordering, from the top to the bottom. The response array always includes the same number of records as the request array. <code>RequestResponses</code> includes both successfully and unsuccessfully processed records. Kinesis Data Firehose tries to process all records in each <a>PutRecordBatch</a> request. A single record failure does not stop the processing of subsequent records. </p> <p>A successfully processed record includes a <code>RecordId</code> value, which is unique for the record. An unsuccessfully processed record includes <code>ErrorCode</code> and <code>ErrorMessage</code> values. <code>ErrorCode</code> reflects the type of error, and is one of the following values: <code>ServiceUnavailableException</code> or <code>InternalFailure</code>. <code>ErrorMessage</code> provides more detailed information about the error.</p> <p>If there is an internal server error or a timeout, the write might have completed or it might have failed. If <code>FailedPutCount</code> is greater than 0, retry the request, resending only those records that might have failed processing. This minimizes the possible duplicate records and also reduces the total bytes sent (and corresponding charges). We recommend that you handle any duplicates at the destination.</p> <p>If <a>PutRecordBatch</a> throws <code>ServiceUnavailableException</code>, back off and retry. If the exception persists, it is possible that the throughput limits have been exceeded for the delivery stream.</p> <p>Data records sent to Kinesis Data Firehose are stored for 24 hours from the time they are added to a delivery stream as it attempts to send the records to the destination. If the destination is unreachable for more than 24 hours, the data is no longer available.</p> <important> <p>Don't concatenate two or more base64 strings to form the data fields of your records. Instead, concatenate the raw data, then perform base64 encoding.</p> </important>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has a value that is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unavailable. Back off and retry the operation. If you continue to see the exception, throughput limits for the delivery stream may have been exceeded. For more information about limits and how to request an increase, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Data Firehose Limits</a>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutRecordBatchRequest",
        "variableName" : "putRecordBatchRequest",
        "variableType" : "PutRecordBatchRequest",
        "documentation" : "",
        "simpleType" : "PutRecordBatchRequest",
        "variableSetterType" : "PutRecordBatchRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRecordBatch",
      "operationName" : "PutRecordBatch",
      "returnType" : {
        "returnType" : "PutRecordBatchResult",
        "documentation" : null
      },
      "syncReturnType" : "PutRecordBatchResult"
    },
    "StartDeliveryStreamEncryption" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartDeliveryStreamEncryptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartDeliveryStreamEncryptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartDeliveryStreamEncryptionRequest, StartDeliveryStreamEncryptionResult>",
      "asyncReturnType" : "StartDeliveryStreamEncryptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables server-side encryption (SSE) for the delivery stream. </p> <p>This operation is asynchronous. It returns immediately. When you invoke it, Kinesis Data Firehose first sets the status of the stream to <code>ENABLING</code>, and then to <code>ENABLED</code>. You can continue to read and write data to your stream while its status is <code>ENABLING</code>, but the data is not encrypted. It can take up to 5 seconds after the encryption status changes to <code>ENABLED</code> before all records written to the delivery stream are encrypted. To find out whether a record or a batch of records was encrypted, check the response elements <a>PutRecordOutput$Encrypted</a> and <a>PutRecordBatchOutput$Encrypted</a>, respectively.</p> <p>To check the encryption state of a delivery stream, use <a>DescribeDeliveryStream</a>.</p> <p>You can only enable SSE for a delivery stream that uses <code>DirectPut</code> as its source. </p> <p>The <code>StartDeliveryStreamEncryption</code> and <code>StopDeliveryStreamEncryption</code> operations have a combined limit of 25 calls per delivery stream per 24 hours. For example, you reach the limit if you call <code>StartDeliveryStreamEncryption</code> 13 times and <code>StopDeliveryStreamEncryption</code> 12 times for the same delivery stream in a 24-hour period.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is already in use and not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has a value that is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached the limit for a requested resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartDeliveryStreamEncryptionRequest",
        "variableName" : "startDeliveryStreamEncryptionRequest",
        "variableType" : "StartDeliveryStreamEncryptionRequest",
        "documentation" : "",
        "simpleType" : "StartDeliveryStreamEncryptionRequest",
        "variableSetterType" : "StartDeliveryStreamEncryptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startDeliveryStreamEncryption",
      "operationName" : "StartDeliveryStreamEncryption",
      "returnType" : {
        "returnType" : "StartDeliveryStreamEncryptionResult",
        "documentation" : null
      },
      "syncReturnType" : "StartDeliveryStreamEncryptionResult"
    },
    "StopDeliveryStreamEncryption" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopDeliveryStreamEncryptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopDeliveryStreamEncryptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopDeliveryStreamEncryptionRequest, StopDeliveryStreamEncryptionResult>",
      "asyncReturnType" : "StopDeliveryStreamEncryptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables server-side encryption (SSE) for the delivery stream. </p> <p>This operation is asynchronous. It returns immediately. When you invoke it, Kinesis Data Firehose first sets the status of the stream to <code>DISABLING</code>, and then to <code>DISABLED</code>. You can continue to read and write data to your stream while its status is <code>DISABLING</code>. It can take up to 5 seconds after the encryption status changes to <code>DISABLED</code> before all records written to the delivery stream are no longer subject to encryption. To find out whether a record or a batch of records was encrypted, check the response elements <a>PutRecordOutput$Encrypted</a> and <a>PutRecordBatchOutput$Encrypted</a>, respectively.</p> <p>To check the encryption state of a delivery stream, use <a>DescribeDeliveryStream</a>. </p> <p>The <code>StartDeliveryStreamEncryption</code> and <code>StopDeliveryStreamEncryption</code> operations have a combined limit of 25 calls per delivery stream per 24 hours. For example, you reach the limit if you call <code>StartDeliveryStreamEncryption</code> 13 times and <code>StopDeliveryStreamEncryption</code> 12 times for the same delivery stream in a 24-hour period.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is already in use and not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has a value that is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached the limit for a requested resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopDeliveryStreamEncryptionRequest",
        "variableName" : "stopDeliveryStreamEncryptionRequest",
        "variableType" : "StopDeliveryStreamEncryptionRequest",
        "documentation" : "",
        "simpleType" : "StopDeliveryStreamEncryptionRequest",
        "variableSetterType" : "StopDeliveryStreamEncryptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopDeliveryStreamEncryption",
      "operationName" : "StopDeliveryStreamEncryption",
      "returnType" : {
        "returnType" : "StopDeliveryStreamEncryptionResult",
        "documentation" : null
      },
      "syncReturnType" : "StopDeliveryStreamEncryptionResult"
    },
    "TagDeliveryStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagDeliveryStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagDeliveryStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagDeliveryStreamRequest, TagDeliveryStreamResult>",
      "asyncReturnType" : "TagDeliveryStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds or updates tags for the specified delivery stream. A tag is a key-value pair that you can define and assign to AWS resources. If you specify a tag that already exists, the tag value is replaced with the value that you specify in the request. Tags are metadata. For example, you can add friendly names and descriptions or other types of information that can help you distinguish the delivery stream. For more information about tags, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p> <p>Each delivery stream can have up to 50 tags. </p> <p>This operation has a limit of five transactions per second per account. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is already in use and not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has a value that is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached the limit for a requested resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagDeliveryStreamRequest",
        "variableName" : "tagDeliveryStreamRequest",
        "variableType" : "TagDeliveryStreamRequest",
        "documentation" : "",
        "simpleType" : "TagDeliveryStreamRequest",
        "variableSetterType" : "TagDeliveryStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagDeliveryStream",
      "operationName" : "TagDeliveryStream",
      "returnType" : {
        "returnType" : "TagDeliveryStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "TagDeliveryStreamResult"
    },
    "UntagDeliveryStream" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagDeliveryStreamResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagDeliveryStreamResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagDeliveryStreamRequest, UntagDeliveryStreamResult>",
      "asyncReturnType" : "UntagDeliveryStreamResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from the specified delivery stream. Removed tags are deleted, and you can't recover them after this operation successfully completes.</p> <p>If you specify a tag that doesn't exist, the operation ignores it.</p> <p>This operation has a limit of five transactions per second per account. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is already in use and not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has a value that is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>You have already reached the limit for a requested resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagDeliveryStreamRequest",
        "variableName" : "untagDeliveryStreamRequest",
        "variableType" : "UntagDeliveryStreamRequest",
        "documentation" : "",
        "simpleType" : "UntagDeliveryStreamRequest",
        "variableSetterType" : "UntagDeliveryStreamRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagDeliveryStream",
      "operationName" : "UntagDeliveryStream",
      "returnType" : {
        "returnType" : "UntagDeliveryStreamResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagDeliveryStreamResult"
    },
    "UpdateDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDestinationRequest, UpdateDestinationResult>",
      "asyncReturnType" : "UpdateDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified destination of the specified delivery stream.</p> <p>Use this operation to change the destination type (for example, to replace the Amazon S3 destination with Amazon Redshift) or change the parameters associated with a destination (for example, to change the bucket name of the Amazon S3 destination). The update might not occur immediately. The target delivery stream remains active while the configurations are updated, so data writes to the delivery stream can continue during this process. The updated configurations are usually effective within a few minutes.</p> <p>Switching between Amazon ES and other services is not supported. For an Amazon ES destination, you can only update to another Amazon ES destination.</p> <p>If the destination type is the same, Kinesis Data Firehose merges the configuration parameters specified with the destination configuration that already exists on the delivery stream. If any of the parameters are not specified in the call, the existing values are retained. For example, in the Amazon S3 destination, if <a>EncryptionConfiguration</a> is not specified, then the existing <code>EncryptionConfiguration</code> is maintained on the destination.</p> <p>If the destination type is not the same, for example, changing the destination from Amazon S3 to Amazon Redshift, Kinesis Data Firehose does not merge any parameters. In this case, all parameters must be specified.</p> <p>Kinesis Data Firehose uses <code>CurrentDeliveryStreamVersionId</code> to avoid race conditions and conflicting merges. This is a required field, and the service updates the configuration only if the existing configuration has a version ID that matches. After the update is applied successfully, the version ID is updated, and can be retrieved using <a>DescribeDeliveryStream</a>. Use the new version ID to set <code>CurrentDeliveryStreamVersionId</code> in the next call.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>The specified input parameter has a value that is not valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource is already in use and not available for this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : "<p>Another modification has already happened. Fetch <code>VersionId</code> again and use it to update the destination.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDestinationRequest",
        "variableName" : "updateDestinationRequest",
        "variableType" : "UpdateDestinationRequest",
        "documentation" : "",
        "simpleType" : "UpdateDestinationRequest",
        "variableSetterType" : "UpdateDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDestination",
      "operationName" : "UpdateDestination",
      "returnType" : {
        "returnType" : "UpdateDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDestinationResult"
    }
  },
  "shapes" : {
    "BufferingHints" : {
      "c2jName" : "BufferingHints",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes hints for the buffering to perform before delivering data to the destination. These options are treated as hints, and therefore Kinesis Data Firehose might choose to use different values when it is optimal.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "SizeInMBs",
        "c2jShape" : "SizeInMBs",
        "deprecated" : false,
        "documentation" : "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSizeInMBs",
        "getterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>\n@return Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.*/",
        "getterMethodName" : "getSizeInMBs",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SizeInMBs",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SizeInMBs",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "SizeInMBs",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.*/",
        "setterMethodName" : "setSizeInMBs",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "sizeInMBs",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "sizeInMBs",
          "variableType" : "Integer",
          "documentation" : "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IntervalInSeconds",
        "c2jShape" : "IntervalInSeconds",
        "deprecated" : false,
        "documentation" : "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIntervalInSeconds",
        "getterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@return Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.*/",
        "getterMethodName" : "getIntervalInSeconds",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "IntervalInSeconds",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IntervalInSeconds",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "IntervalInSeconds",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.*/",
        "setterMethodName" : "setIntervalInSeconds",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "intervalInSeconds",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "intervalInSeconds",
          "variableType" : "Integer",
          "documentation" : "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "IntervalInSeconds" : {
          "c2jName" : "IntervalInSeconds",
          "c2jShape" : "IntervalInSeconds",
          "deprecated" : false,
          "documentation" : "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIntervalInSeconds",
          "getterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@return Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.*/",
          "getterMethodName" : "getIntervalInSeconds",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "IntervalInSeconds",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "IntervalInSeconds",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "IntervalInSeconds",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.*/",
          "setterMethodName" : "setIntervalInSeconds",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "intervalInSeconds",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>\n@param intervalInSeconds Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "intervalInSeconds",
            "variableType" : "Integer",
            "documentation" : "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "SizeInMBs" : {
          "c2jName" : "SizeInMBs",
          "c2jShape" : "SizeInMBs",
          "deprecated" : false,
          "documentation" : "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSizeInMBs",
          "getterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>\n@return Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.*/",
          "getterMethodName" : "getSizeInMBs",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SizeInMBs",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SizeInMBs",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "SizeInMBs",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.*/",
          "setterMethodName" : "setSizeInMBs",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "sizeInMBs",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>\n@param sizeInMBs Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "sizeInMBs",
            "variableType" : "Integer",
            "documentation" : "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BufferingHints",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BufferingHints",
        "variableName" : "bufferingHints",
        "variableType" : "BufferingHints",
        "documentation" : null,
        "simpleType" : "BufferingHints",
        "variableSetterType" : "BufferingHints"
      },
      "wrapper" : false
    },
    "CloudWatchLoggingOptions" : {
      "c2jName" : "CloudWatchLoggingOptions",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes the Amazon CloudWatch logging options for your delivery stream.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Enabled",
        "c2jShape" : "BooleanObject",
        "deprecated" : false,
        "documentation" : "<p>Enables or disables CloudWatch logging.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@param enabled Enables or disables CloudWatch logging.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEnabled",
        "getterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@return Enables or disables CloudWatch logging.*/",
        "getterMethodName" : "getEnabled",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Enabled",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Enabled",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "Enabled",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@param enabled Enables or disables CloudWatch logging.*/",
        "setterMethodName" : "setEnabled",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "enabled",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@param enabled Enables or disables CloudWatch logging.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "enabled",
          "variableType" : "Boolean",
          "documentation" : "<p>Enables or disables CloudWatch logging.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LogGroupName",
        "c2jShape" : "LogGroupName",
        "deprecated" : false,
        "documentation" : "<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logGroupName The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLogGroupName",
        "getterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>\n@return The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.*/",
        "getterMethodName" : "getLogGroupName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LogGroupName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LogGroupName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LogGroupName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logGroupName The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.*/",
        "setterMethodName" : "setLogGroupName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "logGroupName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logGroupName The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "logGroupName",
          "variableType" : "String",
          "documentation" : "<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LogStreamName",
        "c2jShape" : "LogStreamName",
        "deprecated" : false,
        "documentation" : "<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logStreamName The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLogStreamName",
        "getterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>\n@return The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.*/",
        "getterMethodName" : "getLogStreamName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LogStreamName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LogStreamName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LogStreamName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logStreamName The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.*/",
        "setterMethodName" : "setLogStreamName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "logStreamName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logStreamName The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "logStreamName",
          "variableType" : "String",
          "documentation" : "<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Enabled" : {
          "c2jName" : "Enabled",
          "c2jShape" : "BooleanObject",
          "deprecated" : false,
          "documentation" : "<p>Enables or disables CloudWatch logging.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@param enabled Enables or disables CloudWatch logging.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEnabled",
          "getterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@return Enables or disables CloudWatch logging.*/",
          "getterMethodName" : "getEnabled",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Enabled",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Enabled",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "Enabled",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@param enabled Enables or disables CloudWatch logging.*/",
          "setterMethodName" : "setEnabled",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "enabled",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Enables or disables CloudWatch logging.</p>\n@param enabled Enables or disables CloudWatch logging.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "enabled",
            "variableType" : "Boolean",
            "documentation" : "<p>Enables or disables CloudWatch logging.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "LogGroupName" : {
          "c2jName" : "LogGroupName",
          "c2jShape" : "LogGroupName",
          "deprecated" : false,
          "documentation" : "<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logGroupName The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLogGroupName",
          "getterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>\n@return The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.*/",
          "getterMethodName" : "getLogGroupName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LogGroupName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LogGroupName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "LogGroupName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logGroupName The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.*/",
          "setterMethodName" : "setLogGroupName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "logGroupName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logGroupName The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "logGroupName",
            "variableType" : "String",
            "documentation" : "<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "LogStreamName" : {
          "c2jName" : "LogStreamName",
          "c2jShape" : "LogStreamName",
          "deprecated" : false,
          "documentation" : "<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logStreamName The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLogStreamName",
          "getterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>\n@return The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.*/",
          "getterMethodName" : "getLogStreamName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LogStreamName",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LogStreamName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "LogStreamName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logStreamName The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.*/",
          "setterMethodName" : "setLogStreamName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "logStreamName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>\n@param logStreamName The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "logStreamName",
            "variableType" : "String",
            "documentation" : "<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CloudWatchLoggingOptions",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CloudWatchLoggingOptions",
        "variableName" : "cloudWatchLoggingOptions",
        "variableType" : "CloudWatchLoggingOptions",
        "documentation" : null,
        "simpleType" : "CloudWatchLoggingOptions",
        "variableSetterType" : "CloudWatchLoggingOptions"
      },
      "wrapper" : false
    },
    "CompressionFormat" : {
      "c2jName" : "CompressionFormat",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "UNCOMPRESSED",
        "value" : "UNCOMPRESSED"
      }, {
        "name" : "GZIP",
        "value" : "GZIP"
      }, {
        "name" : "ZIP",
        "value" : "ZIP"
      }, {
        "name" : "Snappy",
        "value" : "Snappy"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "CompressionFormat",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CompressionFormat",
        "variableName" : "compressionFormat",
        "variableType" : "CompressionFormat",
        "documentation" : null,
        "simpleType" : "CompressionFormat",
        "variableSetterType" : "CompressionFormat"
      },
      "wrapper" : false
    },
    "ConcurrentModificationException" : {
      "c2jName" : "ConcurrentModificationException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Another modification has already happened. Fetch <code>VersionId</code> again and use it to update the destination.</p>",
      "enums" : null,
      "errorCode" : "ConcurrentModificationException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConcurrentModificationException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConcurrentModificationException",
        "variableName" : "concurrentModificationException",
        "variableType" : "ConcurrentModificationException",
        "documentation" : null,
        "simpleType" : "ConcurrentModificationException",
        "variableSetterType" : "ConcurrentModificationException"
      },
      "wrapper" : false
    },
    "CopyCommand" : {
      "c2jName" : "CopyCommand",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes a <code>COPY</code> command for Amazon Redshift.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "DataTableName",
        "c2jShape" : "DataTableName",
        "deprecated" : false,
        "documentation" : "<p>The name of the target table. The table must already exist in the database.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the target table. The table must already exist in the database.</p>\n@param dataTableName The name of the target table. The table must already exist in the database.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDataTableName",
        "getterDocumentation" : "/**<p>The name of the target table. The table must already exist in the database.</p>\n@return The name of the target table. The table must already exist in the database.*/",
        "getterMethodName" : "getDataTableName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DataTableName",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DataTableName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DataTableName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the target table. The table must already exist in the database.</p>\n@param dataTableName The name of the target table. The table must already exist in the database.*/",
        "setterMethodName" : "setDataTableName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "dataTableName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the target table. The table must already exist in the database.</p>\n@param dataTableName The name of the target table. The table must already exist in the database.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "dataTableName",
          "variableType" : "String",
          "documentation" : "<p>The name of the target table. The table must already exist in the database.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DataTableColumns",
        "c2jShape" : "DataTableColumns",
        "deprecated" : false,
        "documentation" : "<p>A comma-separated list of column names.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A comma-separated list of column names.</p>\n@param dataTableColumns A comma-separated list of column names.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDataTableColumns",
        "getterDocumentation" : "/**<p>A comma-separated list of column names.</p>\n@return A comma-separated list of column names.*/",
        "getterMethodName" : "getDataTableColumns",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DataTableColumns",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DataTableColumns",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DataTableColumns",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A comma-separated list of column names.</p>\n@param dataTableColumns A comma-separated list of column names.*/",
        "setterMethodName" : "setDataTableColumns",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "dataTableColumns",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A comma-separated list of column names.</p>\n@param dataTableColumns A comma-separated list of column names.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "dataTableColumns",
          "variableType" : "String",
          "documentation" : "<p>A comma-separated list of column names.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CopyOptions",
        "c2jShape" : "CopyOptions",
        "deprecated" : false,
[...]
