{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-12-01",
    "asyncClient" : "AWSFISAsyncClient",
    "asyncClientBuilderClassName" : "AWSFISAsyncClientBuilder",
    "asyncInterface" : "AWSFISAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSFISModuleInjector",
    "defaultEndpoint" : "fis.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "fis.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>AWS Fault Injection Simulator is a managed service that enables you to perform fault injection experiments on your AWS workloads. For more information, see the <a href=\"https://docs.aws.amazon.com/fis/latest/userguide/\">AWS Fault Injection Simulator User Guide</a>.</p>",
    "endpointPrefix" : "fis",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.fis",
    "packagePath" : "com/amazonaws/services/fis",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "FIS",
    "serviceFullName" : "AWS Fault Injection Simulator",
    "serviceId" : "fis",
    "serviceName" : "FIS",
    "signingName" : "fis",
    "smokeTestsPackageName" : "com.amazonaws.services.fis.smoketests",
    "syncClient" : "AWSFISClient",
    "syncClientBuilderClassName" : "AWSFISClientBuilder",
    "syncInterface" : "AWSFIS",
    "uid" : "fis-2020-12-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateExperimentTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateExperimentTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateExperimentTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateExperimentTemplateRequest, CreateExperimentTemplateResult>",
      "asyncReturnType" : "CreateExperimentTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an experiment template. </p> <p>To create a template, specify the following information: </p> <ul> <li> <p> <b>Targets</b>: A target can be a specific resource in your AWS environment, or one or more resources that match criteria that you specify, for example, resources that have specific tags.</p> </li> <li> <p> <b>Actions</b>: The actions to carry out on the target. You can specify multiple actions, the duration of each action, and when to start each action during an experiment.</p> </li> <li> <p> <b>Stop conditions</b>: If a stop condition is triggered while an experiment is running, the experiment is automatically stopped. You can define a stop condition as a CloudWatch alarm.</p> </li> </ul> <p>For more information, see the <a href=\"https://docs.aws.amazon.com/fis/latest/userguide/\">AWS Fault Injection Simulator User Guide</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is not valid, or fails to satisfy the constraints for the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of a conflict.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded your service quota.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateExperimentTemplateRequest",
        "variableName" : "createExperimentTemplateRequest",
        "variableType" : "CreateExperimentTemplateRequest",
        "documentation" : "",
        "simpleType" : "CreateExperimentTemplateRequest",
        "variableSetterType" : "CreateExperimentTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createExperimentTemplate",
      "operationName" : "CreateExperimentTemplate",
      "returnType" : {
        "returnType" : "CreateExperimentTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateExperimentTemplateResult"
    },
    "DeleteExperimentTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteExperimentTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteExperimentTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteExperimentTemplateRequest, DeleteExperimentTemplateResult>",
      "asyncReturnType" : "DeleteExperimentTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified experiment template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is not valid, or fails to satisfy the constraints for the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteExperimentTemplateRequest",
        "variableName" : "deleteExperimentTemplateRequest",
        "variableType" : "DeleteExperimentTemplateRequest",
        "documentation" : "",
        "simpleType" : "DeleteExperimentTemplateRequest",
        "variableSetterType" : "DeleteExperimentTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteExperimentTemplate",
      "operationName" : "DeleteExperimentTemplate",
      "returnType" : {
        "returnType" : "DeleteExperimentTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteExperimentTemplateResult"
    },
    "GetAction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetActionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetActionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetActionRequest, GetActionResult>",
      "asyncReturnType" : "GetActionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified AWS FIS action.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is not valid, or fails to satisfy the constraints for the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetActionRequest",
        "variableName" : "getActionRequest",
        "variableType" : "GetActionRequest",
        "documentation" : "",
        "simpleType" : "GetActionRequest",
        "variableSetterType" : "GetActionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAction",
      "operationName" : "GetAction",
      "returnType" : {
        "returnType" : "GetActionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetActionResult"
    },
    "GetExperiment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetExperimentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetExperimentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetExperimentRequest, GetExperimentResult>",
      "asyncReturnType" : "GetExperimentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified experiment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is not valid, or fails to satisfy the constraints for the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetExperimentRequest",
        "variableName" : "getExperimentRequest",
        "variableType" : "GetExperimentRequest",
        "documentation" : "",
        "simpleType" : "GetExperimentRequest",
        "variableSetterType" : "GetExperimentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getExperiment",
      "operationName" : "GetExperiment",
      "returnType" : {
        "returnType" : "GetExperimentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetExperimentResult"
    },
    "GetExperimentTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetExperimentTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetExperimentTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetExperimentTemplateRequest, GetExperimentTemplateResult>",
      "asyncReturnType" : "GetExperimentTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified experiment template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is not valid, or fails to satisfy the constraints for the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetExperimentTemplateRequest",
        "variableName" : "getExperimentTemplateRequest",
        "variableType" : "GetExperimentTemplateRequest",
        "documentation" : "",
        "simpleType" : "GetExperimentTemplateRequest",
        "variableSetterType" : "GetExperimentTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getExperimentTemplate",
      "operationName" : "GetExperimentTemplate",
      "returnType" : {
        "returnType" : "GetExperimentTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetExperimentTemplateResult"
    },
    "ListActions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListActionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListActionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListActionsRequest, ListActionsResult>",
      "asyncReturnType" : "ListActionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the available AWS FIS actions.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is not valid, or fails to satisfy the constraints for the request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListActionsRequest",
        "variableName" : "listActionsRequest",
        "variableType" : "ListActionsRequest",
        "documentation" : "",
        "simpleType" : "ListActionsRequest",
        "variableSetterType" : "ListActionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listActions",
      "operationName" : "ListActions",
      "returnType" : {
        "returnType" : "ListActionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListActionsResult"
    },
    "ListExperimentTemplates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListExperimentTemplatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListExperimentTemplatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListExperimentTemplatesRequest, ListExperimentTemplatesResult>",
      "asyncReturnType" : "ListExperimentTemplatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists your experiment templates.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is not valid, or fails to satisfy the constraints for the request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListExperimentTemplatesRequest",
        "variableName" : "listExperimentTemplatesRequest",
        "variableType" : "ListExperimentTemplatesRequest",
        "documentation" : "",
        "simpleType" : "ListExperimentTemplatesRequest",
        "variableSetterType" : "ListExperimentTemplatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listExperimentTemplates",
      "operationName" : "ListExperimentTemplates",
      "returnType" : {
        "returnType" : "ListExperimentTemplatesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListExperimentTemplatesResult"
    },
    "ListExperiments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListExperimentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListExperimentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListExperimentsRequest, ListExperimentsResult>",
      "asyncReturnType" : "ListExperimentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists your experiments.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is not valid, or fails to satisfy the constraints for the request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListExperimentsRequest",
        "variableName" : "listExperimentsRequest",
        "variableType" : "ListExperimentsRequest",
        "documentation" : "",
        "simpleType" : "ListExperimentsRequest",
        "variableSetterType" : "ListExperimentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listExperiments",
      "operationName" : "ListExperiments",
      "returnType" : {
        "returnType" : "ListExperimentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListExperimentsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "StartExperiment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartExperimentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartExperimentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartExperimentRequest, StartExperimentResult>",
      "asyncReturnType" : "StartExperimentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts running an experiment from the specified experiment template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is not valid, or fails to satisfy the constraints for the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The request could not be processed because of a conflict.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded your service quota.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartExperimentRequest",
        "variableName" : "startExperimentRequest",
        "variableType" : "StartExperimentRequest",
        "documentation" : "",
        "simpleType" : "StartExperimentRequest",
        "variableSetterType" : "StartExperimentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startExperiment",
      "operationName" : "StartExperiment",
      "returnType" : {
        "returnType" : "StartExperimentResult",
        "documentation" : null
      },
      "syncReturnType" : "StartExperimentResult"
    },
    "StopExperiment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopExperimentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopExperimentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopExperimentRequest, StopExperimentResult>",
      "asyncReturnType" : "StopExperimentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops the specified experiment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is not valid, or fails to satisfy the constraints for the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopExperimentRequest",
        "variableName" : "stopExperimentRequest",
        "variableType" : "StopExperimentRequest",
        "documentation" : "",
        "simpleType" : "StopExperimentRequest",
        "variableSetterType" : "StopExperimentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopExperiment",
      "operationName" : "StopExperiment",
      "returnType" : {
        "returnType" : "StopExperimentResult",
        "documentation" : null
      },
      "syncReturnType" : "StopExperimentResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Applies the specified tags to the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags from the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateExperimentTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateExperimentTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateExperimentTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateExperimentTemplateRequest, UpdateExperimentTemplateResult>",
      "asyncReturnType" : "UpdateExperimentTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the specified experiment template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The specified input is not valid, or fails to satisfy the constraints for the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource cannot be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>You have exceeded your service quota.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateExperimentTemplateRequest",
        "variableName" : "updateExperimentTemplateRequest",
        "variableType" : "UpdateExperimentTemplateRequest",
        "documentation" : "",
        "simpleType" : "UpdateExperimentTemplateRequest",
        "variableSetterType" : "UpdateExperimentTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateExperimentTemplate",
      "operationName" : "UpdateExperimentTemplate",
      "returnType" : {
        "returnType" : "UpdateExperimentTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateExperimentTemplateResult"
    }
  },
  "shapes" : {
    "Action" : {
      "c2jName" : "Action",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes an action. For more information, see <a href=\"https://docs.aws.amazon.com/fis/latest/userguide/fis-actions-reference.html\">AWS FIS actions</a> in the <i>AWS Fault Injection Simulator User Guide</i>.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.fis.model.Action",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "id",
        "c2jShape" : "ActionId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the action.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the action.</p>\n@param id The ID of the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p>The ID of the action.</p>\n@return The ID of the action.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the action.</p>\n@param id The ID of the action.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the action.</p>\n@param id The ID of the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p>The ID of the action.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "description",
        "c2jShape" : "ActionDescription",
        "deprecated" : false,
        "documentation" : "<p>The description for the action.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The description for the action.</p>\n@param description The description for the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>The description for the action.</p>\n@return The description for the action.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The description for the action.</p>\n@param description The description for the action.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The description for the action.</p>\n@param description The description for the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>The description for the action.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "parameters",
        "c2jShape" : "ActionParameterMap",
        "deprecated" : false,
        "documentation" : "<p>The action parameters, if applicable.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The action parameters, if applicable.</p>\n@param parameters The action parameters, if applicable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withParameters",
        "getterDocumentation" : "/**<p>The action parameters, if applicable.</p>\n@return The action parameters, if applicable.*/",
        "getterMethodName" : "getParameters",
        "getterModel" : {
          "returnType" : "java.util.Map<String,ActionParameter>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "parameters",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "parameters",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "ActionParameter",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "ActionParameter",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ActionParameter",
              "variableName" : "value",
              "variableType" : "ActionParameter",
              "documentation" : "",
              "simpleType" : "ActionParameter",
              "variableSetterType" : "ActionParameter"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ActionParameter",
              "variableName" : "value",
              "variableType" : "ActionParameter",
              "documentation" : "",
              "simpleType" : "ActionParameter",
              "variableSetterType" : "ActionParameter"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "ActionParameter",
          "entryType" : "Map.Entry<String, ActionParameter>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,ActionParameter>",
          "templateType" : "java.util.Map<String,ActionParameter>",
          "valueList" : false,
          "valueSimple" : false
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Parameters",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The action parameters, if applicable.</p>\n@param parameters The action parameters, if applicable.*/",
        "setterMethodName" : "setParameters",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,ActionParameter>",
          "variableName" : "parameters",
          "variableType" : "java.util.Map<String,ActionParameter>",
          "documentation" : "",
          "simpleType" : "Map<String,ActionParameter>",
          "variableSetterType" : "java.util.Map<String,ActionParameter>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The action parameters, if applicable.</p>\n@param parameters The action parameters, if applicable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,ActionParameter>",
          "variableName" : "parameters",
          "variableType" : "java.util.Map<String,ActionParameter>",
          "documentation" : "<p>The action parameters, if applicable.</p>",
          "simpleType" : "Map<String,ActionParameter>",
          "variableSetterType" : "java.util.Map<String,ActionParameter>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "targets",
        "c2jShape" : "ActionTargetMap",
        "deprecated" : false,
        "documentation" : "<p>The supported targets for the action.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The supported targets for the action.</p>\n@param targets The supported targets for the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTargets",
        "getterDocumentation" : "/**<p>The supported targets for the action.</p>\n@return The supported targets for the action.*/",
        "getterMethodName" : "getTargets",
        "getterModel" : {
          "returnType" : "java.util.Map<String,ActionTarget>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "targets",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "targets",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "ActionTarget",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "ActionTarget",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ActionTarget",
              "variableName" : "value",
              "variableType" : "ActionTarget",
              "documentation" : "",
              "simpleType" : "ActionTarget",
              "variableSetterType" : "ActionTarget"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "ActionTarget",
              "variableName" : "value",
              "variableType" : "ActionTarget",
              "documentation" : "",
              "simpleType" : "ActionTarget",
              "variableSetterType" : "ActionTarget"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "ActionTarget",
          "entryType" : "Map.Entry<String, ActionTarget>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,ActionTarget>",
          "templateType" : "java.util.Map<String,ActionTarget>",
          "valueList" : false,
          "valueSimple" : false
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Targets",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The supported targets for the action.</p>\n@param targets The supported targets for the action.*/",
        "setterMethodName" : "setTargets",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,ActionTarget>",
          "variableName" : "targets",
          "variableType" : "java.util.Map<String,ActionTarget>",
          "documentation" : "",
          "simpleType" : "Map<String,ActionTarget>",
          "variableSetterType" : "java.util.Map<String,ActionTarget>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The supported targets for the action.</p>\n@param targets The supported targets for the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,ActionTarget>",
          "variableName" : "targets",
          "variableType" : "java.util.Map<String,ActionTarget>",
          "documentation" : "<p>The supported targets for the action.</p>",
          "simpleType" : "Map<String,ActionTarget>",
          "variableSetterType" : "java.util.Map<String,ActionTarget>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "tags",
        "c2jShape" : "TagMap",
        "deprecated" : false,
        "documentation" : "<p>The tags for the action.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The tags for the action.</p>\n@param tags The tags for the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTags",
        "getterDocumentation" : "/**<p>The tags for the action.</p>\n@return The tags for the action.*/",
        "getterMethodName" : "getTags",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "tags",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tags",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "TagValue",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Tags",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The tags for the action.</p>\n@param tags The tags for the action.*/",
        "setterMethodName" : "setTags",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The tags for the action.</p>\n@param tags The tags for the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "tags",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>The tags for the action.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Description" : {
          "c2jName" : "description",
          "c2jShape" : "ActionDescription",
          "deprecated" : false,
          "documentation" : "<p>The description for the action.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The description for the action.</p>\n@param description The description for the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**<p>The description for the action.</p>\n@return The description for the action.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "description",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The description for the action.</p>\n@param description The description for the action.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The description for the action.</p>\n@param description The description for the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "<p>The description for the action.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Id" : {
          "c2jName" : "id",
          "c2jShape" : "ActionId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the action.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the action.</p>\n@param id The ID of the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withId",
          "getterDocumentation" : "/**<p>The ID of the action.</p>\n@return The ID of the action.*/",
          "getterMethodName" : "getId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "id",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "id",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Id",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the action.</p>\n@param id The ID of the action.*/",
          "setterMethodName" : "setId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the action.</p>\n@param id The ID of the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "<p>The ID of the action.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Parameters" : {
          "c2jName" : "parameters",
          "c2jShape" : "ActionParameterMap",
          "deprecated" : false,
          "documentation" : "<p>The action parameters, if applicable.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The action parameters, if applicable.</p>\n@param parameters The action parameters, if applicable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withParameters",
          "getterDocumentation" : "/**<p>The action parameters, if applicable.</p>\n@return The action parameters, if applicable.*/",
          "getterMethodName" : "getParameters",
          "getterModel" : {
            "returnType" : "java.util.Map<String,ActionParameter>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "parameters",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "parameters",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "ActionParameter",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "ActionParameter",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Value",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "ActionParameter",
                "variableName" : "value",
                "variableType" : "ActionParameter",
                "documentation" : "",
                "simpleType" : "ActionParameter",
                "variableSetterType" : "ActionParameter"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "ActionParameter",
                "variableName" : "value",
                "variableType" : "ActionParameter",
                "documentation" : "",
                "simpleType" : "ActionParameter",
                "variableSetterType" : "ActionParameter"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "ActionParameter",
            "entryType" : "Map.Entry<String, ActionParameter>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,ActionParameter>",
            "templateType" : "java.util.Map<String,ActionParameter>",
            "valueList" : false,
            "valueSimple" : false
          },
          "marshallingTargetClass" : "Map",
          "marshallingType" : "MAP",
          "name" : "Parameters",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The action parameters, if applicable.</p>\n@param parameters The action parameters, if applicable.*/",
          "setterMethodName" : "setParameters",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,ActionParameter>",
            "variableName" : "parameters",
            "variableType" : "java.util.Map<String,ActionParameter>",
            "documentation" : "",
            "simpleType" : "Map<String,ActionParameter>",
            "variableSetterType" : "java.util.Map<String,ActionParameter>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The action parameters, if applicable.</p>\n@param parameters The action parameters, if applicable.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,ActionParameter>",
            "variableName" : "parameters",
            "variableType" : "java.util.Map<String,ActionParameter>",
            "documentation" : "<p>The action parameters, if applicable.</p>",
            "simpleType" : "Map<String,ActionParameter>",
            "variableSetterType" : "java.util.Map<String,ActionParameter>"
          },
          "xmlNameSpaceUri" : null
        },
        "Tags" : {
          "c2jName" : "tags",
          "c2jShape" : "TagMap",
          "deprecated" : false,
          "documentation" : "<p>The tags for the action.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The tags for the action.</p>\n@param tags The tags for the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTags",
          "getterDocumentation" : "/**<p>The tags for the action.</p>\n@return The tags for the action.*/",
          "getterMethodName" : "getTags",
          "getterModel" : {
            "returnType" : "java.util.Map<String,String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "tags",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "tags",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "TagValue",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Value",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "String",
            "entryType" : "Map.Entry<String, String>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,String>",
            "templateType" : "java.util.Map<String,String>",
            "valueList" : false,
            "valueSimple" : true
          },
          "marshallingTargetClass" : "Map",
          "marshallingType" : "MAP",
          "name" : "Tags",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The tags for the action.</p>\n@param tags The tags for the action.*/",
          "setterMethodName" : "setTags",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "tags",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The tags for the action.</p>\n@param tags The tags for the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "tags",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "<p>The tags for the action.</p>",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "xmlNameSpaceUri" : null
        },
        "Targets" : {
          "c2jName" : "targets",
          "c2jShape" : "ActionTargetMap",
          "deprecated" : false,
          "documentation" : "<p>The supported targets for the action.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The supported targets for the action.</p>\n@param targets The supported targets for the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTargets",
          "getterDocumentation" : "/**<p>The supported targets for the action.</p>\n@return The supported targets for the action.*/",
          "getterMethodName" : "getTargets",
          "getterModel" : {
            "returnType" : "java.util.Map<String,ActionTarget>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "targets",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "targets",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "ActionTarget",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "ActionTarget",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Value",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "ActionTarget",
                "variableName" : "value",
                "variableType" : "ActionTarget",
                "documentation" : "",
                "simpleType" : "ActionTarget",
                "variableSetterType" : "ActionTarget"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "ActionTarget",
                "variableName" : "value",
                "variableType" : "ActionTarget",
                "documentation" : "",
                "simpleType" : "ActionTarget",
                "variableSetterType" : "ActionTarget"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "ActionTarget",
            "entryType" : "Map.Entry<String, ActionTarget>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,ActionTarget>",
            "templateType" : "java.util.Map<String,ActionTarget>",
            "valueList" : false,
            "valueSimple" : false
          },
          "marshallingTargetClass" : "Map",
          "marshallingType" : "MAP",
          "name" : "Targets",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The supported targets for the action.</p>\n@param targets The supported targets for the action.*/",
          "setterMethodName" : "setTargets",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,ActionTarget>",
            "variableName" : "targets",
            "variableType" : "java.util.Map<String,ActionTarget>",
            "documentation" : "",
            "simpleType" : "Map<String,ActionTarget>",
            "variableSetterType" : "java.util.Map<String,ActionTarget>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The supported targets for the action.</p>\n@param targets The supported targets for the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,ActionTarget>",
            "variableName" : "targets",
            "variableType" : "java.util.Map<String,ActionTarget>",
            "documentation" : "<p>The supported targets for the action.</p>",
            "simpleType" : "Map<String,ActionTarget>",
            "variableSetterType" : "java.util.Map<String,ActionTarget>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.fis.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Action",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Action",
        "variableName" : "action",
        "variableType" : "Action",
        "documentation" : null,
        "simpleType" : "Action",
        "variableSetterType" : "Action"
      },
      "wrapper" : false
    },
    "ActionParameter" : {
      "c2jName" : "ActionParameter",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes a parameter for an action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.fis.model.ActionParameter",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "description",
        "c2jShape" : "ActionParameterDescription",
        "deprecated" : false,
        "documentation" : "<p>The parameter description.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The parameter description.</p>\n@param description The parameter description.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>The parameter description.</p>\n@return The parameter description.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The parameter description.</p>\n@param description The parameter description.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The parameter description.</p>\n@param description The parameter description.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>The parameter description.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "required",
        "c2jShape" : "ActionParameterRequired",
        "deprecated" : false,
        "documentation" : "<p>Indicates whether the parameter is required.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Indicates whether the parameter is required.</p>\n@param required Indicates whether the parameter is required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRequired",
        "getterDocumentation" : "/**<p>Indicates whether the parameter is required.</p>\n@return Indicates whether the parameter is required.*/",
        "getterMethodName" : "getRequired",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "required",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "required",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "Required",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Indicates whether the parameter is required.</p>\n@param required Indicates whether the parameter is required.*/",
        "setterMethodName" : "setRequired",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "required",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Indicates whether the parameter is required.</p>\n@param required Indicates whether the parameter is required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "required",
          "variableType" : "Boolean",
          "documentation" : "<p>Indicates whether the parameter is required.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Description" : {
          "c2jName" : "description",
          "c2jShape" : "ActionParameterDescription",
          "deprecated" : false,
          "documentation" : "<p>The parameter description.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The parameter description.</p>\n@param description The parameter description.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**<p>The parameter description.</p>\n@return The parameter description.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "description",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The parameter description.</p>\n@param description The parameter description.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The parameter description.</p>\n@param description The parameter description.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "<p>The parameter description.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Required" : {
          "c2jName" : "required",
          "c2jShape" : "ActionParameterRequired",
          "deprecated" : false,
          "documentation" : "<p>Indicates whether the parameter is required.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Indicates whether the parameter is required.</p>\n@param required Indicates whether the parameter is required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRequired",
          "getterDocumentation" : "/**<p>Indicates whether the parameter is required.</p>\n@return Indicates whether the parameter is required.*/",
          "getterMethodName" : "getRequired",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "required",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "required",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "Required",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Indicates whether the parameter is required.</p>\n@param required Indicates whether the parameter is required.*/",
          "setterMethodName" : "setRequired",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "required",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Indicates whether the parameter is required.</p>\n@param required Indicates whether the parameter is required.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "required",
            "variableType" : "Boolean",
            "documentation" : "<p>Indicates whether the parameter is required.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.fis.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ActionParameter",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ActionParameter",
        "variableName" : "actionParameter",
        "variableType" : "ActionParameter",
        "documentation" : null,
        "simpleType" : "ActionParameter",
        "variableSetterType" : "ActionParameter"
      },
      "wrapper" : false
    },
    "ActionSummary" : {
      "c2jName" : "ActionSummary",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Provides a summary of an action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.fis.model.ActionSummary",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "id",
        "c2jShape" : "ActionId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the action.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the action.</p>\n@param id The ID of the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p>The ID of the action.</p>\n@return The ID of the action.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the action.</p>\n@param id The ID of the action.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the action.</p>\n@param id The ID of the action.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p>The ID of the action.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "description",
        "c2jShape" : "ActionDescription",
        "deprecated" : false,
        "documentation" : "<p>The description for the action.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
[...]
