{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2018-01-01",
    "asyncClient" : "AWSFMSAsyncClient",
    "asyncClientBuilderClassName" : "AWSFMSAsyncClientBuilder",
    "asyncInterface" : "AWSFMSAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSFMSModuleInjector",
    "defaultEndpoint" : "fms.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "fms.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>This is the <i>Firewall Manager API Reference</i>. This guide is for developers who need detailed information about the Firewall Manager API actions, data types, and errors. For detailed information about Firewall Manager features, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-chapter.html\">Firewall Manager Developer Guide</a>.</p> <p>Some API actions require explicit resource permissions. For information, see the developer guide topic <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-api-permissions-ref.html\">Firewall Manager required permissions for API actions</a>. </p>",
    "endpointPrefix" : "fms",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.fms",
    "packagePath" : "com/amazonaws/services/fms",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "FMS",
    "serviceFullName" : "Firewall Management Service",
    "serviceId" : "FMS",
    "serviceName" : "FMS",
    "signingName" : "fms",
    "smokeTestsPackageName" : "com.amazonaws.services.fms.smoketests",
    "syncClient" : "AWSFMSClient",
    "syncClientBuilderClassName" : "AWSFMSClientBuilder",
    "syncInterface" : "AWSFMS",
    "uid" : "fms-2018-01-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateAdminAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateAdminAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateAdminAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateAdminAccountRequest, AssociateAdminAccountResult>",
      "asyncReturnType" : "AssociateAdminAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets the Firewall Manager administrator account. The account must be a member of the organization in Organizations whose resources you want to protect. Firewall Manager sets the permissions that allow the account to administer your Firewall Manager policies.</p> <p>The account that you associate with Firewall Manager is called the Firewall Manager administrator account. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The parameters of the request were invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation exceeds a resource limit, for example, the maximum number of <code>policy</code> objects that you can create for an Amazon Web Services account. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-limits.html\">Firewall Manager Limits</a> in the <i>WAF Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateAdminAccountRequest",
        "variableName" : "associateAdminAccountRequest",
        "variableType" : "AssociateAdminAccountRequest",
        "documentation" : "",
        "simpleType" : "AssociateAdminAccountRequest",
        "variableSetterType" : "AssociateAdminAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateAdminAccount",
      "operationName" : "AssociateAdminAccount",
      "returnType" : {
        "returnType" : "AssociateAdminAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateAdminAccountResult"
    },
    "DeleteAppsList" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAppsListResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAppsListResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAppsListRequest, DeleteAppsListResult>",
      "asyncReturnType" : "DeleteAppsListResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Permanently deletes an Firewall Manager applications list.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAppsListRequest",
        "variableName" : "deleteAppsListRequest",
        "variableType" : "DeleteAppsListRequest",
        "documentation" : "",
        "simpleType" : "DeleteAppsListRequest",
        "variableSetterType" : "DeleteAppsListRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAppsList",
      "operationName" : "DeleteAppsList",
      "returnType" : {
        "returnType" : "DeleteAppsListResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAppsListResult"
    },
    "DeleteNotificationChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteNotificationChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteNotificationChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteNotificationChannelRequest, DeleteNotificationChannelResult>",
      "asyncReturnType" : "DeleteNotificationChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Firewall Manager association with the IAM role and the Amazon Simple Notification Service (SNS) topic that is used to record Firewall Manager SNS logs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteNotificationChannelRequest",
        "variableName" : "deleteNotificationChannelRequest",
        "variableType" : "DeleteNotificationChannelRequest",
        "documentation" : "",
        "simpleType" : "DeleteNotificationChannelRequest",
        "variableSetterType" : "DeleteNotificationChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteNotificationChannel",
      "operationName" : "DeleteNotificationChannel",
      "returnType" : {
        "returnType" : "DeleteNotificationChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteNotificationChannelResult"
    },
    "DeletePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePolicyRequest, DeletePolicyResult>",
      "asyncReturnType" : "DeletePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Permanently deletes an Firewall Manager policy. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The parameters of the request were invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation exceeds a resource limit, for example, the maximum number of <code>policy</code> objects that you can create for an Amazon Web Services account. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-limits.html\">Firewall Manager Limits</a> in the <i>WAF Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePolicyRequest",
        "variableName" : "deletePolicyRequest",
        "variableType" : "DeletePolicyRequest",
        "documentation" : "",
        "simpleType" : "DeletePolicyRequest",
        "variableSetterType" : "DeletePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePolicy",
      "operationName" : "DeletePolicy",
      "returnType" : {
        "returnType" : "DeletePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePolicyResult"
    },
    "DeleteProtocolsList" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProtocolsListResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProtocolsListResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProtocolsListRequest, DeleteProtocolsListResult>",
      "asyncReturnType" : "DeleteProtocolsListResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Permanently deletes an Firewall Manager protocols list.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProtocolsListRequest",
        "variableName" : "deleteProtocolsListRequest",
        "variableType" : "DeleteProtocolsListRequest",
        "documentation" : "",
        "simpleType" : "DeleteProtocolsListRequest",
        "variableSetterType" : "DeleteProtocolsListRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProtocolsList",
      "operationName" : "DeleteProtocolsList",
      "returnType" : {
        "returnType" : "DeleteProtocolsListResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProtocolsListResult"
    },
    "DisassociateAdminAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateAdminAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateAdminAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateAdminAccountRequest, DisassociateAdminAccountResult>",
      "asyncReturnType" : "DisassociateAdminAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the account that has been set as the Firewall Manager administrator account. To set a different account as the administrator account, you must submit an <code>AssociateAdminAccount</code> request.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateAdminAccountRequest",
        "variableName" : "disassociateAdminAccountRequest",
        "variableType" : "DisassociateAdminAccountRequest",
        "documentation" : "",
        "simpleType" : "DisassociateAdminAccountRequest",
        "variableSetterType" : "DisassociateAdminAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateAdminAccount",
      "operationName" : "DisassociateAdminAccount",
      "returnType" : {
        "returnType" : "DisassociateAdminAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateAdminAccountResult"
    },
    "GetAdminAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAdminAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAdminAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAdminAccountRequest, GetAdminAccountResult>",
      "asyncReturnType" : "GetAdminAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the Organizations account that is associated with Firewall Manager as the Firewall Manager administrator.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAdminAccountRequest",
        "variableName" : "getAdminAccountRequest",
        "variableType" : "GetAdminAccountRequest",
        "documentation" : "",
        "simpleType" : "GetAdminAccountRequest",
        "variableSetterType" : "GetAdminAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAdminAccount",
      "operationName" : "GetAdminAccount",
      "returnType" : {
        "returnType" : "GetAdminAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAdminAccountResult"
    },
    "GetAppsList" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAppsListResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAppsListResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAppsListRequest, GetAppsListResult>",
      "asyncReturnType" : "GetAppsListResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the specified Firewall Manager applications list.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAppsListRequest",
        "variableName" : "getAppsListRequest",
        "variableType" : "GetAppsListRequest",
        "documentation" : "",
        "simpleType" : "GetAppsListRequest",
        "variableSetterType" : "GetAppsListRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAppsList",
      "operationName" : "GetAppsList",
      "returnType" : {
        "returnType" : "GetAppsListResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAppsListResult"
    },
    "GetComplianceDetail" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetComplianceDetailResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetComplianceDetailResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComplianceDetailRequest, GetComplianceDetailResult>",
      "asyncReturnType" : "GetComplianceDetailResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns detailed compliance information about the specified member account. Details include resources that are in and out of compliance with the specified policy. </p> <ul> <li> <p>Resources are considered noncompliant for WAF and Shield Advanced policies if the specified policy has not been applied to them.</p> </li> <li> <p>Resources are considered noncompliant for security group policies if they are in scope of the policy, they violate one or more of the policy rules, and remediation is disabled or not possible.</p> </li> <li> <p>Resources are considered noncompliant for Network Firewall policies if a firewall is missing in the VPC, if the firewall endpoint isn't set up in an expected Availability Zone and subnet, if a subnet created by the Firewall Manager doesn't have the expected route table, and for modifications to a firewall policy that violate the Firewall Manager policy's rules.</p> </li> <li> <p>Resources are considered noncompliant for DNS Firewall policies if a DNS Firewall rule group is missing from the rule group associations for the VPC. </p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The parameters of the request were invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetComplianceDetailRequest",
        "variableName" : "getComplianceDetailRequest",
        "variableType" : "GetComplianceDetailRequest",
        "documentation" : "",
        "simpleType" : "GetComplianceDetailRequest",
        "variableSetterType" : "GetComplianceDetailRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getComplianceDetail",
      "operationName" : "GetComplianceDetail",
      "returnType" : {
        "returnType" : "GetComplianceDetailResult",
        "documentation" : null
      },
      "syncReturnType" : "GetComplianceDetailResult"
    },
    "GetNotificationChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetNotificationChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetNotificationChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetNotificationChannelRequest, GetNotificationChannelResult>",
      "asyncReturnType" : "GetNotificationChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Information about the Amazon Simple Notification Service (SNS) topic that is used to record Firewall Manager SNS logs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetNotificationChannelRequest",
        "variableName" : "getNotificationChannelRequest",
        "variableType" : "GetNotificationChannelRequest",
        "documentation" : "",
        "simpleType" : "GetNotificationChannelRequest",
        "variableSetterType" : "GetNotificationChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getNotificationChannel",
      "operationName" : "GetNotificationChannel",
      "returnType" : {
        "returnType" : "GetNotificationChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "GetNotificationChannelResult"
    },
    "GetPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPolicyRequest, GetPolicyResult>",
      "asyncReturnType" : "GetPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the specified Firewall Manager policy.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The value of the <code>Type</code> parameter is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPolicyRequest",
        "variableName" : "getPolicyRequest",
        "variableType" : "GetPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetPolicyRequest",
        "variableSetterType" : "GetPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPolicy",
      "operationName" : "GetPolicy",
      "returnType" : {
        "returnType" : "GetPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPolicyResult"
    },
    "GetProtectionStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetProtectionStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetProtectionStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProtectionStatusRequest, GetProtectionStatusResult>",
      "asyncReturnType" : "GetProtectionStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>If you created a Shield Advanced policy, returns policy-level attack summary information in the event of a potential DDoS attack. Other policy types are currently unsupported.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The parameters of the request were invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetProtectionStatusRequest",
        "variableName" : "getProtectionStatusRequest",
        "variableType" : "GetProtectionStatusRequest",
        "documentation" : "",
        "simpleType" : "GetProtectionStatusRequest",
        "variableSetterType" : "GetProtectionStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getProtectionStatus",
      "operationName" : "GetProtectionStatus",
      "returnType" : {
        "returnType" : "GetProtectionStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetProtectionStatusResult"
    },
    "GetProtocolsList" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetProtocolsListResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetProtocolsListResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProtocolsListRequest, GetProtocolsListResult>",
      "asyncReturnType" : "GetProtocolsListResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the specified Firewall Manager protocols list.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetProtocolsListRequest",
        "variableName" : "getProtocolsListRequest",
        "variableType" : "GetProtocolsListRequest",
        "documentation" : "",
        "simpleType" : "GetProtocolsListRequest",
        "variableSetterType" : "GetProtocolsListRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getProtocolsList",
      "operationName" : "GetProtocolsList",
      "returnType" : {
        "returnType" : "GetProtocolsListResult",
        "documentation" : null
      },
      "syncReturnType" : "GetProtocolsListResult"
    },
    "GetViolationDetails" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetViolationDetailsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetViolationDetailsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetViolationDetailsRequest, GetViolationDetailsResult>",
      "asyncReturnType" : "GetViolationDetailsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves violations for a resource based on the specified Firewall Manager policy and Amazon Web Services account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The parameters of the request were invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetViolationDetailsRequest",
        "variableName" : "getViolationDetailsRequest",
        "variableType" : "GetViolationDetailsRequest",
        "documentation" : "",
        "simpleType" : "GetViolationDetailsRequest",
        "variableSetterType" : "GetViolationDetailsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getViolationDetails",
      "operationName" : "GetViolationDetails",
      "returnType" : {
        "returnType" : "GetViolationDetailsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetViolationDetailsResult"
    },
    "ListAppsLists" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAppsListsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAppsListsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAppsListsRequest, ListAppsListsResult>",
      "asyncReturnType" : "ListAppsListsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of <code>AppsListDataSummary</code> objects.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation exceeds a resource limit, for example, the maximum number of <code>policy</code> objects that you can create for an Amazon Web Services account. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-limits.html\">Firewall Manager Limits</a> in the <i>WAF Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAppsListsRequest",
        "variableName" : "listAppsListsRequest",
        "variableType" : "ListAppsListsRequest",
        "documentation" : "",
        "simpleType" : "ListAppsListsRequest",
        "variableSetterType" : "ListAppsListsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAppsLists",
      "operationName" : "ListAppsLists",
      "returnType" : {
        "returnType" : "ListAppsListsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAppsListsResult"
    },
    "ListComplianceStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListComplianceStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListComplianceStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListComplianceStatusRequest, ListComplianceStatusResult>",
      "asyncReturnType" : "ListComplianceStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of <code>PolicyComplianceStatus</code> objects. Use <code>PolicyComplianceStatus</code> to get a summary of which member accounts are protected by the specified policy. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListComplianceStatusRequest",
        "variableName" : "listComplianceStatusRequest",
        "variableType" : "ListComplianceStatusRequest",
        "documentation" : "",
        "simpleType" : "ListComplianceStatusRequest",
        "variableSetterType" : "ListComplianceStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listComplianceStatus",
      "operationName" : "ListComplianceStatus",
      "returnType" : {
        "returnType" : "ListComplianceStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "ListComplianceStatusResult"
    },
    "ListMemberAccounts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMemberAccountsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMemberAccountsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMemberAccountsRequest, ListMemberAccountsResult>",
      "asyncReturnType" : "ListMemberAccountsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a <code>MemberAccounts</code> object that lists the member accounts in the administrator's Amazon Web Services organization.</p> <p>The <code>ListMemberAccounts</code> must be submitted by the account that is set as the Firewall Manager administrator.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMemberAccountsRequest",
        "variableName" : "listMemberAccountsRequest",
        "variableType" : "ListMemberAccountsRequest",
        "documentation" : "",
        "simpleType" : "ListMemberAccountsRequest",
        "variableSetterType" : "ListMemberAccountsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMemberAccounts",
      "operationName" : "ListMemberAccounts",
      "returnType" : {
        "returnType" : "ListMemberAccountsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMemberAccountsResult"
    },
    "ListPolicies" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPoliciesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPoliciesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPoliciesRequest, ListPoliciesResult>",
      "asyncReturnType" : "ListPoliciesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of <code>PolicySummary</code> objects.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation exceeds a resource limit, for example, the maximum number of <code>policy</code> objects that you can create for an Amazon Web Services account. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-limits.html\">Firewall Manager Limits</a> in the <i>WAF Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPoliciesRequest",
        "variableName" : "listPoliciesRequest",
        "variableType" : "ListPoliciesRequest",
        "documentation" : "",
        "simpleType" : "ListPoliciesRequest",
        "variableSetterType" : "ListPoliciesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPolicies",
      "operationName" : "ListPolicies",
      "returnType" : {
        "returnType" : "ListPoliciesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPoliciesResult"
    },
    "ListProtocolsLists" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProtocolsListsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProtocolsListsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProtocolsListsRequest, ListProtocolsListsResult>",
      "asyncReturnType" : "ListProtocolsListsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns an array of <code>ProtocolsListDataSummary</code> objects.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProtocolsListsRequest",
        "variableName" : "listProtocolsListsRequest",
        "variableType" : "ListProtocolsListsRequest",
        "documentation" : "",
        "simpleType" : "ListProtocolsListsRequest",
        "variableSetterType" : "ListProtocolsListsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProtocolsLists",
      "operationName" : "ListProtocolsLists",
      "returnType" : {
        "returnType" : "ListProtocolsListsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProtocolsListsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the list of tags for the specified Amazon Web Services resource. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The parameters of the request were invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutAppsList" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutAppsListResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutAppsListResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutAppsListRequest, PutAppsListResult>",
      "asyncReturnType" : "PutAppsListResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Firewall Manager applications list.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The parameters of the request were invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation exceeds a resource limit, for example, the maximum number of <code>policy</code> objects that you can create for an Amazon Web Services account. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-limits.html\">Firewall Manager Limits</a> in the <i>WAF Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutAppsListRequest",
        "variableName" : "putAppsListRequest",
        "variableType" : "PutAppsListRequest",
        "documentation" : "",
        "simpleType" : "PutAppsListRequest",
        "variableSetterType" : "PutAppsListRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putAppsList",
      "operationName" : "PutAppsList",
      "returnType" : {
        "returnType" : "PutAppsListResult",
        "documentation" : null
      },
      "syncReturnType" : "PutAppsListResult"
    },
    "PutNotificationChannel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutNotificationChannelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutNotificationChannelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutNotificationChannelRequest, PutNotificationChannelResult>",
      "asyncReturnType" : "PutNotificationChannelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Designates the IAM role and Amazon Simple Notification Service (SNS) topic that Firewall Manager uses to record SNS logs.</p> <p>To perform this action outside of the console, you must configure the SNS topic to allow the Firewall Manager role <code>AWSServiceRoleForFMS</code> to publish SNS logs. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-api-permissions-ref.html\">Firewall Manager required permissions for API actions</a> in the <i>Firewall Manager Developer Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutNotificationChannelRequest",
        "variableName" : "putNotificationChannelRequest",
        "variableType" : "PutNotificationChannelRequest",
        "documentation" : "",
        "simpleType" : "PutNotificationChannelRequest",
        "variableSetterType" : "PutNotificationChannelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putNotificationChannel",
      "operationName" : "PutNotificationChannel",
      "returnType" : {
        "returnType" : "PutNotificationChannelResult",
        "documentation" : null
      },
      "syncReturnType" : "PutNotificationChannelResult"
    },
    "PutPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutPolicyRequest, PutPolicyResult>",
      "asyncReturnType" : "PutPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Firewall Manager policy.</p> <p>Firewall Manager provides the following types of policies: </p> <ul> <li> <p>An WAF policy (type WAFV2), which defines rule groups to run first in the corresponding WAF web ACL and rule groups to run last in the web ACL.</p> </li> <li> <p>An WAF Classic policy (type WAF), which defines a rule group. </p> </li> <li> <p>A Shield Advanced policy, which applies Shield Advanced protection to specified accounts and resources.</p> </li> <li> <p>A security group policy, which manages VPC security groups across your Amazon Web Services organization. </p> </li> <li> <p>An Network Firewall policy, which provides firewall rules to filter network traffic in specified Amazon VPCs.</p> </li> <li> <p>A DNS Firewall policy, which provides Route 53 Resolver DNS Firewall rules to filter DNS queries for specified VPCs.</p> </li> </ul> <p>Each policy is specific to one of the types. If you want to enforce more than one policy type across accounts, create multiple policies. You can create multiple policies for each type.</p> <p>You must be subscribed to Shield Advanced to create a Shield Advanced policy. For more information about subscribing to Shield Advanced, see <a href=\"https://docs.aws.amazon.com/waf/latest/DDOSAPIReference/API_CreateSubscription.html\">CreateSubscription</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The parameters of the request were invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation exceeds a resource limit, for example, the maximum number of <code>policy</code> objects that you can create for an Amazon Web Services account. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-limits.html\">Firewall Manager Limits</a> in the <i>WAF Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidTypeException",
        "documentation" : "<p>The value of the <code>Type</code> parameter is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutPolicyRequest",
        "variableName" : "putPolicyRequest",
        "variableType" : "PutPolicyRequest",
        "documentation" : "",
        "simpleType" : "PutPolicyRequest",
        "variableSetterType" : "PutPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putPolicy",
      "operationName" : "PutPolicy",
      "returnType" : {
        "returnType" : "PutPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "PutPolicyResult"
    },
    "PutProtocolsList" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutProtocolsListResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutProtocolsListResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutProtocolsListRequest, PutProtocolsListResult>",
      "asyncReturnType" : "PutProtocolsListResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Firewall Manager protocols list.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The parameters of the request were invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation exceeds a resource limit, for example, the maximum number of <code>policy</code> objects that you can create for an Amazon Web Services account. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-limits.html\">Firewall Manager Limits</a> in the <i>WAF Developer Guide</i>.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutProtocolsListRequest",
        "variableName" : "putProtocolsListRequest",
        "variableType" : "PutProtocolsListRequest",
        "documentation" : "",
        "simpleType" : "PutProtocolsListRequest",
        "variableSetterType" : "PutProtocolsListRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putProtocolsList",
      "operationName" : "PutProtocolsList",
      "returnType" : {
        "returnType" : "PutProtocolsListResult",
        "documentation" : null
      },
      "syncReturnType" : "PutProtocolsListResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds one or more tags to an Amazon Web Services resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The parameters of the request were invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The operation exceeds a resource limit, for example, the maximum number of <code>policy</code> objects that you can create for an Amazon Web Services account. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-limits.html\">Firewall Manager Limits</a> in the <i>WAF Developer Guide</i>.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes one or more tags from an Amazon Web Services resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidOperationException",
        "documentation" : "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalErrorException",
        "documentation" : "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The parameters of the request were invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    }
  },
  "shapes" : {
    "AccountRoleStatus" : {
      "c2jName" : "AccountRoleStatus",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "READY",
        "value" : "READY"
      }, {
        "name" : "CREATING",
        "value" : "CREATING"
      }, {
        "name" : "PENDING_DELETION",
        "value" : "PENDING_DELETION"
      }, {
        "name" : "DELETING",
        "value" : "DELETING"
      }, {
        "name" : "DELETED",
        "value" : "DELETED"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.fms.enum.AccountRoleStatus",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.fms.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccountRoleStatus",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccountRoleStatus",
        "variableName" : "accountRoleStatus",
        "variableType" : "AccountRoleStatus",
        "documentation" : null,
        "simpleType" : "AccountRoleStatus",
        "variableSetterType" : "AccountRoleStatus"
      },
      "wrapper" : false
    },
    "ActionTarget" : {
      "c2jName" : "ActionTarget",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Describes a remediation action target.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.fms.model.ActionTarget",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ResourceId",
        "c2jShape" : "ResourceId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the remediation target.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the remediation target.</p>\n@param resourceId The ID of the remediation target.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceId",
        "getterDocumentation" : "/**<p>The ID of the remediation target.</p>\n@return The ID of the remediation target.*/",
        "getterMethodName" : "getResourceId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ResourceId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ResourceId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the remediation target.</p>\n@param resourceId The ID of the remediation target.*/",
        "setterMethodName" : "setResourceId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the remediation target.</p>\n@param resourceId The ID of the remediation target.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the remediation target.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Description",
        "c2jShape" : "LengthBoundedString",
        "deprecated" : false,
        "documentation" : "<p>A description of the remediation action target.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A description of the remediation action target.</p>\n@param description A description of the remediation action target.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>A description of the remediation action target.</p>\n@return A description of the remediation action target.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Description",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Description",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Description",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A description of the remediation action target.</p>\n@param description A description of the remediation action target.*/",
        "setterMethodName" : "setDescription",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A description of the remediation action target.</p>\n@param description A description of the remediation action target.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "description",
          "variableType" : "String",
          "documentation" : "<p>A description of the remediation action target.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Description" : {
          "c2jName" : "Description",
          "c2jShape" : "LengthBoundedString",
          "deprecated" : false,
          "documentation" : "<p>A description of the remediation action target.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A description of the remediation action target.</p>\n@param description A description of the remediation action target.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDescription",
          "getterDocumentation" : "/**<p>A description of the remediation action target.</p>\n@return A description of the remediation action target.*/",
          "getterMethodName" : "getDescription",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Description",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Description",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Description",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A description of the remediation action target.</p>\n@param description A description of the remediation action target.*/",
          "setterMethodName" : "setDescription",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A description of the remediation action target.</p>\n@param description A description of the remediation action target.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "description",
            "variableType" : "String",
            "documentation" : "<p>A description of the remediation action target.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ResourceId" : {
          "c2jName" : "ResourceId",
          "c2jShape" : "ResourceId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the remediation target.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the remediation target.</p>\n@param resourceId The ID of the remediation target.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceId",
          "getterDocumentation" : "/**<p>The ID of the remediation target.</p>\n@return The ID of the remediation target.*/",
          "getterMethodName" : "getResourceId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ResourceId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ResourceId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the remediation target.</p>\n@param resourceId The ID of the remediation target.*/",
          "setterMethodName" : "setResourceId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the remediation target.</p>\n@param resourceId The ID of the remediation target.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the remediation target.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.fms.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ActionTarget",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ActionTarget",
        "variableName" : "actionTarget",
        "variableType" : "ActionTarget",
        "documentation" : null,
        "simpleType" : "ActionTarget",
        "variableSetterType" : "ActionTarget"
      },
      "wrapper" : false
    },
    "App" : {
      "c2jName" : "App",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An individual Firewall Manager application.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.fms.model.App",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AppName",
        "c2jShape" : "ResourceName",
        "deprecated" : false,
        "documentation" : "<p>The application's name.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The application's name.</p>\n@param appName The application's name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAppName",
        "getterDocumentation" : "/**<p>The application's name.</p>\n@return The application's name.*/",
        "getterMethodName" : "getAppName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AppName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AppName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AppName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The application's name.</p>\n@param appName The application's name.*/",
        "setterMethodName" : "setAppName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The application's name.</p>\n@param appName The application's name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "appName",
          "variableType" : "String",
          "documentation" : "<p>The application's name.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Protocol",
        "c2jShape" : "Protocol",
        "deprecated" : false,
        "documentation" : "<p>The IP protocol name or number. The name can be one of <code>tcp</code>, <code>udp</code>, or <code>icmp</code>. For information on possible numbers, see <a href=\"https://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml\">Protocol Numbers</a>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The IP protocol name or number. The name can be one of <code>tcp</code>, <code>udp</code>, or <code>icmp</code>. For information on possible numbers, see <a href=\"https://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml\">Protocol Numbers</a>.</p>\n@param protocol The IP protocol name or number. The name can be one of <code>tcp</code>, <code>udp</code>, or <code>icmp</code>. For information on possible numbers, see <a href=\"https://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml\">Protocol Numbers</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withProtocol",
        "getterDocumentation" : "/**<p>The IP protocol name or number. The name can be one of <code>tcp</code>, <code>udp</code>, or <code>icmp</code>. For information on possible numbers, see <a href=\"https://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml\">Protocol Numbers</a>.</p>\n@return The IP protocol name or number. The name can be one of <code>tcp</code>, <code>udp</code>, or <code>icmp</code>. For information on possible numbers, see <a href=\"https://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml\">Protocol Numbers</a>.*/",
        "getterMethodName" : "getProtocol",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Protocol",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Protocol",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Protocol",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The IP protocol name or number. The name can be one of <code>tcp</code>, <code>udp</code>, or <code>icmp</code>. For information on possible numbers, see <a href=\"https://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml\">Protocol Numbers</a>.</p>\n@param protocol The IP protocol name or number. The name can be one of <code>tcp</code>, <code>udp</code>, or <code>icmp</code>. For information on possible numbers, see <a href=\"https://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml\">Protocol Numbers</a>.*/",
        "setterMethodName" : "setProtocol",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "protocol",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The IP protocol name or number. The name can be one of <code>tcp</code>, <code>udp</code>, or <code>icmp</code>. For information on possible numbers, see <a href=\"https://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml\">Protocol Numbers</a>.</p>\n@param protocol The IP protocol name or number. The name can be one of <code>tcp</code>, <code>udp</code>, or <code>icmp</code>. For information on possible numbers, see <a href=\"https://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml\">Protocol Numbers</a>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "protocol",
          "variableType" : "String",
          "documentation" : "<p>The IP protocol name or number. The name can be one of <code>tcp</code>, <code>udp</code>, or <code>icmp</code>. For information on possible numbers, see <a href=\"https://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml\">Protocol Numbers</a>.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Port",
        "c2jShape" : "IPPortNumber",
        "deprecated" : false,
        "documentation" : "<p>The application's port number, for example <code>80</code>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The application's port number, for example <code>80</code>.</p>\n@param port The application's port number, for example <code>80</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPort",
        "getterDocumentation" : "/**<p>The application's port number, for example <code>80</code>.</p>\n@return The application's port number, for example <code>80</code>.*/",
        "getterMethodName" : "getPort",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Port",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Port",
          "uri" : false
        },
[...]
