{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-06-26",
    "asyncClient" : "AmazonForecastQueryAsyncClient",
    "asyncClientBuilderClassName" : "AmazonForecastQueryAsyncClientBuilder",
    "asyncInterface" : "AmazonForecastQueryAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonForecastQueryModuleInjector",
    "defaultEndpoint" : "forecastquery.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "forecastquery.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Provides APIs for creating and managing Amazon Forecast resources.</p>",
    "endpointPrefix" : "forecastquery",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.forecastquery",
    "packagePath" : "com/amazonaws/services/forecastquery",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Forecast Query Service",
    "serviceId" : "forecastquery",
    "serviceName" : "Amazon Forecast Query Service",
    "signingName" : "forecast",
    "smokeTestsPackageName" : "com.amazonaws.services.forecastquery.smoketests",
    "syncClient" : "AmazonForecastQueryClient",
    "syncClientBuilderClassName" : "AmazonForecastQueryClientBuilder",
    "syncInterface" : "AmazonForecastQuery",
    "uid" : "forecastquery-2018-06-26",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "QueryForecast" : {
      "asyncCallableType" : "java.util.concurrent.Callable<QueryForecastResult>",
      "asyncFutureType" : "java.util.concurrent.Future<QueryForecastResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<QueryForecastRequest, QueryForecastResult>",
      "asyncReturnType" : "QueryForecastResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a forecast filtered by the supplied criteria.</p> <p>The criteria is a key-value pair. The key is either <code>item_id</code> (or the equivalent non-timestamp, non-target field) from the <code>TARGET_TIME_SERIES</code> dataset, or one of the forecast dimensions specified as part of the <code>FeaturizationConfig</code> object.</p> <p>By default, the complete date range of the filtered forecast is returned. Optionally, you can request a specific date range within the forecast.</p> <note> <p>The forecasts generated by Amazon Forecast are in the same timezone as the dataset that was used to create the predictor.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We can't find that resource. Check the information that you've provided and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The value that you provided was invalid or too long.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit on the number of requests per second has been exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The token is not valid. Tokens expire after 24 hours.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "QueryForecastRequest",
        "variableName" : "queryForecastRequest",
        "variableType" : "QueryForecastRequest",
        "documentation" : "",
        "simpleType" : "QueryForecastRequest",
        "variableSetterType" : "QueryForecastRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "queryForecast",
      "operationName" : "QueryForecast",
      "returnType" : {
        "returnType" : "QueryForecastResult",
        "documentation" : null
      },
      "syncReturnType" : "QueryForecastResult"
    }
  },
  "shapes" : {
    "DataPoint" : {
      "c2jName" : "DataPoint",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The forecast value for a specific date. Part of the <a>Forecast</a> object.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Timestamp",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The timestamp of the specific forecast.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The timestamp of the specific forecast.</p>\n@param timestamp The timestamp of the specific forecast.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTimestamp",
        "getterDocumentation" : "/**<p>The timestamp of the specific forecast.</p>\n@return The timestamp of the specific forecast.*/",
        "getterMethodName" : "getTimestamp",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Timestamp",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Timestamp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Timestamp",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The timestamp of the specific forecast.</p>\n@param timestamp The timestamp of the specific forecast.*/",
        "setterMethodName" : "setTimestamp",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "timestamp",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The timestamp of the specific forecast.</p>\n@param timestamp The timestamp of the specific forecast.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "timestamp",
          "variableType" : "String",
          "documentation" : "<p>The timestamp of the specific forecast.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Value",
        "c2jShape" : "Double",
        "deprecated" : false,
        "documentation" : "<p>The forecast value.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The forecast value.</p>\n@param value The forecast value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withValue",
        "getterDocumentation" : "/**<p>The forecast value.</p>\n@return The forecast value.*/",
        "getterMethodName" : "getValue",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Value",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Value",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Double",
        "marshallingType" : "DOUBLE",
        "name" : "Value",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The forecast value.</p>\n@param value The forecast value.*/",
        "setterMethodName" : "setValue",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "value",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The forecast value.</p>\n@param value The forecast value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "value",
          "variableType" : "Double",
          "documentation" : "<p>The forecast value.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Timestamp" : {
          "c2jName" : "Timestamp",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The timestamp of the specific forecast.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The timestamp of the specific forecast.</p>\n@param timestamp The timestamp of the specific forecast.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTimestamp",
          "getterDocumentation" : "/**<p>The timestamp of the specific forecast.</p>\n@return The timestamp of the specific forecast.*/",
          "getterMethodName" : "getTimestamp",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Timestamp",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Timestamp",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Timestamp",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The timestamp of the specific forecast.</p>\n@param timestamp The timestamp of the specific forecast.*/",
          "setterMethodName" : "setTimestamp",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "timestamp",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The timestamp of the specific forecast.</p>\n@param timestamp The timestamp of the specific forecast.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "timestamp",
            "variableType" : "String",
            "documentation" : "<p>The timestamp of the specific forecast.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Value" : {
          "c2jName" : "Value",
          "c2jShape" : "Double",
          "deprecated" : false,
          "documentation" : "<p>The forecast value.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The forecast value.</p>\n@param value The forecast value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withValue",
          "getterDocumentation" : "/**<p>The forecast value.</p>\n@return The forecast value.*/",
          "getterMethodName" : "getValue",
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Value",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Value",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Double",
          "marshallingType" : "DOUBLE",
          "name" : "Value",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The forecast value.</p>\n@param value The forecast value.*/",
          "setterMethodName" : "setValue",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "value",
            "variableType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The forecast value.</p>\n@param value The forecast value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "value",
            "variableType" : "Double",
            "documentation" : "<p>The forecast value.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "DataPoint",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DataPoint",
        "variableName" : "dataPoint",
        "variableType" : "DataPoint",
        "documentation" : null,
        "simpleType" : "DataPoint",
        "variableSetterType" : "DataPoint"
      },
      "wrapper" : false
    },
    "Forecast" : {
      "c2jName" : "Forecast",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Provides information about a forecast. Returned as part of the <a>QueryForecast</a> response.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Predictions",
        "c2jShape" : "Predictions",
        "deprecated" : false,
        "documentation" : "<p>The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li> </ul>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li> </ul>\n@param predictions The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPredictions",
        "getterDocumentation" : "/**<p>The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li> </ul>\n@return The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li>*/",
        "getterMethodName" : "getPredictions",
        "getterModel" : {
          "returnType" : "java.util.Map<String,java.util.List<DataPoint>>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Predictions",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Predictions",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "TimeSeries",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "java.util.List<DataPoint>",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : true,
            "listModel" : {
              "implType" : "java.util.ArrayList",
              "interfaceType" : "java.util.List",
              "listMemberModel" : {
                "c2jName" : "member",
                "c2jShape" : "DataPoint",
                "deprecated" : false,
                "documentation" : "",
                "enumType" : null,
                "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
                "fluentSetterMethodName" : "withMember",
                "getterDocumentation" : "/**\n@return */",
                "getterMethodName" : "getMember",
                "getterModel" : {
                  "returnType" : "DataPoint",
                  "documentation" : null
                },
                "http" : {
                  "additionalMarshallingPath" : null,
                  "additionalUnmarshallingPath" : null,
                  "flattened" : false,
                  "greedy" : false,
                  "header" : false,
                  "isPayload" : false,
                  "isStreaming" : false,
                  "location" : null,
                  "marshallLocation" : "PAYLOAD",
                  "marshallLocationName" : "member",
                  "queryString" : false,
                  "requiresLength" : false,
                  "statusCode" : false,
                  "unmarshallLocationName" : "member",
                  "uri" : false
                },
                "idempotencyToken" : false,
                "isBinary" : false,
                "jsonValue" : false,
                "list" : false,
                "listModel" : null,
                "map" : false,
                "mapModel" : null,
                "marshallingTargetClass" : "StructuredPojo",
                "marshallingType" : "STRUCTURED",
                "name" : "Member",
                "sensitive" : false,
                "setterDocumentation" : "/**\n@param member */",
                "setterMethodName" : "setMember",
                "setterModel" : {
                  "timestampFormat" : null,
                  "variableDeclarationType" : "DataPoint",
                  "variableName" : "member",
                  "variableType" : "DataPoint",
                  "documentation" : "",
                  "simpleType" : "DataPoint",
                  "variableSetterType" : "DataPoint"
                },
                "shouldEmitLegacyEnumSetter" : false,
                "simple" : false,
                "unmarshallingType" : null,
                "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
                "variable" : {
                  "timestampFormat" : null,
                  "variableDeclarationType" : "DataPoint",
                  "variableName" : "member",
                  "variableType" : "DataPoint",
                  "documentation" : "",
                  "simpleType" : "DataPoint",
                  "variableSetterType" : "DataPoint"
                },
                "xmlNameSpaceUri" : null
              },
              "memberLocationName" : null,
              "memberType" : "DataPoint",
              "map" : false,
              "marshallNonAutoConstructedEmptyLists" : false,
              "memberAdditionalMarshallingPath" : null,
              "memberAdditionalUnmarshallingPath" : null,
              "sendEmptyQueryString" : false,
              "simple" : false,
              "simpleType" : "DataPoint",
              "templateImplType" : "java.util.ArrayList<DataPoint>",
              "templateType" : "java.util.List<DataPoint>"
            },
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "List",
            "marshallingType" : "LIST",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "java.util.List<DataPoint>",
              "variableName" : "value",
              "variableType" : "java.util.List<DataPoint>",
              "documentation" : "",
              "simpleType" : "List<DataPoint>",
              "variableSetterType" : "java.util.Collection<DataPoint>"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setValue(java.util.Collection)} or {@link #withValue(java.util.Collection)} if you want to override the existing values.</p>\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "java.util.List<DataPoint>",
              "variableName" : "value",
              "variableType" : "java.util.List<DataPoint>",
              "documentation" : "",
              "simpleType" : "List<DataPoint>",
              "variableSetterType" : "java.util.Collection<DataPoint>"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "java.util.List<DataPoint>",
          "entryType" : "Map.Entry<String, java.util.List<DataPoint>>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,java.util.List<DataPoint>>",
          "templateType" : "java.util.Map<String,java.util.List<DataPoint>>",
          "valueList" : true,
          "valueSimple" : false
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Predictions",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li> </ul>\n@param predictions The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li>*/",
        "setterMethodName" : "setPredictions",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,java.util.List<DataPoint>>",
          "variableName" : "predictions",
          "variableType" : "java.util.Map<String,java.util.List<DataPoint>>",
          "documentation" : "",
          "simpleType" : "List<DataPoint>>",
          "variableSetterType" : "java.util.Map<String,java.util.List<DataPoint>>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li> </ul>\n@param predictions The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,java.util.List<DataPoint>>",
          "variableName" : "predictions",
          "variableType" : "java.util.Map<String,java.util.List<DataPoint>>",
          "documentation" : "<p>The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li> </ul>",
          "simpleType" : "List<DataPoint>>",
          "variableSetterType" : "java.util.Map<String,java.util.List<DataPoint>>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Predictions" : {
          "c2jName" : "Predictions",
          "c2jShape" : "Predictions",
          "deprecated" : false,
          "documentation" : "<p>The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li> </ul>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li> </ul>\n@param predictions The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPredictions",
          "getterDocumentation" : "/**<p>The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li> </ul>\n@return The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li>*/",
          "getterMethodName" : "getPredictions",
          "getterModel" : {
            "returnType" : "java.util.Map<String,java.util.List<DataPoint>>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Predictions",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Predictions",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "TimeSeries",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "java.util.List<DataPoint>",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : true,
              "listModel" : {
                "implType" : "java.util.ArrayList",
                "interfaceType" : "java.util.List",
                "listMemberModel" : {
                  "c2jName" : "member",
                  "c2jShape" : "DataPoint",
                  "deprecated" : false,
                  "documentation" : "",
                  "enumType" : null,
                  "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
                  "fluentSetterMethodName" : "withMember",
                  "getterDocumentation" : "/**\n@return */",
                  "getterMethodName" : "getMember",
                  "getterModel" : {
                    "returnType" : "DataPoint",
                    "documentation" : null
                  },
                  "http" : {
                    "additionalMarshallingPath" : null,
                    "additionalUnmarshallingPath" : null,
                    "flattened" : false,
                    "greedy" : false,
                    "header" : false,
                    "isPayload" : false,
                    "isStreaming" : false,
                    "location" : null,
                    "marshallLocation" : "PAYLOAD",
                    "marshallLocationName" : "member",
                    "queryString" : false,
                    "requiresLength" : false,
                    "statusCode" : false,
                    "unmarshallLocationName" : "member",
                    "uri" : false
                  },
                  "idempotencyToken" : false,
                  "isBinary" : false,
                  "jsonValue" : false,
                  "list" : false,
                  "listModel" : null,
                  "map" : false,
                  "mapModel" : null,
                  "marshallingTargetClass" : "StructuredPojo",
                  "marshallingType" : "STRUCTURED",
                  "name" : "Member",
                  "sensitive" : false,
                  "setterDocumentation" : "/**\n@param member */",
                  "setterMethodName" : "setMember",
                  "setterModel" : {
                    "timestampFormat" : null,
                    "variableDeclarationType" : "DataPoint",
                    "variableName" : "member",
                    "variableType" : "DataPoint",
                    "documentation" : "",
                    "simpleType" : "DataPoint",
                    "variableSetterType" : "DataPoint"
                  },
                  "shouldEmitLegacyEnumSetter" : false,
                  "simple" : false,
                  "unmarshallingType" : null,
                  "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
                  "variable" : {
                    "timestampFormat" : null,
                    "variableDeclarationType" : "DataPoint",
                    "variableName" : "member",
                    "variableType" : "DataPoint",
                    "documentation" : "",
                    "simpleType" : "DataPoint",
                    "variableSetterType" : "DataPoint"
                  },
                  "xmlNameSpaceUri" : null
                },
                "memberLocationName" : null,
                "memberType" : "DataPoint",
                "map" : false,
                "marshallNonAutoConstructedEmptyLists" : false,
                "memberAdditionalMarshallingPath" : null,
                "memberAdditionalUnmarshallingPath" : null,
                "sendEmptyQueryString" : false,
                "simple" : false,
                "simpleType" : "DataPoint",
                "templateImplType" : "java.util.ArrayList<DataPoint>",
                "templateType" : "java.util.List<DataPoint>"
              },
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "List",
              "marshallingType" : "LIST",
              "name" : "Value",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "java.util.List<DataPoint>",
                "variableName" : "value",
                "variableType" : "java.util.List<DataPoint>",
                "documentation" : "",
                "simpleType" : "List<DataPoint>",
                "variableSetterType" : "java.util.Collection<DataPoint>"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setValue(java.util.Collection)} or {@link #withValue(java.util.Collection)} if you want to override the existing values.</p>\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "java.util.List<DataPoint>",
                "variableName" : "value",
                "variableType" : "java.util.List<DataPoint>",
                "documentation" : "",
                "simpleType" : "List<DataPoint>",
                "variableSetterType" : "java.util.Collection<DataPoint>"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "java.util.List<DataPoint>",
            "entryType" : "Map.Entry<String, java.util.List<DataPoint>>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,java.util.List<DataPoint>>",
            "templateType" : "java.util.Map<String,java.util.List<DataPoint>>",
            "valueList" : true,
            "valueSimple" : false
          },
          "marshallingTargetClass" : "Map",
          "marshallingType" : "MAP",
          "name" : "Predictions",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li> </ul>\n@param predictions The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li>*/",
          "setterMethodName" : "setPredictions",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,java.util.List<DataPoint>>",
            "variableName" : "predictions",
            "variableType" : "java.util.Map<String,java.util.List<DataPoint>>",
            "documentation" : "",
            "simpleType" : "List<DataPoint>>",
            "variableSetterType" : "java.util.Map<String,java.util.List<DataPoint>>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li> </ul>\n@param predictions The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,java.util.List<DataPoint>>",
            "variableName" : "predictions",
            "variableType" : "java.util.Map<String,java.util.List<DataPoint>>",
            "documentation" : "<p>The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li> </ul>",
            "simpleType" : "List<DataPoint>>",
            "variableSetterType" : "java.util.Map<String,java.util.List<DataPoint>>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "Forecast",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Forecast",
        "variableName" : "forecast",
        "variableType" : "Forecast",
        "documentation" : null,
        "simpleType" : "Forecast",
        "variableSetterType" : "Forecast"
      },
      "wrapper" : false
    },
    "InvalidInputException" : {
      "c2jName" : "InvalidInputException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The value that you provided was invalid or too long.</p>",
      "enums" : null,
      "errorCode" : "InvalidInputException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "InvalidInputException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InvalidInputException",
        "variableName" : "invalidInputException",
        "variableType" : "InvalidInputException",
        "documentation" : null,
        "simpleType" : "InvalidInputException",
        "variableSetterType" : "InvalidInputException"
      },
      "wrapper" : false
    },
    "InvalidNextTokenException" : {
      "c2jName" : "InvalidNextTokenException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The token is not valid. Tokens expire after 24 hours.</p>",
      "enums" : null,
      "errorCode" : "InvalidNextTokenException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "InvalidNextTokenException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InvalidNextTokenException",
        "variableName" : "invalidNextTokenException",
        "variableType" : "InvalidNextTokenException",
        "documentation" : null,
        "simpleType" : "InvalidNextTokenException",
        "variableSetterType" : "InvalidNextTokenException"
      },
      "wrapper" : false
    },
    "LimitExceededException" : {
      "c2jName" : "LimitExceededException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The limit on the number of requests per second has been exceeded.</p>",
      "enums" : null,
      "errorCode" : "LimitExceededException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "LimitExceededException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "LimitExceededException",
        "variableName" : "limitExceededException",
        "variableType" : "LimitExceededException",
        "documentation" : null,
        "simpleType" : "LimitExceededException",
        "variableSetterType" : "LimitExceededException"
      },
      "wrapper" : false
    },
    "QueryForecastRequest" : {
      "c2jName" : "QueryForecastRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "QueryForecast",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AmazonForecastRuntime.QueryForecast",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ForecastArn",
        "c2jShape" : "Arn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the forecast to query.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the forecast to query.</p>\n@param forecastArn The Amazon Resource Name (ARN) of the forecast to query.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withForecastArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the forecast to query.</p>\n@return The Amazon Resource Name (ARN) of the forecast to query.*/",
        "getterMethodName" : "getForecastArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ForecastArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ForecastArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ForecastArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the forecast to query.</p>\n@param forecastArn The Amazon Resource Name (ARN) of the forecast to query.*/",
        "setterMethodName" : "setForecastArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "forecastArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the forecast to query.</p>\n@param forecastArn The Amazon Resource Name (ARN) of the forecast to query.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "forecastArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the forecast to query.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "StartDate",
        "c2jShape" : "DateTime",
        "deprecated" : false,
        "documentation" : "<p>The start date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format) For example, \"1970-01-01T00:00:00Z.\"</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The start date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format) For example, \"1970-01-01T00:00:00Z.\"</p>\n@param startDate The start date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format) For example, \"1970-01-01T00:00:00Z.\"\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStartDate",
        "getterDocumentation" : "/**<p>The start date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format) For example, \"1970-01-01T00:00:00Z.\"</p>\n@return The start date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format) For example, \"1970-01-01T00:00:00Z.\"*/",
        "getterMethodName" : "getStartDate",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "StartDate",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "StartDate",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "StartDate",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The start date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format) For example, \"1970-01-01T00:00:00Z.\"</p>\n@param startDate The start date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format) For example, \"1970-01-01T00:00:00Z.\"*/",
        "setterMethodName" : "setStartDate",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "startDate",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The start date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format) For example, \"1970-01-01T00:00:00Z.\"</p>\n@param startDate The start date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format) For example, \"1970-01-01T00:00:00Z.\"\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "startDate",
          "variableType" : "String",
          "documentation" : "<p>The start date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format) For example, \"1970-01-01T00:00:00Z.\"</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "EndDate",
        "c2jShape" : "DateTime",
        "deprecated" : false,
        "documentation" : "<p>The end date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format). For example, \"1970-01-01T00:00:00Z.\" </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The end date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format). For example, \"1970-01-01T00:00:00Z.\" </p>\n@param endDate The end date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format). For example, \"1970-01-01T00:00:00Z.\"\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEndDate",
        "getterDocumentation" : "/**<p>The end date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format). For example, \"1970-01-01T00:00:00Z.\" </p>\n@return The end date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format). For example, \"1970-01-01T00:00:00Z.\"*/",
        "getterMethodName" : "getEndDate",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EndDate",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EndDate",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "EndDate",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The end date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format). For example, \"1970-01-01T00:00:00Z.\" </p>\n@param endDate The end date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format). For example, \"1970-01-01T00:00:00Z.\"*/",
        "setterMethodName" : "setEndDate",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "endDate",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The end date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format). For example, \"1970-01-01T00:00:00Z.\" </p>\n@param endDate The end date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format). For example, \"1970-01-01T00:00:00Z.\"\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "endDate",
          "variableType" : "String",
          "documentation" : "<p>The end date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format). For example, \"1970-01-01T00:00:00Z.\" </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Filters",
        "c2jShape" : "Filters",
        "deprecated" : false,
        "documentation" : "<p>The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{\"item_id\" : \"client_1\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{\"item_id\" : \"client_1\", \"location\" : \"ny\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ \"location\" : \"ny\", \"color\":\"blue\"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{\"item_id\" : \"client_1\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{\"item_id\" : \"client_1\", \"location\" : \"ny\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ \"location\" : \"ny\", \"color\":\"blue\"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.</p>\n@param filters The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{\"item_id\" : \"client_1\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{\"item_id\" : \"client_1\", \"location\" : \"ny\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ \"location\" : \"ny\", \"color\":\"blue\"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFilters",
        "getterDocumentation" : "/**<p>The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{\"item_id\" : \"client_1\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{\"item_id\" : \"client_1\", \"location\" : \"ny\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ \"location\" : \"ny\", \"color\":\"blue\"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.</p>\n@return The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{\"item_id\" : \"client_1\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{\"item_id\" : \"client_1\", \"location\" : \"ny\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ \"location\" : \"ny\", \"color\":\"blue\"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.*/",
        "getterMethodName" : "getFilters",
        "getterModel" : {
          "returnType" : "java.util.Map<String,String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Filters",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Filters",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : true,
        "mapModel" : {
          "implType" : "java.util.HashMap",
          "interfaceType" : "java.util.Map",
          "keyLocationName" : "key",
          "keyModel" : null,
          "keyType" : "String",
          "valueLocationName" : "value",
          "valueModel" : {
            "c2jName" : "value",
            "c2jShape" : "AttributeValue",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withValue",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getValue",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "value",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "value",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Value",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param value */",
            "setterMethodName" : "setValue",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "value",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "valueType" : "String",
          "entryType" : "Map.Entry<String, String>",
          "keySimple" : true,
          "templateImplType" : "java.util.HashMap<String,String>",
          "templateType" : "java.util.Map<String,String>",
          "valueList" : false,
          "valueSimple" : true
        },
        "marshallingTargetClass" : "Map",
        "marshallingType" : "MAP",
        "name" : "Filters",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{\"item_id\" : \"client_1\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{\"item_id\" : \"client_1\", \"location\" : \"ny\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ \"location\" : \"ny\", \"color\":\"blue\"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.</p>\n@param filters The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{\"item_id\" : \"client_1\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{\"item_id\" : \"client_1\", \"location\" : \"ny\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ \"location\" : \"ny\", \"color\":\"blue\"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.*/",
        "setterMethodName" : "setFilters",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "filters",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{\"item_id\" : \"client_1\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{\"item_id\" : \"client_1\", \"location\" : \"ny\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ \"location\" : \"ny\", \"color\":\"blue\"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.</p>\n@param filters The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{\"item_id\" : \"client_1\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{\"item_id\" : \"client_1\", \"location\" : \"ny\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ \"location\" : \"ny\", \"color\":\"blue\"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Map<String,String>",
          "variableName" : "filters",
          "variableType" : "java.util.Map<String,String>",
          "documentation" : "<p>The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{\"item_id\" : \"client_1\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{\"item_id\" : \"client_1\", \"location\" : \"ny\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ \"location\" : \"ny\", \"color\":\"blue\"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.</p>",
          "simpleType" : "Map<String,String>",
          "variableSetterType" : "java.util.Map<String,String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "NextToken",
        "c2jShape" : "NextToken",
        "deprecated" : false,
        "documentation" : "<p>If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.</p>\n@param nextToken If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNextToken",
        "getterDocumentation" : "/**<p>If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.</p>\n@return If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.*/",
        "getterMethodName" : "getNextToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "NextToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "NextToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "NextToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.</p>\n@param nextToken If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.*/",
        "setterMethodName" : "setNextToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nextToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.</p>\n@param nextToken If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "nextToken",
          "variableType" : "String",
          "documentation" : "<p>If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "EndDate" : {
          "c2jName" : "EndDate",
          "c2jShape" : "DateTime",
          "deprecated" : false,
          "documentation" : "<p>The end date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format). For example, \"1970-01-01T00:00:00Z.\" </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The end date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format). For example, \"1970-01-01T00:00:00Z.\" </p>\n@param endDate The end date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format). For example, \"1970-01-01T00:00:00Z.\"\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEndDate",
          "getterDocumentation" : "/**<p>The end date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format). For example, \"1970-01-01T00:00:00Z.\" </p>\n@return The end date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format). For example, \"1970-01-01T00:00:00Z.\"*/",
          "getterMethodName" : "getEndDate",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "EndDate",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EndDate",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "EndDate",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The end date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format). For example, \"1970-01-01T00:00:00Z.\" </p>\n@param endDate The end date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format). For example, \"1970-01-01T00:00:00Z.\"*/",
          "setterMethodName" : "setEndDate",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "endDate",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The end date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format). For example, \"1970-01-01T00:00:00Z.\" </p>\n@param endDate The end date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format). For example, \"1970-01-01T00:00:00Z.\"\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "endDate",
            "variableType" : "String",
            "documentation" : "<p>The end date for the forecast. Specify the date using this format: yyyy-MM-dd'T'HH:mm:ss'Z' (ISO 8601 format). For example, \"1970-01-01T00:00:00Z.\" </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Filters" : {
          "c2jName" : "Filters",
          "c2jShape" : "Filters",
          "deprecated" : false,
          "documentation" : "<p>The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{\"item_id\" : \"client_1\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{\"item_id\" : \"client_1\", \"location\" : \"ny\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ \"location\" : \"ny\", \"color\":\"blue\"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{\"item_id\" : \"client_1\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{\"item_id\" : \"client_1\", \"location\" : \"ny\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ \"location\" : \"ny\", \"color\":\"blue\"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.</p>\n@param filters The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{\"item_id\" : \"client_1\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{\"item_id\" : \"client_1\", \"location\" : \"ny\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ \"location\" : \"ny\", \"color\":\"blue\"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withFilters",
          "getterDocumentation" : "/**<p>The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{\"item_id\" : \"client_1\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{\"item_id\" : \"client_1\", \"location\" : \"ny\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ \"location\" : \"ny\", \"color\":\"blue\"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.</p>\n@return The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{\"item_id\" : \"client_1\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{\"item_id\" : \"client_1\", \"location\" : \"ny\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ \"location\" : \"ny\", \"color\":\"blue\"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.*/",
          "getterMethodName" : "getFilters",
          "getterModel" : {
            "returnType" : "java.util.Map<String,String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Filters",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Filters",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : true,
          "mapModel" : {
            "implType" : "java.util.HashMap",
            "interfaceType" : "java.util.Map",
            "keyLocationName" : "key",
            "keyModel" : null,
            "keyType" : "String",
            "valueLocationName" : "value",
            "valueModel" : {
              "c2jName" : "value",
              "c2jShape" : "AttributeValue",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withValue",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getValue",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "value",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "value",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Value",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param value */",
              "setterMethodName" : "setValue",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param value \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "value",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "valueType" : "String",
            "entryType" : "Map.Entry<String, String>",
            "keySimple" : true,
            "templateImplType" : "java.util.HashMap<String,String>",
            "templateType" : "java.util.Map<String,String>",
            "valueList" : false,
            "valueSimple" : true
          },
          "marshallingTargetClass" : "Map",
          "marshallingType" : "MAP",
          "name" : "Filters",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{\"item_id\" : \"client_1\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{\"item_id\" : \"client_1\", \"location\" : \"ny\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ \"location\" : \"ny\", \"color\":\"blue\"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.</p>\n@param filters The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{\"item_id\" : \"client_1\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{\"item_id\" : \"client_1\", \"location\" : \"ny\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ \"location\" : \"ny\", \"color\":\"blue\"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.*/",
          "setterMethodName" : "setFilters",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "filters",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{\"item_id\" : \"client_1\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{\"item_id\" : \"client_1\", \"location\" : \"ny\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ \"location\" : \"ny\", \"color\":\"blue\"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.</p>\n@param filters The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{\"item_id\" : \"client_1\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{\"item_id\" : \"client_1\", \"location\" : \"ny\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ \"location\" : \"ny\", \"color\":\"blue\"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Map<String,String>",
            "variableName" : "filters",
            "variableType" : "java.util.Map<String,String>",
            "documentation" : "<p>The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{\"item_id\" : \"client_1\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{\"item_id\" : \"client_1\", \"location\" : \"ny\"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ \"location\" : \"ny\", \"color\":\"blue\"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.</p>",
            "simpleType" : "Map<String,String>",
            "variableSetterType" : "java.util.Map<String,String>"
          },
          "xmlNameSpaceUri" : null
        },
        "ForecastArn" : {
          "c2jName" : "ForecastArn",
          "c2jShape" : "Arn",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the forecast to query.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the forecast to query.</p>\n@param forecastArn The Amazon Resource Name (ARN) of the forecast to query.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withForecastArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the forecast to query.</p>\n@return The Amazon Resource Name (ARN) of the forecast to query.*/",
          "getterMethodName" : "getForecastArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ForecastArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ForecastArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ForecastArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the forecast to query.</p>\n@param forecastArn The Amazon Resource Name (ARN) of the forecast to query.*/",
          "setterMethodName" : "setForecastArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "forecastArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the forecast to query.</p>\n@param forecastArn The Amazon Resource Name (ARN) of the forecast to query.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "forecastArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the forecast to query.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "NextToken" : {
          "c2jName" : "NextToken",
          "c2jShape" : "NextToken",
          "deprecated" : false,
          "documentation" : "<p>If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.</p>\n@param nextToken If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNextToken",
[...]
