{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-06-26",
    "asyncClient" : "AmazonForecastAsyncClient",
    "asyncClientBuilderClassName" : "AmazonForecastAsyncClientBuilder",
    "asyncInterface" : "AmazonForecastAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonForecastModuleInjector",
    "defaultEndpoint" : "forecast.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "forecast.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Provides APIs for creating and managing Amazon Forecast resources.</p>",
    "endpointPrefix" : "forecast",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.forecast",
    "packagePath" : "com/amazonaws/services/forecast",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Forecast Service",
    "serviceId" : "forecast",
    "serviceName" : "Amazon Forecast Service",
    "signingName" : "forecast",
    "smokeTestsPackageName" : "com.amazonaws.services.forecast.smoketests",
    "syncClient" : "AmazonForecastClient",
    "syncClientBuilderClassName" : "AmazonForecastClientBuilder",
    "syncInterface" : "AmazonForecast",
    "uid" : "forecast-2018-06-26",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDatasetRequest, CreateDatasetResult>",
      "asyncReturnType" : "CreateDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon Forecast dataset. The information about the dataset that you provide helps Forecast understand how to consume the data for model training. This includes the following:</p> <ul> <li> <p> <i> <code>DataFrequency</code> </i> - How frequently your historical time-series data is collected. Amazon Forecast uses this information when training the model and generating a forecast.</p> </li> <li> <p> <i> <code>Domain</code> </i> and <i> <code>DatasetType</code> </i> - Each dataset has an associated dataset domain and a type within the domain. Amazon Forecast provides a list of predefined domains and types within each domain. For each unique dataset domain and type within the domain, Amazon Forecast requires your data to include a minimum set of predefined fields.</p> </li> <li> <p> <i> <code>Schema</code> </i> - A schema specifies the fields of the dataset, including the field name and data type.</p> </li> </ul> <p>After creating a dataset, you import your training data into the dataset and add the dataset to a dataset group. You then use the dataset group to create a predictor. For more information, see <a>howitworks-datasets-groups</a>.</p> <p>To get a list of all your datasets, use the <a>ListDatasets</a> operation.</p> <note> <p>The <code>Status</code> of a dataset must be <code>ACTIVE</code> before you can import training data. Use the <a>DescribeDataset</a> operation to get the status.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>There is already a resource with that Amazon Resource Name (ARN). Try again with a different ARN.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit on the number of requests per second has been exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDatasetRequest",
        "variableName" : "createDatasetRequest",
        "variableType" : "CreateDatasetRequest",
        "documentation" : "",
        "simpleType" : "CreateDatasetRequest",
        "variableSetterType" : "CreateDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataset",
      "operationName" : "CreateDataset",
      "returnType" : {
        "returnType" : "CreateDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDatasetResult"
    },
    "CreateDatasetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDatasetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDatasetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDatasetGroupRequest, CreateDatasetGroupResult>",
      "asyncReturnType" : "CreateDatasetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon Forecast dataset group, which holds a collection of related datasets. You can add datasets to the dataset group when you create the dataset group, or you can add datasets later with the <a>UpdateDatasetGroup</a> operation.</p> <p>After creating a dataset group and adding datasets, you use the dataset group when you create a predictor. For more information, see <a>howitworks-datasets-groups</a>.</p> <p>To get a list of all your datasets groups, use the <a>ListDatasetGroups</a> operation.</p> <note> <p>The <code>Status</code> of a dataset group must be <code>ACTIVE</code> before you can create a predictor using the dataset group. Use the <a>DescribeDatasetGroup</a> operation to get the status.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>There is already a resource with that Amazon Resource Name (ARN). Try again with a different ARN.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We can't find a resource with that Amazon Resource Name (ARN). Check the ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit on the number of requests per second has been exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDatasetGroupRequest",
        "variableName" : "createDatasetGroupRequest",
        "variableType" : "CreateDatasetGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateDatasetGroupRequest",
        "variableSetterType" : "CreateDatasetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDatasetGroup",
      "operationName" : "CreateDatasetGroup",
      "returnType" : {
        "returnType" : "CreateDatasetGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDatasetGroupResult"
    },
    "CreateDatasetImportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDatasetImportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDatasetImportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDatasetImportJobRequest, CreateDatasetImportJobResult>",
      "asyncReturnType" : "CreateDatasetImportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Imports your training data to an Amazon Forecast dataset. You provide the location of your training data in an Amazon Simple Storage Service (Amazon S3) bucket and the Amazon Resource Name (ARN) of the dataset that you want to import the data to.</p> <p>You must specify a <a>DataSource</a> object that includes an AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the data. For more information, see <a>aws-forecast-iam-roles</a>.</p> <p>Two properties of the training data are optionally specified:</p> <ul> <li> <p>The delimiter that separates the data fields.</p> <p>The default delimiter is a comma (,), which is the only supported delimiter in this release.</p> </li> <li> <p>The format of timestamps.</p> <p>If the format is not specified, Amazon Forecast expects the format to be \"yyyy-MM-dd HH:mm:ss\".</p> </li> </ul> <p>When Amazon Forecast uploads your training data, it verifies that the data was collected at the <code>DataFrequency</code> specified when the target dataset was created. For more information, see <a>CreateDataset</a> and <a>howitworks-datasets-groups</a>. Amazon Forecast also verifies the delimiter and timestamp format.</p> <p>You can use the <a>ListDatasetImportJobs</a> operation to get a list of all your dataset import jobs, filtered by specified criteria.</p> <p>To get a list of all your dataset import jobs, filtered by the specified criteria, use the <a>ListDatasetGroups</a> operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>There is already a resource with that Amazon Resource Name (ARN). Try again with a different ARN.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We can't find a resource with that Amazon Resource Name (ARN). Check the ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit on the number of requests per second has been exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDatasetImportJobRequest",
        "variableName" : "createDatasetImportJobRequest",
        "variableType" : "CreateDatasetImportJobRequest",
        "documentation" : "",
        "simpleType" : "CreateDatasetImportJobRequest",
        "variableSetterType" : "CreateDatasetImportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDatasetImportJob",
      "operationName" : "CreateDatasetImportJob",
      "returnType" : {
        "returnType" : "CreateDatasetImportJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDatasetImportJobResult"
    },
    "CreateForecast" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateForecastResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateForecastResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateForecastRequest, CreateForecastResult>",
      "asyncReturnType" : "CreateForecastResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a forecast for each item in the <code>TARGET_TIME_SERIES</code> dataset that was used to train the predictor. This is known as inference. To retrieve the forecast for a single item at low latency, use the operation. To export the complete forecast into your Amazon Simple Storage Service (Amazon S3), use the <a>CreateForecastExportJob</a> operation.</p> <p>The range of the forecast is determined by the <code>ForecastHorizon</code>, specified in the <a>CreatePredictor</a> request, multiplied by the <code>DataFrequency</code>, specified in the <a>CreateDataset</a> request. When you query a forecast, you can request a specific date range within the complete forecast.</p> <p>To get a list of all your forecasts, use the <a>ListForecasts</a> operation.</p> <note> <p>The forecasts generated by Amazon Forecast are in the same timezone as the dataset that was used to create the predictor.</p> </note> <p>For more information, see <a>howitworks-forecast</a>.</p> <note> <p>The <code>Status</code> of the forecast must be <code>ACTIVE</code> before you can query or export the forecast. Use the <a>DescribeForecast</a> operation to get the status.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>There is already a resource with that Amazon Resource Name (ARN). Try again with a different ARN.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We can't find a resource with that Amazon Resource Name (ARN). Check the ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit on the number of requests per second has been exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateForecastRequest",
        "variableName" : "createForecastRequest",
        "variableType" : "CreateForecastRequest",
        "documentation" : "",
        "simpleType" : "CreateForecastRequest",
        "variableSetterType" : "CreateForecastRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createForecast",
      "operationName" : "CreateForecast",
      "returnType" : {
        "returnType" : "CreateForecastResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateForecastResult"
    },
    "CreateForecastExportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateForecastExportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateForecastExportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateForecastExportJobRequest, CreateForecastExportJobResult>",
      "asyncReturnType" : "CreateForecastExportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Exports a forecast created by the <a>CreateForecast</a> operation to your Amazon Simple Storage Service (Amazon S3) bucket.</p> <p>You must specify a <a>DataDestination</a> object that includes an AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the Amazon S3 bucket. For more information, see <a>aws-forecast-iam-roles</a>.</p> <p>For more information, see <a>howitworks-forecast</a>.</p> <p>To get a list of all your forecast export jobs, use the <a>ListForecastExportJobs</a> operation.</p> <note> <p>The <code>Status</code> of the forecast export job must be <code>ACTIVE</code> before you can access the forecast in your Amazon S3 bucket. Use the <a>DescribeForecastExportJob</a> operation to get the status.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>There is already a resource with that Amazon Resource Name (ARN). Try again with a different ARN.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We can't find a resource with that Amazon Resource Name (ARN). Check the ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit on the number of requests per second has been exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateForecastExportJobRequest",
        "variableName" : "createForecastExportJobRequest",
        "variableType" : "CreateForecastExportJobRequest",
        "documentation" : "",
        "simpleType" : "CreateForecastExportJobRequest",
        "variableSetterType" : "CreateForecastExportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createForecastExportJob",
      "operationName" : "CreateForecastExportJob",
      "returnType" : {
        "returnType" : "CreateForecastExportJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateForecastExportJobResult"
    },
    "CreatePredictor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePredictorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePredictorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePredictorRequest, CreatePredictorResult>",
      "asyncReturnType" : "CreatePredictorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon Forecast predictor.</p> <p>In the request, you provide a dataset group and either specify an algorithm or let Amazon Forecast choose the algorithm for you using AutoML. If you specify an algorithm, you also can override algorithm-specific hyperparameters.</p> <p>Amazon Forecast uses the chosen algorithm to train a model using the latest version of the datasets in the specified dataset group. The result is called a predictor. You then generate a forecast using the <a>CreateForecast</a> operation.</p> <p>After training a model, the <code>CreatePredictor</code> operation also evaluates it. To see the evaluation metrics, use the <a>GetAccuracyMetrics</a> operation. Always review the evaluation metrics before deciding to use the predictor to generate a forecast.</p> <p>Optionally, you can specify a featurization configuration to fill and aggragate the data fields in the <code>TARGET_TIME_SERIES</code> dataset to improve model training. For more information, see <a>FeaturizationConfig</a>.</p> <p> <b>AutoML</b> </p> <p>If you set <code>PerformAutoML</code> to <code>true</code>, Amazon Forecast evaluates each algorithm and chooses the one that minimizes the <code>objective function</code>. The <code>objective function</code> is defined as the mean of the weighted p10, p50, and p90 quantile losses. For more information, see <a>EvaluationResult</a>.</p> <p>When AutoML is enabled, the following properties are disallowed:</p> <ul> <li> <p> <code>AlgorithmArn</code> </p> </li> <li> <p> <code>HPOConfig</code> </p> </li> <li> <p> <code>PerformHPO</code> </p> </li> <li> <p> <code>TrainingParameters</code> </p> </li> </ul> <p>To get a list of all your predictors, use the <a>ListPredictors</a> operation.</p> <note> <p>The <code>Status</code> of the predictor must be <code>ACTIVE</code>, signifying that training has completed, before you can use the predictor to create a forecast. Use the <a>DescribePredictor</a> operation to get the status.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>There is already a resource with that Amazon Resource Name (ARN). Try again with a different ARN.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We can't find a resource with that Amazon Resource Name (ARN). Check the ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The limit on the number of requests per second has been exceeded.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePredictorRequest",
        "variableName" : "createPredictorRequest",
        "variableType" : "CreatePredictorRequest",
        "documentation" : "",
        "simpleType" : "CreatePredictorRequest",
        "variableSetterType" : "CreatePredictorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPredictor",
      "operationName" : "CreatePredictor",
      "returnType" : {
        "returnType" : "CreatePredictorResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePredictorResult"
    },
    "DeleteDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDatasetRequest, DeleteDatasetResult>",
      "asyncReturnType" : "DeleteDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Amazon Forecast dataset created using the <a>CreateDataset</a> operation. To be deleted, the dataset must have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>. Use the <a>DescribeDataset</a> operation to get the status.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We can't find a resource with that Amazon Resource Name (ARN). Check the ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDatasetRequest",
        "variableName" : "deleteDatasetRequest",
        "variableType" : "DeleteDatasetRequest",
        "documentation" : "",
        "simpleType" : "DeleteDatasetRequest",
        "variableSetterType" : "DeleteDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDataset",
      "operationName" : "DeleteDataset",
      "returnType" : {
        "returnType" : "DeleteDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDatasetResult"
    },
    "DeleteDatasetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDatasetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDatasetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDatasetGroupRequest, DeleteDatasetGroupResult>",
      "asyncReturnType" : "DeleteDatasetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a dataset group created using the <a>CreateDatasetGroup</a> operation. To be deleted, the dataset group must have a status of <code>ACTIVE</code>, <code>CREATE_FAILED</code>, or <code>UPDATE_FAILED</code>. Use the <a>DescribeDatasetGroup</a> operation to get the status.</p> <p>The operation deletes only the dataset group, not the datasets in the group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We can't find a resource with that Amazon Resource Name (ARN). Check the ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDatasetGroupRequest",
        "variableName" : "deleteDatasetGroupRequest",
        "variableType" : "DeleteDatasetGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteDatasetGroupRequest",
        "variableSetterType" : "DeleteDatasetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDatasetGroup",
      "operationName" : "DeleteDatasetGroup",
      "returnType" : {
        "returnType" : "DeleteDatasetGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDatasetGroupResult"
    },
    "DeleteDatasetImportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDatasetImportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDatasetImportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDatasetImportJobRequest, DeleteDatasetImportJobResult>",
      "asyncReturnType" : "DeleteDatasetImportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a dataset import job created using the <a>CreateDatasetImportJob</a> operation. To be deleted, the import job must have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>. Use the <a>DescribeDatasetImportJob</a> operation to get the status.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We can't find a resource with that Amazon Resource Name (ARN). Check the ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDatasetImportJobRequest",
        "variableName" : "deleteDatasetImportJobRequest",
        "variableType" : "DeleteDatasetImportJobRequest",
        "documentation" : "",
        "simpleType" : "DeleteDatasetImportJobRequest",
        "variableSetterType" : "DeleteDatasetImportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDatasetImportJob",
      "operationName" : "DeleteDatasetImportJob",
      "returnType" : {
        "returnType" : "DeleteDatasetImportJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDatasetImportJobResult"
    },
    "DeleteForecast" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteForecastResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteForecastResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteForecastRequest, DeleteForecastResult>",
      "asyncReturnType" : "DeleteForecastResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a forecast created using the <a>CreateForecast</a> operation. To be deleted, the forecast must have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>. Use the <a>DescribeForecast</a> operation to get the status.</p> <p>You can't delete a forecast while it is being exported.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We can't find a resource with that Amazon Resource Name (ARN). Check the ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteForecastRequest",
        "variableName" : "deleteForecastRequest",
        "variableType" : "DeleteForecastRequest",
        "documentation" : "",
        "simpleType" : "DeleteForecastRequest",
        "variableSetterType" : "DeleteForecastRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteForecast",
      "operationName" : "DeleteForecast",
      "returnType" : {
        "returnType" : "DeleteForecastResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteForecastResult"
    },
    "DeleteForecastExportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteForecastExportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteForecastExportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteForecastExportJobRequest, DeleteForecastExportJobResult>",
      "asyncReturnType" : "DeleteForecastExportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a forecast export job created using the <a>CreateForecastExportJob</a> operation. To be deleted, the export job must have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>. Use the <a>DescribeForecastExportJob</a> operation to get the status.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We can't find a resource with that Amazon Resource Name (ARN). Check the ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteForecastExportJobRequest",
        "variableName" : "deleteForecastExportJobRequest",
        "variableType" : "DeleteForecastExportJobRequest",
        "documentation" : "",
        "simpleType" : "DeleteForecastExportJobRequest",
        "variableSetterType" : "DeleteForecastExportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteForecastExportJob",
      "operationName" : "DeleteForecastExportJob",
      "returnType" : {
        "returnType" : "DeleteForecastExportJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteForecastExportJobResult"
    },
    "DeletePredictor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePredictorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePredictorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePredictorRequest, DeletePredictorResult>",
      "asyncReturnType" : "DeletePredictorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a predictor created using the <a>CreatePredictor</a> operation. To be deleted, the predictor must have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>. Use the <a>DescribePredictor</a> operation to get the status.</p> <p>Any forecasts generated by the predictor will no longer be available.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We can't find a resource with that Amazon Resource Name (ARN). Check the ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePredictorRequest",
        "variableName" : "deletePredictorRequest",
        "variableType" : "DeletePredictorRequest",
        "documentation" : "",
        "simpleType" : "DeletePredictorRequest",
        "variableSetterType" : "DeletePredictorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePredictor",
      "operationName" : "DeletePredictor",
      "returnType" : {
        "returnType" : "DeletePredictorResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePredictorResult"
    },
    "DescribeDataset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDatasetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDatasetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDatasetRequest, DescribeDatasetResult>",
      "asyncReturnType" : "DescribeDatasetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an Amazon Forecast dataset created using the <a>CreateDataset</a> operation.</p> <p>In addition to listing the properties provided by the user in the <code>CreateDataset</code> request, this operation includes the following properties:</p> <ul> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>Status</code> </p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We can't find a resource with that Amazon Resource Name (ARN). Check the ARN and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDatasetRequest",
        "variableName" : "describeDatasetRequest",
        "variableType" : "DescribeDatasetRequest",
        "documentation" : "",
        "simpleType" : "DescribeDatasetRequest",
        "variableSetterType" : "DescribeDatasetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDataset",
      "operationName" : "DescribeDataset",
      "returnType" : {
        "returnType" : "DescribeDatasetResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDatasetResult"
    },
    "DescribeDatasetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDatasetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDatasetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDatasetGroupRequest, DescribeDatasetGroupResult>",
      "asyncReturnType" : "DescribeDatasetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a dataset group created using the <a>CreateDatasetGroup</a> operation.</p> <p>In addition to listing the properties provided by the user in the <code>CreateDatasetGroup</code> request, this operation includes the following properties:</p> <ul> <li> <p> <code>DatasetArns</code> - The datasets belonging to the group.</p> </li> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>Status</code> </p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We can't find a resource with that Amazon Resource Name (ARN). Check the ARN and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDatasetGroupRequest",
        "variableName" : "describeDatasetGroupRequest",
        "variableType" : "DescribeDatasetGroupRequest",
        "documentation" : "",
        "simpleType" : "DescribeDatasetGroupRequest",
        "variableSetterType" : "DescribeDatasetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDatasetGroup",
      "operationName" : "DescribeDatasetGroup",
      "returnType" : {
        "returnType" : "DescribeDatasetGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDatasetGroupResult"
    },
    "DescribeDatasetImportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDatasetImportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDatasetImportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDatasetImportJobRequest, DescribeDatasetImportJobResult>",
      "asyncReturnType" : "DescribeDatasetImportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a dataset import job created using the <a>CreateDatasetImportJob</a> operation.</p> <p>In addition to listing the properties provided by the user in the <code>CreateDatasetImportJob</code> request, this operation includes the following properties:</p> <ul> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>DataSize</code> </p> </li> <li> <p> <code>FieldStatistics</code> </p> </li> <li> <p> <code>Status</code> </p> </li> <li> <p> <code>Message</code> - If an error occurred, information about the error.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We can't find a resource with that Amazon Resource Name (ARN). Check the ARN and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDatasetImportJobRequest",
        "variableName" : "describeDatasetImportJobRequest",
        "variableType" : "DescribeDatasetImportJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeDatasetImportJobRequest",
        "variableSetterType" : "DescribeDatasetImportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDatasetImportJob",
      "operationName" : "DescribeDatasetImportJob",
      "returnType" : {
        "returnType" : "DescribeDatasetImportJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDatasetImportJobResult"
    },
    "DescribeForecast" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeForecastResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeForecastResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeForecastRequest, DescribeForecastResult>",
      "asyncReturnType" : "DescribeForecastResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a forecast created using the <a>CreateForecast</a> operation.</p> <p>In addition to listing the properties provided by the user in the <code>CreateForecast</code> request, this operation includes the following properties:</p> <ul> <li> <p> <code>DatasetGroupArn</code> - The dataset group that provided the training data.</p> </li> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>Status</code> </p> </li> <li> <p> <code>Message</code> - If an error occurred, information about the error.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We can't find a resource with that Amazon Resource Name (ARN). Check the ARN and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeForecastRequest",
        "variableName" : "describeForecastRequest",
        "variableType" : "DescribeForecastRequest",
        "documentation" : "",
        "simpleType" : "DescribeForecastRequest",
        "variableSetterType" : "DescribeForecastRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeForecast",
      "operationName" : "DescribeForecast",
      "returnType" : {
        "returnType" : "DescribeForecastResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeForecastResult"
    },
    "DescribeForecastExportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeForecastExportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeForecastExportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeForecastExportJobRequest, DescribeForecastExportJobResult>",
      "asyncReturnType" : "DescribeForecastExportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a forecast export job created using the <a>CreateForecastExportJob</a> operation.</p> <p>In addition to listing the properties provided by the user in the <code>CreateForecastExportJob</code> request, this operation includes the following properties:</p> <ul> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>Status</code> </p> </li> <li> <p> <code>Message</code> - If an error occurred, information about the error.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We can't find a resource with that Amazon Resource Name (ARN). Check the ARN and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeForecastExportJobRequest",
        "variableName" : "describeForecastExportJobRequest",
        "variableType" : "DescribeForecastExportJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeForecastExportJobRequest",
        "variableSetterType" : "DescribeForecastExportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeForecastExportJob",
      "operationName" : "DescribeForecastExportJob",
      "returnType" : {
        "returnType" : "DescribeForecastExportJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeForecastExportJobResult"
    },
    "DescribePredictor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePredictorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePredictorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePredictorRequest, DescribePredictorResult>",
      "asyncReturnType" : "DescribePredictorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes a predictor created using the <a>CreatePredictor</a> operation.</p> <p>In addition to listing the properties provided by the user in the <code>CreatePredictor</code> request, this operation includes the following properties:</p> <ul> <li> <p> <code>DatasetImportJobArns</code> - The dataset import jobs used to import training data.</p> </li> <li> <p> <code>AutoMLAlgorithmArns</code> - If AutoML is performed, the algorithms evaluated.</p> </li> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>Status</code> </p> </li> <li> <p> <code>Message</code> - If an error occurred, information about the error.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We can't find a resource with that Amazon Resource Name (ARN). Check the ARN and try again.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribePredictorRequest",
        "variableName" : "describePredictorRequest",
        "variableType" : "DescribePredictorRequest",
        "documentation" : "",
        "simpleType" : "DescribePredictorRequest",
        "variableSetterType" : "DescribePredictorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePredictor",
      "operationName" : "DescribePredictor",
      "returnType" : {
        "returnType" : "DescribePredictorResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribePredictorResult"
    },
    "GetAccuracyMetrics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAccuracyMetricsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAccuracyMetricsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAccuracyMetricsRequest, GetAccuracyMetricsResult>",
      "asyncReturnType" : "GetAccuracyMetricsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides metrics on the accuracy of the models that were trained by the <a>CreatePredictor</a> operation. Use metrics to see how well the model performed and to decide whether to use the predictor to generate a forecast.</p> <p>Metrics are generated for each backtest window evaluated. For more information, see <a>EvaluationParameters</a>.</p> <p>The parameters of the <code>filling</code> method determine which items contribute to the metrics. If <code>zero</code> is specified, all items contribute. If <code>nan</code> is specified, only those items that have complete data in the range being evaluated contribute. For more information, see <a>FeaturizationMethod</a>.</p> <p>For an example of how to train a model and review metrics, see <a>getting-started</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We can't find a resource with that Amazon Resource Name (ARN). Check the ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAccuracyMetricsRequest",
        "variableName" : "getAccuracyMetricsRequest",
        "variableType" : "GetAccuracyMetricsRequest",
        "documentation" : "",
        "simpleType" : "GetAccuracyMetricsRequest",
        "variableSetterType" : "GetAccuracyMetricsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAccuracyMetrics",
      "operationName" : "GetAccuracyMetrics",
      "returnType" : {
        "returnType" : "GetAccuracyMetricsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAccuracyMetricsResult"
    },
    "ListDatasetGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDatasetGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDatasetGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDatasetGroupsRequest, ListDatasetGroupsResult>",
      "asyncReturnType" : "ListDatasetGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of dataset groups created using the <a>CreateDatasetGroup</a> operation. For each dataset group, a summary of its properties, including its Amazon Resource Name (ARN), is returned. You can retrieve the complete set of properties by using the ARN with the <a>DescribeDatasetGroup</a> operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The token is not valid. Tokens expire after 24 hours.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDatasetGroupsRequest",
        "variableName" : "listDatasetGroupsRequest",
        "variableType" : "ListDatasetGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListDatasetGroupsRequest",
        "variableSetterType" : "ListDatasetGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDatasetGroups",
      "operationName" : "ListDatasetGroups",
      "returnType" : {
        "returnType" : "ListDatasetGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDatasetGroupsResult"
    },
    "ListDatasetImportJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDatasetImportJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDatasetImportJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDatasetImportJobsRequest, ListDatasetImportJobsResult>",
      "asyncReturnType" : "ListDatasetImportJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of dataset import jobs created using the <a>CreateDatasetImportJob</a> operation. For each import job, a summary of its properties, including its Amazon Resource Name (ARN), is returned. You can retrieve the complete set of properties by using the ARN with the <a>DescribeDatasetImportJob</a> operation. You can filter the list by providing an array of <a>Filter</a> objects.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The token is not valid. Tokens expire after 24 hours.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDatasetImportJobsRequest",
        "variableName" : "listDatasetImportJobsRequest",
        "variableType" : "ListDatasetImportJobsRequest",
        "documentation" : "",
        "simpleType" : "ListDatasetImportJobsRequest",
        "variableSetterType" : "ListDatasetImportJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDatasetImportJobs",
      "operationName" : "ListDatasetImportJobs",
      "returnType" : {
        "returnType" : "ListDatasetImportJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDatasetImportJobsResult"
    },
    "ListDatasets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDatasetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDatasetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDatasetsRequest, ListDatasetsResult>",
      "asyncReturnType" : "ListDatasetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of datasets created using the <a>CreateDataset</a> operation. For each dataset, a summary of its properties, including its Amazon Resource Name (ARN), is returned. You can retrieve the complete set of properties by using the ARN with the <a>DescribeDataset</a> operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The token is not valid. Tokens expire after 24 hours.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDatasetsRequest",
        "variableName" : "listDatasetsRequest",
        "variableType" : "ListDatasetsRequest",
        "documentation" : "",
        "simpleType" : "ListDatasetsRequest",
        "variableSetterType" : "ListDatasetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDatasets",
      "operationName" : "ListDatasets",
      "returnType" : {
        "returnType" : "ListDatasetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDatasetsResult"
    },
    "ListForecastExportJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListForecastExportJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListForecastExportJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListForecastExportJobsRequest, ListForecastExportJobsResult>",
      "asyncReturnType" : "ListForecastExportJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of forecast export jobs created using the <a>CreateForecastExportJob</a> operation. For each forecast export job, a summary of its properties, including its Amazon Resource Name (ARN), is returned. You can retrieve the complete set of properties by using the ARN with the <a>DescribeForecastExportJob</a> operation. The list can be filtered using an array of <a>Filter</a> objects.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The token is not valid. Tokens expire after 24 hours.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListForecastExportJobsRequest",
        "variableName" : "listForecastExportJobsRequest",
        "variableType" : "ListForecastExportJobsRequest",
        "documentation" : "",
        "simpleType" : "ListForecastExportJobsRequest",
        "variableSetterType" : "ListForecastExportJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listForecastExportJobs",
      "operationName" : "ListForecastExportJobs",
      "returnType" : {
        "returnType" : "ListForecastExportJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListForecastExportJobsResult"
    },
    "ListForecasts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListForecastsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListForecastsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListForecastsRequest, ListForecastsResult>",
      "asyncReturnType" : "ListForecastsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of forecasts created using the <a>CreateForecast</a> operation. For each forecast, a summary of its properties, including its Amazon Resource Name (ARN), is returned. You can retrieve the complete set of properties by using the ARN with the <a>DescribeForecast</a> operation. The list can be filtered using an array of <a>Filter</a> objects.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The token is not valid. Tokens expire after 24 hours.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListForecastsRequest",
        "variableName" : "listForecastsRequest",
        "variableType" : "ListForecastsRequest",
        "documentation" : "",
        "simpleType" : "ListForecastsRequest",
        "variableSetterType" : "ListForecastsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listForecasts",
      "operationName" : "ListForecasts",
      "returnType" : {
        "returnType" : "ListForecastsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListForecastsResult"
    },
    "ListPredictors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPredictorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPredictorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPredictorsRequest, ListPredictorsResult>",
      "asyncReturnType" : "ListPredictorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of predictors created using the <a>CreatePredictor</a> operation. For each predictor, a summary of its properties, including its Amazon Resource Name (ARN), is returned. You can retrieve the complete set of properties by using the ARN with the <a>DescribePredictor</a> operation. The list can be filtered using an array of <a>Filter</a> objects.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>The token is not valid. Tokens expire after 24 hours.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPredictorsRequest",
        "variableName" : "listPredictorsRequest",
        "variableType" : "ListPredictorsRequest",
        "documentation" : "",
        "simpleType" : "ListPredictorsRequest",
        "variableSetterType" : "ListPredictorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPredictors",
      "operationName" : "ListPredictors",
      "returnType" : {
        "returnType" : "ListPredictorsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPredictorsResult"
    },
    "UpdateDatasetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDatasetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDatasetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDatasetGroupRequest, UpdateDatasetGroupResult>",
      "asyncReturnType" : "UpdateDatasetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Replaces any existing datasets in the dataset group with the specified datasets.</p> <note> <p>The <code>Status</code> of the dataset group must be <code>ACTIVE</code> before creating a predictor using the dataset group. Use the <a>DescribeDatasetGroup</a> operation to get the status.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>We can't find a resource with that Amazon Resource Name (ARN). Check the ARN and try again.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The specified resource is in use.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDatasetGroupRequest",
        "variableName" : "updateDatasetGroupRequest",
        "variableType" : "UpdateDatasetGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateDatasetGroupRequest",
        "variableSetterType" : "UpdateDatasetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDatasetGroup",
      "operationName" : "UpdateDatasetGroup",
      "returnType" : {
        "returnType" : "UpdateDatasetGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDatasetGroupResult"
    }
  },
  "shapes" : {
    "AttributeType" : {
      "c2jName" : "AttributeType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "String",
        "value" : "string"
      }, {
        "name" : "Integer",
        "value" : "integer"
      }, {
        "name" : "Float",
        "value" : "float"
      }, {
        "name" : "Timestamp",
        "value" : "timestamp"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AttributeType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AttributeType",
        "variableName" : "attributeType",
        "variableType" : "AttributeType",
        "documentation" : null,
        "simpleType" : "AttributeType",
        "variableSetterType" : "AttributeType"
      },
      "wrapper" : false
    },
    "CategoricalParameterRange" : {
      "c2jName" : "CategoricalParameterRange",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Specifies a categorical hyperparameter and it's range of tunable values. This object is part of the <a>ParameterRanges</a> object.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "Name",
        "deprecated" : false,
        "documentation" : "<p>The name of the categorical hyperparameter to tune.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the categorical hyperparameter to tune.</p>\n@param name The name of the categorical hyperparameter to tune.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the categorical hyperparameter to tune.</p>\n@return The name of the categorical hyperparameter to tune.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the categorical hyperparameter to tune.</p>\n@param name The name of the categorical hyperparameter to tune.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the categorical hyperparameter to tune.</p>\n@param name The name of the categorical hyperparameter to tune.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the categorical hyperparameter to tune.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Values",
        "c2jShape" : "Values",
        "deprecated" : false,
        "documentation" : "<p>A list of the tunable categories for the hyperparameter.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A list of the tunable categories for the hyperparameter.</p>\n@param values A list of the tunable categories for the hyperparameter.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withValues",
        "getterDocumentation" : "/**<p>A list of the tunable categories for the hyperparameter.</p>\n@return A list of the tunable categories for the hyperparameter.*/",
        "getterMethodName" : "getValues",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Values",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Values",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Value",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Values",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A list of the tunable categories for the hyperparameter.</p>\n@param values A list of the tunable categories for the hyperparameter.*/",
        "setterMethodName" : "setValues",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "values",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A list of the tunable categories for the hyperparameter.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setValues(java.util.Collection)} or {@link #withValues(java.util.Collection)} if you want to override the existing values.</p>\n@param values A list of the tunable categories for the hyperparameter.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "values",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>A list of the tunable categories for the hyperparameter.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Name" : {
          "c2jName" : "Name",
          "c2jShape" : "Name",
          "deprecated" : false,
          "documentation" : "<p>The name of the categorical hyperparameter to tune.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the categorical hyperparameter to tune.</p>\n@param name The name of the categorical hyperparameter to tune.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name of the categorical hyperparameter to tune.</p>\n@return The name of the categorical hyperparameter to tune.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Name",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the categorical hyperparameter to tune.</p>\n@param name The name of the categorical hyperparameter to tune.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the categorical hyperparameter to tune.</p>\n@param name The name of the categorical hyperparameter to tune.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name of the categorical hyperparameter to tune.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Values" : {
          "c2jName" : "Values",
          "c2jShape" : "Values",
          "deprecated" : false,
          "documentation" : "<p>A list of the tunable categories for the hyperparameter.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>A list of the tunable categories for the hyperparameter.</p>\n@param values A list of the tunable categories for the hyperparameter.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withValues",
          "getterDocumentation" : "/**<p>A list of the tunable categories for the hyperparameter.</p>\n@return A list of the tunable categories for the hyperparameter.*/",
          "getterMethodName" : "getValues",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Values",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Values",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Value",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Values",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>A list of the tunable categories for the hyperparameter.</p>\n@param values A list of the tunable categories for the hyperparameter.*/",
          "setterMethodName" : "setValues",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "values",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>A list of the tunable categories for the hyperparameter.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setValues(java.util.Collection)} or {@link #withValues(java.util.Collection)} if you want to override the existing values.</p>\n@param values A list of the tunable categories for the hyperparameter.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "values",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>A list of the tunable categories for the hyperparameter.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Name", "Values" ],
      "shapeName" : "CategoricalParameterRange",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CategoricalParameterRange",
        "variableName" : "categoricalParameterRange",
        "variableType" : "CategoricalParameterRange",
        "documentation" : null,
        "simpleType" : "CategoricalParameterRange",
        "variableSetterType" : "CategoricalParameterRange"
      },
      "wrapper" : false
    },
    "ContinuousParameterRange" : {
      "c2jName" : "ContinuousParameterRange",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Specifies a continuous hyperparameter and it's range of tunable values. This object is part of the <a>ParameterRanges</a> object.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Name",
        "c2jShape" : "Name",
        "deprecated" : false,
        "documentation" : "<p>The name of the hyperparameter to tune.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the hyperparameter to tune.</p>\n@param name The name of the hyperparameter to tune.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the hyperparameter to tune.</p>\n@return The name of the hyperparameter to tune.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the hyperparameter to tune.</p>\n@param name The name of the hyperparameter to tune.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the hyperparameter to tune.</p>\n@param name The name of the hyperparameter to tune.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the hyperparameter to tune.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "MaxValue",
        "c2jShape" : "Double",
        "deprecated" : false,
        "documentation" : "<p>The maximum tunable value of the hyperparameter.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The maximum tunable value of the hyperparameter.</p>\n@param maxValue The maximum tunable value of the hyperparameter.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMaxValue",
        "getterDocumentation" : "/**<p>The maximum tunable value of the hyperparameter.</p>\n@return The maximum tunable value of the hyperparameter.*/",
        "getterMethodName" : "getMaxValue",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MaxValue",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MaxValue",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Double",
        "marshallingType" : "DOUBLE",
        "name" : "MaxValue",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The maximum tunable value of the hyperparameter.</p>\n@param maxValue The maximum tunable value of the hyperparameter.*/",
        "setterMethodName" : "setMaxValue",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "maxValue",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The maximum tunable value of the hyperparameter.</p>\n@param maxValue The maximum tunable value of the hyperparameter.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "maxValue",
          "variableType" : "Double",
          "documentation" : "<p>The maximum tunable value of the hyperparameter.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "MinValue",
        "c2jShape" : "Double",
        "deprecated" : false,
        "documentation" : "<p>The minimum tunable value of the hyperparameter.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The minimum tunable value of the hyperparameter.</p>\n@param minValue The minimum tunable value of the hyperparameter.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMinValue",
[...]
