{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-11-15",
    "asyncClient" : "AmazonFraudDetectorAsyncClient",
    "asyncClientBuilderClassName" : "AmazonFraudDetectorAsyncClientBuilder",
    "asyncInterface" : "AmazonFraudDetectorAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonFraudDetectorModuleInjector",
    "defaultEndpoint" : "frauddetector.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "frauddetector.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>This is the Amazon Fraud Detector API Reference. This guide is for developers who need detailed information about Amazon Fraud Detector API actions, data types, and errors. For more information about Amazon Fraud Detector features, see the <a href=\"https://docs.aws.amazon.com/frauddetector/latest/ug/\">Amazon Fraud Detector User Guide</a>.</p>",
    "endpointPrefix" : "frauddetector",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.frauddetector",
    "packagePath" : "com/amazonaws/services/frauddetector",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Fraud Detector",
    "serviceId" : "FraudDetector",
    "serviceName" : "Amazon Fraud Detector",
    "signingName" : "frauddetector",
    "smokeTestsPackageName" : "com.amazonaws.services.frauddetector.smoketests",
    "syncClient" : "AmazonFraudDetectorClient",
    "syncClientBuilderClassName" : "AmazonFraudDetectorClientBuilder",
    "syncInterface" : "AmazonFraudDetector",
    "uid" : "frauddetector-2019-11-15",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchCreateVariable" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchCreateVariableResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchCreateVariableResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchCreateVariableRequest, BatchCreateVariableResult>",
      "asyncReturnType" : "BatchCreateVariableResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a batch of variables.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchCreateVariableRequest",
        "variableName" : "batchCreateVariableRequest",
        "variableType" : "BatchCreateVariableRequest",
        "documentation" : "",
        "simpleType" : "BatchCreateVariableRequest",
        "variableSetterType" : "BatchCreateVariableRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchCreateVariable",
      "operationName" : "BatchCreateVariable",
      "returnType" : {
        "returnType" : "BatchCreateVariableResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchCreateVariableResult"
    },
    "BatchGetVariable" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetVariableResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetVariableResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetVariableRequest, BatchGetVariableResult>",
      "asyncReturnType" : "BatchGetVariableResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a batch of variables.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetVariableRequest",
        "variableName" : "batchGetVariableRequest",
        "variableType" : "BatchGetVariableRequest",
        "documentation" : "",
        "simpleType" : "BatchGetVariableRequest",
        "variableSetterType" : "BatchGetVariableRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetVariable",
      "operationName" : "BatchGetVariable",
      "returnType" : {
        "returnType" : "BatchGetVariableResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetVariableResult"
    },
    "CreateDetectorVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDetectorVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDetectorVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDetectorVersionRequest, CreateDetectorVersionResult>",
      "asyncReturnType" : "CreateDetectorVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a detector version. The detector version starts in a <code>DRAFT</code> status.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDetectorVersionRequest",
        "variableName" : "createDetectorVersionRequest",
        "variableType" : "CreateDetectorVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateDetectorVersionRequest",
        "variableSetterType" : "CreateDetectorVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDetectorVersion",
      "operationName" : "CreateDetectorVersion",
      "returnType" : {
        "returnType" : "CreateDetectorVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDetectorVersionResult"
    },
    "CreateModelVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateModelVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateModelVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateModelVersionRequest, CreateModelVersionResult>",
      "asyncReturnType" : "CreateModelVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a version of the model using the specified model type. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateModelVersionRequest",
        "variableName" : "createModelVersionRequest",
        "variableType" : "CreateModelVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateModelVersionRequest",
        "variableSetterType" : "CreateModelVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createModelVersion",
      "operationName" : "CreateModelVersion",
      "returnType" : {
        "returnType" : "CreateModelVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateModelVersionResult"
    },
    "CreateRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRuleRequest, CreateRuleResult>",
      "asyncReturnType" : "CreateRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a rule for use with the specified detector. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRuleRequest",
        "variableName" : "createRuleRequest",
        "variableType" : "CreateRuleRequest",
        "documentation" : "",
        "simpleType" : "CreateRuleRequest",
        "variableSetterType" : "CreateRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRule",
      "operationName" : "CreateRule",
      "returnType" : {
        "returnType" : "CreateRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRuleResult"
    },
    "CreateVariable" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVariableResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVariableResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVariableRequest, CreateVariableResult>",
      "asyncReturnType" : "CreateVariableResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a variable.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVariableRequest",
        "variableName" : "createVariableRequest",
        "variableType" : "CreateVariableRequest",
        "documentation" : "",
        "simpleType" : "CreateVariableRequest",
        "variableSetterType" : "CreateVariableRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVariable",
      "operationName" : "CreateVariable",
      "returnType" : {
        "returnType" : "CreateVariableResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateVariableResult"
    },
    "DeleteDetectorVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDetectorVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDetectorVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDetectorVersionRequest, DeleteDetectorVersionResult>",
      "asyncReturnType" : "DeleteDetectorVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the detector version.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDetectorVersionRequest",
        "variableName" : "deleteDetectorVersionRequest",
        "variableType" : "DeleteDetectorVersionRequest",
        "documentation" : "",
        "simpleType" : "DeleteDetectorVersionRequest",
        "variableSetterType" : "DeleteDetectorVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDetectorVersion",
      "operationName" : "DeleteDetectorVersion",
      "returnType" : {
        "returnType" : "DeleteDetectorVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDetectorVersionResult"
    },
    "DeleteEvent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEventResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEventResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEventRequest, DeleteEventResult>",
      "asyncReturnType" : "DeleteEventResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified event.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEventRequest",
        "variableName" : "deleteEventRequest",
        "variableType" : "DeleteEventRequest",
        "documentation" : "",
        "simpleType" : "DeleteEventRequest",
        "variableSetterType" : "DeleteEventRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEvent",
      "operationName" : "DeleteEvent",
      "returnType" : {
        "returnType" : "DeleteEventResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEventResult"
    },
    "DescribeDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDetectorRequest, DescribeDetectorResult>",
      "asyncReturnType" : "DescribeDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets all versions for a specified detector.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDetectorRequest",
        "variableName" : "describeDetectorRequest",
        "variableType" : "DescribeDetectorRequest",
        "documentation" : "",
        "simpleType" : "DescribeDetectorRequest",
        "variableSetterType" : "DescribeDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDetector",
      "operationName" : "DescribeDetector",
      "returnType" : {
        "returnType" : "DescribeDetectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDetectorResult"
    },
    "DescribeModelVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeModelVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeModelVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeModelVersionsRequest, DescribeModelVersionsResult>",
      "asyncReturnType" : "DescribeModelVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets all of the model versions for the specified model type or for the specified model type and model ID. You can also get details for a single, specified model version. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeModelVersionsRequest",
        "variableName" : "describeModelVersionsRequest",
        "variableType" : "DescribeModelVersionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeModelVersionsRequest",
        "variableSetterType" : "DescribeModelVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeModelVersions",
      "operationName" : "DescribeModelVersions",
      "returnType" : {
        "returnType" : "DescribeModelVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeModelVersionsResult"
    },
    "GetDetectorVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDetectorVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDetectorVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDetectorVersionRequest, GetDetectorVersionResult>",
      "asyncReturnType" : "GetDetectorVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a particular detector version. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDetectorVersionRequest",
        "variableName" : "getDetectorVersionRequest",
        "variableType" : "GetDetectorVersionRequest",
        "documentation" : "",
        "simpleType" : "GetDetectorVersionRequest",
        "variableSetterType" : "GetDetectorVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDetectorVersion",
      "operationName" : "GetDetectorVersion",
      "returnType" : {
        "returnType" : "GetDetectorVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDetectorVersionResult"
    },
    "GetDetectors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDetectorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDetectorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDetectorsRequest, GetDetectorsResult>",
      "asyncReturnType" : "GetDetectorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets all of detectors. This is a paginated API. If you provide a null <code>maxSizePerPage</code>, this actions retrieves a maximum of 10 records per page. If you provide a <code>maxSizePerPage</code>, the value must be between 5 and 10. To get the next page results, provide the pagination token from the <code>GetEventTypesResponse</code> as part of your request. A null pagination token fetches the records from the beginning. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDetectorsRequest",
        "variableName" : "getDetectorsRequest",
        "variableType" : "GetDetectorsRequest",
        "documentation" : "",
        "simpleType" : "GetDetectorsRequest",
        "variableSetterType" : "GetDetectorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDetectors",
      "operationName" : "GetDetectors",
      "returnType" : {
        "returnType" : "GetDetectorsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDetectorsResult"
    },
    "GetExternalModels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetExternalModelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetExternalModelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetExternalModelsRequest, GetExternalModelsResult>",
      "asyncReturnType" : "GetExternalModelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the details for one or more Amazon SageMaker models that have been imported into the service. This is a paginated API. If you provide a null <code>maxSizePerPage</code>, this actions retrieves a maximum of 10 records per page. If you provide a <code>maxSizePerPage</code>, the value must be between 5 and 10. To get the next page results, provide the pagination token from the <code>GetExternalModelsResult</code> as part of your request. A null pagination token fetches the records from the beginning. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetExternalModelsRequest",
        "variableName" : "getExternalModelsRequest",
        "variableType" : "GetExternalModelsRequest",
        "documentation" : "",
        "simpleType" : "GetExternalModelsRequest",
        "variableSetterType" : "GetExternalModelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getExternalModels",
      "operationName" : "GetExternalModels",
      "returnType" : {
        "returnType" : "GetExternalModelsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetExternalModelsResult"
    },
    "GetModelVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetModelVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetModelVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetModelVersionRequest, GetModelVersionResult>",
      "asyncReturnType" : "GetModelVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a model version. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetModelVersionRequest",
        "variableName" : "getModelVersionRequest",
        "variableType" : "GetModelVersionRequest",
        "documentation" : "",
        "simpleType" : "GetModelVersionRequest",
        "variableSetterType" : "GetModelVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getModelVersion",
      "operationName" : "GetModelVersion",
      "returnType" : {
        "returnType" : "GetModelVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetModelVersionResult"
    },
    "GetModels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetModelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetModelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetModelsRequest, GetModelsResult>",
      "asyncReturnType" : "GetModelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets all of the models for the AWS account, or the specified model type, or gets a single model for the specified model type, model ID combination. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetModelsRequest",
        "variableName" : "getModelsRequest",
        "variableType" : "GetModelsRequest",
        "documentation" : "",
        "simpleType" : "GetModelsRequest",
        "variableSetterType" : "GetModelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getModels",
      "operationName" : "GetModels",
      "returnType" : {
        "returnType" : "GetModelsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetModelsResult"
    },
    "GetOutcomes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetOutcomesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetOutcomesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetOutcomesRequest, GetOutcomesResult>",
      "asyncReturnType" : "GetOutcomesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets one or more outcomes. This is a paginated API. If you provide a null <code>maxSizePerPage</code>, this actions retrieves a maximum of 10 records per page. If you provide a <code>maxSizePerPage</code>, the value must be between 50 and 100. To get the next page results, provide the pagination token from the <code>GetOutcomesResult</code> as part of your request. A null pagination token fetches the records from the beginning. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetOutcomesRequest",
        "variableName" : "getOutcomesRequest",
        "variableType" : "GetOutcomesRequest",
        "documentation" : "",
        "simpleType" : "GetOutcomesRequest",
        "variableSetterType" : "GetOutcomesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getOutcomes",
      "operationName" : "GetOutcomes",
      "returnType" : {
        "returnType" : "GetOutcomesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetOutcomesResult"
    },
    "GetPrediction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPredictionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPredictionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPredictionRequest, GetPredictionResult>",
      "asyncReturnType" : "GetPredictionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Evaluates an event against a detector version. If a version ID is not provided, the detector’s (<code>ACTIVE</code>) version is used. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPredictionRequest",
        "variableName" : "getPredictionRequest",
        "variableType" : "GetPredictionRequest",
        "documentation" : "",
        "simpleType" : "GetPredictionRequest",
        "variableSetterType" : "GetPredictionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPrediction",
      "operationName" : "GetPrediction",
      "returnType" : {
        "returnType" : "GetPredictionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPredictionResult"
    },
    "GetRules" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetRulesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetRulesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetRulesRequest, GetRulesResult>",
      "asyncReturnType" : "GetRulesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets all rules available for the specified detector.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetRulesRequest",
        "variableName" : "getRulesRequest",
        "variableType" : "GetRulesRequest",
        "documentation" : "",
        "simpleType" : "GetRulesRequest",
        "variableSetterType" : "GetRulesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getRules",
      "operationName" : "GetRules",
      "returnType" : {
        "returnType" : "GetRulesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetRulesResult"
    },
    "GetVariables" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetVariablesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetVariablesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetVariablesRequest, GetVariablesResult>",
      "asyncReturnType" : "GetVariablesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets all of the variables or the specific variable. This is a paginated API. Providing null <code>maxSizePerPage</code> results in retrieving maximum of 100 records per page. If you provide <code>maxSizePerPage</code> the value must be between 50 and 100. To get the next page result, a provide a pagination token from <code>GetVariablesResult</code> as part of your request. Null pagination token fetches the records from the beginning. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetVariablesRequest",
        "variableName" : "getVariablesRequest",
        "variableType" : "GetVariablesRequest",
        "documentation" : "",
        "simpleType" : "GetVariablesRequest",
        "variableSetterType" : "GetVariablesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getVariables",
      "operationName" : "GetVariables",
      "returnType" : {
        "returnType" : "GetVariablesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetVariablesResult"
    },
    "PutDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutDetectorRequest, PutDetectorResult>",
      "asyncReturnType" : "PutDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a detector. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutDetectorRequest",
        "variableName" : "putDetectorRequest",
        "variableType" : "PutDetectorRequest",
        "documentation" : "",
        "simpleType" : "PutDetectorRequest",
        "variableSetterType" : "PutDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putDetector",
      "operationName" : "PutDetector",
      "returnType" : {
        "returnType" : "PutDetectorResult",
        "documentation" : null
      },
      "syncReturnType" : "PutDetectorResult"
    },
    "PutExternalModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutExternalModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutExternalModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutExternalModelRequest, PutExternalModelResult>",
      "asyncReturnType" : "PutExternalModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates an Amazon SageMaker model endpoint. You can also use this action to update the configuration of the model endpoint, including the IAM role and/or the mapped variables. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutExternalModelRequest",
        "variableName" : "putExternalModelRequest",
        "variableType" : "PutExternalModelRequest",
        "documentation" : "",
        "simpleType" : "PutExternalModelRequest",
        "variableSetterType" : "PutExternalModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putExternalModel",
      "operationName" : "PutExternalModel",
      "returnType" : {
        "returnType" : "PutExternalModelResult",
        "documentation" : null
      },
      "syncReturnType" : "PutExternalModelResult"
    },
    "PutModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutModelRequest, PutModelResult>",
      "asyncReturnType" : "PutModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a model. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutModelRequest",
        "variableName" : "putModelRequest",
        "variableType" : "PutModelRequest",
        "documentation" : "",
        "simpleType" : "PutModelRequest",
        "variableSetterType" : "PutModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putModel",
      "operationName" : "PutModel",
      "returnType" : {
        "returnType" : "PutModelResult",
        "documentation" : null
      },
      "syncReturnType" : "PutModelResult"
    },
    "PutOutcome" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutOutcomeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutOutcomeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutOutcomeRequest, PutOutcomeResult>",
      "asyncReturnType" : "PutOutcomeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates an outcome. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutOutcomeRequest",
        "variableName" : "putOutcomeRequest",
        "variableType" : "PutOutcomeRequest",
        "documentation" : "",
        "simpleType" : "PutOutcomeRequest",
        "variableSetterType" : "PutOutcomeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putOutcome",
      "operationName" : "PutOutcome",
      "returnType" : {
        "returnType" : "PutOutcomeResult",
        "documentation" : null
      },
      "syncReturnType" : "PutOutcomeResult"
    },
    "UpdateDetectorVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDetectorVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDetectorVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDetectorVersionRequest, UpdateDetectorVersionResult>",
      "asyncReturnType" : "UpdateDetectorVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Updates a detector version. The detector version attributes that you can update include models, external model endpoints, rules, and description. You can only update a <code>DRAFT</code> detector version.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDetectorVersionRequest",
        "variableName" : "updateDetectorVersionRequest",
        "variableType" : "UpdateDetectorVersionRequest",
        "documentation" : "",
        "simpleType" : "UpdateDetectorVersionRequest",
        "variableSetterType" : "UpdateDetectorVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDetectorVersion",
      "operationName" : "UpdateDetectorVersion",
      "returnType" : {
        "returnType" : "UpdateDetectorVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDetectorVersionResult"
    },
    "UpdateDetectorVersionMetadata" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDetectorVersionMetadataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDetectorVersionMetadataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDetectorVersionMetadataRequest, UpdateDetectorVersionMetadataResult>",
      "asyncReturnType" : "UpdateDetectorVersionMetadataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the detector version's description. You can update the metadata for any detector version (<code>DRAFT, ACTIVE,</code> or <code>INACTIVE</code>). </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDetectorVersionMetadataRequest",
        "variableName" : "updateDetectorVersionMetadataRequest",
        "variableType" : "UpdateDetectorVersionMetadataRequest",
        "documentation" : "",
        "simpleType" : "UpdateDetectorVersionMetadataRequest",
        "variableSetterType" : "UpdateDetectorVersionMetadataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDetectorVersionMetadata",
      "operationName" : "UpdateDetectorVersionMetadata",
      "returnType" : {
        "returnType" : "UpdateDetectorVersionMetadataResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDetectorVersionMetadataResult"
    },
    "UpdateDetectorVersionStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDetectorVersionStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDetectorVersionStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDetectorVersionStatusRequest, UpdateDetectorVersionStatusResult>",
      "asyncReturnType" : "UpdateDetectorVersionStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the detector version’s status. You can perform the following promotions or demotions using <code>UpdateDetectorVersionStatus</code>: <code>DRAFT</code> to <code>ACTIVE</code>, <code>ACTIVE</code> to <code>INACTIVE</code>, and <code>INACTIVE</code> to <code>ACTIVE</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDetectorVersionStatusRequest",
        "variableName" : "updateDetectorVersionStatusRequest",
        "variableType" : "UpdateDetectorVersionStatusRequest",
        "documentation" : "",
        "simpleType" : "UpdateDetectorVersionStatusRequest",
        "variableSetterType" : "UpdateDetectorVersionStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDetectorVersionStatus",
      "operationName" : "UpdateDetectorVersionStatus",
      "returnType" : {
        "returnType" : "UpdateDetectorVersionStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDetectorVersionStatusResult"
    },
    "UpdateModelVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateModelVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateModelVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateModelVersionRequest, UpdateModelVersionResult>",
      "asyncReturnType" : "UpdateModelVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a model version. You can update the description and status attributes using this action. You can perform the following status updates: </p> <ol> <li> <p>Change the <code>TRAINING_COMPLETE</code> status to <code>ACTIVE</code> </p> </li> <li> <p>Change <code>ACTIVE</code> back to <code>TRAINING_COMPLETE</code> </p> </li> </ol>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateModelVersionRequest",
        "variableName" : "updateModelVersionRequest",
        "variableType" : "UpdateModelVersionRequest",
        "documentation" : "",
        "simpleType" : "UpdateModelVersionRequest",
        "variableSetterType" : "UpdateModelVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateModelVersion",
      "operationName" : "UpdateModelVersion",
      "returnType" : {
        "returnType" : "UpdateModelVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateModelVersionResult"
    },
    "UpdateRuleMetadata" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRuleMetadataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRuleMetadataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRuleMetadataRequest, UpdateRuleMetadataResult>",
      "asyncReturnType" : "UpdateRuleMetadataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a rule's metadata. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRuleMetadataRequest",
        "variableName" : "updateRuleMetadataRequest",
        "variableType" : "UpdateRuleMetadataRequest",
        "documentation" : "",
        "simpleType" : "UpdateRuleMetadataRequest",
        "variableSetterType" : "UpdateRuleMetadataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRuleMetadata",
      "operationName" : "UpdateRuleMetadata",
      "returnType" : {
        "returnType" : "UpdateRuleMetadataResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateRuleMetadataResult"
    },
    "UpdateRuleVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateRuleVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateRuleVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateRuleVersionRequest, UpdateRuleVersionResult>",
      "asyncReturnType" : "UpdateRuleVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a rule version resulting in a new rule version. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateRuleVersionRequest",
        "variableName" : "updateRuleVersionRequest",
        "variableType" : "UpdateRuleVersionRequest",
        "documentation" : "",
        "simpleType" : "UpdateRuleVersionRequest",
        "variableSetterType" : "UpdateRuleVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateRuleVersion",
      "operationName" : "UpdateRuleVersion",
      "returnType" : {
        "returnType" : "UpdateRuleVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateRuleVersionResult"
    },
    "UpdateVariable" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateVariableResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateVariableResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateVariableRequest, UpdateVariableResult>",
      "asyncReturnType" : "UpdateVariableResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a variable.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateVariableRequest",
        "variableName" : "updateVariableRequest",
        "variableType" : "UpdateVariableRequest",
        "documentation" : "",
        "simpleType" : "UpdateVariableRequest",
        "variableSetterType" : "UpdateVariableRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateVariable",
      "operationName" : "UpdateVariable",
      "returnType" : {
        "returnType" : "UpdateVariableResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateVariableResult"
    }
  },
  "shapes" : {
    "BatchCreateVariableError" : {
      "c2jName" : "BatchCreateVariableError",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Provides the error of the batch create variable API.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "name",
        "c2jShape" : "string",
        "deprecated" : false,
        "documentation" : "<p>The name.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name.</p>\n@param name The name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name.</p>\n@return The name.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name.</p>\n@param name The name.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name.</p>\n@param name The name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "code",
        "c2jShape" : "integer",
        "deprecated" : false,
        "documentation" : "<p>The error code. </p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The error code. </p>\n@param code The error code.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCode",
        "getterDocumentation" : "/**<p>The error code. </p>\n@return The error code.*/",
        "getterMethodName" : "getCode",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "code",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "code",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "Code",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The error code. </p>\n@param code The error code.*/",
        "setterMethodName" : "setCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "code",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The error code. </p>\n@param code The error code.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "code",
          "variableType" : "Integer",
          "documentation" : "<p>The error code. </p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "message",
        "c2jShape" : "string",
        "deprecated" : false,
        "documentation" : "<p>The error message.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The error message.</p>\n@param message The error message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMessage",
        "getterDocumentation" : "/**<p>The error message.</p>\n@return The error message.*/",
        "getterMethodName" : "getMessage",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "message",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "message",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Message",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The error message.</p>\n@param message The error message.*/",
        "setterMethodName" : "setMessage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "message",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The error message.</p>\n@param message The error message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "message",
          "variableType" : "String",
          "documentation" : "<p>The error message.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Code" : {
          "c2jName" : "code",
          "c2jShape" : "integer",
          "deprecated" : false,
          "documentation" : "<p>The error code. </p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The error code. </p>\n@param code The error code.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCode",
          "getterDocumentation" : "/**<p>The error code. </p>\n@return The error code.*/",
          "getterMethodName" : "getCode",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "code",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "code",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "Code",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The error code. </p>\n@param code The error code.*/",
          "setterMethodName" : "setCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "code",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The error code. </p>\n@param code The error code.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "code",
            "variableType" : "Integer",
            "documentation" : "<p>The error code. </p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "Message" : {
          "c2jName" : "message",
          "c2jShape" : "string",
          "deprecated" : false,
          "documentation" : "<p>The error message.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The error message.</p>\n@param message The error message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMessage",
          "getterDocumentation" : "/**<p>The error message.</p>\n@return The error message.*/",
          "getterMethodName" : "getMessage",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "message",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "message",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Message",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The error message.</p>\n@param message The error message.*/",
          "setterMethodName" : "setMessage",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "message",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The error message.</p>\n@param message The error message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "message",
            "variableType" : "String",
            "documentation" : "<p>The error message.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "name",
          "c2jShape" : "string",
          "deprecated" : false,
          "documentation" : "<p>The name.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name.</p>\n@param name The name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**<p>The name.</p>\n@return The name.*/",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "name",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name.</p>\n@param name The name.*/",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name.</p>\n@param name The name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "<p>The name.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BatchCreateVariableError",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchCreateVariableError",
        "variableName" : "batchCreateVariableError",
        "variableType" : "BatchCreateVariableError",
        "documentation" : null,
        "simpleType" : "BatchCreateVariableError",
        "variableSetterType" : "BatchCreateVariableError"
      },
      "wrapper" : false
    },
    "BatchCreateVariableRequest" : {
      "c2jName" : "BatchCreateVariableRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchCreateVariable",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSHawksNestServiceFacade.BatchCreateVariable",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "variableEntries",
        "c2jShape" : "VariableEntryList",
        "deprecated" : false,
        "documentation" : "<p>The list of variables for the batch create variable request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The list of variables for the batch create variable request.</p>\n@param variableEntries The list of variables for the batch create variable request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVariableEntries",
        "getterDocumentation" : "/**<p>The list of variables for the batch create variable request.</p>\n@return The list of variables for the batch create variable request.*/",
        "getterMethodName" : "getVariableEntries",
        "getterModel" : {
          "returnType" : "java.util.List<VariableEntry>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "variableEntries",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "variableEntries",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "VariableEntry",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "VariableEntry",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "VariableEntry",
              "variableName" : "member",
              "variableType" : "VariableEntry",
              "documentation" : "",
              "simpleType" : "VariableEntry",
              "variableSetterType" : "VariableEntry"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "VariableEntry",
              "variableName" : "member",
              "variableType" : "VariableEntry",
              "documentation" : "",
              "simpleType" : "VariableEntry",
              "variableSetterType" : "VariableEntry"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "VariableEntry",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "VariableEntry",
          "templateImplType" : "java.util.ArrayList<VariableEntry>",
          "templateType" : "java.util.List<VariableEntry>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "VariableEntries",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The list of variables for the batch create variable request.</p>\n@param variableEntries The list of variables for the batch create variable request.*/",
        "setterMethodName" : "setVariableEntries",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<VariableEntry>",
          "variableName" : "variableEntries",
          "variableType" : "java.util.List<VariableEntry>",
          "documentation" : "",
          "simpleType" : "List<VariableEntry>",
          "variableSetterType" : "java.util.Collection<VariableEntry>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The list of variables for the batch create variable request.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setVariableEntries(java.util.Collection)} or {@link #withVariableEntries(java.util.Collection)} if you want to override the existing values.</p>\n@param variableEntries The list of variables for the batch create variable request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<VariableEntry>",
          "variableName" : "variableEntries",
          "variableType" : "java.util.List<VariableEntry>",
          "documentation" : "<p>The list of variables for the batch create variable request.</p>",
          "simpleType" : "List<VariableEntry>",
          "variableSetterType" : "java.util.Collection<VariableEntry>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "VariableEntries" : {
          "c2jName" : "variableEntries",
          "c2jShape" : "VariableEntryList",
          "deprecated" : false,
          "documentation" : "<p>The list of variables for the batch create variable request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The list of variables for the batch create variable request.</p>\n@param variableEntries The list of variables for the batch create variable request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withVariableEntries",
          "getterDocumentation" : "/**<p>The list of variables for the batch create variable request.</p>\n@return The list of variables for the batch create variable request.*/",
          "getterMethodName" : "getVariableEntries",
          "getterModel" : {
            "returnType" : "java.util.List<VariableEntry>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "variableEntries",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "variableEntries",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "VariableEntry",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "VariableEntry",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "VariableEntry",
                "variableName" : "member",
                "variableType" : "VariableEntry",
                "documentation" : "",
                "simpleType" : "VariableEntry",
                "variableSetterType" : "VariableEntry"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "VariableEntry",
                "variableName" : "member",
                "variableType" : "VariableEntry",
                "documentation" : "",
                "simpleType" : "VariableEntry",
                "variableSetterType" : "VariableEntry"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "VariableEntry",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "VariableEntry",
            "templateImplType" : "java.util.ArrayList<VariableEntry>",
            "templateType" : "java.util.List<VariableEntry>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "VariableEntries",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The list of variables for the batch create variable request.</p>\n@param variableEntries The list of variables for the batch create variable request.*/",
          "setterMethodName" : "setVariableEntries",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<VariableEntry>",
            "variableName" : "variableEntries",
            "variableType" : "java.util.List<VariableEntry>",
            "documentation" : "",
            "simpleType" : "List<VariableEntry>",
            "variableSetterType" : "java.util.Collection<VariableEntry>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The list of variables for the batch create variable request.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setVariableEntries(java.util.Collection)} or {@link #withVariableEntries(java.util.Collection)} if you want to override the existing values.</p>\n@param variableEntries The list of variables for the batch create variable request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<VariableEntry>",
            "variableName" : "variableEntries",
            "variableType" : "java.util.List<VariableEntry>",
            "documentation" : "<p>The list of variables for the batch create variable request.</p>",
            "simpleType" : "List<VariableEntry>",
            "variableSetterType" : "java.util.Collection<VariableEntry>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
[...]
