{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-11-15",
    "asyncClient" : "AmazonFraudDetectorAsyncClient",
    "asyncClientBuilderClassName" : "AmazonFraudDetectorAsyncClientBuilder",
    "asyncInterface" : "AmazonFraudDetectorAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonFraudDetectorModuleInjector",
    "defaultEndpoint" : "frauddetector.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "frauddetector.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>This is the Amazon Fraud Detector API Reference. This guide is for developers who need detailed information about Amazon Fraud Detector API actions, data types, and errors. For more information about Amazon Fraud Detector features, see the <a href=\"https://docs.aws.amazon.com/frauddetector/latest/ug/\">Amazon Fraud Detector User Guide</a>.</p>",
    "endpointPrefix" : "frauddetector",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.frauddetector",
    "packagePath" : "com/amazonaws/services/frauddetector",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Fraud Detector",
    "serviceId" : "FraudDetector",
    "serviceName" : "Amazon Fraud Detector",
    "signingName" : "frauddetector",
    "smokeTestsPackageName" : "com.amazonaws.services.frauddetector.smoketests",
    "syncClient" : "AmazonFraudDetectorClient",
    "syncClientBuilderClassName" : "AmazonFraudDetectorClientBuilder",
    "syncInterface" : "AmazonFraudDetector",
    "uid" : "frauddetector-2019-11-15",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchCreateVariable" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchCreateVariableResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchCreateVariableResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchCreateVariableRequest, BatchCreateVariableResult>",
      "asyncReturnType" : "BatchCreateVariableResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a batch of variables.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchCreateVariableRequest",
        "variableName" : "batchCreateVariableRequest",
        "variableType" : "BatchCreateVariableRequest",
        "documentation" : "",
        "simpleType" : "BatchCreateVariableRequest",
        "variableSetterType" : "BatchCreateVariableRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchCreateVariable",
      "operationName" : "BatchCreateVariable",
      "returnType" : {
        "returnType" : "BatchCreateVariableResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchCreateVariableResult"
    },
    "BatchGetVariable" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetVariableResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetVariableResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetVariableRequest, BatchGetVariableResult>",
      "asyncReturnType" : "BatchGetVariableResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a batch of variables.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetVariableRequest",
        "variableName" : "batchGetVariableRequest",
        "variableType" : "BatchGetVariableRequest",
        "documentation" : "",
        "simpleType" : "BatchGetVariableRequest",
        "variableSetterType" : "BatchGetVariableRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetVariable",
      "operationName" : "BatchGetVariable",
      "returnType" : {
        "returnType" : "BatchGetVariableResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetVariableResult"
    },
    "CancelBatchPredictionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelBatchPredictionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelBatchPredictionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelBatchPredictionJobRequest, CancelBatchPredictionJobResult>",
      "asyncReturnType" : "CancelBatchPredictionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels the specified batch prediction job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelBatchPredictionJobRequest",
        "variableName" : "cancelBatchPredictionJobRequest",
        "variableType" : "CancelBatchPredictionJobRequest",
        "documentation" : "",
        "simpleType" : "CancelBatchPredictionJobRequest",
        "variableSetterType" : "CancelBatchPredictionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelBatchPredictionJob",
      "operationName" : "CancelBatchPredictionJob",
      "returnType" : {
        "returnType" : "CancelBatchPredictionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelBatchPredictionJobResult"
    },
    "CreateBatchPredictionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBatchPredictionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBatchPredictionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBatchPredictionJobRequest, CreateBatchPredictionJobResult>",
      "asyncReturnType" : "CreateBatchPredictionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a batch prediction job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBatchPredictionJobRequest",
        "variableName" : "createBatchPredictionJobRequest",
        "variableType" : "CreateBatchPredictionJobRequest",
        "documentation" : "",
        "simpleType" : "CreateBatchPredictionJobRequest",
        "variableSetterType" : "CreateBatchPredictionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBatchPredictionJob",
      "operationName" : "CreateBatchPredictionJob",
      "returnType" : {
        "returnType" : "CreateBatchPredictionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateBatchPredictionJobResult"
    },
    "CreateDetectorVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDetectorVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDetectorVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDetectorVersionRequest, CreateDetectorVersionResult>",
      "asyncReturnType" : "CreateDetectorVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a detector version. The detector version starts in a <code>DRAFT</code> status.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDetectorVersionRequest",
        "variableName" : "createDetectorVersionRequest",
        "variableType" : "CreateDetectorVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateDetectorVersionRequest",
        "variableSetterType" : "CreateDetectorVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDetectorVersion",
      "operationName" : "CreateDetectorVersion",
      "returnType" : {
        "returnType" : "CreateDetectorVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDetectorVersionResult"
    },
    "CreateModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateModelRequest, CreateModelResult>",
      "asyncReturnType" : "CreateModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a model using the specified model type.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateModelRequest",
        "variableName" : "createModelRequest",
        "variableType" : "CreateModelRequest",
        "documentation" : "",
        "simpleType" : "CreateModelRequest",
        "variableSetterType" : "CreateModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createModel",
      "operationName" : "CreateModel",
      "returnType" : {
        "returnType" : "CreateModelResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateModelResult"
    },
    "CreateModelVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateModelVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateModelVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateModelVersionRequest, CreateModelVersionResult>",
      "asyncReturnType" : "CreateModelVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a version of the model using the specified model type and model id. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateModelVersionRequest",
        "variableName" : "createModelVersionRequest",
        "variableType" : "CreateModelVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateModelVersionRequest",
        "variableSetterType" : "CreateModelVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createModelVersion",
      "operationName" : "CreateModelVersion",
      "returnType" : {
        "returnType" : "CreateModelVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateModelVersionResult"
    },
    "CreateRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRuleRequest, CreateRuleResult>",
      "asyncReturnType" : "CreateRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a rule for use with the specified detector. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRuleRequest",
        "variableName" : "createRuleRequest",
        "variableType" : "CreateRuleRequest",
        "documentation" : "",
        "simpleType" : "CreateRuleRequest",
        "variableSetterType" : "CreateRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRule",
      "operationName" : "CreateRule",
      "returnType" : {
        "returnType" : "CreateRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateRuleResult"
    },
    "CreateVariable" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateVariableResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateVariableResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateVariableRequest, CreateVariableResult>",
      "asyncReturnType" : "CreateVariableResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a variable.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateVariableRequest",
        "variableName" : "createVariableRequest",
        "variableType" : "CreateVariableRequest",
        "documentation" : "",
        "simpleType" : "CreateVariableRequest",
        "variableSetterType" : "CreateVariableRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createVariable",
      "operationName" : "CreateVariable",
      "returnType" : {
        "returnType" : "CreateVariableResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateVariableResult"
    },
    "DeleteBatchPredictionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBatchPredictionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBatchPredictionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBatchPredictionJobRequest, DeleteBatchPredictionJobResult>",
      "asyncReturnType" : "DeleteBatchPredictionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a batch prediction job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBatchPredictionJobRequest",
        "variableName" : "deleteBatchPredictionJobRequest",
        "variableType" : "DeleteBatchPredictionJobRequest",
        "documentation" : "",
        "simpleType" : "DeleteBatchPredictionJobRequest",
        "variableSetterType" : "DeleteBatchPredictionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBatchPredictionJob",
      "operationName" : "DeleteBatchPredictionJob",
      "returnType" : {
        "returnType" : "DeleteBatchPredictionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteBatchPredictionJobResult"
    },
    "DeleteDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDetectorRequest, DeleteDetectorResult>",
      "asyncReturnType" : "DeleteDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the detector. Before deleting a detector, you must first delete all detector versions and rule versions associated with the detector.</p> <p>When you delete a detector, Amazon Fraud Detector permanently deletes the detector and the data is no longer stored in Amazon Fraud Detector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>An exception indicating there was a conflict during a delete operation. The following delete operations can cause a conflict exception:</p> <ul> <li> <p>DeleteDetector: A conflict exception will occur if the detector has associated <code>Rules</code> or <code>DetectorVersions</code>. You can only delete a detector if it has no <code>Rules</code> or <code>DetectorVersions</code>.</p> </li> <li> <p>DeleteDetectorVersion: A conflict exception will occur if the <code>DetectorVersion</code> status is <code>ACTIVE</code>.</p> </li> <li> <p>DeleteRule: A conflict exception will occur if the <code>RuleVersion</code> is in use by an associated <code>ACTIVE</code> or <code>INACTIVE DetectorVersion</code>.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDetectorRequest",
        "variableName" : "deleteDetectorRequest",
        "variableType" : "DeleteDetectorRequest",
        "documentation" : "",
        "simpleType" : "DeleteDetectorRequest",
        "variableSetterType" : "DeleteDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDetector",
      "operationName" : "DeleteDetector",
      "returnType" : {
        "returnType" : "DeleteDetectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDetectorResult"
    },
    "DeleteDetectorVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDetectorVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDetectorVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDetectorVersionRequest, DeleteDetectorVersionResult>",
      "asyncReturnType" : "DeleteDetectorVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the detector version. You cannot delete detector versions that are in <code>ACTIVE</code> status.</p> <p>When you delete a detector version, Amazon Fraud Detector permanently deletes the detector and the data is no longer stored in Amazon Fraud Detector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>An exception indicating there was a conflict during a delete operation. The following delete operations can cause a conflict exception:</p> <ul> <li> <p>DeleteDetector: A conflict exception will occur if the detector has associated <code>Rules</code> or <code>DetectorVersions</code>. You can only delete a detector if it has no <code>Rules</code> or <code>DetectorVersions</code>.</p> </li> <li> <p>DeleteDetectorVersion: A conflict exception will occur if the <code>DetectorVersion</code> status is <code>ACTIVE</code>.</p> </li> <li> <p>DeleteRule: A conflict exception will occur if the <code>RuleVersion</code> is in use by an associated <code>ACTIVE</code> or <code>INACTIVE DetectorVersion</code>.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDetectorVersionRequest",
        "variableName" : "deleteDetectorVersionRequest",
        "variableType" : "DeleteDetectorVersionRequest",
        "documentation" : "",
        "simpleType" : "DeleteDetectorVersionRequest",
        "variableSetterType" : "DeleteDetectorVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDetectorVersion",
      "operationName" : "DeleteDetectorVersion",
      "returnType" : {
        "returnType" : "DeleteDetectorVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDetectorVersionResult"
    },
    "DeleteEntityType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEntityTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEntityTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEntityTypeRequest, DeleteEntityTypeResult>",
      "asyncReturnType" : "DeleteEntityTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an entity type.</p> <p>You cannot delete an entity type that is included in an event type.</p> <p>When you delete an entity type, Amazon Fraud Detector permanently deletes that entity type and the data is no longer stored in Amazon Fraud Detector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>An exception indicating there was a conflict during a delete operation. The following delete operations can cause a conflict exception:</p> <ul> <li> <p>DeleteDetector: A conflict exception will occur if the detector has associated <code>Rules</code> or <code>DetectorVersions</code>. You can only delete a detector if it has no <code>Rules</code> or <code>DetectorVersions</code>.</p> </li> <li> <p>DeleteDetectorVersion: A conflict exception will occur if the <code>DetectorVersion</code> status is <code>ACTIVE</code>.</p> </li> <li> <p>DeleteRule: A conflict exception will occur if the <code>RuleVersion</code> is in use by an associated <code>ACTIVE</code> or <code>INACTIVE DetectorVersion</code>.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEntityTypeRequest",
        "variableName" : "deleteEntityTypeRequest",
        "variableType" : "DeleteEntityTypeRequest",
        "documentation" : "",
        "simpleType" : "DeleteEntityTypeRequest",
        "variableSetterType" : "DeleteEntityTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEntityType",
      "operationName" : "DeleteEntityType",
      "returnType" : {
        "returnType" : "DeleteEntityTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEntityTypeResult"
    },
    "DeleteEvent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEventResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEventResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEventRequest, DeleteEventResult>",
      "asyncReturnType" : "DeleteEventResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified event.</p> <p>When you delete an event, Amazon Fraud Detector permanently deletes that event and the event data is no longer stored in Amazon Fraud Detector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEventRequest",
        "variableName" : "deleteEventRequest",
        "variableType" : "DeleteEventRequest",
        "documentation" : "",
        "simpleType" : "DeleteEventRequest",
        "variableSetterType" : "DeleteEventRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEvent",
      "operationName" : "DeleteEvent",
      "returnType" : {
        "returnType" : "DeleteEventResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEventResult"
    },
    "DeleteEventType" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEventTypeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEventTypeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEventTypeRequest, DeleteEventTypeResult>",
      "asyncReturnType" : "DeleteEventTypeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an event type.</p> <p>You cannot delete an event type that is used in a detector or a model.</p> <p>When you delete an entity type, Amazon Fraud Detector permanently deletes that entity type and the data is no longer stored in Amazon Fraud Detector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>An exception indicating there was a conflict during a delete operation. The following delete operations can cause a conflict exception:</p> <ul> <li> <p>DeleteDetector: A conflict exception will occur if the detector has associated <code>Rules</code> or <code>DetectorVersions</code>. You can only delete a detector if it has no <code>Rules</code> or <code>DetectorVersions</code>.</p> </li> <li> <p>DeleteDetectorVersion: A conflict exception will occur if the <code>DetectorVersion</code> status is <code>ACTIVE</code>.</p> </li> <li> <p>DeleteRule: A conflict exception will occur if the <code>RuleVersion</code> is in use by an associated <code>ACTIVE</code> or <code>INACTIVE DetectorVersion</code>.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEventTypeRequest",
        "variableName" : "deleteEventTypeRequest",
        "variableType" : "DeleteEventTypeRequest",
        "documentation" : "",
        "simpleType" : "DeleteEventTypeRequest",
        "variableSetterType" : "DeleteEventTypeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEventType",
      "operationName" : "DeleteEventType",
      "returnType" : {
        "returnType" : "DeleteEventTypeResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEventTypeResult"
    },
    "DeleteExternalModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteExternalModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteExternalModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteExternalModelRequest, DeleteExternalModelResult>",
      "asyncReturnType" : "DeleteExternalModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a SageMaker model from Amazon Fraud Detector.</p> <p>You can remove an Amazon SageMaker model if it is not associated with a detector version. Removing a SageMaker model disconnects it from Amazon Fraud Detector, but the model remains available in SageMaker.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>An exception indicating there was a conflict during a delete operation. The following delete operations can cause a conflict exception:</p> <ul> <li> <p>DeleteDetector: A conflict exception will occur if the detector has associated <code>Rules</code> or <code>DetectorVersions</code>. You can only delete a detector if it has no <code>Rules</code> or <code>DetectorVersions</code>.</p> </li> <li> <p>DeleteDetectorVersion: A conflict exception will occur if the <code>DetectorVersion</code> status is <code>ACTIVE</code>.</p> </li> <li> <p>DeleteRule: A conflict exception will occur if the <code>RuleVersion</code> is in use by an associated <code>ACTIVE</code> or <code>INACTIVE DetectorVersion</code>.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteExternalModelRequest",
        "variableName" : "deleteExternalModelRequest",
        "variableType" : "DeleteExternalModelRequest",
        "documentation" : "",
        "simpleType" : "DeleteExternalModelRequest",
        "variableSetterType" : "DeleteExternalModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteExternalModel",
      "operationName" : "DeleteExternalModel",
      "returnType" : {
        "returnType" : "DeleteExternalModelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteExternalModelResult"
    },
    "DeleteLabel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLabelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLabelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLabelRequest, DeleteLabelResult>",
      "asyncReturnType" : "DeleteLabelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a label.</p> <p>You cannot delete labels that are included in an event type in Amazon Fraud Detector.</p> <p>You cannot delete a label assigned to an event ID. You must first delete the relevant event ID.</p> <p>When you delete a label, Amazon Fraud Detector permanently deletes that label and the data is no longer stored in Amazon Fraud Detector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>An exception indicating there was a conflict during a delete operation. The following delete operations can cause a conflict exception:</p> <ul> <li> <p>DeleteDetector: A conflict exception will occur if the detector has associated <code>Rules</code> or <code>DetectorVersions</code>. You can only delete a detector if it has no <code>Rules</code> or <code>DetectorVersions</code>.</p> </li> <li> <p>DeleteDetectorVersion: A conflict exception will occur if the <code>DetectorVersion</code> status is <code>ACTIVE</code>.</p> </li> <li> <p>DeleteRule: A conflict exception will occur if the <code>RuleVersion</code> is in use by an associated <code>ACTIVE</code> or <code>INACTIVE DetectorVersion</code>.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLabelRequest",
        "variableName" : "deleteLabelRequest",
        "variableType" : "DeleteLabelRequest",
        "documentation" : "",
        "simpleType" : "DeleteLabelRequest",
        "variableSetterType" : "DeleteLabelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLabel",
      "operationName" : "DeleteLabel",
      "returnType" : {
        "returnType" : "DeleteLabelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLabelResult"
    },
    "DeleteModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteModelRequest, DeleteModelResult>",
      "asyncReturnType" : "DeleteModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a model.</p> <p>You can delete models and model versions in Amazon Fraud Detector, provided that they are not associated with a detector version.</p> <p> When you delete a model, Amazon Fraud Detector permanently deletes that model and the data is no longer stored in Amazon Fraud Detector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>An exception indicating there was a conflict during a delete operation. The following delete operations can cause a conflict exception:</p> <ul> <li> <p>DeleteDetector: A conflict exception will occur if the detector has associated <code>Rules</code> or <code>DetectorVersions</code>. You can only delete a detector if it has no <code>Rules</code> or <code>DetectorVersions</code>.</p> </li> <li> <p>DeleteDetectorVersion: A conflict exception will occur if the <code>DetectorVersion</code> status is <code>ACTIVE</code>.</p> </li> <li> <p>DeleteRule: A conflict exception will occur if the <code>RuleVersion</code> is in use by an associated <code>ACTIVE</code> or <code>INACTIVE DetectorVersion</code>.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteModelRequest",
        "variableName" : "deleteModelRequest",
        "variableType" : "DeleteModelRequest",
        "documentation" : "",
        "simpleType" : "DeleteModelRequest",
        "variableSetterType" : "DeleteModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteModel",
      "operationName" : "DeleteModel",
      "returnType" : {
        "returnType" : "DeleteModelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteModelResult"
    },
    "DeleteModelVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteModelVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteModelVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteModelVersionRequest, DeleteModelVersionResult>",
      "asyncReturnType" : "DeleteModelVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a model version.</p> <p>You can delete models and model versions in Amazon Fraud Detector, provided that they are not associated with a detector version.</p> <p> When you delete a model version, Amazon Fraud Detector permanently deletes that model version and the data is no longer stored in Amazon Fraud Detector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>An exception indicating there was a conflict during a delete operation. The following delete operations can cause a conflict exception:</p> <ul> <li> <p>DeleteDetector: A conflict exception will occur if the detector has associated <code>Rules</code> or <code>DetectorVersions</code>. You can only delete a detector if it has no <code>Rules</code> or <code>DetectorVersions</code>.</p> </li> <li> <p>DeleteDetectorVersion: A conflict exception will occur if the <code>DetectorVersion</code> status is <code>ACTIVE</code>.</p> </li> <li> <p>DeleteRule: A conflict exception will occur if the <code>RuleVersion</code> is in use by an associated <code>ACTIVE</code> or <code>INACTIVE DetectorVersion</code>.</p> </li> </ul>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteModelVersionRequest",
        "variableName" : "deleteModelVersionRequest",
        "variableType" : "DeleteModelVersionRequest",
        "documentation" : "",
        "simpleType" : "DeleteModelVersionRequest",
        "variableSetterType" : "DeleteModelVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteModelVersion",
      "operationName" : "DeleteModelVersion",
      "returnType" : {
        "returnType" : "DeleteModelVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteModelVersionResult"
    },
    "DeleteOutcome" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteOutcomeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteOutcomeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteOutcomeRequest, DeleteOutcomeResult>",
      "asyncReturnType" : "DeleteOutcomeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an outcome.</p> <p>You cannot delete an outcome that is used in a rule version.</p> <p>When you delete an outcome, Amazon Fraud Detector permanently deletes that outcome and the data is no longer stored in Amazon Fraud Detector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>An exception indicating there was a conflict during a delete operation. The following delete operations can cause a conflict exception:</p> <ul> <li> <p>DeleteDetector: A conflict exception will occur if the detector has associated <code>Rules</code> or <code>DetectorVersions</code>. You can only delete a detector if it has no <code>Rules</code> or <code>DetectorVersions</code>.</p> </li> <li> <p>DeleteDetectorVersion: A conflict exception will occur if the <code>DetectorVersion</code> status is <code>ACTIVE</code>.</p> </li> <li> <p>DeleteRule: A conflict exception will occur if the <code>RuleVersion</code> is in use by an associated <code>ACTIVE</code> or <code>INACTIVE DetectorVersion</code>.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteOutcomeRequest",
        "variableName" : "deleteOutcomeRequest",
        "variableType" : "DeleteOutcomeRequest",
        "documentation" : "",
        "simpleType" : "DeleteOutcomeRequest",
        "variableSetterType" : "DeleteOutcomeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteOutcome",
      "operationName" : "DeleteOutcome",
      "returnType" : {
        "returnType" : "DeleteOutcomeResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteOutcomeResult"
    },
    "DeleteRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRuleRequest, DeleteRuleResult>",
      "asyncReturnType" : "DeleteRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the rule. You cannot delete a rule if it is used by an <code>ACTIVE</code> or <code>INACTIVE</code> detector version.</p> <p>When you delete a rule, Amazon Fraud Detector permanently deletes that rule and the data is no longer stored in Amazon Fraud Detector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>An exception indicating there was a conflict during a delete operation. The following delete operations can cause a conflict exception:</p> <ul> <li> <p>DeleteDetector: A conflict exception will occur if the detector has associated <code>Rules</code> or <code>DetectorVersions</code>. You can only delete a detector if it has no <code>Rules</code> or <code>DetectorVersions</code>.</p> </li> <li> <p>DeleteDetectorVersion: A conflict exception will occur if the <code>DetectorVersion</code> status is <code>ACTIVE</code>.</p> </li> <li> <p>DeleteRule: A conflict exception will occur if the <code>RuleVersion</code> is in use by an associated <code>ACTIVE</code> or <code>INACTIVE DetectorVersion</code>.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRuleRequest",
        "variableName" : "deleteRuleRequest",
        "variableType" : "DeleteRuleRequest",
        "documentation" : "",
        "simpleType" : "DeleteRuleRequest",
        "variableSetterType" : "DeleteRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRule",
      "operationName" : "DeleteRule",
      "returnType" : {
        "returnType" : "DeleteRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRuleResult"
    },
    "DeleteVariable" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteVariableResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteVariableResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteVariableRequest, DeleteVariableResult>",
      "asyncReturnType" : "DeleteVariableResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a variable.</p> <p>You can't delete variables that are included in an event type in Amazon Fraud Detector.</p> <p>Amazon Fraud Detector automatically deletes model output variables and SageMaker model output variables when you delete the model. You can't delete these variables manually.</p> <p>When you delete a variable, Amazon Fraud Detector permanently deletes that variable and the data is no longer stored in Amazon Fraud Detector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>An exception indicating there was a conflict during a delete operation. The following delete operations can cause a conflict exception:</p> <ul> <li> <p>DeleteDetector: A conflict exception will occur if the detector has associated <code>Rules</code> or <code>DetectorVersions</code>. You can only delete a detector if it has no <code>Rules</code> or <code>DetectorVersions</code>.</p> </li> <li> <p>DeleteDetectorVersion: A conflict exception will occur if the <code>DetectorVersion</code> status is <code>ACTIVE</code>.</p> </li> <li> <p>DeleteRule: A conflict exception will occur if the <code>RuleVersion</code> is in use by an associated <code>ACTIVE</code> or <code>INACTIVE DetectorVersion</code>.</p> </li> </ul>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteVariableRequest",
        "variableName" : "deleteVariableRequest",
        "variableType" : "DeleteVariableRequest",
        "documentation" : "",
        "simpleType" : "DeleteVariableRequest",
        "variableSetterType" : "DeleteVariableRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteVariable",
      "operationName" : "DeleteVariable",
      "returnType" : {
        "returnType" : "DeleteVariableResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteVariableResult"
    },
    "DescribeDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDetectorRequest, DescribeDetectorResult>",
      "asyncReturnType" : "DescribeDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets all versions for a specified detector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDetectorRequest",
        "variableName" : "describeDetectorRequest",
        "variableType" : "DescribeDetectorRequest",
        "documentation" : "",
        "simpleType" : "DescribeDetectorRequest",
        "variableSetterType" : "DescribeDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDetector",
      "operationName" : "DescribeDetector",
      "returnType" : {
        "returnType" : "DescribeDetectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDetectorResult"
    },
    "DescribeModelVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeModelVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeModelVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeModelVersionsRequest, DescribeModelVersionsResult>",
      "asyncReturnType" : "DescribeModelVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets all of the model versions for the specified model type or for the specified model type and model ID. You can also get details for a single, specified model version. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeModelVersionsRequest",
        "variableName" : "describeModelVersionsRequest",
        "variableType" : "DescribeModelVersionsRequest",
        "documentation" : "",
        "simpleType" : "DescribeModelVersionsRequest",
        "variableSetterType" : "DescribeModelVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeModelVersions",
      "operationName" : "DescribeModelVersions",
      "returnType" : {
        "returnType" : "DescribeModelVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeModelVersionsResult"
    },
    "GetBatchPredictionJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetBatchPredictionJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetBatchPredictionJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetBatchPredictionJobsRequest, GetBatchPredictionJobsResult>",
      "asyncReturnType" : "GetBatchPredictionJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets all batch prediction jobs or a specific job if you specify a job ID. This is a paginated API. If you provide a null maxResults, this action retrieves a maximum of 50 records per page. If you provide a maxResults, the value must be between 1 and 50. To get the next page results, provide the pagination token from the GetBatchPredictionJobsResponse as part of your request. A null pagination token fetches the records from the beginning.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetBatchPredictionJobsRequest",
        "variableName" : "getBatchPredictionJobsRequest",
        "variableType" : "GetBatchPredictionJobsRequest",
        "documentation" : "",
        "simpleType" : "GetBatchPredictionJobsRequest",
        "variableSetterType" : "GetBatchPredictionJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getBatchPredictionJobs",
      "operationName" : "GetBatchPredictionJobs",
      "returnType" : {
        "returnType" : "GetBatchPredictionJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetBatchPredictionJobsResult"
    },
    "GetDetectorVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDetectorVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDetectorVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDetectorVersionRequest, GetDetectorVersionResult>",
      "asyncReturnType" : "GetDetectorVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a particular detector version. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDetectorVersionRequest",
        "variableName" : "getDetectorVersionRequest",
        "variableType" : "GetDetectorVersionRequest",
        "documentation" : "",
        "simpleType" : "GetDetectorVersionRequest",
        "variableSetterType" : "GetDetectorVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDetectorVersion",
      "operationName" : "GetDetectorVersion",
      "returnType" : {
        "returnType" : "GetDetectorVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDetectorVersionResult"
    },
    "GetDetectors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDetectorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDetectorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDetectorsRequest, GetDetectorsResult>",
      "asyncReturnType" : "GetDetectorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets all detectors or a single detector if a <code>detectorId</code> is specified. This is a paginated API. If you provide a null <code>maxResults</code>, this action retrieves a maximum of 10 records per page. If you provide a <code>maxResults</code>, the value must be between 5 and 10. To get the next page results, provide the pagination token from the <code>GetDetectorsResponse</code> as part of your request. A null pagination token fetches the records from the beginning. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDetectorsRequest",
        "variableName" : "getDetectorsRequest",
        "variableType" : "GetDetectorsRequest",
        "documentation" : "",
        "simpleType" : "GetDetectorsRequest",
        "variableSetterType" : "GetDetectorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDetectors",
      "operationName" : "GetDetectors",
      "returnType" : {
        "returnType" : "GetDetectorsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDetectorsResult"
    },
    "GetEntityTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEntityTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEntityTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEntityTypesRequest, GetEntityTypesResult>",
      "asyncReturnType" : "GetEntityTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets all entity types or a specific entity type if a name is specified. This is a paginated API. If you provide a null <code>maxResults</code>, this action retrieves a maximum of 10 records per page. If you provide a <code>maxResults</code>, the value must be between 5 and 10. To get the next page results, provide the pagination token from the <code>GetEntityTypesResponse</code> as part of your request. A null pagination token fetches the records from the beginning. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEntityTypesRequest",
        "variableName" : "getEntityTypesRequest",
        "variableType" : "GetEntityTypesRequest",
        "documentation" : "",
        "simpleType" : "GetEntityTypesRequest",
        "variableSetterType" : "GetEntityTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEntityTypes",
      "operationName" : "GetEntityTypes",
      "returnType" : {
        "returnType" : "GetEntityTypesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEntityTypesResult"
    },
    "GetEventPrediction" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEventPredictionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEventPredictionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEventPredictionRequest, GetEventPredictionResult>",
      "asyncReturnType" : "GetEventPredictionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Evaluates an event against a detector version. If a version ID is not provided, the detector’s (<code>ACTIVE</code>) version is used.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>An exception indicating there was a conflict during a delete operation. The following delete operations can cause a conflict exception:</p> <ul> <li> <p>DeleteDetector: A conflict exception will occur if the detector has associated <code>Rules</code> or <code>DetectorVersions</code>. You can only delete a detector if it has no <code>Rules</code> or <code>DetectorVersions</code>.</p> </li> <li> <p>DeleteDetectorVersion: A conflict exception will occur if the <code>DetectorVersion</code> status is <code>ACTIVE</code>.</p> </li> <li> <p>DeleteRule: A conflict exception will occur if the <code>RuleVersion</code> is in use by an associated <code>ACTIVE</code> or <code>INACTIVE DetectorVersion</code>.</p> </li> </ul>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEventPredictionRequest",
        "variableName" : "getEventPredictionRequest",
        "variableType" : "GetEventPredictionRequest",
        "documentation" : "",
        "simpleType" : "GetEventPredictionRequest",
        "variableSetterType" : "GetEventPredictionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEventPrediction",
      "operationName" : "GetEventPrediction",
      "returnType" : {
        "returnType" : "GetEventPredictionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEventPredictionResult"
    },
    "GetEventTypes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEventTypesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEventTypesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEventTypesRequest, GetEventTypesResult>",
      "asyncReturnType" : "GetEventTypesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets all event types or a specific event type if name is provided. This is a paginated API. If you provide a null <code>maxResults</code>, this action retrieves a maximum of 10 records per page. If you provide a <code>maxResults</code>, the value must be between 5 and 10. To get the next page results, provide the pagination token from the <code>GetEventTypesResponse</code> as part of your request. A null pagination token fetches the records from the beginning. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEventTypesRequest",
        "variableName" : "getEventTypesRequest",
        "variableType" : "GetEventTypesRequest",
        "documentation" : "",
        "simpleType" : "GetEventTypesRequest",
        "variableSetterType" : "GetEventTypesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEventTypes",
      "operationName" : "GetEventTypes",
      "returnType" : {
        "returnType" : "GetEventTypesResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEventTypesResult"
    },
    "GetExternalModels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetExternalModelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetExternalModelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetExternalModelsRequest, GetExternalModelsResult>",
      "asyncReturnType" : "GetExternalModelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the details for one or more Amazon SageMaker models that have been imported into the service. This is a paginated API. If you provide a null <code>maxResults</code>, this actions retrieves a maximum of 10 records per page. If you provide a <code>maxResults</code>, the value must be between 5 and 10. To get the next page results, provide the pagination token from the <code>GetExternalModelsResult</code> as part of your request. A null pagination token fetches the records from the beginning. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>An exception indicating a throttling error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetExternalModelsRequest",
        "variableName" : "getExternalModelsRequest",
        "variableType" : "GetExternalModelsRequest",
        "documentation" : "",
        "simpleType" : "GetExternalModelsRequest",
        "variableSetterType" : "GetExternalModelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getExternalModels",
      "operationName" : "GetExternalModels",
      "returnType" : {
        "returnType" : "GetExternalModelsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetExternalModelsResult"
    },
    "GetKMSEncryptionKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetKMSEncryptionKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetKMSEncryptionKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetKMSEncryptionKeyRequest, GetKMSEncryptionKeyResult>",
      "asyncReturnType" : "GetKMSEncryptionKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the encryption key if a Key Management Service (KMS) customer master key (CMK) has been specified to be used to encrypt content in Amazon Fraud Detector.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetKMSEncryptionKeyRequest",
        "variableName" : "getKMSEncryptionKeyRequest",
        "variableType" : "GetKMSEncryptionKeyRequest",
        "documentation" : null,
        "simpleType" : "GetKMSEncryptionKeyRequest",
        "variableSetterType" : "GetKMSEncryptionKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getKMSEncryptionKey",
      "operationName" : "GetKMSEncryptionKey",
      "returnType" : {
        "returnType" : "GetKMSEncryptionKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetKMSEncryptionKeyResult"
    },
    "GetLabels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLabelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLabelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLabelsRequest, GetLabelsResult>",
      "asyncReturnType" : "GetLabelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets all labels or a specific label if name is provided. This is a paginated API. If you provide a null <code>maxResults</code>, this action retrieves a maximum of 50 records per page. If you provide a <code>maxResults</code>, the value must be between 10 and 50. To get the next page results, provide the pagination token from the <code>GetGetLabelsResponse</code> as part of your request. A null pagination token fetches the records from the beginning. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetLabelsRequest",
        "variableName" : "getLabelsRequest",
        "variableType" : "GetLabelsRequest",
        "documentation" : "",
        "simpleType" : "GetLabelsRequest",
        "variableSetterType" : "GetLabelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLabels",
      "operationName" : "GetLabels",
      "returnType" : {
        "returnType" : "GetLabelsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLabelsResult"
    },
    "GetModelVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetModelVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetModelVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetModelVersionRequest, GetModelVersionResult>",
      "asyncReturnType" : "GetModelVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the details of the specified model version.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetModelVersionRequest",
        "variableName" : "getModelVersionRequest",
        "variableType" : "GetModelVersionRequest",
        "documentation" : "",
        "simpleType" : "GetModelVersionRequest",
        "variableSetterType" : "GetModelVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getModelVersion",
      "operationName" : "GetModelVersion",
      "returnType" : {
        "returnType" : "GetModelVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetModelVersionResult"
    },
    "GetModels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetModelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetModelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetModelsRequest, GetModelsResult>",
      "asyncReturnType" : "GetModelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets one or more models. Gets all models for the AWS account if no model type and no model id provided. Gets all models for the AWS account and model type, if the model type is specified but model id is not provided. Gets a specific model if (model type, model id) tuple is specified. </p> <p>This is a paginated API. If you provide a null <code>maxResults</code>, this action retrieves a maximum of 10 records per page. If you provide a <code>maxResults</code>, the value must be between 1 and 10. To get the next page results, provide the pagination token from the response as part of your request. A null pagination token fetches the records from the beginning.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>An exception indicating a specified value is not allowed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>An exception indicating the specified resource was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An exception indicating an internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetModelsRequest",
        "variableName" : "getModelsRequest",
        "variableType" : "GetModelsRequest",
        "documentation" : "",
        "simpleType" : "GetModelsRequest",
        "variableSetterType" : "GetModelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getModels",
[...]
