{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2023-09-07",
    "asyncClient" : "AWSFreeTierAsyncClient",
    "asyncClientBuilderClassName" : "AWSFreeTierAsyncClientBuilder",
    "asyncInterface" : "AWSFreeTierAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSFreeTierModuleInjector",
    "defaultEndpoint" : "freetier.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "freetier.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>You can use the Amazon Web Services Free Tier API to query programmatically your Free Tier usage data.</p> <p>Free Tier tracks your monthly usage data for all free tier offers that are associated with your Amazon Web Services account. You can use the Free Tier API to filter and show only the data that you want.</p> <p>Service endpoint</p> <p>The Free Tier API provides the following endpoint:</p> <ul> <li> <p>https://freetier.us-east-1.api.aws</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/billing-free-tier.html\">Using the Amazon Web Services Free Tier</a> in the <i>Billing User Guide</i>.</p>",
    "endpointPrefix" : "freetier",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.freetier",
    "packagePath" : "com/amazonaws/services/freetier",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Free Tier",
    "serviceId" : "FreeTier",
    "serviceName" : "AWS Free Tier",
    "signingName" : "freetier",
    "smokeTestsPackageName" : "com.amazonaws.services.freetier.smoketests",
    "syncClient" : "AWSFreeTierClient",
    "syncClientBuilderClassName" : "AWSFreeTierClientBuilder",
    "syncInterface" : "AWSFreeTier",
    "uid" : "freetier-2023-09-07",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "GetFreeTierUsage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFreeTierUsageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFreeTierUsageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFreeTierUsageRequest, GetFreeTierUsageResult>",
      "asyncReturnType" : "GetFreeTierUsageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all Free Tier usage objects that match your filters.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An unexpected error occurred during the processing of your request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Service.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFreeTierUsageRequest",
        "variableName" : "getFreeTierUsageRequest",
        "variableType" : "GetFreeTierUsageRequest",
        "documentation" : "",
        "simpleType" : "GetFreeTierUsageRequest",
        "variableSetterType" : "GetFreeTierUsageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFreeTierUsage",
      "operationName" : "GetFreeTierUsage",
      "returnType" : {
        "returnType" : "GetFreeTierUsageResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFreeTierUsageResult"
    }
  },
  "shapes" : {
    "Dimension" : {
      "c2jName" : "Dimension",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "SERVICE",
        "value" : "SERVICE"
      }, {
        "name" : "OPERATION",
        "value" : "OPERATION"
      }, {
        "name" : "USAGE_TYPE",
        "value" : "USAGE_TYPE"
      }, {
        "name" : "REGION",
        "value" : "REGION"
      }, {
        "name" : "FREE_TIER_TYPE",
        "value" : "FREE_TIER_TYPE"
      }, {
        "name" : "DESCRIPTION",
        "value" : "DESCRIPTION"
      }, {
        "name" : "USAGE_PERCENTAGE",
        "value" : "USAGE_PERCENTAGE"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.freetier.enum.Dimension",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.freetier.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "Dimension",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Dimension",
        "variableName" : "dimension",
        "variableType" : "Dimension",
        "documentation" : null,
        "simpleType" : "Dimension",
        "variableSetterType" : "Dimension"
      },
      "wrapper" : false
    },
    "DimensionValues" : {
      "c2jName" : "DimensionValues",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains the specifications for the filters to use for your request.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.freetier.model.DimensionValues",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Key",
        "c2jShape" : "Dimension",
        "deprecated" : false,
        "documentation" : "<p>The name of the dimension that you want to filter on.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "Dimension",
        "fluentSetterDocumentation" : "/**<p>The name of the dimension that you want to filter on.</p>\n@param key The name of the dimension that you want to filter on.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Dimension*/",
        "fluentSetterMethodName" : "withKey",
        "getterDocumentation" : "/**<p>The name of the dimension that you want to filter on.</p>\n@return The name of the dimension that you want to filter on.\n@see Dimension*/",
        "getterMethodName" : "getKey",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Key",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Key",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Key",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the dimension that you want to filter on.</p>\n@param key The name of the dimension that you want to filter on.\n@see Dimension*/",
        "setterMethodName" : "setKey",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "key",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the dimension that you want to filter on.</p>\n@param key The name of the dimension that you want to filter on.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Dimension*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "key",
          "variableType" : "String",
          "documentation" : "<p>The name of the dimension that you want to filter on.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "MatchOptions",
        "c2jShape" : "MatchOptions",
        "deprecated" : false,
        "documentation" : "<p>The match options that you can use to filter your results. You can specify only one of these values in the array.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "MatchOption",
        "fluentSetterDocumentation" : "/**<p>The match options that you can use to filter your results. You can specify only one of these values in the array.</p>\n@param matchOptions The match options that you can use to filter your results. You can specify only one of these values in the array.\n@return Returns a reference to this object so that method calls can be chained together.\n@see MatchOption*/",
        "fluentSetterMethodName" : "withMatchOptions",
        "getterDocumentation" : "/**<p>The match options that you can use to filter your results. You can specify only one of these values in the array.</p>\n@return The match options that you can use to filter your results. You can specify only one of these values in the array.\n@see MatchOption*/",
        "getterMethodName" : "getMatchOptions",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MatchOptions",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MatchOptions",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "MatchOption",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : "MatchOption",
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see MatchOption*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return \n@see MatchOption*/",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member \n@see MatchOption*/",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see MatchOption*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "MatchOptions",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The match options that you can use to filter your results. You can specify only one of these values in the array.</p>\n@param matchOptions The match options that you can use to filter your results. You can specify only one of these values in the array.\n@see MatchOption*/",
        "setterMethodName" : "setMatchOptions",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "matchOptions",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The match options that you can use to filter your results. You can specify only one of these values in the array.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setMatchOptions(java.util.Collection)} or {@link #withMatchOptions(java.util.Collection)} if you want to override the existing values.</p>\n@param matchOptions The match options that you can use to filter your results. You can specify only one of these values in the array.\n@return Returns a reference to this object so that method calls can be chained together.\n@see MatchOption*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "matchOptions",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The match options that you can use to filter your results. You can specify only one of these values in the array.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Values",
        "c2jShape" : "Values",
        "deprecated" : false,
        "documentation" : "<p>The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.</p>\n@param values The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withValues",
        "getterDocumentation" : "/**<p>The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.</p>\n@return The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.*/",
        "getterMethodName" : "getValues",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Values",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Values",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Value",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Values",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.</p>\n@param values The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.*/",
        "setterMethodName" : "setValues",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "values",
          "variableType" : "java.util.List<String>",
          "documentation" : "",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setValues(java.util.Collection)} or {@link #withValues(java.util.Collection)} if you want to override the existing values.</p>\n@param values The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<String>",
          "variableName" : "values",
          "variableType" : "java.util.List<String>",
          "documentation" : "<p>The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.</p>",
          "simpleType" : "List<String>",
          "variableSetterType" : "java.util.Collection<String>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Key" : {
          "c2jName" : "Key",
          "c2jShape" : "Dimension",
          "deprecated" : false,
          "documentation" : "<p>The name of the dimension that you want to filter on.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "Dimension",
          "fluentSetterDocumentation" : "/**<p>The name of the dimension that you want to filter on.</p>\n@param key The name of the dimension that you want to filter on.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Dimension*/",
          "fluentSetterMethodName" : "withKey",
          "getterDocumentation" : "/**<p>The name of the dimension that you want to filter on.</p>\n@return The name of the dimension that you want to filter on.\n@see Dimension*/",
          "getterMethodName" : "getKey",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Key",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Key",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Key",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the dimension that you want to filter on.</p>\n@param key The name of the dimension that you want to filter on.\n@see Dimension*/",
          "setterMethodName" : "setKey",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "key",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the dimension that you want to filter on.</p>\n@param key The name of the dimension that you want to filter on.\n@return Returns a reference to this object so that method calls can be chained together.\n@see Dimension*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "key",
            "variableType" : "String",
            "documentation" : "<p>The name of the dimension that you want to filter on.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "MatchOptions" : {
          "c2jName" : "MatchOptions",
          "c2jShape" : "MatchOptions",
          "deprecated" : false,
          "documentation" : "<p>The match options that you can use to filter your results. You can specify only one of these values in the array.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "MatchOption",
          "fluentSetterDocumentation" : "/**<p>The match options that you can use to filter your results. You can specify only one of these values in the array.</p>\n@param matchOptions The match options that you can use to filter your results. You can specify only one of these values in the array.\n@return Returns a reference to this object so that method calls can be chained together.\n@see MatchOption*/",
          "fluentSetterMethodName" : "withMatchOptions",
          "getterDocumentation" : "/**<p>The match options that you can use to filter your results. You can specify only one of these values in the array.</p>\n@return The match options that you can use to filter your results. You can specify only one of these values in the array.\n@see MatchOption*/",
          "getterMethodName" : "getMatchOptions",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "MatchOptions",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "MatchOptions",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "MatchOption",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : "MatchOption",
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see MatchOption*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return \n@see MatchOption*/",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member \n@see MatchOption*/",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.\n@see MatchOption*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "MatchOptions",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The match options that you can use to filter your results. You can specify only one of these values in the array.</p>\n@param matchOptions The match options that you can use to filter your results. You can specify only one of these values in the array.\n@see MatchOption*/",
          "setterMethodName" : "setMatchOptions",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "matchOptions",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The match options that you can use to filter your results. You can specify only one of these values in the array.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setMatchOptions(java.util.Collection)} or {@link #withMatchOptions(java.util.Collection)} if you want to override the existing values.</p>\n@param matchOptions The match options that you can use to filter your results. You can specify only one of these values in the array.\n@return Returns a reference to this object so that method calls can be chained together.\n@see MatchOption*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "matchOptions",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>The match options that you can use to filter your results. You can specify only one of these values in the array.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        },
        "Values" : {
          "c2jName" : "Values",
          "c2jShape" : "Values",
          "deprecated" : false,
          "documentation" : "<p>The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.</p>\n@param values The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withValues",
          "getterDocumentation" : "/**<p>The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.</p>\n@return The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.*/",
          "getterMethodName" : "getValues",
          "getterModel" : {
            "returnType" : "java.util.List<String>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Values",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Values",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Value",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "String",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "String",
              "marshallingType" : "STRING",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : true,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "String",
                "variableName" : "member",
                "variableType" : "String",
                "documentation" : "",
                "simpleType" : "String",
                "variableSetterType" : "String"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "String",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : true,
            "simpleType" : "String",
            "templateImplType" : "java.util.ArrayList<String>",
            "templateType" : "java.util.List<String>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Values",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.</p>\n@param values The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.*/",
          "setterMethodName" : "setValues",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "values",
            "variableType" : "java.util.List<String>",
            "documentation" : "",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setValues(java.util.Collection)} or {@link #withValues(java.util.Collection)} if you want to override the existing values.</p>\n@param values The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<String>",
            "variableName" : "values",
            "variableType" : "java.util.List<String>",
            "documentation" : "<p>The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.</p>",
            "simpleType" : "List<String>",
            "variableSetterType" : "java.util.Collection<String>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.freetier.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Key", "MatchOptions", "Values" ],
      "shapeName" : "DimensionValues",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DimensionValues",
        "variableName" : "dimensionValues",
        "variableType" : "DimensionValues",
        "documentation" : null,
        "simpleType" : "DimensionValues",
        "variableSetterType" : "DimensionValues"
      },
      "wrapper" : false
    },
    "Expression" : {
      "c2jName" : "Expression",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Use <code>Expression</code> to filter in the <code>GetFreeTierUsage</code> API operation.</p> <p>You can use the following patterns:</p> <ul> <li> <p>Simple dimension values (<code>Dimensions</code> root operator)</p> </li> <li> <p>Complex expressions with logical operators (<code>AND</code>, <code>NOT</code>, and <code>OR</code> root operators).</p> </li> </ul> <p>For <i>simple dimension values</i>, you can set the dimension name, values, and match type for the filters that you plan to use.</p> <p> <b>Example for simple dimension values</b> </p> <p>You can filter to match exactly for <code>REGION==us-east-1 OR REGION==us-west-1</code>.</p> <p>The corresponding <code>Expression</code> appears like the following: <code>{ \"Dimensions\": { \"Key\": \"REGION\", \"Values\": [ \"us-east-1\", \"us-west-1\" ], \"MatchOptions\": [\"EQUALS\"] } }</code> </p> <p>As shown in the previous example, lists of dimension values are combined with <code>OR</code> when you apply the filter.</p> <p>For <i>complex expressions with logical operators</i>, you can have nested expressions to use the logical operators and specify advanced filtering.</p> <p> <b>Example for complex expressions with logical operators</b> </p> <p>You can filter by <code>((REGION == us-east-1 OR REGION == us-west-1) OR (SERVICE CONTAINS AWSLambda)) AND (USAGE_TYPE !CONTAINS DataTransfer)</code>.</p> <p>The corresponding <code>Expression</code> appears like the following: <code>{ \"And\": [ {\"Or\": [ {\"Dimensions\": { \"Key\": \"REGION\", \"Values\": [ \"us-east-1\", \"us-west-1\" ], \"MatchOptions\": [\"EQUALS\"] }}, {\"Dimensions\": { \"Key\": \"SERVICE\", \"Values\": [\"AWSLambda\"], \"MatchOptions\": [\"CONTAINS\"] } } ]}, {\"Not\": {\"Dimensions\": { \"Key\": \"USAGE_TYPE\", \"Values\": [\"DataTransfer\"], \"MatchOptions\": [\"CONTAINS\"] }}} ] }</code> </p> <p>In the following <b>Contents</b>, you must specify exactly one of the following root operators.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.freetier.model.Expression",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "And",
        "c2jShape" : "Expressions",
        "deprecated" : false,
        "documentation" : "<p>Return results that match all <code>Expressions</code> that you specified in the array.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Return results that match all <code>Expressions</code> that you specified in the array.</p>\n@param and Return results that match all <code>Expressions</code> that you specified in the array.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAnd",
        "getterDocumentation" : "/**<p>Return results that match all <code>Expressions</code> that you specified in the array.</p>\n@return Return results that match all <code>Expressions</code> that you specified in the array.*/",
        "getterMethodName" : "getAnd",
        "getterModel" : {
          "returnType" : "java.util.List<Expression>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "And",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "And",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Expression",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Expression",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Expression",
              "variableName" : "member",
              "variableType" : "Expression",
              "documentation" : "",
              "simpleType" : "Expression",
              "variableSetterType" : "Expression"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Expression",
              "variableName" : "member",
              "variableType" : "Expression",
              "documentation" : "",
              "simpleType" : "Expression",
              "variableSetterType" : "Expression"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Expression",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Expression",
          "templateImplType" : "java.util.ArrayList<Expression>",
          "templateType" : "java.util.List<Expression>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "And",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Return results that match all <code>Expressions</code> that you specified in the array.</p>\n@param and Return results that match all <code>Expressions</code> that you specified in the array.*/",
        "setterMethodName" : "setAnd",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Expression>",
          "variableName" : "and",
          "variableType" : "java.util.List<Expression>",
          "documentation" : "",
          "simpleType" : "List<Expression>",
          "variableSetterType" : "java.util.Collection<Expression>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Return results that match all <code>Expressions</code> that you specified in the array.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAnd(java.util.Collection)} or {@link #withAnd(java.util.Collection)} if you want to override the existing values.</p>\n@param and Return results that match all <code>Expressions</code> that you specified in the array.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Expression>",
          "variableName" : "and",
          "variableType" : "java.util.List<Expression>",
          "documentation" : "<p>Return results that match all <code>Expressions</code> that you specified in the array.</p>",
          "simpleType" : "List<Expression>",
          "variableSetterType" : "java.util.Collection<Expression>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Dimensions",
        "c2jShape" : "DimensionValues",
        "deprecated" : false,
        "documentation" : "<p>The specific dimension, values, and match type to filter objects with.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The specific dimension, values, and match type to filter objects with.</p>\n@param dimensions The specific dimension, values, and match type to filter objects with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDimensions",
        "getterDocumentation" : "/**<p>The specific dimension, values, and match type to filter objects with.</p>\n@return The specific dimension, values, and match type to filter objects with.*/",
        "getterMethodName" : "getDimensions",
        "getterModel" : {
          "returnType" : "DimensionValues",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Dimensions",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Dimensions",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Dimensions",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The specific dimension, values, and match type to filter objects with.</p>\n@param dimensions The specific dimension, values, and match type to filter objects with.*/",
        "setterMethodName" : "setDimensions",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DimensionValues",
          "variableName" : "dimensions",
          "variableType" : "DimensionValues",
          "documentation" : "",
          "simpleType" : "DimensionValues",
          "variableSetterType" : "DimensionValues"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The specific dimension, values, and match type to filter objects with.</p>\n@param dimensions The specific dimension, values, and match type to filter objects with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DimensionValues",
          "variableName" : "dimensions",
          "variableType" : "DimensionValues",
          "documentation" : "<p>The specific dimension, values, and match type to filter objects with.</p>",
          "simpleType" : "DimensionValues",
          "variableSetterType" : "DimensionValues"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Not",
        "c2jShape" : "Expression",
        "deprecated" : false,
        "documentation" : "<p>Return results that don’t match the <code>Expression</code> that you specified.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Return results that don’t match the <code>Expression</code> that you specified.</p>\n@param not Return results that don’t match the <code>Expression</code> that you specified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withNot",
        "getterDocumentation" : "/**<p>Return results that don’t match the <code>Expression</code> that you specified.</p>\n@return Return results that don’t match the <code>Expression</code> that you specified.*/",
        "getterMethodName" : "getNot",
        "getterModel" : {
          "returnType" : "Expression",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Not",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Not",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Not",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Return results that don’t match the <code>Expression</code> that you specified.</p>\n@param not Return results that don’t match the <code>Expression</code> that you specified.*/",
        "setterMethodName" : "setNot",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Expression",
          "variableName" : "not",
          "variableType" : "Expression",
          "documentation" : "",
          "simpleType" : "Expression",
          "variableSetterType" : "Expression"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Return results that don’t match the <code>Expression</code> that you specified.</p>\n@param not Return results that don’t match the <code>Expression</code> that you specified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Expression",
          "variableName" : "not",
          "variableType" : "Expression",
          "documentation" : "<p>Return results that don’t match the <code>Expression</code> that you specified.</p>",
          "simpleType" : "Expression",
          "variableSetterType" : "Expression"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Or",
        "c2jShape" : "Expressions",
        "deprecated" : false,
        "documentation" : "<p>Return results that match any of the <code>Expressions</code> that you specified. in the array.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Return results that match any of the <code>Expressions</code> that you specified. in the array.</p>\n@param or Return results that match any of the <code>Expressions</code> that you specified. in the array.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOr",
        "getterDocumentation" : "/**<p>Return results that match any of the <code>Expressions</code> that you specified. in the array.</p>\n@return Return results that match any of the <code>Expressions</code> that you specified. in the array.*/",
        "getterMethodName" : "getOr",
        "getterModel" : {
          "returnType" : "java.util.List<Expression>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Or",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Or",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Expression",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Expression",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Expression",
              "variableName" : "member",
              "variableType" : "Expression",
              "documentation" : "",
              "simpleType" : "Expression",
              "variableSetterType" : "Expression"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Expression",
              "variableName" : "member",
              "variableType" : "Expression",
              "documentation" : "",
              "simpleType" : "Expression",
              "variableSetterType" : "Expression"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Expression",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Expression",
          "templateImplType" : "java.util.ArrayList<Expression>",
          "templateType" : "java.util.List<Expression>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Or",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Return results that match any of the <code>Expressions</code> that you specified. in the array.</p>\n@param or Return results that match any of the <code>Expressions</code> that you specified. in the array.*/",
        "setterMethodName" : "setOr",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Expression>",
          "variableName" : "or",
          "variableType" : "java.util.List<Expression>",
          "documentation" : "",
          "simpleType" : "List<Expression>",
          "variableSetterType" : "java.util.Collection<Expression>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Return results that match any of the <code>Expressions</code> that you specified. in the array.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setOr(java.util.Collection)} or {@link #withOr(java.util.Collection)} if you want to override the existing values.</p>\n@param or Return results that match any of the <code>Expressions</code> that you specified. in the array.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Expression>",
          "variableName" : "or",
          "variableType" : "java.util.List<Expression>",
          "documentation" : "<p>Return results that match any of the <code>Expressions</code> that you specified. in the array.</p>",
          "simpleType" : "List<Expression>",
          "variableSetterType" : "java.util.Collection<Expression>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "And" : {
          "c2jName" : "And",
          "c2jShape" : "Expressions",
          "deprecated" : false,
          "documentation" : "<p>Return results that match all <code>Expressions</code> that you specified in the array.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Return results that match all <code>Expressions</code> that you specified in the array.</p>\n@param and Return results that match all <code>Expressions</code> that you specified in the array.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAnd",
          "getterDocumentation" : "/**<p>Return results that match all <code>Expressions</code> that you specified in the array.</p>\n@return Return results that match all <code>Expressions</code> that you specified in the array.*/",
          "getterMethodName" : "getAnd",
          "getterModel" : {
            "returnType" : "java.util.List<Expression>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "And",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "And",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Expression",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Expression",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Expression",
                "variableName" : "member",
                "variableType" : "Expression",
                "documentation" : "",
                "simpleType" : "Expression",
                "variableSetterType" : "Expression"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Expression",
                "variableName" : "member",
                "variableType" : "Expression",
                "documentation" : "",
                "simpleType" : "Expression",
                "variableSetterType" : "Expression"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Expression",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Expression",
            "templateImplType" : "java.util.ArrayList<Expression>",
            "templateType" : "java.util.List<Expression>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "And",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Return results that match all <code>Expressions</code> that you specified in the array.</p>\n@param and Return results that match all <code>Expressions</code> that you specified in the array.*/",
          "setterMethodName" : "setAnd",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Expression>",
            "variableName" : "and",
            "variableType" : "java.util.List<Expression>",
            "documentation" : "",
            "simpleType" : "List<Expression>",
            "variableSetterType" : "java.util.Collection<Expression>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Return results that match all <code>Expressions</code> that you specified in the array.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAnd(java.util.Collection)} or {@link #withAnd(java.util.Collection)} if you want to override the existing values.</p>\n@param and Return results that match all <code>Expressions</code> that you specified in the array.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Expression>",
            "variableName" : "and",
            "variableType" : "java.util.List<Expression>",
            "documentation" : "<p>Return results that match all <code>Expressions</code> that you specified in the array.</p>",
            "simpleType" : "List<Expression>",
            "variableSetterType" : "java.util.Collection<Expression>"
          },
          "xmlNameSpaceUri" : null
        },
        "Dimensions" : {
          "c2jName" : "Dimensions",
          "c2jShape" : "DimensionValues",
          "deprecated" : false,
          "documentation" : "<p>The specific dimension, values, and match type to filter objects with.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The specific dimension, values, and match type to filter objects with.</p>\n@param dimensions The specific dimension, values, and match type to filter objects with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDimensions",
          "getterDocumentation" : "/**<p>The specific dimension, values, and match type to filter objects with.</p>\n@return The specific dimension, values, and match type to filter objects with.*/",
          "getterMethodName" : "getDimensions",
          "getterModel" : {
            "returnType" : "DimensionValues",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Dimensions",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Dimensions",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Dimensions",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The specific dimension, values, and match type to filter objects with.</p>\n@param dimensions The specific dimension, values, and match type to filter objects with.*/",
          "setterMethodName" : "setDimensions",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "DimensionValues",
            "variableName" : "dimensions",
            "variableType" : "DimensionValues",
            "documentation" : "",
            "simpleType" : "DimensionValues",
            "variableSetterType" : "DimensionValues"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The specific dimension, values, and match type to filter objects with.</p>\n@param dimensions The specific dimension, values, and match type to filter objects with.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "DimensionValues",
            "variableName" : "dimensions",
            "variableType" : "DimensionValues",
            "documentation" : "<p>The specific dimension, values, and match type to filter objects with.</p>",
            "simpleType" : "DimensionValues",
            "variableSetterType" : "DimensionValues"
          },
          "xmlNameSpaceUri" : null
        },
        "Not" : {
          "c2jName" : "Not",
          "c2jShape" : "Expression",
          "deprecated" : false,
          "documentation" : "<p>Return results that don’t match the <code>Expression</code> that you specified.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Return results that don’t match the <code>Expression</code> that you specified.</p>\n@param not Return results that don’t match the <code>Expression</code> that you specified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withNot",
          "getterDocumentation" : "/**<p>Return results that don’t match the <code>Expression</code> that you specified.</p>\n@return Return results that don’t match the <code>Expression</code> that you specified.*/",
          "getterMethodName" : "getNot",
          "getterModel" : {
            "returnType" : "Expression",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Not",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Not",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Not",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Return results that don’t match the <code>Expression</code> that you specified.</p>\n@param not Return results that don’t match the <code>Expression</code> that you specified.*/",
          "setterMethodName" : "setNot",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Expression",
            "variableName" : "not",
            "variableType" : "Expression",
            "documentation" : "",
            "simpleType" : "Expression",
            "variableSetterType" : "Expression"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Return results that don’t match the <code>Expression</code> that you specified.</p>\n@param not Return results that don’t match the <code>Expression</code> that you specified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Expression",
            "variableName" : "not",
            "variableType" : "Expression",
            "documentation" : "<p>Return results that don’t match the <code>Expression</code> that you specified.</p>",
            "simpleType" : "Expression",
            "variableSetterType" : "Expression"
          },
          "xmlNameSpaceUri" : null
        },
        "Or" : {
          "c2jName" : "Or",
          "c2jShape" : "Expressions",
          "deprecated" : false,
          "documentation" : "<p>Return results that match any of the <code>Expressions</code> that you specified. in the array.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Return results that match any of the <code>Expressions</code> that you specified. in the array.</p>\n@param or Return results that match any of the <code>Expressions</code> that you specified. in the array.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withOr",
          "getterDocumentation" : "/**<p>Return results that match any of the <code>Expressions</code> that you specified. in the array.</p>\n@return Return results that match any of the <code>Expressions</code> that you specified. in the array.*/",
          "getterMethodName" : "getOr",
          "getterModel" : {
            "returnType" : "java.util.List<Expression>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Or",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Or",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "Expression",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "Expression",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Expression",
                "variableName" : "member",
                "variableType" : "Expression",
                "documentation" : "",
                "simpleType" : "Expression",
                "variableSetterType" : "Expression"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "Expression",
                "variableName" : "member",
                "variableType" : "Expression",
                "documentation" : "",
                "simpleType" : "Expression",
                "variableSetterType" : "Expression"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "Expression",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "Expression",
            "templateImplType" : "java.util.ArrayList<Expression>",
            "templateType" : "java.util.List<Expression>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Or",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Return results that match any of the <code>Expressions</code> that you specified. in the array.</p>\n@param or Return results that match any of the <code>Expressions</code> that you specified. in the array.*/",
          "setterMethodName" : "setOr",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Expression>",
            "variableName" : "or",
            "variableType" : "java.util.List<Expression>",
            "documentation" : "",
            "simpleType" : "List<Expression>",
            "variableSetterType" : "java.util.Collection<Expression>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Return results that match any of the <code>Expressions</code> that you specified. in the array.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setOr(java.util.Collection)} or {@link #withOr(java.util.Collection)} if you want to override the existing values.</p>\n@param or Return results that match any of the <code>Expressions</code> that you specified. in the array.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<Expression>",
            "variableName" : "or",
            "variableType" : "java.util.List<Expression>",
            "documentation" : "<p>Return results that match any of the <code>Expressions</code> that you specified. in the array.</p>",
            "simpleType" : "List<Expression>",
            "variableSetterType" : "java.util.Collection<Expression>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.freetier.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "Expression",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Expression",
        "variableName" : "expression",
        "variableType" : "Expression",
        "documentation" : null,
        "simpleType" : "Expression",
        "variableSetterType" : "Expression"
      },
      "wrapper" : false
    },
    "FreeTierUsage" : {
      "c2jName" : "FreeTierUsage",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Consists of a Amazon Web Services Free Tier offer’s metadata and your data usage for the offer.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.freetier.model.FreeTierUsage",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "actualUsageAmount",
        "c2jShape" : "GenericDouble",
        "deprecated" : false,
        "documentation" : "<p>Describes the actual usage accrued month-to-day (MTD) that you've used so far.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Describes the actual usage accrued month-to-day (MTD) that you've used so far.</p>\n@param actualUsageAmount Describes the actual usage accrued month-to-day (MTD) that you've used so far.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withActualUsageAmount",
        "getterDocumentation" : "/**<p>Describes the actual usage accrued month-to-day (MTD) that you've used so far.</p>\n@return Describes the actual usage accrued month-to-day (MTD) that you've used so far.*/",
        "getterMethodName" : "getActualUsageAmount",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "actualUsageAmount",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "actualUsageAmount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Double",
        "marshallingType" : "DOUBLE",
        "name" : "ActualUsageAmount",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Describes the actual usage accrued month-to-day (MTD) that you've used so far.</p>\n@param actualUsageAmount Describes the actual usage accrued month-to-day (MTD) that you've used so far.*/",
        "setterMethodName" : "setActualUsageAmount",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "actualUsageAmount",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Describes the actual usage accrued month-to-day (MTD) that you've used so far.</p>\n@param actualUsageAmount Describes the actual usage accrued month-to-day (MTD) that you've used so far.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "actualUsageAmount",
          "variableType" : "Double",
          "documentation" : "<p>Describes the actual usage accrued month-to-day (MTD) that you've used so far.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "description",
        "c2jShape" : "GenericString",
        "deprecated" : false,
        "documentation" : "<p>The description of the Free Tier offer.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The description of the Free Tier offer.</p>\n@param description The description of the Free Tier offer.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDescription",
        "getterDocumentation" : "/**<p>The description of the Free Tier offer.</p>\n@return The description of the Free Tier offer.*/",
        "getterMethodName" : "getDescription",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "description",
[...]
