{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-03-01",
    "asyncClient" : "AmazonFSxAsyncClient",
    "asyncClientBuilderClassName" : "AmazonFSxAsyncClientBuilder",
    "asyncInterface" : "AmazonFSxAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonFSxModuleInjector",
    "defaultEndpoint" : "fsx.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "fsx.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon FSx is a fully managed service that makes it easy for storage and application administrators to launch and use shared file storage.</p>",
    "endpointPrefix" : "fsx",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.fsx",
    "packagePath" : "com/amazonaws/services/fsx",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon FSx",
    "serviceId" : "FSx",
    "serviceName" : "Amazon FSx",
    "signingName" : "fsx",
    "smokeTestsPackageName" : "com.amazonaws.services.fsx.smoketests",
    "syncClient" : "AmazonFSxClient",
    "syncClientBuilderClassName" : "AmazonFSxClientBuilder",
    "syncInterface" : "AmazonFSx",
    "uid" : "fsx-2018-03-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelDataRepositoryTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelDataRepositoryTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelDataRepositoryTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelDataRepositoryTaskRequest, CancelDataRepositoryTaskResult>",
      "asyncReturnType" : "CancelDataRepositoryTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels an existing Amazon FSx for Lustre data repository task if that task is in either the <code>PENDING</code> or <code>EXECUTING</code> state. When you cancel a task, Amazon FSx does the following.</p> <ul> <li> <p>Any files that FSx has already exported are not reverted.</p> </li> <li> <p>FSx continues to export any files that are \"in-flight\" when the cancel operation is received.</p> </li> <li> <p>FSx does not export any files that have not yet been exported.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>A generic error indicating a failure with a client request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The requested operation is not supported for this resource or API.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataRepositoryTaskNotFoundException",
        "documentation" : "<p>The data repository task or tasks you specified could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataRepositoryTaskEndedException",
        "documentation" : "<p>The data repository task could not be canceled because the task has already ended.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>A generic error indicating a server-side failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelDataRepositoryTaskRequest",
        "variableName" : "cancelDataRepositoryTaskRequest",
        "variableType" : "CancelDataRepositoryTaskRequest",
        "documentation" : "<p>Cancels a data repository task.</p>",
        "simpleType" : "CancelDataRepositoryTaskRequest",
        "variableSetterType" : "CancelDataRepositoryTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelDataRepositoryTask",
      "operationName" : "CancelDataRepositoryTask",
      "returnType" : {
        "returnType" : "CancelDataRepositoryTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelDataRepositoryTaskResult"
    },
    "CreateBackup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateBackupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateBackupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateBackupRequest, CreateBackupResult>",
      "asyncReturnType" : "CreateBackupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a backup of an existing Amazon FSx for Windows File Server file system. Creating regular backups for your file system is a best practice that complements the replication that Amazon FSx for Windows File Server performs for your file system. It also enables you to restore from user modification of data.</p> <p>If a backup with the specified client request token exists, and the parameters match, this operation returns the description of the existing backup. If a backup specified client request token exists, and the parameters don't match, this operation returns <code>IncompatibleParameterError</code>. If a backup with the specified client request token doesn't exist, <code>CreateBackup</code> does the following: </p> <ul> <li> <p>Creates a new Amazon FSx backup with an assigned ID, and an initial lifecycle state of <code>CREATING</code>.</p> </li> <li> <p>Returns the description of the backup.</p> </li> </ul> <p>By using the idempotent operation, you can retry a <code>CreateBackup</code> operation without the risk of creating an extra backup. This approach can be useful when an initial call fails in a way that makes it unclear whether a backup was created. If you use the same client request token and the initial call created a backup, the operation returns a successful result because all the parameters are the same.</p> <p>The <code>CreateFileSystem</code> operation returns while the backup's lifecycle state is still <code>CREATING</code>. You can check the file system creation status by calling the <a>DescribeBackups</a> operation, which returns the backup state along with other information.</p> <note> <p/> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>A generic error indicating a failure with a client request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The requested operation is not supported for this resource or API.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>No Amazon FSx file systems were found based upon supplied parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BackupInProgressException",
        "documentation" : "<p>Another backup is already under way. Wait for completion before initiating additional backups of this file system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncompatibleParameterErrorException",
        "documentation" : "<p>The error returned when a second request is received with the same client request token but different parameters settings. A client request token should always uniquely identify a single request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>An error indicating that a particular service limit was exceeded. You can increase some service limits by contacting AWS Support. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>A generic error indicating a server-side failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateBackupRequest",
        "variableName" : "createBackupRequest",
        "variableType" : "CreateBackupRequest",
        "documentation" : "<p>The request object for the <code>CreateBackup</code> operation.</p>",
        "simpleType" : "CreateBackupRequest",
        "variableSetterType" : "CreateBackupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createBackup",
      "operationName" : "CreateBackup",
      "returnType" : {
        "returnType" : "CreateBackupResult",
        "documentation" : "<p>The response object for the <code>CreateBackup</code> operation.</p>"
      },
      "syncReturnType" : "CreateBackupResult"
    },
    "CreateDataRepositoryTask" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDataRepositoryTaskResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDataRepositoryTaskResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDataRepositoryTaskRequest, CreateDataRepositoryTaskResult>",
      "asyncReturnType" : "CreateDataRepositoryTaskResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon FSx for Lustre data repository task. You use data repository tasks to perform bulk operations between your Amazon FSx file system and its linked data repository. An example of a data repository task is exporting any data and metadata changes, including POSIX metadata, to files, directories, and symbolic links (symlinks) from your FSx file system to its linked data repository. A <code>CreateDataRepositoryTask</code> operation will fail if a data repository is not linked to the FSx file system. To learn more about data repository tasks, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/data-repository-tasks.html\">Using Data Repository Tasks</a>. To learn more about linking a data repository to your file system, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/getting-started-step1.html\">Step 1: Create Your Amazon FSx for Lustre File System</a>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>A generic error indicating a failure with a client request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The requested operation is not supported for this resource or API.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>No Amazon FSx file systems were found based upon supplied parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncompatibleParameterErrorException",
        "documentation" : "<p>The error returned when a second request is received with the same client request token but different parameters settings. A client request token should always uniquely identify a single request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>An error indicating that a particular service limit was exceeded. You can increase some service limits by contacting AWS Support. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>A generic error indicating a server-side failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataRepositoryTaskExecutingException",
        "documentation" : "<p>An existing data repository task is currently executing on the file system. Wait until the existing task has completed, then create the new task.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDataRepositoryTaskRequest",
        "variableName" : "createDataRepositoryTaskRequest",
        "variableType" : "CreateDataRepositoryTaskRequest",
        "documentation" : "",
        "simpleType" : "CreateDataRepositoryTaskRequest",
        "variableSetterType" : "CreateDataRepositoryTaskRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataRepositoryTask",
      "operationName" : "CreateDataRepositoryTask",
      "returnType" : {
        "returnType" : "CreateDataRepositoryTaskResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDataRepositoryTaskResult"
    },
    "CreateFileSystem" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFileSystemResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFileSystemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFileSystemRequest, CreateFileSystemResult>",
      "asyncReturnType" : "CreateFileSystemResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new, empty Amazon FSx file system.</p> <p>If a file system with the specified client request token exists and the parameters match, <code>CreateFileSystem</code> returns the description of the existing file system. If a file system specified client request token exists and the parameters don't match, this call returns <code>IncompatibleParameterError</code>. If a file system with the specified client request token doesn't exist, <code>CreateFileSystem</code> does the following: </p> <ul> <li> <p>Creates a new, empty Amazon FSx file system with an assigned ID, and an initial lifecycle state of <code>CREATING</code>.</p> </li> <li> <p>Returns the description of the file system.</p> </li> </ul> <p>This operation requires a client request token in the request that Amazon FSx uses to ensure idempotent creation. This means that calling the operation multiple times with the same client request token has no effect. By using the idempotent operation, you can retry a <code>CreateFileSystem</code> operation without the risk of creating an extra file system. This approach can be useful when an initial call fails in a way that makes it unclear whether a file system was created. Examples are if a transport level timeout occurred, or your connection was reset. If you use the same client request token and the initial call created a file system, the client receives success as long as the parameters are the same.</p> <note> <p>The <code>CreateFileSystem</code> call returns while the file system's lifecycle state is still <code>CREATING</code>. You can check the file-system creation status by calling the <a>DescribeFileSystems</a> operation, which returns the file system state along with other information.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>A generic error indicating a failure with a client request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ActiveDirectoryErrorException",
        "documentation" : "<p>An Active Directory error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncompatibleParameterErrorException",
        "documentation" : "<p>The error returned when a second request is received with the same client request token but different parameters settings. A client request token should always uniquely identify a single request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidImportPathException",
        "documentation" : "<p>The path provided for data repository import isn't valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidExportPathException",
        "documentation" : "<p>The path provided for data repository export isn't valid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNetworkSettingsException",
        "documentation" : "<p>One or more network settings specified in the request are invalid. <code>InvalidVpcId</code> means that the ID passed for the virtual private cloud (VPC) is invalid. <code>InvalidSubnetIds</code> returns the list of IDs for subnets that are either invalid or not part of the VPC specified. <code>InvalidSecurityGroupIds</code> returns the list of IDs for security groups that are either invalid or not part of the VPC specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPerUnitStorageThroughputException",
        "documentation" : "<p>An invalid value for <code>PerUnitStorageThroughput</code> was provided. Please create your file system again, using a valid value.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>An error indicating that a particular service limit was exceeded. You can increase some service limits by contacting AWS Support. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>A generic error indicating a server-side failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingFileSystemConfigurationException",
        "documentation" : "<p>A file system configuration is required for this operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFileSystemRequest",
        "variableName" : "createFileSystemRequest",
        "variableType" : "CreateFileSystemRequest",
        "documentation" : "<p>The request object used to create a new Amazon FSx file system.</p>",
        "simpleType" : "CreateFileSystemRequest",
        "variableSetterType" : "CreateFileSystemRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFileSystem",
      "operationName" : "CreateFileSystem",
      "returnType" : {
        "returnType" : "CreateFileSystemResult",
        "documentation" : "<p>The response object returned after the file system is created.</p>"
      },
      "syncReturnType" : "CreateFileSystemResult"
    },
    "CreateFileSystemFromBackup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFileSystemFromBackupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFileSystemFromBackupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFileSystemFromBackupRequest, CreateFileSystemFromBackupResult>",
      "asyncReturnType" : "CreateFileSystemFromBackupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new Amazon FSx file system from an existing Amazon FSx for Windows File Server backup.</p> <p>If a file system with the specified client request token exists and the parameters match, this operation returns the description of the file system. If a client request token specified by the file system exists and the parameters don't match, this call returns <code>IncompatibleParameterError</code>. If a file system with the specified client request token doesn't exist, this operation does the following:</p> <ul> <li> <p>Creates a new Amazon FSx file system from backup with an assigned ID, and an initial lifecycle state of <code>CREATING</code>.</p> </li> <li> <p>Returns the description of the file system.</p> </li> </ul> <p>Parameters like Active Directory, default share name, automatic backup, and backup settings default to the parameters of the file system that was backed up, unless overridden. You can explicitly supply other settings.</p> <p>By using the idempotent operation, you can retry a <code>CreateFileSystemFromBackup</code> call without the risk of creating an extra file system. This approach can be useful when an initial call fails in a way that makes it unclear whether a file system was created. Examples are if a transport level timeout occurred, or your connection was reset. If you use the same client request token and the initial call created a file system, the client receives success as long as the parameters are the same.</p> <note> <p>The <code>CreateFileSystemFromBackup</code> call returns while the file system's lifecycle state is still <code>CREATING</code>. You can check the file-system creation status by calling the <a>DescribeFileSystems</a> operation, which returns the file system state along with other information.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>A generic error indicating a failure with a client request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ActiveDirectoryErrorException",
        "documentation" : "<p>An Active Directory error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncompatibleParameterErrorException",
        "documentation" : "<p>The error returned when a second request is received with the same client request token but different parameters settings. A client request token should always uniquely identify a single request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNetworkSettingsException",
        "documentation" : "<p>One or more network settings specified in the request are invalid. <code>InvalidVpcId</code> means that the ID passed for the virtual private cloud (VPC) is invalid. <code>InvalidSubnetIds</code> returns the list of IDs for subnets that are either invalid or not part of the VPC specified. <code>InvalidSecurityGroupIds</code> returns the list of IDs for security groups that are either invalid or not part of the VPC specified.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>An error indicating that a particular service limit was exceeded. You can increase some service limits by contacting AWS Support. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BackupNotFoundException",
        "documentation" : "<p>No Amazon FSx backups were found based upon the supplied parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>A generic error indicating a server-side failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingFileSystemConfigurationException",
        "documentation" : "<p>A file system configuration is required for this operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFileSystemFromBackupRequest",
        "variableName" : "createFileSystemFromBackupRequest",
        "variableType" : "CreateFileSystemFromBackupRequest",
        "documentation" : "<p>The request object for the <code>CreateFileSystemFromBackup</code> operation.</p>",
        "simpleType" : "CreateFileSystemFromBackupRequest",
        "variableSetterType" : "CreateFileSystemFromBackupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFileSystemFromBackup",
      "operationName" : "CreateFileSystemFromBackup",
      "returnType" : {
        "returnType" : "CreateFileSystemFromBackupResult",
        "documentation" : "<p>The response object for the <code>CreateFileSystemFromBackup</code> operation.</p>"
      },
      "syncReturnType" : "CreateFileSystemFromBackupResult"
    },
    "DeleteBackup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteBackupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteBackupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteBackupRequest, DeleteBackupResult>",
      "asyncReturnType" : "DeleteBackupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Amazon FSx for Windows File Server backup, deleting its contents. After deletion, the backup no longer exists, and its data is gone.</p> <p>The <code>DeleteBackup</code> call returns instantly. The backup will not show up in later <code>DescribeBackups</code> calls.</p> <important> <p>The data in a deleted backup is also deleted and can't be recovered by any means.</p> </important>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>A generic error indicating a failure with a client request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BackupInProgressException",
        "documentation" : "<p>Another backup is already under way. Wait for completion before initiating additional backups of this file system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BackupNotFoundException",
        "documentation" : "<p>No Amazon FSx backups were found based upon the supplied parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BackupRestoringException",
        "documentation" : "<p>You can't delete a backup while it's being used to restore a file system.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncompatibleParameterErrorException",
        "documentation" : "<p>The error returned when a second request is received with the same client request token but different parameters settings. A client request token should always uniquely identify a single request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>A generic error indicating a server-side failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteBackupRequest",
        "variableName" : "deleteBackupRequest",
        "variableType" : "DeleteBackupRequest",
        "documentation" : "<p>The request object for <code>DeleteBackup</code> operation.</p>",
        "simpleType" : "DeleteBackupRequest",
        "variableSetterType" : "DeleteBackupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteBackup",
      "operationName" : "DeleteBackup",
      "returnType" : {
        "returnType" : "DeleteBackupResult",
        "documentation" : "<p>The response object for <code>DeleteBackup</code> operation.</p>"
      },
      "syncReturnType" : "DeleteBackupResult"
    },
    "DeleteFileSystem" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFileSystemResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFileSystemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFileSystemRequest, DeleteFileSystemResult>",
      "asyncReturnType" : "DeleteFileSystemResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a file system, deleting its contents. After deletion, the file system no longer exists, and its data is gone. Any existing automatic backups will also be deleted.</p> <p>By default, when you delete an Amazon FSx for Windows File Server file system, a final backup is created upon deletion. This final backup is not subject to the file system's retention policy, and must be manually deleted.</p> <p>The <code>DeleteFileSystem</code> action returns while the file system has the <code>DELETING</code> status. You can check the file system deletion status by calling the <a>DescribeFileSystems</a> action, which returns a list of file systems in your account. If you pass the file system ID for a deleted file system, the <a>DescribeFileSystems</a> returns a <code>FileSystemNotFound</code> error.</p> <note> <p>Deleting an Amazon FSx for Lustre file system will fail with a 400 BadRequest if a data repository task is in a <code>PENDING</code> or <code>EXECUTING</code> state.</p> </note> <important> <p>The data in a deleted file system is also deleted and can't be recovered by any means.</p> </important>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>A generic error indicating a failure with a client request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncompatibleParameterErrorException",
        "documentation" : "<p>The error returned when a second request is received with the same client request token but different parameters settings. A client request token should always uniquely identify a single request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>No Amazon FSx file systems were found based upon supplied parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ServiceLimitExceededException",
        "documentation" : "<p>An error indicating that a particular service limit was exceeded. You can increase some service limits by contacting AWS Support. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>A generic error indicating a server-side failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFileSystemRequest",
        "variableName" : "deleteFileSystemRequest",
        "variableType" : "DeleteFileSystemRequest",
        "documentation" : "<p>The request object for <code>DeleteFileSystem</code> operation.</p>",
        "simpleType" : "DeleteFileSystemRequest",
        "variableSetterType" : "DeleteFileSystemRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFileSystem",
      "operationName" : "DeleteFileSystem",
      "returnType" : {
        "returnType" : "DeleteFileSystemResult",
        "documentation" : "<p>The response object for the <code>DeleteFileSystem</code> operation.</p>"
      },
      "syncReturnType" : "DeleteFileSystemResult"
    },
    "DescribeBackups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeBackupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeBackupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeBackupsRequest, DescribeBackupsResult>",
      "asyncReturnType" : "DescribeBackupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the description of specific Amazon FSx for Windows File Server backups, if a <code>BackupIds</code> value is provided for that backup. Otherwise, it returns all backups owned by your AWS account in the AWS Region of the endpoint that you're calling.</p> <p>When retrieving all backups, you can optionally specify the <code>MaxResults</code> parameter to limit the number of backups in a response. If more backups remain, Amazon FSx returns a <code>NextToken</code> value in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response.</p> <p>This action is used in an iterative process to retrieve a list of your backups. <code>DescribeBackups</code> is called first without a <code>NextToken</code>value. Then the action continues to be called with the <code>NextToken</code> parameter set to the value of the last <code>NextToken</code> value until a response has no <code>NextToken</code>.</p> <p>When using this action, keep the following in mind:</p> <ul> <li> <p>The implementation might return fewer than <code>MaxResults</code> file system descriptions while still including a <code>NextToken</code> value.</p> </li> <li> <p>The order of backups returned in the response of one <code>DescribeBackups</code> call and the order of backups returned across the responses of a multi-call iteration is unspecified.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>A generic error indicating a failure with a client request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>No Amazon FSx file systems were found based upon supplied parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "BackupNotFoundException",
        "documentation" : "<p>No Amazon FSx backups were found based upon the supplied parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>A generic error indicating a server-side failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeBackupsRequest",
        "variableName" : "describeBackupsRequest",
        "variableType" : "DescribeBackupsRequest",
        "documentation" : "<p>The request object for <code>DescribeBackups</code> operation.</p>",
        "simpleType" : "DescribeBackupsRequest",
        "variableSetterType" : "DescribeBackupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeBackups",
      "operationName" : "DescribeBackups",
      "returnType" : {
        "returnType" : "DescribeBackupsResult",
        "documentation" : "<p>Response object for <code>DescribeBackups</code> operation.</p>"
      },
      "syncReturnType" : "DescribeBackupsResult"
    },
    "DescribeDataRepositoryTasks" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeDataRepositoryTasksResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeDataRepositoryTasksResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeDataRepositoryTasksRequest, DescribeDataRepositoryTasksResult>",
      "asyncReturnType" : "DescribeDataRepositoryTasksResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the description of specific Amazon FSx for Lustre data repository tasks, if one or more <code>TaskIds</code> values are provided in the request, or if filters are used in the request. You can use filters to narrow the response to include just tasks for specific file systems, or tasks in a specific lifecycle state. Otherwise, it returns all data repository tasks owned by your AWS account in the AWS Region of the endpoint that you're calling.</p> <p>When retrieving all tasks, you can paginate the response by using the optional <code>MaxResults</code> parameter to limit the number of tasks returned in a response. If more tasks remain, Amazon FSx returns a <code>NextToken</code> value in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>A generic error indicating a failure with a client request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>No Amazon FSx file systems were found based upon supplied parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "DataRepositoryTaskNotFoundException",
        "documentation" : "<p>The data repository task or tasks you specified could not be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>A generic error indicating a server-side failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeDataRepositoryTasksRequest",
        "variableName" : "describeDataRepositoryTasksRequest",
        "variableType" : "DescribeDataRepositoryTasksRequest",
        "documentation" : "",
        "simpleType" : "DescribeDataRepositoryTasksRequest",
        "variableSetterType" : "DescribeDataRepositoryTasksRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeDataRepositoryTasks",
      "operationName" : "DescribeDataRepositoryTasks",
      "returnType" : {
        "returnType" : "DescribeDataRepositoryTasksResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeDataRepositoryTasksResult"
    },
    "DescribeFileSystems" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFileSystemsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFileSystemsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFileSystemsRequest, DescribeFileSystemsResult>",
      "asyncReturnType" : "DescribeFileSystemsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the description of specific Amazon FSx file systems, if a <code>FileSystemIds</code> value is provided for that file system. Otherwise, it returns descriptions of all file systems owned by your AWS account in the AWS Region of the endpoint that you're calling.</p> <p>When retrieving all file system descriptions, you can optionally specify the <code>MaxResults</code> parameter to limit the number of descriptions in a response. If more file system descriptions remain, Amazon FSx returns a <code>NextToken</code> value in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response.</p> <p>This action is used in an iterative process to retrieve a list of your file system descriptions. <code>DescribeFileSystems</code> is called first without a <code>NextToken</code>value. Then the action continues to be called with the <code>NextToken</code> parameter set to the value of the last <code>NextToken</code> value until a response has no <code>NextToken</code>.</p> <p>When using this action, keep the following in mind:</p> <ul> <li> <p>The implementation might return fewer than <code>MaxResults</code> file system descriptions while still including a <code>NextToken</code> value.</p> </li> <li> <p>The order of file systems returned in the response of one <code>DescribeFileSystems</code> call and the order of file systems returned across the responses of a multicall iteration is unspecified.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>A generic error indicating a failure with a client request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>No Amazon FSx file systems were found based upon supplied parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>A generic error indicating a server-side failure.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFileSystemsRequest",
        "variableName" : "describeFileSystemsRequest",
        "variableType" : "DescribeFileSystemsRequest",
        "documentation" : "<p>The request object for <code>DescribeFileSystems</code> operation.</p>",
        "simpleType" : "DescribeFileSystemsRequest",
        "variableSetterType" : "DescribeFileSystemsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFileSystems",
      "operationName" : "DescribeFileSystems",
      "returnType" : {
        "returnType" : "DescribeFileSystemsResult",
        "documentation" : "<p>The response object for <code>DescribeFileSystems</code> operation.</p>"
      },
      "syncReturnType" : "DescribeFileSystemsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists tags for an Amazon FSx file systems and backups in the case of Amazon FSx for Windows File Server.</p> <p>When retrieving all tags, you can optionally specify the <code>MaxResults</code> parameter to limit the number of tags in a response. If more tags remain, Amazon FSx returns a <code>NextToken</code> value in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response.</p> <p>This action is used in an iterative process to retrieve a list of your tags. <code>ListTagsForResource</code> is called first without a <code>NextToken</code>value. Then the action continues to be called with the <code>NextToken</code> parameter set to the value of the last <code>NextToken</code> value until a response has no <code>NextToken</code>.</p> <p>When using this action, keep the following in mind:</p> <ul> <li> <p>The implementation might return fewer than <code>MaxResults</code> file system descriptions while still including a <code>NextToken</code> value.</p> </li> <li> <p>The order of tags returned in the response of one <code>ListTagsForResource</code> call and the order of tags returned across the responses of a multi-call iteration is unspecified.</p> </li> </ul>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>A generic error indicating a failure with a client request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>A generic error indicating a server-side failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified by the Amazon Resource Name (ARN) can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotServiceResourceErrorException",
        "documentation" : "<p>The resource specified for the tagging operation is not a resource type owned by Amazon FSx. Use the API of the relevant service to perform the operation. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceDoesNotSupportTaggingException",
        "documentation" : "<p>The resource specified does not support tagging. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "<p>The request object for <code>ListTagsForResource</code> operation.</p>",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "<p>The response object for <code>ListTagsForResource</code> operation.</p>"
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tags an Amazon FSx resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>A generic error indicating a failure with a client request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>A generic error indicating a server-side failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified by the Amazon Resource Name (ARN) can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotServiceResourceErrorException",
        "documentation" : "<p>The resource specified for the tagging operation is not a resource type owned by Amazon FSx. Use the API of the relevant service to perform the operation. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceDoesNotSupportTaggingException",
        "documentation" : "<p>The resource specified does not support tagging. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "<p>The request object for the <code>TagResource</code> operation.</p>",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : "<p>The response object for the <code>TagResource</code> operation.</p>"
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>This action removes a tag from an Amazon FSx resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>A generic error indicating a failure with a client request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>A generic error indicating a server-side failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified by the Amazon Resource Name (ARN) can't be found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NotServiceResourceErrorException",
        "documentation" : "<p>The resource specified for the tagging operation is not a resource type owned by Amazon FSx. Use the API of the relevant service to perform the operation. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceDoesNotSupportTaggingException",
        "documentation" : "<p>The resource specified does not support tagging. </p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "<p>The request object for <code>UntagResource</code> action.</p>",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : "<p>The response object for <code>UntagResource</code> action.</p>"
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateFileSystem" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFileSystemResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFileSystemResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFileSystemRequest, UpdateFileSystemResult>",
      "asyncReturnType" : "UpdateFileSystemResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a file system configuration.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>A generic error indicating a failure with a client request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedOperationException",
        "documentation" : "<p>The requested operation is not supported for this resource or API.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "IncompatibleParameterErrorException",
        "documentation" : "<p>The error returned when a second request is received with the same client request token but different parameters settings. A client request token should always uniquely identify a single request.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>A generic error indicating a server-side failure.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "FileSystemNotFoundException",
        "documentation" : "<p>No Amazon FSx file systems were found based upon supplied parameters.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "MissingFileSystemConfigurationException",
        "documentation" : "<p>A file system configuration is required for this operation.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFileSystemRequest",
        "variableName" : "updateFileSystemRequest",
        "variableType" : "UpdateFileSystemRequest",
        "documentation" : "<p>The request object for the <code>UpdateFileSystem</code> operation.</p>",
        "simpleType" : "UpdateFileSystemRequest",
        "variableSetterType" : "UpdateFileSystemRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFileSystem",
      "operationName" : "UpdateFileSystem",
      "returnType" : {
        "returnType" : "UpdateFileSystemResult",
        "documentation" : "<p>The response object for the <code>UpdateFileSystem</code> operation.</p>"
      },
      "syncReturnType" : "UpdateFileSystemResult"
    }
  },
  "shapes" : {
    "ActiveDirectoryBackupAttributes" : {
      "c2jName" : "ActiveDirectoryBackupAttributes",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The Microsoft AD attributes of the Amazon FSx for Windows File Server file system.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "DomainName",
        "c2jShape" : "ActiveDirectoryFullyQualifiedName",
        "deprecated" : false,
        "documentation" : "<p>The fully qualified domain name of the self-managed AD directory.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The fully qualified domain name of the self-managed AD directory.</p>\n@param domainName The fully qualified domain name of the self-managed AD directory.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDomainName",
        "getterDocumentation" : "/**<p>The fully qualified domain name of the self-managed AD directory.</p>\n@return The fully qualified domain name of the self-managed AD directory.*/",
        "getterMethodName" : "getDomainName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DomainName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DomainName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DomainName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The fully qualified domain name of the self-managed AD directory.</p>\n@param domainName The fully qualified domain name of the self-managed AD directory.*/",
        "setterMethodName" : "setDomainName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The fully qualified domain name of the self-managed AD directory.</p>\n@param domainName The fully qualified domain name of the self-managed AD directory.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "domainName",
          "variableType" : "String",
          "documentation" : "<p>The fully qualified domain name of the self-managed AD directory.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ActiveDirectoryId",
        "c2jShape" : "DirectoryId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.</p>\n@param activeDirectoryId The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withActiveDirectoryId",
        "getterDocumentation" : "/**<p>The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.</p>\n@return The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.*/",
        "getterMethodName" : "getActiveDirectoryId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ActiveDirectoryId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ActiveDirectoryId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ActiveDirectoryId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.</p>\n@param activeDirectoryId The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.*/",
        "setterMethodName" : "setActiveDirectoryId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "activeDirectoryId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.</p>\n@param activeDirectoryId The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "activeDirectoryId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ActiveDirectoryId" : {
          "c2jName" : "ActiveDirectoryId",
          "c2jShape" : "DirectoryId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.</p>\n@param activeDirectoryId The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withActiveDirectoryId",
          "getterDocumentation" : "/**<p>The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.</p>\n@return The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.*/",
          "getterMethodName" : "getActiveDirectoryId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ActiveDirectoryId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ActiveDirectoryId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ActiveDirectoryId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.</p>\n@param activeDirectoryId The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.*/",
          "setterMethodName" : "setActiveDirectoryId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "activeDirectoryId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.</p>\n@param activeDirectoryId The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "activeDirectoryId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DomainName" : {
          "c2jName" : "DomainName",
          "c2jShape" : "ActiveDirectoryFullyQualifiedName",
          "deprecated" : false,
          "documentation" : "<p>The fully qualified domain name of the self-managed AD directory.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The fully qualified domain name of the self-managed AD directory.</p>\n@param domainName The fully qualified domain name of the self-managed AD directory.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDomainName",
          "getterDocumentation" : "/**<p>The fully qualified domain name of the self-managed AD directory.</p>\n@return The fully qualified domain name of the self-managed AD directory.*/",
          "getterMethodName" : "getDomainName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DomainName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DomainName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DomainName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The fully qualified domain name of the self-managed AD directory.</p>\n@param domainName The fully qualified domain name of the self-managed AD directory.*/",
          "setterMethodName" : "setDomainName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "domainName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The fully qualified domain name of the self-managed AD directory.</p>\n@param domainName The fully qualified domain name of the self-managed AD directory.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "domainName",
            "variableType" : "String",
            "documentation" : "<p>The fully qualified domain name of the self-managed AD directory.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ActiveDirectoryBackupAttributes",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ActiveDirectoryBackupAttributes",
        "variableName" : "activeDirectoryBackupAttributes",
        "variableType" : "ActiveDirectoryBackupAttributes",
        "documentation" : null,
        "simpleType" : "ActiveDirectoryBackupAttributes",
        "variableSetterType" : "ActiveDirectoryBackupAttributes"
      },
      "wrapper" : false
    },
    "ActiveDirectoryErrorException" : {
      "c2jName" : "ActiveDirectoryError",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An Active Directory error.</p>",
      "enums" : null,
      "errorCode" : "ActiveDirectoryError",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ActiveDirectoryId",
        "c2jShape" : "DirectoryId",
        "deprecated" : false,
        "documentation" : "<p>The directory ID of the directory that an error pertains to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The directory ID of the directory that an error pertains to.</p>\n@param activeDirectoryId The directory ID of the directory that an error pertains to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withActiveDirectoryId",
        "getterDocumentation" : "/**<p>The directory ID of the directory that an error pertains to.</p>\n@return The directory ID of the directory that an error pertains to.*/",
        "getterMethodName" : "getActiveDirectoryId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ActiveDirectoryId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ActiveDirectoryId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ActiveDirectoryId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The directory ID of the directory that an error pertains to.</p>\n@param activeDirectoryId The directory ID of the directory that an error pertains to.*/",
        "setterMethodName" : "setActiveDirectoryId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "activeDirectoryId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The directory ID of the directory that an error pertains to.</p>\n@param activeDirectoryId The directory ID of the directory that an error pertains to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "activeDirectoryId",
          "variableType" : "String",
          "documentation" : "<p>The directory ID of the directory that an error pertains to.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Type",
        "c2jShape" : "ActiveDirectoryErrorType",
        "deprecated" : false,
        "documentation" : "<p>The type of Active Directory error.</p>",
        "enumType" : "ActiveDirectoryErrorType",
        "fluentSetterDocumentation" : "/**<p>The type of Active Directory error.</p>\n@param type The type of Active Directory error.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ActiveDirectoryErrorType*/",
        "fluentSetterMethodName" : "withType",
        "getterDocumentation" : "/**<p>The type of Active Directory error.</p>\n@return The type of Active Directory error.\n@see ActiveDirectoryErrorType*/",
        "getterMethodName" : "getType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Type",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Type",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The type of Active Directory error.</p>\n@param type The type of Active Directory error.\n@see ActiveDirectoryErrorType*/",
        "setterMethodName" : "setType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of Active Directory error.</p>\n@param type The type of Active Directory error.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ActiveDirectoryErrorType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "<p>The type of Active Directory error.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ActiveDirectoryId" : {
          "c2jName" : "ActiveDirectoryId",
          "c2jShape" : "DirectoryId",
          "deprecated" : false,
          "documentation" : "<p>The directory ID of the directory that an error pertains to.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The directory ID of the directory that an error pertains to.</p>\n@param activeDirectoryId The directory ID of the directory that an error pertains to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withActiveDirectoryId",
          "getterDocumentation" : "/**<p>The directory ID of the directory that an error pertains to.</p>\n@return The directory ID of the directory that an error pertains to.*/",
          "getterMethodName" : "getActiveDirectoryId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ActiveDirectoryId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ActiveDirectoryId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ActiveDirectoryId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The directory ID of the directory that an error pertains to.</p>\n@param activeDirectoryId The directory ID of the directory that an error pertains to.*/",
          "setterMethodName" : "setActiveDirectoryId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "activeDirectoryId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The directory ID of the directory that an error pertains to.</p>\n@param activeDirectoryId The directory ID of the directory that an error pertains to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "activeDirectoryId",
            "variableType" : "String",
            "documentation" : "<p>The directory ID of the directory that an error pertains to.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Type" : {
          "c2jName" : "Type",
          "c2jShape" : "ActiveDirectoryErrorType",
          "deprecated" : false,
          "documentation" : "<p>The type of Active Directory error.</p>",
          "enumType" : "ActiveDirectoryErrorType",
          "fluentSetterDocumentation" : "/**<p>The type of Active Directory error.</p>\n@param type The type of Active Directory error.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ActiveDirectoryErrorType*/",
          "fluentSetterMethodName" : "withType",
          "getterDocumentation" : "/**<p>The type of Active Directory error.</p>\n@return The type of Active Directory error.\n@see ActiveDirectoryErrorType*/",
          "getterMethodName" : "getType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Type",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Type",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Type",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The type of Active Directory error.</p>\n@param type The type of Active Directory error.\n@see ActiveDirectoryErrorType*/",
          "setterMethodName" : "setType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The type of Active Directory error.</p>\n@param type The type of Active Directory error.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ActiveDirectoryErrorType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "type",
            "variableType" : "String",
            "documentation" : "<p>The type of Active Directory error.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ActiveDirectoryId" ],
      "shapeName" : "ActiveDirectoryErrorException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ActiveDirectoryErrorException",
        "variableName" : "activeDirectoryErrorException",
        "variableType" : "ActiveDirectoryErrorException",
        "documentation" : null,
        "simpleType" : "ActiveDirectoryErrorException",
        "variableSetterType" : "ActiveDirectoryErrorException"
      },
      "wrapper" : false
    },
    "ActiveDirectoryErrorType" : {
      "c2jName" : "ActiveDirectoryErrorType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The type of error relating to Microsoft Active Directory. NOT_FOUND means that no directory was found by specifying the given directory. INCOMPATIBLE_MODE means that the directory specified is not a Microsoft AD directory. WRONG_VPC means that the specified directory isn't accessible from the specified VPC. WRONG_STAGE means that the specified directory isn't currently in the ACTIVE state.</p>",
      "enums" : [ {
        "name" : "DOMAIN_NOT_FOUND",
        "value" : "DOMAIN_NOT_FOUND"
      }, {
        "name" : "INCOMPATIBLE_DOMAIN_MODE",
        "value" : "INCOMPATIBLE_DOMAIN_MODE"
      }, {
        "name" : "WRONG_VPC",
        "value" : "WRONG_VPC"
      }, {
        "name" : "INVALID_DOMAIN_STAGE",
        "value" : "INVALID_DOMAIN_STAGE"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ActiveDirectoryErrorType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ActiveDirectoryErrorType",
        "variableName" : "activeDirectoryErrorType",
        "variableType" : "ActiveDirectoryErrorType",
        "documentation" : null,
        "simpleType" : "ActiveDirectoryErrorType",
        "variableSetterType" : "ActiveDirectoryErrorType"
      },
      "wrapper" : false
    },
    "Backup" : {
      "c2jName" : "Backup",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A backup of an Amazon FSx for Windows File Server file system. You can create a new file system from a backup to protect against data loss.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "BackupId",
        "c2jShape" : "BackupId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the backup.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the backup.</p>\n@param backupId The ID of the backup.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withBackupId",
        "getterDocumentation" : "/**<p>The ID of the backup.</p>\n@return The ID of the backup.*/",
        "getterMethodName" : "getBackupId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "BackupId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "BackupId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "BackupId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the backup.</p>\n@param backupId The ID of the backup.*/",
        "setterMethodName" : "setBackupId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "backupId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the backup.</p>\n@param backupId The ID of the backup.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "backupId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the backup.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Lifecycle",
        "c2jShape" : "BackupLifecycle",
        "deprecated" : false,
        "documentation" : "<p>The lifecycle status of the backup.</p>",
        "enumType" : "BackupLifecycle",
        "fluentSetterDocumentation" : "/**<p>The lifecycle status of the backup.</p>\n@param lifecycle The lifecycle status of the backup.\n@return Returns a reference to this object so that method calls can be chained together.\n@see BackupLifecycle*/",
        "fluentSetterMethodName" : "withLifecycle",
        "getterDocumentation" : "/**<p>The lifecycle status of the backup.</p>\n@return The lifecycle status of the backup.\n@see BackupLifecycle*/",
        "getterMethodName" : "getLifecycle",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Lifecycle",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Lifecycle",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Lifecycle",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The lifecycle status of the backup.</p>\n@param lifecycle The lifecycle status of the backup.\n@see BackupLifecycle*/",
        "setterMethodName" : "setLifecycle",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "lifecycle",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The lifecycle status of the backup.</p>\n@param lifecycle The lifecycle status of the backup.\n@return Returns a reference to this object so that method calls can be chained together.\n@see BackupLifecycle*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "lifecycle",
          "variableType" : "String",
          "documentation" : "<p>The lifecycle status of the backup.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "FailureDetails",
        "c2jShape" : "BackupFailureDetails",
        "deprecated" : false,
        "documentation" : "<p>Details explaining any failures that occur when creating a backup.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Details explaining any failures that occur when creating a backup.</p>\n@param failureDetails Details explaining any failures that occur when creating a backup.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFailureDetails",
        "getterDocumentation" : "/**<p>Details explaining any failures that occur when creating a backup.</p>\n@return Details explaining any failures that occur when creating a backup.*/",
        "getterMethodName" : "getFailureDetails",
        "getterModel" : {
          "returnType" : "BackupFailureDetails",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "FailureDetails",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "FailureDetails",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "FailureDetails",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Details explaining any failures that occur when creating a backup.</p>\n@param failureDetails Details explaining any failures that occur when creating a backup.*/",
        "setterMethodName" : "setFailureDetails",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "BackupFailureDetails",
          "variableName" : "failureDetails",
          "variableType" : "BackupFailureDetails",
          "documentation" : "",
          "simpleType" : "BackupFailureDetails",
          "variableSetterType" : "BackupFailureDetails"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Details explaining any failures that occur when creating a backup.</p>\n@param failureDetails Details explaining any failures that occur when creating a backup.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "BackupFailureDetails",
          "variableName" : "failureDetails",
          "variableType" : "BackupFailureDetails",
          "documentation" : "<p>Details explaining any failures that occur when creating a backup.</p>",
          "simpleType" : "BackupFailureDetails",
          "variableSetterType" : "BackupFailureDetails"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Type",
        "c2jShape" : "BackupType",
        "deprecated" : false,
        "documentation" : "<p>The type of the backup.</p>",
        "enumType" : "BackupType",
        "fluentSetterDocumentation" : "/**<p>The type of the backup.</p>\n@param type The type of the backup.\n@return Returns a reference to this object so that method calls can be chained together.\n@see BackupType*/",
        "fluentSetterMethodName" : "withType",
        "getterDocumentation" : "/**<p>The type of the backup.</p>\n@return The type of the backup.\n@see BackupType*/",
        "getterMethodName" : "getType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Type",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Type",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Type",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The type of the backup.</p>\n@param type The type of the backup.\n@see BackupType*/",
        "setterMethodName" : "setType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The type of the backup.</p>\n@param type The type of the backup.\n@return Returns a reference to this object so that method calls can be chained together.\n@see BackupType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "type",
          "variableType" : "String",
          "documentation" : "<p>The type of the backup.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ProgressPercent",
        "c2jShape" : "ProgressPercent",
        "deprecated" : false,
        "documentation" : "",
        "enumType" : null,
[...]
