{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-08-17",
    "asyncClient" : "AWSGameSparksAsyncClient",
    "asyncClientBuilderClassName" : "AWSGameSparksAsyncClientBuilder",
    "asyncInterface" : "AWSGameSparksAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSGameSparksModuleInjector",
    "defaultEndpoint" : "gamesparks.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "gamesparks.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p/>",
    "endpointPrefix" : "gamesparks",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.gamesparks",
    "packagePath" : "com/amazonaws/services/gamesparks",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "GameSparks",
    "serviceId" : "GameSparks",
    "serviceName" : "GameSparks",
    "signingName" : "gamesparks",
    "smokeTestsPackageName" : "com.amazonaws.services.gamesparks.smoketests",
    "syncClient" : "AWSGameSparksClient",
    "syncClientBuilderClassName" : "AWSGameSparksClientBuilder",
    "syncInterface" : "AWSGameSparks",
    "uid" : "gamesparks-2021-08-17",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateGame" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGameResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGameResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGameRequest, CreateGameResult>",
      "asyncReturnType" : "CreateGameResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a new game with an empty configuration. After creating your game, you can update the configuration using <code>UpdateGameConfiguration</code> or <code>ImportGameConfiguration</code>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists, or another operation is in progress.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would result in exceeding service quota.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateGameRequest",
        "variableName" : "createGameRequest",
        "variableType" : "CreateGameRequest",
        "documentation" : "",
        "simpleType" : "CreateGameRequest",
        "variableSetterType" : "CreateGameRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGame",
      "operationName" : "CreateGame",
      "returnType" : {
        "returnType" : "CreateGameResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateGameResult"
    },
    "CreateSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSnapshotRequest, CreateSnapshotResult>",
      "asyncReturnType" : "CreateSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a snapshot of the game configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists, or another operation is in progress.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSnapshotRequest",
        "variableName" : "createSnapshotRequest",
        "variableType" : "CreateSnapshotRequest",
        "documentation" : "",
        "simpleType" : "CreateSnapshotRequest",
        "variableSetterType" : "CreateSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSnapshot",
      "operationName" : "CreateSnapshot",
      "returnType" : {
        "returnType" : "CreateSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSnapshotResult"
    },
    "CreateStage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateStageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateStageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateStageRequest, CreateStageResult>",
      "asyncReturnType" : "CreateStageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new stage for stage-by-stage game development and deployment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists, or another operation is in progress.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateStageRequest",
        "variableName" : "createStageRequest",
        "variableType" : "CreateStageRequest",
        "documentation" : "",
        "simpleType" : "CreateStageRequest",
        "variableSetterType" : "CreateStageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createStage",
      "operationName" : "CreateStage",
      "returnType" : {
        "returnType" : "CreateStageResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateStageResult"
    },
    "DeleteGame" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGameResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGameResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGameRequest, DeleteGameResult>",
      "asyncReturnType" : "DeleteGameResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a game.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists, or another operation is in progress.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteGameRequest",
        "variableName" : "deleteGameRequest",
        "variableType" : "DeleteGameRequest",
        "documentation" : "",
        "simpleType" : "DeleteGameRequest",
        "variableSetterType" : "DeleteGameRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteGame",
      "operationName" : "DeleteGame",
      "returnType" : {
        "returnType" : "DeleteGameResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteGameResult"
    },
    "DeleteStage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteStageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteStageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteStageRequest, DeleteStageResult>",
      "asyncReturnType" : "DeleteStageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a stage from a game, along with the associated game runtime.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists, or another operation is in progress.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteStageRequest",
        "variableName" : "deleteStageRequest",
        "variableType" : "DeleteStageRequest",
        "documentation" : "",
        "simpleType" : "DeleteStageRequest",
        "variableSetterType" : "DeleteStageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteStage",
      "operationName" : "DeleteStage",
      "returnType" : {
        "returnType" : "DeleteStageResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteStageResult"
    },
    "DisconnectPlayer" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisconnectPlayerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisconnectPlayerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisconnectPlayerRequest, DisconnectPlayerResult>",
      "asyncReturnType" : "DisconnectPlayerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disconnects a player from the game runtime.</p> <p> If a player has multiple connections, this operation attempts to close all of them. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisconnectPlayerRequest",
        "variableName" : "disconnectPlayerRequest",
        "variableType" : "DisconnectPlayerRequest",
        "documentation" : "",
        "simpleType" : "DisconnectPlayerRequest",
        "variableSetterType" : "DisconnectPlayerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disconnectPlayer",
      "operationName" : "DisconnectPlayer",
      "returnType" : {
        "returnType" : "DisconnectPlayerResult",
        "documentation" : null
      },
      "syncReturnType" : "DisconnectPlayerResult"
    },
    "ExportSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ExportSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ExportSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ExportSnapshotRequest, ExportSnapshotResult>",
      "asyncReturnType" : "ExportSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Exports a game configuration snapshot.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ExportSnapshotRequest",
        "variableName" : "exportSnapshotRequest",
        "variableType" : "ExportSnapshotRequest",
        "documentation" : "",
        "simpleType" : "ExportSnapshotRequest",
        "variableSetterType" : "ExportSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "exportSnapshot",
      "operationName" : "ExportSnapshot",
      "returnType" : {
        "returnType" : "ExportSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "ExportSnapshotResult"
    },
    "GetExtension" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetExtensionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetExtensionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetExtensionRequest, GetExtensionResult>",
      "asyncReturnType" : "GetExtensionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets details about a specified extension.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetExtensionRequest",
        "variableName" : "getExtensionRequest",
        "variableType" : "GetExtensionRequest",
        "documentation" : "",
        "simpleType" : "GetExtensionRequest",
        "variableSetterType" : "GetExtensionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getExtension",
      "operationName" : "GetExtension",
      "returnType" : {
        "returnType" : "GetExtensionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetExtensionResult"
    },
    "GetExtensionVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetExtensionVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetExtensionVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetExtensionVersionRequest, GetExtensionVersionResult>",
      "asyncReturnType" : "GetExtensionVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets details about a specified extension version.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetExtensionVersionRequest",
        "variableName" : "getExtensionVersionRequest",
        "variableType" : "GetExtensionVersionRequest",
        "documentation" : "",
        "simpleType" : "GetExtensionVersionRequest",
        "variableSetterType" : "GetExtensionVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getExtensionVersion",
      "operationName" : "GetExtensionVersion",
      "returnType" : {
        "returnType" : "GetExtensionVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetExtensionVersionResult"
    },
    "GetGame" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGameResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGameResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGameRequest, GetGameResult>",
      "asyncReturnType" : "GetGameResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets details about a game.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetGameRequest",
        "variableName" : "getGameRequest",
        "variableType" : "GetGameRequest",
        "documentation" : "",
        "simpleType" : "GetGameRequest",
        "variableSetterType" : "GetGameRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGame",
      "operationName" : "GetGame",
      "returnType" : {
        "returnType" : "GetGameResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGameResult"
    },
    "GetGameConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGameConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGameConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGameConfigurationRequest, GetGameConfigurationResult>",
      "asyncReturnType" : "GetGameConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the configuration of the game.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetGameConfigurationRequest",
        "variableName" : "getGameConfigurationRequest",
        "variableType" : "GetGameConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetGameConfigurationRequest",
        "variableSetterType" : "GetGameConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGameConfiguration",
      "operationName" : "GetGameConfiguration",
      "returnType" : {
        "returnType" : "GetGameConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGameConfigurationResult"
    },
    "GetGeneratedCodeJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGeneratedCodeJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGeneratedCodeJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGeneratedCodeJobRequest, GetGeneratedCodeJobResult>",
      "asyncReturnType" : "GetGeneratedCodeJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets details about a job that is generating code for a snapshot.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetGeneratedCodeJobRequest",
        "variableName" : "getGeneratedCodeJobRequest",
        "variableType" : "GetGeneratedCodeJobRequest",
        "documentation" : "",
        "simpleType" : "GetGeneratedCodeJobRequest",
        "variableSetterType" : "GetGeneratedCodeJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGeneratedCodeJob",
      "operationName" : "GetGeneratedCodeJob",
      "returnType" : {
        "returnType" : "GetGeneratedCodeJobResult",
        "documentation" : null
      },
      "syncReturnType" : "GetGeneratedCodeJobResult"
    },
    "GetPlayerConnectionStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetPlayerConnectionStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetPlayerConnectionStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetPlayerConnectionStatusRequest, GetPlayerConnectionStatusResult>",
      "asyncReturnType" : "GetPlayerConnectionStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the status of a player's connection to the game runtime.</p> <p> It's possible for a single player to have multiple connections to the game runtime. If a player is not connected, this operation returns an empty list. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetPlayerConnectionStatusRequest",
        "variableName" : "getPlayerConnectionStatusRequest",
        "variableType" : "GetPlayerConnectionStatusRequest",
        "documentation" : "",
        "simpleType" : "GetPlayerConnectionStatusRequest",
        "variableSetterType" : "GetPlayerConnectionStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getPlayerConnectionStatus",
      "operationName" : "GetPlayerConnectionStatus",
      "returnType" : {
        "returnType" : "GetPlayerConnectionStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetPlayerConnectionStatusResult"
    },
    "GetSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSnapshotRequest, GetSnapshotResult>",
      "asyncReturnType" : "GetSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a copy of the game configuration in a snapshot.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSnapshotRequest",
        "variableName" : "getSnapshotRequest",
        "variableType" : "GetSnapshotRequest",
        "documentation" : "",
        "simpleType" : "GetSnapshotRequest",
        "variableSetterType" : "GetSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSnapshot",
      "operationName" : "GetSnapshot",
      "returnType" : {
        "returnType" : "GetSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSnapshotResult"
    },
    "GetStage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetStageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetStageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStageRequest, GetStageResult>",
      "asyncReturnType" : "GetStageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a stage.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetStageRequest",
        "variableName" : "getStageRequest",
        "variableType" : "GetStageRequest",
        "documentation" : "",
        "simpleType" : "GetStageRequest",
        "variableSetterType" : "GetStageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getStage",
      "operationName" : "GetStage",
      "returnType" : {
        "returnType" : "GetStageResult",
        "documentation" : null
      },
      "syncReturnType" : "GetStageResult"
    },
    "GetStageDeployment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetStageDeploymentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetStageDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetStageDeploymentRequest, GetStageDeploymentResult>",
      "asyncReturnType" : "GetStageDeploymentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a stage deployment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetStageDeploymentRequest",
        "variableName" : "getStageDeploymentRequest",
        "variableType" : "GetStageDeploymentRequest",
        "documentation" : "",
        "simpleType" : "GetStageDeploymentRequest",
        "variableSetterType" : "GetStageDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getStageDeployment",
      "operationName" : "GetStageDeployment",
      "returnType" : {
        "returnType" : "GetStageDeploymentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetStageDeploymentResult"
    },
    "ImportGameConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportGameConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportGameConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportGameConfigurationRequest, ImportGameConfigurationResult>",
      "asyncReturnType" : "ImportGameConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Imports a game configuration.</p> <p> This operation replaces the current configuration of the game with the provided input. This is not a reversible operation. If you want to preserve the previous configuration, use <code>CreateSnapshot</code> to make a new snapshot before importing. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would result in exceeding service quota.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ImportGameConfigurationRequest",
        "variableName" : "importGameConfigurationRequest",
        "variableType" : "ImportGameConfigurationRequest",
        "documentation" : "",
        "simpleType" : "ImportGameConfigurationRequest",
        "variableSetterType" : "ImportGameConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importGameConfiguration",
      "operationName" : "ImportGameConfiguration",
      "returnType" : {
        "returnType" : "ImportGameConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportGameConfigurationResult"
    },
    "ListExtensionVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListExtensionVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListExtensionVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListExtensionVersionsRequest, ListExtensionVersionsResult>",
      "asyncReturnType" : "ListExtensionVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a paginated list of available versions for the extension.</p> <p> Each time an API change is made to an extension, the version is incremented. The list retrieved by this operation shows the versions that are currently available. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListExtensionVersionsRequest",
        "variableName" : "listExtensionVersionsRequest",
        "variableType" : "ListExtensionVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListExtensionVersionsRequest",
        "variableSetterType" : "ListExtensionVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listExtensionVersions",
      "operationName" : "ListExtensionVersions",
      "returnType" : {
        "returnType" : "ListExtensionVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListExtensionVersionsResult"
    },
    "ListExtensions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListExtensionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListExtensionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListExtensionsRequest, ListExtensionsResult>",
      "asyncReturnType" : "ListExtensionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a paginated list of available extensions.</p> <p> Extensions provide features that games can use from scripts. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListExtensionsRequest",
        "variableName" : "listExtensionsRequest",
        "variableType" : "ListExtensionsRequest",
        "documentation" : "",
        "simpleType" : "ListExtensionsRequest",
        "variableSetterType" : "ListExtensionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listExtensions",
      "operationName" : "ListExtensions",
      "returnType" : {
        "returnType" : "ListExtensionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListExtensionsResult"
    },
    "ListGames" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGamesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGamesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGamesRequest, ListGamesResult>",
      "asyncReturnType" : "ListGamesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a paginated list of games.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListGamesRequest",
        "variableName" : "listGamesRequest",
        "variableType" : "ListGamesRequest",
        "documentation" : "",
        "simpleType" : "ListGamesRequest",
        "variableSetterType" : "ListGamesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGames",
      "operationName" : "ListGames",
      "returnType" : {
        "returnType" : "ListGamesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGamesResult"
    },
    "ListGeneratedCodeJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGeneratedCodeJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGeneratedCodeJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGeneratedCodeJobsRequest, ListGeneratedCodeJobsResult>",
      "asyncReturnType" : "ListGeneratedCodeJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a paginated list of code generation jobs for a snapshot.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListGeneratedCodeJobsRequest",
        "variableName" : "listGeneratedCodeJobsRequest",
        "variableType" : "ListGeneratedCodeJobsRequest",
        "documentation" : "",
        "simpleType" : "ListGeneratedCodeJobsRequest",
        "variableSetterType" : "ListGeneratedCodeJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGeneratedCodeJobs",
      "operationName" : "ListGeneratedCodeJobs",
      "returnType" : {
        "returnType" : "ListGeneratedCodeJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGeneratedCodeJobsResult"
    },
    "ListSnapshots" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSnapshotsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSnapshotsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSnapshotsRequest, ListSnapshotsResult>",
      "asyncReturnType" : "ListSnapshotsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a paginated list of snapshot summaries from the game.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSnapshotsRequest",
        "variableName" : "listSnapshotsRequest",
        "variableType" : "ListSnapshotsRequest",
        "documentation" : "",
        "simpleType" : "ListSnapshotsRequest",
        "variableSetterType" : "ListSnapshotsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSnapshots",
      "operationName" : "ListSnapshots",
      "returnType" : {
        "returnType" : "ListSnapshotsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSnapshotsResult"
    },
    "ListStageDeployments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListStageDeploymentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListStageDeploymentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStageDeploymentsRequest, ListStageDeploymentsResult>",
      "asyncReturnType" : "ListStageDeploymentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a paginated list of stage deployment summaries from the game.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListStageDeploymentsRequest",
        "variableName" : "listStageDeploymentsRequest",
        "variableType" : "ListStageDeploymentsRequest",
        "documentation" : "",
        "simpleType" : "ListStageDeploymentsRequest",
        "variableSetterType" : "ListStageDeploymentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listStageDeployments",
      "operationName" : "ListStageDeployments",
      "returnType" : {
        "returnType" : "ListStageDeploymentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListStageDeploymentsResult"
    },
    "ListStages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListStagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListStagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListStagesRequest, ListStagesResult>",
      "asyncReturnType" : "ListStagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a paginated list of stage summaries from the game.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListStagesRequest",
        "variableName" : "listStagesRequest",
        "variableType" : "ListStagesRequest",
        "documentation" : "",
        "simpleType" : "ListStagesRequest",
        "variableSetterType" : "ListStagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listStages",
      "operationName" : "ListStages",
      "returnType" : {
        "returnType" : "ListStagesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListStagesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags associated with a GameSparks resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "StartGeneratedCodeJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartGeneratedCodeJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartGeneratedCodeJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartGeneratedCodeJobRequest, StartGeneratedCodeJobResult>",
      "asyncReturnType" : "StartGeneratedCodeJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Starts an asynchronous process that generates client code for system-defined and custom messages. The resulting code is collected as a .zip file and uploaded to a pre-signed Amazon S3 URL. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartGeneratedCodeJobRequest",
        "variableName" : "startGeneratedCodeJobRequest",
        "variableType" : "StartGeneratedCodeJobRequest",
        "documentation" : "",
        "simpleType" : "StartGeneratedCodeJobRequest",
        "variableSetterType" : "StartGeneratedCodeJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startGeneratedCodeJob",
      "operationName" : "StartGeneratedCodeJob",
      "returnType" : {
        "returnType" : "StartGeneratedCodeJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartGeneratedCodeJobResult"
    },
    "StartStageDeployment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartStageDeploymentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartStageDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartStageDeploymentRequest, StartStageDeploymentResult>",
      "asyncReturnType" : "StartStageDeploymentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deploys a snapshot to the stage and creates a new game runtime.</p> <p> After you call this operation, you can check the deployment status by using <code>GetStageDeployment</code>. </p> <p> If there are any players connected to the previous game runtime, then both runtimes persist. Existing connections to the previous runtime are maintained. When players disconnect and reconnect, they connect to the new runtime. After there are no connections to the previous game runtime, it is deleted. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The resource already exists, or another operation is in progress.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartStageDeploymentRequest",
        "variableName" : "startStageDeploymentRequest",
        "variableType" : "StartStageDeploymentRequest",
        "documentation" : "",
        "simpleType" : "StartStageDeploymentRequest",
        "variableSetterType" : "StartStageDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startStageDeployment",
      "operationName" : "StartStageDeployment",
      "returnType" : {
        "returnType" : "StartStageDeploymentResult",
        "documentation" : null
      },
      "syncReturnType" : "StartStageDeploymentResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds tags to a GameSparks resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from a GameSparks resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateGame" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateGameResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateGameResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateGameRequest, UpdateGameResult>",
      "asyncReturnType" : "UpdateGameResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates details of the game.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateGameRequest",
        "variableName" : "updateGameRequest",
        "variableType" : "UpdateGameRequest",
        "documentation" : "",
        "simpleType" : "UpdateGameRequest",
        "variableSetterType" : "UpdateGameRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateGame",
      "operationName" : "UpdateGame",
      "returnType" : {
        "returnType" : "UpdateGameResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateGameResult"
    },
    "UpdateGameConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateGameConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateGameConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateGameConfigurationRequest, UpdateGameConfigurationResult>",
      "asyncReturnType" : "UpdateGameConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates one or more sections of the game configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would result in exceeding service quota.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateGameConfigurationRequest",
        "variableName" : "updateGameConfigurationRequest",
        "variableType" : "UpdateGameConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateGameConfigurationRequest",
        "variableSetterType" : "UpdateGameConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateGameConfiguration",
      "operationName" : "UpdateGameConfiguration",
      "returnType" : {
        "returnType" : "UpdateGameConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateGameConfigurationResult"
    },
    "UpdateSnapshot" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSnapshotResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSnapshotResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSnapshotRequest, UpdateSnapshotResult>",
      "asyncReturnType" : "UpdateSnapshotResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the metadata of a GameSparks snapshot.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSnapshotRequest",
        "variableName" : "updateSnapshotRequest",
        "variableType" : "UpdateSnapshotRequest",
        "documentation" : "",
        "simpleType" : "UpdateSnapshotRequest",
        "variableSetterType" : "UpdateSnapshotRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSnapshot",
      "operationName" : "UpdateSnapshot",
      "returnType" : {
        "returnType" : "UpdateSnapshotResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSnapshotResult"
    },
    "UpdateStage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateStageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateStageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateStageRequest, UpdateStageResult>",
      "asyncReturnType" : "UpdateStageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the metadata of a stage.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request throughput limit was exceeded.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The resource specified in the request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The service encountered an internal error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateStageRequest",
        "variableName" : "updateStageRequest",
        "variableType" : "UpdateStageRequest",
        "documentation" : "",
        "simpleType" : "UpdateStageRequest",
        "variableSetterType" : "UpdateStageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateStage",
      "operationName" : "UpdateStage",
      "returnType" : {
        "returnType" : "UpdateStageResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateStageResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.gamesparks.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.gamesparks.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The resource already exists, or another operation is in progress.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.gamesparks.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.gamesparks.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "Connection" : {
      "c2jName" : "Connection",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Details about a WebSocket connection.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.gamesparks.model.Connection",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Created",
        "c2jShape" : "DateTime",
        "deprecated" : false,
        "documentation" : "<p>The date and time when the connection was created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date and time when the connection was created.</p>\n@param created The date and time when the connection was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreated",
        "getterDocumentation" : "/**<p>The date and time when the connection was created.</p>\n@return The date and time when the connection was created.*/",
        "getterMethodName" : "getCreated",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Created",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Created",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "Created",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date and time when the connection was created.</p>\n@param created The date and time when the connection was created.*/",
        "setterMethodName" : "setCreated",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "created",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date and time when the connection was created.</p>\n@param created The date and time when the connection was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "iso8601",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "created",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date and time when the connection was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Id",
        "c2jShape" : "ConnectionId",
        "deprecated" : false,
        "documentation" : "<p>The identifier used to indicate a specific WebSocket connection.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier used to indicate a specific WebSocket connection.</p>\n@param id The identifier used to indicate a specific WebSocket connection.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withId",
        "getterDocumentation" : "/**<p>The identifier used to indicate a specific WebSocket connection.</p>\n@return The identifier used to indicate a specific WebSocket connection.*/",
        "getterMethodName" : "getId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Id",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Id",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Id",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier used to indicate a specific WebSocket connection.</p>\n@param id The identifier used to indicate a specific WebSocket connection.*/",
        "setterMethodName" : "setId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier used to indicate a specific WebSocket connection.</p>\n@param id The identifier used to indicate a specific WebSocket connection.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "id",
          "variableType" : "String",
          "documentation" : "<p>The identifier used to indicate a specific WebSocket connection.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Created" : {
          "c2jName" : "Created",
          "c2jShape" : "DateTime",
          "deprecated" : false,
          "documentation" : "<p>The date and time when the connection was created.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The date and time when the connection was created.</p>\n@param created The date and time when the connection was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCreated",
          "getterDocumentation" : "/**<p>The date and time when the connection was created.</p>\n@return The date and time when the connection was created.*/",
          "getterMethodName" : "getCreated",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Created",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Created",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "Created",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The date and time when the connection was created.</p>\n@param created The date and time when the connection was created.*/",
          "setterMethodName" : "setCreated",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "created",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The date and time when the connection was created.</p>\n@param created The date and time when the connection was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "iso8601",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "created",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The date and time when the connection was created.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "Id" : {
          "c2jName" : "Id",
          "c2jShape" : "ConnectionId",
          "deprecated" : false,
          "documentation" : "<p>The identifier used to indicate a specific WebSocket connection.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The identifier used to indicate a specific WebSocket connection.</p>\n@param id The identifier used to indicate a specific WebSocket connection.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withId",
          "getterDocumentation" : "/**<p>The identifier used to indicate a specific WebSocket connection.</p>\n@return The identifier used to indicate a specific WebSocket connection.*/",
          "getterMethodName" : "getId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Id",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Id",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Id",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The identifier used to indicate a specific WebSocket connection.</p>\n@param id The identifier used to indicate a specific WebSocket connection.*/",
          "setterMethodName" : "setId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The identifier used to indicate a specific WebSocket connection.</p>\n@param id The identifier used to indicate a specific WebSocket connection.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "id",
            "variableType" : "String",
            "documentation" : "<p>The identifier used to indicate a specific WebSocket connection.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.gamesparks.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "Connection",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Connection",
        "variableName" : "connection",
        "variableType" : "Connection",
        "documentation" : null,
        "simpleType" : "Connection",
        "variableSetterType" : "Connection"
      },
      "wrapper" : false
    },
    "CreateGameRequest" : {
      "c2jName" : "CreateGameRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.gamesparks.request.CreateGameRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateGame",
        "locationName" : null,
        "requestUri" : "/game",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "ClientToken",
        "c2jShape" : "ClientToken",
        "deprecated" : false,
        "documentation" : "<p> A client-defined token. With an active client token in the request, this action is idempotent. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> A client-defined token. With an active client token in the request, this action is idempotent. </p>\n@param clientToken A client-defined token. With an active client token in the request, this action is idempotent.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p> A client-defined token. With an active client token in the request, this action is idempotent. </p>\n@return A client-defined token. With an active client token in the request, this action is idempotent.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ClientToken",
          "queryString" : false,
          "requiresLength" : false,
[...]
