{
  "metadata" : {
    "apiVersion" : "2015-10-01",
    "endpointPrefix" : "gamelift",
    "jsonVersion" : "1.1",
    "protocol" : "json",
    "resultWrapped" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon GameLift",
    "signatureVersion" : "v4",
    "signingName" : "gamelift",
    "targetPrefix" : "GameLift",
    "xmlNamespace" : null
  },
  "operations" : {
    "CreateAlias" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Creates an alias for a fleet. You can use an alias to anonymize your fleet by referencing an alias instead of a specific fleet when you create game sessions. Amazon GameLift supports two types of routing strategies for aliases: simple and terminal. Use a simple alias to point to an active fleet. Use a terminal alias to display a message to incoming traffic instead of routing players to an active fleet. This option is useful when a game server is no longer supported but you want to provide better messaging than a standard 404 error.</p> <p>To create a fleet alias, specify an alias name, routing strategy, and optional description. If successful, a new alias record is returned, including an alias ID, which you can reference when creating a game session. To reassign the alias to another fleet ID, call <a>UpdateAlias</a>.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateAliasInput",
        "xmlNamespace" : null
      },
      "name" : "CreateAlias",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateAliasOutput"
      }
    },
    "CreateBuild" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Initializes a new build record and generates information required to upload a game build to Amazon GameLift. Once the build record has been created and its status is <code>INITIALIZED</code>, you can upload your game build.</p> <important> <p>Do not use this API action unless you are using your own Amazon Simple Storage Service (Amazon S3) client and need to manually upload your build files. Instead, to create a build, use the CLI command <code>upload-build</code>, which creates a new build record and uploads the build files in one step. (See the <a href=\"http://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-build-intro.html\">Amazon GameLift Developer Guide</a> help on packaging and uploading your build.) </p> </important> <p>To create a new build, identify the operating system of the game server binaries. All game servers in a build must use the same operating system. Optionally, specify a build name and version; this metadata is stored with other properties in the build record and is displayed in the GameLift console (it is not visible to players). If successful, this action returns the newly created build record along with the Amazon S3 storage location and AWS account credentials. Use the location and credentials to upload your game build.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateBuildInput",
        "xmlNamespace" : null
      },
      "name" : "CreateBuild",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateBuildOutput"
      }
    },
    "CreateFleet" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Creates a new fleet to run your game servers. A fleet is a set of Amazon Elastic Compute Cloud (Amazon EC2) instances, each of which can run multiple server processes to host game sessions. You configure a fleet to create instances with certain hardware specifications (see <a href=\"http://aws.amazon.com/ec2/instance-types/\">Amazon EC2 Instance Types</a> for more information), and deploy a specified game build to each instance. A newly created fleet passes through several statuses; once it reaches the <code>ACTIVE</code> status, it can begin hosting game sessions.</p> <p>To create a new fleet, provide a fleet name, an EC2 instance type, and a build ID of the game build to deploy. You can also configure the new fleet with the following settings: (1) a runtime configuration describing what server processes to run on each instance in the fleet (required to create fleet), (2) access permissions for inbound traffic, (3) fleet-wide game session protection, and (4) the location of default log files for GameLift to upload and store.</p> <p>If the <code>CreateFleet</code> call is successful, Amazon GameLift performs the following tasks:</p> <ul> <li> <p>Creates a fleet record and sets the status to <code>NEW</code> (followed by other statuses as the fleet is activated).</p> </li> <li> <p>Sets the fleet's capacity to 1 \"desired\", which causes GameLift to start one new EC2 instance.</p> </li> <li> <p>Starts launching server processes on the instance. If the fleet is configured to run multiple server processes per instance, GameLift staggers each launch by a few seconds.</p> </li> <li> <p>Begins writing events to the fleet event log, which can be accessed in the GameLift console.</p> </li> <li> <p>Sets the fleet's status to <code>ACTIVE</code> once one server process in the fleet is ready to host a game session.</p> </li> </ul> <p>After a fleet is created, use the following actions to change fleet properties and configuration:</p> <ul> <li> <p> <a>UpdateFleetAttributes</a> -- Update fleet metadata, including name and description.</p> </li> <li> <p> <a>UpdateFleetCapacity</a> -- Increase or decrease the number of instances you want the fleet to maintain.</p> </li> <li> <p> <a>UpdateFleetPortSettings</a> -- Change the IP address and port ranges that allow access to incoming traffic.</p> </li> <li> <p> <a>UpdateRuntimeConfiguration</a> -- Change how server processes are launched in the fleet, including launch path, launch parameters, and the number of concurrent processes.</p> </li> </ul>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateFleetInput",
        "xmlNamespace" : null
      },
      "name" : "CreateFleet",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateFleetOutput"
      }
    },
    "CreateGameSession" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Creates a multiplayer game session for players. This action creates a game session record and assigns an available server process in the specified fleet to host the game session. A fleet must be in an <code>ACTIVE</code> status before a game session can be created in it.</p> <p>To create a game session, specify either fleet ID or alias ID, and indicate a maximum number of players to allow in the game session. You can also provide a name and game-specific properties for this game session. If successful, a <a>GameSession</a> object is returned containing session properties, including an IP address. By default, newly created game sessions allow new players to join. Use <a>UpdateGameSession</a> to change the game sessions player session creation policy.</p> <p>When creating a game session on a fleet with a resource limit creation policy, the request should include a creator ID. If none is provided, GameLift does not evaluate the fleet's resource limit creation policy.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidFleetStatusException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TerminalRoutingStrategyException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "FleetCapacityExceededException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "IdempotentParameterMismatchException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateGameSessionInput",
        "xmlNamespace" : null
      },
      "name" : "CreateGameSession",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateGameSessionOutput"
      }
    },
    "CreatePlayerSession" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Adds a player to a game session and creates a player session record. A game session must be in an <code>ACTIVE</code> status, have a creation policy of <code>ALLOW_ALL</code>, and have an open player slot before players can be added to the session.</p> <p>To create a player session, specify a game session ID and player ID. If successful, the player is added to the game session and a new <a>PlayerSession</a> object is returned. </p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidGameSessionStatusException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "GameSessionFullException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TerminalRoutingStrategyException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreatePlayerSessionInput",
        "xmlNamespace" : null
      },
      "name" : "CreatePlayerSession",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreatePlayerSessionOutput"
      }
    },
    "CreatePlayerSessions" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Adds a group of players to a game session. Similar to <a>CreatePlayerSession</a>, this action allows you to add multiple players in a single call, which is useful for games that provide party and/or matchmaking features. A game session must be in an <code>ACTIVE</code> status, have a creation policy of <code>ALLOW_ALL</code>, and have an open player slot before players can be added to the session.</p> <p>To create player sessions, specify a game session ID and a list of player IDs. If successful, the players are added to the game session and a set of new <a>PlayerSession</a> objects is returned. </p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidGameSessionStatusException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "GameSessionFullException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TerminalRoutingStrategyException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreatePlayerSessionsInput",
        "xmlNamespace" : null
      },
      "name" : "CreatePlayerSessions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreatePlayerSessionsOutput"
      }
    },
    "DeleteAlias" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Deletes an alias. This action removes all record of the alias; game clients attempting to access a server process using the deleted alias receive an error. To delete an alias, specify the alias ID to be deleted.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteAliasInput",
        "xmlNamespace" : null
      },
      "name" : "DeleteAlias",
      "output" : null
    },
    "DeleteBuild" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Deletes a build. This action permanently deletes the build record and any uploaded build files.</p> <p>To delete a build, specify its ID. Deleting a build does not affect the status of any active fleets using the build, but you can no longer create new fleets with the deleted build.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteBuildInput",
        "xmlNamespace" : null
      },
      "name" : "DeleteBuild",
      "output" : null
    },
    "DeleteFleet" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Deletes everything related to a fleet. Before deleting a fleet, you must set the fleet's desired capacity to zero. See <a>UpdateFleetCapacity</a>.</p> <p>This action removes the fleet's resources and the fleet record. Once a fleet is deleted, you can no longer use that fleet.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidFleetStatusException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteFleetInput",
        "xmlNamespace" : null
      },
      "name" : "DeleteFleet",
      "output" : null
    },
    "DeleteScalingPolicy" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Deletes a fleet scaling policy. This action means that the policy is no longer in force and removes all record of it. To delete a scaling policy, specify both the scaling policy name and the fleet ID it is associated with.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteScalingPolicyInput",
        "xmlNamespace" : null
      },
      "name" : "DeleteScalingPolicy",
      "output" : null
    },
    "DescribeAlias" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves properties for a specified alias. To get the alias, specify an alias ID. If successful, an <a>Alias</a> object is returned.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeAliasInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeAlias",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeAliasOutput"
      }
    },
    "DescribeBuild" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves properties for a build. To get a build record, specify a build ID. If successful, an object containing the build properties is returned.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeBuildInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeBuild",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeBuildOutput"
      }
    },
    "DescribeEC2InstanceLimits" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the following information for the specified EC2 instance type:</p> <ul> <li> <p>maximum number of instances allowed per AWS account (service limit)</p> </li> <li> <p>current usage level for the AWS account</p> </li> </ul> <p>Service limits vary depending on region. Available regions for GameLift can be found in the AWS Management Console for GameLift (see the drop-down list in the upper right corner).</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeEC2InstanceLimitsInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeEC2InstanceLimits",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeEC2InstanceLimitsOutput"
      }
    },
    "DescribeFleetAttributes" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves fleet properties, including metadata, status, and configuration, for one or more fleets. You can request attributes for all fleets, or specify a list of one or more fleet IDs. When requesting multiple fleets, use the pagination parameters to retrieve results as a set of sequential pages. If successful, a <a>FleetAttributes</a> object is returned for each requested fleet ID. When specifying a list of fleet IDs, attribute objects are returned only for fleets that currently exist. </p> <note> <p>Some API actions may limit the number of fleet IDs allowed in one request. If a request exceeds this limit, the request fails and the error message includes the maximum allowed.</p> </note>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeFleetAttributesInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeFleetAttributes",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeFleetAttributesOutput"
      }
    },
    "DescribeFleetCapacity" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the current status of fleet capacity for one or more fleets. This information includes the number of instances that have been requested for the fleet and the number currently active. You can request capacity for all fleets, or specify a list of one or more fleet IDs. When requesting multiple fleets, use the pagination parameters to retrieve results as a set of sequential pages. If successful, a <a>FleetCapacity</a> object is returned for each requested fleet ID. When specifying a list of fleet IDs, attribute objects are returned only for fleets that currently exist. </p> <note> <p>Some API actions may limit the number of fleet IDs allowed in one request. If a request exceeds this limit, the request fails and the error message includes the maximum allowed.</p> </note>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeFleetCapacityInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeFleetCapacity",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeFleetCapacityOutput"
      }
    },
    "DescribeFleetEvents" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves entries from the specified fleet's event log. You can specify a time range to limit the result set. Use the pagination parameters to retrieve results as a set of sequential pages. If successful, a collection of event log entries matching the request are returned.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeFleetEventsInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeFleetEvents",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeFleetEventsOutput"
      }
    },
    "DescribeFleetPortSettings" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the inbound connection permissions for a fleet. Connection permissions include a range of IP addresses and port settings that incoming traffic can use to access server processes in the fleet. To get a fleet's inbound connection permissions, specify a fleet ID. If successful, a collection of <a>IpPermission</a> objects is returned for the requested fleet ID. If the requested fleet has been deleted, the result set is empty.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeFleetPortSettingsInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeFleetPortSettings",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeFleetPortSettingsOutput"
      }
    },
    "DescribeFleetUtilization" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves utilization statistics for one or more fleets. You can request utilization data for all fleets, or specify a list of one or more fleet IDs. When requesting multiple fleets, use the pagination parameters to retrieve results as a set of sequential pages. If successful, a <a>FleetUtilization</a> object is returned for each requested fleet ID. When specifying a list of fleet IDs, utilization objects are returned only for fleets that currently exist. </p> <note> <p>Some API actions may limit the number of fleet IDs allowed in one request. If a request exceeds this limit, the request fails and the error message includes the maximum allowed.</p> </note>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeFleetUtilizationInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeFleetUtilization",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeFleetUtilizationOutput"
      }
    },
    "DescribeGameSessionDetails" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves properties, including the protection policy in force, for one or more game sessions. This action can be used in several ways: (1) provide a <code>GameSessionId</code> to request details for a specific game session; (2) provide either a <code>FleetId</code> or an <code>AliasId</code> to request properties for all game sessions running on a fleet. </p> <p>To get game session record(s), specify just one of the following: game session ID, fleet ID, or alias ID. You can filter this request by game session status. Use the pagination parameters to retrieve results as a set of sequential pages. If successful, a <a>GameSessionDetail</a> object is returned for each session matching the request.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TerminalRoutingStrategyException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeGameSessionDetailsInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeGameSessionDetails",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeGameSessionDetailsOutput"
      }
    },
    "DescribeGameSessions" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a set of one or more game sessions and properties. This action can be used in several ways: (1) provide a <code>GameSessionId</code> to request properties for a specific game session; (2) provide a <code>FleetId</code> or an <code>AliasId</code> to request properties for all game sessions running on a fleet. You can also use <a>SearchGameSessions</a>, which allows you to retrieve all game sessions or filter on certain criteria, but only returns game sessions with a status of ACTIVE. If you need to retrieve the protection policy for each game session, use <a>DescribeGameSessionDetails</a>.</p> <p>To get game session record(s), specify just one of the following: game session ID, fleet ID, or alias ID. You can filter this request by game session status. Use the pagination parameters to retrieve results as a set of sequential pages. If successful, a <a>GameSession</a> object is returned for each session matching the request.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TerminalRoutingStrategyException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeGameSessionsInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeGameSessions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeGameSessionsOutput"
      }
    },
    "DescribeInstances" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a fleet's instances, including instance IDs. Use this action to get details on all instances in the fleet or get details on one specific instance.</p> <p>To get a specific instance, specify fleet ID and instance ID. To get all instances in a fleet, specify a fleet ID only. Use the pagination parameters to retrieve results as a set of sequential pages. If successful, an <a>Instance</a> object is returned for each result.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeInstancesInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeInstances",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeInstancesOutput"
      }
    },
    "DescribePlayerSessions" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves properties for one or more player sessions. This action can be used in several ways: (1) provide a <code>PlayerSessionId</code> parameter to request properties for a specific player session; (2) provide a <code>GameSessionId</code> parameter to request properties for all player sessions in the specified game session; (3) provide a <code>PlayerId</code> parameter to request properties for all player sessions of a specified player. </p> <p>To get game session record(s), specify only one of the following: a player session ID, a game session ID, or a player ID. You can filter this request by player session status. Use the pagination parameters to retrieve results as a set of sequential pages. If successful, a <a>PlayerSession</a> object is returned for each session matching the request.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribePlayerSessionsInput",
        "xmlNamespace" : null
      },
      "name" : "DescribePlayerSessions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribePlayerSessionsOutput"
      }
    },
    "DescribeRuntimeConfiguration" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the current runtime configuration for the specified fleet. The runtime configuration tells GameLift how to launch server processes on instances in the fleet.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeRuntimeConfigurationInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeRuntimeConfiguration",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeRuntimeConfigurationOutput"
      }
    },
    "DescribeScalingPolicies" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves all scaling policies applied to a fleet.</p> <p>To get a fleet's scaling policies, specify the fleet ID. You can filter this request by policy status, such as to retrieve only active scaling policies. Use the pagination parameters to retrieve results as a set of sequential pages. If successful, set of <a>ScalingPolicy</a> objects is returned for the fleet.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DescribeScalingPoliciesInput",
        "xmlNamespace" : null
      },
      "name" : "DescribeScalingPolicies",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeScalingPoliciesOutput"
      }
    },
    "GetGameSessionLogUrl" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the location of stored game session logs for a specified game session. When a game session is terminated, Amazon GameLift automatically stores the logs in Amazon S3. Use this URL to download the logs.</p> <note> <p>See the <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_gamelift\">AWS Service Limits</a> page for maximum log file sizes. Log files that exceed this limit are not saved.</p> </note>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetGameSessionLogUrlInput",
        "xmlNamespace" : null
      },
      "name" : "GetGameSessionLogUrl",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetGameSessionLogUrlOutput"
      }
    },
    "GetInstanceAccess" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Requests remote access to a fleet instance. Remote access is useful for debugging, gathering benchmarking data, or watching activity in real time. </p> <p>Access requires credentials that match the operating system of the instance. For a Windows instance, GameLift returns a username and password as strings for use with a Windows Remote Desktop client. For a Linux instance, GameLift returns a username and RSA private key, also as strings, for use with an SSH client. The private key must be saved in the proper format to a .pem file before using. If you're making this request using the AWS CLI, saving the secret can be handled as part of the GetInstanceAccess request (see the example later in this topic). For more information on remote access, see <a href=\"http://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-remote-access.html\">Remotely Accessing an Instance</a>.</p> <p>To request access to a specific instance, specify the IDs of the instance and the fleet it belongs to. If successful, an <a>InstanceAccess</a> object is returned containing the instance's IP address and a set of credentials.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetInstanceAccessInput",
        "xmlNamespace" : null
      },
      "name" : "GetInstanceAccess",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetInstanceAccessOutput"
      }
    },
    "ListAliases" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a collection of alias records for this AWS account. You can filter the result set by alias name and/or routing strategy type. Use the pagination parameters to retrieve results in sequential pages.</p> <note> <p>Aliases are not listed in any particular order.</p> </note>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListAliasesInput",
        "xmlNamespace" : null
      },
      "name" : "ListAliases",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListAliasesOutput"
      }
    },
    "ListBuilds" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves build records for all builds associated with the AWS account in use. You can limit results to builds that are in a specific status by using the <code>Status</code> parameter. Use the pagination parameters to retrieve results in a set of sequential pages. </p> <note> <p>Build records are not listed in any particular order.</p> </note>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListBuildsInput",
        "xmlNamespace" : null
      },
      "name" : "ListBuilds",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListBuildsOutput"
      }
    },
    "ListFleets" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a collection of fleet records for this AWS account. You can filter the result set by build ID. Use the pagination parameters to retrieve results in sequential pages.</p> <note> <p>Fleet records are not listed in any particular order.</p> </note>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListFleetsInput",
        "xmlNamespace" : null
      },
      "name" : "ListFleets",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListFleetsOutput"
      }
    },
    "PutScalingPolicy" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Creates or updates a scaling policy for a fleet. An active scaling policy prompts Amazon GameLift to track a certain metric for a fleet and automatically change the fleet's capacity in specific circumstances. Each scaling policy contains one rule statement. Fleets can have multiple scaling policies in force simultaneously.</p> <p>A scaling policy rule statement has the following structure:</p> <p>If <code>[MetricName]</code> is <code>[ComparisonOperator]</code> <code>[Threshold]</code> for <code>[EvaluationPeriods]</code> minutes, then <code>[ScalingAdjustmentType]</code> to/by <code>[ScalingAdjustment]</code>.</p> <p>For example, this policy: \"If the number of idle instances exceeds 20 for more than 15 minutes, then reduce the fleet capacity by 10 instances\" could be implemented as the following rule statement:</p> <p>If [IdleInstances] is [GreaterThanOrEqualToThreshold] [20] for [15] minutes, then [ChangeInCapacity] by [-10].</p> <p>To create or update a scaling policy, specify a unique combination of name and fleet ID, and set the rule values. All parameters for this action are required. If successful, the policy name is returned. Scaling policies cannot be suspended or made inactive. To stop enforcing a scaling policy, call <a>DeleteScalingPolicy</a>.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "PutScalingPolicyInput",
        "xmlNamespace" : null
      },
      "name" : "PutScalingPolicy",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "PutScalingPolicyOutput"
      }
    },
    "RequestUploadCredentials" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a fresh set of upload credentials and the assigned Amazon S3 storage location for a specific build. Valid credentials are required to upload your game build files to Amazon S3.</p> <important> <p>Call this action only if you need credentials for a build created with<code> <a>CreateBuild</a> </code>. This is a rare situation; in most cases, builds are created using the CLI command <code>upload-build</code>, which creates a build record and also uploads build files. </p> </important> <p>Upload credentials are returned when you create the build, but they have a limited lifespan. You can get fresh credentials and use them to re-upload game files until the status of that build changes to <code>READY</code>. Once this happens, you must create a brand new build.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "RequestUploadCredentialsInput",
        "xmlNamespace" : null
      },
      "name" : "RequestUploadCredentials",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "RequestUploadCredentialsOutput"
      }
    },
    "ResolveAlias" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the fleet ID that a specified alias is currently pointing to.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TerminalRoutingStrategyException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ResolveAliasInput",
        "xmlNamespace" : null
      },
      "name" : "ResolveAlias",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ResolveAliasOutput"
      }
    },
    "SearchGameSessions" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a set of game sessions that match a set of search criteria and sorts them in a specified order. Currently a game session search is limited to a single fleet. Search results include only game sessions that are in ACTIVE status. If you need to retrieve game sessions with a status other than active, use <a>DescribeGameSessions</a>. If you need to retrieve the protection policy for each game session, use <a>DescribeGameSessionDetails</a>.</p> <p>You can search or sort by the following game session attributes:</p> <ul> <li> <p> <b>gameSessionId</b> -- ID value assigned to a game session. This unique value is returned in a <a>GameSession</a> object when a new game session is created. </p> </li> <li> <p> <b>gameSessionName</b> -- Name assigned to a game session. This value is set when requesting a new game session with <a>CreateGameSession</a> or updating with <a>UpdateGameSession</a>. Game session names do not need to be unique to a game session.</p> </li> <li> <p> <b>creationTimeMillis</b> -- Value indicating when a game session was created. It is expressed in Unix time as milliseconds.</p> </li> <li> <p> <b>playerSessionCount</b> -- Number of players currently connected to a game session. This value changes rapidly as players join the session or drop out.</p> </li> <li> <p> <b>maximumSessions</b> -- Maximum number of player sessions allowed for a game session. This value is set when requesting a new game session with <a>CreateGameSession</a> or updating with <a>UpdateGameSession</a>.</p> </li> <li> <p> <b>hasAvailablePlayerSessions</b> -- Boolean value indicating whether or not a game session has reached its maximum number of players. When searching with this attribute, the search value must be <code>true</code> or <code>false</code>. It is highly recommended that all search requests include this filter attribute to optimize search performance and return only sessions that players can join. </p> </li> </ul> <p>To search or sort, specify either a fleet ID or an alias ID, and provide a search filter expression, a sort expression, or both. Use the pagination parameters to retrieve results as a set of sequential pages. If successful, a collection of <a>GameSession</a> objects matching the request is returned.</p> <note> <p>Returned values for <code>playerSessionCount</code> and <code>hasAvailablePlayerSessions</code> change quickly as players join sessions and others drop out. Results should be considered a snapshot in time. Be sure to refresh search results often, and handle sessions that fill up before a player can join. </p> </note>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "TerminalRoutingStrategyException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "SearchGameSessionsInput",
        "xmlNamespace" : null
      },
      "name" : "SearchGameSessions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "SearchGameSessionsOutput"
      }
    },
    "UpdateAlias" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Updates properties for an alias. To update properties, specify the alias ID to be updated and provide the information to be changed. To reassign an alias to another fleet, provide an updated routing strategy. If successful, the updated alias record is returned.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateAliasInput",
        "xmlNamespace" : null
      },
      "name" : "UpdateAlias",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateAliasOutput"
      }
    },
    "UpdateBuild" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Updates metadata in a build record, including the build name and version. To update the metadata, specify the build ID to update and provide the new values. If successful, a build object containing the updated metadata is returned.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateBuildInput",
        "xmlNamespace" : null
      },
      "name" : "UpdateBuild",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateBuildOutput"
      }
    },
    "UpdateFleetAttributes" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Updates fleet properties, including name and description, for a fleet. To update metadata, specify the fleet ID and the property values you want to change. If successful, the fleet ID for the updated fleet is returned.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidFleetStatusException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateFleetAttributesInput",
        "xmlNamespace" : null
      },
      "name" : "UpdateFleetAttributes",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateFleetAttributesOutput"
      }
    },
    "UpdateFleetCapacity" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Updates capacity settings for a fleet. Use this action to specify the number of EC2 instances (hosts) that you want this fleet to contain. Before calling this action, you may want to call <a>DescribeEC2InstanceLimits</a> to get the maximum capacity based on the fleet's EC2 instance type.</p> <p>If you're using autoscaling (see <a>PutScalingPolicy</a>), you may want to specify a minimum and/or maximum capacity. If you don't provide these, autoscaling can set capacity anywhere between zero and the <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_gamelift\">service limits</a>.</p> <p>To update fleet capacity, specify the fleet ID and the number of instances you want the fleet to host. If successful, Amazon GameLift starts or terminates instances so that the fleet's active instance count matches the desired instance count. You can view a fleet's current capacity information by calling <a>DescribeFleetCapacity</a>. If the desired instance count is higher than the instance type's limit, the \"Limit Exceeded\" exception occurs.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidFleetStatusException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateFleetCapacityInput",
        "xmlNamespace" : null
      },
      "name" : "UpdateFleetCapacity",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateFleetCapacityOutput"
      }
    },
    "UpdateFleetPortSettings" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Updates port settings for a fleet. To update settings, specify the fleet ID to be updated and list the permissions you want to update. List the permissions you want to add in <code>InboundPermissionAuthorizations</code>, and permissions you want to remove in <code>InboundPermissionRevocations</code>. Permissions to be removed must match existing fleet permissions. If successful, the fleet ID for the updated fleet is returned.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidFleetStatusException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "LimitExceededException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateFleetPortSettingsInput",
        "xmlNamespace" : null
      },
      "name" : "UpdateFleetPortSettings",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateFleetPortSettingsOutput"
      }
    },
    "UpdateGameSession" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Updates game session properties. This includes the session name, maximum player count, protection policy, which controls whether or not an active game session can be terminated during a scale-down event, and the player session creation policy, which controls whether or not new players can join the session. To update a game session, specify the game session ID and the values you want to change. If successful, an updated <a>GameSession</a> object is returned. </p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "ConflictException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidGameSessionStatusException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateGameSessionInput",
        "xmlNamespace" : null
      },
      "name" : "UpdateGameSession",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateGameSessionOutput"
      }
    },
    "UpdateRuntimeConfiguration" : {
      "authtype" : null,
      "deprecated" : false,
      "documentation" : "<p>Updates the current runtime configuration for the specified fleet, which tells GameLift how to launch server processes on instances in the fleet. You can update a fleet's runtime configuration at any time after the fleet is created; it does not need to be in an <code>ACTIVE</code> status.</p> <p>To update runtime configuration, specify the fleet ID and provide a <code>RuntimeConfiguration</code> object with the updated collection of server process configurations.</p> <p>Each instance in a GameLift fleet checks regularly for an updated runtime configuration and changes how it launches server processes to comply with the latest version. Existing server processes are not affected by the update; they continue to run until they end, while GameLift simply adds new server processes to fit the current runtime configuration. As a result, the runtime configuration changes are applied gradually as existing processes shut down and new processes are launched in GameLift's normal process recycling activity.</p>",
      "errors" : [ {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "NotFoundException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServiceException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InvalidFleetStatusException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/",
        "responseCode" : null
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateRuntimeConfigurationInput",
        "xmlNamespace" : null
      },
      "name" : "UpdateRuntimeConfiguration",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateRuntimeConfigurationOutput"
      }
    }
  },
  "shapes" : {
    "Alias" : {
      "deprecated" : false,
      "documentation" : "<p>Properties describing a fleet alias.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "AliasId" : {
          "deprecated" : false,
          "documentation" : "<p>Unique identifier for a fleet alias.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "AliasId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "CreationTime" : {
          "deprecated" : false,
          "documentation" : "<p>Time stamp indicating when this data object was created. Format is a number expressed in Unix time as milliseconds (ex: \"1469498468.057\").</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Timestamp",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Description" : {
          "deprecated" : false,
          "documentation" : "<p>Human-readable description of an alias.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "FreeText",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LastUpdatedTime" : {
          "deprecated" : false,
          "documentation" : "<p>Time stamp indicating when this data object was last modified. Format is a number expressed in Unix time as milliseconds (ex: \"1469498468.057\").</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Timestamp",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Name" : {
          "deprecated" : false,
          "documentation" : "<p>Descriptive label associated with an alias. Alias names do not need to be unique.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "NonBlankAndLengthConstraintString",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "RoutingStrategy" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "RoutingStrategy",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AliasId" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : "^alias-\\S+",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "AliasList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "Alias",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "ArnStringModel" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 256,
      "member" : null,
      "members" : null,
      "min" : 1,
      "pattern" : "[a-zA-Z0-9:/-]+",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "Build" : {
      "deprecated" : false,
      "documentation" : "<p>Properties describing a game build.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "BuildId" : {
          "deprecated" : false,
          "documentation" : "<p>Unique identifier for a build.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "BuildId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "CreationTime" : {
          "deprecated" : false,
          "documentation" : "<p>Time stamp indicating when this data object was created. Format is a number expressed in Unix time as milliseconds (ex: \"1469498468.057\").</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Timestamp",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Name" : {
          "deprecated" : false,
          "documentation" : "<p>Descriptive label associated with a build. Build names do not need to be unique. It can be set using <a>CreateBuild</a> or <a>UpdateBuild</a>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "FreeText",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "OperatingSystem" : {
          "deprecated" : false,
          "documentation" : "<p>Operating system that the game server binaries are built to run on. This value determines the type of fleet resources that you can use for this build.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "OperatingSystem",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "SizeOnDisk" : {
          "deprecated" : false,
          "documentation" : "<p>File size of the uploaded game build, expressed in bytes. When the build status is <code>INITIALIZED</code>, this value is 0.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "PositiveLong",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Status" : {
          "deprecated" : false,
          "documentation" : "<p>Current status of the build.</p> <p>Possible build statuses include the following:</p> <ul> <li> <p> <b>INITIALIZED</b> – A new build has been defined, but no files have been uploaded. You cannot create fleets for builds that are in this status. When a build is successfully created, the build status is set to this value. </p> </li> <li> <p> <b>READY</b> – The game build has been successfully uploaded. You can now create new fleets for this build.</p> </li> <li> <p> <b>FAILED</b> – The game build upload failed. You cannot create new fleets for this build. </p> </li> </ul>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "BuildStatus",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Version" : {
          "deprecated" : false,
          "documentation" : "<p>Version associated with this build. Version strings do not need to be unique to a build. This value can be set using <a>CreateBuild</a> or <a>UpdateBuild</a>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "FreeText",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "BuildId" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : "^build-\\S+",
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "BuildList" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : {
        "deprecated" : false,
        "documentation" : null,
        "flattened" : false,
        "idempotencyToken" : false,
        "location" : null,
        "locationName" : null,
        "payload" : false,
        "queryName" : null,
        "shape" : "Build",
        "streaming" : false,
        "xmlNamespace" : null
      },
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "list",
      "value" : null,
      "wrapper" : false
    },
    "BuildStatus" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : [ "INITIALIZED", "READY", "FAILED" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ComparisonOperatorType" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : [ "GreaterThanOrEqualToThreshold", "GreaterThanThreshold", "LessThanThreshold", "LessThanOrEqualToThreshold" ],
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : null,
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "string",
      "value" : null,
      "wrapper" : false
    },
    "ConflictException" : {
      "deprecated" : false,
      "documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>",
      "enum" : null,
      "error" : null,
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Message" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "NonEmptyString",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateAliasInput" : {
      "deprecated" : false,
      "documentation" : "<p>Represents the input for a request action.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Description" : {
          "deprecated" : false,
          "documentation" : "<p>Human-readable description of an alias.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "NonZeroAndMaxString",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Name" : {
          "deprecated" : false,
          "documentation" : "<p>Descriptive label associated with an alias. Alias names do not need to be unique.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "NonBlankAndLengthConstraintString",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "RoutingStrategy" : {
          "deprecated" : false,
          "documentation" : "<p>Object specifying the fleet and routing type to use for the alias.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "RoutingStrategy",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "Name", "RoutingStrategy" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateAliasOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Represents the returned data in response to a request action.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Alias" : {
          "deprecated" : false,
          "documentation" : "<p>Object containing the newly created alias record.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Alias",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateBuildInput" : {
      "deprecated" : false,
      "documentation" : "<p>Represents the input for a request action.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Name" : {
          "deprecated" : false,
          "documentation" : "<p>Descriptive label associated with a build. Build names do not need to be unique. A build name can be changed later using<code> <a>UpdateBuild</a> </code>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "NonZeroAndMaxString",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "OperatingSystem" : {
          "deprecated" : false,
          "documentation" : "<p>Operating system that the game server binaries are built to run on. This value determines the type of fleet resources that you can use for this build.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "OperatingSystem",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "StorageLocation" : {
          "deprecated" : false,
          "documentation" : null,
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "S3Location",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Version" : {
          "deprecated" : false,
          "documentation" : "<p>Version associated with this build. Version strings do not need to be unique to a build. A build version can be changed later using<code> <a>UpdateBuild</a> </code>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "NonZeroAndMaxString",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateBuildOutput" : {
      "deprecated" : false,
      "documentation" : "<p>Represents the returned data in response to a request action.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Build" : {
          "deprecated" : false,
          "documentation" : "<p>Set of properties for the newly created build.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Build",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "StorageLocation" : {
          "deprecated" : false,
          "documentation" : "<p>Amazon S3 path and key, identifying where the game build files are stored.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "S3Location",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "UploadCredentials" : {
          "deprecated" : false,
          "documentation" : "<p>AWS credentials required when uploading a game build to the storage location. These credentials have a limited lifespan and are valid only for the build they were issued for. If you need to get fresh credentials, call<code> <a>RequestUploadCredentials</a> </code>.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "Credentials",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateFleetInput" : {
      "deprecated" : false,
      "documentation" : "<p>Represents the input for a request action.</p>",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "BuildId" : {
          "deprecated" : false,
          "documentation" : "<p>Unique identifier of the build to be deployed on the new fleet. The build must have been successfully uploaded to GameLift and be in a <code>READY</code> status. This fleet setting cannot be changed once the fleet is created.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "BuildId",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Description" : {
          "deprecated" : false,
          "documentation" : "<p>Human-readable description of a fleet.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "NonZeroAndMaxString",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "EC2InboundPermissions" : {
          "deprecated" : false,
          "documentation" : "<p>Range of IP addresses and port settings that permit inbound traffic to access server processes running on the fleet. If no inbound permissions are set, including both IP address range and port range, the server processes in the fleet cannot accept connections. You can specify one or more sets of permissions for a fleet.</p>",
          "flattened" : false,
          "idempotencyToken" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "IpPermissionsList",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "EC2InstanceType" : {
          "deprecated" : false,
[...]
