{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-08-08",
    "asyncClient" : "AWSGlobalAcceleratorAsyncClient",
    "asyncClientBuilderClassName" : "AWSGlobalAcceleratorAsyncClientBuilder",
    "asyncInterface" : "AWSGlobalAcceleratorAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSGlobalAcceleratorModuleInjector",
    "defaultEndpoint" : "globalaccelerator.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "globalaccelerator.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>AWS Global Accelerator</fullname> <p>This is the <i>AWS Global Accelerator API Reference</i>. This guide is for developers who need detailed information about AWS Global Accelerator API actions, data types, and errors. For more information about Global Accelerator features, see the <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/Welcome.html\">AWS Global Accelerator Developer Guide</a>. </p> <p>AWS Global Accelerator is a network layer service in which you create accelerators to improve availability and performance for internet applications used by a global audience. </p> <p>Global Accelerator provides you with static IP addresses that you associate with your accelerator. These IP addresses are anycast from the AWS edge network and distribute incoming application traffic across multiple endpoint resources in multiple AWS Regions, which increases the availability of your applications. Endpoints can be Elastic IP addresses, Network Load Balancers, and Application Load Balancers that are located in one AWS Region or multiple Regions.</p> <p>Global Accelerator uses the AWS global network to route traffic to the optimal regional endpoint based on health, client location, and policies that you configure. The service reacts instantly to changes in health or configuration to ensure that internet traffic from clients is directed to only healthy endpoints.</p> <p>Global Accelerator includes components that work together to help you improve performance and availability for your applications:</p> <dl> <dt>Static IP address</dt> <dd> <p>AWS Global Accelerator provides you with a set of static IP addresses which are anycast from the AWS edge network and serve as the single fixed entry points for your clients. If you already have Elastic Load Balancing or Elastic IP address resources set up for your applications, you can easily add those to Global Accelerator to allow the resources to be accessed by a Global Accelerator static IP address.</p> </dd> <dt>Accelerator</dt> <dd> <p>An accelerator directs traffic to optimal endpoints over the AWS global network to improve availability and performance for your internet applications that have a global audience. Each accelerator includes one or more listeners.</p> </dd> <dt>Network zone</dt> <dd> <p>A network zone services the static IP addresses for your accelerator from a unique IP subnet. Similar to an AWS Availability Zone, a network zone is an isolated unit with its own set of physical infrastructure. When you configure an accelerator, Global Accelerator allocates two IPv4 addresses for it. If one IP address from a network zone becomes unavailable due to IP address blocking by certain client networks, or network disruptions, then client applications can retry on the healthy static IP address from the other isolated network zone.</p> </dd> <dt>Listener</dt> <dd> <p>A listener processes inbound connections from clients to Global Accelerator, based on the protocol and port that you configure. Each listener has one or more endpoint groups associated with it, and traffic is forwarded to endpoints in one of the groups. You associate endpoint groups with listeners by specifying the Regions that you want to distribute traffic to. Traffic is distributed to optimal endpoints within the endpoint groups associated with a listener.</p> </dd> <dt>Endpoint group</dt> <dd> <p>Each endpoint group is associated with a specific AWS Region. Endpoint groups include one or more endpoints in the Region. You can increase or reduce the percentage of traffic that would be otherwise directed to an endpoint group by adjusting a setting called a <i>traffic dial</i>. The traffic dial lets you easily do performance testing or blue/green deployment testing for new releases across different AWS Regions, for example. </p> </dd> <dt>Endpoint</dt> <dd> <p>An endpoint is an Elastic IP address, Network Load Balancer, or Application Load Balancer. Traffic is routed to endpoints based on several factors, including the geo-proximity to the user, the health of the endpoint, and the configuration options that you choose, such as endpoint weights. For each endpoint, you can configure weights, which are numbers that you can use to specify the proportion of traffic to route to each one. This can be useful, for example, to do performance testing within a Region.</p> </dd> </dl>",
    "endpointPrefix" : "globalaccelerator",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.globalaccelerator",
    "packagePath" : "com/amazonaws/services/globalaccelerator",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Global Accelerator",
    "serviceId" : "Global Accelerator",
    "serviceName" : "AWS Global Accelerator",
    "signingName" : "globalaccelerator",
    "smokeTestsPackageName" : "com.amazonaws.services.globalaccelerator.smoketests",
    "syncClient" : "AWSGlobalAcceleratorClient",
    "syncClientBuilderClassName" : "AWSGlobalAcceleratorClientBuilder",
    "syncInterface" : "AWSGlobalAccelerator",
    "uid" : "globalaccelerator-2018-08-08",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateAccelerator" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAcceleratorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAcceleratorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAcceleratorRequest, CreateAcceleratorResult>",
      "asyncReturnType" : "CreateAcceleratorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create an accelerator. An accelerator includes one or more listeners that process inbound connections and direct traffic to one or more endpoint groups, each of which includes endpoints, such as Network Load Balancers. To see an AWS CLI example of creating an accelerator, scroll down to <b>Example</b>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>There was an internal error for AWS Global Accelerator.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>An argument that you specified is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Processing your request would cause you to exceed an AWS Global Accelerator limit.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAcceleratorRequest",
        "variableName" : "createAcceleratorRequest",
        "variableType" : "CreateAcceleratorRequest",
        "documentation" : "",
        "simpleType" : "CreateAcceleratorRequest",
        "variableSetterType" : "CreateAcceleratorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAccelerator",
      "operationName" : "CreateAccelerator",
      "returnType" : {
        "returnType" : "CreateAcceleratorResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAcceleratorResult"
    },
    "CreateEndpointGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEndpointGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEndpointGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEndpointGroupRequest, CreateEndpointGroupResult>",
      "asyncReturnType" : "CreateEndpointGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create an endpoint group for the specified listener. An endpoint group is a collection of endpoints in one AWS Region. To see an AWS CLI example of creating an endpoint group, scroll down to <b>Example</b>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AcceleratorNotFoundException",
        "documentation" : "<p>The accelerator that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EndpointGroupAlreadyExistsException",
        "documentation" : "<p>The endpoint group that you specified already exists.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The listener that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>There was an internal error for AWS Global Accelerator.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>An argument that you specified is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Processing your request would cause you to exceed an AWS Global Accelerator limit.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEndpointGroupRequest",
        "variableName" : "createEndpointGroupRequest",
        "variableType" : "CreateEndpointGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateEndpointGroupRequest",
        "variableSetterType" : "CreateEndpointGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEndpointGroup",
      "operationName" : "CreateEndpointGroup",
      "returnType" : {
        "returnType" : "CreateEndpointGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateEndpointGroupResult"
    },
    "CreateListener" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateListenerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateListenerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateListenerRequest, CreateListenerResult>",
      "asyncReturnType" : "CreateListenerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a listener to process inbound connections from clients to an accelerator. Connections arrive to assigned static IP addresses on a port, port range, or list of port ranges that you specify. To see an AWS CLI example of creating a listener, scroll down to <b>Example</b>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>An argument that you specified is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AcceleratorNotFoundException",
        "documentation" : "<p>The accelerator that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPortRangeException",
        "documentation" : "<p>The port numbers that you specified are not valid numbers or are not unique for this accelerator.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>There was an internal error for AWS Global Accelerator.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Processing your request would cause you to exceed an AWS Global Accelerator limit.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateListenerRequest",
        "variableName" : "createListenerRequest",
        "variableType" : "CreateListenerRequest",
        "documentation" : "",
        "simpleType" : "CreateListenerRequest",
        "variableSetterType" : "CreateListenerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createListener",
      "operationName" : "CreateListener",
      "returnType" : {
        "returnType" : "CreateListenerResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateListenerResult"
    },
    "DeleteAccelerator" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAcceleratorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAcceleratorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAcceleratorRequest, DeleteAcceleratorResult>",
      "asyncReturnType" : "DeleteAcceleratorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an accelerator. Note: before you can delete an accelerator, you must disable it and remove all dependent resources (listeners and endpoint groups).</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AcceleratorNotFoundException",
        "documentation" : "<p>The accelerator that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AcceleratorNotDisabledException",
        "documentation" : "<p>The accelerator that you specified could not be disabled.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AssociatedListenerFoundException",
        "documentation" : "<p>The accelerator that you specified has a listener associated with it. You must remove all dependent resources from an accelerator before you can delete it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>There was an internal error for AWS Global Accelerator.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>An argument that you specified is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAcceleratorRequest",
        "variableName" : "deleteAcceleratorRequest",
        "variableType" : "DeleteAcceleratorRequest",
        "documentation" : "",
        "simpleType" : "DeleteAcceleratorRequest",
        "variableSetterType" : "DeleteAcceleratorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAccelerator",
      "operationName" : "DeleteAccelerator",
      "returnType" : {
        "returnType" : "DeleteAcceleratorResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAcceleratorResult"
    },
    "DeleteEndpointGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEndpointGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEndpointGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEndpointGroupRequest, DeleteEndpointGroupResult>",
      "asyncReturnType" : "DeleteEndpointGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an endpoint group from a listener.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EndpointGroupNotFoundException",
        "documentation" : "<p>The endpoint group that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>There was an internal error for AWS Global Accelerator.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEndpointGroupRequest",
        "variableName" : "deleteEndpointGroupRequest",
        "variableType" : "DeleteEndpointGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteEndpointGroupRequest",
        "variableSetterType" : "DeleteEndpointGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEndpointGroup",
      "operationName" : "DeleteEndpointGroup",
      "returnType" : {
        "returnType" : "DeleteEndpointGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEndpointGroupResult"
    },
    "DeleteListener" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteListenerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteListenerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteListenerRequest, DeleteListenerResult>",
      "asyncReturnType" : "DeleteListenerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a listener from an accelerator.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The listener that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AssociatedEndpointGroupFoundException",
        "documentation" : "<p>The listener that you specified has an endpoint group associated with it. You must remove all dependent resources from a listener before you can delete it.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>There was an internal error for AWS Global Accelerator.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteListenerRequest",
        "variableName" : "deleteListenerRequest",
        "variableType" : "DeleteListenerRequest",
        "documentation" : "",
        "simpleType" : "DeleteListenerRequest",
        "variableSetterType" : "DeleteListenerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteListener",
      "operationName" : "DeleteListener",
      "returnType" : {
        "returnType" : "DeleteListenerResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteListenerResult"
    },
    "DescribeAccelerator" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAcceleratorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAcceleratorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAcceleratorRequest, DescribeAcceleratorResult>",
      "asyncReturnType" : "DescribeAcceleratorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describe an accelerator. To see an AWS CLI example of describing an accelerator, scroll down to <b>Example</b>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AcceleratorNotFoundException",
        "documentation" : "<p>The accelerator that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>There was an internal error for AWS Global Accelerator.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>An argument that you specified is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAcceleratorRequest",
        "variableName" : "describeAcceleratorRequest",
        "variableType" : "DescribeAcceleratorRequest",
        "documentation" : "",
        "simpleType" : "DescribeAcceleratorRequest",
        "variableSetterType" : "DescribeAcceleratorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAccelerator",
      "operationName" : "DescribeAccelerator",
      "returnType" : {
        "returnType" : "DescribeAcceleratorResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAcceleratorResult"
    },
    "DescribeAcceleratorAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAcceleratorAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAcceleratorAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAcceleratorAttributesRequest, DescribeAcceleratorAttributesResult>",
      "asyncReturnType" : "DescribeAcceleratorAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describe the attributes of an accelerator.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AcceleratorNotFoundException",
        "documentation" : "<p>The accelerator that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>There was an internal error for AWS Global Accelerator.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>An argument that you specified is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAcceleratorAttributesRequest",
        "variableName" : "describeAcceleratorAttributesRequest",
        "variableType" : "DescribeAcceleratorAttributesRequest",
        "documentation" : "",
        "simpleType" : "DescribeAcceleratorAttributesRequest",
        "variableSetterType" : "DescribeAcceleratorAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAcceleratorAttributes",
      "operationName" : "DescribeAcceleratorAttributes",
      "returnType" : {
        "returnType" : "DescribeAcceleratorAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAcceleratorAttributesResult"
    },
    "DescribeEndpointGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeEndpointGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeEndpointGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeEndpointGroupRequest, DescribeEndpointGroupResult>",
      "asyncReturnType" : "DescribeEndpointGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describe an endpoint group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "EndpointGroupNotFoundException",
        "documentation" : "<p>The endpoint group that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>There was an internal error for AWS Global Accelerator.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeEndpointGroupRequest",
        "variableName" : "describeEndpointGroupRequest",
        "variableType" : "DescribeEndpointGroupRequest",
        "documentation" : "",
        "simpleType" : "DescribeEndpointGroupRequest",
        "variableSetterType" : "DescribeEndpointGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeEndpointGroup",
      "operationName" : "DescribeEndpointGroup",
      "returnType" : {
        "returnType" : "DescribeEndpointGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeEndpointGroupResult"
    },
    "DescribeListener" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeListenerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeListenerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeListenerRequest, DescribeListenerResult>",
      "asyncReturnType" : "DescribeListenerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describe a listener.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>An argument that you specified is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The listener that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>There was an internal error for AWS Global Accelerator.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeListenerRequest",
        "variableName" : "describeListenerRequest",
        "variableType" : "DescribeListenerRequest",
        "documentation" : "",
        "simpleType" : "DescribeListenerRequest",
        "variableSetterType" : "DescribeListenerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeListener",
      "operationName" : "DescribeListener",
      "returnType" : {
        "returnType" : "DescribeListenerResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeListenerResult"
    },
    "ListAccelerators" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAcceleratorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAcceleratorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAcceleratorsRequest, ListAcceleratorsResult>",
      "asyncReturnType" : "ListAcceleratorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the accelerators for an AWS account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>There isn't another item to return.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>There was an internal error for AWS Global Accelerator.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAcceleratorsRequest",
        "variableName" : "listAcceleratorsRequest",
        "variableType" : "ListAcceleratorsRequest",
        "documentation" : "",
        "simpleType" : "ListAcceleratorsRequest",
        "variableSetterType" : "ListAcceleratorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAccelerators",
      "operationName" : "ListAccelerators",
      "returnType" : {
        "returnType" : "ListAcceleratorsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAcceleratorsResult"
    },
    "ListEndpointGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEndpointGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEndpointGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEndpointGroupsRequest, ListEndpointGroupsResult>",
      "asyncReturnType" : "ListEndpointGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the endpoint groups that are associated with a listener.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The listener that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>There isn't another item to return.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>An argument that you specified is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>There was an internal error for AWS Global Accelerator.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEndpointGroupsRequest",
        "variableName" : "listEndpointGroupsRequest",
        "variableType" : "ListEndpointGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListEndpointGroupsRequest",
        "variableSetterType" : "ListEndpointGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEndpointGroups",
      "operationName" : "ListEndpointGroups",
      "returnType" : {
        "returnType" : "ListEndpointGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEndpointGroupsResult"
    },
    "ListListeners" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListListenersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListListenersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListListenersRequest, ListListenersResult>",
      "asyncReturnType" : "ListListenersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the listeners for an accelerator.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AcceleratorNotFoundException",
        "documentation" : "<p>The accelerator that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidNextTokenException",
        "documentation" : "<p>There isn't another item to return.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>There was an internal error for AWS Global Accelerator.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListListenersRequest",
        "variableName" : "listListenersRequest",
        "variableType" : "ListListenersRequest",
        "documentation" : "",
        "simpleType" : "ListListenersRequest",
        "variableSetterType" : "ListListenersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listListeners",
      "operationName" : "ListListeners",
      "returnType" : {
        "returnType" : "ListListenersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListListenersResult"
    },
    "UpdateAccelerator" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAcceleratorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAcceleratorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAcceleratorRequest, UpdateAcceleratorResult>",
      "asyncReturnType" : "UpdateAcceleratorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update an accelerator.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AcceleratorNotFoundException",
        "documentation" : "<p>The accelerator that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>There was an internal error for AWS Global Accelerator.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>An argument that you specified is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAcceleratorRequest",
        "variableName" : "updateAcceleratorRequest",
        "variableType" : "UpdateAcceleratorRequest",
        "documentation" : "",
        "simpleType" : "UpdateAcceleratorRequest",
        "variableSetterType" : "UpdateAcceleratorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAccelerator",
      "operationName" : "UpdateAccelerator",
      "returnType" : {
        "returnType" : "UpdateAcceleratorResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAcceleratorResult"
    },
    "UpdateAcceleratorAttributes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAcceleratorAttributesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAcceleratorAttributesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAcceleratorAttributesRequest, UpdateAcceleratorAttributesResult>",
      "asyncReturnType" : "UpdateAcceleratorAttributesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update the attributes for an accelerator. To see an AWS CLI example of updating an accelerator to enable flow logs, scroll down to <b>Example</b>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AcceleratorNotFoundException",
        "documentation" : "<p>The accelerator that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>There was an internal error for AWS Global Accelerator.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>An argument that you specified is invalid.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAcceleratorAttributesRequest",
        "variableName" : "updateAcceleratorAttributesRequest",
        "variableType" : "UpdateAcceleratorAttributesRequest",
        "documentation" : "",
        "simpleType" : "UpdateAcceleratorAttributesRequest",
        "variableSetterType" : "UpdateAcceleratorAttributesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAcceleratorAttributes",
      "operationName" : "UpdateAcceleratorAttributes",
      "returnType" : {
        "returnType" : "UpdateAcceleratorAttributesResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAcceleratorAttributesResult"
    },
    "UpdateEndpointGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEndpointGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEndpointGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEndpointGroupRequest, UpdateEndpointGroupResult>",
      "asyncReturnType" : "UpdateEndpointGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update an endpoint group. To see an AWS CLI example of updating an endpoint group, scroll down to <b>Example</b>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>An argument that you specified is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EndpointGroupNotFoundException",
        "documentation" : "<p>The endpoint group that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>There was an internal error for AWS Global Accelerator.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Processing your request would cause you to exceed an AWS Global Accelerator limit.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateEndpointGroupRequest",
        "variableName" : "updateEndpointGroupRequest",
        "variableType" : "UpdateEndpointGroupRequest",
        "documentation" : "",
        "simpleType" : "UpdateEndpointGroupRequest",
        "variableSetterType" : "UpdateEndpointGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEndpointGroup",
      "operationName" : "UpdateEndpointGroup",
      "returnType" : {
        "returnType" : "UpdateEndpointGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateEndpointGroupResult"
    },
    "UpdateListener" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateListenerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateListenerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateListenerRequest, UpdateListenerResult>",
      "asyncReturnType" : "UpdateListenerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update a listener.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidArgumentException",
        "documentation" : "<p>An argument that you specified is invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidPortRangeException",
        "documentation" : "<p>The port numbers that you specified are not valid numbers or are not unique for this accelerator.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ListenerNotFoundException",
        "documentation" : "<p>The listener that you specified doesn't exist.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceErrorException",
        "documentation" : "<p>There was an internal error for AWS Global Accelerator.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>Processing your request would cause you to exceed an AWS Global Accelerator limit.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateListenerRequest",
        "variableName" : "updateListenerRequest",
        "variableType" : "UpdateListenerRequest",
        "documentation" : "",
        "simpleType" : "UpdateListenerRequest",
        "variableSetterType" : "UpdateListenerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateListener",
      "operationName" : "UpdateListener",
      "returnType" : {
        "returnType" : "UpdateListenerResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateListenerResult"
    }
  },
  "shapes" : {
    "Accelerator" : {
      "c2jName" : "Accelerator",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An accelerator is a complex type that includes one or more listeners that process inbound connections and then direct traffic to one or more endpoint groups, each of which includes endpoints, such as load balancers.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AcceleratorArn",
        "c2jShape" : "GenericString",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the accelerator.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the accelerator.</p>\n@param acceleratorArn The Amazon Resource Name (ARN) of the accelerator.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAcceleratorArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the accelerator.</p>\n@return The Amazon Resource Name (ARN) of the accelerator.*/",
        "getterMethodName" : "getAcceleratorArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AcceleratorArn",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AcceleratorArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AcceleratorArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the accelerator.</p>\n@param acceleratorArn The Amazon Resource Name (ARN) of the accelerator.*/",
        "setterMethodName" : "setAcceleratorArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "acceleratorArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the accelerator.</p>\n@param acceleratorArn The Amazon Resource Name (ARN) of the accelerator.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "acceleratorArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the accelerator.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Name",
        "c2jShape" : "GenericString",
        "deprecated" : false,
        "documentation" : "<p>The name of the accelerator. The name can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the accelerator. The name can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.</p>\n@param name The name of the accelerator. The name can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the accelerator. The name can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.</p>\n@return The name of the accelerator. The name can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Name",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the accelerator. The name can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.</p>\n@param name The name of the accelerator. The name can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the accelerator. The name can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.</p>\n@param name The name of the accelerator. The name can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the accelerator. The name can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IpAddressType",
        "c2jShape" : "IpAddressType",
        "deprecated" : false,
        "documentation" : "<p>The value for the address type must be IPv4. </p>",
        "enumType" : "IpAddressType",
        "fluentSetterDocumentation" : "/**<p>The value for the address type must be IPv4. </p>\n@param ipAddressType The value for the address type must be IPv4.\n@return Returns a reference to this object so that method calls can be chained together.\n@see IpAddressType*/",
        "fluentSetterMethodName" : "withIpAddressType",
        "getterDocumentation" : "/**<p>The value for the address type must be IPv4. </p>\n@return The value for the address type must be IPv4.\n@see IpAddressType*/",
        "getterMethodName" : "getIpAddressType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "IpAddressType",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IpAddressType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "IpAddressType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The value for the address type must be IPv4. </p>\n@param ipAddressType The value for the address type must be IPv4.\n@see IpAddressType*/",
        "setterMethodName" : "setIpAddressType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "ipAddressType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The value for the address type must be IPv4. </p>\n@param ipAddressType The value for the address type must be IPv4.\n@return Returns a reference to this object so that method calls can be chained together.\n@see IpAddressType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "ipAddressType",
          "variableType" : "String",
          "documentation" : "<p>The value for the address type must be IPv4. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Enabled",
        "c2jShape" : "GenericBoolean",
        "deprecated" : false,
        "documentation" : "<p>Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>\n@param enabled Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEnabled",
        "getterDocumentation" : "/**<p>Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>\n@return Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.*/",
        "getterMethodName" : "getEnabled",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Enabled",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Enabled",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "Enabled",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>\n@param enabled Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.*/",
        "setterMethodName" : "setEnabled",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "enabled",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>\n@param enabled Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Boolean",
          "variableName" : "enabled",
          "variableType" : "Boolean",
          "documentation" : "<p>Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IpSets",
        "c2jShape" : "IpSets",
        "deprecated" : false,
        "documentation" : "<p>IP address set associated with the accelerator.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>IP address set associated with the accelerator.</p>\n@param ipSets IP address set associated with the accelerator.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIpSets",
        "getterDocumentation" : "/**<p>IP address set associated with the accelerator.</p>\n@return IP address set associated with the accelerator.*/",
        "getterMethodName" : "getIpSets",
        "getterModel" : {
          "returnType" : "java.util.List<IpSet>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "IpSets",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "IpSets",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "IpSet",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "IpSet",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "IpSet",
              "variableName" : "member",
              "variableType" : "IpSet",
              "documentation" : "",
              "simpleType" : "IpSet",
              "variableSetterType" : "IpSet"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "IpSet",
              "variableName" : "member",
              "variableType" : "IpSet",
              "documentation" : "",
              "simpleType" : "IpSet",
              "variableSetterType" : "IpSet"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "IpSet",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "IpSet",
          "templateImplType" : "java.util.ArrayList<IpSet>",
          "templateType" : "java.util.List<IpSet>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "IpSets",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>IP address set associated with the accelerator.</p>\n@param ipSets IP address set associated with the accelerator.*/",
        "setterMethodName" : "setIpSets",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<IpSet>",
          "variableName" : "ipSets",
          "variableType" : "java.util.List<IpSet>",
          "documentation" : "",
          "simpleType" : "List<IpSet>",
          "variableSetterType" : "java.util.Collection<IpSet>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>IP address set associated with the accelerator.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setIpSets(java.util.Collection)} or {@link #withIpSets(java.util.Collection)} if you want to override the existing values.</p>\n@param ipSets IP address set associated with the accelerator.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<IpSet>",
          "variableName" : "ipSets",
          "variableType" : "java.util.List<IpSet>",
          "documentation" : "<p>IP address set associated with the accelerator.</p>",
          "simpleType" : "List<IpSet>",
          "variableSetterType" : "java.util.Collection<IpSet>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Status",
        "c2jShape" : "AcceleratorStatus",
        "deprecated" : false,
        "documentation" : "<p>Describes the deployment status of the accelerator.</p>",
        "enumType" : "AcceleratorStatus",
        "fluentSetterDocumentation" : "/**<p>Describes the deployment status of the accelerator.</p>\n@param status Describes the deployment status of the accelerator.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AcceleratorStatus*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>Describes the deployment status of the accelerator.</p>\n@return Describes the deployment status of the accelerator.\n@see AcceleratorStatus*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Status",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Describes the deployment status of the accelerator.</p>\n@param status Describes the deployment status of the accelerator.\n@see AcceleratorStatus*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Describes the deployment status of the accelerator.</p>\n@param status Describes the deployment status of the accelerator.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AcceleratorStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "status",
          "variableType" : "String",
          "documentation" : "<p>Describes the deployment status of the accelerator.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreatedTime",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The date and time that the accelerator was created.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date and time that the accelerator was created.</p>\n@param createdTime The date and time that the accelerator was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedTime",
        "getterDocumentation" : "/**<p>The date and time that the accelerator was created.</p>\n@return The date and time that the accelerator was created.*/",
        "getterMethodName" : "getCreatedTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CreatedTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreatedTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreatedTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date and time that the accelerator was created.</p>\n@param createdTime The date and time that the accelerator was created.*/",
        "setterMethodName" : "setCreatedTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date and time that the accelerator was created.</p>\n@param createdTime The date and time that the accelerator was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date and time that the accelerator was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LastModifiedTime",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The date and time that the accelerator was last modified.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The date and time that the accelerator was last modified.</p>\n@param lastModifiedTime The date and time that the accelerator was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastModifiedTime",
        "getterDocumentation" : "/**<p>The date and time that the accelerator was last modified.</p>\n@return The date and time that the accelerator was last modified.*/",
        "getterMethodName" : "getLastModifiedTime",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LastModifiedTime",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LastModifiedTime",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "LastModifiedTime",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The date and time that the accelerator was last modified.</p>\n@param lastModifiedTime The date and time that the accelerator was last modified.*/",
        "setterMethodName" : "setLastModifiedTime",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastModifiedTime",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The date and time that the accelerator was last modified.</p>\n@param lastModifiedTime The date and time that the accelerator was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastModifiedTime",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The date and time that the accelerator was last modified.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AcceleratorArn" : {
          "c2jName" : "AcceleratorArn",
          "c2jShape" : "GenericString",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the accelerator.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the accelerator.</p>\n@param acceleratorArn The Amazon Resource Name (ARN) of the accelerator.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAcceleratorArn",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the accelerator.</p>\n@return The Amazon Resource Name (ARN) of the accelerator.*/",
          "getterMethodName" : "getAcceleratorArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AcceleratorArn",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AcceleratorArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AcceleratorArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the accelerator.</p>\n@param acceleratorArn The Amazon Resource Name (ARN) of the accelerator.*/",
          "setterMethodName" : "setAcceleratorArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "acceleratorArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the accelerator.</p>\n@param acceleratorArn The Amazon Resource Name (ARN) of the accelerator.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "acceleratorArn",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the accelerator.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "CreatedTime" : {
          "c2jName" : "CreatedTime",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The date and time that the accelerator was created.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The date and time that the accelerator was created.</p>\n@param createdTime The date and time that the accelerator was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCreatedTime",
          "getterDocumentation" : "/**<p>The date and time that the accelerator was created.</p>\n@return The date and time that the accelerator was created.*/",
          "getterMethodName" : "getCreatedTime",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CreatedTime",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CreatedTime",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "CreatedTime",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The date and time that the accelerator was created.</p>\n@param createdTime The date and time that the accelerator was created.*/",
          "setterMethodName" : "setCreatedTime",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createdTime",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The date and time that the accelerator was created.</p>\n@param createdTime The date and time that the accelerator was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createdTime",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The date and time that the accelerator was created.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "Enabled" : {
          "c2jName" : "Enabled",
          "c2jShape" : "GenericBoolean",
          "deprecated" : false,
          "documentation" : "<p>Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>\n@param enabled Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEnabled",
          "getterDocumentation" : "/**<p>Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>\n@return Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.*/",
          "getterMethodName" : "getEnabled",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Enabled",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Enabled",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "Enabled",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>\n@param enabled Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.*/",
          "setterMethodName" : "setEnabled",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "enabled",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>\n@param enabled Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Boolean",
            "variableName" : "enabled",
            "variableType" : "Boolean",
            "documentation" : "<p>Indicates whether theaccelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "IpAddressType" : {
          "c2jName" : "IpAddressType",
          "c2jShape" : "IpAddressType",
          "deprecated" : false,
          "documentation" : "<p>The value for the address type must be IPv4. </p>",
          "enumType" : "IpAddressType",
          "fluentSetterDocumentation" : "/**<p>The value for the address type must be IPv4. </p>\n@param ipAddressType The value for the address type must be IPv4.\n@return Returns a reference to this object so that method calls can be chained together.\n@see IpAddressType*/",
          "fluentSetterMethodName" : "withIpAddressType",
          "getterDocumentation" : "/**<p>The value for the address type must be IPv4. </p>\n@return The value for the address type must be IPv4.\n@see IpAddressType*/",
          "getterMethodName" : "getIpAddressType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "IpAddressType",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "IpAddressType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "IpAddressType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The value for the address type must be IPv4. </p>\n@param ipAddressType The value for the address type must be IPv4.\n@see IpAddressType*/",
          "setterMethodName" : "setIpAddressType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "ipAddressType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The value for the address type must be IPv4. </p>\n@param ipAddressType The value for the address type must be IPv4.\n@return Returns a reference to this object so that method calls can be chained together.\n@see IpAddressType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "ipAddressType",
            "variableType" : "String",
            "documentation" : "<p>The value for the address type must be IPv4. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "IpSets" : {
          "c2jName" : "IpSets",
          "c2jShape" : "IpSets",
          "deprecated" : false,
          "documentation" : "<p>IP address set associated with the accelerator.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>IP address set associated with the accelerator.</p>\n@param ipSets IP address set associated with the accelerator.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIpSets",
          "getterDocumentation" : "/**<p>IP address set associated with the accelerator.</p>\n@return IP address set associated with the accelerator.*/",
          "getterMethodName" : "getIpSets",
          "getterModel" : {
            "returnType" : "java.util.List<IpSet>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "IpSets",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "IpSets",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "IpSet",
              "deprecated" : false,
              "documentation" : "",
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "IpSet",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "IpSet",
                "variableName" : "member",
                "variableType" : "IpSet",
                "documentation" : "",
                "simpleType" : "IpSet",
                "variableSetterType" : "IpSet"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "IpSet",
                "variableName" : "member",
                "variableType" : "IpSet",
                "documentation" : "",
                "simpleType" : "IpSet",
                "variableSetterType" : "IpSet"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "IpSet",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "IpSet",
            "templateImplType" : "java.util.ArrayList<IpSet>",
            "templateType" : "java.util.List<IpSet>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "IpSets",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>IP address set associated with the accelerator.</p>\n@param ipSets IP address set associated with the accelerator.*/",
          "setterMethodName" : "setIpSets",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<IpSet>",
            "variableName" : "ipSets",
            "variableType" : "java.util.List<IpSet>",
            "documentation" : "",
            "simpleType" : "List<IpSet>",
            "variableSetterType" : "java.util.Collection<IpSet>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>IP address set associated with the accelerator.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setIpSets(java.util.Collection)} or {@link #withIpSets(java.util.Collection)} if you want to override the existing values.</p>\n@param ipSets IP address set associated with the accelerator.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<IpSet>",
            "variableName" : "ipSets",
            "variableType" : "java.util.List<IpSet>",
            "documentation" : "<p>IP address set associated with the accelerator.</p>",
            "simpleType" : "List<IpSet>",
            "variableSetterType" : "java.util.Collection<IpSet>"
          },
          "xmlNameSpaceUri" : null
        },
        "LastModifiedTime" : {
          "c2jName" : "LastModifiedTime",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The date and time that the accelerator was last modified.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The date and time that the accelerator was last modified.</p>\n@param lastModifiedTime The date and time that the accelerator was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLastModifiedTime",
          "getterDocumentation" : "/**<p>The date and time that the accelerator was last modified.</p>\n@return The date and time that the accelerator was last modified.*/",
          "getterMethodName" : "getLastModifiedTime",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "LastModifiedTime",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "LastModifiedTime",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "LastModifiedTime",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The date and time that the accelerator was last modified.</p>\n@param lastModifiedTime The date and time that the accelerator was last modified.*/",
          "setterMethodName" : "setLastModifiedTime",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "lastModifiedTime",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The date and time that the accelerator was last modified.</p>\n@param lastModifiedTime The date and time that the accelerator was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
[...]
