{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-08-18",
    "asyncClient" : "AmazonManagedGrafanaAsyncClient",
    "asyncClientBuilderClassName" : "AmazonManagedGrafanaAsyncClientBuilder",
    "asyncInterface" : "AmazonManagedGrafanaAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonManagedGrafanaModuleInjector",
    "defaultEndpoint" : "grafana.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "grafana.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Managed Grafana is a fully managed and secure data visualization service that you can use to instantly query, correlate, and visualize operational metrics, logs, and traces from multiple sources. Amazon Managed Grafana makes it easy to deploy, operate, and scale Grafana, a widely deployed data visualization tool that is popular for its extensible data support.</p> <p>With Amazon Managed Grafana, you create logically isolated Grafana servers called <i>workspaces</i>. In a workspace, you can create Grafana dashboards and visualizations to analyze your metrics, logs, and traces without having to build, package, or deploy any hardware to run Grafana servers. </p>",
    "endpointPrefix" : "grafana",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.managedgrafana",
    "packagePath" : "com/amazonaws/services/managedgrafana",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Managed Grafana",
    "serviceId" : "grafana",
    "serviceName" : "Amazon Managed Grafana",
    "signingName" : "grafana",
    "smokeTestsPackageName" : "com.amazonaws.services.managedgrafana.smoketests",
    "syncClient" : "AmazonManagedGrafanaClient",
    "syncClientBuilderClassName" : "AmazonManagedGrafanaClientBuilder",
    "syncInterface" : "AmazonManagedGrafana",
    "uid" : "grafana-2020-08-18",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateLicense" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateLicenseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateLicenseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateLicenseRequest, AssociateLicenseResult>",
      "asyncReturnType" : "AssociateLicenseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns a Grafana Enterprise license to a workspace. To upgrade, you must use <code>ENTERPRISE</code> for the <code>licenseType</code>, and pass in a valid Grafana Labs token for the <code>grafanaToken</code>. Upgrading to Grafana Enterprise incurs additional fees. For more information, see <a href=\"https://docs.aws.amazon.com/grafana/latest/userguide/upgrade-to-Grafana-Enterprise.html\">Upgrade a workspace to Grafana Enterprise</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateLicenseRequest",
        "variableName" : "associateLicenseRequest",
        "variableType" : "AssociateLicenseRequest",
        "documentation" : "",
        "simpleType" : "AssociateLicenseRequest",
        "variableSetterType" : "AssociateLicenseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateLicense",
      "operationName" : "AssociateLicense",
      "returnType" : {
        "returnType" : "AssociateLicenseResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateLicenseResult"
    },
    "CreateWorkspace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkspaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkspaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkspaceRequest, CreateWorkspaceResult>",
      "asyncReturnType" : "CreateWorkspaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a <i>workspace</i>. In a workspace, you can create Grafana dashboards and visualizations to analyze your metrics, logs, and traces. You don't have to build, package, or deploy any hardware to run the Grafana server.</p> <p>Don't use <code>CreateWorkspace</code> to modify an existing workspace. Instead, use <a href=\"https://docs.aws.amazon.com/grafana/latest/APIReference/API_UpdateWorkspace.html\">UpdateWorkspace</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkspaceRequest",
        "variableName" : "createWorkspaceRequest",
        "variableType" : "CreateWorkspaceRequest",
        "documentation" : "",
        "simpleType" : "CreateWorkspaceRequest",
        "variableSetterType" : "CreateWorkspaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkspace",
      "operationName" : "CreateWorkspace",
      "returnType" : {
        "returnType" : "CreateWorkspaceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWorkspaceResult"
    },
    "CreateWorkspaceApiKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkspaceApiKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkspaceApiKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkspaceApiKeyRequest, CreateWorkspaceApiKeyResult>",
      "asyncReturnType" : "CreateWorkspaceApiKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Grafana API key for the workspace. This key can be used to authenticate requests sent to the workspace's HTTP API. See <a href=\"https://docs.aws.amazon.com/grafana/latest/userguide/Using-Grafana-APIs.html\">https://docs.aws.amazon.com/grafana/latest/userguide/Using-Grafana-APIs.html</a> for available APIs and example requests.</p> <note> <p>In workspaces compatible with Grafana version 9 or above, use workspace service accounts instead of API keys. API keys will be removed in a future release.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkspaceApiKeyRequest",
        "variableName" : "createWorkspaceApiKeyRequest",
        "variableType" : "CreateWorkspaceApiKeyRequest",
        "documentation" : "",
        "simpleType" : "CreateWorkspaceApiKeyRequest",
        "variableSetterType" : "CreateWorkspaceApiKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkspaceApiKey",
      "operationName" : "CreateWorkspaceApiKey",
      "returnType" : {
        "returnType" : "CreateWorkspaceApiKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWorkspaceApiKeyResult"
    },
    "CreateWorkspaceServiceAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkspaceServiceAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkspaceServiceAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkspaceServiceAccountRequest, CreateWorkspaceServiceAccountResult>",
      "asyncReturnType" : "CreateWorkspaceServiceAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a service account for the workspace. A service account can be used to call Grafana HTTP APIs, and run automated workloads. After creating the service account with the correct <code>GrafanaRole</code> for your use case, use <code>CreateWorkspaceServiceAccountToken</code> to create a token that can be used to authenticate and authorize Grafana HTTP API calls.</p> <p>You can only create service accounts for workspaces that are compatible with Grafana version 9 and above.</p> <note> <p>For more information about service accounts, see <a href=\"https://docs.aws.amazon.com/grafana/latest/userguide/service-accounts.html\">Service accounts</a> in the <i>Amazon Managed Grafana User Guide</i>.</p> <p>For more information about the Grafana HTTP APIs, see <a href=\"https://docs.aws.amazon.com/grafana/latest/userguide/Using-Grafana-APIs.html\">Using Grafana HTTP APIs</a> in the <i>Amazon Managed Grafana User Guide</i>.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkspaceServiceAccountRequest",
        "variableName" : "createWorkspaceServiceAccountRequest",
        "variableType" : "CreateWorkspaceServiceAccountRequest",
        "documentation" : "",
        "simpleType" : "CreateWorkspaceServiceAccountRequest",
        "variableSetterType" : "CreateWorkspaceServiceAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkspaceServiceAccount",
      "operationName" : "CreateWorkspaceServiceAccount",
      "returnType" : {
        "returnType" : "CreateWorkspaceServiceAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWorkspaceServiceAccountResult"
    },
    "CreateWorkspaceServiceAccountToken" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkspaceServiceAccountTokenResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkspaceServiceAccountTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkspaceServiceAccountTokenRequest, CreateWorkspaceServiceAccountTokenResult>",
      "asyncReturnType" : "CreateWorkspaceServiceAccountTokenResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a token that can be used to authenticate and authorize Grafana HTTP API operations for the given <a href=\"https://docs.aws.amazon.com/grafana/latest/userguide/service-accounts.html\">workspace service account</a>. The service account acts as a user for the API operations, and defines the permissions that are used by the API.</p> <important> <p>When you create the service account token, you will receive a key that is used when calling Grafana APIs. Do not lose this key, as it will not be retrievable again.</p> <p>If you do lose the key, you can delete the token and recreate it to receive a new key. This will disable the initial key.</p> </important> <p>Service accounts are only available for workspaces that are compatible with Grafana version 9 and above.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkspaceServiceAccountTokenRequest",
        "variableName" : "createWorkspaceServiceAccountTokenRequest",
        "variableType" : "CreateWorkspaceServiceAccountTokenRequest",
        "documentation" : "",
        "simpleType" : "CreateWorkspaceServiceAccountTokenRequest",
        "variableSetterType" : "CreateWorkspaceServiceAccountTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkspaceServiceAccountToken",
      "operationName" : "CreateWorkspaceServiceAccountToken",
      "returnType" : {
        "returnType" : "CreateWorkspaceServiceAccountTokenResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWorkspaceServiceAccountTokenResult"
    },
    "DeleteWorkspace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkspaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkspaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkspaceRequest, DeleteWorkspaceResult>",
      "asyncReturnType" : "DeleteWorkspaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Amazon Managed Grafana workspace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkspaceRequest",
        "variableName" : "deleteWorkspaceRequest",
        "variableType" : "DeleteWorkspaceRequest",
        "documentation" : "",
        "simpleType" : "DeleteWorkspaceRequest",
        "variableSetterType" : "DeleteWorkspaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorkspace",
      "operationName" : "DeleteWorkspace",
      "returnType" : {
        "returnType" : "DeleteWorkspaceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkspaceResult"
    },
    "DeleteWorkspaceApiKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkspaceApiKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkspaceApiKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkspaceApiKeyRequest, DeleteWorkspaceApiKeyResult>",
      "asyncReturnType" : "DeleteWorkspaceApiKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a Grafana API key for the workspace.</p> <note> <p>In workspaces compatible with Grafana version 9 or above, use workspace service accounts instead of API keys. API keys will be removed in a future release.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkspaceApiKeyRequest",
        "variableName" : "deleteWorkspaceApiKeyRequest",
        "variableType" : "DeleteWorkspaceApiKeyRequest",
        "documentation" : "",
        "simpleType" : "DeleteWorkspaceApiKeyRequest",
        "variableSetterType" : "DeleteWorkspaceApiKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorkspaceApiKey",
      "operationName" : "DeleteWorkspaceApiKey",
      "returnType" : {
        "returnType" : "DeleteWorkspaceApiKeyResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkspaceApiKeyResult"
    },
    "DeleteWorkspaceServiceAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkspaceServiceAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkspaceServiceAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkspaceServiceAccountRequest, DeleteWorkspaceServiceAccountResult>",
      "asyncReturnType" : "DeleteWorkspaceServiceAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a workspace service account from the workspace.</p> <p>This will delete any tokens created for the service account, as well. If the tokens are currently in use, the will fail to authenticate / authorize after they are deleted.</p> <p>Service accounts are only available for workspaces that are compatible with Grafana version 9 and above.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkspaceServiceAccountRequest",
        "variableName" : "deleteWorkspaceServiceAccountRequest",
        "variableType" : "DeleteWorkspaceServiceAccountRequest",
        "documentation" : "",
        "simpleType" : "DeleteWorkspaceServiceAccountRequest",
        "variableSetterType" : "DeleteWorkspaceServiceAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorkspaceServiceAccount",
      "operationName" : "DeleteWorkspaceServiceAccount",
      "returnType" : {
        "returnType" : "DeleteWorkspaceServiceAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkspaceServiceAccountResult"
    },
    "DeleteWorkspaceServiceAccountToken" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkspaceServiceAccountTokenResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkspaceServiceAccountTokenResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkspaceServiceAccountTokenRequest, DeleteWorkspaceServiceAccountTokenResult>",
      "asyncReturnType" : "DeleteWorkspaceServiceAccountTokenResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a token for the workspace service account.</p> <p>This will disable the key associated with the token. If any automation is currently using the key, it will no longer be authenticated or authorized to perform actions with the Grafana HTTP APIs.</p> <p>Service accounts are only available for workspaces that are compatible with Grafana version 9 and above.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkspaceServiceAccountTokenRequest",
        "variableName" : "deleteWorkspaceServiceAccountTokenRequest",
        "variableType" : "DeleteWorkspaceServiceAccountTokenRequest",
        "documentation" : "",
        "simpleType" : "DeleteWorkspaceServiceAccountTokenRequest",
        "variableSetterType" : "DeleteWorkspaceServiceAccountTokenRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorkspaceServiceAccountToken",
      "operationName" : "DeleteWorkspaceServiceAccountToken",
      "returnType" : {
        "returnType" : "DeleteWorkspaceServiceAccountTokenResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkspaceServiceAccountTokenResult"
    },
    "DescribeWorkspace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspaceRequest, DescribeWorkspaceResult>",
      "asyncReturnType" : "DescribeWorkspaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays information about one Amazon Managed Grafana workspace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeWorkspaceRequest",
        "variableName" : "describeWorkspaceRequest",
        "variableType" : "DescribeWorkspaceRequest",
        "documentation" : "",
        "simpleType" : "DescribeWorkspaceRequest",
        "variableSetterType" : "DescribeWorkspaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWorkspace",
      "operationName" : "DescribeWorkspace",
      "returnType" : {
        "returnType" : "DescribeWorkspaceResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeWorkspaceResult"
    },
    "DescribeWorkspaceAuthentication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspaceAuthenticationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspaceAuthenticationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspaceAuthenticationRequest, DescribeWorkspaceAuthenticationResult>",
      "asyncReturnType" : "DescribeWorkspaceAuthenticationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays information about the authentication methods used in one Amazon Managed Grafana workspace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeWorkspaceAuthenticationRequest",
        "variableName" : "describeWorkspaceAuthenticationRequest",
        "variableType" : "DescribeWorkspaceAuthenticationRequest",
        "documentation" : "",
        "simpleType" : "DescribeWorkspaceAuthenticationRequest",
        "variableSetterType" : "DescribeWorkspaceAuthenticationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWorkspaceAuthentication",
      "operationName" : "DescribeWorkspaceAuthentication",
      "returnType" : {
        "returnType" : "DescribeWorkspaceAuthenticationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeWorkspaceAuthenticationResult"
    },
    "DescribeWorkspaceConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspaceConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspaceConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspaceConfigurationRequest, DescribeWorkspaceConfigurationResult>",
      "asyncReturnType" : "DescribeWorkspaceConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the current configuration string for the given workspace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeWorkspaceConfigurationRequest",
        "variableName" : "describeWorkspaceConfigurationRequest",
        "variableType" : "DescribeWorkspaceConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DescribeWorkspaceConfigurationRequest",
        "variableSetterType" : "DescribeWorkspaceConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWorkspaceConfiguration",
      "operationName" : "DescribeWorkspaceConfiguration",
      "returnType" : {
        "returnType" : "DescribeWorkspaceConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeWorkspaceConfigurationResult"
    },
    "DisassociateLicense" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateLicenseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateLicenseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateLicenseRequest, DisassociateLicenseResult>",
      "asyncReturnType" : "DisassociateLicenseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the Grafana Enterprise license from a workspace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateLicenseRequest",
        "variableName" : "disassociateLicenseRequest",
        "variableType" : "DisassociateLicenseRequest",
        "documentation" : "",
        "simpleType" : "DisassociateLicenseRequest",
        "variableSetterType" : "DisassociateLicenseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateLicense",
      "operationName" : "DisassociateLicense",
      "returnType" : {
        "returnType" : "DisassociateLicenseResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateLicenseResult"
    },
    "ListPermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPermissionsRequest, ListPermissionsResult>",
      "asyncReturnType" : "ListPermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the users and groups who have the Grafana <code>Admin</code> and <code>Editor</code> roles in this workspace. If you use this operation without specifying <code>userId</code> or <code>groupId</code>, the operation returns the roles of all users and groups. If you specify a <code>userId</code> or a <code>groupId</code>, only the roles for that user or group are returned. If you do this, you can specify only one <code>userId</code> or one <code>groupId</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPermissionsRequest",
        "variableName" : "listPermissionsRequest",
        "variableType" : "ListPermissionsRequest",
        "documentation" : "",
        "simpleType" : "ListPermissionsRequest",
        "variableSetterType" : "ListPermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPermissions",
      "operationName" : "ListPermissions",
      "returnType" : {
        "returnType" : "ListPermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPermissionsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The <code>ListTagsForResource</code> operation returns the tags that are associated with the Amazon Managed Service for Grafana resource specified by the <code>resourceArn</code>. Currently, the only resource that can be tagged is a workspace. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListVersionsRequest, ListVersionsResult>",
      "asyncReturnType" : "ListVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists available versions of Grafana. These are available when calling <code>CreateWorkspace</code>. Optionally, include a workspace to list the versions to which it can be upgraded.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListVersionsRequest",
        "variableName" : "listVersionsRequest",
        "variableType" : "ListVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListVersionsRequest",
        "variableSetterType" : "ListVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listVersions",
      "operationName" : "ListVersions",
      "returnType" : {
        "returnType" : "ListVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListVersionsResult"
    },
    "ListWorkspaceServiceAccountTokens" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWorkspaceServiceAccountTokensResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWorkspaceServiceAccountTokensResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWorkspaceServiceAccountTokensRequest, ListWorkspaceServiceAccountTokensResult>",
      "asyncReturnType" : "ListWorkspaceServiceAccountTokensResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of tokens for a workspace service account.</p> <note> <p>This does not return the key for each token. You cannot access keys after they are created. To create a new key, delete the token and recreate it.</p> </note> <p>Service accounts are only available for workspaces that are compatible with Grafana version 9 and above.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWorkspaceServiceAccountTokensRequest",
        "variableName" : "listWorkspaceServiceAccountTokensRequest",
        "variableType" : "ListWorkspaceServiceAccountTokensRequest",
        "documentation" : "",
        "simpleType" : "ListWorkspaceServiceAccountTokensRequest",
        "variableSetterType" : "ListWorkspaceServiceAccountTokensRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWorkspaceServiceAccountTokens",
      "operationName" : "ListWorkspaceServiceAccountTokens",
      "returnType" : {
        "returnType" : "ListWorkspaceServiceAccountTokensResult",
        "documentation" : null
      },
      "syncReturnType" : "ListWorkspaceServiceAccountTokensResult"
    },
    "ListWorkspaceServiceAccounts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWorkspaceServiceAccountsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWorkspaceServiceAccountsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWorkspaceServiceAccountsRequest, ListWorkspaceServiceAccountsResult>",
      "asyncReturnType" : "ListWorkspaceServiceAccountsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of service accounts for a workspace.</p> <p>Service accounts are only available for workspaces that are compatible with Grafana version 9 and above.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWorkspaceServiceAccountsRequest",
        "variableName" : "listWorkspaceServiceAccountsRequest",
        "variableType" : "ListWorkspaceServiceAccountsRequest",
        "documentation" : "",
        "simpleType" : "ListWorkspaceServiceAccountsRequest",
        "variableSetterType" : "ListWorkspaceServiceAccountsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWorkspaceServiceAccounts",
      "operationName" : "ListWorkspaceServiceAccounts",
      "returnType" : {
        "returnType" : "ListWorkspaceServiceAccountsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListWorkspaceServiceAccountsResult"
    },
    "ListWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWorkspacesRequest, ListWorkspacesResult>",
      "asyncReturnType" : "ListWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of Amazon Managed Grafana workspaces in the account, with some information about each workspace. For more complete information about one workspace, use <a href=\"https://docs.aws.amazon.com/AAMG/latest/APIReference/API_DescribeWorkspace.html\">DescribeWorkspace</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWorkspacesRequest",
        "variableName" : "listWorkspacesRequest",
        "variableType" : "ListWorkspacesRequest",
        "documentation" : "",
        "simpleType" : "ListWorkspacesRequest",
        "variableSetterType" : "ListWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWorkspaces",
      "operationName" : "ListWorkspaces",
      "returnType" : {
        "returnType" : "ListWorkspacesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListWorkspacesResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The <code>TagResource</code> operation associates tags with an Amazon Managed Grafana resource. Currently, the only resource that can be tagged is workspaces. </p> <p>If you specify a new tag key for the resource, this tag is appended to the list of tags associated with the resource. If you specify a tag key that is already associated with the resource, the new tag value that you specify replaces the previous value for that tag.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>The <code>UntagResource</code> operation removes the association of the tag with the Amazon Managed Grafana resource. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdatePermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePermissionsRequest, UpdatePermissionsResult>",
      "asyncReturnType" : "UpdatePermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates which users in a workspace have the Grafana <code>Admin</code> or <code>Editor</code> roles.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdatePermissionsRequest",
        "variableName" : "updatePermissionsRequest",
        "variableType" : "UpdatePermissionsRequest",
        "documentation" : "",
        "simpleType" : "UpdatePermissionsRequest",
        "variableSetterType" : "UpdatePermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updatePermissions",
      "operationName" : "UpdatePermissions",
      "returnType" : {
        "returnType" : "UpdatePermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdatePermissionsResult"
    },
    "UpdateWorkspace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateWorkspaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateWorkspaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateWorkspaceRequest, UpdateWorkspaceResult>",
      "asyncReturnType" : "UpdateWorkspaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Modifies an existing Amazon Managed Grafana workspace. If you use this operation and omit any optional parameters, the existing values of those parameters are not changed.</p> <p>To modify the user authentication methods that the workspace uses, such as SAML or IAM Identity Center, use <a href=\"https://docs.aws.amazon.com/grafana/latest/APIReference/API_UpdateWorkspaceAuthentication.html\">UpdateWorkspaceAuthentication</a>.</p> <p>To modify which users in the workspace have the <code>Admin</code> and <code>Editor</code> Grafana roles, use <a href=\"https://docs.aws.amazon.com/grafana/latest/APIReference/API_UpdatePermissions.html\">UpdatePermissions</a>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateWorkspaceRequest",
        "variableName" : "updateWorkspaceRequest",
        "variableType" : "UpdateWorkspaceRequest",
        "documentation" : "",
        "simpleType" : "UpdateWorkspaceRequest",
        "variableSetterType" : "UpdateWorkspaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateWorkspace",
      "operationName" : "UpdateWorkspace",
      "returnType" : {
        "returnType" : "UpdateWorkspaceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateWorkspaceResult"
    },
    "UpdateWorkspaceAuthentication" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateWorkspaceAuthenticationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateWorkspaceAuthenticationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateWorkspaceAuthenticationRequest, UpdateWorkspaceAuthenticationResult>",
      "asyncReturnType" : "UpdateWorkspaceAuthenticationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Use this operation to define the identity provider (IdP) that this workspace authenticates users from, using SAML. You can also map SAML assertion attributes to workspace user information and define which groups in the assertion attribute are to have the <code>Admin</code> and <code>Editor</code> roles in the workspace.</p> <note> <p>Changes to the authentication method for a workspace may take a few minutes to take effect.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateWorkspaceAuthenticationRequest",
        "variableName" : "updateWorkspaceAuthenticationRequest",
        "variableType" : "UpdateWorkspaceAuthenticationRequest",
        "documentation" : "",
        "simpleType" : "UpdateWorkspaceAuthenticationRequest",
        "variableSetterType" : "UpdateWorkspaceAuthenticationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateWorkspaceAuthentication",
      "operationName" : "UpdateWorkspaceAuthentication",
      "returnType" : {
        "returnType" : "UpdateWorkspaceAuthenticationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateWorkspaceAuthenticationResult"
    },
    "UpdateWorkspaceConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateWorkspaceConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateWorkspaceConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateWorkspaceConfigurationRequest, UpdateWorkspaceConfigurationResult>",
      "asyncReturnType" : "UpdateWorkspaceConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the configuration string for the given workspace</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request references a resource that does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied because of request throttling. Retry the request.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The value of a parameter in the request caused an error.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error while processing the request. Retry the request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateWorkspaceConfigurationRequest",
        "variableName" : "updateWorkspaceConfigurationRequest",
        "variableType" : "UpdateWorkspaceConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateWorkspaceConfigurationRequest",
        "variableSetterType" : "UpdateWorkspaceConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateWorkspaceConfiguration",
      "operationName" : "UpdateWorkspaceConfiguration",
      "returnType" : {
        "returnType" : "UpdateWorkspaceConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateWorkspaceConfigurationResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient permissions to perform this action. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.managedgrafana.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.managedgrafana.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AccountAccessType" : {
      "c2jName" : "AccountAccessType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "CURRENT_ACCOUNT",
        "value" : "CURRENT_ACCOUNT"
      }, {
        "name" : "ORGANIZATION",
        "value" : "ORGANIZATION"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.managedgrafana.enum.AccountAccessType",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.managedgrafana.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccountAccessType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccountAccessType",
        "variableName" : "accountAccessType",
        "variableType" : "AccountAccessType",
        "documentation" : null,
        "simpleType" : "AccountAccessType",
        "variableSetterType" : "AccountAccessType"
      },
      "wrapper" : false
    },
    "AssertionAttributes" : {
      "c2jName" : "AssertionAttributes",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A structure that defines which attributes in the IdP assertion are to be used to define information about the users authenticated by the IdP to use the workspace.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.managedgrafana.model.AssertionAttributes",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "email",
        "c2jShape" : "AssertionAttribute",
        "deprecated" : false,
        "documentation" : "<p>The name of the attribute within the SAML assertion to use as the email names for SAML users.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the email names for SAML users.</p>\n@param email The name of the attribute within the SAML assertion to use as the email names for SAML users.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEmail",
        "getterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the email names for SAML users.</p>\n@return The name of the attribute within the SAML assertion to use as the email names for SAML users.*/",
        "getterMethodName" : "getEmail",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "email",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "email",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Email",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the email names for SAML users.</p>\n@param email The name of the attribute within the SAML assertion to use as the email names for SAML users.*/",
        "setterMethodName" : "setEmail",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "email",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the email names for SAML users.</p>\n@param email The name of the attribute within the SAML assertion to use as the email names for SAML users.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "email",
          "variableType" : "String",
          "documentation" : "<p>The name of the attribute within the SAML assertion to use as the email names for SAML users.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "groups",
        "c2jShape" : "AssertionAttribute",
        "deprecated" : false,
        "documentation" : "<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for user groups.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for user groups.</p>\n@param groups The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for user groups.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGroups",
        "getterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for user groups.</p>\n@return The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for user groups.*/",
        "getterMethodName" : "getGroups",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "groups",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "groups",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Groups",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for user groups.</p>\n@param groups The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for user groups.*/",
        "setterMethodName" : "setGroups",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "groups",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for user groups.</p>\n@param groups The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for user groups.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "groups",
          "variableType" : "String",
          "documentation" : "<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for user groups.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "login",
        "c2jShape" : "AssertionAttribute",
        "deprecated" : false,
        "documentation" : "<p>The name of the attribute within the SAML assertion to use as the login names for SAML users.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the login names for SAML users.</p>\n@param login The name of the attribute within the SAML assertion to use as the login names for SAML users.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLogin",
        "getterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the login names for SAML users.</p>\n@return The name of the attribute within the SAML assertion to use as the login names for SAML users.*/",
        "getterMethodName" : "getLogin",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "login",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "login",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Login",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the login names for SAML users.</p>\n@param login The name of the attribute within the SAML assertion to use as the login names for SAML users.*/",
        "setterMethodName" : "setLogin",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "login",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the login names for SAML users.</p>\n@param login The name of the attribute within the SAML assertion to use as the login names for SAML users.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "login",
          "variableType" : "String",
          "documentation" : "<p>The name of the attribute within the SAML assertion to use as the login names for SAML users.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "name",
        "c2jShape" : "AssertionAttribute",
        "deprecated" : false,
        "documentation" : "<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for SAML users.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for SAML users.</p>\n@param name The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for SAML users.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for SAML users.</p>\n@return The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for SAML users.*/",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for SAML users.</p>\n@param name The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for SAML users.*/",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for SAML users.</p>\n@param name The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for SAML users.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for SAML users.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "org",
        "c2jShape" : "AssertionAttribute",
        "deprecated" : false,
        "documentation" : "<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for the users' organizations.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for the users' organizations.</p>\n@param org The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for the users' organizations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withOrg",
        "getterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for the users' organizations.</p>\n@return The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for the users' organizations.*/",
        "getterMethodName" : "getOrg",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "org",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "org",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Org",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for the users' organizations.</p>\n@param org The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for the users' organizations.*/",
        "setterMethodName" : "setOrg",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "org",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for the users' organizations.</p>\n@param org The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for the users' organizations.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "org",
          "variableType" : "String",
          "documentation" : "<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for the users' organizations.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "role",
        "c2jShape" : "AssertionAttribute",
        "deprecated" : false,
        "documentation" : "<p>The name of the attribute within the SAML assertion to use as the user roles.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the user roles.</p>\n@param role The name of the attribute within the SAML assertion to use as the user roles.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRole",
        "getterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the user roles.</p>\n@return The name of the attribute within the SAML assertion to use as the user roles.*/",
        "getterMethodName" : "getRole",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "role",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "role",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Role",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the attribute within the SAML assertion to use as the user roles.</p>\n@param role The name of the attribute within the SAML assertion to use as the user roles.*/",
        "setterMethodName" : "setRole",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "role",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
[...]
