{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "CreateDeploymentRequest" : [ "DeploymentType" ],
      "Logger" : [ "Component", "Level", "Type" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2017-06-07",
    "asyncClient" : "AWSGreengrassAsyncClient",
    "asyncClientBuilderClassName" : "AWSGreengrassAsyncClientBuilder",
    "asyncInterface" : "AWSGreengrassAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSGreengrassModuleInjector",
    "defaultEndpoint" : "greengrass.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "greengrass.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "AWS Greengrass seamlessly extends AWS onto physical devices so they can act locally on the data they generate, while still using the cloud for management, analytics, and durable storage. AWS Greengrass ensures your devices can respond quickly to local events and operate with intermittent connectivity. AWS Greengrass minimizes the cost of transmitting data to the cloud by allowing you to author AWS Lambda functions that execute locally.",
    "endpointPrefix" : "greengrass",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.greengrass",
    "packagePath" : "com/amazonaws/services/greengrass",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Greengrass",
    "serviceName" : "AWS Greengrass",
    "signingName" : "greengrass",
    "smokeTestsPackageName" : "com.amazonaws.services.greengrass.smoketests",
    "syncClient" : "AWSGreengrassClient",
    "syncClientBuilderClassName" : "AWSGreengrassClientBuilder",
    "syncInterface" : "AWSGreengrass",
    "uid" : "greengrass-2017-06-07",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateRoleToGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateRoleToGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateRoleToGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateRoleToGroupRequest, AssociateRoleToGroupResult>",
      "asyncReturnType" : "AssociateRoleToGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Associates a role with a group. Your AWS Greengrass core will use the role to access AWS cloud services. The role's permissions should allow Greengrass core Lambda functions to perform actions against the cloud.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "server error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AssociateRoleToGroupRequest",
        "variableName" : "associateRoleToGroupRequest",
        "variableType" : "AssociateRoleToGroupRequest",
        "documentation" : "",
        "simpleType" : "AssociateRoleToGroupRequest",
        "variableSetterType" : "AssociateRoleToGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateRoleToGroup",
      "operationName" : "AssociateRoleToGroup",
      "returnType" : {
        "returnType" : "AssociateRoleToGroupResult",
        "documentation" : "success"
      },
      "syncReturnType" : "AssociateRoleToGroupResult"
    },
    "AssociateServiceRoleToAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateServiceRoleToAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateServiceRoleToAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateServiceRoleToAccountRequest, AssociateServiceRoleToAccountResult>",
      "asyncReturnType" : "AssociateServiceRoleToAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Associates a role with your account. AWS Greengrass will use the role to access your Lambda functions and AWS IoT resources. This is necessary for deployments to succeed. The role must have at least minimum permissions in the policy ''AWSGreengrassResourceAccessRolePolicy''.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "server error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AssociateServiceRoleToAccountRequest",
        "variableName" : "associateServiceRoleToAccountRequest",
        "variableType" : "AssociateServiceRoleToAccountRequest",
        "documentation" : "",
        "simpleType" : "AssociateServiceRoleToAccountRequest",
        "variableSetterType" : "AssociateServiceRoleToAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateServiceRoleToAccount",
      "operationName" : "AssociateServiceRoleToAccount",
      "returnType" : {
        "returnType" : "AssociateServiceRoleToAccountResult",
        "documentation" : "success"
      },
      "syncReturnType" : "AssociateServiceRoleToAccountResult"
    },
    "CreateCoreDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCoreDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCoreDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCoreDefinitionRequest, CreateCoreDefinitionResult>",
      "asyncReturnType" : "CreateCoreDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a core definition. You may provide the initial version of the core definition now or use ''CreateCoreDefinitionVersion'' at a later time. AWS Greengrass groups must each contain exactly one AWS Greengrass core.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateCoreDefinitionRequest",
        "variableName" : "createCoreDefinitionRequest",
        "variableType" : "CreateCoreDefinitionRequest",
        "documentation" : "Information needed to create a core definition.",
        "simpleType" : "CreateCoreDefinitionRequest",
        "variableSetterType" : "CreateCoreDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCoreDefinition",
      "operationName" : "CreateCoreDefinition",
      "returnType" : {
        "returnType" : "CreateCoreDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateCoreDefinitionResult"
    },
    "CreateCoreDefinitionVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCoreDefinitionVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCoreDefinitionVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCoreDefinitionVersionRequest, CreateCoreDefinitionVersionResult>",
      "asyncReturnType" : "CreateCoreDefinitionVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a version of a core definition that has already been defined. AWS Greengrass groups must each contain exactly one AWS Greengrass core.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateCoreDefinitionVersionRequest",
        "variableName" : "createCoreDefinitionVersionRequest",
        "variableType" : "CreateCoreDefinitionVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateCoreDefinitionVersionRequest",
        "variableSetterType" : "CreateCoreDefinitionVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCoreDefinitionVersion",
      "operationName" : "CreateCoreDefinitionVersion",
      "returnType" : {
        "returnType" : "CreateCoreDefinitionVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateCoreDefinitionVersionResult"
    },
    "CreateDeployment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeploymentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeploymentRequest, CreateDeploymentResult>",
      "asyncReturnType" : "CreateDeploymentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a deployment.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDeploymentRequest",
        "variableName" : "createDeploymentRequest",
        "variableType" : "CreateDeploymentRequest",
        "documentation" : "",
        "simpleType" : "CreateDeploymentRequest",
        "variableSetterType" : "CreateDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDeployment",
      "operationName" : "CreateDeployment",
      "returnType" : {
        "returnType" : "CreateDeploymentResult",
        "documentation" : "Success. The group was deployed."
      },
      "syncReturnType" : "CreateDeploymentResult"
    },
    "CreateDeviceDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeviceDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeviceDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeviceDefinitionRequest, CreateDeviceDefinitionResult>",
      "asyncReturnType" : "CreateDeviceDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a device definition. You may provide the initial version of the device definition now or use ''CreateDeviceDefinitionVersion'' at a later time.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDeviceDefinitionRequest",
        "variableName" : "createDeviceDefinitionRequest",
        "variableType" : "CreateDeviceDefinitionRequest",
        "documentation" : "",
        "simpleType" : "CreateDeviceDefinitionRequest",
        "variableSetterType" : "CreateDeviceDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDeviceDefinition",
      "operationName" : "CreateDeviceDefinition",
      "returnType" : {
        "returnType" : "CreateDeviceDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDeviceDefinitionResult"
    },
    "CreateDeviceDefinitionVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeviceDefinitionVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeviceDefinitionVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeviceDefinitionVersionRequest, CreateDeviceDefinitionVersionResult>",
      "asyncReturnType" : "CreateDeviceDefinitionVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a version of a device definition that has already been defined.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateDeviceDefinitionVersionRequest",
        "variableName" : "createDeviceDefinitionVersionRequest",
        "variableType" : "CreateDeviceDefinitionVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateDeviceDefinitionVersionRequest",
        "variableSetterType" : "CreateDeviceDefinitionVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDeviceDefinitionVersion",
      "operationName" : "CreateDeviceDefinitionVersion",
      "returnType" : {
        "returnType" : "CreateDeviceDefinitionVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDeviceDefinitionVersionResult"
    },
    "CreateFunctionDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFunctionDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFunctionDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFunctionDefinitionRequest, CreateFunctionDefinitionResult>",
      "asyncReturnType" : "CreateFunctionDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a Lambda function definition which contains a list of Lambda functions and their configurations to be used in a group. You can create an initial version of the definition by providing a list of Lambda functions and their configurations now, or use ''CreateFunctionDefinitionVersion'' later.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateFunctionDefinitionRequest",
        "variableName" : "createFunctionDefinitionRequest",
        "variableType" : "CreateFunctionDefinitionRequest",
        "documentation" : "",
        "simpleType" : "CreateFunctionDefinitionRequest",
        "variableSetterType" : "CreateFunctionDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFunctionDefinition",
      "operationName" : "CreateFunctionDefinition",
      "returnType" : {
        "returnType" : "CreateFunctionDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFunctionDefinitionResult"
    },
    "CreateFunctionDefinitionVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFunctionDefinitionVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFunctionDefinitionVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFunctionDefinitionVersionRequest, CreateFunctionDefinitionVersionResult>",
      "asyncReturnType" : "CreateFunctionDefinitionVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a version of a Lambda function definition that has already been defined.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateFunctionDefinitionVersionRequest",
        "variableName" : "createFunctionDefinitionVersionRequest",
        "variableType" : "CreateFunctionDefinitionVersionRequest",
        "documentation" : "Information needed to create a function definition version.",
        "simpleType" : "CreateFunctionDefinitionVersionRequest",
        "variableSetterType" : "CreateFunctionDefinitionVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFunctionDefinitionVersion",
      "operationName" : "CreateFunctionDefinitionVersion",
      "returnType" : {
        "returnType" : "CreateFunctionDefinitionVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFunctionDefinitionVersionResult"
    },
    "CreateGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGroupRequest, CreateGroupResult>",
      "asyncReturnType" : "CreateGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a group. You may provide the initial version of the group or use ''CreateGroupVersion'' at a later time.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateGroupRequest",
        "variableName" : "createGroupRequest",
        "variableType" : "CreateGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateGroupRequest",
        "variableSetterType" : "CreateGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGroup",
      "operationName" : "CreateGroup",
      "returnType" : {
        "returnType" : "CreateGroupResult",
        "documentation" : "Success. The group was created."
      },
      "syncReturnType" : "CreateGroupResult"
    },
    "CreateGroupCertificateAuthority" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGroupCertificateAuthorityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGroupCertificateAuthorityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGroupCertificateAuthorityRequest, CreateGroupCertificateAuthorityResult>",
      "asyncReturnType" : "CreateGroupCertificateAuthorityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a CA for the group. If a CA already exists, it will rotate the existing CA.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "server error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateGroupCertificateAuthorityRequest",
        "variableName" : "createGroupCertificateAuthorityRequest",
        "variableType" : "CreateGroupCertificateAuthorityRequest",
        "documentation" : "",
        "simpleType" : "CreateGroupCertificateAuthorityRequest",
        "variableSetterType" : "CreateGroupCertificateAuthorityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGroupCertificateAuthority",
      "operationName" : "CreateGroupCertificateAuthority",
      "returnType" : {
        "returnType" : "CreateGroupCertificateAuthorityResult",
        "documentation" : "Success. The response body contains the new active CA ARN."
      },
      "syncReturnType" : "CreateGroupCertificateAuthorityResult"
    },
    "CreateGroupVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateGroupVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateGroupVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateGroupVersionRequest, CreateGroupVersionResult>",
      "asyncReturnType" : "CreateGroupVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a version of a group which has already been defined.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateGroupVersionRequest",
        "variableName" : "createGroupVersionRequest",
        "variableType" : "CreateGroupVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateGroupVersionRequest",
        "variableSetterType" : "CreateGroupVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createGroupVersion",
      "operationName" : "CreateGroupVersion",
      "returnType" : {
        "returnType" : "CreateGroupVersionResult",
        "documentation" : "Success. The response contains information about the group version."
      },
      "syncReturnType" : "CreateGroupVersionResult"
    },
    "CreateLoggerDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLoggerDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLoggerDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLoggerDefinitionRequest, CreateLoggerDefinitionResult>",
      "asyncReturnType" : "CreateLoggerDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a logger definition. You may provide the initial version of the logger definition now or use ''CreateLoggerDefinitionVersion'' at a later time.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateLoggerDefinitionRequest",
        "variableName" : "createLoggerDefinitionRequest",
        "variableType" : "CreateLoggerDefinitionRequest",
        "documentation" : "",
        "simpleType" : "CreateLoggerDefinitionRequest",
        "variableSetterType" : "CreateLoggerDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLoggerDefinition",
      "operationName" : "CreateLoggerDefinition",
      "returnType" : {
        "returnType" : "CreateLoggerDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLoggerDefinitionResult"
    },
    "CreateLoggerDefinitionVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLoggerDefinitionVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLoggerDefinitionVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLoggerDefinitionVersionRequest, CreateLoggerDefinitionVersionResult>",
      "asyncReturnType" : "CreateLoggerDefinitionVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a version of a logger definition that has already been defined.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateLoggerDefinitionVersionRequest",
        "variableName" : "createLoggerDefinitionVersionRequest",
        "variableType" : "CreateLoggerDefinitionVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateLoggerDefinitionVersionRequest",
        "variableSetterType" : "CreateLoggerDefinitionVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLoggerDefinitionVersion",
      "operationName" : "CreateLoggerDefinitionVersion",
      "returnType" : {
        "returnType" : "CreateLoggerDefinitionVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateLoggerDefinitionVersionResult"
    },
    "CreateResourceDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResourceDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResourceDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResourceDefinitionRequest, CreateResourceDefinitionResult>",
      "asyncReturnType" : "CreateResourceDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a resource definition which contains a list of resources to be used in a group. You can create an initial version of the definition by providing a list of resources now, or use ''CreateResourceDefinitionVersion'' later.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateResourceDefinitionRequest",
        "variableName" : "createResourceDefinitionRequest",
        "variableType" : "CreateResourceDefinitionRequest",
        "documentation" : "",
        "simpleType" : "CreateResourceDefinitionRequest",
        "variableSetterType" : "CreateResourceDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createResourceDefinition",
      "operationName" : "CreateResourceDefinition",
      "returnType" : {
        "returnType" : "CreateResourceDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateResourceDefinitionResult"
    },
    "CreateResourceDefinitionVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResourceDefinitionVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResourceDefinitionVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResourceDefinitionVersionRequest, CreateResourceDefinitionVersionResult>",
      "asyncReturnType" : "CreateResourceDefinitionVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a version of a resource definition that has already been defined.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateResourceDefinitionVersionRequest",
        "variableName" : "createResourceDefinitionVersionRequest",
        "variableType" : "CreateResourceDefinitionVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateResourceDefinitionVersionRequest",
        "variableSetterType" : "CreateResourceDefinitionVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createResourceDefinitionVersion",
      "operationName" : "CreateResourceDefinitionVersion",
      "returnType" : {
        "returnType" : "CreateResourceDefinitionVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateResourceDefinitionVersionResult"
    },
    "CreateSoftwareUpdateJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSoftwareUpdateJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSoftwareUpdateJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSoftwareUpdateJobRequest, CreateSoftwareUpdateJobResult>",
      "asyncReturnType" : "CreateSoftwareUpdateJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a software update for a core or group of cores (specified as an IoT thing group.) Use this to update the OTA Agent as well as the Greengrass core software. It makes use of the IoT Jobs feature which provides additional commands to manage a Greengrass core software update job.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "server error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateSoftwareUpdateJobRequest",
        "variableName" : "createSoftwareUpdateJobRequest",
        "variableType" : "CreateSoftwareUpdateJobRequest",
        "documentation" : "",
        "simpleType" : "CreateSoftwareUpdateJobRequest",
        "variableSetterType" : "CreateSoftwareUpdateJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSoftwareUpdateJob",
      "operationName" : "CreateSoftwareUpdateJob",
      "returnType" : {
        "returnType" : "CreateSoftwareUpdateJobResult",
        "documentation" : "success"
      },
      "syncReturnType" : "CreateSoftwareUpdateJobResult"
    },
    "CreateSubscriptionDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSubscriptionDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSubscriptionDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSubscriptionDefinitionRequest, CreateSubscriptionDefinitionResult>",
      "asyncReturnType" : "CreateSubscriptionDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a subscription definition. You may provide the initial version of the subscription definition now or use ''CreateSubscriptionDefinitionVersion'' at a later time.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateSubscriptionDefinitionRequest",
        "variableName" : "createSubscriptionDefinitionRequest",
        "variableType" : "CreateSubscriptionDefinitionRequest",
        "documentation" : "",
        "simpleType" : "CreateSubscriptionDefinitionRequest",
        "variableSetterType" : "CreateSubscriptionDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSubscriptionDefinition",
      "operationName" : "CreateSubscriptionDefinition",
      "returnType" : {
        "returnType" : "CreateSubscriptionDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSubscriptionDefinitionResult"
    },
    "CreateSubscriptionDefinitionVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSubscriptionDefinitionVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSubscriptionDefinitionVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSubscriptionDefinitionVersionRequest, CreateSubscriptionDefinitionVersionResult>",
      "asyncReturnType" : "CreateSubscriptionDefinitionVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a version of a subscription definition which has already been defined.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateSubscriptionDefinitionVersionRequest",
        "variableName" : "createSubscriptionDefinitionVersionRequest",
        "variableType" : "CreateSubscriptionDefinitionVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateSubscriptionDefinitionVersionRequest",
        "variableSetterType" : "CreateSubscriptionDefinitionVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSubscriptionDefinitionVersion",
      "operationName" : "CreateSubscriptionDefinitionVersion",
      "returnType" : {
        "returnType" : "CreateSubscriptionDefinitionVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSubscriptionDefinitionVersionResult"
    },
    "DeleteCoreDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCoreDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCoreDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCoreDefinitionRequest, DeleteCoreDefinitionResult>",
      "asyncReturnType" : "DeleteCoreDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes a core definition.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteCoreDefinitionRequest",
        "variableName" : "deleteCoreDefinitionRequest",
        "variableType" : "DeleteCoreDefinitionRequest",
        "documentation" : "",
        "simpleType" : "DeleteCoreDefinitionRequest",
        "variableSetterType" : "DeleteCoreDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCoreDefinition",
      "operationName" : "DeleteCoreDefinition",
      "returnType" : {
        "returnType" : "DeleteCoreDefinitionResult",
        "documentation" : "success"
      },
      "syncReturnType" : "DeleteCoreDefinitionResult"
    },
    "DeleteDeviceDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDeviceDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDeviceDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDeviceDefinitionRequest, DeleteDeviceDefinitionResult>",
      "asyncReturnType" : "DeleteDeviceDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes a device definition.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteDeviceDefinitionRequest",
        "variableName" : "deleteDeviceDefinitionRequest",
        "variableType" : "DeleteDeviceDefinitionRequest",
        "documentation" : "",
        "simpleType" : "DeleteDeviceDefinitionRequest",
        "variableSetterType" : "DeleteDeviceDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDeviceDefinition",
      "operationName" : "DeleteDeviceDefinition",
      "returnType" : {
        "returnType" : "DeleteDeviceDefinitionResult",
        "documentation" : "success"
      },
      "syncReturnType" : "DeleteDeviceDefinitionResult"
    },
    "DeleteFunctionDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFunctionDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFunctionDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFunctionDefinitionRequest, DeleteFunctionDefinitionResult>",
      "asyncReturnType" : "DeleteFunctionDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes a Lambda function definition.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteFunctionDefinitionRequest",
        "variableName" : "deleteFunctionDefinitionRequest",
        "variableType" : "DeleteFunctionDefinitionRequest",
        "documentation" : "",
        "simpleType" : "DeleteFunctionDefinitionRequest",
        "variableSetterType" : "DeleteFunctionDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFunctionDefinition",
      "operationName" : "DeleteFunctionDefinition",
      "returnType" : {
        "returnType" : "DeleteFunctionDefinitionResult",
        "documentation" : "success"
      },
      "syncReturnType" : "DeleteFunctionDefinitionResult"
    },
    "DeleteGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteGroupRequest, DeleteGroupResult>",
      "asyncReturnType" : "DeleteGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes a group.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteGroupRequest",
        "variableName" : "deleteGroupRequest",
        "variableType" : "DeleteGroupRequest",
        "documentation" : "",
        "simpleType" : "DeleteGroupRequest",
        "variableSetterType" : "DeleteGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteGroup",
      "operationName" : "DeleteGroup",
      "returnType" : {
        "returnType" : "DeleteGroupResult",
        "documentation" : "success"
      },
      "syncReturnType" : "DeleteGroupResult"
    },
    "DeleteLoggerDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLoggerDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLoggerDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLoggerDefinitionRequest, DeleteLoggerDefinitionResult>",
      "asyncReturnType" : "DeleteLoggerDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes a logger definition.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteLoggerDefinitionRequest",
        "variableName" : "deleteLoggerDefinitionRequest",
        "variableType" : "DeleteLoggerDefinitionRequest",
        "documentation" : "",
        "simpleType" : "DeleteLoggerDefinitionRequest",
        "variableSetterType" : "DeleteLoggerDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLoggerDefinition",
      "operationName" : "DeleteLoggerDefinition",
      "returnType" : {
        "returnType" : "DeleteLoggerDefinitionResult",
        "documentation" : "success"
      },
      "syncReturnType" : "DeleteLoggerDefinitionResult"
    },
    "DeleteResourceDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteResourceDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteResourceDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteResourceDefinitionRequest, DeleteResourceDefinitionResult>",
      "asyncReturnType" : "DeleteResourceDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes a resource definition.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteResourceDefinitionRequest",
        "variableName" : "deleteResourceDefinitionRequest",
        "variableType" : "DeleteResourceDefinitionRequest",
        "documentation" : "",
        "simpleType" : "DeleteResourceDefinitionRequest",
        "variableSetterType" : "DeleteResourceDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteResourceDefinition",
      "operationName" : "DeleteResourceDefinition",
      "returnType" : {
        "returnType" : "DeleteResourceDefinitionResult",
        "documentation" : "success"
      },
      "syncReturnType" : "DeleteResourceDefinitionResult"
    },
    "DeleteSubscriptionDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSubscriptionDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSubscriptionDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSubscriptionDefinitionRequest, DeleteSubscriptionDefinitionResult>",
      "asyncReturnType" : "DeleteSubscriptionDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes a subscription definition.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteSubscriptionDefinitionRequest",
        "variableName" : "deleteSubscriptionDefinitionRequest",
        "variableType" : "DeleteSubscriptionDefinitionRequest",
        "documentation" : "",
        "simpleType" : "DeleteSubscriptionDefinitionRequest",
        "variableSetterType" : "DeleteSubscriptionDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSubscriptionDefinition",
      "operationName" : "DeleteSubscriptionDefinition",
      "returnType" : {
        "returnType" : "DeleteSubscriptionDefinitionResult",
        "documentation" : "success"
      },
      "syncReturnType" : "DeleteSubscriptionDefinitionResult"
    },
    "DisassociateRoleFromGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateRoleFromGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateRoleFromGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateRoleFromGroupRequest, DisassociateRoleFromGroupResult>",
      "asyncReturnType" : "DisassociateRoleFromGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Disassociates the role from a group.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "server error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisassociateRoleFromGroupRequest",
        "variableName" : "disassociateRoleFromGroupRequest",
        "variableType" : "DisassociateRoleFromGroupRequest",
        "documentation" : "",
        "simpleType" : "DisassociateRoleFromGroupRequest",
        "variableSetterType" : "DisassociateRoleFromGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateRoleFromGroup",
      "operationName" : "DisassociateRoleFromGroup",
      "returnType" : {
        "returnType" : "DisassociateRoleFromGroupResult",
        "documentation" : "success"
      },
      "syncReturnType" : "DisassociateRoleFromGroupResult"
    },
    "DisassociateServiceRoleFromAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateServiceRoleFromAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateServiceRoleFromAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateServiceRoleFromAccountRequest, DisassociateServiceRoleFromAccountResult>",
      "asyncReturnType" : "DisassociateServiceRoleFromAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Disassociates the service role from your account. Without a service role, deployments will not work.",
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "server error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DisassociateServiceRoleFromAccountRequest",
        "variableName" : "disassociateServiceRoleFromAccountRequest",
        "variableType" : "DisassociateServiceRoleFromAccountRequest",
        "documentation" : "",
        "simpleType" : "DisassociateServiceRoleFromAccountRequest",
        "variableSetterType" : "DisassociateServiceRoleFromAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateServiceRoleFromAccount",
      "operationName" : "DisassociateServiceRoleFromAccount",
      "returnType" : {
        "returnType" : "DisassociateServiceRoleFromAccountResult",
        "documentation" : "success"
      },
      "syncReturnType" : "DisassociateServiceRoleFromAccountResult"
    },
    "GetAssociatedRole" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAssociatedRoleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAssociatedRoleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAssociatedRoleRequest, GetAssociatedRoleResult>",
      "asyncReturnType" : "GetAssociatedRoleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves the role associated with a particular group.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "server error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetAssociatedRoleRequest",
        "variableName" : "getAssociatedRoleRequest",
        "variableType" : "GetAssociatedRoleRequest",
        "documentation" : "",
        "simpleType" : "GetAssociatedRoleRequest",
        "variableSetterType" : "GetAssociatedRoleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAssociatedRole",
      "operationName" : "GetAssociatedRole",
      "returnType" : {
        "returnType" : "GetAssociatedRoleResult",
        "documentation" : "success"
      },
      "syncReturnType" : "GetAssociatedRoleResult"
    },
    "GetConnectivityInfo" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConnectivityInfoResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConnectivityInfoResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConnectivityInfoRequest, GetConnectivityInfoResult>",
      "asyncReturnType" : "GetConnectivityInfoResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves the connectivity information for a core.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "server error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetConnectivityInfoRequest",
        "variableName" : "getConnectivityInfoRequest",
        "variableType" : "GetConnectivityInfoRequest",
        "documentation" : "",
        "simpleType" : "GetConnectivityInfoRequest",
        "variableSetterType" : "GetConnectivityInfoRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConnectivityInfo",
      "operationName" : "GetConnectivityInfo",
      "returnType" : {
        "returnType" : "GetConnectivityInfoResult",
        "documentation" : "success"
      },
      "syncReturnType" : "GetConnectivityInfoResult"
    },
    "GetCoreDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCoreDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCoreDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCoreDefinitionRequest, GetCoreDefinitionResult>",
      "asyncReturnType" : "GetCoreDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves information about a core definition version.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetCoreDefinitionRequest",
        "variableName" : "getCoreDefinitionRequest",
        "variableType" : "GetCoreDefinitionRequest",
        "documentation" : "",
        "simpleType" : "GetCoreDefinitionRequest",
        "variableSetterType" : "GetCoreDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCoreDefinition",
      "operationName" : "GetCoreDefinition",
      "returnType" : {
        "returnType" : "GetCoreDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCoreDefinitionResult"
    },
    "GetCoreDefinitionVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCoreDefinitionVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCoreDefinitionVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCoreDefinitionVersionRequest, GetCoreDefinitionVersionResult>",
      "asyncReturnType" : "GetCoreDefinitionVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves information about a core definition version.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetCoreDefinitionVersionRequest",
        "variableName" : "getCoreDefinitionVersionRequest",
        "variableType" : "GetCoreDefinitionVersionRequest",
        "documentation" : "",
        "simpleType" : "GetCoreDefinitionVersionRequest",
        "variableSetterType" : "GetCoreDefinitionVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCoreDefinitionVersion",
      "operationName" : "GetCoreDefinitionVersion",
      "returnType" : {
        "returnType" : "GetCoreDefinitionVersionResult",
        "documentation" : "success"
      },
      "syncReturnType" : "GetCoreDefinitionVersionResult"
    },
    "GetDeploymentStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeploymentStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeploymentStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeploymentStatusRequest, GetDeploymentStatusResult>",
      "asyncReturnType" : "GetDeploymentStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns the status of a deployment.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDeploymentStatusRequest",
        "variableName" : "getDeploymentStatusRequest",
        "variableType" : "GetDeploymentStatusRequest",
        "documentation" : "",
        "simpleType" : "GetDeploymentStatusRequest",
        "variableSetterType" : "GetDeploymentStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDeploymentStatus",
      "operationName" : "GetDeploymentStatus",
      "returnType" : {
        "returnType" : "GetDeploymentStatusResult",
        "documentation" : "Success. The response body contains the status of the deployment for the group."
      },
      "syncReturnType" : "GetDeploymentStatusResult"
    },
    "GetDeviceDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeviceDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeviceDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeviceDefinitionRequest, GetDeviceDefinitionResult>",
      "asyncReturnType" : "GetDeviceDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves information about a device definition.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDeviceDefinitionRequest",
        "variableName" : "getDeviceDefinitionRequest",
        "variableType" : "GetDeviceDefinitionRequest",
        "documentation" : "",
        "simpleType" : "GetDeviceDefinitionRequest",
        "variableSetterType" : "GetDeviceDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDeviceDefinition",
      "operationName" : "GetDeviceDefinition",
      "returnType" : {
        "returnType" : "GetDeviceDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDeviceDefinitionResult"
    },
    "GetDeviceDefinitionVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeviceDefinitionVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeviceDefinitionVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeviceDefinitionVersionRequest, GetDeviceDefinitionVersionResult>",
      "asyncReturnType" : "GetDeviceDefinitionVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves information about a device definition version.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetDeviceDefinitionVersionRequest",
        "variableName" : "getDeviceDefinitionVersionRequest",
        "variableType" : "GetDeviceDefinitionVersionRequest",
        "documentation" : "",
        "simpleType" : "GetDeviceDefinitionVersionRequest",
        "variableSetterType" : "GetDeviceDefinitionVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDeviceDefinitionVersion",
      "operationName" : "GetDeviceDefinitionVersion",
      "returnType" : {
        "returnType" : "GetDeviceDefinitionVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDeviceDefinitionVersionResult"
    },
    "GetFunctionDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFunctionDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFunctionDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFunctionDefinitionRequest, GetFunctionDefinitionResult>",
      "asyncReturnType" : "GetFunctionDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves information about a Lambda function definition, including its creation time and latest version.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetFunctionDefinitionRequest",
        "variableName" : "getFunctionDefinitionRequest",
        "variableType" : "GetFunctionDefinitionRequest",
        "documentation" : "",
        "simpleType" : "GetFunctionDefinitionRequest",
        "variableSetterType" : "GetFunctionDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFunctionDefinition",
      "operationName" : "GetFunctionDefinition",
      "returnType" : {
        "returnType" : "GetFunctionDefinitionResult",
        "documentation" : "success"
      },
      "syncReturnType" : "GetFunctionDefinitionResult"
    },
    "GetFunctionDefinitionVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFunctionDefinitionVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFunctionDefinitionVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFunctionDefinitionVersionRequest, GetFunctionDefinitionVersionResult>",
      "asyncReturnType" : "GetFunctionDefinitionVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves information about a Lambda function definition version, including which Lambda functions are included in the version and their configurations.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetFunctionDefinitionVersionRequest",
        "variableName" : "getFunctionDefinitionVersionRequest",
        "variableType" : "GetFunctionDefinitionVersionRequest",
        "documentation" : "",
        "simpleType" : "GetFunctionDefinitionVersionRequest",
        "variableSetterType" : "GetFunctionDefinitionVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFunctionDefinitionVersion",
      "operationName" : "GetFunctionDefinitionVersion",
      "returnType" : {
        "returnType" : "GetFunctionDefinitionVersionResult",
        "documentation" : "success"
      },
      "syncReturnType" : "GetFunctionDefinitionVersionResult"
    },
    "GetGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGroupRequest, GetGroupResult>",
      "asyncReturnType" : "GetGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves information about a group.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetGroupRequest",
        "variableName" : "getGroupRequest",
        "variableType" : "GetGroupRequest",
        "documentation" : "",
        "simpleType" : "GetGroupRequest",
        "variableSetterType" : "GetGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGroup",
      "operationName" : "GetGroup",
      "returnType" : {
        "returnType" : "GetGroupResult",
        "documentation" : "success"
      },
      "syncReturnType" : "GetGroupResult"
    },
    "GetGroupCertificateAuthority" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGroupCertificateAuthorityResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGroupCertificateAuthorityResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGroupCertificateAuthorityRequest, GetGroupCertificateAuthorityResult>",
      "asyncReturnType" : "GetGroupCertificateAuthorityResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retreives the CA associated with a group. Returns the public key of the CA.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "server error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetGroupCertificateAuthorityRequest",
        "variableName" : "getGroupCertificateAuthorityRequest",
        "variableType" : "GetGroupCertificateAuthorityRequest",
        "documentation" : "",
        "simpleType" : "GetGroupCertificateAuthorityRequest",
        "variableSetterType" : "GetGroupCertificateAuthorityRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGroupCertificateAuthority",
      "operationName" : "GetGroupCertificateAuthority",
      "returnType" : {
        "returnType" : "GetGroupCertificateAuthorityResult",
        "documentation" : "Success. The response body contains the PKI Configuration."
      },
      "syncReturnType" : "GetGroupCertificateAuthorityResult"
    },
    "GetGroupCertificateConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGroupCertificateConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGroupCertificateConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGroupCertificateConfigurationRequest, GetGroupCertificateConfigurationResult>",
      "asyncReturnType" : "GetGroupCertificateConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves the current configuration for the CA used by the group.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "server error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetGroupCertificateConfigurationRequest",
        "variableName" : "getGroupCertificateConfigurationRequest",
        "variableType" : "GetGroupCertificateConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetGroupCertificateConfigurationRequest",
        "variableSetterType" : "GetGroupCertificateConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGroupCertificateConfiguration",
      "operationName" : "GetGroupCertificateConfiguration",
      "returnType" : {
        "returnType" : "GetGroupCertificateConfigurationResult",
        "documentation" : "Success. The response body contains the PKI Configuration."
      },
      "syncReturnType" : "GetGroupCertificateConfigurationResult"
    },
    "GetGroupVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetGroupVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetGroupVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetGroupVersionRequest, GetGroupVersionResult>",
      "asyncReturnType" : "GetGroupVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves information about a group version.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetGroupVersionRequest",
        "variableName" : "getGroupVersionRequest",
        "variableType" : "GetGroupVersionRequest",
        "documentation" : "",
        "simpleType" : "GetGroupVersionRequest",
        "variableSetterType" : "GetGroupVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getGroupVersion",
      "operationName" : "GetGroupVersion",
      "returnType" : {
        "returnType" : "GetGroupVersionResult",
        "documentation" : "success"
      },
      "syncReturnType" : "GetGroupVersionResult"
    },
    "GetLoggerDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLoggerDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLoggerDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLoggerDefinitionRequest, GetLoggerDefinitionResult>",
      "asyncReturnType" : "GetLoggerDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves information about a logger definition.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetLoggerDefinitionRequest",
        "variableName" : "getLoggerDefinitionRequest",
        "variableType" : "GetLoggerDefinitionRequest",
        "documentation" : "",
        "simpleType" : "GetLoggerDefinitionRequest",
        "variableSetterType" : "GetLoggerDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLoggerDefinition",
      "operationName" : "GetLoggerDefinition",
      "returnType" : {
        "returnType" : "GetLoggerDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetLoggerDefinitionResult"
    },
    "GetLoggerDefinitionVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetLoggerDefinitionVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetLoggerDefinitionVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetLoggerDefinitionVersionRequest, GetLoggerDefinitionVersionResult>",
      "asyncReturnType" : "GetLoggerDefinitionVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves information about a logger definition version.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetLoggerDefinitionVersionRequest",
        "variableName" : "getLoggerDefinitionVersionRequest",
        "variableType" : "GetLoggerDefinitionVersionRequest",
        "documentation" : "",
        "simpleType" : "GetLoggerDefinitionVersionRequest",
        "variableSetterType" : "GetLoggerDefinitionVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getLoggerDefinitionVersion",
      "operationName" : "GetLoggerDefinitionVersion",
      "returnType" : {
        "returnType" : "GetLoggerDefinitionVersionResult",
        "documentation" : "success"
      },
      "syncReturnType" : "GetLoggerDefinitionVersionResult"
    },
    "GetResourceDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceDefinitionRequest, GetResourceDefinitionResult>",
      "asyncReturnType" : "GetResourceDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves information about a resource definition, including its creation time and latest version.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetResourceDefinitionRequest",
        "variableName" : "getResourceDefinitionRequest",
        "variableType" : "GetResourceDefinitionRequest",
        "documentation" : "",
        "simpleType" : "GetResourceDefinitionRequest",
        "variableSetterType" : "GetResourceDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceDefinition",
      "operationName" : "GetResourceDefinition",
      "returnType" : {
        "returnType" : "GetResourceDefinitionResult",
        "documentation" : "success"
      },
      "syncReturnType" : "GetResourceDefinitionResult"
    },
    "GetResourceDefinitionVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetResourceDefinitionVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetResourceDefinitionVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetResourceDefinitionVersionRequest, GetResourceDefinitionVersionResult>",
      "asyncReturnType" : "GetResourceDefinitionVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves information about a resource definition version, including which resources are included in the version.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetResourceDefinitionVersionRequest",
        "variableName" : "getResourceDefinitionVersionRequest",
        "variableType" : "GetResourceDefinitionVersionRequest",
        "documentation" : "",
        "simpleType" : "GetResourceDefinitionVersionRequest",
        "variableSetterType" : "GetResourceDefinitionVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getResourceDefinitionVersion",
      "operationName" : "GetResourceDefinitionVersion",
      "returnType" : {
        "returnType" : "GetResourceDefinitionVersionResult",
        "documentation" : "success"
      },
      "syncReturnType" : "GetResourceDefinitionVersionResult"
    },
    "GetServiceRoleForAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServiceRoleForAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServiceRoleForAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServiceRoleForAccountRequest, GetServiceRoleForAccountResult>",
      "asyncReturnType" : "GetServiceRoleForAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves the service role that is attached to your account.",
      "exceptions" : [ {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "server error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetServiceRoleForAccountRequest",
        "variableName" : "getServiceRoleForAccountRequest",
        "variableType" : "GetServiceRoleForAccountRequest",
        "documentation" : "",
        "simpleType" : "GetServiceRoleForAccountRequest",
        "variableSetterType" : "GetServiceRoleForAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServiceRoleForAccount",
      "operationName" : "GetServiceRoleForAccount",
      "returnType" : {
        "returnType" : "GetServiceRoleForAccountResult",
        "documentation" : "success"
      },
      "syncReturnType" : "GetServiceRoleForAccountResult"
    },
    "GetSubscriptionDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSubscriptionDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSubscriptionDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSubscriptionDefinitionRequest, GetSubscriptionDefinitionResult>",
      "asyncReturnType" : "GetSubscriptionDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves information about a subscription definition.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetSubscriptionDefinitionRequest",
        "variableName" : "getSubscriptionDefinitionRequest",
        "variableType" : "GetSubscriptionDefinitionRequest",
        "documentation" : "",
        "simpleType" : "GetSubscriptionDefinitionRequest",
        "variableSetterType" : "GetSubscriptionDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSubscriptionDefinition",
      "operationName" : "GetSubscriptionDefinition",
      "returnType" : {
        "returnType" : "GetSubscriptionDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSubscriptionDefinitionResult"
    },
    "GetSubscriptionDefinitionVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSubscriptionDefinitionVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSubscriptionDefinitionVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSubscriptionDefinitionVersionRequest, GetSubscriptionDefinitionVersionResult>",
      "asyncReturnType" : "GetSubscriptionDefinitionVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves information about a subscription definition version.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetSubscriptionDefinitionVersionRequest",
        "variableName" : "getSubscriptionDefinitionVersionRequest",
        "variableType" : "GetSubscriptionDefinitionVersionRequest",
        "documentation" : "",
        "simpleType" : "GetSubscriptionDefinitionVersionRequest",
        "variableSetterType" : "GetSubscriptionDefinitionVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSubscriptionDefinitionVersion",
      "operationName" : "GetSubscriptionDefinitionVersion",
      "returnType" : {
        "returnType" : "GetSubscriptionDefinitionVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSubscriptionDefinitionVersionResult"
    },
    "ListCoreDefinitionVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCoreDefinitionVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCoreDefinitionVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCoreDefinitionVersionsRequest, ListCoreDefinitionVersionsResult>",
      "asyncReturnType" : "ListCoreDefinitionVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists the versions of a core definition.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListCoreDefinitionVersionsRequest",
        "variableName" : "listCoreDefinitionVersionsRequest",
        "variableType" : "ListCoreDefinitionVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListCoreDefinitionVersionsRequest",
        "variableSetterType" : "ListCoreDefinitionVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCoreDefinitionVersions",
      "operationName" : "ListCoreDefinitionVersions",
      "returnType" : {
        "returnType" : "ListCoreDefinitionVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCoreDefinitionVersionsResult"
    },
    "ListCoreDefinitions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCoreDefinitionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCoreDefinitionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCoreDefinitionsRequest, ListCoreDefinitionsResult>",
      "asyncReturnType" : "ListCoreDefinitionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves a list of core definitions.",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListCoreDefinitionsRequest",
        "variableName" : "listCoreDefinitionsRequest",
        "variableType" : "ListCoreDefinitionsRequest",
        "documentation" : "",
        "simpleType" : "ListCoreDefinitionsRequest",
        "variableSetterType" : "ListCoreDefinitionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCoreDefinitions",
      "operationName" : "ListCoreDefinitions",
      "returnType" : {
        "returnType" : "ListCoreDefinitionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCoreDefinitionsResult"
    },
    "ListDeployments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeploymentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeploymentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeploymentsRequest, ListDeploymentsResult>",
      "asyncReturnType" : "ListDeploymentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a history of deployments for the group.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDeploymentsRequest",
        "variableName" : "listDeploymentsRequest",
        "variableType" : "ListDeploymentsRequest",
        "documentation" : "",
        "simpleType" : "ListDeploymentsRequest",
        "variableSetterType" : "ListDeploymentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDeployments",
      "operationName" : "ListDeployments",
      "returnType" : {
        "returnType" : "ListDeploymentsResult",
        "documentation" : "Success. The response body contains the list of deployments for the given group."
      },
      "syncReturnType" : "ListDeploymentsResult"
    },
    "ListDeviceDefinitionVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeviceDefinitionVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeviceDefinitionVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeviceDefinitionVersionsRequest, ListDeviceDefinitionVersionsResult>",
      "asyncReturnType" : "ListDeviceDefinitionVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists the versions of a device definition.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDeviceDefinitionVersionsRequest",
        "variableName" : "listDeviceDefinitionVersionsRequest",
        "variableType" : "ListDeviceDefinitionVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListDeviceDefinitionVersionsRequest",
        "variableSetterType" : "ListDeviceDefinitionVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDeviceDefinitionVersions",
      "operationName" : "ListDeviceDefinitionVersions",
      "returnType" : {
        "returnType" : "ListDeviceDefinitionVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDeviceDefinitionVersionsResult"
    },
    "ListDeviceDefinitions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeviceDefinitionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeviceDefinitionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeviceDefinitionsRequest, ListDeviceDefinitionsResult>",
      "asyncReturnType" : "ListDeviceDefinitionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves a list of device definitions.",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListDeviceDefinitionsRequest",
        "variableName" : "listDeviceDefinitionsRequest",
        "variableType" : "ListDeviceDefinitionsRequest",
        "documentation" : "",
        "simpleType" : "ListDeviceDefinitionsRequest",
        "variableSetterType" : "ListDeviceDefinitionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDeviceDefinitions",
      "operationName" : "ListDeviceDefinitions",
      "returnType" : {
        "returnType" : "ListDeviceDefinitionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDeviceDefinitionsResult"
    },
    "ListFunctionDefinitionVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFunctionDefinitionVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFunctionDefinitionVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFunctionDefinitionVersionsRequest, ListFunctionDefinitionVersionsResult>",
      "asyncReturnType" : "ListFunctionDefinitionVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists the versions of a Lambda function definition.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListFunctionDefinitionVersionsRequest",
        "variableName" : "listFunctionDefinitionVersionsRequest",
        "variableType" : "ListFunctionDefinitionVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListFunctionDefinitionVersionsRequest",
        "variableSetterType" : "ListFunctionDefinitionVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFunctionDefinitionVersions",
      "operationName" : "ListFunctionDefinitionVersions",
      "returnType" : {
        "returnType" : "ListFunctionDefinitionVersionsResult",
        "documentation" : "success"
      },
      "syncReturnType" : "ListFunctionDefinitionVersionsResult"
    },
    "ListFunctionDefinitions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFunctionDefinitionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFunctionDefinitionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFunctionDefinitionsRequest, ListFunctionDefinitionsResult>",
      "asyncReturnType" : "ListFunctionDefinitionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves a list of Lambda function definitions.",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListFunctionDefinitionsRequest",
        "variableName" : "listFunctionDefinitionsRequest",
        "variableType" : "ListFunctionDefinitionsRequest",
        "documentation" : "",
        "simpleType" : "ListFunctionDefinitionsRequest",
        "variableSetterType" : "ListFunctionDefinitionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFunctionDefinitions",
      "operationName" : "ListFunctionDefinitions",
      "returnType" : {
        "returnType" : "ListFunctionDefinitionsResult",
        "documentation" : "Success. The response contains the IDs of all the Greengrass Lambda function definitions in this account."
      },
      "syncReturnType" : "ListFunctionDefinitionsResult"
    },
    "ListGroupCertificateAuthorities" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGroupCertificateAuthoritiesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGroupCertificateAuthoritiesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGroupCertificateAuthoritiesRequest, ListGroupCertificateAuthoritiesResult>",
      "asyncReturnType" : "ListGroupCertificateAuthoritiesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves the current CAs for a group.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "server error",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListGroupCertificateAuthoritiesRequest",
        "variableName" : "listGroupCertificateAuthoritiesRequest",
        "variableType" : "ListGroupCertificateAuthoritiesRequest",
        "documentation" : "",
        "simpleType" : "ListGroupCertificateAuthoritiesRequest",
        "variableSetterType" : "ListGroupCertificateAuthoritiesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGroupCertificateAuthorities",
      "operationName" : "ListGroupCertificateAuthorities",
      "returnType" : {
        "returnType" : "ListGroupCertificateAuthoritiesResult",
        "documentation" : "Success. The response body contains the PKI Configuration."
      },
      "syncReturnType" : "ListGroupCertificateAuthoritiesResult"
    },
    "ListGroupVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGroupVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGroupVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGroupVersionsRequest, ListGroupVersionsResult>",
      "asyncReturnType" : "ListGroupVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists the versions of a group.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListGroupVersionsRequest",
        "variableName" : "listGroupVersionsRequest",
        "variableType" : "ListGroupVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListGroupVersionsRequest",
        "variableSetterType" : "ListGroupVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGroupVersions",
      "operationName" : "ListGroupVersions",
      "returnType" : {
        "returnType" : "ListGroupVersionsResult",
        "documentation" : "Success. The response contains the list of versions and metadata for the given group."
      },
      "syncReturnType" : "ListGroupVersionsResult"
    },
    "ListGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGroupsRequest, ListGroupsResult>",
      "asyncReturnType" : "ListGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves a list of groups.",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListGroupsRequest",
        "variableName" : "listGroupsRequest",
        "variableType" : "ListGroupsRequest",
        "documentation" : "",
        "simpleType" : "ListGroupsRequest",
        "variableSetterType" : "ListGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGroups",
      "operationName" : "ListGroups",
      "returnType" : {
        "returnType" : "ListGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListGroupsResult"
    },
    "ListLoggerDefinitionVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLoggerDefinitionVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLoggerDefinitionVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLoggerDefinitionVersionsRequest, ListLoggerDefinitionVersionsResult>",
      "asyncReturnType" : "ListLoggerDefinitionVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists the versions of a logger definition.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListLoggerDefinitionVersionsRequest",
        "variableName" : "listLoggerDefinitionVersionsRequest",
        "variableType" : "ListLoggerDefinitionVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListLoggerDefinitionVersionsRequest",
        "variableSetterType" : "ListLoggerDefinitionVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLoggerDefinitionVersions",
      "operationName" : "ListLoggerDefinitionVersions",
      "returnType" : {
        "returnType" : "ListLoggerDefinitionVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLoggerDefinitionVersionsResult"
    },
    "ListLoggerDefinitions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListLoggerDefinitionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListLoggerDefinitionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListLoggerDefinitionsRequest, ListLoggerDefinitionsResult>",
      "asyncReturnType" : "ListLoggerDefinitionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves a list of logger definitions.",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListLoggerDefinitionsRequest",
        "variableName" : "listLoggerDefinitionsRequest",
        "variableType" : "ListLoggerDefinitionsRequest",
        "documentation" : "",
        "simpleType" : "ListLoggerDefinitionsRequest",
        "variableSetterType" : "ListLoggerDefinitionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listLoggerDefinitions",
      "operationName" : "ListLoggerDefinitions",
      "returnType" : {
        "returnType" : "ListLoggerDefinitionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListLoggerDefinitionsResult"
    },
    "ListResourceDefinitionVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourceDefinitionVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourceDefinitionVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourceDefinitionVersionsRequest, ListResourceDefinitionVersionsResult>",
      "asyncReturnType" : "ListResourceDefinitionVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists the versions of a resource definition.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListResourceDefinitionVersionsRequest",
        "variableName" : "listResourceDefinitionVersionsRequest",
        "variableType" : "ListResourceDefinitionVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListResourceDefinitionVersionsRequest",
        "variableSetterType" : "ListResourceDefinitionVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResourceDefinitionVersions",
      "operationName" : "ListResourceDefinitionVersions",
      "returnType" : {
        "returnType" : "ListResourceDefinitionVersionsResult",
        "documentation" : "success"
      },
      "syncReturnType" : "ListResourceDefinitionVersionsResult"
    },
    "ListResourceDefinitions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourceDefinitionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourceDefinitionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourceDefinitionsRequest, ListResourceDefinitionsResult>",
      "asyncReturnType" : "ListResourceDefinitionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves a list of resource definitions.",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListResourceDefinitionsRequest",
        "variableName" : "listResourceDefinitionsRequest",
        "variableType" : "ListResourceDefinitionsRequest",
        "documentation" : "",
        "simpleType" : "ListResourceDefinitionsRequest",
        "variableSetterType" : "ListResourceDefinitionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResourceDefinitions",
      "operationName" : "ListResourceDefinitions",
      "returnType" : {
        "returnType" : "ListResourceDefinitionsResult",
        "documentation" : "The IDs of all the Greengrass resource definitions in this account."
      },
      "syncReturnType" : "ListResourceDefinitionsResult"
    },
    "ListSubscriptionDefinitionVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSubscriptionDefinitionVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSubscriptionDefinitionVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSubscriptionDefinitionVersionsRequest, ListSubscriptionDefinitionVersionsResult>",
      "asyncReturnType" : "ListSubscriptionDefinitionVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists the versions of a subscription definition.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListSubscriptionDefinitionVersionsRequest",
        "variableName" : "listSubscriptionDefinitionVersionsRequest",
        "variableType" : "ListSubscriptionDefinitionVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListSubscriptionDefinitionVersionsRequest",
        "variableSetterType" : "ListSubscriptionDefinitionVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSubscriptionDefinitionVersions",
      "operationName" : "ListSubscriptionDefinitionVersions",
      "returnType" : {
        "returnType" : "ListSubscriptionDefinitionVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSubscriptionDefinitionVersionsResult"
    },
    "ListSubscriptionDefinitions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSubscriptionDefinitionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSubscriptionDefinitionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSubscriptionDefinitionsRequest, ListSubscriptionDefinitionsResult>",
      "asyncReturnType" : "ListSubscriptionDefinitionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves a list of subscription definitions.",
      "exceptions" : null,
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListSubscriptionDefinitionsRequest",
        "variableName" : "listSubscriptionDefinitionsRequest",
        "variableType" : "ListSubscriptionDefinitionsRequest",
        "documentation" : "",
        "simpleType" : "ListSubscriptionDefinitionsRequest",
        "variableSetterType" : "ListSubscriptionDefinitionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSubscriptionDefinitions",
      "operationName" : "ListSubscriptionDefinitions",
      "returnType" : {
        "returnType" : "ListSubscriptionDefinitionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSubscriptionDefinitionsResult"
    },
    "ResetDeployments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResetDeploymentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResetDeploymentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResetDeploymentsRequest, ResetDeploymentsResult>",
      "asyncReturnType" : "ResetDeploymentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Resets a group's deployments.",
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "invalid request",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ResetDeploymentsRequest",
        "variableName" : "resetDeploymentsRequest",
        "variableType" : "ResetDeploymentsRequest",
[...]
