{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-11-30",
    "asyncClient" : "AWSGreengrassV2AsyncClient",
    "asyncClientBuilderClassName" : "AWSGreengrassV2AsyncClientBuilder",
    "asyncInterface" : "AWSGreengrassV2Async",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSGreengrassV2ModuleInjector",
    "defaultEndpoint" : "greengrass.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "greengrass.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>IoT Greengrass brings local compute, messaging, data management, sync, and ML inference capabilities to edge devices. This enables devices to collect and analyze data closer to the source of information, react autonomously to local events, and communicate securely with each other on local networks. Local devices can also communicate securely with Amazon Web Services IoT Core and export IoT data to the Amazon Web Services Cloud. IoT Greengrass developers can use Lambda functions and components to create and deploy applications to fleets of edge devices for local operation.</p> <p>IoT Greengrass Version 2 provides a new major version of the IoT Greengrass Core software, new APIs, and a new console. Use this API reference to learn how to use the IoT Greengrass V2 API operations to manage components, manage deployments, and core devices.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/what-is-iot-greengrass.html\">What is IoT Greengrass?</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>",
    "endpointPrefix" : "greengrass",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.greengrassv2",
    "packagePath" : "com/amazonaws/services/greengrassv2",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "AWS GreengrassV2",
    "serviceFullName" : "AWS IoT Greengrass V2",
    "serviceId" : "GreengrassV2",
    "serviceName" : "AWS GreengrassV2",
    "signingName" : "greengrass",
    "smokeTestsPackageName" : "com.amazonaws.services.greengrassv2.smoketests",
    "syncClient" : "AWSGreengrassV2Client",
    "syncClientBuilderClassName" : "AWSGreengrassV2ClientBuilder",
    "syncInterface" : "AWSGreengrassV2",
    "uid" : "greengrassv2-2020-11-30",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateServiceRoleToAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateServiceRoleToAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateServiceRoleToAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateServiceRoleToAccountRequest, AssociateServiceRoleToAccountResult>",
      "asyncReturnType" : "AssociateServiceRoleToAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a Greengrass service role with IoT Greengrass for your Amazon Web Services account in this Amazon Web Services Region. IoT Greengrass uses this role to verify the identity of client devices and manage core device connectivity information. The role must include the <a href=\"https://console.aws.amazon.com/iam/home#/policies/arn:awsiam::aws:policy/service-role/AWSGreengrassResourceAccessRolePolicy\">AWSGreengrassResourceAccessRolePolicy</a> managed policy or a custom policy that defines equivalent permissions for the IoT Greengrass features that you use. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/greengrass-service-role.html\">Greengrass service role</a> in the <i>IoT Greengrass Version 2 Developer Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateServiceRoleToAccountRequest",
        "variableName" : "associateServiceRoleToAccountRequest",
        "variableType" : "AssociateServiceRoleToAccountRequest",
        "documentation" : "",
        "simpleType" : "AssociateServiceRoleToAccountRequest",
        "variableSetterType" : "AssociateServiceRoleToAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateServiceRoleToAccount",
      "operationName" : "AssociateServiceRoleToAccount",
      "returnType" : {
        "returnType" : "AssociateServiceRoleToAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "AssociateServiceRoleToAccountResult"
    },
    "BatchAssociateClientDeviceWithCoreDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchAssociateClientDeviceWithCoreDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchAssociateClientDeviceWithCoreDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchAssociateClientDeviceWithCoreDeviceRequest, BatchAssociateClientDeviceWithCoreDeviceResult>",
      "asyncReturnType" : "BatchAssociateClientDeviceWithCoreDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associates a list of client devices with a core device. Use this API operation to specify which client devices can discover a core device through cloud discovery. With cloud discovery, client devices connect to IoT Greengrass to retrieve associated core devices' connectivity information and certificates. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/configure-cloud-discovery.html\">Configure cloud discovery</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p> <note> <p>Client devices are local IoT devices that connect to and communicate with an IoT Greengrass core device over MQTT. You can connect client devices to a core device to sync MQTT messages and data to Amazon Web Services IoT Core and interact with client devices in Greengrass components. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/interact-with-local-iot-devices.html\">Interact with local IoT devices</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchAssociateClientDeviceWithCoreDeviceRequest",
        "variableName" : "batchAssociateClientDeviceWithCoreDeviceRequest",
        "variableType" : "BatchAssociateClientDeviceWithCoreDeviceRequest",
        "documentation" : "",
        "simpleType" : "BatchAssociateClientDeviceWithCoreDeviceRequest",
        "variableSetterType" : "BatchAssociateClientDeviceWithCoreDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchAssociateClientDeviceWithCoreDevice",
      "operationName" : "BatchAssociateClientDeviceWithCoreDevice",
      "returnType" : {
        "returnType" : "BatchAssociateClientDeviceWithCoreDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchAssociateClientDeviceWithCoreDeviceResult"
    },
    "BatchDisassociateClientDeviceFromCoreDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDisassociateClientDeviceFromCoreDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDisassociateClientDeviceFromCoreDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDisassociateClientDeviceFromCoreDeviceRequest, BatchDisassociateClientDeviceFromCoreDeviceResult>",
      "asyncReturnType" : "BatchDisassociateClientDeviceFromCoreDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates a list of client devices from a core device. After you disassociate a client device from a core device, the client device won't be able to use cloud discovery to retrieve the core device's connectivity information and certificates.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDisassociateClientDeviceFromCoreDeviceRequest",
        "variableName" : "batchDisassociateClientDeviceFromCoreDeviceRequest",
        "variableType" : "BatchDisassociateClientDeviceFromCoreDeviceRequest",
        "documentation" : "",
        "simpleType" : "BatchDisassociateClientDeviceFromCoreDeviceRequest",
        "variableSetterType" : "BatchDisassociateClientDeviceFromCoreDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDisassociateClientDeviceFromCoreDevice",
      "operationName" : "BatchDisassociateClientDeviceFromCoreDevice",
      "returnType" : {
        "returnType" : "BatchDisassociateClientDeviceFromCoreDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDisassociateClientDeviceFromCoreDeviceResult"
    },
    "CancelDeployment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelDeploymentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelDeploymentRequest, CancelDeploymentResult>",
      "asyncReturnType" : "CancelDeploymentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels a deployment. This operation cancels the deployment for devices that haven't yet received it. If a device already received the deployment, this operation doesn't change anything for that device.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Your request has conflicting operations. This can occur if you're trying to perform more than one operation on the same resource at the same time.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelDeploymentRequest",
        "variableName" : "cancelDeploymentRequest",
        "variableType" : "CancelDeploymentRequest",
        "documentation" : "",
        "simpleType" : "CancelDeploymentRequest",
        "variableSetterType" : "CancelDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelDeployment",
      "operationName" : "CancelDeployment",
      "returnType" : {
        "returnType" : "CancelDeploymentResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelDeploymentResult"
    },
    "CreateComponentVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateComponentVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateComponentVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateComponentVersionRequest, CreateComponentVersionResult>",
      "asyncReturnType" : "CreateComponentVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a component. Components are software that run on Greengrass core devices. After you develop and test a component on your core device, you can use this operation to upload your component to IoT Greengrass. Then, you can deploy the component to other core devices.</p> <p>You can use this operation to do the following:</p> <ul> <li> <p> <b>Create components from recipes</b> </p> <p>Create a component from a recipe, which is a file that defines the component's metadata, parameters, dependencies, lifecycle, artifacts, and platform capability. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/component-recipe-reference.html\">IoT Greengrass component recipe reference</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p> <p>To create a component from a recipe, specify <code>inlineRecipe</code> when you call this operation.</p> </li> <li> <p> <b>Create components from Lambda functions</b> </p> <p>Create a component from an Lambda function that runs on IoT Greengrass. This creates a recipe and artifacts from the Lambda function's deployment package. You can use this operation to migrate Lambda functions from IoT Greengrass V1 to IoT Greengrass V2.</p> <p>This function accepts Lambda functions in all supported versions of Python, Node.js, and Java runtimes. IoT Greengrass doesn't apply any additional restrictions on deprecated Lambda runtime versions.</p> <p>To create a component from a Lambda function, specify <code>lambdaFunction</code> when you call this operation.</p> <note> <p>IoT Greengrass currently supports Lambda functions on only Linux core devices.</p> </note> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Your request exceeds a service quota. For example, you might have the maximum number of components that you can create.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Your request has conflicting operations. This can occur if you're trying to perform more than one operation on the same resource at the same time.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "RequestAlreadyInProgressException",
        "documentation" : "<p>The request is already in progress. This exception occurs when you use a client token for multiple requests while IoT Greengrass is still processing an earlier request that uses the same client token.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateComponentVersionRequest",
        "variableName" : "createComponentVersionRequest",
        "variableType" : "CreateComponentVersionRequest",
        "documentation" : "",
        "simpleType" : "CreateComponentVersionRequest",
        "variableSetterType" : "CreateComponentVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createComponentVersion",
      "operationName" : "CreateComponentVersion",
      "returnType" : {
        "returnType" : "CreateComponentVersionResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateComponentVersionResult"
    },
    "CreateDeployment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDeploymentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDeploymentRequest, CreateDeploymentResult>",
      "asyncReturnType" : "CreateDeploymentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a continuous deployment for a target, which is a Greengrass core device or group of core devices. When you add a new core device to a group of core devices that has a deployment, IoT Greengrass deploys that group's deployment to the new device.</p> <p>You can define one deployment for each target. When you create a new deployment for a target that has an existing deployment, you replace the previous deployment. IoT Greengrass applies the new deployment to the target devices.</p> <p>Every deployment has a revision number that indicates how many deployment revisions you define for a target. Use this operation to create a new revision of an existing deployment.</p> <p>For more information, see the <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/create-deployments.html\">Create deployments</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Your request has conflicting operations. This can occur if you're trying to perform more than one operation on the same resource at the same time.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "RequestAlreadyInProgressException",
        "documentation" : "<p>The request is already in progress. This exception occurs when you use a client token for multiple requests while IoT Greengrass is still processing an earlier request that uses the same client token.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDeploymentRequest",
        "variableName" : "createDeploymentRequest",
        "variableType" : "CreateDeploymentRequest",
        "documentation" : "",
        "simpleType" : "CreateDeploymentRequest",
        "variableSetterType" : "CreateDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDeployment",
      "operationName" : "CreateDeployment",
      "returnType" : {
        "returnType" : "CreateDeploymentResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDeploymentResult"
    },
    "DeleteComponent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteComponentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteComponentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteComponentRequest, DeleteComponentResult>",
      "asyncReturnType" : "DeleteComponentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a version of a component from IoT Greengrass.</p> <note> <p>This operation deletes the component's recipe and artifacts. As a result, deployments that refer to this component version will fail. If you have deployments that use this component version, you can remove the component from the deployment or update the deployment to use a valid version.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Your request has conflicting operations. This can occur if you're trying to perform more than one operation on the same resource at the same time.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteComponentRequest",
        "variableName" : "deleteComponentRequest",
        "variableType" : "DeleteComponentRequest",
        "documentation" : "",
        "simpleType" : "DeleteComponentRequest",
        "variableSetterType" : "DeleteComponentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteComponent",
      "operationName" : "DeleteComponent",
      "returnType" : {
        "returnType" : "DeleteComponentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteComponentResult"
    },
    "DeleteCoreDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCoreDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCoreDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCoreDeviceRequest, DeleteCoreDeviceResult>",
      "asyncReturnType" : "DeleteCoreDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a Greengrass core device, which is an IoT thing. This operation removes the core device from the list of core devices. This operation doesn't delete the IoT thing. For more information about how to delete the IoT thing, see <a href=\"https://docs.aws.amazon.com/iot/latest/apireference/API_DeleteThing.html\">DeleteThing</a> in the <i>IoT API Reference</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Your request has conflicting operations. This can occur if you're trying to perform more than one operation on the same resource at the same time.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCoreDeviceRequest",
        "variableName" : "deleteCoreDeviceRequest",
        "variableType" : "DeleteCoreDeviceRequest",
        "documentation" : "",
        "simpleType" : "DeleteCoreDeviceRequest",
        "variableSetterType" : "DeleteCoreDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCoreDevice",
      "operationName" : "DeleteCoreDevice",
      "returnType" : {
        "returnType" : "DeleteCoreDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCoreDeviceResult"
    },
    "DeleteDeployment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDeploymentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDeploymentRequest, DeleteDeploymentResult>",
      "asyncReturnType" : "DeleteDeploymentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a deployment. To delete an active deployment, you must first cancel it. For more information, see <a href=\"https://docs.aws.amazon.com/iot/latest/apireference/API_CancelDeployment.html\">CancelDeployment</a>.</p> <p>Deleting a deployment doesn't affect core devices that run that deployment, because core devices store the deployment's configuration on the device. Additionally, core devices can roll back to a previous deployment that has been deleted.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Your request has conflicting operations. This can occur if you're trying to perform more than one operation on the same resource at the same time.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDeploymentRequest",
        "variableName" : "deleteDeploymentRequest",
        "variableType" : "DeleteDeploymentRequest",
        "documentation" : "",
        "simpleType" : "DeleteDeploymentRequest",
        "variableSetterType" : "DeleteDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDeployment",
      "operationName" : "DeleteDeployment",
      "returnType" : {
        "returnType" : "DeleteDeploymentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDeploymentResult"
    },
    "DescribeComponent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeComponentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeComponentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeComponentRequest, DescribeComponentResult>",
      "asyncReturnType" : "DescribeComponentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves metadata for a version of a component.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeComponentRequest",
        "variableName" : "describeComponentRequest",
        "variableType" : "DescribeComponentRequest",
        "documentation" : "",
        "simpleType" : "DescribeComponentRequest",
        "variableSetterType" : "DescribeComponentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeComponent",
      "operationName" : "DescribeComponent",
      "returnType" : {
        "returnType" : "DescribeComponentResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeComponentResult"
    },
    "DisassociateServiceRoleFromAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateServiceRoleFromAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateServiceRoleFromAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateServiceRoleFromAccountRequest, DisassociateServiceRoleFromAccountResult>",
      "asyncReturnType" : "DisassociateServiceRoleFromAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the Greengrass service role from IoT Greengrass for your Amazon Web Services account in this Amazon Web Services Region. Without a service role, IoT Greengrass can't verify the identity of client devices or manage core device connectivity information. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/greengrass-service-role.html\">Greengrass service role</a> in the <i>IoT Greengrass Version 2 Developer Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateServiceRoleFromAccountRequest",
        "variableName" : "disassociateServiceRoleFromAccountRequest",
        "variableType" : "DisassociateServiceRoleFromAccountRequest",
        "documentation" : "",
        "simpleType" : "DisassociateServiceRoleFromAccountRequest",
        "variableSetterType" : "DisassociateServiceRoleFromAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateServiceRoleFromAccount",
      "operationName" : "DisassociateServiceRoleFromAccount",
      "returnType" : {
        "returnType" : "DisassociateServiceRoleFromAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateServiceRoleFromAccountResult"
    },
    "GetComponent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetComponentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetComponentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComponentRequest, GetComponentResult>",
      "asyncReturnType" : "GetComponentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the recipe for a version of a component.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetComponentRequest",
        "variableName" : "getComponentRequest",
        "variableType" : "GetComponentRequest",
        "documentation" : "",
        "simpleType" : "GetComponentRequest",
        "variableSetterType" : "GetComponentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getComponent",
      "operationName" : "GetComponent",
      "returnType" : {
        "returnType" : "GetComponentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetComponentResult"
    },
    "GetComponentVersionArtifact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetComponentVersionArtifactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetComponentVersionArtifactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComponentVersionArtifactRequest, GetComponentVersionArtifactResult>",
      "asyncReturnType" : "GetComponentVersionArtifactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the pre-signed URL to download a public or a Lambda component artifact. Core devices call this operation to identify the URL that they can use to download an artifact to install.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetComponentVersionArtifactRequest",
        "variableName" : "getComponentVersionArtifactRequest",
        "variableType" : "GetComponentVersionArtifactRequest",
        "documentation" : "",
        "simpleType" : "GetComponentVersionArtifactRequest",
        "variableSetterType" : "GetComponentVersionArtifactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getComponentVersionArtifact",
      "operationName" : "GetComponentVersionArtifact",
      "returnType" : {
        "returnType" : "GetComponentVersionArtifactResult",
        "documentation" : null
      },
      "syncReturnType" : "GetComponentVersionArtifactResult"
    },
    "GetConnectivityInfo" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConnectivityInfoResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConnectivityInfoResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConnectivityInfoRequest, GetConnectivityInfoResult>",
      "asyncReturnType" : "GetConnectivityInfoResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves connectivity information for a Greengrass core device.</p> <p>Connectivity information includes endpoints and ports where client devices can connect to an MQTT broker on the core device. When a client device calls the <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/greengrass-discover-api.html\">IoT Greengrass discovery API</a>, IoT Greengrass returns connectivity information for all of the core devices where the client device can connect. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/connect-client-devices.html\">Connect client devices to core devices</a> in the <i>IoT Greengrass Version 2 Developer Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConnectivityInfoRequest",
        "variableName" : "getConnectivityInfoRequest",
        "variableType" : "GetConnectivityInfoRequest",
        "documentation" : "",
        "simpleType" : "GetConnectivityInfoRequest",
        "variableSetterType" : "GetConnectivityInfoRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConnectivityInfo",
      "operationName" : "GetConnectivityInfo",
      "returnType" : {
        "returnType" : "GetConnectivityInfoResult",
        "documentation" : null
      },
      "syncReturnType" : "GetConnectivityInfoResult"
    },
    "GetCoreDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCoreDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCoreDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCoreDeviceRequest, GetCoreDeviceResult>",
      "asyncReturnType" : "GetCoreDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves metadata for a Greengrass core device.</p> <note> <p>IoT Greengrass relies on individual devices to send status updates to the Amazon Web Services Cloud. If the IoT Greengrass Core software isn't running on the device, or if device isn't connected to the Amazon Web Services Cloud, then the reported status of that device might not reflect its current status. The status timestamp indicates when the device status was last updated.</p> <p>Core devices send status updates at the following times:</p> <ul> <li> <p>When the IoT Greengrass Core software starts</p> </li> <li> <p>When the core device receives a deployment from the Amazon Web Services Cloud</p> </li> <li> <p>When the status of any component on the core device becomes <code>BROKEN</code> </p> </li> <li> <p>At a <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/greengrass-nucleus-component.html#greengrass-nucleus-component-configuration-fss\">regular interval that you can configure</a>, which defaults to 24 hours</p> </li> <li> <p>For IoT Greengrass Core v2.7.0, the core device sends status updates upon local deployment and cloud deployment</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCoreDeviceRequest",
        "variableName" : "getCoreDeviceRequest",
        "variableType" : "GetCoreDeviceRequest",
        "documentation" : "",
        "simpleType" : "GetCoreDeviceRequest",
        "variableSetterType" : "GetCoreDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCoreDevice",
      "operationName" : "GetCoreDevice",
      "returnType" : {
        "returnType" : "GetCoreDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCoreDeviceResult"
    },
    "GetDeployment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDeploymentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDeploymentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDeploymentRequest, GetDeploymentResult>",
      "asyncReturnType" : "GetDeploymentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a deployment. Deployments define the components that run on Greengrass core devices.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDeploymentRequest",
        "variableName" : "getDeploymentRequest",
        "variableType" : "GetDeploymentRequest",
        "documentation" : "",
        "simpleType" : "GetDeploymentRequest",
        "variableSetterType" : "GetDeploymentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDeployment",
      "operationName" : "GetDeployment",
      "returnType" : {
        "returnType" : "GetDeploymentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDeploymentResult"
    },
    "GetServiceRoleForAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetServiceRoleForAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetServiceRoleForAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetServiceRoleForAccountRequest, GetServiceRoleForAccountResult>",
      "asyncReturnType" : "GetServiceRoleForAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the service role associated with IoT Greengrass for your Amazon Web Services account in this Amazon Web Services Region. IoT Greengrass uses this role to verify the identity of client devices and manage core device connectivity information. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/greengrass-service-role.html\">Greengrass service role</a> in the <i>IoT Greengrass Version 2 Developer Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetServiceRoleForAccountRequest",
        "variableName" : "getServiceRoleForAccountRequest",
        "variableType" : "GetServiceRoleForAccountRequest",
        "documentation" : "",
        "simpleType" : "GetServiceRoleForAccountRequest",
        "variableSetterType" : "GetServiceRoleForAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getServiceRoleForAccount",
      "operationName" : "GetServiceRoleForAccount",
      "returnType" : {
        "returnType" : "GetServiceRoleForAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "GetServiceRoleForAccountResult"
    },
    "ListClientDevicesAssociatedWithCoreDevice" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListClientDevicesAssociatedWithCoreDeviceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListClientDevicesAssociatedWithCoreDeviceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListClientDevicesAssociatedWithCoreDeviceRequest, ListClientDevicesAssociatedWithCoreDeviceResult>",
      "asyncReturnType" : "ListClientDevicesAssociatedWithCoreDeviceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a paginated list of client devices that are associated with a core device.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListClientDevicesAssociatedWithCoreDeviceRequest",
        "variableName" : "listClientDevicesAssociatedWithCoreDeviceRequest",
        "variableType" : "ListClientDevicesAssociatedWithCoreDeviceRequest",
        "documentation" : "",
        "simpleType" : "ListClientDevicesAssociatedWithCoreDeviceRequest",
        "variableSetterType" : "ListClientDevicesAssociatedWithCoreDeviceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listClientDevicesAssociatedWithCoreDevice",
      "operationName" : "ListClientDevicesAssociatedWithCoreDevice",
      "returnType" : {
        "returnType" : "ListClientDevicesAssociatedWithCoreDeviceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListClientDevicesAssociatedWithCoreDeviceResult"
    },
    "ListComponentVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListComponentVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListComponentVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListComponentVersionsRequest, ListComponentVersionsResult>",
      "asyncReturnType" : "ListComponentVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a paginated list of all versions for a component. Greater versions are listed first.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListComponentVersionsRequest",
        "variableName" : "listComponentVersionsRequest",
        "variableType" : "ListComponentVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListComponentVersionsRequest",
        "variableSetterType" : "ListComponentVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listComponentVersions",
      "operationName" : "ListComponentVersions",
      "returnType" : {
        "returnType" : "ListComponentVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListComponentVersionsResult"
    },
    "ListComponents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListComponentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListComponentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListComponentsRequest, ListComponentsResult>",
      "asyncReturnType" : "ListComponentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a paginated list of component summaries. This list includes components that you have permission to view.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListComponentsRequest",
        "variableName" : "listComponentsRequest",
        "variableType" : "ListComponentsRequest",
        "documentation" : "",
        "simpleType" : "ListComponentsRequest",
        "variableSetterType" : "ListComponentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listComponents",
      "operationName" : "ListComponents",
      "returnType" : {
        "returnType" : "ListComponentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListComponentsResult"
    },
    "ListCoreDevices" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCoreDevicesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCoreDevicesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCoreDevicesRequest, ListCoreDevicesResult>",
      "asyncReturnType" : "ListCoreDevicesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a paginated list of Greengrass core devices.</p> <note> <p>IoT Greengrass relies on individual devices to send status updates to the Amazon Web Services Cloud. If the IoT Greengrass Core software isn't running on the device, or if device isn't connected to the Amazon Web Services Cloud, then the reported status of that device might not reflect its current status. The status timestamp indicates when the device status was last updated.</p> <p>Core devices send status updates at the following times:</p> <ul> <li> <p>When the IoT Greengrass Core software starts</p> </li> <li> <p>When the core device receives a deployment from the Amazon Web Services Cloud</p> </li> <li> <p>When the status of any component on the core device becomes <code>BROKEN</code> </p> </li> <li> <p>At a <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/greengrass-nucleus-component.html#greengrass-nucleus-component-configuration-fss\">regular interval that you can configure</a>, which defaults to 24 hours</p> </li> <li> <p>For IoT Greengrass Core v2.7.0, the core device sends status updates upon local deployment and cloud deployment</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCoreDevicesRequest",
        "variableName" : "listCoreDevicesRequest",
        "variableType" : "ListCoreDevicesRequest",
        "documentation" : "",
        "simpleType" : "ListCoreDevicesRequest",
        "variableSetterType" : "ListCoreDevicesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCoreDevices",
      "operationName" : "ListCoreDevices",
      "returnType" : {
        "returnType" : "ListCoreDevicesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCoreDevicesResult"
    },
    "ListDeployments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDeploymentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDeploymentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDeploymentsRequest, ListDeploymentsResult>",
      "asyncReturnType" : "ListDeploymentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a paginated list of deployments.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDeploymentsRequest",
        "variableName" : "listDeploymentsRequest",
        "variableType" : "ListDeploymentsRequest",
        "documentation" : "",
        "simpleType" : "ListDeploymentsRequest",
        "variableSetterType" : "ListDeploymentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDeployments",
      "operationName" : "ListDeployments",
      "returnType" : {
        "returnType" : "ListDeploymentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDeploymentsResult"
    },
    "ListEffectiveDeployments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEffectiveDeploymentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEffectiveDeploymentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEffectiveDeploymentsRequest, ListEffectiveDeploymentsResult>",
      "asyncReturnType" : "ListEffectiveDeploymentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a paginated list of deployment jobs that IoT Greengrass sends to Greengrass core devices.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEffectiveDeploymentsRequest",
        "variableName" : "listEffectiveDeploymentsRequest",
        "variableType" : "ListEffectiveDeploymentsRequest",
        "documentation" : "",
        "simpleType" : "ListEffectiveDeploymentsRequest",
        "variableSetterType" : "ListEffectiveDeploymentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEffectiveDeployments",
      "operationName" : "ListEffectiveDeployments",
      "returnType" : {
        "returnType" : "ListEffectiveDeploymentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEffectiveDeploymentsResult"
    },
    "ListInstalledComponents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInstalledComponentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInstalledComponentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInstalledComponentsRequest, ListInstalledComponentsResult>",
      "asyncReturnType" : "ListInstalledComponentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a paginated list of the components that a Greengrass core device runs. By default, this list doesn't include components that are deployed as dependencies of other components. To include dependencies in the response, set the <code>topologyFilter</code> parameter to <code>ALL</code>.</p> <note> <p>IoT Greengrass relies on individual devices to send status updates to the Amazon Web Services Cloud. If the IoT Greengrass Core software isn't running on the device, or if device isn't connected to the Amazon Web Services Cloud, then the reported status of that device might not reflect its current status. The status timestamp indicates when the device status was last updated.</p> <p>Core devices send status updates at the following times:</p> <ul> <li> <p>When the IoT Greengrass Core software starts</p> </li> <li> <p>When the core device receives a deployment from the Amazon Web Services Cloud</p> </li> <li> <p>When the status of any component on the core device becomes <code>BROKEN</code> </p> </li> <li> <p>At a <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/greengrass-nucleus-component.html#greengrass-nucleus-component-configuration-fss\">regular interval that you can configure</a>, which defaults to 24 hours</p> </li> <li> <p>For IoT Greengrass Core v2.7.0, the core device sends status updates upon local deployment and cloud deployment</p> </li> </ul> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListInstalledComponentsRequest",
        "variableName" : "listInstalledComponentsRequest",
        "variableType" : "ListInstalledComponentsRequest",
        "documentation" : "",
        "simpleType" : "ListInstalledComponentsRequest",
        "variableSetterType" : "ListInstalledComponentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInstalledComponents",
      "operationName" : "ListInstalledComponents",
      "returnType" : {
        "returnType" : "ListInstalledComponentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListInstalledComponentsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the list of tags for an IoT Greengrass resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ResolveComponentCandidates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ResolveComponentCandidatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ResolveComponentCandidatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ResolveComponentCandidatesRequest, ResolveComponentCandidatesResult>",
      "asyncReturnType" : "ResolveComponentCandidatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a list of components that meet the component, version, and platform requirements of a deployment. Greengrass core devices call this operation when they receive a deployment to identify the components to install.</p> <p>This operation identifies components that meet all dependency requirements for a deployment. If the requirements conflict, then this operation returns an error and the deployment fails. For example, this occurs if component <code>A</code> requires version <code>&gt;2.0.0</code> and component <code>B</code> requires version <code>&lt;2.0.0</code> of a component dependency.</p> <p>When you specify the component candidates to resolve, IoT Greengrass compares each component's digest from the core device with the component's digest in the Amazon Web Services Cloud. If the digests don't match, then IoT Greengrass specifies to use the version from the Amazon Web Services Cloud.</p> <important> <p>To use this operation, you must use the data plane API endpoint and authenticate with an IoT device certificate. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/greengrass.html\">IoT Greengrass endpoints and quotas</a>.</p> </important>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have permission to perform the action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Your request has conflicting operations. This can occur if you're trying to perform more than one operation on the same resource at the same time.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Your request exceeded a request rate quota. For example, you might have exceeded the amount of times that you can retrieve device or deployment status per second.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ResolveComponentCandidatesRequest",
        "variableName" : "resolveComponentCandidatesRequest",
        "variableType" : "ResolveComponentCandidatesRequest",
        "documentation" : "",
        "simpleType" : "ResolveComponentCandidatesRequest",
        "variableSetterType" : "ResolveComponentCandidatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "resolveComponentCandidates",
      "operationName" : "ResolveComponentCandidates",
      "returnType" : {
        "returnType" : "ResolveComponentCandidatesResult",
        "documentation" : null
      },
      "syncReturnType" : "ResolveComponentCandidatesResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds tags to an IoT Greengrass resource. If a tag already exists for the resource, this operation updates the tag's value.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a tag from an IoT Greengrass resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The requested resource can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateConnectivityInfo" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateConnectivityInfoResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateConnectivityInfoResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateConnectivityInfoRequest, UpdateConnectivityInfoResult>",
      "asyncReturnType" : "UpdateConnectivityInfoResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates connectivity information for a Greengrass core device.</p> <p>Connectivity information includes endpoints and ports where client devices can connect to an MQTT broker on the core device. When a client device calls the <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/greengrass-discover-api.html\">IoT Greengrass discovery API</a>, IoT Greengrass returns connectivity information for all of the core devices where the client device can connect. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/connect-client-devices.html\">Connect client devices to core devices</a> in the <i>IoT Greengrass Version 2 Developer Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The request isn't valid. This can occur if your request contains malformed JSON or unsupported characters.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateConnectivityInfoRequest",
        "variableName" : "updateConnectivityInfoRequest",
        "variableType" : "UpdateConnectivityInfoRequest",
        "documentation" : "",
        "simpleType" : "UpdateConnectivityInfoRequest",
        "variableSetterType" : "UpdateConnectivityInfoRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateConnectivityInfo",
      "operationName" : "UpdateConnectivityInfo",
      "returnType" : {
        "returnType" : "UpdateConnectivityInfoResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateConnectivityInfoResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You don't have permission to perform the action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.greengrassv2.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.greengrassv2.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AssociateClientDeviceWithCoreDeviceEntry" : {
      "c2jName" : "AssociateClientDeviceWithCoreDeviceEntry",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains a request to associate a client device with a core device. The <a href=\"https://docs.aws.amazon.com/greengrass/v2/APIReference/API_BatchAssociateClientDeviceWithCoreDevice.html\">BatchAssociateClientDeviceWithCoreDevice</a> operation consumes a list of these requests.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.greengrassv2.model.AssociateClientDeviceWithCoreDeviceEntry",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "thingName",
        "c2jShape" : "IoTThingName",
        "deprecated" : false,
        "documentation" : "<p>The name of the IoT thing that represents the client device to associate.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The name of the IoT thing that represents the client device to associate.</p>\n@param thingName The name of the IoT thing that represents the client device to associate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withThingName",
        "getterDocumentation" : "/**<p>The name of the IoT thing that represents the client device to associate.</p>\n@return The name of the IoT thing that represents the client device to associate.*/",
        "getterMethodName" : "getThingName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "thingName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "thingName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ThingName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The name of the IoT thing that represents the client device to associate.</p>\n@param thingName The name of the IoT thing that represents the client device to associate.*/",
        "setterMethodName" : "setThingName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "thingName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The name of the IoT thing that represents the client device to associate.</p>\n@param thingName The name of the IoT thing that represents the client device to associate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "thingName",
          "variableType" : "String",
          "documentation" : "<p>The name of the IoT thing that represents the client device to associate.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ThingName" : {
          "c2jName" : "thingName",
          "c2jShape" : "IoTThingName",
          "deprecated" : false,
          "documentation" : "<p>The name of the IoT thing that represents the client device to associate.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The name of the IoT thing that represents the client device to associate.</p>\n@param thingName The name of the IoT thing that represents the client device to associate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withThingName",
          "getterDocumentation" : "/**<p>The name of the IoT thing that represents the client device to associate.</p>\n@return The name of the IoT thing that represents the client device to associate.*/",
          "getterMethodName" : "getThingName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "thingName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "thingName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ThingName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The name of the IoT thing that represents the client device to associate.</p>\n@param thingName The name of the IoT thing that represents the client device to associate.*/",
          "setterMethodName" : "setThingName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "thingName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The name of the IoT thing that represents the client device to associate.</p>\n@param thingName The name of the IoT thing that represents the client device to associate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "thingName",
            "variableType" : "String",
            "documentation" : "<p>The name of the IoT thing that represents the client device to associate.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.greengrassv2.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "thingName" ],
      "shapeName" : "AssociateClientDeviceWithCoreDeviceEntry",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateClientDeviceWithCoreDeviceEntry",
        "variableName" : "associateClientDeviceWithCoreDeviceEntry",
        "variableType" : "AssociateClientDeviceWithCoreDeviceEntry",
        "documentation" : null,
        "simpleType" : "AssociateClientDeviceWithCoreDeviceEntry",
        "variableSetterType" : "AssociateClientDeviceWithCoreDeviceEntry"
      },
      "wrapper" : false
    },
    "AssociateClientDeviceWithCoreDeviceErrorEntry" : {
      "c2jName" : "AssociateClientDeviceWithCoreDeviceErrorEntry",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Contains an error that occurs from a request to associate a client device with a core device. The <a href=\"https://docs.aws.amazon.com/greengrass/v2/APIReference/API_BatchAssociateClientDeviceWithCoreDevice.html\">BatchAssociateClientDeviceWithCoreDevice</a> operation returns a list of these errors.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
[...]
