{
  "authorizers" : { },
  "metadata" : {
    "apiVersion" : "2017-06-07",
    "endpointPrefix" : "greengrass",
    "jsonVersion" : "1.1",
    "protocol" : "rest-json",
    "resultWrapped" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Greengrass",
    "signatureVersion" : "v4",
    "signingName" : "greengrass",
    "targetPrefix" : null,
    "uid" : "greengrass-2017-06-07",
    "xmlNamespace" : null
  },
  "operations" : {
    "AssociateRoleToGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Associates a role with a group. The role will be used by the AWS Greengrass core in order to access AWS cloud services. The role's permissions will allow Greengrass core Lambda functions to perform actions against the cloud.",
      "errors" : [ {
        "documentation" : "User Error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "Server Error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/greengrass/groups/{GroupId}/role",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "AssociateRoleToGroupRequest",
        "xmlNamespace" : null
      },
      "name" : "AssociateRoleToGroup",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "AssociateRoleToGroupResponse"
      }
    },
    "AssociateServiceRoleToAccount" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Associates a role which is used by AWS Greengrass. AWS Greengrass uses the role to access your Lambda functions and AWS IoT resources. This is necessary for deployments to succeed. It needs to have minimum permissions in policy ``AWSGreengrassResourceAccessRolePolicy``",
      "errors" : [ {
        "documentation" : "User Error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "Server Error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/greengrass/servicerole",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "AssociateServiceRoleToAccountRequest",
        "xmlNamespace" : null
      },
      "name" : "AssociateServiceRoleToAccount",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "AssociateServiceRoleToAccountResponse"
      }
    },
    "CreateCoreDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Creates a core definition. You may optionally provide the initial version of the core definition or use ''CreateCoreDefinitionVersion'' at a later time. AWS Greengrass Groups must each contain exactly 1 AWS Greengrass Core.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/greengrass/definition/cores",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateCoreDefinitionRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateCoreDefinition",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateCoreDefinitionResponse"
      }
    },
    "CreateCoreDefinitionVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Creates a version of a core definition that has already been defined. AWS Greengrass Groups must each contain exactly 1 AWS Greengrass Core.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/greengrass/definition/cores/{CoreDefinitionId}/versions",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateCoreDefinitionVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateCoreDefinitionVersion",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateCoreDefinitionVersionResponse"
      }
    },
    "CreateDeployment" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Creates a deployment.",
      "errors" : [ {
        "documentation" : "This request was invalid.",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/greengrass/groups/{GroupId}/deployments",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateDeploymentRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateDeployment",
      "output" : {
        "documentation" : "Successfully deployed the given group",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateDeploymentResponse"
      }
    },
    "CreateDeviceDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Creates a device definition. You may optinally provide the initial version of the device definition or use ``CreateDeviceDefinitionVersion`` at a later time.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/greengrass/definition/devices",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateDeviceDefinitionRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateDeviceDefinition",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateDeviceDefinitionResponse"
      }
    },
    "CreateDeviceDefinitionVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Creates a version of a device definition that has already been defined.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/greengrass/definition/devices/{DeviceDefinitionId}/versions",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateDeviceDefinitionVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateDeviceDefinitionVersion",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateDeviceDefinitionVersionResponse"
      }
    },
    "CreateFunctionDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Creates a Lambda function definition which contains a list of Lambda functions and their configurations to be used in a group. You can create an initial version of the definition by providing a list of Lambda functions and their configurations now, or use ``CreateFunctionDefinitionVersion`` later.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/greengrass/definition/functions",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateFunctionDefinitionRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateFunctionDefinition",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateFunctionDefinitionResponse"
      }
    },
    "CreateFunctionDefinitionVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Create a version of a Lambda function definition that has already been defined.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/greengrass/definition/functions/{FunctionDefinitionId}/versions",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateFunctionDefinitionVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateFunctionDefinitionVersion",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateFunctionDefinitionVersionResponse"
      }
    },
    "CreateGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Creates a group. You may optionally provide the initial version of the group or use ''CreateGroupVersion'' at a later time.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/greengrass/groups",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateGroupRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateGroup",
      "output" : {
        "documentation" : "Group created successfully",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateGroupResponse"
      }
    },
    "CreateGroupCertificateAuthority" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Creates a CA for the group. If a CA already exists, it will rotate the existing CA.",
      "errors" : [ {
        "documentation" : "This request was invalid.",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "The server encountered an unexpected error.",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/greengrass/groups/{GroupId}/certificateauthorities",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateGroupCertificateAuthorityRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateGroupCertificateAuthority",
      "output" : {
        "documentation" : "The response body contains the new active CA ARN",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateGroupCertificateAuthorityResponse"
      }
    },
    "CreateGroupVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Creates a version of a group which has already been defined.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/greengrass/groups/{GroupId}/versions",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateGroupVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateGroupVersion",
      "output" : {
        "documentation" : "the requested version of the Group",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateGroupVersionResponse"
      }
    },
    "CreateLoggerDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Creates a logger definition. You may optionally provide the initial version of the logger definition or use ``CreateLoggerDefinitionVersion`` at a later time.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/greengrass/definition/loggers",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateLoggerDefinitionRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateLoggerDefinition",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateLoggerDefinitionResponse"
      }
    },
    "CreateLoggerDefinitionVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Creates a version of a logger definition that has already been defined.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/greengrass/definition/loggers/{LoggerDefinitionId}/versions",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateLoggerDefinitionVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateLoggerDefinitionVersion",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateLoggerDefinitionVersionResponse"
      }
    },
    "CreateSubscriptionDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Creates a subscription definition. You may optionally provide the initial version of the subscription definition or use ``CreateSubscriptionDefinitionVersion`` at a later time.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/greengrass/definition/subscriptions",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateSubscriptionDefinitionRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateSubscriptionDefinition",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateSubscriptionDefinitionResponse"
      }
    },
    "CreateSubscriptionDefinitionVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Creates a version of a subscription definition which has already been defined.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "CreateSubscriptionDefinitionVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateSubscriptionDefinitionVersion",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateSubscriptionDefinitionVersionResponse"
      }
    },
    "DeleteCoreDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Deletes a core definition. The core definition must not have been used in a deployment.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/greengrass/definition/cores/{CoreDefinitionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteCoreDefinitionRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteCoreDefinition",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteCoreDefinitionResponse"
      }
    },
    "DeleteDeviceDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Deletes a device definition. The device definition must not have been used in a deployment.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/greengrass/definition/devices/{DeviceDefinitionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteDeviceDefinitionRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteDeviceDefinition",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteDeviceDefinitionResponse"
      }
    },
    "DeleteFunctionDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Deletes a Lambda function definition. The Lambda function definition must not have been used in a deployment.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/greengrass/definition/functions/{FunctionDefinitionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteFunctionDefinitionRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteFunctionDefinition",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteFunctionDefinitionResponse"
      }
    },
    "DeleteGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Deletes a group. The group must not have been used in deployment.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/greengrass/groups/{GroupId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteGroupRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteGroup",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteGroupResponse"
      }
    },
    "DeleteLoggerDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Deletes a logger definition. The logger definition must not have been used in a deployment.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/greengrass/definition/loggers/{LoggerDefinitionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteLoggerDefinitionRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteLoggerDefinition",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteLoggerDefinitionResponse"
      }
    },
    "DeleteSubscriptionDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Deletes a subscription definition. The subscription definition must not have been used in a deployment.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DeleteSubscriptionDefinitionRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteSubscriptionDefinition",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteSubscriptionDefinitionResponse"
      }
    },
    "DisassociateRoleFromGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Disassociates the role from a group.",
      "errors" : [ {
        "documentation" : "User Error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "Server Error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/greengrass/groups/{GroupId}/role",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DisassociateRoleFromGroupRequest",
        "xmlNamespace" : null
      },
      "name" : "DisassociateRoleFromGroup",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DisassociateRoleFromGroupResponse"
      }
    },
    "DisassociateServiceRoleFromAccount" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Disassociates the service role from the account. Without a service role, deployments will not work.",
      "errors" : [ {
        "documentation" : "Server Error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/greengrass/servicerole",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "DisassociateServiceRoleFromAccountRequest",
        "xmlNamespace" : null
      },
      "name" : "DisassociateServiceRoleFromAccount",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DisassociateServiceRoleFromAccountResponse"
      }
    },
    "GetAssociatedRole" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves the role associated with a particular group.",
      "errors" : [ {
        "documentation" : "User Error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "Server Error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/groups/{GroupId}/role",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetAssociatedRoleRequest",
        "xmlNamespace" : null
      },
      "name" : "GetAssociatedRole",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetAssociatedRoleResponse"
      }
    },
    "GetConnectivityInfo" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves the connectivity information for a core.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/things/{ThingName}/connectivityInfo",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetConnectivityInfoRequest",
        "xmlNamespace" : null
      },
      "name" : "GetConnectivityInfo",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetConnectivityInfoResponse"
      }
    },
    "GetCoreDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves information about a core definition version.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/definition/cores/{CoreDefinitionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetCoreDefinitionRequest",
        "xmlNamespace" : null
      },
      "name" : "GetCoreDefinition",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetCoreDefinitionResponse"
      }
    },
    "GetCoreDefinitionVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves information about a core definition version.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/definition/cores/{CoreDefinitionId}/versions/{CoreDefinitionVersionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetCoreDefinitionVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "GetCoreDefinitionVersion",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetCoreDefinitionVersionResponse"
      }
    },
    "GetDeploymentStatus" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Returns the status of a deployment.",
      "errors" : [ {
        "documentation" : "This request was invalid.",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/groups/{GroupId}/deployments/{DeploymentId}/status",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetDeploymentStatusRequest",
        "xmlNamespace" : null
      },
      "name" : "GetDeploymentStatus",
      "output" : {
        "documentation" : "The response body contains the status of a deployment for a group.",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetDeploymentStatusResponse"
      }
    },
    "GetDeviceDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves information about a device definition.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/definition/devices/{DeviceDefinitionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetDeviceDefinitionRequest",
        "xmlNamespace" : null
      },
      "name" : "GetDeviceDefinition",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetDeviceDefinitionResponse"
      }
    },
    "GetDeviceDefinitionVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves information about a device definition version.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/definition/devices/{DeviceDefinitionId}/versions/{DeviceDefinitionVersionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetDeviceDefinitionVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "GetDeviceDefinitionVersion",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetDeviceDefinitionVersionResponse"
      }
    },
    "GetFunctionDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves information about a Lambda function definition, such as its creation time and latest version.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/definition/functions/{FunctionDefinitionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetFunctionDefinitionRequest",
        "xmlNamespace" : null
      },
      "name" : "GetFunctionDefinition",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetFunctionDefinitionResponse"
      }
    },
    "GetFunctionDefinitionVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves information about a Lambda function definition version, such as which Lambda functions are included in the version and their configurations.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/definition/functions/{FunctionDefinitionId}/versions/{FunctionDefinitionVersionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetFunctionDefinitionVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "GetFunctionDefinitionVersion",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetFunctionDefinitionVersionResponse"
      }
    },
    "GetGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves information about a group.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/groups/{GroupId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetGroupRequest",
        "xmlNamespace" : null
      },
      "name" : "GetGroup",
      "output" : {
        "documentation" : "the requested Group",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetGroupResponse"
      }
    },
    "GetGroupCertificateAuthority" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retreives the CA associated with a group. Returns the public key of the CA.",
      "errors" : [ {
        "documentation" : "This request was invalid.",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "This request was invalid.",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/groups/{GroupId}/certificateauthorities/{CertificateAuthorityId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetGroupCertificateAuthorityRequest",
        "xmlNamespace" : null
      },
      "name" : "GetGroupCertificateAuthority",
      "output" : {
        "documentation" : "The response body contains the PKI Configuration",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetGroupCertificateAuthorityResponse"
      }
    },
    "GetGroupCertificateConfiguration" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves the current configuration for the CA used by the group.",
      "errors" : [ {
        "documentation" : "This request was invalid.",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "This request was invalid.",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/groups/{GroupId}/certificateauthorities/configuration/expiry",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetGroupCertificateConfigurationRequest",
        "xmlNamespace" : null
      },
      "name" : "GetGroupCertificateConfiguration",
      "output" : {
        "documentation" : "The response body contains the PKI Configuration",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetGroupCertificateConfigurationResponse"
      }
    },
    "GetGroupVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves information about a group version.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/groups/{GroupId}/versions/{GroupVersionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetGroupVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "GetGroupVersion",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetGroupVersionResponse"
      }
    },
    "GetLoggerDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves information about a logger definition.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/definition/loggers/{LoggerDefinitionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetLoggerDefinitionRequest",
        "xmlNamespace" : null
      },
      "name" : "GetLoggerDefinition",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetLoggerDefinitionResponse"
      }
    },
    "GetLoggerDefinitionVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves information about a logger definition version.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/definition/loggers/{LoggerDefinitionId}/versions/{LoggerDefinitionVersionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetLoggerDefinitionVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "GetLoggerDefinitionVersion",
      "output" : {
        "documentation" : "test",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetLoggerDefinitionVersionResponse"
      }
    },
    "GetServiceRoleForAccount" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves the service role that is attached to the account.",
      "errors" : [ {
        "documentation" : "Server Error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/servicerole",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetServiceRoleForAccountRequest",
        "xmlNamespace" : null
      },
      "name" : "GetServiceRoleForAccount",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetServiceRoleForAccountResponse"
      }
    },
    "GetSubscriptionDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves information about a subscription definition.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetSubscriptionDefinitionRequest",
        "xmlNamespace" : null
      },
      "name" : "GetSubscriptionDefinition",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetSubscriptionDefinitionResponse"
      }
    },
    "GetSubscriptionDefinitionVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves information about a subscription definition version.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions/{SubscriptionDefinitionVersionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "GetSubscriptionDefinitionVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "GetSubscriptionDefinitionVersion",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetSubscriptionDefinitionVersionResponse"
      }
    },
    "ListCoreDefinitionVersions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Lists versions of a core definition.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/definition/cores/{CoreDefinitionId}/versions",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListCoreDefinitionVersionsRequest",
        "xmlNamespace" : null
      },
      "name" : "ListCoreDefinitionVersions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListCoreDefinitionVersionsResponse"
      }
    },
    "ListCoreDefinitions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves a list of core definitions.",
      "errors" : [ ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/definition/cores",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListCoreDefinitionsRequest",
        "xmlNamespace" : null
      },
      "name" : "ListCoreDefinitions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListCoreDefinitionsResponse"
      }
    },
    "ListDeployments" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Returns a history of deployments for the group.",
      "errors" : [ {
        "documentation" : "This request was invalid.",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/groups/{GroupId}/deployments",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListDeploymentsRequest",
        "xmlNamespace" : null
      },
      "name" : "ListDeployments",
      "output" : {
        "documentation" : "The response body contains the list of deployments for the given group Id",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListDeploymentsResponse"
      }
    },
    "ListDeviceDefinitionVersions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Lists the versions of a device definition.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/definition/devices/{DeviceDefinitionId}/versions",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListDeviceDefinitionVersionsRequest",
        "xmlNamespace" : null
      },
      "name" : "ListDeviceDefinitionVersions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListDeviceDefinitionVersionsResponse"
      }
    },
    "ListDeviceDefinitions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves a list of device definitions.",
      "errors" : [ ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/definition/devices",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListDeviceDefinitionsRequest",
        "xmlNamespace" : null
      },
      "name" : "ListDeviceDefinitions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListDeviceDefinitionsResponse"
      }
    },
    "ListFunctionDefinitionVersions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Lists the versions of a Lambda function definition.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/definition/functions/{FunctionDefinitionId}/versions",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListFunctionDefinitionVersionsRequest",
        "xmlNamespace" : null
      },
      "name" : "ListFunctionDefinitionVersions",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListFunctionDefinitionVersionsResponse"
      }
    },
    "ListFunctionDefinitions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves a list of Lambda function definitions.",
      "errors" : [ ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/definition/functions",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListFunctionDefinitionsRequest",
        "xmlNamespace" : null
      },
      "name" : "ListFunctionDefinitions",
      "output" : {
        "documentation" : "The Ids of all the Greengrass Function Definitions in this account.",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListFunctionDefinitionsResponse"
      }
    },
    "ListGroupCertificateAuthorities" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves the current CAs for a group.",
      "errors" : [ {
        "documentation" : "This request was invalid.",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "This request was invalid.",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/groups/{GroupId}/certificateauthorities",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListGroupCertificateAuthoritiesRequest",
        "xmlNamespace" : null
      },
      "name" : "ListGroupCertificateAuthorities",
      "output" : {
        "documentation" : "The response body contains the PKI Configuration",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListGroupCertificateAuthoritiesResponse"
      }
    },
    "ListGroupVersions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "List the versions of a group.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/groups/{GroupId}/versions",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListGroupVersionsRequest",
        "xmlNamespace" : null
      },
      "name" : "ListGroupVersions",
      "output" : {
        "documentation" : "the list of versions and metadata for the given group Id",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListGroupVersionsResponse"
      }
    },
    "ListGroups" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves a list of groups.",
      "errors" : [ ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/groups",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListGroupsRequest",
        "xmlNamespace" : null
      },
      "name" : "ListGroups",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListGroupsResponse"
      }
    },
    "ListLoggerDefinitionVersions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Lists the versions of a logger definition.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/definition/loggers/{LoggerDefinitionId}/versions",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListLoggerDefinitionVersionsRequest",
        "xmlNamespace" : null
      },
      "name" : "ListLoggerDefinitionVersions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListLoggerDefinitionVersionsResponse"
      }
    },
    "ListLoggerDefinitions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves a list of logger definitions.",
      "errors" : [ ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/definition/loggers",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListLoggerDefinitionsRequest",
        "xmlNamespace" : null
      },
      "name" : "ListLoggerDefinitions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListLoggerDefinitionsResponse"
      }
    },
    "ListSubscriptionDefinitionVersions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Lists the versions of a subscription definition.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListSubscriptionDefinitionVersionsRequest",
        "xmlNamespace" : null
      },
      "name" : "ListSubscriptionDefinitionVersions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListSubscriptionDefinitionVersionsResponse"
      }
    },
    "ListSubscriptionDefinitions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Retrieves a list of subscription definitions.",
      "errors" : [ ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/greengrass/definition/subscriptions",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "ListSubscriptionDefinitionsRequest",
        "xmlNamespace" : null
      },
      "name" : "ListSubscriptionDefinitions",
      "output" : {
        "documentation" : null,
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListSubscriptionDefinitionsResponse"
      }
    },
    "UpdateConnectivityInfo" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Updates the connectivity information for the core. Any devices that belong to the group which has this core will receive this information in order to find the location of the core and connect to it.",
      "errors" : [ {
        "documentation" : "400 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "500 response",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/greengrass/things/{ThingName}/connectivityInfo",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateConnectivityInfoRequest",
        "xmlNamespace" : null
      },
      "name" : "UpdateConnectivityInfo",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateConnectivityInfoResponse"
      }
    },
    "UpdateCoreDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Updates a core definition.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/greengrass/definition/cores/{CoreDefinitionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateCoreDefinitionRequest",
        "xmlNamespace" : null
      },
      "name" : "UpdateCoreDefinition",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateCoreDefinitionResponse"
      }
    },
    "UpdateDeviceDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Updates a device definition.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/greengrass/definition/devices/{DeviceDefinitionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateDeviceDefinitionRequest",
        "xmlNamespace" : null
      },
      "name" : "UpdateDeviceDefinition",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateDeviceDefinitionResponse"
      }
    },
    "UpdateFunctionDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Updates a Lambda function definition.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/greengrass/definition/functions/{FunctionDefinitionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateFunctionDefinitionRequest",
        "xmlNamespace" : null
      },
      "name" : "UpdateFunctionDefinition",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateFunctionDefinitionResponse"
      }
    },
    "UpdateGroup" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Updates a group.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/greengrass/groups/{GroupId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateGroupRequest",
        "xmlNamespace" : null
      },
      "name" : "UpdateGroup",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateGroupResponse"
      }
    },
    "UpdateGroupCertificateConfiguration" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Updates the Cert expiry time for a group.",
      "errors" : [ {
        "documentation" : "This request was invalid.",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      }, {
        "documentation" : "This request was invalid.",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "InternalServerErrorException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/greengrass/groups/{GroupId}/certificateauthorities/configuration/expiry",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateGroupCertificateConfigurationRequest",
        "xmlNamespace" : null
      },
      "name" : "UpdateGroupCertificateConfiguration",
      "output" : {
        "documentation" : "The response body contains the PKI Configuration",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateGroupCertificateConfigurationResponse"
      }
    },
    "UpdateLoggerDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Updates a logger definition.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/greengrass/definition/loggers/{LoggerDefinitionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateLoggerDefinitionRequest",
        "xmlNamespace" : null
      },
      "name" : "UpdateLoggerDefinition",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateLoggerDefinitionResponse"
      }
    },
    "UpdateSubscriptionDefinition" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "Updates a subscription definition.",
      "errors" : [ {
        "documentation" : "user error",
        "error" : null,
        "exception" : false,
        "fault" : false,
        "shape" : "BadRequestException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}",
        "responseCode" : "200"
      },
      "input" : {
        "documentation" : null,
        "locationName" : null,
        "shape" : "UpdateSubscriptionDefinitionRequest",
        "xmlNamespace" : null
      },
      "name" : "UpdateSubscriptionDefinition",
      "output" : {
        "documentation" : "200 response",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "UpdateSubscriptionDefinitionResponse"
      }
    }
  },
  "shapes" : {
    "AssociateRoleToGroupRequest" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "GroupId" : {
          "deprecated" : false,
          "documentation" : "The unique Id of the AWS Greengrass Group",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "GroupId",
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "RoleArn" : {
          "deprecated" : false,
          "documentation" : "Role arn you wish to associate with this group.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "GroupId" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AssociateRoleToGroupResponse" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "AssociatedAt" : {
          "deprecated" : false,
          "documentation" : "Time the role arn was associated to your group.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AssociateServiceRoleToAccountRequest" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "RoleArn" : {
          "deprecated" : false,
          "documentation" : "Role arn you wish to associate with this account.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "AssociateServiceRoleToAccountResponse" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "AssociatedAt" : {
          "deprecated" : false,
          "documentation" : "Time when the service role was associated to the account.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "BadRequestException" : {
      "deprecated" : false,
      "documentation" : "General Error",
      "enum" : null,
      "error" : {
        "code" : null,
        "httpStatusCode" : 400
      },
      "exception" : true,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "ErrorDetails" : {
          "deprecated" : false,
          "documentation" : "Error Details",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ErrorDetails",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Message" : {
          "deprecated" : false,
          "documentation" : "Message",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "ConnectivityInfo" : {
      "deprecated" : false,
      "documentation" : "Connectivity Info",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "HostAddress" : {
          "deprecated" : false,
          "documentation" : "Endpoint for the GGC. Can be an IP address or DNS.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Id" : {
          "deprecated" : false,
          "documentation" : "Element Id for this entry in the list.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Metadata" : {
          "deprecated" : false,
          "documentation" : "Metadata for this endpoint.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "PortNumber" : {
          "deprecated" : false,
          "documentation" : "Port of the GGC. Usually 8883.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__integer",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "Core" : {
      "deprecated" : false,
      "documentation" : "Information on the core",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "CertificateArn" : {
          "deprecated" : false,
          "documentation" : "Certificate arn of the core.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Id" : {
          "deprecated" : false,
          "documentation" : "Element Id for this entry in the list.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "SyncShadow" : {
          "deprecated" : false,
          "documentation" : "If true, the local shadow value automatically syncs with the cloud's shadow state.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__boolean",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "ThingArn" : {
          "deprecated" : false,
          "documentation" : "Thing arn of the core.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CoreDefinitionVersion" : {
      "deprecated" : false,
      "documentation" : "Information on core definition version",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Cores" : {
          "deprecated" : false,
          "documentation" : "Cores in the definition version.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ListOfCore",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateCoreDefinitionRequest" : {
      "deprecated" : false,
      "documentation" : "Information on the core definition request",
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "AmznClientToken" : {
          "deprecated" : false,
          "documentation" : "The client token used to request idempotent operations.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "header",
          "locationName" : "X-Amzn-Client-Token",
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "InitialVersion" : {
          "deprecated" : false,
          "documentation" : "Information on the initial version",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "CoreDefinitionVersion",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Name" : {
          "deprecated" : false,
          "documentation" : "name of the core definition",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateCoreDefinitionResponse" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Arn" : {
          "deprecated" : false,
          "documentation" : "Arn of the definition.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "CreationTimestamp" : {
          "deprecated" : false,
          "documentation" : "Timestamp of when the definition was created.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Id" : {
          "deprecated" : false,
          "documentation" : "Id of the definition.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LastUpdatedTimestamp" : {
          "deprecated" : false,
          "documentation" : "Last updated timestamp of the definition.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LatestVersion" : {
          "deprecated" : false,
          "documentation" : "Last version of the definition.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LatestVersionArn" : {
          "deprecated" : false,
          "documentation" : "Latest version arn of the definition.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Name" : {
          "deprecated" : false,
          "documentation" : "Name of the definition.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateCoreDefinitionVersionRequest" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "AmznClientToken" : {
          "deprecated" : false,
          "documentation" : "The client token used to request idempotent operations.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "header",
          "locationName" : "X-Amzn-Client-Token",
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "CoreDefinitionId" : {
          "deprecated" : false,
          "documentation" : "core definition Id",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "CoreDefinitionId",
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Cores" : {
          "deprecated" : false,
          "documentation" : "Cores in the definition version.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ListOfCore",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "CoreDefinitionId" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateCoreDefinitionVersionResponse" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Arn" : {
          "deprecated" : false,
          "documentation" : "Arn of the version.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "CreationTimestamp" : {
          "deprecated" : false,
          "documentation" : "Timestamp of when the version was created.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Id" : {
          "deprecated" : false,
          "documentation" : "Id of the resource container.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Version" : {
          "deprecated" : false,
          "documentation" : "Unique Id of a version.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateDeploymentRequest" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "AmznClientToken" : {
          "deprecated" : false,
          "documentation" : "The client token used to request idempotent operations.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "header",
          "locationName" : "X-Amzn-Client-Token",
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DeploymentId" : {
          "deprecated" : false,
          "documentation" : "Id of the deployment if you wish to redeploy a previous deployment.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DeploymentType" : {
          "deprecated" : false,
          "documentation" : "Type of deployment",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DeploymentType",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "GroupId" : {
          "deprecated" : false,
          "documentation" : "The unique Id of the AWS Greengrass Group",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "GroupId",
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "GroupVersionId" : {
          "deprecated" : false,
          "documentation" : "Group Version you wish to deploy.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "GroupId" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateDeploymentResponse" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "DeploymentArn" : {
          "deprecated" : false,
          "documentation" : "Arn of the deployment.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DeploymentId" : {
          "deprecated" : false,
          "documentation" : "Id of the deployment.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateDeviceDefinitionRequest" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "AmznClientToken" : {
          "deprecated" : false,
          "documentation" : "The client token used to request idempotent operations.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "header",
          "locationName" : "X-Amzn-Client-Token",
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "InitialVersion" : {
          "deprecated" : false,
          "documentation" : "Information on the initial version",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "DeviceDefinitionVersion",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Name" : {
          "deprecated" : false,
          "documentation" : "name of the device definition",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateDeviceDefinitionResponse" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Arn" : {
          "deprecated" : false,
          "documentation" : "Arn of the definition.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "CreationTimestamp" : {
          "deprecated" : false,
          "documentation" : "Timestamp of when the definition was created.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Id" : {
          "deprecated" : false,
          "documentation" : "Id of the definition.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LastUpdatedTimestamp" : {
          "deprecated" : false,
          "documentation" : "Last updated timestamp of the definition.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LatestVersion" : {
          "deprecated" : false,
          "documentation" : "Last version of the definition.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "LatestVersionArn" : {
          "deprecated" : false,
          "documentation" : "Latest version arn of the definition.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Name" : {
          "deprecated" : false,
          "documentation" : "Name of the definition.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateDeviceDefinitionVersionRequest" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "AmznClientToken" : {
          "deprecated" : false,
          "documentation" : "The client token used to request idempotent operations.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "header",
          "locationName" : "X-Amzn-Client-Token",
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "DeviceDefinitionId" : {
          "deprecated" : false,
          "documentation" : "device definition Id",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : "uri",
          "locationName" : "DeviceDefinitionId",
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Devices" : {
          "deprecated" : false,
          "documentation" : "Devices in the definition version.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "ListOfDevice",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : [ "DeviceDefinitionId" ],
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateDeviceDefinitionVersionResponse" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "Arn" : {
          "deprecated" : false,
          "documentation" : "Arn of the version.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "CreationTimestamp" : {
          "deprecated" : false,
          "documentation" : "Timestamp of when the version was created.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Id" : {
          "deprecated" : false,
          "documentation" : "Id of the resource container.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        },
        "Version" : {
          "deprecated" : false,
          "documentation" : "Unique Id of a version.",
          "flattened" : false,
          "idempotencyToken" : false,
          "jsonvalue" : false,
          "location" : null,
          "locationName" : null,
          "payload" : false,
          "queryName" : null,
          "shape" : "__string",
          "streaming" : false,
          "xmlNamespace" : null
        }
      },
      "min" : 0,
      "pattern" : null,
      "payload" : null,
      "required" : null,
      "streaming" : false,
      "type" : "structure",
      "value" : null,
      "wrapper" : false
    },
    "CreateFunctionDefinitionRequest" : {
      "deprecated" : false,
      "documentation" : null,
      "enum" : null,
      "error" : null,
      "exception" : false,
      "fault" : false,
      "flattened" : false,
      "key" : null,
      "max" : 0,
      "member" : null,
      "members" : {
        "AmznClientToken" : {
          "deprecated" : false,
[...]
