{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-05-23",
    "asyncClient" : "AWSGroundStationAsyncClient",
    "asyncClientBuilderClassName" : "AWSGroundStationAsyncClientBuilder",
    "asyncInterface" : "AWSGroundStationAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSGroundStationModuleInjector",
    "defaultEndpoint" : "groundstation.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "groundstation.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Welcome to the AWS Ground Station API Reference. AWS Ground Station is a fully managed service that\n      enables you to control satellite communications, downlink and process satellite data, and\n      scale your satellite operations efficiently and cost-effectively without having\n      to build or manage your own ground station infrastructure.</p>",
    "endpointPrefix" : "groundstation",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.groundstation",
    "packagePath" : "com/amazonaws/services/groundstation",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Ground Station",
    "serviceId" : "GroundStation",
    "serviceName" : "AWS Ground Station",
    "signingName" : "groundstation",
    "smokeTestsPackageName" : "com.amazonaws.services.groundstation.smoketests",
    "syncClient" : "AWSGroundStationClient",
    "syncClientBuilderClassName" : "AWSGroundStationClientBuilder",
    "syncInterface" : "AWSGroundStation",
    "uid" : "groundstation-2019-05-23",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelContactRequest, CancelContactResult>",
      "asyncReturnType" : "CancelContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Cancels a contact with a specified contact ID.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelContactRequest",
        "variableName" : "cancelContactRequest",
        "variableType" : "CancelContactRequest",
        "documentation" : "<p/>",
        "simpleType" : "CancelContactRequest",
        "variableSetterType" : "CancelContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelContact",
      "operationName" : "CancelContact",
      "returnType" : {
        "returnType" : "CancelContactResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "CancelContactResult"
    },
    "CreateConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConfigRequest, CreateConfigResult>",
      "asyncReturnType" : "CreateConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a <code>Config</code> with the specified <code>configData</code> parameters.</p>\n         <p>Only one type of <code>configData</code> can be specified.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConfigRequest",
        "variableName" : "createConfigRequest",
        "variableType" : "CreateConfigRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateConfigRequest",
        "variableSetterType" : "CreateConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConfig",
      "operationName" : "CreateConfig",
      "returnType" : {
        "returnType" : "CreateConfigResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "CreateConfigResult"
    },
    "CreateDataflowEndpointGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDataflowEndpointGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDataflowEndpointGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDataflowEndpointGroupRequest, CreateDataflowEndpointGroupResult>",
      "asyncReturnType" : "CreateDataflowEndpointGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a <code>DataflowEndpoint</code> group containing the specified list of <code>DataflowEndpoint</code> objects.</p>\n         <p>The <code>name</code> field in each endpoint is used in your mission profile <code>DataflowEndpointConfig</code> \n         to specify which endpoints to use during a contact.</p> \n         <p>When a contact uses multiple <code>DataflowEndpointConfig</code> objects, each <code>Config</code> \n         must match a <code>DataflowEndpoint</code> in the same group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDataflowEndpointGroupRequest",
        "variableName" : "createDataflowEndpointGroupRequest",
        "variableType" : "CreateDataflowEndpointGroupRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateDataflowEndpointGroupRequest",
        "variableSetterType" : "CreateDataflowEndpointGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataflowEndpointGroup",
      "operationName" : "CreateDataflowEndpointGroup",
      "returnType" : {
        "returnType" : "CreateDataflowEndpointGroupResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "CreateDataflowEndpointGroupResult"
    },
    "CreateMissionProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMissionProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMissionProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMissionProfileRequest, CreateMissionProfileResult>",
      "asyncReturnType" : "CreateMissionProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a mission profile.</p>\n         <p>\n            <code>dataflowEdges</code> is a list of lists of strings. Each lower level list of strings\n         has two elements: a <i>from ARN</i> and a <i>to ARN</i>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMissionProfileRequest",
        "variableName" : "createMissionProfileRequest",
        "variableType" : "CreateMissionProfileRequest",
        "documentation" : "<p/>",
        "simpleType" : "CreateMissionProfileRequest",
        "variableSetterType" : "CreateMissionProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMissionProfile",
      "operationName" : "CreateMissionProfile",
      "returnType" : {
        "returnType" : "CreateMissionProfileResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "CreateMissionProfileResult"
    },
    "DeleteConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfigRequest, DeleteConfigResult>",
      "asyncReturnType" : "DeleteConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a <code>Config</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConfigRequest",
        "variableName" : "deleteConfigRequest",
        "variableType" : "DeleteConfigRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteConfigRequest",
        "variableSetterType" : "DeleteConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConfig",
      "operationName" : "DeleteConfig",
      "returnType" : {
        "returnType" : "DeleteConfigResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DeleteConfigResult"
    },
    "DeleteDataflowEndpointGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDataflowEndpointGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDataflowEndpointGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDataflowEndpointGroupRequest, DeleteDataflowEndpointGroupResult>",
      "asyncReturnType" : "DeleteDataflowEndpointGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a dataflow endpoint group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDataflowEndpointGroupRequest",
        "variableName" : "deleteDataflowEndpointGroupRequest",
        "variableType" : "DeleteDataflowEndpointGroupRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteDataflowEndpointGroupRequest",
        "variableSetterType" : "DeleteDataflowEndpointGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDataflowEndpointGroup",
      "operationName" : "DeleteDataflowEndpointGroup",
      "returnType" : {
        "returnType" : "DeleteDataflowEndpointGroupResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DeleteDataflowEndpointGroupResult"
    },
    "DeleteMissionProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMissionProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMissionProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMissionProfileRequest, DeleteMissionProfileResult>",
      "asyncReturnType" : "DeleteMissionProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a mission profile.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMissionProfileRequest",
        "variableName" : "deleteMissionProfileRequest",
        "variableType" : "DeleteMissionProfileRequest",
        "documentation" : "<p/>",
        "simpleType" : "DeleteMissionProfileRequest",
        "variableSetterType" : "DeleteMissionProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMissionProfile",
      "operationName" : "DeleteMissionProfile",
      "returnType" : {
        "returnType" : "DeleteMissionProfileResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DeleteMissionProfileResult"
    },
    "DescribeContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeContactRequest, DescribeContactResult>",
      "asyncReturnType" : "DescribeContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an existing contact.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeContactRequest",
        "variableName" : "describeContactRequest",
        "variableType" : "DescribeContactRequest",
        "documentation" : "<p/>",
        "simpleType" : "DescribeContactRequest",
        "variableSetterType" : "DescribeContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeContact",
      "operationName" : "DescribeContact",
      "returnType" : {
        "returnType" : "DescribeContactResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "DescribeContactResult"
    },
    "GetConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConfigRequest, GetConfigResult>",
      "asyncReturnType" : "GetConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns <code>Config</code> information.</p>\n         <p>Only one <code>Config</code> response can be returned.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConfigRequest",
        "variableName" : "getConfigRequest",
        "variableType" : "GetConfigRequest",
        "documentation" : "<p/>",
        "simpleType" : "GetConfigRequest",
        "variableSetterType" : "GetConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConfig",
      "operationName" : "GetConfig",
      "returnType" : {
        "returnType" : "GetConfigResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "GetConfigResult"
    },
    "GetDataflowEndpointGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDataflowEndpointGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDataflowEndpointGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDataflowEndpointGroupRequest, GetDataflowEndpointGroupResult>",
      "asyncReturnType" : "GetDataflowEndpointGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the dataflow endpoint group.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDataflowEndpointGroupRequest",
        "variableName" : "getDataflowEndpointGroupRequest",
        "variableType" : "GetDataflowEndpointGroupRequest",
        "documentation" : "<p/>",
        "simpleType" : "GetDataflowEndpointGroupRequest",
        "variableSetterType" : "GetDataflowEndpointGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDataflowEndpointGroup",
      "operationName" : "GetDataflowEndpointGroup",
      "returnType" : {
        "returnType" : "GetDataflowEndpointGroupResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "GetDataflowEndpointGroupResult"
    },
    "GetMinuteUsage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMinuteUsageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMinuteUsageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMinuteUsageRequest, GetMinuteUsageResult>",
      "asyncReturnType" : "GetMinuteUsageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the number of minutes used by account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMinuteUsageRequest",
        "variableName" : "getMinuteUsageRequest",
        "variableType" : "GetMinuteUsageRequest",
        "documentation" : "<p/>",
        "simpleType" : "GetMinuteUsageRequest",
        "variableSetterType" : "GetMinuteUsageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMinuteUsage",
      "operationName" : "GetMinuteUsage",
      "returnType" : {
        "returnType" : "GetMinuteUsageResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "GetMinuteUsageResult"
    },
    "GetMissionProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMissionProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMissionProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMissionProfileRequest, GetMissionProfileResult>",
      "asyncReturnType" : "GetMissionProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a mission profile.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMissionProfileRequest",
        "variableName" : "getMissionProfileRequest",
        "variableType" : "GetMissionProfileRequest",
        "documentation" : "<p/>",
        "simpleType" : "GetMissionProfileRequest",
        "variableSetterType" : "GetMissionProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMissionProfile",
      "operationName" : "GetMissionProfile",
      "returnType" : {
        "returnType" : "GetMissionProfileResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "GetMissionProfileResult"
    },
    "GetSatellite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSatelliteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSatelliteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSatelliteRequest, GetSatelliteResult>",
      "asyncReturnType" : "GetSatelliteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a satellite.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSatelliteRequest",
        "variableName" : "getSatelliteRequest",
        "variableType" : "GetSatelliteRequest",
        "documentation" : "<p/>",
        "simpleType" : "GetSatelliteRequest",
        "variableSetterType" : "GetSatelliteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSatellite",
      "operationName" : "GetSatellite",
      "returnType" : {
        "returnType" : "GetSatelliteResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "GetSatelliteResult"
    },
    "ListConfigs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConfigsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConfigsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConfigsRequest, ListConfigsResult>",
      "asyncReturnType" : "ListConfigsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of <code>Config</code> objects.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConfigsRequest",
        "variableName" : "listConfigsRequest",
        "variableType" : "ListConfigsRequest",
        "documentation" : "<p/>",
        "simpleType" : "ListConfigsRequest",
        "variableSetterType" : "ListConfigsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConfigs",
      "operationName" : "ListConfigs",
      "returnType" : {
        "returnType" : "ListConfigsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ListConfigsResult"
    },
    "ListContacts" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListContactsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListContactsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListContactsRequest, ListContactsResult>",
      "asyncReturnType" : "ListContactsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of contacts.</p>\n         <p>If <code>statusList</code> contains AVAILABLE, the request must include\n      <code>groundstation</code>, <code>missionprofileArn</code>, and <code>satelliteArn</code>.\n      </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListContactsRequest",
        "variableName" : "listContactsRequest",
        "variableType" : "ListContactsRequest",
        "documentation" : "<p/>",
        "simpleType" : "ListContactsRequest",
        "variableSetterType" : "ListContactsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listContacts",
      "operationName" : "ListContacts",
      "returnType" : {
        "returnType" : "ListContactsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ListContactsResult"
    },
    "ListDataflowEndpointGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDataflowEndpointGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDataflowEndpointGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDataflowEndpointGroupsRequest, ListDataflowEndpointGroupsResult>",
      "asyncReturnType" : "ListDataflowEndpointGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of <code>DataflowEndpoint</code> groups.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDataflowEndpointGroupsRequest",
        "variableName" : "listDataflowEndpointGroupsRequest",
        "variableType" : "ListDataflowEndpointGroupsRequest",
        "documentation" : "<p/>",
        "simpleType" : "ListDataflowEndpointGroupsRequest",
        "variableSetterType" : "ListDataflowEndpointGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDataflowEndpointGroups",
      "operationName" : "ListDataflowEndpointGroups",
      "returnType" : {
        "returnType" : "ListDataflowEndpointGroupsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ListDataflowEndpointGroupsResult"
    },
    "ListGroundStations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListGroundStationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListGroundStationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListGroundStationsRequest, ListGroundStationsResult>",
      "asyncReturnType" : "ListGroundStationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of ground stations. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListGroundStationsRequest",
        "variableName" : "listGroundStationsRequest",
        "variableType" : "ListGroundStationsRequest",
        "documentation" : "<p/>",
        "simpleType" : "ListGroundStationsRequest",
        "variableSetterType" : "ListGroundStationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listGroundStations",
      "operationName" : "ListGroundStations",
      "returnType" : {
        "returnType" : "ListGroundStationsResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ListGroundStationsResult"
    },
    "ListMissionProfiles" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMissionProfilesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMissionProfilesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMissionProfilesRequest, ListMissionProfilesResult>",
      "asyncReturnType" : "ListMissionProfilesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of mission profiles.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMissionProfilesRequest",
        "variableName" : "listMissionProfilesRequest",
        "variableType" : "ListMissionProfilesRequest",
        "documentation" : "<p/>",
        "simpleType" : "ListMissionProfilesRequest",
        "variableSetterType" : "ListMissionProfilesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMissionProfiles",
      "operationName" : "ListMissionProfiles",
      "returnType" : {
        "returnType" : "ListMissionProfilesResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ListMissionProfilesResult"
    },
    "ListSatellites" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSatellitesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSatellitesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSatellitesRequest, ListSatellitesResult>",
      "asyncReturnType" : "ListSatellitesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of satellites.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSatellitesRequest",
        "variableName" : "listSatellitesRequest",
        "variableType" : "ListSatellitesRequest",
        "documentation" : "<p/>",
        "simpleType" : "ListSatellitesRequest",
        "variableSetterType" : "ListSatellitesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSatellites",
      "operationName" : "ListSatellites",
      "returnType" : {
        "returnType" : "ListSatellitesResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ListSatellitesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of tags or a specified resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "<p/>",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ReserveContact" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ReserveContactResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ReserveContactResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ReserveContactRequest, ReserveContactResult>",
      "asyncReturnType" : "ReserveContactResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Reserves a contact using specified parameters.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ReserveContactRequest",
        "variableName" : "reserveContactRequest",
        "variableType" : "ReserveContactRequest",
        "documentation" : "<p/>",
        "simpleType" : "ReserveContactRequest",
        "variableSetterType" : "ReserveContactRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "reserveContact",
      "operationName" : "ReserveContact",
      "returnType" : {
        "returnType" : "ReserveContactResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "ReserveContactResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns a tag to a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "<p/>",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deassigns a resource tag.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "<p/>",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateConfig" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateConfigResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateConfigResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateConfigRequest, UpdateConfigResult>",
      "asyncReturnType" : "UpdateConfigResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the <code>Config</code> used when scheduling contacts.</p>\n         <p>Updating a <code>Config</code> will not update the execution parameters\n         for existing future contacts scheduled with this <code>Config</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateConfigRequest",
        "variableName" : "updateConfigRequest",
        "variableType" : "UpdateConfigRequest",
        "documentation" : "<p/>",
        "simpleType" : "UpdateConfigRequest",
        "variableSetterType" : "UpdateConfigRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateConfig",
      "operationName" : "UpdateConfig",
      "returnType" : {
        "returnType" : "UpdateConfigResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "UpdateConfigResult"
    },
    "UpdateMissionProfile" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateMissionProfileResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateMissionProfileResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateMissionProfileRequest, UpdateMissionProfileResult>",
      "asyncReturnType" : "UpdateMissionProfileResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a mission profile.</p>\n         <p>Updating a mission profile will not update the execution parameters\n         for existing future contacts.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "DependencyException",
        "documentation" : "<p>Dependency encountered an error.</p>",
        "httpStatusCode" : 531
      }, {
        "exceptionName" : "InvalidParameterException",
        "documentation" : "<p>One or more parameters are not valid.</p>",
        "httpStatusCode" : 431
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 434
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateMissionProfileRequest",
        "variableName" : "updateMissionProfileRequest",
        "variableType" : "UpdateMissionProfileRequest",
        "documentation" : "<p/>",
        "simpleType" : "UpdateMissionProfileRequest",
        "variableSetterType" : "UpdateMissionProfileRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateMissionProfile",
      "operationName" : "UpdateMissionProfile",
      "returnType" : {
        "returnType" : "UpdateMissionProfileResult",
        "documentation" : "<p/>"
      },
      "syncReturnType" : "UpdateMissionProfileResult"
    }
  },
  "shapes" : {
    "AngleUnits" : {
      "c2jName" : "AngleUnits",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "DEGREE_ANGLE",
        "value" : "DEGREE_ANGLE"
      }, {
        "name" : "RADIAN",
        "value" : "RADIAN"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AngleUnits",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AngleUnits",
        "variableName" : "angleUnits",
        "variableType" : "AngleUnits",
        "documentation" : null,
        "simpleType" : "AngleUnits",
        "variableSetterType" : "AngleUnits"
      },
      "wrapper" : false
    },
    "AntennaDownlinkConfig" : {
      "c2jName" : "AntennaDownlinkConfig",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Information about how AWS Ground Station should configure an\n         antenna for downlink during a contact.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "spectrumConfig",
        "c2jShape" : "SpectrumConfig",
        "deprecated" : false,
        "documentation" : "<p>Object that describes a spectral <code>Config</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Object that describes a spectral <code>Config</code>.</p>\n@param spectrumConfig Object that describes a spectral <code>Config</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSpectrumConfig",
        "getterDocumentation" : "/**<p>Object that describes a spectral <code>Config</code>.</p>\n@return Object that describes a spectral <code>Config</code>.*/",
        "getterMethodName" : "getSpectrumConfig",
        "getterModel" : {
          "returnType" : "SpectrumConfig",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "spectrumConfig",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "spectrumConfig",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "SpectrumConfig",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Object that describes a spectral <code>Config</code>.</p>\n@param spectrumConfig Object that describes a spectral <code>Config</code>.*/",
        "setterMethodName" : "setSpectrumConfig",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SpectrumConfig",
          "variableName" : "spectrumConfig",
          "variableType" : "SpectrumConfig",
          "documentation" : "",
          "simpleType" : "SpectrumConfig",
          "variableSetterType" : "SpectrumConfig"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Object that describes a spectral <code>Config</code>.</p>\n@param spectrumConfig Object that describes a spectral <code>Config</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SpectrumConfig",
          "variableName" : "spectrumConfig",
          "variableType" : "SpectrumConfig",
          "documentation" : "<p>Object that describes a spectral <code>Config</code>.</p>",
          "simpleType" : "SpectrumConfig",
          "variableSetterType" : "SpectrumConfig"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "SpectrumConfig" : {
          "c2jName" : "spectrumConfig",
          "c2jShape" : "SpectrumConfig",
          "deprecated" : false,
          "documentation" : "<p>Object that describes a spectral <code>Config</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Object that describes a spectral <code>Config</code>.</p>\n@param spectrumConfig Object that describes a spectral <code>Config</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSpectrumConfig",
          "getterDocumentation" : "/**<p>Object that describes a spectral <code>Config</code>.</p>\n@return Object that describes a spectral <code>Config</code>.*/",
          "getterMethodName" : "getSpectrumConfig",
          "getterModel" : {
            "returnType" : "SpectrumConfig",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "spectrumConfig",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "spectrumConfig",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "SpectrumConfig",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Object that describes a spectral <code>Config</code>.</p>\n@param spectrumConfig Object that describes a spectral <code>Config</code>.*/",
          "setterMethodName" : "setSpectrumConfig",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SpectrumConfig",
            "variableName" : "spectrumConfig",
            "variableType" : "SpectrumConfig",
            "documentation" : "",
            "simpleType" : "SpectrumConfig",
            "variableSetterType" : "SpectrumConfig"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Object that describes a spectral <code>Config</code>.</p>\n@param spectrumConfig Object that describes a spectral <code>Config</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SpectrumConfig",
            "variableName" : "spectrumConfig",
            "variableType" : "SpectrumConfig",
            "documentation" : "<p>Object that describes a spectral <code>Config</code>.</p>",
            "simpleType" : "SpectrumConfig",
            "variableSetterType" : "SpectrumConfig"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "spectrumConfig" ],
      "shapeName" : "AntennaDownlinkConfig",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AntennaDownlinkConfig",
        "variableName" : "antennaDownlinkConfig",
        "variableType" : "AntennaDownlinkConfig",
        "documentation" : null,
        "simpleType" : "AntennaDownlinkConfig",
        "variableSetterType" : "AntennaDownlinkConfig"
      },
      "wrapper" : false
    },
    "AntennaDownlinkDemodDecodeConfig" : {
      "c2jName" : "AntennaDownlinkDemodDecodeConfig",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Information about how AWS Ground Station should conﬁgure an antenna for downlink demod decode during a contact.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "decodeConfig",
        "c2jShape" : "DecodeConfig",
        "deprecated" : false,
        "documentation" : "<p>Information about the decode <code>Config</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the decode <code>Config</code>.</p>\n@param decodeConfig Information about the decode <code>Config</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDecodeConfig",
        "getterDocumentation" : "/**<p>Information about the decode <code>Config</code>.</p>\n@return Information about the decode <code>Config</code>.*/",
        "getterMethodName" : "getDecodeConfig",
        "getterModel" : {
          "returnType" : "DecodeConfig",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "decodeConfig",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "decodeConfig",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "DecodeConfig",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information about the decode <code>Config</code>.</p>\n@param decodeConfig Information about the decode <code>Config</code>.*/",
        "setterMethodName" : "setDecodeConfig",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DecodeConfig",
          "variableName" : "decodeConfig",
          "variableType" : "DecodeConfig",
          "documentation" : "",
          "simpleType" : "DecodeConfig",
          "variableSetterType" : "DecodeConfig"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about the decode <code>Config</code>.</p>\n@param decodeConfig Information about the decode <code>Config</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DecodeConfig",
          "variableName" : "decodeConfig",
          "variableType" : "DecodeConfig",
          "documentation" : "<p>Information about the decode <code>Config</code>.</p>",
          "simpleType" : "DecodeConfig",
          "variableSetterType" : "DecodeConfig"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "demodulationConfig",
        "c2jShape" : "DemodulationConfig",
        "deprecated" : false,
        "documentation" : "<p>Information about the demodulation <code>Config</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the demodulation <code>Config</code>.</p>\n@param demodulationConfig Information about the demodulation <code>Config</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDemodulationConfig",
        "getterDocumentation" : "/**<p>Information about the demodulation <code>Config</code>.</p>\n@return Information about the demodulation <code>Config</code>.*/",
        "getterMethodName" : "getDemodulationConfig",
        "getterModel" : {
          "returnType" : "DemodulationConfig",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "demodulationConfig",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "demodulationConfig",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "DemodulationConfig",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information about the demodulation <code>Config</code>.</p>\n@param demodulationConfig Information about the demodulation <code>Config</code>.*/",
        "setterMethodName" : "setDemodulationConfig",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DemodulationConfig",
          "variableName" : "demodulationConfig",
          "variableType" : "DemodulationConfig",
          "documentation" : "",
          "simpleType" : "DemodulationConfig",
          "variableSetterType" : "DemodulationConfig"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about the demodulation <code>Config</code>.</p>\n@param demodulationConfig Information about the demodulation <code>Config</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "DemodulationConfig",
          "variableName" : "demodulationConfig",
          "variableType" : "DemodulationConfig",
          "documentation" : "<p>Information about the demodulation <code>Config</code>.</p>",
          "simpleType" : "DemodulationConfig",
          "variableSetterType" : "DemodulationConfig"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "spectrumConfig",
        "c2jShape" : "SpectrumConfig",
        "deprecated" : false,
        "documentation" : "<p>Information about the spectral <code>Config</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the spectral <code>Config</code>.</p>\n@param spectrumConfig Information about the spectral <code>Config</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSpectrumConfig",
        "getterDocumentation" : "/**<p>Information about the spectral <code>Config</code>.</p>\n@return Information about the spectral <code>Config</code>.*/",
        "getterMethodName" : "getSpectrumConfig",
        "getterModel" : {
          "returnType" : "SpectrumConfig",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "spectrumConfig",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "spectrumConfig",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "SpectrumConfig",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information about the spectral <code>Config</code>.</p>\n@param spectrumConfig Information about the spectral <code>Config</code>.*/",
        "setterMethodName" : "setSpectrumConfig",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SpectrumConfig",
          "variableName" : "spectrumConfig",
          "variableType" : "SpectrumConfig",
          "documentation" : "",
          "simpleType" : "SpectrumConfig",
          "variableSetterType" : "SpectrumConfig"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about the spectral <code>Config</code>.</p>\n@param spectrumConfig Information about the spectral <code>Config</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SpectrumConfig",
          "variableName" : "spectrumConfig",
          "variableType" : "SpectrumConfig",
          "documentation" : "<p>Information about the spectral <code>Config</code>.</p>",
          "simpleType" : "SpectrumConfig",
          "variableSetterType" : "SpectrumConfig"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DecodeConfig" : {
          "c2jName" : "decodeConfig",
          "c2jShape" : "DecodeConfig",
          "deprecated" : false,
          "documentation" : "<p>Information about the decode <code>Config</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information about the decode <code>Config</code>.</p>\n@param decodeConfig Information about the decode <code>Config</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDecodeConfig",
          "getterDocumentation" : "/**<p>Information about the decode <code>Config</code>.</p>\n@return Information about the decode <code>Config</code>.*/",
          "getterMethodName" : "getDecodeConfig",
          "getterModel" : {
            "returnType" : "DecodeConfig",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "decodeConfig",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "decodeConfig",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "DecodeConfig",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Information about the decode <code>Config</code>.</p>\n@param decodeConfig Information about the decode <code>Config</code>.*/",
          "setterMethodName" : "setDecodeConfig",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "DecodeConfig",
            "variableName" : "decodeConfig",
            "variableType" : "DecodeConfig",
            "documentation" : "",
            "simpleType" : "DecodeConfig",
            "variableSetterType" : "DecodeConfig"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Information about the decode <code>Config</code>.</p>\n@param decodeConfig Information about the decode <code>Config</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "DecodeConfig",
            "variableName" : "decodeConfig",
            "variableType" : "DecodeConfig",
            "documentation" : "<p>Information about the decode <code>Config</code>.</p>",
            "simpleType" : "DecodeConfig",
            "variableSetterType" : "DecodeConfig"
          },
          "xmlNameSpaceUri" : null
        },
        "DemodulationConfig" : {
          "c2jName" : "demodulationConfig",
          "c2jShape" : "DemodulationConfig",
          "deprecated" : false,
          "documentation" : "<p>Information about the demodulation <code>Config</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information about the demodulation <code>Config</code>.</p>\n@param demodulationConfig Information about the demodulation <code>Config</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDemodulationConfig",
          "getterDocumentation" : "/**<p>Information about the demodulation <code>Config</code>.</p>\n@return Information about the demodulation <code>Config</code>.*/",
          "getterMethodName" : "getDemodulationConfig",
          "getterModel" : {
            "returnType" : "DemodulationConfig",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "demodulationConfig",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "demodulationConfig",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "DemodulationConfig",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Information about the demodulation <code>Config</code>.</p>\n@param demodulationConfig Information about the demodulation <code>Config</code>.*/",
          "setterMethodName" : "setDemodulationConfig",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "DemodulationConfig",
            "variableName" : "demodulationConfig",
            "variableType" : "DemodulationConfig",
            "documentation" : "",
            "simpleType" : "DemodulationConfig",
            "variableSetterType" : "DemodulationConfig"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Information about the demodulation <code>Config</code>.</p>\n@param demodulationConfig Information about the demodulation <code>Config</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "DemodulationConfig",
            "variableName" : "demodulationConfig",
            "variableType" : "DemodulationConfig",
            "documentation" : "<p>Information about the demodulation <code>Config</code>.</p>",
            "simpleType" : "DemodulationConfig",
            "variableSetterType" : "DemodulationConfig"
          },
          "xmlNameSpaceUri" : null
        },
        "SpectrumConfig" : {
          "c2jName" : "spectrumConfig",
          "c2jShape" : "SpectrumConfig",
          "deprecated" : false,
          "documentation" : "<p>Information about the spectral <code>Config</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information about the spectral <code>Config</code>.</p>\n@param spectrumConfig Information about the spectral <code>Config</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSpectrumConfig",
          "getterDocumentation" : "/**<p>Information about the spectral <code>Config</code>.</p>\n@return Information about the spectral <code>Config</code>.*/",
          "getterMethodName" : "getSpectrumConfig",
          "getterModel" : {
            "returnType" : "SpectrumConfig",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "spectrumConfig",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "spectrumConfig",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "SpectrumConfig",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Information about the spectral <code>Config</code>.</p>\n@param spectrumConfig Information about the spectral <code>Config</code>.*/",
          "setterMethodName" : "setSpectrumConfig",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SpectrumConfig",
            "variableName" : "spectrumConfig",
            "variableType" : "SpectrumConfig",
            "documentation" : "",
            "simpleType" : "SpectrumConfig",
            "variableSetterType" : "SpectrumConfig"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Information about the spectral <code>Config</code>.</p>\n@param spectrumConfig Information about the spectral <code>Config</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SpectrumConfig",
            "variableName" : "spectrumConfig",
            "variableType" : "SpectrumConfig",
            "documentation" : "<p>Information about the spectral <code>Config</code>.</p>",
            "simpleType" : "SpectrumConfig",
            "variableSetterType" : "SpectrumConfig"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "decodeConfig", "demodulationConfig", "spectrumConfig" ],
      "shapeName" : "AntennaDownlinkDemodDecodeConfig",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AntennaDownlinkDemodDecodeConfig",
        "variableName" : "antennaDownlinkDemodDecodeConfig",
        "variableType" : "AntennaDownlinkDemodDecodeConfig",
        "documentation" : null,
        "simpleType" : "AntennaDownlinkDemodDecodeConfig",
        "variableSetterType" : "AntennaDownlinkDemodDecodeConfig"
      },
      "wrapper" : false
    },
    "AntennaUplinkConfig" : {
      "c2jName" : "AntennaUplinkConfig",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Information about the uplink <code>Config</code> of an antenna.</p>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "spectrumConfig",
        "c2jShape" : "UplinkSpectrumConfig",
        "deprecated" : false,
        "documentation" : "<p>Information about the uplink spectral <code>Config</code>.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Information about the uplink spectral <code>Config</code>.</p>\n@param spectrumConfig Information about the uplink spectral <code>Config</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSpectrumConfig",
        "getterDocumentation" : "/**<p>Information about the uplink spectral <code>Config</code>.</p>\n@return Information about the uplink spectral <code>Config</code>.*/",
        "getterMethodName" : "getSpectrumConfig",
        "getterModel" : {
          "returnType" : "UplinkSpectrumConfig",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "spectrumConfig",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "spectrumConfig",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "SpectrumConfig",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Information about the uplink spectral <code>Config</code>.</p>\n@param spectrumConfig Information about the uplink spectral <code>Config</code>.*/",
        "setterMethodName" : "setSpectrumConfig",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "UplinkSpectrumConfig",
          "variableName" : "spectrumConfig",
          "variableType" : "UplinkSpectrumConfig",
          "documentation" : "",
          "simpleType" : "UplinkSpectrumConfig",
          "variableSetterType" : "UplinkSpectrumConfig"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Information about the uplink spectral <code>Config</code>.</p>\n@param spectrumConfig Information about the uplink spectral <code>Config</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "UplinkSpectrumConfig",
          "variableName" : "spectrumConfig",
          "variableType" : "UplinkSpectrumConfig",
          "documentation" : "<p>Information about the uplink spectral <code>Config</code>.</p>",
          "simpleType" : "UplinkSpectrumConfig",
          "variableSetterType" : "UplinkSpectrumConfig"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "targetEirp",
        "c2jShape" : "Eirp",
        "deprecated" : false,
        "documentation" : "<p>EIRP of the target.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>EIRP of the target.</p>\n@param targetEirp EIRP of the target.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTargetEirp",
        "getterDocumentation" : "/**<p>EIRP of the target.</p>\n@return EIRP of the target.*/",
        "getterMethodName" : "getTargetEirp",
        "getterModel" : {
          "returnType" : "Eirp",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "targetEirp",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "targetEirp",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "TargetEirp",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>EIRP of the target.</p>\n@param targetEirp EIRP of the target.*/",
        "setterMethodName" : "setTargetEirp",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Eirp",
          "variableName" : "targetEirp",
          "variableType" : "Eirp",
          "documentation" : "",
          "simpleType" : "Eirp",
          "variableSetterType" : "Eirp"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>EIRP of the target.</p>\n@param targetEirp EIRP of the target.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Eirp",
          "variableName" : "targetEirp",
          "variableType" : "Eirp",
          "documentation" : "<p>EIRP of the target.</p>",
          "simpleType" : "Eirp",
          "variableSetterType" : "Eirp"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "SpectrumConfig" : {
          "c2jName" : "spectrumConfig",
          "c2jShape" : "UplinkSpectrumConfig",
          "deprecated" : false,
          "documentation" : "<p>Information about the uplink spectral <code>Config</code>.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Information about the uplink spectral <code>Config</code>.</p>\n@param spectrumConfig Information about the uplink spectral <code>Config</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSpectrumConfig",
          "getterDocumentation" : "/**<p>Information about the uplink spectral <code>Config</code>.</p>\n@return Information about the uplink spectral <code>Config</code>.*/",
          "getterMethodName" : "getSpectrumConfig",
          "getterModel" : {
            "returnType" : "UplinkSpectrumConfig",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "spectrumConfig",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "spectrumConfig",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "SpectrumConfig",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Information about the uplink spectral <code>Config</code>.</p>\n@param spectrumConfig Information about the uplink spectral <code>Config</code>.*/",
          "setterMethodName" : "setSpectrumConfig",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "UplinkSpectrumConfig",
            "variableName" : "spectrumConfig",
            "variableType" : "UplinkSpectrumConfig",
            "documentation" : "",
            "simpleType" : "UplinkSpectrumConfig",
            "variableSetterType" : "UplinkSpectrumConfig"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Information about the uplink spectral <code>Config</code>.</p>\n@param spectrumConfig Information about the uplink spectral <code>Config</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "UplinkSpectrumConfig",
            "variableName" : "spectrumConfig",
            "variableType" : "UplinkSpectrumConfig",
            "documentation" : "<p>Information about the uplink spectral <code>Config</code>.</p>",
            "simpleType" : "UplinkSpectrumConfig",
            "variableSetterType" : "UplinkSpectrumConfig"
          },
          "xmlNameSpaceUri" : null
        },
        "TargetEirp" : {
          "c2jName" : "targetEirp",
          "c2jShape" : "Eirp",
          "deprecated" : false,
          "documentation" : "<p>EIRP of the target.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>EIRP of the target.</p>\n@param targetEirp EIRP of the target.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTargetEirp",
          "getterDocumentation" : "/**<p>EIRP of the target.</p>\n@return EIRP of the target.*/",
          "getterMethodName" : "getTargetEirp",
          "getterModel" : {
            "returnType" : "Eirp",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "targetEirp",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "targetEirp",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "TargetEirp",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>EIRP of the target.</p>\n@param targetEirp EIRP of the target.*/",
          "setterMethodName" : "setTargetEirp",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Eirp",
            "variableName" : "targetEirp",
            "variableType" : "Eirp",
            "documentation" : "",
            "simpleType" : "Eirp",
            "variableSetterType" : "Eirp"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>EIRP of the target.</p>\n@param targetEirp EIRP of the target.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Eirp",
            "variableName" : "targetEirp",
            "variableType" : "Eirp",
            "documentation" : "<p>EIRP of the target.</p>",
            "simpleType" : "Eirp",
            "variableSetterType" : "Eirp"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "spectrumConfig", "targetEirp" ],
      "shapeName" : "AntennaUplinkConfig",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AntennaUplinkConfig",
        "variableName" : "antennaUplinkConfig",
        "variableType" : "AntennaUplinkConfig",
        "documentation" : null,
        "simpleType" : "AntennaUplinkConfig",
        "variableSetterType" : "AntennaUplinkConfig"
      },
      "wrapper" : false
    },
    "BandwidthUnits" : {
      "c2jName" : "BandwidthUnits",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "GHz",
        "value" : "GHz"
      }, {
        "name" : "MHz",
        "value" : "MHz"
      }, {
        "name" : "KHz",
        "value" : "kHz"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "BandwidthUnits",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BandwidthUnits",
        "variableName" : "bandwidthUnits",
        "variableType" : "BandwidthUnits",
        "documentation" : null,
        "simpleType" : "BandwidthUnits",
        "variableSetterType" : "BandwidthUnits"
      },
      "wrapper" : false
    },
    "CancelContactRequest" : {
      "c2jName" : "CancelContactRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p/>",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CancelContact",
        "locationName" : null,
        "requestUri" : "/contact/{contactId}",
        "target" : null,
        "verb" : "DELETE",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "contactId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>UUID of a contact.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>UUID of a contact.</p>\n@param contactId UUID of a contact.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withContactId",
        "getterDocumentation" : "/**<p>UUID of a contact.</p>\n@return UUID of a contact.*/",
        "getterMethodName" : "getContactId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "contactId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "contactId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ContactId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>UUID of a contact.</p>\n@param contactId UUID of a contact.*/",
[...]
