{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-11-28",
    "asyncClient" : "AmazonGuardDutyAsyncClient",
    "asyncClientBuilderClassName" : "AmazonGuardDutyAsyncClientBuilder",
    "asyncInterface" : "AmazonGuardDutyAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonGuardDutyModuleInjector",
    "defaultEndpoint" : "guardduty.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "guardduty.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "Assess, monitor, manage, and remediate security issues across your AWS infrastructure, applications, and data.",
    "endpointPrefix" : "guardduty",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.guardduty",
    "packagePath" : "com/amazonaws/services/guardduty",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon GuardDuty",
    "serviceId" : "GuardDuty",
    "serviceName" : "Amazon GuardDuty",
    "signingName" : "guardduty",
    "smokeTestsPackageName" : "com.amazonaws.services.guardduty.smoketests",
    "syncClient" : "AmazonGuardDutyClient",
    "syncClientBuilderClassName" : "AmazonGuardDutyClientBuilder",
    "syncInterface" : "AmazonGuardDuty",
    "uid" : "guardduty-2017-11-28",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AcceptInvitation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AcceptInvitationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AcceptInvitationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcceptInvitationRequest, AcceptInvitationResult>",
      "asyncReturnType" : "AcceptInvitationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Accepts the invitation to be monitored by a master GuardDuty account.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptInvitationRequest",
        "variableName" : "acceptInvitationRequest",
        "variableType" : "AcceptInvitationRequest",
        "documentation" : "AcceptInvitation request body.",
        "simpleType" : "AcceptInvitationRequest",
        "variableSetterType" : "AcceptInvitationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "acceptInvitation",
      "operationName" : "AcceptInvitation",
      "returnType" : {
        "returnType" : "AcceptInvitationResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "AcceptInvitationResult"
    },
    "ArchiveFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ArchiveFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ArchiveFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ArchiveFindingsRequest, ArchiveFindingsResult>",
      "asyncReturnType" : "ArchiveFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Archives Amazon GuardDuty findings specified by the list of finding IDs.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ArchiveFindingsRequest",
        "variableName" : "archiveFindingsRequest",
        "variableType" : "ArchiveFindingsRequest",
        "documentation" : "ArchiveFindings request body.",
        "simpleType" : "ArchiveFindingsRequest",
        "variableSetterType" : "ArchiveFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "archiveFindings",
      "operationName" : "ArchiveFindings",
      "returnType" : {
        "returnType" : "ArchiveFindingsResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "ArchiveFindingsResult"
    },
    "CreateDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDetectorRequest, CreateDetectorResult>",
      "asyncReturnType" : "CreateDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a single Amazon GuardDuty detector. A detector is an object that represents the GuardDuty service. A detector must be created in order for GuardDuty to become operational.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDetectorRequest",
        "variableName" : "createDetectorRequest",
        "variableType" : "CreateDetectorRequest",
        "documentation" : "CreateDetector request body.",
        "simpleType" : "CreateDetectorRequest",
        "variableSetterType" : "CreateDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDetector",
      "operationName" : "CreateDetector",
      "returnType" : {
        "returnType" : "CreateDetectorResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "CreateDetectorResult"
    },
    "CreateFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFilterRequest, CreateFilterResult>",
      "asyncReturnType" : "CreateFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a filter using the specified finding criteria.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFilterRequest",
        "variableName" : "createFilterRequest",
        "variableType" : "CreateFilterRequest",
        "documentation" : "CreateFilterRequest request body.",
        "simpleType" : "CreateFilterRequest",
        "variableSetterType" : "CreateFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFilter",
      "operationName" : "CreateFilter",
      "returnType" : {
        "returnType" : "CreateFilterResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "CreateFilterResult"
    },
    "CreateIPSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateIPSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateIPSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateIPSetRequest, CreateIPSetResult>",
      "asyncReturnType" : "CreateIPSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates a new IPSet - a list of trusted IP addresses that have been whitelisted for secure communication with AWS infrastructure and applications.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateIPSetRequest",
        "variableName" : "createIPSetRequest",
        "variableType" : "CreateIPSetRequest",
        "documentation" : "CreateIPSet request body.",
        "simpleType" : "CreateIPSetRequest",
        "variableSetterType" : "CreateIPSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createIPSet",
      "operationName" : "CreateIPSet",
      "returnType" : {
        "returnType" : "CreateIPSetResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "CreateIPSetResult"
    },
    "CreateMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMembersRequest, CreateMembersResult>",
      "asyncReturnType" : "CreateMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Creates member accounts of the current AWS account by specifying a list of AWS account IDs. The current AWS account can then invite these members to manage GuardDuty in their accounts.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMembersRequest",
        "variableName" : "createMembersRequest",
        "variableType" : "CreateMembersRequest",
        "documentation" : "CreateMembers request body.",
        "simpleType" : "CreateMembersRequest",
        "variableSetterType" : "CreateMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMembers",
      "operationName" : "CreateMembers",
      "returnType" : {
        "returnType" : "CreateMembersResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "CreateMembersResult"
    },
    "CreateSampleFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSampleFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSampleFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSampleFindingsRequest, CreateSampleFindingsResult>",
      "asyncReturnType" : "CreateSampleFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Generates example findings of types specified by the list of finding types. If 'NULL' is specified for findingTypes, the API generates example findings of all supported finding types.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSampleFindingsRequest",
        "variableName" : "createSampleFindingsRequest",
        "variableType" : "CreateSampleFindingsRequest",
        "documentation" : "CreateSampleFindings request body.",
        "simpleType" : "CreateSampleFindingsRequest",
        "variableSetterType" : "CreateSampleFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSampleFindings",
      "operationName" : "CreateSampleFindings",
      "returnType" : {
        "returnType" : "CreateSampleFindingsResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "CreateSampleFindingsResult"
    },
    "CreateThreatIntelSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateThreatIntelSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateThreatIntelSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateThreatIntelSetRequest, CreateThreatIntelSetResult>",
      "asyncReturnType" : "CreateThreatIntelSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Create a new ThreatIntelSet. ThreatIntelSets consist of known malicious IP addresses. GuardDuty generates findings based on ThreatIntelSets.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateThreatIntelSetRequest",
        "variableName" : "createThreatIntelSetRequest",
        "variableType" : "CreateThreatIntelSetRequest",
        "documentation" : "CreateThreatIntelSet request body.",
        "simpleType" : "CreateThreatIntelSetRequest",
        "variableSetterType" : "CreateThreatIntelSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createThreatIntelSet",
      "operationName" : "CreateThreatIntelSet",
      "returnType" : {
        "returnType" : "CreateThreatIntelSetResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "CreateThreatIntelSetResult"
    },
    "DeclineInvitations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeclineInvitationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeclineInvitationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeclineInvitationsRequest, DeclineInvitationsResult>",
      "asyncReturnType" : "DeclineInvitationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Declines invitations sent to the current member account by AWS account specified by their account IDs.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeclineInvitationsRequest",
        "variableName" : "declineInvitationsRequest",
        "variableType" : "DeclineInvitationsRequest",
        "documentation" : "DeclineInvitations request body.",
        "simpleType" : "DeclineInvitationsRequest",
        "variableSetterType" : "DeclineInvitationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "declineInvitations",
      "operationName" : "DeclineInvitations",
      "returnType" : {
        "returnType" : "DeclineInvitationsResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "DeclineInvitationsResult"
    },
    "DeleteDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDetectorRequest, DeleteDetectorResult>",
      "asyncReturnType" : "DeleteDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes a Amazon GuardDuty detector specified by the detector ID.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDetectorRequest",
        "variableName" : "deleteDetectorRequest",
        "variableType" : "DeleteDetectorRequest",
        "documentation" : "",
        "simpleType" : "DeleteDetectorRequest",
        "variableSetterType" : "DeleteDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDetector",
      "operationName" : "DeleteDetector",
      "returnType" : {
        "returnType" : "DeleteDetectorResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "DeleteDetectorResult"
    },
    "DeleteFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFilterRequest, DeleteFilterResult>",
      "asyncReturnType" : "DeleteFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes the filter specified by the filter name.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFilterRequest",
        "variableName" : "deleteFilterRequest",
        "variableType" : "DeleteFilterRequest",
        "documentation" : "",
        "simpleType" : "DeleteFilterRequest",
        "variableSetterType" : "DeleteFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFilter",
      "operationName" : "DeleteFilter",
      "returnType" : {
        "returnType" : "DeleteFilterResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "DeleteFilterResult"
    },
    "DeleteIPSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIPSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIPSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIPSetRequest, DeleteIPSetResult>",
      "asyncReturnType" : "DeleteIPSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes the IPSet specified by the IPSet ID.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteIPSetRequest",
        "variableName" : "deleteIPSetRequest",
        "variableType" : "DeleteIPSetRequest",
        "documentation" : "",
        "simpleType" : "DeleteIPSetRequest",
        "variableSetterType" : "DeleteIPSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIPSet",
      "operationName" : "DeleteIPSet",
      "returnType" : {
        "returnType" : "DeleteIPSetResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "DeleteIPSetResult"
    },
    "DeleteInvitations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteInvitationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteInvitationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteInvitationsRequest, DeleteInvitationsResult>",
      "asyncReturnType" : "DeleteInvitationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes invitations sent to the current member account by AWS accounts specified by their account IDs.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteInvitationsRequest",
        "variableName" : "deleteInvitationsRequest",
        "variableType" : "DeleteInvitationsRequest",
        "documentation" : "DeleteInvitations request body.",
        "simpleType" : "DeleteInvitationsRequest",
        "variableSetterType" : "DeleteInvitationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteInvitations",
      "operationName" : "DeleteInvitations",
      "returnType" : {
        "returnType" : "DeleteInvitationsResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "DeleteInvitationsResult"
    },
    "DeleteMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMembersRequest, DeleteMembersResult>",
      "asyncReturnType" : "DeleteMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes GuardDuty member accounts (to the current GuardDuty master account) specified by the account IDs.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMembersRequest",
        "variableName" : "deleteMembersRequest",
        "variableType" : "DeleteMembersRequest",
        "documentation" : "DeleteMembers request body.",
        "simpleType" : "DeleteMembersRequest",
        "variableSetterType" : "DeleteMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMembers",
      "operationName" : "DeleteMembers",
      "returnType" : {
        "returnType" : "DeleteMembersResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "DeleteMembersResult"
    },
    "DeleteThreatIntelSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteThreatIntelSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteThreatIntelSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteThreatIntelSetRequest, DeleteThreatIntelSetResult>",
      "asyncReturnType" : "DeleteThreatIntelSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Deletes ThreatIntelSet specified by the ThreatIntelSet ID.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteThreatIntelSetRequest",
        "variableName" : "deleteThreatIntelSetRequest",
        "variableType" : "DeleteThreatIntelSetRequest",
        "documentation" : "",
        "simpleType" : "DeleteThreatIntelSetRequest",
        "variableSetterType" : "DeleteThreatIntelSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteThreatIntelSet",
      "operationName" : "DeleteThreatIntelSet",
      "returnType" : {
        "returnType" : "DeleteThreatIntelSetResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "DeleteThreatIntelSetResult"
    },
    "DisassociateFromMasterAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateFromMasterAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateFromMasterAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateFromMasterAccountRequest, DisassociateFromMasterAccountResult>",
      "asyncReturnType" : "DisassociateFromMasterAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Disassociates the current GuardDuty member account from its master account.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateFromMasterAccountRequest",
        "variableName" : "disassociateFromMasterAccountRequest",
        "variableType" : "DisassociateFromMasterAccountRequest",
        "documentation" : "",
        "simpleType" : "DisassociateFromMasterAccountRequest",
        "variableSetterType" : "DisassociateFromMasterAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateFromMasterAccount",
      "operationName" : "DisassociateFromMasterAccount",
      "returnType" : {
        "returnType" : "DisassociateFromMasterAccountResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "DisassociateFromMasterAccountResult"
    },
    "DisassociateMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateMembersRequest, DisassociateMembersResult>",
      "asyncReturnType" : "DisassociateMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Disassociates GuardDuty member accounts (to the current GuardDuty master account) specified by the account IDs.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateMembersRequest",
        "variableName" : "disassociateMembersRequest",
        "variableType" : "DisassociateMembersRequest",
        "documentation" : "DisassociateMembers request body.",
        "simpleType" : "DisassociateMembersRequest",
        "variableSetterType" : "DisassociateMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateMembers",
      "operationName" : "DisassociateMembers",
      "returnType" : {
        "returnType" : "DisassociateMembersResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "DisassociateMembersResult"
    },
    "GetDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDetectorRequest, GetDetectorResult>",
      "asyncReturnType" : "GetDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves an Amazon GuardDuty detector specified by the detectorId.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDetectorRequest",
        "variableName" : "getDetectorRequest",
        "variableType" : "GetDetectorRequest",
        "documentation" : "",
        "simpleType" : "GetDetectorRequest",
        "variableSetterType" : "GetDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDetector",
      "operationName" : "GetDetector",
      "returnType" : {
        "returnType" : "GetDetectorResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetDetectorResult"
    },
    "GetFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFilterRequest, GetFilterResult>",
      "asyncReturnType" : "GetFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns the details of the filter specified by the filter name.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFilterRequest",
        "variableName" : "getFilterRequest",
        "variableType" : "GetFilterRequest",
        "documentation" : "",
        "simpleType" : "GetFilterRequest",
        "variableSetterType" : "GetFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFilter",
      "operationName" : "GetFilter",
      "returnType" : {
        "returnType" : "GetFilterResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetFilterResult"
    },
    "GetFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFindingsRequest, GetFindingsResult>",
      "asyncReturnType" : "GetFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Describes Amazon GuardDuty findings specified by finding IDs.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFindingsRequest",
        "variableName" : "getFindingsRequest",
        "variableType" : "GetFindingsRequest",
        "documentation" : "GetFindings request body.",
        "simpleType" : "GetFindingsRequest",
        "variableSetterType" : "GetFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFindings",
      "operationName" : "GetFindings",
      "returnType" : {
        "returnType" : "GetFindingsResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetFindingsResult"
    },
    "GetFindingsStatistics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFindingsStatisticsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFindingsStatisticsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFindingsStatisticsRequest, GetFindingsStatisticsResult>",
      "asyncReturnType" : "GetFindingsStatisticsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists Amazon GuardDuty findings' statistics for the specified detector ID.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFindingsStatisticsRequest",
        "variableName" : "getFindingsStatisticsRequest",
        "variableType" : "GetFindingsStatisticsRequest",
        "documentation" : "GetFindingsStatistics request body.",
        "simpleType" : "GetFindingsStatisticsRequest",
        "variableSetterType" : "GetFindingsStatisticsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFindingsStatistics",
      "operationName" : "GetFindingsStatistics",
      "returnType" : {
        "returnType" : "GetFindingsStatisticsResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetFindingsStatisticsResult"
    },
    "GetIPSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIPSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIPSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIPSetRequest, GetIPSetResult>",
      "asyncReturnType" : "GetIPSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves the IPSet specified by the IPSet ID.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIPSetRequest",
        "variableName" : "getIPSetRequest",
        "variableType" : "GetIPSetRequest",
        "documentation" : "",
        "simpleType" : "GetIPSetRequest",
        "variableSetterType" : "GetIPSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIPSet",
      "operationName" : "GetIPSet",
      "returnType" : {
        "returnType" : "GetIPSetResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetIPSetResult"
    },
    "GetInvitationsCount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInvitationsCountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInvitationsCountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInvitationsCountRequest, GetInvitationsCountResult>",
      "asyncReturnType" : "GetInvitationsCountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns the count of all GuardDuty membership invitations that were sent to the current member account except the currently accepted invitation.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetInvitationsCountRequest",
        "variableName" : "getInvitationsCountRequest",
        "variableType" : "GetInvitationsCountRequest",
        "documentation" : "",
        "simpleType" : "GetInvitationsCountRequest",
        "variableSetterType" : "GetInvitationsCountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInvitationsCount",
      "operationName" : "GetInvitationsCount",
      "returnType" : {
        "returnType" : "GetInvitationsCountResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetInvitationsCountResult"
    },
    "GetMasterAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMasterAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMasterAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMasterAccountRequest, GetMasterAccountResult>",
      "asyncReturnType" : "GetMasterAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Provides the details for the GuardDuty master account to the current GuardDuty member account.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMasterAccountRequest",
        "variableName" : "getMasterAccountRequest",
        "variableType" : "GetMasterAccountRequest",
        "documentation" : "",
        "simpleType" : "GetMasterAccountRequest",
        "variableSetterType" : "GetMasterAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMasterAccount",
      "operationName" : "GetMasterAccount",
      "returnType" : {
        "returnType" : "GetMasterAccountResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetMasterAccountResult"
    },
    "GetMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMembersRequest, GetMembersResult>",
      "asyncReturnType" : "GetMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves GuardDuty member accounts (to the current GuardDuty master account) specified by the account IDs.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMembersRequest",
        "variableName" : "getMembersRequest",
        "variableType" : "GetMembersRequest",
        "documentation" : "GetMembers request body.",
        "simpleType" : "GetMembersRequest",
        "variableSetterType" : "GetMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMembers",
      "operationName" : "GetMembers",
      "returnType" : {
        "returnType" : "GetMembersResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetMembersResult"
    },
    "GetThreatIntelSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetThreatIntelSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetThreatIntelSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetThreatIntelSetRequest, GetThreatIntelSetResult>",
      "asyncReturnType" : "GetThreatIntelSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Retrieves the ThreatIntelSet that is specified by the ThreatIntelSet ID.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetThreatIntelSetRequest",
        "variableName" : "getThreatIntelSetRequest",
        "variableType" : "GetThreatIntelSetRequest",
        "documentation" : "",
        "simpleType" : "GetThreatIntelSetRequest",
        "variableSetterType" : "GetThreatIntelSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getThreatIntelSet",
      "operationName" : "GetThreatIntelSet",
      "returnType" : {
        "returnType" : "GetThreatIntelSetResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "GetThreatIntelSetResult"
    },
    "InviteMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InviteMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InviteMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InviteMembersRequest, InviteMembersResult>",
      "asyncReturnType" : "InviteMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Invites other AWS accounts (created as members of the current AWS account by CreateMembers) to enable GuardDuty and allow the current AWS account to view and manage these accounts' GuardDuty findings on their behalf as the master account.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InviteMembersRequest",
        "variableName" : "inviteMembersRequest",
        "variableType" : "InviteMembersRequest",
        "documentation" : "InviteMembers request body.",
        "simpleType" : "InviteMembersRequest",
        "variableSetterType" : "InviteMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "inviteMembers",
      "operationName" : "InviteMembers",
      "returnType" : {
        "returnType" : "InviteMembersResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "InviteMembersResult"
    },
    "ListDetectors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDetectorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDetectorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDetectorsRequest, ListDetectorsResult>",
      "asyncReturnType" : "ListDetectorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists detectorIds of all the existing Amazon GuardDuty detector resources.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDetectorsRequest",
        "variableName" : "listDetectorsRequest",
        "variableType" : "ListDetectorsRequest",
        "documentation" : "",
        "simpleType" : "ListDetectorsRequest",
        "variableSetterType" : "ListDetectorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDetectors",
      "operationName" : "ListDetectors",
      "returnType" : {
        "returnType" : "ListDetectorsResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "ListDetectorsResult"
    },
    "ListFilters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFiltersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFiltersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFiltersRequest, ListFiltersResult>",
      "asyncReturnType" : "ListFiltersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Returns a paginated list of the current filters.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFiltersRequest",
        "variableName" : "listFiltersRequest",
        "variableType" : "ListFiltersRequest",
        "documentation" : "",
        "simpleType" : "ListFiltersRequest",
        "variableSetterType" : "ListFiltersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFilters",
      "operationName" : "ListFilters",
      "returnType" : {
        "returnType" : "ListFiltersResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "ListFiltersResult"
    },
    "ListFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFindingsRequest, ListFindingsResult>",
      "asyncReturnType" : "ListFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists Amazon GuardDuty findings for the specified detector ID.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFindingsRequest",
        "variableName" : "listFindingsRequest",
        "variableType" : "ListFindingsRequest",
        "documentation" : "ListFindings request body.",
        "simpleType" : "ListFindingsRequest",
        "variableSetterType" : "ListFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFindings",
      "operationName" : "ListFindings",
      "returnType" : {
        "returnType" : "ListFindingsResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "ListFindingsResult"
    },
    "ListIPSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIPSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIPSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIPSetsRequest, ListIPSetsResult>",
      "asyncReturnType" : "ListIPSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists the IPSets of the GuardDuty service specified by the detector ID.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIPSetsRequest",
        "variableName" : "listIPSetsRequest",
        "variableType" : "ListIPSetsRequest",
        "documentation" : "",
        "simpleType" : "ListIPSetsRequest",
        "variableSetterType" : "ListIPSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIPSets",
      "operationName" : "ListIPSets",
      "returnType" : {
        "returnType" : "ListIPSetsResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "ListIPSetsResult"
    },
    "ListInvitations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInvitationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInvitationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInvitationsRequest, ListInvitationsResult>",
      "asyncReturnType" : "ListInvitationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists all GuardDuty membership invitations that were sent to the current AWS account.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListInvitationsRequest",
        "variableName" : "listInvitationsRequest",
        "variableType" : "ListInvitationsRequest",
        "documentation" : "",
        "simpleType" : "ListInvitationsRequest",
        "variableSetterType" : "ListInvitationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInvitations",
      "operationName" : "ListInvitations",
      "returnType" : {
        "returnType" : "ListInvitationsResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "ListInvitationsResult"
    },
    "ListMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMembersRequest, ListMembersResult>",
      "asyncReturnType" : "ListMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists details about all member accounts for the current GuardDuty master account.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMembersRequest",
        "variableName" : "listMembersRequest",
        "variableType" : "ListMembersRequest",
        "documentation" : "",
        "simpleType" : "ListMembersRequest",
        "variableSetterType" : "ListMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMembers",
      "operationName" : "ListMembers",
      "returnType" : {
        "returnType" : "ListMembersResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "ListMembersResult"
    },
    "ListThreatIntelSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListThreatIntelSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListThreatIntelSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListThreatIntelSetsRequest, ListThreatIntelSetsResult>",
      "asyncReturnType" : "ListThreatIntelSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Lists the ThreatIntelSets of the GuardDuty service specified by the detector ID.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListThreatIntelSetsRequest",
        "variableName" : "listThreatIntelSetsRequest",
        "variableType" : "ListThreatIntelSetsRequest",
        "documentation" : "",
        "simpleType" : "ListThreatIntelSetsRequest",
        "variableSetterType" : "ListThreatIntelSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listThreatIntelSets",
      "operationName" : "ListThreatIntelSets",
      "returnType" : {
        "returnType" : "ListThreatIntelSetsResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "ListThreatIntelSetsResult"
    },
    "StartMonitoringMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartMonitoringMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartMonitoringMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartMonitoringMembersRequest, StartMonitoringMembersResult>",
      "asyncReturnType" : "StartMonitoringMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Re-enables GuardDuty to monitor findings of the member accounts specified by the account IDs. A master GuardDuty account can run this command after disabling GuardDuty from monitoring these members' findings by running StopMonitoringMembers.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartMonitoringMembersRequest",
        "variableName" : "startMonitoringMembersRequest",
        "variableType" : "StartMonitoringMembersRequest",
        "documentation" : "StartMonitoringMembers request body.",
        "simpleType" : "StartMonitoringMembersRequest",
        "variableSetterType" : "StartMonitoringMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startMonitoringMembers",
      "operationName" : "StartMonitoringMembers",
      "returnType" : {
        "returnType" : "StartMonitoringMembersResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "StartMonitoringMembersResult"
    },
    "StopMonitoringMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopMonitoringMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopMonitoringMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopMonitoringMembersRequest, StopMonitoringMembersResult>",
      "asyncReturnType" : "StopMonitoringMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Disables GuardDuty from monitoring findings of the member accounts specified by the account IDs. After running this command, a master GuardDuty account can run StartMonitoringMembers to re-enable GuardDuty to monitor these members’ findings.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopMonitoringMembersRequest",
        "variableName" : "stopMonitoringMembersRequest",
        "variableType" : "StopMonitoringMembersRequest",
        "documentation" : "StopMonitoringMembers request body.",
        "simpleType" : "StopMonitoringMembersRequest",
        "variableSetterType" : "StopMonitoringMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopMonitoringMembers",
      "operationName" : "StopMonitoringMembers",
      "returnType" : {
        "returnType" : "StopMonitoringMembersResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "StopMonitoringMembersResult"
    },
    "UnarchiveFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UnarchiveFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UnarchiveFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UnarchiveFindingsRequest, UnarchiveFindingsResult>",
      "asyncReturnType" : "UnarchiveFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Unarchives Amazon GuardDuty findings specified by the list of finding IDs.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UnarchiveFindingsRequest",
        "variableName" : "unarchiveFindingsRequest",
        "variableType" : "UnarchiveFindingsRequest",
        "documentation" : "UnarchiveFindings request body.",
        "simpleType" : "UnarchiveFindingsRequest",
        "variableSetterType" : "UnarchiveFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "unarchiveFindings",
      "operationName" : "UnarchiveFindings",
      "returnType" : {
        "returnType" : "UnarchiveFindingsResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "UnarchiveFindingsResult"
    },
    "UpdateDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDetectorRequest, UpdateDetectorResult>",
      "asyncReturnType" : "UpdateDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates an Amazon GuardDuty detector specified by the detectorId.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDetectorRequest",
        "variableName" : "updateDetectorRequest",
        "variableType" : "UpdateDetectorRequest",
        "documentation" : "UpdateDetector request body.",
        "simpleType" : "UpdateDetectorRequest",
        "variableSetterType" : "UpdateDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDetector",
      "operationName" : "UpdateDetector",
      "returnType" : {
        "returnType" : "UpdateDetectorResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "UpdateDetectorResult"
    },
    "UpdateFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFilterRequest, UpdateFilterResult>",
      "asyncReturnType" : "UpdateFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates the filter specified by the filter name.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFilterRequest",
        "variableName" : "updateFilterRequest",
        "variableType" : "UpdateFilterRequest",
        "documentation" : "UpdateFilterRequest request body.",
        "simpleType" : "UpdateFilterRequest",
        "variableSetterType" : "UpdateFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFilter",
      "operationName" : "UpdateFilter",
      "returnType" : {
        "returnType" : "UpdateFilterResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "UpdateFilterResult"
    },
    "UpdateFindingsFeedback" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFindingsFeedbackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFindingsFeedbackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFindingsFeedbackRequest, UpdateFindingsFeedbackResult>",
      "asyncReturnType" : "UpdateFindingsFeedbackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Marks specified Amazon GuardDuty findings as useful or not useful.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFindingsFeedbackRequest",
        "variableName" : "updateFindingsFeedbackRequest",
        "variableType" : "UpdateFindingsFeedbackRequest",
        "documentation" : "UpdateFindingsFeedback request body.",
        "simpleType" : "UpdateFindingsFeedbackRequest",
        "variableSetterType" : "UpdateFindingsFeedbackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFindingsFeedback",
      "operationName" : "UpdateFindingsFeedback",
      "returnType" : {
        "returnType" : "UpdateFindingsFeedbackResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "UpdateFindingsFeedbackResult"
    },
    "UpdateIPSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateIPSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateIPSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateIPSetRequest, UpdateIPSetResult>",
      "asyncReturnType" : "UpdateIPSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates the IPSet specified by the IPSet ID.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateIPSetRequest",
        "variableName" : "updateIPSetRequest",
        "variableType" : "UpdateIPSetRequest",
        "documentation" : "UpdateIPSet request body.",
        "simpleType" : "UpdateIPSetRequest",
        "variableSetterType" : "UpdateIPSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateIPSet",
      "operationName" : "UpdateIPSet",
      "returnType" : {
        "returnType" : "UpdateIPSetResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "UpdateIPSetResult"
    },
    "UpdateThreatIntelSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateThreatIntelSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateThreatIntelSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateThreatIntelSetRequest, UpdateThreatIntelSetResult>",
      "asyncReturnType" : "UpdateThreatIntelSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "Updates the ThreatIntelSet specified by ThreatIntelSet ID.",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "400 response",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "500 response",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateThreatIntelSetRequest",
        "variableName" : "updateThreatIntelSetRequest",
        "variableType" : "UpdateThreatIntelSetRequest",
        "documentation" : "UpdateThreatIntelSet request body.",
        "simpleType" : "UpdateThreatIntelSetRequest",
        "variableSetterType" : "UpdateThreatIntelSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateThreatIntelSet",
      "operationName" : "UpdateThreatIntelSet",
      "returnType" : {
        "returnType" : "UpdateThreatIntelSetResult",
        "documentation" : "200 response"
      },
      "syncReturnType" : "UpdateThreatIntelSetResult"
    }
  },
  "shapes" : {
    "AcceptInvitationRequest" : {
      "c2jName" : "AcceptInvitationRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "AcceptInvitation request body.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AcceptInvitation",
        "locationName" : null,
        "requestUri" : "/detector/{detectorId}/master",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "DetectorId",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "The unique ID of the detector of the GuardDuty member account.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The unique ID of the detector of the GuardDuty member account.\n@param detectorId The unique ID of the detector of the GuardDuty member account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDetectorId",
        "getterDocumentation" : "/**The unique ID of the detector of the GuardDuty member account.\n@return The unique ID of the detector of the GuardDuty member account.*/",
        "getterMethodName" : "getDetectorId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "detectorId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "detectorId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DetectorId",
        "sensitive" : false,
        "setterDocumentation" : "/**The unique ID of the detector of the GuardDuty member account.\n@param detectorId The unique ID of the detector of the GuardDuty member account.*/",
        "setterMethodName" : "setDetectorId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "detectorId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The unique ID of the detector of the GuardDuty member account.\n@param detectorId The unique ID of the detector of the GuardDuty member account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "detectorId",
          "variableType" : "String",
          "documentation" : "The unique ID of the detector of the GuardDuty member account.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "InvitationId",
        "c2jShape" : "InvitationId",
        "deprecated" : false,
        "documentation" : "This value is used to validate the master account to the member account.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**This value is used to validate the master account to the member account.\n@param invitationId This value is used to validate the master account to the member account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInvitationId",
        "getterDocumentation" : "/**This value is used to validate the master account to the member account.\n@return This value is used to validate the master account to the member account.*/",
        "getterMethodName" : "getInvitationId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "invitationId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "invitationId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "InvitationId",
        "sensitive" : false,
        "setterDocumentation" : "/**This value is used to validate the master account to the member account.\n@param invitationId This value is used to validate the master account to the member account.*/",
        "setterMethodName" : "setInvitationId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "invitationId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**This value is used to validate the master account to the member account.\n@param invitationId This value is used to validate the master account to the member account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "invitationId",
          "variableType" : "String",
          "documentation" : "This value is used to validate the master account to the member account.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "MasterId",
        "c2jShape" : "MasterId",
        "deprecated" : false,
        "documentation" : "The account ID of the master GuardDuty account whose invitation you're accepting.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**The account ID of the master GuardDuty account whose invitation you're accepting.\n@param masterId The account ID of the master GuardDuty account whose invitation you're accepting.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMasterId",
        "getterDocumentation" : "/**The account ID of the master GuardDuty account whose invitation you're accepting.\n@return The account ID of the master GuardDuty account whose invitation you're accepting.*/",
        "getterMethodName" : "getMasterId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "masterId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "masterId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MasterId",
        "sensitive" : false,
        "setterDocumentation" : "/**The account ID of the master GuardDuty account whose invitation you're accepting.\n@param masterId The account ID of the master GuardDuty account whose invitation you're accepting.*/",
        "setterMethodName" : "setMasterId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "masterId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**The account ID of the master GuardDuty account whose invitation you're accepting.\n@param masterId The account ID of the master GuardDuty account whose invitation you're accepting.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "masterId",
          "variableType" : "String",
          "documentation" : "The account ID of the master GuardDuty account whose invitation you're accepting.",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DetectorId" : {
          "c2jName" : "DetectorId",
          "c2jShape" : "__string",
          "deprecated" : false,
          "documentation" : "The unique ID of the detector of the GuardDuty member account.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The unique ID of the detector of the GuardDuty member account.\n@param detectorId The unique ID of the detector of the GuardDuty member account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDetectorId",
          "getterDocumentation" : "/**The unique ID of the detector of the GuardDuty member account.\n@return The unique ID of the detector of the GuardDuty member account.*/",
          "getterMethodName" : "getDetectorId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "detectorId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "detectorId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DetectorId",
          "sensitive" : false,
          "setterDocumentation" : "/**The unique ID of the detector of the GuardDuty member account.\n@param detectorId The unique ID of the detector of the GuardDuty member account.*/",
          "setterMethodName" : "setDetectorId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "detectorId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The unique ID of the detector of the GuardDuty member account.\n@param detectorId The unique ID of the detector of the GuardDuty member account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "detectorId",
            "variableType" : "String",
            "documentation" : "The unique ID of the detector of the GuardDuty member account.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "InvitationId" : {
          "c2jName" : "InvitationId",
          "c2jShape" : "InvitationId",
          "deprecated" : false,
          "documentation" : "This value is used to validate the master account to the member account.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**This value is used to validate the master account to the member account.\n@param invitationId This value is used to validate the master account to the member account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withInvitationId",
          "getterDocumentation" : "/**This value is used to validate the master account to the member account.\n@return This value is used to validate the master account to the member account.*/",
          "getterMethodName" : "getInvitationId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "invitationId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "invitationId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "InvitationId",
          "sensitive" : false,
          "setterDocumentation" : "/**This value is used to validate the master account to the member account.\n@param invitationId This value is used to validate the master account to the member account.*/",
          "setterMethodName" : "setInvitationId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "invitationId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**This value is used to validate the master account to the member account.\n@param invitationId This value is used to validate the master account to the member account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "invitationId",
            "variableType" : "String",
            "documentation" : "This value is used to validate the master account to the member account.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "MasterId" : {
          "c2jName" : "MasterId",
          "c2jShape" : "MasterId",
          "deprecated" : false,
          "documentation" : "The account ID of the master GuardDuty account whose invitation you're accepting.",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**The account ID of the master GuardDuty account whose invitation you're accepting.\n@param masterId The account ID of the master GuardDuty account whose invitation you're accepting.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMasterId",
          "getterDocumentation" : "/**The account ID of the master GuardDuty account whose invitation you're accepting.\n@return The account ID of the master GuardDuty account whose invitation you're accepting.*/",
          "getterMethodName" : "getMasterId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "masterId",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "masterId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "MasterId",
          "sensitive" : false,
          "setterDocumentation" : "/**The account ID of the master GuardDuty account whose invitation you're accepting.\n@param masterId The account ID of the master GuardDuty account whose invitation you're accepting.*/",
          "setterMethodName" : "setMasterId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "masterId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**The account ID of the master GuardDuty account whose invitation you're accepting.\n@param masterId The account ID of the master GuardDuty account whose invitation you're accepting.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "masterId",
            "variableType" : "String",
            "documentation" : "The account ID of the master GuardDuty account whose invitation you're accepting.",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "DetectorId", "MasterId", "InvitationId" ],
      "shapeName" : "AcceptInvitationRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptInvitationRequest",
        "variableName" : "acceptInvitationRequest",
        "variableType" : "AcceptInvitationRequest",
        "documentation" : null,
        "simpleType" : "AcceptInvitationRequest",
        "variableSetterType" : "AcceptInvitationRequest"
      },
      "wrapper" : false
    },
    "AcceptInvitationResult" : {
      "c2jName" : "AcceptInvitationResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AcceptInvitationResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptInvitationResult",
        "variableName" : "acceptInvitationResult",
        "variableType" : "AcceptInvitationResult",
        "documentation" : null,
        "simpleType" : "AcceptInvitationResult",
        "variableSetterType" : "AcceptInvitationResult"
      },
      "wrapper" : false
    },
    "AccessKeyDetails" : {
      "c2jName" : "AccessKeyDetails",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "The IAM access key details (IAM user information) of a user that engaged in the activity that prompted GuardDuty to generate a finding.",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AccessKeyId",
        "c2jShape" : "__string",
        "deprecated" : false,
        "documentation" : "Access key ID of the user.",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**Access key ID of the user.\n@param accessKeyId Access key ID of the user.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccessKeyId",
        "getterDocumentation" : "/**Access key ID of the user.\n@return Access key ID of the user.*/",
        "getterMethodName" : "getAccessKeyId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "accessKeyId",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "accessKeyId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccessKeyId",
        "sensitive" : false,
        "setterDocumentation" : "/**Access key ID of the user.\n@param accessKeyId Access key ID of the user.*/",
        "setterMethodName" : "setAccessKeyId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accessKeyId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
[...]
