{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "ClientConstructors", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-11-28",
    "asyncClient" : "AmazonGuardDutyAsyncClient",
    "asyncClientBuilderClassName" : "AmazonGuardDutyAsyncClientBuilder",
    "asyncInterface" : "AmazonGuardDutyAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonGuardDutyModuleInjector",
    "defaultEndpoint" : "guardduty.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "guardduty.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon GuardDuty is a continuous security monitoring service that analyzes and processes the following data sources: VPC Flow Logs, AWS CloudTrail event logs, and DNS logs. It uses threat intelligence feeds, such as lists of malicious IPs and domains, and machine learning to identify unexpected and potentially unauthorized and malicious activity within your AWS environment. This can include issues like escalations of privileges, uses of exposed credentials, or communication with malicious IPs, URLs, or domains. For example, GuardDuty can detect compromised EC2 instances serving malware or mining bitcoin. It also monitors AWS account access behavior for signs of compromise, such as unauthorized infrastructure deployments, like instances deployed in a region that has never been used, or unusual API calls, like a password policy change to reduce password strength. GuardDuty informs you of the status of your AWS environment by producing security findings that you can view in the GuardDuty console or through Amazon CloudWatch events. For more information, see <a href=\"https://docs.aws.amazon.com/guardduty/latest/ug/what-is-guardduty.html\">Amazon GuardDuty User Guide</a>. </p>",
    "endpointPrefix" : "guardduty",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.guardduty",
    "packagePath" : "com/amazonaws/services/guardduty",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon GuardDuty",
    "serviceId" : "GuardDuty",
    "serviceName" : "Amazon GuardDuty",
    "signingName" : "guardduty",
    "smokeTestsPackageName" : "com.amazonaws.services.guardduty.smoketests",
    "syncClient" : "AmazonGuardDutyClient",
    "syncClientBuilderClassName" : "AmazonGuardDutyClientBuilder",
    "syncInterface" : "AmazonGuardDuty",
    "uid" : "guardduty-2017-11-28",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AcceptInvitation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AcceptInvitationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AcceptInvitationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AcceptInvitationRequest, AcceptInvitationResult>",
      "asyncReturnType" : "AcceptInvitationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Accepts the invitation to be monitored by a master GuardDuty account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AcceptInvitationRequest",
        "variableName" : "acceptInvitationRequest",
        "variableType" : "AcceptInvitationRequest",
        "documentation" : "",
        "simpleType" : "AcceptInvitationRequest",
        "variableSetterType" : "AcceptInvitationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "acceptInvitation",
      "operationName" : "AcceptInvitation",
      "returnType" : {
        "returnType" : "AcceptInvitationResult",
        "documentation" : null
      },
      "syncReturnType" : "AcceptInvitationResult"
    },
    "ArchiveFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ArchiveFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ArchiveFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ArchiveFindingsRequest, ArchiveFindingsResult>",
      "asyncReturnType" : "ArchiveFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Archives GuardDuty findings specified by the list of finding IDs.</p> <note> <p>Only the master account can archive findings. Member accounts do not have permission to archive findings from their accounts.</p> </note>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ArchiveFindingsRequest",
        "variableName" : "archiveFindingsRequest",
        "variableType" : "ArchiveFindingsRequest",
        "documentation" : "",
        "simpleType" : "ArchiveFindingsRequest",
        "variableSetterType" : "ArchiveFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "archiveFindings",
      "operationName" : "ArchiveFindings",
      "returnType" : {
        "returnType" : "ArchiveFindingsResult",
        "documentation" : null
      },
      "syncReturnType" : "ArchiveFindingsResult"
    },
    "CreateDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDetectorRequest, CreateDetectorResult>",
      "asyncReturnType" : "CreateDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a single Amazon GuardDuty detector. A detector is a resource that represents the GuardDuty service. To start using GuardDuty, you must create a detector in each region that you enable the service. You can have only one detector per account per region.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDetectorRequest",
        "variableName" : "createDetectorRequest",
        "variableType" : "CreateDetectorRequest",
        "documentation" : "",
        "simpleType" : "CreateDetectorRequest",
        "variableSetterType" : "CreateDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDetector",
      "operationName" : "CreateDetector",
      "returnType" : {
        "returnType" : "CreateDetectorResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDetectorResult"
    },
    "CreateFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFilterRequest, CreateFilterResult>",
      "asyncReturnType" : "CreateFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a filter using the specified finding criteria.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFilterRequest",
        "variableName" : "createFilterRequest",
        "variableType" : "CreateFilterRequest",
        "documentation" : "",
        "simpleType" : "CreateFilterRequest",
        "variableSetterType" : "CreateFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFilter",
      "operationName" : "CreateFilter",
      "returnType" : {
        "returnType" : "CreateFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFilterResult"
    },
    "CreateIPSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateIPSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateIPSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateIPSetRequest, CreateIPSetResult>",
      "asyncReturnType" : "CreateIPSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new IPSet, called Trusted IP list in the consoler user interface. An IPSet is a list IP addresses trusted for secure communication with AWS infrastructure and applications. GuardDuty does not generate findings for IP addresses included in IPSets. Only users from the master account can use this operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateIPSetRequest",
        "variableName" : "createIPSetRequest",
        "variableType" : "CreateIPSetRequest",
        "documentation" : "",
        "simpleType" : "CreateIPSetRequest",
        "variableSetterType" : "CreateIPSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createIPSet",
      "operationName" : "CreateIPSet",
      "returnType" : {
        "returnType" : "CreateIPSetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateIPSetResult"
    },
    "CreateMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMembersRequest, CreateMembersResult>",
      "asyncReturnType" : "CreateMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates member accounts of the current AWS account by specifying a list of AWS account IDs. The current AWS account can then invite these members to manage GuardDuty in their accounts.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMembersRequest",
        "variableName" : "createMembersRequest",
        "variableType" : "CreateMembersRequest",
        "documentation" : "",
        "simpleType" : "CreateMembersRequest",
        "variableSetterType" : "CreateMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMembers",
      "operationName" : "CreateMembers",
      "returnType" : {
        "returnType" : "CreateMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMembersResult"
    },
    "CreatePublishingDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreatePublishingDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreatePublishingDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreatePublishingDestinationRequest, CreatePublishingDestinationResult>",
      "asyncReturnType" : "CreatePublishingDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a publishing destination to send findings to. The resource to send findings to must exist before you use this operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreatePublishingDestinationRequest",
        "variableName" : "createPublishingDestinationRequest",
        "variableType" : "CreatePublishingDestinationRequest",
        "documentation" : "",
        "simpleType" : "CreatePublishingDestinationRequest",
        "variableSetterType" : "CreatePublishingDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createPublishingDestination",
      "operationName" : "CreatePublishingDestination",
      "returnType" : {
        "returnType" : "CreatePublishingDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreatePublishingDestinationResult"
    },
    "CreateSampleFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSampleFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSampleFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSampleFindingsRequest, CreateSampleFindingsResult>",
      "asyncReturnType" : "CreateSampleFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Generates example findings of types specified by the list of finding types. If 'NULL' is specified for <code>findingTypes</code>, the API generates example findings of all supported finding types.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSampleFindingsRequest",
        "variableName" : "createSampleFindingsRequest",
        "variableType" : "CreateSampleFindingsRequest",
        "documentation" : "",
        "simpleType" : "CreateSampleFindingsRequest",
        "variableSetterType" : "CreateSampleFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSampleFindings",
      "operationName" : "CreateSampleFindings",
      "returnType" : {
        "returnType" : "CreateSampleFindingsResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSampleFindingsResult"
    },
    "CreateThreatIntelSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateThreatIntelSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateThreatIntelSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateThreatIntelSetRequest, CreateThreatIntelSetResult>",
      "asyncReturnType" : "CreateThreatIntelSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a new ThreatIntelSet. ThreatIntelSets consist of known malicious IP addresses. GuardDuty generates findings based on ThreatIntelSets. Only users of the master account can use this operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateThreatIntelSetRequest",
        "variableName" : "createThreatIntelSetRequest",
        "variableType" : "CreateThreatIntelSetRequest",
        "documentation" : "",
        "simpleType" : "CreateThreatIntelSetRequest",
        "variableSetterType" : "CreateThreatIntelSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createThreatIntelSet",
      "operationName" : "CreateThreatIntelSet",
      "returnType" : {
        "returnType" : "CreateThreatIntelSetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateThreatIntelSetResult"
    },
    "DeclineInvitations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeclineInvitationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeclineInvitationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeclineInvitationsRequest, DeclineInvitationsResult>",
      "asyncReturnType" : "DeclineInvitationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Declines invitations sent to the current member account by AWS account specified by their account IDs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeclineInvitationsRequest",
        "variableName" : "declineInvitationsRequest",
        "variableType" : "DeclineInvitationsRequest",
        "documentation" : "",
        "simpleType" : "DeclineInvitationsRequest",
        "variableSetterType" : "DeclineInvitationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "declineInvitations",
      "operationName" : "DeclineInvitations",
      "returnType" : {
        "returnType" : "DeclineInvitationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeclineInvitationsResult"
    },
    "DeleteDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDetectorRequest, DeleteDetectorResult>",
      "asyncReturnType" : "DeleteDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a Amazon GuardDuty detector specified by the detector ID.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDetectorRequest",
        "variableName" : "deleteDetectorRequest",
        "variableType" : "DeleteDetectorRequest",
        "documentation" : "",
        "simpleType" : "DeleteDetectorRequest",
        "variableSetterType" : "DeleteDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDetector",
      "operationName" : "DeleteDetector",
      "returnType" : {
        "returnType" : "DeleteDetectorResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDetectorResult"
    },
    "DeleteFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFilterRequest, DeleteFilterResult>",
      "asyncReturnType" : "DeleteFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the filter specified by the filter name.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFilterRequest",
        "variableName" : "deleteFilterRequest",
        "variableType" : "DeleteFilterRequest",
        "documentation" : "",
        "simpleType" : "DeleteFilterRequest",
        "variableSetterType" : "DeleteFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFilter",
      "operationName" : "DeleteFilter",
      "returnType" : {
        "returnType" : "DeleteFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFilterResult"
    },
    "DeleteIPSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteIPSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteIPSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteIPSetRequest, DeleteIPSetResult>",
      "asyncReturnType" : "DeleteIPSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the IPSet specified by the <code>ipSetId</code>. IPSets are called Trusted IP lists in the console user interface.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteIPSetRequest",
        "variableName" : "deleteIPSetRequest",
        "variableType" : "DeleteIPSetRequest",
        "documentation" : "",
        "simpleType" : "DeleteIPSetRequest",
        "variableSetterType" : "DeleteIPSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteIPSet",
      "operationName" : "DeleteIPSet",
      "returnType" : {
        "returnType" : "DeleteIPSetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteIPSetResult"
    },
    "DeleteInvitations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteInvitationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteInvitationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteInvitationsRequest, DeleteInvitationsResult>",
      "asyncReturnType" : "DeleteInvitationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes invitations sent to the current member account by AWS accounts specified by their account IDs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteInvitationsRequest",
        "variableName" : "deleteInvitationsRequest",
        "variableType" : "DeleteInvitationsRequest",
        "documentation" : "",
        "simpleType" : "DeleteInvitationsRequest",
        "variableSetterType" : "DeleteInvitationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteInvitations",
      "operationName" : "DeleteInvitations",
      "returnType" : {
        "returnType" : "DeleteInvitationsResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteInvitationsResult"
    },
    "DeleteMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMembersRequest, DeleteMembersResult>",
      "asyncReturnType" : "DeleteMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes GuardDuty member accounts (to the current GuardDuty master account) specified by the account IDs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMembersRequest",
        "variableName" : "deleteMembersRequest",
        "variableType" : "DeleteMembersRequest",
        "documentation" : "",
        "simpleType" : "DeleteMembersRequest",
        "variableSetterType" : "DeleteMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMembers",
      "operationName" : "DeleteMembers",
      "returnType" : {
        "returnType" : "DeleteMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMembersResult"
    },
    "DeletePublishingDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeletePublishingDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeletePublishingDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeletePublishingDestinationRequest, DeletePublishingDestinationResult>",
      "asyncReturnType" : "DeletePublishingDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the publishing definition with the specified <code>destinationId</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeletePublishingDestinationRequest",
        "variableName" : "deletePublishingDestinationRequest",
        "variableType" : "DeletePublishingDestinationRequest",
        "documentation" : "",
        "simpleType" : "DeletePublishingDestinationRequest",
        "variableSetterType" : "DeletePublishingDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deletePublishingDestination",
      "operationName" : "DeletePublishingDestination",
      "returnType" : {
        "returnType" : "DeletePublishingDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeletePublishingDestinationResult"
    },
    "DeleteThreatIntelSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteThreatIntelSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteThreatIntelSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteThreatIntelSetRequest, DeleteThreatIntelSetResult>",
      "asyncReturnType" : "DeleteThreatIntelSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes ThreatIntelSet specified by the ThreatIntelSet ID.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteThreatIntelSetRequest",
        "variableName" : "deleteThreatIntelSetRequest",
        "variableType" : "DeleteThreatIntelSetRequest",
        "documentation" : "",
        "simpleType" : "DeleteThreatIntelSetRequest",
        "variableSetterType" : "DeleteThreatIntelSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteThreatIntelSet",
      "operationName" : "DeleteThreatIntelSet",
      "returnType" : {
        "returnType" : "DeleteThreatIntelSetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteThreatIntelSetResult"
    },
    "DescribePublishingDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribePublishingDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribePublishingDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribePublishingDestinationRequest, DescribePublishingDestinationResult>",
      "asyncReturnType" : "DescribePublishingDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about the publishing destination specified by the provided <code>destinationId</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribePublishingDestinationRequest",
        "variableName" : "describePublishingDestinationRequest",
        "variableType" : "DescribePublishingDestinationRequest",
        "documentation" : "",
        "simpleType" : "DescribePublishingDestinationRequest",
        "variableSetterType" : "DescribePublishingDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describePublishingDestination",
      "operationName" : "DescribePublishingDestination",
      "returnType" : {
        "returnType" : "DescribePublishingDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribePublishingDestinationResult"
    },
    "DisassociateFromMasterAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateFromMasterAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateFromMasterAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateFromMasterAccountRequest, DisassociateFromMasterAccountResult>",
      "asyncReturnType" : "DisassociateFromMasterAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates the current GuardDuty member account from its master account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateFromMasterAccountRequest",
        "variableName" : "disassociateFromMasterAccountRequest",
        "variableType" : "DisassociateFromMasterAccountRequest",
        "documentation" : "",
        "simpleType" : "DisassociateFromMasterAccountRequest",
        "variableSetterType" : "DisassociateFromMasterAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateFromMasterAccount",
      "operationName" : "DisassociateFromMasterAccount",
      "returnType" : {
        "returnType" : "DisassociateFromMasterAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateFromMasterAccountResult"
    },
    "DisassociateMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateMembersRequest, DisassociateMembersResult>",
      "asyncReturnType" : "DisassociateMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociates GuardDuty member accounts (to the current GuardDuty master account) specified by the account IDs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateMembersRequest",
        "variableName" : "disassociateMembersRequest",
        "variableType" : "DisassociateMembersRequest",
        "documentation" : "",
        "simpleType" : "DisassociateMembersRequest",
        "variableSetterType" : "DisassociateMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateMembers",
      "operationName" : "DisassociateMembers",
      "returnType" : {
        "returnType" : "DisassociateMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "DisassociateMembersResult"
    },
    "GetDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDetectorRequest, GetDetectorResult>",
      "asyncReturnType" : "GetDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves an Amazon GuardDuty detector specified by the detectorId.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDetectorRequest",
        "variableName" : "getDetectorRequest",
        "variableType" : "GetDetectorRequest",
        "documentation" : "",
        "simpleType" : "GetDetectorRequest",
        "variableSetterType" : "GetDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDetector",
      "operationName" : "GetDetector",
      "returnType" : {
        "returnType" : "GetDetectorResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDetectorResult"
    },
    "GetFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFilterRequest, GetFilterResult>",
      "asyncReturnType" : "GetFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the details of the filter specified by the filter name.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFilterRequest",
        "variableName" : "getFilterRequest",
        "variableType" : "GetFilterRequest",
        "documentation" : "",
        "simpleType" : "GetFilterRequest",
        "variableSetterType" : "GetFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFilter",
      "operationName" : "GetFilter",
      "returnType" : {
        "returnType" : "GetFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFilterResult"
    },
    "GetFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFindingsRequest, GetFindingsResult>",
      "asyncReturnType" : "GetFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes Amazon GuardDuty findings specified by finding IDs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFindingsRequest",
        "variableName" : "getFindingsRequest",
        "variableType" : "GetFindingsRequest",
        "documentation" : "",
        "simpleType" : "GetFindingsRequest",
        "variableSetterType" : "GetFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFindings",
      "operationName" : "GetFindings",
      "returnType" : {
        "returnType" : "GetFindingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFindingsResult"
    },
    "GetFindingsStatistics" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFindingsStatisticsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFindingsStatisticsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFindingsStatisticsRequest, GetFindingsStatisticsResult>",
      "asyncReturnType" : "GetFindingsStatisticsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists Amazon GuardDuty findings' statistics for the specified detector ID.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFindingsStatisticsRequest",
        "variableName" : "getFindingsStatisticsRequest",
        "variableType" : "GetFindingsStatisticsRequest",
        "documentation" : "",
        "simpleType" : "GetFindingsStatisticsRequest",
        "variableSetterType" : "GetFindingsStatisticsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFindingsStatistics",
      "operationName" : "GetFindingsStatistics",
      "returnType" : {
        "returnType" : "GetFindingsStatisticsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFindingsStatisticsResult"
    },
    "GetIPSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIPSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIPSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIPSetRequest, GetIPSetResult>",
      "asyncReturnType" : "GetIPSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the IPSet specified by the <code>ipSetId</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIPSetRequest",
        "variableName" : "getIPSetRequest",
        "variableType" : "GetIPSetRequest",
        "documentation" : "",
        "simpleType" : "GetIPSetRequest",
        "variableSetterType" : "GetIPSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIPSet",
      "operationName" : "GetIPSet",
      "returnType" : {
        "returnType" : "GetIPSetResult",
        "documentation" : null
      },
      "syncReturnType" : "GetIPSetResult"
    },
    "GetInvitationsCount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInvitationsCountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInvitationsCountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInvitationsCountRequest, GetInvitationsCountResult>",
      "asyncReturnType" : "GetInvitationsCountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the count of all GuardDuty membership invitations that were sent to the current member account except the currently accepted invitation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetInvitationsCountRequest",
        "variableName" : "getInvitationsCountRequest",
        "variableType" : "GetInvitationsCountRequest",
        "documentation" : "",
        "simpleType" : "GetInvitationsCountRequest",
        "variableSetterType" : "GetInvitationsCountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInvitationsCount",
      "operationName" : "GetInvitationsCount",
      "returnType" : {
        "returnType" : "GetInvitationsCountResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInvitationsCountResult"
    },
    "GetMasterAccount" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMasterAccountResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMasterAccountResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMasterAccountRequest, GetMasterAccountResult>",
      "asyncReturnType" : "GetMasterAccountResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Provides the details for the GuardDuty master account associated with the current GuardDuty member account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMasterAccountRequest",
        "variableName" : "getMasterAccountRequest",
        "variableType" : "GetMasterAccountRequest",
        "documentation" : "",
        "simpleType" : "GetMasterAccountRequest",
        "variableSetterType" : "GetMasterAccountRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMasterAccount",
      "operationName" : "GetMasterAccount",
      "returnType" : {
        "returnType" : "GetMasterAccountResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMasterAccountResult"
    },
    "GetMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMembersRequest, GetMembersResult>",
      "asyncReturnType" : "GetMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves GuardDuty member accounts (to the current GuardDuty master account) specified by the account IDs.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMembersRequest",
        "variableName" : "getMembersRequest",
        "variableType" : "GetMembersRequest",
        "documentation" : "",
        "simpleType" : "GetMembersRequest",
        "variableSetterType" : "GetMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMembers",
      "operationName" : "GetMembers",
      "returnType" : {
        "returnType" : "GetMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMembersResult"
    },
    "GetThreatIntelSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetThreatIntelSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetThreatIntelSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetThreatIntelSetRequest, GetThreatIntelSetResult>",
      "asyncReturnType" : "GetThreatIntelSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the ThreatIntelSet that is specified by the ThreatIntelSet ID.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetThreatIntelSetRequest",
        "variableName" : "getThreatIntelSetRequest",
        "variableType" : "GetThreatIntelSetRequest",
        "documentation" : "",
        "simpleType" : "GetThreatIntelSetRequest",
        "variableSetterType" : "GetThreatIntelSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getThreatIntelSet",
      "operationName" : "GetThreatIntelSet",
      "returnType" : {
        "returnType" : "GetThreatIntelSetResult",
        "documentation" : null
      },
      "syncReturnType" : "GetThreatIntelSetResult"
    },
    "InviteMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InviteMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InviteMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InviteMembersRequest, InviteMembersResult>",
      "asyncReturnType" : "InviteMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Invites other AWS accounts (created as members of the current AWS account by CreateMembers) to enable GuardDuty and allow the current AWS account to view and manage these accounts' GuardDuty findings on their behalf as the master account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InviteMembersRequest",
        "variableName" : "inviteMembersRequest",
        "variableType" : "InviteMembersRequest",
        "documentation" : "",
        "simpleType" : "InviteMembersRequest",
        "variableSetterType" : "InviteMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "inviteMembers",
      "operationName" : "InviteMembers",
      "returnType" : {
        "returnType" : "InviteMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "InviteMembersResult"
    },
    "ListDetectors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDetectorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDetectorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDetectorsRequest, ListDetectorsResult>",
      "asyncReturnType" : "ListDetectorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists detectorIds of all the existing Amazon GuardDuty detector resources.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDetectorsRequest",
        "variableName" : "listDetectorsRequest",
        "variableType" : "ListDetectorsRequest",
        "documentation" : "",
        "simpleType" : "ListDetectorsRequest",
        "variableSetterType" : "ListDetectorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDetectors",
      "operationName" : "ListDetectors",
      "returnType" : {
        "returnType" : "ListDetectorsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDetectorsResult"
    },
    "ListFilters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFiltersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFiltersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFiltersRequest, ListFiltersResult>",
      "asyncReturnType" : "ListFiltersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a paginated list of the current filters.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFiltersRequest",
        "variableName" : "listFiltersRequest",
        "variableType" : "ListFiltersRequest",
        "documentation" : "",
        "simpleType" : "ListFiltersRequest",
        "variableSetterType" : "ListFiltersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFilters",
      "operationName" : "ListFilters",
      "returnType" : {
        "returnType" : "ListFiltersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFiltersResult"
    },
    "ListFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFindingsRequest, ListFindingsResult>",
      "asyncReturnType" : "ListFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists Amazon GuardDuty findings for the specified detector ID.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFindingsRequest",
        "variableName" : "listFindingsRequest",
        "variableType" : "ListFindingsRequest",
        "documentation" : "",
        "simpleType" : "ListFindingsRequest",
        "variableSetterType" : "ListFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFindings",
      "operationName" : "ListFindings",
      "returnType" : {
        "returnType" : "ListFindingsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFindingsResult"
    },
    "ListIPSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIPSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIPSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIPSetsRequest, ListIPSetsResult>",
      "asyncReturnType" : "ListIPSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the IPSets of the GuardDuty service specified by the detector ID. If you use this operation from a member account, the IPSets returned are the IPSets from the associated master account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIPSetsRequest",
        "variableName" : "listIPSetsRequest",
        "variableType" : "ListIPSetsRequest",
        "documentation" : "",
        "simpleType" : "ListIPSetsRequest",
        "variableSetterType" : "ListIPSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIPSets",
      "operationName" : "ListIPSets",
      "returnType" : {
        "returnType" : "ListIPSetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListIPSetsResult"
    },
    "ListInvitations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInvitationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInvitationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInvitationsRequest, ListInvitationsResult>",
      "asyncReturnType" : "ListInvitationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all GuardDuty membership invitations that were sent to the current AWS account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListInvitationsRequest",
        "variableName" : "listInvitationsRequest",
        "variableType" : "ListInvitationsRequest",
        "documentation" : "",
        "simpleType" : "ListInvitationsRequest",
        "variableSetterType" : "ListInvitationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInvitations",
      "operationName" : "ListInvitations",
      "returnType" : {
        "returnType" : "ListInvitationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListInvitationsResult"
    },
    "ListMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMembersRequest, ListMembersResult>",
      "asyncReturnType" : "ListMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists details about all member accounts for the current GuardDuty master account.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMembersRequest",
        "variableName" : "listMembersRequest",
        "variableType" : "ListMembersRequest",
        "documentation" : "",
        "simpleType" : "ListMembersRequest",
        "variableSetterType" : "ListMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMembers",
      "operationName" : "ListMembers",
      "returnType" : {
        "returnType" : "ListMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMembersResult"
    },
    "ListPublishingDestinations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPublishingDestinationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPublishingDestinationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPublishingDestinationsRequest, ListPublishingDestinationsResult>",
      "asyncReturnType" : "ListPublishingDestinationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of publishing destinations associated with the specified <code>dectectorId</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPublishingDestinationsRequest",
        "variableName" : "listPublishingDestinationsRequest",
        "variableType" : "ListPublishingDestinationsRequest",
        "documentation" : "",
        "simpleType" : "ListPublishingDestinationsRequest",
        "variableSetterType" : "ListPublishingDestinationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPublishingDestinations",
      "operationName" : "ListPublishingDestinations",
      "returnType" : {
        "returnType" : "ListPublishingDestinationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPublishingDestinationsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists tags for a resource. Tagging is currently supported for detectors, finding filters, IP sets, and Threat Intel sets, with a limit of 50 tags per resource. When invoked, this operation returns all assigned tags for a given resource..</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListThreatIntelSets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListThreatIntelSetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListThreatIntelSetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListThreatIntelSetsRequest, ListThreatIntelSetsResult>",
      "asyncReturnType" : "ListThreatIntelSetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the ThreatIntelSets of the GuardDuty service specified by the detector ID. If you use this operation from a member account, the ThreatIntelSets associated with the master account are returned.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListThreatIntelSetsRequest",
        "variableName" : "listThreatIntelSetsRequest",
        "variableType" : "ListThreatIntelSetsRequest",
        "documentation" : "",
        "simpleType" : "ListThreatIntelSetsRequest",
        "variableSetterType" : "ListThreatIntelSetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listThreatIntelSets",
      "operationName" : "ListThreatIntelSets",
      "returnType" : {
        "returnType" : "ListThreatIntelSetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListThreatIntelSetsResult"
    },
    "StartMonitoringMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartMonitoringMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartMonitoringMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartMonitoringMembersRequest, StartMonitoringMembersResult>",
      "asyncReturnType" : "StartMonitoringMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Turns on GuardDuty monitoring of the specified member accounts. Use this operation to restart monitoring of accounts that you stopped monitoring with the <code>StopMonitoringMembers</code> operation.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartMonitoringMembersRequest",
        "variableName" : "startMonitoringMembersRequest",
        "variableType" : "StartMonitoringMembersRequest",
        "documentation" : "",
        "simpleType" : "StartMonitoringMembersRequest",
        "variableSetterType" : "StartMonitoringMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startMonitoringMembers",
      "operationName" : "StartMonitoringMembers",
      "returnType" : {
        "returnType" : "StartMonitoringMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "StartMonitoringMembersResult"
    },
    "StopMonitoringMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopMonitoringMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopMonitoringMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopMonitoringMembersRequest, StopMonitoringMembersResult>",
      "asyncReturnType" : "StopMonitoringMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops GuardDuty monitoring for the specified member accounnts. Use the <code>StartMonitoringMembers</code> to restart monitoring for those accounts.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopMonitoringMembersRequest",
        "variableName" : "stopMonitoringMembersRequest",
        "variableType" : "StopMonitoringMembersRequest",
        "documentation" : "",
        "simpleType" : "StopMonitoringMembersRequest",
        "variableSetterType" : "StopMonitoringMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopMonitoringMembers",
      "operationName" : "StopMonitoringMembers",
      "returnType" : {
        "returnType" : "StopMonitoringMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "StopMonitoringMembersResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds tags to a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UnarchiveFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UnarchiveFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UnarchiveFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UnarchiveFindingsRequest, UnarchiveFindingsResult>",
      "asyncReturnType" : "UnarchiveFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Unarchives GuardDuty findings specified by the <code>findingIds</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UnarchiveFindingsRequest",
        "variableName" : "unarchiveFindingsRequest",
        "variableType" : "UnarchiveFindingsRequest",
        "documentation" : "",
        "simpleType" : "UnarchiveFindingsRequest",
        "variableSetterType" : "UnarchiveFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "unarchiveFindings",
      "operationName" : "UnarchiveFindings",
      "returnType" : {
        "returnType" : "UnarchiveFindingsResult",
        "documentation" : null
      },
      "syncReturnType" : "UnarchiveFindingsResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes tags from a resource.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateDetector" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDetectorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDetectorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDetectorRequest, UpdateDetectorResult>",
      "asyncReturnType" : "UpdateDetectorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the Amazon GuardDuty detector specified by the detectorId.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDetectorRequest",
        "variableName" : "updateDetectorRequest",
        "variableType" : "UpdateDetectorRequest",
        "documentation" : "",
        "simpleType" : "UpdateDetectorRequest",
        "variableSetterType" : "UpdateDetectorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDetector",
      "operationName" : "UpdateDetector",
      "returnType" : {
        "returnType" : "UpdateDetectorResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDetectorResult"
    },
    "UpdateFilter" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFilterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFilterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFilterRequest, UpdateFilterResult>",
      "asyncReturnType" : "UpdateFilterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the filter specified by the filter name.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFilterRequest",
        "variableName" : "updateFilterRequest",
        "variableType" : "UpdateFilterRequest",
        "documentation" : "",
        "simpleType" : "UpdateFilterRequest",
        "variableSetterType" : "UpdateFilterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFilter",
      "operationName" : "UpdateFilter",
      "returnType" : {
        "returnType" : "UpdateFilterResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFilterResult"
    },
    "UpdateFindingsFeedback" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateFindingsFeedbackResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateFindingsFeedbackResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateFindingsFeedbackRequest, UpdateFindingsFeedbackResult>",
      "asyncReturnType" : "UpdateFindingsFeedbackResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Marks the specified GuardDuty findings as useful or not useful.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateFindingsFeedbackRequest",
        "variableName" : "updateFindingsFeedbackRequest",
        "variableType" : "UpdateFindingsFeedbackRequest",
        "documentation" : "",
        "simpleType" : "UpdateFindingsFeedbackRequest",
        "variableSetterType" : "UpdateFindingsFeedbackRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateFindingsFeedback",
      "operationName" : "UpdateFindingsFeedback",
      "returnType" : {
        "returnType" : "UpdateFindingsFeedbackResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateFindingsFeedbackResult"
    },
    "UpdateIPSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateIPSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateIPSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateIPSetRequest, UpdateIPSetResult>",
      "asyncReturnType" : "UpdateIPSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the IPSet specified by the IPSet ID.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateIPSetRequest",
        "variableName" : "updateIPSetRequest",
        "variableType" : "UpdateIPSetRequest",
        "documentation" : "",
        "simpleType" : "UpdateIPSetRequest",
        "variableSetterType" : "UpdateIPSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateIPSet",
      "operationName" : "UpdateIPSet",
      "returnType" : {
        "returnType" : "UpdateIPSetResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateIPSetResult"
    },
    "UpdatePublishingDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdatePublishingDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdatePublishingDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdatePublishingDestinationRequest, UpdatePublishingDestinationResult>",
      "asyncReturnType" : "UpdatePublishingDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates information about the publishing destination specified by the <code>destinationId</code>.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdatePublishingDestinationRequest",
        "variableName" : "updatePublishingDestinationRequest",
        "variableType" : "UpdatePublishingDestinationRequest",
        "documentation" : "",
        "simpleType" : "UpdatePublishingDestinationRequest",
        "variableSetterType" : "UpdatePublishingDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updatePublishingDestination",
      "operationName" : "UpdatePublishingDestination",
      "returnType" : {
        "returnType" : "UpdatePublishingDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdatePublishingDestinationResult"
    },
    "UpdateThreatIntelSet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateThreatIntelSetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateThreatIntelSetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateThreatIntelSetRequest, UpdateThreatIntelSetResult>",
      "asyncReturnType" : "UpdateThreatIntelSetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the ThreatIntelSet specified by ThreatIntelSet ID.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>Bad request exception object.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>Internal server error exception object.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateThreatIntelSetRequest",
        "variableName" : "updateThreatIntelSetRequest",
        "variableType" : "UpdateThreatIntelSetRequest",
        "documentation" : "",
        "simpleType" : "UpdateThreatIntelSetRequest",
        "variableSetterType" : "UpdateThreatIntelSetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateThreatIntelSet",
      "operationName" : "UpdateThreatIntelSet",
      "returnType" : {
        "returnType" : "UpdateThreatIntelSetResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateThreatIntelSetResult"
    }
  },
  "shapes" : {
    "AcceptInvitationRequest" : {
      "c2jName" : "AcceptInvitationRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AcceptInvitation",
        "locationName" : null,
        "requestUri" : "/detector/{detectorId}/master",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "DetectorId",
        "c2jShape" : "DetectorId",
        "deprecated" : false,
        "documentation" : "<p>The unique ID of the detector of the GuardDuty member account.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The unique ID of the detector of the GuardDuty member account.</p>\n@param detectorId The unique ID of the detector of the GuardDuty member account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDetectorId",
        "getterDocumentation" : "/**<p>The unique ID of the detector of the GuardDuty member account.</p>\n@return The unique ID of the detector of the GuardDuty member account.*/",
        "getterMethodName" : "getDetectorId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "detectorId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "detectorId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DetectorId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The unique ID of the detector of the GuardDuty member account.</p>\n@param detectorId The unique ID of the detector of the GuardDuty member account.*/",
        "setterMethodName" : "setDetectorId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "detectorId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The unique ID of the detector of the GuardDuty member account.</p>\n@param detectorId The unique ID of the detector of the GuardDuty member account.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "detectorId",
          "variableType" : "String",
          "documentation" : "<p>The unique ID of the detector of the GuardDuty member account.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "MasterId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The account ID of the master GuardDuty account whose invitation you're accepting.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The account ID of the master GuardDuty account whose invitation you're accepting.</p>\n@param masterId The account ID of the master GuardDuty account whose invitation you're accepting.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMasterId",
        "getterDocumentation" : "/**<p>The account ID of the master GuardDuty account whose invitation you're accepting.</p>\n@return The account ID of the master GuardDuty account whose invitation you're accepting.*/",
        "getterMethodName" : "getMasterId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "masterId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "masterId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MasterId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The account ID of the master GuardDuty account whose invitation you're accepting.</p>\n@param masterId The account ID of the master GuardDuty account whose invitation you're accepting.*/",
        "setterMethodName" : "setMasterId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "masterId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The account ID of the master GuardDuty account whose invitation you're accepting.</p>\n@param masterId The account ID of the master GuardDuty account whose invitation you're accepting.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "masterId",
          "variableType" : "String",
          "documentation" : "<p>The account ID of the master GuardDuty account whose invitation you're accepting.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "InvitationId",
[...]
