{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2017-07-01",
    "asyncClient" : "AmazonHealthLakeAsyncClient",
    "asyncClientBuilderClassName" : "AmazonHealthLakeAsyncClientBuilder",
    "asyncInterface" : "AmazonHealthLakeAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonHealthLakeModuleInjector",
    "defaultEndpoint" : "healthlake.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "healthlake.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon HealthLake is a HIPAA eligibile service that allows customers to store, transform, query, and analyze their FHIR-formatted data in a consistent fashion in the cloud.</p>",
    "endpointPrefix" : "healthlake",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.0",
    "packageName" : "com.amazonaws.services.healthlake",
    "packagePath" : "com/amazonaws/services/healthlake",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "HealthLake",
    "serviceFullName" : "Amazon HealthLake",
    "serviceId" : "HealthLake",
    "serviceName" : "HealthLake",
    "signingName" : "healthlake",
    "smokeTestsPackageName" : "com.amazonaws.services.healthlake.smoketests",
    "syncClient" : "AmazonHealthLakeClient",
    "syncClientBuilderClassName" : "AmazonHealthLakeClientBuilder",
    "syncInterface" : "AmazonHealthLake",
    "uid" : "healthlake-2017-07-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateFHIRDatastore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateFHIRDatastoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateFHIRDatastoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateFHIRDatastoreRequest, CreateFHIRDatastoreResult>",
      "asyncReturnType" : "CreateFHIRDatastoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a Data Store that can ingest and export FHIR formatted data.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input parameter was invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The user has exceeded their maximum number of allowed calls to the given API. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unknown error occurs in the service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFHIRDatastoreRequest",
        "variableName" : "createFHIRDatastoreRequest",
        "variableType" : "CreateFHIRDatastoreRequest",
        "documentation" : "",
        "simpleType" : "CreateFHIRDatastoreRequest",
        "variableSetterType" : "CreateFHIRDatastoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createFHIRDatastore",
      "operationName" : "CreateFHIRDatastore",
      "returnType" : {
        "returnType" : "CreateFHIRDatastoreResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateFHIRDatastoreResult"
    },
    "DeleteFHIRDatastore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteFHIRDatastoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteFHIRDatastoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteFHIRDatastoreRequest, DeleteFHIRDatastoreResult>",
      "asyncReturnType" : "DeleteFHIRDatastoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a Data Store. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied. Your account is not authorized to perform this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The Data Store is in a transition state and the user requested action can not be performed.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input parameter was invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The requested Data Store was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The user has exceeded their maximum number of allowed calls to the given API. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unknown error occurs in the service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteFHIRDatastoreRequest",
        "variableName" : "deleteFHIRDatastoreRequest",
        "variableType" : "DeleteFHIRDatastoreRequest",
        "documentation" : "",
        "simpleType" : "DeleteFHIRDatastoreRequest",
        "variableSetterType" : "DeleteFHIRDatastoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteFHIRDatastore",
      "operationName" : "DeleteFHIRDatastore",
      "returnType" : {
        "returnType" : "DeleteFHIRDatastoreResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteFHIRDatastoreResult"
    },
    "DescribeFHIRDatastore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFHIRDatastoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFHIRDatastoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFHIRDatastoreRequest, DescribeFHIRDatastoreResult>",
      "asyncReturnType" : "DescribeFHIRDatastoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the properties associated with the FHIR Data Store, including the Data Store ID, Data Store ARN, Data Store name, Data Store status, created at, Data Store type version, and Data Store endpoint.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input parameter was invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The requested Data Store was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The user has exceeded their maximum number of allowed calls to the given API. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unknown error occurs in the service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFHIRDatastoreRequest",
        "variableName" : "describeFHIRDatastoreRequest",
        "variableType" : "DescribeFHIRDatastoreRequest",
        "documentation" : "",
        "simpleType" : "DescribeFHIRDatastoreRequest",
        "variableSetterType" : "DescribeFHIRDatastoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFHIRDatastore",
      "operationName" : "DescribeFHIRDatastore",
      "returnType" : {
        "returnType" : "DescribeFHIRDatastoreResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFHIRDatastoreResult"
    },
    "DescribeFHIRExportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFHIRExportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFHIRExportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFHIRExportJobRequest, DescribeFHIRExportJobResult>",
      "asyncReturnType" : "DescribeFHIRExportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays the properties of a FHIR export job, including the ID, ARN, name, and the status of the job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input parameter was invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The requested Data Store was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The user has exceeded their maximum number of allowed calls to the given API. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unknown error occurs in the service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFHIRExportJobRequest",
        "variableName" : "describeFHIRExportJobRequest",
        "variableType" : "DescribeFHIRExportJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeFHIRExportJobRequest",
        "variableSetterType" : "DescribeFHIRExportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFHIRExportJob",
      "operationName" : "DescribeFHIRExportJob",
      "returnType" : {
        "returnType" : "DescribeFHIRExportJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFHIRExportJobResult"
    },
    "DescribeFHIRImportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFHIRImportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFHIRImportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFHIRImportJobRequest, DescribeFHIRImportJobResult>",
      "asyncReturnType" : "DescribeFHIRImportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Displays the properties of a FHIR import job, including the ID, ARN, name, and the status of the job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input parameter was invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The requested Data Store was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The user has exceeded their maximum number of allowed calls to the given API. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unknown error occurs in the service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeFHIRImportJobRequest",
        "variableName" : "describeFHIRImportJobRequest",
        "variableType" : "DescribeFHIRImportJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeFHIRImportJobRequest",
        "variableSetterType" : "DescribeFHIRImportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFHIRImportJob",
      "operationName" : "DescribeFHIRImportJob",
      "returnType" : {
        "returnType" : "DescribeFHIRImportJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFHIRImportJobResult"
    },
    "ListFHIRDatastores" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFHIRDatastoresResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFHIRDatastoresResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFHIRDatastoresRequest, ListFHIRDatastoresResult>",
      "asyncReturnType" : "ListFHIRDatastoresResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all FHIR Data Stores that are in the user’s account, regardless of Data Store status.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input parameter was invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The user has exceeded their maximum number of allowed calls to the given API. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unknown error occurs in the service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFHIRDatastoresRequest",
        "variableName" : "listFHIRDatastoresRequest",
        "variableType" : "ListFHIRDatastoresRequest",
        "documentation" : "",
        "simpleType" : "ListFHIRDatastoresRequest",
        "variableSetterType" : "ListFHIRDatastoresRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFHIRDatastores",
      "operationName" : "ListFHIRDatastores",
      "returnType" : {
        "returnType" : "ListFHIRDatastoresResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFHIRDatastoresResult"
    },
    "StartFHIRExportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartFHIRExportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartFHIRExportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartFHIRExportJobRequest, StartFHIRExportJobResult>",
      "asyncReturnType" : "StartFHIRExportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Begins a FHIR export job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input parameter was invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The user has exceeded their maximum number of allowed calls to the given API. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied. Your account is not authorized to perform this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The requested Data Store was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unknown error occurs in the service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartFHIRExportJobRequest",
        "variableName" : "startFHIRExportJobRequest",
        "variableType" : "StartFHIRExportJobRequest",
        "documentation" : "",
        "simpleType" : "StartFHIRExportJobRequest",
        "variableSetterType" : "StartFHIRExportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startFHIRExportJob",
      "operationName" : "StartFHIRExportJob",
      "returnType" : {
        "returnType" : "StartFHIRExportJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartFHIRExportJobResult"
    },
    "StartFHIRImportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartFHIRImportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartFHIRImportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartFHIRImportJobRequest, StartFHIRImportJobResult>",
      "asyncReturnType" : "StartFHIRImportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Begins a FHIR Import job.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The user input parameter was invalid.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The user has exceeded their maximum number of allowed calls to the given API. </p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access is denied. Your account is not authorized to perform this operation.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p> The requested Data Store was not found.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unknown error occurs in the service.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartFHIRImportJobRequest",
        "variableName" : "startFHIRImportJobRequest",
        "variableType" : "StartFHIRImportJobRequest",
        "documentation" : "",
        "simpleType" : "StartFHIRImportJobRequest",
        "variableSetterType" : "StartFHIRImportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startFHIRImportJob",
      "operationName" : "StartFHIRImportJob",
      "returnType" : {
        "returnType" : "StartFHIRImportJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartFHIRImportJobResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Access is denied. Your account is not authorized to perform this operation.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.healthlake.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.healthlake.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The Data Store is in a transition state and the user requested action can not be performed.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.healthlake.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.healthlake.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "CreateFHIRDatastoreRequest" : {
      "c2jName" : "CreateFHIRDatastoreRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.healthlake.request.CreateFHIRDatastoreRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateFHIRDatastore",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "HealthLake.CreateFHIRDatastore",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "DatastoreName",
        "c2jShape" : "DatastoreName",
        "deprecated" : false,
        "documentation" : "<p>The user generated name for the Data Store.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The user generated name for the Data Store.</p>\n@param datastoreName The user generated name for the Data Store.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDatastoreName",
        "getterDocumentation" : "/**<p>The user generated name for the Data Store.</p>\n@return The user generated name for the Data Store.*/",
        "getterMethodName" : "getDatastoreName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DatastoreName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DatastoreName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DatastoreName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The user generated name for the Data Store.</p>\n@param datastoreName The user generated name for the Data Store.*/",
        "setterMethodName" : "setDatastoreName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "datastoreName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The user generated name for the Data Store.</p>\n@param datastoreName The user generated name for the Data Store.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "datastoreName",
          "variableType" : "String",
          "documentation" : "<p>The user generated name for the Data Store.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DatastoreTypeVersion",
        "c2jShape" : "FHIRVersion",
        "deprecated" : false,
        "documentation" : "<p>The FHIR version of the Data Store. The only supported version is R4.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "FHIRVersion",
        "fluentSetterDocumentation" : "/**<p>The FHIR version of the Data Store. The only supported version is R4.</p>\n@param datastoreTypeVersion The FHIR version of the Data Store. The only supported version is R4.\n@return Returns a reference to this object so that method calls can be chained together.\n@see FHIRVersion*/",
        "fluentSetterMethodName" : "withDatastoreTypeVersion",
        "getterDocumentation" : "/**<p>The FHIR version of the Data Store. The only supported version is R4.</p>\n@return The FHIR version of the Data Store. The only supported version is R4.\n@see FHIRVersion*/",
        "getterMethodName" : "getDatastoreTypeVersion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DatastoreTypeVersion",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DatastoreTypeVersion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DatastoreTypeVersion",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The FHIR version of the Data Store. The only supported version is R4.</p>\n@param datastoreTypeVersion The FHIR version of the Data Store. The only supported version is R4.\n@see FHIRVersion*/",
        "setterMethodName" : "setDatastoreTypeVersion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "datastoreTypeVersion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The FHIR version of the Data Store. The only supported version is R4.</p>\n@param datastoreTypeVersion The FHIR version of the Data Store. The only supported version is R4.\n@return Returns a reference to this object so that method calls can be chained together.\n@see FHIRVersion*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "datastoreTypeVersion",
          "variableType" : "String",
          "documentation" : "<p>The FHIR version of the Data Store. The only supported version is R4.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PreloadDataConfig",
        "c2jShape" : "PreloadDataConfig",
        "deprecated" : false,
        "documentation" : "<p>Optional parameter to preload data upon creation of the Data Store. Currently, the only supported preloaded data is synthetic data generated from Synthea.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Optional parameter to preload data upon creation of the Data Store. Currently, the only supported preloaded data is synthetic data generated from Synthea.</p>\n@param preloadDataConfig Optional parameter to preload data upon creation of the Data Store. Currently, the only supported preloaded data is synthetic data generated from Synthea.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPreloadDataConfig",
        "getterDocumentation" : "/**<p>Optional parameter to preload data upon creation of the Data Store. Currently, the only supported preloaded data is synthetic data generated from Synthea.</p>\n@return Optional parameter to preload data upon creation of the Data Store. Currently, the only supported preloaded data is synthetic data generated from Synthea.*/",
        "getterMethodName" : "getPreloadDataConfig",
        "getterModel" : {
          "returnType" : "PreloadDataConfig",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PreloadDataConfig",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PreloadDataConfig",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "PreloadDataConfig",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Optional parameter to preload data upon creation of the Data Store. Currently, the only supported preloaded data is synthetic data generated from Synthea.</p>\n@param preloadDataConfig Optional parameter to preload data upon creation of the Data Store. Currently, the only supported preloaded data is synthetic data generated from Synthea.*/",
        "setterMethodName" : "setPreloadDataConfig",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "PreloadDataConfig",
          "variableName" : "preloadDataConfig",
          "variableType" : "PreloadDataConfig",
          "documentation" : "",
          "simpleType" : "PreloadDataConfig",
          "variableSetterType" : "PreloadDataConfig"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Optional parameter to preload data upon creation of the Data Store. Currently, the only supported preloaded data is synthetic data generated from Synthea.</p>\n@param preloadDataConfig Optional parameter to preload data upon creation of the Data Store. Currently, the only supported preloaded data is synthetic data generated from Synthea.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "PreloadDataConfig",
          "variableName" : "preloadDataConfig",
          "variableType" : "PreloadDataConfig",
          "documentation" : "<p>Optional parameter to preload data upon creation of the Data Store. Currently, the only supported preloaded data is synthetic data generated from Synthea.</p>",
          "simpleType" : "PreloadDataConfig",
          "variableSetterType" : "PreloadDataConfig"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ClientToken",
        "c2jShape" : "ClientTokenString",
        "deprecated" : false,
        "documentation" : "<p>Optional user provided token used for ensuring idempotency.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Optional user provided token used for ensuring idempotency.</p>\n@param clientToken Optional user provided token used for ensuring idempotency.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**<p>Optional user provided token used for ensuring idempotency.</p>\n@return Optional user provided token used for ensuring idempotency.*/",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ClientToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ClientToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Optional user provided token used for ensuring idempotency.</p>\n@param clientToken Optional user provided token used for ensuring idempotency.*/",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Optional user provided token used for ensuring idempotency.</p>\n@param clientToken Optional user provided token used for ensuring idempotency.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "<p>Optional user provided token used for ensuring idempotency.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClientToken" : {
          "c2jName" : "ClientToken",
          "c2jShape" : "ClientTokenString",
          "deprecated" : false,
          "documentation" : "<p>Optional user provided token used for ensuring idempotency.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Optional user provided token used for ensuring idempotency.</p>\n@param clientToken Optional user provided token used for ensuring idempotency.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientToken",
          "getterDocumentation" : "/**<p>Optional user provided token used for ensuring idempotency.</p>\n@return Optional user provided token used for ensuring idempotency.*/",
          "getterMethodName" : "getClientToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ClientToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ClientToken",
            "uri" : false
          },
          "idempotencyToken" : true,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Optional user provided token used for ensuring idempotency.</p>\n@param clientToken Optional user provided token used for ensuring idempotency.*/",
          "setterMethodName" : "setClientToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Optional user provided token used for ensuring idempotency.</p>\n@param clientToken Optional user provided token used for ensuring idempotency.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "<p>Optional user provided token used for ensuring idempotency.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DatastoreName" : {
          "c2jName" : "DatastoreName",
          "c2jShape" : "DatastoreName",
          "deprecated" : false,
          "documentation" : "<p>The user generated name for the Data Store.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The user generated name for the Data Store.</p>\n@param datastoreName The user generated name for the Data Store.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDatastoreName",
          "getterDocumentation" : "/**<p>The user generated name for the Data Store.</p>\n@return The user generated name for the Data Store.*/",
          "getterMethodName" : "getDatastoreName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DatastoreName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DatastoreName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DatastoreName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The user generated name for the Data Store.</p>\n@param datastoreName The user generated name for the Data Store.*/",
          "setterMethodName" : "setDatastoreName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "datastoreName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The user generated name for the Data Store.</p>\n@param datastoreName The user generated name for the Data Store.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "datastoreName",
            "variableType" : "String",
            "documentation" : "<p>The user generated name for the Data Store.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DatastoreTypeVersion" : {
          "c2jName" : "DatastoreTypeVersion",
          "c2jShape" : "FHIRVersion",
          "deprecated" : false,
          "documentation" : "<p>The FHIR version of the Data Store. The only supported version is R4.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "FHIRVersion",
          "fluentSetterDocumentation" : "/**<p>The FHIR version of the Data Store. The only supported version is R4.</p>\n@param datastoreTypeVersion The FHIR version of the Data Store. The only supported version is R4.\n@return Returns a reference to this object so that method calls can be chained together.\n@see FHIRVersion*/",
          "fluentSetterMethodName" : "withDatastoreTypeVersion",
          "getterDocumentation" : "/**<p>The FHIR version of the Data Store. The only supported version is R4.</p>\n@return The FHIR version of the Data Store. The only supported version is R4.\n@see FHIRVersion*/",
          "getterMethodName" : "getDatastoreTypeVersion",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DatastoreTypeVersion",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DatastoreTypeVersion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DatastoreTypeVersion",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The FHIR version of the Data Store. The only supported version is R4.</p>\n@param datastoreTypeVersion The FHIR version of the Data Store. The only supported version is R4.\n@see FHIRVersion*/",
          "setterMethodName" : "setDatastoreTypeVersion",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "datastoreTypeVersion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The FHIR version of the Data Store. The only supported version is R4.</p>\n@param datastoreTypeVersion The FHIR version of the Data Store. The only supported version is R4.\n@return Returns a reference to this object so that method calls can be chained together.\n@see FHIRVersion*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "datastoreTypeVersion",
            "variableType" : "String",
            "documentation" : "<p>The FHIR version of the Data Store. The only supported version is R4.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "PreloadDataConfig" : {
          "c2jName" : "PreloadDataConfig",
          "c2jShape" : "PreloadDataConfig",
          "deprecated" : false,
          "documentation" : "<p>Optional parameter to preload data upon creation of the Data Store. Currently, the only supported preloaded data is synthetic data generated from Synthea.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Optional parameter to preload data upon creation of the Data Store. Currently, the only supported preloaded data is synthetic data generated from Synthea.</p>\n@param preloadDataConfig Optional parameter to preload data upon creation of the Data Store. Currently, the only supported preloaded data is synthetic data generated from Synthea.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPreloadDataConfig",
          "getterDocumentation" : "/**<p>Optional parameter to preload data upon creation of the Data Store. Currently, the only supported preloaded data is synthetic data generated from Synthea.</p>\n@return Optional parameter to preload data upon creation of the Data Store. Currently, the only supported preloaded data is synthetic data generated from Synthea.*/",
          "getterMethodName" : "getPreloadDataConfig",
          "getterModel" : {
            "returnType" : "PreloadDataConfig",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "PreloadDataConfig",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "PreloadDataConfig",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "PreloadDataConfig",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Optional parameter to preload data upon creation of the Data Store. Currently, the only supported preloaded data is synthetic data generated from Synthea.</p>\n@param preloadDataConfig Optional parameter to preload data upon creation of the Data Store. Currently, the only supported preloaded data is synthetic data generated from Synthea.*/",
          "setterMethodName" : "setPreloadDataConfig",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "PreloadDataConfig",
            "variableName" : "preloadDataConfig",
            "variableType" : "PreloadDataConfig",
            "documentation" : "",
            "simpleType" : "PreloadDataConfig",
            "variableSetterType" : "PreloadDataConfig"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Optional parameter to preload data upon creation of the Data Store. Currently, the only supported preloaded data is synthetic data generated from Synthea.</p>\n@param preloadDataConfig Optional parameter to preload data upon creation of the Data Store. Currently, the only supported preloaded data is synthetic data generated from Synthea.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "PreloadDataConfig",
            "variableName" : "preloadDataConfig",
            "variableType" : "PreloadDataConfig",
            "documentation" : "<p>Optional parameter to preload data upon creation of the Data Store. Currently, the only supported preloaded data is synthetic data generated from Synthea.</p>",
            "simpleType" : "PreloadDataConfig",
            "variableSetterType" : "PreloadDataConfig"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.healthlake.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "DatastoreTypeVersion" ],
      "shapeName" : "CreateFHIRDatastoreRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFHIRDatastoreRequest",
        "variableName" : "createFHIRDatastoreRequest",
        "variableType" : "CreateFHIRDatastoreRequest",
        "documentation" : null,
        "simpleType" : "CreateFHIRDatastoreRequest",
        "variableSetterType" : "CreateFHIRDatastoreRequest"
      },
      "wrapper" : false
    },
    "CreateFHIRDatastoreResult" : {
      "c2jName" : "CreateFHIRDatastoreResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.healthlake.response.CreateFHIRDatastoreResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "DatastoreId",
        "c2jShape" : "DatastoreId",
        "deprecated" : false,
        "documentation" : "<p>The AWS-generated Data Store id. This id is in the output from the initial Data Store creation call.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS-generated Data Store id. This id is in the output from the initial Data Store creation call.</p>\n@param datastoreId The AWS-generated Data Store id. This id is in the output from the initial Data Store creation call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDatastoreId",
        "getterDocumentation" : "/**<p>The AWS-generated Data Store id. This id is in the output from the initial Data Store creation call.</p>\n@return The AWS-generated Data Store id. This id is in the output from the initial Data Store creation call.*/",
        "getterMethodName" : "getDatastoreId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DatastoreId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DatastoreId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DatastoreId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The AWS-generated Data Store id. This id is in the output from the initial Data Store creation call.</p>\n@param datastoreId The AWS-generated Data Store id. This id is in the output from the initial Data Store creation call.*/",
        "setterMethodName" : "setDatastoreId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "datastoreId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The AWS-generated Data Store id. This id is in the output from the initial Data Store creation call.</p>\n@param datastoreId The AWS-generated Data Store id. This id is in the output from the initial Data Store creation call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "datastoreId",
          "variableType" : "String",
          "documentation" : "<p>The AWS-generated Data Store id. This id is in the output from the initial Data Store creation call.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DatastoreArn",
        "c2jShape" : "DatastoreArn",
        "deprecated" : false,
        "documentation" : "<p>The datastore ARN is generated during the creation of the Data Store and can be found in the output from the initial Data Store creation call.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The datastore ARN is generated during the creation of the Data Store and can be found in the output from the initial Data Store creation call.</p>\n@param datastoreArn The datastore ARN is generated during the creation of the Data Store and can be found in the output from the initial Data Store creation call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDatastoreArn",
        "getterDocumentation" : "/**<p>The datastore ARN is generated during the creation of the Data Store and can be found in the output from the initial Data Store creation call.</p>\n@return The datastore ARN is generated during the creation of the Data Store and can be found in the output from the initial Data Store creation call.*/",
        "getterMethodName" : "getDatastoreArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DatastoreArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DatastoreArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DatastoreArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The datastore ARN is generated during the creation of the Data Store and can be found in the output from the initial Data Store creation call.</p>\n@param datastoreArn The datastore ARN is generated during the creation of the Data Store and can be found in the output from the initial Data Store creation call.*/",
        "setterMethodName" : "setDatastoreArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "datastoreArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The datastore ARN is generated during the creation of the Data Store and can be found in the output from the initial Data Store creation call.</p>\n@param datastoreArn The datastore ARN is generated during the creation of the Data Store and can be found in the output from the initial Data Store creation call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "datastoreArn",
          "variableType" : "String",
          "documentation" : "<p>The datastore ARN is generated during the creation of the Data Store and can be found in the output from the initial Data Store creation call.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DatastoreStatus",
        "c2jShape" : "DatastoreStatus",
        "deprecated" : false,
        "documentation" : "<p>The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’, ‘DELETED’.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "DatastoreStatus",
        "fluentSetterDocumentation" : "/**<p>The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’, ‘DELETED’.</p>\n@param datastoreStatus The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’, ‘DELETED’.\n@return Returns a reference to this object so that method calls can be chained together.\n@see DatastoreStatus*/",
        "fluentSetterMethodName" : "withDatastoreStatus",
        "getterDocumentation" : "/**<p>The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’, ‘DELETED’.</p>\n@return The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’, ‘DELETED’.\n@see DatastoreStatus*/",
        "getterMethodName" : "getDatastoreStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DatastoreStatus",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DatastoreStatus",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DatastoreStatus",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’, ‘DELETED’.</p>\n@param datastoreStatus The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’, ‘DELETED’.\n@see DatastoreStatus*/",
        "setterMethodName" : "setDatastoreStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "datastoreStatus",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’, ‘DELETED’.</p>\n@param datastoreStatus The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’, ‘DELETED’.\n@return Returns a reference to this object so that method calls can be chained together.\n@see DatastoreStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "datastoreStatus",
          "variableType" : "String",
          "documentation" : "<p>The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’, ‘DELETED’.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DatastoreEndpoint",
        "c2jShape" : "BoundedLengthString",
        "deprecated" : false,
        "documentation" : "<p>The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are supported.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are supported.</p>\n@param datastoreEndpoint The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are supported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDatastoreEndpoint",
        "getterDocumentation" : "/**<p>The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are supported.</p>\n@return The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are supported.*/",
        "getterMethodName" : "getDatastoreEndpoint",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DatastoreEndpoint",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DatastoreEndpoint",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DatastoreEndpoint",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are supported.</p>\n@param datastoreEndpoint The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are supported.*/",
        "setterMethodName" : "setDatastoreEndpoint",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "datastoreEndpoint",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are supported.</p>\n@param datastoreEndpoint The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are supported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "datastoreEndpoint",
          "variableType" : "String",
          "documentation" : "<p>The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are supported.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DatastoreArn" : {
          "c2jName" : "DatastoreArn",
          "c2jShape" : "DatastoreArn",
          "deprecated" : false,
          "documentation" : "<p>The datastore ARN is generated during the creation of the Data Store and can be found in the output from the initial Data Store creation call.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The datastore ARN is generated during the creation of the Data Store and can be found in the output from the initial Data Store creation call.</p>\n@param datastoreArn The datastore ARN is generated during the creation of the Data Store and can be found in the output from the initial Data Store creation call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDatastoreArn",
          "getterDocumentation" : "/**<p>The datastore ARN is generated during the creation of the Data Store and can be found in the output from the initial Data Store creation call.</p>\n@return The datastore ARN is generated during the creation of the Data Store and can be found in the output from the initial Data Store creation call.*/",
          "getterMethodName" : "getDatastoreArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DatastoreArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DatastoreArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DatastoreArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The datastore ARN is generated during the creation of the Data Store and can be found in the output from the initial Data Store creation call.</p>\n@param datastoreArn The datastore ARN is generated during the creation of the Data Store and can be found in the output from the initial Data Store creation call.*/",
          "setterMethodName" : "setDatastoreArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "datastoreArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The datastore ARN is generated during the creation of the Data Store and can be found in the output from the initial Data Store creation call.</p>\n@param datastoreArn The datastore ARN is generated during the creation of the Data Store and can be found in the output from the initial Data Store creation call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "datastoreArn",
            "variableType" : "String",
            "documentation" : "<p>The datastore ARN is generated during the creation of the Data Store and can be found in the output from the initial Data Store creation call.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DatastoreEndpoint" : {
          "c2jName" : "DatastoreEndpoint",
          "c2jShape" : "BoundedLengthString",
          "deprecated" : false,
          "documentation" : "<p>The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are supported.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are supported.</p>\n@param datastoreEndpoint The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are supported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDatastoreEndpoint",
          "getterDocumentation" : "/**<p>The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are supported.</p>\n@return The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are supported.*/",
          "getterMethodName" : "getDatastoreEndpoint",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DatastoreEndpoint",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DatastoreEndpoint",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DatastoreEndpoint",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are supported.</p>\n@param datastoreEndpoint The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are supported.*/",
          "setterMethodName" : "setDatastoreEndpoint",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "datastoreEndpoint",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are supported.</p>\n@param datastoreEndpoint The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are supported.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "datastoreEndpoint",
            "variableType" : "String",
            "documentation" : "<p>The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are supported.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DatastoreId" : {
          "c2jName" : "DatastoreId",
          "c2jShape" : "DatastoreId",
          "deprecated" : false,
          "documentation" : "<p>The AWS-generated Data Store id. This id is in the output from the initial Data Store creation call.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The AWS-generated Data Store id. This id is in the output from the initial Data Store creation call.</p>\n@param datastoreId The AWS-generated Data Store id. This id is in the output from the initial Data Store creation call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDatastoreId",
          "getterDocumentation" : "/**<p>The AWS-generated Data Store id. This id is in the output from the initial Data Store creation call.</p>\n@return The AWS-generated Data Store id. This id is in the output from the initial Data Store creation call.*/",
          "getterMethodName" : "getDatastoreId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DatastoreId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DatastoreId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DatastoreId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The AWS-generated Data Store id. This id is in the output from the initial Data Store creation call.</p>\n@param datastoreId The AWS-generated Data Store id. This id is in the output from the initial Data Store creation call.*/",
          "setterMethodName" : "setDatastoreId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "datastoreId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The AWS-generated Data Store id. This id is in the output from the initial Data Store creation call.</p>\n@param datastoreId The AWS-generated Data Store id. This id is in the output from the initial Data Store creation call.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "datastoreId",
            "variableType" : "String",
            "documentation" : "<p>The AWS-generated Data Store id. This id is in the output from the initial Data Store creation call.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "DatastoreStatus" : {
          "c2jName" : "DatastoreStatus",
          "c2jShape" : "DatastoreStatus",
          "deprecated" : false,
          "documentation" : "<p>The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’, ‘DELETED’.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "DatastoreStatus",
          "fluentSetterDocumentation" : "/**<p>The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’, ‘DELETED’.</p>\n@param datastoreStatus The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’, ‘DELETED’.\n@return Returns a reference to this object so that method calls can be chained together.\n@see DatastoreStatus*/",
          "fluentSetterMethodName" : "withDatastoreStatus",
          "getterDocumentation" : "/**<p>The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’, ‘DELETED’.</p>\n@return The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’, ‘DELETED’.\n@see DatastoreStatus*/",
          "getterMethodName" : "getDatastoreStatus",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DatastoreStatus",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DatastoreStatus",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "DatastoreStatus",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’, ‘DELETED’.</p>\n@param datastoreStatus The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’, ‘DELETED’.\n@see DatastoreStatus*/",
          "setterMethodName" : "setDatastoreStatus",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "datastoreStatus",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’, ‘DELETED’.</p>\n@param datastoreStatus The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’, ‘DELETED’.\n@return Returns a reference to this object so that method calls can be chained together.\n@see DatastoreStatus*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "datastoreStatus",
            "variableType" : "String",
            "documentation" : "<p>The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’, ‘DELETED’.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.healthlake.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "DatastoreId", "DatastoreArn", "DatastoreStatus", "DatastoreEndpoint" ],
      "shapeName" : "CreateFHIRDatastoreResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateFHIRDatastoreResult",
        "variableName" : "createFHIRDatastoreResult",
        "variableType" : "CreateFHIRDatastoreResult",
        "documentation" : null,
        "simpleType" : "CreateFHIRDatastoreResult",
        "variableSetterType" : "CreateFHIRDatastoreResult"
      },
      "wrapper" : false
    },
    "DatastoreFilter" : {
      "c2jName" : "DatastoreFilter",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The filters applied to Data Store query.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.healthlake.model.DatastoreFilter",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "DatastoreName",
        "c2jShape" : "DatastoreName",
        "deprecated" : false,
        "documentation" : "<p>Allows the user to filter Data Store results by name.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Allows the user to filter Data Store results by name.</p>\n@param datastoreName Allows the user to filter Data Store results by name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDatastoreName",
        "getterDocumentation" : "/**<p>Allows the user to filter Data Store results by name.</p>\n@return Allows the user to filter Data Store results by name.*/",
        "getterMethodName" : "getDatastoreName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DatastoreName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DatastoreName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DatastoreName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Allows the user to filter Data Store results by name.</p>\n@param datastoreName Allows the user to filter Data Store results by name.*/",
        "setterMethodName" : "setDatastoreName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "datastoreName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Allows the user to filter Data Store results by name.</p>\n@param datastoreName Allows the user to filter Data Store results by name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "datastoreName",
          "variableType" : "String",
          "documentation" : "<p>Allows the user to filter Data Store results by name.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DatastoreStatus",
        "c2jShape" : "DatastoreStatus",
        "deprecated" : false,
        "documentation" : "<p>Allows the user to filter Data Store results by status.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "DatastoreStatus",
        "fluentSetterDocumentation" : "/**<p>Allows the user to filter Data Store results by status.</p>\n@param datastoreStatus Allows the user to filter Data Store results by status.\n@return Returns a reference to this object so that method calls can be chained together.\n@see DatastoreStatus*/",
        "fluentSetterMethodName" : "withDatastoreStatus",
        "getterDocumentation" : "/**<p>Allows the user to filter Data Store results by status.</p>\n@return Allows the user to filter Data Store results by status.\n@see DatastoreStatus*/",
        "getterMethodName" : "getDatastoreStatus",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DatastoreStatus",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DatastoreStatus",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "DatastoreStatus",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Allows the user to filter Data Store results by status.</p>\n@param datastoreStatus Allows the user to filter Data Store results by status.\n@see DatastoreStatus*/",
        "setterMethodName" : "setDatastoreStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "datastoreStatus",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Allows the user to filter Data Store results by status.</p>\n@param datastoreStatus Allows the user to filter Data Store results by status.\n@return Returns a reference to this object so that method calls can be chained together.\n@see DatastoreStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "datastoreStatus",
          "variableType" : "String",
          "documentation" : "<p>Allows the user to filter Data Store results by status.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreatedBefore",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>A filter that allows the user to set cutoff dates for records. All Data Stores created before the specified date will be included in the results. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A filter that allows the user to set cutoff dates for records. All Data Stores created before the specified date will be included in the results. </p>\n@param createdBefore A filter that allows the user to set cutoff dates for records. All Data Stores created before the specified date will be included in the results.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedBefore",
        "getterDocumentation" : "/**<p>A filter that allows the user to set cutoff dates for records. All Data Stores created before the specified date will be included in the results. </p>\n@return A filter that allows the user to set cutoff dates for records. All Data Stores created before the specified date will be included in the results.*/",
        "getterMethodName" : "getCreatedBefore",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CreatedBefore",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CreatedBefore",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreatedBefore",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A filter that allows the user to set cutoff dates for records. All Data Stores created before the specified date will be included in the results. </p>\n@param createdBefore A filter that allows the user to set cutoff dates for records. All Data Stores created before the specified date will be included in the results.*/",
        "setterMethodName" : "setCreatedBefore",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdBefore",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A filter that allows the user to set cutoff dates for records. All Data Stores created before the specified date will be included in the results. </p>\n@param createdBefore A filter that allows the user to set cutoff dates for records. All Data Stores created before the specified date will be included in the results.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdBefore",
          "variableType" : "java.util.Date",
          "documentation" : "<p>A filter that allows the user to set cutoff dates for records. All Data Stores created before the specified date will be included in the results. </p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "CreatedAfter",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
[...]
