{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-03-01",
    "asyncClient" : "AmazonHoneycodeAsyncClient",
    "asyncClientBuilderClassName" : "AmazonHoneycodeAsyncClientBuilder",
    "asyncInterface" : "AmazonHoneycodeAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AmazonHoneycodeModuleInjector",
    "defaultEndpoint" : "honeycode.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "honeycode.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p> Amazon Honeycode is a fully managed service that allows you to quickly build mobile and web apps for teams—without programming. Build Honeycode apps for managing almost anything, like projects, customers, operations, approvals, resources, and even your team. </p>",
    "endpointPrefix" : "honeycode",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.honeycode",
    "packagePath" : "com/amazonaws/services/honeycode",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "Honeycode",
    "serviceFullName" : "Amazon Honeycode",
    "serviceId" : "Honeycode",
    "serviceName" : "Honeycode",
    "signingName" : "honeycode",
    "smokeTestsPackageName" : "com.amazonaws.services.honeycode.smoketests",
    "syncClient" : "AmazonHoneycodeClient",
    "syncClientBuilderClassName" : "AmazonHoneycodeClientBuilder",
    "syncInterface" : "AmazonHoneycode",
    "uid" : "honeycode-2020-03-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchCreateTableRows" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchCreateTableRowsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchCreateTableRowsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchCreateTableRowsRequest, BatchCreateTableRowsResult>",
      "asyncReturnType" : "BatchCreateTableRowsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The BatchCreateTableRows API allows you to create one or more rows at the end of a table in a workbook. The API allows you to specify the values to set in some or all of the columns in the new rows. </p> <p> If a column is not explicitly set in a specific row, then the column level formula specified in the table will be applied to the new row. If there is no column level formula but the last row of the table has a formula, then that formula will be copied down to the new row. If there is no column level formula and no formula in the last row of the table, then that column will be left blank for the new rows. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You do not have sufficient access to perform this action. Check that the workbook is owned by you and your IAM policy allows access to the resource in the request. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There were unexpected errors from the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "RequestTimeoutException",
        "documentation" : "<p>The request timed out.</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A Workbook, Table, App, Screen or Screen Automation was not found with the given ID.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> The request caused service quota to be breached. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Remote service is unreachable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Tps(transactions per second) rate reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Request is invalid. The message in the response contains details on why the request is invalid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchCreateTableRowsRequest",
        "variableName" : "batchCreateTableRowsRequest",
        "variableType" : "BatchCreateTableRowsRequest",
        "documentation" : "",
        "simpleType" : "BatchCreateTableRowsRequest",
        "variableSetterType" : "BatchCreateTableRowsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchCreateTableRows",
      "operationName" : "BatchCreateTableRows",
      "returnType" : {
        "returnType" : "BatchCreateTableRowsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchCreateTableRowsResult"
    },
    "BatchDeleteTableRows" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchDeleteTableRowsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchDeleteTableRowsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchDeleteTableRowsRequest, BatchDeleteTableRowsResult>",
      "asyncReturnType" : "BatchDeleteTableRowsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The BatchDeleteTableRows API allows you to delete one or more rows from a table in a workbook. You need to specify the ids of the rows that you want to delete from the table. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You do not have sufficient access to perform this action. Check that the workbook is owned by you and your IAM policy allows access to the resource in the request. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There were unexpected errors from the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A Workbook, Table, App, Screen or Screen Automation was not found with the given ID.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Remote service is unreachable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Request is invalid. The message in the response contains details on why the request is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RequestTimeoutException",
        "documentation" : "<p>The request timed out.</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Tps(transactions per second) rate reached.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchDeleteTableRowsRequest",
        "variableName" : "batchDeleteTableRowsRequest",
        "variableType" : "BatchDeleteTableRowsRequest",
        "documentation" : "",
        "simpleType" : "BatchDeleteTableRowsRequest",
        "variableSetterType" : "BatchDeleteTableRowsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchDeleteTableRows",
      "operationName" : "BatchDeleteTableRows",
      "returnType" : {
        "returnType" : "BatchDeleteTableRowsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchDeleteTableRowsResult"
    },
    "BatchUpdateTableRows" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchUpdateTableRowsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchUpdateTableRowsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchUpdateTableRowsRequest, BatchUpdateTableRowsResult>",
      "asyncReturnType" : "BatchUpdateTableRowsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The BatchUpdateTableRows API allows you to update one or more rows in a table in a workbook. </p> <p> You can specify the values to set in some or all of the columns in the table for the specified rows. If a column is not explicitly specified in a particular row, then that column will not be updated for that row. To clear out the data in a specific cell, you need to set the value as an empty string (\"\"). </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You do not have sufficient access to perform this action. Check that the workbook is owned by you and your IAM policy allows access to the resource in the request. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There were unexpected errors from the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A Workbook, Table, App, Screen or Screen Automation was not found with the given ID.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Remote service is unreachable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Request is invalid. The message in the response contains details on why the request is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RequestTimeoutException",
        "documentation" : "<p>The request timed out.</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Tps(transactions per second) rate reached.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchUpdateTableRowsRequest",
        "variableName" : "batchUpdateTableRowsRequest",
        "variableType" : "BatchUpdateTableRowsRequest",
        "documentation" : "",
        "simpleType" : "BatchUpdateTableRowsRequest",
        "variableSetterType" : "BatchUpdateTableRowsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchUpdateTableRows",
      "operationName" : "BatchUpdateTableRows",
      "returnType" : {
        "returnType" : "BatchUpdateTableRowsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchUpdateTableRowsResult"
    },
    "BatchUpsertTableRows" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchUpsertTableRowsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchUpsertTableRowsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchUpsertTableRowsRequest, BatchUpsertTableRowsResult>",
      "asyncReturnType" : "BatchUpsertTableRowsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The BatchUpsertTableRows API allows you to upsert one or more rows in a table. The upsert operation takes a filter expression as input and evaluates it to find matching rows on the destination table. If matching rows are found, it will update the cells in the matching rows to new values specified in the request. If no matching rows are found, a new row is added at the end of the table and the cells in that row are set to the new values specified in the request. </p> <p> You can specify the values to set in some or all of the columns in the table for the matching or newly appended rows. If a column is not explicitly specified for a particular row, then that column will not be updated for that row. To clear out the data in a specific cell, you need to set the value as an empty string (\"\"). </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You do not have sufficient access to perform this action. Check that the workbook is owned by you and your IAM policy allows access to the resource in the request. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There were unexpected errors from the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "RequestTimeoutException",
        "documentation" : "<p>The request timed out.</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A Workbook, Table, App, Screen or Screen Automation was not found with the given ID.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> The request caused service quota to be breached. </p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Remote service is unreachable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Tps(transactions per second) rate reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Request is invalid. The message in the response contains details on why the request is invalid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchUpsertTableRowsRequest",
        "variableName" : "batchUpsertTableRowsRequest",
        "variableType" : "BatchUpsertTableRowsRequest",
        "documentation" : "",
        "simpleType" : "BatchUpsertTableRowsRequest",
        "variableSetterType" : "BatchUpsertTableRowsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchUpsertTableRows",
      "operationName" : "BatchUpsertTableRows",
      "returnType" : {
        "returnType" : "BatchUpsertTableRowsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchUpsertTableRowsResult"
    },
    "DescribeTableDataImportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeTableDataImportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeTableDataImportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeTableDataImportJobRequest, DescribeTableDataImportJobResult>",
      "asyncReturnType" : "DescribeTableDataImportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The DescribeTableDataImportJob API allows you to retrieve the status and details of a table data import job. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You do not have sufficient access to perform this action. Check that the workbook is owned by you and your IAM policy allows access to the resource in the request. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There were unexpected errors from the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A Workbook, Table, App, Screen or Screen Automation was not found with the given ID.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Remote service is unreachable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Tps(transactions per second) rate reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Request is invalid. The message in the response contains details on why the request is invalid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeTableDataImportJobRequest",
        "variableName" : "describeTableDataImportJobRequest",
        "variableType" : "DescribeTableDataImportJobRequest",
        "documentation" : "",
        "simpleType" : "DescribeTableDataImportJobRequest",
        "variableSetterType" : "DescribeTableDataImportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeTableDataImportJob",
      "operationName" : "DescribeTableDataImportJob",
      "returnType" : {
        "returnType" : "DescribeTableDataImportJobResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeTableDataImportJobResult"
    },
    "GetScreenData" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetScreenDataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetScreenDataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetScreenDataRequest, GetScreenDataResult>",
      "asyncReturnType" : "GetScreenDataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The GetScreenData API allows retrieval of data from a screen in a Honeycode app. The API allows setting local variables in the screen to filter, sort or otherwise affect what will be displayed on the screen. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You do not have sufficient access to perform this action. Check that the workbook is owned by you and your IAM policy allows access to the resource in the request. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There were unexpected errors from the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "RequestTimeoutException",
        "documentation" : "<p>The request timed out.</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A Workbook, Table, App, Screen or Screen Automation was not found with the given ID.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Remote service is unreachable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Tps(transactions per second) rate reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Request is invalid. The message in the response contains details on why the request is invalid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetScreenDataRequest",
        "variableName" : "getScreenDataRequest",
        "variableType" : "GetScreenDataRequest",
        "documentation" : "",
        "simpleType" : "GetScreenDataRequest",
        "variableSetterType" : "GetScreenDataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getScreenData",
      "operationName" : "GetScreenData",
      "returnType" : {
        "returnType" : "GetScreenDataResult",
        "documentation" : null
      },
      "syncReturnType" : "GetScreenDataResult"
    },
    "InvokeScreenAutomation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InvokeScreenAutomationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InvokeScreenAutomationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InvokeScreenAutomationRequest, InvokeScreenAutomationResult>",
      "asyncReturnType" : "InvokeScreenAutomationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The InvokeScreenAutomation API allows invoking an action defined in a screen in a Honeycode app. The API allows setting local variables, which can then be used in the automation being invoked. This allows automating the Honeycode app interactions to write, update or delete data in the workbook. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You do not have sufficient access to perform this action. Check that the workbook is owned by you and your IAM policy allows access to the resource in the request. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There were unexpected errors from the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A Workbook, Table, App, Screen or Screen Automation was not found with the given ID.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Request is invalid. The message in the response contains details on why the request is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Tps(transactions per second) rate reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Remote service is unreachable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "AutomationExecutionException",
        "documentation" : "<p>The automation execution did not end successfully.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AutomationExecutionTimeoutException",
        "documentation" : "<p>The automation execution timed out.</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "RequestTimeoutException",
        "documentation" : "<p>The request timed out.</p>",
        "httpStatusCode" : 504
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InvokeScreenAutomationRequest",
        "variableName" : "invokeScreenAutomationRequest",
        "variableType" : "InvokeScreenAutomationRequest",
        "documentation" : "",
        "simpleType" : "InvokeScreenAutomationRequest",
        "variableSetterType" : "InvokeScreenAutomationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "invokeScreenAutomation",
      "operationName" : "InvokeScreenAutomation",
      "returnType" : {
        "returnType" : "InvokeScreenAutomationResult",
        "documentation" : null
      },
      "syncReturnType" : "InvokeScreenAutomationResult"
    },
    "ListTableColumns" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTableColumnsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTableColumnsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTableColumnsRequest, ListTableColumnsResult>",
      "asyncReturnType" : "ListTableColumnsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The ListTableColumns API allows you to retrieve a list of all the columns in a table in a workbook. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You do not have sufficient access to perform this action. Check that the workbook is owned by you and your IAM policy allows access to the resource in the request. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There were unexpected errors from the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "RequestTimeoutException",
        "documentation" : "<p>The request timed out.</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A Workbook, Table, App, Screen or Screen Automation was not found with the given ID.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Remote service is unreachable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Tps(transactions per second) rate reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Request is invalid. The message in the response contains details on why the request is invalid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTableColumnsRequest",
        "variableName" : "listTableColumnsRequest",
        "variableType" : "ListTableColumnsRequest",
        "documentation" : "",
        "simpleType" : "ListTableColumnsRequest",
        "variableSetterType" : "ListTableColumnsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTableColumns",
      "operationName" : "ListTableColumns",
      "returnType" : {
        "returnType" : "ListTableColumnsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTableColumnsResult"
    },
    "ListTableRows" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTableRowsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTableRowsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTableRowsRequest, ListTableRowsResult>",
      "asyncReturnType" : "ListTableRowsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The ListTableRows API allows you to retrieve a list of all the rows in a table in a workbook. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You do not have sufficient access to perform this action. Check that the workbook is owned by you and your IAM policy allows access to the resource in the request. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There were unexpected errors from the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A Workbook, Table, App, Screen or Screen Automation was not found with the given ID.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Remote service is unreachable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Request is invalid. The message in the response contains details on why the request is invalid. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "RequestTimeoutException",
        "documentation" : "<p>The request timed out.</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Tps(transactions per second) rate reached.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTableRowsRequest",
        "variableName" : "listTableRowsRequest",
        "variableType" : "ListTableRowsRequest",
        "documentation" : "",
        "simpleType" : "ListTableRowsRequest",
        "variableSetterType" : "ListTableRowsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTableRows",
      "operationName" : "ListTableRows",
      "returnType" : {
        "returnType" : "ListTableRowsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTableRowsResult"
    },
    "ListTables" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTablesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTablesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTablesRequest, ListTablesResult>",
      "asyncReturnType" : "ListTablesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The ListTables API allows you to retrieve a list of all the tables in a workbook. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You do not have sufficient access to perform this action. Check that the workbook is owned by you and your IAM policy allows access to the resource in the request. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There were unexpected errors from the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "RequestTimeoutException",
        "documentation" : "<p>The request timed out.</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A Workbook, Table, App, Screen or Screen Automation was not found with the given ID.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Remote service is unreachable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Tps(transactions per second) rate reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Request is invalid. The message in the response contains details on why the request is invalid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTablesRequest",
        "variableName" : "listTablesRequest",
        "variableType" : "ListTablesRequest",
        "documentation" : "",
        "simpleType" : "ListTablesRequest",
        "variableSetterType" : "ListTablesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTables",
      "operationName" : "ListTables",
      "returnType" : {
        "returnType" : "ListTablesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTablesResult"
    },
    "QueryTableRows" : {
      "asyncCallableType" : "java.util.concurrent.Callable<QueryTableRowsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<QueryTableRowsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<QueryTableRowsRequest, QueryTableRowsResult>",
      "asyncReturnType" : "QueryTableRowsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The QueryTableRows API allows you to use a filter formula to query for specific rows in a table. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You do not have sufficient access to perform this action. Check that the workbook is owned by you and your IAM policy allows access to the resource in the request. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There were unexpected errors from the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "RequestTimeoutException",
        "documentation" : "<p>The request timed out.</p>",
        "httpStatusCode" : 504
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A Workbook, Table, App, Screen or Screen Automation was not found with the given ID.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Remote service is unreachable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Tps(transactions per second) rate reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Request is invalid. The message in the response contains details on why the request is invalid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "QueryTableRowsRequest",
        "variableName" : "queryTableRowsRequest",
        "variableType" : "QueryTableRowsRequest",
        "documentation" : "",
        "simpleType" : "QueryTableRowsRequest",
        "variableSetterType" : "QueryTableRowsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "queryTableRows",
      "operationName" : "QueryTableRows",
      "returnType" : {
        "returnType" : "QueryTableRowsResult",
        "documentation" : null
      },
      "syncReturnType" : "QueryTableRowsResult"
    },
    "StartTableDataImportJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartTableDataImportJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartTableDataImportJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartTableDataImportJobRequest, StartTableDataImportJobResult>",
      "asyncReturnType" : "StartTableDataImportJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> The StartTableDataImportJob API allows you to start an import job on a table. This API will only return the id of the job that was started. To find out the status of the import request, you need to call the DescribeTableDataImportJob API. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p> You do not have sufficient access to perform this action. Check that the workbook is owned by you and your IAM policy allows access to the resource in the request. </p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>There were unexpected errors from the server.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>A Workbook, Table, App, Screen or Screen Automation was not found with the given ID.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>Remote service is unreachable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Tps(transactions per second) rate reached.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p> Request is invalid. The message in the response contains details on why the request is invalid. </p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartTableDataImportJobRequest",
        "variableName" : "startTableDataImportJobRequest",
        "variableType" : "StartTableDataImportJobRequest",
        "documentation" : "",
        "simpleType" : "StartTableDataImportJobRequest",
        "variableSetterType" : "StartTableDataImportJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startTableDataImportJob",
      "operationName" : "StartTableDataImportJob",
      "returnType" : {
        "returnType" : "StartTableDataImportJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartTableDataImportJobResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p> You do not have sufficient access to perform this action. Check that the workbook is owned by you and your IAM policy allows access to the resource in the request. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.honeycode.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.honeycode.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AutomationExecutionException" : {
      "c2jName" : "AutomationExecutionException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The automation execution did not end successfully.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AutomationExecutionException",
      "fullyQualifiedName" : "com.amazonaws.services.honeycode.exception.AutomationExecutionException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.honeycode.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AutomationExecutionException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AutomationExecutionException",
        "variableName" : "automationExecutionException",
        "variableType" : "AutomationExecutionException",
        "documentation" : null,
        "simpleType" : "AutomationExecutionException",
        "variableSetterType" : "AutomationExecutionException"
      },
      "wrapper" : false
    },
    "AutomationExecutionTimeoutException" : {
      "c2jName" : "AutomationExecutionTimeoutException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The automation execution timed out.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AutomationExecutionTimeoutException",
      "fullyQualifiedName" : "com.amazonaws.services.honeycode.exception.AutomationExecutionTimeoutException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.honeycode.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AutomationExecutionTimeoutException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AutomationExecutionTimeoutException",
        "variableName" : "automationExecutionTimeoutException",
        "variableType" : "AutomationExecutionTimeoutException",
        "documentation" : null,
        "simpleType" : "AutomationExecutionTimeoutException",
        "variableSetterType" : "AutomationExecutionTimeoutException"
      },
      "wrapper" : false
    },
    "BatchCreateTableRowsRequest" : {
      "c2jName" : "BatchCreateTableRowsRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.honeycode.request.BatchCreateTableRowsRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchCreateTableRows",
        "locationName" : null,
        "requestUri" : "/workbooks/{workbookId}/tables/{tableId}/rows/batchcreate",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "workbookId",
        "c2jShape" : "ResourceId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the workbook where the new rows are being added.</p> <p> If a workbook with the specified ID could not be found, this API throws ResourceNotFoundException. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the workbook where the new rows are being added.</p> <p> If a workbook with the specified ID could not be found, this API throws ResourceNotFoundException. </p>\n@param workbookId The ID of the workbook where the new rows are being added.</p> <p> If a workbook with the specified ID could not be found, this API throws ResourceNotFoundException.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withWorkbookId",
        "getterDocumentation" : "/**<p>The ID of the workbook where the new rows are being added.</p> <p> If a workbook with the specified ID could not be found, this API throws ResourceNotFoundException. </p>\n@return The ID of the workbook where the new rows are being added.</p> <p> If a workbook with the specified ID could not be found, this API throws ResourceNotFoundException.*/",
        "getterMethodName" : "getWorkbookId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "workbookId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "workbookId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "WorkbookId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the workbook where the new rows are being added.</p> <p> If a workbook with the specified ID could not be found, this API throws ResourceNotFoundException. </p>\n@param workbookId The ID of the workbook where the new rows are being added.</p> <p> If a workbook with the specified ID could not be found, this API throws ResourceNotFoundException.*/",
        "setterMethodName" : "setWorkbookId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "workbookId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the workbook where the new rows are being added.</p> <p> If a workbook with the specified ID could not be found, this API throws ResourceNotFoundException. </p>\n@param workbookId The ID of the workbook where the new rows are being added.</p> <p> If a workbook with the specified ID could not be found, this API throws ResourceNotFoundException.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "workbookId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the workbook where the new rows are being added.</p> <p> If a workbook with the specified ID could not be found, this API throws ResourceNotFoundException. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "tableId",
        "c2jShape" : "ResourceId",
        "deprecated" : false,
        "documentation" : "<p>The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException. </p>\n@param tableId The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTableId",
        "getterDocumentation" : "/**<p>The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException. </p>\n@return The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException.*/",
        "getterMethodName" : "getTableId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "tableId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "tableId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "TableId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException. </p>\n@param tableId The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException.*/",
        "setterMethodName" : "setTableId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "tableId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException. </p>\n@param tableId The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "tableId",
          "variableType" : "String",
          "documentation" : "<p>The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "rowsToCreate",
        "c2jShape" : "CreateRowDataList",
        "deprecated" : false,
        "documentation" : "<p> The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table. </p>\n@param rowsToCreate The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRowsToCreate",
        "getterDocumentation" : "/**<p> The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table. </p>\n@return The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table.*/",
        "getterMethodName" : "getRowsToCreate",
        "getterModel" : {
          "returnType" : "java.util.List<CreateRowData>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "rowsToCreate",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "rowsToCreate",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "CreateRowData",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "CreateRowData",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "CreateRowData",
              "variableName" : "member",
              "variableType" : "CreateRowData",
              "documentation" : "",
              "simpleType" : "CreateRowData",
              "variableSetterType" : "CreateRowData"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "CreateRowData",
              "variableName" : "member",
              "variableType" : "CreateRowData",
              "documentation" : "",
              "simpleType" : "CreateRowData",
              "variableSetterType" : "CreateRowData"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "CreateRowData",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "CreateRowData",
          "templateImplType" : "java.util.ArrayList<CreateRowData>",
          "templateType" : "java.util.List<CreateRowData>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "RowsToCreate",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table. </p>\n@param rowsToCreate The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table.*/",
        "setterMethodName" : "setRowsToCreate",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<CreateRowData>",
          "variableName" : "rowsToCreate",
          "variableType" : "java.util.List<CreateRowData>",
          "documentation" : "",
          "simpleType" : "List<CreateRowData>",
          "variableSetterType" : "java.util.Collection<CreateRowData>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setRowsToCreate(java.util.Collection)} or {@link #withRowsToCreate(java.util.Collection)} if you want to override the existing values.</p>\n@param rowsToCreate The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<CreateRowData>",
          "variableName" : "rowsToCreate",
          "variableType" : "java.util.List<CreateRowData>",
          "documentation" : "<p> The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table. </p>",
          "simpleType" : "List<CreateRowData>",
          "variableSetterType" : "java.util.Collection<CreateRowData>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "clientRequestToken",
        "c2jShape" : "ClientRequestToken",
        "deprecated" : false,
        "documentation" : "<p> The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p> The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days. </p>\n@param clientRequestToken The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientRequestToken",
        "getterDocumentation" : "/**<p> The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days. </p>\n@return The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days.*/",
        "getterMethodName" : "getClientRequestToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientRequestToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientRequestToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientRequestToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p> The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days. </p>\n@param clientRequestToken The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days.*/",
        "setterMethodName" : "setClientRequestToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientRequestToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p> The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days. </p>\n@param clientRequestToken The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientRequestToken",
          "variableType" : "String",
          "documentation" : "<p> The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ClientRequestToken" : {
          "c2jName" : "clientRequestToken",
          "c2jShape" : "ClientRequestToken",
          "deprecated" : false,
          "documentation" : "<p> The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days. </p>\n@param clientRequestToken The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientRequestToken",
          "getterDocumentation" : "/**<p> The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days. </p>\n@return The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days.*/",
          "getterMethodName" : "getClientRequestToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clientRequestToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientRequestToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientRequestToken",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days. </p>\n@param clientRequestToken The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days.*/",
          "setterMethodName" : "setClientRequestToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientRequestToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days. </p>\n@param clientRequestToken The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientRequestToken",
            "variableType" : "String",
            "documentation" : "<p> The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "RowsToCreate" : {
          "c2jName" : "rowsToCreate",
          "c2jShape" : "CreateRowDataList",
          "deprecated" : false,
          "documentation" : "<p> The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p> The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table. </p>\n@param rowsToCreate The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRowsToCreate",
          "getterDocumentation" : "/**<p> The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table. </p>\n@return The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table.*/",
          "getterMethodName" : "getRowsToCreate",
          "getterModel" : {
            "returnType" : "java.util.List<CreateRowData>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "rowsToCreate",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "rowsToCreate",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "CreateRowData",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "CreateRowData",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "CreateRowData",
                "variableName" : "member",
                "variableType" : "CreateRowData",
                "documentation" : "",
                "simpleType" : "CreateRowData",
                "variableSetterType" : "CreateRowData"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "CreateRowData",
                "variableName" : "member",
                "variableType" : "CreateRowData",
                "documentation" : "",
                "simpleType" : "CreateRowData",
                "variableSetterType" : "CreateRowData"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "CreateRowData",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "CreateRowData",
            "templateImplType" : "java.util.ArrayList<CreateRowData>",
            "templateType" : "java.util.List<CreateRowData>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "RowsToCreate",
          "sensitive" : false,
          "setterDocumentation" : "/**<p> The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table. </p>\n@param rowsToCreate The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table.*/",
          "setterMethodName" : "setRowsToCreate",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<CreateRowData>",
            "variableName" : "rowsToCreate",
            "variableType" : "java.util.List<CreateRowData>",
            "documentation" : "",
            "simpleType" : "List<CreateRowData>",
            "variableSetterType" : "java.util.Collection<CreateRowData>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p> The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table. </p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setRowsToCreate(java.util.Collection)} or {@link #withRowsToCreate(java.util.Collection)} if you want to override the existing values.</p>\n@param rowsToCreate The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<CreateRowData>",
            "variableName" : "rowsToCreate",
            "variableType" : "java.util.List<CreateRowData>",
            "documentation" : "<p> The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table. </p>",
            "simpleType" : "List<CreateRowData>",
            "variableSetterType" : "java.util.Collection<CreateRowData>"
          },
          "xmlNameSpaceUri" : null
        },
        "TableId" : {
          "c2jName" : "tableId",
          "c2jShape" : "ResourceId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException. </p>\n@param tableId The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTableId",
          "getterDocumentation" : "/**<p>The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException. </p>\n@return The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException.*/",
          "getterMethodName" : "getTableId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "tableId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "tableId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "TableId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException. </p>\n@param tableId The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException.*/",
          "setterMethodName" : "setTableId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "tableId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException. </p>\n@param tableId The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "tableId",
            "variableType" : "String",
            "documentation" : "<p>The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException. </p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "WorkbookId" : {
          "c2jName" : "workbookId",
          "c2jShape" : "ResourceId",
          "deprecated" : false,
          "documentation" : "<p>The ID of the workbook where the new rows are being added.</p> <p> If a workbook with the specified ID could not be found, this API throws ResourceNotFoundException. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The ID of the workbook where the new rows are being added.</p> <p> If a workbook with the specified ID could not be found, this API throws ResourceNotFoundException. </p>\n@param workbookId The ID of the workbook where the new rows are being added.</p> <p> If a workbook with the specified ID could not be found, this API throws ResourceNotFoundException.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withWorkbookId",
          "getterDocumentation" : "/**<p>The ID of the workbook where the new rows are being added.</p> <p> If a workbook with the specified ID could not be found, this API throws ResourceNotFoundException. </p>\n@return The ID of the workbook where the new rows are being added.</p> <p> If a workbook with the specified ID could not be found, this API throws ResourceNotFoundException.*/",
          "getterMethodName" : "getWorkbookId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "workbookId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "workbookId",
            "uri" : true
          },
[...]
