{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2019-12-02",
    "asyncClient" : "AWSimagebuilderAsyncClient",
    "asyncClientBuilderClassName" : "AWSimagebuilderAsyncClientBuilder",
    "asyncInterface" : "AWSimagebuilderAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "",
    "cucumberModuleInjectorClassName" : "AWSimagebuilderModuleInjector",
    "defaultEndpoint" : "imagebuilder.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "imagebuilder.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>EC2 Image Builder is a fully managed AWS service that makes it easier to automate the creation, management, and deployment of customized, secure, and up-to-date “golden” server images that are pre-installed and pre-configured with software and settings to meet specific IT standards.</p>",
    "endpointPrefix" : "imagebuilder",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.imagebuilder",
    "packagePath" : "com/amazonaws/services/imagebuilder",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "imagebuilder",
    "serviceFullName" : "EC2 Image Builder",
    "serviceId" : "imagebuilder",
    "serviceName" : "imagebuilder",
    "signingName" : "imagebuilder",
    "smokeTestsPackageName" : "com.amazonaws.services.imagebuilder.smoketests",
    "syncClient" : "AWSimagebuilderClient",
    "syncClientBuilderClassName" : "AWSimagebuilderClientBuilder",
    "syncInterface" : "AWSimagebuilder",
    "uid" : "imagebuilder-2019-12-02",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CancelImageCreation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CancelImageCreationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CancelImageCreationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CancelImageCreationRequest, CancelImageCreationResult>",
      "asyncReturnType" : "CancelImageCreationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>CancelImageCreation cancels the creation of Image. This operation can only be used on images in a non-terminal state.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>You have specified a client token for an operation using parameter values that differ from a previous request that used the same client token.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource that you are trying to operate on is currently in use. Review the message details and retry later.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CancelImageCreationRequest",
        "variableName" : "cancelImageCreationRequest",
        "variableType" : "CancelImageCreationRequest",
        "documentation" : "",
        "simpleType" : "CancelImageCreationRequest",
        "variableSetterType" : "CancelImageCreationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "cancelImageCreation",
      "operationName" : "CancelImageCreation",
      "returnType" : {
        "returnType" : "CancelImageCreationResult",
        "documentation" : null
      },
      "syncReturnType" : "CancelImageCreationResult"
    },
    "CreateComponent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateComponentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateComponentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateComponentRequest, CreateComponentResult>",
      "asyncReturnType" : "CreateComponentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new component that can be used to build, validate, test, and assess your image.</p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>You have specified a client token for an operation using parameter values that differ from a previous request that used the same client token.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidVersionNumberException",
        "documentation" : "<p>Your version number is out of bounds or does not follow the required syntax.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource that you are trying to operate on is currently in use. Review the message details and retry later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>You have specified two or more mutually exclusive parameters. Review the error message for details.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateComponentRequest",
        "variableName" : "createComponentRequest",
        "variableType" : "CreateComponentRequest",
        "documentation" : "",
        "simpleType" : "CreateComponentRequest",
        "variableSetterType" : "CreateComponentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createComponent",
      "operationName" : "CreateComponent",
      "returnType" : {
        "returnType" : "CreateComponentResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateComponentResult"
    },
    "CreateDistributionConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDistributionConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDistributionConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDistributionConfigurationRequest, CreateDistributionConfigurationResult>",
      "asyncReturnType" : "CreateDistributionConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new distribution configuration. Distribution configurations define and configure the outputs of your pipeline. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>You have specified a client token for an operation using parameter values that differ from a previous request that used the same client token.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource that you are trying to operate on is currently in use. Review the message details and retry later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource that you are trying to create already exists.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>You have specified two or more mutually exclusive parameters. Review the error message for details.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDistributionConfigurationRequest",
        "variableName" : "createDistributionConfigurationRequest",
        "variableType" : "CreateDistributionConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateDistributionConfigurationRequest",
        "variableSetterType" : "CreateDistributionConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDistributionConfiguration",
      "operationName" : "CreateDistributionConfiguration",
      "returnType" : {
        "returnType" : "CreateDistributionConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDistributionConfigurationResult"
    },
    "CreateImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateImageRequest, CreateImageResult>",
      "asyncReturnType" : "CreateImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a new image. This request will create a new image along with all of the configured output resources defined in the distribution configuration. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>You have specified a client token for an operation using parameter values that differ from a previous request that used the same client token.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource that you are trying to operate on is currently in use. Review the message details and retry later.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateImageRequest",
        "variableName" : "createImageRequest",
        "variableType" : "CreateImageRequest",
        "documentation" : "",
        "simpleType" : "CreateImageRequest",
        "variableSetterType" : "CreateImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createImage",
      "operationName" : "CreateImage",
      "returnType" : {
        "returnType" : "CreateImageResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateImageResult"
    },
    "CreateImagePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateImagePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateImagePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateImagePipelineRequest, CreateImagePipelineResult>",
      "asyncReturnType" : "CreateImagePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a new image pipeline. Image pipelines enable you to automate the creation and distribution of images. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>You have specified a client token for an operation using parameter values that differ from a previous request that used the same client token.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource that you are trying to operate on is currently in use. Review the message details and retry later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource that you are trying to create already exists.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateImagePipelineRequest",
        "variableName" : "createImagePipelineRequest",
        "variableType" : "CreateImagePipelineRequest",
        "documentation" : "",
        "simpleType" : "CreateImagePipelineRequest",
        "variableSetterType" : "CreateImagePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createImagePipeline",
      "operationName" : "CreateImagePipeline",
      "returnType" : {
        "returnType" : "CreateImagePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateImagePipelineResult"
    },
    "CreateImageRecipe" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateImageRecipeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateImageRecipeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateImageRecipeRequest, CreateImageRecipeResult>",
      "asyncReturnType" : "CreateImageRecipeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a new image recipe. Image recipes define how images are configured, tested, and assessed. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>You have specified a client token for an operation using parameter values that differ from a previous request that used the same client token.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidVersionNumberException",
        "documentation" : "<p>Your version number is out of bounds or does not follow the required syntax.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource that you are trying to operate on is currently in use. Review the message details and retry later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource that you are trying to create already exists.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateImageRecipeRequest",
        "variableName" : "createImageRecipeRequest",
        "variableType" : "CreateImageRecipeRequest",
        "documentation" : "",
        "simpleType" : "CreateImageRecipeRequest",
        "variableSetterType" : "CreateImageRecipeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createImageRecipe",
      "operationName" : "CreateImageRecipe",
      "returnType" : {
        "returnType" : "CreateImageRecipeResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateImageRecipeResult"
    },
    "CreateInfrastructureConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateInfrastructureConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateInfrastructureConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateInfrastructureConfigurationRequest, CreateInfrastructureConfigurationResult>",
      "asyncReturnType" : "CreateInfrastructureConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a new infrastructure configuration. An infrastructure configuration defines the environment in which your image will be built and tested. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>You have specified a client token for an operation using parameter values that differ from a previous request that used the same client token.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource that you are trying to operate on is currently in use. Review the message details and retry later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The resource that you are trying to create already exists.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateInfrastructureConfigurationRequest",
        "variableName" : "createInfrastructureConfigurationRequest",
        "variableType" : "CreateInfrastructureConfigurationRequest",
        "documentation" : "",
        "simpleType" : "CreateInfrastructureConfigurationRequest",
        "variableSetterType" : "CreateInfrastructureConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createInfrastructureConfiguration",
      "operationName" : "CreateInfrastructureConfiguration",
      "returnType" : {
        "returnType" : "CreateInfrastructureConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateInfrastructureConfigurationResult"
    },
    "DeleteComponent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteComponentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteComponentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteComponentRequest, DeleteComponentResult>",
      "asyncReturnType" : "DeleteComponentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes a component build version. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceDependencyException",
        "documentation" : "<p>You have attempted to mutate or delete a resource with a dependency that prohibits this action. See the error message for more details.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteComponentRequest",
        "variableName" : "deleteComponentRequest",
        "variableType" : "DeleteComponentRequest",
        "documentation" : "",
        "simpleType" : "DeleteComponentRequest",
        "variableSetterType" : "DeleteComponentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteComponent",
      "operationName" : "DeleteComponent",
      "returnType" : {
        "returnType" : "DeleteComponentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteComponentResult"
    },
    "DeleteDistributionConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDistributionConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDistributionConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDistributionConfigurationRequest, DeleteDistributionConfigurationResult>",
      "asyncReturnType" : "DeleteDistributionConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes a distribution configuration. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceDependencyException",
        "documentation" : "<p>You have attempted to mutate or delete a resource with a dependency that prohibits this action. See the error message for more details.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDistributionConfigurationRequest",
        "variableName" : "deleteDistributionConfigurationRequest",
        "variableType" : "DeleteDistributionConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteDistributionConfigurationRequest",
        "variableSetterType" : "DeleteDistributionConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDistributionConfiguration",
      "operationName" : "DeleteDistributionConfiguration",
      "returnType" : {
        "returnType" : "DeleteDistributionConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDistributionConfigurationResult"
    },
    "DeleteImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteImageRequest, DeleteImageResult>",
      "asyncReturnType" : "DeleteImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes an image. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceDependencyException",
        "documentation" : "<p>You have attempted to mutate or delete a resource with a dependency that prohibits this action. See the error message for more details.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteImageRequest",
        "variableName" : "deleteImageRequest",
        "variableType" : "DeleteImageRequest",
        "documentation" : "",
        "simpleType" : "DeleteImageRequest",
        "variableSetterType" : "DeleteImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteImage",
      "operationName" : "DeleteImage",
      "returnType" : {
        "returnType" : "DeleteImageResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteImageResult"
    },
    "DeleteImagePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteImagePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteImagePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteImagePipelineRequest, DeleteImagePipelineResult>",
      "asyncReturnType" : "DeleteImagePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes an image pipeline. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceDependencyException",
        "documentation" : "<p>You have attempted to mutate or delete a resource with a dependency that prohibits this action. See the error message for more details.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteImagePipelineRequest",
        "variableName" : "deleteImagePipelineRequest",
        "variableType" : "DeleteImagePipelineRequest",
        "documentation" : "",
        "simpleType" : "DeleteImagePipelineRequest",
        "variableSetterType" : "DeleteImagePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteImagePipeline",
      "operationName" : "DeleteImagePipeline",
      "returnType" : {
        "returnType" : "DeleteImagePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteImagePipelineResult"
    },
    "DeleteImageRecipe" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteImageRecipeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteImageRecipeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteImageRecipeRequest, DeleteImageRecipeResult>",
      "asyncReturnType" : "DeleteImageRecipeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes an image recipe. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceDependencyException",
        "documentation" : "<p>You have attempted to mutate or delete a resource with a dependency that prohibits this action. See the error message for more details.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteImageRecipeRequest",
        "variableName" : "deleteImageRecipeRequest",
        "variableType" : "DeleteImageRecipeRequest",
        "documentation" : "",
        "simpleType" : "DeleteImageRecipeRequest",
        "variableSetterType" : "DeleteImageRecipeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteImageRecipe",
      "operationName" : "DeleteImageRecipe",
      "returnType" : {
        "returnType" : "DeleteImageRecipeResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteImageRecipeResult"
    },
    "DeleteInfrastructureConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteInfrastructureConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteInfrastructureConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteInfrastructureConfigurationRequest, DeleteInfrastructureConfigurationResult>",
      "asyncReturnType" : "DeleteInfrastructureConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Deletes an infrastructure configuration. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceDependencyException",
        "documentation" : "<p>You have attempted to mutate or delete a resource with a dependency that prohibits this action. See the error message for more details.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteInfrastructureConfigurationRequest",
        "variableName" : "deleteInfrastructureConfigurationRequest",
        "variableType" : "DeleteInfrastructureConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteInfrastructureConfigurationRequest",
        "variableSetterType" : "DeleteInfrastructureConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteInfrastructureConfiguration",
      "operationName" : "DeleteInfrastructureConfiguration",
      "returnType" : {
        "returnType" : "DeleteInfrastructureConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteInfrastructureConfigurationResult"
    },
    "GetComponent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetComponentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetComponentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComponentRequest, GetComponentResult>",
      "asyncReturnType" : "GetComponentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Gets a component object. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetComponentRequest",
        "variableName" : "getComponentRequest",
        "variableType" : "GetComponentRequest",
        "documentation" : "",
        "simpleType" : "GetComponentRequest",
        "variableSetterType" : "GetComponentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getComponent",
      "operationName" : "GetComponent",
      "returnType" : {
        "returnType" : "GetComponentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetComponentResult"
    },
    "GetComponentPolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetComponentPolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetComponentPolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetComponentPolicyRequest, GetComponentPolicyResult>",
      "asyncReturnType" : "GetComponentPolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Gets a component policy. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>At least one of the resources referenced by your request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetComponentPolicyRequest",
        "variableName" : "getComponentPolicyRequest",
        "variableType" : "GetComponentPolicyRequest",
        "documentation" : "",
        "simpleType" : "GetComponentPolicyRequest",
        "variableSetterType" : "GetComponentPolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getComponentPolicy",
      "operationName" : "GetComponentPolicy",
      "returnType" : {
        "returnType" : "GetComponentPolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetComponentPolicyResult"
    },
    "GetDistributionConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDistributionConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDistributionConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDistributionConfigurationRequest, GetDistributionConfigurationResult>",
      "asyncReturnType" : "GetDistributionConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Gets a distribution configuration. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDistributionConfigurationRequest",
        "variableName" : "getDistributionConfigurationRequest",
        "variableType" : "GetDistributionConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetDistributionConfigurationRequest",
        "variableSetterType" : "GetDistributionConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDistributionConfiguration",
      "operationName" : "GetDistributionConfiguration",
      "returnType" : {
        "returnType" : "GetDistributionConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDistributionConfigurationResult"
    },
    "GetImage" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetImageResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetImageResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetImageRequest, GetImageResult>",
      "asyncReturnType" : "GetImageResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Gets an image. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetImageRequest",
        "variableName" : "getImageRequest",
        "variableType" : "GetImageRequest",
        "documentation" : "",
        "simpleType" : "GetImageRequest",
        "variableSetterType" : "GetImageRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getImage",
      "operationName" : "GetImage",
      "returnType" : {
        "returnType" : "GetImageResult",
        "documentation" : null
      },
      "syncReturnType" : "GetImageResult"
    },
    "GetImagePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetImagePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetImagePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetImagePipelineRequest, GetImagePipelineResult>",
      "asyncReturnType" : "GetImagePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Gets an image pipeline. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetImagePipelineRequest",
        "variableName" : "getImagePipelineRequest",
        "variableType" : "GetImagePipelineRequest",
        "documentation" : "",
        "simpleType" : "GetImagePipelineRequest",
        "variableSetterType" : "GetImagePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getImagePipeline",
      "operationName" : "GetImagePipeline",
      "returnType" : {
        "returnType" : "GetImagePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "GetImagePipelineResult"
    },
    "GetImagePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetImagePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetImagePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetImagePolicyRequest, GetImagePolicyResult>",
      "asyncReturnType" : "GetImagePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Gets an image policy. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>At least one of the resources referenced by your request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetImagePolicyRequest",
        "variableName" : "getImagePolicyRequest",
        "variableType" : "GetImagePolicyRequest",
        "documentation" : "",
        "simpleType" : "GetImagePolicyRequest",
        "variableSetterType" : "GetImagePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getImagePolicy",
      "operationName" : "GetImagePolicy",
      "returnType" : {
        "returnType" : "GetImagePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetImagePolicyResult"
    },
    "GetImageRecipe" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetImageRecipeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetImageRecipeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetImageRecipeRequest, GetImageRecipeResult>",
      "asyncReturnType" : "GetImageRecipeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Gets an image recipe. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetImageRecipeRequest",
        "variableName" : "getImageRecipeRequest",
        "variableType" : "GetImageRecipeRequest",
        "documentation" : "",
        "simpleType" : "GetImageRecipeRequest",
        "variableSetterType" : "GetImageRecipeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getImageRecipe",
      "operationName" : "GetImageRecipe",
      "returnType" : {
        "returnType" : "GetImageRecipeResult",
        "documentation" : null
      },
      "syncReturnType" : "GetImageRecipeResult"
    },
    "GetImageRecipePolicy" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetImageRecipePolicyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetImageRecipePolicyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetImageRecipePolicyRequest, GetImageRecipePolicyResult>",
      "asyncReturnType" : "GetImageRecipePolicyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Gets an image recipe policy. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>At least one of the resources referenced by your request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetImageRecipePolicyRequest",
        "variableName" : "getImageRecipePolicyRequest",
        "variableType" : "GetImageRecipePolicyRequest",
        "documentation" : "",
        "simpleType" : "GetImageRecipePolicyRequest",
        "variableSetterType" : "GetImageRecipePolicyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getImageRecipePolicy",
      "operationName" : "GetImageRecipePolicy",
      "returnType" : {
        "returnType" : "GetImageRecipePolicyResult",
        "documentation" : null
      },
      "syncReturnType" : "GetImageRecipePolicyResult"
    },
    "GetInfrastructureConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInfrastructureConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInfrastructureConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInfrastructureConfigurationRequest, GetInfrastructureConfigurationResult>",
      "asyncReturnType" : "GetInfrastructureConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Gets an infrastructure configuration. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetInfrastructureConfigurationRequest",
        "variableName" : "getInfrastructureConfigurationRequest",
        "variableType" : "GetInfrastructureConfigurationRequest",
        "documentation" : "<p> GetInfrastructureConfiguration request object. </p>",
        "simpleType" : "GetInfrastructureConfigurationRequest",
        "variableSetterType" : "GetInfrastructureConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInfrastructureConfiguration",
      "operationName" : "GetInfrastructureConfiguration",
      "returnType" : {
        "returnType" : "GetInfrastructureConfigurationResult",
        "documentation" : "<p>GetInfrastructureConfiguration response object. </p>"
      },
      "syncReturnType" : "GetInfrastructureConfigurationResult"
    },
    "ImportComponent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ImportComponentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ImportComponentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ImportComponentRequest, ImportComponentResult>",
      "asyncReturnType" : "ImportComponentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Imports a component and transforms its data into a component document. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "IdempotentParameterMismatchException",
        "documentation" : "<p>You have specified a client token for an operation using parameter values that differ from a previous request that used the same client token.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InvalidVersionNumberException",
        "documentation" : "<p>Your version number is out of bounds or does not follow the required syntax.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceInUseException",
        "documentation" : "<p>The resource that you are trying to operate on is currently in use. Review the message details and retry later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidParameterCombinationException",
        "documentation" : "<p>You have specified two or more mutually exclusive parameters. Review the error message for details.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ImportComponentRequest",
        "variableName" : "importComponentRequest",
        "variableType" : "ImportComponentRequest",
        "documentation" : "",
        "simpleType" : "ImportComponentRequest",
        "variableSetterType" : "ImportComponentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "importComponent",
      "operationName" : "ImportComponent",
      "returnType" : {
        "returnType" : "ImportComponentResult",
        "documentation" : null
      },
      "syncReturnType" : "ImportComponentResult"
    },
    "ListComponentBuildVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListComponentBuildVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListComponentBuildVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListComponentBuildVersionsRequest, ListComponentBuildVersionsResult>",
      "asyncReturnType" : "ListComponentBuildVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the list of component build versions for the specified semantic version. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>You have provided an invalid pagination token in your request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListComponentBuildVersionsRequest",
        "variableName" : "listComponentBuildVersionsRequest",
        "variableType" : "ListComponentBuildVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListComponentBuildVersionsRequest",
        "variableSetterType" : "ListComponentBuildVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listComponentBuildVersions",
      "operationName" : "ListComponentBuildVersions",
      "returnType" : {
        "returnType" : "ListComponentBuildVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListComponentBuildVersionsResult"
    },
    "ListComponents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListComponentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListComponentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListComponentsRequest, ListComponentsResult>",
      "asyncReturnType" : "ListComponentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the list of component build versions for the specified semantic version. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>You have provided an invalid pagination token in your request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListComponentsRequest",
        "variableName" : "listComponentsRequest",
        "variableType" : "ListComponentsRequest",
        "documentation" : "",
        "simpleType" : "ListComponentsRequest",
        "variableSetterType" : "ListComponentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listComponents",
      "operationName" : "ListComponents",
      "returnType" : {
        "returnType" : "ListComponentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListComponentsResult"
    },
    "ListDistributionConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDistributionConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDistributionConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDistributionConfigurationsRequest, ListDistributionConfigurationsResult>",
      "asyncReturnType" : "ListDistributionConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of distribution configurations. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>You have provided an invalid pagination token in your request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDistributionConfigurationsRequest",
        "variableName" : "listDistributionConfigurationsRequest",
        "variableType" : "ListDistributionConfigurationsRequest",
        "documentation" : "",
        "simpleType" : "ListDistributionConfigurationsRequest",
        "variableSetterType" : "ListDistributionConfigurationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDistributionConfigurations",
      "operationName" : "ListDistributionConfigurations",
      "returnType" : {
        "returnType" : "ListDistributionConfigurationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDistributionConfigurationsResult"
    },
    "ListImageBuildVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListImageBuildVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListImageBuildVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListImageBuildVersionsRequest, ListImageBuildVersionsResult>",
      "asyncReturnType" : "ListImageBuildVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of distribution configurations. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>You have provided an invalid pagination token in your request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListImageBuildVersionsRequest",
        "variableName" : "listImageBuildVersionsRequest",
        "variableType" : "ListImageBuildVersionsRequest",
        "documentation" : "",
        "simpleType" : "ListImageBuildVersionsRequest",
        "variableSetterType" : "ListImageBuildVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listImageBuildVersions",
      "operationName" : "ListImageBuildVersions",
      "returnType" : {
        "returnType" : "ListImageBuildVersionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListImageBuildVersionsResult"
    },
    "ListImagePipelineImages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListImagePipelineImagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListImagePipelineImagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListImagePipelineImagesRequest, ListImagePipelineImagesResult>",
      "asyncReturnType" : "ListImagePipelineImagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of images created by the specified pipeline. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>You have provided an invalid pagination token in your request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>At least one of the resources referenced by your request does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListImagePipelineImagesRequest",
        "variableName" : "listImagePipelineImagesRequest",
        "variableType" : "ListImagePipelineImagesRequest",
        "documentation" : "",
        "simpleType" : "ListImagePipelineImagesRequest",
        "variableSetterType" : "ListImagePipelineImagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listImagePipelineImages",
      "operationName" : "ListImagePipelineImages",
      "returnType" : {
        "returnType" : "ListImagePipelineImagesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListImagePipelineImagesResult"
    },
    "ListImagePipelines" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListImagePipelinesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListImagePipelinesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListImagePipelinesRequest, ListImagePipelinesResult>",
      "asyncReturnType" : "ListImagePipelinesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of image pipelines. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>You have provided an invalid pagination token in your request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListImagePipelinesRequest",
        "variableName" : "listImagePipelinesRequest",
        "variableType" : "ListImagePipelinesRequest",
        "documentation" : "",
        "simpleType" : "ListImagePipelinesRequest",
        "variableSetterType" : "ListImagePipelinesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listImagePipelines",
      "operationName" : "ListImagePipelines",
      "returnType" : {
        "returnType" : "ListImagePipelinesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListImagePipelinesResult"
    },
    "ListImageRecipes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListImageRecipesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListImageRecipesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListImageRecipesRequest, ListImageRecipesResult>",
      "asyncReturnType" : "ListImageRecipesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of image recipes. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>You have provided an invalid pagination token in your request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListImageRecipesRequest",
        "variableName" : "listImageRecipesRequest",
        "variableType" : "ListImageRecipesRequest",
        "documentation" : "",
        "simpleType" : "ListImageRecipesRequest",
        "variableSetterType" : "ListImageRecipesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listImageRecipes",
      "operationName" : "ListImageRecipes",
      "returnType" : {
        "returnType" : "ListImageRecipesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListImageRecipesResult"
    },
    "ListImages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListImagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListImagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListImagesRequest, ListImagesResult>",
      "asyncReturnType" : "ListImagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns the list of image build versions for the specified semantic version. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
        "documentation" : "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is unable to process your request at this time.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>You have made a request for an action that is not supported by the service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InvalidPaginationTokenException",
        "documentation" : "<p>You have provided an invalid pagination token in your request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>You are not authorized to perform the requested operation.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "CallRateLimitExceededException",
        "documentation" : "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListImagesRequest",
        "variableName" : "listImagesRequest",
        "variableType" : "ListImagesRequest",
        "documentation" : "",
        "simpleType" : "ListImagesRequest",
        "variableSetterType" : "ListImagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listImages",
      "operationName" : "ListImages",
      "returnType" : {
        "returnType" : "ListImagesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListImagesResult"
    },
    "ListInfrastructureConfigurations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInfrastructureConfigurationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInfrastructureConfigurationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInfrastructureConfigurationsRequest, ListInfrastructureConfigurationsResult>",
      "asyncReturnType" : "ListInfrastructureConfigurationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Returns a list of infrastructure configurations. </p>",
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceException",
        "documentation" : "<p>This exception is thrown when the service encounters an unrecoverable exception.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ClientException",
[...]
