{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : {
      "AccessDeniedException" : [ "inspectorErrorCode" ],
      "AssessmentRun" : [ "state" ],
      "AssessmentRunAgent" : [ "agentHealth", "agentHealthCode" ],
      "AssessmentRunNotification" : [ "event", "snsPublishStatusCode" ],
      "AssessmentRunStateChange" : [ "state" ],
      "DescribeFindingsRequest" : [ "locale" ],
      "DescribeRulesPackagesRequest" : [ "locale" ],
      "EventSubscription" : [ "event" ],
      "FailedItemDetails" : [ "failureCode" ],
      "Finding" : [ "assetType", "severity" ],
      "GetAssessmentReportRequest" : [ "reportFileFormat", "reportType" ],
      "GetAssessmentReportResponse" : [ "status" ],
      "InvalidCrossAccountRoleException" : [ "inspectorErrorCode" ],
      "InvalidInputException" : [ "inspectorErrorCode" ],
      "LimitExceededException" : [ "inspectorErrorCode" ],
      "NoSuchEntityException" : [ "inspectorErrorCode" ],
      "SubscribeToEventRequest" : [ "event" ],
      "UnsubscribeFromEventRequest" : [ "event" ]
    },
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : {
      "AccessDeniedException" : {
        "exclude" : null,
        "excludeShape" : false,
        "inject" : null,
        "modify" : [ {
          "errorCode" : {
            "emitAsType" : null,
            "emitEnumName" : null,
            "emitPropertyName" : "inspectorErrorCode",
            "marshallLocationName" : null,
            "unmarshallLocationName" : null
          }
        } ]
      },
      "InvalidCrossAccountRoleException" : {
        "exclude" : null,
        "excludeShape" : false,
        "inject" : null,
        "modify" : [ {
          "errorCode" : {
            "emitAsType" : null,
            "emitEnumName" : null,
            "emitPropertyName" : "inspectorErrorCode",
            "marshallLocationName" : null,
            "unmarshallLocationName" : null
          }
        } ]
      },
      "InvalidInputException" : {
        "exclude" : null,
        "excludeShape" : false,
        "inject" : null,
        "modify" : [ {
          "errorCode" : {
            "emitAsType" : null,
            "emitEnumName" : null,
            "emitPropertyName" : "inspectorErrorCode",
            "marshallLocationName" : null,
            "unmarshallLocationName" : null
          }
        } ]
      },
      "LimitExceededException" : {
        "exclude" : null,
        "excludeShape" : false,
        "inject" : null,
        "modify" : [ {
          "errorCode" : {
            "emitAsType" : null,
            "emitEnumName" : null,
            "emitPropertyName" : "inspectorErrorCode",
            "marshallLocationName" : null,
            "unmarshallLocationName" : null
          }
        } ]
      },
      "NoSuchEntityException" : {
        "exclude" : null,
        "excludeShape" : false,
        "inject" : null,
        "modify" : [ {
          "errorCode" : {
            "emitAsType" : null,
            "emitEnumName" : null,
            "emitPropertyName" : "inspectorErrorCode",
            "marshallLocationName" : null,
            "unmarshallLocationName" : null
          }
        } ]
      }
    },
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false
  },
  "metadata" : {
    "apiVersion" : "2016-02-16",
    "asyncClient" : "AmazonInspectorAsyncClient",
    "asyncClientBuilderClassName" : "AmazonInspectorAsyncClientBuilder",
    "asyncInterface" : "AmazonInspectorAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AmazonInspectorModuleInjector",
    "defaultEndpoint" : "https://inspector.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "inspector.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<fullname>Amazon Inspector</fullname> <p>Amazon Inspector enables you to analyze the behavior of your AWS resources and to identify potential security issues. For more information, see <a href=\"http://docs.aws.amazon.com/inspector/latest/userguide/inspector_introduction.html\"> Amazon Inspector User Guide</a>.</p>",
    "endpointPrefix" : "inspector",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.inspector",
    "packagePath" : "com/amazonaws/services/inspector",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Inspector",
    "serviceName" : "Amazon Inspector",
    "signingName" : "inspector",
    "smokeTestsPackageName" : "com.amazonaws.services.inspector.smoketests",
    "syncClient" : "AmazonInspectorClient",
    "syncClientBuilderClassName" : "AmazonInspectorClientBuilder",
    "syncInterface" : "AmazonInspector",
    "uid" : "inspector-2016-02-16",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AddAttributesToFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AddAttributesToFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AddAttributesToFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AddAttributesToFindingsRequest, AddAttributesToFindingsResult>",
      "asyncReturnType" : "AddAttributesToFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Assigns attributes (key and value pairs) to the findings that are specified by the ARNs of the findings.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "AddAttributesToFindingsRequest",
        "variableName" : "addAttributesToFindingsRequest",
        "variableType" : "AddAttributesToFindingsRequest",
        "documentation" : "",
        "simpleType" : "AddAttributesToFindingsRequest",
        "variableSetterType" : "AddAttributesToFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "addAttributesToFindings",
      "operationName" : "AddAttributesToFindings",
      "returnType" : {
        "returnType" : "AddAttributesToFindingsResult",
        "documentation" : null
      },
      "syncReturnType" : "AddAttributesToFindingsResult"
    },
    "CreateAssessmentTarget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAssessmentTargetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAssessmentTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAssessmentTargetRequest, CreateAssessmentTargetResult>",
      "asyncReturnType" : "CreateAssessmentTargetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new assessment target using the ARN of the resource group that is generated by <a>CreateResourceGroup</a>. If the <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide/inspector_slr.html\">service-linked role</a> isn’t already registered, also creates and registers a service-linked role to grant Amazon Inspector access to AWS Services needed to perform security assessments. You can create up to 50 assessment targets per AWS account. You can run up to 500 concurrent agents per AWS account. For more information, see <a href=\"http://docs.aws.amazon.com/inspector/latest/userguide/inspector_applications.html\"> Amazon Inspector Assessment Targets</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateAssessmentTargetRequest",
        "variableName" : "createAssessmentTargetRequest",
        "variableType" : "CreateAssessmentTargetRequest",
        "documentation" : "",
        "simpleType" : "CreateAssessmentTargetRequest",
        "variableSetterType" : "CreateAssessmentTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAssessmentTarget",
      "operationName" : "CreateAssessmentTarget",
      "returnType" : {
        "returnType" : "CreateAssessmentTargetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAssessmentTargetResult"
    },
    "CreateAssessmentTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAssessmentTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAssessmentTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAssessmentTemplateRequest, CreateAssessmentTemplateResult>",
      "asyncReturnType" : "CreateAssessmentTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an assessment template for the assessment target that is specified by the ARN of the assessment target. If the <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide/inspector_slr.html\">service-linked role</a> isn’t already registered, also creates and registers a service-linked role to grant Amazon Inspector access to AWS Services needed to perform security assessments.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateAssessmentTemplateRequest",
        "variableName" : "createAssessmentTemplateRequest",
        "variableType" : "CreateAssessmentTemplateRequest",
        "documentation" : "",
        "simpleType" : "CreateAssessmentTemplateRequest",
        "variableSetterType" : "CreateAssessmentTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAssessmentTemplate",
      "operationName" : "CreateAssessmentTemplate",
      "returnType" : {
        "returnType" : "CreateAssessmentTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAssessmentTemplateResult"
    },
    "CreateResourceGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateResourceGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateResourceGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateResourceGroupRequest, CreateResourceGroupResult>",
      "asyncReturnType" : "CreateResourceGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a resource group using the specified set of tags (key and value pairs) that are used to select the EC2 instances to be included in an Amazon Inspector assessment target. The created resource group is then used to create an Amazon Inspector assessment target. For more information, see <a>CreateAssessmentTarget</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "CreateResourceGroupRequest",
        "variableName" : "createResourceGroupRequest",
        "variableType" : "CreateResourceGroupRequest",
        "documentation" : "",
        "simpleType" : "CreateResourceGroupRequest",
        "variableSetterType" : "CreateResourceGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createResourceGroup",
      "operationName" : "CreateResourceGroup",
      "returnType" : {
        "returnType" : "CreateResourceGroupResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateResourceGroupResult"
    },
    "DeleteAssessmentRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAssessmentRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAssessmentRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAssessmentRunRequest, DeleteAssessmentRunResult>",
      "asyncReturnType" : "DeleteAssessmentRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the assessment run that is specified by the ARN of the assessment run.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AssessmentRunInProgressException",
        "documentation" : "<p>You cannot perform a specified action if an assessment run is currently in progress.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteAssessmentRunRequest",
        "variableName" : "deleteAssessmentRunRequest",
        "variableType" : "DeleteAssessmentRunRequest",
        "documentation" : "",
        "simpleType" : "DeleteAssessmentRunRequest",
        "variableSetterType" : "DeleteAssessmentRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAssessmentRun",
      "operationName" : "DeleteAssessmentRun",
      "returnType" : {
        "returnType" : "DeleteAssessmentRunResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAssessmentRunResult"
    },
    "DeleteAssessmentTarget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAssessmentTargetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAssessmentTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAssessmentTargetRequest, DeleteAssessmentTargetResult>",
      "asyncReturnType" : "DeleteAssessmentTargetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the assessment target that is specified by the ARN of the assessment target.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AssessmentRunInProgressException",
        "documentation" : "<p>You cannot perform a specified action if an assessment run is currently in progress.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteAssessmentTargetRequest",
        "variableName" : "deleteAssessmentTargetRequest",
        "variableType" : "DeleteAssessmentTargetRequest",
        "documentation" : "",
        "simpleType" : "DeleteAssessmentTargetRequest",
        "variableSetterType" : "DeleteAssessmentTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAssessmentTarget",
      "operationName" : "DeleteAssessmentTarget",
      "returnType" : {
        "returnType" : "DeleteAssessmentTargetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAssessmentTargetResult"
    },
    "DeleteAssessmentTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAssessmentTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAssessmentTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAssessmentTemplateRequest, DeleteAssessmentTemplateResult>",
      "asyncReturnType" : "DeleteAssessmentTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the assessment template that is specified by the ARN of the assessment template.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AssessmentRunInProgressException",
        "documentation" : "<p>You cannot perform a specified action if an assessment run is currently in progress.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DeleteAssessmentTemplateRequest",
        "variableName" : "deleteAssessmentTemplateRequest",
        "variableType" : "DeleteAssessmentTemplateRequest",
        "documentation" : "",
        "simpleType" : "DeleteAssessmentTemplateRequest",
        "variableSetterType" : "DeleteAssessmentTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAssessmentTemplate",
      "operationName" : "DeleteAssessmentTemplate",
      "returnType" : {
        "returnType" : "DeleteAssessmentTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAssessmentTemplateResult"
    },
    "DescribeAssessmentRuns" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAssessmentRunsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAssessmentRunsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAssessmentRunsRequest, DescribeAssessmentRunsResult>",
      "asyncReturnType" : "DescribeAssessmentRunsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the assessment runs that are specified by the ARNs of the assessment runs.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAssessmentRunsRequest",
        "variableName" : "describeAssessmentRunsRequest",
        "variableType" : "DescribeAssessmentRunsRequest",
        "documentation" : "",
        "simpleType" : "DescribeAssessmentRunsRequest",
        "variableSetterType" : "DescribeAssessmentRunsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAssessmentRuns",
      "operationName" : "DescribeAssessmentRuns",
      "returnType" : {
        "returnType" : "DescribeAssessmentRunsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAssessmentRunsResult"
    },
    "DescribeAssessmentTargets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAssessmentTargetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAssessmentTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAssessmentTargetsRequest, DescribeAssessmentTargetsResult>",
      "asyncReturnType" : "DescribeAssessmentTargetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the assessment targets that are specified by the ARNs of the assessment targets.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAssessmentTargetsRequest",
        "variableName" : "describeAssessmentTargetsRequest",
        "variableType" : "DescribeAssessmentTargetsRequest",
        "documentation" : "",
        "simpleType" : "DescribeAssessmentTargetsRequest",
        "variableSetterType" : "DescribeAssessmentTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAssessmentTargets",
      "operationName" : "DescribeAssessmentTargets",
      "returnType" : {
        "returnType" : "DescribeAssessmentTargetsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAssessmentTargetsResult"
    },
    "DescribeAssessmentTemplates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAssessmentTemplatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAssessmentTemplatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAssessmentTemplatesRequest, DescribeAssessmentTemplatesResult>",
      "asyncReturnType" : "DescribeAssessmentTemplatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the assessment templates that are specified by the ARNs of the assessment templates.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeAssessmentTemplatesRequest",
        "variableName" : "describeAssessmentTemplatesRequest",
        "variableType" : "DescribeAssessmentTemplatesRequest",
        "documentation" : "",
        "simpleType" : "DescribeAssessmentTemplatesRequest",
        "variableSetterType" : "DescribeAssessmentTemplatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAssessmentTemplates",
      "operationName" : "DescribeAssessmentTemplates",
      "returnType" : {
        "returnType" : "DescribeAssessmentTemplatesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeAssessmentTemplatesResult"
    },
    "DescribeCrossAccountAccessRole" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeCrossAccountAccessRoleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeCrossAccountAccessRoleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeCrossAccountAccessRoleRequest, DescribeCrossAccountAccessRoleResult>",
      "asyncReturnType" : "DescribeCrossAccountAccessRoleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the IAM role that enables Amazon Inspector to access your AWS account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeCrossAccountAccessRoleRequest",
        "variableName" : "describeCrossAccountAccessRoleRequest",
        "variableType" : "DescribeCrossAccountAccessRoleRequest",
        "documentation" : null,
        "simpleType" : "DescribeCrossAccountAccessRoleRequest",
        "variableSetterType" : "DescribeCrossAccountAccessRoleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeCrossAccountAccessRole",
      "operationName" : "DescribeCrossAccountAccessRole",
      "returnType" : {
        "returnType" : "DescribeCrossAccountAccessRoleResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeCrossAccountAccessRoleResult"
    },
    "DescribeFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeFindingsRequest, DescribeFindingsResult>",
      "asyncReturnType" : "DescribeFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the findings that are specified by the ARNs of the findings.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeFindingsRequest",
        "variableName" : "describeFindingsRequest",
        "variableType" : "DescribeFindingsRequest",
        "documentation" : "",
        "simpleType" : "DescribeFindingsRequest",
        "variableSetterType" : "DescribeFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeFindings",
      "operationName" : "DescribeFindings",
      "returnType" : {
        "returnType" : "DescribeFindingsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeFindingsResult"
    },
    "DescribeResourceGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeResourceGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeResourceGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeResourceGroupsRequest, DescribeResourceGroupsResult>",
      "asyncReturnType" : "DescribeResourceGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the resource groups that are specified by the ARNs of the resource groups.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeResourceGroupsRequest",
        "variableName" : "describeResourceGroupsRequest",
        "variableType" : "DescribeResourceGroupsRequest",
        "documentation" : "",
        "simpleType" : "DescribeResourceGroupsRequest",
        "variableSetterType" : "DescribeResourceGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeResourceGroups",
      "operationName" : "DescribeResourceGroups",
      "returnType" : {
        "returnType" : "DescribeResourceGroupsResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeResourceGroupsResult"
    },
    "DescribeRulesPackages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRulesPackagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRulesPackagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRulesPackagesRequest, DescribeRulesPackagesResult>",
      "asyncReturnType" : "DescribeRulesPackagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes the rules packages that are specified by the ARNs of the rules packages.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "DescribeRulesPackagesRequest",
        "variableName" : "describeRulesPackagesRequest",
        "variableType" : "DescribeRulesPackagesRequest",
        "documentation" : "",
        "simpleType" : "DescribeRulesPackagesRequest",
        "variableSetterType" : "DescribeRulesPackagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRulesPackages",
      "operationName" : "DescribeRulesPackages",
      "returnType" : {
        "returnType" : "DescribeRulesPackagesResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeRulesPackagesResult"
    },
    "GetAssessmentReport" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAssessmentReportResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAssessmentReportResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAssessmentReportRequest, GetAssessmentReportResult>",
      "asyncReturnType" : "GetAssessmentReportResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Produces an assessment report that includes detailed and comprehensive results of a specified assessment run. </p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AssessmentRunInProgressException",
        "documentation" : "<p>You cannot perform a specified action if an assessment run is currently in progress.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "UnsupportedFeatureException",
        "documentation" : "<p>Used by the <a>GetAssessmentReport</a> API. The request was rejected because you tried to generate a report for an assessment run that existed before reporting was supported in Amazon Inspector. You can only generate reports for assessment runs that took place or will take place after generating reports in Amazon Inspector became available.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetAssessmentReportRequest",
        "variableName" : "getAssessmentReportRequest",
        "variableType" : "GetAssessmentReportRequest",
        "documentation" : "",
        "simpleType" : "GetAssessmentReportRequest",
        "variableSetterType" : "GetAssessmentReportRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAssessmentReport",
      "operationName" : "GetAssessmentReport",
      "returnType" : {
        "returnType" : "GetAssessmentReportResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAssessmentReportResult"
    },
    "GetTelemetryMetadata" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetTelemetryMetadataResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetTelemetryMetadataResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetTelemetryMetadataRequest, GetTelemetryMetadataResult>",
      "asyncReturnType" : "GetTelemetryMetadataResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Information about the data that is collected for the specified assessment run.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "GetTelemetryMetadataRequest",
        "variableName" : "getTelemetryMetadataRequest",
        "variableType" : "GetTelemetryMetadataRequest",
        "documentation" : "",
        "simpleType" : "GetTelemetryMetadataRequest",
        "variableSetterType" : "GetTelemetryMetadataRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getTelemetryMetadata",
      "operationName" : "GetTelemetryMetadata",
      "returnType" : {
        "returnType" : "GetTelemetryMetadataResult",
        "documentation" : null
      },
      "syncReturnType" : "GetTelemetryMetadataResult"
    },
    "ListAssessmentRunAgents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssessmentRunAgentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssessmentRunAgentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssessmentRunAgentsRequest, ListAssessmentRunAgentsResult>",
      "asyncReturnType" : "ListAssessmentRunAgentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the agents of the assessment runs that are specified by the ARNs of the assessment runs.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListAssessmentRunAgentsRequest",
        "variableName" : "listAssessmentRunAgentsRequest",
        "variableType" : "ListAssessmentRunAgentsRequest",
        "documentation" : "",
        "simpleType" : "ListAssessmentRunAgentsRequest",
        "variableSetterType" : "ListAssessmentRunAgentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssessmentRunAgents",
      "operationName" : "ListAssessmentRunAgents",
      "returnType" : {
        "returnType" : "ListAssessmentRunAgentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssessmentRunAgentsResult"
    },
    "ListAssessmentRuns" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssessmentRunsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssessmentRunsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssessmentRunsRequest, ListAssessmentRunsResult>",
      "asyncReturnType" : "ListAssessmentRunsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the assessment runs that correspond to the assessment templates that are specified by the ARNs of the assessment templates.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListAssessmentRunsRequest",
        "variableName" : "listAssessmentRunsRequest",
        "variableType" : "ListAssessmentRunsRequest",
        "documentation" : "",
        "simpleType" : "ListAssessmentRunsRequest",
        "variableSetterType" : "ListAssessmentRunsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssessmentRuns",
      "operationName" : "ListAssessmentRuns",
      "returnType" : {
        "returnType" : "ListAssessmentRunsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssessmentRunsResult"
    },
    "ListAssessmentTargets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssessmentTargetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssessmentTargetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssessmentTargetsRequest, ListAssessmentTargetsResult>",
      "asyncReturnType" : "ListAssessmentTargetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the ARNs of the assessment targets within this AWS account. For more information about assessment targets, see <a href=\"http://docs.aws.amazon.com/inspector/latest/userguide/inspector_applications.html\">Amazon Inspector Assessment Targets</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListAssessmentTargetsRequest",
        "variableName" : "listAssessmentTargetsRequest",
        "variableType" : "ListAssessmentTargetsRequest",
        "documentation" : "",
        "simpleType" : "ListAssessmentTargetsRequest",
        "variableSetterType" : "ListAssessmentTargetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssessmentTargets",
      "operationName" : "ListAssessmentTargets",
      "returnType" : {
        "returnType" : "ListAssessmentTargetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssessmentTargetsResult"
    },
    "ListAssessmentTemplates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAssessmentTemplatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAssessmentTemplatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAssessmentTemplatesRequest, ListAssessmentTemplatesResult>",
      "asyncReturnType" : "ListAssessmentTemplatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the assessment templates that correspond to the assessment targets that are specified by the ARNs of the assessment targets.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListAssessmentTemplatesRequest",
        "variableName" : "listAssessmentTemplatesRequest",
        "variableType" : "ListAssessmentTemplatesRequest",
        "documentation" : "",
        "simpleType" : "ListAssessmentTemplatesRequest",
        "variableSetterType" : "ListAssessmentTemplatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAssessmentTemplates",
      "operationName" : "ListAssessmentTemplates",
      "returnType" : {
        "returnType" : "ListAssessmentTemplatesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAssessmentTemplatesResult"
    },
    "ListEventSubscriptions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEventSubscriptionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEventSubscriptionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEventSubscriptionsRequest, ListEventSubscriptionsResult>",
      "asyncReturnType" : "ListEventSubscriptionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the event subscriptions for the assessment template that is specified by the ARN of the assessment template. For more information, see <a>SubscribeToEvent</a> and <a>UnsubscribeFromEvent</a>.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListEventSubscriptionsRequest",
        "variableName" : "listEventSubscriptionsRequest",
        "variableType" : "ListEventSubscriptionsRequest",
        "documentation" : "",
        "simpleType" : "ListEventSubscriptionsRequest",
        "variableSetterType" : "ListEventSubscriptionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEventSubscriptions",
      "operationName" : "ListEventSubscriptions",
      "returnType" : {
        "returnType" : "ListEventSubscriptionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEventSubscriptionsResult"
    },
    "ListFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFindingsRequest, ListFindingsResult>",
      "asyncReturnType" : "ListFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists findings that are generated by the assessment runs that are specified by the ARNs of the assessment runs.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListFindingsRequest",
        "variableName" : "listFindingsRequest",
        "variableType" : "ListFindingsRequest",
        "documentation" : "",
        "simpleType" : "ListFindingsRequest",
        "variableSetterType" : "ListFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFindings",
      "operationName" : "ListFindings",
      "returnType" : {
        "returnType" : "ListFindingsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFindingsResult"
    },
    "ListRulesPackages" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRulesPackagesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRulesPackagesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRulesPackagesRequest, ListRulesPackagesResult>",
      "asyncReturnType" : "ListRulesPackagesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all available Amazon Inspector rules packages.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListRulesPackagesRequest",
        "variableName" : "listRulesPackagesRequest",
        "variableType" : "ListRulesPackagesRequest",
        "documentation" : "",
        "simpleType" : "ListRulesPackagesRequest",
        "variableSetterType" : "ListRulesPackagesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRulesPackages",
      "operationName" : "ListRulesPackages",
      "returnType" : {
        "returnType" : "ListRulesPackagesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListRulesPackagesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all tags associated with an assessment template.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PreviewAgents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PreviewAgentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PreviewAgentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PreviewAgentsRequest, PreviewAgentsResult>",
      "asyncReturnType" : "PreviewAgentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Previews the agents installed on the EC2 instances that are part of the specified assessment target.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCrossAccountRoleException",
        "documentation" : "<p>Amazon Inspector cannot assume the cross-account role that it needs to list your EC2 instances during the assessment run.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "PreviewAgentsRequest",
        "variableName" : "previewAgentsRequest",
        "variableType" : "PreviewAgentsRequest",
        "documentation" : "",
        "simpleType" : "PreviewAgentsRequest",
        "variableSetterType" : "PreviewAgentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "previewAgents",
      "operationName" : "PreviewAgents",
      "returnType" : {
        "returnType" : "PreviewAgentsResult",
        "documentation" : null
      },
      "syncReturnType" : "PreviewAgentsResult"
    },
    "RegisterCrossAccountAccessRole" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterCrossAccountAccessRoleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterCrossAccountAccessRoleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterCrossAccountAccessRoleRequest, RegisterCrossAccountAccessRoleResult>",
      "asyncReturnType" : "RegisterCrossAccountAccessRoleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Registers the IAM role that grants Amazon Inspector access to AWS Services needed to perform security assessments.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCrossAccountRoleException",
        "documentation" : "<p>Amazon Inspector cannot assume the cross-account role that it needs to list your EC2 instances during the assessment run.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RegisterCrossAccountAccessRoleRequest",
        "variableName" : "registerCrossAccountAccessRoleRequest",
        "variableType" : "RegisterCrossAccountAccessRoleRequest",
        "documentation" : "",
        "simpleType" : "RegisterCrossAccountAccessRoleRequest",
        "variableSetterType" : "RegisterCrossAccountAccessRoleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerCrossAccountAccessRole",
      "operationName" : "RegisterCrossAccountAccessRole",
      "returnType" : {
        "returnType" : "RegisterCrossAccountAccessRoleResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterCrossAccountAccessRoleResult"
    },
    "RemoveAttributesFromFindings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RemoveAttributesFromFindingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RemoveAttributesFromFindingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RemoveAttributesFromFindingsRequest, RemoveAttributesFromFindingsResult>",
      "asyncReturnType" : "RemoveAttributesFromFindingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes entire attributes (key and value pairs) from the findings that are specified by the ARNs of the findings where an attribute with the specified key exists.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "RemoveAttributesFromFindingsRequest",
        "variableName" : "removeAttributesFromFindingsRequest",
        "variableType" : "RemoveAttributesFromFindingsRequest",
        "documentation" : "",
        "simpleType" : "RemoveAttributesFromFindingsRequest",
        "variableSetterType" : "RemoveAttributesFromFindingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "removeAttributesFromFindings",
      "operationName" : "RemoveAttributesFromFindings",
      "returnType" : {
        "returnType" : "RemoveAttributesFromFindingsResult",
        "documentation" : null
      },
      "syncReturnType" : "RemoveAttributesFromFindingsResult"
    },
    "SetTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SetTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SetTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SetTagsForResourceRequest, SetTagsForResourceResult>",
      "asyncReturnType" : "SetTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sets tags (key and value pairs) to the assessment template that is specified by the ARN of the assessment template.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SetTagsForResourceRequest",
        "variableName" : "setTagsForResourceRequest",
        "variableType" : "SetTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "SetTagsForResourceRequest",
        "variableSetterType" : "SetTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "setTagsForResource",
      "operationName" : "SetTagsForResource",
      "returnType" : {
        "returnType" : "SetTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "SetTagsForResourceResult"
    },
    "StartAssessmentRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartAssessmentRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartAssessmentRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartAssessmentRunRequest, StartAssessmentRunResult>",
      "asyncReturnType" : "StartAssessmentRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts the assessment run specified by the ARN of the assessment template. For this API to function properly, you must not exceed the limit of running up to 500 concurrent agents per AWS account.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidCrossAccountRoleException",
        "documentation" : "<p>Amazon Inspector cannot assume the cross-account role that it needs to list your EC2 instances during the assessment run.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AgentsAlreadyRunningAssessmentException",
        "documentation" : "<p>You started an assessment run, but one of the instances is already participating in another assessment run.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StartAssessmentRunRequest",
        "variableName" : "startAssessmentRunRequest",
        "variableType" : "StartAssessmentRunRequest",
        "documentation" : "",
        "simpleType" : "StartAssessmentRunRequest",
        "variableSetterType" : "StartAssessmentRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startAssessmentRun",
      "operationName" : "StartAssessmentRun",
      "returnType" : {
        "returnType" : "StartAssessmentRunResult",
        "documentation" : null
      },
      "syncReturnType" : "StartAssessmentRunResult"
    },
    "StopAssessmentRun" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopAssessmentRunResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopAssessmentRunResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopAssessmentRunRequest, StopAssessmentRunResult>",
      "asyncReturnType" : "StopAssessmentRunResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops the assessment run that is specified by the ARN of the assessment run.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "StopAssessmentRunRequest",
        "variableName" : "stopAssessmentRunRequest",
        "variableType" : "StopAssessmentRunRequest",
        "documentation" : "",
        "simpleType" : "StopAssessmentRunRequest",
        "variableSetterType" : "StopAssessmentRunRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopAssessmentRun",
      "operationName" : "StopAssessmentRun",
      "returnType" : {
        "returnType" : "StopAssessmentRunResult",
        "documentation" : null
      },
      "syncReturnType" : "StopAssessmentRunResult"
    },
    "SubscribeToEvent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<SubscribeToEventResult>",
      "asyncFutureType" : "java.util.concurrent.Future<SubscribeToEventResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<SubscribeToEventRequest, SubscribeToEventResult>",
      "asyncReturnType" : "SubscribeToEventResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Enables the process of sending Amazon Simple Notification Service (SNS) notifications about a specified event to a specified SNS topic.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "SubscribeToEventRequest",
        "variableName" : "subscribeToEventRequest",
        "variableType" : "SubscribeToEventRequest",
        "documentation" : "",
        "simpleType" : "SubscribeToEventRequest",
        "variableSetterType" : "SubscribeToEventRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "subscribeToEvent",
      "operationName" : "SubscribeToEvent",
      "returnType" : {
        "returnType" : "SubscribeToEventResult",
        "documentation" : null
      },
      "syncReturnType" : "SubscribeToEventResult"
    },
    "UnsubscribeFromEvent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UnsubscribeFromEventResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UnsubscribeFromEventResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UnsubscribeFromEventRequest, UnsubscribeFromEventResult>",
      "asyncReturnType" : "UnsubscribeFromEventResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disables the process of sending Amazon Simple Notification Service (SNS) notifications about a specified event to a specified SNS topic.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UnsubscribeFromEventRequest",
        "variableName" : "unsubscribeFromEventRequest",
        "variableType" : "UnsubscribeFromEventRequest",
        "documentation" : "",
        "simpleType" : "UnsubscribeFromEventRequest",
        "variableSetterType" : "UnsubscribeFromEventRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "unsubscribeFromEvent",
      "operationName" : "UnsubscribeFromEvent",
      "returnType" : {
        "returnType" : "UnsubscribeFromEventResult",
        "documentation" : null
      },
      "syncReturnType" : "UnsubscribeFromEventResult"
    },
    "UpdateAssessmentTarget" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAssessmentTargetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAssessmentTargetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAssessmentTargetRequest, UpdateAssessmentTargetResult>",
      "asyncReturnType" : "UpdateAssessmentTargetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the assessment target that is specified by the ARN of the assessment target.</p>",
      "exceptions" : [ {
        "exceptionName" : "InternalException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
        "httpStatusCode" : null
      }, {
        "exceptionName" : "NoSuchEntityException",
        "documentation" : "<p>The request was rejected because it referenced an entity that does not exist. The error code describes the entity.</p>",
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "input" : {
        "variableDeclarationType" : "UpdateAssessmentTargetRequest",
        "variableName" : "updateAssessmentTargetRequest",
        "variableType" : "UpdateAssessmentTargetRequest",
        "documentation" : "",
        "simpleType" : "UpdateAssessmentTargetRequest",
        "variableSetterType" : "UpdateAssessmentTargetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAssessmentTarget",
      "operationName" : "UpdateAssessmentTarget",
      "returnType" : {
        "returnType" : "UpdateAssessmentTargetResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAssessmentTargetResult"
    }
  },
  "shapes" : {
    "AccessDeniedErrorCode" : {
      "c2jName" : "AccessDeniedErrorCode",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : [ {
        "name" : "ACCESS_DENIED_TO_ASSESSMENT_TARGET",
        "value" : "ACCESS_DENIED_TO_ASSESSMENT_TARGET"
      }, {
        "name" : "ACCESS_DENIED_TO_ASSESSMENT_TEMPLATE",
        "value" : "ACCESS_DENIED_TO_ASSESSMENT_TEMPLATE"
      }, {
        "name" : "ACCESS_DENIED_TO_ASSESSMENT_RUN",
        "value" : "ACCESS_DENIED_TO_ASSESSMENT_RUN"
      }, {
        "name" : "ACCESS_DENIED_TO_FINDING",
        "value" : "ACCESS_DENIED_TO_FINDING"
      }, {
        "name" : "ACCESS_DENIED_TO_RESOURCE_GROUP",
        "value" : "ACCESS_DENIED_TO_RESOURCE_GROUP"
      }, {
        "name" : "ACCESS_DENIED_TO_RULES_PACKAGE",
        "value" : "ACCESS_DENIED_TO_RULES_PACKAGE"
      }, {
        "name" : "ACCESS_DENIED_TO_SNS_TOPIC",
        "value" : "ACCESS_DENIED_TO_SNS_TOPIC"
      }, {
        "name" : "ACCESS_DENIED_TO_IAM_ROLE",
        "value" : "ACCESS_DENIED_TO_IAM_ROLE"
      } ],
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedErrorCode",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "variableDeclarationType" : "AccessDeniedErrorCode",
        "variableName" : "accessDeniedErrorCode",
        "variableType" : "AccessDeniedErrorCode",
        "documentation" : null,
        "simpleType" : "AccessDeniedErrorCode",
        "variableSetterType" : "AccessDeniedErrorCode"
      },
      "wrapper" : false
    },
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have required permissions to access the requested resource.</p>",
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "canRetry",
        "c2jShape" : "Bool",
        "deprecated" : false,
        "documentation" : "<p>You can immediately retry your request.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>You can immediately retry your request.</p>\n@param canRetry You can immediately retry your request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCanRetry",
        "getterDocumentation" : "/**<p>You can immediately retry your request.</p>\n@return You can immediately retry your request.*/",
        "getterMethodName" : "getCanRetry",
        "getterModel" : {
          "returnType" : "Boolean",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "canRetry",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "canRetry",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Boolean",
        "marshallingType" : "BOOLEAN",
        "name" : "CanRetry",
        "setterDocumentation" : "/**<p>You can immediately retry your request.</p>\n@param canRetry You can immediately retry your request.*/",
        "setterMethodName" : "setCanRetry",
        "setterModel" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "canRetry",
          "variableType" : "Boolean",
          "documentation" : "",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>You can immediately retry your request.</p>\n@param canRetry You can immediately retry your request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "variableDeclarationType" : "Boolean",
          "variableName" : "canRetry",
          "variableType" : "Boolean",
          "documentation" : "<p>You can immediately retry your request.</p>",
          "simpleType" : "Boolean",
          "variableSetterType" : "Boolean"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "inspectorErrorCode",
        "c2jShape" : "AccessDeniedErrorCode",
        "deprecated" : false,
        "documentation" : "<p>Code that indicates the type of error that is generated.</p>",
        "enumType" : "AccessDeniedErrorCode",
        "fluentSetterDocumentation" : "/**<p>Code that indicates the type of error that is generated.</p>\n@param inspectorErrorCode Code that indicates the type of error that is generated.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccessDeniedErrorCode*/",
        "fluentSetterMethodName" : "withInspectorErrorCode",
        "getterDocumentation" : "/**<p>Code that indicates the type of error that is generated.</p>\n@return Code that indicates the type of error that is generated.\n@see AccessDeniedErrorCode*/",
        "getterMethodName" : "getInspectorErrorCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "errorCode",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "errorCode",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "InspectorErrorCode",
        "setterDocumentation" : "/**<p>Code that indicates the type of error that is generated.</p>\n@param inspectorErrorCode Code that indicates the type of error that is generated.\n@see AccessDeniedErrorCode*/",
        "setterMethodName" : "setInspectorErrorCode",
        "setterModel" : {
          "variableDeclarationType" : "String",
          "variableName" : "inspectorErrorCode",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Code that indicates the type of error that is generated.</p>\n@param inspectorErrorCode Code that indicates the type of error that is generated.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccessDeniedErrorCode*/",
        "variable" : {
          "variableDeclarationType" : "String",
          "variableName" : "inspectorErrorCode",
          "variableType" : "String",
          "documentation" : "<p>Code that indicates the type of error that is generated.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CanRetry" : {
          "c2jName" : "canRetry",
          "c2jShape" : "Bool",
          "deprecated" : false,
          "documentation" : "<p>You can immediately retry your request.</p>",
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>You can immediately retry your request.</p>\n@param canRetry You can immediately retry your request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCanRetry",
          "getterDocumentation" : "/**<p>You can immediately retry your request.</p>\n@return You can immediately retry your request.*/",
          "getterMethodName" : "getCanRetry",
          "getterModel" : {
            "returnType" : "Boolean",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "canRetry",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "canRetry",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Boolean",
          "marshallingType" : "BOOLEAN",
          "name" : "CanRetry",
          "setterDocumentation" : "/**<p>You can immediately retry your request.</p>\n@param canRetry You can immediately retry your request.*/",
          "setterMethodName" : "setCanRetry",
          "setterModel" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "canRetry",
            "variableType" : "Boolean",
            "documentation" : "",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>You can immediately retry your request.</p>\n@param canRetry You can immediately retry your request.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "variableDeclarationType" : "Boolean",
            "variableName" : "canRetry",
            "variableType" : "Boolean",
            "documentation" : "<p>You can immediately retry your request.</p>",
            "simpleType" : "Boolean",
            "variableSetterType" : "Boolean"
          },
          "xmlNameSpaceUri" : null
        },
        "InspectorErrorCode" : {
          "c2jName" : "inspectorErrorCode",
          "c2jShape" : "AccessDeniedErrorCode",
          "deprecated" : false,
          "documentation" : "<p>Code that indicates the type of error that is generated.</p>",
          "enumType" : "AccessDeniedErrorCode",
          "fluentSetterDocumentation" : "/**<p>Code that indicates the type of error that is generated.</p>\n@param inspectorErrorCode Code that indicates the type of error that is generated.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccessDeniedErrorCode*/",
          "fluentSetterMethodName" : "withInspectorErrorCode",
          "getterDocumentation" : "/**<p>Code that indicates the type of error that is generated.</p>\n@return Code that indicates the type of error that is generated.\n@see AccessDeniedErrorCode*/",
          "getterMethodName" : "getInspectorErrorCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "errorCode",
            "queryString" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "errorCode",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "InspectorErrorCode",
          "setterDocumentation" : "/**<p>Code that indicates the type of error that is generated.</p>\n@param inspectorErrorCode Code that indicates the type of error that is generated.\n@see AccessDeniedErrorCode*/",
          "setterMethodName" : "setInspectorErrorCode",
          "setterModel" : {
            "variableDeclarationType" : "String",
            "variableName" : "inspectorErrorCode",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Code that indicates the type of error that is generated.</p>\n@param inspectorErrorCode Code that indicates the type of error that is generated.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AccessDeniedErrorCode*/",
          "variable" : {
            "variableDeclarationType" : "String",
            "variableName" : "inspectorErrorCode",
            "variableType" : "String",
            "documentation" : "<p>Code that indicates the type of error that is generated.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message", "errorCode", "canRetry" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AddAttributesToFindingsRequest" : {
      "c2jName" : "AddAttributesToFindingsRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AddAttributesToFindings",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "InspectorService.AddAttributesToFindings",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "findingArns",
        "c2jShape" : "AddRemoveAttributesFindingArnList",
        "deprecated" : false,
        "documentation" : "<p>The ARNs that specify the findings that you want to assign attributes to.</p>",
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The ARNs that specify the findings that you want to assign attributes to.</p>\n@param findingArns The ARNs that specify the findings that you want to assign attributes to.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFindingArns",
        "getterDocumentation" : "/**<p>The ARNs that specify the findings that you want to assign attributes to.</p>\n@return The ARNs that specify the findings that you want to assign attributes to.*/",
        "getterMethodName" : "getFindingArns",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "findingArns",
          "queryString" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "findingArns",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Arn",
            "deprecated" : false,
            "documentation" : "",
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "String",
            "marshallingType" : "STRING",
            "name" : "Member",
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : true,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "variableDeclarationType" : "String",
              "variableName" : "member",
              "variableType" : "String",
              "documentation" : "",
              "simpleType" : "String",
              "variableSetterType" : "String"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "String",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : true,
          "simpleType" : "String",
          "templateImplType" : "java.util.ArrayList<String>",
          "templateType" : "java.util.List<String>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "FindingArns",
[...]
