{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-06-03",
    "asyncClient" : "AmazonInternetMonitorAsyncClient",
    "asyncClientBuilderClassName" : "AmazonInternetMonitorAsyncClientBuilder",
    "asyncInterface" : "AmazonInternetMonitorAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonInternetMonitorModuleInjector",
    "defaultEndpoint" : "internetmonitor.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "internetmonitor.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon CloudWatch Internet Monitor provides visibility into how internet issues impact the performance and availability between your applications hosted on Amazon Web Services and your end users. It can reduce the time it takes for you to diagnose internet issues from days to minutes. Internet Monitor uses the connectivity data that Amazon Web Services captures from its global networking footprint to calculate a baseline of performance and availability for internet traffic. This is the same data that Amazon Web Services uses to monitor internet uptime and availability. With those measurements as a baseline, Internet Monitor raises awareness for you when there are significant problems for your end users in the different geographic locations where your application runs.</p> <p>Internet Monitor publishes internet measurements to CloudWatch Logs and CloudWatch Metrics, to easily support using CloudWatch tools with health information for geographies and networks specific to your application. Internet Monitor sends health events to Amazon EventBridge so that you can set up notifications. If an issue is caused by the Amazon Web Services network, you also automatically receive an Amazon Web Services Health Dashboard notification with the steps that Amazon Web Services is taking to mitigate the problem.</p> <p>To use Internet Monitor, you create a <i>monitor</i> and associate your application's resources with it - VPCs, NLBs, CloudFront distributions, or WorkSpaces directories - so Internet Monitor can determine where your application's internet traffic is. Internet Monitor then provides internet measurements from Amazon Web Services that are specific to the locations and ASNs (typically, internet service providers or ISPs) that communicate with your application.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-InternetMonitor.html\">Using Amazon CloudWatch Internet Monitor</a> in the <i>Amazon CloudWatch User Guide</i>.</p>",
    "endpointPrefix" : "internetmonitor",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.internetmonitor",
    "packagePath" : "com/amazonaws/services/internetmonitor",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon CloudWatch Internet Monitor",
    "serviceId" : "InternetMonitor",
    "serviceName" : "Amazon CloudWatch Internet Monitor",
    "signingName" : "internetmonitor",
    "smokeTestsPackageName" : "com.amazonaws.services.internetmonitor.smoketests",
    "syncClient" : "AmazonInternetMonitorClient",
    "syncClientBuilderClassName" : "AmazonInternetMonitorClientBuilder",
    "syncInterface" : "AmazonInternetMonitor",
    "uid" : "internetmonitor-2021-06-03",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateMonitor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMonitorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMonitorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMonitorRequest, CreateMonitorResult>",
      "asyncReturnType" : "CreateMonitorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a monitor in Amazon CloudWatch Internet Monitor. A monitor is built based on information from the application resources that you add: VPCs, Network Load Balancers (NLBs), Amazon CloudFront distributions, and Amazon WorkSpaces directories. Internet Monitor then publishes internet measurements from Amazon Web Services that are specific to the <i>city-networks</i>. That is, the locations and ASNs (typically internet service providers or ISPs), where clients access your application. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-InternetMonitor.html\">Using Amazon CloudWatch Internet Monitor</a> in the <i>Amazon CloudWatch User Guide</i>.</p> <p>When you create a monitor, you choose the percentage of traffic that you want to monitor. You can also set a maximum limit for the number of city-networks where client traffic is monitored, that caps the total traffic that Internet Monitor monitors. A city-network maximum is the limit of city-networks, but you only pay for the number of city-networks that are actually monitored. You can update your monitor at any time to change the percentage of traffic to monitor or the city-networks maximum. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/IMCityNetworksMaximum.html\">Choosing a city-network maximum value</a> in the <i>Amazon CloudWatch User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>The requested resource is in use.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a service quota.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Invalid request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMonitorRequest",
        "variableName" : "createMonitorRequest",
        "variableType" : "CreateMonitorRequest",
        "documentation" : "",
        "simpleType" : "CreateMonitorRequest",
        "variableSetterType" : "CreateMonitorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMonitor",
      "operationName" : "CreateMonitor",
      "returnType" : {
        "returnType" : "CreateMonitorResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMonitorResult"
    },
    "DeleteMonitor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMonitorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMonitorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMonitorRequest, DeleteMonitorResult>",
      "asyncReturnType" : "DeleteMonitorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a monitor in Amazon CloudWatch Internet Monitor. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Invalid request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMonitorRequest",
        "variableName" : "deleteMonitorRequest",
        "variableType" : "DeleteMonitorRequest",
        "documentation" : "",
        "simpleType" : "DeleteMonitorRequest",
        "variableSetterType" : "DeleteMonitorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMonitor",
      "operationName" : "DeleteMonitor",
      "returnType" : {
        "returnType" : "DeleteMonitorResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMonitorResult"
    },
    "GetHealthEvent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetHealthEventResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetHealthEventResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetHealthEventRequest, GetHealthEventResult>",
      "asyncReturnType" : "GetHealthEventResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information that Amazon CloudWatch Internet Monitor has created and stored about a health event for a specified monitor. This information includes the impacted locations, and all the information related to the event, by location.</p> <p>The information returned includes the impact on performance, availability, and round-trip time, information about the network providers (ASNs), the event type, and so on.</p> <p>Information rolled up at the global traffic level is also returned, including the impact type and total traffic impact.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Invalid request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetHealthEventRequest",
        "variableName" : "getHealthEventRequest",
        "variableType" : "GetHealthEventRequest",
        "documentation" : "",
        "simpleType" : "GetHealthEventRequest",
        "variableSetterType" : "GetHealthEventRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getHealthEvent",
      "operationName" : "GetHealthEvent",
      "returnType" : {
        "returnType" : "GetHealthEventResult",
        "documentation" : null
      },
      "syncReturnType" : "GetHealthEventResult"
    },
    "GetInternetEvent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetInternetEventResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetInternetEventResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetInternetEventRequest, GetInternetEventResult>",
      "asyncReturnType" : "GetInternetEventResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information that Amazon CloudWatch Internet Monitor has generated about an internet event. Internet Monitor displays information about recent global health events, called internet events, on a global outages map that is available to all Amazon Web Services customers. </p> <p>The information returned here includes the impacted location, when the event started and (if the event is over) ended, the type of event (<code>PERFORMANCE</code> or <code>AVAILABILITY</code>), and the status (<code>ACTIVE</code> or <code>RESOLVED</code>).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Invalid request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetInternetEventRequest",
        "variableName" : "getInternetEventRequest",
        "variableType" : "GetInternetEventRequest",
        "documentation" : "",
        "simpleType" : "GetInternetEventRequest",
        "variableSetterType" : "GetInternetEventRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getInternetEvent",
      "operationName" : "GetInternetEvent",
      "returnType" : {
        "returnType" : "GetInternetEventResult",
        "documentation" : null
      },
      "syncReturnType" : "GetInternetEventResult"
    },
    "GetMonitor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMonitorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMonitorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMonitorRequest, GetMonitorResult>",
      "asyncReturnType" : "GetMonitorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets information about a monitor in Amazon CloudWatch Internet Monitor based on a monitor name. The information returned includes the Amazon Resource Name (ARN), create time, modified time, resources included in the monitor, and status information.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Invalid request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMonitorRequest",
        "variableName" : "getMonitorRequest",
        "variableType" : "GetMonitorRequest",
        "documentation" : "",
        "simpleType" : "GetMonitorRequest",
        "variableSetterType" : "GetMonitorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMonitor",
      "operationName" : "GetMonitor",
      "returnType" : {
        "returnType" : "GetMonitorResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMonitorResult"
    },
    "GetQueryResults" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetQueryResultsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetQueryResultsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetQueryResultsRequest, GetQueryResultsResult>",
      "asyncReturnType" : "GetQueryResultsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Return the data for a query with the Amazon CloudWatch Internet Monitor query interface. Specify the query that you want to return results for by providing a <code>QueryId</code> and a monitor name.</p> <p>For more information about using the query interface, including examples, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-view-cw-tools-cwim-query.html\">Using the Amazon CloudWatch Internet Monitor query interface</a> in the Amazon CloudWatch Internet Monitor User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a service quota.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Invalid request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetQueryResultsRequest",
        "variableName" : "getQueryResultsRequest",
        "variableType" : "GetQueryResultsRequest",
        "documentation" : "",
        "simpleType" : "GetQueryResultsRequest",
        "variableSetterType" : "GetQueryResultsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getQueryResults",
      "operationName" : "GetQueryResults",
      "returnType" : {
        "returnType" : "GetQueryResultsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetQueryResultsResult"
    },
    "GetQueryStatus" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetQueryStatusResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetQueryStatusResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetQueryStatusRequest, GetQueryStatusResult>",
      "asyncReturnType" : "GetQueryStatusResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the current status of a query for the Amazon CloudWatch Internet Monitor query interface, for a specified query ID and monitor. When you run a query, check the status to make sure that the query has <code>SUCCEEDED</code> before you review the results.</p> <ul> <li> <p> <code>QUEUED</code>: The query is scheduled to run.</p> </li> <li> <p> <code>RUNNING</code>: The query is in progress but not complete.</p> </li> <li> <p> <code>SUCCEEDED</code>: The query completed sucessfully.</p> </li> <li> <p> <code>FAILED</code>: The query failed due to an error.</p> </li> <li> <p> <code>CANCELED</code>: The query was canceled.</p> </li> </ul>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a service quota.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Invalid request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetQueryStatusRequest",
        "variableName" : "getQueryStatusRequest",
        "variableType" : "GetQueryStatusRequest",
        "documentation" : "",
        "simpleType" : "GetQueryStatusRequest",
        "variableSetterType" : "GetQueryStatusRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getQueryStatus",
      "operationName" : "GetQueryStatus",
      "returnType" : {
        "returnType" : "GetQueryStatusResult",
        "documentation" : null
      },
      "syncReturnType" : "GetQueryStatusResult"
    },
    "ListHealthEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListHealthEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListHealthEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListHealthEventsRequest, ListHealthEventsResult>",
      "asyncReturnType" : "ListHealthEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all health events for a monitor in Amazon CloudWatch Internet Monitor. Returns information for health events including the event start and end times, and the status.</p> <note> <p>Health events that have start times during the time frame that is requested are not included in the list of health events.</p> </note>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Invalid request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListHealthEventsRequest",
        "variableName" : "listHealthEventsRequest",
        "variableType" : "ListHealthEventsRequest",
        "documentation" : "",
        "simpleType" : "ListHealthEventsRequest",
        "variableSetterType" : "ListHealthEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listHealthEvents",
      "operationName" : "ListHealthEvents",
      "returnType" : {
        "returnType" : "ListHealthEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListHealthEventsResult"
    },
    "ListInternetEvents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListInternetEventsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListInternetEventsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListInternetEventsRequest, ListInternetEventsResult>",
      "asyncReturnType" : "ListInternetEventsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists internet events that cause performance or availability issues for client locations. Amazon CloudWatch Internet Monitor displays information about recent global health events, called internet events, on a global outages map that is available to all Amazon Web Services customers. </p> <p>You can constrain the list of internet events returned by providing a start time and end time to define a total time frame for events you want to list. Both start time and end time specify the time when an event started. End time is optional. If you don't include it, the default end time is the current time.</p> <p>You can also limit the events returned to a specific status (<code>ACTIVE</code> or <code>RESOLVED</code>) or type (<code>PERFORMANCE</code> or <code>AVAILABILITY</code>).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Invalid request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListInternetEventsRequest",
        "variableName" : "listInternetEventsRequest",
        "variableType" : "ListInternetEventsRequest",
        "documentation" : "",
        "simpleType" : "ListInternetEventsRequest",
        "variableSetterType" : "ListInternetEventsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listInternetEvents",
      "operationName" : "ListInternetEvents",
      "returnType" : {
        "returnType" : "ListInternetEventsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListInternetEventsResult"
    },
    "ListMonitors" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMonitorsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMonitorsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMonitorsRequest, ListMonitorsResult>",
      "asyncReturnType" : "ListMonitorsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of your monitors for Amazon CloudWatch Internet Monitor and their statuses, along with the Amazon Resource Name (ARN) and name of each monitor.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Invalid request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMonitorsRequest",
        "variableName" : "listMonitorsRequest",
        "variableType" : "ListMonitorsRequest",
        "documentation" : "",
        "simpleType" : "ListMonitorsRequest",
        "variableSetterType" : "ListMonitorsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMonitors",
      "operationName" : "ListMonitors",
      "returnType" : {
        "returnType" : "ListMonitorsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMonitorsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags for a resource. Tags are supported only for monitors in Amazon CloudWatch Internet Monitor.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>There were too many requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request specifies something that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>A bad request was received.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>There was an internal server error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "StartQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartQueryRequest, StartQueryResult>",
      "asyncReturnType" : "StartQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Start a query to return data for a specific query type for the Amazon CloudWatch Internet Monitor query interface. Specify a time period for the data that you want returned by using <code>StartTime</code> and <code>EndTime</code>. You filter the query results to return by providing parameters that you specify with <code>FilterParameters</code>.</p> <p>For more information about using the query interface, including examples, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-view-cw-tools-cwim-query.html\">Using the Amazon CloudWatch Internet Monitor query interface</a> in the Amazon CloudWatch Internet Monitor User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a service quota.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Invalid request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartQueryRequest",
        "variableName" : "startQueryRequest",
        "variableType" : "StartQueryRequest",
        "documentation" : "",
        "simpleType" : "StartQueryRequest",
        "variableSetterType" : "StartQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startQuery",
      "operationName" : "StartQuery",
      "returnType" : {
        "returnType" : "StartQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "StartQueryResult"
    },
    "StopQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopQueryRequest, StopQueryResult>",
      "asyncReturnType" : "StopQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stop a query that is progress for a specific monitor.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a service quota.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Invalid request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopQueryRequest",
        "variableName" : "stopQueryRequest",
        "variableType" : "StopQueryRequest",
        "documentation" : "",
        "simpleType" : "StopQueryRequest",
        "variableSetterType" : "StopQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopQuery",
      "operationName" : "StopQuery",
      "returnType" : {
        "returnType" : "StopQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "StopQueryResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds a tag to a resource. Tags are supported only for monitors in Amazon CloudWatch Internet Monitor. You can add a maximum of 50 tags in Internet Monitor.</p> <p>A minimum of one tag is required for this call. It returns an error if you use the <code>TagResource</code> request with 0 tags.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>There were too many requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request specifies something that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>A bad request was received.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>There was an internal server error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a tag from a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "TooManyRequestsException",
        "documentation" : "<p>There were too many requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>The request specifies something that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>A bad request was received.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerErrorException",
        "documentation" : "<p>There was an internal server error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateMonitor" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateMonitorResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateMonitorResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateMonitorRequest, UpdateMonitorResult>",
      "asyncReturnType" : "UpdateMonitorResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates a monitor. You can update a monitor to change the percentage of traffic to monitor or the maximum number of city-networks (locations and ASNs), to add or remove resources, or to change the status of the monitor. Note that you can't change the name of a monitor.</p> <p>The city-network maximum that you choose is the limit, but you only pay for the number of city-networks that are actually monitored. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/IMCityNetworksMaximum.html\">Choosing a city-network maximum value</a> in the <i>Amazon CloudWatch User Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal error occurred.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The request specifies a resource that doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeded a service quota.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Invalid request.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateMonitorRequest",
        "variableName" : "updateMonitorRequest",
        "variableType" : "UpdateMonitorRequest",
        "documentation" : "",
        "simpleType" : "UpdateMonitorRequest",
        "variableSetterType" : "UpdateMonitorRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateMonitor",
      "operationName" : "UpdateMonitor",
      "returnType" : {
        "returnType" : "UpdateMonitorResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateMonitorResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You don't have sufficient permission to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.internetmonitor.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.internetmonitor.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AvailabilityMeasurement" : {
      "c2jName" : "AvailabilityMeasurement",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Amazon CloudWatch Internet Monitor calculates measurements about the availability for your application's internet traffic between client locations and Amazon Web Services. Amazon Web Services has substantial historical data about internet performance and availability between Amazon Web Services services and different network providers and geographies. By applying statistical analysis to the data, Internet Monitor can detect when the performance and availability for your application has dropped, compared to an estimated baseline that's already calculated. To make it easier to see those drops, we report that information to you in the form of health scores: a performance score and an availability score.</p> <p>Availability in Internet Monitor represents the estimated percentage of traffic that is not seeing an availability drop. For example, an availability score of 99% for an end user and service location pair is equivalent to 1% of the traffic experiencing an availability drop for that pair.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Internet Monitor calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>Amazon CloudWatch User Guide</i>.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.internetmonitor.model.AvailabilityMeasurement",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ExperienceScore",
        "c2jShape" : "Double",
        "deprecated" : false,
        "documentation" : "<p>Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and also summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor provides global health scores.</p> <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and availability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and also summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor provides global health scores.</p> <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and availability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>\n@param experienceScore Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and also summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor provides global health scores.</p> <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and availability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withExperienceScore",
        "getterDocumentation" : "/**<p>Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and also summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor provides global health scores.</p> <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and availability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>\n@return Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and also summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor provides global health scores.</p> <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and availability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.*/",
        "getterMethodName" : "getExperienceScore",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ExperienceScore",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ExperienceScore",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Double",
        "marshallingType" : "DOUBLE",
        "name" : "ExperienceScore",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and also summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor provides global health scores.</p> <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and availability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>\n@param experienceScore Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and also summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor provides global health scores.</p> <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and availability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.*/",
        "setterMethodName" : "setExperienceScore",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "experienceScore",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and also summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor provides global health scores.</p> <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and availability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>\n@param experienceScore Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and also summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor provides global health scores.</p> <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and availability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "experienceScore",
          "variableType" : "Double",
          "documentation" : "<p>Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and also summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor provides global health scores.</p> <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and availability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PercentOfTotalTrafficImpacted",
        "c2jShape" : "Double",
        "deprecated" : false,
        "documentation" : "<p>The impact on total traffic that a health event has, in increased latency or reduced availability. This is the percentage of how much latency has increased or availability has decreased during the event, compared to what is typical for traffic from this client location to the Amazon Web Services location using this client network.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">How Internet Monitor works</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The impact on total traffic that a health event has, in increased latency or reduced availability. This is the percentage of how much latency has increased or availability has decreased during the event, compared to what is typical for traffic from this client location to the Amazon Web Services location using this client network.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">How Internet Monitor works</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.</p>\n@param percentOfTotalTrafficImpacted The impact on total traffic that a health event has, in increased latency or reduced availability. This is the percentage of how much latency has increased or availability has decreased during the event, compared to what is typical for traffic from this client location to the Amazon Web Services location using this client network.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">How Internet Monitor works</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPercentOfTotalTrafficImpacted",
        "getterDocumentation" : "/**<p>The impact on total traffic that a health event has, in increased latency or reduced availability. This is the percentage of how much latency has increased or availability has decreased during the event, compared to what is typical for traffic from this client location to the Amazon Web Services location using this client network.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">How Internet Monitor works</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.</p>\n@return The impact on total traffic that a health event has, in increased latency or reduced availability. This is the percentage of how much latency has increased or availability has decreased during the event, compared to what is typical for traffic from this client location to the Amazon Web Services location using this client network.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">How Internet Monitor works</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.*/",
        "getterMethodName" : "getPercentOfTotalTrafficImpacted",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PercentOfTotalTrafficImpacted",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PercentOfTotalTrafficImpacted",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Double",
        "marshallingType" : "DOUBLE",
        "name" : "PercentOfTotalTrafficImpacted",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The impact on total traffic that a health event has, in increased latency or reduced availability. This is the percentage of how much latency has increased or availability has decreased during the event, compared to what is typical for traffic from this client location to the Amazon Web Services location using this client network.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">How Internet Monitor works</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.</p>\n@param percentOfTotalTrafficImpacted The impact on total traffic that a health event has, in increased latency or reduced availability. This is the percentage of how much latency has increased or availability has decreased during the event, compared to what is typical for traffic from this client location to the Amazon Web Services location using this client network.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">How Internet Monitor works</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.*/",
        "setterMethodName" : "setPercentOfTotalTrafficImpacted",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "percentOfTotalTrafficImpacted",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The impact on total traffic that a health event has, in increased latency or reduced availability. This is the percentage of how much latency has increased or availability has decreased during the event, compared to what is typical for traffic from this client location to the Amazon Web Services location using this client network.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">How Internet Monitor works</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.</p>\n@param percentOfTotalTrafficImpacted The impact on total traffic that a health event has, in increased latency or reduced availability. This is the percentage of how much latency has increased or availability has decreased during the event, compared to what is typical for traffic from this client location to the Amazon Web Services location using this client network.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">How Internet Monitor works</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "percentOfTotalTrafficImpacted",
          "variableType" : "Double",
          "documentation" : "<p>The impact on total traffic that a health event has, in increased latency or reduced availability. This is the percentage of how much latency has increased or availability has decreased during the event, compared to what is typical for traffic from this client location to the Amazon Web Services location using this client network.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">How Internet Monitor works</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PercentOfClientLocationImpacted",
        "c2jShape" : "Double",
        "deprecated" : false,
        "documentation" : "<p>The percentage of impact caused by a health event for client location traffic globally.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The percentage of impact caused by a health event for client location traffic globally.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.</p>\n@param percentOfClientLocationImpacted The percentage of impact caused by a health event for client location traffic globally.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPercentOfClientLocationImpacted",
        "getterDocumentation" : "/**<p>The percentage of impact caused by a health event for client location traffic globally.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.</p>\n@return The percentage of impact caused by a health event for client location traffic globally.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.*/",
        "getterMethodName" : "getPercentOfClientLocationImpacted",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PercentOfClientLocationImpacted",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PercentOfClientLocationImpacted",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Double",
        "marshallingType" : "DOUBLE",
        "name" : "PercentOfClientLocationImpacted",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The percentage of impact caused by a health event for client location traffic globally.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.</p>\n@param percentOfClientLocationImpacted The percentage of impact caused by a health event for client location traffic globally.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.*/",
        "setterMethodName" : "setPercentOfClientLocationImpacted",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "percentOfClientLocationImpacted",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The percentage of impact caused by a health event for client location traffic globally.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.</p>\n@param percentOfClientLocationImpacted The percentage of impact caused by a health event for client location traffic globally.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "percentOfClientLocationImpacted",
          "variableType" : "Double",
          "documentation" : "<p>The percentage of impact caused by a health event for client location traffic globally.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ExperienceScore" : {
          "c2jName" : "ExperienceScore",
          "c2jShape" : "Double",
          "deprecated" : false,
          "documentation" : "<p>Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and also summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor provides global health scores.</p> <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and availability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and also summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor provides global health scores.</p> <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and availability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>\n@param experienceScore Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and also summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor provides global health scores.</p> <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and availability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withExperienceScore",
          "getterDocumentation" : "/**<p>Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and also summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor provides global health scores.</p> <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and availability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>\n@return Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and also summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor provides global health scores.</p> <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and availability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.*/",
          "getterMethodName" : "getExperienceScore",
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ExperienceScore",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ExperienceScore",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Double",
          "marshallingType" : "DOUBLE",
          "name" : "ExperienceScore",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and also summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor provides global health scores.</p> <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and availability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>\n@param experienceScore Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and also summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor provides global health scores.</p> <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and availability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.*/",
          "setterMethodName" : "setExperienceScore",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "experienceScore",
            "variableType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and also summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor provides global health scores.</p> <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and availability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>\n@param experienceScore Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and also summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor provides global health scores.</p> <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and availability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "experienceScore",
            "variableType" : "Double",
            "documentation" : "<p>Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and also summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor provides global health scores.</p> <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and availability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and availability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "xmlNameSpaceUri" : null
        },
        "PercentOfClientLocationImpacted" : {
          "c2jName" : "PercentOfClientLocationImpacted",
          "c2jShape" : "Double",
          "deprecated" : false,
          "documentation" : "<p>The percentage of impact caused by a health event for client location traffic globally.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The percentage of impact caused by a health event for client location traffic globally.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.</p>\n@param percentOfClientLocationImpacted The percentage of impact caused by a health event for client location traffic globally.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPercentOfClientLocationImpacted",
          "getterDocumentation" : "/**<p>The percentage of impact caused by a health event for client location traffic globally.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.</p>\n@return The percentage of impact caused by a health event for client location traffic globally.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.*/",
          "getterMethodName" : "getPercentOfClientLocationImpacted",
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "PercentOfClientLocationImpacted",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "PercentOfClientLocationImpacted",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Double",
          "marshallingType" : "DOUBLE",
          "name" : "PercentOfClientLocationImpacted",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The percentage of impact caused by a health event for client location traffic globally.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.</p>\n@param percentOfClientLocationImpacted The percentage of impact caused by a health event for client location traffic globally.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.*/",
          "setterMethodName" : "setPercentOfClientLocationImpacted",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "percentOfClientLocationImpacted",
            "variableType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The percentage of impact caused by a health event for client location traffic globally.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.</p>\n@param percentOfClientLocationImpacted The percentage of impact caused by a health event for client location traffic globally.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "percentOfClientLocationImpacted",
            "variableType" : "Double",
            "documentation" : "<p>The percentage of impact caused by a health event for client location traffic globally.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "xmlNameSpaceUri" : null
        },
        "PercentOfTotalTrafficImpacted" : {
          "c2jName" : "PercentOfTotalTrafficImpacted",
          "c2jShape" : "Double",
          "deprecated" : false,
          "documentation" : "<p>The impact on total traffic that a health event has, in increased latency or reduced availability. This is the percentage of how much latency has increased or availability has decreased during the event, compared to what is typical for traffic from this client location to the Amazon Web Services location using this client network.</p> <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">How Internet Monitor works</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User Guide.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
[...]
