{
  "authorizers" : { },
  "metadata" : {
    "apiVersion" : "2015-05-28",
    "endpointPrefix" : "iot",
    "jsonVersion" : null,
    "protocol" : "rest-json",
    "resultWrapped" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS IoT",
    "signatureVersion" : "v4",
    "signingName" : "execute-api",
    "targetPrefix" : null,
    "uid" : "iot-2015-05-28",
    "xmlNamespace" : null
  },
  "operations" : {
    "AcceptCertificateTransfer" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Accepts a pending certificate transfer. The default state of the certificate is INACTIVE.</p> <p>To check for pending certificate transfers, call <a>ListCertificates</a> to enumerate your certificates.</p>",
      "errors" : [ {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>You can't revert the certificate transfer because the transfer is already complete.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 410
        },
        "exception" : true,
        "fault" : false,
        "shape" : "TransferAlreadyCompletedException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "PATCH",
        "requestUri" : "/accept-certificate-transfer/{certificateId}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the AcceptCertificateTransfer operation.</p>",
        "locationName" : null,
        "shape" : "AcceptCertificateTransferRequest",
        "xmlNamespace" : null
      },
      "name" : "AcceptCertificateTransfer",
      "output" : null
    },
    "AttachPrincipalPolicy" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Attaches the specified policy to the specified principal (certificate or other credential).</p>",
      "errors" : [ {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : "<p>The number of attached entities exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 410
        },
        "exception" : true,
        "fault" : false,
        "shape" : "LimitExceededException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/principal-policies/{policyName}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the AttachPrincipalPolicy operation.</p>",
        "locationName" : null,
        "shape" : "AttachPrincipalPolicyRequest",
        "xmlNamespace" : null
      },
      "name" : "AttachPrincipalPolicy",
      "output" : null
    },
    "AttachThingPrincipal" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Attaches the specified principal to the specified thing.</p>",
      "errors" : [ {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "PUT",
        "requestUri" : "/things/{thingName}/principals",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the AttachThingPrincipal operation.</p>",
        "locationName" : null,
        "shape" : "AttachThingPrincipalRequest",
        "xmlNamespace" : null
      },
      "name" : "AttachThingPrincipal",
      "output" : {
        "documentation" : "<p>The output from the AttachThingPrincipal operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "AttachThingPrincipalResponse"
      }
    },
    "CancelCertificateTransfer" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Cancels a pending transfer for the specified certificate.</p> <p><b>Note</b> Only the transfer source account can use this operation to cancel a transfer. (Transfer destinations can use <a>RejectCertificateTransfer</a> instead.) After transfer, AWS IoT returns the certificate to the source account in the INACTIVE state. After the destination account has accepted the transfer, the transfer cannot be cancelled.</p> <p>After a certificate transfer is cancelled, the status of the certificate changes from PENDING_TRANSFER to INACTIVE.</p>",
      "errors" : [ {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>You can't revert the certificate transfer because the transfer is already complete.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 410
        },
        "exception" : true,
        "fault" : false,
        "shape" : "TransferAlreadyCompletedException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "PATCH",
        "requestUri" : "/cancel-certificate-transfer/{certificateId}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the CancelCertificateTransfer operation.</p>",
        "locationName" : null,
        "shape" : "CancelCertificateTransferRequest",
        "xmlNamespace" : null
      },
      "name" : "CancelCertificateTransfer",
      "output" : null
    },
    "CreateCertificateFromCsr" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates an X.509 certificate using the specified certificate signing request.</p> <p><b>Note</b> Reusing the same certificate signing request (CSR) results in a distinct certificate.</p> <p>You can create multiple certificates in a batch by creating a directory, copying multiple .csr files into that directory, and then specifying that directory on the command line. The following commands show how to create a batch of certificates given a batch of CSRs. </p> <p>Assuming a set of CSRs are located inside of the directory my-csr-directory:</p> <p>On Linux and OS X, the command is:</p> <p>$ ls my-csr-directory/ | xargs -I {} aws iot create-certificate-from-csr --certificate-signing-request file://my-csr-directory/{}</p> <p> This command lists all of the CSRs in my-csr-directory and pipes each CSR file name to the aws iot create-certificate-from-csr AWS CLI command to create a certificate for the corresponding CSR. </p> <p> The aws iot create-certificate-from-csr part of the command can also be run in parallel to speed up the certificate creation process: </p> <p> $ ls my-csr-directory/ | xargs -P 10 -I {} aws iot create-certificate-from-csr --certificate-signing-request file://my-csr-directory/{} </p> <p> On Windows PowerShell, the command to create certificates for all CSRs in my-csr-directory is: </p> <p> &gt; ls -Name my-csr-directory | %{aws iot create-certificate-from-csr --certificate-signing-request file://my-csr-directory/$_} </p> <p> On a Windows command prompt, the command to create certificates for all CSRs in my-csr-directory is: </p> <p> &gt; forfiles /p my-csr-directory /c \"cmd /c aws iot create-certificate-from-csr --certificate-signing-request file://@path\"</p>",
      "errors" : [ {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/certificates",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the CreateCertificateFromCsr operation.</p>",
        "locationName" : null,
        "shape" : "CreateCertificateFromCsrRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateCertificateFromCsr",
      "output" : {
        "documentation" : "<p>The output from the CreateCertificateFromCsr operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateCertificateFromCsrResponse"
      }
    },
    "CreateKeysAndCertificate" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a 2048-bit RSA key pair and issues an X.509 certificate using the issued public key.</p> <p><b>Note</b> This is the only time AWS IoT issues the private key for this certificate, so it is important to keep it in a secure location.</p>",
      "errors" : [ {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/keys-and-certificate",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the CreateKeysAndCertificate operation.</p>",
        "locationName" : null,
        "shape" : "CreateKeysAndCertificateRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateKeysAndCertificate",
      "output" : {
        "documentation" : "<p>The output of the CreateKeysAndCertificate operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateKeysAndCertificateResponse"
      }
    },
    "CreatePolicy" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates an AWS IoT policy.</p> <p>The created policy is the default version for the policy. This operation creates a policy version with a version identifier of <b>1</b> and sets <b>1</b> as the policy's default version.</p>",
      "errors" : [ {
        "documentation" : "<p>The resource already exists.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceAlreadyExistsException"
      }, {
        "documentation" : "<p>The policy documentation is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "MalformedPolicyException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/policies/{policyName}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the CreatePolicy operation.</p>",
        "locationName" : null,
        "shape" : "CreatePolicyRequest",
        "xmlNamespace" : null
      },
      "name" : "CreatePolicy",
      "output" : {
        "documentation" : "<p>The output from the CreatePolicy operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreatePolicyResponse"
      }
    },
    "CreatePolicyVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a new version of the specified AWS IoT policy. To update a policy, create a new policy version. A managed policy can have up to five versions. If the policy has five versions, you must use <a>DeletePolicyVersion</a> to delete an existing version before you create a new one.</p> <p>Optionally, you can set the new version as the policy's default version. The default version is the operative version (that is, the version that is in effect for the certificates to which the policy is attached).</p>",
      "errors" : [ {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>The policy documentation is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "MalformedPolicyException"
      }, {
        "documentation" : "<p>The number of policy versions exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "VersionsLimitExceededException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/policies/{policyName}/version",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the CreatePolicyVersion operation.</p>",
        "locationName" : null,
        "shape" : "CreatePolicyVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "CreatePolicyVersion",
      "output" : {
        "documentation" : "<p>The output of the CreatePolicyVersion operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreatePolicyVersionResponse"
      }
    },
    "CreateThing" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a thing record in the thing registry.</p>",
      "errors" : [ {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : "<p>The resource already exists.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceAlreadyExistsException"
      }, {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/things/{thingName}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the CreateThing operation.</p>",
        "locationName" : null,
        "shape" : "CreateThingRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateThing",
      "output" : {
        "documentation" : "<p>The output of the CreateThing operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateThingResponse"
      }
    },
    "CreateThingType" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a new thing type.</p>",
      "errors" : [ {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : "<p>The resource already exists.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceAlreadyExistsException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/thing-types/{thingTypeName}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the CreateThingType operation.</p>",
        "locationName" : null,
        "shape" : "CreateThingTypeRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateThingType",
      "output" : {
        "documentation" : "<p>The output of the CreateThingType operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "CreateThingTypeResponse"
      }
    },
    "CreateTopicRule" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Creates a rule. Creating rules is an administrator-level action. Any user who has permission to create rules will be able to access data processed by the rule.</p>",
      "errors" : [ {
        "documentation" : "<p>The Rule-SQL expression can't be parsed correctly.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "SqlParseException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The resource already exists.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceAlreadyExistsException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/rules/{ruleName}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the CreateTopicRule operation.</p>",
        "locationName" : null,
        "shape" : "CreateTopicRuleRequest",
        "xmlNamespace" : null
      },
      "name" : "CreateTopicRule",
      "output" : null
    },
    "DeleteCACertificate" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes a registered CA certificate.</p>",
      "errors" : [ {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The certificate operation is not allowed.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 406
        },
        "exception" : true,
        "fault" : false,
        "shape" : "CertificateStateException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/cacertificate/{caCertificateId}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Input for the DeleteCACertificate operation.</p>",
        "locationName" : null,
        "shape" : "DeleteCACertificateRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteCACertificate",
      "output" : {
        "documentation" : "<p>The output for the DeleteCACertificate operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteCACertificateResponse"
      }
    },
    "DeleteCertificate" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified certificate.</p> <p>A certificate cannot be deleted if it has a policy attached to it or if its status is set to ACTIVE. To delete a certificate, first use the <a>DetachPrincipalPolicy</a> API to detach all policies. Next, use the <a>UpdateCertificate</a> API to set the certificate to the INACTIVE status.</p>",
      "errors" : [ {
        "documentation" : "<p>The certificate operation is not allowed.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 406
        },
        "exception" : true,
        "fault" : false,
        "shape" : "CertificateStateException"
      }, {
        "documentation" : "<p>You can't delete the resource because it is attached to one or more resources.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "DeleteConflictException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/certificates/{certificateId}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the DeleteCertificate operation.</p>",
        "locationName" : null,
        "shape" : "DeleteCertificateRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteCertificate",
      "output" : null
    },
    "DeletePolicy" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified policy.</p> <p>A policy cannot be deleted if it has non-default versions or it is attached to any certificate.</p> <p>To delete a policy, use the DeletePolicyVersion API to delete all non-default versions of the policy; use the DetachPrincipalPolicy API to detach the policy from any certificate; and then use the DeletePolicy API to delete the policy.</p> <p>When a policy is deleted using DeletePolicy, its default version is deleted with it.</p>",
      "errors" : [ {
        "documentation" : "<p>You can't delete the resource because it is attached to one or more resources.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "DeleteConflictException"
      }, {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/policies/{policyName}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the DeletePolicy operation.</p>",
        "locationName" : null,
        "shape" : "DeletePolicyRequest",
        "xmlNamespace" : null
      },
      "name" : "DeletePolicy",
      "output" : null
    },
    "DeletePolicyVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified version of the specified policy. You cannot delete the default version of a policy using this API. To delete the default version of a policy, use <a>DeletePolicy</a>. To find out which version of a policy is marked as the default version, use ListPolicyVersions.</p>",
      "errors" : [ {
        "documentation" : "<p>You can't delete the resource because it is attached to one or more resources.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "DeleteConflictException"
      }, {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/policies/{policyName}/version/{policyVersionId}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the DeletePolicyVersion operation.</p>",
        "locationName" : null,
        "shape" : "DeletePolicyVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "DeletePolicyVersion",
      "output" : null
    },
    "DeleteRegistrationCode" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes a CA certificate registration code.</p>",
      "errors" : [ {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/registrationcode",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the DeleteRegistrationCode operation.</p>",
        "locationName" : null,
        "shape" : "DeleteRegistrationCodeRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteRegistrationCode",
      "output" : {
        "documentation" : "<p>The output for the DeleteRegistrationCode operation. </p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteRegistrationCodeResponse"
      }
    },
    "DeleteThing" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified thing.</p>",
      "errors" : [ {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>An exception thrown when the version of a thing passed to a command is different than the version specified with the --version parameter. </p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 409
        },
        "exception" : true,
        "fault" : false,
        "shape" : "VersionConflictException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/things/{thingName}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the DeleteThing operation.</p>",
        "locationName" : null,
        "shape" : "DeleteThingRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteThing",
      "output" : {
        "documentation" : "<p>The output of the DeleteThing operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteThingResponse"
      }
    },
    "DeleteThingType" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified thing type . You cannot delete a thing type if it has things associated with it. To delete a thing type, first mark it as deprecated by calling <a>DeprecateThingType</a>, then remove any associated things by calling <a>UpdateThing</a> to change the thing type on any associated thing, and finally use <a>DeleteThingType</a> to delete the thing type.</p>",
      "errors" : [ {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/thing-types/{thingTypeName}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the DeleteThingType operation.</p>",
        "locationName" : null,
        "shape" : "DeleteThingTypeRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteThingType",
      "output" : {
        "documentation" : "<p>The output for the DeleteThingType operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeleteThingTypeResponse"
      }
    },
    "DeleteTopicRule" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified rule.</p>",
      "errors" : [ {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/rules/{ruleName}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the DeleteTopicRule operation.</p>",
        "locationName" : null,
        "shape" : "DeleteTopicRuleRequest",
        "xmlNamespace" : null
      },
      "name" : "DeleteTopicRule",
      "output" : null
    },
    "DeprecateThingType" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Deprecates a thing type. You can not associate new things with deprecated thing type.</p>",
      "errors" : [ {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/thing-types/{thingTypeName}/deprecate",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the DeprecateThingType operation.</p>",
        "locationName" : null,
        "shape" : "DeprecateThingTypeRequest",
        "xmlNamespace" : null
      },
      "name" : "DeprecateThingType",
      "output" : {
        "documentation" : "<p>The output for the DeprecateThingType operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DeprecateThingTypeResponse"
      }
    },
    "DescribeCACertificate" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Describes a registered CA certificate.</p>",
      "errors" : [ {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/cacertificate/{caCertificateId}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the DescribeCACertificate operation.</p>",
        "locationName" : null,
        "shape" : "DescribeCACertificateRequest",
        "xmlNamespace" : null
      },
      "name" : "DescribeCACertificate",
      "output" : {
        "documentation" : "<p>The output from the DescribeCACertificate operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeCACertificateResponse"
      }
    },
    "DescribeCertificate" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified certificate.</p>",
      "errors" : [ {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/certificates/{certificateId}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the DescribeCertificate operation.</p>",
        "locationName" : null,
        "shape" : "DescribeCertificateRequest",
        "xmlNamespace" : null
      },
      "name" : "DescribeCertificate",
      "output" : {
        "documentation" : "<p>The output of the DescribeCertificate operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeCertificateResponse"
      }
    },
    "DescribeEndpoint" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Returns a unique endpoint specific to the AWS account making the call.</p>",
      "errors" : [ {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/endpoint",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the DescribeEndpoint operation.</p>",
        "locationName" : null,
        "shape" : "DescribeEndpointRequest",
        "xmlNamespace" : null
      },
      "name" : "DescribeEndpoint",
      "output" : {
        "documentation" : "<p>The output from the DescribeEndpoint operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeEndpointResponse"
      }
    },
    "DescribeThing" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified thing.</p>",
      "errors" : [ {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/things/{thingName}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the DescribeThing operation.</p>",
        "locationName" : null,
        "shape" : "DescribeThingRequest",
        "xmlNamespace" : null
      },
      "name" : "DescribeThing",
      "output" : {
        "documentation" : "<p>The output from the DescribeThing operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeThingResponse"
      }
    },
    "DescribeThingType" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified thing type.</p>",
      "errors" : [ {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/thing-types/{thingTypeName}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the DescribeThingType operation.</p>",
        "locationName" : null,
        "shape" : "DescribeThingTypeRequest",
        "xmlNamespace" : null
      },
      "name" : "DescribeThingType",
      "output" : {
        "documentation" : "<p>The output for the DescribeThingType operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DescribeThingTypeResponse"
      }
    },
    "DetachPrincipalPolicy" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Removes the specified policy from the specified certificate.</p>",
      "errors" : [ {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/principal-policies/{policyName}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the DetachPrincipalPolicy operation.</p>",
        "locationName" : null,
        "shape" : "DetachPrincipalPolicyRequest",
        "xmlNamespace" : null
      },
      "name" : "DetachPrincipalPolicy",
      "output" : null
    },
    "DetachThingPrincipal" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Detaches the specified principal from the specified thing.</p>",
      "errors" : [ {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/things/{thingName}/principals",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the DetachThingPrincipal operation.</p>",
        "locationName" : null,
        "shape" : "DetachThingPrincipalRequest",
        "xmlNamespace" : null
      },
      "name" : "DetachThingPrincipal",
      "output" : {
        "documentation" : "<p>The output from the DetachThingPrincipal operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "DetachThingPrincipalResponse"
      }
    },
    "DisableTopicRule" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Disables the specified rule.</p>",
      "errors" : [ {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/rules/{ruleName}/disable",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the DisableTopicRuleRequest operation.</p>",
        "locationName" : null,
        "shape" : "DisableTopicRuleRequest",
        "xmlNamespace" : null
      },
      "name" : "DisableTopicRule",
      "output" : null
    },
    "EnableTopicRule" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Enables the specified rule.</p>",
      "errors" : [ {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      } ],
      "http" : {
        "method" : "POST",
        "requestUri" : "/rules/{ruleName}/enable",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the EnableTopicRuleRequest operation.</p>",
        "locationName" : null,
        "shape" : "EnableTopicRuleRequest",
        "xmlNamespace" : null
      },
      "name" : "EnableTopicRule",
      "output" : null
    },
    "GetLoggingOptions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets the logging options.</p>",
      "errors" : [ {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/loggingOptions",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the GetLoggingOptions operation.</p>",
        "locationName" : null,
        "shape" : "GetLoggingOptionsRequest",
        "xmlNamespace" : null
      },
      "name" : "GetLoggingOptions",
      "output" : {
        "documentation" : "<p>The output from the GetLoggingOptions operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetLoggingOptionsResponse"
      }
    },
    "GetPolicy" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified policy with the policy document of the default version.</p>",
      "errors" : [ {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/policies/{policyName}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the GetPolicy operation.</p>",
        "locationName" : null,
        "shape" : "GetPolicyRequest",
        "xmlNamespace" : null
      },
      "name" : "GetPolicy",
      "output" : {
        "documentation" : "<p>The output from the GetPolicy operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetPolicyResponse"
      }
    },
    "GetPolicyVersion" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified policy version.</p>",
      "errors" : [ {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/policies/{policyName}/version/{policyVersionId}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the GetPolicyVersion operation.</p>",
        "locationName" : null,
        "shape" : "GetPolicyVersionRequest",
        "xmlNamespace" : null
      },
      "name" : "GetPolicyVersion",
      "output" : {
        "documentation" : "<p>The output from the GetPolicyVersion operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetPolicyVersionResponse"
      }
    },
    "GetRegistrationCode" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets a registration code used to register a CA certificate with AWS IoT.</p>",
      "errors" : [ {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/registrationcode",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input to the GetRegistrationCode operation.</p>",
        "locationName" : null,
        "shape" : "GetRegistrationCodeRequest",
        "xmlNamespace" : null
      },
      "name" : "GetRegistrationCode",
      "output" : {
        "documentation" : "<p>The output from the GetRegistrationCode operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetRegistrationCodeResponse"
      }
    },
    "GetTopicRule" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Gets information about the specified rule.</p>",
      "errors" : [ {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/rules/{ruleName}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the GetTopicRule operation.</p>",
        "locationName" : null,
        "shape" : "GetTopicRuleRequest",
        "xmlNamespace" : null
      },
      "name" : "GetTopicRule",
      "output" : {
        "documentation" : "<p>The output from the GetTopicRule operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "GetTopicRuleResponse"
      }
    },
    "ListCACertificates" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Lists the CA certificates registered for your AWS account.</p> <p>The results are paginated with a default page size of 25. You can use the returned marker to retrieve additional results.</p>",
      "errors" : [ {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/cacertificates",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>Input for the ListCACertificates operation.</p>",
        "locationName" : null,
        "shape" : "ListCACertificatesRequest",
        "xmlNamespace" : null
      },
      "name" : "ListCACertificates",
      "output" : {
        "documentation" : "<p>The output from the ListCACertificates operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListCACertificatesResponse"
      }
    },
    "ListCertificates" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Lists the certificates registered in your AWS account.</p> <p>The results are paginated with a default page size of 25. You can use the returned marker to retrieve additional results.</p>",
      "errors" : [ {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/certificates",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the ListCertificates operation.</p>",
        "locationName" : null,
        "shape" : "ListCertificatesRequest",
        "xmlNamespace" : null
      },
      "name" : "ListCertificates",
      "output" : {
        "documentation" : "<p>The output of the ListCertificates operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListCertificatesResponse"
      }
    },
    "ListCertificatesByCA" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>List the device certificates signed by the specified CA certificate.</p>",
      "errors" : [ {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/certificates-by-ca/{caCertificateId}",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input to the ListCertificatesByCA operation.</p>",
        "locationName" : null,
        "shape" : "ListCertificatesByCARequest",
        "xmlNamespace" : null
      },
      "name" : "ListCertificatesByCA",
      "output" : {
        "documentation" : "<p>The output of the ListCertificatesByCA operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListCertificatesByCAResponse"
      }
    },
    "ListOutgoingCertificates" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Lists certificates that are being transfered but not yet accepted.</p>",
      "errors" : [ {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/certificates-out-going",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input to the ListOutgoingCertificates operation.</p>",
        "locationName" : null,
        "shape" : "ListOutgoingCertificatesRequest",
        "xmlNamespace" : null
      },
      "name" : "ListOutgoingCertificates",
      "output" : {
        "documentation" : "<p>The output from the ListOutgoingCertificates operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListOutgoingCertificatesResponse"
      }
    },
    "ListPolicies" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Lists your policies.</p>",
      "errors" : [ {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/policies",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the ListPolicies operation.</p>",
        "locationName" : null,
        "shape" : "ListPoliciesRequest",
        "xmlNamespace" : null
      },
      "name" : "ListPolicies",
      "output" : {
        "documentation" : "<p>The output from the ListPolicies operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListPoliciesResponse"
      }
    },
    "ListPolicyPrincipals" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Lists the principals associated with the specified policy.</p>",
      "errors" : [ {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
        "exception" : true,
        "fault" : true,
        "shape" : "InternalFailureException"
      } ],
      "http" : {
        "method" : "GET",
        "requestUri" : "/policy-principals",
        "responseCode" : null
      },
      "input" : {
        "documentation" : "<p>The input for the ListPolicyPrincipals operation.</p>",
        "locationName" : null,
        "shape" : "ListPolicyPrincipalsRequest",
        "xmlNamespace" : null
      },
      "name" : "ListPolicyPrincipals",
      "output" : {
        "documentation" : "<p>The output from the ListPolicyPrincipals operation.</p>",
        "locationName" : null,
        "resultWrapper" : null,
        "shape" : "ListPolicyPrincipalsResponse"
      }
    },
    "ListPolicyVersions" : {
      "authorizer" : null,
      "authtype" : "IAM",
      "deprecated" : false,
      "documentation" : "<p>Lists the versions of the specified policy and identifies the default version.</p>",
      "errors" : [ {
        "documentation" : "<p>The specified resource does not exist.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 404
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ResourceNotFoundException"
      }, {
        "documentation" : "<p>The request is not valid.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 400
        },
        "exception" : true,
        "fault" : false,
        "shape" : "InvalidRequestException"
      }, {
        "documentation" : "<p>The rate exceeds the limit.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 429
        },
        "exception" : true,
        "fault" : false,
        "shape" : "ThrottlingException"
      }, {
        "documentation" : "<p>You are not authorized to perform this operation.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 401
        },
        "exception" : true,
        "fault" : false,
        "shape" : "UnauthorizedException"
      }, {
        "documentation" : "<p>The service is temporarily unavailable.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 503
        },
        "exception" : true,
        "fault" : true,
        "shape" : "ServiceUnavailableException"
      }, {
        "documentation" : "<p>An unexpected error has occurred.</p>",
        "error" : {
          "code" : null,
          "httpStatusCode" : 500
        },
[...]
