{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2018-05-10",
    "asyncClient" : "AWSIoTRoboRunnerAsyncClient",
    "asyncClientBuilderClassName" : "AWSIoTRoboRunnerAsyncClientBuilder",
    "asyncInterface" : "AWSIoTRoboRunnerAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSIoTRoboRunnerModuleInjector",
    "defaultEndpoint" : "iotroborunner.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "iotroborunner.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>An example service, deployed with the Octane Service creator, which will echo the string</p>",
    "endpointPrefix" : "iotroborunner",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.iotroborunner",
    "packagePath" : "com/amazonaws/services/iotroborunner",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS IoT RoboRunner",
    "serviceId" : "IoT RoboRunner",
    "serviceName" : "AWS IoT RoboRunner",
    "signingName" : "iotroborunner",
    "smokeTestsPackageName" : "com.amazonaws.services.iotroborunner.smoketests",
    "syncClient" : "AWSIoTRoboRunnerClient",
    "syncClientBuilderClassName" : "AWSIoTRoboRunnerClientBuilder",
    "syncInterface" : "AWSIoTRoboRunner",
    "uid" : "iot-roborunner-2018-05-10",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDestinationRequest, CreateDestinationResult>",
      "asyncReturnType" : "CreateDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permission to create a destination</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Exception thrown if a resource in a create request already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception thrown if an invalid parameter is provided to an API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception thrown if a resource referenced in the request doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception thrown if the api has been called too quickly be the client.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception thrown if something goes wrong within the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Exception thrown if the user's AWS account has reached a service limit and the operation cannot proceed.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDestinationRequest",
        "variableName" : "createDestinationRequest",
        "variableType" : "CreateDestinationRequest",
        "documentation" : "",
        "simpleType" : "CreateDestinationRequest",
        "variableSetterType" : "CreateDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDestination",
      "operationName" : "CreateDestination",
      "returnType" : {
        "returnType" : "CreateDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDestinationResult"
    },
    "CreateSite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateSiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateSiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateSiteRequest, CreateSiteResult>",
      "asyncReturnType" : "CreateSiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permission to create a site</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Exception thrown if a resource in a create request already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception thrown if an invalid parameter is provided to an API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception thrown if the api has been called too quickly be the client.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception thrown if something goes wrong within the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Exception thrown if the user's AWS account has reached a service limit and the operation cannot proceed.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateSiteRequest",
        "variableName" : "createSiteRequest",
        "variableType" : "CreateSiteRequest",
        "documentation" : "",
        "simpleType" : "CreateSiteRequest",
        "variableSetterType" : "CreateSiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createSite",
      "operationName" : "CreateSite",
      "returnType" : {
        "returnType" : "CreateSiteResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateSiteResult"
    },
    "CreateWorker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkerRequest, CreateWorkerResult>",
      "asyncReturnType" : "CreateWorkerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permission to create a worker</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Exception thrown if a resource in a create request already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception thrown if an invalid parameter is provided to an API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception thrown if a resource referenced in the request doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception thrown if the api has been called too quickly be the client.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception thrown if something goes wrong within the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Exception thrown if the user's AWS account has reached a service limit and the operation cannot proceed.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkerRequest",
        "variableName" : "createWorkerRequest",
        "variableType" : "CreateWorkerRequest",
        "documentation" : "",
        "simpleType" : "CreateWorkerRequest",
        "variableSetterType" : "CreateWorkerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorker",
      "operationName" : "CreateWorker",
      "returnType" : {
        "returnType" : "CreateWorkerResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWorkerResult"
    },
    "CreateWorkerFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkerFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkerFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkerFleetRequest, CreateWorkerFleetResult>",
      "asyncReturnType" : "CreateWorkerFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permission to create a worker fleet</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Exception thrown if a resource in a create request already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception thrown if an invalid parameter is provided to an API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception thrown if a resource referenced in the request doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception thrown if the api has been called too quickly be the client.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception thrown if something goes wrong within the service.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Exception thrown if the user's AWS account has reached a service limit and the operation cannot proceed.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkerFleetRequest",
        "variableName" : "createWorkerFleetRequest",
        "variableType" : "CreateWorkerFleetRequest",
        "documentation" : "",
        "simpleType" : "CreateWorkerFleetRequest",
        "variableSetterType" : "CreateWorkerFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkerFleet",
      "operationName" : "CreateWorkerFleet",
      "returnType" : {
        "returnType" : "CreateWorkerFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateWorkerFleetResult"
    },
    "DeleteDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDestinationRequest, DeleteDestinationResult>",
      "asyncReturnType" : "DeleteDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permission to delete a destination</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Exception thrown if a resource in a create request already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception thrown if an invalid parameter is provided to an API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception thrown if a resource referenced in the request doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception thrown if the api has been called too quickly be the client.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception thrown if something goes wrong within the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDestinationRequest",
        "variableName" : "deleteDestinationRequest",
        "variableType" : "DeleteDestinationRequest",
        "documentation" : "",
        "simpleType" : "DeleteDestinationRequest",
        "variableSetterType" : "DeleteDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDestination",
      "operationName" : "DeleteDestination",
      "returnType" : {
        "returnType" : "DeleteDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDestinationResult"
    },
    "DeleteSite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteSiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteSiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteSiteRequest, DeleteSiteResult>",
      "asyncReturnType" : "DeleteSiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permission to delete a site</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Exception thrown if a resource in a create request already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception thrown if an invalid parameter is provided to an API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception thrown if a resource referenced in the request doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception thrown if the api has been called too quickly be the client.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception thrown if something goes wrong within the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteSiteRequest",
        "variableName" : "deleteSiteRequest",
        "variableType" : "DeleteSiteRequest",
        "documentation" : "",
        "simpleType" : "DeleteSiteRequest",
        "variableSetterType" : "DeleteSiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteSite",
      "operationName" : "DeleteSite",
      "returnType" : {
        "returnType" : "DeleteSiteResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteSiteResult"
    },
    "DeleteWorker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkerRequest, DeleteWorkerResult>",
      "asyncReturnType" : "DeleteWorkerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permission to delete a worker</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Exception thrown if a resource in a create request already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception thrown if an invalid parameter is provided to an API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception thrown if a resource referenced in the request doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception thrown if the api has been called too quickly be the client.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception thrown if something goes wrong within the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkerRequest",
        "variableName" : "deleteWorkerRequest",
        "variableType" : "DeleteWorkerRequest",
        "documentation" : "",
        "simpleType" : "DeleteWorkerRequest",
        "variableSetterType" : "DeleteWorkerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorker",
      "operationName" : "DeleteWorker",
      "returnType" : {
        "returnType" : "DeleteWorkerResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkerResult"
    },
    "DeleteWorkerFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkerFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkerFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkerFleetRequest, DeleteWorkerFleetResult>",
      "asyncReturnType" : "DeleteWorkerFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permission to delete a worker fleet</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Exception thrown if a resource in a create request already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception thrown if an invalid parameter is provided to an API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception thrown if a resource referenced in the request doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception thrown if the api has been called too quickly be the client.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception thrown if something goes wrong within the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkerFleetRequest",
        "variableName" : "deleteWorkerFleetRequest",
        "variableType" : "DeleteWorkerFleetRequest",
        "documentation" : "",
        "simpleType" : "DeleteWorkerFleetRequest",
        "variableSetterType" : "DeleteWorkerFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorkerFleet",
      "operationName" : "DeleteWorkerFleet",
      "returnType" : {
        "returnType" : "DeleteWorkerFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkerFleetResult"
    },
    "GetDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDestinationRequest, GetDestinationResult>",
      "asyncReturnType" : "GetDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permission to get a destination</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception thrown if an invalid parameter is provided to an API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception thrown if a resource referenced in the request doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception thrown if the api has been called too quickly be the client.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception thrown if something goes wrong within the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDestinationRequest",
        "variableName" : "getDestinationRequest",
        "variableType" : "GetDestinationRequest",
        "documentation" : "",
        "simpleType" : "GetDestinationRequest",
        "variableSetterType" : "GetDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDestination",
      "operationName" : "GetDestination",
      "returnType" : {
        "returnType" : "GetDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDestinationResult"
    },
    "GetSite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSiteRequest, GetSiteResult>",
      "asyncReturnType" : "GetSiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permission to get a site</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception thrown if an invalid parameter is provided to an API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception thrown if a resource referenced in the request doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception thrown if the api has been called too quickly be the client.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception thrown if something goes wrong within the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSiteRequest",
        "variableName" : "getSiteRequest",
        "variableType" : "GetSiteRequest",
        "documentation" : "",
        "simpleType" : "GetSiteRequest",
        "variableSetterType" : "GetSiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSite",
      "operationName" : "GetSite",
      "returnType" : {
        "returnType" : "GetSiteResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSiteResult"
    },
    "GetWorker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWorkerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWorkerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWorkerRequest, GetWorkerResult>",
      "asyncReturnType" : "GetWorkerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permission to get a worker</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception thrown if an invalid parameter is provided to an API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception thrown if a resource referenced in the request doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception thrown if the api has been called too quickly be the client.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception thrown if something goes wrong within the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWorkerRequest",
        "variableName" : "getWorkerRequest",
        "variableType" : "GetWorkerRequest",
        "documentation" : "",
        "simpleType" : "GetWorkerRequest",
        "variableSetterType" : "GetWorkerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWorker",
      "operationName" : "GetWorker",
      "returnType" : {
        "returnType" : "GetWorkerResult",
        "documentation" : null
      },
      "syncReturnType" : "GetWorkerResult"
    },
    "GetWorkerFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetWorkerFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetWorkerFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetWorkerFleetRequest, GetWorkerFleetResult>",
      "asyncReturnType" : "GetWorkerFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permission to get a worker fleet</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception thrown if an invalid parameter is provided to an API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception thrown if a resource referenced in the request doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception thrown if the api has been called too quickly be the client.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception thrown if something goes wrong within the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetWorkerFleetRequest",
        "variableName" : "getWorkerFleetRequest",
        "variableType" : "GetWorkerFleetRequest",
        "documentation" : "",
        "simpleType" : "GetWorkerFleetRequest",
        "variableSetterType" : "GetWorkerFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getWorkerFleet",
      "operationName" : "GetWorkerFleet",
      "returnType" : {
        "returnType" : "GetWorkerFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "GetWorkerFleetResult"
    },
    "ListDestinations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDestinationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDestinationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDestinationsRequest, ListDestinationsResult>",
      "asyncReturnType" : "ListDestinationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permission to list destinations</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception thrown if an invalid parameter is provided to an API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception thrown if a resource referenced in the request doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception thrown if the api has been called too quickly be the client.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception thrown if something goes wrong within the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDestinationsRequest",
        "variableName" : "listDestinationsRequest",
        "variableType" : "ListDestinationsRequest",
        "documentation" : "",
        "simpleType" : "ListDestinationsRequest",
        "variableSetterType" : "ListDestinationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDestinations",
      "operationName" : "ListDestinations",
      "returnType" : {
        "returnType" : "ListDestinationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDestinationsResult"
    },
    "ListSites" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSitesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSitesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSitesRequest, ListSitesResult>",
      "asyncReturnType" : "ListSitesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permission to list sites</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception thrown if an invalid parameter is provided to an API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception thrown if the api has been called too quickly be the client.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception thrown if something goes wrong within the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSitesRequest",
        "variableName" : "listSitesRequest",
        "variableType" : "ListSitesRequest",
        "documentation" : "",
        "simpleType" : "ListSitesRequest",
        "variableSetterType" : "ListSitesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSites",
      "operationName" : "ListSites",
      "returnType" : {
        "returnType" : "ListSitesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSitesResult"
    },
    "ListWorkerFleets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWorkerFleetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWorkerFleetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWorkerFleetsRequest, ListWorkerFleetsResult>",
      "asyncReturnType" : "ListWorkerFleetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permission to list worker fleets</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception thrown if an invalid parameter is provided to an API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception thrown if a resource referenced in the request doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception thrown if the api has been called too quickly be the client.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception thrown if something goes wrong within the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWorkerFleetsRequest",
        "variableName" : "listWorkerFleetsRequest",
        "variableType" : "ListWorkerFleetsRequest",
        "documentation" : "",
        "simpleType" : "ListWorkerFleetsRequest",
        "variableSetterType" : "ListWorkerFleetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWorkerFleets",
      "operationName" : "ListWorkerFleets",
      "returnType" : {
        "returnType" : "ListWorkerFleetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListWorkerFleetsResult"
    },
    "ListWorkers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWorkersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWorkersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWorkersRequest, ListWorkersResult>",
      "asyncReturnType" : "ListWorkersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permission to list workers</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception thrown if an invalid parameter is provided to an API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception thrown if a resource referenced in the request doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception thrown if the api has been called too quickly be the client.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception thrown if something goes wrong within the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWorkersRequest",
        "variableName" : "listWorkersRequest",
        "variableType" : "ListWorkersRequest",
        "documentation" : "",
        "simpleType" : "ListWorkersRequest",
        "variableSetterType" : "ListWorkersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWorkers",
      "operationName" : "ListWorkers",
      "returnType" : {
        "returnType" : "ListWorkersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListWorkersResult"
    },
    "UpdateDestination" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateDestinationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateDestinationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateDestinationRequest, UpdateDestinationResult>",
      "asyncReturnType" : "UpdateDestinationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permission to update a destination</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception thrown if an invalid parameter is provided to an API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception thrown if a resource referenced in the request doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception thrown if the api has been called too quickly be the client.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception thrown if something goes wrong within the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateDestinationRequest",
        "variableName" : "updateDestinationRequest",
        "variableType" : "UpdateDestinationRequest",
        "documentation" : "",
        "simpleType" : "UpdateDestinationRequest",
        "variableSetterType" : "UpdateDestinationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateDestination",
      "operationName" : "UpdateDestination",
      "returnType" : {
        "returnType" : "UpdateDestinationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateDestinationResult"
    },
    "UpdateSite" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateSiteResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateSiteResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateSiteRequest, UpdateSiteResult>",
      "asyncReturnType" : "UpdateSiteResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permission to update a site</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception thrown if an invalid parameter is provided to an API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception thrown if a resource referenced in the request doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception thrown if the api has been called too quickly be the client.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception thrown if something goes wrong within the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateSiteRequest",
        "variableName" : "updateSiteRequest",
        "variableType" : "UpdateSiteRequest",
        "documentation" : "",
        "simpleType" : "UpdateSiteRequest",
        "variableSetterType" : "UpdateSiteRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateSite",
      "operationName" : "UpdateSite",
      "returnType" : {
        "returnType" : "UpdateSiteResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateSiteResult"
    },
    "UpdateWorker" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateWorkerResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateWorkerResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateWorkerRequest, UpdateWorkerResult>",
      "asyncReturnType" : "UpdateWorkerResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permission to update a worker</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception thrown if an invalid parameter is provided to an API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception thrown if a resource referenced in the request doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception thrown if the api has been called too quickly be the client.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception thrown if something goes wrong within the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateWorkerRequest",
        "variableName" : "updateWorkerRequest",
        "variableType" : "UpdateWorkerRequest",
        "documentation" : "",
        "simpleType" : "UpdateWorkerRequest",
        "variableSetterType" : "UpdateWorkerRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateWorker",
      "operationName" : "UpdateWorker",
      "returnType" : {
        "returnType" : "UpdateWorkerResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateWorkerResult"
    },
    "UpdateWorkerFleet" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateWorkerFleetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateWorkerFleetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateWorkerFleetRequest, UpdateWorkerFleetResult>",
      "asyncReturnType" : "UpdateWorkerFleetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Grants permission to update a worker fleet</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Exception thrown if an invalid parameter is provided to an API.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Exception thrown if a resource referenced in the request doesn't exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Exception thrown if the api has been called too quickly be the client.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Exception thrown if something goes wrong within the service.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateWorkerFleetRequest",
        "variableName" : "updateWorkerFleetRequest",
        "variableType" : "UpdateWorkerFleetRequest",
        "documentation" : "",
        "simpleType" : "UpdateWorkerFleetRequest",
        "variableSetterType" : "UpdateWorkerFleetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateWorkerFleet",
      "operationName" : "UpdateWorkerFleet",
      "returnType" : {
        "returnType" : "UpdateWorkerFleetResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateWorkerFleetResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.iotroborunner.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.iotroborunner.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "CartesianCoordinates" : {
      "c2jName" : "CartesianCoordinates",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Cartesian coordinates in 3D space relative to the RoboRunner origin.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.iotroborunner.model.CartesianCoordinates",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "x",
        "c2jShape" : "Double",
        "deprecated" : false,
        "documentation" : "<p>X coordinate.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>X coordinate.</p>\n@param x X coordinate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withX",
        "getterDocumentation" : "/**<p>X coordinate.</p>\n@return X coordinate.*/",
        "getterMethodName" : "getX",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "x",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "x",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Double",
        "marshallingType" : "DOUBLE",
        "name" : "X",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>X coordinate.</p>\n@param x X coordinate.*/",
        "setterMethodName" : "setX",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "x",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>X coordinate.</p>\n@param x X coordinate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "x",
          "variableType" : "Double",
          "documentation" : "<p>X coordinate.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "y",
        "c2jShape" : "Double",
        "deprecated" : false,
        "documentation" : "<p>Y coordinate.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Y coordinate.</p>\n@param y Y coordinate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withY",
        "getterDocumentation" : "/**<p>Y coordinate.</p>\n@return Y coordinate.*/",
        "getterMethodName" : "getY",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "y",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "y",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Double",
        "marshallingType" : "DOUBLE",
        "name" : "Y",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Y coordinate.</p>\n@param y Y coordinate.*/",
        "setterMethodName" : "setY",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "y",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Y coordinate.</p>\n@param y Y coordinate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "y",
          "variableType" : "Double",
          "documentation" : "<p>Y coordinate.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "z",
        "c2jShape" : "Double",
        "deprecated" : false,
        "documentation" : "<p>Z coordinate.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Z coordinate.</p>\n@param z Z coordinate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withZ",
        "getterDocumentation" : "/**<p>Z coordinate.</p>\n@return Z coordinate.*/",
        "getterMethodName" : "getZ",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "z",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "z",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Double",
        "marshallingType" : "DOUBLE",
        "name" : "Z",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Z coordinate.</p>\n@param z Z coordinate.*/",
        "setterMethodName" : "setZ",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "z",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Z coordinate.</p>\n@param z Z coordinate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "z",
          "variableType" : "Double",
          "documentation" : "<p>Z coordinate.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "X" : {
          "c2jName" : "x",
          "c2jShape" : "Double",
          "deprecated" : false,
          "documentation" : "<p>X coordinate.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>X coordinate.</p>\n@param x X coordinate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withX",
          "getterDocumentation" : "/**<p>X coordinate.</p>\n@return X coordinate.*/",
          "getterMethodName" : "getX",
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "x",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "x",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Double",
          "marshallingType" : "DOUBLE",
          "name" : "X",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>X coordinate.</p>\n@param x X coordinate.*/",
          "setterMethodName" : "setX",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "x",
            "variableType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>X coordinate.</p>\n@param x X coordinate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "x",
            "variableType" : "Double",
            "documentation" : "<p>X coordinate.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "xmlNameSpaceUri" : null
        },
        "Y" : {
          "c2jName" : "y",
          "c2jShape" : "Double",
          "deprecated" : false,
          "documentation" : "<p>Y coordinate.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Y coordinate.</p>\n@param y Y coordinate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withY",
          "getterDocumentation" : "/**<p>Y coordinate.</p>\n@return Y coordinate.*/",
          "getterMethodName" : "getY",
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "y",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "y",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Double",
          "marshallingType" : "DOUBLE",
          "name" : "Y",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Y coordinate.</p>\n@param y Y coordinate.*/",
          "setterMethodName" : "setY",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "y",
            "variableType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Y coordinate.</p>\n@param y Y coordinate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "y",
            "variableType" : "Double",
            "documentation" : "<p>Y coordinate.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "xmlNameSpaceUri" : null
        },
        "Z" : {
          "c2jName" : "z",
          "c2jShape" : "Double",
          "deprecated" : false,
          "documentation" : "<p>Z coordinate.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Z coordinate.</p>\n@param z Z coordinate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withZ",
          "getterDocumentation" : "/**<p>Z coordinate.</p>\n@return Z coordinate.*/",
          "getterMethodName" : "getZ",
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "z",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "z",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Double",
          "marshallingType" : "DOUBLE",
          "name" : "Z",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Z coordinate.</p>\n@param z Z coordinate.*/",
          "setterMethodName" : "setZ",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "z",
            "variableType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Z coordinate.</p>\n@param z Z coordinate.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "z",
            "variableType" : "Double",
            "documentation" : "<p>Z coordinate.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.iotroborunner.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "x", "y" ],
      "shapeName" : "CartesianCoordinates",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CartesianCoordinates",
        "variableName" : "cartesianCoordinates",
        "variableType" : "CartesianCoordinates",
        "documentation" : null,
        "simpleType" : "CartesianCoordinates",
        "variableSetterType" : "CartesianCoordinates"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Exception thrown if a resource in a create request already exists.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.iotroborunner.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.iotroborunner.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "CreateDestinationRequest" : {
      "c2jName" : "CreateDestinationRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.iotroborunner.request.CreateDestinationRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateDestination",
        "locationName" : null,
        "requestUri" : "/createDestination",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "clientToken",
        "c2jShape" : "IdempotencyToken",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param clientToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientToken",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getClientToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientToken",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param clientToken */",
        "setterMethodName" : "setClientToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param clientToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "name",
        "c2jShape" : "Name",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param name \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withName",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "name",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "name",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Name",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param name */",
        "setterMethodName" : "setName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param name \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "name",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "site",
        "c2jShape" : "SiteGenericIdentifier",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param site \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSite",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getSite",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "site",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "site",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Site",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param site */",
        "setterMethodName" : "setSite",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "site",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param site \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "site",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "state",
        "c2jShape" : "DestinationState",
        "deprecated" : false,
        "documentation" : "<p>The state of the destination. Default used if not specified.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "DestinationState",
        "fluentSetterDocumentation" : "/**<p>The state of the destination. Default used if not specified.</p>\n@param state The state of the destination. Default used if not specified.\n@return Returns a reference to this object so that method calls can be chained together.\n@see DestinationState*/",
        "fluentSetterMethodName" : "withState",
        "getterDocumentation" : "/**<p>The state of the destination. Default used if not specified.</p>\n@return The state of the destination. Default used if not specified.\n@see DestinationState*/",
        "getterMethodName" : "getState",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "state",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "state",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "State",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The state of the destination. Default used if not specified.</p>\n@param state The state of the destination. Default used if not specified.\n@see DestinationState*/",
        "setterMethodName" : "setState",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "state",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The state of the destination. Default used if not specified.</p>\n@param state The state of the destination. Default used if not specified.\n@return Returns a reference to this object so that method calls can be chained together.\n@see DestinationState*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "state",
          "variableType" : "String",
          "documentation" : "<p>The state of the destination. Default used if not specified.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "additionalFixedProperties",
        "c2jShape" : "DestinationAdditionalFixedProperties",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param additionalFixedProperties \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAdditionalFixedProperties",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getAdditionalFixedProperties",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "additionalFixedProperties",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "additionalFixedProperties",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AdditionalFixedProperties",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param additionalFixedProperties */",
        "setterMethodName" : "setAdditionalFixedProperties",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "additionalFixedProperties",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param additionalFixedProperties \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "additionalFixedProperties",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AdditionalFixedProperties" : {
          "c2jName" : "additionalFixedProperties",
          "c2jShape" : "DestinationAdditionalFixedProperties",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param additionalFixedProperties \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAdditionalFixedProperties",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getAdditionalFixedProperties",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "additionalFixedProperties",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "additionalFixedProperties",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AdditionalFixedProperties",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param additionalFixedProperties */",
          "setterMethodName" : "setAdditionalFixedProperties",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "additionalFixedProperties",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param additionalFixedProperties \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "additionalFixedProperties",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ClientToken" : {
          "c2jName" : "clientToken",
          "c2jShape" : "IdempotencyToken",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param clientToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withClientToken",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getClientToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "clientToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "clientToken",
            "uri" : false
          },
          "idempotencyToken" : true,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ClientToken",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param clientToken */",
          "setterMethodName" : "setClientToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param clientToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "clientToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Name" : {
          "c2jName" : "name",
          "c2jShape" : "Name",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param name \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withName",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "name",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "name",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Name",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param name */",
          "setterMethodName" : "setName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param name \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "name",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Site" : {
          "c2jName" : "site",
          "c2jShape" : "SiteGenericIdentifier",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param site \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSite",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getSite",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "site",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "site",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Site",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param site */",
          "setterMethodName" : "setSite",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "site",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param site \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "site",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "State" : {
          "c2jName" : "state",
          "c2jShape" : "DestinationState",
          "deprecated" : false,
          "documentation" : "<p>The state of the destination. Default used if not specified.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "DestinationState",
          "fluentSetterDocumentation" : "/**<p>The state of the destination. Default used if not specified.</p>\n@param state The state of the destination. Default used if not specified.\n@return Returns a reference to this object so that method calls can be chained together.\n@see DestinationState*/",
          "fluentSetterMethodName" : "withState",
          "getterDocumentation" : "/**<p>The state of the destination. Default used if not specified.</p>\n@return The state of the destination. Default used if not specified.\n@see DestinationState*/",
          "getterMethodName" : "getState",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
[...]
